{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version_module": true,
  "canonicalName": "Firebase ML",
  "schemas": {
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig": {
      "properties": {
        "autoMode": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode",
          "description": "In this mode, the model is selected automatically based on the content of the request."
        },
        "manualMode": {
          "description": "In this mode, the model is specified manually.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigManualRoutingMode"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig",
      "type": "object",
      "description": "The configuration for routing the request to a specific model. This can be used to control which model is used for the generation, either automatically or by specifying a model name."
    },
    "GoogleCloudAiplatformV1beta1GenerationConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerationConfig",
      "description": "Configuration for content generation. This message contains all the parameters that control how the model generates content. It allows you to influence the randomness, length, and structure of the output.",
      "properties": {
        "thinkingConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig",
          "description": "Optional. Configuration for thinking features. An error will be returned if this field is set for models that don't support thinking."
        },
        "maxOutputTokens": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to generate in the response. A token is approximately four characters. The default value varies by model. This parameter can be used to control the length of the generated text and prevent overly long responses.",
          "format": "int32"
        },
        "seed": {
          "type": "integer",
          "description": "Optional. A seed for the random number generator. By setting a seed, you can make the model's output mostly deterministic. For a given prompt and parameters (like temperature, top_p, etc.), the model will produce the same response every time. However, it's not a guaranteed absolute deterministic behavior. This is different from parameters like `temperature`, which control the *level* of randomness. `seed` ensures that the \"random\" choices the model makes are the same on every run, making it essential for testing and ensuring reproducible results.",
          "format": "int32"
        },
        "responseJsonSchema": {
          "type": "any",
          "description": "Optional. When this field is set, response_schema must be omitted and response_mime_type must be set to `application/json`. Deprecated: Use `response_format` instead.",
          "deprecated": true
        },
        "imageConfig": {
          "description": "Optional. Config for image generation features. Deprecated: Use `response_format.image` instead.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1beta1ImageConfig"
        },
        "translationConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1TranslationConfig",
          "description": "Optional. Config for translation."
        },
        "modelConfig": {
          "description": "Optional. Config for model selection.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigModelConfig",
          "deprecated": true
        },
        "speechConfig": {
          "description": "Optional. The speech generation config.",
          "$ref": "GoogleCloudAiplatformV1beta1SpeechConfig"
        },
        "routingConfig": {
          "description": "Optional. Routing configuration.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig"
        },
        "audioTranscriptionConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig",
          "description": "Optional. Configuration for audio transcription (speech recognition)."
        },
        "responseFormat": {
          "description": "Optional. New response format field for the model to configure output formatting and delivery.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ResponseFormat"
          },
          "type": "array"
        },
        "audioTimestamp": {
          "description": "Optional. If enabled, audio timestamps will be included in the request to the model. This can be useful for synchronizing audio with other modalities in the response.",
          "type": "boolean"
        },
        "stopSequences": {
          "description": "Optional. A list of character sequences that will stop the model from generating further tokens. If a stop sequence is generated, the output will end at that point. This is useful for controlling the length and structure of the output. For example, you can use [\"\\n\", \"###\"] to stop generation at a new line or a specific marker.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableAffectiveDialog": {
          "description": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly. For example, if the model detects that the user is frustrated, it may provide a more empathetic response.",
          "type": "boolean"
        },
        "responseMimeType": {
          "deprecated": true,
          "description": "Optional. The IANA standard MIME type of the response. The model will generate output that conforms to this MIME type. Supported values include 'text/plain' (default) and 'application/json'. The model needs to be prompted to output the appropriate response type, otherwise the behavior is undefined. Deprecated: Use `response_format` instead.",
          "type": "string"
        },
        "logprobs": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of top log probabilities to return for each token. This can be used to see which other tokens were considered likely candidates for a given position. A higher value will return more options, but it will also increase the size of the response."
        },
        "responseSchema": {
          "$ref": "GoogleCloudAiplatformV1beta1Schema",
          "deprecated": true,
          "description": "Optional. Lets you to specify a schema for the model's response, ensuring that the output conforms to a particular structure. This is useful for generating structured data such as JSON. The schema is a subset of the [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema) object. When this field is set, you must also set the `response_mime_type` to `application/json`. Deprecated: Use `response_format` instead."
        },
        "responseLogprobs": {
          "type": "boolean",
          "description": "Optional. If set to true, the log probabilities of the output tokens are returned. Log probabilities are the logarithm of the probability of a token appearing in the output. A higher log probability means the token is more likely to be generated. This can be useful for analyzing the model's confidence in its own output and for debugging."
        },
        "presencePenalty": {
          "description": "Optional. Penalizes tokens that have already appeared in the generated text. A positive value encourages the model to generate more diverse and less repetitive text. Valid values can range from [-2.0, 2.0].",
          "type": "number",
          "format": "float"
        },
        "temperature": {
          "type": "number",
          "description": "Optional. Controls the randomness of the output. A higher temperature results in more creative and diverse responses, while a lower temperature makes the output more predictable and focused. The valid range is (0.0, 2.0].",
          "format": "float"
        },
        "responseModalities": {
          "description": "Optional. The modalities of the response. The model will generate a response that includes all the specified modalities. For example, if this is set to `[TEXT, IMAGE]`, the response will include both text and an image.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "enumDescriptions": [
              "Unspecified modality. Will be processed as text.",
              "Text modality.",
              "Image modality.",
              "Audio modality.",
              "Video modality."
            ]
          }
        },
        "topP": {
          "type": "number",
          "description": "Optional. Specifies the nucleus sampling threshold. The model considers only the smallest set of tokens whose cumulative probability is at least `top_p`. This helps generate more diverse and less repetitive responses. For example, a `top_p` of 0.9 means the model considers tokens until the cumulative probability of the tokens to select from reaches 0.9. It's recommended to adjust either temperature or `top_p`, but not both.",
          "format": "float"
        },
        "candidateCount": {
          "description": "Optional. The number of candidate responses to generate. A higher `candidate_count` can provide more options to choose from, but it also consumes more resources. This can be useful for generating a variety of responses and selecting the best one.",
          "format": "int32",
          "type": "integer"
        },
        "topK": {
          "format": "float",
          "description": "Optional. Specifies the top-k sampling threshold. The model considers only the top k most probable tokens for the next token. This can be useful for generating more coherent and less random text. For example, a `top_k` of 40 means the model will choose the next word from the 40 most likely words.",
          "type": "number"
        },
        "mediaResolution": {
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "description": "Optional. The token resolution at which input media content is sampled. This is used to control the trade-off between the quality of the response and the number of tokens used to represent the media. A higher resolution allows the model to perceive more detail, which can lead to a more nuanced response, but it will also use more tokens. This does not affect the image dimensions sent to the model.",
          "type": "string",
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ]
        },
        "frequencyPenalty": {
          "format": "float",
          "type": "number",
          "description": "Optional. Penalizes tokens based on their frequency in the generated text. A positive value helps to reduce the repetition of words and phrases. Valid values can range from [-2.0, 2.0]."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMaps": {
      "description": "A `Maps` chunk is a piece of evidence that comes from Google Maps, containing information about places or routes. This is used to provide the user with rich, location-based information.",
      "properties": {
        "placeAnswerSources": {
          "description": "The sources that were used to generate the place answer. This includes review snippets and photos that were used to generate the answer, as well as URIs to flag content.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSources"
        },
        "placeId": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. This can be used to look up the place in the Google Maps API."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the place."
        },
        "text": {
          "description": "The text of the place answer.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the place."
        },
        "route": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsRoute",
          "description": "Output only. Route information."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMaps"
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigModelConfig": {
      "description": "Config for model selection.",
      "properties": {
        "featureSelectionPreference": {
          "enumDescriptions": [
            "Unspecified feature selection preference.",
            "Prefer higher quality over lower cost.",
            "Balanced feature selection preference.",
            "Prefer lower cost over higher quality."
          ],
          "type": "string",
          "description": "Required. Feature selection preference.",
          "enum": [
            "FEATURE_SELECTION_PREFERENCE_UNSPECIFIED",
            "PRIORITIZE_QUALITY",
            "BALANCED",
            "PRIORITIZE_COST"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigModelConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1FunctionResponse": {
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The function response in JSON object format. Use \"output\" key to specify function output and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as function output."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Matches FunctionDeclaration.name and FunctionCall.name."
        },
        "parts": {
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FunctionResponsePart"
          }
        },
        "scheduling": {
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ],
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "type": "string",
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ]
        },
        "id": {
          "description": "Optional. The id of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result output from a FunctionCall that contains a string representing the FunctionDeclaration.name and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a `FunctionCall` made based on model prediction.",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponse"
    },
    "GoogleCloudAiplatformV1beta1ToolGoogleSearchSearchTypes": {
      "properties": {
        "webSearch": {
          "description": "Optional. Setting this field enables web search. Only text results are returned.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearchWebSearch"
        },
        "imageSearch": {
          "description": "Optional. Setting this field enables image search. Image bytes are returned.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ToolGoogleSearchSearchTypes",
      "description": "Different types of search that can be enabled on the GoogleSearch tool.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1TextResponseFormat": {
      "description": "Configuration for text-specific output formatting.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1TextResponseFormat",
      "properties": {
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the response.",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ]
        },
        "schema": {
          "type": "any",
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SafetySetting": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SafetySetting",
      "description": "A safety setting that affects the safety-blocking behavior. A SafetySetting consists of a harm category and a threshold for that category.",
      "properties": {
        "method": {
          "description": "Optional. The method for blocking content. If not specified, the default behavior is to use the probability score.",
          "enumDescriptions": [
            "The harm block method is unspecified.",
            "The harm block method uses both probability and severity scores.",
            "The harm block method uses the probability score."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_METHOD_UNSPECIFIED",
            "SEVERITY",
            "PROBABILITY"
          ]
        },
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "description": "Required. The harm category to be blocked."
        },
        "threshold": {
          "description": "Required. The threshold for blocking content. If the harm probability exceeds this threshold, the content will be blocked.",
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ApiAuth": {
      "id": "GoogleCloudAiplatformV1beta1ApiAuth",
      "description": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead.",
      "properties": {
        "apiKeyConfig": {
          "description": "The API secret.",
          "$ref": "GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CodeExecutionResult": {
      "type": "object",
      "properties": {
        "outcome": {
          "type": "string",
          "description": "Required. Outcome of the code execution.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ]
        },
        "id": {
          "type": "string",
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id."
        },
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        }
      },
      "description": "Result of executing the ExecutableCode. Generated only when the `CodeExecution` tool is used.",
      "id": "GoogleCloudAiplatformV1beta1CodeExecutionResult"
    },
    "GoogleCloudAiplatformV1beta1ToolParallelAiSearch": {
      "type": "object",
      "properties": {
        "enableZeroDataRetention": {
          "description": "Optional. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "type": "boolean"
        },
        "enableDataRetention": {
          "type": "boolean",
          "description": "Optional. Deprecated: Use `enable_zero_data_retention` instead. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "deprecated": true
        },
        "customConfigs": {
          "type": "object",
          "description": "Optional. Custom configs for ParallelAiSearch. This field can be used to pass any parameter from the Parallel.ai Search API. See the Parallel.ai documentation for the full list of available parameters and their usage: https://docs.parallel.ai/api-reference/search-beta/search Currently only `source_policy`, `excerpts`, `max_results`, `mode`, `fetch_policy` can be set via this field. For example: { \"source_policy\": { \"include_domains\": [\"google.com\", \"wikipedia.org\"], \"exclude_domains\": [\"example.com\"] }, \"fetch_policy\": { \"max_age_seconds\": 3600 } }",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "apiKey": {
          "type": "string",
          "description": "Optional. The API key for ParallelAiSearch. If an API key is not provided, the system will attempt to verify access by checking for an active Parallel.ai subscription through the Google Cloud Marketplace. See https://docs.parallel.ai/search/search-quickstart for more details."
        }
      },
      "description": "ParallelAiSearch tool type. A tool that uses the Parallel.ai search engine for grounding.",
      "id": "GoogleCloudAiplatformV1beta1ToolParallelAiSearch"
    },
    "GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch": {
      "description": "Image search for grounding and related configurations.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch"
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsRouting": {
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsRouting",
      "type": "object",
      "properties": {},
      "description": "Grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute)."
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkWeb": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "The domain of the web page that contains the evidence. This can be used to filter out low-quality sources."
        },
        "uri": {
          "description": "The URI of the web page that contains the evidence.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the web page that contains the evidence."
        }
      },
      "description": "A `Web` chunk is a piece of evidence that comes from a web page. It contains the URI of the web page, the title of the page, and the domain of the page. This is used to provide the user with a link to the source of the information.",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkWeb"
    },
    "GoogleCloudAiplatformV1beta1CountTokensRequest": {
      "properties": {
        "systemInstruction": {
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph.",
          "$ref": "GoogleCloudAiplatformV1beta1Content"
        },
        "model": {
          "description": "Optional. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Tool"
          }
        },
        "generationConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfig",
          "description": "Optional. Generation config that the model will use to generate the response."
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Content"
          },
          "description": "Optional. Input content."
        },
        "instances": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Optional. The instances that are the input to token counting call. Schema is identical to the prediction schema of the underlying model."
        }
      },
      "type": "object",
      "description": "Request message for PredictionService.CountTokens.",
      "id": "GoogleCloudAiplatformV1beta1CountTokensRequest"
    },
    "GoogleCloudAiplatformV1beta1TranslationConfig": {
      "type": "object",
      "description": "Config for translation features.",
      "id": "GoogleCloudAiplatformV1beta1TranslationConfig",
      "properties": {
        "echoTargetLanguage": {
          "description": "Optional. If `true`, the model will generate audio when the target language is spoken, essentially it will parrot the input. If `false`, we will not produce audio for the target language.",
          "type": "boolean"
        },
        "targetLanguageCode": {
          "description": "Required. The target language for translation. Supported values are BCP-47 language codes (e.g. \"en\", \"es\", \"fr\").",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GroundingMetadata": {
      "type": "object",
      "properties": {
        "sourceFlaggingUris": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. A list of URIs that can be used to flag a place or review for inappropriate content. This field is populated only when the grounding source is Google Maps.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri"
          }
        },
        "groundingSupports": {
          "type": "array",
          "description": "Optional. A list of grounding supports that connect the generated content to the grounding chunks. This field is populated when the grounding source is Google Search or Vertex AI Search.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingSupport"
          }
        },
        "imageSearchQueries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The image search queries that were used to generate the content. This field is populated only when the grounding source is Google Search with the Image Search search_type enabled."
        },
        "retrievalQueries": {
          "description": "Optional. The queries that were executed by the retrieval tools. This field is populated only when the grounding source is a retrieval tool, such as Vertex AI Search.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "retrievalMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1RetrievalMetadata",
          "readOnly": true,
          "description": "Optional. Output only. Metadata related to the retrieval grounding source."
        },
        "googleMapsWidgetContextToken": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and will no longer be populated once removed. A token that can be used to render a Google Maps widget with the contextual data. This field is populated only when the grounding source is Google Maps.",
          "deprecated": true
        },
        "webSearchQueries": {
          "description": "Optional. The web search queries that were used to generate the content. This field is populated only when the grounding source is Google Search.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groundingChunks": {
          "description": "A list of supporting references retrieved from the grounding source. This field is populated when the grounding source is Google Search, Vertex AI Search, or Google Maps.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingChunk"
          }
        },
        "searchEntryPoint": {
          "description": "Optional. A web search entry point that can be used to display search results. This field is populated only when the grounding source is Google Search.",
          "$ref": "GoogleCloudAiplatformV1beta1SearchEntryPoint"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1GroundingMetadata",
      "description": "Information about the sources that support the content of a response. When grounding is enabled, the model returns citations for claims in the response. This object contains the retrieved sources."
    },
    "GoogleCloudAiplatformV1beta1FunctionResponseFileData": {
      "description": "URI based data for function response.",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponseFileData",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the file data. Used to provide a label or filename to distinguish file datas. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled."
        },
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking": {
      "description": "Config for ranking and reranking.",
      "type": "object",
      "properties": {
        "rankService": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService",
          "description": "Optional. Config for Rank Service."
        },
        "llmRanker": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker",
          "description": "Optional. Config for LlmRanker."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking"
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponse": {
      "properties": {
        "responseId": {
          "description": "Output only. response_id is used to identify each response. It is the encoding of the event_id.",
          "readOnly": true,
          "type": "string"
        },
        "modelVersion": {
          "type": "string",
          "description": "Output only. The model version used to generate the response.",
          "readOnly": true
        },
        "usageMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata",
          "description": "Usage metadata about the response(s)."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the request is made to the server.",
          "type": "string",
          "readOnly": true
        },
        "candidates": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Generated candidates.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Candidate"
          }
        },
        "promptFeedback": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponsePromptFeedback",
          "description": "Output only. Content filter results for a prompt sent in the request. Note: Sent only in the first stream chunk. Only happens when no candidates were generated due to content violations.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponse",
      "description": "Response message for [PredictionService.GenerateContent]."
    },
    "GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig": {
      "type": "object",
      "properties": {
        "apiKeySecretVersion": {
          "type": "string",
          "description": "Required. The SecretManager secret version resource name storing API key. e.g. projects/{project}/secrets/{secret}/versions/{version}"
        },
        "apiKeyString": {
          "description": "The API key string. Either this or `api_key_secret_version` must be set.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig",
      "description": "The API secret."
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata": {
      "properties": {
        "promptTokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of tokens in the prompt. This includes any text, images, or other media provided in the request. When `cached_content` is set, this also includes the number of tokens in the cached content."
        },
        "thoughtsTokenCount": {
          "description": "Output only. The number of tokens that were part of the model's generated \"thoughts\" output, if applicable.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "cachedContentTokenCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of tokens in the cached content that was used for this request."
        },
        "candidatesTokensDetails": {
          "description": "Output only. A detailed breakdown of the token count for each modality in the generated candidates.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "readOnly": true
        },
        "toolUsePromptTokensDetails": {
          "description": "Output only. A detailed breakdown by modality of the token counts from the results of tool executions, which are provided back to the model as input.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array"
        },
        "toolUsePromptTokenCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of tokens in the results from tool executions, which are provided back to the model as input, if applicable."
        },
        "candidatesTokenCount": {
          "format": "int32",
          "description": "The total number of tokens in the generated candidates.",
          "type": "integer"
        },
        "totalTokenCount": {
          "type": "integer",
          "description": "The total number of tokens for the entire request. This is the sum of `prompt_token_count`, `candidates_token_count`, `tool_use_prompt_token_count`, and `thoughts_token_count`.",
          "format": "int32"
        },
        "promptTokensDetails": {
          "readOnly": true,
          "description": "Output only. A detailed breakdown of the token count for each modality in the prompt.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          }
        },
        "trafficType": {
          "type": "string",
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "ON_DEMAND_PRIORITY",
            "ON_DEMAND_FLEX",
            "ON_DEMAND_OFFPEAK",
            "PROVISIONED_THROUGHPUT"
          ],
          "description": "Output only. The traffic type for this request.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified request traffic type.",
            "The request was processed using Pay-As-You-Go quota.",
            "Type for Priority Pay-As-You-Go traffic.",
            "Type for Flex traffic.",
            "Type for Off-Peak Pay-As-You-Go traffic.",
            "Type for Provisioned Throughput traffic."
          ]
        },
        "cacheTokensDetails": {
          "type": "array",
          "description": "Output only. A detailed breakdown of the token count for each modality in the cached content.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "readOnly": true
        }
      },
      "description": "Usage metadata about the content generation request and response. This message provides a detailed breakdown of token usage and other relevant metrics.",
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsPlaces": {
      "properties": {},
      "description": "Grounding with Google Maps Places data (e.g. QueryPlaces). This is the default Google Maps grounding type when no other type is specified.",
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsPlaces",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UrlContext": {
      "description": "Tool to support URL context.",
      "id": "GoogleCloudAiplatformV1beta1UrlContext",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1ModalityTokenCount": {
      "type": "object",
      "properties": {
        "modality": {
          "enumDescriptions": [
            "When a modality is not specified, it is treated as `TEXT`.",
            "The `Part` contains plain text.",
            "The `Part` contains an image.",
            "The `Part` contains a video.",
            "The `Part` contains audio.",
            "The `Part` contains a document, such as a PDF."
          ],
          "type": "string",
          "description": "The modality that this token count applies to.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ]
        },
        "tokenCount": {
          "description": "The number of tokens counted for this modality.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ModalityTokenCount",
      "description": "Represents a breakdown of token usage by modality. This message is used in CountTokensResponse and GenerateContentResponse.UsageMetadata to provide a detailed view of how many tokens are used by each modality (e.g., text, image, video) in a request. This is particularly useful for multimodal models, allowing you to track and manage token consumption for billing and quota purposes."
    },
    "GoogleCloudAiplatformV1beta1AudioResponseFormat": {
      "properties": {
        "mimeType": {
          "description": "Optional. The MIME type of the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        },
        "sampleRate": {
          "format": "int32",
          "description": "Optional. Sample rate for the generated audio in Hertz.",
          "type": "integer"
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32",
          "type": "integer"
        },
        "delivery": {
          "description": "Optional. Delivery mode for the generated content.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        }
      },
      "description": "Configuration for audio-specific output formatting.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AudioResponseFormat"
    },
    "GoogleCloudAiplatformV1beta1Content": {
      "description": "The structured data content of a message. A Content message contains a `role` field, which indicates the producer of the content, and a `parts` field, which contains the multi-part data of the message.",
      "id": "GoogleCloudAiplatformV1beta1Content",
      "type": "object",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Part"
          },
          "type": "array",
          "description": "Required. A list of Part objects that make up a single message. Parts of a message can have different MIME types. A Content message must have at least one Part."
        },
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. If not set, the service will default to 'user'."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GoogleMaps": {
      "type": "object",
      "properties": {
        "groundingTypes": {
          "description": "Optional. Specifies the types of Google Maps grounding to enable. Defaults to `places` when unset.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMapsGroundingTypes"
        },
        "enableWidget": {
          "deprecated": true,
          "description": "Optional. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and no longer has any effect once removed. If true, include the widget context token in the response.",
          "type": "boolean"
        }
      },
      "description": "Tool to retrieve public maps data for grounding, powered by Google.",
      "id": "GoogleCloudAiplatformV1beta1GoogleMaps"
    },
    "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams": {
      "id": "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams",
      "type": "object",
      "description": "The search parameters to use for SIMPLE_SEARCH spec.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1VideoMetadata": {
      "id": "GoogleCloudAiplatformV1beta1VideoMetadata",
      "type": "object",
      "description": "Provides metadata for a video, including the start and end offsets for clipping and the frame rate.",
      "properties": {
        "startOffset": {
          "format": "google-duration",
          "description": "Optional. The start offset of the video.",
          "type": "string"
        },
        "fps": {
          "type": "number",
          "format": "double",
          "description": "Optional. The frame rate of the video sent to the model. If not specified, the default value is 1.0. The valid range is (0.0, 24.0]."
        },
        "endOffset": {
          "description": "Optional. The end offset of the video.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Tool": {
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. A Tool object should contain exactly one type of Tool (e.g FunctionDeclaration, Retrieval or GoogleSearchRetrieval).",
      "type": "object",
      "properties": {
        "googleMaps": {
          "description": "Optional. GoogleMaps tool type. Tool to support Google Maps in Model.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMaps"
        },
        "googleSearchRetrieval": {
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1beta1GoogleSearchRetrieval",
          "description": "Optional. Specialized retrieval tool that is powered by Google Search."
        },
        "retrieval": {
          "$ref": "GoogleCloudAiplatformV1beta1Retrieval",
          "description": "Optional. Retrieval tool type. System will always execute the provided retrieval tool(s) to get external knowledge to answer the prompt. Retrieval results are presented to the model for generation."
        },
        "computerUse": {
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolComputerUse"
        },
        "exaAiSearch": {
          "description": "Optional. Uses Exa.ai to search for information to answer user queries. The search results will be grounded on Exa.ai and presented to the model for response generation",
          "$ref": "GoogleCloudAiplatformV1beta1ToolExaAiSearch"
        },
        "functionDeclarations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FunctionDeclaration"
          },
          "description": "Optional. Function tool type. One or more function declarations to be passed to the model along with the current user query. Model may decide to call a subset of these functions by populating FunctionCall in the response. User should provide a FunctionResponse for each function call in the next turn. Based on the function responses, Model will generate the final response back to the user. Maximum 512 function declarations can be provided.",
          "type": "array"
        },
        "codeExecution": {
          "description": "Optional. CodeExecution tool type. Enables the model to execute code as part of generation.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolCodeExecution"
        },
        "enterpriseWebSearch": {
          "description": "Optional. Tool to support searching public web data, powered by Vertex AI Search and Sec4 compliance.",
          "$ref": "GoogleCloudAiplatformV1beta1EnterpriseWebSearch"
        },
        "parallelAiSearch": {
          "description": "Optional. If specified, Vertex AI will use Parallel.ai to search for information to answer user queries. The search results will be grounded on Parallel.ai and presented to the model for response generation",
          "$ref": "GoogleCloudAiplatformV1beta1ToolParallelAiSearch"
        },
        "urlContext": {
          "description": "Optional. Tool to support URL context retrieval.",
          "$ref": "GoogleCloudAiplatformV1beta1UrlContext"
        },
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearch"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Tool"
    },
    "GoogleCloudAiplatformV1beta1RagChunkPageSpan": {
      "properties": {
        "firstPage": {
          "description": "Page where chunk starts in the document. Inclusive. 1-indexed.",
          "type": "integer",
          "format": "int32"
        },
        "lastPage": {
          "type": "integer",
          "description": "Page where chunk ends in the document. Inclusive. 1-indexed.",
          "format": "int32"
        }
      },
      "description": "Represents where the chunk starts and ends in the document.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RagChunkPageSpan"
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo": {
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo",
      "type": "object",
      "description": "Information about a single recognized word.",
      "properties": {
        "startOffset": {
          "format": "google-duration",
          "description": "Optional. Start offset in time of the word relative to the start of the audio.",
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. End offset in time of the word relative to the start of the audio."
        },
        "word": {
          "type": "string",
          "description": "Required. Transcript of the word."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig": {
      "description": "Configuration for a single speaker in a multi-speaker setup.",
      "id": "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig",
      "type": "object",
      "properties": {
        "speaker": {
          "description": "Required. The name of the speaker. This should be the same as the speaker name used in the prompt.",
          "type": "string"
        },
        "voiceConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1VoiceConfig",
          "description": "Required. The configuration for the voice of this speaker."
        }
      }
    },
    "ModelOperationMetadata": {
      "properties": {
        "name": {
          "description": "The name of the model we are creating/updating The name must have the form `projects/{project_id}/models/{model_id}`",
          "type": "string"
        },
        "basicOperationStatus": {
          "enum": [
            "BASIC_OPERATION_STATUS_UNSPECIFIED",
            "BASIC_OPERATION_STATUS_UPLOADING",
            "BASIC_OPERATION_STATUS_VERIFYING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified",
            "The model file is being uploaded",
            "The model file is being verified"
          ]
        }
      },
      "type": "object",
      "id": "ModelOperationMetadata",
      "description": "This is returned in the longrunning operations for create/update."
    },
    "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig": {
      "description": "Config for Google Service Account Authentication.",
      "id": "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Optional. The service account that the extension execution service runs as. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified service account. - If not specified, the Vertex AI Extension Service Agent will be used to execute the Extension.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig",
      "description": "Configuration for the model's thinking features. \"Thinking\" is a process where the model breaks down a complex task into smaller, manageable steps. This allows the model to reason about the task, plan its approach, and execute the plan to generate a high-quality response.",
      "properties": {
        "includeThoughts": {
          "description": "Optional. If true, the model will include its thoughts in the response. \"Thoughts\" are the intermediate steps the model takes to arrive at the final response. They can provide insights into the model's reasoning process and help with debugging. If this is true, thoughts are returned only when available.",
          "type": "boolean"
        },
        "thinkingBudget": {
          "description": "Optional. The token budget for the model's thinking process. The model will make a best effort to stay within this budget. This can be used to control the trade-off between response quality and latency.",
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "type": "string",
          "description": "Optional. The number of thoughts tokens that the model should generate.",
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "MINIMAL"
          ],
          "enumDescriptions": [
            "Unspecified thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level.",
            "MINIMAL thinking level."
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1LogprobsResultCandidate": {
      "description": "A single token and its associated log probability.",
      "properties": {
        "token": {
          "description": "The token's string representation.",
          "type": "string"
        },
        "tokenId": {
          "format": "int32",
          "type": "integer",
          "description": "The token's numerical ID. While the `token` field provides the string representation of the token, the `token_id` is the numerical representation that the model uses internally. This can be useful for developers who want to build custom logic based on the model's vocabulary."
        },
        "logProbability": {
          "type": "number",
          "format": "float",
          "description": "The log probability of this token. A higher value indicates that the model was more confident in this token. The log probability can be used to assess the relative likelihood of different tokens and to identify when the model is uncertain."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CountTokensResponse": {
      "type": "object",
      "properties": {
        "promptTokensDetails": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of modalities that were processed in the request input."
        },
        "totalBillableCharacters": {
          "format": "int32",
          "description": "The total number of billable characters counted across all instances from the request.",
          "type": "integer"
        },
        "totalTokens": {
          "description": "The total number of tokens counted across all instances from the request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response message for PredictionService.CountTokens.",
      "id": "GoogleCloudAiplatformV1beta1CountTokensResponse"
    },
    "GoogleCloudAiplatformV1beta1FunctionResponsePart": {
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponsePart",
      "properties": {
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "GoogleCloudAiplatformV1beta1FunctionResponseBlob"
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "GoogleCloudAiplatformV1beta1FunctionResponseFileData"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints": {
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints",
      "description": "Deprecated: Use top-level `language_codes` instead. Provides hints to the model about possible languages present in the audio.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "languageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Deprecated: Use top-level `language_codes` instead. BCP-47 language codes. At least one must be specified.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AuthConfigOidcConfig": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "OpenID Connect formatted ID token for extension endpoint. Only used to propagate token from [[ExecuteExtensionRequest.runtime_auth_config]] at request time.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account used to generate an OpenID Connect (OIDC)-compatible JWT token signed by the Google OIDC Provider (accounts.google.com) for extension endpoint (https://cloud.google.com/iam/docs/create-short-lived-credentials-direct#sa-credentials-oidc). - The audience for the token will be set to the URL in the server url defined in the OpenApi spec. - If the service account is provided, the service account should grant `iam.serviceAccounts.getOpenIdToken` permission to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents).",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AuthConfigOidcConfig",
      "description": "Config for user OIDC auth."
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigManualRoutingMode": {
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigManualRoutingMode",
      "description": "The configuration for manual routing. When manual routing is specified, the model will be selected based on the model name provided.",
      "type": "object",
      "properties": {
        "modelName": {
          "type": "string",
          "description": "The name of the model to use. Only public LLM models are accepted."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1PartialArg": {
      "description": "Partial argument value of the function call.",
      "properties": {
        "boolValue": {
          "description": "Optional. Represents a boolean value.",
          "type": "boolean"
        },
        "willContinue": {
          "description": "Optional. Whether this is not the last part of the same json_path. If true, another PartialArg message for the current json_path is expected to follow.",
          "type": "boolean"
        },
        "jsonPath": {
          "type": "string",
          "description": "Required. A JSON Path (RFC 9535) to the argument being streamed. https://datatracker.ietf.org/doc/html/rfc9535. e.g. \"$.foo.bar[0].data\"."
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. Represents a string value."
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "description": "Optional. Represents a null value.",
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string"
        },
        "numberValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. Represents a double value."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1PartialArg"
    },
    "GoogleCloudAiplatformV1beta1ImageResponseFormat": {
      "properties": {
        "imageSize": {
          "type": "string",
          "description": "Optional. The size of the image output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "512px image size.",
            "1K image size.",
            "2K image size.",
            "4K image size."
          ],
          "enum": [
            "IMAGE_SIZE_UNSPECIFIED",
            "IMAGE_SIZE_FIVE_TWELVE",
            "IMAGE_SIZE_ONE_K",
            "IMAGE_SIZE_TWO_K",
            "IMAGE_SIZE_FOUR_K"
          ]
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the image output.",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "IMAGE_JPEG"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JPEG image format."
          ]
        },
        "aspectRatio": {
          "description": "Optional. The aspect ratio for the image output.",
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_ONE_BY_ONE",
            "ASPECT_RATIO_TWO_BY_THREE",
            "ASPECT_RATIO_THREE_BY_TWO",
            "ASPECT_RATIO_THREE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_THREE",
            "ASPECT_RATIO_FOUR_BY_FIVE",
            "ASPECT_RATIO_FIVE_BY_FOUR",
            "ASPECT_RATIO_NINE_BY_SIXTEEN",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_TWENTY_ONE_BY_NINE",
            "ASPECT_RATIO_ONE_BY_EIGHT",
            "ASPECT_RATIO_EIGHT_BY_ONE",
            "ASPECT_RATIO_ONE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_ONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "1:1 aspect ratio.",
            "2:3 aspect ratio.",
            "3:2 aspect ratio.",
            "3:4 aspect ratio.",
            "4:3 aspect ratio.",
            "4:5 aspect ratio.",
            "5:4 aspect ratio.",
            "9:16 aspect ratio.",
            "16:9 aspect ratio.",
            "21:9 aspect ratio.",
            "1:8 aspect ratio.",
            "8:1 aspect ratio.",
            "1:4 aspect ratio.",
            "4:1 aspect ratio."
          ]
        },
        "delivery": {
          "type": "string",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "description": "Optional. Delivery mode for the generated content.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ImageResponseFormat",
      "description": "Configuration for image-specific output formatting."
    },
    "GoogleCloudAiplatformV1beta1FileData": {
      "type": "object",
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "Required. The URI of the file in Google Cloud Storage."
        },
        "displayName": {
          "description": "Optional. The display name of the file. Used to provide a label or filename to distinguish files. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server side tools (`code_execution`, `google_search`, and `url_context`) are enabled.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        }
      },
      "description": "URI-based data. A FileData message contains a URI pointing to data of a specific media type. It is used to represent images, audio, and video stored in Google Cloud Storage.",
      "id": "GoogleCloudAiplatformV1beta1FileData"
    },
    "GoogleCloudAiplatformV1beta1AuthConfigOauthConfig": {
      "properties": {
        "serviceAccount": {
          "description": "The service account used to generate access tokens for executing the Extension. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the provided service account.",
          "type": "string"
        },
        "accessToken": {
          "type": "string",
          "description": "Access token for extension endpoint. Only used to propagate token from [[ExecuteExtensionRequest.runtime_auth_config]] at request time."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AuthConfigOauthConfig",
      "type": "object",
      "description": "Config for user oauth."
    },
    "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions": {
      "properties": {
        "mimeType": {
          "description": "Optional. The image format that the output should be saved as.",
          "type": "string"
        },
        "compressionQuality": {
          "description": "Optional. The compression quality of the output image.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The image output format for generated images.",
      "id": "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions"
    },
    "GoogleCloudAiplatformV1beta1ToolGoogleSearch": {
      "properties": {
        "searchTypes": {
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearchSearchTypes"
        },
        "excludeDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. The default limit is 2000 domains. Example: [\"amazon.com\", \"facebook.com\"]."
        },
        "blockingConfidence": {
          "description": "Optional. Sites with confidence level chosen & above this value will be blocked from the search results.",
          "enumDescriptions": [
            "Defaults to unspecified.",
            "Blocks Low and above confidence URL that is risky.",
            "Blocks Medium and above confidence URL that is risky.",
            "Blocks High and above confidence URL that is risky.",
            "Blocks Higher and above confidence URL that is risky.",
            "Blocks Very high and above confidence URL that is risky.",
            "Blocks Extremely high confidence URL that is risky."
          ],
          "type": "string",
          "enum": [
            "PHISH_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_HIGH_AND_ABOVE",
            "BLOCK_HIGHER_AND_ABOVE",
            "BLOCK_VERY_HIGH_AND_ABOVE",
            "BLOCK_ONLY_EXTREMELY_HIGH"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ToolGoogleSearch",
      "type": "object",
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google."
    },
    "GoogleCloudAiplatformV1beta1GroundingSupport": {
      "id": "GoogleCloudAiplatformV1beta1GroundingSupport",
      "properties": {
        "confidenceScores": {
          "description": "The confidence scores for the support references. This list is parallel to the `grounding_chunk_indices` list. A score is a value between 0.0 and 1.0, with a higher score indicating a higher confidence that the reference supports the claim. For Gemini 2.0 and before, this list has the same size as `grounding_chunk_indices`. For Gemini 2.5 and later, this list is empty and should be ignored.",
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "renderedParts": {
          "description": "Indices into the `rendered_parts` field of the `GroundingMetadata` message. These indices specify which rendered parts are associated with this support message.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "groundingChunkIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A list of indices into the `grounding_chunks` field of the `GroundingMetadata` message. These indices specify which grounding chunks support the claim made in the content segment. For example, if this field has the values `[1, 3]`, it means that `grounding_chunks[1]` and `grounding_chunks[3]` are the sources for the claim in the content segment.",
          "type": "array"
        },
        "segment": {
          "$ref": "GoogleCloudAiplatformV1beta1Segment",
          "description": "The content segment that this support message applies to."
        }
      },
      "type": "object",
      "description": "A collection of supporting references for a segment or part of the model's response."
    },
    "GoogleCloudAiplatformV1beta1SafetyRating": {
      "properties": {
        "overwrittenThreshold": {
          "description": "Output only. The overwritten threshold for the safety category of Gemini 2.0 image out. If minors are detected in the output image, the threshold of each safety category will be overwritten if user sets a lower threshold.",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ]
        },
        "probability": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Output only. The probability of harm for this category.",
          "enumDescriptions": [
            "The harm probability is unspecified.",
            "The harm probability is negligible.",
            "The harm probability is low.",
            "The harm probability is medium.",
            "The harm probability is high."
          ]
        },
        "severityScore": {
          "type": "number",
          "description": "Output only. The severity score of harm for this category.",
          "readOnly": true,
          "format": "float"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "The harm severity is unspecified.",
            "The harm severity is negligible.",
            "The harm severity is low.",
            "The harm severity is medium.",
            "The harm severity is high."
          ],
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "description": "Output only. The severity of harm for this category.",
          "readOnly": true
        },
        "probabilityScore": {
          "format": "float",
          "type": "number",
          "description": "Output only. The probability score of harm for this category.",
          "readOnly": true
        },
        "category": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "description": "Output only. The harm category of this rating.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "readOnly": true
        },
        "blocked": {
          "type": "boolean",
          "description": "Output only. Indicates whether the content was blocked because of this rating.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A safety rating for a piece of content. The safety rating contains the harm category and the harm probability level.",
      "id": "GoogleCloudAiplatformV1beta1SafetyRating"
    },
    "GoogleCloudAiplatformV1beta1RetrievalMetadata": {
      "type": "object",
      "description": "Metadata related to the retrieval grounding source. This is part of the `GroundingMetadata` returned when grounding is enabled.",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. A score indicating how likely it is that a Google Search query could help answer the prompt. The score is in the range of `[0, 1]`. A score of 1 means the model is confident that a search will be helpful, and 0 means it is not. This score is populated only when Google Search grounding and dynamic retrieval are enabled. The score is used to determine whether to trigger a search."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1RetrievalMetadata"
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponsePromptFeedback": {
      "type": "object",
      "properties": {
        "safetyRatings": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SafetyRating"
          },
          "description": "Output only. A list of safety ratings for the prompt. There is one rating per category.",
          "type": "array"
        },
        "blockReasonMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A readable message that explains the reason why the prompt was blocked."
        },
        "blockReason": {
          "readOnly": true,
          "enumDescriptions": [
            "The blocked reason is unspecified.",
            "The prompt was blocked for safety reasons.",
            "The prompt was blocked for other reasons. For example, it may be due to the prompt's language, or because it contains other harmful content.",
            "The prompt was blocked because it contains a term from the terminology blocklist.",
            "The prompt was blocked because it contains prohibited content.",
            "The prompt was blocked by Model Armor.",
            "The prompt was blocked because it contains content that is unsafe for image generation.",
            "The prompt was blocked as a jailbreak attempt."
          ],
          "description": "Output only. The reason why the prompt was blocked.",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "JAILBREAK"
          ],
          "type": "string"
        }
      },
      "description": "Content filter results for a prompt sent in the request. Note: This is sent only in the first stream chunk and only if no candidates were generated due to content violations.",
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponsePromptFeedback"
    },
    "GoogleCloudAiplatformV1beta1ReplicatedVoiceConfig": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. The mimetype of the voice sample. The only currently supported value is `audio/wav`. This represents 16-bit signed little-endian wav data, with a 24kHz sampling rate. `mime_type` will default to `audio/wav` if not set."
        },
        "voiceSampleAudio": {
          "format": "byte",
          "type": "string",
          "description": "Optional. The sample of the custom voice."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ReplicatedVoiceConfig",
      "description": "The configuration for the replicated voice to use.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource": {
      "id": "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource",
      "properties": {
        "ragCorpus": {
          "type": "string",
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`"
        },
        "ragFileIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field.",
          "type": "array"
        }
      },
      "description": "The definition of the Rag resource.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ExecutableCode": {
      "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding CodeExecutionResult will also be generated.",
      "id": "GoogleCloudAiplatformV1beta1ExecutableCode",
      "properties": {
        "language": {
          "description": "Required. Programming language of the `code`.",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified language. This value should not be used.",
            "Python >= 3.10, with numpy and simpy available."
          ]
        },
        "code": {
          "description": "Required. The code to be executed.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. Unique identifier of the `ExecutableCode` part. The server returns the `CodeExecutionResult` with the matching `id`."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode": {
      "properties": {
        "modelRoutingPreference": {
          "enum": [
            "UNKNOWN",
            "PRIORITIZE_QUALITY",
            "BALANCED",
            "PRIORITIZE_COST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified model routing preference.",
            "The model will be selected to prioritize the quality of the response.",
            "The model will be selected to balance quality and cost.",
            "The model will be selected to prioritize the cost of the request."
          ],
          "description": "The model routing preference."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode",
      "description": "The configuration for automated routing. When automated routing is specified, the routing will be determined by the pretrained routing model and customer provided model routing preference."
    },
    "GoogleCloudAiplatformV1beta1ModelArmorConfig": {
      "description": "Configuration for Model Armor. Model Armor is a Google Cloud service that provides safety and security filtering for prompts and responses. It helps protect your AI applications from risks such as harmful content, sensitive data leakage, and prompt injection attacks.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelArmorConfig",
      "properties": {
        "promptTemplateName": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template to use for prompt screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the user's prompt for safety and security risks before it is sent to the model. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
        },
        "responseTemplateName": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template to use for response screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the model's response for safety and security risks before it is returned to the user. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageAuto": {
      "deprecated": true,
      "description": "Deprecated: Use top-level `language_codes` instead. Indicates the language of the audio should be automatically detected.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageAuto",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1DynamicRetrievalConfig": {
      "description": "Describes the options to customize dynamic retrieval.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Always trigger retrieval.",
            "Run retrieval only when system decides it is necessary."
          ],
          "type": "string",
          "description": "The mode of the predictor to be used in dynamic retrieval.",
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DYNAMIC"
          ]
        },
        "dynamicThreshold": {
          "format": "float",
          "description": "Optional. The threshold to be used in dynamic retrieval. If not set, a system default value is used.",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1DynamicRetrievalConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Blob": {
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. The raw bytes of the data."
        },
        "displayName": {
          "description": "Optional. The display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server-side tools (`code_execution`, `google_search`, and `url_context`) are enabled.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Blob",
      "type": "object",
      "description": "A content blob. A Blob contains data of a specific media type. It is used to represent images, audio, and video."
    },
    "GoogleCloudAiplatformV1beta1FunctionDeclaration": {
      "type": "object",
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name, description, parameters and response type. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "properties": {
        "response": {
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function.",
          "$ref": "GoogleCloudAiplatformV1beta1Schema"
        },
        "responseJsonSchema": {
          "type": "any",
          "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots, colons and dashes, with a maximum length of 128."
        },
        "parametersJsonSchema": {
          "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`.",
          "type": "any"
        },
        "behavior": {
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "description": "Optional. Specifies the function Behavior. If not specified, the system keeps the current function call behavior. This field is currently only supported by the BidiGenerateContent method.",
          "type": "string",
          "enumDescriptions": [
            "This value is unspecified.",
            "If set, the system will wait to receive the function response before continuing the conversation.",
            "If set, the system will not wait to receive the function response. Instead, it will attempt to handle function responses as they become available while maintaining the conversation between the user and the model."
          ]
        },
        "parameters": {
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1",
          "$ref": "GoogleCloudAiplatformV1beta1Schema"
        },
        "description": {
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1FunctionDeclaration"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter": {
      "description": "Config for filters.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter",
      "properties": {
        "vectorDistanceThreshold": {
          "type": "number",
          "description": "Optional. Only returns contexts with vector distance smaller than the threshold.",
          "format": "double"
        },
        "metadataFilter": {
          "description": "Optional. String for metadata filtering.",
          "type": "string"
        },
        "vectorSimilarityThreshold": {
          "format": "double",
          "description": "Optional. Only returns contexts with vector similarity larger than the threshold.",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1RagChunk": {
      "properties": {
        "text": {
          "description": "The content of the chunk.",
          "type": "string"
        },
        "pageSpan": {
          "description": "If populated, represents where the chunk starts and ends in the document.",
          "$ref": "GoogleCloudAiplatformV1beta1RagChunkPageSpan"
        },
        "chunkId": {
          "type": "string",
          "description": "The ID of the chunk."
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file that the chunk belongs to."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1RagChunk",
      "description": "A RagChunk includes the content of a chunk of a RagFile, and associated metadata.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ImageConfig": {
      "id": "GoogleCloudAiplatformV1beta1ImageConfig",
      "type": "object",
      "description": "Configuration for image generation. This message allows you to control various aspects of image generation, such as the output format, aspect ratio, and whether the model can generate images of people.",
      "properties": {
        "imageOutputOptions": {
          "$ref": "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions",
          "description": "Optional. The image output format for generated images."
        },
        "personGeneration": {
          "enum": [
            "PERSON_GENERATION_UNSPECIFIED",
            "ALLOW_ALL",
            "ALLOW_ADULT",
            "ALLOW_NONE"
          ],
          "type": "string",
          "description": "Optional. Controls whether the model can generate people.",
          "enumDescriptions": [
            "The default behavior is unspecified. The model will decide whether to generate images of people.",
            "Allows the model to generate images of people, including adults and children.",
            "Allows the model to generate images of adults, but not children.",
            "Prevents the model from generating images of people."
          ]
        },
        "prominentPeople": {
          "type": "string",
          "enum": [
            "PROMINENT_PEOPLE_UNSPECIFIED",
            "ALLOW_PROMINENT_PEOPLE",
            "BLOCK_PROMINENT_PEOPLE"
          ],
          "enumDescriptions": [
            "Unspecified value. The model will proceed with the default behavior, which is to allow generation of prominent people.",
            "Allows the model to generate images of prominent people.",
            "Prevents the model from generating images of prominent people."
          ],
          "description": "Optional. Controls whether prominent people (celebrities) generation is allowed. If used with personGeneration, personGeneration enum would take precedence. For instance, if ALLOW_NONE is set, all person generation would be blocked. If this field is unspecified, the default behavior is to allow prominent people."
        },
        "imageSize": {
          "type": "string",
          "description": "Optional. Specifies the size of generated images. Supported values are `1K`, `2K`, `4K`. If not specified, the model will use default value `1K`."
        },
        "aspectRatio": {
          "type": "string",
          "description": "Optional. The desired aspect ratio for the generated images. The following aspect ratios are supported: \"1:1\" \"2:3\", \"3:2\" \"3:4\", \"4:3\" \"4:5\", \"5:4\" \"9:16\", \"16:9\" \"21:9\""
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMapsRoute": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMapsRoute",
      "properties": {
        "encodedPolyline": {
          "description": "An encoded polyline of the route. See https://developers.google.com/maps/documentation/utilities/polylinealgorithm",
          "type": "string"
        },
        "duration": {
          "description": "The total duration of the route.",
          "format": "google-duration",
          "type": "string"
        },
        "distanceMeters": {
          "format": "int32",
          "description": "The total distance of the route, in meters.",
          "type": "integer"
        }
      },
      "description": "Route information from Google Maps."
    },
    "GoogleCloudAiplatformV1beta1EnterpriseWebSearch": {
      "id": "GoogleCloudAiplatformV1beta1EnterpriseWebSearch",
      "description": "Tool to search public web data, powered by Vertex AI Search and Sec4 compliance.",
      "type": "object",
      "properties": {
        "blockingConfidence": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to unspecified.",
            "Blocks Low and above confidence URL that is risky.",
            "Blocks Medium and above confidence URL that is risky.",
            "Blocks High and above confidence URL that is risky.",
            "Blocks Higher and above confidence URL that is risky.",
            "Blocks Very high and above confidence URL that is risky.",
            "Blocks Extremely high confidence URL that is risky."
          ],
          "description": "Optional. Sites with confidence level chosen & above this value will be blocked from the search results.",
          "enum": [
            "PHISH_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_HIGH_AND_ABOVE",
            "BLOCK_HIGHER_AND_ABOVE",
            "BLOCK_VERY_HIGH_AND_ABOVE",
            "BLOCK_ONLY_EXTREMELY_HIGH"
          ]
        },
        "excludeDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. The default limit is 2000 domains.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1CitationMetadata": {
      "id": "GoogleCloudAiplatformV1beta1CitationMetadata",
      "properties": {
        "citations": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Citation"
          },
          "description": "Output only. A list of citations for the content.",
          "type": "array"
        }
      },
      "description": "A collection of citations that apply to a piece of generated content.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig",
      "properties": {
        "httpElementLocation": {
          "description": "Optional. The location of the API key.",
          "enumDescriptions": [
            "",
[...]
