{
  "discoveryVersion": "v1",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "title": "Firebase App Check API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "schemas": {
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse",
      "description": "Response message for the BatchUpdateServices method.",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "description": "Service objects after the updates have been applied."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest",
      "type": "object",
      "properties": {
        "jti": {
          "description": "Optional. When `limited_use` is set to `true`, this field specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. *Limited use* App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. An error is returned if this field is specified without setting `limited_use` to `true`. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty and `limited_use` is set to `true`, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks. When `limited_use` is set to `false`, the presence and the contents of the `jti` claim in the returned App Check token are unspecified. To ensure that the returned App Check token is eligible for limited-use functionality, set `limited_use` to `true`.",
          "type": "string"
        },
        "customToken": {
          "type": "string",
          "description": "Required. A custom token signed using your project's Admin SDK service account credentials."
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "description": "Request message for the ExchangeCustomToken method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest": {
      "description": "Request message for the ExchangeAppAttestAttestation method.",
      "type": "object",
      "properties": {
        "challenge": {
          "type": "string",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "format": "byte"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "keyId": {
          "format": "byte",
          "description": "Required. The key ID generated by App Attest for the client app.",
          "type": "string"
        },
        "attestationStatement": {
          "description": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest"
    },
    "GoogleFirebaseAppcheckV1betaAppCheckToken": {
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        },
        "attestationToken": {
          "deprecated": true,
          "type": "string",
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
        },
        "token": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string"
        }
      },
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check.",
      "id": "GoogleFirebaseAppcheckV1betaAppCheckToken"
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for the GenerateAppAttestChallenge method.",
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity": {
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity",
      "type": "object",
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
      "properties": {
        "minDeviceRecognitionLevel": {
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`.",
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not specify this value directly. If this value is detected in a configuration, it will have the same effect as the value `NO_INTEGRITY`.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ]
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaAppAttestConfig": {
      "properties": {
        "tokenTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
        }
      },
      "type": "object",
      "description": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "id": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
    },
    "GoogleFirebaseAppcheckV1betaService": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaService",
      "description": "The enforcement configuration for a Firebase service supported by App Check.",
      "properties": {
        "enforcementMode": {
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "type": "string",
          "description": "Required. The baseline protection EnforcementMode for this service.",
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ]
        },
        "replayProtection": {
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "description": "Optional. The replay protection EnforcementMode for this service. Note that this field cannot be set to a level higher than that of baseline protection. For example, if the enforcement mode for baseline protection is set to `UNENFORCED`, this field cannot be set to `ENFORCED`. In order to enforce replay protection, you must first enforce App Check's baseline protection. An HTTP 400 error will be returned in this case. By default, this field is set to `OFF`. Setting this field to `UNENFORCED` or `ENFORCED` is considered opting into replay protection. Opting in can impact your requests by adding some latency and sometimes cost (depending on your attestation provider). To opt out of replay protection after opting in, set this field to `OFF`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this service configuration object was most recently updated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaLimitedUseConfig": {
      "id": "GoogleFirebaseAppcheckV1betaLimitedUseConfig",
      "description": "Configuration for a limited-use App Check token.",
      "type": "object",
      "properties": {
        "jti": {
          "description": "Optional. Specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. Limited-use App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaListServicesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        },
        "services": {
          "description": "The Services retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaListServicesResponse",
      "description": "Response message for the ListServices method."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
          },
          "description": "PlayIntegrityConfigs retrieved.",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest": {
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed.",
          "type": "string"
        },
        "requests": {
          "description": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for the BatchUpdateServices method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest": {
      "description": "Request message for the GeneratePlayIntegrityChallenge method.",
      "properties": {},
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse": {
      "properties": {
        "configs": {
          "description": "DeviceCheckConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
          }
        }
      },
      "description": "Response message for the BatchGetDeviceCheckConfigs method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse": {
      "description": "Response message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse",
      "type": "object",
      "properties": {
        "resourcePolicies": {
          "description": "ResourcePolicy objects after the updates have been applied.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest": {
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "type": "object",
      "properties": {
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
          },
          "description": "RecaptchaEnterpriseConfigs retrieved.",
          "type": "array"
        }
      },
      "description": "Response message for the BatchGetRecaptchaEnterpriseConfigs method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse": {
      "properties": {
        "resourcePolicies": {
          "description": "The ResourcePolicy objects retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted."
        }
      },
      "description": "Response message for the ListResourcePolicies method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse"
    },
    "GoogleFirebaseAppcheckV1betaAttestationTokenResponse": {
      "properties": {
        "ttl": {
          "type": "string",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration"
        },
        "attestationToken": {
          "type": "string",
          "description": "An App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and Firebase project. This token is used to access Firebase services protected by App Check."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
      "type": "object",
      "deprecated": true,
      "description": "Encapsulates an *App Check token*, which are used to access Firebase services protected by App Check."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse": {
      "type": "object",
      "description": "Response message for the BatchGetAppAttestConfigs method.",
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
          },
          "description": "AppAttestConfigs retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1betaListDebugTokensResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted."
        },
        "debugTokens": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
          },
          "description": "The DebugTokens retrieved.",
          "type": "array"
        }
      },
      "description": "Response message for the ListDebugTokens method.",
      "id": "GoogleFirebaseAppcheckV1betaListDebugTokensResponse"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaV3Config": {
      "type": "object",
      "properties": {
        "siteSecretSet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set."
        },
        "minValidScore": {
          "format": "float",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "type": "number"
        },
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```"
        },
        "tokenTtl": {
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config",
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest": {
      "properties": {
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "recaptchaEnterpriseToken": {
          "type": "string",
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages)."
        }
      },
      "description": "Request message for the ExchangeRecaptchaEnterpriseToken method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaConfig": {
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaConfig",
      "deprecated": true,
      "properties": {
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```"
        },
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "siteSecretSet": {
          "type": "boolean",
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true
        },
        "minValidScore": {
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest": {
      "properties": {
        "updateMask": {
          "description": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest"
          },
          "description": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch."
        }
      },
      "description": "Request message for the BatchUpdateResourcePolicies method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest"
    },
    "GoogleFirebaseAppcheckV1betaUpdateServiceRequest": {
      "id": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest",
      "description": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
          "format": "google-fieldmask"
        },
        "service": {
          "$ref": "GoogleFirebaseAppcheckV1betaService",
          "description": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaPublicJwk": {
      "properties": {
        "kty": {
          "type": "string",
          "description": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
        },
        "e": {
          "type": "string",
          "description": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2)."
        },
        "kid": {
          "description": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5).",
          "type": "string"
        },
        "alg": {
          "type": "string",
          "description": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4)."
        },
        "use": {
          "type": "string",
          "description": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2)."
        },
        "n": {
          "description": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPublicJwk",
      "description": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1).",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest",
      "type": "object",
      "description": "Request message for the ExchangePlayIntegrityToken method.",
      "properties": {
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "playIntegrityToken": {
          "description": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis",
      "description": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
      "properties": {
        "minValidScore": {
          "format": "float",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "type": "number"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse": {
      "deprecated": true,
      "description": "Response message for the BatchGetRecaptchaConfigs method.",
      "properties": {
        "configs": {
          "description": "RecaptchaConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
          }
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity": {
      "type": "object",
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity",
      "properties": {
        "allowUnrecognizedVersion": {
          "type": "boolean",
          "description": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "recaptchaToken": {
          "type": "string",
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3)."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest",
      "description": "Request message for the ExchangeRecaptchaToken method."
    },
    "GoogleFirebaseAppcheckV1betaResourcePolicy": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaResourcePolicy",
      "properties": {
        "enforcementMode": {
          "type": "string",
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "description": "Required. The baseline protection EnforcementMode for this resource. This will override the service-level baseline protection EnforcementMode."
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
        }
      },
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration."
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse": {
      "type": "object",
      "properties": {
        "challenge": {
          "type": "string",
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
        },
        "ttl": {
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Response message for the GeneratePlayIntegrityChallenge method.",
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse"
    },
    "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest": {
      "description": "Request message for the ExchangeDeviceCheckToken method.",
      "id": "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest",
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaDeviceCheckConfig": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig",
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "properties": {
        "keyId": {
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account.",
          "type": "string"
        },
        "tokenTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "privateKeySet": {
          "type": "boolean",
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest": {
      "properties": {
        "debugToken": {
          "type": "string",
          "description": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest",
      "type": "object",
      "description": "Request message for the ExchangeDebugToken method."
    },
    "GoogleFirebaseAppcheckV1betaMintAppCheckTokenRequest": {
      "properties": {
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. If specified, the returned App Check token will be a session token, valid for the specified duration. Must be between 30 minutes and 7 days, inclusive."
        },
        "limitedUseConfig": {
          "$ref": "GoogleFirebaseAppcheckV1betaLimitedUseConfig",
          "description": "Optional. If specified, the returned App Check token will be a limited-use token minted according to the specified configuration options."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaMintAppCheckTokenRequest",
      "type": "object",
      "description": "Request message for the MintAppCheckToken method."
    },
    "GoogleFirebaseAppcheckV1betaPublicJwkSet": {
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwk"
          },
          "type": "array",
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5)."
        }
      },
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours.",
      "id": "GoogleFirebaseAppcheckV1betaPublicJwkSet"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig": {
      "type": "object",
      "properties": {
        "appIntegrity": {
          "description": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity"
        },
        "accountDetails": {
          "description": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails"
        },
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "name": {
          "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
          "type": "string"
        },
        "deviceIntegrity": {
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity",
          "description": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig",
      "description": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
    },
    "GoogleFirebaseAppcheckV1betaDebugToken": {
      "id": "GoogleFirebaseAppcheckV1betaDebugToken",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during a UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response."
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "updateTime": {
          "description": "Output only. Timestamp when this debug token was most recently updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A human readable display name used to identify this debug token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services."
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse": {
      "properties": {
        "alreadyConsumed": {
          "description": "Whether this token was already consumed. If this is the first time this method has seen the given App Check token, this field will be omitted from the response. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response containing this field, regardless whether the token was already consumed.",
          "type": "boolean"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse",
      "type": "object",
      "description": "Response message for the VerifyAppCheckToken method."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse": {
      "type": "object",
      "description": "Response message for the BatchGetRecaptchaV3Configs method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse",
      "properties": {
        "configs": {
          "description": "RecaptchaV3Configs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaMintAppCheckTokenResponse": {
      "id": "GoogleFirebaseAppcheckV1betaMintAppCheckTokenResponse",
      "properties": {
        "token": {
          "type": "string",
          "description": "The App Check token, used to access backend services protected by App Check. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
        },
        "ttl": {
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Response message for the MintAppCheckToken method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse": {
      "description": "Response message for the ExchangeAppAttestAttestation method.",
      "type": "object",
      "properties": {
        "artifact": {
          "description": "An artifact that can be used in future calls to ExchangeAppAttestAssertion.",
          "type": "string",
          "format": "byte"
        },
        "appCheckToken": {
          "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken",
          "description": "Encapsulates an App Check token."
        },
        "attestationToken": {
          "deprecated": true,
          "$ref": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
          "description": "Encapsulates an App Check token."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig": {
      "description": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig",
      "properties": {
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        },
        "riskAnalysis": {
          "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis",
          "description": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
        },
        "siteKey": {
          "description": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest": {
      "id": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest",
      "properties": {
        "resourcePolicy": {
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`."
        }
      },
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest": {
      "properties": {
        "appCheckToken": {
          "description": "Required. The App Check token to verify. App Check tokens exchanged from the SafetyNet provider are not supported; an HTTP 400 error will be returned.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest",
      "type": "object",
      "description": "Request message for the VerifyAppCheckToken method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest",
      "description": "Request message for the ExchangeAppAttestAssertion method.",
      "properties": {
        "artifact": {
          "description": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation.",
          "format": "byte",
          "type": "string"
        },
        "assertion": {
          "type": "string",
          "description": "Required. The CBOR-encoded assertion returned by the client-side App Attest API.",
          "format": "byte"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "challenge": {
          "format": "byte",
          "type": "string",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails": {
      "properties": {
        "requireLicensed": {
          "description": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`.",
          "type": "boolean"
        }
      },
      "description": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse": {
      "description": "Response message for the GenerateAppAttestChallenge method.",
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        },
        "challenge": {
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse"
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1beta",
  "revision": "20260905",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "verifyAppCheckToken": {
          "flatPath": "v1beta/projects/{projectsId}:verifyAppCheckToken",
          "path": "v1beta/{+project}:verifyAppCheckToken",
          "description": "Verifies the given App Check token and returns token usage signals that callers may act upon. This method currently only supports App Check tokens exchanged from the following attestation providers: * Play Integrity API * App Attest * DeviceCheck (`DCDevice` tokens) * reCAPTCHA Enterprise * reCAPTCHA v3 * Custom providers App Check tokens exchanged from debug secrets are also supported. Calling this method on an otherwise valid App Check token with an unsupported provider will cause an HTTP 400 error to be returned. Returns whether this token was already consumed before this call. If this is the first time this method has seen the given App Check token, the field `already_consumed` in the response will be absent. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response object, regardless whether the token was already consumed. Currently, when evaluating whether an App Check token was already consumed, only calls to this exact method are counted. Use of the App Check token elsewhere will not mark the token as being already consumed. The caller must have the [`firebaseappcheck.appCheckTokens.verify`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission to call this method. This permission is part of the [Firebase App Check Token Verifier role](https://firebase.google.com/docs/projects/iam/roles-predefined-product#app-check).",
          "parameters": {
            "project": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The relative resource name of the project for which the token was minted, in the format: ``` projects/{project_number} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "firebaseappcheck.projects.verifyAppCheckToken",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        }
      },
      "resources": {
        "apps": {
          "resources": {
            "appAttestConfig": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  }
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "httpMethod": "GET",
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get"
                },
                "batchGet": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "names": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "path": "v1beta/{+parent}/apps/-/appAttestConfig:batchGet",
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/appAttestConfig:batchGet"
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "path": "v1beta/{+name}",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig"
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails."
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet",
                  "path": "v1beta/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "type": "string",
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            },
            "recaptchaV3Config": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA v3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1beta/{+name}",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get"
                },
                "batchGet": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse"
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "path": "v1beta/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails."
                    },
                    "names": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "debugTokens": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "id": "firebaseappcheck.projects.apps.debugTokens.get",
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "path": "v1beta/{+parent}/debugTokens",
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens.",
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete",
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The checksum to be validated against the current DebugToken, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the DebugToken object, and can be obtained from the DebugToken object received from the last CreateDebugToken, GetDebugToken, ListDebugTokens, or UpdateDebugToken call. This etag is strongly validated as defined by RFC 7232."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined.",
[...]
