{
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "discoveryVersion": "v1",
  "name": "firebaseappcheck",
  "schemas": {
    "GoogleFirebaseAppcheckV1betaService": {
      "type": "object",
      "properties": {
        "replayProtection": {
          "description": "Optional. The replay protection EnforcementMode for this service. Note that this field cannot be set to a level higher than that of baseline protection. For example, if the enforcement mode for baseline protection is set to `UNENFORCED`, this field cannot be set to `ENFORCED`. In order to enforce replay protection, you must first enforce App Check's baseline protection. An HTTP 400 error will be returned in this case. By default, this field is set to `OFF`. Setting this field to `UNENFORCED` or `ENFORCED` is considered opting into replay protection. Opting in can impact your requests by adding some latency and sometimes cost (depending on your attestation provider). To opt out of replay protection after opting in, set this field to `OFF`.",
          "type": "string",
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ]
        },
        "updateTime": {
          "description": "Output only. Timestamp when this service configuration object was most recently updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "enforcementMode": {
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "type": "string",
          "description": "Required. The baseline protection EnforcementMode for this service."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaService",
      "description": "The enforcement configuration for a Firebase service supported by App Check."
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse": {
      "properties": {
        "alreadyConsumed": {
          "type": "boolean",
          "description": "Whether this token was already consumed. If this is the first time this method has seen the given App Check token, this field will be omitted from the response. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response containing this field, regardless whether the token was already consumed."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse",
      "description": "Response message for the VerifyAppCheckToken method."
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig": {
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
          "type": "string"
        },
        "deviceIntegrity": {
          "description": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity"
        },
        "accountDetails": {
          "description": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails"
        },
        "appIntegrity": {
          "description": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity"
        },
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig",
      "description": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity": {
      "type": "object",
      "properties": {
        "minDeviceRecognitionLevel": {
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not specify this value directly. If this value is detected in a configuration, it will have the same effect as the value `NO_INTEGRITY`.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ],
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ]
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity",
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
    },
    "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest": {
      "properties": {
        "playIntegrityToken": {
          "type": "string",
          "description": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest",
      "description": "Request message for the ExchangePlayIntegrityToken method."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse": {
      "properties": {
        "configs": {
          "type": "array",
          "description": "RecaptchaV3Configs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse",
      "description": "Response message for the BatchGetRecaptchaV3Configs method."
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse": {
      "properties": {
        "ttl": {
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse",
      "description": "Response message for the GeneratePlayIntegrityChallenge method."
    },
    "GoogleFirebaseAppcheckV1betaDeviceCheckConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```"
        },
        "privateKeySet": {
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true,
          "type": "boolean"
        },
        "keyId": {
          "type": "string",
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
        },
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response."
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig",
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch)."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest": {
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest",
      "description": "Request message for the BatchUpdateServices method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed.",
          "format": "google-fieldmask"
        },
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest"
          },
          "description": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaAppCheckToken": {
      "properties": {
        "attestationToken": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "deprecated": true,
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration"
        },
        "token": {
          "type": "string",
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaAppCheckToken",
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check."
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest": {
      "properties": {
        "appCheckToken": {
          "description": "Required. The App Check token to verify. App Check tokens exchanged from the SafetyNet provider are not supported; an HTTP 400 error will be returned.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest",
      "description": "Request message for the VerifyAppCheckToken method."
    },
    "GoogleFirebaseAppcheckV1betaResourcePolicy": {
      "id": "GoogleFirebaseAppcheckV1betaResourcePolicy",
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration.",
      "type": "object",
      "properties": {
        "enforcementMode": {
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "type": "string",
          "description": "Required. The baseline protection EnforcementMode for this resource. This will override the service-level baseline protection EnforcementMode."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID."
        },
        "targetResource": {
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaPublicJwkSet": {
      "id": "GoogleFirebaseAppcheckV1betaPublicJwkSet",
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours.",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5).",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwk"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaAppAttestConfig": {
      "id": "GoogleFirebaseAppcheckV1betaAppAttestConfig",
      "description": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "description": "RecaptchaEnterpriseConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse",
      "description": "Response message for the BatchGetRecaptchaEnterpriseConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity": {
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity",
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "properties": {
        "allowUnrecognizedVersion": {
          "type": "boolean",
          "description": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest": {
      "properties": {
        "attestationStatement": {
          "type": "string",
          "description": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response.",
          "format": "byte"
        },
        "challenge": {
          "type": "string",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "format": "byte"
        },
        "keyId": {
          "type": "string",
          "description": "Required. The key ID generated by App Attest for the client app.",
          "format": "byte"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest",
      "description": "Request message for the ExchangeAppAttestAttestation method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest",
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "properties": {
        "recaptchaV3Token": {
          "type": "string",
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3)."
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails": {
      "type": "object",
      "properties": {
        "requireLicensed": {
          "type": "boolean",
          "description": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails",
      "description": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
    },
    "GoogleFirebaseAppcheckV1betaPublicJwk": {
      "type": "object",
      "properties": {
        "alg": {
          "type": "string",
          "description": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4)."
        },
        "kid": {
          "description": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5).",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
        },
        "e": {
          "description": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2).",
          "type": "string"
        },
        "use": {
          "type": "string",
          "description": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2)."
        },
        "kty": {
          "type": "string",
          "description": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaPublicJwk",
      "description": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1)."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse": {
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
          },
          "description": "AppAttestConfigs retrieved."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse",
      "description": "Response message for the BatchGetAppAttestConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest": {
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest",
      "description": "Request message for the GenerateAppAttestChallenge method.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest",
      "description": "Request message for the ExchangeAppAttestAssertion method.",
      "type": "object",
      "properties": {
        "challenge": {
          "type": "string",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "format": "byte"
        },
        "artifact": {
          "description": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation.",
          "format": "byte",
          "type": "string"
        },
        "assertion": {
          "type": "string",
          "description": "Required. The CBOR-encoded assertion returned by the client-side App Attest API.",
          "format": "byte"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse": {
      "id": "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse",
      "description": "Response message for the ListResourcePolicies method.",
      "type": "object",
      "properties": {
        "resourcePolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          },
          "description": "The ResourcePolicy objects retrieved."
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaV3Config": {
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config",
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "properties": {
        "siteSecretSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set."
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        },
        "siteSecret": {
          "type": "string",
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
        },
        "name": {
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
          "type": "string"
        },
        "minValidScore": {
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse": {
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "description": "Service objects after the updates have been applied."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse",
      "description": "Response message for the BatchUpdateServices method."
    },
    "GoogleFirebaseAppcheckV1betaListServicesResponse": {
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "description": "The Services retrieved."
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaListServicesResponse",
      "description": "Response message for the ListServices method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest",
      "description": "Request message for the ExchangeDeviceCheckToken method.",
      "type": "object",
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest": {
      "type": "object",
      "properties": {
        "debugToken": {
          "type": "string",
          "description": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest",
      "description": "Request message for the ExchangeDebugToken method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse",
      "description": "Response message for the ExchangeAppAttestAttestation method.",
      "properties": {
        "attestationToken": {
          "deprecated": true,
          "description": "Encapsulates an App Check token.",
          "$ref": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse"
        },
        "artifact": {
          "description": "An artifact that can be used in future calls to ExchangeAppAttestAssertion.",
          "format": "byte",
          "type": "string"
        },
        "appCheckToken": {
          "description": "Encapsulates an App Check token.",
          "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis": {
      "type": "object",
      "properties": {
        "minValidScore": {
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis",
      "description": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest",
      "description": "Request message for the ExchangeRecaptchaToken method.",
      "properties": {
        "recaptchaToken": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaUpdateServiceRequest": {
      "properties": {
        "service": {
          "description": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1betaService"
        },
        "updateMask": {
          "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest",
      "description": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method."
    },
    "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest": {
      "type": "object",
      "properties": {
        "resourcePolicy": {
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
        },
        "updateMask": {
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest",
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method."
    },
    "GoogleFirebaseAppcheckV1betaDebugToken": {
      "properties": {
        "token": {
          "description": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during a UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A human readable display name used to identify this debug token."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this debug token was most recently updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaDebugToken",
      "description": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse",
      "description": "Response message for the BatchUpdateResourcePolicies method.",
      "type": "object",
      "properties": {
        "resourcePolicies": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          },
          "description": "ResourcePolicy objects after the updates have been applied.",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaListDebugTokensResponse": {
      "id": "GoogleFirebaseAppcheckV1betaListDebugTokensResponse",
      "description": "Response message for the ListDebugTokens method.",
      "properties": {
        "debugTokens": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
          },
          "description": "The DebugTokens retrieved."
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig": {
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig",
      "description": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "properties": {
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
        },
        "siteKey": {
          "description": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key.",
          "type": "string"
        },
        "riskAnalysis": {
          "description": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaConfig": {
      "type": "object",
      "deprecated": true,
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaConfig",
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```"
        },
        "minValidScore": {
          "type": "number",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float"
        },
        "siteSecretSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set."
        },
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "siteSecret": {
          "type": "string",
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest",
      "description": "Request message for the GeneratePlayIntegrityChallenge method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest": {
      "type": "object",
      "properties": {
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "customToken": {
          "description": "Required. A custom token signed using your project's Admin SDK service account credentials.",
          "type": "string"
        },
        "jti": {
          "description": "Optional. When `limited_use` is set to `true`, this field specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. *Limited use* App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. An error is returned if this field is specified without setting `limited_use` to `true`. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty and `limited_use` is set to `true`, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks. When `limited_use` is set to `false`, the presence and the contents of the `jti` claim in the returned App Check token are unspecified. To ensure that the returned App Check token is eligible for limited-use functionality, set `limited_use` to `true`.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest",
      "description": "Request message for the ExchangeCustomToken method."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest": {
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest",
      "description": "Request message for the BatchUpdateResourcePolicies method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "requests": {
          "type": "array",
          "description": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse",
      "description": "Response message for the BatchGetDeviceCheckConfigs method.",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
          },
          "description": "DeviceCheckConfigs retrieved.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse": {
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
          },
          "description": "RecaptchaConfigs retrieved.",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse",
      "description": "Response message for the BatchGetRecaptchaConfigs method.",
      "type": "object",
      "deprecated": true
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse": {
      "type": "object",
      "properties": {
        "ttl": {
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "challenge": {
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse",
      "description": "Response message for the GenerateAppAttestChallenge method."
    },
    "GoogleFirebaseAppcheckV1betaAttestationTokenResponse": {
      "deprecated": true,
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
      "description": "Encapsulates an *App Check token*, which are used to access Firebase services protected by App Check.",
      "properties": {
        "attestationToken": {
          "type": "string",
          "description": "An App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and Firebase project. This token is used to access Firebase services protected by App Check."
        },
        "ttl": {
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest",
      "description": "Request message for the ExchangeRecaptchaEnterpriseToken method.",
      "properties": {
        "recaptchaEnterpriseToken": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages).",
          "type": "string"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse": {
      "properties": {
        "configs": {
          "description": "PlayIntegrityConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method."
    }
  },
  "batchPath": "batch",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "resources": {
    "jwks": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwkSet"
          },
          "id": "firebaseappcheck.jwks.get",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/jwks",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "pattern": "^jwks$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid."
        }
      }
    },
    "projects": {
      "methods": {
        "verifyAppCheckToken": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Verifies the given App Check token and returns token usage signals that callers may act upon. This method currently only supports App Check tokens exchanged from the following attestation providers: * Play Integrity API * App Attest * DeviceCheck (`DCDevice` tokens) * reCAPTCHA Enterprise * reCAPTCHA v3 * Custom providers App Check tokens exchanged from debug secrets are also supported. Calling this method on an otherwise valid App Check token with an unsupported provider will cause an HTTP 400 error to be returned. Returns whether this token was already consumed before this call. If this is the first time this method has seen the given App Check token, the field `already_consumed` in the response will be absent. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response object, regardless whether the token was already consumed. Currently, when evaluating whether an App Check token was already consumed, only calls to this exact method are counted. Use of the App Check token elsewhere will not mark the token as being already consumed. The caller must have the [`firebaseappcheck.appCheckTokens.verify`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission to call this method. This permission is part of the [Firebase App Check Token Verifier role](https://firebase.google.com/docs/projects/iam/roles-predefined-product#app-check).",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Required. The relative resource name of the project for which the token was minted, in the format: ``` projects/{project_number} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest"
          },
          "id": "firebaseappcheck.projects.verifyAppCheckToken",
          "path": "v1beta/{+project}:verifyAppCheckToken",
          "flatPath": "v1beta/projects/{projectsId}:verifyAppCheckToken",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse"
          }
        }
      },
      "resources": {
        "services": {
          "methods": {
            "patch": {
              "id": "firebaseappcheck.projects.services.patch",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaService"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the specified Service configuration.",
              "parameters": {
                "name": {
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation.",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaService"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaListServicesResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/services",
              "id": "firebaseappcheck.projects.services.list",
              "path": "v1beta/{+parent}/services"
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}",
              "id": "firebaseappcheck.projects.services.get",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaService"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the Service configuration for the specified service name.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs.",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "location": "path"
                }
              }
            },
            "batchUpdate": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Atomically updates the specified Service configurations.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse"
              },
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "path": "v1beta/{+parent}/services:batchUpdate",
              "flatPath": "v1beta/projects/{projectsId}/services:batchUpdate"
            }
          },
          "resources": {
            "resourcePolicies": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232."
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "pattern": "^projects/[^/]+/services/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create",
                  "path": "v1beta/{+parent}/resourcePolicies",
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "path": "v1beta/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "path": "v1beta/{+parent}/resourcePolicies",
                  "parameters": {
                    "pageToken": {
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all ResourcePolicy configurations for the specified project and service."
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the requested ResourcePolicy configuration.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
                  }
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "path": "v1beta/{+parent}/resourcePolicies:batchUpdate",
                  "flatPath": "v1beta/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse"
                  }
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeRecaptchaV3Token": {
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "path": "v1beta/{+app}:exchangeRecaptchaV3Token",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "app"
              ],
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "parameters": {
                "app": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest"
              }
            },
            "generateAppAttestChallenge": {
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "path": "v1beta/{+app}:generateAppAttestChallenge"
            },
            "exchangeDebugToken": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "path": "v1beta/{+app}:exchangeDebugToken",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "app"
              ],
[...]
