{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "backups": {
              "methods": {
                "list": {
                  "description": "Lists all the backups.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/backups",
                  "id": "firestore.projects.locations.backups.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The location to list backups from. Format is `projects/{project}/locations/{location}`. Use `{location} = '-'` to list backups from all locations for the given project. This allows listing backups from a single location or from all locations.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "An expression that filters the list of returned backups. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>`, `<=`, `>=`, `!=`, `=`, or `:`. Colon `:` is the contains operator. Filter rules are not case sensitive. The following fields in the Backup are eligible for filtering: * `database_uid` (supports `=` only)"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListBackupsResponse"
                  }
                },
                "delete": {
                  "id": "firestore.projects.locations.backups.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a backup.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the backup to delete. format is `projects/{project}/locations/{location}/backups/{backup}`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}"
                },
                "get": {
                  "id": "firestore.projects.locations.backups.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "description": "Required. Name of the backup to fetch. Format is `projects/{project}/locations/{location}/backups/{backup}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets information about a backup.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1Backup"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "path": "v1/{+name}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "firestore.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "firestore.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              }
            }
          }
        },
        "databases": {
          "methods": {
            "exportDocuments": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "path": "v1/{+name}:exportDocuments",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.exportDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage. For more details on export behavior and output format, refer to: https://cloud.google.com/firestore/docs/manage-data/export-import"
            },
            "restore": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to restore the database in. Format is `projects/{project_id}`."
                }
              },
              "flatPath": "v1/projects/{projectsId}/databases:restore",
              "request": {
                "$ref": "GoogleFirestoreAdminV1RestoreDatabaseRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new database by restoring from an existing backup. The new database must be in the same cloud region or multi-region location as the existing backup. This behaves similar to FirestoreAdmin.CreateDatabase except instead of creating a new empty database, a new database is created with the database type, index configuration, and documents from an existing backup. The long-running operation can be used to track the progress of the restore, with the Operation's metadata field type being the RestoreDatabaseMetadata. The response type is the Database if the restore was successful. The new database is not readable or writeable until the LRO has completed.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.restore",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "path": "v1/{+parent}/databases:restore"
            },
            "bulkDeleteDocuments": {
              "id": "firestore.projects.databases.bulkDeleteDocuments",
              "path": "v1/{+name}:bulkDeleteDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest"
              },
              "description": "Bulk deletes a subset of documents from Google Cloud Firestore. Documents created or updated after the underlying system starts to process the request will not be deleted. The bulk delete occurs in the background and its progress can be monitored and managed via the Operation resource that is created. For more details on bulk delete behavior, refer to: https://cloud.google.com/firestore/docs/manage-data/bulk-delete",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:bulkDeleteDocuments",
              "parameters": {
                "name": {
                  "description": "Required. Database to operate. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true
                }
              }
            },
            "delete": {
              "description": "Deletes a database.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "httpMethod": "DELETE",
              "id": "firestore.projects.databases.delete",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`"
                },
                "etag": {
                  "location": "query",
                  "description": "The current etag of the Database. If an etag is provided and does not match the current etag of the database, deletion will be blocked and a FAILED_PRECONDITION error will be returned.",
                  "type": "string"
                }
              }
            },
            "importDocuments": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "path": "v1/{+name}:importDocuments",
              "id": "firestore.projects.databases.importDocuments"
            },
            "create": {
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "type": "string",
                  "location": "path"
                },
                "databaseId": {
                  "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases",
              "id": "firestore.projects.databases.create",
              "httpMethod": "POST",
              "path": "v1/{+parent}/databases",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a database."
            },
            "clone": {
              "flatPath": "v1/projects/{projectsId}/databases:clone",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The project to clone the database in. Format is `projects/{project_id}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates a new database by cloning an existing one. The new database must be in the same cloud region or multi-region location as the existing database. This behaves similar to FirestoreAdmin.CreateDatabase except instead of creating a new empty database, a new database is created with the database type, index configuration, and documents from an existing database. The long-running operation can be used to track the progress of the clone, with the Operation's metadata field type being the CloneDatabaseMetadata. The response type is the Database if the clone was successful. The new database is not readable or writeable until the LRO has completed.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "id": "firestore.projects.databases.clone",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1CloneDatabaseRequest"
              },
              "path": "v1/{+parent}/databases:clone",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "id": "firestore.projects.databases.get",
              "httpMethod": "GET",
              "description": "Gets information about a database.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "name": {
                  "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                },
                "updateMask": {
                  "description": "The list of fields to be updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "firestore.projects.databases.patch",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Updates a database.",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+parent}/databases",
              "flatPath": "v1/projects/{projectsId}/databases",
              "id": "firestore.projects.databases.list",
              "httpMethod": "GET",
              "description": "List all the databases in the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "GoogleFirestoreAdminV1ListDatabasesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "showDeleted": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If true, also returns deleted resources."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "changeStreams": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/changeStreams",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1ChangeStream"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent database to create the change stream for. Format is `projects/{project}/databases/{database}`."
                    },
                    "changeStreamId": {
                      "location": "query",
                      "description": "Required. The ID to use for the change stream, which will become the final component of the change stream's resource name. This value should be 4-63 characters. Valid characters are lowercase letters, numbers, and hyphens. The first character must be a letter, and the last character must be a letter or a number.",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.changeStreams.create",
                  "path": "v1/{+parent}/changeStreams",
                  "httpMethod": "POST",
                  "description": "Creates a new change stream for the database.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ChangeStream"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/changeStreams/{changeStreamsId}",
                  "path": "v1/{+name}",
                  "id": "firestore.projects.databases.changeStreams.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a change stream.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/changeStreams/[^/]+$",
                      "description": "Required. The name of the change stream to delete. Format is `projects/{project}/databases/{database}/changeStreams/{change_stream}`.",
                      "required": true
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The etag of the change stream to delete. If this is not the current etag of the change stream, the deletion will fail.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "get": {
                  "description": "Gets information about a change stream.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ChangeStream"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/changeStreams/{changeStreamsId}",
                  "id": "firestore.projects.databases.changeStreams.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/changeStreams/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the change stream to retrieve. Format is `projects/{project}/databases/{database}/changeStreams/{change_stream}`."
                    }
                  }
                },
                "list": {
                  "description": "Lists all change streams in a database.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/changeStreams",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The parent database to list change streams from. Format is `projects/{project}/databases/{database}`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.changeStreams.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/changeStreams",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListChangeStreamsResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "userCreds": {
              "methods": {
                "resetPassword": {
                  "id": "firestore.projects.databases.userCreds.resetPassword",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:resetPassword",
                  "path": "v1/{+name}:resetPassword",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1ResetUserPasswordRequest"
                  },
                  "description": "Resets the password of a user creds.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  }
                },
                "disable": {
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.userCreds.disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables a user creds. No-op if the user creds are already disabled.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1DisableUserCredsRequest"
                  },
                  "path": "v1/{+name}:disable",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:disable"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.userCreds.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}",
                  "description": "Deletes a user creds.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Create a user creds.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "id": "firestore.projects.databases.userCreds.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}`"
                    },
                    "userCredsId": {
                      "description": "Required. The ID to use for the user creds, which will become the final component of the user creds's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/userCreds",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListUserCredsResponse"
                  },
                  "description": "List all user creds in the database. Note that the returned resource does not contain the secret value itself.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. A parent database name of the form `projects/{project_id}/databases/{database_id}`",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.userCreds.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds",
                  "path": "v1/{+parent}/userCreds",
                  "httpMethod": "GET"
                },
                "enable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables a user creds. No-op if the user creds are already enabled.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.userCreds.enable",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1EnableUserCredsRequest"
                  },
                  "path": "v1/{+name}:enable",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets a user creds resource. Note that the returned resource does not contain the secret value itself.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.userCreds.get"
                }
              }
            },
            "documents": {
              "methods": {
                "listDocuments": {
                  "description": "Lists documents.",
                  "parameters": {
                    "requestOptions.requestTags": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded)."
                    },
                    "recursive": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`."
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token."
                    },
                    "showMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`."
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime"
                    },
                    "transaction": {
                      "type": "string",
                      "location": "query",
                      "format": "byte",
                      "description": "Perform the read as part of an already active transaction."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "collectionId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ]
                },
                "partitionQuery": {
                  "path": "v1/{+parent}:partitionQuery",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "httpMethod": "POST",
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.partitionQuery"
                },
                "patch": {
                  "request": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates or inserts a document.",
                  "id": "firestore.projects.databases.documents.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "currentDocument.updateTime": {
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "type": "string",
                      "required": true
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "requestOptions.requestTags": {
                      "type": "string",
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "repeated": true
                    }
                  }
                },
                "batchWrite": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "parameterOrder": [
                    "database"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "path": "v1/{+database}/documents:batchWrite"
                },
                "list": {
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "id": "firestore.projects.databases.documents.list",
                  "parameters": {
                    "recursive": {
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
                    },
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    },
                    "showMissing": {
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "collectionId": {
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "format": "int32"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "transaction": {
                      "location": "query",
                      "format": "byte",
                      "type": "string",
                      "description": "Perform the read as part of an already active transaction."
                    },
                    "orderBy": {
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "description": "Lists documents.",
                  "httpMethod": "GET"
                },
                "runQuery": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}:runQuery",
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "description": "Runs a query.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.runQuery"
                },
                "get": {
                  "response": {
                    "$ref": "Document"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a single document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "location": "query",
                      "format": "byte",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "description": "Reads the version of the document at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "firestore.projects.databases.documents.get"
                },
                "beginTransaction": {
                  "parameters": {
                    "database": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "path": "v1/{+database}/documents:beginTransaction",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Starts a new transaction.",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "write": {
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "id": "firestore.projects.databases.documents.write",
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "path": "v1/{+database}/documents:write",
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ]
                },
                "commit": {
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1/{+database}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Commits a transaction, while optionally updating documents.",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CommitRequest"
                  }
                },
                "listCollectionIds": {
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom` Use `projects/{project_id}/databases/{database_id}/documents` to list top-level collections."
                    }
                  },
                  "path": "v1/{+parent}:listCollectionIds",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "description": "Lists all the collection IDs underneath a document."
                },
                "executePipeline": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:executePipeline",
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Executes a pipeline query.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExecutePipelineRequest"
                  },
                  "path": "v1/{+database}/documents:executePipeline",
                  "response": {
                    "$ref": "ExecutePipelineResponse"
                  },
                  "id": "firestore.projects.databases.documents.executePipeline",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "description": "Required. Database identifier, in the form `projects/{project}/databases/{database}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a document.",
                  "id": "firestore.projects.databases.documents.delete",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "requestOptions.requestTags": {
                      "type": "string",
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "repeated": true
                    },
                    "currentDocument.exists": {
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listen": {
                  "id": "firestore.projects.databases.documents.listen",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "path": "v1/{+database}/documents:listen",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "response": {
                    "$ref": "ListenResponse"
                  }
                },
                "createDocument": {
                  "path": "v1/{+parent}/{collectionId}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "httpMethod": "POST",
                  "description": "Creates a new document.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "request": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "documentId": {
                      "location": "query",
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service."
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "collectionId": {
                      "required": true,
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "type": "string",
                      "location": "path"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "batchGet": {
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.batchGet",
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "path": "v1/{+database}/documents:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested."
                },
                "rollback": {
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1/{+database}/documents:rollback",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path"
                    }
                  },
                  "description": "Rolls back a transaction.",
                  "id": "firestore.projects.databases.documents.rollback",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "runAggregationQuery": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.runAggregationQuery",
                  "path": "v1/{+parent}:runAggregationQuery",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                }
              }
            },
            "collectionGroups": {
              "resources": {
                "fields": {
                  "methods": {
                    "list": {
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false` or `ttlConfig:*`.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with a filter that includes `indexConfig.usesAncestorConfig:false` or `ttlConfig:*`.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The number of results to return.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1/{+parent}/fields",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "path": "v1/{+name}",
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A field name of the form: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path can be a simple field name, e.g. `address` or a path to fields within `map_value` , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths can be quoted using `` ` `` (backtick). The only character that must be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, `` ` `` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: `` `address.city` `` represents a field named `address.city`, not the map key `city` in the field `address`. `` `*` `` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$"
                        },
                        "updateMask": {
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "description": "Gets the metadata and configuration for a Field.",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.fields.get"
                    }
                  }
                },
                "indexes": {
                  "methods": {
                    "list": {
                      "description": "Lists composite indexes.",
                      "path": "v1/{+parent}/indexes",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "The filter to apply to list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The number of results to return.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/indexes",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "httpMethod": "POST",
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata."
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
[...]
