{
  "version": "v1alpha",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "firebasecrashlytics",
  "batchPath": "batch",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "reports": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "view": {
                      "description": "Optional. Response view. If not set, defaults to `REPORT_VIEW_BASIC`. `REPORT_VIEW_FULL` is not supported for list operations.",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to `REPORT_VIEW_BASIC` view for `ListReports` and `REPORT_VIEW_FULL` for `GetReport`.",
                        "Only includes the report `display_name` and optional `usage`. This is the default view for `ListReports`.",
                        "Includes all fields on report. This is the default view for `GetReport`."
                      ],
                      "enum": [
                        "REPORT_VIEW_UNSPECIFIED",
                        "REPORT_VIEW_BASIC",
                        "REPORT_VIEW_FULL"
                      ]
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "description": "List all of the available reports.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "path": "v1alpha/{+parent}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "description": "Optional. Response view. If not set, defaults to `REPORT_VIEW_FULL`.",
                      "enum": [
                        "REPORT_VIEW_UNSPECIFIED",
                        "REPORT_VIEW_BASIC",
                        "REPORT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to `REPORT_VIEW_BASIC` view for `ListReports` and `REPORT_VIEW_FULL` for `GetReport`.",
                        "Only includes the report `display_name` and optional `usage`. This is the default view for `ListReports`.",
                        "Includes all fields on report. This is the default view for `GetReport`."
                      ],
                      "location": "query"
                    },
                    "filter.issue.states": {
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.operatingSystem.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "filter.device.formFactors": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "type": "string",
                      "repeated": true,
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.state": {
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "deprecated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "metricsMode": {
                      "enum": [
                        "METRICS_MODE_UNSPECIFIED",
                        "METRICS_MODE_OBSERVED",
                        "METRICS_MODE_EXTRAPOLATED"
                      ],
                      "location": "query",
                      "description": "Optional. Controls whether metrics are raw observed values (mobile and web) or extrapolated values (web only). If omitted, defaults to OBSERVED.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Raw counts of the events, sessions, and users that were actually collected.",
                        "Web only. Estimated event counts based on the per-session sampling rate recorded on each event."
                      ]
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query"
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query"
                    },
                    "filter.version.displayNames": {
                      "repeated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\"."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "repeated": true,
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ]
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "granularity": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ]
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Get a report with its computed results.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Report"
                  }
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "parameters": {
                    "filterExpression": {
                      "description": "Optional. Filters events by custom keys (https://firebase.google.com/docs/crashlytics/customize-crash-reports#add-keys). Supported forms: * Equality: `custom_keys.level = \"vip\"` or `custom_keys.level:\"vip\"` * Presence: `custom_keys.level:*` * OR across values of one key: `custom_keys.level = \"vip\" OR custom_keys.level = \"enterprise\"` * AND across different keys: `custom_keys.level = \"vip\" AND custom_keys.region = \"us\"` Keys are case-sensitive. Keys and values containing spaces must be double-quoted, for example `custom_keys.\"app state\" = \"background\"`. OR across different keys, repeating a key within an AND, NOT, and comparators other than `=` and `:` are rejected with INVALID_ARGUMENT. Wildcards are not supported in values; use `custom_keys.:*` to match events that set a key to any value. This filter expression applies in addition to the `filter` field above. The syntax is a subset of AIP-160 (https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true,
                      "location": "query"
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query"
                    },
                    "filter.issue.signals": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "repeated": true,
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true
                    },
                    "filter.browser.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\"."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask"
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query"
                    },
                    "filter.issue.errorTypes": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "repeated": true,
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ]
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "filter.device.formFactors": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    }
                  },
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "path": "v1alpha/{+parent}/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events"
                },
                "batchGet": {
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "names": {
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned."
                    }
                  },
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Fetch a batch of up to 100 events by name."
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$"
                    }
                  }
                }
              }
            },
            "issues": {
              "methods": {
                "batchUpdate": {
                  "httpMethod": "POST",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  }
                },
                "get": {
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve an issue.",
                  "response": {
                    "$ref": "Issue"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Change the state of an issue.",
                  "httpMethod": "PATCH",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "response": {
                    "$ref": "Issue"
                  },
                  "request": {
                    "$ref": "Issue"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Delete a note by its name.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "path": "v1alpha/{+parent}/notes",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "POST",
                      "description": "Create a new note for an issue.",
                      "response": {
                        "$ref": "Note"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Note"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1alpha/{+parent}/notes",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous calls.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "ListNotesResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Firebase Crashlytics",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "id": "firebasecrashlytics:v1alpha",
  "revision": "20261006",
  "title": "Firebase Crashlytics API",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "DeleteUserCrashReportsResponse": {
      "id": "DeleteUserCrashReportsResponse",
      "properties": {
        "targetCompleteTime": {
          "format": "google-datetime",
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string"
        }
      },
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Storage": {
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Bytes used."
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Bytes free."
        }
      },
      "type": "object",
      "id": "Storage",
      "description": "Mobile device disk/flash usage. Not reported for all devices."
    },
    "Memory": {
      "id": "Memory",
      "properties": {
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        },
        "used": {
          "format": "int64",
          "description": "Bytes in use.",
          "type": "string"
        }
      },
      "description": "Mobile device memory usage.",
      "type": "object"
    },
    "BatchUpdateIssuesResponse": {
      "type": "object",
      "id": "BatchUpdateIssuesResponse",
      "description": "Response message for the BatchUpdateIssues method.",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest."
        }
      }
    },
    "Thread": {
      "type": "object",
      "id": "Thread",
      "properties": {
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "threadState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ]
        },
        "crashAddress": {
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "type": "string",
          "format": "int64"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred."
        },
        "crashed": {
          "type": "boolean",
          "description": "True when the thread has crashed."
        },
        "sysThreadId": {
          "format": "int64",
          "type": "string",
          "description": "The system id of the thread, only available for ANR threads."
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the thread."
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "threadId": {
          "format": "int64",
          "type": "string",
          "description": "The id of the thread, only available for ANR threads."
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        }
      },
      "description": "An application thread."
    },
    "IssueVariant": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "type": "object",
      "id": "IssueVariant"
    },
    "Breadcrumb": {
      "properties": {
        "title": {
          "description": "Analytic event name.",
          "type": "string"
        },
        "params": {
          "description": "Event parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "eventTime": {
          "description": "Device timestamp for the event.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Analytics events recorded during the session.",
      "id": "Breadcrumb",
      "type": "object"
    },
    "BatchGetEventsResponse": {
      "id": "BatchGetEventsResponse",
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "description": "Response message for the BatchGetEvents method."
    },
    "ReportGroup": {
      "type": "object",
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "IntervalMetrics"
          },
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "type": "array"
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "webMetricsGroup": {
          "$ref": "WebMetricsGroup",
          "description": "Web metrics group."
        },
        "subgroups": {
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version."
        }
      }
    },
    "IntervalMetrics": {
      "type": "object",
      "properties": {
        "impactedUsersCount": {
          "type": "string",
          "description": "The number of distinct users in the set of events.",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "totalSessionsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct sessions."
        },
        "impactedSessionsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct sessions in the set of events."
        },
        "totalUsersCount": {
          "description": "The number of distinct users.",
          "type": "string",
          "format": "int64"
        },
        "sessionsCount": {
          "description": "Deprecated: Prefer `impacted_sessions_count`. The number of distinct sessions in the set of events.",
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "eventsCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of events in the interval."
        },
        "startTime": {
          "type": "string",
          "description": "The start of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "crashFreeSessionsPercentage": {
          "description": "Mobile only. Percentage of crash-free sessions. (total_sessions_count - impacted_sessions_count) / total_sessions_count * 100.",
          "format": "float",
          "type": "number"
        },
        "crashFreeUsersPercentage": {
          "type": "number",
          "format": "float",
          "description": "Mobile only. Percentage of crash-free users. (total_users_count - impacted_users_count) / total_users_count * 100"
        }
      },
      "id": "IntervalMetrics",
      "description": "A set of computed metric values for a time interval"
    },
    "ListReportsResponse": {
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results."
        }
      },
      "id": "ListReportsResponse",
      "type": "object"
    },
    "Log": {
      "id": "Log",
      "type": "object",
      "description": "Developer-provided log lines recorded during the session.",
      "properties": {
        "logTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp when the line was logged."
        },
        "message": {
          "type": "string",
          "description": "Log message."
        }
      }
    },
    "WebMetricsGroup": {
      "id": "WebMetricsGroup",
      "description": "Represents a grouping for metrics specific to web applications.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      }
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The displayable title of the report.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "Output only. The total number of groups retrievable by the request.",
          "type": "integer",
          "readOnly": true
        },
        "groups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array"
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "properties": {
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "code": {
          "description": "Error code associated with the app's custom logged NSError.",
          "format": "int64",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the error."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "title": {
          "description": "The title of the error.",
          "type": "string"
        }
      }
    },
    "Frame": {
      "properties": {
        "file": {
          "description": "The name of the source file in which the frame is found.",
          "type": "string"
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The column on the line."
        },
        "owner": {
          "type": "string",
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM."
        },
        "line": {
          "description": "The line number in the file of the frame.",
          "format": "int64",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "format": "int64"
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        }
      },
      "description": "A frame in a stacktrace.",
      "type": "object",
      "id": "Frame"
    },
    "Note": {
      "description": "Developer notes for an issue.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the note was created."
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email of the author of the note."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "readOnly": true
        }
      },
      "id": "Note"
    },
    "Event": {
      "id": "Event",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "type": "object",
      "properties": {
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "customKeys": {
          "type": "object",
          "description": "Custom keys set by the developer during the session.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "breadcrumbs": {
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "items": {
            "$ref": "Thread"
          },
          "type": "array"
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "$ref": "Exception"
          },
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown."
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "installationUuid": {
          "type": "string",
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users."
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "issue": {
          "$ref": "Issue",
          "description": "Details for the [Issue] assigned to this [Event]."
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        },
        "receivedTime": {
          "description": "Server timestamp that the event was received by Crashlytics.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "type": "string",
          "readOnly": true
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "Log"
          },
          "description": "Log messages recorded by the developer during the session."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace."
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "blameFrame": {
          "$ref": "Frame",
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer."
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "eventTime": {
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime",
          "type": "string"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        }
      }
    },
    "FirebaseSessionEvent": {
      "properties": {
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "eventType": {
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string",
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "format": "google-datetime",
          "type": "string"
        },
        "sessionIndex": {
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32",
          "type": "integer"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "firebaseInstallationId": {
          "type": "string",
          "description": "Uniquely identifies a device with Firebase apps installed."
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        }
      },
      "id": "FirebaseSessionEvent",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "type": "object"
    },
    "Browser": {
      "id": "Browser",
      "type": "object",
      "description": "Web browser metadata.",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Browser display version number."
        },
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        },
        "browser": {
          "description": "Browser name.",
          "type": "string"
        }
      }
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "properties": {
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.)."
        },
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperatingSystem"
    },
    "IssueSignals": {
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Supporting detail information."
        },
        "signal": {
          "description": "Output only. The signal name.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ]
        }
      },
      "id": "IssueSignals",
      "type": "object",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer."
    },
    "Device": {
      "description": "Mobile device metadata.",
      "properties": {
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\"."
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "formFactor": {
          "description": "See FormFactor message.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ]
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Device"
    },
    "Issue": {
      "type": "object",
      "id": "Issue",
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "properties": {
        "firstSeenTime": {
          "readOnly": true,
          "description": "Output only. Immutable. The first time this issue was seen.",
          "format": "google-datetime",
          "type": "string"
        },
        "signals": {
          "type": "array",
          "items": {
            "$ref": "IssueSignals"
          },
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Unique identifier for the issue."
        },
        "lastSeenTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time this issue was seen.",
          "type": "string"
        },
        "notesCount": {
          "type": "string",
          "description": "Output only. The number of notes attached to an issue.",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "type": "string",
          "readOnly": true
        },
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "variants": {
          "items": {
            "$ref": "IssueVariant"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name."
        },
        "lastSeenVersion": {
          "type": "string",
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        },
        "sampleEvent": {
          "type": "string",
          "description": "Output only. The resource name for a sample event in this issue.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ]
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the issue state was last changed."
        },
        "subtitle": {
          "readOnly": true,
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "firstSeenVersion": {
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        }
      }
    },
    "ListEventsResponse": {
      "description": "Response message for the ListEvents method.",
      "id": "ListEventsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        },
        "events": {
          "type": "array",
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          }
        }
      }
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        },
        "notes": {
          "description": "Returns notes ordered descending by the timestamp.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        }
      },
      "id": "ListNotesResponse",
      "description": "Response message for the ListNotes method."
    },
    "Version": {
      "id": "Version",
      "description": "Application software version.",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array",
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        },
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        }
      },
      "type": "object"
    },
    "BatchUpdateIssuesRequest": {
      "id": "BatchUpdateIssuesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "items": {
            "$ref": "UpdateIssueRequest"
          }
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field."
        }
      },
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method."
    },
    "UpdateIssueRequest": {
      "id": "UpdateIssueRequest",
      "properties": {
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        },
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "description": "Request message for the UpdateIssue method."
    },
    "User": {
      "id": "User",
      "type": "object",
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      }
    },
    "PlayTrack": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...).",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names."
        }
      },
      "id": "PlayTrack",
      "description": "Describes a release track in the Play Developer Console.",
      "type": "object"
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "exceptionMessage": {
          "type": "string",
          "description": "A message associated with the exception."
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "subtitle": {
          "description": "The subtitle of the exception.",
          "type": "string"
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the exception's stacktrace.",
          "type": "array"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        }
      },
      "id": "Exception",
      "type": "object"
    }
  },
  "version_module": true
}