{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "title": "Firebase App Check API",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "firebaseappcheck:v1beta",
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "mtlsRootUrl": "https://firebaseappcheck.mtls.googleapis.com/",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "canonicalName": "Firebaseappcheck",
  "revision": "20260829",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "name": "firebaseappcheck",
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "batchPath": "batch",
  "schemas": {
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity": {
      "properties": {
        "allowUnrecognizedVersion": {
          "type": "boolean",
          "description": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
        }
      },
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity"
    },
    "GoogleFirebaseAppcheckV1betaMintAppCheckTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaMintAppCheckTokenRequest",
      "type": "object",
      "description": "Request message for the MintAppCheckToken method.",
      "properties": {
        "limitedUseConfig": {
          "description": "Optional. If specified, the returned App Check token will be a limited-use token minted according to the specified configuration options.",
          "$ref": "GoogleFirebaseAppcheckV1betaLimitedUseConfig"
        },
        "tokenTtl": {
          "description": "Optional. If specified, the returned App Check token will be a session token, valid for the specified duration. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest": {
      "type": "object",
      "description": "Request message for the ExchangeRecaptchaEnterpriseToken method.",
      "properties": {
        "recaptchaEnterpriseToken": {
          "type": "string",
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages)."
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaMintAppCheckTokenResponse": {
      "type": "object",
      "description": "Response message for the MintAppCheckToken method.",
      "properties": {
        "ttl": {
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "token": {
          "description": "The App Check token, used to access backend services protected by App Check. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaMintAppCheckTokenResponse"
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest",
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "properties": {
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest",
      "description": "Request message for the ExchangeRecaptchaToken method.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "recaptchaToken": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest": {
      "description": "Request message for the ExchangeCustomToken method.",
      "type": "object",
      "properties": {
        "customToken": {
          "description": "Required. A custom token signed using your project's Admin SDK service account credentials.",
          "type": "string"
        },
        "jti": {
          "description": "Optional. When `limited_use` is set to `true`, this field specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. *Limited use* App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. An error is returned if this field is specified without setting `limited_use` to `true`. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty and `limited_use` is set to `true`, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks. When `limited_use` is set to `false`, the presence and the contents of the `jti` claim in the returned App Check token are unspecified. To ensure that the returned App Check token is eligible for limited-use functionality, set `limited_use` to `true`.",
          "type": "string"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity": {
      "type": "object",
      "properties": {
        "minDeviceRecognitionLevel": {
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ],
          "enumDescriptions": [
            "Default value. Do not specify this value directly. If this value is detected in a configuration, it will have the same effect as the value `NO_INTEGRITY`.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ],
          "type": "string",
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`."
        }
      },
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity"
    },
    "GoogleFirebaseAppcheckV1betaListServicesResponse": {
      "id": "GoogleFirebaseAppcheckV1betaListServicesResponse",
      "description": "Response message for the ListServices method.",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "description": "The Services retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse",
      "properties": {
        "services": {
          "description": "Service objects after the updates have been applied.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaService"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the BatchUpdateServices method."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse": {
      "description": "Response message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse",
      "properties": {
        "resourcePolicies": {
          "description": "ResourcePolicy objects after the updates have been applied.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest": {
      "description": "Request message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed.",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest",
      "properties": {
        "playIntegrityToken": {
          "type": "string",
          "description": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for the ExchangePlayIntegrityToken method."
    },
    "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest": {
      "description": "Request message for the BatchUpdateServices method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed.",
          "type": "string"
        },
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest"
          },
          "description": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse": {
      "properties": {
        "challenge": {
          "format": "byte",
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse",
      "type": "object",
      "description": "Response message for the GenerateAppAttestChallenge method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest": {
      "description": "Request message for the ExchangeAppAttestAttestation method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest",
      "properties": {
        "keyId": {
          "type": "string",
          "format": "byte",
          "description": "Required. The key ID generated by App Attest for the client app."
        },
        "challenge": {
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "type": "string",
          "format": "byte"
        },
        "attestationStatement": {
          "format": "byte",
          "description": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response.",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse": {
      "properties": {
        "configs": {
          "description": "PlayIntegrityConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
          }
        }
      },
      "type": "object",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1betaDeviceCheckConfig": {
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "type": "object",
      "properties": {
        "privateKeySet": {
          "readOnly": true,
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
        },
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse",
      "deprecated": true,
      "description": "Response message for the BatchGetRecaptchaConfigs method.",
      "properties": {
        "configs": {
          "type": "array",
          "description": "RecaptchaConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest": {
      "id": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest",
      "description": "Request message for the GenerateAppAttestChallenge method.",
      "properties": {},
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig": {
      "description": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "properties": {
        "tokenTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "riskAnalysis": {
          "description": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
        },
        "siteKey": {
          "description": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaDebugToken": {
      "id": "GoogleFirebaseAppcheckV1betaDebugToken",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. A human readable display name used to identify this debug token.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "updateTime": {
          "description": "Output only. Timestamp when this debug token was most recently updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during a UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response."
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
        }
      },
      "description": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services."
    },
    "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest": {
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
          "type": "string"
        },
        "resourcePolicy": {
          "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy",
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaListDebugTokensResponse": {
      "type": "object",
      "description": "Response message for the ListDebugTokens method.",
      "id": "GoogleFirebaseAppcheckV1betaListDebugTokensResponse",
      "properties": {
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        },
        "debugTokens": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDebugToken"
          },
          "description": "The DebugTokens retrieved."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest": {
      "description": "Request message for the GeneratePlayIntegrityChallenge method.",
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaV3Config": {
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config",
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "properties": {
        "minValidScore": {
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```"
        },
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "siteSecretSet": {
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true,
          "type": "boolean"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaPublicJwkSet": {
      "id": "GoogleFirebaseAppcheckV1betaPublicJwkSet",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwk"
          },
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5).",
          "type": "array"
        }
      },
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaConfig": {
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "properties": {
        "minValidScore": {
          "type": "number",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "format": "float"
        },
        "siteSecretSet": {
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```"
        },
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
        }
      },
      "deprecated": true,
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaConfig"
    },
    "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis": {
      "type": "object",
      "properties": {
        "minValidScore": {
          "format": "float",
          "type": "number",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis",
      "description": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
    },
    "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest": {
      "description": "Request message for the ExchangeDeviceCheckToken method.",
      "properties": {
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "deviceToken": {
          "type": "string",
          "description": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails": {
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails",
      "type": "object",
      "properties": {
        "requireLicensed": {
          "description": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`.",
          "type": "boolean"
        }
      },
      "description": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
    },
    "GoogleFirebaseAppcheckV1betaAttestationTokenResponse": {
      "deprecated": true,
      "description": "Encapsulates an *App Check token*, which are used to access Firebase services protected by App Check.",
      "properties": {
        "attestationToken": {
          "description": "An App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and Firebase project. This token is used to access Firebase services protected by App Check.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaAppCheckToken": {
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check.",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        },
        "attestationToken": {
          "type": "string",
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "deprecated": true
        },
        "token": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaAppCheckToken"
    },
    "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse": {
      "description": "Response message for the ListResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted."
        },
        "resourcePolicies": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaResourcePolicy"
          },
          "description": "The ResourcePolicy objects retrieved.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaUpdateServiceRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
        },
        "service": {
          "description": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1betaService"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaUpdateServiceRequest",
      "type": "object",
      "description": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse",
      "type": "object",
      "properties": {
        "artifact": {
          "type": "string",
          "description": "An artifact that can be used in future calls to ExchangeAppAttestAssertion.",
          "format": "byte"
        },
        "attestationToken": {
          "$ref": "GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
          "deprecated": true,
          "description": "Encapsulates an App Check token."
        },
        "appCheckToken": {
          "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken",
          "description": "Encapsulates an App Check token."
        }
      },
      "description": "Response message for the ExchangeAppAttestAttestation method."
    },
    "GoogleFirebaseAppcheckV1betaResourcePolicy": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaResourcePolicy",
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        },
        "enforcementMode": {
          "type": "string",
          "description": "Required. The baseline protection EnforcementMode for this resource. This will override the service-level baseline protection EnforcementMode.",
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ]
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse": {
      "properties": {
        "configs": {
          "description": "DeviceCheckConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
          }
        }
      },
      "type": "object",
      "description": "Response message for the BatchGetDeviceCheckConfigs method.",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse": {
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
          },
          "description": "RecaptchaEnterpriseConfigs retrieved."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse",
      "description": "Response message for the BatchGetRecaptchaEnterpriseConfigs method."
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse": {
      "type": "object",
      "properties": {
        "alreadyConsumed": {
          "description": "Whether this token was already consumed. If this is the first time this method has seen the given App Check token, this field will be omitted from the response. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response containing this field, regardless whether the token was already consumed.",
          "type": "boolean"
        }
      },
      "description": "Response message for the VerifyAppCheckToken method.",
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse"
    },
    "GoogleFirebaseAppcheckV1betaService": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaService",
      "properties": {
        "enforcementMode": {
          "type": "string",
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "description": "Required. The baseline protection EnforcementMode for this service."
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "replayProtection": {
          "type": "string",
          "description": "Optional. The replay protection EnforcementMode for this service. Note that this field cannot be set to a level higher than that of baseline protection. For example, if the enforcement mode for baseline protection is set to `UNENFORCED`, this field cannot be set to `ENFORCED`. In order to enforce replay protection, you must first enforce App Check's baseline protection. An HTTP 400 error will be returned in this case. By default, this field is set to `OFF`. Setting this field to `UNENFORCED` or `ENFORCED` is considered opting into replay protection. Opting in can impact your requests by adding some latency and sometimes cost (depending on your attestation provider). To opt out of replay protection after opting in, set this field to `OFF`.",
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this service configuration object was most recently updated."
        }
      },
      "description": "The enforcement configuration for a Firebase service supported by App Check."
    },
    "GoogleFirebaseAppcheckV1betaPublicJwk": {
      "id": "GoogleFirebaseAppcheckV1betaPublicJwk",
      "type": "object",
      "properties": {
        "use": {
          "description": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2).",
          "type": "string"
        },
        "kid": {
          "type": "string",
          "description": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5)."
        },
        "n": {
          "type": "string",
          "description": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
        },
        "kty": {
          "type": "string",
          "description": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
        },
        "alg": {
          "type": "string",
          "description": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4)."
        },
        "e": {
          "description": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2).",
          "type": "string"
        }
      },
      "description": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1)."
    },
    "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest": {
      "properties": {
        "assertion": {
          "description": "Required. The CBOR-encoded assertion returned by the client-side App Attest API.",
          "format": "byte",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "artifact": {
          "description": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation.",
          "type": "string",
          "format": "byte"
        },
        "challenge": {
          "type": "string",
          "format": "byte",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest",
      "description": "Request message for the ExchangeAppAttestAssertion method."
    },
    "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest": {
      "description": "Request message for the VerifyAppCheckToken method.",
      "id": "GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest",
      "type": "object",
      "properties": {
        "appCheckToken": {
          "description": "Required. The App Check token to verify. App Check tokens exchanged from the SafetyNet provider are not supported; an HTTP 400 error will be returned.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaLimitedUseConfig": {
      "description": "Configuration for a limited-use App Check token.",
      "properties": {
        "jti": {
          "description": "Optional. Specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. Limited-use App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaLimitedUseConfig",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse": {
      "properties": {
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        },
        "challenge": {
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse",
      "type": "object",
      "description": "Response message for the GeneratePlayIntegrityChallenge method."
    },
    "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest",
      "type": "object",
      "description": "Request message for the ExchangeDebugToken method.",
      "properties": {
        "debugToken": {
          "description": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken.",
          "type": "string"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      }
    },
    "GoogleFirebaseAppcheckV1betaAppAttestConfig": {
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
          "type": "string"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch).",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
    },
    "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse",
      "properties": {
        "configs": {
          "description": "RecaptchaV3Configs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the BatchGetRecaptchaV3Configs method."
    },
    "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse": {
      "description": "Response message for the BatchGetAppAttestConfigs method.",
      "properties": {
        "configs": {
          "description": "AppAttestConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1betaAppAttestConfig"
          }
        }
      },
      "id": "GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig": {
      "type": "object",
      "properties": {
        "accountDetails": {
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails",
          "description": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
        },
        "deviceIntegrity": {
          "description": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string",
          "format": "google-duration"
        },
        "appIntegrity": {
          "$ref": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity",
          "description": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
        }
      },
      "description": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create).",
      "id": "GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
    }
  },
  "resources": {
    "jwks": {
      "methods": {
        "get": {
          "id": "firebaseappcheck.jwks.get",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "pattern": "^jwks$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "GET",
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "flatPath": "v1beta/jwks",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1betaPublicJwkSet"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}"
        }
      }
    },
    "projects": {
      "resources": {
        "apps": {
          "methods": {
            "exchangeRecaptchaToken": {
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaToken",
              "deprecated": true,
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "path": "v1beta/{+app}:exchangeRecaptchaToken",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeDeviceCheckToken": {
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest"
              },
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "path": "v1beta/{+app}:exchangeDeviceCheckToken",
              "httpMethod": "POST",
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeCustomToken": {
              "httpMethod": "POST",
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "path": "v1beta/{+app}:exchangeCustomToken"
            },
            "exchangeAppAttestAssertion": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ],
              "path": "v1beta/{+app}:exchangeAppAttestAssertion",
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion",
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "exchangeDebugToken": {
              "parameters": {
                "app": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
              "path": "v1beta/{+app}:exchangeDebugToken",
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              }
            },
            "mintAppCheckToken": {
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:mintAppCheckToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaMintAppCheckTokenResponse"
              },
              "path": "v1beta/{+app}:mintAppCheckToken",
              "id": "firebaseappcheck.projects.apps.mintAppCheckToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaMintAppCheckTokenRequest"
              },
              "parameters": {
                "app": {
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Mints a new App Check token for the specified Firebase App. This method is intended to be called from a privileged environment where the caller can be authorized via Cloud IAM; for example, using a service account. To call this method, the caller must have the [`firebaseappcheck.googleapis.com/tokens.mint`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission. Returns a MintAppCheckTokenResponse."
            },
            "exchangeAppAttestAttestation": {
              "path": "v1beta/{+app}:exchangeAppAttestAttestation",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse"
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest"
              },
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ]
            },
            "generatePlayIntegrityChallenge": {
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "path": "v1beta/{+app}:generatePlayIntegrityChallenge",
              "parameterOrder": [
                "app"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest"
              },
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse"
              },
              "httpMethod": "POST"
            },
            "exchangeRecaptchaEnterpriseToken": {
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "parameterOrder": [
                "app"
              ],
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an App Check token AppCheckToken.",
              "parameters": {
                "app": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard."
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta/{+app}:exchangeRecaptchaEnterpriseToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest"
              }
            },
            "generateAppAttestChallenge": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "parameterOrder": [
                "app"
              ],
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta/{+app}:generateAppAttestChallenge"
            },
            "exchangeRecaptchaV3Token": {
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "parameters": {
                "app": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest"
              },
              "path": "v1beta/{+app}:exchangeRecaptchaV3Token",
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken."
            },
            "exchangePlayIntegrityToken": {
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1betaAppCheckToken"
              },
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken",
              "parameterOrder": [
                "app"
              ],
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "httpMethod": "POST",
              "path": "v1beta/{+app}:exchangePlayIntegrityToken",
              "parameters": {
                "app": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "recaptchaEnterpriseConfig": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "location": "path"
                    }
                  }
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "names": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch."
[...]
