{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://firebasedataconnect.mtls.googleapis.com/",
  "schemas": {
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "File": {
      "properties": {
        "content": {
          "description": "Required. The file's textual content.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. The file name including folder path, if applicable. The path should be relative to a local workspace (e.g. dataconnect/(schema|connector)/*.gql) and not an absolute path (e.g. /absolute/path/(schema|connector)/*.gql)."
        }
      },
      "type": "object",
      "description": "Individual files.",
      "id": "File"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "properties": {
        "files": {
          "type": "array",
          "description": "Required. The files that comprise the source set.",
          "items": {
            "$ref": "File"
          }
        }
      },
      "description": "Used to represent a set of source files."
    },
    "Datasource": {
      "description": "A data source that backs Firebase SQL Connect services.",
      "id": "Datasource",
      "type": "object",
      "properties": {
        "postgresql": {
          "$ref": "PostgreSql",
          "description": "PostgreSQL configurations."
        },
        "httpGraphql": {
          "$ref": "HttpGraphql",
          "description": "HTTP GraphQL server webhook configurations."
        }
      }
    },
    "GraphqlResponse": {
      "id": "GraphqlResponse",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GraphqlError"
          },
          "description": "Errors of this response. If the data entry in the response is not present, the errors entry must be present. It conforms to https://spec.graphql.org/draft/#sec-Errors ."
        },
        "extensions": {
          "description": "Additional response information. It conforms to https://spec.graphql.org/draft/#sec-Extensions .",
          "$ref": "GraphqlResponseExtensions"
        },
        "data": {
          "type": "object",
          "description": "The result of the execution of the requested operation. If an error was raised before execution begins, the data entry should not be present in the result. (a request error: https://spec.graphql.org/draft/#sec-Errors.Request-Errors) If an error was raised during the execution that prevented a valid response, the data entry in the response should be null. (a field error: https://spec.graphql.org/draft/#sec-Errors.Error-Result-Format)",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "The GraphQL response from Firebase SQL Connect. It strives to match the GraphQL over HTTP spec. Note: Firebase SQL Connect always responds with `Content-Type: application/json`. https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#body"
    },
    "SourceLocation": {
      "description": "SourceLocation references a location in a GraphQL source.",
      "type": "object",
      "properties": {
        "column": {
          "format": "int32",
          "description": "Column number starting at 1.",
          "type": "integer"
        },
        "line": {
          "description": "Line number starting at 1.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SourceLocation"
    },
    "CloudSqlInstance": {
      "description": "Settings for CloudSQL instance configuration.",
      "type": "object",
      "id": "CloudSqlInstance",
      "properties": {
        "edition": {
          "description": "Output only. [Output only] The Cloud SQL instance edition.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified edition.",
            "Enterprise edition.",
            "Enterprise Plus edition.",
            "Developer edition (includes AI Developer edition)."
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_DEVELOPER"
          ]
        },
        "instance": {
          "description": "Required. Name of the CloudSQL instance, in the format: ``` projects/{project}/locations/{location}/instances/{instance} ```",
          "type": "string"
        }
      }
    },
    "Part": {
      "type": "object",
      "description": "Represents a chunk of content.",
      "properties": {
        "codeChunk": {
          "$ref": "CodeChunk",
          "description": "Optional. A chunk of code."
        },
        "textChunk": {
          "description": "Optional. A chunk of text.",
          "$ref": "TextChunk"
        }
      },
      "id": "Part"
    },
    "ListSchemasResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "schemas": {
          "type": "array",
          "description": "The list of Schemas.",
          "items": {
            "$ref": "Schema"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListSchemasResponse",
      "description": "Message for response to listing Schemas. By default, `schemas.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`.",
      "type": "object"
    },
    "ExecuteMutationRequest": {
      "properties": {
        "operationName": {
          "type": "string",
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name."
        },
        "variables": {
          "description": "Optional. Values for GraphQL variables provided in this request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "The ExecuteMutation request to Firebase SQL Connect.",
      "type": "object",
      "id": "ExecuteMutationRequest"
    },
    "GraphqlRequest": {
      "id": "GraphqlRequest",
      "description": "The GraphQL request to Firebase SQL Connect. It strives to match the GraphQL over HTTP spec. https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#post",
      "type": "object",
      "properties": {
        "variables": {
          "description": "Optional. Values for GraphQL variables provided in this request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "operationName": {
          "type": "string",
          "description": "Optional. The name of the GraphQL operation name. Required only if `query` contains multiple operations. See https://graphql.org/learn/queries/#operation-name."
        },
        "query": {
          "description": "Required. The GraphQL query document source.",
          "type": "string"
        },
        "extensions": {
          "$ref": "GraphqlRequestExtensions",
          "description": "Optional. Additional GraphQL request information."
        }
      }
    },
    "ClientCache": {
      "id": "ClientCache",
      "type": "object",
      "description": "Client caching settings of a connector.",
      "properties": {
        "entityIdIncluded": {
          "description": "Optional. A field that, if true, means that responses served by this connector will include entityIds in GraphQL response extensions. This helps the client SDK cache responses in an improved way, known as \"normalized caching\", if caching is enabled on the client. Each entityId is a stable key based on primary key values. Therefore, this field should only be set to true if the primary keys of accessed tables do not contain sensitive information.",
          "type": "boolean"
        },
        "strictValidationEnabled": {
          "description": "Optional. A field that, if true, enables stricter validation on the connector source code to make sure the operation response shapes are suitable for client-side caching. This can include additional errors and warnings. For example, using the same alias for different fields is disallowed, as it may cause conflicts or confusion with normalized caching. (This field is off by default for compatibility, but enabling it is highly recommended to catch common caching pitfalls.)",
          "type": "boolean"
        }
      }
    },
    "HttpGraphql": {
      "description": "Settings for HTTP GraphQL server webhook.",
      "type": "object",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "Optional. Timeout duration for the HTTP request.",
          "type": "string"
        },
        "uri": {
          "description": "Required. The endpoint of the HTTP GraphQL server.",
          "type": "string"
        }
      },
      "id": "HttpGraphql"
    },
    "Schema": {
      "id": "Schema",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The relative resource name of the schema, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ``` Right now, the only supported schema is \"main\"."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Stores small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "format": "google-datetime"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that if true, indicates that the system is working to compile and deploy the schema.",
          "type": "boolean"
        },
        "source": {
          "$ref": "Source",
          "description": "Required. The source files that comprise the application schema."
        },
        "datasources": {
          "description": "Required. The data sources linked in the schema.",
          "type": "array",
          "items": {
            "$ref": "Datasource"
          }
        }
      },
      "description": "The application schema of a Firebase SQL Connect service."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "PostgreSql": {
      "properties": {
        "schemaValidation": {
          "description": "Optional. Configure how much PostgreSQL schema validation to perform against the live database before deploying the FDC schema.",
          "enumDescriptions": [
            "Unspecified SQL schema validation. Defaults to STRICT.",
            "Skips SQL schema validation. Deployment succeeds even if the database is pending provisioning, unavailable, or incompatible. Under NONE, newly created services route requests to a temporary ephemeral database (in-memory emulation) so the API can be tested immediately. Ephemeral data expires after 24 hours unless successfully validated or migrated to a linked database.",
            "Connects to the SQL database and validates that the SQL DDL matches the FDC schema exactly. Any discrepancies (extra or missing tables/columns) result in a FAILED_PRECONDITION error with required SQL diffs. Recommended for greenfield projects to ensure full schema consistency.",
            "Connects to the SQL database and validates that it contains all the SQL resources required by the FDC schema. Succeeds even if the database contains additional tables or columns not used by FDC. Suitable when sharing a database with other tools or legacy applications."
          ],
          "type": "string",
          "enum": [
            "SQL_SCHEMA_VALIDATION_UNSPECIFIED",
            "NONE",
            "STRICT",
            "COMPATIBLE"
          ]
        },
        "schema": {
          "description": "Optional. User-configured PostgreSQL schema. Defaults to \"public\" if not specified.",
          "type": "string"
        },
        "cloudSql": {
          "description": "Cloud SQL configurations.",
          "$ref": "CloudSqlInstance"
        },
        "database": {
          "description": "Required. Name of the PostgreSQL database.",
          "type": "string"
        },
        "schemaMigration": {
          "enumDescriptions": [
            "Unspecified SQL schema migration.",
            "Waits for the Cloud SQL instance to be provisioned and automatically creates necessary SQL resources (tables, columns, etc.) to match the desired FDC schema. This operation is strictly additive and executes as a Long-Running Operation during provisioning. Rejects migrations on a non-empty existing SQL schema."
          ],
          "description": "Optional. Configure how to perform automatic PostgreSQL schema migration before deploying the FDC schema. This is an additive-only operation.",
          "type": "string",
          "enum": [
            "SQL_SCHEMA_MIGRATION_UNSPECIFIED",
            "MIGRATE_COMPATIBLE"
          ]
        },
        "ephemeral": {
          "description": "Output only. Ephemeral is true if this SQL Connect service is served from temporary in-memory emulation of Postgres. While Cloud SQL is being provisioned, the SQL Connect service provides the ephemeral service to help developers get started. Once the Cloud SQL is provisioned, SQL Connect service will transfer its data on a best-effort basis to the Cloud SQL instance. WARNING: Ephemeral data sources will expire after 24 hour. The data will be lost if they aren't transferred to the Cloud SQL instance. WARNING: When `ephemeral=true`, mutations to the database are not guaranteed to be durably persisted, even if an OK status code is returned. All or parts of the data may be lost or reverted to earlier versions.",
          "readOnly": true,
          "type": "boolean"
        },
        "unlinked": {
          "description": "No Postgres data source is linked. If set, don't allow `database` and `schema_validation` to be configured.",
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "PostgreSql",
      "description": "Settings for PostgreSQL data source.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Service": {
      "id": "Service",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Optional. Input only. The source files for service, schemas, and connectors."
        },
        "reconciling": {
          "description": "Output only. A field that if true, indicates that the system is working update the service.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "connectors": {
          "readOnly": true,
          "items": {
            "$ref": "Connector"
          },
          "type": "array",
          "description": "Output only. The list of connectors in this service."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Stores small amounts of arbitrary data."
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "schemas": {
          "description": "Output only. The list of schemas in this service.",
          "items": {
            "$ref": "Schema"
          },
          "readOnly": true,
          "type": "array"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Mutable human-readable name. 63 character limit."
        }
      },
      "description": "A Firebase SQL Connect service.",
      "type": "object"
    },
    "GraphqlRequestExtensions": {
      "id": "GraphqlRequestExtensions",
      "description": "GraphqlRequestExtensions contains additional information of `GraphqlRequest`.",
      "properties": {
        "impersonate": {
          "$ref": "Impersonation",
          "description": "Optional. If set, impersonate a request with given Firebase Auth context and evaluate the auth policies on the operation. If omitted, bypass any defined auth policies."
        }
      },
      "type": "object"
    },
    "GenerateQueryResponse": {
      "id": "GenerateQueryResponse",
      "properties": {
        "status": {
          "$ref": "GenerationStatus",
          "description": "Essential for providing responsive UI feedback (e.g., a spinner or \"Analyzing schema...\" step)."
        },
        "part": {
          "$ref": "Part",
          "description": "Required. The content from the current conversational turn."
        }
      },
      "type": "object",
      "description": "Output for streaming generate query requests"
    },
    "CodeChunk": {
      "id": "CodeChunk",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content string."
        },
        "languageCode": {
          "description": "Optional. Specifies the language if we expand support beyond GraphQL (e.g., SQL or JSON) The standard is BCP-47 language code.",
          "type": "string"
        }
      },
      "description": "A chunk of code.",
      "type": "object"
    },
    "ExecuteQueryRequest": {
      "properties": {
        "operationName": {
          "type": "string",
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name."
        },
        "variables": {
          "description": "Optional. Values for GraphQL variables provided in this request.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "ExecuteQueryRequest",
      "description": "The ExecuteQuery request to Firebase SQL Connect."
    },
    "Workaround": {
      "type": "object",
      "description": "Workaround provides suggestions to address errors and warnings.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of this workaround."
        },
        "replace": {
          "description": "A suggested code snippet to fix the error and warning.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Why would this workaround address the error and warning."
        }
      },
      "id": "Workaround"
    },
    "GraphqlErrorExtensions": {
      "type": "object",
      "id": "GraphqlErrorExtensions",
      "description": "GraphqlErrorExtensions contains additional information of `GraphqlError`.",
      "properties": {
        "workarounds": {
          "items": {
            "$ref": "Workaround"
          },
          "description": "Workarounds provide suggestions to address the compile errors or warnings.",
          "type": "array"
        },
        "warningLevel": {
          "type": "string",
          "enum": [
            "WARNING_LEVEL_UNKNOWN",
            "LOG_ONLY",
            "INTERACTIVE_ACK",
            "REQUIRE_ACK",
            "REQUIRE_FORCE"
          ],
          "enumDescriptions": [
            "Warning level is not specified.",
            "Display a warning without action needed.",
            "Request a confirmation in interactive deployment flow.",
            "Require an explicit confirmation in all deployment flows.",
            "Require --force in all deployment flows."
          ],
          "description": "Warning level describes the severity and required action to suppress this warning when Firebase CLI run into it."
        },
        "file": {
          "description": "The source file name where the error occurred. Included only for `UpdateSchema` and `UpdateConnector`, it corresponds to `File.path` of the provided `Source`.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Maps to canonical gRPC codes. If not specified, it represents `Code.INTERNAL`.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ]
        },
        "debugDetails": {
          "description": "More detailed error message to assist debugging. It contains application business logic that are inappropriate to leak publicly. In the emulator, SQL Connect API always includes it to assist local development and debugging. In the backend, ConnectorService always hides it. GraphqlService without impersonation always include it. GraphqlService with impersonation includes it only if explicitly opted-in with `include_debug_details` in `GraphqlRequestExtensions`.",
          "type": "string"
        }
      }
    },
    "ListConnectorsResponse": {
      "description": "Message for response to listing Connectors. By default, `connectors.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectors": {
          "description": "The list of Connectors.",
          "items": {
            "$ref": "Connector"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConnectorsResponse",
      "type": "object"
    },
    "ImpersonateRequest": {
      "description": "The Impersonate request to Firebase SQL Connect.",
      "type": "object",
      "id": "ImpersonateRequest",
      "properties": {
        "extensions": {
          "description": "Optional. Additional GraphQL request information.",
          "$ref": "GraphqlRequestExtensions"
        },
        "operationName": {
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name.",
          "type": "string"
        },
        "variables": {
          "type": "object",
          "description": "Optional. Values for GraphQL variables provided in this request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ListServicesResponse": {
      "description": "Message for response to listing Services.",
      "id": "ListServicesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "services": {
          "description": "The list of Services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        }
      }
    },
    "ExecuteMutationResponse": {
      "properties": {
        "extensions": {
          "$ref": "GraphqlResponseExtensions",
          "description": "Additional response information."
        },
        "errors": {
          "type": "array",
          "description": "Errors of this response.",
          "items": {
            "$ref": "GraphqlError"
          }
        },
        "data": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The result of executing the requested operation.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "ExecuteMutationResponse",
      "description": "The ExecuteMutation response from Firebase SQL Connect."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "GenerationStatus": {
      "id": "GenerationStatus",
      "description": "Represents the progress of the server side generation request.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ANALYZING_CODE",
            "GENERATING_CODE",
            "COMPLETED"
          ],
          "description": "Output only. The state of generation.",
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is analyzing schema or operations.",
            "The agent is generating code",
            "Generation is complete."
          ],
          "readOnly": true
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message providing more details about the state."
        }
      },
      "type": "object"
    },
    "GenerateSchemaRequest": {
      "properties": {
        "prompt": {
          "description": "Required. The natural language description of the data model to generate. Example: \"A blog system with Users, Posts, and Comments. Users can have multiple posts.\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for GenerateSchema.",
      "id": "GenerateSchemaRequest"
    },
    "Connector": {
      "description": "Connector consists of a set of operations, i.e. queries and mutations.",
      "id": "Connector",
      "properties": {
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Create time stamp."
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "clientCache": {
          "$ref": "ClientCache",
          "description": "Optional. The client cache settings of the connector."
        },
        "annotations": {
          "description": "Optional. Stores small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The relative resource name of the connector, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
          "type": "string"
        },
        "source": {
          "description": "Required. The source files that comprise the connector.",
          "$ref": "Source"
        },
        "reconciling": {
          "description": "Output only. A field that if true, indicates that the system is working to compile and deploy the connector.",
          "type": "boolean",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GraphqlError": {
      "id": "GraphqlError",
      "properties": {
        "locations": {
          "type": "array",
          "description": "The source locations where the error occurred. Locations should help developers and toolings identify the source of error quickly. Included in admin endpoints (`ExecuteGraphql`, `ExecuteGraphqlRead`, `IntrospectGraphql`, `ImpersonateQuery`, `ImpersonateMutation`, `UpdateSchema` and `UpdateConnector`) to reference the provided GraphQL GQL document. Omitted in `ExecuteMutation` and `ExecuteQuery` since the caller shouldn't have access access the underlying GQL source.",
          "items": {
            "$ref": "SourceLocation"
          }
        },
        "message": {
          "description": "The detailed error message. The message should help developer understand the underlying problem without leaking internal data.",
          "type": "string"
        },
        "extensions": {
          "description": "Additional error information.",
          "$ref": "GraphqlErrorExtensions"
        },
        "path": {
          "items": {
            "type": "any"
          },
          "description": "The result field which could not be populated due to error. Clients can use path to identify whether a null result is intentional or caused by a runtime error. It should be a list of string or index from the root of GraphQL query document.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "GraphqlError conforms to the GraphQL error spec. https://spec.graphql.org/draft/#sec-Errors Firebase SQL Connect API surfaces `GraphqlError` in various APIs: - Upon compile error, `UpdateSchema` and `UpdateConnector` return Code.Invalid_Argument with a list of `GraphqlError` in error details. - Upon query compile error, `ExecuteGraphql`, `ExecuteGraphqlRead` and `IntrospectGraphql` return Code.OK with a list of `GraphqlError` in response body. - Upon query execution error, `ExecuteGraphql`, `ExecuteGraphqlRead`, `ExecuteMutation`, `ExecuteQuery`, `IntrospectGraphql`, `ImpersonateQuery` and `ImpersonateMutation` all return Code.OK with a list of `GraphqlError` in response body."
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation. Note: This message is auto-generated by CCFE. CCFE's storage, called Resource Metadata Store (RMS), holds metadata about long-running operations (i.e. OperationMetadata) and resources (i.e. ResourceMetadata). OperationMetadata documents the status of the operation. See [CCFE documentation for sidechannel data](https://g3doc.corp.google.com/cloud/control2/g3doc/dev/codelab_extras/sidechannel.md?cl=head#sidechannel-data) and yaqs/4289526912465764352."
    },
    "ExecuteQueryResponse": {
      "description": "The ExecuteQuery response from Firebase SQL Connect.",
      "id": "ExecuteQueryResponse",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GraphqlError"
          },
          "description": "Errors of this response.",
          "type": "array"
        },
        "extensions": {
          "$ref": "GraphqlResponseExtensions",
          "description": "Additional response information."
        },
        "data": {
          "description": "The result of executing the requested operation.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GenerateSchemaResponse": {
      "id": "GenerateSchemaResponse",
      "properties": {
        "part": {
          "description": "The content from the current conversational turn.",
          "$ref": "Part"
        },
        "status": {
          "description": "Essential for providing responsive UI feedback (e.g., a spinner or \"Analyzing schema...\" step).",
          "$ref": "GenerationStatus"
        }
      },
      "type": "object",
      "description": "Output for streaming generate schema requests"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "DataConnectProperties": {
      "properties": {
        "entityIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Entity IDs. Set if the path points to an array of entities. An ID is present for each element of the array at the corresponding index.",
          "type": "array"
        },
        "path": {
          "description": "The path under response.data where the rest of the fields apply. Each element may be a string (field name) or number (array index). The root of response.data is denoted by the empty list `[]`.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "maxAge": {
          "type": "string",
          "description": "The server-suggested duration before data under path is considered stale.",
          "format": "google-duration"
        },
        "entityId": {
          "type": "string",
          "description": "A single Entity ID. Set if the path points to a single entity."
        }
      },
      "type": "object",
      "description": "SQL Connect specific properties for a path under response.data.",
      "id": "DataConnectProperties"
    },
    "GenerateQueryRequest": {
      "id": "GenerateQueryRequest",
      "properties": {
        "schemas": {
          "description": "Optional. The user's locally defined FDC Schema(s). If not defined, the backend will fetch the user's deployed schema.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "prompt": {
          "description": "Required. The natural language description of the desired query. Example: \"Find all users who signed up in the last 7 days.\"",
          "type": "string"
        }
      },
      "description": "Request message for GenerateQuery.",
      "type": "object"
    },
    "Impersonation": {
      "id": "Impersonation",
      "properties": {
        "includeDebugDetails": {
          "type": "boolean",
          "description": "Optional. If set, include debug details in GraphQL error extensions."
        },
        "unauthenticated": {
          "type": "boolean",
          "description": "Evaluate the auth policy as an unauthenticated request. Can only be set to true."
        },
        "authClaims": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Evaluate the auth policy with a customized JWT auth token. Should follow the Firebase Auth token format. https://firebase.google.com/docs/rules/rules-and-auth For example: a verified user may have auth_claims of {\"sub\": , \"email_verified\": true}",
          "type": "object"
        }
      },
      "description": "Impersonation configures the Firebase Auth context to impersonate.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "GraphqlResponseExtensions": {
      "description": "GraphqlResponseExtensions contains additional information of `GraphqlResponse` or `ExecuteQueryResponse`.",
      "properties": {
        "dataConnect": {
          "items": {
            "$ref": "DataConnectProperties"
          },
          "description": "SQL Connect specific GraphQL extension, a list of paths and properties.",
          "type": "array"
        }
      },
      "id": "GraphqlResponseExtensions",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "TextChunk": {
      "id": "TextChunk",
      "description": "A chunk of conversational text.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. The text content string.",
          "type": "string"
        }
      }
    }
  },
  "revision": "20260830",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Firebase Data Connect",
  "name": "firebasedataconnect",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "servicePath": "",
  "rootUrl": "https://firebasedataconnect.googleapis.com/",
  "basePath": "",
  "title": "Firebase SQL Connect API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "services": {
              "resources": {
                "schemas": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas/{schemasId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Schema, but do not actually update it."
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true and the Schema is not found, a new Schema will be created. In this case, `update_mask` is ignored."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Schema resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/schemas/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The relative resource name of the schema, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ``` Right now, the only supported schema is \"main\".",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Schema"
                      },
                      "description": "Updates the parameters of a single Schema, and creates a new SchemaRevision with the updated Schema.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebasedataconnect.projects.locations.services.schemas.patch"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Schema"
                      },
                      "id": "firebasedataconnect.projects.locations.services.schemas.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/schemas",
                      "description": "Creates a new Schema in a given project and location. Only creation of `schemas/main` is supported and calling create with any other schema ID will result in an error.",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. If set, validate the request and preview the Schema, but do not actually update it.",
                          "type": "boolean"
                        },
                        "schemaId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the schema, which will become the final component of the schema's resource name. Currently, only `main` is supported and any other schema ID will result in an error."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true and the Schema is not found, the request will succeed but no action will be taken on the server."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. If set, validate the request and preview the Schema, but do not actually delete it.",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the schema to delete, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ```",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/schemas/[^/]+$"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set to true, any child resources (i.e. SchemaRevisions) will also be deleted."
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The etag of the Schema. If this is provided, it must match the server's etag.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas/{schemasId}",
                      "path": "v1/{+name}",
                      "id": "firebasedataconnect.projects.locations.services.schemas.delete",
                      "description": "Deletes a single Schema. Because the schema and connectors must be compatible at all times, if this is called while any connectors are active, this will result in an error.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "firebasedataconnect.projects.locations.services.schemas.get",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Schema.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas/{schemasId}",
                      "response": {
                        "$ref": "Schema"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the schema to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/schemas/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/schemas",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Value of parent.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSchemas` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists Schemas in a given project and location.",
                      "id": "firebasedataconnect.projects.locations.services.schemas.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSchemasResponse"
                      },
                      "path": "v1/{+parent}/schemas",
                      "httpMethod": "GET"
                    }
                  }
                },
                "connectors": {
                  "methods": {
                    "executeQuery": {
                      "request": {
                        "$ref": "ExecuteQueryRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ExecuteQueryResponse"
                      },
                      "path": "v1/{+name}:executeQuery",
                      "id": "firebasedataconnect.projects.locations.services.connectors.executeQuery",
                      "description": "Execute a predefined query in a Connector.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:executeQuery",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "description": "Required. The resource name of the connector to find the predefined query, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "type": "string"
                        }
                      }
                    },
                    "impersonateQuery": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:impersonateQuery",
                      "description": "Impersonate a query defined on a Firebase SQL Connect connector. It grants the admin SDK access to queries defined in the given connector. The caller can choose to impersonate a particular Firebase Auth user, or skip @auth completely.",
                      "id": "firebasedataconnect.projects.locations.services.connectors.impersonateQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ImpersonateRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:impersonateQuery",
                      "response": {
                        "$ref": "GraphqlResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the connector to find the predefined query/mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "connectorId": {
                          "type": "string",
                          "description": "Required. The ID to use for the connector, which will become the final component of the connector's resource name.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually create it."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "location": "path",
                          "description": "Required. Value for parent."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors",
                      "path": "v1/{+parent}/connectors",
                      "request": {
                        "$ref": "Connector"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new Connector in a given project and location. The operations are validated against and must be compatible with the active schema. If the operations and schema are not compatible or if the schema is not present, this will result in an error.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebasedataconnect.projects.locations.services.connectors.create"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. The name of the connector to delete, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually delete it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If true and the Connector is not found, the request will succeed but no action will be taken on the server."
                        },
                        "etag": {
                          "description": "Optional. The etag of the Connector. If this is provided, it must match the server's etag.",
                          "type": "string",
                          "location": "query"
                        },
                        "force": {
                          "location": "query",
                          "description": "Optional. If set to true, any child resources (i.e. ConnectorRevisions) will also be deleted. Otherwise, the request will only work if the Connector has no child resources.",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "firebasedataconnect.projects.locations.services.connectors.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single Connector."
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "allowMissing": {
                          "description": "Optional. If true and the Connector is not found, a new Connector will be created. In this case, `update_mask` is ignored.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually update it."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Connector resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Identifier. The relative resource name of the connector, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```"
                        }
                      },
                      "description": "Updates the parameters of a single Connector, and creates a new ConnectorRevision with the updated Connector. The operations are validated against and must be compatible with the live schema. If the operations and schema are not compatible or if the schema is not present, this will result in an error.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebasedataconnect.projects.locations.services.connectors.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Connector"
                      },
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "id": "firebasedataconnect.projects.locations.services.connectors.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListConnectorsResponse"
                      },
                      "path": "v1/{+parent}/connectors",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Connectors in a given project and location.",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "parent": {
                          "description": "Required. Value of parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListConnectors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectors` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "id": "firebasedataconnect.projects.locations.services.connectors.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the connector to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```"
                        }
                      },
                      "response": {
                        "$ref": "Connector"
                      },
                      "description": "Gets details of a single Connector."
                    },
                    "impersonateMutation": {
                      "description": "Impersonate a mutation defined on a Firebase SQL Connect connector. It grants the admin SDK access to mutations defined in the given connector. The caller can choose to impersonate a particular Firebase Auth user, or skip @auth completely.",
                      "response": {
                        "$ref": "GraphqlResponse"
                      },
                      "httpMethod": "POST",
                      "id": "firebasedataconnect.projects.locations.services.connectors.impersonateMutation",
                      "path": "v1/{+name}:impersonateMutation",
                      "request": {
                        "$ref": "ImpersonateRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the connector to find the predefined query/mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:impersonateMutation",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "executeMutation": {
                      "request": {
                        "$ref": "ExecuteMutationRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:executeMutation",
                      "path": "v1/{+name}:executeMutation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "description": "Required. The resource name of the connector to find the predefined mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Execute a predefined mutation in a Connector.",
                      "response": {
                        "$ref": "ExecuteMutationResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebasedataconnect.projects.locations.services.connectors.executeMutation"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/services",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Value of parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListServices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListServices` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Services in a given project and location.",
                  "id": "firebasedataconnect.projects.locations.services.list",
                  "response": {
                    "$ref": "ListServicesResponse"
                  }
                },
                "executeGraphqlRead": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:executeGraphqlRead",
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "id": "firebasedataconnect.projects.locations.services.executeGraphqlRead",
                  "path": "v1/{+name}:executeGraphqlRead",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute any GraphQL query against the Firebase SQL Connect's generated GraphQL schema. Grants full read to the connected data sources. `ExecuteGraphqlRead` is identical to `ExecuteGraphql` except it only accepts read-only query."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Service.",
                  "request": {
                    "$ref": "Service"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "id": "firebasedataconnect.projects.locations.services.patch",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If true and the Service is not found, a new Service will be created. In this case, `update_mask` is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually update it.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                },
                "executeGraphql": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:executeGraphql",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute any GraphQL query or mutation against the Firebase SQL Connect's generated GraphQL schema. Grants full read and write access to the connected data sources. Note: Use introspection query to explore the generated GraphQL schema.",
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "id": "firebasedataconnect.projects.locations.services.executeGraphql",
                  "path": "v1/{+name}:executeGraphql",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```"
                    }
                  }
                },
                "generateQuery": {
                  "path": "v1/{+name}:generateQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:generateQuery",
                  "description": "Generates a GraphQL query based on a natural language prompt and the provided schema context. This is a stateless method; the schema is provided per request to support local development states. Streams results with real-time status and output chunks.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the service in which to generate the query. Format: projects/{project}/locations/{location}/services/{service}"
                    }
                  },
                  "request": {
                    "$ref": "GenerateQueryRequest"
                  },
                  "response": {
                    "$ref": "GenerateQueryResponse"
                  },
                  "id": "firebasedataconnect.projects.locations.services.generateQuery",
                  "parameterOrder": [
                    "name"
                  ]
                },
[...]
