{
  "rootUrl": "https://firestore.googleapis.com/",
  "version": "v1beta1",
  "revision": "20260826",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "id": "firestore:v1beta1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ExecutePipelineRequest": {
      "type": "object",
      "id": "ExecutePipelineRequest",
      "description": "The request for Firestore.ExecutePipeline.",
      "properties": {
        "autoCommitTransaction": {
          "type": "boolean",
          "description": "Optional. Automatically commits the transaction after the pipeline has been executed. Only permitted in combination with `transaction` or `new_transaction`."
        },
        "structuredPipeline": {
          "description": "A pipelined operation.",
          "$ref": "StructuredPipeline"
        },
        "transaction": {
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "type": "string",
          "description": "Execute the pipeline in a snapshot transaction at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Execute the pipeline in a new transaction. The identifier of the newly created transaction will be returned in the first response on the stream. This defaults to a read-only transaction."
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        }
      }
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of documents. If this field is omitted, there are no subsequent pages."
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "Document"
          },
          "description": "The Documents found."
        }
      },
      "description": "The response for Firestore.ListDocuments.",
      "type": "object"
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "type": "object",
      "description": "An array value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array.",
          "type": "array"
        }
      }
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "properties": {
        "progressPercentage": {
          "description": "How far along the clone is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "description": "The operation state of the clone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "endTime": {
          "description": "The time the clone finished, unset for ongoing clones.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the clone was started."
        },
        "database": {
          "description": "The name of the database being cloned to.",
          "type": "string"
        },
        "pitrSnapshot": {
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot",
          "description": "The snapshot from which this database was cloned."
        }
      },
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata",
      "type": "object"
    },
    "BloomFilter": {
      "type": "object",
      "description": "A bloom filter (https://en.wikipedia.org/wiki/Bloom_filter). The bloom filter hashes the entries with MD5 and treats the resulting 128-bit hash as 2 distinct 64-bit hash values, interpreted as unsigned integers using 2's complement encoding. These two hash values, named `h1` and `h2`, are then used to compute the `hash_count` hash values using the formula, starting at `i=0`: h(i) = h1 + (i * h2) These resulting values are then taken modulo the number of bits in the bloom filter to get the bits of the bloom filter to test for the given entry.",
      "id": "BloomFilter",
      "properties": {
        "bits": {
          "$ref": "BitSequence",
          "description": "The bloom filter data."
        },
        "hashCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of hashes used by the algorithm."
        }
      }
    },
    "ListenResponse": {
      "properties": {
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "documentChange": {
          "$ref": "DocumentChange",
          "description": "A Document has changed."
        },
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        },
        "documentDelete": {
          "$ref": "DocumentDelete",
          "description": "A Document has been deleted."
        },
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        }
      },
      "description": "The response for Firestore.Listen.",
      "type": "object",
      "id": "ListenResponse"
    },
    "FieldFilter": {
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "The value to compare to."
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to filter by."
        },
        "op": {
          "description": "The operator to filter by.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No `NOT_IN` filters in the same query.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No other `ARRAY_CONTAINS_ANY` filters within the same disjunction. * No `NOT_IN` filters in the same query.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `OR`, `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "type": "string"
        }
      },
      "id": "FieldFilter",
      "type": "object",
      "description": "A filter on a specific field."
    },
    "Filter": {
      "description": "A filter.",
      "type": "object",
      "id": "Filter",
      "properties": {
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        },
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "unaryFilter": {
          "description": "A filter that takes exactly one argument.",
          "$ref": "UnaryFilter"
        }
      }
    },
    "Pipeline": {
      "id": "Pipeline",
      "type": "object",
      "properties": {
        "stages": {
          "items": {
            "$ref": "Stage"
          },
          "type": "array",
          "description": "Required. Ordered list of stages to evaluate."
        }
      },
      "description": "A Firestore query represented as an ordered list of operations / stages."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "properties": {
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids are being exported."
        },
        "outputUriPrefix": {
          "description": "Where the entities are being exported to.",
          "type": "string"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata",
      "type": "object",
      "description": "Metadata for ExportDocuments operations."
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1Index",
      "description": "An index definition.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the index. Output only."
        },
        "fields": {
          "description": "The fields to index.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ],
          "type": "string",
          "description": "The state of the index. Output only.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ]
        },
        "collectionId": {
          "description": "The collection ID to which this index applies. Required.",
          "type": "string"
        }
      }
    },
    "PlanSummary": {
      "type": "object",
      "properties": {
        "indexesUsed": {
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "Planning phase information for the query.",
      "id": "PlanSummary"
    },
    "Aggregation": {
      "properties": {
        "count": {
          "description": "Count aggregator.",
          "$ref": "Count"
        },
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "Sum"
        },
        "alias": {
          "description": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations.",
          "type": "string"
        },
        "avg": {
          "$ref": "Avg",
          "description": "Average aggregator."
        }
      },
      "type": "object",
      "id": "Aggregation",
      "description": "Defines an aggregation that produces a single result."
    },
    "UnaryFilter": {
      "id": "UnaryFilter",
      "description": "A filter with a single operand.",
      "type": "object",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ],
          "type": "string",
          "description": "The unary operator to apply."
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to which to apply the operator."
        }
      }
    },
    "TransactionOptions": {
      "description": "Options for creating a new transaction.",
      "type": "object",
      "id": "TransactionOptions",
      "properties": {
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        },
        "readOnly": {
          "$ref": "ReadOnly",
          "description": "The transaction can only be used for read operations."
        }
      }
    },
    "RequestOptions": {
      "description": "Options for a request.",
      "properties": {
        "requestTags": {
          "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "RequestOptions"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that work began on the operation."
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids are being imported."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of documents processed."
        },
        "operationState": {
          "description": "The state of the import operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "description": "Metadata for ImportDocuments operations."
    },
    "Precondition": {
      "id": "Precondition",
      "type": "object",
      "properties": {
        "exists": {
          "type": "boolean",
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
        },
        "updateTime": {
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A precondition on a document, used for conditional operations."
    },
    "ExplainMetrics": {
      "id": "ExplainMetrics",
      "description": "Explain metrics for the query.",
      "properties": {
        "planSummary": {
          "$ref": "PlanSummary",
          "description": "Planning phase information for the query."
        },
        "executionStats": {
          "description": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true.",
          "$ref": "ExecutionStats"
        }
      },
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "type": "object",
      "properties": {
        "readTime": {
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one.",
          "type": "string",
          "format": "google-datetime"
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string"
        },
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        }
      },
      "description": "The streamed response for Firestore.BatchGetDocuments."
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "id": "GoogleFirestoreAdminV1beta1IndexField",
      "type": "object",
      "description": "A field of an index.",
      "properties": {
        "mode": {
          "description": "The field's mode.",
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ],
          "enumDescriptions": [
            "The mode is unspecified.",
            "The field's values are indexed so as to support sequencing in ascending order and also query by <, >, <=, >=, and =.",
            "The field's values are indexed so as to support sequencing in descending order and also query by <, >, <=, >=, and =.",
            "The field's array values are indexed so as to support membership using ARRAY_CONTAINS queries."
          ],
          "type": "string"
        },
        "fieldPath": {
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path.",
          "type": "string"
        }
      }
    },
    "StructuredPipeline": {
      "id": "StructuredPipeline",
      "description": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper.",
      "type": "object",
      "properties": {
        "pipeline": {
          "$ref": "Pipeline",
          "description": "Required. The pipeline query to execute."
        },
        "options": {
          "description": "Optional. Optional query-level arguments. ",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "type": "object",
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation.",
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "documentProgress": {
          "description": "Progress of the existing operation, measured in number of documents.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "cancelled": {
          "type": "boolean",
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false."
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime"
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ],
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "description": "The type of index operation."
        }
      },
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata"
    },
    "CollectionSelector": {
      "description": "A selection of a collection, such as `messages as m1`.",
      "type": "object",
      "id": "CollectionSelector",
      "properties": {
        "collectionId": {
          "description": "The collection ID. When set, selects only collections with this ID.",
          "type": "string"
        },
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        }
      }
    },
    "LatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "id": "LatLng"
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "description": "The response for Firestore.BeginTransaction.",
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started."
        }
      }
    },
    "WriteResult": {
      "description": "The result of applying a write.",
      "type": "object",
      "id": "WriteResult",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        },
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      }
    },
    "CommitRequest": {
      "description": "The request for Firestore.Commit.",
      "id": "CommitRequest",
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "If set, applies all writes in this transaction, and commits it."
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order.",
          "type": "array"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        }
      }
    },
    "FindNearest": {
      "type": "object",
      "properties": {
        "vectorField": {
          "$ref": "FieldReference",
          "description": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned."
        },
        "distanceMeasure": {
          "description": "Required. The distance measure to use, required.",
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ],
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ],
          "type": "string"
        },
        "limit": {
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000.",
          "format": "int32",
          "type": "integer"
        },
        "queryVector": {
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions.",
          "$ref": "Value"
        },
        "distanceThreshold": {
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`",
          "type": "number",
          "format": "double"
        },
        "distanceResultField": {
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations.",
          "type": "string"
        }
      },
      "id": "FindNearest",
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
    },
    "StructuredQuery": {
      "id": "StructuredQuery",
      "description": "A Firestore query. The query stages are executed in the following order: 1. from 2. where 3. select 4. order_by + start_at + end_at 5. offset 6. limit 7. find_nearest",
      "properties": {
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer",
          "format": "int32"
        },
        "select": {
          "description": "Optional sub-set of the fields to return. This acts as a DocumentMask over the documents returned from a query. When not set, assumes that the caller wants all fields returned.",
          "$ref": "Projection"
        },
        "from": {
          "type": "array",
          "items": {
            "$ref": "CollectionSelector"
          },
          "description": "The collections to query."
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "startAt": {
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b > 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b > 2 AND __name__ > /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b > 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "endAt": {
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "findNearest": {
          "description": "Optional. A potential nearest neighbors search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector.",
          "$ref": "FindNearest"
        },
        "offset": {
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer",
          "format": "int32"
        },
        "orderBy": {
          "items": {
            "$ref": "Order"
          },
          "type": "array",
          "description": "The order to apply to the query results. Callers can provide a full ordering, a partial ordering, or no ordering at all. While Firestore will always respect the provided order, the behavior for queries without a full ordering is different per database edition: In Standard edition, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a > 1` becomes `WHERE a > 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ > ... AND a > 1` becomes `WHERE __name__ > ... AND a > 1 ORDER BY a ASC, __name__ ASC` In Enterprise edition, Firestore does not guarantee a stable ordering. Instead it will pick the most efficient ordering based on the indexes available at the time of query execution. This will result in a different ordering for queries that are otherwise identical. To ensure a stable ordering, always include a unique field in the `order_by` clause, such as `__name__`."
        }
      },
      "type": "object"
    },
    "Count": {
      "id": "Count",
      "type": "object",
      "description": "Count of documents that match the query. The `COUNT(*)` aggregation function operates on the entire document so it does not require a field reference.",
      "properties": {
        "upTo": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Optional constraint on the maximum number of documents to count. This provides a way to set an upper bound on the number of documents to scan, limiting latency, and cost. Unspecified is interpreted as no bound. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be greater than zero when present."
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest",
      "properties": {
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix."
        },
        "collectionIds": {
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "type": "object",
      "description": "Metadata for the long-running operation from the RestoreDatabase request.",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database being restored to."
        },
        "startTime": {
          "type": "string",
          "description": "The time the restore was started.",
          "format": "google-datetime"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The operation state of the restore.",
          "type": "string"
        },
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the restore is as an estimated percentage of remaining time."
        },
        "backup": {
          "description": "The name of the backup restoring from.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the restore finished, unset for ongoing restores.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids to export. Unspecified means all collections."
        }
      },
      "description": "The request for FirestoreAdmin.ExportDocuments."
    },
    "DocumentTransform": {
      "properties": {
        "fieldTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array"
        },
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DocumentTransform",
      "description": "A transformation of a document."
    },
    "ListenRequest": {
      "id": "ListenRequest",
      "type": "object",
      "description": "A request for Firestore.Listen",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this target change.",
          "type": "object"
        },
        "removeTarget": {
          "type": "integer",
          "description": "The ID of a target to remove from this stream.",
          "format": "int32"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        },
        "addTarget": {
          "$ref": "Target",
          "description": "A target to add to this stream."
        }
      }
    },
    "ExecutionStats": {
      "id": "ExecutionStats",
      "type": "object",
      "properties": {
        "executionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to execute the query in the backend."
        },
        "debugStats": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }",
          "type": "object"
        },
        "readOperations": {
          "format": "int64",
          "description": "Total billable read operations.",
          "type": "string"
        },
        "resultsReturned": {
          "format": "int64",
          "description": "Total number of results returned, including documents, projections, aggregation results, keys.",
          "type": "string"
        }
      },
      "description": "Execution statistics for the query."
    },
    "RunAggregationQueryResponse": {
      "description": "The response for Firestore.RunAggregationQuery.",
      "id": "RunAggregationQueryResponse",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "The time at which the aggregate result was computed. This is always monotonically increasing; in this case, the previous AggregationResult in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `result` will be sent, and this represents the time at which the query was run.",
          "type": "string"
        },
        "transaction": {
          "type": "string",
          "description": "The transaction that was started as part of this request. Only present on the first response when the request requested to start a new transaction.",
          "format": "byte"
        },
        "explainMetrics": {
          "$ref": "ExplainMetrics",
          "description": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
        },
        "result": {
          "$ref": "AggregationResult",
          "description": "A single aggregation result. Not present when reporting partial progress."
        }
      },
      "type": "object"
    },
    "QueryTarget": {
      "description": "A target specified by a query.",
      "type": "object",
      "id": "QueryTarget",
      "properties": {
        "parent": {
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
          "type": "string"
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        }
      }
    },
    "BitSequence": {
      "id": "BitSequence",
      "description": "A sequence of bits, encoded in a byte array. Each byte in the `bitmap` byte array stores 8 bits of the sequence. The only exception is the last byte, which may store 8 _or fewer_ bits. The `padding` defines the number of bits of the last byte to be ignored as \"padding\". The values of these \"padding\" bits are unspecified and must be ignored. To retrieve the first bit, bit 0, calculate: `(bitmap[0] & 0x01) != 0`. To retrieve the second bit, bit 1, calculate: `(bitmap[0] & 0x02) != 0`. To retrieve the third bit, bit 2, calculate: `(bitmap[0] & 0x04) != 0`. To retrieve the fourth bit, bit 3, calculate: `(bitmap[0] & 0x08) != 0`. To retrieve bit n, calculate: `(bitmap[n / 8] & (0x01 << (n % 8))) != 0`. The \"size\" of a `BitSequence` (the number of bits it contains) is calculated by this formula: `(bitmap.length * 8) - padding`.",
      "type": "object",
      "properties": {
        "bitmap": {
          "type": "string",
          "format": "byte",
          "description": "The bytes that encode the bit sequence. May have a length of zero."
        },
        "padding": {
          "description": "The number of bits of the last byte in `bitmap` to ignore as \"padding\". If the length of `bitmap` is zero, then this value must be `0`. Otherwise, this value must be between 0 and 7, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BeginTransactionRequest": {
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        }
      },
      "id": "BeginTransactionRequest",
      "type": "object",
      "description": "The request for Firestore.BeginTransaction."
    },
    "CommitResponse": {
      "type": "object",
      "description": "The response for Firestore.Commit.",
      "properties": {
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
        },
        "writeResults": {
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          }
        }
      },
      "id": "CommitResponse"
    },
    "Stage": {
      "properties": {
        "args": {
          "description": "Optional. Ordered list of arguments the given stage expects.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the stage to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional named arguments that certain functions may support."
        }
      },
      "type": "object",
      "id": "Stage",
      "description": "A single operation within a pipeline. A stage is made up of a unique name, and a list of arguments. The exact number of arguments & types is dependent on the stage type. To give an example, the stage `filter(state = \"MD\")` would be encoded as: ``` name: \"filter\" args { function_value { name: \"eq\" args { field_reference_value: \"state\" } args { string_value: \"MD\" } } } ``` See public documentation for the full list."
    },
    "GoogleFirestoreAdminV1PitrSnapshot": {
      "description": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour.",
      "properties": {
        "databaseUid": {
          "description": "Output only. Public UUID of the database the snapshot was associated with.",
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "database": {
          "description": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`.",
          "type": "string"
        },
        "snapshotTime": {
          "format": "google-datetime",
          "description": "Required. Snapshot time of the database.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1PitrSnapshot",
      "type": "object"
    },
    "DocumentChange": {
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "id": "DocumentChange",
      "type": "object",
      "properties": {
        "targetIds": {
          "description": "A set of target IDs of targets that match this document.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
        }
      }
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata",
      "properties": {
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationState": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the operation."
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of the collection groups that are being deleted."
        },
        "namespaceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which namespace IDs are being deleted."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit)."
        }
      }
    },
    "MapValue": {
      "id": "MapValue",
      "description": "A map value.",
      "type": "object",
      "properties": {
        "fields": {
          "type": "object",
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      }
    },
    "BatchWriteRequest": {
      "type": "object",
      "id": "BatchWriteRequest",
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "writes": {
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with this batch write.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The request for Firestore.BatchWrite."
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "description": "Metadata related to the update database operation.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata"
    },
    "ReadOnly": {
      "description": "Options for a transaction that can only be used to read documents.",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads documents at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        }
      },
      "id": "ReadOnly"
    },
    "ExplainStats": {
      "id": "ExplainStats",
      "description": "Pipeline explain stats. Depending on the explain options in the original request, this can contain the optimized plan and / or execution stats.",
      "properties": {
        "data": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The format depends on the `output_format` options in the request. Currently there are two supported options: `TEXT` and `JSON`. Both supply a `google.protobuf.StringValue`."
        }
      },
      "type": "object"
    },
    "ExistenceFilter": {
      "description": "A digest of all the documents that match a given target.",
      "id": "ExistenceFilter",
      "type": "object",
      "properties": {
        "targetId": {
          "format": "int32",
          "description": "The target ID to which this filter applies.",
          "type": "integer"
        },
        "unchangedNames": {
          "$ref": "BloomFilter",
          "description": "A bloom filter that, despite its name, contains the UTF-8 byte encodings of the resource names of ALL the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync."
        },
        "count": {
          "type": "integer",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination by testing ALL the document names against the filter; if the document name is NOT in the filter, it means the document no longer matches the target.",
          "format": "int32"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "indexes": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          },
          "description": "The indexes."
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes."
    },
    "ReadWrite": {
      "type": "object",
      "id": "ReadWrite",
      "description": "Options for a transaction that can be used to read and write documents.",
      "properties": {
        "retryTransaction": {
          "description": "An optional transaction to retry.",
          "format": "byte",
          "type": "string"
        },
        "concurrencyMode": {
          "description": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic.",
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC"
          ],
          "enumDescriptions": [
            "Start the transaction with the database-level default concurrency mode.",
            "Use optimistic concurrency control for the new transaction.",
            "Use pessimistic concurrency control for the new transaction."
          ]
        }
      }
    },
    "CompositeFilter": {
      "type": "object",
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ],
          "type": "string",
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ]
        },
        "filters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array"
        }
      }
    },
    "FieldTransform": {
      "properties": {
        "removeAllFromArray": {
          "$ref": "ArrayValue",
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value."
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer.",
          "$ref": "Value"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "setToServerValue": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "description": "Sets the field to the given server value.",
          "type": "string"
        },
        "appendMissingElements": {
          "$ref": "ArrayValue",
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value."
        }
      },
      "id": "FieldTransform",
      "type": "object",
      "description": "A transformation of a field of the document."
    },
    "Order": {
      "description": "An order on a field.",
      "id": "Order",
      "properties": {
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        },
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        }
      },
      "type": "object"
    },
    "ListCollectionIdsResponse": {
      "type": "object",
      "description": "The response from Firestore.ListCollectionIds.",
      "properties": {
        "collectionIds": {
          "description": "The collection ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to continue the list."
        }
      },
      "id": "ListCollectionIdsResponse"
    },
    "AggregationResult": {
      "description": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result.",
      "type": "object",
      "id": "AggregationResult",
      "properties": {
        "aggregateFields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object"
        }
      }
    },
    "GoogleFirestoreAdminV1CreateDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1CreateDatabaseMetadata",
      "type": "object",
      "description": "Metadata related to the create database operation.",
      "properties": {}
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "properties": {
        "workEstimated": {
          "format": "int64",
          "type": "string",
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses."
        },
        "workCompleted": {
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Measures the progress of a particular metric.",
      "id": "GoogleFirestoreAdminV1beta1Progress"
    },
    "DocumentDelete": {
      "type": "object",
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "properties": {
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        },
        "removedTargetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that previously matched this entity."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete."
        }
      },
      "id": "DocumentDelete"
    },
    "WriteResponse": {
      "type": "object",
      "properties": {
        "streamToken": {
          "type": "string",
          "format": "byte",
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set."
        },
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
        },
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        }
      },
      "description": "The response for Firestore.Write.",
      "id": "WriteResponse"
    },
    "BatchWriteResponse": {
      "type": "object",
      "description": "The response from Firestore.BatchWrite.",
      "id": "BatchWriteResponse",
      "properties": {
        "writeResults": {
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "status": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request."
        }
      }
    },
    "ExplainOptions": {
      "id": "ExplainOptions",
      "properties": {
        "analyze": {
          "type": "boolean",
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics."
        }
      },
      "type": "object",
      "description": "Explain options for the query."
    },
    "FieldReference": {
      "type": "object",
      "id": "FieldReference",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "A reference to a field in a document. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to document field name limitations."
        }
      },
      "description": "A reference to a field in a document, ex: `stats.operations`."
    },
    "DocumentsTarget": {
      "properties": {
        "documents": {
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "type": "object"
    },
    "PartitionQueryResponse": {
      "description": "The response for Firestore.PartitionQuery.",
      "id": "PartitionQueryResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results.",
          "type": "string"
        },
        "partitions": {
          "items": {
            "$ref": "Cursor"
          },
          "type": "array",
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned, or that the query is not yet supported for partitioning."
        }
      }
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "description": "The request for Firestore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "explainOptions": {
          "$ref": "ExplainOptions",
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
        },
        "transaction": {
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string",
          "format": "byte"
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        },
        "newTransaction": {
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        }
      }
    },
    "Target": {
      "description": "A specification of a set of documents to listen to.",
      "properties": {
        "documents": {
          "$ref": "DocumentsTarget",
          "description": "A target specified by a set of document names."
        },
        "readTime": {
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "resumeToken": {
          "format": "byte",
          "type": "string",
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail."
        },
        "once": {
          "description": "If the target should be removed once it is current and consistent.",
          "type": "boolean"
        },
        "targetId": {
          "format": "int32",
          "type": "integer",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero. If `target_id` is 0 (or unspecified), the server will assign an ID for this target and return that in a `TargetChange::ADD` event. Once a target with `target_id=0` is added, all subsequent targets must also have `target_id=0`. If an `AddTarget` request with `target_id != 0` is sent to the server after a target with `target_id=0` is added, the server will immediately send a response with a `TargetChange::Remove` event. Note that if the client sends multiple `AddTarget` requests without an ID, the order of IDs returned in `TargetChange.target_ids` are undefined. Therefore, clients should provide a target ID instead of relying on the server to assign one. If `target_id` is non-zero, there must not be an existing active target on this stream with the same ID."
        },
        "expectedCount": {
          "type": "integer",
          "description": "The number of documents that last matched the query at the resume token or read time. This value is only relevant when a `resume_type` is provided. This value being present and greater than zero signals that the client wants `ExistenceFilter.unchanged_names` to be included in the response.",
          "format": "int32"
        },
        "query": {
          "description": "A target specified by a query.",
          "$ref": "QueryTarget"
        }
      },
      "id": "Target",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1LocationMetadata": {
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "id": "GoogleFirestoreAdminV1beta1LocationMetadata",
      "properties": {},
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "GoogleFirestoreAdminV1DeleteDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1DeleteDatabaseMetadata",
      "type": "object",
      "description": "Metadata related to the delete database operation.",
      "properties": {}
    },
    "Value": {
      "type": "object",
      "properties": {
        "variableReferenceValue": {
          "type": "string",
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "A double value."
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "A string value. In Standard edition databases: * The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes of the UTF-8 representation are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "type": "string"
        },
        "nullValue": {
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value.",
          "enumDescriptions": [
            "Null value."
          ]
        },
        "bytesValue": {
          "description": "A bytes value. In Standard edition databases: * The value must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "type": "string",
          "format": "byte"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "functionValue": {
          "$ref": "Function",
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents."
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "fieldReferenceValue": {
          "type": "string",
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "pipelineValue": {
          "$ref": "Pipeline",
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents."
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. In Standard edition databases, an array value cannot directly contain another array value, though it can contain a map which contains another array. In Enterprise edition databases, an array value can contain another array value."
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
        }
      },
      "description": "A message that can hold any of the supported value types.",
      "id": "Value"
    },
    "Avg": {
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to aggregate on."
        }
      },
      "id": "Avg",
      "description": "Average of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1Progress": {
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "id": "GoogleFirestoreAdminV1Progress",
      "type": "object",
      "properties": {
        "estimatedWork": {
          "description": "The amount of work estimated.",
          "type": "string",
          "format": "int64"
        },
        "completedWork": {
          "format": "int64",
          "type": "string",
          "description": "The amount of work completed."
        }
      }
    },
    "Function": {
      "type": "object",
      "description": "Represents an unevaluated scalar expression. For example, the expression `like(user_name, \"%alice%\")` is represented as: ``` name: \"like\" args { field_reference: \"user_name\" } args { string_value: \"%alice%\" } ```",
      "properties": {
        "args": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "Optional. Ordered list of arguments the given function expects."
        },
        "name": {
          "description": "Required. The name of the function to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional named arguments that certain functions may support."
        }
      },
      "id": "Function"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsResponse",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully."
        }
      },
      "type": "object"
    },
    "PartitionQueryRequest": {
      "id": "PartitionQueryRequest",
      "description": "The request for Firestore.PartitionQuery.",
      "properties": {
        "structuredQuery": {
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported.",
          "$ref": "StructuredQuery"
        },
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "format": "int64",
          "type": "string"
        },
        "pageToken": {
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W",
          "type": "string"
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "pageSize": {
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        }
      },
      "type": "object"
    },
    "BatchGetDocumentsRequest": {
      "properties": {
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        },
        "documents": {
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          }
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        }
      },
      "type": "object",
      "id": "BatchGetDocumentsRequest",
      "description": "The request for Firestore.BatchGetDocuments."
    },
    "WriteRequest": {
      "type": "object",
      "id": "WriteRequest",
      "properties": {
        "streamToken": {
          "type": "string",
[...]
