{
  "documentationLink": "https://developers.google.com/workspace/forms/api",
  "rootUrl": "https://forms.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "canonicalName": "Forms",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/forms.body": {
          "description": "See, edit, create, and delete all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.body.readonly": {
          "description": "See all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.responses.readonly": {
          "description": "See all responses to your Google Forms forms"
        }
      }
    }
  },
  "title": "Google Forms API",
  "batchPath": "batch",
  "name": "forms",
  "revision": "20260823",
  "protocol": "rest",
  "description": "Reads and writes Google Forms and responses.",
  "baseUrl": "https://forms.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://forms.mtls.googleapis.com/",
  "schemas": {
    "FileUploadAnswers": {
      "description": "All submitted files for a FileUpload question.",
      "id": "FileUploadAnswers",
      "type": "object",
      "properties": {
        "answers": {
          "readOnly": true,
          "description": "Output only. All submitted files for a FileUpload question.",
          "items": {
            "$ref": "FileUploadAnswer"
          },
          "type": "array"
        }
      }
    },
    "CloudPubsubTopic": {
      "description": "A Pub/Sub topic.",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "Required. A fully qualified Pub/Sub topic name to publish the events to. This topic must be owned by the calling project and already exist in Pub/Sub.",
          "type": "string"
        }
      },
      "id": "CloudPubsubTopic"
    },
    "Info": {
      "properties": {
        "title": {
          "description": "Required. The title of the form which is visible to responders.",
          "type": "string"
        },
        "documentTitle": {
          "type": "string",
          "description": "Output only. The title of the document which is visible in Drive. If Info.title is empty, `document_title` may appear in its place in the Google Forms UI and be visible to responders. `document_title` can be set on create, but cannot be modified by a batchUpdate request. Please use the [Google Drive API](https://developers.google.com/drive/api/v3/reference/files/update) if you need to programmatically update `document_title`.",
          "readOnly": true
        },
        "description": {
          "description": "The description of the form.",
          "type": "string"
        }
      },
      "id": "Info",
      "description": "The general information for a form.",
      "type": "object"
    },
    "FormResponse": {
      "description": "A form response.",
      "properties": {
        "formId": {
          "description": "Output only. The form ID.",
          "type": "string",
          "readOnly": true
        },
        "totalScore": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The total number of points the respondent received for their submission Only set if the form was a quiz and the response was graded. This includes points automatically awarded via autograding adjusted by any manual corrections entered by the form owner."
        },
        "responseId": {
          "description": "Output only. The response ID.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp for the first time the response was submitted.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastSubmittedTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp for the most recent time the response was submitted. Does not track changes to grades."
        },
        "respondentEmail": {
          "type": "string",
          "description": "Output only. The email address (if collected) for the respondent.",
          "readOnly": true
        },
        "answers": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "Answer"
          },
          "type": "object",
          "description": "Output only. The actual answers to the questions, keyed by question_id."
        }
      },
      "type": "object",
      "id": "FormResponse"
    },
    "CreateItemRequest": {
      "type": "object",
      "id": "CreateItemRequest",
      "properties": {
        "location": {
          "description": "Required. Where to place the new item.",
          "$ref": "Location"
        },
        "item": {
          "description": "Required. The item to create.",
          "$ref": "Item"
        }
      },
      "description": "Create an item in a form."
    },
    "Item": {
      "id": "Item",
      "description": "A single item of the form. `kind` defines which kind of item it is.",
      "properties": {
        "pageBreakItem": {
          "$ref": "PageBreakItem",
          "description": "Starts a new page with a title."
        },
        "videoItem": {
          "description": "Displays a video on the page.",
          "$ref": "VideoItem"
        },
        "questionGroupItem": {
          "description": "Poses one or more questions to the user with a single major prompt.",
          "$ref": "QuestionGroupItem"
        },
        "questionItem": {
          "$ref": "QuestionItem",
          "description": "Poses a question to the user."
        },
        "imageItem": {
          "description": "Displays an image on the page.",
          "$ref": "ImageItem"
        },
        "title": {
          "type": "string",
          "description": "The title of the item."
        },
        "itemId": {
          "description": "The item ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned.",
          "type": "string"
        },
        "description": {
          "description": "The description of the item.",
          "type": "string"
        },
        "textItem": {
          "description": "Displays a title and description on the page.",
          "$ref": "TextItem"
        }
      },
      "type": "object"
    },
    "WriteControl": {
      "properties": {
        "targetRevisionId": {
          "type": "string",
          "description": "The target revision ID of the form that the write request is applied to. If changes have occurred after this revision, the changes in this update request are transformed against those changes. This results in a new revision of the form that incorporates both the changes in the request and the intervening changes, with the server resolving conflicting changes. The target revision ID may only be used to write to recent versions of a form. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 (Bad Request Error). The request may be retried after reading the latest version of the form. In most cases a target revision ID remains valid for several minutes after it is read, but for frequently-edited forms this window may be shorter."
        },
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the form that the write request is applied to. If this is not the latest revision of the form, the request is not processed and returns a 400 bad request error."
        }
      },
      "description": "Provides control over how write requests are executed.",
      "id": "WriteControl",
      "type": "object"
    },
    "Question": {
      "properties": {
        "grading": {
          "description": "Grading setup for the question.",
          "$ref": "Grading"
        },
        "required": {
          "description": "Whether the question must be answered in order for a respondent to submit their response.",
          "type": "boolean"
        },
        "ratingQuestion": {
          "$ref": "RatingQuestion",
          "description": "A respondent can choose a rating from a pre-defined set of icons."
        },
        "scaleQuestion": {
          "$ref": "ScaleQuestion",
          "description": "A respondent can choose a number from a range."
        },
        "textQuestion": {
          "description": "A respondent can enter a free text response.",
          "$ref": "TextQuestion"
        },
        "fileUploadQuestion": {
          "$ref": "FileUploadQuestion",
          "description": "A respondent can upload one or more files."
        },
        "rowQuestion": {
          "$ref": "RowQuestion",
          "description": "A row of a QuestionGroupItem."
        },
        "dateQuestion": {
          "description": "A respondent can enter a date.",
          "$ref": "DateQuestion"
        },
        "choiceQuestion": {
          "$ref": "ChoiceQuestion",
          "description": "A respondent can choose from a pre-defined set of options."
        },
        "timeQuestion": {
          "description": "A respondent can enter a time.",
          "$ref": "TimeQuestion"
        },
        "questionId": {
          "type": "string",
          "description": "Read only. The question ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned."
        }
      },
      "description": "Any question. The specific type of question is known by its `kind`.",
      "type": "object",
      "id": "Question"
    },
    "ScaleQuestion": {
      "type": "object",
      "id": "ScaleQuestion",
      "properties": {
        "low": {
          "format": "int32",
          "description": "Required. The lowest possible value for the scale.",
          "type": "integer"
        },
        "highLabel": {
          "type": "string",
          "description": "The label to display describing the highest point on the scale."
        },
        "high": {
          "type": "integer",
          "description": "Required. The highest possible value for the scale.",
          "format": "int32"
        },
        "lowLabel": {
          "type": "string",
          "description": "The label to display describing the lowest point on the scale."
        }
      },
      "description": "A scale question. The user has a range of numeric values to choose from."
    },
    "QuizSettings": {
      "description": "Settings related to quiz forms and grading. These must be updated with the UpdateSettingsRequest.",
      "properties": {
        "isQuiz": {
          "description": "Whether this form is a quiz or not. When true, responses are graded based on question Grading. Upon setting to false, all question Grading is deleted.",
          "type": "boolean"
        }
      },
      "id": "QuizSettings",
      "type": "object"
    },
    "BatchUpdateFormResponse": {
      "type": "object",
      "properties": {
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the update requests, although replies to some requests may be empty."
        },
        "form": {
          "description": "Based on the bool request field `include_form_in_response`, a form with all applied mutations/updates is returned or not. This may be later than the revision ID created by these changes.",
          "$ref": "Form"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateFormResponse",
      "description": "Response to a BatchUpdateFormRequest."
    },
    "ListFormResponsesResponse": {
      "type": "object",
      "description": "Response to a ListFormResponsesRequest.",
      "id": "ListFormResponsesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If set, there are more responses. To get the next page of responses, provide this as `page_token` in a future request.",
          "type": "string"
        },
        "responses": {
          "type": "array",
          "description": "The returned form responses. Note: The `formId` field is not returned in the `FormResponse` object for list requests.",
          "items": {
            "$ref": "FormResponse"
          }
        }
      }
    },
    "TextItem": {
      "properties": {},
      "description": "A text item.",
      "type": "object",
      "id": "TextItem"
    },
    "TextAnswer": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. The answer value. Formatting used for different kinds of question: * ChoiceQuestion * `RADIO` or `DROP_DOWN`: A single string corresponding to the option that was selected. * `CHECKBOX`: Multiple strings corresponding to each option that was selected. * TextQuestion: The text that the user entered. * ScaleQuestion: A string containing the number that was selected. * DateQuestion * Without time or year: MM-DD e.g. \"05-19\" * With year: YYYY-MM-DD e.g. \"1986-05-19\" * With time: MM-DD HH:MM e.g. \"05-19 14:51\" * With year and time: YYYY-MM-DD HH:MM e.g. \"1986-05-19 14:51\" * TimeQuestion: String with time or duration in HH:MM format e.g. \"14:51\" * RowQuestion within QuestionGroupItem: The answer for each row of a QuestionGroupItem is represented as a separate Answer. Each will contain one string for `RADIO`-type choices or multiple strings for `CHECKBOX` choices.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "TextAnswer",
      "description": "An answer to a question represented as text."
    },
    "RatingQuestion": {
      "properties": {
        "iconType": {
          "type": "string",
          "enum": [
            "RATING_ICON_TYPE_UNSPECIFIED",
            "STAR",
            "HEART",
            "THUMB_UP"
          ],
          "description": "Required. The icon type to use for the rating.",
          "enumDescriptions": [
            "Default value. Unused.",
            "A star icon.",
            "A heart icon.",
            "A thumbs down icon."
          ]
        },
        "ratingScaleLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The rating scale level of the rating question."
        }
      },
      "id": "RatingQuestion",
      "type": "object",
      "description": "A rating question. The user has a range of icons to choose from."
    },
    "RenewWatchRequest": {
      "properties": {},
      "type": "object",
      "description": "Renew an existing Watch for seven days.",
      "id": "RenewWatchRequest"
    },
    "Option": {
      "id": "Option",
      "description": "An option for a Choice question.",
      "type": "object",
      "properties": {
        "goToAction": {
          "enum": [
            "GO_TO_ACTION_UNSPECIFIED",
            "NEXT_SECTION",
            "RESTART_FORM",
            "SUBMIT_FORM"
          ],
          "enumDescriptions": [
            "Default value. Unused.",
            "Go to the next section.",
            "Go back to the beginning of the form.",
            "Submit form immediately."
          ],
          "description": "Section navigation type.",
          "type": "string"
        },
        "value": {
          "description": "Required. The choice as presented to the user.",
          "type": "string"
        },
        "isOther": {
          "type": "boolean",
          "description": "Whether the option is \"other\". Currently only applies to `RADIO` and `CHECKBOX` choice types, but is not allowed in a QuestionGroupItem."
        },
        "image": {
          "description": "Display image as an option.",
          "$ref": "Image"
        },
        "goToSectionId": {
          "type": "string",
          "description": "Item ID of section header to go to."
        }
      }
    },
    "Image": {
      "id": "Image",
      "description": "Data representing an image.",
      "properties": {
        "altText": {
          "type": "string",
          "description": "A description of the image that is shown on hover and read by screenreaders."
        },
        "properties": {
          "description": "Properties of an image.",
          "$ref": "MediaProperties"
        },
        "sourceUri": {
          "description": "Input only. The source URI is the URI used to insert the image. The source URI can be empty when fetched.",
          "type": "string"
        },
        "contentUri": {
          "type": "string",
          "description": "Output only. A URI from which you can download the image; this is valid only for a limited time.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RowQuestion": {
      "id": "RowQuestion",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title for the single row in the QuestionGroupItem."
        }
      },
      "description": "Configuration for a question that is part of a question group.",
      "type": "object"
    },
    "Request": {
      "properties": {
        "createItem": {
          "description": "Create a new item.",
          "$ref": "CreateItemRequest"
        },
        "deleteItem": {
          "$ref": "DeleteItemRequest",
          "description": "Delete an item."
        },
        "updateItem": {
          "$ref": "UpdateItemRequest",
          "description": "Update an item."
        },
        "updateFormInfo": {
          "$ref": "UpdateFormInfoRequest",
          "description": "Update Form's Info."
        },
        "updateSettings": {
          "$ref": "UpdateSettingsRequest",
          "description": "Updates the Form's settings."
        },
        "moveItem": {
          "description": "Move an item to a specified location.",
          "$ref": "MoveItemRequest"
        }
      },
      "type": "object",
      "description": "The kinds of update requests that can be made.",
      "id": "Request"
    },
    "VideoItem": {
      "type": "object",
      "properties": {
        "caption": {
          "description": "The text displayed below the video.",
          "type": "string"
        },
        "video": {
          "description": "Required. The video displayed in the item.",
          "$ref": "Video"
        }
      },
      "id": "VideoItem",
      "description": "An item containing a video."
    },
    "Feedback": {
      "description": "Feedback for a respondent about their response to a question.",
      "properties": {
        "material": {
          "type": "array",
          "description": "Additional information provided as part of the feedback, often used to point the respondent to more reading and resources.",
          "items": {
            "$ref": "ExtraMaterial"
          }
        },
        "text": {
          "description": "Required. The main text of the feedback.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Feedback"
    },
    "VideoLink": {
      "properties": {
        "youtubeUri": {
          "description": "The URI of a YouTube video.",
          "type": "string"
        },
        "displayText": {
          "type": "string",
          "description": "Required. The display text for the link."
        }
      },
      "id": "VideoLink",
      "description": "Link to a video.",
      "type": "object"
    },
    "Video": {
      "id": "Video",
      "properties": {
        "youtubeUri": {
          "type": "string",
          "description": "Required. A YouTube URI."
        },
        "properties": {
          "$ref": "MediaProperties",
          "description": "Properties of a video."
        }
      },
      "type": "object",
      "description": "Data representing a video."
    },
    "PublishSettings": {
      "properties": {
        "publishState": {
          "description": "Optional. The publishing state of a form. When updating `publish_state`, both `is_published` and `is_accepting_responses` must be set. However, setting `is_accepting_responses` to `true` and `is_published` to `false` isn't supported and returns an error.",
          "$ref": "PublishState"
        }
      },
      "description": "The publishing settings of a form.",
      "id": "PublishSettings",
      "type": "object"
    },
    "PageBreakItem": {
      "id": "PageBreakItem",
      "properties": {},
      "description": "A page break. The title and description of this item are shown at the top of the new page.",
      "type": "object"
    },
    "TimeQuestion": {
      "description": "A time question.",
      "properties": {
        "duration": {
          "type": "boolean",
          "description": "`true` if the question is about an elapsed time. Otherwise it is about a time of day."
        }
      },
      "id": "TimeQuestion",
      "type": "object"
    },
    "FileUploadAnswer": {
      "description": "Info for a single file submitted to a file upload question.",
      "properties": {
        "fileId": {
          "readOnly": true,
          "description": "Output only. The ID of the Google Drive file.",
          "type": "string"
        },
        "fileName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The file name, as stored in Google Drive on upload."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the file, as stored in Google Drive on upload.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FileUploadAnswer",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "MoveItemRequest": {
      "properties": {
        "originalLocation": {
          "$ref": "Location",
          "description": "Required. The location of the item to move."
        },
        "newLocation": {
          "description": "Required. The new location for the item.",
          "$ref": "Location"
        }
      },
      "description": "Move an item in a form.",
      "id": "MoveItemRequest",
      "type": "object"
    },
    "Location": {
      "description": "A specific location in a form.",
      "properties": {
        "index": {
          "description": "The index of an item in the form. This must be in the range [0..*N*), where *N* is the number of items in the form.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ChoiceQuestion": {
      "properties": {
        "options": {
          "description": "Required. List of options that a respondent must choose from.",
          "type": "array",
          "items": {
            "$ref": "Option"
          }
        },
        "shuffle": {
          "type": "boolean",
          "description": "Whether the options should be displayed in random order for different instances of the quiz. This is often used to prevent cheating by respondents who might be looking at another respondent's screen, or to address bias in a survey that might be introduced by always putting the same options first or last."
        },
        "type": {
          "enum": [
            "CHOICE_TYPE_UNSPECIFIED",
            "RADIO",
            "CHECKBOX",
            "DROP_DOWN"
          ],
          "type": "string",
          "description": "Required. The type of choice question.",
          "enumDescriptions": [
            "Default value. Unused.",
            "Radio buttons: All choices are shown to the user, who can only pick one of them.",
            "Checkboxes: All choices are shown to the user, who can pick any number of them.",
            "Drop-down menu: The choices are only shown to the user on demand, otherwise only the current choice is shown. Only one option can be chosen."
          ]
        }
      },
      "type": "object",
      "description": "A radio/checkbox/dropdown question.",
      "id": "ChoiceQuestion"
    },
    "PublishState": {
      "type": "object",
      "id": "PublishState",
      "properties": {
        "isAcceptingResponses": {
          "description": "Required. Whether the form accepts responses. If `is_published` is set to `false`, this field is forced to `false`.",
          "type": "boolean"
        },
        "isPublished": {
          "type": "boolean",
          "description": "Required. Whether the form is published and visible to others."
        }
      },
      "description": "The publishing state of a form."
    },
    "SetPublishSettingsResponse": {
      "id": "SetPublishSettingsResponse",
      "properties": {
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "The publish settings of the form."
        },
        "formId": {
          "description": "Required. The ID of the Form. This is same as the Form.form_id field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response of a SetPublishSettings request."
    },
    "UpdateFormInfoRequest": {
      "type": "object",
      "id": "UpdateFormInfoRequest",
      "description": "Update Form's Info.",
      "properties": {
        "info": {
          "description": "The info to update.",
          "$ref": "Info"
        },
        "updateMask": {
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `info` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "DateQuestion": {
      "type": "object",
      "description": "A date question. Date questions default to just month + day.",
      "id": "DateQuestion",
      "properties": {
        "includeTime": {
          "description": "Whether to include the time as part of the question.",
          "type": "boolean"
        },
        "includeYear": {
          "type": "boolean",
          "description": "Whether to include the year as part of the question."
        }
      }
    },
    "CreateWatchRequest": {
      "description": "Create a new watch.",
      "id": "CreateWatchRequest",
      "properties": {
        "watchId": {
          "description": "The ID to use for the watch. If specified, the ID must not already be in use. If not specified, an ID is generated. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        },
        "watch": {
          "description": "Required. The watch object. No ID should be set on this object; use `watch_id` instead.",
          "$ref": "Watch"
        }
      },
      "type": "object"
    },
    "Response": {
      "properties": {
        "createItem": {
          "description": "The result of creating an item.",
          "$ref": "CreateItemResponse"
        }
      },
      "id": "Response",
      "type": "object",
      "description": "A single response from an update."
    },
    "ExtraMaterial": {
      "properties": {
        "video": {
          "description": "Video feedback.",
          "$ref": "VideoLink"
        },
        "link": {
          "description": "Text feedback.",
          "$ref": "TextLink"
        }
      },
      "id": "ExtraMaterial",
      "type": "object",
      "description": "Supplementary material to the feedback."
    },
    "Grade": {
      "type": "object",
      "id": "Grade",
      "properties": {
        "feedback": {
          "readOnly": true,
          "$ref": "Feedback",
          "description": "Output only. Additional feedback given for an answer."
        },
        "score": {
          "format": "double",
          "description": "Output only. The numeric score awarded for the answer.",
          "type": "number",
          "readOnly": true
        },
        "correct": {
          "readOnly": true,
          "description": "Output only. Whether the question was answered correctly or not. A zero-point score is not enough to infer incorrectness, since a correctly answered question could be worth zero points.",
          "type": "boolean"
        }
      },
      "description": "Grade information associated with a respondent's answer to a question."
    },
    "TextAnswers": {
      "type": "object",
      "id": "TextAnswers",
      "properties": {
        "answers": {
          "description": "Output only. Answers to a question. For multiple-value ChoiceQuestions, each answer is a separate value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TextAnswer"
          }
        }
      },
      "description": "A question's answers as text."
    },
    "Grading": {
      "properties": {
        "whenWrong": {
          "description": "The feedback displayed for incorrect responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "generalFeedback": {
          "description": "The feedback displayed for all answers. This is commonly used for short answer questions when a quiz owner wants to quickly give respondents some sense of whether they answered the question correctly before they've had a chance to officially grade the response. General feedback cannot be set for automatically graded multiple choice questions.",
          "$ref": "Feedback"
        },
        "whenRight": {
          "description": "The feedback displayed for correct responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "correctAnswers": {
          "$ref": "CorrectAnswers",
          "description": "Required. The answer key for the question. Responses are automatically graded based on this field."
        },
        "pointValue": {
          "format": "int32",
          "description": "Required. The maximum number of points a respondent can automatically get for a correct answer. This must not be negative.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Grading for a single question",
      "id": "Grading"
    },
    "TextLink": {
      "id": "TextLink",
      "description": "Link for text.",
      "properties": {
        "displayText": {
          "type": "string",
          "description": "Required. Display text for the URI."
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI."
        }
      },
      "type": "object"
    },
    "SetPublishSettingsRequest": {
      "id": "SetPublishSettingsRequest",
      "description": "Updates the publish settings of a Form.",
      "properties": {
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "Required. The desired publish settings to apply to the form."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The `publish_settings` fields to update. This field mask accepts the following values: * `publish_state`: Updates or replaces all `publish_state` settings. * `\"*\"`: Updates or replaces all `publish_settings` fields."
        }
      },
      "type": "object"
    },
    "ListWatchesResponse": {
      "properties": {
        "watches": {
          "items": {
            "$ref": "Watch"
          },
          "type": "array",
          "description": "The returned watches."
        }
      },
      "description": "The response of a ListWatchesRequest.",
      "id": "ListWatchesResponse",
      "type": "object"
    },
    "Answer": {
      "id": "Answer",
      "properties": {
        "questionId": {
          "description": "Output only. The question's ID. See also Question.question_id.",
          "type": "string",
          "readOnly": true
        },
        "textAnswers": {
          "readOnly": true,
          "$ref": "TextAnswers",
          "description": "Output only. The specific answers as text."
        },
        "grade": {
          "readOnly": true,
          "description": "Output only. The grade for the answer if the form was a quiz.",
          "$ref": "Grade"
        },
        "fileUploadAnswers": {
          "description": "Output only. The answers to a file upload question.",
          "readOnly": true,
          "$ref": "FileUploadAnswers"
        }
      },
      "description": "The submitted answer for a question.",
      "type": "object"
    },
    "UpdateSettingsRequest": {
      "properties": {
        "settings": {
          "description": "Required. The settings to update with.",
          "$ref": "FormSettings"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `settings` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateSettingsRequest",
      "description": "Update Form's FormSettings.",
      "type": "object"
    },
    "MediaProperties": {
      "properties": {
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Left align.",
            "Right align.",
            "Center."
          ],
          "description": "Position of the media.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT",
            "CENTER"
          ]
        },
        "width": {
          "format": "int32",
          "description": "The width of the media in pixels. When the media is displayed, it is scaled to the smaller of this value or the width of the displayed form. The original aspect ratio of the media is preserved. If a width is not specified when the media is added to the form, it is set to the width of the media source. Width must be between 0 and 740, inclusive. Setting width to 0 or unspecified is only permitted when updating the media source.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Properties of the media.",
      "id": "MediaProperties"
    },
    "QuestionItem": {
      "type": "object",
      "description": "A form item containing a single question.",
      "id": "QuestionItem",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "The image displayed within the question."
        },
        "question": {
          "description": "Required. The displayed question.",
          "$ref": "Question"
        }
      }
    },
    "Watch": {
      "description": "A watch for events for a form. When the designated event happens, a notification will be published to the specified target. The notification's attributes will include a `formId` key that has the ID of the watched form and an `eventType` key that has the string of the type. Messages are sent with at-least-once delivery and are only dropped in extraordinary circumstances. Typically all notifications should be reliably delivered within a few seconds; however, in some situations notifications may be delayed. A watch expires seven days after it is created unless it is renewed with watches.renew",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the watch. Additional details about suspended watches can be found by checking the `error_type`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Watch is active.",
            "The watch is suspended due to an error that may be resolved. The watch will continue to exist until it expires. To attempt to reactivate the watch a call can be made to watches.renew"
          ]
        },
        "eventType": {
          "description": "Required. Which event type to watch for.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "SCHEMA",
            "RESPONSES"
          ],
          "enumDescriptions": [
            "Unspecified event type. This value should not be used.",
            "The schema event type. A watch with this event type will be notified about changes to form content and settings.",
            "The responses event type. A watch with this event type will be notified when form responses are submitted."
          ]
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp for when this will expire. Each watches.renew call resets this to seven days in the future."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when this was created.",
          "readOnly": true
        },
        "target": {
          "$ref": "WatchTarget",
          "description": "Required. Where to send the notification."
        },
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "PROJECT_NOT_AUTHORIZED",
            "NO_USER_ACCESS",
            "OTHER_ERRORS"
          ],
          "type": "string",
          "description": "Output only. The most recent error type for an attempted delivery. To begin watching the form again a call can be made to watches.renew which also clears this error information.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified error type.",
            "The cloud project does not have access to the form being watched. This occurs if the user has revoked the authorization for your project to access their form(s). Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "The user that granted access no longer has access to the form being watched. Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "Another type of error has occurred. Whether notifications will continue depends on the watch state."
          ]
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this watch. See notes on CreateWatchRequest.watch_id.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Watch"
    },
    "ImageItem": {
      "id": "ImageItem",
      "description": "An item containing an image.",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Required. The image displayed in the item."
        }
      }
    },
    "FormSettings": {
      "id": "FormSettings",
      "properties": {
        "quizSettings": {
          "$ref": "QuizSettings",
          "description": "Settings related to quiz forms and grading."
        },
        "emailCollectionType": {
          "enum": [
            "EMAIL_COLLECTION_TYPE_UNSPECIFIED",
            "DO_NOT_COLLECT",
            "VERIFIED",
            "RESPONDER_INPUT"
          ],
          "description": "Optional. The setting that determines whether the form collects email addresses from respondents.",
          "enumDescriptions": [
            "Unspecified. This value is unused.",
            "The form doesn't collect email addresses. Default value if the form owner uses a Google account.",
            "The form collects email addresses automatically based on the account of the signed-in user. Default value if the form owner uses a Google Workspace account.",
            "The form collects email addresses using a field that the respondent completes on the form."
          ],
          "type": "string"
        }
      },
      "description": "A form's settings.",
      "type": "object"
    },
    "QuestionGroupItem": {
      "description": "Defines a question that comprises multiple questions grouped together.",
      "properties": {
        "grid": {
          "description": "The question group is a grid with rows of multiple choice questions that share the same options. When `grid` is set, all questions in the group must be of kind `row`.",
          "$ref": "Grid"
        },
        "image": {
          "description": "The image displayed within the question group above the specific questions.",
          "$ref": "Image"
        },
        "questions": {
          "type": "array",
          "items": {
            "$ref": "Question"
          },
          "description": "Required. A list of questions that belong in this question group. A question must only belong to one group. The `kind` of the group may affect what types of questions are allowed."
        }
      },
      "id": "QuestionGroupItem",
      "type": "object"
    },
    "UpdateItemRequest": {
      "description": "Update an item in a form.",
      "id": "UpdateItemRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Required. Only values named in this mask are changed.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "item": {
          "description": "Required. New values for the item. Note that item and question IDs are used if they are provided (and are in the field mask). If an ID is blank (and in the field mask) a new ID is generated. This means you can modify an item by getting the form via forms.get, modifying your local copy of that item to be how you want it, and using UpdateItemRequest to write it back, with the IDs being the same (or not in the field mask).",
          "$ref": "Item"
        },
        "location": {
          "description": "Required. The location identifying the item to update.",
          "$ref": "Location"
        }
      }
    },
    "Grid": {
      "id": "Grid",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Required. The choices shared by each question in the grid. In other words, the values of the columns. Only `CHECK_BOX` and `RADIO` choices are allowed.",
          "$ref": "ChoiceQuestion"
        },
        "shuffleQuestions": {
          "description": "If `true`, the questions are randomly ordered. In other words, the rows appear in a different order for every respondent.",
          "type": "boolean"
        }
      },
      "description": "A grid of choices (radio or check boxes) with each row constituting a separate question. Each row has the same choices, which are shown as the columns."
    },
    "CreateItemResponse": {
      "description": "The result of creating an item.",
      "id": "CreateItemResponse",
      "type": "object",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The ID of the created item."
        },
        "questionId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID of the question created as part of this item, for a question group it lists IDs of all the questions created for this item."
        }
      }
    },
    "BatchUpdateFormRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "type": "array",
          "description": "Required. The update requests of this batch."
        },
        "includeFormInResponse": {
          "description": "Whether to return an updated version of the model in the response.",
          "type": "boolean"
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      },
      "id": "BatchUpdateFormRequest",
      "description": "A batch of updates to perform on a form. All the specified updates are made or none of them are.",
      "type": "object"
    },
    "Form": {
      "type": "object",
      "id": "Form",
      "description": "A Google Forms document. A form is created in Drive, and deleting a form or changing its access protections is done via the [Drive API](https://developers.google.com/drive/api/v3/about-sdk).",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          },
          "description": "Required. A list of the form's items, which can include section headers, questions, embedded media, etc."
        },
        "settings": {
          "$ref": "FormSettings",
          "description": "The form's settings. This must be updated with UpdateSettingsRequest; it is ignored during CreateForm and UpdateFormInfoRequest."
        },
        "responderUri": {
          "type": "string",
          "description": "Output only. The form URI to share with responders. This opens a page that allows the user to submit responses but not edit the questions. For forms that have publish_settings value set, this is the published form URI.",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the form. Used in the WriteControl in update requests to identify the revision on which the changes are based. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the form *content* has not changed. Conversely, a changed ID (for the same form and user) usually means the form *content* has been updated; however, a changed ID can also be due to internal factors such as ID format changes. Form content excludes form metadata, including: * sharing settings (who has access to the form) * publish_settings (if the form supports publishing and if it is published)",
          "type": "string"
        },
        "info": {
          "description": "Required. The title and description of the form.",
          "$ref": "Info"
        },
        "formId": {
          "description": "Output only. The form ID.",
          "readOnly": true,
          "type": "string"
        },
        "linkedSheetId": {
          "description": "Output only. The ID of the linked Google Sheet which is accumulating responses from this Form (if such a Sheet exists).",
          "type": "string",
          "readOnly": true
        },
        "publishSettings": {
          "description": "Output only. The publishing settings for a form. This field isn't set for legacy forms because they don't have the publish_settings field. All newly created forms support publish settings. Forms with publish_settings value set can call SetPublishSettings API to publish or unpublish the form.",
          "readOnly": true,
          "$ref": "PublishSettings"
        }
      }
    },
    "CorrectAnswer": {
      "properties": {
        "value": {
          "description": "Required. The correct answer value. See the documentation for TextAnswer.value for details on how various value types are formatted.",
          "type": "string"
        }
      },
      "description": "A single correct answer for a question. For multiple-valued (`CHECKBOX`) questions, several `CorrectAnswer`s may be needed to represent a single correct response option.",
      "id": "CorrectAnswer",
      "type": "object"
    },
    "WatchTarget": {
      "id": "WatchTarget",
      "type": "object",
      "description": "The target for notification delivery.",
      "properties": {
        "topic": {
          "description": "A Pub/Sub topic. To receive notifications, the topic must grant publish privileges to the Forms service account `serviceAccount:forms-notifications@system.gserviceaccount.com`. Only the project that owns a topic may create a watch with it. Pub/Sub delivery guarantees should be considered.",
          "$ref": "CloudPubsubTopic"
        }
      }
    },
    "DeleteItemRequest": {
      "description": "Delete an item in a form.",
      "id": "DeleteItemRequest",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Required. The location of the item to delete."
        }
      }
    },
    "CorrectAnswers": {
      "id": "CorrectAnswers",
      "properties": {
        "answers": {
          "type": "array",
          "description": "A list of correct answers. A quiz response can be automatically graded based on these answers. For single-valued questions, a response is marked correct if it matches any value in this list (in other words, multiple correct answers are possible). For multiple-valued (`CHECKBOX`) questions, a response is marked correct if it contains exactly the values in this list.",
          "items": {
            "$ref": "CorrectAnswer"
          }
        }
      },
      "type": "object",
      "description": "The answer key for a question."
    },
    "TextQuestion": {
      "type": "object",
      "id": "TextQuestion",
      "description": "A text-based question.",
      "properties": {
        "paragraph": {
          "type": "boolean",
          "description": "Whether the question is a paragraph question or not. If not, the question is a short text question."
        }
      }
    },
    "FileUploadQuestion": {
      "id": "FileUploadQuestion",
      "properties": {
        "maxFiles": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of files that can be uploaded for this question in a single response."
        },
        "folderId": {
          "type": "string",
          "description": "Required. The ID of the Drive folder where uploaded files are stored."
        },
        "types": {
          "description": "File types accepted by this question.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Unused.",
              "No restrictions on type.",
              "A Google Docs document.",
              "A Google Slides presentation.",
              "A Google Sheets spreadsheet.",
              "A drawing.",
              "A PDF.",
              "An image.",
              "A video.",
              "An audio file."
            ],
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "ANY",
              "DOCUMENT",
              "PRESENTATION",
              "SPREADSHEET",
              "DRAWING",
              "PDF",
              "IMAGE",
              "VIDEO",
              "AUDIO"
            ]
          }
        },
        "maxFileSize": {
          "format": "int64",
          "type": "string",
          "description": "Maximum number of bytes allowed for any single file uploaded to this question."
        }
      },
      "type": "object",
      "description": "A file upload question. The API currently does not support creating file upload questions."
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "forms": {
      "methods": {
        "get": {
          "parameterOrder": [
            "formId"
          ],
          "path": "v1/forms/{formId}",
          "description": "Get a form.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/forms.body",
            "https://www.googleapis.com/auth/forms.body.readonly"
          ],
          "response": {
            "$ref": "Form"
          },
          "httpMethod": "GET",
          "parameters": {
            "formId": {
              "location": "path",
              "type": "string",
              "description": "Required. The form ID.",
              "required": true
            }
          },
          "id": "forms.forms.get",
          "flatPath": "v1/forms/{formId}"
        },
        "batchUpdate": {
          "id": "forms.forms.batchUpdate",
          "flatPath": "v1/forms/{formId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateFormRequest"
          },
          "parameters": {
            "formId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The form ID."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "response": {
            "$ref": "BatchUpdateFormResponse"
          },
          "description": "Change the form with a batch of updates.",
          "parameterOrder": [
            "formId"
          ],
          "path": "v1/forms/{formId}:batchUpdate"
        },
        "setPublishSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "parameterOrder": [
            "formId"
          ],
          "httpMethod": "POST",
          "id": "forms.forms.setPublishSettings",
          "path": "v1/forms/{formId}:setPublishSettings",
          "parameters": {
            "formId": {
              "location": "path",
              "description": "Required. The ID of the form. You can get the id from Form.form_id field.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "SetPublishSettingsResponse"
          },
          "description": "Updates the publish settings of a form. Legacy forms aren't supported because they don't have the `publish_settings` field.",
          "request": {
            "$ref": "SetPublishSettingsRequest"
          },
          "flatPath": "v1/forms/{formId}:setPublishSettings"
        },
        "create": {
          "httpMethod": "POST",
          "path": "v1/forms",
          "flatPath": "v1/forms",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "parameters": {
            "unpublished": {
              "location": "query",
              "description": "Optional. Whether the form is unpublished. If set to `true`, the form doesn't accept responses. If set to `false` or unset, the form is published and accepts responses.",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Form"
          },
          "id": "forms.forms.create",
          "request": {
            "$ref": "Form"
          },
          "description": "Create a new form using the title given in the provided form message in the request. *Important:* Only the form.info.title and form.info.document_title fields are copied to the new form. All other fields including the form description, items and settings are disallowed. To create a new form and add items, you must first call forms.create to create an empty form with a title and (optional) document title, and then call forms.update to add the items."
        }
      },
      "resources": {
        "responses": {
          "methods": {
            "get": {
              "path": "v1/forms/{formId}/responses/{responseId}",
              "parameterOrder": [
                "formId",
                "responseId"
              ],
              "parameters": {
                "responseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The response ID within the form."
                },
                "formId": {
                  "location": "path",
                  "description": "Required. The form ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "FormResponse"
              },
              "id": "forms.forms.responses.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "flatPath": "v1/forms/{formId}/responses/{responseId}",
              "description": "Get one response from the form."
            },
            "list": {
              "path": "v1/forms/{formId}/responses",
              "description": "List a form's responses.",
              "id": "forms.forms.responses.list",
              "parameterOrder": [
                "formId"
              ],
              "flatPath": "v1/forms/{formId}/responses",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Which form responses to return. Currently, the only supported filters are: * timestamp > *N* which means to get all form responses submitted after (but not at) timestamp *N*. * timestamp >= *N* which means to get all form responses submitted at and after timestamp *N*. For both supported filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\".",
                  "location": "query"
                },
                "formId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the Form whose responses to list.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token returned by a previous list response. If this field is set, the form and the values of the filter must be the same as for the original request.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of responses to return. The service may return fewer than this value. If unspecified or zero, at most 5000 responses are returned."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFormResponsesResponse"
              }
            }
          }
        },
        "watches": {
          "methods": {
            "create": {
              "request": {
                "$ref": "CreateWatchRequest"
              },
              "path": "v1/forms/{formId}/watches",
              "parameterOrder": [
                "formId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "response": {
                "$ref": "Watch"
              },
              "httpMethod": "POST",
              "flatPath": "v1/forms/{formId}/watches",
              "description": "Create a new watch. If a watch ID is provided, it must be unused. For each invoking project, the per form limit is one watch per Watch.EventType. A watch expires seven days after it is created (see Watch.expire_time).",
              "id": "forms.forms.watches.create",
              "parameters": {
                "formId": {
                  "required": true,
                  "description": "Required. ID of the Form to watch.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "description": "Delete a watch.",
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "id": "forms.forms.watches.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "formId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Form."
                },
                "watchId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the Watch to delete.",
                  "type": "string"
                }
              },
              "path": "v1/forms/{formId}/watches/{watchId}",
              "flatPath": "v1/forms/{formId}/watches/{watchId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "renew": {
              "description": "Renew an existing watch for seven days. The state of the watch after renewal is `ACTIVE`, and the `expire_time` is seven days from the renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds if the error is no longer present, but fail otherwise. After a watch has expired, RenewWatch returns `NOT_FOUND`.",
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "response": {
                "$ref": "Watch"
              },
              "request": {
                "$ref": "RenewWatchRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "watchId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the Watch to renew."
                },
                "formId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Form."
                }
              },
              "flatPath": "v1/forms/{formId}/watches/{watchId}:renew",
              "path": "v1/forms/{formId}/watches/{watchId}:renew",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.watches.renew"
            },
            "list": {
              "flatPath": "v1/forms/{formId}/watches",
              "description": "Return a list of the watches owned by the invoking project. The maximum number of watches is two: For each invoker, the limit is one for each event type per form.",
              "response": {
                "$ref": "ListWatchesResponse"
              },
              "id": "forms.forms.watches.list",
              "parameterOrder": [
                "formId"
              ],
              "path": "v1/forms/{formId}/watches",
              "httpMethod": "GET",
              "parameters": {
                "formId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the Form whose watches to list."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ]
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "id": "forms:v1",
  "servicePath": ""
}