{
  "mtlsRootUrl": "https://forms.mtls.googleapis.com/",
  "baseUrl": "https://forms.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.body": {
          "description": "See, edit, create, and delete all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/forms.responses.readonly": {
          "description": "See all responses to your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.body.readonly": {
          "description": "See all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/workspace/forms/api",
  "rootUrl": "https://forms.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "revision": "20260906",
  "canonicalName": "Forms",
  "title": "Google Forms API",
  "discoveryVersion": "v1",
  "schemas": {
    "Grid": {
      "id": "Grid",
      "properties": {
        "shuffleQuestions": {
          "type": "boolean",
          "description": "If `true`, the questions are randomly ordered. In other words, the rows appear in a different order for every respondent."
        },
        "columns": {
          "description": "Required. The choices shared by each question in the grid. In other words, the values of the columns. Only `CHECK_BOX` and `RADIO` choices are allowed.",
          "$ref": "ChoiceQuestion"
        }
      },
      "description": "A grid of choices (radio or check boxes) with each row constituting a separate question. Each row has the same choices, which are shown as the columns.",
      "type": "object"
    },
    "ChoiceQuestion": {
      "id": "ChoiceQuestion",
      "properties": {
        "type": {
          "description": "Required. The type of choice question.",
          "enum": [
            "CHOICE_TYPE_UNSPECIFIED",
            "RADIO",
            "CHECKBOX",
            "DROP_DOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Radio buttons: All choices are shown to the user, who can only pick one of them.",
            "Checkboxes: All choices are shown to the user, who can pick any number of them.",
            "Drop-down menu: The choices are only shown to the user on demand, otherwise only the current choice is shown. Only one option can be chosen."
          ]
        },
        "shuffle": {
          "type": "boolean",
          "description": "Whether the options should be displayed in random order for different instances of the quiz. This is often used to prevent cheating by respondents who might be looking at another respondent's screen, or to address bias in a survey that might be introduced by always putting the same options first or last."
        },
        "options": {
          "description": "Required. List of options that a respondent must choose from.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        }
      },
      "description": "A radio/checkbox/dropdown question.",
      "type": "object"
    },
    "Request": {
      "properties": {
        "deleteItem": {
          "description": "Delete an item.",
          "$ref": "DeleteItemRequest"
        },
        "createItem": {
          "description": "Create a new item.",
          "$ref": "CreateItemRequest"
        },
        "moveItem": {
          "$ref": "MoveItemRequest",
          "description": "Move an item to a specified location."
        },
        "updateSettings": {
          "$ref": "UpdateSettingsRequest",
          "description": "Updates the Form's settings."
        },
        "updateFormInfo": {
          "description": "Update Form's Info.",
          "$ref": "UpdateFormInfoRequest"
        },
        "updateItem": {
          "description": "Update an item.",
          "$ref": "UpdateItemRequest"
        }
      },
      "type": "object",
      "id": "Request",
      "description": "The kinds of update requests that can be made."
    },
    "UpdateFormInfoRequest": {
      "type": "object",
      "id": "UpdateFormInfoRequest",
      "description": "Update Form's Info.",
      "properties": {
        "info": {
          "description": "The info to update.",
          "$ref": "Info"
        },
        "updateMask": {
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `info` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "QuizSettings": {
      "id": "QuizSettings",
      "properties": {
        "isQuiz": {
          "description": "Whether this form is a quiz or not. When true, responses are graded based on question Grading. Upon setting to false, all question Grading is deleted.",
          "type": "boolean"
        }
      },
      "description": "Settings related to quiz forms and grading. These must be updated with the UpdateSettingsRequest.",
      "type": "object"
    },
    "ListFormResponsesResponse": {
      "id": "ListFormResponsesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If set, there are more responses. To get the next page of responses, provide this as `page_token` in a future request.",
          "type": "string"
        },
        "responses": {
          "description": "The returned form responses. Note: The `formId` field is not returned in the `FormResponse` object for list requests.",
          "items": {
            "$ref": "FormResponse"
          },
          "type": "array"
        }
      },
      "description": "Response to a ListFormResponsesRequest.",
      "type": "object"
    },
    "FormResponse": {
      "type": "object",
      "id": "FormResponse",
      "description": "A form response.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp for the first time the response was submitted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "totalScore": {
          "description": "Output only. The total number of points the respondent received for their submission Only set if the form was a quiz and the response was graded. This includes points automatically awarded via autograding adjusted by any manual corrections entered by the form owner.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "respondentEmail": {
          "description": "Output only. The email address (if collected) for the respondent.",
          "readOnly": true,
          "type": "string"
        },
        "responseId": {
          "readOnly": true,
          "description": "Output only. The response ID.",
          "type": "string"
        },
        "answers": {
          "description": "Output only. The actual answers to the questions, keyed by question_id.",
          "additionalProperties": {
            "$ref": "Answer"
          },
          "type": "object",
          "readOnly": true
        },
        "lastSubmittedTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp for the most recent time the response was submitted. Does not track changes to grades."
        },
        "formId": {
          "type": "string",
          "description": "Output only. The form ID.",
          "readOnly": true
        }
      }
    },
    "TimeQuestion": {
      "properties": {
        "duration": {
          "description": "`true` if the question is about an elapsed time. Otherwise it is about a time of day.",
          "type": "boolean"
        }
      },
      "id": "TimeQuestion",
      "type": "object",
      "description": "A time question."
    },
    "FileUploadAnswers": {
      "type": "object",
      "id": "FileUploadAnswers",
      "description": "All submitted files for a FileUpload question.",
      "properties": {
        "answers": {
          "items": {
            "$ref": "FileUploadAnswer"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. All submitted files for a FileUpload question."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Question": {
      "properties": {
        "dateQuestion": {
          "$ref": "DateQuestion",
          "description": "A respondent can enter a date."
        },
        "required": {
          "description": "Whether the question must be answered in order for a respondent to submit their response.",
          "type": "boolean"
        },
        "rowQuestion": {
          "$ref": "RowQuestion",
          "description": "A row of a QuestionGroupItem."
        },
        "grading": {
          "description": "Grading setup for the question.",
          "$ref": "Grading"
        },
        "textQuestion": {
          "$ref": "TextQuestion",
          "description": "A respondent can enter a free text response."
        },
        "ratingQuestion": {
          "$ref": "RatingQuestion",
          "description": "A respondent can choose a rating from a pre-defined set of icons."
        },
        "timeQuestion": {
          "$ref": "TimeQuestion",
          "description": "A respondent can enter a time."
        },
        "questionId": {
          "description": "Read only. The question ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned.",
          "type": "string"
        },
        "choiceQuestion": {
          "$ref": "ChoiceQuestion",
          "description": "A respondent can choose from a pre-defined set of options."
        },
        "scaleQuestion": {
          "$ref": "ScaleQuestion",
          "description": "A respondent can choose a number from a range."
        },
        "fileUploadQuestion": {
          "description": "A respondent can upload one or more files.",
          "$ref": "FileUploadQuestion"
        }
      },
      "description": "Any question. The specific type of question is known by its `kind`.",
      "type": "object",
      "id": "Question"
    },
    "Grade": {
      "description": "Grade information associated with a respondent's answer to a question.",
      "id": "Grade",
      "properties": {
        "correct": {
          "description": "Output only. Whether the question was answered correctly or not. A zero-point score is not enough to infer incorrectness, since a correctly answered question could be worth zero points.",
          "readOnly": true,
          "type": "boolean"
        },
        "feedback": {
          "readOnly": true,
          "description": "Output only. Additional feedback given for an answer.",
          "$ref": "Feedback"
        },
        "score": {
          "format": "double",
          "description": "Output only. The numeric score awarded for the answer.",
          "type": "number",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Response": {
      "description": "A single response from an update.",
      "id": "Response",
      "properties": {
        "createItem": {
          "description": "The result of creating an item.",
          "$ref": "CreateItemResponse"
        }
      },
      "type": "object"
    },
    "QuestionItem": {
      "description": "A form item containing a single question.",
      "type": "object",
      "properties": {
        "question": {
          "description": "Required. The displayed question.",
          "$ref": "Question"
        },
        "image": {
          "description": "The image displayed within the question.",
          "$ref": "Image"
        }
      },
      "id": "QuestionItem"
    },
    "CreateItemRequest": {
      "properties": {
        "item": {
          "$ref": "Item",
          "description": "Required. The item to create."
        },
        "location": {
          "description": "Required. Where to place the new item.",
          "$ref": "Location"
        }
      },
      "id": "CreateItemRequest",
      "type": "object",
      "description": "Create an item in a form."
    },
    "PageBreakItem": {
      "properties": {},
      "type": "object",
      "id": "PageBreakItem",
      "description": "A page break. The title and description of this item are shown at the top of the new page."
    },
    "UpdateSettingsRequest": {
      "description": "Update Form's FormSettings.",
      "properties": {
        "settings": {
          "$ref": "FormSettings",
          "description": "Required. The settings to update with."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `settings` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field."
        }
      },
      "id": "UpdateSettingsRequest",
      "type": "object"
    },
    "TextAnswers": {
      "id": "TextAnswers",
      "type": "object",
      "properties": {
        "answers": {
          "description": "Output only. Answers to a question. For multiple-value ChoiceQuestions, each answer is a separate value.",
          "items": {
            "$ref": "TextAnswer"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "A question's answers as text."
    },
    "MoveItemRequest": {
      "id": "MoveItemRequest",
      "description": "Move an item in a form.",
      "properties": {
        "newLocation": {
          "$ref": "Location",
          "description": "Required. The new location for the item."
        },
        "originalLocation": {
          "description": "Required. The location of the item to move.",
          "$ref": "Location"
        }
      },
      "type": "object"
    },
    "DeleteItemRequest": {
      "description": "Delete an item in a form.",
      "id": "DeleteItemRequest",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Required. The location of the item to delete."
        }
      }
    },
    "WriteControl": {
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the form that the write request is applied to. If this is not the latest revision of the form, the request is not processed and returns a 400 bad request error."
        },
        "targetRevisionId": {
          "description": "The target revision ID of the form that the write request is applied to. If changes have occurred after this revision, the changes in this update request are transformed against those changes. This results in a new revision of the form that incorporates both the changes in the request and the intervening changes, with the server resolving conflicting changes. The target revision ID may only be used to write to recent versions of a form. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 (Bad Request Error). The request may be retried after reading the latest version of the form. In most cases a target revision ID remains valid for several minutes after it is read, but for frequently-edited forms this window may be shorter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides control over how write requests are executed.",
      "id": "WriteControl"
    },
    "ExtraMaterial": {
      "properties": {
        "link": {
          "description": "Text feedback.",
          "$ref": "TextLink"
        },
        "video": {
          "$ref": "VideoLink",
          "description": "Video feedback."
        }
      },
      "type": "object",
      "id": "ExtraMaterial",
      "description": "Supplementary material to the feedback."
    },
    "DateQuestion": {
      "properties": {
        "includeTime": {
          "description": "Whether to include the time as part of the question.",
          "type": "boolean"
        },
        "includeYear": {
          "description": "Whether to include the year as part of the question.",
          "type": "boolean"
        }
      },
      "id": "DateQuestion",
      "description": "A date question. Date questions default to just month + day.",
      "type": "object"
    },
    "TextAnswer": {
      "type": "object",
      "id": "TextAnswer",
      "description": "An answer to a question represented as text.",
      "properties": {
        "value": {
          "description": "Output only. The answer value. Formatting used for different kinds of question: * ChoiceQuestion * `RADIO` or `DROP_DOWN`: A single string corresponding to the option that was selected. * `CHECKBOX`: Multiple strings corresponding to each option that was selected. * TextQuestion: The text that the user entered. * ScaleQuestion: A string containing the number that was selected. * DateQuestion * Without time or year: MM-DD e.g. \"05-19\" * With year: YYYY-MM-DD e.g. \"1986-05-19\" * With time: MM-DD HH:MM e.g. \"05-19 14:51\" * With year and time: YYYY-MM-DD HH:MM e.g. \"1986-05-19 14:51\" * TimeQuestion: String with time or duration in HH:MM format e.g. \"14:51\" * RowQuestion within QuestionGroupItem: The answer for each row of a QuestionGroupItem is represented as a separate Answer. Each will contain one string for `RADIO`-type choices or multiple strings for `CHECKBOX` choices.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TextItem": {
      "properties": {},
      "description": "A text item.",
      "type": "object",
      "id": "TextItem"
    },
    "FormSettings": {
      "type": "object",
      "description": "A form's settings.",
      "properties": {
        "quizSettings": {
          "description": "Settings related to quiz forms and grading.",
          "$ref": "QuizSettings"
        },
        "emailCollectionType": {
          "enumDescriptions": [
            "Unspecified. This value is unused.",
            "The form doesn't collect email addresses. Default value if the form owner uses a Google account.",
            "The form collects email addresses automatically based on the account of the signed-in user. Default value if the form owner uses a Google Workspace account.",
            "The form collects email addresses using a field that the respondent completes on the form."
          ],
          "enum": [
            "EMAIL_COLLECTION_TYPE_UNSPECIFIED",
            "DO_NOT_COLLECT",
            "VERIFIED",
            "RESPONDER_INPUT"
          ],
          "description": "Optional. The setting that determines whether the form collects email addresses from respondents.",
          "type": "string"
        }
      },
      "id": "FormSettings"
    },
    "SetPublishSettingsRequest": {
      "id": "SetPublishSettingsRequest",
      "type": "object",
      "description": "Updates the publish settings of a Form.",
      "properties": {
        "publishSettings": {
          "description": "Required. The desired publish settings to apply to the form.",
          "$ref": "PublishSettings"
        },
        "updateMask": {
          "description": "Optional. The `publish_settings` fields to update. This field mask accepts the following values: * `publish_state`: Updates or replaces all `publish_state` settings. * `\"*\"`: Updates or replaces all `publish_settings` fields.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "ImageItem": {
      "type": "object",
      "description": "An item containing an image.",
      "id": "ImageItem",
      "properties": {
        "image": {
          "description": "Required. The image displayed in the item.",
          "$ref": "Image"
        }
      }
    },
    "RowQuestion": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title for the single row in the QuestionGroupItem."
        }
      },
      "id": "RowQuestion",
      "type": "object",
      "description": "Configuration for a question that is part of a question group."
    },
    "Item": {
      "description": "A single item of the form. `kind` defines which kind of item it is.",
      "type": "object",
      "id": "Item",
      "properties": {
        "questionItem": {
          "$ref": "QuestionItem",
          "description": "Poses a question to the user."
        },
        "description": {
          "description": "The description of the item.",
          "type": "string"
        },
        "imageItem": {
          "description": "Displays an image on the page.",
          "$ref": "ImageItem"
        },
        "textItem": {
          "description": "Displays a title and description on the page.",
          "$ref": "TextItem"
        },
        "itemId": {
          "type": "string",
          "description": "The item ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned."
        },
        "title": {
          "description": "The title of the item.",
          "type": "string"
        },
        "pageBreakItem": {
          "$ref": "PageBreakItem",
          "description": "Starts a new page with a title."
        },
        "questionGroupItem": {
          "description": "Poses one or more questions to the user with a single major prompt.",
          "$ref": "QuestionGroupItem"
        },
        "videoItem": {
          "description": "Displays a video on the page.",
          "$ref": "VideoItem"
        }
      }
    },
    "RatingQuestion": {
      "type": "object",
      "id": "RatingQuestion",
      "description": "A rating question. The user has a range of icons to choose from.",
      "properties": {
        "ratingScaleLevel": {
          "format": "int32",
          "description": "Required. The rating scale level of the rating question.",
          "type": "integer"
        },
        "iconType": {
          "enum": [
            "RATING_ICON_TYPE_UNSPECIFIED",
            "STAR",
            "HEART",
            "THUMB_UP"
          ],
          "enumDescriptions": [
            "Default value. Unused.",
            "A star icon.",
            "A heart icon.",
            "A thumbs down icon."
          ],
          "description": "Required. The icon type to use for the rating.",
          "type": "string"
        }
      }
    },
    "VideoItem": {
      "description": "An item containing a video.",
      "type": "object",
      "properties": {
        "caption": {
          "description": "The text displayed below the video.",
          "type": "string"
        },
        "video": {
          "description": "Required. The video displayed in the item.",
          "$ref": "Video"
        }
      },
      "id": "VideoItem"
    },
    "CorrectAnswers": {
      "properties": {
        "answers": {
          "items": {
            "$ref": "CorrectAnswer"
          },
          "description": "A list of correct answers. A quiz response can be automatically graded based on these answers. For single-valued questions, a response is marked correct if it matches any value in this list (in other words, multiple correct answers are possible). For multiple-valued (`CHECKBOX`) questions, a response is marked correct if it contains exactly the values in this list.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CorrectAnswers",
      "description": "The answer key for a question."
    },
    "ScaleQuestion": {
      "description": "A scale question. The user has a range of numeric values to choose from.",
      "properties": {
        "low": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The lowest possible value for the scale."
        },
        "lowLabel": {
          "type": "string",
          "description": "The label to display describing the lowest point on the scale."
        },
        "high": {
          "format": "int32",
          "description": "Required. The highest possible value for the scale.",
          "type": "integer"
        },
        "highLabel": {
          "type": "string",
          "description": "The label to display describing the highest point on the scale."
        }
      },
      "id": "ScaleQuestion",
      "type": "object"
    },
    "PublishSettings": {
      "type": "object",
      "properties": {
        "publishState": {
          "$ref": "PublishState",
          "description": "Optional. The publishing state of a form. When updating `publish_state`, both `is_published` and `is_accepting_responses` must be set. However, setting `is_accepting_responses` to `true` and `is_published` to `false` isn't supported and returns an error."
        }
      },
      "description": "The publishing settings of a form.",
      "id": "PublishSettings"
    },
    "TextLink": {
      "properties": {
        "displayText": {
          "description": "Required. Display text for the URI.",
          "type": "string"
        },
        "uri": {
          "description": "Required. The URI.",
          "type": "string"
        }
      },
      "id": "TextLink",
      "type": "object",
      "description": "Link for text."
    },
    "Option": {
      "type": "object",
      "description": "An option for a Choice question.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The choice as presented to the user."
        },
        "image": {
          "$ref": "Image",
          "description": "Display image as an option."
        },
        "goToSectionId": {
          "description": "Item ID of section header to go to.",
          "type": "string"
        },
        "goToAction": {
          "enum": [
            "GO_TO_ACTION_UNSPECIFIED",
            "NEXT_SECTION",
            "RESTART_FORM",
            "SUBMIT_FORM"
          ],
          "type": "string",
          "description": "Section navigation type.",
          "enumDescriptions": [
            "Default value. Unused.",
            "Go to the next section.",
            "Go back to the beginning of the form.",
            "Submit form immediately."
          ]
        },
        "isOther": {
          "description": "Whether the option is \"other\". Currently only applies to `RADIO` and `CHECKBOX` choice types, but is not allowed in a QuestionGroupItem.",
          "type": "boolean"
        }
      },
      "id": "Option"
    },
    "Info": {
      "properties": {
        "description": {
          "description": "The description of the form.",
          "type": "string"
        },
        "documentTitle": {
          "type": "string",
          "description": "Output only. The title of the document which is visible in Drive. If Info.title is empty, `document_title` may appear in its place in the Google Forms UI and be visible to responders. `document_title` can be set on create, but cannot be modified by a batchUpdate request. Please use the [Google Drive API](https://developers.google.com/drive/api/v3/reference/files/update) if you need to programmatically update `document_title`.",
          "readOnly": true
        },
        "title": {
          "description": "Required. The title of the form which is visible to responders.",
          "type": "string"
        }
      },
      "description": "The general information for a form.",
      "id": "Info",
      "type": "object"
    },
    "CreateWatchRequest": {
      "id": "CreateWatchRequest",
      "properties": {
        "watch": {
          "description": "Required. The watch object. No ID should be set on this object; use `watch_id` instead.",
          "$ref": "Watch"
        },
        "watchId": {
          "description": "The ID to use for the watch. If specified, the ID must not already be in use. If not specified, an ID is generated. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Create a new watch."
    },
    "Form": {
      "type": "object",
      "id": "Form",
      "description": "A Google Forms document. A form is created in Drive, and deleting a form or changing its access protections is done via the [Drive API](https://developers.google.com/drive/api/v3/about-sdk).",
      "properties": {
        "publishSettings": {
          "description": "Output only. The publishing settings for a form. This field isn't set for legacy forms because they don't have the publish_settings field. All newly created forms support publish settings. Forms with publish_settings value set can call SetPublishSettings API to publish or unpublish the form.",
          "readOnly": true,
          "$ref": "PublishSettings"
        },
        "info": {
          "$ref": "Info",
          "description": "Required. The title and description of the form."
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "description": "Required. A list of the form's items, which can include section headers, questions, embedded media, etc.",
          "type": "array"
        },
        "responderUri": {
          "type": "string",
          "description": "Output only. The form URI to share with responders. This opens a page that allows the user to submit responses but not edit the questions. For forms that have publish_settings value set, this is the published form URI.",
          "readOnly": true
        },
        "linkedSheetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the linked Google Sheet which is accumulating responses from this Form (if such a Sheet exists)."
        },
        "settings": {
          "description": "The form's settings. This must be updated with UpdateSettingsRequest; it is ignored during CreateForm and UpdateFormInfoRequest.",
          "$ref": "FormSettings"
        },
        "formId": {
          "readOnly": true,
          "description": "Output only. The form ID.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The revision ID of the form. Used in the WriteControl in update requests to identify the revision on which the changes are based. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the form *content* has not changed. Conversely, a changed ID (for the same form and user) usually means the form *content* has been updated; however, a changed ID can also be due to internal factors such as ID format changes. Form content excludes form metadata, including: * sharing settings (who has access to the form) * publish_settings (if the form supports publishing and if it is published)"
        }
      }
    },
    "FileUploadQuestion": {
      "type": "object",
      "id": "FileUploadQuestion",
      "description": "A file upload question. The API currently does not support creating file upload questions.",
      "properties": {
        "maxFiles": {
          "type": "integer",
          "description": "Maximum number of files that can be uploaded for this question in a single response.",
          "format": "int32"
        },
        "maxFileSize": {
          "description": "Maximum number of bytes allowed for any single file uploaded to this question.",
          "format": "int64",
          "type": "string"
        },
        "folderId": {
          "type": "string",
          "description": "Required. The ID of the Drive folder where uploaded files are stored."
        },
        "types": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Unused.",
              "No restrictions on type.",
              "A Google Docs document.",
              "A Google Slides presentation.",
              "A Google Sheets spreadsheet.",
              "A drawing.",
              "A PDF.",
              "An image.",
              "A video.",
              "An audio file."
            ],
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "ANY",
              "DOCUMENT",
              "PRESENTATION",
              "SPREADSHEET",
              "DRAWING",
              "PDF",
              "IMAGE",
              "VIDEO",
              "AUDIO"
            ]
          },
          "description": "File types accepted by this question."
        }
      }
    },
    "VideoLink": {
      "type": "object",
      "description": "Link to a video.",
      "id": "VideoLink",
      "properties": {
        "youtubeUri": {
          "description": "The URI of a YouTube video.",
          "type": "string"
        },
        "displayText": {
          "type": "string",
          "description": "Required. The display text for the link."
        }
      }
    },
    "PublishState": {
      "description": "The publishing state of a form.",
      "properties": {
        "isPublished": {
          "description": "Required. Whether the form is published and visible to others.",
          "type": "boolean"
        },
        "isAcceptingResponses": {
          "type": "boolean",
          "description": "Required. Whether the form accepts responses. If `is_published` is set to `false`, this field is forced to `false`."
        }
      },
      "type": "object",
      "id": "PublishState"
    },
    "RenewWatchRequest": {
      "description": "Renew an existing Watch for seven days.",
      "id": "RenewWatchRequest",
      "properties": {},
      "type": "object"
    },
    "MediaProperties": {
      "id": "MediaProperties",
      "type": "object",
      "description": "Properties of the media.",
      "properties": {
        "width": {
          "description": "The width of the media in pixels. When the media is displayed, it is scaled to the smaller of this value or the width of the displayed form. The original aspect ratio of the media is preserved. If a width is not specified when the media is added to the form, it is set to the width of the media source. Width must be between 0 and 740, inclusive. Setting width to 0 or unspecified is only permitted when updating the media source.",
          "type": "integer",
          "format": "int32"
        },
        "alignment": {
          "enumDescriptions": [
            "Default value. Unused.",
            "Left align.",
            "Right align.",
            "Center."
          ],
          "type": "string",
          "description": "Position of the media.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT",
            "CENTER"
          ]
        }
      }
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "type": "string",
          "description": "Required. A fully qualified Pub/Sub topic name to publish the events to. This topic must be owned by the calling project and already exist in Pub/Sub."
        }
      },
      "type": "object",
      "id": "CloudPubsubTopic",
      "description": "A Pub/Sub topic."
    },
    "FileUploadAnswer": {
      "type": "object",
      "id": "FileUploadAnswer",
      "description": "Info for a single file submitted to a file upload question.",
      "properties": {
        "mimeType": {
          "description": "Output only. The MIME type of the file, as stored in Google Drive on upload.",
          "readOnly": true,
          "type": "string"
        },
        "fileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Google Drive file."
        },
        "fileName": {
          "description": "Output only. The file name, as stored in Google Drive on upload.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UpdateItemRequest": {
      "type": "object",
      "description": "Update an item in a form.",
      "properties": {
        "item": {
          "$ref": "Item",
          "description": "Required. New values for the item. Note that item and question IDs are used if they are provided (and are in the field mask). If an ID is blank (and in the field mask) a new ID is generated. This means you can modify an item by getting the form via forms.get, modifying your local copy of that item to be how you want it, and using UpdateItemRequest to write it back, with the IDs being the same (or not in the field mask)."
        },
        "location": {
          "description": "Required. The location identifying the item to update.",
          "$ref": "Location"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Only values named in this mask are changed."
        }
      },
      "id": "UpdateItemRequest"
    },
    "Video": {
      "properties": {
        "youtubeUri": {
          "description": "Required. A YouTube URI.",
          "type": "string"
        },
        "properties": {
          "description": "Properties of a video.",
          "$ref": "MediaProperties"
        }
      },
      "description": "Data representing a video.",
      "type": "object",
      "id": "Video"
    },
    "Feedback": {
      "id": "Feedback",
      "type": "object",
      "properties": {
        "material": {
          "type": "array",
          "description": "Additional information provided as part of the feedback, often used to point the respondent to more reading and resources.",
          "items": {
            "$ref": "ExtraMaterial"
          }
        },
        "text": {
          "description": "Required. The main text of the feedback.",
          "type": "string"
        }
      },
      "description": "Feedback for a respondent about their response to a question."
    },
    "Watch": {
      "id": "Watch",
      "description": "A watch for events for a form. When the designated event happens, a notification will be published to the specified target. The notification's attributes will include a `formId` key that has the ID of the watched form and an `eventType` key that has the string of the type. Messages are sent with at-least-once delivery and are only dropped in extraordinary circumstances. Typically all notifications should be reliably delivered within a few seconds; however, in some situations notifications may be delayed. A watch expires seven days after it is created unless it is renewed with watches.renew",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this watch. See notes on CreateWatchRequest.watch_id."
        },
        "expireTime": {
          "description": "Output only. Timestamp for when this will expire. Each watches.renew call resets this to seven days in the future.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "errorType": {
          "enumDescriptions": [
            "Unspecified error type.",
            "The cloud project does not have access to the form being watched. This occurs if the user has revoked the authorization for your project to access their form(s). Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "The user that granted access no longer has access to the form being watched. Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "Another type of error has occurred. Whether notifications will continue depends on the watch state."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "PROJECT_NOT_AUTHORIZED",
            "NO_USER_ACCESS",
            "OTHER_ERRORS"
          ],
          "readOnly": true,
          "description": "Output only. The most recent error type for an attempted delivery. To begin watching the form again a call can be made to watches.renew which also clears this error information.",
          "type": "string"
        },
        "target": {
          "$ref": "WatchTarget",
          "description": "Required. Where to send the notification."
        },
        "state": {
          "description": "Output only. The current state of the watch. Additional details about suspended watches can be found by checking the `error_type`.",
          "enumDescriptions": [
            "Unspecified state.",
            "Watch is active.",
            "The watch is suspended due to an error that may be resolved. The watch will continue to exist until it expires. To attempt to reactivate the watch a call can be made to watches.renew"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "SCHEMA",
            "RESPONSES"
          ],
          "description": "Required. Which event type to watch for.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified event type. This value should not be used.",
            "The schema event type. A watch with this event type will be notified about changes to form content and settings.",
            "The responses event type. A watch with this event type will be notified when form responses are submitted."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when this was created."
        }
      },
      "type": "object"
    },
    "BatchUpdateFormRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update requests of this batch.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "includeFormInResponse": {
          "description": "Whether to return an updated version of the model in the response.",
          "type": "boolean"
        }
      },
      "description": "A batch of updates to perform on a form. All the specified updates are made or none of them are.",
      "type": "object",
      "id": "BatchUpdateFormRequest"
    },
    "SetPublishSettingsResponse": {
      "description": "The response of a SetPublishSettings request.",
      "id": "SetPublishSettingsResponse",
      "properties": {
        "formId": {
          "type": "string",
          "description": "Required. The ID of the Form. This is same as the Form.form_id field."
        },
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "The publish settings of the form."
        }
      },
      "type": "object"
    },
    "Image": {
      "description": "Data representing an image.",
      "properties": {
        "properties": {
          "description": "Properties of an image.",
          "$ref": "MediaProperties"
        },
        "contentUri": {
          "description": "Output only. A URI from which you can download the image; this is valid only for a limited time.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUri": {
          "description": "Input only. The source URI is the URI used to insert the image. The source URI can be empty when fetched.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "A description of the image that is shown on hover and read by screenreaders."
        }
      },
      "type": "object",
      "id": "Image"
    },
    "CreateItemResponse": {
      "properties": {
        "questionId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID of the question created as part of this item, for a question group it lists IDs of all the questions created for this item."
        },
        "itemId": {
          "description": "The ID of the created item.",
          "type": "string"
        }
      },
      "description": "The result of creating an item.",
      "type": "object",
      "id": "CreateItemResponse"
    },
    "Grading": {
      "description": "Grading for a single question",
      "properties": {
        "pointValue": {
          "format": "int32",
          "description": "Required. The maximum number of points a respondent can automatically get for a correct answer. This must not be negative.",
          "type": "integer"
        },
        "correctAnswers": {
          "description": "Required. The answer key for the question. Responses are automatically graded based on this field.",
          "$ref": "CorrectAnswers"
        },
        "whenRight": {
          "$ref": "Feedback",
          "description": "The feedback displayed for correct responses. This feedback can only be set for multiple choice questions that have correct answers provided."
        },
        "whenWrong": {
          "description": "The feedback displayed for incorrect responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "generalFeedback": {
          "description": "The feedback displayed for all answers. This is commonly used for short answer questions when a quiz owner wants to quickly give respondents some sense of whether they answered the question correctly before they've had a chance to officially grade the response. General feedback cannot be set for automatically graded multiple choice questions.",
          "$ref": "Feedback"
        }
      },
      "type": "object",
      "id": "Grading"
    },
    "ListWatchesResponse": {
      "description": "The response of a ListWatchesRequest.",
      "type": "object",
      "properties": {
        "watches": {
          "items": {
            "$ref": "Watch"
          },
          "type": "array",
          "description": "The returned watches."
        }
      },
      "id": "ListWatchesResponse"
    },
    "QuestionGroupItem": {
      "description": "Defines a question that comprises multiple questions grouped together.",
      "id": "QuestionGroupItem",
      "type": "object",
      "properties": {
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "type": "array",
          "description": "Required. A list of questions that belong in this question group. A question must only belong to one group. The `kind` of the group may affect what types of questions are allowed."
        },
        "image": {
          "$ref": "Image",
          "description": "The image displayed within the question group above the specific questions."
        },
        "grid": {
          "description": "The question group is a grid with rows of multiple choice questions that share the same options. When `grid` is set, all questions in the group must be of kind `row`.",
          "$ref": "Grid"
        }
      }
    },
    "Location": {
      "properties": {
        "index": {
          "type": "integer",
          "description": "The index of an item in the form. This must be in the range [0..*N*), where *N* is the number of items in the form.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A specific location in a form."
    },
    "TextQuestion": {
      "properties": {
        "paragraph": {
          "description": "Whether the question is a paragraph question or not. If not, the question is a short text question.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A text-based question.",
      "id": "TextQuestion"
    },
    "BatchUpdateFormResponse": {
      "type": "object",
      "description": "Response to a BatchUpdateFormRequest.",
      "id": "BatchUpdateFormResponse",
      "properties": {
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the update requests, although replies to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        },
        "form": {
          "description": "Based on the bool request field `include_form_in_response`, a form with all applied mutations/updates is returned or not. This may be later than the revision ID created by these changes.",
          "$ref": "Form"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        }
      }
    },
    "WatchTarget": {
      "description": "The target for notification delivery.",
      "id": "WatchTarget",
      "properties": {
        "topic": {
          "description": "A Pub/Sub topic. To receive notifications, the topic must grant publish privileges to the Forms service account `serviceAccount:forms-notifications@system.gserviceaccount.com`. Only the project that owns a topic may create a watch with it. Pub/Sub delivery guarantees should be considered.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "type": "object"
    },
    "Answer": {
      "properties": {
        "textAnswers": {
          "description": "Output only. The specific answers as text.",
          "$ref": "TextAnswers",
          "readOnly": true
        },
        "grade": {
          "readOnly": true,
          "description": "Output only. The grade for the answer if the form was a quiz.",
          "$ref": "Grade"
        },
        "questionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The question's ID. See also Question.question_id."
        },
        "fileUploadAnswers": {
          "readOnly": true,
          "$ref": "FileUploadAnswers",
          "description": "Output only. The answers to a file upload question."
        }
      },
      "type": "object",
      "description": "The submitted answer for a question.",
      "id": "Answer"
    },
    "CorrectAnswer": {
      "description": "A single correct answer for a question. For multiple-valued (`CHECKBOX`) questions, several `CorrectAnswer`s may be needed to represent a single correct response option.",
      "id": "CorrectAnswer",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The correct answer value. See the documentation for TextAnswer.value for details on how various value types are formatted.",
          "type": "string"
        }
      }
    }
  },
  "name": "forms",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "resources": {
    "forms": {
      "methods": {
        "create": {
          "path": "v1/forms",
          "response": {
            "$ref": "Form"
          },
          "description": "Create a new form using the title given in the provided form message in the request. *Important:* Only the form.info.title and form.info.document_title fields are copied to the new form. All other fields including the form description, items and settings are disallowed. To create a new form and add items, you must first call forms.create to create an empty form with a title and (optional) document title, and then call forms.update to add the items.",
          "flatPath": "v1/forms",
          "id": "forms.forms.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "unpublished": {
              "description": "Optional. Whether the form is unpublished. If set to `true`, the form doesn't accept responses. If set to `false` or unset, the form is published and accepts responses.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "Form"
          }
        },
        "get": {
          "response": {
            "$ref": "Form"
          },
          "httpMethod": "GET",
          "parameters": {
            "formId": {
              "location": "path",
              "required": true,
              "description": "Required. The form ID.",
              "type": "string"
            }
          },
          "id": "forms.forms.get",
          "parameterOrder": [
            "formId"
          ],
          "flatPath": "v1/forms/{formId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/forms.body",
            "https://www.googleapis.com/auth/forms.body.readonly"
          ],
          "description": "Get a form.",
          "path": "v1/forms/{formId}"
        },
        "batchUpdate": {
          "parameterOrder": [
            "formId"
          ],
          "request": {
            "$ref": "BatchUpdateFormRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "formId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The form ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "description": "Change the form with a batch of updates.",
          "response": {
            "$ref": "BatchUpdateFormResponse"
          },
          "id": "forms.forms.batchUpdate",
          "path": "v1/forms/{formId}:batchUpdate",
          "flatPath": "v1/forms/{formId}:batchUpdate"
        },
        "setPublishSettings": {
          "request": {
            "$ref": "SetPublishSettingsRequest"
          },
          "response": {
            "$ref": "SetPublishSettingsResponse"
          },
          "description": "Updates the publish settings of a form. Legacy forms aren't supported because they don't have the `publish_settings` field.",
          "parameterOrder": [
            "formId"
          ],
          "id": "forms.forms.setPublishSettings",
          "httpMethod": "POST",
          "parameters": {
            "formId": {
              "description": "Required. The ID of the form. You can get the id from Form.form_id field.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/forms/{formId}:setPublishSettings",
          "flatPath": "v1/forms/{formId}:setPublishSettings",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ]
        }
      },
      "resources": {
        "responses": {
          "methods": {
            "get": {
              "parameterOrder": [
                "formId",
                "responseId"
              ],
              "response": {
                "$ref": "FormResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "formId": {
                  "type": "string",
                  "description": "Required. The form ID.",
                  "location": "path",
                  "required": true
                },
                "responseId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The response ID within the form.",
                  "type": "string"
                }
              },
              "description": "Get one response from the form.",
              "path": "v1/forms/{formId}/responses/{responseId}",
              "flatPath": "v1/forms/{formId}/responses/{responseId}",
              "id": "forms.forms.responses.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ]
            },
            "list": {
              "flatPath": "v1/forms/{formId}/responses",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.responses.list",
              "parameterOrder": [
                "formId"
              ],
              "description": "List a form's responses.",
              "response": {
                "$ref": "ListFormResponsesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "formId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the Form whose responses to list.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Which form responses to return. Currently, the only supported filters are: * timestamp > *N* which means to get all form responses submitted after (but not at) timestamp *N*. * timestamp >= *N* which means to get all form responses submitted at and after timestamp *N*. For both supported filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\".",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token returned by a previous list response. If this field is set, the form and the values of the filter must be the same as for the original request.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of responses to return. The service may return fewer than this value. If unspecified or zero, at most 5000 responses are returned.",
                  "location": "query"
                }
              },
              "path": "v1/forms/{formId}/responses"
            }
          }
        },
        "watches": {
          "methods": {
            "create": {
              "request": {
                "$ref": "CreateWatchRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "formId": {
                  "type": "string",
                  "description": "Required. ID of the Form to watch.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.watches.create",
              "path": "v1/forms/{formId}/watches",
              "response": {
                "$ref": "Watch"
              },
              "description": "Create a new watch. If a watch ID is provided, it must be unused. For each invoking project, the per form limit is one watch per Watch.EventType. A watch expires seven days after it is created (see Watch.expire_time).",
              "parameterOrder": [
                "formId"
              ],
              "flatPath": "v1/forms/{formId}/watches"
            },
            "list": {
              "parameterOrder": [
                "formId"
              ],
              "path": "v1/forms/{formId}/watches",
              "httpMethod": "GET",
              "parameters": {
                "formId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the Form whose watches to list.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "flatPath": "v1/forms/{formId}/watches",
              "id": "forms.forms.watches.list",
              "description": "Return a list of the watches owned by the invoking project. The maximum number of watches is two: For each invoker, the limit is one for each event type per form.",
              "response": {
                "$ref": "ListWatchesResponse"
              }
            },
            "renew": {
              "id": "forms.forms.watches.renew",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "httpMethod": "POST",
              "parameters": {
                "formId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Form."
                },
                "watchId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Watch to renew."
                }
              },
              "path": "v1/forms/{formId}/watches/{watchId}:renew",
              "flatPath": "v1/forms/{formId}/watches/{watchId}:renew",
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "request": {
                "$ref": "RenewWatchRequest"
              },
              "response": {
                "$ref": "Watch"
              },
              "description": "Renew an existing watch for seven days. The state of the watch after renewal is `ACTIVE`, and the `expire_time` is seven days from the renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds if the error is no longer present, but fail otherwise. After a watch has expired, RenewWatch returns `NOT_FOUND`."
            },
            "delete": {
              "flatPath": "v1/forms/{formId}/watches/{watchId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.watches.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Delete a watch.",
              "path": "v1/forms/{formId}/watches/{watchId}",
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "formId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Form."
                },
                "watchId": {
                  "type": "string",
                  "description": "Required. The ID of the Watch to delete.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Reads and writes Google Forms and responses.",
  "batchPath": "batch",
  "version_module": true,
  "id": "forms:v1",
  "version": "v1",
  "basePath": "",
  "ownerDomain": "google.com"
}