{
  "mtlsRootUrl": "https://ftp.mtls.googleapis.com/",
  "rootUrl": "https://ftp.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/cloud-ftp",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "revision": "20260919",
  "description": "A managed, cloud-native solution to move data in and out of Google Cloud by using SSH File Transfer Protocol (SFTP).",
  "canonicalName": "Cloud FTP",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "StorageDirectoryMapping": {
      "id": "StorageDirectoryMapping",
      "properties": {
        "directory": {
          "description": "Required. Directory where the user lands in the SFTP server.",
          "type": "string"
        },
        "permission": {
          "type": "string",
          "description": "Required. Permission to the bucket.",
          "enumDescriptions": [
            "Permission unspecified.",
            "Read only permission.",
            "Read write permission."
          ],
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "bucketPrefix": {
          "type": "string",
          "description": "Optional. Prefix inside the bucket."
        },
        "bucket": {
          "description": "Required. Name of the bucket.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Mapping of backing Cloud Storage path to the directory where the user lands in the SFTP server. If directory is not specified, it'll default to '/'. Eg 1 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: /abc/def/username) The user will land at /abcd/def/username, and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1' and there will be no such directory in the view. Eg 2 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: '') The user will land at '/', and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1/path2' and there will be no such directory in the view."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "PscEndpoint": {
      "properties": {
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the connected endpoint."
        },
        "endpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This is a Resource name for Private Service Connect endpoint. Format: `projects/{project}/regions/{region}/forwardingRules/{forwarding_rule}`"
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The consumer network. Format: `projects/{project}/locations/{location}/networks/{network}`"
        }
      },
      "description": "Details of PSC endpoint created by customer.",
      "type": "object",
      "id": "PscEndpoint"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "StopServerRequest": {
      "description": "Request message for stopping a Server.",
      "properties": {},
      "type": "object",
      "id": "StopServerRequest"
    },
    "Server": {
      "id": "Server",
      "description": "Message describing Server object",
      "properties": {
        "state": {
          "description": "Output only. The state of the server.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "STARTING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is being created.",
            "Server is starting.",
            "Server is ready to be used.",
            "Server is stopping.",
            "Server is stopped.",
            "Server is being deleted.",
            "Server is in error state.",
            "Server is being updated."
          ]
        },
        "serviceAgent": {
          "type": "string",
          "description": "Output only. Service agent used to access the customer bucket.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp"
        },
        "name": {
          "description": "Identifier. name of resource",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "internalConfig": {
          "$ref": "InternalServerConfig",
          "description": "Configuration for internal access."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the Server"
        },
        "googleManagedServerCredential": {
          "$ref": "ServerCredential",
          "readOnly": true,
          "description": "Output only. Credentials of the FTP Server."
        },
        "externalConfig": {
          "description": "Configuration for external access.",
          "$ref": "ExternalServerConfig"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "accessType": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ],
          "description": "Required. The access type of the Server.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is assigned a public IP.",
            "Server is assigned an internal IP."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      },
      "type": "object"
    },
    "ExternalServerConfig": {
      "id": "ExternalServerConfig",
      "description": "Configuration for external server.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP address of the LB via which clients will connect."
        },
        "allowedCidrBlocks": {
          "type": "array",
          "description": "Optional. List of CIDR blocks that are allowed to access the Server. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). For now, only IPV4 addresses are supported. Examples: \"203.0.113.0/24\" - matches with the IP addresses in the range 203.0.113.0 - 203.0.113.255. \"0.0.0.0/0\" - matches against any IP address. This field must contain at least one entry if the access type is EXTERNAL. The number of allowed CIDR blocks cannot exceed 500. Example: 192.168.0.0/16",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AllowedConsumer": {
      "description": "A consumer project or network that is permitted to connect to the server via PSC.",
      "properties": {
        "connectionLimit": {
          "description": "Required. The connection limit for the consumer. Value must be greater than 0.",
          "type": "string",
          "format": "int64"
        },
        "project": {
          "type": "string",
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`."
        }
      },
      "id": "AllowedConsumer",
      "type": "object"
    },
    "User": {
      "description": "Message describing User object",
      "properties": {
        "userCredentials": {
          "type": "array",
          "items": {
            "$ref": "UserCredential"
          },
          "description": "Required. User credential for the user. The maximum number of user credentials is 10."
        },
        "storageDirectoryMappings": {
          "items": {
            "$ref": "StorageDirectoryMapping"
          },
          "type": "array",
          "description": "Required. Mapping of Cloud Storage buckets to directories where the user will land in the SFTP server."
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "User is being created.",
            "User is ready to be used.",
            "User creation failed.",
            "The resource is being updated.",
            "The resource is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "ERROR",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. Tracks user creation.",
          "type": "string"
        },
        "username": {
          "description": "Output only. [Output only] The username of the user.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        },
        "customerServiceAccount": {
          "description": "Required. Service account in customer project attached to this SFTP User.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListServersResponse": {
      "id": "ListServersResponse",
      "type": "object",
      "properties": {
        "servers": {
          "items": {
            "$ref": "Server"
          },
          "description": "The list of Server",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Servers"
    },
    "ServerCredential": {
      "type": "object",
      "properties": {
        "asymmetricAlgorithm": {
          "description": "Output only. Asymmetric algorithm used by the public key. Possible values (can be expanded in future): - ssh-ed25519",
          "readOnly": true,
          "type": "string"
        },
        "fingerprint": {
          "description": "Output only. The fingerprint is a hash of the public key, and is displayed when clients access the server for the first time to verify the server's identity.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents credentials of an FTP Server.",
      "id": "ServerCredential"
    },
    "DeniedConsumer": {
      "id": "DeniedConsumer",
      "description": "A consumer project or network that is denied to connect to the server via PSC.",
      "type": "object",
      "properties": {
        "project": {
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the user should return."
        },
        "users": {
          "description": "The list of User",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Message for response to listing Users"
    },
    "StartServerRequest": {
      "id": "StartServerRequest",
      "description": "Request message for starting a Server.",
      "type": "object",
      "properties": {}
    },
    "UserCredential": {
      "description": "Message describing UserCredential object",
      "type": "object",
      "id": "UserCredential",
      "properties": {
        "credentialName": {
          "type": "string",
          "description": "Required. Name of the user credential."
        },
        "sshPublicKeyBody": {
          "description": "Optional. SSH public key body in OpenSSH format. Example: \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ...\"",
          "type": "string"
        },
        "credentialType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PUBLIC_KEY"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "Public key credential."
          ],
          "description": "Required. Type of credential.",
          "type": "string"
        }
      }
    },
    "InternalServerConfig": {
      "type": "object",
      "description": "Configuration for private server accessible via PSC.",
      "properties": {
        "serviceAttachment": {
          "readOnly": true,
          "description": "Output only. The resource name of the service attachment. Format: `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`",
          "type": "string"
        },
        "pscEndpoints": {
          "type": "array",
          "description": "Output only. Details of endpoints created by the customer.",
          "items": {
            "$ref": "PscEndpoint"
          },
          "readOnly": true
        },
        "consumerAcceptList": {
          "items": {
            "$ref": "AllowedConsumer"
          },
          "description": "Required. A list of projects that are permitted to connect. At least one project is required in the allow list.",
          "type": "array"
        },
        "consumerRejectList": {
          "type": "array",
          "items": {
            "$ref": "DeniedConsumer"
          },
          "description": "Optional. A list of projects that are denied connection. Format: \"projects/sample_project_id\" or \"projects/1234567890\" Projects in this list will be denied access, even if they are included in the `allow_list`. If this list is empty, no projects are explicitly rejected."
        }
      },
      "id": "InternalServerConfig"
    }
  },
  "baseUrl": "https://ftp.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "name": "ftp",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "ftp.projects.locations.list",
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                }
              }
            },
            "get": {
              "id": "ftp.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "servers": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ],
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "type": "string",
                      "description": "Optional. The view of the Server resource to return.",
                      "location": "query"
                    }
                  },
                  "description": "Gets details of a single Server.",
                  "httpMethod": "GET",
                  "id": "ftp.projects.locations.servers.get",
                  "response": {
                    "$ref": "Server"
                  }
                },
                "start": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:start",
                  "description": "Starts a stopping/stopped Server.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "StartServerRequest"
                  },
                  "httpMethod": "POST",
                  "id": "ftp.projects.locations.servers.start",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource Format: `projects/{project}/locations/{location}/servers/{server}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/servers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "serverId": {
                      "type": "string",
                      "description": "Required. A unique ID for the server. Must start with a lowercase letter, and end with a lowercase letter or number. Can contain lowercase letters, numbers, and hyphens. Maximum length is 30 characters.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Server"
                  },
                  "id": "ftp.projects.locations.servers.create",
                  "description": "Creates a new Server in a given project and location."
                },
                "list": {
                  "path": "v1alpha/{+parent}/servers",
                  "response": {
                    "$ref": "ListServersResponse"
                  },
                  "id": "ftp.projects.locations.servers.list",
                  "description": "Lists Servers in a given project and location.",
                  "parameters": {
                    "view": {
                      "type": "string",
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ],
                      "description": "Optional. The view of the Server resource to return."
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListServersRequest",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers"
                },
                "delete": {
                  "id": "ftp.projects.locations.servers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "description": "Deletes a single Server.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$"
                    }
                  }
                },
                "stop": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:stop",
                  "request": {
                    "$ref": "StopServerRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/servers/{server}`"
                    }
                  },
                  "path": "v1alpha/{+name}:stop",
                  "id": "ftp.projects.locations.servers.stop",
                  "description": "Stops an active Server.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "id": "ftp.projects.locations.servers.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "description": "Identifier. name of resource",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Server resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "description": "Updates the parameters of a single Server.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "request": {
                    "$ref": "Server"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "users": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new User in a given project and location and Server.",
                      "id": "ftp.projects.locations.servers.users.create",
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "parameters": {
                        "parent": {
                          "description": "Required. Value for parent.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "userId": {
                          "description": "Required. A unique user ID for the SFTP user. The user ID must start with a lowercase letter and can include lowercase letters, numbers, or hyphens.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+parent}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "User"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "path": "v1alpha/{+name}",
                      "description": "Deletes a single User.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "force": {
                          "description": "Optional. If set to true, the request will force the deletion of the User.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource",
                          "type": "string"
                        }
                      },
                      "id": "ftp.projects.locations.servers.users.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1alpha/{+parent}/users",
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ],
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "type": "string",
                          "description": "Optional. The view of the User resource to return.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the user should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. User may return fewer items than requested. The maximum value is 1000; The default value is 50 if the field is omitted (or set to 0)."
                        },
                        "parent": {
                          "description": "Required. Parent value for ListUsersRequest",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "id": "ftp.projects.locations.servers.users.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Users in a given project and location."
                    },
                    "patch": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "request": {
                        "$ref": "User"
                      },
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "type": "string",
                          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                          "location": "query"
                        }
                      },
                      "id": "ftp.projects.locations.servers.users.patch",
                      "httpMethod": "PATCH",
                      "description": "Updates the parameters of a single User."
                    },
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "description": "Required. Name of the resource",
                          "location": "path"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ],
                          "type": "string",
                          "description": "Optional. The view of the User resource to return."
                        }
                      },
                      "response": {
                        "$ref": "User"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "ftp.projects.locations.servers.users.get",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single User."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "ftp.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "id": "ftp.projects.locations.operations.cancel"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "ftp.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "ftp.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "title": "Cloud FTP API",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1alpha",
  "basePath": "",
  "id": "ftp:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com"
}