{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "baseUrl": "https://ftp.googleapis.com/",
  "basePath": "",
  "canonicalName": "Cloud FTP",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://ftp.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud FTP API",
  "id": "ftp:v1",
  "schemas": {
    "DeniedConsumer": {
      "description": "A consumer project or network that is denied to connect to the server via PSC.",
      "id": "DeniedConsumer",
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`."
        }
      }
    },
    "ListServersResponse": {
      "id": "ListServersResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "servers": {
          "description": "The list of Server",
          "type": "array",
          "items": {
            "$ref": "Server"
          }
        }
      },
      "type": "object",
      "description": "Message for response to listing Servers"
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ExternalServerConfig": {
      "id": "ExternalServerConfig",
      "description": "Configuration for external server.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP address of the LB via which clients will connect."
        },
        "allowedCidrBlocks": {
          "type": "array",
          "description": "Optional. List of CIDR blocks that are allowed to access the Server. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). For now, only IPV4 addresses are supported. Examples: \"203.0.113.0/24\" - matches with the IP addresses in the range 203.0.113.0 - 203.0.113.255. \"0.0.0.0/0\" - matches against any IP address. This field must contain at least one entry if the access type is EXTERNAL. The number of allowed CIDR blocks cannot exceed 500. Example: 192.168.0.0/16",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServerCredential": {
      "id": "ServerCredential",
      "description": "Represents credentials of an FTP Server.",
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fingerprint is a hash of the public key, and is displayed when clients access the server for the first time to verify the server's identity."
        },
        "asymmetricAlgorithm": {
          "readOnly": true,
          "description": "Output only. Asymmetric algorithm used by the public key. Possible values (can be expanded in future): - ssh-ed25519",
          "type": "string"
        }
      }
    },
    "Server": {
      "type": "object",
      "properties": {
        "externalConfig": {
          "description": "Configuration for external access.",
          "$ref": "ExternalServerConfig"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string"
        },
        "accessType": {
          "description": "Required. The access type of the Server.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is assigned a public IP.",
            "Server is assigned an internal IP."
          ],
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ]
        },
        "internalConfig": {
          "$ref": "InternalServerConfig",
          "description": "Configuration for internal access."
        },
        "displayName": {
          "description": "Optional. Display name of the Server",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp"
        },
        "googleManagedServerCredential": {
          "description": "Output only. Credentials of the FTP Server.",
          "$ref": "ServerCredential",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the server.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "STARTING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is being created.",
            "Server is starting.",
            "Server is ready to be used.",
            "Server is stopping.",
            "Server is stopped.",
            "Server is being deleted.",
            "Server is in error state.",
            "Server is being updated."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. name of resource",
          "type": "string"
        },
        "serviceAgent": {
          "description": "Output only. Service agent used to access the customer bucket.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Message describing Server object",
      "id": "Server"
    },
    "InternalServerConfig": {
      "description": "Configuration for private server accessible via PSC.",
      "id": "InternalServerConfig",
      "type": "object",
      "properties": {
        "serviceAttachment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the service attachment. Format: `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`"
        },
        "pscEndpoints": {
          "description": "Output only. Details of endpoints created by the customer.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "PscEndpoint"
          }
        },
        "consumerAcceptList": {
          "items": {
            "$ref": "AllowedConsumer"
          },
          "description": "Required. A list of projects that are permitted to connect. At least one project is required in the allow list.",
          "type": "array"
        },
        "consumerRejectList": {
          "items": {
            "$ref": "DeniedConsumer"
          },
          "type": "array",
          "description": "Optional. A list of projects that are denied connection. Format: \"projects/sample_project_id\" or \"projects/1234567890\" Projects in this list will be denied access, even if they are included in the `allow_list`. If this list is empty, no projects are explicitly rejected."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "User": {
      "id": "User",
      "description": "Message describing User object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "ERROR",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "User is being created.",
            "User is ready to be used.",
            "User creation failed.",
            "The resource is being updated.",
            "The resource is being deleted."
          ],
          "type": "string",
          "description": "Output only. Tracks user creation.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "userCredentials": {
          "description": "Required. User credential for the user. The maximum number of user credentials is 10.",
          "type": "array",
          "items": {
            "$ref": "UserCredential"
          }
        },
        "name": {
          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "storageDirectoryMappings": {
          "items": {
            "$ref": "StorageDirectoryMapping"
          },
          "type": "array",
          "description": "Required. Mapping of Cloud Storage buckets to directories where the user will land in the SFTP server."
        },
        "customerServiceAccount": {
          "description": "Required. Service account in customer project attached to this SFTP User.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Output only. [Output only] The username of the user.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListUsersResponse": {
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "The list of User"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the user should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Users"
    },
    "StorageDirectoryMapping": {
      "id": "StorageDirectoryMapping",
      "type": "object",
      "description": "Mapping of backing Cloud Storage path to the directory where the user lands in the SFTP server. If directory is not specified, it'll default to '/'. Eg 1 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: /abc/def/username) The user will land at /abcd/def/username, and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1' and there will be no such directory in the view. Eg 2 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: '') The user will land at '/', and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1/path2' and there will be no such directory in the view.",
      "properties": {
        "permission": {
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "enumDescriptions": [
            "Permission unspecified.",
            "Read only permission.",
            "Read write permission."
          ],
          "description": "Required. Permission to the bucket."
        },
        "bucketPrefix": {
          "type": "string",
          "description": "Optional. Prefix inside the bucket."
        },
        "directory": {
          "description": "Required. Directory where the user lands in the SFTP server.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Name of the bucket."
        }
      }
    },
    "StopServerRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for stopping a Server.",
      "id": "StopServerRequest"
    },
    "PscEndpoint": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Output only. The status of the connected endpoint.",
          "readOnly": true
        },
        "network": {
          "readOnly": true,
          "description": "Output only. The consumer network. Format: `projects/{project}/locations/{location}/networks/{network}`",
          "type": "string"
        },
        "endpoint": {
          "description": "Output only. This is a Resource name for Private Service Connect endpoint. Format: `projects/{project}/regions/{region}/forwardingRules/{forwarding_rule}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details of PSC endpoint created by customer.",
      "type": "object",
      "id": "PscEndpoint"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "UserCredential": {
      "type": "object",
      "properties": {
        "sshPublicKeyBody": {
          "description": "Optional. SSH public key body in OpenSSH format. Example: \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ...\"",
          "type": "string"
        },
        "credentialType": {
          "description": "Required. Type of credential.",
          "enumDescriptions": [
            "Type unspecified.",
            "Public key credential."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PUBLIC_KEY"
          ]
        },
        "credentialName": {
          "type": "string",
          "description": "Required. Name of the user credential."
        }
      },
      "id": "UserCredential",
      "description": "Message describing UserCredential object"
    },
    "StartServerRequest": {
      "type": "object",
      "description": "Request message for starting a Server.",
      "id": "StartServerRequest",
      "properties": {}
    },
    "Location": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "AllowedConsumer": {
      "id": "AllowedConsumer",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`."
        },
        "connectionLimit": {
          "type": "string",
          "description": "Required. The connection limit for the consumer. Value must be greater than 0.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A consumer project or network that is permitted to connect to the server via PSC."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    }
  },
  "version": "v1",
  "documentationLink": "https://docs.cloud.google.com/cloud-ftp",
  "revision": "20260909",
  "servicePath": "",
  "name": "ftp",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "description": "A managed, cloud-native solution to move data in and out of Google Cloud by using SSH File Transfer Protocol (SFTP).",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "id": "ftp.projects.locations.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "id": "ftp.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "ftp.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                },
                "get": {
                  "id": "ftp.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ftp.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "ftp.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                }
              }
            },
            "servers": {
              "resources": {
                "users": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the parameters of a single User.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "id": "ftp.projects.locations.servers.users.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "User"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
                          "location": "path"
                        }
                      },
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single User.",
                      "path": "v1/{+name}",
                      "id": "ftp.projects.locations.servers.users.get",
                      "response": {
                        "$ref": "User"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource"
                        },
                        "view": {
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "description": "Optional. The view of the User resource to return.",
                          "location": "query",
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ],
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ftp.projects.locations.servers.users.delete",
                      "parameters": {
                        "force": {
                          "description": "Optional. If set to true, the request will force the deletion of the User.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Deletes a single User.",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "id": "ftp.projects.locations.servers.users.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/users",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. User may return fewer items than requested. The maximum value is 1000; The default value is 50 if the field is omitted (or set to 0).",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Parent value for ListUsersRequest",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results"
                        },
                        "view": {
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ],
                          "location": "query",
                          "description": "Optional. The view of the User resource to return.",
                          "type": "string",
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ]
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the user should return.",
                          "location": "query"
                        }
                      },
                      "description": "Lists Users in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ftp.projects.locations.servers.users.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "User"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "description": "Required. Value for parent.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. A unique user ID for the SFTP user. The user ID must start with a lowercase letter and can include lowercase letters, numbers, or hyphens."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "description": "Creates a new User in a given project and location and Server."
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Server"
                  },
                  "id": "ftp.projects.locations.servers.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "view": {
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ],
                      "location": "query",
                      "description": "Optional. The view of the Server resource to return.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single Server."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Server"
                  },
                  "id": "ftp.projects.locations.servers.patch",
                  "path": "v1/{+name}",
                  "description": "Updates the parameters of a single Server.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "location": "path",
                      "description": "Identifier. name of resource"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Server resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}"
                },
                "start": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a stopping/stopped Server.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartServerRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "description": "Required. Name of the resource Format: `projects/{project}/locations/{location}/servers/{server}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:start",
                  "path": "v1/{+name}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ftp.projects.locations.servers.start"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ftp.projects.locations.servers.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single Server.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "stop": {
                  "description": "Stops an active Server.",
                  "path": "v1/{+name}:stop",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/servers/{server}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StopServerRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:stop",
                  "id": "ftp.projects.locations.servers.stop",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "serverId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A unique ID for the server. Must start with a lowercase letter, and end with a lowercase letter or number. Can contain lowercase letters, numbers, and hyphens. Maximum length is 30 characters."
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/servers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ftp.projects.locations.servers.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers",
                  "request": {
                    "$ref": "Server"
                  },
                  "description": "Creates a new Server in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListServersRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ],
                      "description": "Optional. The view of the Server resource to return.",
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/servers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListServersResponse"
                  },
                  "id": "ftp.projects.locations.servers.list",
                  "description": "Lists Servers in a given project and location."
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://ftp.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "batchPath": "batch"
}