{
  "id": "gamesManagement:v1management",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "gamesManagement",
  "documentationLink": "https://developers.google.com/games/",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "version": "v1management",
  "title": "Google Play Games Services Management API",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Games Management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "revision": "20260820",
  "schemas": {
    "GamesPlayerLevelResource": {
      "type": "object",
      "properties": {
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        },
        "level": {
          "type": "integer",
          "format": "int32",
          "description": "The level for the user."
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource"
    },
    "ProfileSettings": {
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      },
      "type": "object",
      "id": "ProfileSettings",
      "description": "Profile settings"
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "id": "PlayerScoreResetResponse",
      "type": "object",
      "properties": {
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      }
    },
    "HiddenPlayer": {
      "properties": {
        "player": {
          "readOnly": true,
          "$ref": "Player",
          "description": "Output only. The player information."
        },
        "hiddenTimeMillis": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this player was hidden."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true
        }
      },
      "id": "HiddenPlayer",
      "description": "The HiddenPlayer resource.",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of leaderboards to reset."
        }
      }
    },
    "Player": {
      "properties": {
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Player resource.",
      "id": "Player"
    },
    "EventsResetMultipleForAllRequest": {
      "type": "object",
      "id": "EventsResetMultipleForAllRequest",
      "description": "Multiple events reset all request.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "description": "The IDs of events to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "description": "A list of leaderboard reset resources.",
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results."
        }
      }
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "type": "object",
      "id": "AchievementResetResponse",
      "properties": {
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      }
    },
    "HiddenPlayerList": {
      "properties": {
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "properties": {
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "id": "GamesPlayerExperienceInfoResource"
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "type": "object",
      "description": "Achievement reset all response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array",
          "description": "The achievement reset results."
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "achievements": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameters": {},
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers"
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1management/achievements/reset",
          "parameterOrder": [],
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAll"
        },
        "resetAllForAllPlayers": {
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers"
        },
        "resetForAllPlayers": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST"
        },
        "reset": {
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.reset",
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "path": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.applications.listHidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "resetAll": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAll",
          "flatPath": "games/v1management/events/reset",
          "parameters": {},
          "path": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "path": "games/v1management/events/resetAllForAllPlayers",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "id": "gamesManagement.events.resetMultipleForAllPlayers"
        },
        "reset": {
          "flatPath": "games/v1management/events/{eventId}/reset",
          "path": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.reset",
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "description": "The ID of the event.",
              "type": "string"
            }
          }
        },
        "resetForAllPlayers": {
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the event."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers"
        }
      }
    },
    "scores": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "gamesManagement.scores.resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST"
        },
        "reset": {
          "id": "gamesManagement.scores.reset",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset"
        },
        "resetAll": {
          "id": "gamesManagement.scores.resetAll",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "path": "games/v1management/scores/reset"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.hide"
        },
        "unhide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true
            },
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        }
      }
    }
  }
}