{
  "title": "Google Play Games Services API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Games",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/games/",
  "basePath": "",
  "id": "games:v1",
  "discoveryVersion": "v1",
  "resources": {
    "snapshots": {
      "methods": {
        "list": {
          "id": "games.snapshots.list",
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "games/v1/players/{playerId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "description": "Retrieves the metadata for a given snapshot ID.",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "httpMethod": "GET",
          "parameters": {
            "snapshotId": {
              "location": "path",
              "required": true,
              "description": "The ID of the snapshot.",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "path": "games/v1/snapshots/{snapshotId}",
          "id": "games.snapshots.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "recall": {
      "methods": {
        "linkPersona": {
          "parameterOrder": [],
          "parameters": {},
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:linkPersona",
          "id": "games.recall.linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "httpMethod": "POST",
          "path": "games/v1/recall:linkPersona"
        },
        "gamesPlayerTokens": {
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens",
          "httpMethod": "GET",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "applicationIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}"
        },
        "lastTokenFromAllDeveloperGames": {
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "parameterOrder": [
            "sessionId"
          ],
          "parameters": {
            "sessionId": {
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string",
              "required": true
            }
          }
        },
        "resetPersona": {
          "parameters": {},
          "flatPath": "games/v1/recall:resetPersona",
          "path": "games/v1/recall:resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.resetPersona"
        },
        "unlinkPersona": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "path": "games/v1/recall:unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "flatPath": "games/v1/recall:unlinkPersona",
          "parameters": {},
          "id": "games.recall.unlinkPersona"
        },
        "retrieveTokens": {
          "parameters": {
            "sessionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            }
          },
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "path": "games/v1/recall/tokens/{sessionId}",
          "id": "games.recall.retrieveTokens",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the leaderboard metadata for your application.",
          "path": "games/v1/leaderboards",
          "flatPath": "games/v1/leaderboards",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "id": "games.leaderboards.list",
          "response": {
            "$ref": "LeaderboardListResponse"
          }
        },
        "get": {
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "games.leaderboards.get",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "getEndPoint": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EndPoint"
          },
          "httpMethod": "POST",
          "description": "Returns a URL for the requested end point type.",
          "flatPath": "games/v1/applications/getEndPoint",
          "id": "games.applications.getEndPoint",
          "parameterOrder": [],
          "path": "games/v1/applications/getEndPoint",
          "parameters": {
            "endPointType": {
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "description": "Type of endpoint being requested.",
              "location": "query"
            },
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "query"
            }
          }
        },
        "played": {
          "parameters": {},
          "path": "games/v1/applications/played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "id": "games.applications.played",
          "flatPath": "games/v1/applications/played",
          "parameterOrder": []
        },
        "verify": {
          "id": "games.applications.verify",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path"
            }
          },
          "path": "games/v1/applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "platformType": {
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "description": "Restrict application details returned to the specific platform."
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          },
          "path": "games/v1/applications/{applicationId}",
          "id": "games.applications.get",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/{applicationId}"
        }
      }
    },
    "achievements": {
      "methods": {
        "unlock": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock",
          "description": "Unlocks this achievement for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "id": "games.achievements.unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          }
        },
        "updateMultiple": {
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "path": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "parameterOrder": [],
          "id": "games.achievements.updateMultiple",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/updateMultiple",
          "description": "Updates multiple achievements for the currently authenticated player.",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "games/v1/players/{playerId}/achievements",
          "id": "games.achievements.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "state": {
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query",
              "type": "string",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ]
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "path": "games/v1/players/{playerId}/achievements"
        },
        "increment": {
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            },
            "stepsToIncrement": {
              "required": true,
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Required. The number of steps to increment."
            },
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "id": "games.achievements.increment",
          "path": "games/v1/achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "httpMethod": "POST"
        },
        "reveal": {
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "httpMethod": "POST",
          "id": "games.achievements.reveal",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player."
        },
        "setStepsAtLeast": {
          "id": "games.achievements.setStepsAtLeast",
          "parameters": {
            "steps": {
              "format": "int32",
              "required": true,
              "description": "Required. The minimum value to set the steps to.",
              "type": "integer",
              "location": "query"
            },
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "description": "Lists all the achievement definitions for your application.",
          "flatPath": "games/v1/achievements",
          "id": "games.achievementDefinitions.list",
          "parameterOrder": [],
          "path": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Checks whether the games client is out of date.",
          "parameterOrder": [
            "clientRevision"
          ],
          "flatPath": "games/v1/revisions/check",
          "httpMethod": "GET",
          "parameters": {
            "clientRevision": {
              "required": true,
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "games/v1/revisions/check",
          "id": "games.revisions.check"
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "collection": {
              "location": "path",
              "type": "string",
              "required": true,
              "enum": [
                "ALL"
              ],
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "description": "The collection of categories for which data will be returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "id": "games.metagame.listCategoriesByPlayer",
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "flatPath": "games/v1/players/{playerId}/categories/{collection}"
        },
        "getMetagameConfig": {
          "httpMethod": "GET",
          "path": "games/v1/metagameConfig",
          "parameterOrder": [],
          "flatPath": "games/v1/metagameConfig",
          "response": {
            "$ref": "MetagameConfig"
          },
          "id": "games.metagame.getMetagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Return the metagame configuration data for the calling application.",
          "parameters": {}
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "parameterOrder": [],
          "id": "games.stats.get",
          "flatPath": "games/v1/stats",
          "httpMethod": "GET",
          "response": {
            "$ref": "StatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "path": "games/v1/stats"
        }
      }
    },
    "players": {
      "methods": {
        "list": {
          "flatPath": "games/v1/players/me/players/{collection}",
          "path": "games/v1/players/me/players/{collection}",
          "id": "games.players.list",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "collection": {
              "location": "path",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "type": "string",
              "description": "Collection of players being retrieved",
              "required": true,
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ]
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "collection"
          ],
          "description": "Get the collection of players for the currently authenticated user."
        },
        "getScopedPlayerIds": {
          "id": "games.players.getScopedPlayerIds",
          "path": "games/v1/players/me/scopedIds",
          "parameters": {},
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "flatPath": "games/v1/players/me/scopedIds",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "getMultipleApplicationPlayerIds": {
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameterOrder": [],
          "id": "games.players.getMultipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "parameters": {
            "applicationIds": {
              "type": "string",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query"
            }
          },
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          }
        },
        "get": {
          "flatPath": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Player"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}",
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "id": "games.players.get",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "playerIdConsistencyToken": {
              "location": "query",
              "type": "string",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto"
            }
          },
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "parameters": {
            "persona": {
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            }
          },
          "parameterOrder": [],
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "httpMethod": "POST"
        },
        "generateRecallPlayGroupingApiToken": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query",
              "type": "string"
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query",
              "type": "string"
            },
            "recallSessionId": {
              "location": "query",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string"
            }
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "parameterOrder": []
        }
      }
    },
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "request": {
            "$ref": "BatchRecordEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The player ID of the player that performed the events."
            }
          },
          "httpMethod": "POST",
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "id": "games.gameStats.batchRecordEvents"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "path": "games/v1/events",
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "id": "games.events.listByPlayer",
          "parameterOrder": []
        },
        "record": {
          "httpMethod": "POST",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "path": "games/v1/events",
          "parameterOrder": [],
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/events",
          "id": "games.events.record",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          }
        },
        "listDefinitions": {
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "path": "games/v1/eventDefinitions",
          "httpMethod": "GET",
          "description": "Returns a list of the event definitions in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "games.events.listDefinitions"
        }
      }
    },
    "scores": {
      "methods": {
        "list": {
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "collection": {
              "required": true,
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "timeSpan": {
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "required": true,
              "type": "string",
              "location": "query",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ]
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "id": "games.scores.list"
        },
        "submit": {
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "score": {
              "format": "int64",
              "type": "string",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "location": "query",
              "required": true
            },
            "scoreTag": {
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "type": "string",
              "location": "query"
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "Submits a score to the specified leaderboard.",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "httpMethod": "POST",
          "id": "games.scores.submit"
        },
        "get": {
          "id": "games.scores.get",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "includeRankType": {
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "location": "path"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "timeSpan": {
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "location": "path",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "required": true,
              "description": "The time span for the scores and ranks you're requesting."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ]
        },
        "listWindow": {
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.listWindow",
          "parameters": {
            "timeSpan": {
              "location": "query",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "description": "Required. The time span for the scores and ranks you're requesting."
            },
            "returnTopIfAbsent": {
              "location": "query",
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "resultsAbove": {
              "location": "query",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "type": "integer",
              "format": "int32"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "collection": {
              "required": true,
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "description": "The collection of scores you're requesting.",
              "location": "path",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "type": "string",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          }
        },
        "submitMultiple": {
          "httpMethod": "POST",
          "id": "games.scores.submitMultiple",
          "path": "games/v1/leaderboards/scores",
          "parameterOrder": [],
          "description": "Submits multiple scores to leaderboards.",
          "flatPath": "games/v1/leaderboards/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          }
        }
      }
    }
  },
  "servicePath": "",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260907",
  "rootUrl": "https://games.googleapis.com/",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "name": "games",
  "batchPath": "batch",
  "baseUrl": "https://games.googleapis.com/",
  "schemas": {
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "type": "object",
      "properties": {
        "gamePlayerToken": {
          "$ref": "GamePlayerToken",
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal."
        }
      },
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC"
    },
    "EventDefinition": {
      "description": "An event definition resource.",
      "properties": {
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "type": "array",
          "description": "A list of events that are a child of this event."
        },
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        },
        "visibility": {
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "description": "The visibility of event being tracked in this definition."
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        }
      },
      "type": "object",
      "id": "EventDefinition"
    },
    "PlayerLeaderboardScore": {
      "properties": {
        "leaderboard_id": {
          "type": "string",
          "description": "The ID of the leaderboard this score is in."
        },
        "friendsRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The rank of the score in the friends collection for this leaderboard."
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "writeTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span of this score."
        }
      },
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "description": "A player leaderboard score object."
    },
    "AchievementUpdateMultipleRequest": {
      "id": "AchievementUpdateMultipleRequest",
      "type": "object",
      "properties": {
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      },
      "description": "A list of achievement update requests."
    },
    "BatchRecordEventsRequest": {
      "id": "BatchRecordEventsRequest",
      "properties": {
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific batch of events was submitted."
        },
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        },
        "events": {
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request.",
          "type": "array",
          "items": {
            "$ref": "PlayerGameEvent"
          }
        },
        "packageName": {
          "type": "string",
          "description": "Required. Application package name (e.g., \"com.example.game\")."
        },
        "salt": {
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7"
    },
    "UnlinkPersonaRequest": {
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "id": "UnlinkPersonaRequest",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC"
        }
      }
    },
    "PlayerEventListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array",
          "description": "The player events."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response."
    },
    "UnlinkPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "UnlinkPersonaResponse",
      "description": "Response for the UnlinkPersona RPC"
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned in this category.",
          "format": "int64"
        },
        "category": {
          "type": "string",
          "description": "The category name."
        }
      },
      "id": "Category",
      "type": "object"
    },
    "EndPoint": {
      "type": "object",
      "description": "Container for a URL end point of the requested type.",
      "id": "EndPoint",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "EventDefinitionListResponse": {
      "type": "object",
      "description": "A ListDefinitions response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          },
          "type": "array"
        }
      },
      "id": "EventDefinitionListResponse"
    },
    "ImageAsset": {
      "type": "object",
      "id": "ImageAsset",
      "description": "An image asset object.",
      "properties": {
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        },
        "height": {
          "type": "integer",
          "description": "The height of the asset.",
          "format": "int32"
        }
      }
    },
    "LeaderboardScoreRank": {
      "description": "A score rank in a leaderboard.",
      "id": "LeaderboardScoreRank",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "rank": {
          "type": "string",
          "format": "int64",
          "description": "The rank in the leaderboard."
        }
      }
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "The score submissions statuses."
        }
      }
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "type": "object",
      "properties": {
        "playerIds": {
          "type": "array",
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "readOnly": true,
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
        }
      }
    },
    "AchievementIncrementResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response"
    },
    "EventRecordRequest": {
      "properties": {
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64",
          "type": "string"
        },
        "currentTimeMillis": {
          "type": "string",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventRecordRequest",
      "description": "An event period update resource."
    },
    "PlayerListResponse": {
      "description": "A third party player list response.",
      "id": "PlayerListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string",
          "format": "int64"
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps for an incremental achievement."
        }
      },
      "description": "An achievement object.",
      "type": "object"
    },
    "InstanceAndroidDetails": {
      "properties": {
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      },
      "id": "InstanceAndroidDetails",
      "type": "object",
      "description": "The Android instance details resource."
    },
    "Player": {
      "properties": {
        "friendStatus": {
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Player resource.",
      "id": "Player"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC."
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "type": "object",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "id": "ResetPersonaResponse"
    },
    "MetagameConfig": {
      "type": "object",
      "id": "MetagameConfig",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          }
        },
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The metagame config resource"
    },
    "RevisionCheckResponse": {
      "type": "object",
      "description": "A third party checking a revision response.",
      "properties": {
        "revisionStatus": {
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "description": "The result of the revision check.",
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        }
      },
      "id": "RevisionCheckResponse"
    },
    "SnapshotListResponse": {
      "type": "object",
      "id": "SnapshotListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "The snapshots."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        }
      },
      "description": "A third party list snapshots response."
    },
    "ApplicationPlayerId": {
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "description": "Primary scoped player identifier for an application.",
      "id": "ApplicationPlayerId",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "type": "object",
      "description": "A list of leaderboard objects.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to."
        }
      }
    },
    "PlayerEvent": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "type": "string",
          "format": "int64"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        }
      },
      "id": "PlayerEvent",
      "type": "object",
      "description": "An event status resource."
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "description": "A third party stats resource.",
      "properties": {
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "spend_percentile": {
          "type": "number",
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "churn_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "num_sessions": {
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "num_sessions_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "avg_session_length_minutes": {
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "items": {
            "$ref": "RecallToken"
          },
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Leaderboard": {
      "type": "object",
      "description": "The Leaderboard resource.",
      "properties": {
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "order": {
          "description": "How scores are ordered.",
          "type": "string",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        }
      },
      "id": "Leaderboard"
    },
    "EventUpdateRequest": {
      "id": "EventUpdateRequest",
      "description": "An event period update resource.",
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "updateCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times this event occurred in this time period."
        }
      }
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "description": "The Application resource.",
      "properties": {
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The last updated timestamp of the application."
        },
        "assets": {
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array",
          "description": "The assets of the application."
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "leaderboard_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "instances": {
          "description": "The instances of the application.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        }
      }
    },
    "LeaderboardEntry": {
      "id": "LeaderboardEntry",
      "description": "The Leaderboard Entry resource.",
      "type": "object",
      "properties": {
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "description": "A list of player leaderboard scores.",
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object"
    },
    "GamePlayerToken": {
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "$ref": "RecallToken",
          "description": "Recall token data."
        }
      },
      "id": "GamePlayerToken",
      "type": "object",
      "description": "Recall tokens for a game."
    },
    "PlayerGameEvent": {
      "id": "PlayerGameEvent",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored."
        },
        "eventProperties": {
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters.",
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "type": "object"
        },
        "eventName": {
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific event was performed."
        }
      },
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "type": "object"
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "properties": {
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of this snapshot.",
          "enum": [
            "SAVE_GAME"
          ],
          "enumDescriptions": [
            "A snapshot representing a save game."
          ]
        },
        "id": {
[...]
