{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Google Play Games Services API",
  "version": "v1",
  "servicePath": "",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "baseUrl": "https://games.googleapis.com/",
  "id": "games:v1",
  "rootUrl": "https://games.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "name": "games",
  "documentationLink": "https://developers.google.com/games/",
  "canonicalName": "Games",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "schemas": {
    "LeaderboardEntry": {
      "properties": {
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "writeTimestampMillis": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The time span of this high score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "scoreValue": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value of this score."
        },
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "LeaderboardEntry",
      "description": "The Leaderboard Entry resource."
    },
    "UnlinkPersonaResponse": {
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "id": "UnlinkPersonaResponse",
      "type": "object"
    },
    "ScopedPlayerIds": {
      "properties": {
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        }
      },
      "id": "ScopedPlayerIds",
      "description": "Scoped player identifiers.",
      "type": "object"
    },
    "InstanceIosDetails": {
      "type": "object",
      "properties": {
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        },
        "preferredForIphone": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPhone devices."
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "preferredForIpad": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPad devices."
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        }
      },
      "description": "The iOS details resource.",
      "id": "InstanceIosDetails"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "EventChild": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      },
      "id": "EventChild",
      "description": "An event child relationship resource."
    },
    "MetagameConfig": {
      "type": "object",
      "description": "The metagame config resource",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "currentVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one."
        },
        "playerLevels": {
          "items": {
            "$ref": "PlayerLevel"
          },
          "description": "The list of player levels.",
          "type": "array"
        }
      },
      "id": "MetagameConfig"
    },
    "AchievementSetStepsAtLeastResponse": {
      "description": "An achievement set steps at least response.",
      "type": "object",
      "id": "AchievementSetStepsAtLeastResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        }
      }
    },
    "RecallToken": {
      "properties": {
        "multiPlayerPersona": {
          "type": "boolean",
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Optional expiration time of the token"
        }
      },
      "type": "object",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "id": "RecallToken"
    },
    "GamesAchievementSetStepsAtLeast": {
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementSetStepsAtLeast",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of steps for the achievement to be set to."
        }
      }
    },
    "ApplicationCategory": {
      "description": "An application category object.",
      "type": "object",
      "id": "ApplicationCategory",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        }
      }
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "type": "object",
      "id": "LinkPersonaRequest",
      "properties": {
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        },
        "ttl": {
          "type": "string",
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "cardinalityConstraint": {
          "type": "string",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        }
      }
    },
    "CategoryListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories with usage data.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CategoryListResponse",
      "description": "A third party list metagame categories response."
    },
    "Application": {
      "type": "object",
      "properties": {
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "format": "int64",
          "type": "string"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ],
            "type": "string"
          }
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application."
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "leaderboard_count": {
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32"
        },
        "assets": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        }
      },
      "description": "The Application resource.",
      "id": "Application"
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "properties": {
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        },
        "platformType": {
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "type": "string",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "description": "The platform type."
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "iosInstance": {
          "$ref": "InstanceIosDetails",
          "description": "Platform dependent details for iOS."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`."
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        }
      },
      "description": "The Instance resource."
    },
    "RetrieveGamesPlayerTokensResponse": {
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object",
      "id": "RetrieveGamesPlayerTokensResponse",
      "properties": {
        "gamePlayerTokens": {
          "items": {
            "$ref": "GamePlayerToken"
          },
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "type": "array"
        }
      }
    },
    "EventBatchRecordFailure": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`."
        },
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "type": "string",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "description": "The cause for the update failure."
        }
      },
      "description": "A batch update failure resource.",
      "type": "object",
      "id": "EventBatchRecordFailure"
    },
    "AchievementUpdateResponse": {
      "description": "An updated achievement.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`."
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "id": "AchievementUpdateResponse"
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "type": "object",
      "description": "The Web details resource.",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      }
    },
    "EventRecordRequest": {
      "properties": {
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "type": "array",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The request ID used to identify this attempt to record events."
        },
        "currentTimeMillis": {
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "type": "string"
        }
      },
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "type": "object"
    },
    "ScoreSubmission": {
      "type": "object",
      "id": "ScoreSubmission",
      "description": "A request to submit a score to leaderboards.",
      "properties": {
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "description": "The new score being submitted.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      }
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "type": "object",
      "description": "An image asset object.",
      "properties": {
        "height": {
          "type": "integer",
          "description": "The height of the asset.",
          "format": "int32"
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        }
      }
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "id": "ResetPersonaResponse",
      "type": "object"
    },
    "ApplicationPlayerId": {
      "description": "Primary scoped player identifier for an application.",
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The player identifier for the application."
        },
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationPlayerId"
    },
    "EndPoint": {
      "id": "EndPoint",
      "description": "Container for a URL end point of the requested type.",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "id": "AchievementUpdateMultipleResponse",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "type": "array",
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      }
    },
    "EventPeriodRange": {
      "id": "EventPeriodRange",
      "description": "An event period time range.",
      "type": "object",
      "properties": {
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "periodStartMillis": {
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
        }
      }
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "properties": {
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "lastModifiedMillis": {
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string"
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "type": {
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ],
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ]
        },
        "progressValue": {
          "type": "string",
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot."
        },
        "durationMillis": {
          "format": "int64",
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GamePlayerToken": {
      "id": "GamePlayerToken",
      "properties": {
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        },
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        }
      },
      "type": "object",
      "description": "Recall tokens for a game."
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        },
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "description": "An achievement reveal response"
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "properties": {
        "submittedScores": {
          "type": "array",
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of score submission statuses.",
      "type": "object"
    },
    "PlayerLeaderboardScoreListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        }
      },
      "type": "object",
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores."
    },
    "AchievementUpdateRequest": {
      "properties": {
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is being applied to."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "updateType": {
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "description": "The type of update being applied."
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        }
      },
      "id": "AchievementUpdateRequest",
      "type": "object",
      "description": "A request to update an achievement."
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "properties": {
        "playerIds": {
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "readOnly": true,
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "type": "array"
        }
      },
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "type": "object",
      "id": "GetMultipleApplicationPlayerIdsResponse"
    },
    "ProfileSettings": {
      "properties": {
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        }
      },
      "description": "Profile settings",
      "id": "ProfileSettings",
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      },
      "id": "AchievementUnlockResponse"
    },
    "BatchRecordEventsResponse": {
      "description": "A successful response indicates that the batch of events has been processed.",
      "id": "BatchRecordEventsResponse",
      "properties": {
        "failedRequests": {
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "type": "object"
    },
    "PlayerEventListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "description": "A ListByPlayer response.",
      "type": "object",
      "id": "PlayerEventListResponse"
    },
    "PlayerListResponse": {
      "type": "object",
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "Player"
          },
          "type": "array"
        }
      }
    },
    "EventDefinitionListResponse": {
      "description": "A ListDefinitions response.",
      "type": "object",
      "id": "EventDefinitionListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          },
          "description": "The event definitions."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        }
      }
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      }
    },
    "EventUpdateResponse": {
      "properties": {
        "batchFailures": {
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        },
        "playerEvents": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array",
          "description": "The current status of any updated events"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`."
        }
      },
      "id": "EventUpdateResponse",
      "description": "An event period update resource.",
      "type": "object"
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "type": "object",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      }
    },
    "PropertyValue": {
      "type": "object",
      "description": "Wrapper for the value.",
      "id": "PropertyValue",
      "properties": {
        "intValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "A duration value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "doubleValue": {
          "description": "A double value.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "BatchRecordEventsRequest": {
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "id": "BatchRecordEventsRequest",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. Application package name (e.g., \"com.example.game\")."
        },
        "requestTime": {
          "description": "Required. The time from the client when this specific batch of events was submitted.",
          "type": "string",
          "format": "google-datetime"
        },
        "salt": {
          "type": "string",
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks."
        },
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        },
        "events": {
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request.",
          "items": {
            "$ref": "PlayerGameEvent"
          },
          "type": "array"
        }
      }
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "type": "object",
      "properties": {
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "order": {
          "description": "How scores are ordered.",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        }
      }
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "properties": {
        "requestId": {
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`."
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "items": {
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array"
        }
      }
    },
    "PlayerGameEvent": {
      "type": "object",
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "properties": {
        "eventId": {
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Required. The time from the client when this specific event was performed.",
          "format": "google-datetime"
        },
        "eventName": {
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters.",
          "type": "string"
        },
        "eventProperties": {
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "type": "object",
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters."
        }
      },
      "id": "PlayerGameEvent"
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "type": "object"
    },
    "PlayerLeaderboardScore": {
      "type": "object",
      "properties": {
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "writeTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "type": "string",
          "format": "int64"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "type": "string",
          "description": "The formatted value of this score."
        }
      },
      "id": "PlayerLeaderboardScore",
      "description": "A player leaderboard score object."
    },
    "PlayGroupingApiToken": {
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "id": "PlayGroupingApiToken",
      "type": "object",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC."
    },
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "type": "object",
      "id": "LinkPersonaResponse",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "description": "Output only. State of a persona linking attempt.",
          "readOnly": true,
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ]
        }
      }
    },
    "InstanceAndroidDetails": {
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventPeriodUpdate": {
      "properties": {
        "updates": {
          "type": "array",
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        },
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
        }
      },
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate"
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "properties": {
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "description": "The visibility of event being tracked in this definition.",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ]
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "childEvents": {
          "type": "array",
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          }
        }
      },
      "type": "object",
      "description": "An event definition resource."
    },
    "EventUpdateRequest": {
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EventUpdateRequest",
      "type": "object",
      "description": "An event period update resource."
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "properties": {
        "rank": {
          "description": "The rank in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "numScores": {
          "format": "int64",
          "type": "string",
          "description": "The number of scores in the leaderboard."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`."
        }
      },
      "description": "A score rank in a leaderboard.",
      "type": "object"
    },
    "LeaderboardScores": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The pagination token for the previous page of results."
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "numScores": {
          "format": "int64",
          "type": "string",
          "description": "The total number of scores in the leaderboard."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LeaderboardScores",
      "description": "A ListScores response."
    },
    "EventRecordFailure": {
      "type": "object",
      "properties": {
        "failureCause": {
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string",
          "description": "The cause for the update failure."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        }
      },
      "id": "EventRecordFailure",
      "description": "An event update failure resource."
    },
    "PlayerAchievement": {
      "description": "An achievement object.",
      "type": "object",
      "properties": {
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementState": {
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps for an incremental achievement.",
          "format": "int32"
        }
      },
      "id": "PlayerAchievement"
    },
    "LeaderboardListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "LeaderboardListResponse",
      "type": "object",
      "description": "A list of leaderboard objects."
    },
    "StatsResponse": {
      "properties": {
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_sessions_percentile": {
          "type": "number",
          "format": "float",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "spend_percentile": {
          "type": "number",
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_sessions": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "num_purchases": {
          "type": "integer",
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "format": "int32",
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        }
      },
      "id": "StatsResponse",
      "type": "object",
      "description": "A third party stats resource."
    },
    "AchievementUpdateMultipleRequest": {
      "description": "A list of achievement update requests.",
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`."
        }
      }
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "description": "An achievement increment response",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementIncrementResponse"
    },
    "ResetPersonaRequest": {
      "properties": {
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      },
      "type": "object",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "id": "ResetPersonaRequest"
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "description": "A list of leaderboard entry resources.",
      "type": "object",
      "properties": {
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "unbeatenScores": {
          "type": "array",
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        }
      }
    },
    "PlayerScore": {
      "id": "PlayerScore",
      "properties": {
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`."
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The time span for this player score."
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A player score."
    },
    "PlayerEvent": {
      "description": "An event status resource.",
      "type": "object",
      "properties": {
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "format": "int64",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        }
      },
      "id": "PlayerEvent"
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "type": "object",
      "description": "An image of a snapshot.",
      "properties": {
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "The height of the image.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`."
        },
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        }
      }
    },
    "Player": {
      "id": "Player",
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          },
          "description": "A representation of the individual components of the name.",
          "type": "object"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        }
      }
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        },
        "revisionStatus": {
          "type": "string",
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A third party checking a revision response."
    },
    "UnlinkPersonaRequest": {
      "id": "UnlinkPersonaRequest",
      "type": "object",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      }
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "description": "A list of achievement objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The achievements.",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "id": "PlayerScoreSubmissionList",
      "properties": {
        "scores": {
          "items": {
            "$ref": "ScoreSubmission"
          },
          "description": "The score submissions.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`."
        }
      },
      "description": "A list of score submission requests.",
      "type": "object"
    },
    "PlayerExperienceInfo": {
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "id": "PlayerExperienceInfo",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        }
      }
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "id": "Category",
      "type": "object",
      "properties": {
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned in this category.",
          "format": "int64"
        }
      }
    },
    "SnapshotListResponse": {
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "The snapshots."
        }
      },
      "type": "object"
    },
    "PlayerLevel": {
      "id": "PlayerLevel",
      "description": "1P/3P metadata about a user's level.",
      "type": "object",
      "properties": {
        "level": {
          "format": "int32",
          "description": "The level for the user.",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "type": "object",
      "description": "A third party application verification response resource.",
      "properties": {
        "alternate_player_id": {
          "type": "string",
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        }
      }
    },
    "AchievementDefinition": {
      "type": "object",
      "properties": {
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementType": {
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        },
        "achievementLifecycleState": {
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "description": "Output only. The lifecycle state of the achievement."
        },
        "initialState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement."
        },
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement."
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AchievementDefinition",
      "description": "An achievement definition object."
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260907",
  "kind": "discovery#restDescription",
  "resources": {
    "achievementDefinitions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "games/v1/achievements",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [],
          "description": "Lists all the achievement definitions for your application.",
          "id": "games.achievementDefinitions.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements"
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameterOrder": [],
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential."
        },
        "generateRecallPlayGroupingApiToken": {
          "parameters": {
            "persona": {
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query"
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query"
            }
          },
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "collection": {
              "location": "path",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "type": "string",
              "enum": [
                "ALL"
              ],
              "description": "The collection of categories for which data will be returned.",
              "required": true
            }
          },
          "response": {
            "$ref": "CategoryListResponse"
          },
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "httpMethod": "GET",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "id": "games.metagame.listCategoriesByPlayer",
          "path": "games/v1/players/{playerId}/categories/{collection}"
        },
        "getMetagameConfig": {
          "response": {
            "$ref": "MetagameConfig"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "games/v1/metagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "path": "games/v1/metagameConfig",
          "description": "Return the metagame configuration data for the calling application.",
          "id": "games.metagame.getMetagameConfig"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "path": "games/v1/events",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "httpMethod": "GET",
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/events",
          "id": "games.events.listByPlayer",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "parameterOrder": []
        },
        "listDefinitions": {
          "id": "games.events.listDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": [],
          "description": "Returns a list of the event definitions in this application.",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "path": "games/v1/eventDefinitions",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          }
        },
        "record": {
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "httpMethod": "POST",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "id": "games.events.record",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "request": {
            "$ref": "EventRecordRequest"
          },
[...]
