{
  "discoveryVersion": "v1",
  "canonicalName": "Games Management",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "resources": {
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "parameters": {},
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console."
        },
        "resetAll": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "parameters": {},
          "path": "games/v1management/achievements/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAll",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/reset",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "POST"
        },
        "reset": {
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "id": "gamesManagement.achievements.reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "httpMethod": "POST",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers"
        }
      }
    },
    "events": {
      "methods": {
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameters": {},
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "parameters": {},
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the event.",
              "required": true
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "id": "gamesManagement.events.resetForAllPlayers",
          "httpMethod": "POST"
        },
        "reset": {
          "parameters": {
            "eventId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the event."
            }
          },
          "id": "gamesManagement.events.reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "eventId"
          ],
          "path": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/{eventId}/reset"
        },
        "resetAll": {
          "path": "games/v1management/events/reset",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetAll",
          "httpMethod": "POST",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "flatPath": "games/v1management/events/reset"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "id": "gamesManagement.players.hide",
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          }
        },
        "unhide": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            }
          },
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {}
        },
        "reset": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesManagement.scores.reset",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAll": {
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "parameterOrder": [],
          "path": "games/v1management/scores/reset",
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameters": {},
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetForAllPlayers",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          }
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "httpMethod": "GET",
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden"
        }
      }
    }
  },
  "id": "gamesManagement:v1management",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "version": "v1management",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "schemas": {
    "ProfileSettings": {
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "id": "ProfileSettings"
    },
    "Player": {
      "description": "A Player resource.",
      "type": "object",
      "id": "Player",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "name": {
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "type": "object",
      "id": "PlayerScoreResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results.",
          "type": "array"
        }
      },
      "description": "A list of leaderboard reset resources."
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        },
        "leaderboard_ids": {
          "type": "array",
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array"
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "id": "PlayerScoreResetResponse",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "type": "object",
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of events to reset."
        }
      }
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "properties": {
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      },
      "id": "AchievementResetResponse",
      "type": "object"
    },
    "HiddenPlayer": {
      "properties": {
        "player": {
          "$ref": "Player",
          "readOnly": true,
          "description": "Output only. The player information."
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        }
      },
      "description": "The HiddenPlayer resource.",
      "type": "object",
      "id": "HiddenPlayer"
    },
    "GamesPlayerLevelResource": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "description": "The level for the user.",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource"
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "id": "AchievementResetAllResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "type": "array",
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        }
      },
      "type": "object"
    },
    "HiddenPlayerList": {
      "properties": {
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of hidden players.",
      "id": "HiddenPlayerList"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "achievement_ids": {
          "type": "array",
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        }
      },
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Play Games Services Management API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "name": "gamesManagement",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "documentationLink": "https://developers.google.com/games/",
  "revision": "20260907",
  "basePath": "",
  "kind": "discovery#restDescription"
}