{
  "rootUrl": "https://games.googleapis.com/",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "revision": "20260820",
  "id": "games:v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "InstanceAndroidDetails": {
      "description": "The Android instance details resource.",
      "id": "InstanceAndroidDetails",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      }
    },
    "PlayerEvent": {
      "properties": {
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "numEvents": {
          "format": "int64",
          "description": "The current number of times this event has occurred.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerEvent",
      "description": "An event status resource."
    },
    "Player": {
      "description": "A Player resource.",
      "id": "Player",
      "properties": {
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "friendStatus": {
          "type": "string",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        }
      },
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "description": "A list of achievement definition objects.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      },
      "id": "AchievementDefinitionsListResponse"
    },
    "InstanceIosDetails": {
      "type": "object",
      "description": "The iOS details resource.",
      "properties": {
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPhone devices."
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        }
      },
      "id": "InstanceIosDetails"
    },
    "BatchRecordEventsResponse": {
      "id": "BatchRecordEventsResponse",
      "type": "object",
      "properties": {
        "failedRequests": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording."
        }
      },
      "description": "A successful response indicates that the batch of events has been processed."
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "id": "AchievementUpdateMultipleResponse",
      "type": "object",
      "properties": {
        "updatedAchievements": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateRequest": {
      "properties": {
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is being applied to."
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "updateType": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "description": "The type of update being applied.",
          "type": "string",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        }
      },
      "description": "A request to update an achievement.",
      "id": "AchievementUpdateRequest",
      "type": "object"
    },
    "PlayGroupingApiToken": {
      "type": "object",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "id": "PlayGroupingApiToken",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      }
    },
    "EventChild": {
      "type": "object",
      "id": "EventChild",
      "description": "An event child relationship resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      }
    },
    "EndPoint": {
      "id": "EndPoint",
      "type": "object",
      "description": "Container for a URL end point of the requested type.",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "RecallToken": {
      "type": "object",
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array"
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        }
      }
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "properties": {
        "playerIds": {
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
        }
      },
      "type": "object",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "id": "GetMultipleApplicationPlayerIdsResponse"
    },
    "AchievementUpdateResponse": {
      "type": "object",
      "id": "AchievementUpdateResponse",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this achievement if it is incremental."
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "currentState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement.",
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "description": "An updated achievement."
    },
    "PlayerScore": {
      "type": "object",
      "description": "A player score.",
      "id": "PlayerScore",
      "properties": {
        "score": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value for this player score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted score for this player score."
        },
        "timeSpan": {
          "description": "The time span for this player score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      }
    },
    "UnlinkPersonaRequest": {
      "id": "UnlinkPersonaRequest",
      "type": "object",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        }
      },
      "description": "Request to remove a Recall token linking PGS principal and an in-game account"
    },
    "Snapshot": {
      "properties": {
        "lastModifiedMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "The type of this snapshot.",
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ],
          "enumDescriptions": [
            "A snapshot representing a save game."
          ]
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Snapshot",
      "description": "An snapshot object.",
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "description": "A batch update failure resource.",
      "type": "object",
      "properties": {
        "failureCause": {
          "type": "string",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ]
        },
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        }
      },
      "id": "EventBatchRecordFailure"
    },
    "LeaderboardListResponse": {
      "type": "object",
      "description": "A list of leaderboard objects.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        }
      },
      "id": "LeaderboardListResponse"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "id": "GeneratePlayGroupingApiTokenResponse",
      "type": "object"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean",
          "description": "Whether the player's profile is visible to the currently signed in player."
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        }
      },
      "description": "Profile settings",
      "type": "object"
    },
    "SnapshotImage": {
      "description": "An image of a snapshot.",
      "id": "SnapshotImage",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "The width of the image.",
          "type": "integer"
        },
        "height": {
          "description": "The height of the image.",
          "type": "integer",
          "format": "int32"
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached."
        }
      },
      "type": "object"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response"
    },
    "PlayerGameEvent": {
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific event was performed.",
          "type": "string"
        },
        "eventProperties": {
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters.",
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "type": "object"
        },
        "eventId": {
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored.",
          "type": "string"
        },
        "eventName": {
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters.",
          "type": "string"
        }
      },
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "id": "PlayerGameEvent"
    },
    "ScoreSubmission": {
      "type": "object",
      "id": "ScoreSubmission",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "type": "string",
          "description": "The new score being submitted.",
          "format": "int64"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        }
      },
      "description": "A request to submit a score to leaderboards."
    },
    "PlayerEventListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "description": "A ListByPlayer response.",
      "type": "object",
      "id": "PlayerEventListResponse"
    },
    "PlayerExperienceInfo": {
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "id": "PlayerExperienceInfo"
    },
    "AchievementSetStepsAtLeastResponse": {
      "type": "object",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "description": "An achievement set steps at least response.",
      "id": "AchievementSetStepsAtLeastResponse"
    },
    "ScopedPlayerIds": {
      "type": "object",
      "id": "ScopedPlayerIds",
      "properties": {
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        }
      },
      "description": "Scoped player identifiers."
    },
    "Application": {
      "properties": {
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ]
          }
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "leaderboard_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The instances of the application."
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The last updated timestamp of the application.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The Application resource.",
      "id": "Application"
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "properties": {
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "high_spender_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "spend_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "churn_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_sessions_percentile": {
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "type": "number",
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        }
      },
      "type": "object",
      "description": "A third party stats resource."
    },
    "RetrieveGamesPlayerTokensResponse": {
      "properties": {
        "gamePlayerTokens": {
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "id": "RetrieveGamesPlayerTokensResponse"
    },
    "AchievementUnlockResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "id": "AchievementUnlockResponse",
      "description": "An achievement unlock response"
    },
    "UnlinkPersonaResponse": {
      "type": "object",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "description": "Response for the UnlinkPersona RPC",
      "id": "UnlinkPersonaResponse"
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        }
      }
    },
    "ApplicationCategory": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        },
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        }
      },
      "description": "An application category object.",
      "type": "object",
      "id": "ApplicationCategory"
    },
    "PlayerScoreSubmissionList": {
      "description": "A list of score submission requests.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "type": "array",
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "id": "PlayerScoreSubmissionList",
      "type": "object"
    },
    "ApplicationPlayerId": {
      "description": "Primary scoped player identifier for an application.",
      "id": "ApplicationPlayerId",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "playerId": {
          "type": "string",
          "description": "The player identifier for the application."
        }
      },
      "type": "object"
    },
    "PlayerAchievementListResponse": {
      "type": "object",
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array",
          "description": "The achievements."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "ImageAsset": {
      "properties": {
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "The width of the asset.",
          "type": "integer"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the asset."
        }
      },
      "description": "An image asset object.",
      "type": "object",
      "id": "ImageAsset"
    },
    "EventDefinition": {
      "properties": {
        "childEvents": {
          "type": "array",
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "visibility": {
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition."
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        }
      },
      "description": "An event definition resource.",
      "type": "object",
      "id": "EventDefinition"
    },
    "MetagameConfig": {
      "id": "MetagameConfig",
      "type": "object",
      "properties": {
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32",
          "type": "integer"
        },
        "playerLevels": {
          "items": {
            "$ref": "PlayerLevel"
          },
          "description": "The list of player levels.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        }
      },
      "description": "The metagame config resource"
    },
    "AchievementDefinition": {
      "description": "An achievement definition object.",
      "id": "AchievementDefinition",
      "type": "object",
      "properties": {
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "readOnly": true,
          "description": "Output only. The lifecycle state of the achievement.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "type": "string"
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "totalSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The total steps for an incremental achievement."
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "initialState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        }
      }
    },
    "EventPeriodRange": {
      "description": "An event period time range.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "periodStartMillis": {
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EventPeriodRange"
    },
    "SnapshotListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response."
    },
    "ResetPersonaResponse": {
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "description": "Response for the ResetPersona RPC",
      "type": "object",
      "id": "ResetPersonaResponse"
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "type": "object",
      "properties": {
        "gamePlayerToken": {
          "$ref": "GamePlayerToken",
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal."
        }
      },
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC"
    },
    "BatchRecordEventsRequest": {
      "id": "BatchRecordEventsRequest",
      "properties": {
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        },
        "requestTime": {
          "description": "Required. The time from the client when this specific batch of events was submitted.",
          "format": "google-datetime",
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "PlayerGameEvent"
          },
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request."
        },
        "salt": {
          "type": "string",
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks."
        },
        "packageName": {
          "description": "Required. Application package name (e.g., \"com.example.game\").",
          "type": "string"
        }
      },
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "type": "object"
    },
    "CategoryListResponse": {
      "id": "CategoryListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          }
        }
      },
      "type": "object",
      "description": "A third party list metagame categories response."
    },
    "EventDefinitionListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        }
      },
      "description": "A ListDefinitions response.",
      "type": "object",
      "id": "EventDefinitionListResponse"
    },
    "LeaderboardScores": {
      "properties": {
        "numScores": {
          "type": "string",
          "description": "The total number of scores in the leaderboard.",
          "format": "int64"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
        },
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        }
      },
      "description": "A ListScores response.",
      "id": "LeaderboardScores",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "type": "object",
      "properties": {
        "submittedScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "The score submissions statuses."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of score submission statuses."
    },
    "LeaderboardScoreRank": {
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "rank": {
          "type": "string",
          "format": "int64",
          "description": "The rank in the leaderboard."
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        }
      },
      "id": "LeaderboardScoreRank"
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "id": "EventUpdateResponse",
      "properties": {
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates."
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "type": "object",
      "properties": {
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "description": "A third party application verification response resource."
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "properties": {
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "type": "string",
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ]
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        }
      },
      "type": "object",
      "description": "A list of leaderboard entry resources."
    },
    "RevisionCheckResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "type": "string",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        }
      },
      "description": "A third party checking a revision response.",
      "id": "RevisionCheckResponse"
    },
    "ResetPersonaRequest": {
      "id": "ResetPersonaRequest",
      "type": "object",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "properties": {
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      }
    },
    "PropertyValue": {
      "id": "PropertyValue",
      "type": "object",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "durationValue": {
          "type": "string",
          "description": "A duration value.",
          "format": "google-duration"
        },
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "timestampValue": {
          "description": "A timestamp value.",
          "format": "google-datetime",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "An integer value."
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        }
      },
      "description": "Wrapper for the value."
    },
    "LinkPersonaResponse": {
      "type": "object",
      "id": "LinkPersonaResponse",
      "description": "Outcome of a persona linking attempt.",
      "properties": {
        "state": {
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of a persona linking attempt.",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ]
        }
      }
    },
    "EventRecordFailure": {
      "properties": {
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure."
        }
      },
      "description": "An event update failure resource.",
      "type": "object",
      "id": "EventRecordFailure"
    },
    "Category": {
      "id": "Category",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned in this category."
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        }
      },
      "description": "Data related to individual game categories."
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "id": "GamesAchievementIncrement",
      "properties": {
        "steps": {
          "description": "The number of steps to be incremented.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64"
        }
      }
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "properties": {
        "achievementState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The state of the achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp of the last modification to this achievement's state."
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps for an incremental achievement.",
          "type": "integer"
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        }
      },
      "type": "object",
      "description": "An achievement object."
    },
    "EventPeriodUpdate": {
      "id": "EventPeriodUpdate",
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        }
      }
    },
    "InstanceWebDetails": {
      "properties": {
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        }
      },
      "type": "object",
      "description": "The Web details resource.",
      "id": "InstanceWebDetails"
    },
    "GamesAchievementSetStepsAtLeast": {
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementSetStepsAtLeast",
      "properties": {
        "steps": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventUpdateRequest": {
      "description": "An event period update resource.",
      "id": "EventUpdateRequest",
      "properties": {
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerLeaderboardScore": {
      "description": "A player leaderboard score object.",
      "properties": {
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`."
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "format": "int64",
          "type": "string"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        }
      },
      "id": "PlayerLeaderboardScore",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "EventRecordRequest": {
      "id": "EventRecordRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "format": "int64",
          "type": "string",
          "description": "The request ID used to identify this attempt to record events."
        },
        "currentTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request.",
          "type": "array"
        }
      },
      "description": "An event period update resource."
    },
    "LinkPersonaRequest": {
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Input only. Optional expiration time."
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. Optional time-to-live."
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        }
      },
      "type": "object",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest"
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests."
        }
      },
      "description": "A list of achievement update requests."
    },
    "PlayerLevel": {
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "id": "PlayerLevel",
      "properties": {
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "level": {
          "format": "int32",
          "description": "The level for the user.",
          "type": "integer"
        }
      }
    },
    "GamePlayerToken": {
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "description": "Recall tokens for a game.",
      "type": "object",
      "id": "GamePlayerToken"
    },
    "LeaderboardEntry": {
      "type": "object",
      "id": "LeaderboardEntry",
      "description": "The Leaderboard Entry resource.",
      "properties": {
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this high score."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "player": {
          "$ref": "Player",
          "description": "The player who holds this score."
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RetrievePlayerTokensResponse": {
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RetrievePlayerTokensResponse"
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "description": "The Instance resource.",
      "properties": {
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "platformType": {
          "description": "The platform type.",
          "type": "string",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ]
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        }
      }
    },
    "PlayerListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Player"
          },
          "description": "The players.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "id": "PlayerListResponse",
      "description": "A third party player list response."
    },
    "Leaderboard": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "order": {
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "description": "How scores are ordered."
        },
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon for the leaderboard."
        }
      },
      "description": "The Leaderboard resource.",
      "id": "Leaderboard"
    }
  },
  "servicePath": "",
  "canonicalName": "Games",
  "protocol": "rest",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/games/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "baseUrl": "https://games.googleapis.com/",
  "resources": {
    "snapshots": {
      "methods": {
        "get": {
          "description": "Retrieves the metadata for a given snapshot ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "snapshotId"
          ],
          "path": "games/v1/snapshots/{snapshotId}",
          "parameters": {
            "snapshotId": {
              "type": "string",
              "description": "The ID of the snapshot.",
              "location": "path",
              "required": true
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "response": {
            "$ref": "Snapshot"
          },
          "id": "games.snapshots.get",
          "httpMethod": "GET"
        },
        "list": {
          "path": "games/v1/players/{playerId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "id": "games.snapshots.list"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "path": "games/v1/stats",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "parameters": {},
          "flatPath": "games/v1/stats",
          "response": {
            "$ref": "StatsResponse"
          },
          "id": "games.stats.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "enum": [
                "ALL"
              ],
              "location": "path",
              "required": true,
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "description": "The collection of categories for which data will be returned.",
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`."
            }
          },
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "id": "games.metagame.listCategoriesByPlayer",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getMetagameConfig": {
          "description": "Return the metagame configuration data for the calling application.",
          "parameterOrder": [],
          "id": "games.metagame.getMetagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "path": "games/v1/metagameConfig",
          "flatPath": "games/v1/metagameConfig",
          "response": {
            "$ref": "MetagameConfig"
          },
          "httpMethod": "GET"
        }
      }
    },
    "applications": {
      "methods": {
        "getEndPoint": {
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "query",
              "description": "The application ID from the Google Play developer console."
            },
            "endPointType": {
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "description": "Type of endpoint being requested.",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string"
            }
          },
          "path": "games/v1/applications/getEndPoint",
          "httpMethod": "POST",
          "flatPath": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "parameterOrder": [],
          "description": "Returns a URL for the requested end point type.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.getEndPoint"
        },
        "played": {
          "id": "games.applications.played",
          "flatPath": "games/v1/applications/played",
          "parameterOrder": [],
          "path": "games/v1/applications/played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "verify": {
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify",
          "httpMethod": "GET",
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            }
          },
          "path": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "platformType": {
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "description": "Restrict application details returned to the specific platform.",
              "location": "query",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ]
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "id": "games.applications.get",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "path": "games/v1/applications/{applicationId}",
          "flatPath": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "id": "games.leaderboards.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the leaderboard metadata for your application.",
          "parameterOrder": [],
          "path": "games/v1/leaderboards",
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "get": {
          "id": "games.leaderboards.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID."
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "parameterOrder": [],
[...]
