{
  "basePath": "",
  "revision": "20261001",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1configuration",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/games/",
  "canonicalName": "Games Configuration",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GamesNumberAffixConfiguration": {
      "properties": {
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
        }
      },
      "description": "A number affix resource.",
      "type": "object",
      "id": "GamesNumberAffixConfiguration"
    },
    "AchievementConfigurationDetail": {
      "id": "AchievementConfigurationDetail",
      "properties": {
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "format": "int32"
        },
        "pointValue": {
          "description": "Point value for the achievement.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "description": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement description."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this achievement. Writes to this field are ignored."
        }
      },
      "description": "An achievement configuration detail.",
      "type": "object"
    },
    "AchievementConfiguration": {
      "id": "AchievementConfiguration",
      "properties": {
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "description": "The type of the achievement."
        },
        "stepsToUnlock": {
          "type": "integer",
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32"
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`."
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "initialState": {
          "type": "string",
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ]
        }
      },
      "type": "object",
      "description": "An achievement configuration resource."
    },
    "AchievementConfigurationListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        },
        "items": {
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "description": "The achievement configurations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "type": "object",
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response."
    },
    "LeaderboardConfigurationListResponse": {
      "id": "LeaderboardConfigurationListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "type": "array",
          "description": "The leaderboard configurations."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`."
        }
      },
      "description": "A ListConfigurations response."
    },
    "LocalizedStringBundle": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array",
          "description": "The locale strings."
        }
      },
      "description": "A localized string bundle resource.",
      "id": "LocalizedStringBundle"
    },
    "LeaderboardConfigurationDetail": {
      "properties": {
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        },
        "sortRank": {
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        }
      },
      "type": "object",
      "description": "A leaderboard configuration detail.",
      "id": "LeaderboardConfigurationDetail"
    },
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "description": "A number format resource.",
      "properties": {
        "numDecimalPlaces": {
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "type": "integer"
        },
        "suffix": {
          "$ref": "GamesNumberAffixConfiguration",
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."
        },
        "currencyCode": {
          "type": "string",
          "description": "The curreny code string. Only used for CURRENCY format type."
        },
        "numberFormatType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "description": "The formatting for the number.",
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        }
      },
      "id": "GamesNumberFormatConfiguration"
    },
    "LocalizedString": {
      "type": "object",
      "description": "A localized string resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        }
      },
      "id": "LocalizedString"
    },
    "LeaderboardConfiguration": {
      "description": "An leaderboard configuration resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "scoreMax": {
          "description": "Maximum score that can be posted to this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "scoreOrder": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        }
      },
      "id": "LeaderboardConfiguration"
    }
  },
  "id": "gamesConfiguration:v1configuration",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "resources": {
    "leaderboardConfigurations": {
      "methods": {
        "get": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string"
            }
          },
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete the leaderboard configuration with the given ID.",
          "path": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "insert": {
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "POST",
          "description": "Insert a new leaderboard configuration in this application.",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            }
          }
        },
        "update": {
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "description": "Returns a list of the leaderboard configurations in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.list"
        }
      }
    },
    "achievementConfigurations": {
      "methods": {
        "get": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "GET",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/achievements/{achievementId}",
          "description": "Delete the achievement configuration with the given ID."
        },
        "insert": {
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "description": "Insert a new achievement configuration in this application.",
          "httpMethod": "POST",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.update",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "PUT"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the achievement configurations in this application.",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "id": "gamesConfiguration.achievementConfigurations.list",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "name": "gamesConfiguration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "title": "Google Play Games Services Publishing API",
  "protocol": "rest",
  "baseUrl": "https://gamesconfiguration.googleapis.com/"
}