{
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "AchievementResetResponse": {
      "type": "object",
      "description": "An achievement reset response.",
      "properties": {
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse"
    },
    "HiddenPlayerList": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "HiddenPlayerList",
      "description": "A list of hidden players."
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "properties": {
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "minExperiencePoints": {
          "format": "int64",
          "description": "The minimum experience points for this level.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about a user's level."
    },
    "Player": {
      "description": "A Player resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          }
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Player"
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of events to reset.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Multiple events reset all request."
    },
    "ScoresResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object"
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "properties": {
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "player": {
          "readOnly": true,
          "description": "Output only. The player information.",
          "$ref": "Player"
        },
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The HiddenPlayer resource."
    },
    "AchievementResetAllResponse": {
      "properties": {
        "results": {
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        }
      },
      "description": "Achievement reset all response.",
      "type": "object",
      "id": "AchievementResetAllResponse"
    },
    "PlayerScoreResetAllResponse": {
      "description": "A list of leaderboard reset resources.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array",
          "description": "The leaderboard reset results."
        }
      },
      "id": "PlayerScoreResetAllResponse"
    },
    "AchievementResetMultipleForAllRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset."
        }
      },
      "id": "AchievementResetMultipleForAllRequest"
    },
    "ProfileSettings": {
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      },
      "type": "object",
      "id": "ProfileSettings",
      "description": "Profile settings"
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array"
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "id": "PlayerScoreResetResponse",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "type": "object",
      "id": "GamesPlayerExperienceInfoResource",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "name": "gamesManagement",
  "id": "gamesManagement:v1management",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "version": "v1management",
  "resources": {
    "players": {
      "methods": {
        "hide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string"
            },
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.hide",
          "httpMethod": "POST"
        },
        "unhide": {
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE",
          "id": "gamesManagement.players.unhide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          }
        },
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "httpMethod": "POST"
        },
        "resetAll": {
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAll",
          "flatPath": "games/v1management/scores/reset",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          }
        },
        "reset": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard."
            }
          },
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset"
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "id": "gamesManagement.applications.listHidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers"
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the event.",
              "required": true
            }
          },
          "id": "gamesManagement.events.resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ]
        },
        "reset": {
          "path": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "required": true,
              "description": "The ID of the event.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "resetAll": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/reset",
          "id": "gamesManagement.events.resetAll",
          "path": "games/v1management/events/reset",
          "parameters": {},
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": []
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAll": {
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "parameterOrder": [
            "achievementId"
          ]
        },
        "reset": {
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.reset",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset"
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameters": {}
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/games/",
  "ownerName": "Google",
  "canonicalName": "Games Management",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "title": "Google Play Games Services Management API",
  "revision": "20260907"
}