{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": "",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "documentationLink": "https://developers.google.com/games/",
  "rootUrl": "https://games.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://games.googleapis.com/",
  "canonicalName": "Games",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "games:v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "type": "string",
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "description": "Output only. State of a persona linking attempt.",
          "readOnly": true
        }
      },
      "id": "LinkPersonaResponse"
    },
    "Player": {
      "properties": {
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "friendStatus": {
          "type": "string",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "name": {
          "description": "A representation of the individual components of the name.",
          "type": "object",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          }
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Player resource.",
      "id": "Player"
    },
    "PlayerScore": {
      "properties": {
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score."
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        }
      },
      "id": "PlayerScore",
      "type": "object",
      "description": "A player score."
    },
    "BatchRecordEventsRequest": {
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific batch of events was submitted.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks."
        },
        "packageName": {
          "type": "string",
          "description": "Required. Application package name (e.g., \"com.example.game\")."
        },
        "events": {
          "type": "array",
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request.",
          "items": {
            "$ref": "PlayerGameEvent"
          }
        },
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        }
      },
      "id": "BatchRecordEventsRequest",
      "type": "object",
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7"
    },
    "GamePlayerToken": {
      "id": "GamePlayerToken",
      "description": "Recall tokens for a game.",
      "properties": {
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        },
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "description": "A third party application verification response resource.",
      "id": "ApplicationVerifyResponse",
      "type": "object",
      "properties": {
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        }
      }
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "description": "An image asset object.",
      "properties": {
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "The width of the asset.",
          "format": "int32"
        },
        "height": {
          "description": "The height of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RecallToken": {
      "type": "object",
      "id": "RecallToken",
      "properties": {
        "multiPlayerPersona": {
          "type": "boolean",
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Optional expiration time of the token",
          "type": "string"
        }
      },
      "description": "Recall token data returned from RetrievePlayerTokens RPC"
    },
    "PropertyValue": {
      "id": "PropertyValue",
      "properties": {
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value."
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "An integer value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "A double value."
        },
        "durationValue": {
          "format": "google-duration",
          "description": "A duration value.",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "A string value."
        }
      },
      "description": "Wrapper for the value.",
      "type": "object"
    },
    "SnapshotListResponse": {
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
        },
        "items": {
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "type": "object",
      "description": "An achievement set steps at least response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "id": "AchievementSetStepsAtLeastResponse"
    },
    "ProfileSettings": {
      "type": "object",
      "id": "ProfileSettings",
      "description": "Profile settings",
      "properties": {
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "friendsListVisibility": {
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        }
      }
    },
    "ResetPersonaResponse": {
      "type": "object",
      "id": "ResetPersonaResponse",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "description": "Response for the ResetPersona RPC"
    },
    "PlayerLevel": {
      "properties": {
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The maximum experience points for this level."
        }
      },
      "type": "object",
      "id": "PlayerLevel",
      "description": "1P/3P metadata about a user's level."
    },
    "InstanceWebDetails": {
      "type": "object",
      "id": "InstanceWebDetails",
      "description": "The Web details resource.",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateRequest": {
      "id": "AchievementUpdateRequest",
      "description": "A request to update an achievement.",
      "type": "object",
      "properties": {
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "updateType": {
          "type": "string",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "description": "The type of update being applied."
        }
      }
    },
    "ResetPersonaRequest": {
      "properties": {
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      },
      "id": "ResetPersonaRequest",
      "type": "object",
      "description": "Request to remove all Recall tokens associated with a persona for an app."
    },
    "AchievementUpdateResponse": {
      "description": "An updated achievement.",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "currentState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The current state of the achievement."
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "id": "AchievementUpdateResponse",
      "type": "object"
    },
    "AchievementDefinition": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "achievementLifecycleState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "type": "string",
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "description": "Output only. The lifecycle state of the achievement.",
          "readOnly": true
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "initialState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The initial state of the achievement.",
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        }
      },
      "description": "An achievement definition object.",
      "id": "AchievementDefinition"
    },
    "PlayerScoreListResponse": {
      "description": "A list of score submission statuses.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "type": "array",
          "description": "The score submissions statuses."
        }
      },
      "id": "PlayerScoreListResponse"
    },
    "AchievementUpdateMultipleRequest": {
      "description": "A list of achievement update requests.",
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "updates": {
          "description": "The individual achievement update requests.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`."
        }
      }
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "properties": {
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience."
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "id": "GeneratePlayGroupingApiTokenResponse"
    },
    "Category": {
      "id": "Category",
      "properties": {
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned in this category."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
        },
        "category": {
          "type": "string",
          "description": "The category name."
        }
      },
      "description": "Data related to individual game categories.",
      "type": "object"
    },
    "RetrievePlayerTokensResponse": {
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "id": "RetrievePlayerTokensResponse",
      "type": "object",
      "description": "Response for the RetrievePlayerTokens RPC"
    },
    "PlayerLeaderboardScore": {
      "type": "object",
      "id": "PlayerLeaderboardScore",
      "properties": {
        "leaderboard_id": {
          "type": "string",
          "description": "The ID of the leaderboard this score is in."
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        },
        "writeTimestamp": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        }
      },
      "description": "A player leaderboard score object."
    },
    "AchievementDefinitionsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array",
          "description": "The achievement definitions."
        }
      },
      "description": "A list of achievement definition objects.",
      "type": "object",
      "id": "AchievementDefinitionsListResponse"
    },
    "LeaderboardScoreRank": {
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`."
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "rank": {
          "format": "int64",
          "type": "string",
          "description": "The rank in the leaderboard."
        }
      },
      "id": "LeaderboardScoreRank"
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
        },
        "updates": {
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array",
          "description": "The updates being made for this time period."
        },
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        }
      },
      "type": "object",
      "id": "EventPeriodUpdate"
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response",
      "type": "object",
      "properties": {
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        }
      }
    },
    "PlayerAchievementListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "id": "PlayerAchievementListResponse",
      "type": "object",
      "description": "A list of achievement objects."
    },
    "LeaderboardEntry": {
      "description": "The Leaderboard Entry resource.",
      "type": "object",
      "properties": {
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "writeTimestampMillis": {
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string"
        }
      },
      "id": "LeaderboardEntry"
    },
    "EventChild": {
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      }
    },
    "EndPoint": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL suitable for loading in a web browser for the requested endpoint."
        }
      },
      "id": "EndPoint",
      "description": "Container for a URL end point of the requested type."
    },
    "EventDefinitionListResponse": {
      "type": "object",
      "description": "A ListDefinitions response.",
      "id": "EventDefinitionListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          },
          "type": "array"
        }
      }
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement."
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementIncrement"
    },
    "PlayerGameEvent": {
      "type": "object",
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "id": "PlayerGameEvent",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored."
        },
        "eventName": {
          "type": "string",
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters."
        },
        "eventTime": {
          "type": "string",
          "description": "Required. The time from the client when this specific event was performed.",
          "format": "google-datetime"
        },
        "eventProperties": {
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters.",
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "type": "object"
        }
      }
    },
    "EventRecordFailure": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ]
        },
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        }
      },
      "id": "EventRecordFailure",
      "type": "object",
      "description": "An event update failure resource."
    },
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "id": "CategoryListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Category"
          },
          "type": "array",
          "description": "The list of categories with usage data."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "properties": {
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the image."
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An image of a snapshot."
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "description": "A third party stats resource.",
      "type": "object",
      "properties": {
        "high_spender_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "num_sessions": {
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "num_sessions_percentile": {
          "format": "float",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "avg_session_length_minutes": {
          "format": "float",
          "type": "number",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "churn_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "spend_probability": {
          "format": "float",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "days_since_last_played": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        }
      }
    },
    "RetrieveGamesPlayerTokensResponse": {
      "id": "RetrieveGamesPlayerTokensResponse",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      },
      "type": "object"
    },
    "ApplicationCategory": {
      "type": "object",
      "description": "An application category object.",
      "id": "ApplicationCategory",
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`."
        }
      }
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        }
      },
      "id": "UnlinkPersonaRequest"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "type": "object",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "id": "GenerateRecallPlayGroupingApiTokenResponse"
    },
    "Application": {
      "id": "Application",
      "properties": {
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "type": "string",
          "format": "int64"
        },
        "instances": {
          "type": "array",
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          }
        },
        "leaderboard_count": {
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "type": "integer"
        },
        "enabledFeatures": {
          "type": "array",
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ],
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ]
          }
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The Application resource."
    },
    "InstanceAndroidDetails": {
      "description": "The Android instance details resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      },
      "id": "InstanceAndroidDetails"
    },
    "InstanceIosDetails": {
      "properties": {
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "InstanceIosDetails",
      "description": "The iOS details resource."
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "properties": {
        "batchFailures": {
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        }
      },
      "description": "An event period update resource.",
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "type": "array",
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "description": "A list of score submission requests.",
      "id": "PlayerScoreSubmissionList",
      "type": "object"
    },
    "PlayerAchievement": {
      "type": "object",
      "id": "PlayerAchievement",
      "description": "An achievement object.",
      "properties": {
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "achievementState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "Player"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "type": "object",
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      }
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "type": "object",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "properties": {
        "playerIds": {
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ApplicationPlayerId"
          }
        }
      }
    },
    "Leaderboard": {
      "properties": {
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "order": {
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered.",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "id": {
          "type": "string",
          "description": "The leaderboard ID."
        }
      },
      "description": "The Leaderboard resource.",
      "id": "Leaderboard",
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "description": "A batch update failure resource.",
      "type": "object",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "type": "string",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "description": "The cause for the update failure."
        }
      }
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        },
        "numScores": {
          "format": "int64",
          "description": "The total number of scores in the leaderboard.",
          "type": "string"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        }
      },
      "description": "A ListScores response.",
      "type": "object"
    },
    "Instance": {
      "type": "object",
      "description": "The Instance resource.",
      "properties": {
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "platformType": {
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type.",
          "type": "string",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ]
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        }
      },
      "id": "Instance"
    },
    "EventRecordRequest": {
      "type": "object",
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64"
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "currentTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        }
      }
    },
    "UnlinkPersonaResponse": {
      "description": "Response for the UnlinkPersona RPC",
      "id": "UnlinkPersonaResponse",
      "type": "object",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request."
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ScopedPlayerIds": {
      "description": "Scoped player identifiers.",
      "type": "object",
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      }
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "type": "object",
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "properties": {
        "gamePlayerToken": {
          "$ref": "GamePlayerToken",
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal."
        }
      }
    },
    "PlayerEventListResponse": {
      "id": "PlayerEventListResponse",
      "type": "object",
      "description": "A ListByPlayer response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events."
        }
      }
    },
    "LeaderboardListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "type": "array",
          "description": "The leaderboards."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        }
      },
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "type": "object"
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string",
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          },
          "description": "The time spans where the submitted score is better than the existing score for that time span."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements.",
          "type": "array"
        }
      },
      "id": "AchievementUpdateMultipleResponse",
      "type": "object"
    },
    "ApplicationPlayerId": {
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The player identifier for the application."
        },
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        }
      },
      "type": "object",
      "id": "ApplicationPlayerId",
      "description": "Primary scoped player identifier for an application."
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "properties": {
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "type": {
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ],
          "description": "The type of this snapshot."
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "lastModifiedMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        },
        "progressValue": {
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string"
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "durationMillis": {
          "type": "string",
          "format": "int64",
          "description": "The duration associated with this snapshot, in millis."
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EventPeriodRange": {
      "id": "EventPeriodRange",
      "description": "An event period time range.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "format": "int64",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string"
        },
        "periodEndMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch)."
        }
      },
      "type": "object"
    },
    "EventUpdateRequest": {
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EventUpdateRequest",
      "description": "An event period update resource."
    },
    "MetagameConfig": {
      "id": "MetagameConfig",
      "type": "object",
      "description": "The metagame config resource",
      "properties": {
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer",
          "format": "int32"
        },
        "playerLevels": {
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          },
          "description": "The list of player levels."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        }
      }
    },
    "LinkPersonaRequest": {
      "type": "object",
      "id": "LinkPersonaRequest",
      "properties": {
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "type": "string",
          "format": "google-duration"
        },
        "expireTime": {
          "type": "string",
          "description": "Input only. Optional expiration time.",
          "format": "google-datetime"
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        }
      },
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id)."
    },
    "EventDefinition": {
      "properties": {
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        }
      },
      "description": "An event definition resource.",
      "id": "EventDefinition",
      "type": "object"
    },
    "RevisionCheckResponse": {
      "properties": {
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "revisionStatus": {
          "type": "string",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "description": "The result of the revision check.",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        }
      },
      "description": "A third party checking a revision response.",
      "id": "RevisionCheckResponse",
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        }
      },
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "type": "object"
    },
    "ScoreSubmission": {
      "properties": {
        "score": {
          "format": "int64",
          "description": "The new score being submitted.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      },
      "description": "A request to submit a score to leaderboards.",
      "id": "ScoreSubmission",
      "type": "object"
    },
    "BatchRecordEventsResponse": {
      "properties": {
        "failedRequests": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording."
        }
      },
      "id": "BatchRecordEventsResponse",
      "type": "object",
      "description": "A successful response indicates that the batch of events has been processed."
    },
    "PlayGroupingApiToken": {
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "id": "PlayGroupingApiToken"
    },
    "PlayerEvent": {
      "properties": {
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "numEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred.",
          "format": "int64"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        }
      },
      "id": "PlayerEvent",
      "type": "object",
      "description": "An event status resource."
    }
  },
  "title": "Google Play Games Services API",
  "name": "games",
  "resources": {
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "id": "games.metagame.listCategoriesByPlayer",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "collection": {
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "location": "path",
              "required": true,
              "type": "string",
              "enum": [
                "ALL"
              ],
              "description": "The collection of categories for which data will be returned."
            }
          }
        },
        "getMetagameConfig": {
          "path": "games/v1/metagameConfig",
          "id": "games.metagame.getMetagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Return the metagame configuration data for the calling application.",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "MetagameConfig"
          },
          "flatPath": "games/v1/metagameConfig"
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "id": "games.snapshots.list",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "get": {
          "path": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "response": {
            "$ref": "Snapshot"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "snapshotId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the snapshot.",
              "required": true
            }
          }
        }
      }
    },
    "recall": {
      "methods": {
        "retrieveTokens": {
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sessionId": {
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "id": "games.recall.retrieveTokens",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          }
        },
        "gamesPlayerTokens": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "sessionId"
          ],
          "id": "games.recall.gamesPlayerTokens",
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "parameters": {
            "sessionId": {
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string",
              "location": "path"
            },
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          }
        },
        "lastTokenFromAllDeveloperGames": {
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "parameterOrder": [
            "sessionId"
          ],
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sessionId": {
              "required": true,
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path"
            }
          },
          "id": "games.recall.lastTokenFromAllDeveloperGames"
        },
        "resetPersona": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {},
          "path": "games/v1/recall:resetPersona",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "id": "games.recall.resetPersona",
          "parameterOrder": [],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "flatPath": "games/v1/recall:resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          }
        },
        "unlinkPersona": {
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "httpMethod": "POST",
          "path": "games/v1/recall:unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "parameters": {},
          "id": "games.recall.unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "flatPath": "games/v1/recall:unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": []
        },
        "linkPersona": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "parameters": {},
          "path": "games/v1/recall:linkPersona",
          "httpMethod": "POST",
          "id": "games.recall.linkPersona",
          "parameterOrder": [],
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account"
        }
      }
    },
    "achievements": {
      "methods": {
        "updateMultiple": {
          "id": "games.achievements.updateMultiple",
          "flatPath": "games/v1/achievements/updateMultiple",
          "description": "Updates multiple achievements for the currently authenticated player.",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "path": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "POST",
          "description": "Unlocks this achievement for the currently authenticated player.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "path": "games/v1/achievements/{achievementId}/unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.unlock"
        },
        "list": {
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
[...]
