{
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "protocol": "rest",
  "title": "Google Play Games Services Management API",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "AchievementResetResponse": {
      "type": "object",
      "description": "An achievement reset response.",
      "properties": {
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse"
    },
    "Player": {
      "id": "Player",
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "name": {
          "type": "object",
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset."
        }
      }
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        }
      },
      "type": "object"
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PlayerScoreResetResponse"
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "type": "string"
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "player": {
          "description": "Output only. The player information.",
          "$ref": "Player",
          "readOnly": true
        }
      },
      "description": "The HiddenPlayer resource."
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience."
    },
    "GamesPlayerLevelResource": {
      "properties": {
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        },
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The maximum experience points for this level."
        }
      },
      "id": "GamesPlayerLevelResource",
      "type": "object",
      "description": "1P/3P metadata about a user's level."
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "properties": {
        "results": {
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        }
      },
      "type": "object",
      "description": "Achievement reset all response."
    },
    "EventsResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Multiple events reset all request.",
      "id": "EventsResetMultipleForAllRequest",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        }
      },
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "description": "A list of leaderboard reset resources."
    },
    "ProfileSettings": {
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "id": "ProfileSettings"
    }
  },
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "name": "gamesManagement",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/games/",
  "kind": "discovery#restDescription",
  "version": "v1management",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "batchPath": "batch",
  "servicePath": "",
  "id": "gamesManagement:v1management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "canonicalName": "Games Management",
  "revision": "20260907",
  "basePath": "",
  "resources": {
    "events": {
      "methods": {
        "resetAll": {
          "flatPath": "games/v1management/events/reset",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAll",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "parameterOrder": [],
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset."
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.events.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "type": "string",
              "description": "The ID of the event.",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "parameterOrder": [
            "eventId"
          ],
          "httpMethod": "POST"
        },
        "reset": {
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "path": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "eventId"
          ]
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "httpMethod": "POST"
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "parameters": {},
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "resetAll": {
          "id": "gamesManagement.scores.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/scores/reset",
          "parameters": {},
          "path": "games/v1management/scores/reset",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          }
        },
        "resetForAllPlayers": {
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "parameterOrder": [],
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "path": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "reset": {
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.hide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "httpMethod": "POST"
        },
        "unhide": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "DELETE",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "gamesManagement.players.unhide",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        }
      }
    },
    "achievements": {
      "methods": {
        "reset": {
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesManagement.achievements.reset",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/{achievementId}/reset"
        },
        "resetMultipleForAllPlayers": {
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameterOrder": []
        },
        "resetAll": {
          "id": "gamesManagement.achievements.resetAll",
          "path": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/reset",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          }
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "gamesManagement.applications.listHidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    }
  }
}