{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "basePath": "",
  "title": "Google Play Games Services Management API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "gamesManagement",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "players": {
      "methods": {
        "hide": {
          "httpMethod": "POST",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.hide",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "unhide": {
          "id": "gamesManagement.players.unhide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          }
        },
        "reset": {
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "path": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.reset",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/reset",
          "parameters": {},
          "id": "gamesManagement.achievements.resetAll",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "parameters": {},
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset."
        },
        "reset": {
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the event."
            }
          },
          "id": "gamesManagement.events.reset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the event."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers"
        },
        "resetAll": {
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAll",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1management/events/reset",
          "path": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        },
        "reset": {
          "httpMethod": "POST",
          "id": "gamesManagement.scores.reset",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "id": "gamesManagement.scores.resetAll",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "games/v1management/scores/reset",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {}
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.applications.listHidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`."
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "id": "gamesManagement:v1management",
  "schemas": {
    "AchievementResetAllResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results.",
          "type": "array"
        }
      },
      "id": "AchievementResetAllResponse",
      "description": "Achievement reset all response.",
      "type": "object"
    },
    "HiddenPlayer": {
      "properties": {
        "player": {
          "readOnly": true,
          "$ref": "Player",
          "description": "Output only. The player information."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true
        },
        "hiddenTimeMillis": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The time this player was hidden.",
          "type": "string"
        }
      },
      "id": "HiddenPlayer",
      "type": "object",
      "description": "The HiddenPlayer resource."
    },
    "ScoresResetMultipleForAllRequest": {
      "properties": {
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        }
      },
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array",
          "description": "The leaderboard reset results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        }
      },
      "description": "A list of leaderboard reset resources."
    },
    "HiddenPlayerList": {
      "type": "object",
      "description": "A list of hidden players.",
      "id": "HiddenPlayerList",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "type": "object",
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "type": "object",
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "event_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of events to reset."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "type": "object",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "id": "PlayerScoreResetResponse"
    },
    "AchievementResetResponse": {
      "id": "AchievementResetResponse",
      "type": "object",
      "description": "An achievement reset response.",
      "properties": {
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        }
      }
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "id": "ProfileSettings"
    },
    "GamesPlayerLevelResource": {
      "description": "1P/3P metadata about a user's level.",
      "type": "object",
      "properties": {
        "maxExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The maximum experience points for this level."
        },
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        },
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        }
      },
      "id": "GamesPlayerLevelResource"
    },
    "Player": {
      "properties": {
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "name": {
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        }
      },
      "description": "A Player resource.",
      "id": "Player",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "properties": {
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        }
      },
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "description": "1P/3P metadata about the player's experience."
    }
  },
  "version": "v1management",
  "documentationLink": "https://developers.google.com/games/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Games Management",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "revision": "20260820",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/"
}