{
  "batchPath": "batch",
  "name": "gamesConfiguration",
  "documentationLink": "https://developers.google.com/games/",
  "discoveryVersion": "v1",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1configuration",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "title": "Google Play Games Services Publishing API",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "servicePath": "",
  "revision": "20260907",
  "canonicalName": "Games Configuration",
  "ownerName": "Google",
  "protocol": "rest",
  "id": "gamesConfiguration:v1configuration",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "LocalizedString": {
      "description": "A localized string resource.",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale string."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The string value."
        }
      },
      "id": "LocalizedString",
      "type": "object"
    },
    "AchievementConfigurationListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "description": "The achievement configurations.",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        }
      },
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "type": "object"
    },
    "LeaderboardConfigurationListResponse": {
      "type": "object",
      "description": "A ListConfigurations response.",
      "properties": {
        "items": {
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "type": "array",
          "description": "The leaderboard configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`."
        }
      },
      "id": "LeaderboardConfigurationListResponse"
    },
    "AchievementConfiguration": {
      "type": "object",
      "description": "An achievement configuration resource.",
      "id": "AchievementConfiguration",
      "properties": {
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "achievementType": {
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        },
        "stepsToUnlock": {
          "format": "int32",
          "type": "integer",
          "description": "Steps to unlock. Only applicable to incremental achievements."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`."
        },
        "initialState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement.",
          "type": "string"
        },
        "published": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The read-only published data of the achievement."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        }
      }
    },
    "LocalizedStringBundle": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "description": "The locale strings.",
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array"
        }
      },
      "description": "A localized string bundle resource.",
      "id": "LocalizedStringBundle"
    },
    "AchievementConfigurationDetail": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "sortRank": {
          "format": "int32",
          "type": "integer",
          "description": "The sort rank of this achievement. Writes to this field are ignored."
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        },
        "pointValue": {
          "type": "integer",
          "description": "Point value for the achievement.",
          "format": "int32"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        }
      },
      "description": "An achievement configuration detail.",
      "id": "AchievementConfigurationDetail"
    },
    "LeaderboardConfiguration": {
      "description": "An leaderboard configuration resource.",
      "type": "object",
      "id": "LeaderboardConfiguration",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "draft": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The draft data of the leaderboard."
        },
        "scoreMax": {
          "format": "int64",
          "type": "string",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "scoreMin": {
          "type": "string",
          "format": "int64",
          "description": "Minimum score that can be posted to this leaderboard."
        },
        "scoreOrder": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "published": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The read-only published data of the leaderboard."
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        }
      }
    },
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource.",
      "properties": {
        "numberFormatType": {
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "type": "string",
          "description": "The formatting for the number."
        },
        "numDecimalPlaces": {
          "type": "integer",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        },
        "suffix": {
          "$ref": "GamesNumberAffixConfiguration",
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."
        }
      }
    },
    "GamesNumberAffixConfiguration": {
      "id": "GamesNumberAffixConfiguration",
      "properties": {
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
        },
        "zero": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of the number 0 (as in Arabic)."
        },
        "other": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "type": "object",
      "description": "A number affix resource."
    },
    "LeaderboardConfigurationDetail": {
      "type": "object",
      "properties": {
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        },
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        }
      },
      "id": "LeaderboardConfigurationDetail",
      "description": "A leaderboard configuration detail."
    }
  },
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "insert": {
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "description": "Insert a new achievement configuration in this application.",
          "parameters": {
            "applicationId": {
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.insert"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.get",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          },
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        },
        "update": {
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "PUT",
          "path": "games/v1configuration/achievements/{achievementId}",
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.update",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "list": {
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "id": "gamesConfiguration.achievementConfigurations.list",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "description": "Returns a list of the achievement configurations in this application."
        },
        "delete": {
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "httpMethod": "DELETE",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "description": "Delete the achievement configuration with the given ID."
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "POST",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "Insert a new leaderboard configuration in this application."
        },
        "delete": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Delete the leaderboard configuration with the given ID.",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "list": {
          "description": "Returns a list of the leaderboard configurations in this application.",
          "httpMethod": "GET",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "parameterOrder": [
            "applicationId"
          ]
        },
        "get": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET"
        }
      }
    }
  }
}