{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "RevisionCheckResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
        },
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "type": "string"
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        }
      },
      "description": "A third party checking a revision response.",
      "id": "RevisionCheckResponse",
      "type": "object"
    },
    "PlayGroupingApiToken": {
      "id": "PlayGroupingApiToken",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "properties": {
        "playerIds": {
          "type": "array",
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "readOnly": true,
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
        }
      },
      "type": "object",
      "id": "GetMultipleApplicationPlayerIdsResponse"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "ApplicationCategory": {
      "type": "object",
      "properties": {
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "id": "ApplicationCategory",
      "description": "An application category object."
    },
    "RetrievePlayerTokensResponse": {
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "type": "object"
    },
    "ResetPersonaRequest": {
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "properties": {
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      },
      "id": "ResetPersonaRequest",
      "type": "object"
    },
    "ResetPersonaResponse": {
      "type": "object",
      "description": "Response for the ResetPersona RPC",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "id": "ResetPersonaResponse"
    },
    "PlayerLevel": {
      "properties": {
        "level": {
          "format": "int32",
          "description": "The level for the user.",
          "type": "integer"
        },
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "maxExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The maximum experience points for this level."
        }
      },
      "id": "PlayerLevel",
      "type": "object",
      "description": "1P/3P metadata about a user's level."
    },
    "AchievementSetStepsAtLeastResponse": {
      "type": "object",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        }
      },
      "id": "AchievementSetStepsAtLeastResponse",
      "description": "An achievement set steps at least response."
    },
    "Application": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "leaderboard_count": {
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32"
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "enabledFeatures": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ],
            "type": "string"
          },
          "description": "A list of features that have been enabled for the application."
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The last updated timestamp of the application.",
          "type": "string"
        },
        "instances": {
          "description": "The instances of the application.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "assets": {
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array",
          "description": "The assets of the application."
        }
      },
      "description": "The Application resource.",
      "id": "Application",
      "type": "object"
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "type": "object",
      "description": "A ListScores response.",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "numScores": {
          "type": "string",
          "format": "int64",
          "description": "The total number of scores in the leaderboard."
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      }
    },
    "BatchRecordEventsResponse": {
      "description": "A successful response indicates that the batch of events has been processed.",
      "type": "object",
      "id": "BatchRecordEventsResponse",
      "properties": {
        "failedRequests": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object",
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording."
        }
      }
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "properties": {
        "preferredForIpad": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPad devices."
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        }
      },
      "description": "The iOS details resource.",
      "type": "object"
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest",
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "type": "string",
          "format": "google-duration"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "type": "string"
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Input only. Optional expiration time.",
          "type": "string"
        },
        "conflictingLinksResolutionPolicy": {
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "type": "string",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        }
      }
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "type": "object",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse"
    },
    "PropertyValue": {
      "properties": {
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "doubleValue": {
          "description": "A double value.",
          "format": "double",
          "type": "number"
        },
        "intValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "durationValue": {
          "description": "A duration value.",
          "type": "string",
          "format": "google-duration"
        },
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        }
      },
      "id": "PropertyValue",
      "description": "Wrapper for the value.",
      "type": "object"
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The achievements.",
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "description": "A list of achievement objects.",
      "type": "object"
    },
    "BatchRecordEventsRequest": {
      "id": "BatchRecordEventsRequest",
      "properties": {
        "salt": {
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific batch of events was submitted."
        },
        "droidGuardBlob": {
          "type": "string",
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices"
        },
        "packageName": {
          "description": "Required. Application package name (e.g., \"com.example.game\").",
          "type": "string"
        },
        "events": {
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request.",
          "type": "array",
          "items": {
            "$ref": "PlayerGameEvent"
          }
        }
      },
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "type": "object"
    },
    "ScoreSubmission": {
      "properties": {
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "type": "string",
          "format": "int64",
          "description": "The new score being submitted."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        }
      },
      "id": "ScoreSubmission",
      "type": "object",
      "description": "A request to submit a score to leaderboards."
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "description": "An achievement definition object.",
      "properties": {
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The lifecycle state of the achievement."
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "initialState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "description": "The initial state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "totalSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The total steps for an incremental achievement."
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string",
          "format": "int64"
        },
        "achievementType": {
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "type": "object",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "type": "array"
        }
      }
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      },
      "type": "object",
      "id": "GeneratePlayGroupingApiTokenResponse",
      "description": "Response for the GeneratePlayGroupingApiToken RPC."
    },
    "LeaderboardEntry": {
      "id": "LeaderboardEntry",
      "type": "object",
      "description": "The Leaderboard Entry resource.",
      "properties": {
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "scoreRank": {
          "format": "int64",
          "type": "string",
          "description": "The rank of this score for this leaderboard."
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EventUpdateRequest": {
      "properties": {
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`."
        }
      },
      "id": "EventUpdateRequest",
      "description": "An event period update resource.",
      "type": "object"
    },
    "PlayerListResponse": {
      "type": "object",
      "description": "A third party player list response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Player"
          },
          "type": "array",
          "description": "The players."
        }
      },
      "id": "PlayerListResponse"
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered."
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        }
      },
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "properties": {
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        }
      },
      "description": "An achievement unlock response",
      "type": "object",
      "id": "AchievementUnlockResponse"
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "type": "string",
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field."
        },
        "developerPlayerKey": {
          "type": "string",
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
        }
      },
      "description": "Scoped player identifiers.",
      "type": "object"
    },
    "PlayerEventListResponse": {
      "id": "PlayerEventListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "description": "A ListByPlayer response.",
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "type": "object",
      "description": "A third party application verification response resource.",
      "id": "ApplicationVerifyResponse",
      "properties": {
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      },
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object"
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32"
        }
      },
      "id": "GamesAchievementSetStepsAtLeast",
      "description": "The payload to request to increment an achievement."
    },
    "EventChild": {
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        }
      }
    },
    "PlayerScoreResponse": {
      "description": "A list of leaderboard entry resources.",
      "id": "PlayerScoreResponse",
      "properties": {
        "unbeatenScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          },
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string",
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          },
          "type": "array"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        }
      },
      "type": "object"
    },
    "RetrieveGamesPlayerTokensResponse": {
      "id": "RetrieveGamesPlayerTokensResponse",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object",
      "properties": {
        "gamePlayerTokens": {
          "items": {
            "$ref": "GamePlayerToken"
          },
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response."
        }
      }
    },
    "Category": {
      "id": "Category",
      "type": "object",
      "properties": {
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points earned in this category.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
        }
      },
      "description": "Data related to individual game categories."
    },
    "AchievementDefinitionsListResponse": {
      "description": "A list of achievement definition objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      },
      "id": "AchievementDefinitionsListResponse",
      "type": "object"
    },
    "EndPoint": {
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL suitable for loading in a web browser for the requested endpoint."
        }
      },
      "description": "Container for a URL end point of the requested type.",
      "type": "object",
      "id": "EndPoint"
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "type": "object",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        }
      },
      "description": "The Web details resource."
    },
    "GamePlayerToken": {
      "id": "GamePlayerToken",
      "type": "object",
      "properties": {
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        },
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        }
      },
      "description": "Recall tokens for a game."
    },
    "EventPeriodUpdate": {
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        }
      },
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate"
    },
    "SnapshotListResponse": {
      "description": "A third party list snapshots response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SnapshotListResponse"
    },
    "Player": {
      "id": "Player",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "name": {
          "type": "object",
          "description": "A representation of the individual components of the name.",
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          }
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "friendStatus": {
          "type": "string",
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Player resource."
    },
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "properties": {
        "items": {
          "items": {
            "$ref": "Category"
          },
          "type": "array",
          "description": "The list of categories with usage data."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "CategoryListResponse",
      "type": "object"
    },
    "EventPeriodRange": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        },
        "periodEndMillis": {
          "format": "int64",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string"
        }
      },
      "description": "An event period time range.",
      "type": "object",
      "id": "EventPeriodRange"
    },
    "StatsResponse": {
      "type": "object",
      "id": "StatsResponse",
      "properties": {
        "days_since_last_played": {
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "spend_percentile": {
          "type": "number",
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "churn_probability": {
          "format": "float",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`."
        },
        "num_purchases": {
          "format": "int32",
          "type": "integer",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "high_spender_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "total_spend_next_28_days": {
          "type": "number",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float"
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "num_sessions": {
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        }
      },
      "description": "A third party stats resource."
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnlinkPersonaResponse": {
      "type": "object",
      "id": "UnlinkPersonaResponse",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "description": "Response for the UnlinkPersona RPC"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "description": "A list of leaderboard objects."
    },
    "AchievementUpdateRequest": {
      "description": "A request to update an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "updateType": {
          "type": "string",
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AchievementUpdateRequest"
    },
    "LinkPersonaResponse": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of a persona linking attempt.",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "LinkPersonaResponse",
      "description": "Outcome of a persona linking attempt."
    },
    "PlayerEvent": {
      "description": "An event status resource.",
      "properties": {
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "numEvents": {
          "type": "string",
          "format": "int64",
          "description": "The current number of times this event has occurred."
        }
      },
      "id": "PlayerEvent",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "type": "array"
        }
      },
      "description": "A list of score submission statuses.",
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "properties": {
        "progressValue": {
          "format": "int64",
          "type": "string",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot."
        },
        "durationMillis": {
          "format": "int64",
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "type": {
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ]
        },
        "lastModifiedMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        }
      },
      "description": "An snapshot object.",
      "type": "object"
    },
    "PlayerGameEvent": {
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "properties": {
        "eventId": {
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored.",
          "type": "string"
        },
        "eventName": {
          "type": "string",
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time from the client when this specific event was performed."
        },
        "eventProperties": {
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters.",
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "PlayerGameEvent"
    },
    "AchievementUpdateMultipleRequest": {
      "properties": {
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      },
      "description": "A list of achievement update requests.",
      "id": "AchievementUpdateMultipleRequest",
      "type": "object"
    },
    "EventDefinitionListResponse": {
      "id": "EventDefinitionListResponse",
      "type": "object",
      "description": "A ListDefinitions response.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`."
        },
        "items": {
          "items": {
            "$ref": "EventDefinition"
          },
          "description": "The event definitions.",
          "type": "array"
        }
      }
    },
    "ProfileSettings": {
      "type": "object",
      "properties": {
        "friendsListVisibility": {
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      },
      "id": "ProfileSettings",
      "description": "Profile settings"
    },
    "RecallToken": {
      "type": "object",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Optional expiration time of the token"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        }
      },
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "id": "RecallToken"
    },
    "AchievementUpdateResponse": {
      "properties": {
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`."
        },
        "currentState": {
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The current state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this achievement if it is incremental."
        }
      },
      "description": "An updated achievement.",
      "type": "object",
      "id": "AchievementUpdateResponse"
    },
    "EventRecordRequest": {
      "type": "object",
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "requestId": {
          "format": "int64",
          "type": "string",
          "description": "The request ID used to identify this attempt to record events."
        },
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        },
        "currentTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        }
      }
    },
    "EventRecordFailure": {
      "description": "An event update failure resource.",
      "type": "object",
      "id": "EventRecordFailure",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        },
        "failureCause": {
          "description": "The cause for the update failure.",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        }
      }
    },
    "PlayerAchievement": {
      "description": "An achievement object.",
      "id": "PlayerAchievement",
      "type": "object",
      "properties": {
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64"
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        }
      }
    },
    "Instance": {
      "properties": {
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "realtimePlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports realtime play."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "platformType": {
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type."
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        }
      },
      "id": "Instance",
      "type": "object",
      "description": "The Instance resource."
    },
    "EventUpdateResponse": {
      "properties": {
        "eventFailures": {
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array",
          "description": "Any failures updating a particular event."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array"
        },
        "playerEvents": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The current status of any updated events"
        }
      },
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventUpdateResponse"
    },
    "AchievementIncrementResponse": {
      "properties": {
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "type": "object"
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "id": "UnlinkPersonaRequest",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      }
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        },
        "currentState": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string"
        }
      },
      "description": "An achievement reveal response"
    },
    "PlayerLeaderboardScoreListResponse": {
      "description": "A list of player leaderboard scores.",
      "type": "object",
      "properties": {
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "description": "The leaderboard scores."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        }
      },
      "id": "PlayerLeaderboardScoreListResponse"
    },
    "PlayerLeaderboardScore": {
      "type": "object",
      "id": "PlayerLeaderboardScore",
      "properties": {
        "timeSpan": {
          "description": "The time span of this score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string"
        },
        "friendsRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The rank of the score in the friends collection for this leaderboard."
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "writeTimestamp": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`."
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        }
      },
      "description": "A player leaderboard score object."
    },
    "PlayerScore": {
      "properties": {
        "timeSpan": {
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score."
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value for this player score."
        }
      },
      "description": "A player score.",
      "id": "PlayerScore",
      "type": "object"
    },
    "EventDefinition": {
      "description": "An event definition resource.",
      "type": "object",
      "id": "EventDefinition",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ]
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "type": "array",
          "items": {
            "$ref": "EventChild"
          }
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "id": {
          "type": "string",
          "description": "The ID of the event."
        }
      }
    },
    "InstanceAndroidDetails": {
      "description": "The Android instance details resource.",
      "type": "object",
      "properties": {
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        }
      },
      "id": "InstanceAndroidDetails"
    },
    "PlayerExperienceInfo": {
      "type": "object",
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        }
      }
    },
    "LeaderboardScoreRank": {
      "description": "A score rank in a leaderboard.",
      "properties": {
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        },
        "rank": {
          "type": "string",
          "format": "int64",
          "description": "The rank in the leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "numScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard.",
          "format": "int64"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        }
      },
      "id": "LeaderboardScoreRank",
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "properties": {
        "range": {
          "$ref": "EventPeriodRange",
          "description": "The time range which was rejected; empty for a request-wide failure."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "description": "The cause for the update failure.",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventBatchRecordFailure",
      "description": "A batch update failure resource."
    },
    "ApplicationPlayerId": {
      "description": "Primary scoped player identifier for an application.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The player identifier for the application."
        }
      },
      "id": "ApplicationPlayerId",
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "type": "object",
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "items": {
            "$ref": "ScoreSubmission"
          },
          "type": "array",
          "description": "The score submissions."
        }
      }
    },
    "ImageAsset": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the asset."
        },
        "width": {
          "description": "The width of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        }
      },
      "id": "ImageAsset",
      "description": "An image asset object.",
      "type": "object"
    },
    "MetagameConfig": {
      "description": "The metagame config resource",
      "properties": {
        "currentVersion": {
          "format": "int32",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        }
      },
      "id": "MetagameConfig",
      "type": "object"
    },
    "SnapshotImage": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the image."
        }
      },
      "description": "An image of a snapshot.",
      "type": "object",
      "id": "SnapshotImage"
    }
  },
  "basePath": "",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "version": "v1",
  "baseUrl": "https://games.googleapis.com/",
  "canonicalName": "Games",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "resources": {
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerId": {
              "description": "Required. The player ID of the player that performed the events.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "BatchRecordEventsRequest"
          },
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "id": "games.gameStats.batchRecordEvents",
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "played": {
          "description": "Indicate that the currently authenticated user is playing your application.",
          "id": "games.applications.played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/played",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "games/v1/applications/played",
          "parameters": {}
        },
        "verify": {
          "path": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify"
        },
        "getEndPoint": {
          "parameterOrder": [],
          "id": "games.applications.getEndPoint",
          "httpMethod": "POST",
          "description": "Returns a URL for the requested end point type.",
          "response": {
            "$ref": "EndPoint"
          },
          "path": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/getEndPoint",
          "parameters": {
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "location": "query",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "platformType": {
              "location": "query",
              "type": "string",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "description": "Restrict application details returned to the specific platform."
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "id": "games.applications.get",
          "flatPath": "games/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "path": "games/v1/applications/{applicationId}"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "games.stats.get",
          "path": "games/v1/stats",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "flatPath": "games/v1/stats",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "StatsResponse"
          }
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.revisions.check",
          "path": "games/v1/revisions/check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "httpMethod": "GET",
          "description": "Checks whether the games client is out of date.",
          "flatPath": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "location": "query",
              "required": true,
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "clientRevision"
          ]
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "persona": {
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string"
            }
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "httpMethod": "POST",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameterOrder": [],
          "parameters": {
            "recallSessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          }
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "parameterOrder": [
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "id": "games.snapshots.list",
          "path": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET"
        },
        "get": {
          "id": "games.snapshots.get",
          "response": {
            "$ref": "Snapshot"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "snapshotId"
          ],
          "description": "Retrieves the metadata for a given snapshot ID.",
          "path": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "snapshotId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the snapshot."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/snapshots/{snapshotId}"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
[...]
