{
  "name": "games",
  "title": "Google Play Games Services API",
  "id": "games:v1",
  "canonicalName": "Games",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "ownerDomain": "google.com",
  "rootUrl": "https://games.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "protocol": "rest",
  "resources": {
    "events": {
      "methods": {
        "record": {
          "request": {
            "$ref": "EventRecordRequest"
          },
          "flatPath": "games/v1/events",
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/events",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "games.events.record"
        },
        "listByPlayer": {
          "parameterOrder": [],
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/events",
          "id": "games.events.listByPlayer",
          "path": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user."
        },
        "listDefinitions": {
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "path": "games/v1/eventDefinitions",
          "httpMethod": "GET",
          "id": "games.events.listDefinitions",
          "description": "Returns a list of the event definitions in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          }
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "collection": {
              "type": "string",
              "description": "The collection of categories for which data will be returned.",
              "required": true,
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "location": "path",
              "enum": [
                "ALL"
              ]
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "id": "games.metagame.listCategoriesByPlayer"
        },
        "getMetagameConfig": {
          "flatPath": "games/v1/metagameConfig",
          "httpMethod": "GET",
          "parameters": {},
          "parameterOrder": [],
          "description": "Return the metagame configuration data for the calling application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "MetagameConfig"
          },
          "id": "games.metagame.getMetagameConfig",
          "path": "games/v1/metagameConfig"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "flatPath": "games/v1/revisions/check",
          "httpMethod": "GET",
          "parameters": {
            "clientRevision": {
              "type": "string",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "required": true,
              "location": "query"
            }
          },
          "description": "Checks whether the games client is out of date.",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "parameterOrder": [
            "clientRevision"
          ],
          "id": "games.revisions.check",
          "path": "games/v1/revisions/check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "id": "games.achievementDefinitions.list",
          "path": "games/v1/achievements",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "flatPath": "games/v1/achievements",
          "description": "Lists all the achievement definitions for your application.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generateRecallPlayGroupingApiToken": {
          "httpMethod": "POST",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          }
        },
        "generatePlayGroupingApiToken": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameterOrder": [],
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "parameterOrder": [
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "path": "games/v1/players/{playerId}/snapshots"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "snapshotId": {
              "type": "string",
              "required": true,
              "description": "The ID of the snapshot.",
              "location": "path"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [
            "snapshotId"
          ],
          "description": "Retrieves the metadata for a given snapshot ID.",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.snapshots.get",
          "response": {
            "$ref": "Snapshot"
          },
          "path": "games/v1/snapshots/{snapshotId}"
        }
      }
    },
    "players": {
      "methods": {
        "getMultipleApplicationPlayerIds": {
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "id": "games.players.getMultipleApplicationPlayerIds"
        },
        "list": {
          "path": "games/v1/players/me/players/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Get the collection of players for the currently authenticated user.",
          "flatPath": "games/v1/players/me/players/{collection}",
          "id": "games.players.list",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "collection": {
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "required": true,
              "description": "Collection of players being retrieved",
              "type": "string",
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "location": "path",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ]
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlayerListResponse"
          },
          "parameterOrder": [
            "collection"
          ]
        },
        "get": {
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "response": {
            "$ref": "Player"
          },
          "path": "games/v1/players/{playerId}",
          "flatPath": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "playerIdConsistencyToken": {
              "type": "string",
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "games.players.get"
        },
        "getScopedPlayerIds": {
          "id": "games.players.getScopedPlayerIds",
          "parameters": {},
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "path": "games/v1/players/me/scopedIds",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "flatPath": "games/v1/players/me/scopedIds"
        }
      }
    },
    "recall": {
      "methods": {
        "linkPersona": {
          "id": "games.recall.linkPersona",
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "path": "games/v1/recall:linkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "flatPath": "games/v1/recall:linkPersona",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST"
        },
        "resetPersona": {
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:resetPersona",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "parameterOrder": [],
          "path": "games/v1/recall:resetPersona",
          "parameters": {},
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "httpMethod": "POST",
          "id": "games.recall.resetPersona"
        },
        "retrieveTokens": {
          "httpMethod": "GET",
          "parameters": {
            "sessionId": {
              "required": true,
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path"
            }
          },
          "path": "games/v1/recall/tokens/{sessionId}",
          "id": "games.recall.retrieveTokens",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "unlinkPersona": {
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/recall:unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "parameterOrder": [],
          "flatPath": "games/v1/recall:unlinkPersona",
          "id": "games.recall.unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          }
        },
        "gamesPlayerTokens": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "sessionId"
          ],
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "applicationIds": {
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "repeated": true
            },
            "sessionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            }
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile."
        },
        "lastTokenFromAllDeveloperGames": {
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sessionId": {
              "type": "string",
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true
            }
          },
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "flatPath": "games/v1/stats",
          "response": {
            "$ref": "StatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "games/v1/stats",
          "parameters": {},
          "id": "games.stats.get"
        }
      }
    },
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "id": "games.gameStats.batchRecordEvents",
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "playerId": {
              "required": true,
              "description": "Required. The player ID of the player that performed the events.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "BatchRecordEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "getEndPoint": {
          "path": "games/v1/applications/getEndPoint",
          "id": "games.applications.getEndPoint",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "query",
              "type": "string"
            },
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "type": "string"
            }
          },
          "description": "Returns a URL for the requested end point type.",
          "response": {
            "$ref": "EndPoint"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/getEndPoint"
        },
        "played": {
          "description": "Indicate that the currently authenticated user is playing your application.",
          "id": "games.applications.played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1/applications/played",
          "httpMethod": "POST",
          "flatPath": "games/v1/applications/played"
        },
        "verify": {
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify",
          "httpMethod": "GET",
          "path": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path"
            }
          }
        },
        "get": {
          "id": "games.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/{applicationId}",
          "flatPath": "games/v1/applications/{applicationId}",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "parameters": {
            "platformType": {
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "location": "query",
              "description": "Restrict application details returned to the specific platform."
            },
            "applicationId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Leaderboard"
          },
          "id": "games.leaderboards.get",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID."
        },
        "list": {
          "flatPath": "games/v1/leaderboards",
          "description": "Lists all the leaderboard metadata for your application.",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards",
          "httpMethod": "GET",
          "id": "games.leaderboards.list",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "list": {
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "parameters": {
            "state": {
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "id": "games.achievements.list",
          "path": "games/v1/players/{playerId}/achievements"
        },
        "setStepsAtLeast": {
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "id": "games.achievements.setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "httpMethod": "POST",
          "parameters": {
            "steps": {
              "required": true,
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Required. The minimum value to set the steps to."
            },
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "updateMultiple": {
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "id": "games.achievements.updateMultiple",
          "description": "Updates multiple achievements for the currently authenticated player.",
          "flatPath": "games/v1/achievements/updateMultiple",
          "parameterOrder": [],
          "path": "games/v1/achievements/updateMultiple",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "httpMethod": "POST"
        },
        "increment": {
          "path": "games/v1/achievements/{achievementId}/increment",
          "httpMethod": "POST",
          "id": "games.achievements.increment",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            },
            "stepsToIncrement": {
              "description": "Required. The number of steps to increment.",
              "required": true,
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/increment"
        },
        "reveal": {
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "id": "games.achievements.reveal",
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player."
        },
        "unlock": {
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "path": "games/v1/achievements/{achievementId}/unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unlocks this achievement for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "id": "games.achievements.unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          }
        }
      }
    },
    "scores": {
      "methods": {
        "get": {
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "id": "games.scores.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "required": true,
              "location": "path"
            },
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            },
            "timeSpan": {
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "required": true,
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "path",
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting."
            },
            "includeRankType": {
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameters": {
            "timeSpan": {
              "required": true,
              "location": "query",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string"
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard."
            },
            "collection": {
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "required": true,
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.scores.list"
        },
        "submitMultiple": {
          "path": "games/v1/leaderboards/scores",
          "parameterOrder": [],
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "games/v1/leaderboards/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Submits multiple scores to leaderboards.",
          "id": "games.scores.submitMultiple",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          }
        },
        "listWindow": {
          "response": {
            "$ref": "LeaderboardScores"
          },
          "httpMethod": "GET",
          "parameters": {
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "timeSpan": {
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "type": "string"
            },
            "returnTopIfAbsent": {
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query",
              "type": "boolean"
            },
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "collection": {
              "location": "path",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "type": "string",
              "description": "The collection of scores you're requesting.",
              "required": true,
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            }
          },
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "id": "games.scores.listWindow",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "submit": {
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "id": "games.scores.submit",
          "description": "Submits a score to the specified leaderboard.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "type": "string",
              "location": "query",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
            },
            "score": {
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResponse"
          }
        }
      }
    }
  },
  "schemas": {
    "PlayerEventListResponse": {
      "type": "object",
      "description": "A ListByPlayer response.",
      "id": "PlayerEventListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        }
      }
    },
    "BatchRecordEventsResponse": {
      "properties": {
        "failedRequests": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording.",
          "type": "object"
        }
      },
      "description": "A successful response indicates that the batch of events has been processed.",
      "type": "object",
      "id": "BatchRecordEventsResponse"
    },
    "CategoryListResponse": {
      "type": "object",
      "description": "A third party list metagame categories response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "CategoryListResponse"
    },
    "AchievementIncrementResponse": {
      "description": "An achievement increment response",
      "id": "AchievementIncrementResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      }
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          }
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates."
        }
      },
      "type": "object"
    },
    "PlayerExperienceInfo": {
      "properties": {
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
        }
      },
      "description": "1P/3P metadata about the player's experience.",
      "id": "PlayerExperienceInfo",
      "type": "object"
    },
    "LinkPersonaRequest": {
      "type": "object",
      "properties": {
        "conflictingLinksResolutionPolicy": {
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint."
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        },
        "cardinalityConstraint": {
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration",
          "type": "string"
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        }
      },
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        }
      },
      "description": "A list of leaderboard objects."
    },
    "ApplicationVerifyResponse": {
      "properties": {
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "description": "A third party application verification response resource.",
      "id": "ApplicationVerifyResponse",
      "type": "object"
    },
    "InstanceIosDetails": {
      "description": "The iOS details resource.",
      "type": "object",
      "id": "InstanceIosDetails",
      "properties": {
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        }
      }
    },
    "Player": {
      "properties": {
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "friendStatus": {
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "name": {
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        }
      },
      "description": "A Player resource.",
      "type": "object",
      "id": "Player"
    },
    "EventPeriodRange": {
      "id": "EventPeriodRange",
      "type": "object",
      "properties": {
        "periodStartMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        }
      },
      "description": "An event period time range."
    },
    "SnapshotListResponse": {
      "type": "object",
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        },
        "steps": {
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32"
        }
      },
      "id": "GamesAchievementSetStepsAtLeast",
      "type": "object",
      "description": "The payload to request to increment an achievement."
    },
    "ApplicationCategory": {
      "type": "object",
      "description": "An application category object.",
      "properties": {
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`."
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        }
      },
      "id": "ApplicationCategory"
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "numScores": {
          "format": "int64",
          "description": "The number of scores in the leaderboard.",
          "type": "string"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        },
        "rank": {
          "format": "int64",
          "description": "The rank in the leaderboard.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        }
      }
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "description": "The achievement definitions.",
          "type": "array",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      }
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "properties": {
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "type": "string",
          "format": "int64"
        },
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "currentTimeMillis": {
          "type": "string",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      },
      "description": "An achievement unlock response",
      "type": "object",
      "id": "AchievementUnlockResponse"
    },
    "PropertyValue": {
      "id": "PropertyValue",
      "description": "Wrapper for the value.",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "A duration value."
        },
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "An integer value."
        }
      },
      "type": "object"
    },
    "RevisionCheckResponse": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
        },
        "revisionStatus": {
          "type": "string",
          "description": "The result of the revision check.",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        }
      },
      "id": "RevisionCheckResponse",
      "type": "object",
      "description": "A third party checking a revision response."
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "Player"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        }
      },
      "description": "A third party player list response.",
      "type": "object"
    },
    "PlayerEvent": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "format": "int64",
          "type": "string"
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        }
      },
      "id": "PlayerEvent",
      "type": "object",
      "description": "An event status resource."
    },
    "RecallToken": {
      "type": "object",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "id": "RecallToken",
      "properties": {
        "expireTime": {
          "description": "Optional. Optional expiration time of the token",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        }
      }
    },
    "BatchRecordEventsRequest": {
      "id": "BatchRecordEventsRequest",
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "properties": {
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "PlayerGameEvent"
          },
          "type": "array",
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request."
        },
        "salt": {
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. Application package name (e.g., \"com.example.game\")."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific batch of events was submitted."
        }
      },
      "type": "object"
    },
    "ScoreSubmission": {
      "description": "A request to submit a score to leaderboards.",
      "type": "object",
      "properties": {
        "score": {
          "format": "int64",
          "type": "string",
          "description": "The new score being submitted."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "id": "ScoreSubmission"
    },
    "InstanceAndroidDetails": {
      "properties": {
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        }
      },
      "description": "The Android instance details resource.",
      "type": "object",
      "id": "InstanceAndroidDetails"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      },
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object"
    },
    "ApplicationPlayerId": {
      "id": "ApplicationPlayerId",
      "type": "object",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "description": "Primary scoped player identifier for an application."
    },
    "EventUpdateRequest": {
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times this event occurred in this time period."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        }
      },
      "description": "An event period update resource.",
      "id": "EventUpdateRequest"
    },
    "AchievementDefinition": {
      "properties": {
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "description": "Output only. The lifecycle state of the achievement."
        },
        "totalSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The total steps for an incremental achievement."
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string"
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        }
      },
      "id": "AchievementDefinition",
      "type": "object",
      "description": "An achievement definition object."
    },
    "EventDefinitionListResponse": {
      "id": "EventDefinitionListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`."
        }
      },
      "description": "A ListDefinitions response.",
      "type": "object"
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        },
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        },
        "failureCause": {
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "type": "string",
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ]
        }
      },
      "description": "An event update failure resource.",
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "description": "An snapshot object.",
      "properties": {
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "durationMillis": {
          "format": "int64",
          "type": "string",
          "description": "The duration associated with this snapshot, in millis."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "type": {
          "description": "The type of this snapshot.",
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ]
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "type": "object",
      "description": "A batch update failure resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "range": {
          "$ref": "EventPeriodRange",
          "description": "The time range which was rejected; empty for a request-wide failure."
        },
        "failureCause": {
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "description": "The cause for the update failure.",
          "type": "string",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ]
        }
      }
    },
    "Leaderboard": {
      "type": "object",
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "properties": {
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string",
          "description": "How scores are ordered.",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        }
      }
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "type": "object",
      "properties": {
        "steps": {
          "format": "int32",
          "description": "The number of steps to be incremented.",
          "type": "integer"
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        }
      },
      "description": "The payload to request to increment an achievement."
    },
    "Application": {
      "description": "The Application resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The last updated timestamp of the application."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "achievement_count": {
          "format": "int32",
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application.",
          "type": "array"
        },
        "leaderboard_count": {
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32"
        },
        "enabledFeatures": {
          "type": "array",
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "enumDescriptions": [
[...]
