{
  "batchPath": "batch",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "kind": "discovery#restDescription",
  "canonicalName": "Games",
  "id": "games:v1",
  "documentationLink": "https://developers.google.com/games/",
  "revision": "20260820",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://games.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "servicePath": "",
  "resources": {
    "stats": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "StatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1/stats",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "parameterOrder": [],
          "id": "games.stats.get",
          "path": "games/v1/stats"
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "path": "games/v1/players/{playerId}/snapshots",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "id": "games.snapshots.list",
          "httpMethod": "GET"
        },
        "get": {
          "path": "games/v1/snapshots/{snapshotId}",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "snapshotId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the snapshot."
            }
          },
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "id": "games.snapshots.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata for a given snapshot ID.",
          "response": {
            "$ref": "Snapshot"
          },
          "parameterOrder": [
            "snapshotId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "games/v1/leaderboards",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "games/v1/leaderboards",
          "description": "Lists all the leaderboard metadata for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "path": "games/v1/leaderboards/{leaderboardId}",
          "id": "games.leaderboards.get",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "path": "games/v1/events",
          "httpMethod": "GET",
          "flatPath": "games/v1/events",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "games.events.listByPlayer"
        },
        "listDefinitions": {
          "flatPath": "games/v1/eventDefinitions",
          "id": "games.events.listDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "description": "Returns a list of the event definitions in this application.",
          "path": "games/v1/eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          }
        },
        "record": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "path": "games/v1/events",
          "id": "games.events.record",
          "httpMethod": "POST",
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "flatPath": "games/v1/events",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "unlock": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "id": "games.achievements.unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock"
        },
        "setStepsAtLeast": {
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "steps": {
              "required": true,
              "description": "Required. The minimum value to set the steps to.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "games.achievements.setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast"
        },
        "reveal": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "id": "games.achievements.reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player."
        },
        "increment": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "id": "games.achievements.increment",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            },
            "requestId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            },
            "stepsToIncrement": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Required. The number of steps to increment.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "path": "games/v1/achievements/{achievementId}/increment"
        },
        "updateMultiple": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "id": "games.achievements.updateMultiple",
          "path": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "flatPath": "games/v1/achievements/updateMultiple",
          "description": "Updates multiple achievements for the currently authenticated player.",
          "parameterOrder": []
        },
        "list": {
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "state": {
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "location": "query",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "type": "string",
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned."
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.list"
        }
      }
    },
    "applications": {
      "methods": {
        "played": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1/applications/played",
          "parameterOrder": [],
          "path": "games/v1/applications/played",
          "id": "games.applications.played",
          "description": "Indicate that the currently authenticated user is playing your application."
        },
        "verify": {
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "id": "games.applications.verify",
          "path": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ]
        },
        "getEndPoint": {
          "parameterOrder": [],
          "path": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "httpMethod": "POST",
          "description": "Returns a URL for the requested end point type.",
          "flatPath": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "endPointType": {
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "location": "query",
              "description": "Type of endpoint being requested.",
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "games.applications.getEndPoint"
        },
        "get": {
          "path": "games/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.get",
          "parameters": {
            "platformType": {
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "description": "Restrict application details returned to the specific platform.",
              "location": "query"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "httpMethod": "GET"
        }
      }
    },
    "players": {
      "methods": {
        "list": {
          "parameters": {
            "collection": {
              "type": "string",
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "description": "Collection of players being retrieved",
              "required": true,
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "location": "path"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`."
            }
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "id": "games.players.list",
          "parameterOrder": [
            "collection"
          ],
          "path": "games/v1/players/me/players/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Get the collection of players for the currently authenticated user.",
          "response": {
            "$ref": "PlayerListResponse"
          }
        },
        "getMultipleApplicationPlayerIds": {
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "parameterOrder": [],
          "parameters": {
            "applicationIds": {
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.getMultipleApplicationPlayerIds",
          "httpMethod": "GET",
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds"
        },
        "getScopedPlayerIds": {
          "flatPath": "games/v1/players/me/scopedIds",
          "id": "games.players.getScopedPlayerIds",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "path": "games/v1/players/me/scopedIds",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "flatPath": "games/v1/players/{playerId}",
          "path": "games/v1/players/{playerId}",
          "id": "games.players.get",
          "parameterOrder": [
            "playerId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerIdConsistencyToken": {
              "type": "string",
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto"
            }
          },
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "response": {
            "$ref": "Player"
          }
        }
      }
    },
    "scores": {
      "methods": {
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "collection": {
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "type": "string",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "timeSpan": {
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting."
            },
            "returnTopIfAbsent": {
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "id": "games.scores.listWindow",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          }
        },
        "submit": {
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "httpMethod": "POST",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Submits a score to the specified leaderboard.",
          "id": "games.scores.submit",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "scoreTag": {
              "type": "string",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "score": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "required": true
            }
          }
        },
        "submitMultiple": {
          "id": "games.scores.submitMultiple",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/scores",
          "path": "games/v1/leaderboards/scores",
          "description": "Submits multiple scores to leaderboards.",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "parameterOrder": []
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "httpMethod": "GET",
          "id": "games.scores.list",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "timeSpan": {
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "description": "Required. The time span for the scores and ranks you're requesting."
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "collection": {
              "type": "string",
              "required": true,
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "location": "path"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}"
        },
        "get": {
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "timeSpan": {
              "required": true,
              "description": "The time span for the scores and ranks you're requesting.",
              "location": "path",
              "type": "string",
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ]
            },
            "includeRankType": {
              "location": "query",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ]
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application."
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "httpMethod": "GET",
          "id": "games.scores.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ]
        }
      }
    },
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "description": "Required. The player ID of the player that performed the events.",
              "type": "string"
            }
          },
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "id": "games.gameStats.batchRecordEvents",
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "request": {
            "$ref": "BatchRecordEventsRequest"
          }
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generateRecallPlayGroupingApiToken": {
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query",
              "type": "string"
            },
            "recallSessionId": {
              "location": "query",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID."
            },
            "persona": {
              "type": "string",
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            }
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken"
        },
        "generatePlayGroupingApiToken": {
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameterOrder": [],
          "parameters": {
            "packageName": {
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string"
            },
            "persona": {
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query"
            }
          },
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken"
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "parameters": {},
          "flatPath": "games/v1/metagameConfig",
          "description": "Return the metagame configuration data for the calling application.",
          "path": "games/v1/metagameConfig",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "MetagameConfig"
          },
          "id": "games.metagame.getMetagameConfig"
        },
        "listCategoriesByPlayer": {
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "id": "games.metagame.listCategoriesByPlayer",
          "parameters": {
            "collection": {
              "required": true,
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "enum": [
                "ALL"
              ],
              "type": "string",
              "location": "path",
              "description": "The collection of categories for which data will be returned."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId",
            "collection"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "parameterOrder": [
            "clientRevision"
          ],
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "clientRevision": {
              "type": "string",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "location": "query",
              "required": true
            }
          },
          "path": "games/v1/revisions/check",
          "description": "Checks whether the games client is out of date.",
          "id": "games.revisions.check",
          "flatPath": "games/v1/revisions/check",
          "httpMethod": "GET"
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "httpMethod": "GET",
          "path": "games/v1/achievements",
          "parameterOrder": [],
          "description": "Lists all the achievement definitions for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.achievementDefinitions.list",
          "flatPath": "games/v1/achievements"
        }
      }
    },
    "recall": {
      "methods": {
        "lastTokenFromAllDeveloperGames": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "httpMethod": "GET",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            }
          },
          "parameterOrder": [
            "sessionId"
          ]
        },
        "retrieveTokens": {
          "parameters": {
            "sessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true
            }
          },
          "id": "games.recall.retrieveTokens",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ]
        },
        "linkPersona": {
          "parameters": {},
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "path": "games/v1/recall:linkPersona",
          "id": "games.recall.linkPersona",
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "httpMethod": "POST",
          "flatPath": "games/v1/recall:linkPersona",
          "request": {
            "$ref": "LinkPersonaRequest"
          }
        },
        "unlinkPersona": {
          "parameters": {},
          "parameterOrder": [],
          "id": "games.recall.unlinkPersona",
          "flatPath": "games/v1/recall:unlinkPersona",
          "path": "games/v1/recall:unlinkPersona",
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "gamesPlayerTokens": {
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens",
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "applicationIds": {
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string"
            }
          },
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "resetPersona": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "parameterOrder": [],
          "path": "games/v1/recall:resetPersona",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "games/v1/recall:resetPersona",
          "id": "games.recall.resetPersona"
        }
      }
    }
  },
  "baseUrl": "https://games.googleapis.com/",
  "title": "Google Play Games Services API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AchievementDefinitionsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      },
      "id": "AchievementDefinitionsListResponse",
      "type": "object",
      "description": "A list of achievement definition objects."
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "id": "UnlinkPersonaRequest",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "The Instance resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "realtimePlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports realtime play."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "platformType": {
          "type": "string",
          "description": "The platform type.",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ]
        }
      }
    },
    "SnapshotListResponse": {
      "type": "object",
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "The snapshots."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        }
      }
    },
    "PlayerScore": {
      "type": "object",
      "description": "A player score.",
      "id": "PlayerScore",
      "properties": {
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span for this player score."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value for this player score."
        }
      }
    },
    "LeaderboardListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        }
      },
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "type": "object"
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "type": "object",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "description": "Scoped player identifiers."
    },
    "RevisionCheckResponse": {
      "properties": {
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        },
        "revisionStatus": {
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "description": "The result of the revision check.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        }
      },
      "id": "RevisionCheckResponse",
      "description": "A third party checking a revision response.",
      "type": "object"
    },
    "PlayerEvent": {
      "properties": {
        "numEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred.",
          "format": "int64"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        }
      },
      "id": "PlayerEvent",
      "description": "An event status resource.",
      "type": "object"
    },
    "LinkPersonaRequest": {
      "id": "LinkPersonaRequest",
      "type": "object",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "properties": {
        "cardinalityConstraint": {
          "type": "string",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Input only. Optional expiration time."
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. Optional time-to-live."
        },
        "conflictingLinksResolutionPolicy": {
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        }
      }
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      },
      "description": "An achievement unlock response"
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience."
    },
    "ApplicationCategory": {
      "properties": {
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "description": "An application category object.",
      "id": "ApplicationCategory",
      "type": "object"
    },
    "Application": {
      "type": "object",
      "description": "The Application resource.",
      "id": "Application",
      "properties": {
        "leaderboard_count": {
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "type": "integer",
          "format": "int32"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "assets": {
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application.",
          "type": "array"
        },
        "instances": {
          "type": "array",
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "type": "array",
          "items": {
            "enum": [
              "SNAPSHOTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ]
          }
        },
        "achievement_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The last updated timestamp of the application.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        }
      }
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "properties": {
        "submittedScores": {
          "description": "The score submissions statuses.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of score submission statuses.",
      "id": "PlayerScoreListResponse"
    },
    "ResetPersonaRequest": {
      "id": "ResetPersonaRequest",
      "type": "object",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object"
    },
    "EventPeriodRange": {
      "description": "An event period time range.",
      "properties": {
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "format": "int64",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string"
        }
      },
      "id": "EventPeriodRange",
      "type": "object"
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "properties": {
        "currentTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array",
          "description": "A list of the time period updates being made in this request."
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The request ID used to identify this attempt to record events."
        }
      },
      "type": "object"
    },
    "BatchRecordEventsRequest": {
      "type": "object",
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "id": "BatchRecordEventsRequest",
      "properties": {
        "requestTime": {
          "description": "Required. The time from the client when this specific batch of events was submitted.",
          "format": "google-datetime",
          "type": "string"
        },
        "droidGuardBlob": {
          "type": "string",
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices"
        },
        "events": {
          "items": {
            "$ref": "PlayerGameEvent"
          },
          "type": "array",
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request."
        },
        "salt": {
          "type": "string",
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks."
        },
        "packageName": {
          "description": "Required. Application package name (e.g., \"com.example.game\").",
          "type": "string"
        }
      }
    },
    "InstanceIosDetails": {
      "properties": {
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIpad": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPad devices."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The iOS details resource.",
      "id": "InstanceIosDetails"
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "type": "object",
      "description": "A list of achievement objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "description": "A third party player list response.",
      "type": "object",
      "id": "PlayerListResponse"
    },
    "EventDefinitionListResponse": {
      "description": "A ListDefinitions response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          }
        }
      },
      "id": "EventDefinitionListResponse",
      "type": "object"
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "type": "object",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        }
      },
      "description": "The Web details resource."
    },
    "AchievementRevealResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "description": "An achievement reveal response",
      "id": "AchievementRevealResponse"
    },
    "Player": {
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "friendStatus": {
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "name": {
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        }
      },
      "id": "Player"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean",
          "description": "Whether the player's profile is visible to the currently signed in player."
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        }
      },
      "type": "object",
      "description": "Profile settings"
    },
    "Category": {
      "properties": {
        "category": {
          "type": "string",
          "description": "The category name."
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Data related to individual game categories.",
      "id": "Category"
    },
    "LeaderboardEntry": {
      "id": "LeaderboardEntry",
      "description": "The Leaderboard Entry resource.",
      "type": "object",
      "properties": {
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this high score."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "format": "int64",
          "type": "string"
        },
        "player": {
          "$ref": "Player",
          "description": "The player who holds this score."
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements.",
          "type": "array"
        }
      },
      "id": "AchievementUpdateMultipleResponse",
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "properties": {
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement."
    },
    "EventChild": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      },
      "id": "EventChild",
      "type": "object",
      "description": "An event child relationship resource."
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        },
        "rank": {
          "type": "string",
          "description": "The rank in the leaderboard.",
          "format": "int64"
        },
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        }
      }
    },
    "InstanceAndroidDetails": {
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RecallToken": {
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "id": "RecallToken",
      "type": "object",
      "properties": {
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC"
        },
        "expireTime": {
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ApplicationVerifyResponse": {
      "type": "object",
      "description": "A third party application verification response resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "alternate_player_id": {
          "type": "string",
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
        }
      },
      "id": "ApplicationVerifyResponse"
    },
    "PropertyValue": {
      "type": "object",
      "description": "Wrapper for the value.",
      "properties": {
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "A duration value."
        },
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "intValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "boolValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp value."
        }
      },
      "id": "PropertyValue"
    },
    "PlayGroupingApiToken": {
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "id": "PlayGroupingApiToken",
      "type": "object"
    },
    "EventUpdateRequest": {
      "type": "object",
      "id": "EventUpdateRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`."
        },
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "An event period update resource."
    },
    "LeaderboardScores": {
      "description": "A ListScores response.",
      "properties": {
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "numScores": {
[...]
