{
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1",
  "baseUrl": "https://games.googleapis.com/",
  "revision": "20260907",
  "basePath": "",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "canonicalName": "Games",
  "documentationLink": "https://developers.google.com/games/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "id": "games:v1",
  "fullyEncodeReservedExpansion": true,
  "name": "games",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "protocol": "rest",
  "title": "Google Play Games Services API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "description": "An application category object.",
      "properties": {
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of achievement update requests."
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "type": "object",
      "description": "Scoped player identifiers.",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "properties": {
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type.",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ]
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "realtimePlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports realtime play."
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        }
      },
      "type": "object",
      "id": "Instance",
      "description": "The Instance resource."
    },
    "EventRecordFailure": {
      "description": "An event update failure resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string",
          "description": "The cause for the update failure.",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ]
        }
      },
      "type": "object",
      "id": "EventRecordFailure"
    },
    "EndPoint": {
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      },
      "description": "Container for a URL end point of the requested type.",
      "type": "object",
      "id": "EndPoint"
    },
    "GamesAchievementSetStepsAtLeast": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementSetStepsAtLeast"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response",
      "properties": {
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        }
      }
    },
    "BatchRecordEventsRequest": {
      "id": "BatchRecordEventsRequest",
      "properties": {
        "salt": {
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks.",
          "type": "string"
        },
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        },
        "packageName": {
          "description": "Required. Application package name (e.g., \"com.example.game\").",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific batch of events was submitted."
        },
        "events": {
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request.",
          "type": "array",
          "items": {
            "$ref": "PlayerGameEvent"
          }
        }
      },
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "type": "object"
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "type": "object",
      "id": "EventPeriodUpdate",
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        }
      }
    },
    "EventUpdateResponse": {
      "type": "object",
      "id": "EventUpdateResponse",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`."
        },
        "playerEvents": {
          "type": "array",
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array"
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        }
      }
    },
    "PropertyValue": {
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "A double value."
        },
        "durationValue": {
          "description": "A duration value.",
          "type": "string",
          "format": "google-duration"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        }
      },
      "description": "Wrapper for the value.",
      "id": "PropertyValue"
    },
    "RetrievePlayerTokensResponse": {
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "id": "RetrievePlayerTokensResponse",
      "type": "object"
    },
    "AchievementUpdateRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "updateType": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "type": "string",
          "description": "The type of update being applied.",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is being applied to."
        }
      },
      "id": "AchievementUpdateRequest",
      "description": "A request to update an achievement."
    },
    "PlayerScoreResponse": {
      "properties": {
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "unbeatenScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          },
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "items": {
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string"
          },
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        }
      },
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "id": "PlayerScoreResponse"
    },
    "RevisionCheckResponse": {
      "properties": {
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        }
      },
      "id": "RevisionCheckResponse",
      "description": "A third party checking a revision response.",
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      }
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the asset."
        },
        "width": {
          "format": "int32",
          "description": "The width of the asset.",
          "type": "integer"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        }
      },
      "description": "An image asset object."
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "type": "object",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "id": "ResetPersonaResponse"
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "type": "object",
      "description": "An achievement object.",
      "properties": {
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps for an incremental achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64"
        }
      }
    },
    "MetagameConfig": {
      "description": "The metagame config resource",
      "properties": {
        "currentVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one."
        },
        "playerLevels": {
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array",
          "description": "The list of player levels."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        }
      },
      "id": "MetagameConfig",
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "properties": {
        "playerIds": {
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ApplicationPlayerId"
          }
        }
      },
      "type": "object",
      "id": "GetMultipleApplicationPlayerIdsResponse"
    },
    "PlayerExperienceInfo": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "id": "PlayerExperienceInfo"
    },
    "EventPeriodRange": {
      "type": "object",
      "description": "An event period time range.",
      "properties": {
        "periodEndMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch)."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
        },
        "periodStartMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        }
      },
      "id": "EventPeriodRange"
    },
    "LeaderboardScoreRank": {
      "type": "object",
      "id": "LeaderboardScoreRank",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "rank": {
          "type": "string",
          "format": "int64",
          "description": "The rank in the leaderboard."
        },
        "numScores": {
          "format": "int64",
          "type": "string",
          "description": "The number of scores in the leaderboard."
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        }
      }
    },
    "PlayerGameEvent": {
      "id": "PlayerGameEvent",
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored."
        },
        "eventProperties": {
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "type": "object",
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters."
        },
        "eventName": {
          "type": "string",
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific event was performed."
        }
      }
    },
    "PlayerScore": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "score": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value for this player score."
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted score for this player score."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span for this player score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        }
      },
      "description": "A player score.",
      "id": "PlayerScore",
      "type": "object"
    },
    "LeaderboardEntry": {
      "properties": {
        "scoreValue": {
          "description": "The numerical value of this score.",
          "type": "string",
          "format": "int64"
        },
        "timeSpan": {
          "type": "string",
          "description": "The time span of this high score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreRank": {
          "format": "int64",
          "type": "string",
          "description": "The rank of this score for this leaderboard."
        },
        "writeTimestampMillis": {
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry"
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "description": "An event status resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "type": "string",
          "format": "int64"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        }
      }
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "An achievement unlock response"
    },
    "AchievementUpdateResponse": {
      "id": "AchievementUpdateResponse",
      "type": "object",
      "description": "An updated achievement.",
      "properties": {
        "currentState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "description": "The current state of the achievement."
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "description": "The leaderboard scores."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of player leaderboard scores.",
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "description": "A list of achievement definition objects.",
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array",
          "description": "The achievement definitions."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "description": "The iOS details resource.",
      "type": "object",
      "properties": {
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        },
        "preferredForIphone": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPhone devices."
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        }
      }
    },
    "EventUpdateRequest": {
      "properties": {
        "updateCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times this event occurred in this time period."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`."
        },
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        }
      },
      "description": "An event period update resource.",
      "id": "EventUpdateRequest",
      "type": "object"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        }
      },
      "id": "ProfileSettings",
      "type": "object"
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "token": {
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC",
          "type": "string"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "id": "UnlinkPersonaRequest",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account"
    },
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "description": "A third party application verification response resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        },
        "alternate_player_id": {
          "type": "string",
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        }
      },
      "type": "object"
    },
    "BatchRecordEventsResponse": {
      "type": "object",
      "description": "A successful response indicates that the batch of events has been processed.",
      "id": "BatchRecordEventsResponse",
      "properties": {
        "failedRequests": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording.",
          "type": "object"
        }
      }
    },
    "AchievementDefinition": {
      "description": "An achievement definition object.",
      "id": "AchievementDefinition",
      "type": "object",
      "properties": {
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "type": "string",
          "description": "Output only. The lifecycle state of the achievement.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "readOnly": true,
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ]
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "unlockedIconUrl": {
          "type": "string",
          "description": "The image URL for the unlocked achievement icon."
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "totalSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The total steps for an incremental achievement."
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "initialState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement.",
          "type": "string"
        }
      }
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "type": "object",
      "id": "GeneratePlayGroupingApiTokenResponse",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "properties": {
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      },
      "id": "AchievementSetStepsAtLeastResponse",
      "type": "object",
      "description": "An achievement set steps at least response."
    },
    "PlayerListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        }
      },
      "description": "A third party player list response.",
      "id": "PlayerListResponse",
      "type": "object"
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "properties": {
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "progressValue": {
          "type": "string",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64"
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "type": {
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ],
          "type": "string",
          "description": "The type of this snapshot."
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "durationMillis": {
          "format": "int64",
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "ScoreSubmission": {
      "properties": {
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "description": "The new score being submitted.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      },
      "id": "ScoreSubmission",
      "type": "object",
      "description": "A request to submit a score to leaderboards."
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "type": "object",
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      }
    },
    "Application": {
      "id": "Application",
      "description": "The Application resource.",
      "type": "object",
      "properties": {
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "leaderboard_count": {
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "type": "integer"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application.",
          "type": "array"
        },
        "enabledFeatures": {
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "A list of features that have been enabled for the application."
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "assets": {
          "description": "The assets of the application.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "type": "string",
          "format": "int64"
        },
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        }
      }
    },
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "properties": {
        "state": {
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "description": "Output only. State of a persona linking attempt."
        }
      },
      "type": "object",
      "id": "LinkPersonaResponse"
    },
    "SnapshotListResponse": {
      "type": "object",
      "id": "SnapshotListResponse",
      "properties": {
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        }
      },
      "description": "A third party list snapshots response."
    },
    "PlayGroupingApiToken": {
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "id": "PlayGroupingApiToken",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "type": "object"
    },
    "InstanceWebDetails": {
      "properties": {
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        }
      },
      "description": "The Web details resource.",
      "type": "object",
      "id": "InstanceWebDetails"
    },
    "EventDefinition": {
      "description": "An event definition resource.",
      "id": "EventDefinition",
      "properties": {
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "description": "The visibility of event being tracked in this definition.",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ]
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GamePlayerToken": {
      "type": "object",
      "description": "Recall tokens for a game.",
      "id": "GamePlayerToken",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "$ref": "RecallToken",
          "description": "Recall token data."
        }
      }
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`."
        },
        "submittedScores": {
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "type": "array"
        }
      }
    },
    "EventRecordRequest": {
      "properties": {
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "requestId": {
          "type": "string",
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64"
        },
        "currentTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        }
      },
      "description": "An event period update resource.",
      "type": "object",
      "id": "EventRecordRequest"
    },
    "RecallToken": {
      "type": "object",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime"
        },
        "multiPlayerPersona": {
          "type": "boolean",
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players"
        }
      },
      "id": "RecallToken"
    },
    "StatsResponse": {
      "type": "object",
      "properties": {
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "high_spender_probability": {
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "num_sessions": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "format": "int32",
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "spend_probability": {
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "num_sessions_percentile": {
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "num_purchases": {
          "type": "integer",
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "churn_probability": {
          "format": "float",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number"
        }
      },
      "description": "A third party stats resource.",
      "id": "StatsResponse"
    },
    "RetrieveGamesPlayerTokensResponse": {
      "properties": {
        "gamePlayerTokens": {
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "type": "array",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      },
      "id": "RetrieveGamesPlayerTokensResponse",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object"
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "description": "A player leaderboard score object.",
      "properties": {
        "leaderboard_id": {
          "type": "string",
          "description": "The ID of the leaderboard this score is in."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreValue": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value of this score."
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        }
      }
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`."
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "The width of the image.",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An image of a snapshot."
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "properties": {
        "gamePlayerToken": {
          "$ref": "GamePlayerToken",
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal."
        }
      },
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "type": "object",
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        }
      }
    },
    "EventChild": {
      "type": "object",
      "id": "EventChild",
      "description": "An event child relationship resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      }
    },
    "ApplicationPlayerId": {
      "id": "ApplicationPlayerId",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "description": "Primary scoped player identifier for an application.",
      "type": "object"
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        }
      },
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource."
    },
    "EventDefinitionListResponse": {
      "description": "A ListDefinitions response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`."
        }
      },
      "id": "EventDefinitionListResponse"
    },
    "PlayerLevel": {
      "description": "1P/3P metadata about a user's level.",
      "type": "object",
      "properties": {
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "PlayerLevel"
    },
    "Leaderboard": {
      "type": "object",
      "description": "The Leaderboard resource.",
      "properties": {
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "order": {
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered.",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        }
      },
      "id": "Leaderboard"
    },
    "ResetPersonaRequest": {
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "id": "ResetPersonaRequest"
    },
    "LinkPersonaRequest": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Input only. Optional expiration time.",
          "format": "google-datetime"
        },
        "cardinalityConstraint": {
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "type": "string",
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ]
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        },
        "ttl": {
          "type": "string",
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration"
        },
        "conflictingLinksResolutionPolicy": {
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        }
      },
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest",
      "type": "object"
    },
    "Category": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category name."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Data related to individual game categories.",
      "id": "Category"
    },
    "PlayerEventListResponse": {
      "description": "A ListByPlayer response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events.",
          "type": "array"
        }
      },
      "id": "PlayerEventListResponse",
      "type": "object"
    },
    "UnlinkPersonaResponse": {
      "type": "object",
      "id": "UnlinkPersonaResponse",
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      }
    },
    "Player": {
      "id": "Player",
      "properties": {
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "name": {
          "type": "object",
          "description": "A representation of the individual components of the name.",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          }
        }
      },
      "type": "object",
      "description": "A Player resource."
    },
    "PlayerScoreSubmissionList": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "items": {
            "$ref": "ScoreSubmission"
          },
          "description": "The score submissions.",
          "type": "array"
        }
      },
      "id": "PlayerScoreSubmissionList",
      "type": "object",
      "description": "A list of score submission requests."
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object",
      "properties": {
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementUpdateMultipleResponse"
    },
    "CategoryListResponse": {
      "id": "CategoryListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Category"
          },
          "type": "array",
          "description": "The list of categories with usage data."
        }
      },
      "description": "A third party list metagame categories response.",
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "format": "int32",
          "description": "The number of steps to be incremented.",
          "type": "integer"
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement."
        }
      },
      "id": "GamesAchievementIncrement",
      "type": "object"
    },
    "EventBatchRecordFailure": {
      "properties": {
        "failureCause": {
          "description": "The cause for the update failure.",
          "type": "string",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "range": {
          "$ref": "EventPeriodRange",
          "description": "The time range which was rejected; empty for a request-wide failure."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventBatchRecordFailure",
      "description": "A batch update failure resource."
    },
    "PlayerAchievementListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array",
          "description": "The achievements."
        }
      },
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse"
    },
    "LeaderboardScores": {
      "description": "A ListScores response.",
      "properties": {
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "type": "array",
          "description": "The scores in the leaderboard."
        }
      },
      "type": "object",
      "id": "LeaderboardScores"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    }
  },
  "rootUrl": "https://games.googleapis.com/",
  "resources": {
    "achievementDefinitions": {
      "methods": {
        "list": {
          "description": "Lists all the achievement definitions for your application.",
          "id": "games.achievementDefinitions.list",
          "path": "games/v1/achievements",
          "httpMethod": "GET",
          "flatPath": "games/v1/achievements",
          "parameterOrder": [],
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query"
            }
          }
        }
      }
    },
    "scores": {
      "methods": {
        "list": {
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "timeSpan": {
              "required": true,
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "collection": {
              "type": "string",
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "description": "The collection of scores you're requesting.",
              "required": true,
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path"
            },
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          },
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.scores.list"
        },
        "submit": {
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "type": "string",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
            },
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            },
            "score": {
              "required": true,
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "id": "games.scores.submit",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "description": "Submits a score to the specified leaderboard.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores"
        },
        "listWindow": {
          "id": "games.scores.listWindow",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "collection": {
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "description": "The collection of scores you're requesting.",
              "required": true,
              "location": "path",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "returnTopIfAbsent": {
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "leaderboardId": {
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "timeSpan": {
              "location": "query",
              "type": "string",
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ]
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "httpMethod": "GET",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "id": "games.scores.get",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
[...]
