{
  "revision": "20261001",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "ownerName": "Google",
  "canonicalName": "Games Management",
  "batchPath": "batch",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "id": "gamesManagement:v1management",
  "name": "gamesManagement",
  "resources": {
    "applications": {
      "methods": {
        "listHidden": {
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            }
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "GET",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "parameters": {
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            },
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "id": "gamesManagement.players.hide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "unhide": {
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true
            },
            "playerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "id": "gamesManagement.players.unhide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        }
      }
    },
    "events": {
      "methods": {
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "parameters": {}
        },
        "reset": {
          "id": "gamesManagement.events.reset",
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "eventId"
          ]
        },
        "resetAll": {
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/reset",
          "path": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetAll"
        },
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "eventId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers"
        }
      }
    },
    "scores": {
      "methods": {
        "resetForAllPlayers": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesManagement.scores.reset",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers"
        },
        "resetMultipleForAllPlayers": {
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "resetAll": {
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "parameterOrder": [],
          "path": "games/v1management/scores/reset",
          "id": "gamesManagement.scores.resetAll"
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAll": {
          "flatPath": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/reset"
        },
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/resetMultipleForAllPlayers"
        },
        "reset": {
          "id": "gamesManagement.achievements.reset",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ]
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "basePath": "",
  "schemas": {
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string"
        },
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        }
      },
      "type": "object"
    },
    "Player": {
      "type": "object",
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          }
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        }
      },
      "id": "Player",
      "description": "A Player resource."
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        }
      },
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources.",
      "type": "object"
    },
    "AchievementResetAllResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        }
      },
      "id": "AchievementResetAllResponse",
      "description": "Achievement reset all response.",
      "type": "object"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "description": "Profile settings"
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "leaderboard_ids": {
          "type": "array",
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "properties": {
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AchievementResetMultipleForAllRequest"
    },
    "HiddenPlayer": {
      "properties": {
        "hiddenTimeMillis": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time this player was hidden.",
          "type": "string"
        },
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        }
      },
      "id": "HiddenPlayer",
      "type": "object",
      "description": "The HiddenPlayer resource."
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "properties": {
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        }
      },
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "properties": {
        "minExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The minimum experience points for this level."
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "description": "The maximum experience points for this level.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource"
    },
    "PlayerScoreResetAllResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array",
          "description": "The leaderboard reset results."
        }
      },
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources."
    },
    "AchievementResetResponse": {
      "type": "object",
      "id": "AchievementResetResponse",
      "description": "An achievement reset response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      }
    }
  },
  "title": "Google Play Games Services Management API",
  "documentationLink": "https://developers.google.com/games/",
  "version": "v1management",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "servicePath": ""
}