{
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Backup for GKE is a managed Kubernetes workload backup and restore service for GKE clusters.",
  "baseUrl": "https://gkebackup.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/add-on/backup-for-gke",
  "id": "gkebackup:v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://gkebackup.googleapis.com/",
  "endpoints": [
    {
      "location": "me-central1",
      "endpointUrl": "https://gkebackup.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://gkebackup.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://gkebackup.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://gkebackup.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://gkebackup.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://gkebackup.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://gkebackup.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://gkebackup.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://gkebackup.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://gkebackup.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://gkebackup.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://gkebackup.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://gkebackup.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://gkebackup.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://gkebackup.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://gkebackup.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://gkebackup.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://gkebackup.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://gkebackup.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://gkebackup.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://gkebackup.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://gkebackup.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://gkebackup.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://gkebackup.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://gkebackup.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://gkebackup.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://gkebackup.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://gkebackup.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://gkebackup.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://gkebackup.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://gkebackup.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://gkebackup.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://gkebackup.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "Backup for GKE",
  "version": "v1",
  "schemas": {
    "RetentionPolicy": {
      "properties": {
        "backupRetainDays": {
          "format": "int32",
          "description": "Optional. The default maximum age of a Backup created via this BackupPlan. This field MUST be an integer value >= 0 and <= 365. If specified, a Backup created under this BackupPlan will be automatically deleted after its age reaches (create_time + backup_retain_days). If not specified, Backups created under this BackupPlan will NOT be subject to automatic deletion. Updating this field does NOT affect existing Backups under it. Backups created AFTER a successful update will automatically pick up the new value. NOTE: backup_retain_days must be >= backup_delete_lock_days. If cron_schedule is defined, then this must be <= 360 * the creation interval. If rpo_config is defined, then this must be <= 360 * target_rpo_minutes / (1440minutes/day). Default: 0 (no automatic deletion)",
          "type": "integer"
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. This flag denotes whether the retention policy of this BackupPlan is locked. If set to True, no further update is allowed on this policy, including the `locked` field itself. Default: False"
        },
        "backupDeleteLockDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum age for Backups created via this BackupPlan (in days). This field MUST be an integer value between 0-90 (inclusive). A Backup created under this BackupPlan will NOT be deletable until it reaches Backup's (create_time + backup_delete_lock_days). Updating this field of a BackupPlan does NOT affect existing Backups under it. Backups created AFTER a successful update will inherit the new value. Default: 0 (no delete blocking)"
        }
      },
      "id": "RetentionPolicy",
      "description": "RetentionPolicy defines a Backup retention policy for a BackupPlan.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "ListVolumeBackupsResponse": {
      "properties": {
        "volumeBackups": {
          "items": {
            "$ref": "VolumeBackup"
          },
          "description": "The list of VolumeBackups matching the given criteria.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListVolumeBackups` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListVolumeBackupsResponse",
      "description": "Response message for ListVolumeBackups."
    },
    "BackupConfig": {
      "type": "object",
      "id": "BackupConfig",
      "properties": {
        "includeSecrets": {
          "description": "Optional. This flag specifies whether Kubernetes Secret resources should be included when they fall into the scope of Backups. Default: False",
          "type": "boolean"
        },
        "permissiveMode": {
          "description": "Optional. If false, Backups will fail when Backup for GKE detects Kubernetes configuration that is non-standard or requires additional setup to restore. Default: False",
          "type": "boolean"
        },
        "allNamespaces": {
          "description": "If True, include all namespaced resources",
          "type": "boolean"
        },
        "encryptionKey": {
          "description": "Optional. This defines a customer managed encryption key that will be used to encrypt the \"config\" portion (the Kubernetes resources) of Backups created via this plan. Default (empty): Config backup artifacts will not be encrypted.",
          "$ref": "EncryptionKey"
        },
        "selectedApplications": {
          "$ref": "NamespacedNames",
          "description": "If set, include just the resources referenced by the listed ProtectedApplications."
        },
        "includeVolumeData": {
          "description": "Optional. This flag specifies whether volume data should be backed up when PVCs are included in the scope of a Backup. Default: False",
          "type": "boolean"
        },
        "selectedNamespaces": {
          "$ref": "Namespaces",
          "description": "If set, include just the resources in the listed namespaces."
        },
        "selectedNamespaceLabels": {
          "description": "If set, the list of labels whose constituent namespaces were included in the Backup.",
          "$ref": "ResourceLabels"
        }
      },
      "description": "BackupConfig defines the configuration of Backups created via this BackupPlan."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListRestoreChannelsResponse": {
      "id": "ListRestoreChannelsResponse",
      "description": "Response message for ListRestoreChannels.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "restoreChannels": {
          "items": {
            "$ref": "RestoreChannel"
          },
          "type": "array",
          "description": "The list of RestoreChannels matching the given criteria."
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListRestoreChannels` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      }
    },
    "RestoreOrder": {
      "properties": {
        "groupKindDependencies": {
          "items": {
            "$ref": "GroupKindDependency"
          },
          "type": "array",
          "description": "Optional. Contains a list of group kind dependency pairs provided by the customer, that is used by Backup for GKE to generate a group kind restore order."
        }
      },
      "description": "Allows customers to specify dependencies between resources that Backup for GKE can use to compute a resasonable restore order.",
      "type": "object",
      "id": "RestoreOrder"
    },
    "GroupKind": {
      "id": "GroupKind",
      "properties": {
        "resourceGroup": {
          "description": "Optional. API group string of a Kubernetes resource, e.g. \"apiextensions.k8s.io\", \"storage.k8s.io\", etc. Note: use empty string for core API group.",
          "type": "string"
        },
        "resourceKind": {
          "type": "string",
          "description": "Optional. Kind of a Kubernetes resource, must be in UpperCamelCase (PascalCase) and singular form. E.g. \"CustomResourceDefinition\", \"StorageClass\", etc."
        }
      },
      "type": "object",
      "description": "This is a direct map to the Kubernetes GroupKind type [GroupKind](https://godoc.org/k8s.io/apimachinery/pkg/runtime/schema#GroupKind) and is used for identifying specific \"types\" of resources to restore."
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse"
    },
    "Schedule": {
      "description": "Defines scheduling parameters for automatically creating Backups via this BackupPlan.",
      "properties": {
        "rpoConfig": {
          "description": "Optional. Defines the RPO schedule configuration for this BackupPlan. This is mutually exclusive with the cron_schedule field since at most one schedule can be defined for a BackupPLan. If this is defined, then backup_retain_days must also be defined. Default (empty): no automatic backup creation will occur.",
          "$ref": "RpoConfig"
        },
        "cronSchedule": {
          "description": "Optional. A standard [cron](https://wikipedia.com/wiki/cron) string that defines a repeating schedule for creating Backups via this BackupPlan. This is mutually exclusive with the rpo_config field since at most one schedule can be defined for a BackupPlan. If this is defined, then backup_retain_days must also be defined. Default (empty): no automatic backup creation will occur.",
          "type": "string"
        },
        "paused": {
          "type": "boolean",
          "description": "Optional. This flag denotes whether automatic Backup creation is paused for this BackupPlan. Default: False"
        },
        "nextScheduledBackupTime": {
          "description": "Output only. Start time of next scheduled backup under this BackupPlan by either cron_schedule or rpo config.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Schedule"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "BackupConfigDetails": {
      "id": "BackupConfigDetails",
      "description": "BackupConfigDetails defines the configuration of Backups created via this BackupPlan.",
      "properties": {
        "includeVolumeData": {
          "type": "boolean",
          "description": "Output only. This flag specifies whether volume data should be backed up when PVCs are included in the scope of a Backup. Default: False",
          "readOnly": true
        },
        "includeSecrets": {
          "description": "Output only. This flag specifies whether Kubernetes Secret resources should be included when they fall into the scope of Backups. Default: False",
          "type": "boolean",
          "readOnly": true
        },
        "selectedApplications": {
          "$ref": "NamespacedNames",
          "description": "Output only. If set, include just the resources referenced by the listed ProtectedApplications.",
          "readOnly": true
        },
        "allNamespaces": {
          "description": "Output only. If True, include all namespaced resources",
          "readOnly": true,
          "type": "boolean"
        },
        "selectedNamespaces": {
          "readOnly": true,
          "$ref": "Namespaces",
          "description": "Output only. If set, include just the resources in the listed namespaces."
        },
        "encryptionKey": {
          "$ref": "EncryptionKey",
          "readOnly": true,
          "description": "Output only. This defines a customer managed encryption key that will be used to encrypt the \"config\" portion (the Kubernetes resources) of Backups created via this plan. Default (empty): Config backup artifacts will not be encrypted."
        }
      },
      "type": "object"
    },
    "VolumeDataRestorePolicyOverride": {
      "description": "Defines an override to apply a VolumeDataRestorePolicy for scoped resources.",
      "properties": {
        "policy": {
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ],
          "description": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope."
        },
        "selectedPvcs": {
          "description": "A list of PVCs to apply the policy override to.",
          "$ref": "NamespacedNames"
        }
      },
      "type": "object",
      "id": "VolumeDataRestorePolicyOverride"
    },
    "ResourceLabels": {
      "id": "ResourceLabels",
      "properties": {
        "resourceLabels": {
          "description": "Optional. A list of Kubernetes label-value pairs.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      },
      "description": "A list of Kubernetes labels.",
      "type": "object"
    },
    "ResourceFilter": {
      "type": "object",
      "description": "ResourceFilter specifies matching criteria to limit the scope of a change to a specific set of kubernetes resources that are selected for restoration from a backup.",
      "properties": {
        "jsonPath": {
          "description": "Optional. This is a [JSONPath] (https://github.com/json-path/JsonPath/blob/master/README.md) expression that matches specific fields of candidate resources and it operates as a filtering parameter (resources that are not matched with this expression will not be candidates for transformation).",
          "type": "string"
        },
        "namespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. (Filtering parameter) Any resource subject to transformation must be contained within one of the listed Kubernetes Namespace in the Backup. If this field is not provided, no namespace filtering will be performed (all resources in all Namespaces, including all cluster-scoped resources, will be candidates for transformation)."
        },
        "groupKinds": {
          "type": "array",
          "items": {
            "$ref": "GroupKind"
          },
          "description": "Optional. (Filtering parameter) Any resource subject to transformation must belong to one of the listed \"types\". If this field is not provided, no type filtering will be performed (all resources of all types matching previous filtering parameters will be candidates for transformation)."
        }
      },
      "id": "ResourceFilter"
    },
    "VolumeRestore": {
      "properties": {
        "name": {
          "description": "Output only. Full name of the VolumeRestore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*/volumeRestores/*`",
          "readOnly": true,
          "type": "string"
        },
        "targetPvc": {
          "readOnly": true,
          "$ref": "NamespacedName",
          "description": "Output only. The reference to the target Kubernetes PVC to be restored."
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this VolumeRestore resource was last updated.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESTORING",
            "SUCCEEDED",
            "FAILED",
            "DELETING"
          ],
          "description": "Output only. The current state of this VolumeRestore.",
          "enumDescriptions": [
            "This is an illegal state and should not be encountered.",
            "A volume for the restore was identified and restore process is about to start.",
            "The volume is currently being restored.",
            "The volume has been successfully restored.",
            "The volume restoration process failed.",
            "This VolumeRestore resource is in the process of being deleted."
          ]
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the associated underlying volume restoration completed.",
          "readOnly": true
        },
        "volumeType": {
          "enumDescriptions": [
            "Default",
            "Compute Engine Persistent Disk volume"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "description": "Output only. The type of volume provisioned"
        },
        "volumeHandle": {
          "description": "Output only. A storage system-specific opaque handler to the underlying volume created for the target PVC from the volume backup.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when this VolumeRestore resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "volumeBackup": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the VolumeBackup from which the volume will be restored. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`."
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human readable message explaining why the VolumeRestore is in its current state."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume restore updates in order to avoid race conditions."
        }
      },
      "id": "VolumeRestore",
      "type": "object",
      "description": "Represents the operation of restoring a volume from a VolumeBackup."
    },
    "ListBackupChannelsResponse": {
      "description": "Response message for ListBackupChannels.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListBackupChannels` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backupChannels": {
          "type": "array",
          "items": {
            "$ref": "BackupChannel"
          },
          "description": "The list of BackupChannels matching the given criteria."
        }
      },
      "id": "ListBackupChannelsResponse"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "EncryptionKey": {
      "id": "EncryptionKey",
      "description": "Defined a customer managed encryption key that will be used to encrypt Backup artifacts.",
      "type": "object",
      "properties": {
        "gcpKmsEncryptionKey": {
          "description": "Optional. Google Cloud KMS encryption key. Format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`",
          "type": "string"
        }
      }
    },
    "SetTagsResponse": {
      "id": "SetTagsResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "A checksum based on the current bindings. This field is always set in server responses."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\"",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. The full resource name of the service resource."
        }
      },
      "type": "object",
      "description": "Response message for SetTags."
    },
    "ClusterMetadata": {
      "type": "object",
      "properties": {
        "gkeVersion": {
          "description": "Output only. GKE version",
          "type": "string",
          "readOnly": true
        },
        "k8sVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Kubernetes server version of the source cluster."
        },
        "cluster": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source cluster from which this Backup was created. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*` This is inherited from the parent BackupPlan's cluster field."
        },
        "anthosVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Anthos version"
        },
        "backupCrdVersions": {
          "description": "Output only. A list of the Backup for GKE CRD versions found in the cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        }
      },
      "description": "Information about the GKE cluster from which this Backup was created.",
      "id": "ClusterMetadata"
    },
    "ListRestorePlansResponse": {
      "properties": {
        "restorePlans": {
          "type": "array",
          "items": {
            "$ref": "RestorePlan"
          },
          "description": "The list of RestorePlans matching the given criteria."
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListRestorePlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListRestorePlansResponse",
      "type": "object",
      "description": "Response message for ListRestorePlans."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "RestoreChannel": {
      "type": "object",
      "description": "A RestoreChannel imposes constraints on where backups can be restored. The RestoreChannel should be in the same project and region as the backups. The backups can only be restored in the `destination_project`.",
      "properties": {
        "labels": {
          "description": "Optional. A set of custom labels supplied by user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "destinationProject": {
          "type": "string",
          "description": "Required. Immutable. The project into which the backups will be restored. The format is `projects/{projectId}` or `projects/{projectNumber}`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this RestoreChannel was created.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "type": "string"
        },
        "destinationProjectId": {
          "description": "Output only. The project_id where backups will be restored. Example Project ID: \"my-project-id\". This will be an OUTPUT_ONLY field to return the project_id of the destination project.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a RestoreChannel from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform RestoreChannel updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestoreChannel`, and systems are expected to put that etag in the request to `UpdateRestoreChannel` or `DeleteRestoreChannel` to ensure that their change will be applied to the same version of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. User specified descriptive string for this RestoreChannel.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The fully qualified name of the RestoreChannel. `projects/*/locations/*/restoreChannels/*`"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this RestoreChannel was last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "RestoreChannel"
    },
    "Restore": {
      "properties": {
        "troubleshootingInfo": {
          "$ref": "TroubleshootingInfo",
          "readOnly": true,
          "description": "Output only. Information about the troubleshooting steps which will provide debugging information to the end users."
        },
        "resourcesFailedCount": {
          "type": "integer",
          "description": "Output only. Number of resources that failed to be restored during the restore execution.",
          "format": "int32",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform restore updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestore`, and systems are expected to put that etag in the request to `UpdateRestore` or `DeleteRestore` to ensure that their change will be applied to the same version of the resource.",
          "type": "string"
        },
        "resourcesRestoredCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of resources restored during the restore execution."
        },
        "description": {
          "description": "Optional. User specified descriptive string for this Restore.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of custom labels supplied by user."
        },
        "filter": {
          "$ref": "Filter",
          "description": "Optional. Immutable. Filters resources for `Restore`. If not specified, the scope of the restore will remain the same as defined in the `RestorePlan`. If this is specified and no resources are matched by the `inclusion_filters` or everything is excluded by the `exclusion_filters`, nothing will be restored. This filter can only be specified if the value of namespaced_resource_restore_mode is set to `MERGE_SKIP_ON_CONFLICT`, `MERGE_REPLACE_VOLUME_ON_CONFLICT` or `MERGE_REPLACE_ON_CONFLICT`."
        },
        "stateReason": {
          "readOnly": true,
          "description": "Output only. Human-readable description of why the Restore is in its current state. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the restore operation completed.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this Restore resource was last updated."
        },
        "resourcesExcludedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of resources excluded during the restore execution.",
          "readOnly": true
        },
        "restoreConfig": {
          "$ref": "RestoreConfig",
          "description": "Output only. Configuration of the Restore. Inherited from parent RestorePlan's restore_config.",
          "readOnly": true
        },
        "cluster": {
          "description": "Output only. The target cluster into which this Restore will restore data. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*` Inherited from parent RestorePlan's cluster value.",
          "type": "string",
          "readOnly": true
        },
        "volumeDataRestorePolicyOverrides": {
          "type": "array",
          "items": {
            "$ref": "VolumeDataRestorePolicyOverride"
          },
          "description": "Optional. Immutable. Overrides the volume data restore policies selected in the Restore Config for override-scoped resources."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "DELETING",
            "VALIDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The Restore resource is in the process of being created.",
            "The Restore resource has been created and the associated RestoreJob Kubernetes resource has been injected into target cluster.",
            "The gkebackup agent in the cluster has begun executing the restore operation.",
            "The restore operation has completed successfully. Restored workloads may not yet be operational.",
            "The restore operation has failed.",
            "This Restore resource is in the process of being deleted.",
            "The Kubernetes resources created by this Restore are being validated."
          ],
          "type": "string",
          "description": "Output only. The current state of the Restore."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this Restore resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "volumesRestoredCount": {
          "description": "Output only. Number of volumes restored during the restore execution.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true,
          "type": "string"
        },
        "backup": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Backup used as the source from which this Restore will restore. Note that this Backup must be a sub-resource of the RestorePlan's backup_plan. Format: `projects/*/locations/*/backupPlans/*/backups/*`."
        },
        "name": {
          "description": "Output only. Identifier. The full name of the Restore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*`",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Restore",
      "description": "Represents both a request to Restore some portion of a Backup into a target GKE cluster and a record of the restore operation itself."
    },
    "BackupRuleDetail": {
      "id": "BackupRuleDetail",
      "properties": {
        "storageTier": {
          "description": "The storage tier of the BackupRule.",
          "type": "string"
        },
        "ruleName": {
          "description": "Backup Rule Name.",
          "type": "string"
        },
        "backupWindow": {
          "type": "string",
          "description": "Backup Window For Eg. “00:00 to 06:00”"
        },
        "recurrenceSchedule": {
          "type": "string",
          "description": "Recurrence Repeat Schedule. For Eg. “1st and 25th day of the month.”"
        },
        "backupWindowTimezone": {
          "type": "string",
          "description": "Backup Window Timezone in IANA format. For Eg. “America/Los_Angeles”"
        },
        "recurrence": {
          "type": "string",
          "description": "Recurrence Type. For Eg. “Weekly”,” Monthly” or “Daily”."
        },
        "retentionDays": {
          "format": "int32",
          "description": "Backup Retention in Days.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "TransformationRuleAction": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. A string containing a JSON-Pointer value that references a location within the target document where the operation is performed."
        },
        "op": {
          "type": "string",
          "enum": [
            "OP_UNSPECIFIED",
            "REMOVE",
            "MOVE",
            "COPY",
            "ADD",
            "TEST",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Unspecified operation",
            "The \"remove\" operation removes the value at the target location.",
            "The \"move\" operation removes the value at a specified location and adds it to the target location.",
            "The \"copy\" operation copies the value at a specified location to the target location.",
            "The \"add\" operation performs one of the following functions, depending upon what the target location references: 1. If the target location specifies an array index, a new value is inserted into the array at the specified index. 2. If the target location specifies an object member that does not already exist, a new member is added to the object. 3. If the target location specifies an object member that does exist, that member's value is replaced.",
            "The \"test\" operation tests that a value at the target location is equal to a specified value.",
            "The \"replace\" operation replaces the value at the target location with a new value. The operation object MUST contain a \"value\" member whose content specifies the replacement value."
          ],
          "description": "Required. op specifies the operation to perform."
        },
        "fromPath": {
          "description": "Optional. A string containing a JSON Pointer value that references the location in the target document to move the value from.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A string that specifies the desired value in string format to use for transformation.",
          "type": "string"
        }
      },
      "description": "TransformationRuleAction defines a TransformationRule action based on the JSON Patch RFC (https://www.rfc-editor.org/rfc/rfc6902)",
      "type": "object",
      "id": "TransformationRuleAction"
    },
    "RestorePlanBinding": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a RestorePlanBinding from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform RestorePlanBinding updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestorePlanBinding`, and systems are expected to put that etag in the request to `UpdateRestorePlanBinding` or `DeleteRestorePlanBinding` to ensure that their change will be applied to the same version of the resource.",
          "readOnly": true
        },
        "backupPlan": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified name of the BackupPlan bound to the specified RestorePlan. `projects/*/locations/*/backukpPlans/{backup_plan}`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The fully qualified name of the RestorePlanBinding. `projects/*/locations/*/restoreChannels/*/restorePlanBindings/*`"
        },
        "restorePlan": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified name of the RestorePlan bound to this RestoreChannel. `projects/*/locations/*/restorePlans/{restore_plan}`"
        },
        "createTime": {
          "description": "Output only. The timestamp when this binding was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server generated global unique identifier of [UUID4](https://en.wikipedia.org/wiki/Universally_unique_identifier)",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this binding was created."
        }
      },
      "type": "object",
      "id": "RestorePlanBinding",
      "description": "A RestorePlanBinding binds a RestorePlan with a RestoreChannel. This resource is created automatically when a RestorePlan is created using a RestoreChannel. This also serves as a holder for cross-project fields that need to be displayed in the current project."
    },
    "VolumeDataRestorePolicyBinding": {
      "type": "object",
      "id": "VolumeDataRestorePolicyBinding",
      "description": "Binds resources in the scope to the given VolumeDataRestorePolicy.",
      "properties": {
        "volumeType": {
          "type": "string",
          "description": "The volume type, as determined by the PVC's bound PV, to apply the policy to.",
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "enumDescriptions": [
            "Default",
            "Compute Engine Persistent Disk volume"
          ]
        },
        "policy": {
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ],
          "description": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ]
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "Namespaces": {
      "id": "Namespaces",
      "description": "A list of Kubernetes Namespaces.",
      "type": "object",
      "properties": {
        "namespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Kubernetes Namespaces."
        }
      }
    },
    "GetTagsResponse": {
      "properties": {
        "etag": {
          "description": "A checksum based on the current bindings. This field is always set in server responses.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\""
        },
        "name": {
          "description": "Required. The full resource name of the service resource.",
          "type": "string"
        }
      },
      "id": "GetTagsResponse",
      "type": "object",
      "description": "Response message for GetTags."
    },
    "SubstitutionRule": {
      "id": "SubstitutionRule",
      "type": "object",
      "description": "A transformation rule to be applied against Kubernetes resources as they are selected for restoration from a Backup. A rule contains both filtering logic (which resources are subject to substitution) and substitution logic.",
      "properties": {
        "targetJsonPath": {
          "description": "Required. This is a [JSONPath] (https://kubernetes.io/docs/reference/kubectl/jsonpath/) expression that matches specific fields of candidate resources and it operates as both a filtering parameter (resources that are not matched with this expression will not be candidates for substitution) as well as a field identifier (identifies exactly which fields out of the candidate resources will be modified).",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "Optional. This is the new value to set for any fields that pass the filtering and selection criteria. To remove a value from a Kubernetes resource, either leave this field unspecified, or set it to the empty string (\"\")."
        },
        "targetNamespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. (Filtering parameter) Any resource subject to substitution must be contained within one of the listed Kubernetes Namespace in the Backup. If this field is not provided, no namespace filtering will be performed (all resources in all Namespaces, including all cluster-scoped resources, will be candidates for substitution). To mix cluster-scoped and namespaced resources in the same rule, use an empty string (\"\") as one of the target namespaces."
        },
        "targetGroupKinds": {
          "type": "array",
          "description": "Optional. (Filtering parameter) Any resource subject to substitution must belong to one of the listed \"types\". If this field is not provided, no type filtering will be performed (all resources of all types matching previous filtering parameters will be candidates for substitution).",
          "items": {
            "$ref": "GroupKind"
          }
        },
        "originalValuePattern": {
          "type": "string",
          "description": "Optional. (Filtering parameter) This is a [regular expression] (https://en.wikipedia.org/wiki/Regular_expression) that is compared against the fields matched by the target_json_path expression (and must also have passed the previous filters). Substitution will not be performed against fields whose value does not match this expression. If this field is NOT specified, then ALL fields matched by the target_json_path expression will undergo substitution. Note that an empty (e.g., \"\", rather than unspecified) value for this field will only match empty fields."
        }
      }
    },
    "Filter": {
      "properties": {
        "inclusionFilters": {
          "description": "Optional. Selects resources for restoration. If specified, only resources which match `inclusion_filters` will be selected for restoration. A resource will be selected if it matches any `ResourceSelector` of the `inclusion_filters`.",
          "type": "array",
          "items": {
            "$ref": "ResourceSelector"
          }
        },
        "exclusionFilters": {
          "type": "array",
          "description": "Optional. Excludes resources from restoration. If specified, a resource will not be restored if it matches any `ResourceSelector` of the `exclusion_filters`.",
          "items": {
            "$ref": "ResourceSelector"
          }
        }
      },
      "type": "object",
      "description": "Defines the filter for `Restore`. This filter can be used to further refine the resource selection of the `Restore` beyond the coarse-grained scope defined in the `RestorePlan`. `exclusion_filters` take precedence over `inclusion_filters`. If a resource matches both `inclusion_filters` and `exclusion_filters`, it will not be restored.",
      "id": "Filter"
    },
    "GroupKindDependency": {
      "type": "object",
      "properties": {
        "requiring": {
          "description": "Required. The requiring group kind requires that the other group kind be restored first.",
          "$ref": "GroupKind"
        },
        "satisfying": {
          "$ref": "GroupKind",
          "description": "Required. The satisfying group kind must be restored first in order to satisfy the dependency."
        }
      },
      "description": "Defines a dependency between two group kinds.",
      "id": "GroupKindDependency"
    },
    "BackupPlanDetails": {
      "type": "object",
      "id": "BackupPlanDetails",
      "description": "Contains metadata about the backup plan/backup.",
      "properties": {
        "lastSuccessfulBackup": {
          "type": "string",
          "description": "Output only. The fully qualified name of the last successful Backup created under this BackupPlan. `projects/*/locations/*/backupPlans/*/backups/*`",
          "readOnly": true
        },
        "lastSuccessfulBackupTime": {
          "readOnly": true,
          "description": "Output only. Completion time of the last successful Backup. This is sourced from a successful Backup's complete_time field.",
          "format": "google-datetime",
          "type": "string"
        },
        "rpoRiskLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. A number that represents the current risk level of this BackupPlan from RPO perspective with 1 being no risk and 5 being highest risk.",
          "readOnly": true
        },
        "retentionPolicyDetails": {
          "readOnly": true,
          "description": "Output only. Contains details about the RetentionPolicy of Backups created via this BackupPlan.",
          "$ref": "RetentionPolicyDetails"
        },
        "nextScheduledBackupTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Start time of next scheduled backup under this BackupPlan by either cron_schedule or rpo config. This is sourced from BackupPlan."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CLUSTER_PENDING",
            "PROVISIONING",
            "READY",
            "FAILED",
            "DEACTIVATED",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. State of the BackupPlan.",
          "readOnly": true,
          "enumDescriptions": [
            "Default first value for Enums.",
            "Waiting for cluster state to be RUNNING.",
            "The BackupPlan is in the process of being created.",
            "The BackupPlan has successfully been created and is ready for Backups.",
            "BackupPlan creation has failed.",
            "The BackupPlan has been deactivated.",
            "The BackupPlan is in the process of being deleted."
          ]
        },
        "protectedPodCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of Kubernetes Pods backed up in the last successful Backup created via this BackupPlan."
        },
        "backupConfigDetails": {
          "description": "Output only. Contains details about the BackupConfig of Backups created via this BackupPlan.",
          "$ref": "BackupConfigDetails",
          "readOnly": true
        }
      }
    },
    "BDRBackupPlanJobLog": {
      "properties": {
        "newBackupPlanRevisionName": {
          "description": "Full resource name for new backup plan revision",
          "type": "string"
        },
        "previousBackupRules": {
          "description": "Previous Backup Plan rules.",
          "type": "array",
          "items": {
            "$ref": "BackupRuleDetail"
          }
        },
        "previousBackupPlanRevisionId": {
          "type": "string",
          "description": "User friendly revision id e.g. v0, v1 etc."
        },
        "newBackupPlanRevisionId": {
          "type": "string",
          "description": "User friendly revision id e.g. v0, v1 etc."
        },
        "jobId": {
          "description": "The job_id field displays the identifier of the job being reported.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of the job."
        },
        "jobCategory": {
          "type": "string",
          "description": "The category field displays the category of the job. Can be one of [UPDATE_BACKUP_PLAN]."
        },
        "jobStatus": {
          "type": "string",
          "description": "The status field displays the status of the job. Can be one of [RUNNING,SUCCESSFUL, FAILED]."
        },
        "revisedBackupRules": {
          "items": {
            "$ref": "BackupRuleDetail"
          },
          "description": "Revised Backup Plan rules.",
          "type": "array"
        },
        "workloadsAffectedCount": {
          "description": "The total number of workloads affected by the job.",
          "type": "integer",
          "format": "int32"
        },
        "previousBackupPlanRevisionName": {
          "type": "string",
          "description": "Full resource name for previous backup plan revision"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource_type field displays the type of the protected resource."
        },
        "errorType": {
          "description": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios.",
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "description": "The error code. Only populated in error scenarios.",
          "format": "int32"
        },
        "backupPlanName": {
          "type": "string",
          "description": "Canonical resource name for Backup Plan Plan of the job."
        },
        "endTime": {
          "description": "End time of the job.",
          "format": "google-datetime",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The user readable error message. Only populated in error scenarios."
        }
      },
      "description": "Log entry for BDRBackupPlanJobLog for resources using BackupPlan based protection.",
      "id": "BDRBackupPlanJobLog",
      "type": "object"
    },
    "ClusterResourceRestoreScope": {
      "type": "object",
      "id": "ClusterResourceRestoreScope",
      "properties": {
        "selectedGroupKinds": {
          "description": "Optional. A list of cluster-scoped resource group kinds to restore from the backup. If specified, only the selected resources will be restored. Mutually exclusive to any other field in the message.",
          "type": "array",
          "items": {
            "$ref": "GroupKind"
          }
        },
        "allGroupKinds": {
          "type": "boolean",
          "description": "Optional. If True, all valid cluster-scoped resources will be restored. Mutually exclusive to any other field in the message."
        },
        "noGroupKinds": {
          "description": "Optional. If True, no cluster-scoped resources will be restored. This has the same restore scope as if the message is not defined. Mutually exclusive to any other field in the message.",
          "type": "boolean"
        },
        "excludedGroupKinds": {
          "description": "Optional. A list of cluster-scoped resource group kinds to NOT restore from the backup. If specified, all valid cluster-scoped resources will be restored except for those specified in the list. Mutually exclusive to any other field in the message.",
          "items": {
            "$ref": "GroupKind"
          },
          "type": "array"
        }
      },
      "description": "Defines the scope of cluster-scoped resources to restore. Some group kinds are not reasonable choices for a restore, and will cause an error if selected here. Any scope selection that would restore \"all valid\" resources automatically excludes these group kinds. - Node - ComponentStatus - gkebackup.gke.io/BackupJob - gkebackup.gke.io/RestoreJob - metrics.k8s.io/NodeMetrics - migration.k8s.io/StorageState - migration.k8s.io/StorageVersionMigration - snapshot.storage.k8s.io/VolumeSnapshotContent - storage.k8s.io/CSINode - storage.k8s.io/VolumeAttachment Some group kinds are driven by restore configuration elsewhere, and will cause an error if selected here. - Namespace - PersistentVolume"
    },
    "ListRestorePlanBindingsResponse": {
      "id": "ListRestorePlanBindingsResponse",
      "type": "object",
      "description": "Response message for ListRestorePlanBindings.",
      "properties": {
        "restorePlanBindings": {
          "description": "The list of RestorePlanBindings matching the given criteria.",
          "items": {
            "$ref": "RestorePlanBinding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListRestorePlanBindings` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "ListBackupsResponse": {
      "description": "Response message for ListBackups.",
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackups` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "description": "The list of Backups matching the given criteria.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        }
      }
    },
    "BDRBackupRestoreJobLog": {
      "description": "Log entry for Backup and Restore Job for resources using BackupPlan based protection. Next Id: 27",
      "id": "BDRBackupRestoreJobLog",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "End time of the job.",
          "type": "string",
          "format": "google-datetime"
        },
        "restoreResourceLocation": {
          "description": "Restore resource location.",
          "type": "string"
        },
        "backupName": {
          "type": "string",
          "description": "Full resource name of the backup created in backup jobs and used in restore jobs."
        },
        "autoProtectionPolicy": {
          "description": "The auto-protection policy that created the backup.",
          "type": "string"
        },
        "dataSourceName": {
          "description": "Canonical Data Source Name",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource_type field displays the type of the protected resource.",
          "type": "string"
        },
        "backupPlanName": {
          "description": "Full resource name for Backup Plan of the job. Only populated for Scheduled Backup and Adhoc Backup.",
          "type": "string"
        },
        "backupRule": {
          "type": "string",
          "description": "Name of the backup rule. Only populated for Scheduled Backup and Adhoc Backup."
        },
        "incrementalBackupSizeGib": {
          "description": "The amount of incremental backup data copied.",
          "format": "double",
          "type": "number"
        },
        "storageTier": {
          "type": "string",
          "description": "The storage tier associated with the backup."
        },
        "backupVaultName": {
          "description": "Full resource name backup vault name",
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer",
          "description": "The error code. Only populated in error scenarios."
        },
        "sourceResourceName": {
          "type": "string",
          "description": "Full resource name of the protected resource."
        },
        "targetResourceType": {
          "description": "The target resource type for restore jobs.",
          "type": "string"
        },
        "errorType": {
          "description": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios.",
          "type": "string"
        },
        "restoreResourceName": {
          "type": "string",
          "description": "Full resource name of the restore resource. Only populated in restore jobs."
        },
        "sourceResourceId": {
          "description": "The source resource ID.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The user readable error message. Only populated in error scenarios.",
          "type": "string"
        },
        "jobCategory": {
          "description": "The category field displays the category of the job.",
          "type": "string"
        },
        "recoveryPointTime": {
          "type": "string",
          "description": "Recovery point time.",
          "format": "google-datetime"
        },
        "backupRetentionDays": {
          "description": "Backup retention in days.",
          "type": "integer",
          "format": "int32"
        },
        "jobStatus": {
          "description": "The status field displays the status of the job.",
          "type": "string"
        },
        "backupConsistencyTime": {
          "description": "Backup consistency time.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobId": {
          "type": "string",
          "description": "The job_id field displays the identifier of the job being logged."
        },
        "startTime": {
          "description": "Start time of the job.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceResourceLocation": {
          "type": "string",
          "description": "Source resource location."
        }
      }
    },
    "ListRestoresResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "restores": {
          "description": "The list of Restores matching the given criteria.",
          "type": "array",
          "items": {
            "$ref": "Restore"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListRestores` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "description": "Response message for ListRestores.",
      "type": "object",
      "id": "ListRestoresResponse"
    },
    "BackupPlan": {
      "description": "Defines the configuration and scheduling for a \"line\" of Backups.",
      "properties": {
        "rpoRiskReason": {
          "readOnly": true,
          "description": "Output only. Human-readable description of why the BackupPlan is in the current rpo_risk_level and action items if any.",
          "type": "string"
        },
        "backupChannel": {
          "type": "string",
          "description": "Output only. The fully qualified name of the BackupChannel to be used to create a backup. This field is set only if the cluster being backed up is in a different project. `projects/*/locations/*/backupChannels/*`",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A set of custom labels supplied by user."
        },
        "lastSuccessfulBackupTime": {
          "format": "google-datetime",
          "description": "Output only. Completion time of the last successful Backup. This is sourced from a successful Backup's complete_time field. This field is added to maintain consistency with BackupPlanBinding to display last successful backup time.",
          "type": "string",
          "readOnly": true
        },
        "backupSchedule": {
          "$ref": "Schedule",
          "description": "Optional. Defines a schedule for automatic Backup creation via this BackupPlan."
        },
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a backup plan from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform BackupPlan updates in order to avoid race conditions: An `etag` is returned in the response to `GetBackupPlan`, and systems are expected to put that etag in the request to `UpdateBackupPlan` or `DeleteBackupPlan` to ensure that their change will be applied to the same version of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this BackupPlan resource was last updated."
        },
        "cluster": {
          "description": "Required. Immutable. The source cluster from which Backups will be created via this BackupPlan. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this BackupPlan resource was created."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The full name of the BackupPlan resource. Format: `projects/*/locations/*/backupPlans/*`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CLUSTER_PENDING",
            "PROVISIONING",
            "READY",
            "FAILED",
            "DEACTIVATED",
            "DELETING"
          ],
          "enumDescriptions": [
            "Default first value for Enums.",
            "Waiting for cluster state to be RUNNING.",
            "The BackupPlan is in the process of being created.",
            "The BackupPlan has successfully been created and is ready for Backups.",
            "BackupPlan creation has failed.",
            "The BackupPlan has been deactivated.",
            "The BackupPlan is in the process of being deleted."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the BackupPlan. This State field reflects the various stages a BackupPlan can be in during the Create operation. It will be set to \"DEACTIVATED\" if the BackupPlan is deactivated on an Update"
        },
        "protectedPodCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of Kubernetes Pods backed up in the last successful Backup created via this BackupPlan."
        },
        "deactivated": {
          "type": "boolean",
          "description": "Optional. This flag indicates whether this BackupPlan has been deactivated. Setting this field to True locks the BackupPlan such that no further updates will be allowed (except deletes), including the deactivated field itself. It also prevents any new Backups from being created via this BackupPlan (including scheduled Backups). Default: False"
        },
        "retentionPolicy": {
          "description": "Optional. RetentionPolicy governs lifecycle of Backups created under this plan.",
          "$ref": "RetentionPolicy"
        },
        "protectedNamespaceCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of user managed namespaces backed up in the last successful Backup created via this BackupPlan.",
          "format": "int32"
        },
        "description": {
          "description": "Optional. User specified descriptive string for this BackupPlan.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Optional. Defines the configuration of Backups created via this BackupPlan.",
          "$ref": "BackupConfig"
        },
        "rpoRiskLevel": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. A number that represents the current risk level of this BackupPlan from RPO perspective with 1 being no risk and 5 being highest risk.",
          "type": "integer"
        },
        "stateReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable description of why BackupPlan is in the current `state`. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent."
        }
      },
      "id": "BackupPlan",
      "type": "object"
    },
    "ExclusionWindow": {
      "description": "Defines a time window during which no backup should happen. All time and date are in UTC.",
      "properties": {
        "singleOccurrenceDate": {
          "description": "No recurrence. The exclusion window occurs only once and on this date in UTC.",
          "$ref": "Date"
        },
        "duration": {
          "description": "Required. Specifies duration of the window. Duration must be >= 5 minutes and < (target RPO - 20 minutes). Additional restrictions based on the recurrence type to allow some time for backup to happen: - single_occurrence_date: no restriction, but UI may warn about this when duration >= target RPO - daily window: duration < 24 hours - weekly window: - days of week includes all seven days of a week: duration < 24 hours - all other weekly window: duration < 168 hours (i.e., 24 * 7 hours)",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Specifies the start time of the window using time of the day in UTC.",
          "$ref": "TimeOfDay"
        },
        "daysOfWeek": {
          "$ref": "DayOfWeekList",
          "description": "The exclusion window occurs on these days of each week in UTC."
        },
        "daily": {
          "type": "boolean",
          "description": "The exclusion window occurs every day if set to \"True\". Specifying this field to \"False\" is an error."
        }
      },
      "id": "ExclusionWindow",
      "type": "object"
    },
    "NamespacedName": {
      "type": "object",
      "description": "A reference to a namespaced resource in Kubernetes.",
      "id": "NamespacedName",
      "properties": {
        "namespace": {
          "description": "Optional. The Namespace of the Kubernetes resource.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the Kubernetes resource.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "ListBackupPlansResponse": {
      "id": "ListBackupPlansResponse",
[...]
