{
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "BDRBackupPlanJobLog": {
      "description": "Log entry for BDRBackupPlanJobLog for resources using BackupPlan based protection.",
      "id": "BDRBackupPlanJobLog",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the job."
        },
        "resourceType": {
          "description": "The resource_type field displays the type of the protected resource.",
          "type": "string"
        },
        "backupPlanName": {
          "description": "Canonical resource name for Backup Plan Plan of the job.",
          "type": "string"
        },
        "jobCategory": {
          "description": "The category field displays the category of the job. Can be one of [UPDATE_BACKUP_PLAN].",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of the job."
        },
        "previousBackupRules": {
          "description": "Previous Backup Plan rules.",
          "items": {
            "$ref": "BackupRuleDetail"
          },
          "type": "array"
        },
        "errorMessage": {
          "description": "The user readable error message. Only populated in error scenarios.",
          "type": "string"
        },
        "previousBackupPlanRevisionName": {
          "type": "string",
          "description": "Full resource name for previous backup plan revision"
        },
        "jobId": {
          "type": "string",
          "description": "The job_id field displays the identifier of the job being reported."
        },
        "jobStatus": {
          "type": "string",
          "description": "The status field displays the status of the job. Can be one of [RUNNING,SUCCESSFUL, FAILED]."
        },
        "errorCode": {
          "format": "int32",
          "type": "integer",
          "description": "The error code. Only populated in error scenarios."
        },
        "newBackupPlanRevisionId": {
          "description": "User friendly revision id e.g. v0, v1 etc.",
          "type": "string"
        },
        "previousBackupPlanRevisionId": {
          "description": "User friendly revision id e.g. v0, v1 etc.",
          "type": "string"
        },
        "workloadsAffectedCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of workloads affected by the job."
        },
        "errorType": {
          "description": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios.",
          "type": "string"
        },
        "revisedBackupRules": {
          "description": "Revised Backup Plan rules.",
          "type": "array",
          "items": {
            "$ref": "BackupRuleDetail"
          }
        },
        "newBackupPlanRevisionName": {
          "type": "string",
          "description": "Full resource name for new backup plan revision"
        }
      },
      "type": "object"
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "cronSchedule": {
          "description": "Optional. A standard [cron](https://wikipedia.com/wiki/cron) string that defines a repeating schedule for creating Backups via this BackupPlan. This is mutually exclusive with the rpo_config field since at most one schedule can be defined for a BackupPlan. If this is defined, then backup_retain_days must also be defined. Default (empty): no automatic backup creation will occur.",
          "type": "string"
        },
        "nextScheduledBackupTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Start time of next scheduled backup under this BackupPlan by either cron_schedule or rpo config.",
          "type": "string"
        },
        "rpoConfig": {
          "$ref": "RpoConfig",
          "description": "Optional. Defines the RPO schedule configuration for this BackupPlan. This is mutually exclusive with the cron_schedule field since at most one schedule can be defined for a BackupPLan. If this is defined, then backup_retain_days must also be defined. Default (empty): no automatic backup creation will occur."
        },
        "paused": {
          "description": "Optional. This flag denotes whether automatic Backup creation is paused for this BackupPlan. Default: False",
          "type": "boolean"
        }
      },
      "description": "Defines scheduling parameters for automatically creating Backups via this BackupPlan.",
      "type": "object"
    },
    "GroupKind": {
      "type": "object",
      "id": "GroupKind",
      "properties": {
        "resourceGroup": {
          "description": "Optional. API group string of a Kubernetes resource, e.g. \"apiextensions.k8s.io\", \"storage.k8s.io\", etc. Note: use empty string for core API group.",
          "type": "string"
        },
        "resourceKind": {
          "description": "Optional. Kind of a Kubernetes resource, must be in UpperCamelCase (PascalCase) and singular form. E.g. \"CustomResourceDefinition\", \"StorageClass\", etc.",
          "type": "string"
        }
      },
      "description": "This is a direct map to the Kubernetes GroupKind type [GroupKind](https://godoc.org/k8s.io/apimachinery/pkg/runtime/schema#GroupKind) and is used for identifying specific \"types\" of resources to restore."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListRestorePlansResponse": {
      "type": "object",
      "description": "Response message for ListRestorePlans.",
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListRestorePlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "restorePlans": {
          "items": {
            "$ref": "RestorePlan"
          },
          "type": "array",
          "description": "The list of RestorePlans matching the given criteria."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListRestorePlansResponse"
    },
    "GetBackupIndexDownloadUrlResponse": {
      "type": "object",
      "id": "GetBackupIndexDownloadUrlResponse",
      "properties": {
        "signedUrl": {
          "description": "Required. The signed URL for downloading the backup index.",
          "type": "string"
        }
      },
      "description": "Response message for GetBackupIndexDownloadUrl."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BackupChannel": {
      "type": "object",
      "id": "BackupChannel",
      "properties": {
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a BackupChannel from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform BackupChannel updates in order to avoid race conditions: An `etag` is returned in the response to `GetBackupChannel`, and systems are expected to put that etag in the request to `UpdateBackupChannel` or `DeleteBackupChannel` to ensure that their change will be applied to the same version of the resource."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this BackupChannel resource was created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The fully qualified name of the BackupChannel. `projects/*/locations/*/backupChannels/*`",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this BackupChannel resource was last updated."
        },
        "destinationProjectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The project_id where Backups are allowed to be stored. Example Project ID: \"my-project-id\". This will be an OUTPUT_ONLY field to return the project_id of the destination project."
        },
        "labels": {
          "type": "object",
          "description": "Optional. A set of custom labels supplied by user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "destinationProject": {
          "type": "string",
          "description": "Required. Immutable. The project where Backups are allowed to be stored. The format is `projects/{projectId}` or `projects/{projectNumber}`."
        },
        "description": {
          "description": "Optional. User specified descriptive string for this BackupChannel.",
          "type": "string"
        }
      },
      "description": "A BackupChannel imposes constraints on where clusters can be backed up. The BackupChannel should be in the same project and region as the cluster being backed up. The backup can be created only in destination_project."
    },
    "TroubleshootingInfo": {
      "properties": {
        "stateReasonUri": {
          "description": "Output only. URL for the troubleshooting doc which will help the user fix the failing backup/restore operation.",
          "type": "string",
          "readOnly": true
        },
        "stateReasonCode": {
          "type": "string",
          "description": "Output only. Unique code for each backup/restore operation failure message which helps user identify the failure.",
          "readOnly": true
        }
      },
      "id": "TroubleshootingInfo",
      "description": "Stores information about troubleshooting doc for debugging a particular state of an operation (eg - backup/restore). This will be used by the end user to debug their operation failure scenario easily.",
      "type": "object"
    },
    "NamespacedName": {
      "type": "object",
      "description": "A reference to a namespaced resource in Kubernetes.",
      "properties": {
        "name": {
          "description": "Optional. The name of the Kubernetes resource.",
          "type": "string"
        },
        "namespace": {
          "description": "Optional. The Namespace of the Kubernetes resource.",
          "type": "string"
        }
      },
      "id": "NamespacedName"
    },
    "VolumeRestore": {
      "type": "object",
      "id": "VolumeRestore",
      "description": "Represents the operation of restoring a volume from a VolumeBackup.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this VolumeRestore resource was created.",
          "readOnly": true
        },
        "volumeType": {
          "enumDescriptions": [
            "Default",
            "Compute Engine Persistent Disk volume"
          ],
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of volume provisioned"
        },
        "volumeHandle": {
          "type": "string",
          "description": "Output only. A storage system-specific opaque handler to the underlying volume created for the target PVC from the volume backup.",
          "readOnly": true
        },
        "volumeBackup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the VolumeBackup from which the volume will be restored. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`."
        },
        "targetPvc": {
          "description": "Output only. The reference to the target Kubernetes PVC to be restored.",
          "readOnly": true,
          "$ref": "NamespacedName"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of this VolumeRestore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESTORING",
            "SUCCEEDED",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "This is an illegal state and should not be encountered.",
            "A volume for the restore was identified and restore process is about to start.",
            "The volume is currently being restored.",
            "The volume has been successfully restored.",
            "The volume restoration process failed.",
            "This VolumeRestore resource is in the process of being deleted."
          ]
        },
        "completeTime": {
          "description": "Output only. The timestamp when the associated underlying volume restoration completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of the VolumeRestore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*/volumeRestores/*`"
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume restore updates in order to avoid race conditions.",
          "type": "string"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human readable message explaining why the VolumeRestore is in its current state."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this VolumeRestore resource was last updated.",
          "type": "string"
        }
      }
    },
    "SetTagsResponse": {
      "id": "SetTagsResponse",
      "properties": {
        "etag": {
          "description": "A checksum based on the current bindings. This field is always set in server responses.",
          "type": "string"
        },
        "name": {
          "description": "Required. The full resource name of the service resource.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\"",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Response message for SetTags."
    },
    "ListRestorePlanBindingsResponse": {
      "type": "object",
      "properties": {
        "restorePlanBindings": {
          "description": "The list of RestorePlanBindings matching the given criteria.",
          "type": "array",
          "items": {
            "$ref": "RestorePlanBinding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListRestorePlanBindings` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for ListRestorePlanBindings.",
      "id": "ListRestorePlanBindingsResponse"
    },
    "ExclusionWindow": {
      "id": "ExclusionWindow",
      "properties": {
        "singleOccurrenceDate": {
          "$ref": "Date",
          "description": "No recurrence. The exclusion window occurs only once and on this date in UTC."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Specifies the start time of the window using time of the day in UTC."
        },
        "daysOfWeek": {
          "description": "The exclusion window occurs on these days of each week in UTC.",
          "$ref": "DayOfWeekList"
        },
        "duration": {
          "format": "google-duration",
          "description": "Required. Specifies duration of the window. Duration must be >= 5 minutes and < (target RPO - 20 minutes). Additional restrictions based on the recurrence type to allow some time for backup to happen: - single_occurrence_date: no restriction, but UI may warn about this when duration >= target RPO - daily window: duration < 24 hours - weekly window: - days of week includes all seven days of a week: duration < 24 hours - all other weekly window: duration < 168 hours (i.e., 24 * 7 hours)",
          "type": "string"
        },
        "daily": {
          "type": "boolean",
          "description": "The exclusion window occurs every day if set to \"True\". Specifying this field to \"False\" is an error."
        }
      },
      "description": "Defines a time window during which no backup should happen. All time and date are in UTC.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "RpoConfig": {
      "type": "object",
      "properties": {
        "targetRpoMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Defines the target RPO for the BackupPlan in minutes, which means the target maximum data loss in time that is acceptable for this BackupPlan. This must be at least 60, i.e., 1 hour, and at most 86400, i.e., 60 days."
        },
        "exclusionWindows": {
          "description": "Optional. User specified time windows during which backup can NOT happen for this BackupPlan - backups should start and finish outside of any given exclusion window. Note: backup jobs will be scheduled to start and finish outside the duration of the window as much as possible, but running jobs will not get canceled when it runs into the window. All the time and date values in exclusion_windows entry in the API are in UTC. We only allow <=1 recurrence (daily or weekly) exclusion window for a BackupPlan while no restriction on number of single occurrence windows.",
          "items": {
            "$ref": "ExclusionWindow"
          },
          "type": "array"
        }
      },
      "id": "RpoConfig",
      "description": "Defines RPO scheduling configuration for automatically creating Backups via this BackupPlan."
    },
    "ClusterMetadata": {
      "id": "ClusterMetadata",
      "properties": {
        "k8sVersion": {
          "type": "string",
          "description": "Output only. The Kubernetes server version of the source cluster.",
          "readOnly": true
        },
        "backupCrdVersions": {
          "type": "object",
          "description": "Output only. A list of the Backup for GKE CRD versions found in the cluster.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "anthosVersion": {
          "description": "Output only. Anthos version",
          "type": "string",
          "readOnly": true
        },
        "gkeVersion": {
          "type": "string",
          "description": "Output only. GKE version",
          "readOnly": true
        },
        "cluster": {
          "readOnly": true,
          "description": "Output only. The source cluster from which this Backup was created. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*` This is inherited from the parent BackupPlan's cluster field.",
          "type": "string"
        }
      },
      "description": "Information about the GKE cluster from which this Backup was created.",
      "type": "object"
    },
    "VolumeBackup": {
      "properties": {
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume backup from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume backup updates in order to avoid race conditions.",
          "type": "string",
          "readOnly": true
        },
        "storageBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The aggregate size of the underlying artifacts associated with this VolumeBackup in the backup storage. This may change over time when multiple backups of the same volume share the same backup storage location. In particular, this is likely to increase in size when the immediately preceding backup of the same volume is deleted."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this VolumeBackup resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the associated underlying volume backup operation completed."
        },
        "diskSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The minimum size of the disk to which this VolumeBackup can be restored.",
          "readOnly": true
        },
        "sourcePvc": {
          "description": "Output only. A reference to the source Kubernetes PVC from which this VolumeBackup was created.",
          "readOnly": true,
          "$ref": "NamespacedName"
        },
        "volumeBackupHandle": {
          "description": "Output only. A storage system-specific opaque handle to the underlying volume backup.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the VolumeBackup resource. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`."
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "This is an illegal state and should not be encountered.",
            "A volume for the backup was identified and backup process is about to start.",
            "The volume backup operation has begun and is in the initial \"snapshot\" phase of the process. Any defined ProtectedApplication \"pre\" hooks will be executed before entering this state and \"post\" hooks will be executed upon leaving this state.",
            "The snapshot phase of the volume backup operation has completed and the snapshot is now being uploaded to backup storage.",
            "The volume backup operation has completed successfully.",
            "The volume backup operation has failed.",
            "This VolumeBackup resource (and its associated artifacts) is in the process of being deleted.",
            "The underlying artifacts of a volume backup (eg: persistent disk snapshots) are deleted."
          ],
          "readOnly": true,
          "description": "Output only. The current state of this VolumeBackup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SNAPSHOTTING",
            "UPLOADING",
            "SUCCEEDED",
            "FAILED",
            "DELETING",
            "CLEANED_UP"
          ],
          "type": "string"
        },
        "stateMessage": {
          "description": "Output only. A human readable message explaining why the VolumeBackup is in its current state. This field is only meant for human consumption and should not be used programmatically as this field is not guaranteed to be consistent.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. [Output Only] Reserved for future use."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this VolumeBackup resource was last updated."
        },
        "format": {
          "enum": [
            "VOLUME_BACKUP_FORMAT_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, not specified.",
            "Compute Engine Persistent Disk snapshot based volume backup."
          ],
          "readOnly": true,
          "description": "Output only. The format used for the volume backup."
        }
      },
      "description": "Represents the backup of a specific persistent volume as a component of a Backup - both the record of the operation and a pointer to the underlying storage-specific artifacts.",
      "id": "VolumeBackup",
      "type": "object"
    },
    "RetentionPolicyDetails": {
      "id": "RetentionPolicyDetails",
      "properties": {
        "backupRetainDays": {
          "format": "int32",
          "description": "Optional. The default maximum age of a Backup created via this BackupPlan. This field MUST be an integer value >= 0 and <= 365. If specified, a Backup created under this BackupPlan will be automatically deleted after its age reaches (create_time + backup_retain_days). If not specified, Backups created under this BackupPlan will NOT be subject to automatic deletion. Default: 0 (no automatic deletion)",
          "type": "integer"
        },
        "backupDeleteLockDays": {
          "type": "integer",
          "description": "Optional. Minimum age for Backups created via this BackupPlan (in days). This field MUST be an integer value between 0-90 (inclusive). A Backup created under this BackupPlan will NOT be deletable until it reaches Backup's (create_time + backup_delete_lock_days). Updating this field of a BackupPlan does NOT affect existing Backups under it. Backups created AFTER a successful update will inherit the new value. Default: 0 (no delete blocking)",
          "format": "int32"
        }
      },
      "description": "RetentionPolicyDetails defines a Backup retention policy for a BackupPlan.",
      "type": "object"
    },
    "NamespacedNames": {
      "type": "object",
      "description": "A list of namespaced Kubernetes resources.",
      "properties": {
        "namespacedNames": {
          "type": "array",
          "description": "Optional. A list of namespaced Kubernetes resources.",
          "items": {
            "$ref": "NamespacedName"
          }
        }
      },
      "id": "NamespacedNames"
    },
    "BDRBackupRestoreJobLog": {
      "id": "BDRBackupRestoreJobLog",
      "type": "object",
      "properties": {
        "sourceResourceLocation": {
          "type": "string",
          "description": "Source resource location."
        },
        "startTime": {
          "type": "string",
          "description": "Start time of the job.",
          "format": "google-datetime"
        },
        "errorMessage": {
          "description": "The user readable error message. Only populated in error scenarios.",
          "type": "string"
        },
        "dataSourceName": {
          "type": "string",
          "description": "Canonical Data Source Name"
        },
        "backupPlanName": {
          "description": "Full resource name for Backup Plan of the job. Only populated for Scheduled Backup and Adhoc Backup.",
          "type": "string"
        },
        "endTime": {
          "description": "End time of the job.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobId": {
          "description": "The job_id field displays the identifier of the job being logged.",
          "type": "string"
        },
        "backupRetentionDays": {
          "description": "Backup retention in days.",
          "type": "integer",
          "format": "int32"
        },
        "restoreResourceLocation": {
          "type": "string",
          "description": "Restore resource location."
        },
        "restoreResourceName": {
          "description": "Full resource name of the restore resource. Only populated in restore jobs.",
          "type": "string"
        },
        "incrementalBackupSizeGib": {
          "format": "double",
          "type": "number",
          "description": "The amount of incremental backup data copied."
        },
        "sourceResourceId": {
          "type": "string",
          "description": "The source resource ID."
        },
        "backupConsistencyTime": {
          "type": "string",
          "description": "Backup consistency time.",
          "format": "google-datetime"
        },
        "storageTier": {
          "type": "string",
          "description": "The storage tier associated with the backup."
        },
        "recoveryPointTime": {
          "description": "Recovery point time.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupVaultName": {
          "description": "Full resource name backup vault name",
          "type": "string"
        },
        "backupName": {
          "description": "Full resource name of the backup created in backup jobs and used in restore jobs.",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code. Only populated in error scenarios.",
          "format": "int32",
          "type": "integer"
        },
        "targetResourceType": {
          "description": "The target resource type for restore jobs.",
          "type": "string"
        },
        "jobStatus": {
          "description": "The status field displays the status of the job.",
          "type": "string"
        },
        "jobCategory": {
          "description": "The category field displays the category of the job.",
          "type": "string"
        },
        "autoProtectionPolicy": {
          "description": "The auto-protection policy that created the backup.",
          "type": "string"
        },
        "backupRule": {
          "description": "Name of the backup rule. Only populated for Scheduled Backup and Adhoc Backup.",
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "description": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios."
        },
        "resourceType": {
          "description": "The resource_type field displays the type of the protected resource.",
          "type": "string"
        },
        "sourceResourceName": {
          "description": "Full resource name of the protected resource.",
          "type": "string"
        }
      },
      "description": "Log entry for Backup and Restore Job for resources using BackupPlan based protection. Next Id: 27"
    },
    "Filter": {
      "type": "object",
      "description": "Defines the filter for `Restore`. This filter can be used to further refine the resource selection of the `Restore` beyond the coarse-grained scope defined in the `RestorePlan`. `exclusion_filters` take precedence over `inclusion_filters`. If a resource matches both `inclusion_filters` and `exclusion_filters`, it will not be restored.",
      "properties": {
        "exclusionFilters": {
          "items": {
            "$ref": "ResourceSelector"
          },
          "description": "Optional. Excludes resources from restoration. If specified, a resource will not be restored if it matches any `ResourceSelector` of the `exclusion_filters`.",
          "type": "array"
        },
        "inclusionFilters": {
          "items": {
            "$ref": "ResourceSelector"
          },
          "type": "array",
          "description": "Optional. Selects resources for restoration. If specified, only resources which match `inclusion_filters` will be selected for restoration. A resource will be selected if it matches any `ResourceSelector` of the `inclusion_filters`."
        }
      },
      "id": "Filter"
    },
    "GroupKindDependency": {
      "type": "object",
      "id": "GroupKindDependency",
      "properties": {
        "requiring": {
          "description": "Required. The requiring group kind requires that the other group kind be restored first.",
          "$ref": "GroupKind"
        },
        "satisfying": {
          "$ref": "GroupKind",
          "description": "Required. The satisfying group kind must be restored first in order to satisfy the dependency."
        }
      },
      "description": "Defines a dependency between two group kinds."
    },
    "VolumeDataRestorePolicyBinding": {
      "id": "VolumeDataRestorePolicyBinding",
      "description": "Binds resources in the scope to the given VolumeDataRestorePolicy.",
      "type": "object",
      "properties": {
        "policy": {
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ],
          "type": "string",
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ],
          "description": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope."
        },
        "volumeType": {
          "description": "The volume type, as determined by the PVC's bound PV, to apply the policy to.",
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Compute Engine Persistent Disk volume"
          ]
        }
      }
    },
    "TimeOfDay": {
      "type": "object",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay"
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "RestorePlanBinding": {
      "properties": {
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a RestorePlanBinding from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform RestorePlanBinding updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestorePlanBinding`, and systems are expected to put that etag in the request to `UpdateRestorePlanBinding` or `DeleteRestorePlanBinding` to ensure that their change will be applied to the same version of the resource.",
          "type": "string",
          "readOnly": true
        },
        "backupPlan": {
          "description": "Output only. The fully qualified name of the BackupPlan bound to the specified RestorePlan. `projects/*/locations/*/backukpPlans/{backup_plan}`",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID4](https://en.wikipedia.org/wiki/Universally_unique_identifier)"
        },
        "restorePlan": {
          "type": "string",
          "description": "Output only. The fully qualified name of the RestorePlan bound to this RestoreChannel. `projects/*/locations/*/restorePlans/{restore_plan}`",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when this binding was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The fully qualified name of the RestorePlanBinding. `projects/*/locations/*/restoreChannels/*/restorePlanBindings/*`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when this binding was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "RestorePlanBinding",
      "description": "A RestorePlanBinding binds a RestorePlan with a RestoreChannel. This resource is created automatically when a RestorePlan is created using a RestoreChannel. This also serves as a holder for cross-project fields that need to be displayed in the current project.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      }
    },
    "Restore": {
      "description": "Represents both a request to Restore some portion of a Backup into a target GKE cluster and a record of the restore operation itself.",
      "id": "Restore",
      "properties": {
        "troubleshootingInfo": {
          "$ref": "TroubleshootingInfo",
          "readOnly": true,
          "description": "Output only. Information about the troubleshooting steps which will provide debugging information to the end users."
        },
        "volumeDataRestorePolicyOverrides": {
          "items": {
            "$ref": "VolumeDataRestorePolicyOverride"
          },
          "type": "array",
          "description": "Optional. Immutable. Overrides the volume data restore policies selected in the Restore Config for override-scoped resources."
        },
        "backup": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Backup used as the source from which this Restore will restore. Note that this Backup must be a sub-resource of the RestorePlan's backup_plan. Format: `projects/*/locations/*/backupPlans/*/backups/*`."
        },
        "stateReason": {
          "description": "Output only. Human-readable description of why the Restore is in its current state. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent.",
          "readOnly": true,
          "type": "string"
        },
        "cluster": {
          "description": "Output only. The target cluster into which this Restore will restore data. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*` Inherited from parent RestorePlan's cluster value.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform restore updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestore`, and systems are expected to put that etag in the request to `UpdateRestore` or `DeleteRestore` to ensure that their change will be applied to the same version of the resource.",
          "type": "string",
          "readOnly": true
        },
        "resourcesFailedCount": {
          "description": "Output only. Number of resources that failed to be restored during the restore execution.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "type": "object",
          "description": "A set of custom labels supplied by user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. User specified descriptive string for this Restore.",
          "type": "string"
        },
        "completeTime": {
          "description": "Output only. Timestamp of when the restore operation completed.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "restoreConfig": {
          "description": "Output only. Configuration of the Restore. Inherited from parent RestorePlan's restore_config.",
          "$ref": "RestoreConfig",
          "readOnly": true
        },
        "resourcesRestoredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of resources restored during the restore execution.",
          "readOnly": true
        },
        "resourcesExcludedCount": {
          "readOnly": true,
          "description": "Output only. Number of resources excluded during the restore execution.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enumDescriptions": [
            "The Restore resource is in the process of being created.",
            "The Restore resource has been created and the associated RestoreJob Kubernetes resource has been injected into target cluster.",
            "The gkebackup agent in the cluster has begun executing the restore operation.",
            "The restore operation has completed successfully. Restored workloads may not yet be operational.",
            "The restore operation has failed.",
            "This Restore resource is in the process of being deleted.",
            "The Kubernetes resources created by this Restore are being validated."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the Restore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "DELETING",
            "VALIDATING"
          ],
          "type": "string"
        },
        "volumesRestoredCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of volumes restored during the restore execution.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this Restore resource was last updated."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when this Restore resource was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. The full name of the Restore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*`",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "description": "Optional. Immutable. Filters resources for `Restore`. If not specified, the scope of the restore will remain the same as defined in the `RestorePlan`. If this is specified and no resources are matched by the `inclusion_filters` or everything is excluded by the `exclusion_filters`, nothing will be restored. This filter can only be specified if the value of namespaced_resource_restore_mode is set to `MERGE_SKIP_ON_CONFLICT`, `MERGE_REPLACE_VOLUME_ON_CONFLICT` or `MERGE_REPLACE_ON_CONFLICT`.",
          "$ref": "Filter"
        }
      },
      "type": "object"
    },
    "BackupRuleDetail": {
      "id": "BackupRuleDetail",
      "properties": {
        "backupWindow": {
          "type": "string",
          "description": "Backup Window For Eg. “00:00 to 06:00”"
        },
        "recurrenceSchedule": {
          "type": "string",
          "description": "Recurrence Repeat Schedule. For Eg. “1st and 25th day of the month.”"
        },
        "backupWindowTimezone": {
          "type": "string",
          "description": "Backup Window Timezone in IANA format. For Eg. “America/Los_Angeles”"
        },
        "storageTier": {
          "description": "The storage tier of the BackupRule.",
          "type": "string"
        },
        "recurrence": {
          "description": "Recurrence Type. For Eg. “Weekly”,” Monthly” or “Daily”.",
          "type": "string"
        },
        "ruleName": {
          "description": "Backup Rule Name.",
          "type": "string"
        },
        "retentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "Backup Retention in Days."
        }
      },
      "type": "object"
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr"
    },
    "ListBackupsResponse": {
      "description": "Response message for ListBackups.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of Backups matching the given criteria."
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackups` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBackupsResponse"
    },
    "Label": {
      "description": "A single Kubernetes label-value pair.",
      "id": "Label",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value of the label.",
          "type": "string"
        },
        "key": {
          "description": "Optional. The key/name of the label.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Namespaces": {
      "type": "object",
      "description": "A list of Kubernetes Namespaces.",
      "properties": {
        "namespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of Kubernetes Namespaces."
        }
      },
      "id": "Namespaces"
    },
    "RestorePlan": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default first value for Enums.",
            "Waiting for cluster state to be RUNNING.",
            "The RestorePlan has successfully been created and is ready for Restores.",
            "RestorePlan creation has failed.",
            "The RestorePlan is in the process of being deleted."
          ],
          "description": "Output only. State of the RestorePlan. This State field reflects the various stages a RestorePlan can be in during the Create operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CLUSTER_PENDING",
            "READY",
            "FAILED",
            "DELETING"
          ]
        },
        "name": {
          "description": "Output only. Identifier. The full name of the RestorePlan resource. Format: `projects/*/locations/*/restorePlans/*`.",
          "type": "string",
          "readOnly": true
        },
        "restoreChannel": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified name of the RestoreChannel to be used to create a RestorePlan. This field is set only if the `backup_plan` is in a different project than the RestorePlan. Format: `projects/*/locations/*/restoreChannels/*`"
        },
        "labels": {
          "type": "object",
          "description": "Optional. A set of custom labels supplied by user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when this RestorePlan resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "restoreConfig": {
          "description": "Required. Configuration of Restores created via this RestorePlan.",
          "$ref": "RestoreConfig"
        },
        "backupPlan": {
          "type": "string",
          "description": "Required. Immutable. A reference to the BackupPlan from which Backups may be used as the source for Restores created via this RestorePlan. Format: `projects/*/locations/*/backupPlans/*`."
        },
        "description": {
          "type": "string",
          "description": "Optional. User specified descriptive string for this RestorePlan."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this RestorePlan resource was last updated.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform restore updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestorePlan`, and systems are expected to put that etag in the request to `UpdateRestorePlan` or `DeleteRestorePlan` to ensure that their change will be applied to the same version of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "Required. Immutable. The target cluster into which Restores created via this RestorePlan will restore data. NOTE: the cluster's region must be the same as the RestorePlan. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*`"
        },
        "stateReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable description of why RestorePlan is in the current `state`. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent."
        }
      },
      "type": "object",
      "description": "The configuration of a potential series of Restore operations to be performed against Backups belong to a particular BackupPlan.",
      "id": "RestorePlan"
    },
    "SetTagsRequest": {
      "description": "Request message for SetTags.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. A checksum based on the current bindings which can be passed to prevent race conditions. If not passed, etag check would be skipped."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique identifier for this request. Must be a valid UUID. This request is only idempotent if a `request_id` is provided."
        },
        "name": {
          "description": "Required. The full resource name of the service resource.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. These bindings will override any bindings previously set and will be effective immediately. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\"",
          "type": "object"
        }
      },
      "id": "SetTagsRequest",
      "type": "object"
    },
    "ListBackupPlanBindingsResponse": {
      "properties": {
        "backupPlanBindings": {
          "description": "The list of BackupPlanBindings matching the given criteria.",
          "items": {
            "$ref": "BackupPlanBinding"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanBindingss` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "description": "Response message for ListBackupPlanBindings.",
      "id": "ListBackupPlanBindingsResponse",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ResourceFilter": {
      "type": "object",
      "description": "ResourceFilter specifies matching criteria to limit the scope of a change to a specific set of kubernetes resources that are selected for restoration from a backup.",
      "properties": {
        "namespaces": {
          "description": "Optional. (Filtering parameter) Any resource subject to transformation must be contained within one of the listed Kubernetes Namespace in the Backup. If this field is not provided, no namespace filtering will be performed (all resources in all Namespaces, including all cluster-scoped resources, will be candidates for transformation).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupKinds": {
          "type": "array",
          "items": {
            "$ref": "GroupKind"
          },
          "description": "Optional. (Filtering parameter) Any resource subject to transformation must belong to one of the listed \"types\". If this field is not provided, no type filtering will be performed (all resources of all types matching previous filtering parameters will be candidates for transformation)."
        },
        "jsonPath": {
          "description": "Optional. This is a [JSONPath] (https://github.com/json-path/JsonPath/blob/master/README.md) expression that matches specific fields of candidate resources and it operates as a filtering parameter (resources that are not matched with this expression will not be candidates for transformation).",
          "type": "string"
        }
      },
      "id": "ResourceFilter"
    },
    "BackupConfigDetails": {
      "description": "BackupConfigDetails defines the configuration of Backups created via this BackupPlan.",
      "type": "object",
      "properties": {
        "includeVolumeData": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. This flag specifies whether volume data should be backed up when PVCs are included in the scope of a Backup. Default: False"
        },
        "selectedNamespaces": {
          "description": "Output only. If set, include just the resources in the listed namespaces.",
          "$ref": "Namespaces",
          "readOnly": true
        },
        "allNamespaces": {
          "description": "Output only. If True, include all namespaced resources",
          "readOnly": true,
          "type": "boolean"
        },
        "includeSecrets": {
          "readOnly": true,
          "description": "Output only. This flag specifies whether Kubernetes Secret resources should be included when they fall into the scope of Backups. Default: False",
          "type": "boolean"
        },
        "encryptionKey": {
          "readOnly": true,
          "description": "Output only. This defines a customer managed encryption key that will be used to encrypt the \"config\" portion (the Kubernetes resources) of Backups created via this plan. Default (empty): Config backup artifacts will not be encrypted.",
          "$ref": "EncryptionKey"
        },
        "selectedApplications": {
          "description": "Output only. If set, include just the resources referenced by the listed ProtectedApplications.",
          "readOnly": true,
          "$ref": "NamespacedNames"
        }
      },
      "id": "BackupConfigDetails"
    },
    "GetTagsRequest": {
      "type": "object",
      "id": "GetTagsRequest",
      "description": "Request message for GetTags.",
      "properties": {
        "name": {
          "description": "Required. The full resource name of the service resource.",
          "type": "string"
        }
      }
    },
    "RestoreOrder": {
      "type": "object",
      "properties": {
        "groupKindDependencies": {
          "items": {
            "$ref": "GroupKindDependency"
          },
          "type": "array",
          "description": "Optional. Contains a list of group kind dependency pairs provided by the customer, that is used by Backup for GKE to generate a group kind restore order."
        }
      },
      "description": "Allows customers to specify dependencies between resources that Backup for GKE can use to compute a resasonable restore order.",
      "id": "RestoreOrder"
    },
    "ClusterResourceRestoreScope": {
      "properties": {
        "allGroupKinds": {
          "type": "boolean",
          "description": "Optional. If True, all valid cluster-scoped resources will be restored. Mutually exclusive to any other field in the message."
        },
        "noGroupKinds": {
          "description": "Optional. If True, no cluster-scoped resources will be restored. This has the same restore scope as if the message is not defined. Mutually exclusive to any other field in the message.",
          "type": "boolean"
        },
        "selectedGroupKinds": {
          "items": {
            "$ref": "GroupKind"
          },
          "description": "Optional. A list of cluster-scoped resource group kinds to restore from the backup. If specified, only the selected resources will be restored. Mutually exclusive to any other field in the message.",
          "type": "array"
        },
        "excludedGroupKinds": {
          "description": "Optional. A list of cluster-scoped resource group kinds to NOT restore from the backup. If specified, all valid cluster-scoped resources will be restored except for those specified in the list. Mutually exclusive to any other field in the message.",
          "items": {
            "$ref": "GroupKind"
          },
          "type": "array"
        }
      },
      "id": "ClusterResourceRestoreScope",
      "description": "Defines the scope of cluster-scoped resources to restore. Some group kinds are not reasonable choices for a restore, and will cause an error if selected here. Any scope selection that would restore \"all valid\" resources automatically excludes these group kinds. - Node - ComponentStatus - gkebackup.gke.io/BackupJob - gkebackup.gke.io/RestoreJob - metrics.k8s.io/NodeMetrics - migration.k8s.io/StorageState - migration.k8s.io/StorageVersionMigration - snapshot.storage.k8s.io/VolumeSnapshotContent - storage.k8s.io/CSINode - storage.k8s.io/VolumeAttachment Some group kinds are driven by restore configuration elsewhere, and will cause an error if selected here. - Namespace - PersistentVolume",
      "type": "object"
    },
    "GetTagsResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "A checksum based on the current bindings. This field is always set in server responses."
        },
        "name": {
          "type": "string",
          "description": "Required. The full resource name of the service resource."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\""
        }
      },
      "id": "GetTagsResponse",
      "description": "Response message for GetTags.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object"
    },
    "VolumeDataRestorePolicyOverride": {
      "type": "object",
      "id": "VolumeDataRestorePolicyOverride",
      "description": "Defines an override to apply a VolumeDataRestorePolicy for scoped resources.",
      "properties": {
        "policy": {
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ],
          "description": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope.",
          "type": "string",
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ]
        },
        "selectedPvcs": {
          "description": "A list of PVCs to apply the policy override to.",
          "$ref": "NamespacedNames"
        }
      }
    },
    "ListBackupPlansResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "backupPlans": {
          "items": {
            "$ref": "BackupPlan"
          },
          "type": "array",
          "description": "The list of BackupPlans matching the given criteria."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListBackupPlansResponse",
      "description": "Response message for ListBackupPlans.",
      "type": "object"
    },
    "DayOfWeekList": {
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "description": "Optional. A list of days of week.",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          }
        }
      },
      "description": "Holds repeated DaysOfWeek values as a container.",
      "id": "DayOfWeekList"
    },
    "BackupPlan": {
      "description": "Defines the configuration and scheduling for a \"line\" of Backups.",
      "id": "BackupPlan",
      "type": "object",
      "properties": {
        "protectedPodCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of Kubernetes Pods backed up in the last successful Backup created via this BackupPlan.",
          "format": "int32"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a backup plan from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform BackupPlan updates in order to avoid race conditions: An `etag` is returned in the response to `GetBackupPlan`, and systems are expected to put that etag in the request to `UpdateBackupPlan` or `DeleteBackupPlan` to ensure that their change will be applied to the same version of the resource."
        },
        "cluster": {
          "type": "string",
          "description": "Required. Immutable. The source cluster from which Backups will be created via this BackupPlan. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*`"
        },
        "uid": {
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User specified descriptive string for this BackupPlan."
        },
        "backupSchedule": {
          "description": "Optional. Defines a schedule for automatic Backup creation via this BackupPlan.",
          "$ref": "Schedule"
        },
        "lastSuccessfulBackupTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Completion time of the last successful Backup. This is sourced from a successful Backup's complete_time field. This field is added to maintain consistency with BackupPlanBinding to display last successful backup time.",
          "type": "string"
        },
        "rpoRiskReason": {
          "type": "string",
          "description": "Output only. Human-readable description of why the BackupPlan is in the current rpo_risk_level and action items if any.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when this BackupPlan resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deactivated": {
          "type": "boolean",
          "description": "Optional. This flag indicates whether this BackupPlan has been deactivated. Setting this field to True locks the BackupPlan such that no further updates will be allowed (except deletes), including the deactivated field itself. It also prevents any new Backups from being created via this BackupPlan (including scheduled Backups). Default: False"
        },
        "backupConfig": {
          "description": "Optional. Defines the configuration of Backups created via this BackupPlan.",
          "$ref": "BackupConfig"
        },
        "stateReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable description of why BackupPlan is in the current `state`. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A set of custom labels supplied by user.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The full name of the BackupPlan resource. Format: `projects/*/locations/*/backupPlans/*`"
        },
        "protectedNamespaceCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of user managed namespaces backed up in the last successful Backup created via this BackupPlan."
        },
        "retentionPolicy": {
          "description": "Optional. RetentionPolicy governs lifecycle of Backups created under this plan.",
          "$ref": "RetentionPolicy"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when this BackupPlan resource was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "rpoRiskLevel": {
          "description": "Output only. A number that represents the current risk level of this BackupPlan from RPO perspective with 1 being no risk and 5 being highest risk.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CLUSTER_PENDING",
            "PROVISIONING",
            "READY",
            "FAILED",
            "DEACTIVATED",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default first value for Enums.",
            "Waiting for cluster state to be RUNNING.",
            "The BackupPlan is in the process of being created.",
            "The BackupPlan has successfully been created and is ready for Backups.",
            "BackupPlan creation has failed.",
            "The BackupPlan has been deactivated.",
            "The BackupPlan is in the process of being deleted."
          ],
          "description": "Output only. State of the BackupPlan. This State field reflects the various stages a BackupPlan can be in during the Create operation. It will be set to \"DEACTIVATED\" if the BackupPlan is deactivated on an Update"
        },
        "backupChannel": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the BackupChannel to be used to create a backup. This field is set only if the cluster being backed up is in a different project. `projects/*/locations/*/backupChannels/*`",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "BackupConfig": {
      "type": "object",
      "id": "BackupConfig",
      "properties": {
        "includeSecrets": {
          "description": "Optional. This flag specifies whether Kubernetes Secret resources should be included when they fall into the scope of Backups. Default: False",
          "type": "boolean"
        },
        "permissiveMode": {
          "description": "Optional. If false, Backups will fail when Backup for GKE detects Kubernetes configuration that is non-standard or requires additional setup to restore. Default: False",
          "type": "boolean"
        },
        "allNamespaces": {
          "description": "If True, include all namespaced resources",
          "type": "boolean"
        },
        "selectedNamespaceLabels": {
          "$ref": "ResourceLabels",
          "description": "If set, the list of labels whose constituent namespaces were included in the Backup."
        },
        "selectedApplications": {
          "description": "If set, include just the resources referenced by the listed ProtectedApplications.",
          "$ref": "NamespacedNames"
        },
        "encryptionKey": {
          "description": "Optional. This defines a customer managed encryption key that will be used to encrypt the \"config\" portion (the Kubernetes resources) of Backups created via this plan. Default (empty): Config backup artifacts will not be encrypted.",
          "$ref": "EncryptionKey"
        },
        "selectedNamespaces": {
          "description": "If set, include just the resources in the listed namespaces.",
          "$ref": "Namespaces"
        },
        "includeVolumeData": {
          "description": "Optional. This flag specifies whether volume data should be backed up when PVCs are included in the scope of a Backup. Default: False",
          "type": "boolean"
        }
      },
      "description": "BackupConfig defines the configuration of Backups created via this BackupPlan."
    },
    "RetentionPolicy": {
      "properties": {
        "backupRetainDays": {
          "type": "integer",
          "description": "Optional. The default maximum age of a Backup created via this BackupPlan. This field MUST be an integer value >= 0 and <= 365. If specified, a Backup created under this BackupPlan will be automatically deleted after its age reaches (create_time + backup_retain_days). If not specified, Backups created under this BackupPlan will NOT be subject to automatic deletion. Updating this field does NOT affect existing Backups under it. Backups created AFTER a successful update will automatically pick up the new value. NOTE: backup_retain_days must be >= backup_delete_lock_days. If cron_schedule is defined, then this must be <= 360 * the creation interval. If rpo_config is defined, then this must be <= 360 * target_rpo_minutes / (1440minutes/day). Default: 0 (no automatic deletion)",
          "format": "int32"
        },
        "backupDeleteLockDays": {
          "type": "integer",
          "description": "Optional. Minimum age for Backups created via this BackupPlan (in days). This field MUST be an integer value between 0-90 (inclusive). A Backup created under this BackupPlan will NOT be deletable until it reaches Backup's (create_time + backup_delete_lock_days). Updating this field of a BackupPlan does NOT affect existing Backups under it. Backups created AFTER a successful update will inherit the new value. Default: 0 (no delete blocking)",
          "format": "int32"
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. This flag denotes whether the retention policy of this BackupPlan is locked. If set to True, no further update is allowed on this policy, including the `locked` field itself. Default: False"
        }
      },
      "id": "RetentionPolicy",
      "type": "object",
      "description": "RetentionPolicy defines a Backup retention policy for a BackupPlan."
    },
    "SubstitutionRule": {
      "description": "A transformation rule to be applied against Kubernetes resources as they are selected for restoration from a Backup. A rule contains both filtering logic (which resources are subject to substitution) and substitution logic.",
      "type": "object",
      "id": "SubstitutionRule",
      "properties": {
        "targetJsonPath": {
          "type": "string",
          "description": "Required. This is a [JSONPath] (https://kubernetes.io/docs/reference/kubectl/jsonpath/) expression that matches specific fields of candidate resources and it operates as both a filtering parameter (resources that are not matched with this expression will not be candidates for substitution) as well as a field identifier (identifies exactly which fields out of the candidate resources will be modified)."
        },
        "targetNamespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
[...]
