{
  "title": "Backup for GKE API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://gkebackup.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://gkebackup.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://gkebackup.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://gkebackup.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://gkebackup.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkebackup.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://gkebackup.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkebackup.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://gkebackup.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://gkebackup.europe-southwest1.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://gkebackup.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://gkebackup.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://gkebackup.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://gkebackup.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://gkebackup.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkebackup.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://gkebackup.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://gkebackup.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkebackup.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://gkebackup.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://gkebackup.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkebackup.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://gkebackup.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://gkebackup.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://gkebackup.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://gkebackup.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkebackup.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://gkebackup.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkebackup.us-west8.rep.googleapis.com/"
    }
  ],
  "discoveryVersion": "v1",
  "revision": "20260923",
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/add-on/backup-for-gke",
  "ownerName": "Google",
  "id": "gkebackup:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://gkebackup.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "gkebackup",
  "canonicalName": "Backup for GKE",
  "servicePath": "",
  "schemas": {
    "Filter": {
      "description": "Defines the filter for `Restore`. This filter can be used to further refine the resource selection of the `Restore` beyond the coarse-grained scope defined in the `RestorePlan`. `exclusion_filters` take precedence over `inclusion_filters`. If a resource matches both `inclusion_filters` and `exclusion_filters`, it will not be restored.",
      "properties": {
        "inclusionFilters": {
          "items": {
            "$ref": "ResourceSelector"
          },
          "type": "array",
          "description": "Optional. Selects resources for restoration. If specified, only resources which match `inclusion_filters` will be selected for restoration. A resource will be selected if it matches any `ResourceSelector` of the `inclusion_filters`."
        },
        "exclusionFilters": {
          "type": "array",
          "description": "Optional. Excludes resources from restoration. If specified, a resource will not be restored if it matches any `ResourceSelector` of the `exclusion_filters`.",
          "items": {
            "$ref": "ResourceSelector"
          }
        }
      },
      "type": "object",
      "id": "Filter"
    },
    "ListBackupPlansResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backupPlans": {
          "description": "The list of BackupPlans matching the given criteria.",
          "items": {
            "$ref": "BackupPlan"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "description": "Response message for ListBackupPlans.",
      "id": "ListBackupPlansResponse"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "RestoreOrder": {
      "properties": {
        "groupKindDependencies": {
          "items": {
            "$ref": "GroupKindDependency"
          },
          "description": "Optional. Contains a list of group kind dependency pairs provided by the customer, that is used by Backup for GKE to generate a group kind restore order.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Allows customers to specify dependencies between resources that Backup for GKE can use to compute a resasonable restore order.",
      "id": "RestoreOrder"
    },
    "Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "BDRBackupRestoreJobLog": {
      "type": "object",
      "properties": {
        "backupVaultName": {
          "description": "Full resource name backup vault name",
          "type": "string"
        },
        "restoreResourceLocation": {
          "description": "Restore resource location.",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource_type field displays the type of the protected resource.",
          "type": "string"
        },
        "autoProtectionPolicy": {
          "description": "The auto-protection policy that created the backup.",
          "type": "string"
        },
        "sourceResourceLocation": {
          "type": "string",
          "description": "Source resource location."
        },
        "sourceResourceId": {
          "description": "The source resource ID.",
          "type": "string"
        },
        "autoProtectionPolicyBinding": {
          "description": "The auto-protection policy binding that created the backup.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of the job.",
          "type": "string"
        },
        "backupConsistencyTime": {
          "description": "Backup consistency time.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupName": {
          "description": "Full resource name of the backup created in backup jobs and used in restore jobs.",
          "type": "string"
        },
        "errorType": {
          "description": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios.",
          "type": "string"
        },
        "storageTier": {
          "description": "The storage tier associated with the backup.",
          "type": "string"
        },
        "recoveryPointTime": {
          "description": "Recovery point time.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobCategory": {
          "description": "The category field displays the category of the job.",
          "type": "string"
        },
        "restoreResourceName": {
          "type": "string",
          "description": "Full resource name of the restore resource. Only populated in restore jobs."
        },
        "errorMessage": {
          "type": "string",
          "description": "The user readable error message. Only populated in error scenarios."
        },
        "errorCode": {
          "description": "The error code. Only populated in error scenarios.",
          "format": "int32",
          "type": "integer"
        },
        "incrementalBackupSizeGib": {
          "format": "double",
          "type": "number",
          "description": "The amount of incremental backup data copied."
        },
        "targetResourceType": {
          "type": "string",
          "description": "The target resource type for restore jobs."
        },
        "sourceResourceName": {
          "description": "Full resource name of the protected resource.",
          "type": "string"
        },
        "backupRule": {
          "type": "string",
          "description": "Name of the backup rule. Only populated for Scheduled Backup and Adhoc Backup."
        },
        "jobStatus": {
          "type": "string",
          "description": "The status field displays the status of the job."
        },
        "jobId": {
          "description": "The job_id field displays the identifier of the job being logged.",
          "type": "string"
        },
        "backupRetentionDays": {
          "description": "Backup retention in days.",
          "type": "integer",
          "format": "int32"
        },
        "backupPlanName": {
          "description": "Full resource name for Backup Plan of the job. Only populated for Scheduled Backup and Adhoc Backup.",
          "type": "string"
        },
        "dataSourceName": {
          "description": "Canonical Data Source Name",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the job.",
          "type": "string"
        }
      },
      "description": "Log entry for Backup and Restore Job for resources using BackupPlan based protection. Next Id: 28",
      "id": "BDRBackupRestoreJobLog"
    },
    "ResourceFilter": {
      "description": "ResourceFilter specifies matching criteria to limit the scope of a change to a specific set of kubernetes resources that are selected for restoration from a backup.",
      "properties": {
        "namespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. (Filtering parameter) Any resource subject to transformation must be contained within one of the listed Kubernetes Namespace in the Backup. If this field is not provided, no namespace filtering will be performed (all resources in all Namespaces, including all cluster-scoped resources, will be candidates for transformation)."
        },
        "groupKinds": {
          "description": "Optional. (Filtering parameter) Any resource subject to transformation must belong to one of the listed \"types\". If this field is not provided, no type filtering will be performed (all resources of all types matching previous filtering parameters will be candidates for transformation).",
          "items": {
            "$ref": "GroupKind"
          },
          "type": "array"
        },
        "jsonPath": {
          "description": "Optional. This is a [JSONPath] (https://github.com/json-path/JsonPath/blob/master/README.md) expression that matches specific fields of candidate resources and it operates as a filtering parameter (resources that are not matched with this expression will not be candidates for transformation).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceFilter"
    },
    "RestoreConfig": {
      "id": "RestoreConfig",
      "type": "object",
      "description": "Configuration of a restore.",
      "properties": {
        "substitutionRules": {
          "type": "array",
          "items": {
            "$ref": "SubstitutionRule"
          },
          "description": "Optional. A list of transformation rules to be applied against Kubernetes resources as they are selected for restoration from a Backup. Rules are executed in order defined - this order matters, as changes made by a rule may impact the filtering logic of subsequent rules. An empty list means no substitution will occur."
        },
        "namespacedResourceRestoreMode": {
          "description": "Optional. Defines the behavior for handling the situation where sets of namespaced resources being restored already exist in the target cluster. This MUST be set to a value other than NAMESPACED_RESOURCE_RESTORE_MODE_UNSPECIFIED.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (invalid).",
            "When conflicting top-level resources (either Namespaces or ProtectedApplications, depending upon the scope) are encountered, this will first trigger a delete of the conflicting resource AND ALL OF ITS REFERENCED RESOURCES (e.g., all resources in the Namespace or all resources referenced by the ProtectedApplication) before restoring the resources from the Backup. This mode should only be used when you are intending to revert some portion of a cluster to an earlier state.",
            "If conflicting top-level resources (either Namespaces or ProtectedApplications, depending upon the scope) are encountered at the beginning of a restore process, the Restore will fail. If a conflict occurs during the restore process itself (e.g., because an out of band process creates conflicting resources), a conflict will be reported.",
            "This mode merges the backup and the target cluster and skips the conflicting resources. If a single resource to restore exists in the cluster before restoration, the resource will be skipped, otherwise it will be restored.",
            "This mode merges the backup and the target cluster and skips the conflicting resources except volume data. If a PVC to restore already exists, this mode will restore/reconnect the volume without overwriting the PVC. It is similar to MERGE_SKIP_ON_CONFLICT except that it will apply the volume data policy for the conflicting PVCs: - RESTORE_VOLUME_DATA_FROM_BACKUP: restore data only and respect the reclaim policy of the original PV; - REUSE_VOLUME_HANDLE_FROM_BACKUP: reconnect and respect the reclaim policy of the original PV; - NO_VOLUME_DATA_RESTORATION: new provision and respect the reclaim policy of the original PV. Note that this mode could cause data loss as the original PV can be retained or deleted depending on its reclaim policy.",
            "This mode merges the backup and the target cluster and replaces the conflicting resources with the ones in the backup. If a single resource to restore exists in the cluster before restoration, the resource will be replaced with the one from the backup. To replace an existing resource, the first attempt is to update the resource to match the one from the backup; if the update fails, the second attempt is to delete the resource and restore it from the backup. Note that this mode could cause data loss as it replaces the existing resources in the target cluster, and the original PV can be retained or deleted depending on its reclaim policy."
          ],
          "enum": [
            "NAMESPACED_RESOURCE_RESTORE_MODE_UNSPECIFIED",
            "DELETE_AND_RESTORE",
            "FAIL_ON_CONFLICT",
            "MERGE_SKIP_ON_CONFLICT",
            "MERGE_REPLACE_VOLUME_ON_CONFLICT",
            "MERGE_REPLACE_ON_CONFLICT"
          ]
        },
        "noNamespaces": {
          "description": "Do not restore any namespaced resources if set to \"True\". Specifying this field to \"False\" is not allowed.",
          "type": "boolean"
        },
        "transformationRules": {
          "items": {
            "$ref": "TransformationRule"
          },
          "type": "array",
          "description": "Optional. A list of transformation rules to be applied against Kubernetes resources as they are selected for restoration from a Backup. Rules are executed in order defined - this order matters, as changes made by a rule may impact the filtering logic of subsequent rules. An empty list means no transformation will occur."
        },
        "volumeDataRestorePolicyBindings": {
          "type": "array",
          "description": "Optional. A table that binds volumes by their scope to a restore policy. Bindings must have a unique scope. Any volumes not scoped in the bindings are subject to the policy defined in volume_data_restore_policy.",
          "items": {
            "$ref": "VolumeDataRestorePolicyBinding"
          }
        },
        "restoreOrder": {
          "$ref": "RestoreOrder",
          "description": "Optional. RestoreOrder contains custom ordering to use on a Restore."
        },
        "excludedNamespaces": {
          "description": "A list of selected namespaces excluded from restoration. All namespaces except those in this list will be restored.",
          "$ref": "Namespaces"
        },
        "allNamespaces": {
          "description": "Restore all namespaced resources in the Backup if set to \"True\". Specifying this field to \"False\" is an error.",
          "type": "boolean"
        },
        "selectedApplications": {
          "description": "A list of selected ProtectedApplications to restore. The listed ProtectedApplications and all the resources to which they refer will be restored.",
          "$ref": "NamespacedNames"
        },
        "clusterResourceRestoreScope": {
          "description": "Optional. Identifies the cluster-scoped resources to restore from the Backup. Not specifying it means NO cluster resource will be restored.",
          "$ref": "ClusterResourceRestoreScope"
        },
        "volumeDataRestorePolicy": {
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ],
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ],
          "description": "Optional. Specifies the mechanism to be used to restore volume data. Default: VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED (will be treated as NO_VOLUME_DATA_RESTORATION).",
          "type": "string"
        },
        "clusterResourceConflictPolicy": {
          "description": "Optional. Defines the behavior for handling the situation where cluster-scoped resources being restored already exist in the target cluster. This MUST be set to a value other than CLUSTER_RESOURCE_CONFLICT_POLICY_UNSPECIFIED if cluster_resource_restore_scope is not empty.",
          "type": "string",
          "enum": [
            "CLUSTER_RESOURCE_CONFLICT_POLICY_UNSPECIFIED",
            "USE_EXISTING_VERSION",
            "USE_BACKUP_VERSION"
          ],
          "enumDescriptions": [
            "Unspecified. Only allowed if no cluster-scoped resources will be restored.",
            "Do not attempt to restore the conflicting resource.",
            "Delete the existing version before re-creating it from the Backup. This is a dangerous option which could cause unintentional data loss if used inappropriately. For example, deleting a CRD will cause Kubernetes to delete all CRs of that type."
          ]
        },
        "selectedNamespaces": {
          "description": "A list of selected Namespaces to restore from the Backup. The listed Namespaces and all resources contained in them will be restored.",
          "$ref": "Namespaces"
        }
      }
    },
    "ClusterResourceRestoreScope": {
      "description": "Defines the scope of cluster-scoped resources to restore. Some group kinds are not reasonable choices for a restore, and will cause an error if selected here. Any scope selection that would restore \"all valid\" resources automatically excludes these group kinds. - Node - ComponentStatus - gkebackup.gke.io/BackupJob - gkebackup.gke.io/RestoreJob - metrics.k8s.io/NodeMetrics - migration.k8s.io/StorageState - migration.k8s.io/StorageVersionMigration - snapshot.storage.k8s.io/VolumeSnapshotContent - storage.k8s.io/CSINode - storage.k8s.io/VolumeAttachment Some group kinds are driven by restore configuration elsewhere, and will cause an error if selected here. - Namespace - PersistentVolume",
      "type": "object",
      "id": "ClusterResourceRestoreScope",
      "properties": {
        "allGroupKinds": {
          "description": "Optional. If True, all valid cluster-scoped resources will be restored. Mutually exclusive to any other field in the message.",
          "type": "boolean"
        },
        "noGroupKinds": {
          "description": "Optional. If True, no cluster-scoped resources will be restored. This has the same restore scope as if the message is not defined. Mutually exclusive to any other field in the message.",
          "type": "boolean"
        },
        "selectedGroupKinds": {
          "items": {
            "$ref": "GroupKind"
          },
          "type": "array",
          "description": "Optional. A list of cluster-scoped resource group kinds to restore from the backup. If specified, only the selected resources will be restored. Mutually exclusive to any other field in the message."
        },
        "excludedGroupKinds": {
          "type": "array",
          "description": "Optional. A list of cluster-scoped resource group kinds to NOT restore from the backup. If specified, all valid cluster-scoped resources will be restored except for those specified in the list. Mutually exclusive to any other field in the message.",
          "items": {
            "$ref": "GroupKind"
          }
        }
      }
    },
    "GroupKindDependency": {
      "type": "object",
      "properties": {
        "satisfying": {
          "$ref": "GroupKind",
          "description": "Required. The satisfying group kind must be restored first in order to satisfy the dependency."
        },
        "requiring": {
          "description": "Required. The requiring group kind requires that the other group kind be restored first.",
          "$ref": "GroupKind"
        }
      },
      "id": "GroupKindDependency",
      "description": "Defines a dependency between two group kinds."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ResourceSelector": {
      "description": "Defines a selector to identify a single or a group of resources. Conditions in the selector are optional, but at least one field should be set to a non-empty value. If a condition is not specified, no restrictions will be applied on that dimension. If more than one condition is specified, a resource will be selected if and only if all conditions are met.",
      "id": "ResourceSelector",
      "properties": {
        "name": {
          "description": "Optional. Selects resources using their resource names. If specified, only resources with the provided name will be selected.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Selects resources using Kubernetes [labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/). If specified, a resource will be selected if and only if the resource has all of the provided labels and all the label values match.",
          "type": "object"
        },
        "namespace": {
          "description": "Optional. Selects resources using their namespaces. This only applies to namespace scoped resources and cannot be used for selecting cluster scoped resources. If specified, only resources in the provided namespace will be selected. If not specified, the filter will apply to both cluster scoped and namespace scoped resources (e.g. name or label). The [Namespace](https://pkg.go.dev/k8s.io/api/core/v1#Namespace) resource itself will be restored if and only if any resources within the namespace are restored.",
          "type": "string"
        },
        "groupKind": {
          "description": "Optional. Selects resources using their Kubernetes GroupKinds. If specified, only resources of provided GroupKind will be selected.",
          "$ref": "GroupKind"
        }
      },
      "type": "object"
    },
    "ListRestorePlansResponse": {
      "id": "ListRestorePlansResponse",
      "description": "Response message for ListRestorePlans.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListRestorePlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "restorePlans": {
          "items": {
            "$ref": "RestorePlan"
          },
          "description": "The list of RestorePlans matching the given criteria.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListVolumeBackupsResponse": {
      "id": "ListVolumeBackupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListVolumeBackups` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        },
        "volumeBackups": {
          "items": {
            "$ref": "VolumeBackup"
          },
          "type": "array",
          "description": "The list of VolumeBackups matching the given criteria."
        }
      },
      "description": "Response message for ListVolumeBackups."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "VolumeDataRestorePolicyBinding": {
      "id": "VolumeDataRestorePolicyBinding",
      "description": "Binds resources in the scope to the given VolumeDataRestorePolicy.",
      "properties": {
        "volumeType": {
          "type": "string",
          "description": "The volume type, as determined by the PVC's bound PV, to apply the policy to.",
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "enumDescriptions": [
            "Default",
            "Compute Engine Persistent Disk volume"
          ]
        },
        "policy": {
          "description": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope.",
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ],
          "type": "string",
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ]
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "RetentionPolicyDetails": {
      "id": "RetentionPolicyDetails",
      "description": "RetentionPolicyDetails defines a Backup retention policy for a BackupPlan.",
      "properties": {
        "backupDeleteLockDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum age for Backups created via this BackupPlan (in days). This field MUST be an integer value between 0-90 (inclusive). A Backup created under this BackupPlan will NOT be deletable until it reaches Backup's (create_time + backup_delete_lock_days). Updating this field of a BackupPlan does NOT affect existing Backups under it. Backups created AFTER a successful update will inherit the new value. Default: 0 (no delete blocking)"
        },
        "backupRetainDays": {
          "description": "Optional. The default maximum age of a Backup created via this BackupPlan. This field MUST be an integer value >= 0 and <= 365. If specified, a Backup created under this BackupPlan will be automatically deleted after its age reaches (create_time + backup_retain_days). If not specified, Backups created under this BackupPlan will NOT be subject to automatic deletion. Default: 0 (no automatic deletion)",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GetTagsRequest": {
      "type": "object",
      "description": "Request message for GetTags.",
      "id": "GetTagsRequest",
      "properties": {
        "name": {
          "description": "Required. The full resource name of the service resource.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "NamespacedName": {
      "type": "object",
      "id": "NamespacedName",
      "description": "A reference to a namespaced resource in Kubernetes.",
      "properties": {
        "name": {
          "description": "Optional. The name of the Kubernetes resource.",
          "type": "string"
        },
        "namespace": {
          "description": "Optional. The Namespace of the Kubernetes resource.",
          "type": "string"
        }
      }
    },
    "VolumeDataRestorePolicyOverride": {
      "id": "VolumeDataRestorePolicyOverride",
      "properties": {
        "policy": {
          "enumDescriptions": [
            "Unspecified (illegal).",
            "For each PVC to be restored, create a new underlying volume and PV from the corresponding VolumeBackup contained within the Backup.",
            "For each PVC to be restored, attempt to reuse the original PV contained in the Backup (with its original underlying volume). This option is likely only usable when restoring a workload to its original cluster.",
            "For each PVC to be restored, create PVC without any particular action to restore data. In this case, the normal Kubernetes provisioning logic would kick in, and this would likely result in either dynamically provisioning blank PVs or binding to statically provisioned PVs."
          ],
          "enum": [
            "VOLUME_DATA_RESTORE_POLICY_UNSPECIFIED",
            "RESTORE_VOLUME_DATA_FROM_BACKUP",
            "REUSE_VOLUME_HANDLE_FROM_BACKUP",
            "NO_VOLUME_DATA_RESTORATION"
          ],
          "description": "Required. The VolumeDataRestorePolicy to apply when restoring volumes in scope.",
          "type": "string"
        },
        "selectedPvcs": {
          "description": "A list of PVCs to apply the policy override to.",
          "$ref": "NamespacedNames"
        }
      },
      "description": "Defines an override to apply a VolumeDataRestorePolicy for scoped resources.",
      "type": "object"
    },
    "BDRBackupPlanJobLog": {
      "properties": {
        "jobId": {
          "type": "string",
          "description": "The job_id field displays the identifier of the job being reported."
        },
        "jobCategory": {
          "type": "string",
          "description": "The category field displays the category of the job. Can be one of [UPDATE_BACKUP_PLAN]."
        },
        "newBackupPlanRevisionName": {
          "description": "Full resource name for new backup plan revision",
          "type": "string"
        },
        "workloadsAffectedCount": {
          "description": "The total number of workloads affected by the job.",
          "type": "integer",
          "format": "int32"
        },
        "newBackupPlanRevisionId": {
          "type": "string",
          "description": "User friendly revision id e.g. v0, v1 etc."
        },
        "previousBackupPlanRevisionName": {
          "description": "Full resource name for previous backup plan revision",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of the job.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource_type field displays the type of the protected resource.",
          "type": "string"
        },
        "previousBackupPlanRevisionId": {
          "description": "User friendly revision id e.g. v0, v1 etc.",
          "type": "string"
        },
        "errorType": {
          "description": "The name of the error type eg. PERMISSION_DENIED. Only populated in error scenarios.",
          "type": "string"
        },
        "previousBackupRules": {
          "items": {
            "$ref": "BackupRuleDetail"
          },
          "type": "array",
          "description": "Previous Backup Plan rules."
        },
        "errorMessage": {
          "type": "string",
          "description": "The user readable error message. Only populated in error scenarios."
        },
        "jobStatus": {
          "description": "The status field displays the status of the job. Can be one of [RUNNING,SUCCESSFUL, FAILED].",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End time of the job.",
          "format": "google-datetime"
        },
        "backupPlanName": {
          "type": "string",
          "description": "Canonical resource name for Backup Plan Plan of the job."
        },
        "errorCode": {
          "description": "The error code. Only populated in error scenarios.",
          "type": "integer",
          "format": "int32"
        },
        "revisedBackupRules": {
          "type": "array",
          "items": {
            "$ref": "BackupRuleDetail"
          },
          "description": "Revised Backup Plan rules."
        }
      },
      "id": "BDRBackupPlanJobLog",
      "description": "Log entry for BDRBackupPlanJobLog for resources using BackupPlan based protection.",
      "type": "object"
    },
    "ExclusionWindow": {
      "id": "ExclusionWindow",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Specifies the start time of the window using time of the day in UTC.",
          "$ref": "TimeOfDay"
        },
        "daily": {
          "type": "boolean",
          "description": "The exclusion window occurs every day if set to \"True\". Specifying this field to \"False\" is an error."
        },
        "duration": {
          "description": "Required. Specifies duration of the window. Duration must be >= 5 minutes and < (target RPO - 20 minutes). Additional restrictions based on the recurrence type to allow some time for backup to happen: - single_occurrence_date: no restriction, but UI may warn about this when duration >= target RPO - daily window: duration < 24 hours - weekly window: - days of week includes all seven days of a week: duration < 24 hours - all other weekly window: duration < 168 hours (i.e., 24 * 7 hours)",
          "type": "string",
          "format": "google-duration"
        },
        "singleOccurrenceDate": {
          "description": "No recurrence. The exclusion window occurs only once and on this date in UTC.",
          "$ref": "Date"
        },
        "daysOfWeek": {
          "description": "The exclusion window occurs on these days of each week in UTC.",
          "$ref": "DayOfWeekList"
        }
      },
      "description": "Defines a time window during which no backup should happen. All time and date are in UTC."
    },
    "VolumeBackup": {
      "type": "object",
      "id": "VolumeBackup",
      "description": "Represents the backup of a specific persistent volume as a component of a Backup - both the record of the operation and a pointer to the underlying storage-specific artifacts.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this VolumeBackup resource was created."
        },
        "sourcePvc": {
          "$ref": "NamespacedName",
          "readOnly": true,
          "description": "Output only. A reference to the source Kubernetes PVC from which this VolumeBackup was created."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this VolumeBackup resource was last updated.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the VolumeBackup resource. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format."
        },
        "completeTime": {
          "description": "Output only. The timestamp when the associated underlying volume backup operation completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "storageBytes": {
          "format": "int64",
          "description": "Output only. The aggregate size of the underlying artifacts associated with this VolumeBackup in the backup storage. This may change over time when multiple backups of the same volume share the same backup storage location. In particular, this is likely to increase in size when the immediately preceding backup of the same volume is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "readOnly": true,
          "enum": [
            "VOLUME_BACKUP_FORMAT_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "enumDescriptions": [
            "Default value, not specified.",
            "Compute Engine Persistent Disk snapshot based volume backup."
          ],
          "type": "string",
          "description": "Output only. The format used for the volume backup."
        },
        "satisfiesPzi": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A human readable message explaining why the VolumeBackup is in its current state. This field is only meant for human consumption and should not be used programmatically as this field is not guaranteed to be consistent.",
          "readOnly": true
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "Output only. The minimum size of the disk to which this VolumeBackup can be restored.",
          "readOnly": true,
          "format": "int64"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of this VolumeBackup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SNAPSHOTTING",
            "UPLOADING",
            "SUCCEEDED",
            "FAILED",
            "DELETING",
            "CLEANED_UP"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "This is an illegal state and should not be encountered.",
            "A volume for the backup was identified and backup process is about to start.",
            "The volume backup operation has begun and is in the initial \"snapshot\" phase of the process. Any defined ProtectedApplication \"pre\" hooks will be executed before entering this state and \"post\" hooks will be executed upon leaving this state.",
            "The snapshot phase of the volume backup operation has completed and the snapshot is now being uploaded to backup storage.",
            "The volume backup operation has completed successfully.",
            "The volume backup operation has failed.",
            "This VolumeBackup resource (and its associated artifacts) is in the process of being deleted.",
            "The underlying artifacts of a volume backup (eg: persistent disk snapshots) are deleted."
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume backup from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume backup updates in order to avoid race conditions.",
          "readOnly": true
        },
        "volumeBackupHandle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A storage system-specific opaque handle to the underlying volume backup."
        }
      }
    },
    "SetTagsResponse": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Tag keys/values directly bound to this resource. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\"",
          "type": "object"
        },
        "name": {
          "description": "Required. The full resource name of the service resource.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "A checksum based on the current bindings. This field is always set in server responses."
        }
      },
      "description": "Response message for SetTags.",
      "id": "SetTagsResponse",
      "type": "object"
    },
    "ListBackupsResponse": {
      "description": "Response message for ListBackups.",
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "backups": {
          "type": "array",
          "description": "The list of Backups matching the given criteria.",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackups` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "TransformationRule": {
      "id": "TransformationRule",
      "properties": {
        "resourceFilter": {
          "description": "Optional. This field is used to specify a set of fields that should be used to determine which resources in backup should be acted upon by the supplied transformation rule actions, and this will ensure that only specific resources are affected by transformation rule actions.",
          "$ref": "ResourceFilter"
        },
        "fieldActions": {
          "items": {
            "$ref": "TransformationRuleAction"
          },
          "description": "Required. A list of transformation rule actions to take against candidate resources. Actions are executed in order defined - this order matters, as they could potentially interfere with each other and the first operation could affect the outcome of the second operation.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description is a user specified string description of the transformation rule."
        }
      },
      "type": "object",
      "description": "A transformation rule to be applied against Kubernetes resources as they are selected for restoration from a Backup. A rule contains both filtering logic (which resources are subject to transform) and transformation logic."
    },
    "BackupConfigDetails": {
      "properties": {
        "encryptionKey": {
          "readOnly": true,
          "description": "Output only. This defines a customer managed encryption key that will be used to encrypt the \"config\" portion (the Kubernetes resources) of Backups created via this plan. Default (empty): Config backup artifacts will not be encrypted.",
          "$ref": "EncryptionKey"
        },
        "selectedNamespaces": {
          "description": "Output only. If set, include just the resources in the listed namespaces.",
          "readOnly": true,
          "$ref": "Namespaces"
        },
        "allNamespaces": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If True, include all namespaced resources"
        },
        "selectedApplications": {
          "readOnly": true,
          "$ref": "NamespacedNames",
          "description": "Output only. If set, include just the resources referenced by the listed ProtectedApplications."
        },
        "includeVolumeData": {
          "readOnly": true,
          "description": "Output only. This flag specifies whether volume data should be backed up when PVCs are included in the scope of a Backup. Default: False",
          "type": "boolean"
        },
        "includeSecrets": {
          "description": "Output only. This flag specifies whether Kubernetes Secret resources should be included when they fall into the scope of Backups. Default: False",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "BackupConfigDetails",
      "description": "BackupConfigDetails defines the configuration of Backups created via this BackupPlan.",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "RetentionPolicy": {
      "type": "object",
      "properties": {
        "backupDeleteLockDays": {
          "description": "Optional. Minimum age for Backups created via this BackupPlan (in days). This field MUST be an integer value between 0-90 (inclusive). A Backup created under this BackupPlan will NOT be deletable until it reaches Backup's (create_time + backup_delete_lock_days). Updating this field of a BackupPlan does NOT affect existing Backups under it. Backups created AFTER a successful update will inherit the new value. Default: 0 (no delete blocking)",
          "type": "integer",
          "format": "int32"
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. This flag denotes whether the retention policy of this BackupPlan is locked. If set to True, no further update is allowed on this policy, including the `locked` field itself. Default: False"
        },
        "backupRetainDays": {
          "type": "integer",
          "description": "Optional. The default maximum age of a Backup created via this BackupPlan. This field MUST be an integer value >= 0 and <= 365. If specified, a Backup created under this BackupPlan will be automatically deleted after its age reaches (create_time + backup_retain_days). If not specified, Backups created under this BackupPlan will NOT be subject to automatic deletion. Updating this field does NOT affect existing Backups under it. Backups created AFTER a successful update will automatically pick up the new value. NOTE: backup_retain_days must be >= backup_delete_lock_days. If cron_schedule is defined, then this must be <= 360 * the creation interval. If rpo_config is defined, then this must be <= 360 * target_rpo_minutes / (1440minutes/day). Default: 0 (no automatic deletion)",
          "format": "int32"
        }
      },
      "description": "RetentionPolicy defines a Backup retention policy for a BackupPlan.",
      "id": "RetentionPolicy"
    },
    "GetBackupIndexDownloadUrlResponse": {
      "description": "Response message for GetBackupIndexDownloadUrl.",
      "id": "GetBackupIndexDownloadUrlResponse",
      "type": "object",
      "properties": {
        "signedUrl": {
          "type": "string",
          "description": "Required. The signed URL for downloading the backup index."
        }
      }
    },
    "VolumeRestore": {
      "id": "VolumeRestore",
      "properties": {
        "state": {
          "enumDescriptions": [
            "This is an illegal state and should not be encountered.",
            "A volume for the restore was identified and restore process is about to start.",
            "The volume is currently being restored.",
            "The volume has been successfully restored.",
            "The volume restoration process failed.",
            "This VolumeRestore resource is in the process of being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESTORING",
            "SUCCEEDED",
            "FAILED",
            "DELETING"
          ],
          "description": "Output only. The current state of this VolumeRestore.",
          "readOnly": true
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the associated underlying volume restoration completed.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format."
        },
        "volumeHandle": {
          "type": "string",
          "description": "Output only. A storage system-specific opaque handler to the underlying volume created for the target PVC from the volume backup.",
          "readOnly": true
        },
        "volumeType": {
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GCE_PERSISTENT_DISK"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default",
            "Compute Engine Persistent Disk volume"
          ],
          "description": "Output only. The type of volume provisioned"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full name of the VolumeRestore resource. Format: `projects/*/locations/*/restorePlans/*/restores/*/volumeRestores/*`",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a volume restore from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform volume restore updates in order to avoid race conditions."
        },
        "volumeBackup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the VolumeBackup from which the volume will be restored. Format: `projects/*/locations/*/backupPlans/*/backups/*/volumeBackups/*`."
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A human readable message explaining why the VolumeRestore is in its current state.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when this VolumeRestore resource was last updated.",
          "format": "google-datetime"
        },
        "targetPvc": {
          "$ref": "NamespacedName",
          "description": "Output only. The reference to the target Kubernetes PVC to be restored.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this VolumeRestore resource was created.",
          "readOnly": true
        }
      },
      "description": "Represents the operation of restoring a volume from a VolumeBackup.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "BackupChannel": {
      "id": "BackupChannel",
      "description": "A BackupChannel imposes constraints on where clusters can be backed up. The BackupChannel should be in the same project and region as the cluster being backed up. The backup can be created only in destination_project.",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format."
        },
        "destinationProject": {
          "type": "string",
          "description": "Required. Immutable. The project where Backups are allowed to be stored. The format is `projects/{projectId}` or `projects/{projectNumber}`."
        },
        "createTime": {
          "description": "Output only. The timestamp when this BackupChannel resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when this BackupChannel resource was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The fully qualified name of the BackupChannel. `projects/*/locations/*/backupChannels/*`",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a BackupChannel from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform BackupChannel updates in order to avoid race conditions: An `etag` is returned in the response to `GetBackupChannel`, and systems are expected to put that etag in the request to `UpdateBackupChannel` or `DeleteBackupChannel` to ensure that their change will be applied to the same version of the resource.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User specified descriptive string for this BackupChannel."
        },
        "labels": {
          "description": "Optional. A set of custom labels supplied by user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "destinationProjectId": {
          "type": "string",
          "description": "Output only. The project_id where Backups are allowed to be stored. Example Project ID: \"my-project-id\". This will be an OUTPUT_ONLY field to return the project_id of the destination project.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListBackupPlanBindingsResponse": {
      "description": "Response message for ListBackupPlanBindings.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanBindingss` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "backupPlanBindings": {
          "description": "The list of BackupPlanBindings matching the given criteria.",
          "items": {
            "$ref": "BackupPlanBinding"
          },
          "type": "array"
        }
      },
      "id": "ListBackupPlanBindingsResponse",
      "type": "object"
    },
    "ListBackupChannelsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which may be sent as page_token in a subsequent `ListBackupChannels` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return."
        },
        "backupChannels": {
          "type": "array",
          "description": "The list of BackupChannels matching the given criteria.",
          "items": {
            "$ref": "BackupChannel"
          }
        }
      },
      "description": "Response message for ListBackupChannels.",
      "id": "ListBackupChannelsResponse",
      "type": "object"
    },
    "BackupPlan": {
      "id": "BackupPlan",
      "description": "Defines the configuration and scheduling for a \"line\" of Backups.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The full name of the BackupPlan resource. Format: `projects/*/locations/*/backupPlans/*`"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this BackupPlan resource was last updated."
        },
        "rpoRiskLevel": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. A number that represents the current risk level of this BackupPlan from RPO perspective with 1 being no risk and 5 being highest risk."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this BackupPlan resource was created."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default first value for Enums.",
            "Waiting for cluster state to be RUNNING.",
            "The BackupPlan is in the process of being created.",
            "The BackupPlan has successfully been created and is ready for Backups.",
            "BackupPlan creation has failed.",
            "The BackupPlan has been deactivated.",
            "The BackupPlan is in the process of being deleted."
          ],
          "description": "Output only. State of the BackupPlan. This State field reflects the various stages a BackupPlan can be in during the Create operation. It will be set to \"DEACTIVATED\" if the BackupPlan is deactivated on an Update",
          "enum": [
            "STATE_UNSPECIFIED",
            "CLUSTER_PENDING",
            "PROVISIONING",
            "READY",
            "FAILED",
            "DEACTIVATED",
            "DELETING"
          ],
          "type": "string"
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "Optional. Defines the configuration of Backups created via this BackupPlan."
        },
        "backupSchedule": {
          "description": "Optional. Defines a schedule for automatic Backup creation via this BackupPlan.",
          "$ref": "Schedule"
        },
        "backupChannel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified name of the BackupChannel to be used to create a backup. This field is set only if the cluster being backed up is in a different project. `projects/*/locations/*/backupChannels/*`"
        },
        "stateReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable description of why BackupPlan is in the current `state`. This field is only meant for human readability and should not be used programmatically as this field is not guaranteed to be consistent."
        },
        "cluster": {
          "type": "string",
          "description": "Required. Immutable. The source cluster from which Backups will be created via this BackupPlan. Valid formats: - `projects/*/locations/*/clusters/*` - `projects/*/zones/*/clusters/*`"
        },
        "etag": {
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a backup plan from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform BackupPlan updates in order to avoid race conditions: An `etag` is returned in the response to `GetBackupPlan`, and systems are expected to put that etag in the request to `UpdateBackupPlan` or `DeleteBackupPlan` to ensure that their change will be applied to the same version of the resource.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A set of custom labels supplied by user."
        },
        "lastSuccessfulBackupTime": {
          "readOnly": true,
          "description": "Output only. Completion time of the last successful Backup. This is sourced from a successful Backup's complete_time field. This field is added to maintain consistency with BackupPlanBinding to display last successful backup time.",
          "type": "string",
          "format": "google-datetime"
        },
        "protectedNamespaceCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of user managed namespaces backed up in the last successful Backup created via this BackupPlan."
        },
        "deactivated": {
          "type": "boolean",
          "description": "Optional. This flag indicates whether this BackupPlan has been deactivated. Setting this field to True locks the BackupPlan such that no further updates will be allowed (except deletes), including the deactivated field itself. It also prevents any new Backups from being created via this BackupPlan (including scheduled Backups). Default: False"
        },
        "rpoRiskReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable description of why the BackupPlan is in the current rpo_risk_level and action items if any."
        },
        "protectedPodCount": {
          "description": "Output only. The number of Kubernetes Pods backed up in the last successful Backup created via this BackupPlan.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "retentionPolicy": {
          "description": "Optional. RetentionPolicy governs lifecycle of Backups created under this plan.",
          "$ref": "RetentionPolicy"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User specified descriptive string for this BackupPlan.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "SetTagsRequest": {
      "description": "Request message for SetTags.",
      "type": "object",
      "id": "SetTagsRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A unique identifier for this request. Must be a valid UUID. This request is only idempotent if a `request_id` is provided.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The full resource name of the service resource."
        },
        "etag": {
          "type": "string",
          "description": "Optional. A checksum based on the current bindings which can be passed to prevent race conditions. If not passed, etag check would be skipped."
        },
        "tags": {
          "description": "Required. These bindings will override any bindings previously set and will be effective immediately. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RestorePlanBinding": {
      "properties": {
        "restorePlan": {
          "type": "string",
          "description": "Output only. The fully qualified name of the RestorePlan bound to this RestoreChannel. `projects/*/locations/*/restorePlans/{restore_plan}`",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this binding was created."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this binding was created.",
          "readOnly": true
        },
        "backupPlan": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the BackupPlan bound to the specified RestorePlan. `projects/*/locations/*/backukpPlans/{backup_plan}`",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server generated global unique identifier of [UUID4](https://en.wikipedia.org/wiki/Universally_unique_identifier)",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The fully qualified name of the RestorePlanBinding. `projects/*/locations/*/restoreChannels/*/restorePlanBindings/*`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a RestorePlanBinding from overwriting each other. It is strongly suggested that systems make use of the 'etag' in the read-modify-write cycle to perform RestorePlanBinding updates in order to avoid race conditions: An `etag` is returned in the response to `GetRestorePlanBinding`, and systems are expected to put that etag in the request to `UpdateRestorePlanBinding` or `DeleteRestorePlanBinding` to ensure that their change will be applied to the same version of the resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A RestorePlanBinding binds a RestorePlan with a RestoreChannel. This resource is created automatically when a RestorePlan is created using a RestoreChannel. This also serves as a holder for cross-project fields that need to be displayed in the current project.",
      "id": "RestorePlanBinding"
    },
    "SubstitutionRule": {
      "id": "SubstitutionRule",
      "type": "object",
      "description": "A transformation rule to be applied against Kubernetes resources as they are selected for restoration from a Backup. A rule contains both filtering logic (which resources are subject to substitution) and substitution logic.",
      "properties": {
        "targetJsonPath": {
          "type": "string",
          "description": "Required. This is a [JSONPath] (https://kubernetes.io/docs/reference/kubectl/jsonpath/) expression that matches specific fields of candidate resources and it operates as both a filtering parameter (resources that are not matched with this expression will not be candidates for substitution) as well as a field identifier (identifies exactly which fields out of the candidate resources will be modified)."
        },
        "targetNamespaces": {
          "type": "array",
          "description": "Optional. (Filtering parameter) Any resource subject to substitution must be contained within one of the listed Kubernetes Namespace in the Backup. If this field is not provided, no namespace filtering will be performed (all resources in all Namespaces, including all cluster-scoped resources, will be candidates for substitution). To mix cluster-scoped and namespaced resources in the same rule, use an empty string (\"\") as one of the target namespaces.",
          "items": {
            "type": "string"
          }
        },
        "originalValuePattern": {
[...]
