{
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "baseUrl": "https://gkehub.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "rootUrl": "https://gkehub.googleapis.com/",
  "name": "gkehub",
  "version_module": true,
  "canonicalName": "GKE Hub",
  "version": "v1alpha",
  "schemas": {
    "FeatureSpec": {
      "id": "FeatureSpec",
      "type": "object",
      "description": "**Workload Certificate**: The Hub-wide input for the WorkloadCertificate feature.",
      "properties": {
        "provisionGoogleCa": {
          "enumDescriptions": [
            "Disable default Google managed CA.",
            "Disable default Google managed CA.",
            "Use default Google managed CA.",
            "Workload certificate feature is enabled, and the entire certificate provisioning process is managed by Google with managed CAS which is more secure than the default CA.",
            "Workload certificate feature is enabled, and the entire certificate provisioning process is using the default CA which is free."
          ],
          "description": "Immutable. Specifies CA configuration.",
          "enum": [
            "GOOGLE_CA_PROVISIONING_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "ENABLED_WITH_MANAGED_CA",
            "ENABLED_WITH_DEFAULT_CA"
          ],
          "type": "string"
        },
        "defaultConfig": {
          "description": "Specifies default membership spec. Users can override the default in the member_configs for each member.",
          "$ref": "MembershipSpec"
        }
      }
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "description": "Deployment-specific configuration.",
      "properties": {
        "replicaCount": {
          "type": "string",
          "format": "int64",
          "description": "Pod replica count."
        },
        "podTolerations": {
          "description": "Pod tolerations of node taints.",
          "type": "array",
          "items": {
            "$ref": "PolicyControllerToleration"
          }
        },
        "podAffinity": {
          "type": "string",
          "description": "Pod affinity configuration.",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ],
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ]
        },
        "podAntiAffinity": {
          "deprecated": true,
          "type": "boolean",
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead."
        },
        "containerResources": {
          "description": "Container resource requirements.",
          "$ref": "PolicyControllerResourceRequirements"
        }
      },
      "type": "object",
      "id": "PolicyControllerPolicyControllerDeploymentConfig"
    },
    "ScopeLifecycleState": {
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "properties": {
        "code": {
          "description": "Output only. The current state of the scope resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "readOnly": true
        }
      },
      "id": "ScopeLifecycleState",
      "type": "object"
    },
    "Scope": {
      "type": "object",
      "id": "Scope",
      "description": "Scope represents a Scope in a Fleet.",
      "properties": {
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the scope was last updated."
        },
        "state": {
          "description": "Output only. State of the scope resource.",
          "$ref": "ScopeLifecycleState",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. When the scope was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the scope was deleted."
        },
        "namespaceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Scope-level cluster namespace labels. For the member clusters bound to the Scope, these labels are applied to each namespace under the Scope. Scope-level labels take precedence over Namespace-level labels (`namespace_labels` in the Fleet Namespace resource) if they share a key. Keys and values must be Kubernetes-conformant."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`"
        },
        "labels": {
          "description": "Optional. Labels for this Scope.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "IdentityServiceGoogleConfig"
    },
    "AppDevExperienceFeatureState": {
      "description": "State for App Dev Exp Feature.",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "AppDevExperienceFeatureState"
    },
    "FleetObservabilityFeatureState": {
      "type": "object",
      "id": "FleetObservabilityFeatureState",
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "properties": {
        "logging": {
          "description": "The feature state of default logging.",
          "$ref": "FleetObservabilityFleetObservabilityLoggingState"
        },
        "monitoring": {
          "description": "The feature state of fleet monitoring.",
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState"
        }
      }
    },
    "FleetObservabilityMembershipSpec": {
      "description": "**FleetObservability**: The membership-specific input for FleetObservability feature.",
      "properties": {},
      "id": "FleetObservabilityMembershipSpec",
      "type": "object"
    },
    "Origin": {
      "description": "Origin defines where this MembershipFeatureSpec originated from.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Membership spec was inherited from a user specification."
          ],
          "description": "Type specifies which type of origin is set.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Origin"
    },
    "MembershipSpec": {
      "description": "**Workload Certificate**: The membership-specific input for WorkloadCertificate feature.",
      "properties": {
        "certificateManagement": {
          "description": "Specifies workload certificate management.",
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "MembershipSpec"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResourceOptions": {
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "properties": {
        "connectVersion": {
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected.",
          "type": "string"
        },
        "v1beta1Crd": {
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions <1.16.",
          "type": "boolean"
        },
        "k8sGitVersion": {
          "type": "string",
          "description": "Optional. Git version of the Kubernetes cluster. This is only used to gate the Connect Agent migration to svc.id.goog on GDC-SO 1.33.100 patch and above."
        },
        "k8sVersion": {
          "type": "string",
          "description": "Optional. Major and minor version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`."
        }
      },
      "id": "ResourceOptions",
      "type": "object"
    },
    "PauseRolloutRequest": {
      "type": "object",
      "id": "PauseRolloutRequest",
      "description": "Request message for pausing a rollout.",
      "properties": {}
    },
    "OperationalState": {
      "description": "Operational state of the Rollout Sequence.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The Rollout Sequence is active.",
            "The Rollout Sequence has warnings. It is still functioning but performance may be degraded.",
            "The Rollout Sequence has errors and is not functioning.",
            "The Rollout Sequence is being initialized."
          ],
          "readOnly": true,
          "description": "Output only. State of the Rollout Sequence.",
          "enum": [
            "STATE_CODE_UNSPECIFIED",
            "ACTIVE",
            "WARNING",
            "ERROR",
            "INITIALIZING"
          ],
          "type": "string"
        },
        "reasons": {
          "description": "Output only. Reasons for the Rollout Sequence state.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "FLEET_FEATURE_DELETED_ERROR",
              "FLEET_DELETED_ERROR",
              "EMPTY_STAGE_WARNING",
              "MIXED_RELEASE_CHANNELS_WARNING",
              "INTERNAL_ERROR",
              "NO_CLUSTERS_IN_SEQUENCE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "A fleet feature is deleted.",
              "A fleet is deleted.",
              "A stage is empty.",
              "Mixed release channels in the sequence.",
              "Internal error, for example when host project is soft-deleted.",
              "Sequence has no clusters."
            ]
          }
        },
        "stateChangeTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp at which the operational state was last changed. Used to track how long it has been in the current state."
        }
      },
      "type": "object",
      "id": "OperationalState"
    },
    "FeatureResourceState": {
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Fleet and across Memberships.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Fleet.",
            "The Feature is enabled in this Fleet, and the Feature resource is fully available.",
            "The Feature is being disabled in this Fleet, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "description": "The current state of the Feature resource in the Hub API.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "id": "FeatureResourceState",
      "type": "object"
    },
    "WorkloadIdentityFeatureSpec": {
      "description": "**WorkloadIdentity**: Global feature specification.",
      "properties": {
        "scopeTenancyPool": {
          "description": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkloadIdentityFeatureSpec"
    },
    "ConfigManagementMembershipSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "properties": {
        "configSync": {
          "description": "Optional. Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "hierarchyController": {
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "deprecated": true
        },
        "policyController": {
          "deprecated": true,
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "$ref": "ConfigManagementPolicyController"
        },
        "cluster": {
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        },
        "binauthz": {
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "$ref": "ConfigManagementBinauthzConfig",
          "deprecated": true
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy."
        },
        "management": {
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "deprecated": true,
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigManagementMembershipSpec"
    },
    "CommonFeatureState": {
      "description": "CommonFeatureState contains Fleet-wide Feature status information.",
      "properties": {
        "rbacrolebindingactuation": {
          "description": "RBAC Role Binding Actuation feature state",
          "$ref": "RBACRoleBindingActuationFeatureState"
        },
        "fleetobservability": {
          "description": "FleetObservability feature state.",
          "$ref": "FleetObservabilityFeatureState"
        },
        "namespaceactuation": {
          "description": "Namespace Actuation feature state.",
          "$ref": "NamespaceActuationFeatureState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "clusterupgrade": {
          "description": "ClusterUpgrade fleet-level state.",
          "$ref": "ClusterUpgradeFleetState"
        },
        "workloadidentity": {
          "description": "WorkloadIdentity fleet-level state.",
          "$ref": "WorkloadIdentityFeatureState"
        },
        "servicemesh": {
          "description": "Service Mesh-specific state.",
          "$ref": "ServiceMeshFeatureState"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The \"running state\" of the Feature in this Fleet.",
          "$ref": "FeatureState"
        }
      },
      "id": "CommonFeatureState",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "CommonFeatureSpec": {
      "description": "CommonFeatureSpec contains Fleet-wide configuration information",
      "properties": {
        "mesh": {
          "description": "Servicemesh feature spec.",
          "$ref": "ServiceMeshFeatureSpec"
        },
        "namespaceactuation": {
          "description": "Namespace Actuation feature spec",
          "$ref": "NamespaceActuationFeatureSpec"
        },
        "dataplanev2": {
          "description": "DataplaneV2 feature spec.",
          "$ref": "DataplaneV2FeatureSpec"
        },
        "clusterupgrade": {
          "description": "ClusterUpgrade (fleet-based) feature spec.",
          "$ref": "ClusterUpgradeFleetSpec"
        },
        "workloadidentity": {
          "description": "Workload Identity feature spec.",
          "$ref": "WorkloadIdentityFeatureSpec"
        },
        "rbacrolebindingactuation": {
          "description": "RBAC Role Binding Actuation feature spec",
          "$ref": "RBACRoleBindingActuationFeatureSpec"
        },
        "multiclusteringress": {
          "description": "Multicluster Ingress-specific spec.",
          "$ref": "MultiClusterIngressFeatureSpec"
        },
        "cloudauditlogging": {
          "description": "Cloud Audit Logging-specific spec.",
          "$ref": "CloudAuditLoggingFeatureSpec"
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "FeatureSpec"
        },
        "fleetobservability": {
          "description": "FleetObservability feature spec.",
          "$ref": "FleetObservabilityFeatureSpec"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific spec.",
          "$ref": "AppDevExperienceFeatureSpec"
        }
      },
      "id": "CommonFeatureSpec",
      "type": "object"
    },
    "ConfigManagementGroupVersionKind": {
      "type": "object",
      "id": "ConfigManagementGroupVersionKind",
      "description": "A Kubernetes object's GVK",
      "properties": {
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        }
      }
    },
    "GenerateMembershipRBACRoleBindingYAMLResponse": {
      "id": "GenerateMembershipRBACRoleBindingYAMLResponse",
      "type": "object",
      "description": "Response for GenerateRBACRoleBindingYAML.",
      "properties": {
        "roleBindingsYaml": {
          "type": "string",
          "description": "a yaml text blob including the RBAC policies."
        }
      }
    },
    "MembershipEndpoint": {
      "type": "object",
      "id": "MembershipEndpoint",
      "description": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata.",
      "properties": {
        "kubernetesResource": {
          "description": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features.",
          "$ref": "KubernetesResource"
        },
        "gkeCluster": {
          "description": "Optional. Specific information for a GKE on Google Cloud cluster.",
          "$ref": "GkeCluster"
        },
        "onPremCluster": {
          "description": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead.",
          "$ref": "OnPremCluster"
        },
        "multiCloudCluster": {
          "description": "Optional. Specific information for a GKE Multi-Cloud cluster.",
          "$ref": "MultiCloudCluster"
        },
        "applianceCluster": {
          "description": "Optional. Specific information for a GDC Edge Appliance cluster.",
          "$ref": "ApplianceCluster"
        },
        "edgeCluster": {
          "description": "Optional. Specific information for a Google Edge cluster.",
          "$ref": "EdgeCluster"
        },
        "kubernetesMetadata": {
          "readOnly": true,
          "description": "Output only. Useful Kubernetes-specific metadata.",
          "$ref": "KubernetesMetadata"
        },
        "googleManaged": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the lifecycle of this membership is managed by a google cluster platform service."
        }
      }
    },
    "Membership": {
      "description": "Membership contains information about a member cluster.",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes."
        },
        "labels": {
          "description": "Optional. Labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. When the Membership was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "clusterTier": {
          "readOnly": true,
          "enumDescriptions": [
            "The ClusterTier is not set.",
            "The ClusterTier is standard.",
            "The ClusterTier is enterprise."
          ],
          "type": "string",
          "description": "Output only. The tier of the cluster.",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ]
        },
        "name": {
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. When the Membership was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lastConnectionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset."
        },
        "membershipType": {
          "description": "Output only. The type of the membership.",
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "readOnly": true
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the Membership resource.",
          "$ref": "MembershipState"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Membership was deleted."
        },
        "monitoringConfig": {
          "description": "Optional. The monitoring config information for this membership.",
          "$ref": "MonitoringConfig"
        },
        "externalId": {
          "type": "string",
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
        },
        "authority": {
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
          "$ref": "Authority"
        }
      },
      "id": "Membership",
      "type": "object"
    },
    "ConfigManagementConfigSync": {
      "type": "object",
      "id": "ConfigManagementConfigSync",
      "description": "Configuration for Config Sync",
      "properties": {
        "stopSyncing": {
          "type": "boolean",
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false."
        },
        "deploymentOverrides": {
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          }
        },
        "oci": {
          "description": "Optional. OCI repo configuration for the cluster",
          "$ref": "ConfigManagementOciConfig"
        },
        "sourceFormat": {
          "type": "string",
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation."
        },
        "git": {
          "description": "Optional. Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "metricsGcpServiceAccountEmail": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
        },
        "enabled": {
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present.",
          "type": "boolean"
        }
      }
    },
    "IdentityServiceMembershipSpec": {
      "type": "object",
      "id": "IdentityServiceMembershipSpec",
      "description": "**Anthos Identity Service**: Configuration for a single Membership.",
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        },
        "identityServiceOptions": {
          "description": "Optional. non-protocol-related configuration options.",
          "$ref": "IdentityServiceIdentityServiceOptions"
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "description": "Structured and human-readable details for a status.",
      "properties": {
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        }
      },
      "id": "ServiceMeshStatusDetails",
      "type": "object"
    },
    "NamespaceActuationFeatureSpec": {
      "type": "object",
      "id": "NamespaceActuationFeatureSpec",
      "description": "An empty spec for actuation feature. This is required since Feature proto requires a spec.",
      "properties": {
        "actuationMode": {
          "type": "string",
          "enumDescriptions": [
            "ACTUATION_MODE_UNSPECIFIED is similar to CREATE_AND_DELETE_IF_CREATED in the default controller behavior.",
            "ACTUATION_MODE_CREATE_AND_DELETE_IF_CREATED has the controller create cluster namespaces for each fleet namespace and it deletes only the ones it created, which are identified by a label.",
            "ACTUATION_MODE_ADD_AND_REMOVE_FLEET_LABELS has the controller only apply labels to cluster namespaces to signal fleet namespace enablement. It doesn't create or delete cluster namespaces."
          ],
          "description": "actuation_mode controls the behavior of the controller",
          "enum": [
            "ACTUATION_MODE_UNSPECIFIED",
            "ACTUATION_MODE_CREATE_AND_DELETE_IF_CREATED",
            "ACTUATION_MODE_ADD_AND_REMOVE_FLEET_LABELS"
          ]
        }
      }
    },
    "NamespaceActuationMembershipSpec": {
      "type": "object",
      "id": "NamespaceActuationMembershipSpec",
      "description": "**Namespace Actuation**: The membership-specific input for NamespaceActuation feature.",
      "properties": {}
    },
    "ClusterSelector": {
      "id": "ClusterSelector",
      "type": "object",
      "description": "Selector for clusters.",
      "properties": {
        "labelSelector": {
          "type": "string",
          "description": "Required. A valid CEL (Common Expression Language) expression which evaluates `resource.labels`."
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "type": "object",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      }
    },
    "IdentityServiceSimpleBindCredentials": {
      "type": "object",
      "id": "IdentityServiceSimpleBindCredentials",
      "description": "The structure holds the LDAP simple binding credential.",
      "properties": {
        "dn": {
          "description": "Required. The distinguished name(DN) of the service account object/user.",
          "type": "string"
        },
        "encryptedPassword": {
          "type": "string",
          "readOnly": true,
          "format": "byte",
          "description": "Output only. The encrypted password of the service account object/user."
        },
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        }
      }
    },
    "PolicyControllerMonitoringConfig": {
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PolicyControllerMonitoringConfig"
    },
    "ConfigManagementOperatorState": {
      "description": "State information for an ACM's Operator",
      "properties": {
        "errors": {
          "description": "Install errors.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          }
        },
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator"
        },
        "deploymentState": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "description": "The state of the Operator's deployment",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      },
      "type": "object",
      "id": "ConfigManagementOperatorState"
    },
    "WorkloadIdentityMembershipState": {
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        },
        "identityProviderStateDetails": {
          "description": "The state of the Identity Providers corresponding to the membership.",
          "type": "object",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          }
        }
      },
      "id": "WorkloadIdentityMembershipState",
      "type": "object"
    },
    "ServiceMeshDataPlaneManagement": {
      "type": "object",
      "id": "ServiceMeshDataPlaneManagement",
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "description": "Lifecycle status of data plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of the status."
        }
      }
    },
    "UpgradeRolloutSequenceRequest": {
      "id": "UpgradeRolloutSequenceRequest",
      "type": "object",
      "description": "Request message for upgrading a rollout sequence.",
      "properties": {
        "soakDurationOverridePerStage": {
          "description": "Optional. Overrides the soak durations for specific stages of the rollout.",
          "$ref": "PerStageSoakDurationOverrides"
        },
        "version": {
          "type": "string",
          "description": "Required. GKE version to upgrade to. A valid GKE version available on the release channel used by the sequence. Patch versions from less conservative channels are allowed if their minor version is already available in the sequence's channel. This is similar to single-cluster upgrade rules, see https://cloud.google.com/kubernetes-engine/docs/how-to/upgrading-a-cluster#supported-versions Example: With the following versions available on the RAPID and REGULAR channels: * REGULAR: 1.35.3-gke.123000 * RAPID: 1.36.4-gke.321000, 1.35.6-gke.045000 Valid versions are 1.35.3-gke.123, 1.35.6-gke.045000 Aliases like `latest` are supported. For more information on valid upgrade versions and specifying cluster versions, see: https://cloud.google.com/kubernetes-engine/versioning#specifying_cluster_version"
        },
        "soakDurationOverrideAllStages": {
          "description": "Optional. Overrides the soak duration for all stages of the rollout.",
          "format": "google-duration",
          "type": "string"
        },
        "upgradeType": {
          "type": "string",
          "description": "Required. The type of upgrade.",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "CONTROL_PLANE",
            "NODE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Upgrade the control plane.",
            "Upgrade the nodes."
          ]
        },
        "force": {
          "description": "Optional. If set to true, any rollout already running on the first stage of the sequence will be cancelled to allow for the creation of the new rollout.",
          "type": "boolean"
        },
        "ignoreClusterDisruptionBudgets": {
          "description": "Optional. If set to true, the rollout will ignore the disruption budgets of the clusters.",
          "type": "boolean"
        },
        "ignoreMaintenancePolicies": {
          "type": "boolean",
          "description": "Optional. If set to true, the rollout will ignore any maintenance policies (Maintenance Windows and Maintenance Exclusions) set on the clusters."
        },
        "patchOnly": {
          "type": "boolean",
          "description": "Optional. If set to true, the rollout will only upgrade clusters that match the minor version of the `version` field, but are on an earlier patch version."
        }
      }
    },
    "ClusterUpgradeMembershipState": {
      "description": "Per-membership state for this feature.",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Fully qualified scope names that this clusters is bound to which also have rollout sequencing enabled."
        },
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        },
        "upgrades": {
          "description": "Actual upgrade state against desired.",
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          }
        }
      },
      "id": "ClusterUpgradeMembershipState",
      "type": "object"
    },
    "RolloutMembershipState": {
      "description": "Metadata about single cluster (GKE Hub membership) that's part of this Rollout.",
      "properties": {
        "stageAssignment": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The stage assignment of this cluster in this rollout."
        },
        "lastUpdateTime": {
          "description": "Optional. Output only. The time this status and any related Rollout-specific details for the membership were updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "RolloutTarget"
          },
          "readOnly": true,
          "description": "Output only. The targets of the rollout - clusters or node pools that are being upgraded. All targets belongs to the same cluster, identified by the membership name (key of membership_states map)."
        }
      },
      "type": "object",
      "id": "RolloutMembershipState"
    },
    "ServiceMeshFeatureState": {
      "id": "ServiceMeshFeatureState",
      "type": "object",
      "description": "**Service Mesh**: State for the whole Hub, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "analysisMessages": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "readOnly": true,
          "description": "Output only. Results of running Service Mesh analyzers."
        },
        "conditions": {
          "description": "Output only. List of conditions reported for this feature.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshFeatureCondition"
          },
          "readOnly": true
        }
      }
    },
    "GenerateExclusivityManifestResponse": {
      "description": "The response of the exclusivity artifacts manifests for the client to apply.",
      "properties": {
        "crManifest": {
          "type": "string",
          "description": "The YAML manifest of the membership CR to apply if a new version of the CR is available. Empty if no update needs to be applied."
        },
        "crdManifest": {
          "description": "The YAML manifest of the membership CRD to apply if a newer version of the CRD is available. Empty if no update needs to be applied.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateExclusivityManifestResponse"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "WorkloadIdentityFeatureState": {
      "type": "object",
      "id": "WorkloadIdentityFeatureState",
      "description": "**WorkloadIdentity**: Global feature state.",
      "properties": {
        "scopeTenancyWorkloadIdentityPool": {
          "description": "The full name of the scope-tenancy pool for the fleet.",
          "type": "string"
        },
        "workloadIdentityPoolStateDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "WorkloadIdentityWorkloadIdentityPoolStateDetail"
          },
          "description": "The state of the Workload Identity Pools for the fleet."
        },
        "namespaceStates": {
          "type": "object",
          "additionalProperties": {
            "enumDescriptions": [
              "Unknown state.",
              "The Namespace was created/updated successfully.",
              "The Namespace was not created/updated successfully. The error message is in the description field."
            ],
            "enum": [
              "NAMESPACE_STATE_UNSPECIFIED",
              "NAMESPACE_STATE_OK",
              "NAMESPACE_STATE_ERROR"
            ],
            "type": "string"
          },
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        },
        "namespaceStateDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "WorkloadIdentityNamespaceStateDetail"
          },
          "description": "The state of the IAM namespaces for the fleet."
        },
        "workloadIdentityPool": {
          "type": "string",
          "description": "The full name of the svc.id.goog pool for the fleet."
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "type": "object",
      "id": "IdentityServiceAuthMethod",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "samlConfig": {
          "description": "SAML specific configuration.",
          "$ref": "IdentityServiceSamlConfig"
        },
        "googleConfig": {
          "description": "GoogleConfig specific configuration.",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier for auth config."
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "ldapConfig": {
          "description": "LDAP specific configuration.",
          "$ref": "IdentityServiceLdapConfig"
        }
      }
    },
    "CompliancePostureConfig": {
      "properties": {
        "mode": {
          "description": "Defines the enablement mode for Compliance Posture.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Compliance Posture features on the cluster.",
            "Enables Compliance Posture features on the cluster."
          ],
          "type": "string"
        },
        "complianceStandards": {
          "description": "List of enabled compliance standards.",
          "type": "array",
          "items": {
            "$ref": "ComplianceStandard"
          }
        }
      },
      "deprecated": true,
      "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. CompliancePostureConfig defines the settings needed to enable/disable features for the Compliance Posture.",
      "type": "object",
      "id": "CompliancePostureConfig"
    },
    "GkeCluster": {
      "type": "object",
      "id": "GkeCluster",
      "description": "GkeCluster contains information specific to GKE clusters.",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported.",
          "type": "string"
        },
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "ServiceMeshMembershipState": {
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "conditions": {
          "description": "Output only. List of conditions reported for this membership.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "readOnly": true
        },
        "controlPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of control plane management",
          "$ref": "ServiceMeshControlPlaneManagement"
        },
        "analysisMessages": {
          "description": "Output only. Results of running Service Mesh analyzers.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "readOnly": true
        },
        "dataPlaneManagement": {
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement",
          "readOnly": true
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        }
      },
      "id": "ServiceMeshMembershipState",
      "type": "object"
    },
    "IdentityServiceLdapConfig": {
      "type": "object",
      "id": "IdentityServiceLdapConfig",
      "description": "Configuration for the LDAP Auth flow.",
      "properties": {
        "server": {
          "description": "Required. Server settings for the external LDAP server.",
          "$ref": "IdentityServiceServerConfig"
        },
        "user": {
          "description": "Required. Defines where users exist in the LDAP directory.",
          "$ref": "IdentityServiceUserConfig"
        },
        "group": {
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory.",
          "$ref": "IdentityServiceGroupConfig"
        },
        "serviceAccount": {
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
          "$ref": "IdentityServiceServiceAccountConfig"
        }
      }
    },
    "ConfigManagementErrorResource": {
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        },
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "sourcePath": {
          "type": "string",
          "description": "Path in the git repo of the erroneous config"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        }
      },
      "type": "object",
      "id": "ConfigManagementErrorResource"
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "type": "object",
      "id": "CommonFleetDefaultMemberConfigSpec",
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet",
      "properties": {
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        },
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        }
      }
    },
    "IdentityServiceUserConfig": {
      "description": "Defines where users exist in the LDAP directory.",
      "properties": {
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
        },
        "loginAttribute": {
          "type": "string",
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        }
      },
      "type": "object",
      "id": "IdentityServiceUserConfig"
    },
    "PolicyControllerResourceList": {
      "type": "object",
      "id": "PolicyControllerResourceList",
      "description": "ResourceList contains container resource requirements.",
      "properties": {
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "cpu": {
          "type": "string",
          "description": "CPU requirement expressed in Kubernetes resource units."
        }
      }
    },
    "ServiceMeshCondition": {
      "description": "Condition being reported.",
      "properties": {
        "documentationLink": {
          "type": "string",
          "description": "Links contains actionable information."
        },
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ]
        },
        "severity": {
          "description": "Severity level of the condition.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "type": "string"
        }
      },
      "id": "ServiceMeshCondition",
      "type": "object"
    },
    "MembershipFeatureSpec": {
      "type": "object",
      "id": "MembershipFeatureSpec",
      "description": "MembershipFeatureSpec contains configuration information for a single Membership.",
      "properties": {
        "namespaceactuation": {
          "description": "FNS Actuation membership spec",
          "$ref": "NamespaceActuationMembershipSpec"
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        },
        "cloudbuild": {
          "description": "Cloud Build-specific spec",
          "$ref": "CloudBuildMembershipSpec"
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "MembershipSpec"
        },
        "fleetobservability": {
          "description": "Fleet observability membership spec",
          "$ref": "FleetObservabilityMembershipSpec"
        },
        "origin": {
          "description": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        }
      }
    },
    "ListFeaturesResponse": {
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "properties": {
        "resources": {
          "description": "The list of matching Features",
          "type": "array",
          "items": {
            "$ref": "Feature"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "id": "ListFeaturesResponse",
      "type": "object"
    },
    "ConfigManagementPolicyControllerMigration": {
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub.",
      "properties": {
        "stage": {
          "description": "Stage of the migration.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "type": "string"
        },
        "copyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time this membership spec was copied to PoCo feature."
        }
      },
      "id": "ConfigManagementPolicyControllerMigration",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "KubernetesMetadata": {
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers."
        },
        "nodeProviderId": {
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE on Google Cloud), the node_count will be zero and the node_provider_id will be empty.",
          "readOnly": true,
          "type": "string"
        },
        "vcpuCount": {
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "memoryMb": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
        },
        "nodeCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Node count as reported by Kubernetes nodes resources."
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "KubernetesMetadata",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "PolicyControllerPolicyContentState": {
      "id": "PolicyControllerPolicyContentState",
      "type": "object",
      "description": "The state of the policy controller policy content",
      "properties": {
        "bundleStates": {
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        }
      }
    },
    "GenerateConnectManifestResponse": {
      "id": "GenerateConnectManifestResponse",
      "type": "object",
      "description": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent.",
      "properties": {
        "manifest": {
          "description": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade.",
          "type": "array",
          "items": {
            "$ref": "ConnectAgentResource"
          }
        }
      }
    },
    "Role": {
      "type": "object",
      "id": "Role",
      "description": "Role is the type for Kubernetes roles",
      "properties": {
        "predefinedRole": {
          "description": "predefined_role is the Kubernetes default role to use",
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW",
            "ANTHOS_SUPPORT"
          ],
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources",
            "ANTHOS_SUPPORT gives Google Support read-only access to a number of cluster resources."
          ],
          "type": "string"
        },
        "customRole": {
          "type": "string",
          "description": "Optional. custom_role is the name of a custom KubernetesClusterRole to use."
        }
      }
    },
    "ConfigManagementSyncState": {
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "properties": {
        "lastSync": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "type": "string",
          "format": "google-datetime"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
        },
        "code": {
          "type": "string",
          "description": "Sync status code",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ]
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        }
      },
      "id": "ConfigManagementSyncState",
      "type": "object"
    },
    "IdentityServiceAzureADConfig": {
      "id": "IdentityServiceAzureADConfig",
      "type": "object",
      "description": "Configuration for the AzureAD Auth flow.",
      "properties": {
        "userClaim": {
          "type": "string",
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details."
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        },
        "groupFormat": {
          "description": "Optional. Format of the AzureAD groups that the client wants for auth.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "encryptedClientSecret": {
          "readOnly": true,
          "format": "byte",
          "type": "string",
          "description": "Output only. Encrypted AzureAD client secret."
        }
      }
    },
    "ConfigManagementBinauthzConfig": {
      "description": "Configuration for Binauthz",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      },
      "id": "ConfigManagementBinauthzConfig",
      "type": "object"
    },
    "ConnectAgentResource": {
      "description": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment.",
      "properties": {
        "manifest": {
          "type": "string",
          "description": "YAML manifest of the resource."
        },
        "type": {
          "description": "Kubernetes type of the resource.",
          "$ref": "TypeMeta"
        }
      },
      "id": "ConnectAgentResource",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerConfig": {
      "id": "ConfigManagementHierarchyControllerConfig",
      "type": "object",
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        },
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        }
      }
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "description": "The state of ConfigSync's deployment on a cluster",
      "properties": {
        "syncer": {
          "type": "string",
          "description": "Deployment state of the syncer pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
[...]
