{
  "kind": "discovery#restDescription",
  "revision": "20260927",
  "ownerDomain": "google.com",
  "baseUrl": "https://gkehub.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "name": "gkehub",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "IdentityServiceServerConfig": {
      "properties": {
        "certificateAuthorityData": {
          "description": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections.",
          "format": "byte",
          "type": "string"
        },
        "connectionType": {
          "type": "string",
          "description": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty."
        },
        "host": {
          "type": "string",
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\"."
        }
      },
      "description": "Server settings for the external LDAP server.",
      "id": "IdentityServiceServerConfig",
      "type": "object"
    },
    "PolicyControllerHubConfig": {
      "properties": {
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enables the ability to mutate resources using Policy Controller."
        },
        "constraintViolationLimit": {
          "type": "string",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used.",
          "format": "int64"
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "installSpec": {
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "type": "string",
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        },
        "exemptableNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "deploymentConfigs": {
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          },
          "description": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”).",
          "type": "object"
        }
      },
      "description": "Configuration for Policy Controller",
      "type": "object",
      "id": "PolicyControllerHubConfig"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "ServiceMeshCondition": {
      "id": "ServiceMeshCondition",
      "properties": {
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "type": "string",
          "description": "Severity level of the condition."
        },
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ],
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "type": "string",
          "description": "Unique identifier of the condition which describes the condition recognizable to the user."
        }
      },
      "description": "Condition being reported.",
      "type": "object"
    },
    "State": {
      "type": "object",
      "description": "High-level state of a MembershipFeature.",
      "id": "State",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated."
        }
      }
    },
    "PolicyControllerPolicyContentState": {
      "id": "PolicyControllerPolicyContentState",
      "description": "The state of the policy controller policy content",
      "properties": {
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "bundleStates": {
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        }
      },
      "type": "object"
    },
    "IdentityServiceSamlConfig": {
      "properties": {
        "userAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`)."
        },
        "identityProviderSsoUri": {
          "description": "Required. The URI where the SAML IdP exposes the SSO service.",
          "type": "string"
        },
        "identityProviderCertificates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of IdP certificates to validate the SAML response against."
        },
        "attributeMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\"."
        },
        "groupPrefix": {
          "type": "string",
          "description": "Optional. Prefix to prepend to group name."
        },
        "identityProviderId": {
          "description": "Required. The entity ID of the SAML IdP.",
          "type": "string"
        },
        "userPrefix": {
          "description": "Optional. Prefix to prepend to user name.",
          "type": "string"
        },
        "groupsAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`)."
        }
      },
      "type": "object",
      "description": "Configuration for the SAML Auth flow.",
      "id": "IdentityServiceSamlConfig"
    },
    "ConfigManagementHierarchyControllerConfig": {
      "properties": {
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        },
        "enablePodTreeLabels": {
          "description": "Whether pod tree labels are enabled in this cluster.",
          "type": "boolean"
        },
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        }
      },
      "description": "Configuration for Hierarchy Controller.",
      "type": "object",
      "id": "ConfigManagementHierarchyControllerConfig"
    },
    "ConfigManagementConfigSyncError": {
      "id": "ConfigManagementConfigSyncError",
      "type": "object",
      "description": "Errors pertaining to the installation of Config Sync",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      }
    },
    "MembershipFeature": {
      "description": "MembershipFeature represents the settings and status of a Fleet Feature enabled on a single Fleet Membership.",
      "type": "object",
      "id": "MembershipFeature",
      "properties": {
        "spec": {
          "$ref": "FeatureSpec",
          "description": "Optional. Spec of this membershipFeature."
        },
        "state": {
          "description": "Output only. State of the this membershipFeature.",
          "readOnly": true,
          "$ref": "FeatureState"
        },
        "lifecycleState": {
          "$ref": "LifecycleState",
          "readOnly": true,
          "description": "Output only. Lifecycle information of the resource itself."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
          "type": "string"
        },
        "labels": {
          "description": "Google Cloud labels for this MembershipFeature.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. When the MembershipFeature resource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. When the MembershipFeature resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. When the MembershipFeature resource was deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ServiceMeshType": {
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "properties": {
        "displayName": {
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)",
          "type": "string"
        },
        "code": {
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceMeshType"
    },
    "ClusterUpgradeIgnoredMembership": {
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "id": "ClusterUpgradeIgnoredMembership",
      "properties": {
        "ignoredTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the membership was first set to ignored."
        },
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        }
      },
      "type": "object"
    },
    "ClusterUpgradeGKEUpgrade": {
      "properties": {
        "version": {
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\"."
        }
      },
      "id": "ClusterUpgradeGKEUpgrade",
      "type": "object",
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "id": "ServiceMeshControlPlaneManagement",
      "type": "object",
      "description": "Status of control plane management.",
      "properties": {
        "implementation": {
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ],
          "description": "Output only. Implementation of managed control plane.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "description": "LifecycleState of control plane management."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state."
        }
      }
    },
    "PolicyControllerOnClusterState": {
      "type": "object",
      "id": "PolicyControllerOnClusterState",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "properties": {
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        },
        "state": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The lifecycle state of this component.",
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ]
        }
      }
    },
    "IdentityServiceServiceAccountConfig": {
      "type": "object",
      "id": "IdentityServiceServiceAccountConfig",
      "properties": {
        "simpleBindCredentials": {
          "description": "Credentials for basic auth.",
          "$ref": "IdentityServiceSimpleBindCredentials"
        }
      },
      "description": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
    },
    "ConfigManagementState": {
      "type": "object",
      "id": "ConfigManagementState",
      "properties": {
        "configSyncState": {
          "description": "Output only. Current sync status.",
          "$ref": "ConfigManagementConfigSyncState",
          "readOnly": true
        },
        "kubernetesApiServerVersion": {
          "readOnly": true,
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "type": "string"
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "readOnly": true,
          "description": "Output only. Current install status of ACM's Operator."
        },
        "hierarchyControllerState": {
          "readOnly": true,
          "description": "Output only. Hierarchy Controller status.",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "policyControllerState": {
          "readOnly": true,
          "description": "Output only. PolicyController status.",
          "$ref": "ConfigManagementPolicyControllerState"
        },
        "binauthzState": {
          "$ref": "ConfigManagementBinauthzState",
          "description": "Output only. Binauthz status.",
          "readOnly": true
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name."
        },
        "membershipSpec": {
          "readOnly": true,
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state.",
          "$ref": "ConfigManagementSpec"
        }
      },
      "description": "**Anthos Config Management**: State for a single cluster."
    },
    "PolicyControllerResourceList": {
      "properties": {
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "memory": {
          "type": "string",
          "description": "Memory requirement expressed in Kubernetes resource units."
        }
      },
      "description": "ResourceList contains container resource requirements.",
      "type": "object",
      "id": "PolicyControllerResourceList"
    },
    "ListMembershipFeaturesResponse": {
      "type": "object",
      "id": "ListMembershipFeaturesResponse",
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached while fetching this list."
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "membershipFeatures": {
          "description": "The list of matching MembershipFeatures.",
          "items": {
            "$ref": "MembershipFeature"
          },
          "type": "array"
        }
      }
    },
    "PolicyControllerState": {
      "properties": {
        "policyContentState": {
          "description": "The overall content state observed by the Hub Feature controller.",
          "$ref": "PolicyControllerPolicyContentState"
        },
        "componentStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "type": "object"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ]
        }
      },
      "type": "object",
      "description": "**Policy Controller**: State for a single cluster.",
      "id": "PolicyControllerState"
    },
    "PolicyControllerPolicyContentSpec": {
      "properties": {
        "templateLibrary": {
          "description": "Configures the installation of the Template Library.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        },
        "bundles": {
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "type": "object",
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        }
      },
      "id": "PolicyControllerPolicyContentSpec",
      "type": "object",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster."
    },
    "ConfigManagementBinauthzState": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        },
        "webhook": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the binauthz webhook."
        }
      },
      "id": "ConfigManagementBinauthzState",
      "description": "State for Binauthz."
    },
    "AppDevExperienceState": {
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "AppDevExperienceStatus"
        }
      },
      "id": "AppDevExperienceState",
      "type": "object",
      "description": "State for App Dev Exp Feature."
    },
    "ConfigManagementConfigSyncState": {
      "id": "ConfigManagementConfigSyncState",
      "type": "object",
      "description": "State information for ConfigSync.",
      "properties": {
        "crCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ],
          "readOnly": true
        },
        "rootsyncCrd": {
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "description": "Output only. The state of the RootSync CRD",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "type": "string",
          "readOnly": true
        },
        "reposyncCrd": {
          "type": "string",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the Reposync CRD"
        },
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster.",
          "readOnly": true
        },
        "clusterLevelStopSyncingState": {
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "type": "string",
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "readOnly": true
        },
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "description": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          }
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of ConfigSync deployed.",
          "$ref": "ConfigManagementConfigSyncVersion"
        }
      }
    },
    "IdentityServiceState": {
      "properties": {
        "memberConfig": {
          "description": "Last reconciled membership configuration",
          "$ref": "IdentityServiceSpec"
        },
        "installedVersion": {
          "type": "string",
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
        },
        "failureReason": {
          "description": "The reason of the failure.",
          "type": "string"
        },
        "state": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "description": "Deployment state on this member",
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ],
          "type": "string"
        }
      },
      "id": "IdentityServiceState",
      "type": "object",
      "description": "**IdentityService**: State for a single membership, analyzed and reported by feature controller."
    },
    "CloudBuildSpec": {
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "id": "CloudBuildSpec",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the cloud build software on the cluster."
        },
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        }
      }
    },
    "ConfigManagementOciConfig": {
      "description": "OCI repo configuration for a single cluster.",
      "id": "ConfigManagementOciConfig",
      "type": "object",
      "properties": {
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "policyDir": {
          "type": "string",
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image."
        },
        "syncWaitSecs": {
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "PolicyControllerBundleInstallSpec": {
      "id": "PolicyControllerBundleInstallSpec",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "type": "object",
      "properties": {
        "exemptedNamespaces": {
          "description": "the set of namespaces to be exempted from the bundle",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ClusterUpgradeUpgradeStatus": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason for this status.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last timestamp the status was updated.",
          "type": "string"
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ],
          "description": "Status code of the upgrade.",
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ],
          "type": "string"
        }
      },
      "id": "ClusterUpgradeUpgradeStatus",
      "description": "UpgradeStatus provides status information for each upgrade."
    },
    "ClusterUpgradeState": {
      "description": "Per-membership state for this feature.",
      "id": "ClusterUpgradeState",
      "properties": {
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        },
        "upgrades": {
          "description": "Actual upgrade state against desired.",
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          }
        }
      },
      "type": "object"
    },
    "IdentityServiceSpec": {
      "description": "**IdentityService**: Configuration for a single membership.",
      "id": "IdentityServiceSpec",
      "type": "object",
      "properties": {
        "identityServiceOptions": {
          "description": "Optional. non-protocol-related configuration options.",
          "$ref": "IdentityServiceIdentityServiceOptions"
        },
        "authMethods": {
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "description": "A member may support multiple auth methods."
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "description": "Structured and human-readable details for a status.",
      "id": "ServiceMeshStatusDetails",
      "type": "object",
      "properties": {
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        }
      }
    },
    "ServiceMeshSpec": {
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "type": "object",
      "id": "ServiceMeshSpec",
      "properties": {
        "configApi": {
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "type": "string",
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ]
        },
        "management": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "description": "Optional. Enables automatic Service Mesh management."
        },
        "controlPlane": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management."
        },
        "defaultChannel": {
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "deprecated": true,
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "IdentityServiceSimpleBindCredentials": {
      "properties": {
        "dn": {
          "description": "Required. The distinguished name(DN) of the service account object/user.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        },
        "encryptedPassword": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. The encrypted password of the service account object/user.",
          "type": "string"
        }
      },
      "description": "The structure holds the LDAP simple binding credential.",
      "type": "object",
      "id": "IdentityServiceSimpleBindCredentials"
    },
    "ConfigManagementConfigSync": {
      "properties": {
        "enabled": {
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present.",
          "type": "boolean"
        },
        "stopSyncing": {
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false.",
          "type": "boolean"
        },
        "metricsGcpServiceAccountEmail": {
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring.",
          "deprecated": true,
          "type": "string"
        },
        "preventDrift": {
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details.",
          "type": "boolean"
        },
        "git": {
          "description": "Optional. Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "oci": {
          "description": "Optional. OCI repo configuration for the cluster.",
          "$ref": "ConfigManagementOciConfig"
        },
        "sourceFormat": {
          "type": "string",
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation."
        },
        "deploymentOverrides": {
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          },
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead.",
          "type": "array"
        }
      },
      "description": "Configuration for Config Sync",
      "type": "object",
      "id": "ConfigManagementConfigSync"
    },
    "PolicyControllerTemplateLibraryConfig": {
      "type": "object",
      "properties": {
        "installation": {
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "type": "string",
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ]
        }
      },
      "id": "PolicyControllerTemplateLibraryConfig",
      "description": "The config specifying which default library templates to install."
    },
    "ConfigManagementPolicyControllerVersion": {
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "id": "ConfigManagementPolicyControllerVersion",
      "type": "object",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      },
      "id": "IdentityServiceGoogleConfig",
      "type": "object",
      "description": "Configuration for the Google Plugin Auth flow."
    },
    "PolicyControllerToleration": {
      "properties": {
        "operator": {
          "type": "string",
          "description": "Matches a taint operator."
        },
        "value": {
          "type": "string",
          "description": "Matches a taint value."
        },
        "effect": {
          "description": "Matches a taint effect.",
          "type": "string"
        },
        "key": {
          "description": "Matches a taint key (not necessarily unique).",
          "type": "string"
        }
      },
      "id": "PolicyControllerToleration",
      "type": "object",
      "description": "Toleration of a node taint."
    },
    "ServiceMeshAnalysisMessage": {
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "type": "object",
      "id": "ServiceMeshAnalysisMessage",
      "properties": {
        "description": {
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes.",
          "type": "string"
        },
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        },
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message."
        },
        "resourcePaths": {
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "IdentityServiceAzureADConfig": {
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "groupFormat": {
          "type": "string",
          "description": "Optional. Format of the AzureAD groups that the client wants for auth."
        },
        "encryptedClientSecret": {
          "type": "string",
          "description": "Output only. Encrypted AzureAD client secret.",
          "format": "byte",
          "readOnly": true
        },
        "userClaim": {
          "type": "string",
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        }
      },
      "id": "IdentityServiceAzureADConfig",
      "description": "Configuration for the AzureAD Auth flow.",
      "type": "object"
    },
    "IdentityServiceLdapConfig": {
      "type": "object",
      "description": "Configuration for the LDAP Auth flow.",
      "properties": {
        "server": {
          "$ref": "IdentityServiceServerConfig",
          "description": "Required. Server settings for the external LDAP server."
        },
        "group": {
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory.",
          "$ref": "IdentityServiceGroupConfig"
        },
        "user": {
          "$ref": "IdentityServiceUserConfig",
          "description": "Required. Defines where users exist in the LDAP directory."
        },
        "serviceAccount": {
          "$ref": "IdentityServiceServiceAccountConfig",
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
        }
      },
      "id": "IdentityServiceLdapConfig"
    },
    "ConfigManagementPolicyControllerState": {
      "properties": {
        "migration": {
          "description": "Record state of ACM -> PoCo Hub migration for this feature.",
          "$ref": "ConfigManagementPolicyControllerMigration"
        },
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "deploymentState": {
          "$ref": "ConfigManagementGatekeeperDeploymentState",
          "description": "The state about the policy controller installation."
        }
      },
      "type": "object",
      "id": "ConfigManagementPolicyControllerState",
      "description": "State for PolicyControllerState."
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "description": "The state of ConfigSync's deployment on a cluster.",
      "type": "object",
      "properties": {
        "syncer": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the syncer pod."
        },
        "rootReconciler": {
          "description": "Deployment state of root-reconciler.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "otelCollector": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of otel-collector",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "resourceGroupControllerManager": {
          "type": "string",
          "description": "Deployment state of resource-group-controller-manager",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Deployment state of reconciler-manager pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "admissionWebhook": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Deployment state of admission-webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "gitSync": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Deployment state of the git-sync pod."
        },
        "monitor": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "description": "Deployment state of the monitor pod."
        },
        "importer": {
          "type": "string",
          "description": "Deployment state of the importer pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState"
    },
    "Origin": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "description": "Type specifies which type of origin is set.",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Feature spec was inherited from the fleet-level default.",
            "Per-Feature spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Feature spec was inherited from a user specification."
          ],
          "type": "string"
        }
      },
      "id": "Origin",
      "description": "Origin defines where this FeatureSpec originated from."
    },
    "ConfigManagementPolicyControllerMigration": {
      "id": "ConfigManagementPolicyControllerMigration",
      "properties": {
        "copyTime": {
          "description": "Last time this membership spec was copied to PoCo feature.",
          "format": "google-datetime",
          "type": "string"
        },
        "stage": {
          "description": "Stage of the migration.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ]
        }
      },
      "type": "object",
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub."
    },
    "ConfigManagementConfigSyncVersion": {
      "description": "Specific versioning information pertaining to ConfigSync's Pods.",
      "properties": {
        "resourceGroupControllerManager": {
          "description": "Version of the deployed resource-group-controller-manager pod",
          "type": "string"
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod.",
          "type": "string"
        },
        "otelCollector": {
          "description": "Version of the deployed otel-collector pod",
          "type": "string"
        },
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod."
        },
        "gitSync": {
          "description": "Version of the deployed git-sync pod.",
          "type": "string"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod.",
          "type": "string"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod."
        },
        "importer": {
          "type": "string",
          "description": "Version of the deployed importer pod."
        }
      },
      "id": "ConfigManagementConfigSyncVersion",
      "type": "object"
    },
    "IdentityServiceOidcConfig": {
      "type": "object",
      "properties": {
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "enableAccessToken": {
          "description": "Enable access token.",
          "type": "boolean"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "encryptedClientSecret": {
          "readOnly": true,
          "format": "byte",
          "type": "string",
          "description": "Output only. Encrypted OIDC Client secret"
        },
        "clientId": {
          "type": "string",
          "description": "ID for OIDC client application."
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceOidcConfig",
      "description": "Configuration for OIDC Auth flow."
    },
    "ConfigManagementHierarchyControllerState": {
      "id": "ConfigManagementHierarchyControllerState",
      "properties": {
        "state": {
          "$ref": "ConfigManagementHierarchyControllerDeploymentState",
          "description": "The deployment state for Hierarchy Controller."
        },
        "version": {
          "description": "The version for Hierarchy Controller.",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        }
      },
      "type": "object",
      "description": "State for Hierarchy Controller."
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "type": "object",
      "properties": {
        "syncRev": {
          "type": "string",
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD."
        },
        "syncWaitSecs": {
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "policyDir": {
          "type": "string",
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
        },
        "httpsProxy": {
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`.",
          "type": "string"
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "syncRepo": {
          "description": "Required. The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "syncBranch": {
          "type": "string",
          "description": "Optional. The branch of the repository to sync from. Default: master."
        }
      },
      "id": "ConfigManagementGitConfig"
    },
    "RBACRoleBindingActuationRBACRoleBindingState": {
      "type": "object",
      "description": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership.",
      "properties": {
        "description": {
          "description": "The reason for the failure.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the RBACRoleBinding status was last updated."
        },
        "state": {
          "enum": [
            "ROLE_BINDING_STATE_UNSPECIFIED",
            "OK",
            "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "RBACRoleBinding is created properly on the cluster.",
            "The RBACRoleBinding was created on the cluster but the specified custom role does not exist on the cluster, hence the RBACRoleBinding has no effect."
          ],
          "readOnly": true,
          "description": "Output only. The state of the RBACRoleBinding.",
          "type": "string"
        }
      },
      "id": "RBACRoleBindingActuationRBACRoleBindingState"
    },
    "IdentityServiceGroupConfig": {
      "properties": {
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for group entries.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\".",
          "type": "string"
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
        }
      },
      "id": "IdentityServiceGroupConfig",
      "type": "object",
      "description": "Contains the properties for locating and authenticating groups in the directory."
    },
    "ServiceMeshState": {
      "properties": {
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "readOnly": true,
          "$ref": "ServiceMeshControlPlaneManagement"
        },
        "conditions": {
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "description": "Output only. List of conditions reported for this membership.",
          "readOnly": true,
          "type": "array"
        },
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management.",
          "readOnly": true
        },
        "analysisMessages": {
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Results of running Service Mesh analyzers."
        },
        "configApiVersion": {
          "type": "string",
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
        }
      },
      "id": "ServiceMeshState",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "type": "object"
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "type": "object",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          }
        }
      },
      "id": "ConfigManagementPolicyControllerMonitoring"
    },
    "ServiceMeshAnalysisMessageBase": {
      "id": "ServiceMeshAnalysisMessageBase",
      "description": "AnalysisMessageBase describes some common information that is needed for all messages.",
      "properties": {
        "type": {
          "description": "Represents the specific type of a message.",
          "$ref": "ServiceMeshType"
        },
        "level": {
          "description": "Represents how severe a message is.",
          "type": "string",
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "documentationUrl": {
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LifecycleState": {
      "id": "LifecycleState",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unknown or not set.",
            "The MembershipFeature is being enabled, and the MembershipFeature resource is being created. Once complete, the corresponding MembershipFeature will be enabled in this Hub.",
            "The MembershipFeature is enabled in this Hub, and the MembershipFeature resource is fully available.",
            "The MembershipFeature is being disabled in this Hub, and the MembershipFeature resource is being deleted.",
            "The MembershipFeature resource is being updated.",
            "The MembershipFeature resource is being updated by the Hub Service."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "description": "Output only. The current state of the Feature resource in the Hub API."
        }
      },
      "type": "object",
      "description": "LifecycleState describes the state of a MembershipFeature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the MembershipFeature."
    },
    "WorkloadCertificateSpec": {
      "id": "WorkloadCertificateSpec",
      "properties": {
        "certificateManagement": {
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "description": "CertificateManagement specifies workload certificate management.",
          "type": "string"
        }
      },
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "type": "object"
    },
    "ConfigManagementOperatorState": {
      "properties": {
        "deploymentState": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the Operator's deployment.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors."
        }
      },
      "description": "State information for an ACM's Operator.",
      "type": "object",
      "id": "ConfigManagementOperatorState"
    },
    "ConfigManagementPolicyController": {
      "properties": {
        "exemptableNamespaces": {
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          }
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last time this membership spec was updated."
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "mutationEnabled": {
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ConfigManagementPolicyController",
      "type": "object",
      "description": "Configuration for Policy Controller"
    },
    "ConfigManagementContainerOverride": {
      "properties": {
        "cpuRequest": {
          "type": "string",
          "description": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "containerName": {
          "type": "string",
          "description": "Required. The name of the container."
        },
        "cpuLimit": {
          "type": "string",
          "description": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "memoryLimit": {
          "description": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        },
        "memoryRequest": {
          "description": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        }
      },
      "description": "Configuration for a container override.",
      "id": "ConfigManagementContainerOverride",
      "type": "object"
    },
    "MeteringState": {
      "properties": {
        "lastMeasurementTime": {
          "format": "google-datetime",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "type": "string"
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "format": "float"
        }
      },
      "type": "object",
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller.",
      "id": "MeteringState"
    },
    "WorkloadIdentityState": {
      "properties": {
        "identityProviderStateDetails": {
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "description": "The state of the Identity Providers corresponding to the membership.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        }
      },
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "type": "object",
      "id": "WorkloadIdentityState"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "ConfigManagementSyncState": {
      "type": "object",
      "id": "ConfigManagementSyncState",
      "description": "State indicating an ACM's progress syncing configurations to a cluster.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo.",
          "type": "string",
          "format": "google-datetime"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "lastSync": {
          "deprecated": true,
[...]
