{
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "location": "asia-south1",
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "version": "v1beta",
  "fullyEncodeReservedExpansion": true,
  "name": "gkehub",
  "revision": "20260903",
  "title": "GKE Hub API",
  "baseUrl": "https://gkehub.googleapis.com/",
  "canonicalName": "GKE Hub",
  "rootUrl": "https://gkehub.googleapis.com/",
  "id": "gkehub:v1beta",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "schemas": {
    "IdentityServiceServerConfig": {
      "id": "IdentityServiceServerConfig",
      "type": "object",
      "properties": {
        "host": {
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\".",
          "type": "string"
        },
        "connectionType": {
          "description": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections."
        }
      },
      "description": "Server settings for the external LDAP server."
    },
    "MultiCloudCluster": {
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster",
          "type": "string"
        },
        "clusterMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists."
        }
      },
      "type": "object",
      "id": "MultiCloudCluster",
      "description": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters."
    },
    "PolicyControllerToleration": {
      "type": "object",
      "id": "PolicyControllerToleration",
      "description": "Toleration of a node taint.",
      "properties": {
        "effect": {
          "description": "Matches a taint effect.",
          "type": "string"
        },
        "operator": {
          "description": "Matches a taint operator.",
          "type": "string"
        },
        "key": {
          "description": "Matches a taint key (not necessarily unique).",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Matches a taint value."
        }
      }
    },
    "PolicyControllerMonitoringConfig": {
      "type": "object",
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "id": "PolicyControllerMonitoringConfig",
      "properties": {
        "backends": {
          "items": {
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array"
        }
      }
    },
    "CommonFeatureSpec": {
      "type": "object",
      "properties": {
        "workloadidentity": {
          "description": "Workload Identity feature spec.",
          "$ref": "WorkloadIdentityFeatureSpec"
        },
        "mesh": {
          "description": "Servicemesh feature spec.",
          "$ref": "ServiceMeshFeatureSpec"
        },
        "multiclusteringress": {
          "description": "Multicluster Ingress-specific spec.",
          "$ref": "MultiClusterIngressFeatureSpec"
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureSpec",
          "description": "FleetObservability feature spec."
        },
        "clusterupgrade": {
          "$ref": "ClusterUpgradeFleetSpec",
          "description": "ClusterUpgrade (fleet-based) feature spec."
        },
        "appdevexperience": {
          "description": "Appdevexperience specific spec.",
          "$ref": "AppDevExperienceFeatureSpec"
        },
        "rbacrolebindingactuation": {
          "$ref": "RBACRoleBindingActuationFeatureSpec",
          "description": "RBAC Role Binding Actuation feature spec"
        },
        "dataplanev2": {
          "$ref": "DataplaneV2FeatureSpec",
          "description": "DataplaneV2 feature spec."
        }
      },
      "id": "CommonFeatureSpec",
      "description": "CommonFeatureSpec contains Fleet-wide configuration information"
    },
    "ListBoundMembershipsResponse": {
      "type": "object",
      "id": "ListBoundMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListBoundMemberships` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "description": "The list of Memberships bound to the given Scope.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list.",
          "type": "array"
        }
      },
      "description": "List of Memberships bound to a Scope."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "PolicyControllerTemplateLibraryConfig": {
      "id": "PolicyControllerTemplateLibraryConfig",
      "description": "The config specifying which default library templates to install.",
      "type": "object",
      "properties": {
        "installation": {
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "type": "string",
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ]
        }
      }
    },
    "ConnectAgentResource": {
      "properties": {
        "manifest": {
          "type": "string",
          "description": "YAML manifest of the resource."
        },
        "type": {
          "$ref": "TypeMeta",
          "description": "Kubernetes type of the resource."
        }
      },
      "type": "object",
      "id": "ConnectAgentResource",
      "description": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment."
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object",
      "properties": {
        "gatekeeperAudit": {
          "description": "Status of gatekeeper-audit deployment.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperMutation": {
          "description": "Status of the pod serving the mutation webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperControllerManagerState": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Status of gatekeeper-controller-manager pod."
        }
      },
      "description": "State of Policy Controller installation."
    },
    "ListRolloutSequencesResponse": {
      "id": "ListRolloutSequencesResponse",
      "type": "object",
      "description": "Response message for listing rollout sequences.",
      "properties": {
        "rolloutSequences": {
          "items": {
            "$ref": "RolloutSequence"
          },
          "type": "array",
          "description": "The rollout sequences from the specified parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PolicyBinding": {
      "id": "PolicyBinding",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the binauthz platform policy to audit. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`."
        }
      },
      "type": "object",
      "description": "Binauthz policy that applies to this cluster."
    },
    "Membership": {
      "description": "Membership contains information about a member cluster.",
      "id": "Membership",
      "type": "object",
      "properties": {
        "authority": {
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
          "$ref": "Authority"
        },
        "clusterTier": {
          "enumDescriptions": [
            "The ClusterTier is not set.",
            "The ClusterTier is standard.",
            "The ClusterTier is enterprise."
          ],
          "description": "Output only. The tier of the cluster.",
          "readOnly": true,
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "type": "string"
        },
        "membershipType": {
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "description": "Output only. The type of the membership.",
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "$ref": "MembershipState",
          "readOnly": true,
          "description": "Output only. State of the Membership resource."
        },
        "uniqueId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Membership was created."
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Optional. The monitoring config information for this membership."
        },
        "externalId": {
          "type": "string",
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. When the Membership was deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "readOnly": true
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "lastConnectionTime": {
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Membership was last updated."
        }
      }
    },
    "ListMembershipBindingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return."
        },
        "membershipBindings": {
          "items": {
            "$ref": "MembershipBinding"
          },
          "type": "array",
          "description": "The list of membership_bindings"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        }
      },
      "description": "List of MembershipBindings.",
      "id": "ListMembershipBindingsResponse",
      "type": "object"
    },
    "IdentityServiceMembershipSpec": {
      "id": "IdentityServiceMembershipSpec",
      "description": "**Anthos Identity Service**: Configuration for a single Membership.",
      "type": "object",
      "properties": {
        "identityServiceOptions": {
          "description": "Optional. non-protocol-related configuration options.",
          "$ref": "IdentityServiceIdentityServiceOptions"
        },
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        }
      }
    },
    "CancelRolloutRequest": {
      "id": "CancelRolloutRequest",
      "type": "object",
      "description": "Request message for cancelling a rollout.",
      "properties": {}
    },
    "ListFeaturesResponse": {
      "id": "ListFeaturesResponse",
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Feature"
          },
          "type": "array",
          "description": "The list of matching Features"
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      }
    },
    "IdentityServiceLdapConfig": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "IdentityServiceUserConfig",
          "description": "Required. Defines where users exist in the LDAP directory."
        },
        "server": {
          "$ref": "IdentityServiceServerConfig",
          "description": "Required. Server settings for the external LDAP server."
        },
        "group": {
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory.",
          "$ref": "IdentityServiceGroupConfig"
        },
        "serviceAccount": {
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
          "$ref": "IdentityServiceServiceAccountConfig"
        }
      },
      "id": "IdentityServiceLdapConfig",
      "description": "Configuration for the LDAP Auth flow."
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "properties": {
        "deploymentConfigs": {
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          },
          "type": "object",
          "description": "Map of deployment configs to deployments (\"admission\", \"audit\", \"mutation')."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "constraintViolationLimit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "installSpec": {
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ]
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "policyContent": {
          "$ref": "PolicyControllerPolicyContentSpec",
          "description": "Specifies the desired policy content on the cluster"
        }
      },
      "description": "Configuration for Policy Controller",
      "id": "PolicyControllerHubConfig"
    },
    "ConfigManagementMembershipSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "properties": {
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Optional. Config Sync configuration for the cluster."
        },
        "management": {
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields.",
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "deprecated": true
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy."
        },
        "hierarchyController": {
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "deprecated": true,
          "$ref": "ConfigManagementHierarchyControllerConfig"
        },
        "policyController": {
          "$ref": "ConfigManagementPolicyController",
          "deprecated": true,
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead."
        },
        "cluster": {
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        },
        "binauthz": {
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "$ref": "ConfigManagementBinauthzConfig",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "ConfigManagementMembershipSpec"
    },
    "ConfigManagementConfigSyncState": {
      "properties": {
        "deploymentState": {
          "description": "Output only. Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "readOnly": true,
          "type": "array"
        },
        "rootsyncCrd": {
          "readOnly": true,
          "description": "Output only. The state of the RootSync CRD",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ],
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "type": "string"
        },
        "reposyncCrd": {
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "type": "string",
          "description": "Output only. The state of the Reposync CRD"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of ConfigSync deployed",
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "clusterLevelStopSyncingState": {
          "type": "string",
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "readOnly": true
        },
        "syncState": {
          "readOnly": true,
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster",
          "$ref": "ConfigManagementSyncState"
        },
        "crCount": {
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ConfigManagementConfigSyncState",
      "description": "State information for ConfigSync",
      "type": "object"
    },
    "Stage": {
      "type": "object",
      "id": "Stage",
      "description": "Rollout stage.",
      "properties": {
        "clusterSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. Filter members of fleets (above) to a subset of clusters. If not specified, all clusters in the fleets are selected."
        },
        "soakDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Soak time after upgrading all the clusters in the stage."
        },
        "fleetProjects": {
          "type": "array",
          "description": "Required. List of Fleet projects to select the clusters from. Expected format: projects/{project}",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "properties": {
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "azureadConfig": {
          "$ref": "IdentityServiceAzureADConfig",
          "description": "AzureAD specific Configuration."
        },
        "googleConfig": {
          "description": "GoogleConfig specific configuration.",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "samlConfig": {
          "description": "SAML specific configuration.",
          "$ref": "IdentityServiceSamlConfig"
        },
        "ldapConfig": {
          "$ref": "IdentityServiceLdapConfig",
          "description": "LDAP specific configuration."
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "oidcConfig": {
          "$ref": "IdentityServiceOidcConfig",
          "description": "OIDC specific configuration."
        }
      },
      "id": "IdentityServiceAuthMethod",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "Fleet": {
      "id": "Fleet",
      "type": "object",
      "properties": {
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Fleet resources. If a Fleet resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A user-assigned display name of the Fleet. When present, it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `Production Fleet`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the Fleet was created.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels for this Fleet."
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. When the Fleet was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "$ref": "FleetLifecycleState",
          "description": "Output only. State of the namespace resource."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Fleet was last updated."
        },
        "defaultClusterConfig": {
          "$ref": "DefaultClusterConfig",
          "description": "Optional. The default cluster configurations to apply across the fleet."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique resource name of this fleet in the format of `projects/{project}/locations/{location}/fleets/{fleet}`. Each Google Cloud project can have at most one fleet resource, named \"default\"."
        }
      },
      "description": "Fleet contains the Fleet-wide metadata and configuration."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse"
    },
    "IdentityServiceGoogleConfig": {
      "type": "object",
      "id": "IdentityServiceGoogleConfig",
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      }
    },
    "ResourceOptions": {
      "properties": {
        "v1beta1Crd": {
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions <1.16.",
          "type": "boolean"
        },
        "connectVersion": {
          "type": "string",
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected."
        },
        "k8sVersion": {
          "type": "string",
          "description": "Optional. Major and minor version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`."
        },
        "k8sGitVersion": {
          "type": "string",
          "description": "Optional. Git version of the Kubernetes cluster. This is only used to gate the Connect Agent migration to svc.id.goog on GDC-SO 1.33.100 patch and above."
        }
      },
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "id": "ResourceOptions",
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "description": "State for PolicyControllerState.",
      "type": "object",
      "properties": {
        "migration": {
          "$ref": "ConfigManagementPolicyControllerMigration",
          "description": "Record state of ACM -> PoCo Hub migration for this feature."
        },
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        },
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        }
      },
      "id": "ConfigManagementPolicyControllerState"
    },
    "ConfigManagementHierarchyControllerState": {
      "id": "ConfigManagementHierarchyControllerState",
      "description": "State for Hierarchy Controller",
      "type": "object",
      "properties": {
        "state": {
          "description": "The deployment state for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerDeploymentState"
        },
        "version": {
          "description": "The version for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        }
      }
    },
    "ListMembershipsResponse": {
      "id": "ListMembershipsResponse",
      "description": "Response message for the `GkeHub.ListMemberships` method.",
      "type": "object",
      "properties": {
        "resources": {
          "description": "The list of matching Memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMemberships` method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ConfigManagementSyncState": {
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "properties": {
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        },
        "lastSync": {
          "deprecated": true,
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "type": "string"
        },
        "syncToken": {
          "description": "Token indicating the state of the syncer.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "type": "string"
        },
        "errors": {
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "type": "array"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigManagementSyncState"
    },
    "PolicyControllerPolicyContentState": {
      "description": "The state of the policy controller policy content",
      "id": "PolicyControllerPolicyContentState",
      "properties": {
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "bundleStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest"
        }
      },
      "type": "object"
    },
    "MembershipFeatureState": {
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "id": "MembershipFeatureState",
      "type": "object",
      "properties": {
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "metering": {
          "description": "Metering-specific state.",
          "$ref": "MeteringMembershipState"
        },
        "configmanagement": {
          "description": "Config Management-specific state.",
          "$ref": "ConfigManagementMembershipState"
        },
        "servicemesh": {
          "$ref": "ServiceMeshMembershipState",
          "description": "Service Mesh-specific state."
        },
        "clusterupgrade": {
          "description": "ClusterUpgrade state.",
          "$ref": "ClusterUpgradeMembershipState"
        },
        "workloadidentity": {
          "description": "Workload Identity membership specific state.",
          "$ref": "WorkloadIdentityMembershipState"
        },
        "state": {
          "description": "The high-level state of this Feature for a single membership.",
          "$ref": "FeatureState"
        },
        "fleetobservability": {
          "description": "Fleet observability membership state.",
          "$ref": "FleetObservabilityMembershipState"
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        }
      }
    },
    "FleetObservabilityFleetObservabilityMonitoringState": {
      "id": "FleetObservabilityFleetObservabilityMonitoringState",
      "description": "Feature state for monitoring feature.",
      "type": "object",
      "properties": {
        "state": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet monitoring feature."
        }
      }
    },
    "RolloutSequence": {
      "properties": {
        "ignoredClustersSelector": {
          "description": "Optional. Selector for clusters to exclude from the Rollout Sequence.",
          "$ref": "ClusterSelector"
        },
        "lastQualifiedNodeVersion": {
          "type": "string",
          "description": "Output only. The last qualified node version.",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. etag of the Rollout Sequence Ex. abc1234"
        },
        "targetControlPlaneVersion": {
          "readOnly": true,
          "description": "Output only. The target control plane version of the Rollout Sequence.",
          "type": "string"
        },
        "lastQualifiedControlPlaneVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last qualified control plane version."
        },
        "operationalState": {
          "$ref": "OperationalState",
          "description": "Output only. Operational state of the Rollout Sequence.",
          "readOnly": true
        },
        "effectiveAutoUpgradeConfig": {
          "readOnly": true,
          "$ref": "AutoUpgradeConfig",
          "description": "Output only. The resolved auto-upgrade options which are in effect."
        },
        "stages": {
          "items": {
            "$ref": "Stage"
          },
          "description": "Required. Ordered list of stages that constitutes this Rollout.",
          "type": "array"
        },
        "displayName": {
          "description": "Optional. Human readable display name of the Rollout Sequence.",
          "type": "string"
        },
        "computedReleaseChannel": {
          "readOnly": true,
          "enumDescriptions": [
            "Default if no value is specified. Should not be used.",
            "Release channel `RAPID` of GKE.",
            "Release channel `REGULAR` of GKE.",
            "Release channel `STABLE` of GKE.",
            "Release channel `EXTENDED` of GKE.",
            "Release channel `NO_CHANNEL` of GKE. Formerly known as `STATIC`."
          ],
          "type": "string",
          "description": "Output only. The computed release channel used for the Rollout Sequence.",
          "enum": [
            "GKE_RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED",
            "NO_CHANNEL"
          ]
        },
        "targetNodeVersion": {
          "type": "string",
          "description": "Output only. The target node version of the Rollout Sequence.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp at which the Rollout Sequence was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Rollout Sequence resources. If a Rollout Sequence resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the rollout sequence in the format of: projects/{PROJECT_ID}/locations/global/rolloutSequences/{NAME}"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels for this Rollout Sequence."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp at which the Rollout Sequence was last updated."
        },
        "autoUpgradeConfig": {
          "$ref": "AutoUpgradeConfig",
          "description": "Optional. Configuration for automatic upgrades. If this message is `unset`, the system applies default behavior."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The timestamp at the Rollout Sequence was deleted.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "RolloutSequence",
      "type": "object",
      "description": "RolloutSequence defines the desired order of upgrades. Next ID: 20"
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        },
        "code": {
          "description": "The state of the Identity Provider.",
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ]
        }
      },
      "type": "object",
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider."
    },
    "ClusterUpgradeGKEUpgradeState": {
      "properties": {
        "upgrade": {
          "description": "Which upgrade to track the state.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        },
        "stats": {
          "type": "object",
          "description": "Number of GKE clusters in each status code.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        },
        "status": {
          "description": "Status of the upgrade.",
          "$ref": "ClusterUpgradeUpgradeStatus"
        }
      },
      "description": "GKEUpgradeState is a GKEUpgrade and its state at the scope and fleet level.",
      "id": "ClusterUpgradeGKEUpgradeState",
      "type": "object"
    },
    "ClusterUpgradePostConditions": {
      "type": "object",
      "id": "ClusterUpgradePostConditions",
      "properties": {
        "soaking": {
          "description": "Required. Amount of time to \"soak\" after a rollout has been finished before marking it COMPLETE. Cannot exceed 30 days. Required.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Post conditional checks after an upgrade has been applied on all eligible clusters."
    },
    "WorkloadIdentityFeatureSpec": {
      "properties": {
        "scopeTenancyPool": {
          "description": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool",
          "type": "string"
        }
      },
      "id": "WorkloadIdentityFeatureSpec",
      "description": "**WorkloadIdentity**: Global feature specification.",
      "type": "object"
    },
    "ScopeFeatureSpec": {
      "properties": {},
      "type": "object",
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "id": "ScopeFeatureSpec"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "GenerateMembershipRBACRoleBindingYAMLResponse": {
      "type": "object",
      "properties": {
        "roleBindingsYaml": {
          "type": "string",
          "description": "a yaml text blob including the RBAC policies."
        }
      },
      "id": "GenerateMembershipRBACRoleBindingYAMLResponse",
      "description": "Response for GenerateRBACRoleBindingYAML."
    },
    "ClusterUpgradeIgnoredMembership": {
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "properties": {
        "reason": {
          "description": "Reason why the membership is ignored.",
          "type": "string"
        },
        "ignoredTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the membership was first set to ignored."
        }
      },
      "id": "ClusterUpgradeIgnoredMembership",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerConfig": {
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        },
        "enableHierarchicalResourceQuota": {
          "description": "Whether hierarchical resource quota is enabled in this cluster.",
          "type": "boolean"
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        }
      },
      "id": "ConfigManagementHierarchyControllerConfig",
      "type": "object"
    },
    "ServiceMeshMembershipSpec": {
      "properties": {
        "configApi": {
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "type": "string"
        },
        "management": {
          "description": "Optional. Enables automatic Service Mesh management.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "type": "string"
        },
        "controlPlane": {
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ]
        }
      },
      "type": "object",
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "id": "ServiceMeshMembershipSpec"
    },
    "FleetObservabilityFleetObservabilityLoggingState": {
      "properties": {
        "defaultLog": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet default log."
        },
        "scopeLog": {
          "description": "The base feature state of fleet scope log.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        }
      },
      "description": "Feature state for logging feature.",
      "id": "FleetObservabilityFleetObservabilityLoggingState",
      "type": "object"
    },
    "RBACRoleBindingActuationFeatureState": {
      "id": "RBACRoleBindingActuationFeatureState",
      "type": "object",
      "properties": {},
      "description": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state."
    },
    "IdentityServiceGroupConfig": {
      "id": "IdentityServiceGroupConfig",
      "type": "object",
      "properties": {
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for group entries.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\"."
        },
        "idAttribute": {
          "description": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\".",
          "type": "string"
        }
      },
      "description": "Contains the properties for locating and authenticating groups in the directory."
    },
    "ListFleetsResponse": {
      "id": "ListFleetsResponse",
      "description": "Response message for the `GkeHub.ListFleetsResponse` method.",
      "properties": {
        "fleets": {
          "items": {
            "$ref": "Fleet"
          },
          "description": "The list of matching fleets.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "IdentityServiceIdentityServiceOptions": {
      "description": "Holds non-protocol-related configuration options.",
      "id": "IdentityServiceIdentityServiceOptions",
      "type": "object",
      "properties": {
        "sessionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service."
        },
        "diagnosticInterface": {
          "$ref": "IdentityServiceDiagnosticInterface",
          "description": "Configuration options for the AIS diagnostic interface."
        }
      }
    },
    "ServiceMeshFeatureSpec": {
      "description": "**Service Mesh**: Spec for the fleet for the servicemesh feature",
      "id": "ServiceMeshFeatureSpec",
      "properties": {
        "modernizationStrategy": {
          "enum": [
            "MODERNIZATION_STRATEGY_UNSPECIFIED",
            "AUTOMATIC",
            "DEFERRED"
          ],
          "enumDescriptions": [
            "Default unspecified.",
            "The infrastructure is automatically modernized. Setting this strategy initiates the modernization process. The system schedules the modernization subject to configured maintenance windows and maintenance exclusions.",
            "The infrastructure is pinned to the legacy implementation. This fleet will not be selected for Google-driven modernization. If the resource is actively modernizing, or if the modernization has completed but is not yet finalized (e.g., during the soak time), setting this strategy triggers a rollback to the legacy state. If the modernization process has already been marked as finalized, setting this strategy has no effect."
          ],
          "description": "Optional. Declares your intended modernization strategy for the fleet.",
          "type": "string"
        },
        "modernizationCompatibility": {
          "enum": [
            "MODERNIZATION_COMPATIBILITY_UNSPECIFIED",
            "VALIDATION_ENABLED",
            "VALIDATION_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Google should report modernization eligibility gaps.",
            "Google should not report modernization eligibility gaps."
          ],
          "description": "Optional. Specifies modernization compatibility for the fleet.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyControllerPolicyContentSpec": {
      "id": "PolicyControllerPolicyContentSpec",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "type": "object",
      "properties": {
        "templateLibrary": {
          "description": "Configures the installation of the Template Library.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        },
        "bundles": {
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint.",
          "type": "object"
        }
      }
    },
    "IdentityServiceServiceAccountConfig": {
      "description": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
      "type": "object",
      "id": "IdentityServiceServiceAccountConfig",
      "properties": {
        "simpleBindCredentials": {
          "description": "Credentials for basic auth.",
          "$ref": "IdentityServiceSimpleBindCredentials"
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "id": "ConfigManagementBinauthzState",
      "type": "object",
      "properties": {
        "webhook": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the binauthz webhook."
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      },
      "description": "State for Binauthz"
    },
    "KubernetesMetadata": {
      "type": "object",
      "properties": {
        "nodeProviderId": {
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE on Google Cloud), the node_count will be zero and the node_provider_id will be empty.",
          "type": "string",
          "readOnly": true
        },
        "vcpuCount": {
          "readOnly": true,
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources.",
          "format": "int32",
          "type": "integer"
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB.",
          "type": "integer",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nodeCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Node count as reported by Kubernetes nodes resources.",
          "type": "integer"
        },
        "kubernetesApiServerVersion": {
          "type": "string",
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "readOnly": true
        }
      },
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters.",
      "id": "KubernetesMetadata"
    },
    "IdentityServiceUserConfig": {
      "description": "Defines where users exist in the LDAP directory.",
      "properties": {
        "loginAttribute": {
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries.",
          "type": "string"
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        },
        "filter": {
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\".",
          "type": "string"
        }
      },
      "id": "IdentityServiceUserConfig",
      "type": "object"
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "properties": {
        "backends": {
          "items": {
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          },
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "type": "object"
    },
    "ServiceMeshDataPlaneManagement": {
      "description": "Status of data plane management. Only reported per-member.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Explanation of the status.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "description": "Lifecycle status of data plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "type": "string"
        }
      },
      "id": "ServiceMeshDataPlaneManagement"
    },
    "ClusterUpgradeUpgradeStatus": {
      "id": "ClusterUpgradeUpgradeStatus",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last timestamp the status was updated."
        },
        "reason": {
          "type": "string",
          "description": "Reason for this status."
        },
        "code": {
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ],
          "type": "string",
          "description": "Status code of the upgrade.",
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ]
        }
      },
      "type": "object",
      "description": "UpgradeStatus provides status information for each upgrade."
    },
    "Scope": {
      "id": "Scope",
      "properties": {
        "deleteTime": {
          "description": "Output only. When the scope was deleted.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the scope was created."
        },
        "namespaceLabels": {
          "description": "Optional. Scope-level cluster namespace labels. For the member clusters bound to the Scope, these labels are applied to each namespace under the Scope. Scope-level labels take precedence over Namespace-level labels (`namespace_labels` in the Fleet Namespace resource) if they share a key. Keys and values must be Kubernetes-conformant.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "$ref": "ScopeLifecycleState",
          "readOnly": true,
          "description": "Output only. State of the scope resource."
        },
        "labels": {
          "description": "Optional. Labels for this Scope.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the scope was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Scope represents a Scope in a Fleet."
    },
    "WorkloadIdentityNamespaceStateDetail": {
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Namespace was created/updated successfully.",
            "The Namespace was not created/updated successfully. The error message is in the description field."
          ],
          "description": "The state of the IAM namespace.",
          "enum": [
            "NAMESPACE_STATE_UNSPECIFIED",
            "NAMESPACE_STATE_OK",
            "NAMESPACE_STATE_ERROR"
          ]
        },
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "NamespaceStateDetail represents the state of a IAM namespace.",
      "id": "WorkloadIdentityNamespaceStateDetail"
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "type": "object",
      "properties": {
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "podAffinity": {
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ],
          "description": "Pod affinity configuration.",
          "type": "string"
        },
        "containerResources": {
          "description": "Container resource requirements.",
          "$ref": "PolicyControllerResourceRequirements"
        },
        "replicaCount": {
          "description": "Pod replica count.",
          "type": "string",
          "format": "int64"
        },
        "podTolerations": {
          "type": "array",
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "description": "Pod tolerations of node taints."
        }
      },
      "description": "Deployment-specific configuration."
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "properties": {
        "extension": {
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "hnc": {
          "type": "string",
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ]
        }
      },
      "type": "object",
      "description": "Deployment state for Hierarchy Controller"
    },
    "ConfigManagementGitConfig": {
      "id": "ConfigManagementGitConfig",
      "type": "object",
      "description": "Git repo configuration for a single cluster.",
      "properties": {
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncRev": {
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
        },
        "httpsProxy": {
          "type": "string",
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The URL of the Git repository to use as the source of truth."
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        },
        "syncBranch": {
          "description": "Optional. The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        }
      }
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "type": "object",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "properties": {
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "description": "The lifecycle state of this component.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ]
        }
      }
    },
    "OnPremCluster": {
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE On-Prem cluster. For example: //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/vmwareClusters/my-cluster //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/bareMetalClusters/my-cluster"
        },
        "adminCluster": {
          "type": "boolean",
          "description": "Immutable. Whether the cluster is an admin cluster."
        },
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that API(gkeonprem.googleapis.com) resource for this GKE On-Prem cluster no longer exists.",
          "type": "boolean",
          "readOnly": true
        },
        "clusterType": {
          "type": "string",
          "enumDescriptions": [
            "The ClusterType is not set.",
            "The ClusterType is bootstrap cluster.",
            "The ClusterType is baremetal hybrid cluster.",
            "The ClusterType is baremetal standalone cluster.",
            "The ClusterType is user cluster."
          ],
          "enum": [
            "CLUSTERTYPE_UNSPECIFIED",
            "BOOTSTRAP",
            "HYBRID",
            "STANDALONE",
            "USER"
          ],
          "description": "Immutable. The on prem cluster's type."
        }
      },
      "description": "OnPremCluster contains information specific to GKE On-Prem clusters.",
      "id": "OnPremCluster",
      "type": "object"
    },
    "ServiceMeshFeatureCondition": {
      "id": "ServiceMeshFeatureCondition",
      "type": "object",
      "description": "Condition being reported.",
      "properties": {
        "documentationLink": {
          "type": "string",
          "description": "Links contains actionable information."
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ],
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code.",
            "Workload identity required error code.",
            "Non-standard binary usage error code.",
            "Unsupported gateway class error code.",
            "Managed CNI not enabled error code.",
            "Missing control plane configuration error code.",
            "Shared VPC missing permissions error code.",
            "Required org policy disabled error code.",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
[...]
