{
  "discoveryVersion": "v1",
  "revision": "20260817",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "title": "GKE Hub API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "gkehub.projects.locations.operations.list",
                  "path": "v2alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha/{+name}",
                  "id": "gkehub.projects.locations.operations.get"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "gkehub.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha/{+name}:cancel"
                }
              }
            },
            "memberships": {
              "resources": {
                "features": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2alpha/{+name}",
                      "id": "gkehub.projects.locations.memberships.features.patch",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Idempotent request UUID."
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true, and the MembershipFeature is not found, a new MembershipFeature will be created. In this situation, `update_mask` is ignored."
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Mask of fields to update.",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "httpMethod": "PATCH",
                      "description": "Updates an existing MembershipFeature."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2alpha/{+name}",
                      "id": "gkehub.projects.locations.memberships.features.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The MembershipFeature resource name in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "MembershipFeature"
                      },
                      "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "httpMethod": "GET",
                      "description": "========= MembershipFeature Services ========= Gets details of a membershipFeature."
                    },
                    "list": {
                      "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Lists MembershipFeatures that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"helloworld\" in project \"foo-proj\" and membership \"member-bar\": name = \"projects/foo-proj/locations/global/memberships/member-bar/features/helloworld\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar"
                        },
                        "parent": {
                          "description": "Required. The parent where the MembershipFeature will be listed. In the format: `projects/*/locations/*/memberships/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListMembershipFeaturesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists MembershipFeatures in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2alpha/{+parent}/features",
                      "id": "gkehub.projects.locations.memberships.features.list"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "description": "Creates membershipFeature under a given parent.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of parent where the MembershipFeature will be created. Specified in the format `projects/*/locations/*/memberships/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Idempotent request UUID."
                        },
                        "featureId": {
                          "description": "Required. The ID of the membership_feature to create.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "id": "gkehub.projects.locations.memberships.features.create",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2alpha/{+parent}/features"
                    },
                    "delete": {
                      "id": "gkehub.projects.locations.memberships.features.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2alpha/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Removes a membershipFeature.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the membershipFeature to be deleted. Specified in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Idempotent request UUID."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v2alpha/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2alpha/{+name}/locations",
              "id": "gkehub.projects.locations.list"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "flatPath": "v2alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "id": "gkehub.projects.locations.get",
              "path": "v2alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "name": "gkehub",
  "kind": "discovery#restDescription",
  "basePath": "",
  "baseUrl": "https://gkehub.googleapis.com/",
  "id": "gkehub:v2alpha",
  "canonicalName": "GKE Hub",
  "schemas": {
    "IdentityServiceSpec": {
      "description": "**IdentityService**: Configuration for a single membership.",
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        },
        "identityServiceOptions": {
          "$ref": "IdentityServiceIdentityServiceOptions",
          "description": "Optional. non-protocol-related configuration options."
        }
      },
      "id": "IdentityServiceSpec",
      "type": "object"
    },
    "ConfigManagementSyncError": {
      "id": "ConfigManagementSyncError",
      "type": "object",
      "description": "An ACM created error representing a problem syncing configurations.",
      "properties": {
        "errorResources": {
          "description": "A list of config(s) associated with the error, if any",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        },
        "code": {
          "description": "An ACM defined error code",
          "type": "string"
        }
      }
    },
    "ConfigManagementInstallError": {
      "id": "ConfigManagementInstallError",
      "type": "object",
      "description": "Errors pertaining to the installation of ACM.",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message.",
          "type": "string"
        }
      }
    },
    "IdentityServiceOidcConfig": {
      "description": "Configuration for OIDC Auth flow.",
      "properties": {
        "deployCloudConsoleProxy": {
          "type": "boolean",
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "type": "string",
          "description": "Output only. Encrypted OIDC Client secret",
          "format": "byte",
          "readOnly": true
        },
        "certificateAuthorityData": {
          "type": "string",
          "description": "PEM-encoded CA for OIDC provider."
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "enableAccessToken": {
          "description": "Enable access token.",
          "type": "boolean"
        },
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "clientId": {
          "type": "string",
          "description": "ID for OIDC client application."
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        }
      },
      "id": "IdentityServiceOidcConfig",
      "type": "object"
    },
    "ClusterUpgradeUpgradeStatus": {
      "description": "UpgradeStatus provides status information for each upgrade.",
      "properties": {
        "updateTime": {
          "description": "Last timestamp the status was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ],
          "description": "Status code of the upgrade."
        },
        "reason": {
          "type": "string",
          "description": "Reason for this status."
        }
      },
      "id": "ClusterUpgradeUpgradeStatus",
      "type": "object"
    },
    "ClusterUpgradeIgnoredMembership": {
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        },
        "ignoredTime": {
          "description": "Time when the membership was first set to ignored.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ClusterUpgradeIgnoredMembership",
      "type": "object"
    },
    "IdentityServiceUserConfig": {
      "id": "IdentityServiceUserConfig",
      "type": "object",
      "description": "Defines where users exist in the LDAP directory.",
      "properties": {
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        },
        "loginAttribute": {
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "baseDn": {
          "type": "string",
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
        }
      }
    },
    "PolicyControllerPolicyContentState": {
      "description": "The state of the policy controller policy content",
      "properties": {
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "bundleStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "The state of the any bundles included in the chosen version of the manifest"
        },
        "referentialSyncConfigState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user."
        }
      },
      "id": "PolicyControllerPolicyContentState",
      "type": "object"
    },
    "ConfigManagementConfigSyncError": {
      "id": "ConfigManagementConfigSyncError",
      "type": "object",
      "description": "Errors pertaining to the installation of Config Sync",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      }
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "description": "Deployment state for Hierarchy Controller",
      "properties": {
        "hnc": {
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0).",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "extension": {
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1).",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        }
      },
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ConfigManagementPolicyControllerVersion": {
      "id": "ConfigManagementPolicyControllerVersion",
      "type": "object",
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      }
    },
    "IdentityServiceServiceAccountConfig": {
      "description": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
      "properties": {
        "simpleBindCredentials": {
          "description": "Credentials for basic auth.",
          "$ref": "IdentityServiceSimpleBindCredentials"
        }
      },
      "id": "IdentityServiceServiceAccountConfig",
      "type": "object"
    },
    "ServiceMeshState": {
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "$ref": "ServiceMeshControlPlaneManagement",
          "readOnly": true
        },
        "dataPlaneManagement": {
          "readOnly": true,
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "description": "Output only. List of conditions reported for this membership.",
          "readOnly": true
        },
        "analysisMessages": {
          "readOnly": true,
          "description": "Output only. Results of running Service Mesh analyzers.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          }
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        }
      },
      "id": "ServiceMeshState",
      "type": "object"
    },
    "ServiceMeshAnalysisMessageBase": {
      "description": "AnalysisMessageBase describes some common information that is needed for all messages.",
      "properties": {
        "documentationUrl": {
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type.",
          "type": "string"
        },
        "type": {
          "$ref": "ServiceMeshType",
          "description": "Represents the specific type of a message."
        },
        "level": {
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "description": "Represents how severe a message is.",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "id": "ServiceMeshAnalysisMessageBase",
      "type": "object"
    },
    "WorkloadIdentityState": {
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        },
        "identityProviderStateDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "description": "The state of the Identity Providers corresponding to the membership."
        }
      },
      "id": "WorkloadIdentityState",
      "type": "object"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "description": "State of Policy Controller installation.",
      "properties": {
        "gatekeeperAudit": {
          "description": "Status of gatekeeper-audit deployment.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperMutation": {
          "description": "Status of the pod serving the mutation webhook.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperControllerManagerState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      },
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "properties": {
        "syncWaitSecs": {
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64"
        },
        "syncRev": {
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "policyDir": {
          "type": "string",
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        },
        "httpsProxy": {
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`.",
          "type": "string"
        },
        "syncRepo": {
          "description": "Required. The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "syncBranch": {
          "type": "string",
          "description": "Optional. The branch of the repository to sync from. Default: master."
        }
      },
      "id": "ConfigManagementGitConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "State": {
      "description": "High-level state of a MembershipFeature.",
      "properties": {
        "updateTime": {
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ]
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        }
      },
      "id": "State",
      "type": "object"
    },
    "PolicyControllerPolicyContentSpec": {
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "properties": {
        "bundles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        },
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        }
      },
      "id": "PolicyControllerPolicyContentSpec",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "IdentityServiceIdentityServiceOptions": {
      "id": "IdentityServiceIdentityServiceOptions",
      "type": "object",
      "description": "Holds non-protocol-related configuration options.",
      "properties": {
        "sessionDuration": {
          "type": "string",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service.",
          "format": "google-duration"
        },
        "diagnosticInterface": {
          "description": "Configuration options for the AIS diagnostic interface.",
          "$ref": "IdentityServiceDiagnosticInterface"
        }
      }
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "type": "object",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The lifecycle state of this component."
        },
        "details": {
          "type": "string",
          "description": "Surface potential errors or information logs."
        }
      }
    },
    "ServiceMeshAnalysisMessage": {
      "id": "ServiceMeshAnalysisMessage",
      "type": "object",
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "properties": {
        "resourcePaths": {
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message."
        },
        "messageBase": {
          "$ref": "ServiceMeshAnalysisMessageBase",
          "description": "Details common to all types of Istio and ServiceMesh analysis messages."
        },
        "description": {
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes.",
          "type": "string"
        }
      }
    },
    "ConfigManagementBinauthzConfig": {
      "description": "Configuration for Binauthz.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      },
      "id": "ConfigManagementBinauthzConfig",
      "type": "object"
    },
    "ConfigManagementGroupVersionKind": {
      "id": "ConfigManagementGroupVersionKind",
      "type": "object",
      "description": "A Kubernetes object's GVK.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "group": {
          "type": "string",
          "description": "Kubernetes Group"
        },
        "kind": {
          "type": "string",
          "description": "Kubernetes Kind"
        }
      }
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "description": "Deployment-specific configuration.",
      "properties": {
        "podTolerations": {
          "description": "Pod tolerations of node taints.",
          "type": "array",
          "items": {
            "$ref": "PolicyControllerToleration"
          }
        },
        "replicaCount": {
          "type": "string",
          "description": "Pod replica count.",
          "format": "int64"
        },
        "podAffinity": {
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "description": "Pod affinity configuration.",
          "type": "string",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ]
        },
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        },
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "type": "object"
    },
    "PolicyControllerSpec": {
      "id": "PolicyControllerSpec",
      "type": "object",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR.",
      "properties": {
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        },
        "version": {
          "type": "string",
          "description": "Version of Policy Controller installed."
        }
      }
    },
    "ConfigManagementHierarchyControllerState": {
      "id": "ConfigManagementHierarchyControllerState",
      "type": "object",
      "description": "State for Hierarchy Controller.",
      "properties": {
        "version": {
          "$ref": "ConfigManagementHierarchyControllerVersion",
          "description": "The version for Hierarchy Controller."
        },
        "state": {
          "$ref": "ConfigManagementHierarchyControllerDeploymentState",
          "description": "The deployment state for Hierarchy Controller."
        }
      }
    },
    "IdentityServiceGroupConfig": {
      "description": "Contains the properties for locating and authenticating groups in the directory.",
      "properties": {
        "idAttribute": {
          "description": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\".",
          "type": "string"
        },
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for group entries.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\".",
          "type": "string"
        }
      },
      "id": "IdentityServiceGroupConfig",
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "description": "Model for a config file in the git repo with an associated Sync error.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Metadata name of the resource that is causing an error"
        },
        "sourcePath": {
          "type": "string",
          "description": "Path in the git repo of the erroneous config"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        }
      },
      "id": "ConfigManagementErrorResource",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgrade": {
      "id": "ClusterUpgradeGKEUpgrade",
      "type": "object",
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade.",
      "properties": {
        "name": {
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\"."
        }
      }
    },
    "PolicyControllerBundleInstallSpec": {
      "id": "PolicyControllerBundleInstallSpec",
      "type": "object",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "properties": {
        "exemptedNamespaces": {
          "description": "the set of namespaces to be exempted from the bundle",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConfigManagementHierarchyControllerVersion": {
      "id": "ConfigManagementHierarchyControllerVersion",
      "type": "object",
      "description": "Version for Hierarchy Controller.",
      "properties": {
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC."
        },
        "extension": {
          "type": "string",
          "description": "Version for Hierarchy Controller extension."
        }
      }
    },
    "ConfigManagementConfigSyncVersion": {
      "description": "Specific versioning information pertaining to ConfigSync's Pods.",
      "properties": {
        "monitor": {
          "type": "string",
          "description": "Version of the deployed monitor pod."
        },
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod."
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod."
        },
        "otelCollector": {
          "description": "Version of the deployed otel-collector pod",
          "type": "string"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod."
        },
        "resourceGroupControllerManager": {
          "type": "string",
          "description": "Version of the deployed resource-group-controller-manager pod"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod."
        },
        "importer": {
          "type": "string",
          "description": "Version of the deployed importer pod."
        }
      },
      "id": "ConfigManagementConfigSyncVersion",
      "type": "object"
    },
    "ConfigManagementSyncState": {
      "id": "ConfigManagementSyncState",
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster.",
      "properties": {
        "errors": {
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "code": {
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code.",
          "type": "string",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ]
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo. The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true,
          "type": "string"
        },
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Timestamp type of when ACM last successfully synced the repo.",
          "format": "google-datetime"
        }
      }
    },
    "ConfigManagementSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "properties": {
        "binauthz": {
          "$ref": "ConfigManagementBinauthzConfig",
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "deprecated": true
        },
        "management": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields."
        },
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Optional. Config Sync configuration for the cluster."
        },
        "policyController": {
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "deprecated": true,
          "$ref": "ConfigManagementPolicyController"
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "deprecated": true
        },
        "cluster": {
          "type": "string",
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
        },
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        }
      },
      "id": "ConfigManagementSpec",
      "type": "object"
    },
    "IdentityServiceSimpleBindCredentials": {
      "description": "The structure holds the LDAP simple binding credential.",
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        },
        "encryptedPassword": {
          "type": "string",
          "description": "Output only. The encrypted password of the service account object/user.",
          "format": "byte",
          "readOnly": true
        },
        "dn": {
          "type": "string",
          "description": "Required. The distinguished name(DN) of the service account object/user."
        }
      },
      "id": "IdentityServiceSimpleBindCredentials",
      "type": "object"
    },
    "CloudBuildSpec": {
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the cloud build software on the cluster."
        },
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "type": "string",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        }
      },
      "id": "CloudBuildSpec",
      "type": "object"
    },
    "MeteringState": {
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller.",
      "properties": {
        "lastMeasurementTime": {
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "format": "google-datetime",
          "type": "string"
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "format": "float",
          "type": "number"
        }
      },
      "id": "MeteringState",
      "type": "object"
    },
    "IdentityServiceLdapConfig": {
      "description": "Configuration for the LDAP Auth flow.",
      "properties": {
        "server": {
          "$ref": "IdentityServiceServerConfig",
          "description": "Required. Server settings for the external LDAP server."
        },
        "user": {
          "$ref": "IdentityServiceUserConfig",
          "description": "Required. Defines where users exist in the LDAP directory."
        },
        "serviceAccount": {
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
          "$ref": "IdentityServiceServiceAccountConfig"
        },
        "group": {
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory.",
          "$ref": "IdentityServiceGroupConfig"
        }
      },
      "id": "IdentityServiceLdapConfig",
      "type": "object"
    },
    "ServiceMeshType": {
      "id": "ServiceMeshType",
      "type": "object",
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "properties": {
        "displayName": {
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)",
          "type": "string"
        },
        "code": {
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)",
          "type": "string"
        }
      }
    },
    "PolicyControllerResourceList": {
      "id": "PolicyControllerResourceList",
      "type": "object",
      "description": "ResourceList contains container resource requirements.",
      "properties": {
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "ConfigManagementConfigSync": {
      "description": "Configuration for Config Sync",
      "properties": {
        "sourceFormat": {
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present.",
          "type": "boolean"
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
        },
        "metricsGcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring.",
          "deprecated": true
        },
        "git": {
          "$ref": "ConfigManagementGitConfig",
          "description": "Optional. Git repo configuration for the cluster."
        },
        "stopSyncing": {
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false.",
          "type": "boolean"
        },
        "deploymentOverrides": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          },
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead."
        },
        "oci": {
          "description": "Optional. OCI repo configuration for the cluster.",
          "$ref": "ConfigManagementOciConfig"
        }
      },
      "id": "ConfigManagementConfigSync",
      "type": "object"
    },
    "ConfigManagementBinauthzVersion": {
      "description": "The version of binauthz.",
      "properties": {
        "webhookVersion": {
          "type": "string",
          "description": "The version of the binauthz webhook."
        }
      },
      "id": "ConfigManagementBinauthzVersion",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "googleConfig": {
          "description": "GoogleConfig specific configuration",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "samlConfig": {
          "$ref": "IdentityServiceSamlConfig",
          "description": "SAML specific configuration."
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "ldapConfig": {
          "$ref": "IdentityServiceLdapConfig",
          "description": "LDAP specific configuration."
        }
      },
      "id": "IdentityServiceAuthMethod",
      "type": "object"
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "type": "object",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      }
    },
    "ListMembershipFeaturesResponse": {
      "id": "ListMembershipFeaturesResponse",
      "type": "object",
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method.",
      "properties": {
        "membershipFeatures": {
          "type": "array",
          "items": {
            "$ref": "MembershipFeature"
          },
          "description": "The list of matching MembershipFeatures."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        }
      }
    },
    "ConfigManagementPolicyControllerMigration": {
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub.",
      "properties": {
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "description": "Stage of the migration.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ]
        },
        "copyTime": {
          "type": "string",
          "description": "Last time this membership spec was copied to PoCo feature.",
          "format": "google-datetime"
        }
      },
      "id": "ConfigManagementPolicyControllerMigration",
      "type": "object"
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "description": "MembershipGKEUpgradeState is a GKEUpgrade and its state per-membership.",
      "properties": {
        "upgrade": {
          "description": "Which upgrade to track the state.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        },
        "status": {
          "$ref": "ClusterUpgradeUpgradeStatus",
          "description": "Status of the upgrade."
        }
      },
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "type": "object"
    },
    "LifecycleState": {
      "id": "LifecycleState",
      "type": "object",
      "description": "LifecycleState describes the state of a MembershipFeature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the MembershipFeature.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the Feature resource in the Hub API.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "enumDescriptions": [
            "State is unknown or not set.",
            "The MembershipFeature is being enabled, and the MembershipFeature resource is being created. Once complete, the corresponding MembershipFeature will be enabled in this Hub.",
            "The MembershipFeature is enabled in this Hub, and the MembershipFeature resource is fully available.",
            "The MembershipFeature is being disabled in this Hub, and the MembershipFeature resource is being deleted.",
            "The MembershipFeature resource is being updated.",
            "The MembershipFeature resource is being updated by the Hub Service."
          ]
        }
      }
    },
    "ServiceMeshDataPlaneManagement": {
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object",
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of the status."
        },
        "state": {
          "description": "Lifecycle status of data plane management.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ]
        }
      }
    },
    "RBACRoleBindingActuationRBACRoleBindingState": {
      "description": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership.",
      "properties": {
        "updateTime": {
          "description": "The time the RBACRoleBinding status was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "RBACRoleBinding is created properly on the cluster.",
            "The RBACRoleBinding was created on the cluster but the specified custom role does not exist on the cluster, hence the RBACRoleBinding has no effect."
          ],
          "type": "string",
          "enum": [
            "ROLE_BINDING_STATE_UNSPECIFIED",
            "OK",
            "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          ],
          "readOnly": true,
          "description": "Output only. The state of the RBACRoleBinding."
        },
        "description": {
          "type": "string",
          "description": "The reason for the failure."
        }
      },
      "id": "RBACRoleBindingActuationRBACRoleBindingState",
      "type": "object"
    },
    "MembershipFeature": {
      "id": "MembershipFeature",
      "type": "object",
      "description": "MembershipFeature represents the settings and status of a Fleet Feature enabled on a single Fleet Membership.",
      "properties": {
        "spec": {
          "description": "Optional. Spec of this membershipFeature.",
          "$ref": "FeatureSpec"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the MembershipFeature resource was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the this membershipFeature.",
          "$ref": "FeatureState"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the MembershipFeature resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. When the MembershipFeature resource was deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "lifecycleState": {
          "description": "Output only. Lifecycle information of the resource itself.",
          "$ref": "LifecycleState",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Google Cloud labels for this MembershipFeature.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "IdentityServiceServerConfig": {
      "id": "IdentityServiceServerConfig",
      "type": "object",
      "description": "Server settings for the external LDAP server.",
      "properties": {
        "connectionType": {
          "type": "string",
          "description": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty."
        },
        "host": {
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\".",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "PolicyControllerResourceRequirements": {
      "id": "PolicyControllerResourceRequirements",
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "limits": {
          "$ref": "PolicyControllerResourceList",
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container."
        },
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        }
      }
    },
    "ConfigManagementOciConfig": {
      "description": "OCI repo configuration for a single cluster.",
      "properties": {
        "syncRepo": {
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "syncWaitSecs": {
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64"
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        }
      },
      "id": "ConfigManagementOciConfig",
      "type": "object"
    },
    "ConfigManagementBinauthzState": {
      "id": "ConfigManagementBinauthzState",
      "type": "object",
      "description": "State for Binauthz.",
      "properties": {
        "webhook": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the binauthz webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "version": {
          "$ref": "ConfigManagementBinauthzVersion",
          "description": "The version of binauthz that is installed."
        }
      }
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "description": "The state of ConfigSync's deployment on a cluster.",
      "properties": {
        "gitSync": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the git-sync pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "resourceGroupControllerManager": {
          "description": "Deployment state of resource-group-controller-manager",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "syncer": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the syncer pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "reconcilerManager": {
          "description": "Deployment state of reconciler-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "otelCollector": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of otel-collector"
        },
        "monitor": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of the monitor pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "importer": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the importer pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "rootReconciler": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of root-reconciler."
        },
        "admissionWebhook": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of admission-webhook."
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState",
      "type": "object"
    },
    "Origin": {
      "description": "Origin defines where this FeatureSpec originated from.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "description": "Type specifies which type of origin is set.",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Feature spec was inherited from the fleet-level default.",
            "Per-Feature spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Feature spec was inherited from a user specification."
          ]
        }
      },
      "id": "Origin",
      "type": "object"
    },
    "WorkloadCertificateSpec": {
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "properties": {
        "certificateManagement": {
          "description": "CertificateManagement specifies workload certificate management.",
          "type": "string",
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ]
        }
      },
      "id": "WorkloadCertificateSpec",
      "type": "object"
    },
    "ConfigManagementPolicyController": {
      "description": "Configuration for Policy Controller",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "exemptableNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last time this membership spec was updated.",
          "format": "google-datetime",
          "type": "string"
        },
[...]
