{
  "batchPath": "batch",
  "canonicalName": "GKE Hub",
  "ownerDomain": "google.com",
  "revision": "20260817",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "baseUrl": "https://gkehub.googleapis.com/",
  "title": "GKE Hub API",
  "name": "gkehub",
  "version": "v2beta",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "memberships": {
              "resources": {
                "features": {
                  "methods": {
                    "patch": {
                      "description": "Updates an existing MembershipFeature.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gkehub.projects.locations.memberships.features.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
                          "location": "path"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true, and the MembershipFeature is not found, a new MembershipFeature will be created. In this situation, `update_mask` is ignored.",
                          "location": "query"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Idempotent request UUID.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "path": "v2beta/{+name}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "id": "gkehub.projects.locations.memberships.features.get",
                      "description": "========= MembershipFeature Services ========= Gets details of a membershipFeature.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "MembershipFeature"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The MembershipFeature resource name in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListMembershipFeaturesResponse"
                      },
                      "path": "v2beta/{+parent}/features",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Lists MembershipFeatures that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"helloworld\" in project \"foo-proj\" and membership \"member-bar\": name = \"projects/foo-proj/locations/global/memberships/member-bar/features/helloworld\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent where the MembershipFeature will be listed. In the format: `projects/*/locations/*/memberships/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                          "location": "query"
                        }
                      },
                      "id": "gkehub.projects.locations.memberships.features.list",
                      "description": "Lists MembershipFeatures in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of parent where the MembershipFeature will be created. Specified in the format `projects/*/locations/*/memberships/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "type": "string"
                        },
                        "featureId": {
                          "type": "string",
                          "description": "Required. The ID of the membership_feature to create.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "path": "v2beta/{+parent}/features",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates membershipFeature under a given parent.",
                      "id": "gkehub.projects.locations.memberships.features.create"
                    },
                    "delete": {
                      "path": "v2beta/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the membershipFeature to be deleted. Specified in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "id": "gkehub.projects.locations.memberships.features.delete",
                      "description": "Removes a membershipFeature.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "gkehub.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "path": "v2beta/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "gkehub.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v2beta/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "gkehub.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "gkehub.projects.locations.list",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "flatPath": "v2beta/projects/{projectsId}/locations",
              "path": "v2beta/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}",
              "path": "v2beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "gkehub.projects.locations.get"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "id": "gkehub:v2beta",
  "rootUrl": "https://gkehub.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object",
      "properties": {
        "gatekeeperAudit": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of gatekeeper-audit deployment."
        },
        "gatekeeperMutation": {
          "description": "Status of the pod serving the mutation webhook.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "gatekeeperControllerManagerState": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of gatekeeper-controller-manager pod."
        }
      },
      "description": "State of Policy Controller installation."
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The lifecycle state of this component."
        },
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        }
      },
      "description": "OnClusterState represents the state of a sub-component of Policy Controller."
    },
    "State": {
      "description": "High-level state of a MembershipFeature.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        },
        "updateTime": {
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "description": "The high-level, machine-readable status of this MembershipFeature."
        }
      },
      "id": "State",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "LifecycleState": {
      "properties": {
        "state": {
          "description": "Output only. The current state of the Feature resource in the Hub API.",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The MembershipFeature is being enabled, and the MembershipFeature resource is being created. Once complete, the corresponding MembershipFeature will be enabled in this Hub.",
            "The MembershipFeature is enabled in this Hub, and the MembershipFeature resource is fully available.",
            "The MembershipFeature is being disabled in this Hub, and the MembershipFeature resource is being deleted.",
            "The MembershipFeature resource is being updated.",
            "The MembershipFeature resource is being updated by the Hub Service."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "id": "LifecycleState",
      "type": "object",
      "description": "LifecycleState describes the state of a MembershipFeature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the MembershipFeature."
    },
    "ConfigManagementGroupVersionKind": {
      "description": "A Kubernetes object's GVK.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kubernetes Kind"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        }
      },
      "id": "ConfigManagementGroupVersionKind",
      "type": "object"
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "description": "Deployment-specific configuration.",
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "type": "object",
      "properties": {
        "replicaCount": {
          "type": "string",
          "description": "Pod replica count.",
          "format": "int64"
        },
        "podTolerations": {
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "description": "Pod tolerations of node taints.",
          "type": "array"
        },
        "podAffinity": {
          "type": "string",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ],
          "description": "Pod affinity configuration."
        },
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        },
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "IdentityServiceUserConfig": {
      "id": "IdentityServiceUserConfig",
      "type": "object",
      "properties": {
        "loginAttribute": {
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
        },
        "baseDn": {
          "type": "string",
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries."
        }
      },
      "description": "Defines where users exist in the LDAP directory."
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MeteringState": {
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller.",
      "properties": {
        "lastMeasurementTime": {
          "type": "string",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "format": "google-datetime"
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "format": "float"
        }
      },
      "id": "MeteringState",
      "type": "object"
    },
    "IdentityServiceGoogleConfig": {
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceGoogleConfig",
      "type": "object"
    },
    "FeatureState": {
      "description": "FeatureState contains high-level state information and per-feature state information for this MembershipFeature.",
      "properties": {
        "identityservice": {
          "description": "Identity service state",
          "$ref": "IdentityServiceState"
        },
        "configmanagement": {
          "description": "Config Management state",
          "$ref": "ConfigManagementState"
        },
        "clusterupgrade": {
          "description": "Cluster upgrade state.",
          "$ref": "ClusterUpgradeState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceState"
        },
        "metering": {
          "description": "Metering state",
          "$ref": "MeteringState"
        },
        "state": {
          "description": "The high-level state of this MembershipFeature.",
          "$ref": "State"
        },
        "policycontroller": {
          "description": "Policy Controller state",
          "$ref": "PolicyControllerState"
        },
        "servicemesh": {
          "description": "Service mesh state",
          "$ref": "ServiceMeshState"
        },
        "rbacrolebindingactuation": {
          "$ref": "RBACRoleBindingActuationState",
          "description": "RBAC Role Binding Actuation state"
        },
        "workloadidentity": {
          "description": "Workload Identity state",
          "$ref": "WorkloadIdentityState"
        }
      },
      "id": "FeatureState",
      "type": "object"
    },
    "PolicyControllerToleration": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Matches a taint key (not necessarily unique)."
        },
        "effect": {
          "type": "string",
          "description": "Matches a taint effect."
        },
        "operator": {
          "type": "string",
          "description": "Matches a taint operator."
        },
        "value": {
          "description": "Matches a taint value.",
          "type": "string"
        }
      },
      "id": "PolicyControllerToleration",
      "type": "object",
      "description": "Toleration of a node taint."
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ],
          "description": "The state of the Identity Provider."
        },
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Metadata of the long-running operation.",
      "properties": {
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ServiceMeshAnalysisMessage": {
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "id": "ServiceMeshAnalysisMessage",
      "type": "object",
      "properties": {
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        },
        "description": {
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes.",
          "type": "string"
        },
        "args": {
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resourcePaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster"
        }
      }
    },
    "ClusterUpgradeIgnoredMembership": {
      "id": "ClusterUpgradeIgnoredMembership",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        },
        "ignoredTime": {
          "type": "string",
          "description": "Time when the membership was first set to ignored.",
          "format": "google-datetime"
        }
      },
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default."
    },
    "ClusterUpgradeGKEUpgrade": {
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade.",
      "id": "ClusterUpgradeGKEUpgrade",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\"."
        },
        "name": {
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\".",
          "type": "string"
        }
      }
    },
    "ServiceMeshDataPlaneManagement": {
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "state": {
          "description": "Lifecycle status of data plane management.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ]
        },
        "details": {
          "type": "array",
          "description": "Explanation of the status.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        }
      },
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object"
    },
    "ServiceMeshSpec": {
      "id": "ServiceMeshSpec",
      "type": "object",
      "properties": {
        "defaultChannel": {
          "type": "string",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "deprecated": true,
          "description": "Determines which release channel to use for default injection and service mesh APIs."
        },
        "management": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "description": "Optional. Enables automatic Service Mesh management."
        },
        "configApi": {
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ]
        },
        "controlPlane": {
          "type": "string",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management."
        }
      },
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature"
    },
    "IdentityServiceSimpleBindCredentials": {
      "id": "IdentityServiceSimpleBindCredentials",
      "type": "object",
      "properties": {
        "dn": {
          "type": "string",
          "description": "Required. The distinguished name(DN) of the service account object/user."
        },
        "encryptedPassword": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The encrypted password of the service account object/user.",
          "format": "byte"
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the service account object/user."
        }
      },
      "description": "The structure holds the LDAP simple binding credential."
    },
    "ServiceMeshAnalysisMessageBase": {
      "description": "AnalysisMessageBase describes some common information that is needed for all messages.",
      "properties": {
        "type": {
          "$ref": "ServiceMeshType",
          "description": "Represents the specific type of a message."
        },
        "level": {
          "description": "Represents how severe a message is.",
          "type": "string",
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "documentationUrl": {
          "type": "string",
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
        }
      },
      "id": "ServiceMeshAnalysisMessageBase",
      "type": "object"
    },
    "PolicyControllerMonitoringConfig": {
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "id": "PolicyControllerMonitoringConfig",
      "type": "object",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          },
          "type": "array"
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "properties": {
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        },
        "webhook": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the binauthz webhook."
        }
      },
      "id": "ConfigManagementBinauthzState",
      "type": "object",
      "description": "State for Binauthz."
    },
    "ListMembershipFeaturesResponse": {
      "id": "ListMembershipFeaturesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          }
        },
        "membershipFeatures": {
          "description": "The list of matching MembershipFeatures.",
          "items": {
            "$ref": "MembershipFeature"
          },
          "type": "array"
        }
      },
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method."
    },
    "ConfigManagementOperatorState": {
      "id": "ConfigManagementOperatorState",
      "type": "object",
      "properties": {
        "version": {
          "description": "The semenatic version number of the operator.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors.",
          "type": "array"
        },
        "deploymentState": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the Operator's deployment."
        }
      },
      "description": "State information for an ACM's Operator."
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "description": "The state of ConfigSync's deployment on a cluster.",
      "properties": {
        "rootReconciler": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of root-reconciler."
        },
        "admissionWebhook": {
          "description": "Deployment state of admission-webhook.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "otelCollector": {
          "description": "Deployment state of otel-collector",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "resourceGroupControllerManager": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of resource-group-controller-manager"
        },
        "syncer": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the syncer pod."
        },
        "importer": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the importer pod."
        },
        "gitSync": {
          "description": "Deployment state of the git-sync pod.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "monitor": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the monitor pod."
        },
        "reconcilerManager": {
          "description": "Deployment state of reconciler-manager pod.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AppDevExperienceStatus": {
      "description": "Status specifies state for the subcomponent.",
      "properties": {
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ]
        },
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        }
      },
      "id": "AppDevExperienceStatus",
      "type": "object"
    },
    "IdentityServiceAzureADConfig": {
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        },
        "groupFormat": {
          "description": "Optional. Format of the AzureAD groups that the client wants for auth.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        },
        "userClaim": {
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted AzureAD client secret.",
          "format": "byte",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "IdentityServiceAzureADConfig",
      "type": "object",
      "description": "Configuration for the AzureAD Auth flow."
    },
    "ServiceMeshCondition": {
      "description": "Condition being reported.",
      "properties": {
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "severity": {
          "description": "Severity level of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "code": {
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "type": "string",
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ]
        }
      },
      "id": "ServiceMeshCondition",
      "type": "object"
    },
    "WorkloadIdentityState": {
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "id": "WorkloadIdentityState",
      "type": "object",
      "properties": {
        "identityProviderStateDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "description": "The state of the Identity Providers corresponding to the membership."
        },
        "description": {
          "description": "Deprecated, this field will be erased after code is changed to use the new field.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "WorkloadCertificateSpec": {
      "properties": {
        "certificateManagement": {
          "type": "string",
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CertificateManagement specifies workload certificate management."
        }
      },
      "id": "WorkloadCertificateSpec",
      "type": "object",
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature."
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "properties": {
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The URL of the Git repository to use as the source of truth."
        },
        "syncBranch": {
          "description": "Optional. The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
        },
        "syncWaitSecs": {
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64",
          "type": "string"
        },
        "httpsProxy": {
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncRev": {
          "type": "string",
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD."
        }
      },
      "id": "ConfigManagementGitConfig",
      "type": "object"
    },
    "ConfigManagementContainerOverride": {
      "id": "ConfigManagementContainerOverride",
      "type": "object",
      "properties": {
        "cpuRequest": {
          "type": "string",
          "description": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "memoryRequest": {
          "type": "string",
          "description": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
        },
        "cpuLimit": {
          "type": "string",
          "description": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "memoryLimit": {
          "description": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        },
        "containerName": {
          "type": "string",
          "description": "Required. The name of the container."
        }
      },
      "description": "Configuration for a container override."
    },
    "RBACRoleBindingActuationRBACRoleBindingState": {
      "description": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The reason for the failure."
        },
        "updateTime": {
          "description": "The time the RBACRoleBinding status was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "ROLE_BINDING_STATE_UNSPECIFIED",
            "OK",
            "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "RBACRoleBinding is created properly on the cluster.",
            "The RBACRoleBinding was created on the cluster but the specified custom role does not exist on the cluster, hence the RBACRoleBinding has no effect."
          ],
          "description": "Output only. The state of the RBACRoleBinding."
        }
      },
      "id": "RBACRoleBindingActuationRBACRoleBindingState",
      "type": "object"
    },
    "IdentityServiceDiagnosticInterface": {
      "description": "Configuration options for the AIS diagnostic interface.",
      "id": "IdentityServiceDiagnosticInterface",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Determines whether to enable the diagnostic interface.",
          "type": "boolean"
        },
        "expirationTime": {
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "PolicyControllerResourceRequirements": {
      "id": "PolicyControllerResourceRequirements",
      "type": "object",
      "properties": {
        "limits": {
          "$ref": "PolicyControllerResourceList",
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container."
        },
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        }
      },
      "description": "ResourceRequirements describes the compute resource requirements."
    },
    "ServiceMeshType": {
      "id": "ServiceMeshType",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
        },
        "code": {
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)",
          "type": "string"
        }
      },
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type"
    },
    "IdentityServiceSpec": {
      "description": "**IdentityService**: Configuration for a single membership.",
      "id": "IdentityServiceSpec",
      "type": "object",
      "properties": {
        "authMethods": {
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "description": "A member may support multiple auth methods.",
          "type": "array"
        },
        "identityServiceOptions": {
          "description": "Optional. non-protocol-related configuration options.",
          "$ref": "IdentityServiceIdentityServiceOptions"
        }
      }
    },
    "ConfigManagementConfigSync": {
      "description": "Configuration for Config Sync",
      "properties": {
        "stopSyncing": {
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false.",
          "type": "boolean"
        },
        "git": {
          "$ref": "ConfigManagementGitConfig",
          "description": "Optional. Git repo configuration for the cluster."
        },
        "sourceFormat": {
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present.",
          "type": "boolean"
        },
        "preventDrift": {
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details.",
          "type": "boolean"
        },
        "metricsGcpServiceAccountEmail": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
        },
        "deploymentOverrides": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          },
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead."
        },
        "oci": {
          "description": "Optional. OCI repo configuration for the cluster.",
          "$ref": "ConfigManagementOciConfig"
        }
      },
      "id": "ConfigManagementConfigSync",
      "type": "object"
    },
    "ConfigManagementBinauthzVersion": {
      "properties": {
        "webhookVersion": {
          "type": "string",
          "description": "The version of the binauthz webhook."
        }
      },
      "id": "ConfigManagementBinauthzVersion",
      "type": "object",
      "description": "The version of binauthz."
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations.",
      "properties": {
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "code": {
          "description": "An ACM defined error code",
          "type": "string"
        },
        "errorResources": {
          "type": "array",
          "description": "A list of config(s) associated with the error, if any",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        }
      },
      "id": "ConfigManagementSyncError",
      "type": "object"
    },
    "IdentityServiceOidcConfig": {
      "id": "IdentityServiceOidcConfig",
      "type": "object",
      "properties": {
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted OIDC Client secret",
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        },
        "scopes": {
          "type": "string",
          "description": "Comma-separated list of identifiers."
        },
        "groupsClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds group information."
        },
        "extraParams": {
          "type": "string",
          "description": "Comma-separated list of key-value pairs."
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "groupPrefix": {
          "description": "Prefix to prepend to group name.",
          "type": "string"
        },
        "enableAccessToken": {
          "type": "boolean",
          "description": "Enable access token."
        },
        "certificateAuthorityData": {
          "type": "string",
          "description": "PEM-encoded CA for OIDC provider."
        }
      },
      "description": "Configuration for OIDC Auth flow."
    },
    "ConfigManagementConfigSyncVersion": {
      "properties": {
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod."
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "otelCollector": {
          "type": "string",
          "description": "Version of the deployed otel-collector pod"
        },
        "importer": {
          "type": "string",
          "description": "Version of the deployed importer pod."
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod."
        },
        "monitor": {
          "description": "Version of the deployed monitor pod.",
          "type": "string"
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod."
        },
        "resourceGroupControllerManager": {
          "description": "Version of the deployed resource-group-controller-manager pod",
          "type": "string"
        },
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod."
        }
      },
      "id": "ConfigManagementConfigSyncVersion",
      "type": "object",
      "description": "Specific versioning information pertaining to ConfigSync's Pods."
    },
    "FeatureSpec": {
      "description": "FeatureSpec contains user input per-feature spec information.",
      "id": "FeatureSpec",
      "type": "object",
      "properties": {
        "workloadcertificate": {
          "description": "Workloadcertificate-specific FeatureSpec.",
          "$ref": "WorkloadCertificateSpec"
        },
        "cloudbuild": {
          "description": "Cloudbuild-specific FeatureSpec.",
          "$ref": "CloudBuildSpec"
        },
        "rbacrolebindingactuation": {
          "description": "Rbacrolebindingactuation-specific FeatureSpec.",
          "$ref": "RBACRoleBindingActuationSpec"
        },
        "servicemesh": {
          "$ref": "ServiceMeshSpec",
          "description": "ServiceMesh Feature Spec."
        },
        "origin": {
          "$ref": "Origin",
          "description": "Whether this per-Feature spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Feature config (updated to USER implicitly) or setting to FLEET explicitly."
        },
        "identityservice": {
          "description": "IdentityService FeatureSpec.",
          "$ref": "IdentityServiceSpec"
        },
        "configmanagement": {
          "$ref": "ConfigManagementSpec",
          "description": "Config Management FeatureSpec."
        },
        "policycontroller": {
          "$ref": "PolicyControllerSpec",
          "description": "Policycontroller-specific FeatureSpec."
        }
      }
    },
    "AppDevExperienceState": {
      "id": "AppDevExperienceState",
      "type": "object",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "AppDevExperienceStatus"
        }
      },
      "description": "State for App Dev Exp Feature."
    },
    "IdentityServiceAuthMethod": {
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "description": "Proxy server address to use for auth method.",
          "type": "string"
        },
        "oidcConfig": {
          "$ref": "IdentityServiceOidcConfig",
          "description": "OIDC specific configuration."
        },
        "samlConfig": {
          "$ref": "IdentityServiceSamlConfig",
          "description": "SAML specific configuration."
        },
        "ldapConfig": {
          "description": "LDAP specific configuration.",
[...]
