{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "name": "gkehub",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ConfigManagementOciConfig": {
      "type": "object",
      "id": "ConfigManagementOciConfig",
      "description": "OCI repo configuration for a single cluster",
      "properties": {
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive."
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
        }
      }
    },
    "WorkloadIdentityWorkloadIdentityPoolStateDetail": {
      "id": "WorkloadIdentityWorkloadIdentityPoolStateDetail",
      "type": "object",
      "description": "WorkloadIdentityPoolStateDetail represents the state of the Workload Identity Pools for the fleet.",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Unknown state.",
            "The Workload Identity Pool was created/updated successfully.",
            "The Workload Identity Pool was not created/updated successfully. The error message is in the description field."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_IDENTITY_POOL_STATE_UNSPECIFIED",
            "WORKLOAD_IDENTITY_POOL_STATE_OK",
            "WORKLOAD_IDENTITY_POOL_STATE_ERROR"
          ],
          "description": "The state of the Workload Identity Pool."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        }
      }
    },
    "ServiceMeshMembershipSpec": {
      "type": "object",
      "id": "ServiceMeshMembershipSpec",
      "properties": {
        "defaultChannel": {
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "type": "string"
        },
        "controlPlane": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "deprecated": true,
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "management": {
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "description": "Optional. Enables automatic Service Mesh management."
        },
        "configApi": {
          "type": "string",
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads."
        }
      },
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature"
    },
    "ConfigManagementHierarchyControllerState": {
      "id": "ConfigManagementHierarchyControllerState",
      "type": "object",
      "properties": {
        "version": {
          "$ref": "ConfigManagementHierarchyControllerVersion",
          "description": "The version for Hierarchy Controller"
        },
        "state": {
          "$ref": "ConfigManagementHierarchyControllerDeploymentState",
          "description": "The deployment state for Hierarchy Controller"
        }
      },
      "description": "State for Hierarchy Controller"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "AppDevExperienceFeatureState": {
      "type": "object",
      "description": "State for App Dev Exp Feature.",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "Status"
        }
      },
      "id": "AppDevExperienceFeatureState"
    },
    "PolicyControllerMembershipState": {
      "id": "PolicyControllerMembershipState",
      "type": "object",
      "description": "**Policy Controller**: State for a single cluster.",
      "properties": {
        "componentStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\""
        },
        "policyContentState": {
          "$ref": "PolicyControllerPolicyContentState",
          "description": "The overall content state observed by the Hub Feature controller."
        },
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller."
        }
      }
    },
    "ServiceMeshFeatureCondition": {
      "properties": {
        "severity": {
          "description": "Severity level of the condition.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ]
        },
        "details": {
          "description": "A short summary about the issue.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ],
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code.",
            "Workload identity required error code.",
            "Non-standard binary usage error code.",
            "Unsupported gateway class error code.",
            "Managed CNI not enabled error code.",
            "Missing control plane configuration error code.",
            "Shared VPC missing permissions error code.",
            "Required org policy disabled error code.",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all clusters in the fleet is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "description": "Unique identifier of the condition which describes the condition recognizable to the user."
        },
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Condition being reported.",
      "id": "ServiceMeshFeatureCondition"
    },
    "ClusterUpgradeScopeSpec": {
      "id": "ClusterUpgradeScopeSpec",
      "type": "object",
      "properties": {
        "upstreamScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This scope consumes upgrades that have COMPLETE status code in the upstream scopes. See UpgradeStatus.Code for code definitions. The scope name should be in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. This is defined as repeated for future proof reasons. Initial implementation will enforce at most one upstream scope."
        },
        "gkeUpgradeOverrides": {
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeOverride"
          },
          "type": "array",
          "description": "Allow users to override some properties of each GKE upgrade."
        },
        "postConditions": {
          "description": "Required. Post conditions to evaluate to mark an upgrade COMPLETE. Required.",
          "$ref": "ClusterUpgradePostConditions"
        }
      },
      "description": "**ClusterUpgrade**: The configuration for the scope-level ClusterUpgrade feature."
    },
    "ConfigManagementConfigSyncState": {
      "id": "ConfigManagementConfigSyncState",
      "type": "object",
      "properties": {
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster",
          "readOnly": true
        },
        "clusterLevelStopSyncingState": {
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ]
        },
        "version": {
          "$ref": "ConfigManagementConfigSyncVersion",
          "readOnly": true,
          "description": "Output only. The version of ConfigSync deployed"
        },
        "crCount": {
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "reposyncCrd": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "description": "Output only. The state of the Reposync CRD"
        },
        "rootsyncCrd": {
          "type": "string",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "readOnly": true,
          "description": "Output only. The state of the RootSync CRD",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ]
        },
        "deploymentState": {
          "description": "Output only. Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "type": "string",
          "description": "Output only. The state of CS This field summarizes the other fields in this message."
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          }
        }
      },
      "description": "State information for ConfigSync"
    },
    "ClusterSelector": {
      "id": "ClusterSelector",
      "type": "object",
      "description": "Selector for clusters.",
      "properties": {
        "labelSelector": {
          "type": "string",
          "description": "Required. A valid CEL (Common Expression Language) expression which evaluates `resource.labels`."
        }
      }
    },
    "NamespaceActuationMembershipSpec": {
      "type": "object",
      "id": "NamespaceActuationMembershipSpec",
      "properties": {},
      "description": "**Namespace Actuation**: The membership-specific input for NamespaceActuation feature."
    },
    "KubernetesResource": {
      "properties": {
        "membershipCrManifest": {
          "description": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership.",
          "type": "string"
        },
        "resourceOptions": {
          "$ref": "ResourceOptions",
          "description": "Optional. Options for Kubernetes resource generation."
        },
        "connectResources": {
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          },
          "description": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.",
          "readOnly": true
        },
        "membershipResources": {
          "readOnly": true,
          "items": {
            "$ref": "ResourceManifest"
          },
          "type": "array",
          "description": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        }
      },
      "id": "KubernetesResource",
      "description": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster.",
      "type": "object"
    },
    "PolicyControllerHubConfig": {
      "properties": {
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "installSpec": {
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "type": "string",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        },
        "constraintViolationLimit": {
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used.",
          "type": "string",
          "format": "int64"
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "deploymentConfigs": {
          "type": "object",
          "description": "Map of deployment configs to deployments (\"admission\", \"audit\", \"mutation').",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          }
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        }
      },
      "type": "object",
      "id": "PolicyControllerHubConfig",
      "description": "Configuration for Policy Controller"
    },
    "FleetObservabilityLoggingConfig": {
      "type": "object",
      "properties": {
        "fleetScopeLogsConfig": {
          "description": "Specified if applying the routing config to all logs for all fleet scopes.",
          "$ref": "FleetObservabilityRoutingConfig"
        },
        "defaultConfig": {
          "description": "Specified if applying the default routing config to logs not specified in other configs.",
          "$ref": "FleetObservabilityRoutingConfig"
        }
      },
      "description": "LoggingConfig defines the configuration for different types of logs.",
      "id": "FleetObservabilityLoggingConfig"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "type": "object",
      "id": "ConfigManagementGatekeeperDeploymentState",
      "properties": {
        "gatekeeperAudit": {
          "description": "Status of gatekeeper-audit deployment.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "gatekeeperControllerManagerState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "gatekeeperMutation": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "description": "Status of the pod serving the mutation webhook."
        }
      },
      "description": "State of Policy Controller installation."
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "IdentityServiceAzureADConfig": {
      "description": "Configuration for the AzureAD Auth flow.",
      "type": "object",
      "properties": {
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        },
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "encryptedClientSecret": {
          "type": "string",
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Encrypted AzureAD client secret."
        },
        "groupFormat": {
          "description": "Optional. Format of the AzureAD groups that the client wants for auth.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "userClaim": {
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details.",
          "type": "string"
        }
      },
      "id": "IdentityServiceAzureADConfig"
    },
    "PauseRolloutRequest": {
      "description": "Request message for pausing a rollout.",
      "properties": {},
      "id": "PauseRolloutRequest",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "ConfigManagementDeploymentOverride": {
      "id": "ConfigManagementDeploymentOverride",
      "properties": {
        "containers": {
          "description": "Optional. The containers of the deployment resource to be overridden.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          }
        },
        "deploymentName": {
          "description": "Required. The name of the deployment resource to be overridden.",
          "type": "string"
        },
        "deploymentNamespace": {
          "description": "Required. The namespace of the deployment resource to be overridden.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for a deployment override."
    },
    "PolicyControllerPolicyContentState": {
      "description": "The state of the policy controller policy content",
      "properties": {
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "bundleStates": {
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "referentialSyncConfigState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user."
        }
      },
      "id": "PolicyControllerPolicyContentState",
      "type": "object"
    },
    "IdentityServiceOidcConfig": {
      "properties": {
        "enableAccessToken": {
          "type": "boolean",
          "description": "Enable access token."
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "scopes": {
          "type": "string",
          "description": "Comma-separated list of identifiers."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
        },
        "groupPrefix": {
          "description": "Prefix to prepend to group name.",
          "type": "string"
        },
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "format": "byte",
          "description": "Output only. Encrypted OIDC Client secret",
          "readOnly": true,
          "type": "string"
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "issuerUri": {
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration.",
          "type": "string"
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        }
      },
      "type": "object",
      "id": "IdentityServiceOidcConfig",
      "description": "Configuration for OIDC Auth flow."
    },
    "ConfigManagementBinauthzConfig": {
      "description": "Configuration for Binauthz",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      },
      "id": "ConfigManagementBinauthzConfig",
      "type": "object"
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "type": "object",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "description": "The state of the Identity Provider."
        },
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ValidateExclusivityResponse": {
      "properties": {
        "status": {
          "description": "The validation result. * `OK` means that exclusivity is validated, assuming the manifest produced by GenerateExclusivityManifest is successfully applied. * `ALREADY_EXISTS` means that the Membership CRD is already owned by another Hub. See `status.message` for more information.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The response of exclusivity artifacts validation result status.",
      "id": "ValidateExclusivityResponse",
      "type": "object"
    },
    "RBACRoleBindingActuationFeatureSpec": {
      "properties": {
        "allowedCustomRoles": {
          "items": {
            "type": "string"
          },
          "description": "The list of allowed custom roles (ClusterRoles). If a ClusterRole is not part of this list, it cannot be used in a Scope RBACRoleBinding. If a ClusterRole in this list is in use, it cannot be removed from the list.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "**RBAC RoleBinding Actuation**: The Hub-wide input for the RBACRoleBindingActuation feature.",
      "id": "RBACRoleBindingActuationFeatureSpec"
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "description": "Deployment state for Hierarchy Controller",
      "properties": {
        "hnc": {
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "extension": {
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      },
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "type": "object"
    },
    "WorkloadIdentityFeatureSpec": {
      "description": "**WorkloadIdentity**: Global feature specification.",
      "type": "object",
      "id": "WorkloadIdentityFeatureSpec",
      "properties": {
        "scopeTenancyPool": {
          "type": "string",
          "description": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "MembershipFeatureState": {
      "type": "object",
      "properties": {
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "workloadidentity": {
          "$ref": "WorkloadIdentityMembershipState",
          "description": "Workload Identity membership specific state."
        },
        "servicemesh": {
          "description": "Service Mesh-specific state.",
          "$ref": "ServiceMeshMembershipState"
        },
        "identityservice": {
          "description": "Identity Service-specific state.",
          "$ref": "IdentityServiceMembershipState"
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipState",
          "description": "Config Management-specific state."
        },
        "state": {
          "description": "The high-level state of this Feature for a single membership.",
          "$ref": "FeatureState"
        },
        "metering": {
          "description": "Metering-specific state.",
          "$ref": "MeteringMembershipState"
        },
        "clusterupgrade": {
          "description": "ClusterUpgrade state.",
          "$ref": "ClusterUpgradeMembershipState"
        },
        "fleetobservability": {
          "description": "Fleet observability membership state.",
          "$ref": "FleetObservabilityMembershipState"
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        },
        "namespaceactuation": {
          "description": "FNS Actuation membership state",
          "$ref": "NamespaceActuationMembershipState"
        }
      },
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "id": "MembershipFeatureState"
    },
    "MembershipEndpoint": {
      "description": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata.",
      "properties": {
        "multiCloudCluster": {
          "description": "Optional. Specific information for a GKE Multi-Cloud cluster.",
          "$ref": "MultiCloudCluster"
        },
        "googleManaged": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the lifecycle of this membership is managed by a google cluster platform service."
        },
        "applianceCluster": {
          "$ref": "ApplianceCluster",
          "description": "Optional. Specific information for a GDC Edge Appliance cluster."
        },
        "kubernetesMetadata": {
          "$ref": "KubernetesMetadata",
          "description": "Output only. Useful Kubernetes-specific metadata.",
          "readOnly": true
        },
        "edgeCluster": {
          "$ref": "EdgeCluster",
          "description": "Optional. Specific information for a Google Edge cluster."
        },
        "onPremCluster": {
          "$ref": "OnPremCluster",
          "description": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead."
        },
        "gkeCluster": {
          "$ref": "GkeCluster",
          "description": "Optional. Specific information for a GKE on Google Cloud cluster."
        },
        "kubernetesResource": {
          "$ref": "KubernetesResource",
          "description": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features."
        }
      },
      "id": "MembershipEndpoint",
      "type": "object"
    },
    "ListScopesResponse": {
      "id": "ListScopesResponse",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The list of Scopes",
          "items": {
            "$ref": "Scope"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List of Scopes."
    },
    "ConfigManagementPolicyController": {
      "type": "object",
      "description": "Configuration for Policy Controller",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last time this membership spec was updated.",
          "readOnly": true
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "mutationEnabled": {
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "templateLibraryInstalled": {
          "type": "boolean",
          "description": "Installs the default template library along with Policy Controller."
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        }
      }
    },
    "RolloutSequence": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. Human readable display name of the Rollout Sequence.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp at which the Rollout Sequence was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "targetNodeVersion": {
          "description": "Output only. The target node version of the Rollout Sequence.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the rollout sequence in the format of: projects/{PROJECT_ID}/locations/global/rolloutSequences/{NAME}",
          "type": "string"
        },
        "operationalState": {
          "readOnly": true,
          "$ref": "OperationalState",
          "description": "Output only. Operational state of the Rollout Sequence."
        },
        "lastQualifiedControlPlaneVersion": {
          "description": "Output only. The last qualified control plane version.",
          "readOnly": true,
          "type": "string"
        },
        "lastQualifiedNodeVersion": {
          "type": "string",
          "description": "Output only. The last qualified node version.",
          "readOnly": true
        },
        "autoUpgradeConfig": {
          "description": "Optional. Configuration for automatic upgrades. If this message is `unset`, the system applies default behavior.",
          "$ref": "AutoUpgradeConfig"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Rollout Sequence resources. If a Rollout Sequence resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "effectiveAutoUpgradeConfig": {
          "readOnly": true,
          "description": "Output only. The resolved auto-upgrade options which are in effect.",
          "$ref": "AutoUpgradeConfig"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. etag of the Rollout Sequence Ex. abc1234"
        },
        "stages": {
          "description": "Required. Ordered list of stages that constitutes this Rollout.",
          "items": {
            "$ref": "Stage"
          },
          "type": "array"
        },
        "ignoredClustersSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. Selector for clusters to exclude from the Rollout Sequence."
        },
        "computedReleaseChannel": {
          "readOnly": true,
          "enumDescriptions": [
            "Default if no value is specified. Should not be used.",
            "Release channel `RAPID` of GKE.",
            "Release channel `REGULAR` of GKE.",
            "Release channel `STABLE` of GKE.",
            "Release channel `EXTENDED` of GKE.",
            "Release channel `NO_CHANNEL` of GKE. Formerly known as `STATIC`."
          ],
          "type": "string",
          "description": "Output only. The computed release channel used for the Rollout Sequence.",
          "enum": [
            "GKE_RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED",
            "NO_CHANNEL"
          ]
        },
        "labels": {
          "description": "Optional. Labels for this Rollout Sequence.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetControlPlaneVersion": {
          "readOnly": true,
          "description": "Output only. The target control plane version of the Rollout Sequence.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp at which the Rollout Sequence was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp at the Rollout Sequence was deleted.",
          "type": "string"
        }
      },
      "id": "RolloutSequence",
      "description": "RolloutSequence defines the desired order of upgrades. Next ID: 20"
    },
    "ListAdminClusterMembershipsResponse": {
      "id": "ListAdminClusterMembershipsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "adminClusterMemberships": {
          "type": "array",
          "description": "The list of matching Memberships of admin clusters.",
          "items": {
            "$ref": "Membership"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListAdminClusterMemberships` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "description": "Response message for the `GkeHub.ListAdminClusterMemberships` method."
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "properties": {
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        }
      },
      "type": "object",
      "id": "CommonFleetDefaultMemberConfigSpec",
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet"
    },
    "EdgeCluster": {
      "type": "object",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
        }
      },
      "id": "EdgeCluster",
      "description": "EdgeCluster contains information specific to Google Edge Clusters."
    },
    "WorkloadIdentityNamespaceStateDetail": {
      "properties": {
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "NAMESPACE_STATE_UNSPECIFIED",
            "NAMESPACE_STATE_OK",
            "NAMESPACE_STATE_ERROR"
          ],
          "description": "The state of the IAM namespace.",
          "enumDescriptions": [
            "Unknown state.",
            "The Namespace was created/updated successfully.",
            "The Namespace was not created/updated successfully. The error message is in the description field."
          ]
        }
      },
      "id": "WorkloadIdentityNamespaceStateDetail",
      "description": "NamespaceStateDetail represents the state of a IAM namespace.",
      "type": "object"
    },
    "IdentityServiceDiagnosticInterface": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Determines whether to enable the diagnostic interface."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
        }
      },
      "description": "Configuration options for the AIS diagnostic interface.",
      "id": "IdentityServiceDiagnosticInterface"
    },
    "PolicyControllerMembershipSpec": {
      "properties": {
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        },
        "version": {
          "type": "string",
          "description": "Version of Policy Controller installed."
        }
      },
      "id": "PolicyControllerMembershipSpec",
      "type": "object",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
    },
    "PolicyControllerTemplateLibraryConfig": {
      "description": "The config specifying which default library templates to install.",
      "type": "object",
      "properties": {
        "installation": {
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ],
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "type": "string",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ]
        }
      },
      "id": "PolicyControllerTemplateLibraryConfig"
    },
    "RBACRoleBindingActuationFeatureState": {
      "id": "RBACRoleBindingActuationFeatureState",
      "type": "object",
      "properties": {},
      "description": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state."
    },
    "ConfigManagementPolicyControllerMigration": {
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub.",
      "properties": {
        "copyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this membership spec was copied to PoCo feature."
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "description": "Stage of the migration."
        }
      },
      "type": "object",
      "id": "ConfigManagementPolicyControllerMigration"
    },
    "MonitoringConfig": {
      "properties": {
        "clusterHash": {
          "type": "string",
          "description": "Optional. For GKE and Multicloud clusters, this is the UUID of the cluster resource. For VMWare and Baremetal clusters, this is the kube-system UID."
        },
        "location": {
          "type": "string",
          "description": "Optional. Location used to report Metrics"
        },
        "cluster": {
          "description": "Optional. Cluster name used to report metrics. For Anthos on VMWare/Baremetal/MultiCloud clusters, it would be in format {cluster_type}/{cluster_name}, e.g., \"awsClusters/cluster_1\".",
          "type": "string"
        },
        "kubernetesMetricsPrefix": {
          "description": "Optional. Kubernetes system metrics, if available, are written to this prefix. This defaults to kubernetes.io for GKE, and kubernetes.io/anthos for Anthos eventually. Noted: Anthos MultiCloud will have kubernetes.io prefix today but will migration to be under kubernetes.io/anthos.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Optional. Project used to report Metrics"
        }
      },
      "description": "MonitoringConfig informs Fleet-based applications/services/UIs how the metrics for the underlying cluster is reported to cloud monitoring services. It can be set from empty to non-empty, but can't be mutated directly to prevent accidentally breaking the constinousty of metrics.",
      "id": "MonitoringConfig",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "type": "object",
      "properties": {
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The rollouts from the specified parent resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListRolloutsResponse",
      "description": "Response message for listing rollouts."
    },
    "CancelRolloutRequest": {
      "type": "object",
      "id": "CancelRolloutRequest",
      "description": "Request message for cancelling a rollout.",
      "properties": {}
    },
    "PolicyControllerPolicyContentSpec": {
      "id": "PolicyControllerPolicyContentSpec",
      "properties": {
        "bundles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        },
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        }
      },
      "type": "object",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster."
    },
    "WorkloadIdentityMembershipState": {
      "properties": {
        "description": {
          "description": "Deprecated, this field will be erased after code is changed to use the new field.",
          "type": "string"
        },
        "identityProviderStateDetails": {
          "description": "The state of the Identity Providers corresponding to the membership.",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "type": "object"
        }
      },
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "id": "WorkloadIdentityMembershipState",
      "type": "object"
    },
    "Authority": {
      "type": "object",
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "id": "Authority",
      "properties": {
        "workloadIdentityPool": {
          "type": "string",
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "readOnly": true
        },
        "issuer": {
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length <2000 characters, it must use `location` rather than `zone` for GKE clusters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).",
          "type": "string"
        },
        "identityProvider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool."
        },
        "scopeTenancyIdentityProvider": {
          "type": "string",
          "description": "Optional. Output only. The identity provider for the scope-tenancy workload identity pool.",
          "readOnly": true
        },
        "scopeTenancyWorkloadIdentityPool": {
          "readOnly": true,
          "description": "Optional. Output only. The name of the scope-tenancy workload identity pool. This pool is set in the fleet-level feature.",
          "type": "string"
        },
        "oidcJwks": {
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListMembershipBindingsResponse": {
      "description": "List of MembershipBindings.",
      "type": "object",
      "id": "ListMembershipBindingsResponse",
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "membershipBindings": {
          "items": {
            "$ref": "MembershipBinding"
          },
          "description": "The list of membership_bindings",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      }
    },
    "GkeCluster": {
      "id": "GkeCluster",
      "description": "GkeCluster contains information specific to GKE clusters.",
      "type": "object",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported.",
          "type": "string"
        },
        "clusterMissing": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane."
        }
      }
    },
    "CloudBuildMembershipSpec": {
      "properties": {
        "securityPolicy": {
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ],
          "type": "string",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "description": "Whether it is allowed to run the privileged builds on the cluster or not."
        },
        "version": {
          "description": "Version of the cloud build software on the cluster.",
          "type": "string"
        }
      },
      "id": "CloudBuildMembershipSpec",
      "type": "object",
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster."
    },
    "ClusterUpgradeFleetSpec": {
      "properties": {
        "upgradeEngine": {
          "readOnly": true,
          "enum": [
            "UPGRADE_ENGINE_UNSPECIFIED",
            "SEQUENCING_V1",
            "SEQUENCING_V2"
          ],
          "description": "Output only. The effective upgrade engine for the fleet.",
          "enumDescriptions": [
            "Default value.",
            "Upgrades are managed using fleet-based rollout sequencing.",
            "Upgrades are managed using rollout sequencing with custom stages."
          ],
          "type": "string"
        },
        "upstreamFleets": {
          "type": "array",
          "description": "This fleet consumes upgrades that have COMPLETE status code in the upstream fleets. See UpgradeStatus.Code for code definitions. The fleet name should be either fleet project number or id. This is defined as repeated for future proof reasons. Initial implementation will enforce at most one upstream fleet.",
          "items": {
            "type": "string"
          }
        },
        "postConditions": {
          "description": "Required. Post conditions to evaluate to mark an upgrade COMPLETE. Required.",
          "$ref": "ClusterUpgradePostConditions"
        },
        "gkeUpgradeOverrides": {
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeOverride"
          },
          "description": "Allow users to override some properties of each GKE upgrade.",
          "type": "array"
        }
      },
      "description": "**ClusterUpgrade**: The configuration for the fleet-level ClusterUpgrade feature.",
      "id": "ClusterUpgradeFleetSpec",
      "type": "object"
    },
    "FleetObservabilityMembershipState": {
      "type": "object",
      "id": "FleetObservabilityMembershipState",
      "description": "**FleetObservability**: Membership-specific Feature state for fleetobservability.",
      "properties": {}
    },
    "NamespaceActuationFeatureState": {
      "description": "NamespaceActuation Feature State.",
      "id": "NamespaceActuationFeatureState",
      "properties": {},
      "type": "object"
    },
    "Fleet": {
      "id": "Fleet",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. When the Fleet was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Fleet was deleted.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the namespace resource.",
          "$ref": "FleetLifecycleState",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique resource name of this fleet in the format of `projects/{project}/locations/{location}/fleets/{fleet}`. Each Google Cloud project can have at most one fleet resource, named \"default\"."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Fleet resources. If a Fleet resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A user-assigned display name of the Fleet. When present, it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `Production Fleet`"
        },
        "labels": {
          "description": "Optional. Labels for this Fleet.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultClusterConfig": {
          "$ref": "DefaultClusterConfig",
          "description": "Optional. The default cluster configurations to apply across the fleet."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the Fleet was last updated.",
          "readOnly": true
        }
      },
      "description": "Fleet contains the Fleet-wide metadata and configuration."
    },
    "RolloutTarget": {
      "type": "object",
      "description": "Metadata about the status of targets (clusters or node pools) involved in the Rollout.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "PAUSED",
            "REMOVED",
            "INELIGIBLE",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The Rollout is pending for the target.",
            "The Rollout is running for the target.",
            "The Rollout failed for the target.",
            "The Rollout succeeded for the target.",
            "The Rollout is paused for the target.",
            "The target was removed from the Rollout.",
            "The target is ineligible for the Rollout.",
            "The target is skipped for the Rollout."
          ],
          "description": "Output only. The high-level, machine-readable status of this Rollout for the target.",
          "type": "string"
        },
        "cluster": {
          "description": "Optional. Output only. The resource link of the Cluster resource upgraded in this Rollout. It is formatted as: `//{api_service}/projects/{project_number}/locations/{location}/clusters/{cluster_name}`. .",
          "readOnly": true,
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "Optional. Output only. The operation resource name performing the mutation.",
          "readOnly": true
        },
        "nodePool": {
          "description": "Optional. Output only. The resource link of the NodePool resource upgraded in this Rollout. It is formatted as: `//{api_service}/projects/{project_number}/locations/{location}/clusters/{cluster_name}/nodePools/{node_pool_name}`.",
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "description": "Optional. Output only. A human-readable description of the current status.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "RolloutTarget"
    },
    "MembershipBinding": {
      "type": "object",
      "id": "MembershipBinding",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels for this MembershipBinding.",
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the membership binding was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "$ref": "MembershipBindingLifecycleState",
          "description": "Output only. State of the membership binding resource.",
          "readOnly": true
        },
        "name": {
          "description": "The resource name for the membershipbinding itself `projects/{project}/locations/{location}/memberships/{membership}/bindings/{membershipbinding}`",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "A Scope resource name in the format `projects/*/locations/*/scopes/*`."
        },
        "uid": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all membershipbinding resources. If a membershipbinding resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the membership binding was created.",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the membership binding was deleted."
        }
      },
      "description": "MembershipBinding is a subresource of a Membership, representing what Fleet Scopes (or other, future Fleet resources) a Membership is bound to."
    },
    "CommonFeatureSpec": {
      "type": "object",
      "description": "CommonFeatureSpec contains Fleet-wide configuration information",
      "id": "CommonFeatureSpec",
      "properties": {
        "dataplanev2": {
          "$ref": "DataplaneV2FeatureSpec",
          "description": "DataplaneV2 feature spec."
        },
        "clusterupgrade": {
          "description": "ClusterUpgrade (fleet-based) feature spec.",
          "$ref": "ClusterUpgradeFleetSpec"
        },
        "rbacrolebindingactuation": {
          "$ref": "RBACRoleBindingActuationFeatureSpec",
          "description": "RBAC Role Binding Actuation feature spec"
        },
        "multiclusteringress": {
          "$ref": "MultiClusterIngressFeatureSpec",
          "description": "Multicluster Ingress-specific spec."
        },
        "namespaceactuation": {
          "$ref": "NamespaceActuationFeatureSpec",
          "description": "Namespace Actuation feature spec"
        },
        "mesh": {
          "description": "Servicemesh feature spec.",
          "$ref": "ServiceMeshFeatureSpec"
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureSpec",
          "description": "FleetObservability feature spec."
        },
        "cloudauditlogging": {
          "$ref": "CloudAuditLoggingFeatureSpec",
          "description": "Cloud Audit Logging-specific spec."
        },
        "workloadidentity": {
          "$ref": "WorkloadIdentityFeatureSpec",
          "description": "Workload Identity feature spec."
        },
        "appdevexperience": {
          "description": "Appdevexperience specific spec.",
          "$ref": "AppDevExperienceFeatureSpec"
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "FeatureSpec"
        }
      }
    },
    "PolicyBinding": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the binauthz platform policy to audit. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`.",
          "type": "string"
        }
      },
      "id": "PolicyBinding",
      "description": "Binauthz policy that applies to this cluster."
    },
    "ConfigManagementConfigSyncVersion": {
      "type": "object",
      "id": "ConfigManagementConfigSyncVersion",
      "properties": {
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        },
        "monitor": {
          "type": "string",
          "description": "Version of the deployed monitor pod"
        },
        "syncer": {
          "description": "Version of the deployed syncer pod",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod",
          "type": "string"
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod",
          "type": "string"
        },
        "resourceGroupControllerManager": {
          "description": "Version of the deployed resource-group-controller-manager pod",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod"
        },
        "otelCollector": {
          "type": "string",
          "description": "Version of the deployed otel-collector pod"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod",
          "type": "string"
        }
      },
      "description": "Specific versioning information pertaining to ConfigSync's Pods"
    },
    "ServiceMeshFeatureSpec": {
      "type": "object",
      "properties": {
        "modernizationStrategy": {
          "description": "Optional. Declares your intended modernization strategy for the fleet.",
          "type": "string",
          "enum": [
            "MODERNIZATION_STRATEGY_UNSPECIFIED",
            "AUTOMATIC",
            "DEFERRED"
          ],
          "enumDescriptions": [
            "Default unspecified.",
            "The infrastructure is automatically modernized. Setting this strategy initiates the modernization process. The system schedules the modernization subject to configured maintenance windows and maintenance exclusions.",
            "The infrastructure is pinned to the legacy implementation. This fleet will not be selected for Google-driven modernization. If the resource is actively modernizing, or if the modernization has completed but is not yet finalized (e.g., during the soak time), setting this strategy triggers a rollback to the legacy state. If the modernization process has already been marked as finalized, setting this strategy has no effect."
          ]
        },
        "modernizationCompatibility": {
          "type": "string",
          "enum": [
            "MODERNIZATION_COMPATIBILITY_UNSPECIFIED",
            "VALIDATION_ENABLED",
            "VALIDATION_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Google should report modernization eligibility gaps.",
            "Google should not report modernization eligibility gaps."
          ],
          "description": "Optional. Specifies modernization compatibility for the fleet."
        }
      },
      "description": "**Service Mesh**: Spec for the fleet for the servicemesh feature",
      "id": "ServiceMeshFeatureSpec"
    },
    "ComplianceStandard": {
      "properties": {
        "standard": {
          "type": "string",
          "description": "Name of the compliance standard."
        }
      },
      "id": "ComplianceStandard",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgradeFeatureState": {
      "id": "ClusterUpgradeGKEUpgradeFeatureState",
      "properties": {
        "upgradeState": {
          "type": "array",
          "description": "Upgrade state. It will eventually replace `state`.",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeState"
          }
        },
        "conditions": {
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeFeatureCondition"
          },
          "type": "array",
          "description": "Current conditions of the feature."
        }
      },
      "type": "object",
      "description": "GKEUpgradeFeatureState contains feature states for GKE clusters in the scope."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ServiceMeshMembershipState": {
      "id": "ServiceMeshMembershipState",
      "properties": {
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management.",
          "readOnly": true
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "description": "Output only. List of conditions reported for this membership."
        },
        "analysisMessages": {
          "description": "Output only. Results of running Service Mesh analyzers.",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "readOnly": true,
          "type": "array"
        },
        "controlPlaneManagement": {
          "readOnly": true,
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management"
        }
      },
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "type": "object"
    },
    "ClusterUpgradeFleetState": {
      "properties": {
        "gkeState": {
          "$ref": "ClusterUpgradeGKEUpgradeFeatureState",
          "description": "Feature state for GKE clusters."
        },
        "downstreamFleets": {
          "items": {
            "type": "string"
          },
          "description": "This fleets whose upstream_fleets contain the current fleet. The fleet name should be either fleet project number or id.",
          "type": "array"
        },
        "ignored": {
          "description": "A list of memberships ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel. The membership resource is in the format: `projects/{p}/locations/{l}/membership/{m}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ClusterUpgradeIgnoredMembership"
          }
        }
      },
      "id": "ClusterUpgradeFleetState",
      "description": "**ClusterUpgrade**: The state for the fleet-level ClusterUpgrade feature.",
      "type": "object"
    },
    "Rollout": {
      "properties": {
        "trigger": {
          "enumDescriptions": [
            "The default value.",
            "A user-initiated rollout.",
            "A Google-triggered rollout."
          ],
          "enum": [
            "ROLLOUT_TRIGGER_UNSPECIFIED",
            "USER",
            "GKE"
          ],
          "readOnly": true,
          "type": "string",
[...]
