{
  "endpoints": [
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/"
    }
  ],
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "rootUrl": "https://gkehub.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "id": "gkehub:v2beta",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "title": "GKE Hub API",
  "canonicalName": "GKE Hub",
  "baseUrl": "https://gkehub.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "description": "MembershipGKEUpgradeState is a GKEUpgrade and its state per-membership.",
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "type": "object",
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "$ref": "ClusterUpgradeUpgradeStatus",
          "description": "Status of the upgrade."
        }
      }
    },
    "IdentityServiceDiagnosticInterface": {
      "description": "Configuration options for the AIS diagnostic interface.",
      "id": "IdentityServiceDiagnosticInterface",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Determines whether to enable the diagnostic interface."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
        }
      }
    },
    "ConfigManagementPolicyControllerState": {
      "description": "State for PolicyControllerState.",
      "id": "ConfigManagementPolicyControllerState",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "migration": {
          "$ref": "ConfigManagementPolicyControllerMigration",
          "description": "Record state of ACM -> PoCo Hub migration for this feature."
        },
        "deploymentState": {
          "$ref": "ConfigManagementGatekeeperDeploymentState",
          "description": "The state about the policy controller installation."
        }
      }
    },
    "ConfigManagementSyncError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        },
        "errorResources": {
          "type": "array",
          "description": "A list of config(s) associated with the error, if any",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        }
      },
      "id": "ConfigManagementSyncError",
      "type": "object",
      "description": "An ACM created error representing a problem syncing configurations."
    },
    "ListMembershipFeaturesResponse": {
      "id": "ListMembershipFeaturesResponse",
      "type": "object",
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method.",
      "properties": {
        "membershipFeatures": {
          "type": "array",
          "description": "The list of matching MembershipFeatures.",
          "items": {
            "$ref": "MembershipFeature"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AppDevExperienceStatus": {
      "properties": {
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state."
        }
      },
      "description": "Status specifies state for the subcomponent.",
      "id": "AppDevExperienceStatus",
      "type": "object"
    },
    "WorkloadCertificateSpec": {
      "id": "WorkloadCertificateSpec",
      "type": "object",
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "properties": {
        "certificateManagement": {
          "description": "CertificateManagement specifies workload certificate management.",
          "type": "string",
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ]
        }
      }
    },
    "IdentityServiceOidcConfig": {
      "properties": {
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "extraParams": {
          "type": "string",
          "description": "Comma-separated list of key-value pairs."
        },
        "enableAccessToken": {
          "type": "boolean",
          "description": "Enable access token."
        },
        "userPrefix": {
          "description": "Prefix to prepend to user name.",
          "type": "string"
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted OIDC Client secret",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        }
      },
      "id": "IdentityServiceOidcConfig",
      "type": "object",
      "description": "Configuration for OIDC Auth flow."
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "properties": {
        "admissionWebhook": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of admission-webhook."
        },
        "reconcilerManager": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of reconciler-manager pod."
        },
        "gitSync": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of the git-sync pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "importer": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of the importer pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "resourceGroupControllerManager": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of resource-group-controller-manager",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "otelCollector": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of otel-collector"
        },
        "monitor": {
          "description": "Deployment state of the monitor pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "syncer": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the syncer pod."
        },
        "rootReconciler": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of root-reconciler.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        }
      },
      "description": "The state of ConfigSync's deployment on a cluster.",
      "id": "ConfigManagementConfigSyncDeploymentState",
      "type": "object"
    },
    "PolicyControllerPolicyContentSpec": {
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "id": "PolicyControllerPolicyContentSpec",
      "type": "object",
      "properties": {
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        },
        "bundles": {
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          }
        }
      }
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "description": "State of Policy Controller installation.",
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object",
      "properties": {
        "gatekeeperAudit": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of gatekeeper-audit deployment.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperControllerManagerState": {
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "gatekeeperMutation": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Status of the pod serving the mutation webhook.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      }
    },
    "ConfigManagementContainerOverride": {
      "id": "ConfigManagementContainerOverride",
      "type": "object",
      "description": "Configuration for a container override.",
      "properties": {
        "cpuRequest": {
          "description": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu.",
          "type": "string"
        },
        "memoryRequest": {
          "description": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        },
        "cpuLimit": {
          "type": "string",
          "description": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "memoryLimit": {
          "description": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        },
        "containerName": {
          "type": "string",
          "description": "Required. The name of the container."
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PolicyControllerToleration": {
      "properties": {
        "key": {
          "description": "Matches a taint key (not necessarily unique).",
          "type": "string"
        },
        "operator": {
          "description": "Matches a taint operator.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Matches a taint value."
        },
        "effect": {
          "description": "Matches a taint effect.",
          "type": "string"
        }
      },
      "id": "PolicyControllerToleration",
      "type": "object",
      "description": "Toleration of a node taint."
    },
    "PolicyControllerOnClusterState": {
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "id": "PolicyControllerOnClusterState",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Surface potential errors or information logs."
        },
        "state": {
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The lifecycle state of this component.",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ]
        }
      }
    },
    "IdentityServiceIdentityServiceOptions": {
      "properties": {
        "sessionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service."
        },
        "diagnosticInterface": {
          "$ref": "IdentityServiceDiagnosticInterface",
          "description": "Configuration options for the AIS diagnostic interface."
        }
      },
      "description": "Holds non-protocol-related configuration options.",
      "id": "IdentityServiceIdentityServiceOptions",
      "type": "object"
    },
    "ServiceMeshAnalysisMessage": {
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "id": "ServiceMeshAnalysisMessage",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes."
        },
        "resourcePaths": {
          "items": {
            "type": "string"
          },
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster",
          "type": "array"
        },
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        },
        "args": {
          "type": "object",
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "PolicyControllerMonitoringConfig": {
      "id": "PolicyControllerMonitoringConfig",
      "type": "object",
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          }
        }
      }
    },
    "ConfigManagementPolicyControllerMigration": {
      "id": "ConfigManagementPolicyControllerMigration",
      "type": "object",
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub.",
      "properties": {
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "description": "Stage of the migration."
        },
        "copyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this membership spec was copied to PoCo feature."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ConfigManagementOperatorState": {
      "id": "ConfigManagementOperatorState",
      "type": "object",
      "description": "State information for an ACM's Operator.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator."
        },
        "errors": {
          "type": "array",
          "description": "Install errors.",
          "items": {
            "$ref": "ConfigManagementInstallError"
          }
        },
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the Operator's deployment."
        }
      }
    },
    "ConfigManagementConfigSyncError": {
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "id": "ConfigManagementConfigSyncError",
      "type": "object",
      "description": "Errors pertaining to the installation of Config Sync"
    },
    "RBACRoleBindingActuationRBACRoleBindingState": {
      "description": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership.",
      "id": "RBACRoleBindingActuationRBACRoleBindingState",
      "type": "object",
      "properties": {
        "description": {
          "description": "The reason for the failure.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the RBACRoleBinding.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ROLE_BINDING_STATE_UNSPECIFIED",
            "OK",
            "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "RBACRoleBinding is created properly on the cluster.",
            "The RBACRoleBinding was created on the cluster but the specified custom role does not exist on the cluster, hence the RBACRoleBinding has no effect."
          ]
        },
        "updateTime": {
          "description": "The time the RBACRoleBinding status was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "IdentityServiceSamlConfig": {
      "properties": {
        "identityProviderId": {
          "type": "string",
          "description": "Required. The entity ID of the SAML IdP."
        },
        "groupPrefix": {
          "description": "Optional. Prefix to prepend to group name.",
          "type": "string"
        },
        "attributeMapping": {
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\".",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identityProviderCertificates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of IdP certificates to validate the SAML response against."
        },
        "userPrefix": {
          "description": "Optional. Prefix to prepend to user name.",
          "type": "string"
        },
        "groupsAttribute": {
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`).",
          "type": "string"
        },
        "identityProviderSsoUri": {
          "description": "Required. The URI where the SAML IdP exposes the SSO service.",
          "type": "string"
        },
        "userAttribute": {
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`).",
          "type": "string"
        }
      },
      "description": "Configuration for the SAML Auth flow.",
      "id": "IdentityServiceSamlConfig",
      "type": "object"
    },
    "ConfigManagementBinauthzVersion": {
      "properties": {
        "webhookVersion": {
          "description": "The version of the binauthz webhook.",
          "type": "string"
        }
      },
      "id": "ConfigManagementBinauthzVersion",
      "type": "object",
      "description": "The version of binauthz."
    },
    "ConfigManagementConfigSync": {
      "properties": {
        "oci": {
          "$ref": "ConfigManagementOciConfig",
          "description": "Optional. OCI repo configuration for the cluster."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present."
        },
        "metricsGcpServiceAccountEmail": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
        },
        "deploymentOverrides": {
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead."
        },
        "sourceFormat": {
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation.",
          "type": "string"
        },
        "stopSyncing": {
          "type": "boolean",
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false."
        },
        "git": {
          "description": "Optional. Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
        }
      },
      "description": "Configuration for Config Sync",
      "id": "ConfigManagementConfigSync",
      "type": "object"
    },
    "ServiceMeshAnalysisMessageBase": {
      "id": "ServiceMeshAnalysisMessageBase",
      "type": "object",
      "description": "AnalysisMessageBase describes some common information that is needed for all messages.",
      "properties": {
        "level": {
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Represents how severe a message is."
        },
        "documentationUrl": {
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type.",
          "type": "string"
        },
        "type": {
          "description": "Represents the specific type of a message.",
          "$ref": "ServiceMeshType"
        }
      }
    },
    "ServiceMeshCondition": {
      "id": "ServiceMeshCondition",
      "type": "object",
      "description": "Condition being reported.",
      "properties": {
        "details": {
          "description": "A short summary about the issue.",
          "type": "string"
        },
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        },
        "code": {
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ],
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ]
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Severity level of the condition.",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ]
        }
      }
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync.",
      "id": "ConfigManagementConfigSyncState",
      "type": "object",
      "properties": {
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "readOnly": true,
          "description": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed"
        },
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster.",
          "readOnly": true
        },
        "crCount": {
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ],
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ]
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors pertaining to the installation of Config Sync."
        },
        "clusterLevelStopSyncingState": {
          "readOnly": true,
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "type": "string",
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ]
        },
        "reposyncCrd": {
          "type": "string",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "description": "Output only. The state of the Reposync CRD",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of ConfigSync deployed.",
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "rootsyncCrd": {
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "type": "string",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "description": "Output only. The state of the RootSync CRD",
          "readOnly": true
        }
      }
    },
    "PolicyControllerBundleInstallSpec": {
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "id": "PolicyControllerBundleInstallSpec",
      "type": "object",
      "properties": {
        "exemptedNamespaces": {
          "type": "array",
          "description": "the set of namespaces to be exempted from the bundle",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConfigManagementGroupVersionKind": {
      "description": "A Kubernetes object's GVK.",
      "id": "ConfigManagementGroupVersionKind",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "Kubernetes Group"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "version": {
          "description": "Kubernetes Version",
          "type": "string"
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "id": "ServiceMeshStatusDetails",
      "type": "object",
      "description": "Structured and human-readable details for a status.",
      "properties": {
        "code": {
          "description": "A machine-readable code that further describes a broad status.",
          "type": "string"
        },
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        }
      }
    },
    "AppDevExperienceState": {
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "AppDevExperienceStatus"
        }
      },
      "id": "AppDevExperienceState",
      "type": "object",
      "description": "State for App Dev Exp Feature."
    },
    "ConfigManagementHierarchyControllerVersion": {
      "properties": {
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC."
        },
        "extension": {
          "type": "string",
          "description": "Version for Hierarchy Controller extension."
        }
      },
      "description": "Version for Hierarchy Controller.",
      "id": "ConfigManagementHierarchyControllerVersion",
      "type": "object"
    },
    "ServiceMeshSpec": {
      "properties": {
        "configApi": {
          "type": "string",
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ]
        },
        "management": {
          "description": "Optional. Enables automatic Service Mesh management.",
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ]
        },
        "controlPlane": {
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management."
        },
        "defaultChannel": {
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ]
        }
      },
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "id": "ServiceMeshSpec",
      "type": "object"
    },
    "IdentityServiceGoogleConfig": {
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      },
      "id": "IdentityServiceGoogleConfig",
      "type": "object",
      "description": "Configuration for the Google Plugin Auth flow."
    },
    "PolicyControllerResourceList": {
      "description": "ResourceList contains container resource requirements.",
      "id": "PolicyControllerResourceList",
      "type": "object",
      "properties": {
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      }
    },
    "ConfigManagementHierarchyControllerConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Hierarchy Controller is enabled in this cluster."
        },
        "enableHierarchicalResourceQuota": {
          "description": "Whether hierarchical resource quota is enabled in this cluster.",
          "type": "boolean"
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        }
      },
      "description": "Configuration for Hierarchy Controller.",
      "id": "ConfigManagementHierarchyControllerConfig",
      "type": "object"
    },
    "Origin": {
      "id": "Origin",
      "type": "object",
      "description": "Origin defines where this FeatureSpec originated from.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Feature spec was inherited from the fleet-level default.",
            "Per-Feature spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Feature spec was inherited from a user specification."
          ],
          "description": "Type specifies which type of origin is set.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ]
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ClusterUpgradeIgnoredMembership": {
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "id": "ClusterUpgradeIgnoredMembership",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason why the membership is ignored.",
          "type": "string"
        },
        "ignoredTime": {
          "description": "Time when the membership was first set to ignored.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ClusterUpgradeState": {
      "description": "Per-membership state for this feature.",
      "id": "ClusterUpgradeState",
      "type": "object",
      "properties": {
        "upgrades": {
          "description": "Actual upgrade state against desired.",
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          }
        },
        "ignored": {
          "$ref": "ClusterUpgradeIgnoredMembership",
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel."
        }
      }
    },
    "IdentityServiceAzureADConfig": {
      "description": "Configuration for the AzureAD Auth flow.",
      "id": "IdentityServiceAzureADConfig",
      "type": "object",
      "properties": {
        "encryptedClientSecret": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Encrypted AzureAD client secret."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        },
        "userClaim": {
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details.",
          "type": "string"
        },
        "groupFormat": {
          "type": "string",
          "description": "Optional. Format of the AzureAD groups that the client wants for auth."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        }
      }
    },
    "PolicyControllerHubConfig": {
      "properties": {
        "auditIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "installSpec": {
          "type": "string",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ]
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "deploymentConfigs": {
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          },
          "type": "object",
          "description": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”)."
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "PolicyControllerMonitoringConfig"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enables the ability to mutate resources using Policy Controller."
        },
        "constraintViolationLimit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
        }
      },
      "description": "Configuration for Policy Controller",
      "id": "PolicyControllerHubConfig",
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "properties": {
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        },
        "sourcePath": {
          "type": "string",
          "description": "Path in the git repo of the erroneous config"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      },
      "description": "Model for a config file in the git repo with an associated Sync error.",
      "id": "ConfigManagementErrorResource",
      "type": "object"
    },
    "MeteringState": {
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller.",
      "id": "MeteringState",
      "type": "object",
      "properties": {
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "format": "float",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision)."
        },
        "lastMeasurementTime": {
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "IdentityServiceSpec": {
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        },
        "identityServiceOptions": {
          "$ref": "IdentityServiceIdentityServiceOptions",
          "description": "Optional. non-protocol-related configuration options."
        }
      },
      "description": "**IdentityService**: Configuration for a single membership.",
      "id": "IdentityServiceSpec",
      "type": "object"
    },
    "IdentityServiceAuthMethod": {
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "id": "IdentityServiceAuthMethod",
      "type": "object",
      "properties": {
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "samlConfig": {
          "$ref": "IdentityServiceSamlConfig",
          "description": "SAML specific configuration."
        },
        "googleConfig": {
          "description": "GoogleConfig specific configuration",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "ldapConfig": {
          "description": "LDAP specific configuration.",
          "$ref": "IdentityServiceLdapConfig"
        },
        "azureadConfig": {
          "$ref": "IdentityServiceAzureADConfig",
          "description": "AzureAD specific Configuration."
        }
      }
    },
    "PolicyControllerPolicyContentState": {
      "properties": {
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "bundleStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest"
        }
      },
      "description": "The state of the policy controller policy content",
      "id": "PolicyControllerPolicyContentState",
      "type": "object"
    },
    "ClusterUpgradeUpgradeStatus": {
      "properties": {
        "code": {
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ],
          "description": "Status code of the upgrade.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ]
        },
        "reason": {
          "description": "Reason for this status.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last timestamp the status was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "UpgradeStatus provides status information for each upgrade.",
      "id": "ClusterUpgradeUpgradeStatus",
      "type": "object"
    },
    "WorkloadIdentityState": {
      "properties": {
        "identityProviderStateDetails": {
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "description": "The state of the Identity Providers corresponding to the membership.",
          "type": "object"
        },
        "description": {
          "description": "Deprecated, this field will be erased after code is changed to use the new field.",
          "type": "string"
        }
      },
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "id": "WorkloadIdentityState",
      "type": "object"
    },
    "PolicyControllerSpec": {
      "properties": {
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        },
        "version": {
          "description": "Version of Policy Controller installed.",
          "type": "string"
        }
      },
      "id": "PolicyControllerSpec",
      "type": "object",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
    },
    "PolicyControllerResourceRequirements": {
      "id": "PolicyControllerResourceRequirements",
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "limits": {
          "$ref": "PolicyControllerResourceList",
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container."
        },
        "requests": {
          "$ref": "PolicyControllerResourceList",
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler."
        }
      }
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "description": "Deployment state for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "type": "object",
      "properties": {
        "hnc": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)."
        },
        "extension": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)."
        }
      }
    },
    "ConfigManagementState": {
      "properties": {
        "configSyncState": {
          "$ref": "ConfigManagementConfigSyncState",
          "description": "Output only. Current sync status.",
          "readOnly": true
        },
        "binauthzState": {
          "readOnly": true,
          "description": "Output only. Binauthz status.",
          "$ref": "ConfigManagementBinauthzState"
        },
        "hierarchyControllerState": {
          "readOnly": true,
          "description": "Output only. Hierarchy Controller status.",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "membershipSpec": {
          "$ref": "ConfigManagementSpec",
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state.",
          "readOnly": true
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "readOnly": true,
          "description": "Output only. Current install status of ACM's Operator."
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "readOnly": true,
          "description": "Output only. PolicyController status."
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name."
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "**Anthos Config Management**: State for a single cluster.",
      "id": "ConfigManagementState",
      "type": "object"
    },
    "FeatureState": {
      "id": "FeatureState",
      "type": "object",
      "description": "FeatureState contains high-level state information and per-feature state information for this MembershipFeature.",
      "properties": {
        "state": {
          "$ref": "State",
          "description": "The high-level state of this MembershipFeature."
        },
        "metering": {
          "$ref": "MeteringState",
          "description": "Metering state"
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceState",
          "description": "Appdevexperience specific state."
        },
        "clusterupgrade": {
          "$ref": "ClusterUpgradeState",
          "description": "Cluster upgrade state."
        },
        "workloadidentity": {
          "description": "Workload Identity state",
          "$ref": "WorkloadIdentityState"
        },
        "configmanagement": {
          "$ref": "ConfigManagementState",
          "description": "Config Management state"
        },
        "rbacrolebindingactuation": {
          "$ref": "RBACRoleBindingActuationState",
          "description": "RBAC Role Binding Actuation state"
        },
        "policycontroller": {
          "description": "Policy Controller state",
          "$ref": "PolicyControllerState"
        },
        "servicemesh": {
          "description": "Service mesh state",
          "$ref": "ServiceMeshState"
        },
        "identityservice": {
          "$ref": "IdentityServiceState",
          "description": "Identity service state"
        }
      }
    },
    "IdentityServiceLdapConfig": {
      "id": "IdentityServiceLdapConfig",
      "type": "object",
      "description": "Configuration for the LDAP Auth flow.",
      "properties": {
        "user": {
          "$ref": "IdentityServiceUserConfig",
          "description": "Required. Defines where users exist in the LDAP directory."
        },
        "serviceAccount": {
          "$ref": "IdentityServiceServiceAccountConfig",
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
        },
        "server": {
          "description": "Required. Server settings for the external LDAP server.",
          "$ref": "IdentityServiceServerConfig"
        },
        "group": {
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory.",
          "$ref": "IdentityServiceGroupConfig"
        }
      }
    },
    "RBACRoleBindingActuationSpec": {
      "id": "RBACRoleBindingActuationSpec",
      "type": "object",
      "description": "**RBAC RoleBinding Actuation**: The membership-specific input for RBACRoleBindingActuation feature.",
      "properties": {}
    },
    "ConfigManagementPolicyControllerVersion": {
      "id": "ConfigManagementPolicyControllerVersion",
      "type": "object",
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      }
    },
    "RBACRoleBindingActuationState": {
      "description": "**RBAC RoleBinding Actuation**: A membership-specific Feature state for the RBACRoleBindingActuation fleet feature.",
      "id": "RBACRoleBindingActuationState",
      "type": "object",
      "properties": {
        "rbacrolebindingStates": {
          "description": "Output only. The state of RBACRoleBindings using custom roles that exist on the cluster, keyed by RBACRoleBinding resource name with format: projects/{project}/locations/{location}/scopes/{scope}/rbacrolebindings/{rbacrolebinding}.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "RBACRoleBindingActuationRBACRoleBindingState"
          }
        }
      }
    },
    "PolicyControllerTemplateLibraryConfig": {
      "id": "PolicyControllerTemplateLibraryConfig",
      "type": "object",
      "description": "The config specifying which default library templates to install.",
      "properties": {
        "installation": {
          "type": "string",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ]
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "description": "Status of control plane management.",
      "id": "ServiceMeshControlPlaneManagement",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "description": "LifecycleState of control plane management."
        },
        "implementation": {
          "description": "Output only. Implementation of managed control plane.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ]
        },
        "details": {
          "type": "array",
          "description": "Explanation of state.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "properties": {
        "webhook": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the binauthz webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      },
      "description": "State for Binauthz.",
      "id": "ConfigManagementBinauthzState",
      "type": "object"
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "properties": {
        "replicaCount": {
          "type": "string",
          "format": "int64",
          "description": "Pod replica count."
        },
        "podTolerations": {
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "type": "array",
          "description": "Pod tolerations of node taints."
        },
        "podAffinity": {
          "description": "Pod affinity configuration.",
          "type": "string",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ],
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ]
        },
        "containerResources": {
          "description": "Container resource requirements.",
          "$ref": "PolicyControllerResourceRequirements"
        },
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "Deployment-specific configuration.",
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata of the long-running operation."
    },
    "ConfigManagementInstallError": {
      "description": "Errors pertaining to the installation of ACM.",
      "id": "ConfigManagementInstallError",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message."
        }
      }
    },
    "ConfigManagementSpec": {
      "id": "ConfigManagementSpec",
      "type": "object",
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
        },
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Optional. Config Sync configuration for the cluster."
        },
        "policyController": {
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "deprecated": true,
          "$ref": "ConfigManagementPolicyController"
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "deprecated": true,
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead."
        },
        "binauthz": {
          "$ref": "ConfigManagementBinauthzConfig",
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "deprecated": true
        },
        "management": {
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields."
        },
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        }
      }
    },
    "ServiceMeshState": {
      "properties": {
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "readOnly": true,
          "description": "Output only. Status of control plane management"
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of conditions reported for this membership.",
          "items": {
            "$ref": "ServiceMeshCondition"
          }
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        },
        "analysisMessages": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Results of running Service Mesh analyzers.",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          }
        },
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management.",
          "readOnly": true
        }
      },
      "id": "ServiceMeshState",
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
    },
    "State": {
      "description": "High-level state of a MembershipFeature.",
      "id": "State",
      "type": "object",
      "properties": {
        "code": {
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this status and any related Feature-specific details were updated."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        }
      }
    },
    "IdentityServiceGroupConfig": {
      "description": "Contains the properties for locating and authenticating groups in the directory.",
      "id": "IdentityServiceGroupConfig",
      "type": "object",
      "properties": {
        "idAttribute": {
          "type": "string",
          "description": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
        },
        "filter": {
          "description": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\".",
          "type": "string"
        },
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for group entries.",
          "type": "string"
        }
      }
    },
    "MembershipFeature": {
      "properties": {
        "spec": {
          "$ref": "FeatureSpec",
          "description": "Optional. Spec of this membershipFeature."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the MembershipFeature resource was deleted."
        },
        "state": {
          "description": "Output only. State of the this membershipFeature.",
[...]
