{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "name": "gkehub",
  "protocol": "rest",
  "batchPath": "batch",
  "description": "",
  "baseUrl": "https://gkehub.googleapis.com/",
  "title": "GKE Hub API",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "revision": "20260903",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "ownerName": "Google",
  "id": "gkehub:v2",
  "ownerDomain": "google.com",
  "schemas": {
    "ConfigManagementConfigSync": {
      "type": "object",
      "description": "Configuration for Config Sync",
      "id": "ConfigManagementConfigSync",
      "properties": {
        "oci": {
          "$ref": "ConfigManagementOciConfig",
          "description": "Optional. OCI repo configuration for the cluster."
        },
        "sourceFormat": {
          "type": "string",
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present."
        },
        "stopSyncing": {
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false.",
          "type": "boolean"
        },
        "metricsGcpServiceAccountEmail": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
        },
        "deploymentOverrides": {
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead.",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          },
          "type": "array"
        },
        "git": {
          "description": "Optional. Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        }
      }
    },
    "PolicyControllerMonitoringConfig": {
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PolicyControllerMonitoringConfig",
      "type": "object"
    },
    "IdentityServiceState": {
      "description": "**IdentityService**: State for a single membership, analyzed and reported by feature controller.",
      "type": "object",
      "properties": {
        "failureReason": {
          "type": "string",
          "description": "The reason of the failure."
        },
        "installedVersion": {
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK.",
          "type": "string"
        },
        "state": {
          "description": "Deployment state on this member",
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "type": "string"
        },
        "memberConfig": {
          "$ref": "IdentityServiceSpec",
          "description": "Last reconciled membership configuration"
        }
      },
      "id": "IdentityServiceState"
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync.",
      "id": "ConfigManagementConfigSyncState",
      "type": "object",
      "properties": {
        "reposyncCrd": {
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "type": "string",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the Reposync CRD"
        },
        "errors": {
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "readOnly": true,
          "type": "array"
        },
        "crCount": {
          "format": "int32",
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "type": "integer",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "rootsyncCrd": {
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "description": "Output only. The state of the RootSync CRD",
          "readOnly": true
        },
        "clusterLevelStopSyncingState": {
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "type": "string",
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "readOnly": true,
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ]
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of ConfigSync deployed.",
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "readOnly": true,
          "description": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed"
        },
        "syncState": {
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster.",
          "readOnly": true,
          "$ref": "ConfigManagementSyncState"
        }
      }
    },
    "PolicyControllerSpec": {
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of Policy Controller installed.",
          "type": "string"
        },
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        }
      },
      "id": "PolicyControllerSpec"
    },
    "WorkloadIdentityState": {
      "id": "WorkloadIdentityState",
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        },
        "identityProviderStateDetails": {
          "description": "The state of the Identity Providers corresponding to the membership.",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "type": "object"
        }
      }
    },
    "ConfigManagementPolicyControllerMigration": {
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub.",
      "properties": {
        "stage": {
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "description": "Stage of the migration.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ]
        },
        "copyTime": {
          "format": "google-datetime",
          "description": "Last time this membership spec was copied to PoCo feature.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigManagementPolicyControllerMigration"
    },
    "PolicyControllerResourceList": {
      "id": "PolicyControllerResourceList",
      "properties": {
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ResourceList contains container resource requirements."
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "properties": {
        "extension": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1).",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string"
        },
        "hnc": {
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0).",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deployment state for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerDeploymentState"
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "type": "object",
      "properties": {
        "description": {
          "description": "A human-readable description of the current state or returned error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "description": "The state of the Identity Provider.",
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ]
        }
      },
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "id": "WorkloadIdentityIdentityProviderStateDetail"
    },
    "ListMembershipFeaturesResponse": {
      "properties": {
        "membershipFeatures": {
          "type": "array",
          "items": {
            "$ref": "MembershipFeature"
          },
          "description": "The list of matching MembershipFeatures."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached while fetching this list."
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method.",
      "id": "ListMembershipFeaturesResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "PolicyControllerToleration": {
      "description": "Toleration of a node taint.",
      "id": "PolicyControllerToleration",
      "properties": {
        "key": {
          "type": "string",
          "description": "Matches a taint key (not necessarily unique)."
        },
        "operator": {
          "description": "Matches a taint operator.",
          "type": "string"
        },
        "effect": {
          "type": "string",
          "description": "Matches a taint effect."
        },
        "value": {
          "description": "Matches a taint value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementSyncState": {
      "description": "State indicating an ACM's progress syncing configurations to a cluster.",
      "type": "object",
      "properties": {
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code.",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ]
        },
        "lastSync": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo. The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "errors": {
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "type": "array"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        }
      },
      "id": "ConfigManagementSyncState"
    },
    "WorkloadCertificateSpec": {
      "properties": {
        "certificateManagement": {
          "type": "string",
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CertificateManagement specifies workload certificate management.",
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ]
        }
      },
      "type": "object",
      "id": "WorkloadCertificateSpec",
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature."
    },
    "ServiceMeshCondition": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Unique identifier of the condition which describes the condition recognizable to the user.",
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ]
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Severity level of the condition.",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "type": "string"
        },
        "documentationLink": {
          "type": "string",
          "description": "Links contains actionable information."
        },
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        }
      },
      "type": "object",
      "id": "ServiceMeshCondition",
      "description": "Condition being reported."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "IdentityServiceAzureADConfig": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        },
        "userClaim": {
          "type": "string",
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details."
        },
        "encryptedClientSecret": {
          "format": "byte",
          "description": "Output only. Encrypted AzureAD client secret.",
          "type": "string",
          "readOnly": true
        },
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "groupFormat": {
          "description": "Optional. Format of the AzureAD groups that the client wants for auth.",
          "type": "string"
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        }
      },
      "id": "IdentityServiceAzureADConfig",
      "description": "Configuration for the AzureAD Auth flow."
    },
    "ConfigManagementHierarchyControllerConfig": {
      "type": "object",
      "description": "Configuration for Hierarchy Controller.",
      "id": "ConfigManagementHierarchyControllerConfig",
      "properties": {
        "enablePodTreeLabels": {
          "description": "Whether pod tree labels are enabled in this cluster.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        },
        "enableHierarchicalResourceQuota": {
          "description": "Whether hierarchical resource quota is enabled in this cluster.",
          "type": "boolean"
        }
      }
    },
    "ServiceMeshAnalysisMessageBase": {
      "id": "ServiceMeshAnalysisMessageBase",
      "type": "object",
      "properties": {
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Represents how severe a message is.",
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "type": "string"
        },
        "documentationUrl": {
          "type": "string",
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
        },
        "type": {
          "$ref": "ServiceMeshType",
          "description": "Represents the specific type of a message."
        }
      },
      "description": "AnalysisMessageBase describes some common information that is needed for all messages."
    },
    "PolicyControllerPolicyContentSpec": {
      "type": "object",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "id": "PolicyControllerPolicyContentSpec",
      "properties": {
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        },
        "bundles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        }
      }
    },
    "ConfigManagementOperatorState": {
      "description": "State information for an ACM's Operator.",
      "type": "object",
      "id": "ConfigManagementOperatorState",
      "properties": {
        "deploymentState": {
          "description": "The state of the Operator's deployment.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "version": {
          "description": "The semenatic version number of the operator.",
          "type": "string"
        },
        "errors": {
          "description": "Install errors.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          }
        }
      }
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "type": "object",
      "properties": {
        "podTolerations": {
          "description": "Pod tolerations of node taints.",
          "type": "array",
          "items": {
            "$ref": "PolicyControllerToleration"
          }
        },
        "replicaCount": {
          "format": "int64",
          "description": "Pod replica count.",
          "type": "string"
        },
        "podAffinity": {
          "type": "string",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ],
          "description": "Pod affinity configuration.",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ]
        },
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "containerResources": {
          "description": "Container resource requirements.",
          "$ref": "PolicyControllerResourceRequirements"
        }
      },
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "description": "Deployment-specific configuration."
    },
    "PolicyControllerResourceRequirements": {
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "id": "PolicyControllerResourceRequirements",
      "properties": {
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        },
        "limits": {
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container.",
          "$ref": "PolicyControllerResourceList"
        }
      }
    },
    "ServiceMeshDataPlaneManagement": {
      "properties": {
        "state": {
          "description": "Lifecycle status of data plane management.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ]
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of the status."
        }
      },
      "description": "Status of data plane management. Only reported per-member.",
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object"
    },
    "RBACRoleBindingActuationRBACRoleBindingState": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the RBACRoleBinding status was last updated."
        },
        "description": {
          "description": "The reason for the failure.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "RBACRoleBinding is created properly on the cluster.",
            "The RBACRoleBinding was created on the cluster but the specified custom role does not exist on the cluster, hence the RBACRoleBinding has no effect."
          ],
          "enum": [
            "ROLE_BINDING_STATE_UNSPECIFIED",
            "OK",
            "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          ],
          "description": "Output only. The state of the RBACRoleBinding."
        }
      },
      "type": "object",
      "id": "RBACRoleBindingActuationRBACRoleBindingState",
      "description": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership."
    },
    "ConfigManagementDeploymentOverride": {
      "properties": {
        "deploymentName": {
          "type": "string",
          "description": "Required. The name of the deployment resource to be overridden."
        },
        "deploymentNamespace": {
          "description": "Required. The namespace of the deployment resource to be overridden.",
          "type": "string"
        },
        "containers": {
          "type": "array",
          "description": "Optional. The containers of the deployment resource to be overridden.",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          }
        }
      },
      "description": "Configuration for a deployment override.",
      "id": "ConfigManagementDeploymentOverride",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerState": {
      "description": "State for Hierarchy Controller.",
      "id": "ConfigManagementHierarchyControllerState",
      "type": "object",
      "properties": {
        "state": {
          "$ref": "ConfigManagementHierarchyControllerDeploymentState",
          "description": "The deployment state for Hierarchy Controller."
        },
        "version": {
          "description": "The version for Hierarchy Controller.",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        }
      }
    },
    "ServiceMeshState": {
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "analysisMessages": {
          "description": "Output only. Results of running Service Mesh analyzers.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          }
        },
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "readOnly": true,
          "description": "Output only. Status of control plane management"
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "description": "Output only. List of conditions reported for this membership.",
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshCondition"
          }
        },
        "dataPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement"
        }
      },
      "type": "object",
      "id": "ServiceMeshState"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "type": "object",
      "description": "The state of ConfigSync's deployment on a cluster.",
      "properties": {
        "syncer": {
          "description": "Deployment state of the syncer pod.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string"
        },
        "rootReconciler": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of root-reconciler."
        },
        "resourceGroupControllerManager": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Deployment state of resource-group-controller-manager"
        },
        "otelCollector": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Deployment state of otel-collector",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Deployment state of admission-webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "monitor": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of the monitor pod.",
          "type": "string"
        },
        "gitSync": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Deployment state of the git-sync pod."
        },
        "importer": {
          "description": "Deployment state of the importer pod.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string"
        },
        "reconcilerManager": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of reconciler-manager pod."
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState"
    },
    "ServiceMeshSpec": {
      "id": "ServiceMeshSpec",
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "type": "object",
      "properties": {
        "management": {
          "enumDescriptions": [
            "Unspecified.",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "type": "string",
          "description": "Optional. Enables automatic Service Mesh management.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ]
        },
        "defaultChannel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "deprecated": true,
          "description": "Determines which release channel to use for default injection and service mesh APIs."
        },
        "configApi": {
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "type": "string",
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads."
        },
        "controlPlane": {
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "description": "Status of control plane management.",
      "id": "ServiceMeshControlPlaneManagement",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "description": "LifecycleState of control plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "type": "string"
        },
        "implementation": {
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ],
          "readOnly": true,
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "description": "Output only. Implementation of managed control plane.",
          "type": "string"
        }
      }
    },
    "ServiceMeshType": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
        },
        "code": {
          "type": "string",
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)"
        }
      },
      "type": "object",
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "id": "ServiceMeshType"
    },
    "ClusterUpgradeState": {
      "description": "Per-membership state for this feature.",
      "properties": {
        "upgrades": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          },
          "description": "Actual upgrade state against desired."
        },
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        }
      },
      "id": "ClusterUpgradeState",
      "type": "object"
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "id": "PolicyControllerHubConfig",
      "properties": {
        "installSpec": {
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ]
        },
        "deploymentConfigs": {
          "description": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”).",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          }
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "constraintViolationLimit": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "exemptableNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "PolicyControllerMonitoringConfig"
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Policy Controller"
    },
    "MembershipFeature": {
      "id": "MembershipFeature",
      "properties": {
        "lifecycleState": {
          "readOnly": true,
          "description": "Output only. Lifecycle information of the resource itself.",
          "$ref": "LifecycleState"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the MembershipFeature resource was deleted.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the this membershipFeature.",
          "readOnly": true,
          "$ref": "FeatureState"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the MembershipFeature resource was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. When the MembershipFeature resource was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Google Cloud labels for this MembershipFeature.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "spec": {
          "$ref": "FeatureSpec",
          "description": "Optional. Spec of this membershipFeature."
        }
      },
      "type": "object",
      "description": "MembershipFeature represents the settings and status of a Fleet Feature enabled on a single Fleet Membership."
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "type": "object",
      "properties": {
        "syncBranch": {
          "description": "Optional. The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
        },
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        },
        "syncRev": {
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "Required. The URL of the Git repository to use as the source of truth."
        },
        "httpsProxy": {
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        }
      },
      "id": "ConfigManagementGitConfig"
    },
    "IdentityServiceSamlConfig": {
      "properties": {
        "identityProviderCertificates": {
          "description": "Required. The list of IdP certificates to validate the SAML response against.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userPrefix": {
          "description": "Optional. Prefix to prepend to user name.",
          "type": "string"
        },
        "attributeMapping": {
          "type": "object",
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\".",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identityProviderSsoUri": {
          "type": "string",
          "description": "Required. The URI where the SAML IdP exposes the SSO service."
        },
        "identityProviderId": {
          "type": "string",
          "description": "Required. The entity ID of the SAML IdP."
        },
        "userAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`)."
        },
        "groupPrefix": {
          "description": "Optional. Prefix to prepend to group name.",
          "type": "string"
        },
        "groupsAttribute": {
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`).",
          "type": "string"
        }
      },
      "description": "Configuration for the SAML Auth flow.",
      "type": "object",
      "id": "IdentityServiceSamlConfig"
    },
    "State": {
      "type": "object",
      "description": "High-level state of a MembershipFeature.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this status and any related Feature-specific details were updated."
        },
        "code": {
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "id": "State"
    },
    "ConfigManagementOciConfig": {
      "properties": {
        "secretType": {
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "syncWaitSecs": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        },
        "syncRepo": {
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        }
      },
      "description": "OCI repo configuration for a single cluster.",
      "id": "ConfigManagementOciConfig",
      "type": "object"
    },
    "ConfigManagementState": {
      "properties": {
        "hierarchyControllerState": {
          "readOnly": true,
          "description": "Output only. Hierarchy Controller status.",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "description": "Output only. Current install status of ACM's Operator.",
          "readOnly": true
        },
        "configSyncState": {
          "description": "Output only. Current sync status.",
          "$ref": "ConfigManagementConfigSyncState",
          "readOnly": true
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "clusterName": {
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "type": "string",
          "readOnly": true
        },
        "binauthzState": {
          "description": "Output only. Binauthz status.",
          "readOnly": true,
          "$ref": "ConfigManagementBinauthzState"
        },
        "membershipSpec": {
          "readOnly": true,
          "$ref": "ConfigManagementSpec",
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state."
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "readOnly": true,
          "description": "Output only. PolicyController status."
        }
      },
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "id": "ConfigManagementState"
    },
    "ConfigManagementPolicyController": {
      "id": "ConfigManagementPolicyController",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "updateTime": {
          "description": "Output only. Last time this membership spec was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "monitoring": {
          "$ref": "ConfigManagementPolicyControllerMonitoring",
          "description": "Monitoring specifies the configuration of monitoring."
        }
      },
      "description": "Configuration for Policy Controller",
      "type": "object"
    },
    "IdentityServiceAuthMethod": {
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "id": "IdentityServiceAuthMethod",
      "properties": {
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "samlConfig": {
          "description": "SAML specific configuration.",
          "$ref": "IdentityServiceSamlConfig"
        },
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "ldapConfig": {
          "$ref": "IdentityServiceLdapConfig",
          "description": "LDAP specific configuration."
        }
      },
      "type": "object"
    },
    "FeatureState": {
      "id": "FeatureState",
      "properties": {
        "identityservice": {
          "description": "Identity service state",
          "$ref": "IdentityServiceState"
        },
        "metering": {
          "$ref": "MeteringState",
          "description": "Metering state"
        },
        "state": {
          "$ref": "State",
          "description": "The high-level state of this MembershipFeature."
        },
        "servicemesh": {
          "$ref": "ServiceMeshState",
          "description": "Service mesh state"
        },
        "configmanagement": {
          "description": "Config Management state",
          "$ref": "ConfigManagementState"
        },
        "workloadidentity": {
          "description": "Workload Identity state",
          "$ref": "WorkloadIdentityState"
        },
        "rbacrolebindingactuation": {
          "description": "RBAC Role Binding Actuation state",
          "$ref": "RBACRoleBindingActuationState"
        },
        "policycontroller": {
          "description": "Policy Controller state",
          "$ref": "PolicyControllerState"
        },
        "clusterupgrade": {
          "description": "Cluster upgrade state.",
          "$ref": "ClusterUpgradeState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceState"
        }
      },
      "description": "FeatureState contains high-level state information and per-feature state information for this MembershipFeature.",
      "type": "object"
    },
    "PolicyControllerBundleInstallSpec": {
      "id": "PolicyControllerBundleInstallSpec",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "properties": {
        "exemptedNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the set of namespaces to be exempted from the bundle"
        }
      },
      "type": "object"
    },
    "CloudBuildSpec": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the cloud build software on the cluster."
        },
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "type": "string",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        }
      },
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "id": "CloudBuildSpec"
    },
    "IdentityServiceGoogleConfig": {
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      },
      "id": "IdentityServiceGoogleConfig",
      "type": "object",
      "description": "Configuration for the Google Plugin Auth flow."
    },
    "PolicyControllerTemplateLibraryConfig": {
      "type": "object",
      "description": "The config specifying which default library templates to install.",
      "properties": {
        "installation": {
          "type": "string",
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ],
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ]
        }
      },
      "id": "PolicyControllerTemplateLibraryConfig"
    },
    "ClusterUpgradeGKEUpgrade": {
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade.",
      "id": "ClusterUpgradeGKEUpgrade",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\".",
          "type": "string"
        },
        "version": {
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\".",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "IdentityServiceSimpleBindCredentials": {
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        },
        "dn": {
          "description": "Required. The distinguished name(DN) of the service account object/user.",
          "type": "string"
        },
        "encryptedPassword": {
          "readOnly": true,
          "format": "byte",
          "description": "Output only. The encrypted password of the service account object/user.",
          "type": "string"
        }
      },
      "id": "IdentityServiceSimpleBindCredentials",
      "description": "The structure holds the LDAP simple binding credential.",
      "type": "object"
    },
    "ConfigManagementContainerOverride": {
      "type": "object",
      "properties": {
        "containerName": {
          "description": "Required. The name of the container.",
          "type": "string"
        },
        "cpuLimit": {
          "type": "string",
          "description": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
        },
        "memoryRequest": {
          "description": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory.",
          "type": "string"
        },
        "memoryLimit": {
          "type": "string",
          "description": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
        },
        "cpuRequest": {
          "description": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu.",
          "type": "string"
        }
      },
      "id": "ConfigManagementContainerOverride",
      "description": "Configuration for a container override."
    },
    "ConfigManagementSyncError": {
      "id": "ConfigManagementSyncError",
      "properties": {
        "errorResources": {
          "description": "A list of config(s) associated with the error, if any",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        },
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        }
      },
      "description": "An ACM created error representing a problem syncing configurations.",
      "type": "object"
    },
    "MeteringState": {
      "properties": {
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "format": "float",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision)."
        },
        "lastMeasurementTime": {
          "type": "string",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "format": "google-datetime"
        }
      },
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller.",
      "type": "object",
      "id": "MeteringState"
    },
    "ServiceMeshStatusDetails": {
      "id": "ServiceMeshStatusDetails",
      "description": "Structured and human-readable details for a status.",
      "properties": {
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        },
        "code": {
          "description": "A machine-readable code that further describes a broad status.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementBinauthzState": {
      "id": "ConfigManagementBinauthzState",
      "properties": {
        "webhook": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "The state of the binauthz webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "version": {
          "$ref": "ConfigManagementBinauthzVersion",
          "description": "The version of binauthz that is installed."
        }
      },
      "description": "State for Binauthz.",
      "type": "object"
    },
    "FeatureSpec": {
      "description": "FeatureSpec contains user input per-feature spec information.",
      "type": "object",
      "properties": {
        "rbacrolebindingactuation": {
          "$ref": "RBACRoleBindingActuationSpec",
          "description": "Rbacrolebindingactuation-specific FeatureSpec."
        },
        "servicemesh": {
          "description": "ServiceMesh Feature Spec.",
          "$ref": "ServiceMeshSpec"
        },
        "origin": {
          "description": "Whether this per-Feature spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Feature config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        },
        "identityservice": {
          "description": "IdentityService FeatureSpec.",
          "$ref": "IdentityServiceSpec"
        },
        "policycontroller": {
          "$ref": "PolicyControllerSpec",
          "description": "Policycontroller-specific FeatureSpec."
        },
        "configmanagement": {
          "description": "Config Management FeatureSpec.",
          "$ref": "ConfigManagementSpec"
        },
        "cloudbuild": {
          "description": "Cloudbuild-specific FeatureSpec.",
          "$ref": "CloudBuildSpec"
        },
        "workloadcertificate": {
          "$ref": "WorkloadCertificateSpec",
          "description": "Workloadcertificate-specific FeatureSpec."
        }
      },
      "id": "FeatureSpec"
    },
    "ConfigManagementConfigSyncError": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      },
      "description": "Errors pertaining to the installation of Config Sync",
      "id": "ConfigManagementConfigSyncError",
      "type": "object"
    },
    "ConfigManagementGroupVersionKind": {
      "description": "A Kubernetes object's GVK.",
      "type": "object",
      "id": "ConfigManagementGroupVersionKind",
      "properties": {
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "version": {
          "description": "Kubernetes Version",
          "type": "string"
        }
      }
    },
    "ClusterUpgradeIgnoredMembership": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        },
        "ignoredTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the membership was first set to ignored."
        }
      },
      "id": "ClusterUpgradeIgnoredMembership",
      "type": "object",
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default."
    },
    "RBACRoleBindingActuationState": {
      "id": "RBACRoleBindingActuationState",
      "properties": {
        "rbacrolebindingStates": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "RBACRoleBindingActuationRBACRoleBindingState"
          },
          "type": "object",
          "description": "Output only. The state of RBACRoleBindings using custom roles that exist on the cluster, keyed by RBACRoleBinding resource name with format: projects/{project}/locations/{location}/scopes/{scope}/rbacrolebindings/{rbacrolebinding}."
        }
      },
      "type": "object",
      "description": "**RBAC RoleBinding Actuation**: A membership-specific Feature state for the RBACRoleBindingActuation fleet feature."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ConfigManagementSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "id": "ConfigManagementSpec",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
        },
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Optional. Config Sync configuration for the cluster."
        },
        "policyController": {
          "deprecated": true,
          "$ref": "ConfigManagementPolicyController",
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead."
        },
        "hierarchyController": {
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "deprecated": true
        },
        "management": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "deprecated": true,
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields."
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy."
        },
        "binauthz": {
          "$ref": "ConfigManagementBinauthzConfig",
          "deprecated": true,
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set."
        }
      },
      "type": "object"
    },
    "IdentityServiceDiagnosticInterface": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Determines whether to enable the diagnostic interface."
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
        }
      },
      "id": "IdentityServiceDiagnosticInterface",
      "description": "Configuration options for the AIS diagnostic interface.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata of the long-running operation."
    },
    "AppDevExperienceState": {
      "properties": {
        "networkingInstallSucceeded": {
          "$ref": "AppDevExperienceStatus",
          "description": "Status of subcomponent that detects configured Service Mesh resources."
        }
      },
      "description": "State for App Dev Exp Feature.",
      "id": "AppDevExperienceState",
      "type": "object"
    },
    "AppDevExperienceStatus": {
      "id": "AppDevExperienceStatus",
      "description": "Status specifies state for the subcomponent.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        },
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "type": "string"
        }
      }
    },
    "ConfigManagementConfigSyncVersion": {
      "properties": {
        "resourceGroupControllerManager": {
          "type": "string",
          "description": "Version of the deployed resource-group-controller-manager pod"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod."
        },
        "monitor": {
          "description": "Version of the deployed monitor pod.",
          "type": "string"
        },
        "syncer": {
          "description": "Version of the deployed syncer pod.",
          "type": "string"
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod.",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod.",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod."
        },
        "otelCollector": {
          "type": "string",
          "description": "Version of the deployed otel-collector pod"
        }
      },
      "id": "ConfigManagementConfigSyncVersion",
      "description": "Specific versioning information pertaining to ConfigSync's Pods.",
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "description": "State for PolicyControllerState.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        },
        "migration": {
          "$ref": "ConfigManagementPolicyControllerMigration",
          "description": "Record state of ACM -> PoCo Hub migration for this feature."
        }
      },
      "id": "ConfigManagementPolicyControllerState"
    },
    "ConfigManagementBinauthzConfig": {
      "type": "object",
      "id": "ConfigManagementBinauthzConfig",
      "description": "Configuration for Binauthz.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      }
    },
    "IdentityServiceServerConfig": {
      "properties": {
        "host": {
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\".",
          "type": "string"
        },
        "connectionType": {
[...]
