{
  "version_module": true,
  "baseUrl": "https://gkehub.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta/{+name}",
              "id": "gkehub.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "flatPath": "v2beta/projects/{projectsId}/locations",
              "id": "gkehub.projects.locations.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v2beta/{+name}/locations"
            }
          },
          "resources": {
            "memberships": {
              "resources": {
                "features": {
                  "methods": {
                    "delete": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "path": "v2beta/{+name}",
                      "id": "gkehub.projects.locations.memberships.features.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Removes a membershipFeature.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "description": "Required. The name of the membershipFeature to be deleted. Specified in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListMembershipFeaturesResponse"
                      },
                      "id": "gkehub.projects.locations.memberships.features.list",
                      "description": "Lists MembershipFeatures in a given project and location.",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent where the MembershipFeature will be listed. In the format: `projects/*/locations/*/memberships/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Lists MembershipFeatures that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"helloworld\" in project \"foo-proj\" and membership \"member-bar\": name = \"projects/foo-proj/locations/global/memberships/member-bar/features/helloworld\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "path": "v2beta/{+parent}/features"
                    },
                    "create": {
                      "path": "v2beta/{+parent}/features",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates membershipFeature under a given parent.",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "id": "gkehub.projects.locations.memberships.features.create",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Idempotent request UUID."
                        },
                        "featureId": {
                          "description": "Required. The ID of the membership_feature to create.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of parent where the MembershipFeature will be created. Specified in the format `projects/*/locations/*/memberships/*`."
                        }
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The MembershipFeature resource name in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$"
                        }
                      },
                      "path": "v2beta/{+name}",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "========= MembershipFeature Services ========= Gets details of a membershipFeature.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "MembershipFeature"
                      },
                      "id": "gkehub.projects.locations.memberships.features.get"
                    },
                    "patch": {
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "description": "Updates an existing MembershipFeature.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$"
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, and the MembershipFeature is not found, a new MembershipFeature will be created. In this situation, `update_mask` is ignored.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Mask of fields to update."
                        },
                        "requestId": {
                          "description": "Idempotent request UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "gkehub.projects.locations.memberships.features.patch",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v2beta/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "gkehub.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v2beta/{+name}",
                  "id": "gkehub.projects.locations.operations.get",
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}:cancel",
                  "id": "gkehub.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "description": "",
  "revision": "20260913",
  "kind": "discovery#restDescription",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "schemas": {
    "IdentityServiceSpec": {
      "properties": {
        "authMethods": {
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "description": "A member may support multiple auth methods.",
          "type": "array"
        },
        "identityServiceOptions": {
          "$ref": "IdentityServiceIdentityServiceOptions",
          "description": "Optional. non-protocol-related configuration options."
        }
      },
      "id": "IdentityServiceSpec",
      "type": "object",
      "description": "**IdentityService**: Configuration for a single membership."
    },
    "IdentityServiceIdentityServiceOptions": {
      "id": "IdentityServiceIdentityServiceOptions",
      "properties": {
        "sessionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service."
        },
        "diagnosticInterface": {
          "$ref": "IdentityServiceDiagnosticInterface",
          "description": "Configuration options for the AIS diagnostic interface."
        }
      },
      "description": "Holds non-protocol-related configuration options.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ConfigManagementSpec": {
      "type": "object",
      "id": "ConfigManagementSpec",
      "properties": {
        "policyController": {
          "deprecated": true,
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "$ref": "ConfigManagementPolicyController"
        },
        "management": {
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "deprecated": true,
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ]
        },
        "hierarchyController": {
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "deprecated": true
        },
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
        },
        "binauthz": {
          "deprecated": true,
          "$ref": "ConfigManagementBinauthzConfig",
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set."
        },
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Optional. Config Sync configuration for the cluster."
        }
      },
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR."
    },
    "IdentityServiceUserConfig": {
      "properties": {
        "baseDn": {
          "type": "string",
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        },
        "loginAttribute": {
          "type": "string",
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
        }
      },
      "id": "IdentityServiceUserConfig",
      "description": "Defines where users exist in the LDAP directory.",
      "type": "object"
    },
    "IdentityServiceState": {
      "type": "object",
      "id": "IdentityServiceState",
      "description": "**IdentityService**: State for a single membership, analyzed and reported by feature controller.",
      "properties": {
        "state": {
          "description": "Deployment state on this member",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ]
        },
        "installedVersion": {
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK.",
          "type": "string"
        },
        "failureReason": {
          "type": "string",
          "description": "The reason of the failure."
        },
        "memberConfig": {
          "description": "Last reconciled membership configuration",
          "$ref": "IdentityServiceSpec"
        }
      }
    },
    "ServiceMeshAnalysisMessageBase": {
      "id": "ServiceMeshAnalysisMessageBase",
      "properties": {
        "type": {
          "$ref": "ServiceMeshType",
          "description": "Represents the specific type of a message."
        },
        "documentationUrl": {
          "type": "string",
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
        },
        "level": {
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "description": "Represents how severe a message is.",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "description": "AnalysisMessageBase describes some common information that is needed for all messages.",
      "type": "object"
    },
    "WorkloadIdentityState": {
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "properties": {
        "description": {
          "description": "Deprecated, this field will be erased after code is changed to use the new field.",
          "type": "string"
        },
        "identityProviderStateDetails": {
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          },
          "description": "The state of the Identity Providers corresponding to the membership.",
          "type": "object"
        }
      },
      "id": "WorkloadIdentityState",
      "type": "object"
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "$ref": "ClusterUpgradeUpgradeStatus",
          "description": "Status of the upgrade."
        }
      },
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "type": "object",
      "description": "MembershipGKEUpgradeState is a GKEUpgrade and its state per-membership."
    },
    "ConfigManagementHierarchyControllerVersion": {
      "id": "ConfigManagementHierarchyControllerVersion",
      "description": "Version for Hierarchy Controller.",
      "properties": {
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC."
        },
        "extension": {
          "description": "Version for Hierarchy Controller extension.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "id": "ConfigManagementErrorResource",
      "properties": {
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceNamespace": {
          "description": "Namespace of the resource that is causing an error",
          "type": "string"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error."
    },
    "IdentityServiceAzureADConfig": {
      "description": "Configuration for the AzureAD Auth flow.",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted AzureAD client secret.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "groupFormat": {
          "type": "string",
          "description": "Optional. Format of the AzureAD groups that the client wants for auth."
        },
        "userClaim": {
          "type": "string",
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details."
        },
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        },
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IdentityServiceAzureADConfig"
    },
    "ConfigManagementConfigSync": {
      "id": "ConfigManagementConfigSync",
      "description": "Configuration for Config Sync",
      "properties": {
        "stopSyncing": {
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false.",
          "type": "boolean"
        },
        "deploymentOverrides": {
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead.",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          },
          "type": "array"
        },
        "sourceFormat": {
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present.",
          "type": "boolean"
        },
        "git": {
          "description": "Optional. Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "metricsGcpServiceAccountEmail": {
          "deprecated": true,
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring.",
          "type": "string"
        },
        "preventDrift": {
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details.",
          "type": "boolean"
        },
        "oci": {
          "description": "Optional. OCI repo configuration for the cluster.",
          "$ref": "ConfigManagementOciConfig"
        }
      },
      "type": "object"
    },
    "CloudBuildSpec": {
      "id": "CloudBuildSpec",
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "type": "object",
      "properties": {
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ],
          "type": "string",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ]
        },
        "version": {
          "description": "Version of the cloud build software on the cluster.",
          "type": "string"
        }
      }
    },
    "RBACRoleBindingActuationSpec": {
      "description": "**RBAC RoleBinding Actuation**: The membership-specific input for RBACRoleBindingActuation feature.",
      "properties": {},
      "id": "RBACRoleBindingActuationSpec",
      "type": "object"
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "description": "Configuration for Policy Controller",
      "id": "PolicyControllerHubConfig",
      "properties": {
        "constraintViolationLimit": {
          "format": "int64",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used.",
          "type": "string"
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "exemptableNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enables the ability to mutate resources using Policy Controller."
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "installSpec": {
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "type": "string",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ]
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "deploymentConfigs": {
          "description": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”).",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          }
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "PolicyControllerMonitoringConfig"
        },
        "policyContent": {
          "$ref": "PolicyControllerPolicyContentSpec",
          "description": "Specifies the desired policy content on the cluster"
        }
      }
    },
    "AppDevExperienceState": {
      "properties": {
        "networkingInstallSucceeded": {
          "$ref": "AppDevExperienceStatus",
          "description": "Status of subcomponent that detects configured Service Mesh resources."
        }
      },
      "description": "State for App Dev Exp Feature.",
      "id": "AppDevExperienceState",
      "type": "object"
    },
    "PolicyControllerOnClusterState": {
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "id": "PolicyControllerOnClusterState",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "description": "The lifecycle state of this component.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ]
        },
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceMeshControlPlaneManagement": {
      "id": "ServiceMeshControlPlaneManagement",
      "properties": {
        "state": {
          "type": "string",
          "description": "LifecycleState of control plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ]
        },
        "implementation": {
          "description": "Output only. Implementation of managed control plane.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ]
        },
        "details": {
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array",
          "description": "Explanation of state."
        }
      },
      "type": "object",
      "description": "Status of control plane management."
    },
    "Origin": {
      "type": "object",
      "description": "Origin defines where this FeatureSpec originated from.",
      "id": "Origin",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Feature spec was inherited from the fleet-level default.",
            "Per-Feature spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Feature spec was inherited from a user specification."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "description": "Type specifies which type of origin is set."
        }
      }
    },
    "ConfigManagementHierarchyControllerConfig": {
      "type": "object",
      "description": "Configuration for Hierarchy Controller.",
      "properties": {
        "enablePodTreeLabels": {
          "description": "Whether pod tree labels are enabled in this cluster.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether Hierarchy Controller is enabled in this cluster."
        },
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        }
      },
      "id": "ConfigManagementHierarchyControllerConfig"
    },
    "IdentityServiceAuthMethod": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier for auth config."
        },
        "googleConfig": {
          "description": "GoogleConfig specific configuration",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "oidcConfig": {
          "$ref": "IdentityServiceOidcConfig",
          "description": "OIDC specific configuration."
        },
        "samlConfig": {
          "description": "SAML specific configuration.",
          "$ref": "IdentityServiceSamlConfig"
        },
        "ldapConfig": {
          "description": "LDAP specific configuration.",
          "$ref": "IdentityServiceLdapConfig"
        },
        "proxy": {
          "description": "Proxy server address to use for auth method.",
          "type": "string"
        }
      },
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "id": "IdentityServiceAuthMethod"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ConfigManagementBinauthzConfig": {
      "properties": {
        "enabled": {
          "description": "Whether binauthz is enabled in this cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ConfigManagementBinauthzConfig",
      "description": "Configuration for Binauthz."
    },
    "ConfigManagementBinauthzState": {
      "id": "ConfigManagementBinauthzState",
      "properties": {
        "webhook": {
          "description": "The state of the binauthz webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ]
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      },
      "description": "State for Binauthz.",
      "type": "object"
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "type": "object",
      "properties": {
        "code": {
          "description": "The state of the Identity Provider.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ]
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        }
      }
    },
    "ConfigManagementInstallError": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message."
        }
      },
      "description": "Errors pertaining to the installation of ACM.",
      "id": "ConfigManagementInstallError"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "IdentityServiceSamlConfig": {
      "id": "IdentityServiceSamlConfig",
      "properties": {
        "identityProviderSsoUri": {
          "description": "Required. The URI where the SAML IdP exposes the SSO service.",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Optional. Prefix to prepend to group name."
        },
        "identityProviderCertificates": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of IdP certificates to validate the SAML response against.",
          "type": "array"
        },
        "userAttribute": {
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`).",
          "type": "string"
        },
        "attributeMapping": {
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\".",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "identityProviderId": {
          "description": "Required. The entity ID of the SAML IdP.",
          "type": "string"
        },
        "groupsAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`)."
        },
        "userPrefix": {
          "type": "string",
          "description": "Optional. Prefix to prepend to user name."
        }
      },
      "type": "object",
      "description": "Configuration for the SAML Auth flow."
    },
    "ConfigManagementDeploymentOverride": {
      "properties": {
        "deploymentNamespace": {
          "type": "string",
          "description": "Required. The namespace of the deployment resource to be overridden."
        },
        "containers": {
          "type": "array",
          "description": "Optional. The containers of the deployment resource to be overridden.",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          }
        },
        "deploymentName": {
          "type": "string",
          "description": "Required. The name of the deployment resource to be overridden."
        }
      },
      "type": "object",
      "id": "ConfigManagementDeploymentOverride",
      "description": "Configuration for a deployment override."
    },
    "PolicyControllerBundleInstallSpec": {
      "properties": {
        "exemptedNamespaces": {
          "description": "the set of namespaces to be exempted from the bundle",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PolicyControllerBundleInstallSpec",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle."
    },
    "ConfigManagementHierarchyControllerState": {
      "properties": {
        "version": {
          "description": "The version for Hierarchy Controller.",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        },
        "state": {
          "$ref": "ConfigManagementHierarchyControllerDeploymentState",
          "description": "The deployment state for Hierarchy Controller."
        }
      },
      "type": "object",
      "id": "ConfigManagementHierarchyControllerState",
      "description": "State for Hierarchy Controller."
    },
    "WorkloadCertificateSpec": {
      "type": "object",
      "id": "WorkloadCertificateSpec",
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "properties": {
        "certificateManagement": {
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CertificateManagement specifies workload certificate management.",
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "type": "string"
        }
      }
    },
    "PolicyControllerResourceRequirements": {
      "type": "object",
      "id": "PolicyControllerResourceRequirements",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        },
        "limits": {
          "$ref": "PolicyControllerResourceList",
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container."
        }
      }
    },
    "AppDevExperienceStatus": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "type": "string",
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        }
      },
      "id": "AppDevExperienceStatus",
      "description": "Status specifies state for the subcomponent."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ConfigManagementPolicyController": {
      "type": "object",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "monitoring": {
          "$ref": "ConfigManagementPolicyControllerMonitoring",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "enabled": {
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.",
          "type": "boolean"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last time this membership spec was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Policy Controller"
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "id": "ConfigManagementGitConfig",
      "type": "object",
      "properties": {
        "syncRepo": {
          "description": "Required. The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        },
        "syncRev": {
          "type": "string",
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD."
        },
        "syncBranch": {
          "type": "string",
          "description": "Optional. The branch of the repository to sync from. Default: master."
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        },
        "httpsProxy": {
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "properties": {
        "backends": {
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          },
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "type": "object",
      "id": "ConfigManagementPolicyControllerMonitoring",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
    },
    "ServiceMeshSpec": {
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "properties": {
        "configApi": {
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads."
        },
        "controlPlane": {
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "deprecated": true,
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string"
        },
        "defaultChannel": {
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "type": "string",
          "deprecated": true
        },
        "management": {
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "description": "Optional. Enables automatic Service Mesh management."
        }
      },
      "id": "ServiceMeshSpec",
      "type": "object"
    },
    "ClusterUpgradeUpgradeStatus": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Status code of the upgrade.",
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ]
        },
        "reason": {
          "type": "string",
          "description": "Reason for this status."
        },
        "updateTime": {
          "description": "Last timestamp the status was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ClusterUpgradeUpgradeStatus",
      "description": "UpgradeStatus provides status information for each upgrade."
    },
    "ServiceMeshAnalysisMessage": {
      "id": "ServiceMeshAnalysisMessage",
      "properties": {
        "resourcePaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster"
        },
        "args": {
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "description": {
          "type": "string",
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes."
        },
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        }
      },
      "type": "object",
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration."
    },
    "ServiceMeshStatusDetails": {
      "id": "ServiceMeshStatusDetails",
      "type": "object",
      "description": "Structured and human-readable details for a status.",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        },
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        }
      }
    },
    "ConfigManagementPolicyControllerVersion": {
      "id": "ConfigManagementPolicyControllerVersion",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      },
      "type": "object",
      "description": "The build version of Gatekeeper Policy Controller is using."
    },
    "PolicyControllerState": {
      "description": "**Policy Controller**: State for a single cluster.",
      "id": "PolicyControllerState",
      "type": "object",
      "properties": {
        "componentStates": {
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "type": "string"
        },
        "policyContentState": {
          "description": "The overall content state observed by the Hub Feature controller.",
          "$ref": "PolicyControllerPolicyContentState"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ConfigManagementSyncError": {
      "properties": {
        "errorResources": {
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "description": "A list of config(s) associated with the error, if any",
          "type": "array"
        },
        "code": {
          "description": "An ACM defined error code",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        }
      },
      "description": "An ACM created error representing a problem syncing configurations.",
      "type": "object",
      "id": "ConfigManagementSyncError"
    },
    "ConfigManagementOperatorState": {
      "id": "ConfigManagementOperatorState",
      "description": "State information for an ACM's Operator.",
      "type": "object",
      "properties": {
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the Operator's deployment.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator."
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "type": "array",
          "description": "Install errors."
        }
      }
    },
    "PolicyControllerToleration": {
      "id": "PolicyControllerToleration",
      "description": "Toleration of a node taint.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Matches a taint key (not necessarily unique).",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Matches a taint value."
        },
        "effect": {
          "description": "Matches a taint effect.",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "Matches a taint operator."
        }
      }
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "description": "Deployment-specific configuration.",
      "properties": {
        "podAffinity": {
          "description": "Pod affinity configuration.",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "type": "string",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ]
        },
        "replicaCount": {
          "description": "Pod replica count.",
          "format": "int64",
          "type": "string"
        },
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "podTolerations": {
          "type": "array",
          "description": "Pod tolerations of node taints.",
          "items": {
            "$ref": "PolicyControllerToleration"
          }
        },
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        }
      },
      "type": "object"
    },
    "ConfigManagementConfigSyncVersion": {
      "properties": {
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod."
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod."
        },
        "monitor": {
          "description": "Version of the deployed monitor pod.",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod."
        },
        "resourceGroupControllerManager": {
          "type": "string",
          "description": "Version of the deployed resource-group-controller-manager pod"
        },
        "importer": {
          "type": "string",
          "description": "Version of the deployed importer pod."
        },
        "otelCollector": {
          "type": "string",
          "description": "Version of the deployed otel-collector pod"
        },
        "syncer": {
          "description": "Version of the deployed syncer pod.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigManagementConfigSyncVersion",
      "description": "Specific versioning information pertaining to ConfigSync's Pods."
    },
    "ConfigManagementOciConfig": {
      "properties": {
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive."
        },
        "syncRepo": {
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "policyDir": {
          "type": "string",
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image."
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        }
      },
      "type": "object",
      "description": "OCI repo configuration for a single cluster.",
      "id": "ConfigManagementOciConfig"
    },
    "IdentityServiceDiagnosticInterface": {
      "id": "IdentityServiceDiagnosticInterface",
      "description": "Configuration options for the AIS diagnostic interface.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Determines whether to enable the diagnostic interface."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
        }
      },
      "type": "object"
    },
    "IdentityServiceGoogleConfig": {
      "id": "IdentityServiceGoogleConfig",
      "type": "object",
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      }
    },
    "ConfigManagementConfigSyncError": {
      "id": "ConfigManagementConfigSyncError",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      },
      "description": "Errors pertaining to the installation of Config Sync"
    },
    "PolicyControllerPolicyContentSpec": {
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "type": "object",
      "properties": {
        "bundles": {
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "type": "object",
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        },
        "templateLibrary": {
          "description": "Configures the installation of the Template Library.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        }
      },
      "id": "PolicyControllerPolicyContentSpec"
    },
    "PolicyControllerMonitoringConfig": {
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array"
        }
      },
      "id": "PolicyControllerMonitoringConfig",
      "type": "object"
    },
    "FeatureSpec": {
      "type": "object",
      "properties": {
        "rbacrolebindingactuation": {
          "$ref": "RBACRoleBindingActuationSpec",
          "description": "Rbacrolebindingactuation-specific FeatureSpec."
        },
        "origin": {
          "description": "Whether this per-Feature spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Feature config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        },
        "identityservice": {
          "$ref": "IdentityServiceSpec",
          "description": "IdentityService FeatureSpec."
        },
        "servicemesh": {
          "description": "ServiceMesh Feature Spec.",
          "$ref": "ServiceMeshSpec"
        },
        "cloudbuild": {
          "description": "Cloudbuild-specific FeatureSpec.",
          "$ref": "CloudBuildSpec"
        },
        "configmanagement": {
          "$ref": "ConfigManagementSpec",
          "description": "Config Management FeatureSpec."
        },
        "workloadcertificate": {
          "$ref": "WorkloadCertificateSpec",
          "description": "Workloadcertificate-specific FeatureSpec."
        },
        "policycontroller": {
          "$ref": "PolicyControllerSpec",
          "description": "Policycontroller-specific FeatureSpec."
        }
      },
      "id": "FeatureSpec",
      "description": "FeatureSpec contains user input per-feature spec information."
    },
    "PolicyControllerPolicyContentState": {
      "type": "object",
      "properties": {
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        },
        "bundleStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object"
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        }
      },
      "description": "The state of the policy controller policy content",
      "id": "PolicyControllerPolicyContentState"
    },
    "ConfigManagementGroupVersionKind": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "Kubernetes Group"
        }
      },
      "id": "ConfigManagementGroupVersionKind",
      "description": "A Kubernetes object's GVK."
    },
    "State": {
      "description": "High-level state of a MembershipFeature.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime"
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ],
          "description": "The high-level, machine-readable status of this MembershipFeature."
        }
      },
      "id": "State",
      "type": "object"
    },
    "ServiceMeshType": {
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "id": "ServiceMeshType",
      "type": "object",
      "properties": {
        "code": {
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
        }
      }
    },
    "ConfigManagementPolicyControllerMigration": {
      "properties": {
        "copyTime": {
          "description": "Last time this membership spec was copied to PoCo feature.",
          "format": "google-datetime",
          "type": "string"
        },
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "type": "string",
          "description": "Stage of the migration."
        }
      },
      "id": "ConfigManagementPolicyControllerMigration",
      "type": "object",
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub."
    },
    "MembershipFeature": {
      "description": "MembershipFeature represents the settings and status of a Fleet Feature enabled on a single Fleet Membership.",
      "properties": {
        "state": {
          "readOnly": true,
          "$ref": "FeatureState",
          "description": "Output only. State of the this membershipFeature."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the MembershipFeature resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. When the MembershipFeature resource was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
[...]
