{
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "revision": "20260903",
  "basePath": "",
  "description": "",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "rootUrl": "https://gkehub.googleapis.com/",
  "schemas": {
    "Feature": {
      "properties": {
        "scopeStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "readOnly": true,
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project."
        },
        "fleetDefaultMemberConfig": {
          "$ref": "CommonFleetDefaultMemberConfigSpec",
          "description": "Optional. Feature configuration applicable to all memberships of the fleet."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Feature resource was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The Fleet-wide Feature state.",
          "$ref": "CommonFeatureState",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Feature resource was deleted.",
          "type": "string"
        },
        "resourceState": {
          "description": "Output only. State of the Feature resource itself.",
          "readOnly": true,
          "$ref": "FeatureResourceState"
        },
        "membershipStates": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number.",
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          }
        },
        "scopeSpecs": {
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "type": "object",
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for this Feature."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "spec": {
          "description": "Optional. Fleet-wide Feature configuration. If this Feature does not support any Fleet-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. List of locations that could not be reached while fetching this feature.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Feature",
      "description": "Feature represents the settings and status of any Fleet Feature."
    },
    "ConfigManagementOciConfig": {
      "id": "ConfigManagementOciConfig",
      "description": "OCI repo configuration for a single cluster",
      "properties": {
        "syncWaitSecs": {
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64",
          "type": "string"
        },
        "syncRepo": {
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive."
        }
      },
      "type": "object"
    },
    "ServiceMeshControlPlaneManagement": {
      "description": "Status of control plane management.",
      "properties": {
        "details": {
          "type": "array",
          "description": "Explanation of state.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        },
        "implementation": {
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "description": "Output only. Implementation of managed control plane."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "description": "LifecycleState of control plane management."
        }
      },
      "type": "object",
      "id": "ServiceMeshControlPlaneManagement"
    },
    "ListAdminClusterMembershipsResponse": {
      "description": "Response message for the `GkeHub.ListAdminClusterMemberships` method.",
      "id": "ListAdminClusterMembershipsResponse",
      "type": "object",
      "properties": {
        "adminClusterMemberships": {
          "items": {
            "$ref": "Membership"
          },
          "description": "The list of matching Memberships of admin clusters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListAdminClusterMemberships` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached while fetching this list."
        }
      }
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync",
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "readOnly": true,
          "description": "Output only. Information about the deployment of ConfigSync, including the version of the various Pods deployed"
        },
        "clusterLevelStopSyncingState": {
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "readOnly": true,
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "type": "string",
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ]
        },
        "reposyncCrd": {
          "type": "string",
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "description": "Output only. The state of the Reposync CRD",
          "readOnly": true
        },
        "syncState": {
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster",
          "$ref": "ConfigManagementSyncState",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "type": "array",
          "readOnly": true
        },
        "version": {
          "$ref": "ConfigManagementConfigSyncVersion",
          "description": "Output only. The version of ConfigSync deployed",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "readOnly": true,
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ]
        },
        "crCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "type": "integer"
        },
        "rootsyncCrd": {
          "description": "Output only. The state of the RootSync CRD",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ]
        }
      },
      "type": "object"
    },
    "AppDevExperienceFeatureSpec": {
      "type": "object",
      "id": "AppDevExperienceFeatureSpec",
      "description": "Spec for App Dev Experience Feature.",
      "properties": {}
    },
    "ClusterUpgradeIgnoredMembership": {
      "type": "object",
      "id": "ClusterUpgradeIgnoredMembership",
      "properties": {
        "ignoredTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the membership was first set to ignored."
        },
        "reason": {
          "description": "Reason why the membership is ignored.",
          "type": "string"
        }
      },
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default."
    },
    "FleetObservabilityMembershipSpec": {
      "description": "**FleetObservability**: The membership-specific input for FleetObservability feature.",
      "id": "FleetObservabilityMembershipSpec",
      "properties": {},
      "type": "object"
    },
    "PolicyBinding": {
      "description": "Binauthz policy that applies to this cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the binauthz platform policy to audit. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`."
        }
      },
      "id": "PolicyBinding",
      "type": "object"
    },
    "BinaryAuthorizationConfig": {
      "description": "BinaryAuthorizationConfig defines the fleet level configuration of binary authorization feature.",
      "properties": {
        "evaluationMode": {
          "type": "string",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "POLICY_BINDINGS"
          ],
          "description": "Optional. Mode of operation for binauthz policy evaluation.",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Use Binary Authorization with the policies specified in policy_bindings."
          ]
        },
        "policyBindings": {
          "type": "array",
          "description": "Optional. Binauthz policies that apply to this cluster.",
          "items": {
            "$ref": "PolicyBinding"
          }
        }
      },
      "type": "object",
      "id": "BinaryAuthorizationConfig"
    },
    "ValidateCreateMembershipResponse": {
      "properties": {
        "validationResults": {
          "type": "array",
          "description": "Wraps all the validator results.",
          "items": {
            "$ref": "ValidationResult"
          }
        }
      },
      "description": "Response message for the `GkeHub.ValidateCreateMembership` method.",
      "id": "ValidateCreateMembershipResponse",
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "properties": {
        "migration": {
          "description": "Record state of ACM -> PoCo Hub migration for this feature.",
          "$ref": "ConfigManagementPolicyControllerMigration"
        },
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        }
      },
      "id": "ConfigManagementPolicyControllerState",
      "description": "State for PolicyControllerState.",
      "type": "object"
    },
    "CompliancePostureConfig": {
      "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. CompliancePostureConfig defines the settings needed to enable/disable features for the Compliance Posture.",
      "properties": {
        "complianceStandards": {
          "items": {
            "$ref": "ComplianceStandard"
          },
          "description": "List of enabled compliance standards.",
          "type": "array"
        },
        "mode": {
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Compliance Posture features on the cluster.",
            "Enables Compliance Posture features on the cluster."
          ],
          "description": "Defines the enablement mode for Compliance Posture.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        }
      },
      "id": "CompliancePostureConfig",
      "deprecated": true,
      "type": "object"
    },
    "ScopeFeatureState": {
      "id": "ScopeFeatureState",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The \"running state\" of the Feature in this Scope.",
          "$ref": "FeatureState"
        },
        "clusterupgrade": {
          "$ref": "ClusterUpgradeScopeState",
          "description": "State for the ClusterUpgrade feature at the scope level"
        }
      },
      "type": "object",
      "description": "ScopeFeatureState contains Scope-wide Feature status information."
    },
    "ResourceOptions": {
      "type": "object",
      "id": "ResourceOptions",
      "properties": {
        "k8sVersion": {
          "type": "string",
          "description": "Optional. Major and minor version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`."
        },
        "connectVersion": {
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected.",
          "type": "string"
        },
        "k8sGitVersion": {
          "type": "string",
          "description": "Optional. Git version of the Kubernetes cluster. This is only used to gate the Connect Agent migration to svc.id.goog on GDC-SO 1.33.100 patch and above."
        },
        "v1beta1Crd": {
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions <1.16.",
          "type": "boolean"
        }
      },
      "description": "ResourceOptions represent options for Kubernetes resource generation."
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "type": "object",
      "properties": {
        "rbacrolebindings": {
          "type": "array",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "description": "The list of Membership RBACRoleBindings."
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListMembershipRBACRoleBindingsResponse",
      "description": "List of Membership RBACRoleBindings."
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FleetObservabilityMembershipState": {
      "type": "object",
      "description": "**FleetObservability**: Membership-specific Feature state for fleetobservability.",
      "id": "FleetObservabilityMembershipState",
      "properties": {}
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "type": "object",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          }
        }
      }
    },
    "ClusterUpgradeScopeState": {
      "description": "**ClusterUpgrade**: The state for the scope-level ClusterUpgrade feature.",
      "id": "ClusterUpgradeScopeState",
      "type": "object",
      "properties": {
        "ignored": {
          "type": "object",
          "description": "A list of memberships ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel. The membership resource is in the format: `projects/{p}/locations/{l}/membership/{m}`.",
          "additionalProperties": {
            "$ref": "ClusterUpgradeIgnoredMembership"
          }
        },
        "gkeState": {
          "$ref": "ClusterUpgradeGKEUpgradeFeatureState",
          "description": "Feature state for GKE clusters."
        },
        "downstreamScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This scopes whose upstream_scopes contain the current scope. The scope name should be in the form: `projects/{p}/locations/gloobal/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project."
        }
      }
    },
    "ValidateExclusivityResponse": {
      "description": "The response of exclusivity artifacts validation result status.",
      "properties": {
        "status": {
          "description": "The validation result. * `OK` means that exclusivity is validated, assuming the manifest produced by GenerateExclusivityManifest is successfully applied. * `ALREADY_EXISTS` means that the Membership CRD is already owned by another Hub. See `status.message` for more information.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "ValidateExclusivityResponse"
    },
    "PolicyControllerPolicyContentSpec": {
      "type": "object",
      "id": "PolicyControllerPolicyContentSpec",
      "properties": {
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        },
        "bundles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        }
      },
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster."
    },
    "ServiceMeshFeatureState": {
      "description": "**Service Mesh**: State for the whole Hub, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "conditions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of conditions reported for this feature.",
          "items": {
            "$ref": "ServiceMeshFeatureCondition"
          }
        },
        "analysisMessages": {
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "description": "Output only. Results of running Service Mesh analyzers.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ServiceMeshFeatureState"
    },
    "PolicyControllerMembershipState": {
      "id": "PolicyControllerMembershipState",
      "description": "**Policy Controller**: State for a single cluster.",
      "properties": {
        "componentStates": {
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object"
        },
        "policyContentState": {
          "description": "The overall content state observed by the Hub Feature controller.",
          "$ref": "PolicyControllerPolicyContentState"
        },
        "state": {
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementMembershipState": {
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "readOnly": true
        },
        "hierarchyControllerState": {
          "description": "Output only. Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState",
          "readOnly": true
        },
        "operatorState": {
          "readOnly": true,
          "$ref": "ConfigManagementOperatorState",
          "description": "Output only. Current install status of ACM's Operator"
        },
        "binauthzState": {
          "$ref": "ConfigManagementBinauthzState",
          "description": "Output only. Binauthz status",
          "readOnly": true
        },
        "membershipSpec": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "readOnly": true
        },
        "configSyncState": {
          "$ref": "ConfigManagementConfigSyncState",
          "readOnly": true,
          "description": "Output only. Current sync status"
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "description": "Output only. PolicyController status",
          "readOnly": true
        },
        "kubernetesApiServerVersion": {
          "type": "string",
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ConfigManagementMembershipState",
      "description": "**Anthos Config Management**: State for a single cluster."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description is populated if Code is Failed, explaining why it has failed."
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        }
      },
      "description": "Status specifies state for the subcomponent.",
      "type": "object"
    },
    "MultiClusterIngressFeatureSpec": {
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "properties": {
        "configMembership": {
          "type": "string",
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
        },
        "billing": {
          "description": "Deprecated: This field will be ignored and should not be set. Customer's billing structure.",
          "enumDescriptions": [
            "Unknown",
            "User pays a fee per-endpoint.",
            "User is paying for Anthos as a whole."
          ],
          "enum": [
            "BILLING_UNSPECIFIED",
            "PAY_AS_YOU_GO",
            "ANTHOS_LICENSE"
          ],
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "MultiClusterIngressFeatureSpec"
    },
    "Namespace": {
      "properties": {
        "state": {
          "$ref": "NamespaceLifecycleState",
          "readOnly": true,
          "description": "Output only. State of the namespace resource."
        },
        "name": {
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`",
          "type": "string"
        },
        "namespaceLabels": {
          "description": "Optional. Namespace-level cluster namespace labels. These labels are applied to the related namespace of the member clusters bound to the parent Scope. Scope-level labels (`namespace_labels` in the Fleet Scope resource) take precedence over Namespace-level labels if they share a key. Keys and values must be Kubernetes-conformant.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "scope": {
          "description": "Required. Scope associated with the namespace",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the namespace was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the namespace was last updated.",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels for this Namespace.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deleteTime": {
          "description": "Output only. When the namespace was deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Namespace",
      "description": "Namespace represents a namespace across the Fleet",
      "type": "object"
    },
    "PolicyControllerPolicyContentState": {
      "description": "The state of the policy controller policy content",
      "id": "PolicyControllerPolicyContentState",
      "properties": {
        "bundleStates": {
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "referentialSyncConfigState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user."
        }
      },
      "type": "object"
    },
    "IdentityServiceAzureADConfig": {
      "properties": {
        "clientSecret": {
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "userClaim": {
          "type": "string",
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details."
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted AzureAD client secret.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "groupFormat": {
          "description": "Optional. Format of the AzureAD groups that the client wants for auth.",
          "type": "string"
        }
      },
      "description": "Configuration for the AzureAD Auth flow.",
      "type": "object",
      "id": "IdentityServiceAzureADConfig"
    },
    "FleetObservabilityFleetObservabilityLoggingState": {
      "description": "Feature state for logging feature.",
      "properties": {
        "scopeLog": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet scope log."
        },
        "defaultLog": {
          "description": "The base feature state of fleet default log.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        }
      },
      "type": "object",
      "id": "FleetObservabilityFleetObservabilityLoggingState"
    },
    "ConfigManagementSyncError": {
      "properties": {
        "errorResources": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "description": "A list of config(s) associated with the error, if any"
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        }
      },
      "description": "An ACM created error representing a problem syncing configurations",
      "type": "object",
      "id": "ConfigManagementSyncError"
    },
    "Origin": {
      "description": "Origin defines where this MembershipFeatureSpec originated from.",
      "type": "object",
      "id": "Origin",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type specifies which type of origin is set.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Membership spec was inherited from a user specification."
          ]
        }
      }
    },
    "GenerateExclusivityManifestResponse": {
      "type": "object",
      "description": "The response of the exclusivity artifacts manifests for the client to apply.",
      "properties": {
        "crManifest": {
          "type": "string",
          "description": "The YAML manifest of the membership CR to apply if a new version of the CR is available. Empty if no update needs to be applied."
        },
        "crdManifest": {
          "description": "The YAML manifest of the membership CRD to apply if a newer version of the CRD is available. Empty if no update needs to be applied.",
          "type": "string"
        }
      },
      "id": "GenerateExclusivityManifestResponse"
    },
    "ServiceMeshDataPlaneManagement": {
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "state": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "description": "Lifecycle status of data plane management.",
          "type": "string"
        },
        "details": {
          "description": "Explanation of the status.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array"
        }
      },
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgradeFeatureCondition": {
      "properties": {
        "status": {
          "description": "Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "reason": {
          "description": "Reason why the feature is in this status.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last timestamp the condition was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "Type of the condition, for example, \"ready\".",
          "type": "string"
        }
      },
      "id": "ClusterUpgradeGKEUpgradeFeatureCondition",
      "description": "GKEUpgradeFeatureCondition describes the condition of the feature for GKE clusters at a certain point of time.",
      "type": "object"
    },
    "FleetObservabilityFeatureState": {
      "id": "FleetObservabilityFeatureState",
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "type": "object",
      "properties": {
        "monitoring": {
          "description": "The feature state of fleet monitoring.",
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState"
        },
        "logging": {
          "$ref": "FleetObservabilityFleetObservabilityLoggingState",
          "description": "The feature state of default logging."
        }
      }
    },
    "ClusterUpgradeMembershipState": {
      "description": "Per-membership state for this feature.",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Fully qualified scope names that this clusters is bound to which also have rollout sequencing enabled.",
          "type": "array"
        },
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        },
        "upgrades": {
          "type": "array",
          "description": "Actual upgrade state against desired.",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          }
        }
      },
      "type": "object",
      "id": "ClusterUpgradeMembershipState"
    },
    "IdentityServiceUserConfig": {
      "description": "Defines where users exist in the LDAP directory.",
      "properties": {
        "loginAttribute": {
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
        },
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        },
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IdentityServiceUserConfig"
    },
    "ListRolloutSequencesResponse": {
      "id": "ListRolloutSequencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "rolloutSequences": {
          "description": "The rollout sequences from the specified parent resource.",
          "items": {
            "$ref": "RolloutSequence"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing rollout sequences.",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgradeState": {
      "description": "GKEUpgradeState is a GKEUpgrade and its state at the scope and fleet level.",
      "properties": {
        "stats": {
          "type": "object",
          "description": "Number of GKE clusters in each status code.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        },
        "status": {
          "description": "Status of the upgrade.",
          "$ref": "ClusterUpgradeUpgradeStatus"
        },
        "upgrade": {
          "description": "Which upgrade to track the state.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        }
      },
      "id": "ClusterUpgradeGKEUpgradeState",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "properties": {
        "httpsProxy": {
          "type": "string",
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
        },
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncRev": {
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "syncRepo": {
          "description": "Required. The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "syncBranch": {
          "type": "string",
          "description": "Optional. The branch of the repository to sync from. Default: master."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15."
        }
      },
      "type": "object",
      "description": "Git repo configuration for a single cluster.",
      "id": "ConfigManagementGitConfig"
    },
    "RolloutStage": {
      "id": "RolloutStage",
      "description": "Stage represents a single stage in the Rollout.",
      "properties": {
        "fleetProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The fleet projects from the sequence that was used to create this stage. Expected format: projects/{project_number}",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time at which the stage started.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Optional. Output only. The time at which the stage ended.",
          "type": "string"
        },
        "stageNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The stage number to which this status applies.",
          "format": "int32"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The stage is waiting for previous stages to complete.",
            "The stage targets are being upgraded.",
            "The stage is waiting for a predetermined time before next stage.",
            "The stage is completed.",
            "The stage is paused."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SOAKING",
            "COMPLETED",
            "PAUSED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the stage.",
          "type": "string"
        },
        "clusterSelector": {
          "description": "Output only. The selector from the sequence that was used to create this stage. Example CEL expression: resource.labels.canary == 'true'",
          "$ref": "ClusterSelector",
          "readOnly": true
        },
        "soakDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration to soak after this stage before starting the next stage."
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ConfigManagementErrorResource": {
      "description": "Model for a config file in the git repo with an associated Sync error",
      "id": "ConfigManagementErrorResource",
      "type": "object",
      "properties": {
        "resourceNamespace": {
          "description": "Namespace of the resource that is causing an error",
          "type": "string"
        },
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      }
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "description": "Deployment-specific configuration.",
      "properties": {
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        },
        "podAntiAffinity": {
          "deprecated": true,
          "type": "boolean",
          "description": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead."
        },
        "replicaCount": {
          "type": "string",
          "description": "Pod replica count.",
          "format": "int64"
        },
        "podAffinity": {
          "type": "string",
          "description": "Pod affinity configuration.",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ]
        },
        "podTolerations": {
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "description": "Pod tolerations of node taints.",
          "type": "array"
        }
      },
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Rollout": {
      "description": "Rollout contains the Rollout metadata and configuration. Next ID: 32",
      "properties": {
        "stateReason": {
          "description": "Output only. A human-readable description explaining the reason for the current state.",
          "readOnly": true,
          "type": "string"
        },
        "ignoreClusterDisruptionBudgets": {
          "type": "boolean",
          "description": "Optional. If set to true, the rollout will ignore the disruption budgets of the clusters."
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp at which the Rollout was completed."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full, unique resource name of this Rollout in the format of `projects/{project}/locations/global/rollouts/{rollout}`."
        },
        "stageSoakDurationOverrides": {
          "type": "object",
          "description": "Optional. Overrides the soak durations for specific stages of the rollout. Key is the stage number, value is the desired soak duration. Stages omitted from the map will receive the standard soak duration configured on the sequence for that stage.",
          "additionalProperties": {
            "format": "google-duration",
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels for this Rollout.",
          "type": "object"
        },
        "versionUpgrade": {
          "$ref": "VersionUpgrade",
          "description": "Optional. Config for version upgrade of clusters."
        },
        "deleteTime": {
          "description": "Output only. The timestamp at the Rollout was deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State specifies various states of the Rollout.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "CANCELLED",
            "COMPLETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The Rollout is running.",
            "The Rollout is paused.",
            "The Rollout is in a failure terminal state.",
            "The Rollout is in a terminal state."
          ],
          "type": "string"
        },
        "stages": {
          "description": "Output only. The stages of the Rollout.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RolloutStage"
          }
        },
        "rolloutSequence": {
          "type": "string",
          "description": "Optional. Immutable. The full, unique resource name of the rollout sequence that initiatied this Rollout. In the format of `projects/{project}/locations/global/rolloutSequences/{rollout_sequence}`."
        },
        "intent": {
          "description": "Output only. The intent of the rollout.",
          "enum": [
            "ROLLOUT_INTENT_UNSPECIFIED",
            "REGULAR_UPGRADE",
            "CONTROL_PLANE_PATCH_ENFORCEMENT",
            "END_OF_SUPPORT_ENFORCEMENT",
            "PARTIAL_PATCH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "A standard rollout for the whole sequence.",
            "A mandatory upgrade for clusters that haven't been patched within the allowed window.",
            "A mandatory upgrade for clusters that have reached its end of support.",
            "A patch upgrade for a subset of clusters on a given minor version."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp at which the Rollout was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Human readable display name of the Rollout.",
          "type": "string"
        },
        "trigger": {
          "readOnly": true,
          "description": "Output only. The trigger of the rollout.",
          "type": "string",
          "enum": [
            "ROLLOUT_TRIGGER_UNSPECIFIED",
            "USER",
            "GKE"
          ],
          "enumDescriptions": [
            "The default value.",
            "A user-initiated rollout.",
            "A Google-triggered rollout."
          ]
        },
        "membershipStates": {
          "readOnly": true,
          "description": "Output only. States of upgrading control plane or node pool targets of a single cluster (GKE Hub membership) that's part of this Rollout. The key is the membership name of the cluster. The value is the state of the cluster.",
          "type": "object",
          "additionalProperties": {
            "$ref": "RolloutMembershipState"
          }
        },
        "uid": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Rollout resources. If a Rollout resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. etag of the Rollout Ex. abc1234"
        },
        "ignoreMaintenancePolicies": {
          "description": "Optional. If set to true, the rollout will ignore any maintenance policies (Maintenance Windows and Maintenance Exclusions) set on the clusters.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp at which the Rollout was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateReasonType": {
          "enumDescriptions": [
            "Unspecified state reason.",
            "Paused by the user.",
            "Paused by system config (ex. GKE freeze).",
            "Paused waiting for the next stage to start.",
            "Cancelled by the user.",
            "Cancelled by the system because it was paused too long.",
            "Cancelled by the system because the version is too old.",
            "Cancelled by the system because the rollout sequence is incompatible, for example it has different number of stages, fleet projects or label selectors than the rollout.",
            "Cancelled because of a new user-triggered rollout."
          ],
          "type": "string",
          "description": "Output only. StateReasonType specifies the reason type of the Rollout state.",
          "readOnly": true,
          "enum": [
            "STATE_REASON_TYPE_UNSPECIFIED",
            "PAUSED_BY_USER",
            "PAUSED_BY_SYSTEM_CONFIG",
            "PAUSED_WAITING_FOR_NEXT_STAGE",
            "CANCELLED_BY_USER",
            "CANCELLED_PAUSED_TOO_LONG",
            "CANCELLED_SUPERSEDED",
            "CANCELLED_INCOMPATIBLE_ROLLOUT_SEQUENCE",
            "CANCELLED_SUPERSEDED_BY_USER_ROLLOUT"
          ]
        }
      },
      "type": "object",
      "id": "Rollout"
    },
    "NamespaceActuationMembershipState": {
      "properties": {},
      "id": "NamespaceActuationMembershipState",
      "type": "object",
      "description": "**Namespace Actuation**: An empty state left as an example membership-specific Feature state."
    },
    "MembershipFeatureSpec": {
      "description": "MembershipFeatureSpec contains configuration information for a single Membership.",
      "properties": {
        "namespaceactuation": {
          "$ref": "NamespaceActuationMembershipSpec",
          "description": "FNS Actuation membership spec"
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "cloudbuild": {
          "$ref": "CloudBuildMembershipSpec",
          "description": "Cloud Build-specific spec"
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "MembershipSpec"
        },
        "mesh": {
          "$ref": "ServiceMeshMembershipSpec",
          "description": "Anthos Service Mesh-specific spec"
        },
        "fleetobservability": {
          "description": "Fleet observability membership spec",
          "$ref": "FleetObservabilityMembershipSpec"
        },
        "origin": {
          "description": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Config Management-specific spec."
        },
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        }
      },
      "type": "object",
      "id": "MembershipFeatureSpec"
    },
    "Membership": {
      "id": "Membership",
      "description": "Membership contains information about a member cluster.",
      "properties": {
        "uniqueId": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes."
        },
        "lastConnectionTime": {
          "type": "string",
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Membership was created."
        },
        "state": {
          "$ref": "MembershipState",
          "description": "Output only. State of the Membership resource.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpoint": {
          "$ref": "MembershipEndpoint",
          "description": "Optional. Endpoint information to reach this member."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters."
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Membership was deleted."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Membership was last updated.",
          "format": "google-datetime"
        },
        "authority": {
          "$ref": "Authority",
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        },
        "clusterTier": {
          "description": "Output only. The tier of the cluster.",
          "type": "string",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The ClusterTier is not set.",
            "The ClusterTier is standard.",
            "The ClusterTier is enterprise."
          ]
        },
        "externalId": {
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object.",
          "type": "string"
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Optional. The monitoring config information for this membership."
        },
        "membershipType": {
          "description": "Output only. The type of the membership.",
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ],
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentityServiceDiagnosticInterface": {
      "id": "IdentityServiceDiagnosticInterface",
      "properties": {
        "expirationTime": {
          "type": "string",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected.",
          "format": "google-datetime"
        },
        "enabled": {
          "type": "boolean",
          "description": "Determines whether to enable the diagnostic interface."
        }
      },
      "description": "Configuration options for the AIS diagnostic interface.",
      "type": "object"
    },
    "ScopeFeatureSpec": {
      "id": "ScopeFeatureSpec",
      "properties": {
        "clusterupgrade": {
          "$ref": "ClusterUpgradeScopeSpec",
          "description": "Spec for the ClusterUpgrade feature at the scope level"
        }
      },
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "type": "object"
    },
    "FleetObservabilityLoggingConfig": {
      "id": "FleetObservabilityLoggingConfig",
      "properties": {
        "fleetScopeLogsConfig": {
          "description": "Specified if applying the routing config to all logs for all fleet scopes.",
          "$ref": "FleetObservabilityRoutingConfig"
        },
        "defaultConfig": {
          "description": "Specified if applying the default routing config to logs not specified in other configs.",
          "$ref": "FleetObservabilityRoutingConfig"
        }
      },
      "type": "object",
      "description": "LoggingConfig defines the configuration for different types of logs."
    },
    "ConfigManagementSyncState": {
      "properties": {
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "format": "google-datetime",
          "type": "string"
        },
        "syncToken": {
          "description": "Token indicating the state of the syncer.",
          "type": "string"
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "lastSync": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "code": {
          "description": "Sync status code",
          "type": "string",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ]
        }
      },
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "id": "ConfigManagementSyncState",
      "type": "object"
    },
    "KubernetesMetadata": {
      "properties": {
        "nodeProviderId": {
          "type": "string",
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE on Google Cloud), the node_count will be zero and the node_provider_id will be empty.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.",
          "type": "string"
        },
        "memoryMb": {
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "nodeCount": {
          "description": "Output only. Node count as reported by Kubernetes nodes resources.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "vcpuCount": {
          "format": "int32",
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources.",
          "type": "integer",
          "readOnly": true
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "KubernetesMetadata",
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
    },
    "FeatureState": {
      "properties": {
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated."
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "description": "The high-level, machine-readable status of this Feature.",
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature has encountered an issue, and is operating in a degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information.",
            "The Feature is not operating or is in a severely degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ],
          "type": "string"
        }
      },
      "id": "FeatureState",
      "description": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context.",
      "type": "object"
    },
    "ServiceMeshMembershipSpec": {
      "id": "ServiceMeshMembershipSpec",
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "type": "object",
      "properties": {
        "management": {
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ],
          "type": "string",
          "description": "Optional. Enables automatic Service Mesh management."
        },
        "defaultChannel": {
          "deprecated": true,
          "type": "string",
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        },
        "configApi": {
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "type": "string",
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ]
        },
        "controlPlane": {
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ]
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "description": "State for Binauthz",
      "id": "ConfigManagementBinauthzState",
      "type": "object",
      "properties": {
        "version": {
          "$ref": "ConfigManagementBinauthzVersion",
          "description": "The version of binauthz that is installed."
        },
        "webhook": {
          "type": "string",
          "description": "The state of the binauthz webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "type": "object",
      "id": "IdentityServiceAuthMethod",
      "properties": {
        "samlConfig": {
          "$ref": "IdentityServiceSamlConfig",
          "description": "SAML specific configuration."
        },
        "ldapConfig": {
          "$ref": "IdentityServiceLdapConfig",
          "description": "LDAP specific configuration."
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "googleConfig": {
          "description": "GoogleConfig specific configuration.",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        }
      }
    },
    "UpgradeRolloutSequenceRequest": {
      "description": "Request message for upgrading a rollout sequence.",
      "type": "object",
      "properties": {
        "upgradeType": {
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "CONTROL_PLANE",
            "NODE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Upgrade the control plane.",
            "Upgrade the nodes."
          ],
          "description": "Required. The type of upgrade.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, any rollout already running on the first stage of the sequence will be cancelled to allow for the creation of the new rollout."
        },
        "version": {
          "type": "string",
          "description": "Required. GKE version to upgrade to. A valid GKE version available on the release channel used by the sequence. Patch versions from less conservative channels are allowed if their minor version is already available in the sequence's channel. This is similar to single-cluster upgrade rules, see https://cloud.google.com/kubernetes-engine/docs/how-to/upgrading-a-cluster#supported-versions Example: With the following versions available on the RAPID and REGULAR channels: * REGULAR: 1.35.3-gke.123000 * RAPID: 1.36.4-gke.321000, 1.35.6-gke.045000 Valid versions are 1.35.3-gke.123, 1.35.6-gke.045000 Aliases like `latest` are supported. For more information on valid upgrade versions and specifying cluster versions, see: https://cloud.google.com/kubernetes-engine/versioning#specifying_cluster_version"
        },
        "soakDurationOverridePerStage": {
          "description": "Optional. Overrides the soak durations for specific stages of the rollout.",
          "$ref": "PerStageSoakDurationOverrides"
        },
        "soakDurationOverrideAllStages": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Overrides the soak duration for all stages of the rollout."
        },
        "patchOnly": {
          "description": "Optional. If set to true, the rollout will only upgrade clusters that match the minor version of the `version` field, but are on an earlier patch version.",
          "type": "boolean"
        },
        "ignoreMaintenancePolicies": {
          "description": "Optional. If set to true, the rollout will ignore any maintenance policies (Maintenance Windows and Maintenance Exclusions) set on the clusters.",
          "type": "boolean"
        },
        "ignoreClusterDisruptionBudgets": {
          "description": "Optional. If set to true, the rollout will ignore the disruption budgets of the clusters.",
          "type": "boolean"
        }
      },
      "id": "UpgradeRolloutSequenceRequest"
    },
    "ServiceMeshStatusDetails": {
      "description": "Structured and human-readable details for a status.",
      "id": "ServiceMeshStatusDetails",
      "properties": {
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        },
        "code": {
          "description": "A machine-readable code that further describes a broad status.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceMeshMembershipState": {
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "analysisMessages": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "description": "Output only. Results of running Service Mesh analyzers.",
          "readOnly": true
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "description": "Output only. List of conditions reported for this membership.",
          "readOnly": true
        },
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management.",
          "readOnly": true
        },
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "$ref": "ServiceMeshControlPlaneManagement",
          "readOnly": true
        }
      },
      "id": "ServiceMeshMembershipState",
      "type": "object"
    },
    "AutoUpgradeConfig": {
      "properties": {
        "rolloutCreationScope": {
          "description": "Optional. Specifies the scope of automation for the creation of rollouts. Represents the types of rollouts (version upgrades) the sequence should initiate automatically. If this field is `unset`, it defaults to all types. If this field is `set` but the internal `upgrade_types` list is `empty`, most automatic rollouts are disabled for this sequence. Exceptions are rollouts enforcing our security policies (e.g. such as end-of-support and outdated control plane patch enforcements). These policy enforcements cannot be disabled.",
          "$ref": "RolloutCreationScope"
        },
        "enforcedRollouts": {
          "description": "Output only. Mandatory Safety Policies (Always active) which cannot be disabled. The key is the policy ID (e.g., \"ENFORCED_CONTROL_PLANE_PATCH\") and the value is a human-readable description.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for automatic upgrades.",
      "id": "AutoUpgradeConfig",
      "type": "object"
    },
    "ConnectAgentResource": {
      "id": "ConnectAgentResource",
      "description": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment.",
      "properties": {
        "manifest": {
          "description": "YAML manifest of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Kubernetes type of the resource.",
          "$ref": "TypeMeta"
        }
      },
      "type": "object"
    },
    "IdentityServiceGoogleConfig": {
      "type": "object",
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceGoogleConfig"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "type": "object",
      "properties": {
[...]
