{
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "rootUrl": "https://gkehub.googleapis.com/",
  "baseUrl": "https://gkehub.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "description": "",
  "basePath": "",
  "servicePath": "",
  "name": "gkehub",
  "canonicalName": "GKE Hub",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "ConfigManagementHierarchyControllerConfig": {
      "description": "Configuration for Hierarchy Controller",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        },
        "enablePodTreeLabels": {
          "description": "Whether pod tree labels are enabled in this cluster.",
          "type": "boolean"
        },
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        }
      },
      "id": "ConfigManagementHierarchyControllerConfig"
    },
    "ClusterUpgradeMembershipState": {
      "type": "object",
      "id": "ClusterUpgradeMembershipState",
      "description": "Per-membership state for this feature.",
      "properties": {
        "upgrades": {
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          },
          "description": "Actual upgrade state against desired.",
          "type": "array"
        },
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Fully qualified scope names that this clusters is bound to which also have rollout sequencing enabled.",
          "type": "array"
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "description": "LifecycleState of control plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ]
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state."
        },
        "implementation": {
          "description": "Output only. Implementation of managed control plane.",
          "type": "string",
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ]
        }
      },
      "id": "ServiceMeshControlPlaneManagement",
      "type": "object",
      "description": "Status of control plane management."
    },
    "ConfigManagementConfigSyncError": {
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "description": "Errors pertaining to the installation of Config Sync",
      "id": "ConfigManagementConfigSyncError",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ResumeRolloutRequest": {
      "properties": {
        "scheduleOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration to offset the Rollout schedule by."
        },
        "validateOnly": {
          "description": "Optional. If set, resume rollout will be executed in dry-run mode.",
          "type": "boolean"
        }
      },
      "description": "Request message for resuming a rollout.",
      "id": "ResumeRolloutRequest",
      "type": "object"
    },
    "GenerateExclusivityManifestResponse": {
      "description": "The response of the exclusivity artifacts manifests for the client to apply.",
      "properties": {
        "crdManifest": {
          "description": "The YAML manifest of the membership CRD to apply if a newer version of the CRD is available. Empty if no update needs to be applied.",
          "type": "string"
        },
        "crManifest": {
          "description": "The YAML manifest of the membership CR to apply if a new version of the CR is available. Empty if no update needs to be applied.",
          "type": "string"
        }
      },
      "id": "GenerateExclusivityManifestResponse",
      "type": "object"
    },
    "PerStageSoakDurationOverrides": {
      "id": "PerStageSoakDurationOverrides",
      "type": "object",
      "description": "Configuration for per-stage soak duration overrides.",
      "properties": {
        "stageOverrides": {
          "description": "Required. A mapping of stage numbers to their respective desired soak durations. Key is the stage number, value is the desired soak duration. Stages omitted from the map will receive the standard soak duration configured on the sequence for that stage.",
          "additionalProperties": {
            "type": "string",
            "format": "google-duration"
          },
          "type": "object"
        }
      }
    },
    "FleetObservabilityFleetObservabilityMonitoringState": {
      "description": "Feature state for monitoring feature.",
      "type": "object",
      "properties": {
        "state": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet monitoring feature."
        }
      },
      "id": "FleetObservabilityFleetObservabilityMonitoringState"
    },
    "RolloutTarget": {
      "type": "object",
      "description": "Metadata about the status of targets (clusters or node pools) involved in the Rollout.",
      "id": "RolloutTarget",
      "properties": {
        "reason": {
          "description": "Optional. Output only. A human-readable description of the current status.",
          "type": "string",
          "readOnly": true
        },
        "cluster": {
          "description": "Optional. Output only. The resource link of the Cluster resource upgraded in this Rollout. It is formatted as: `//{api_service}/projects/{project_number}/locations/{location}/clusters/{cluster_name}`. .",
          "readOnly": true,
          "type": "string"
        },
        "nodePool": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The resource link of the NodePool resource upgraded in this Rollout. It is formatted as: `//{api_service}/projects/{project_number}/locations/{location}/clusters/{cluster_name}/nodePools/{node_pool_name}`."
        },
        "state": {
          "description": "Output only. The high-level, machine-readable status of this Rollout for the target.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "PAUSED",
            "REMOVED",
            "INELIGIBLE",
            "SKIPPED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The Rollout is pending for the target.",
            "The Rollout is running for the target.",
            "The Rollout failed for the target.",
            "The Rollout succeeded for the target.",
            "The Rollout is paused for the target.",
            "The target was removed from the Rollout.",
            "The target is ineligible for the Rollout.",
            "The target is skipped for the Rollout."
          ]
        },
        "operation": {
          "description": "Optional. Output only. The operation resource name performing the mutation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ConfigManagementPolicyControllerMigration": {
      "type": "object",
      "description": "State for the migration of PolicyController from ACM -> PoCo Hub.",
      "properties": {
        "copyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this membership spec was copied to PoCo feature."
        },
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "description": "Stage of the migration.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ]
        }
      },
      "id": "ConfigManagementPolicyControllerMigration"
    },
    "RolloutStage": {
      "id": "RolloutStage",
      "type": "object",
      "description": "Stage represents a single stage in the Rollout.",
      "properties": {
        "fleetProjects": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The fleet projects from the sequence that was used to create this stage. Expected format: projects/{project_number}",
          "type": "array"
        },
        "clusterSelector": {
          "readOnly": true,
          "description": "Output only. The selector from the sequence that was used to create this stage. Example CEL expression: resource.labels.canary == 'true'",
          "$ref": "ClusterSelector"
        },
        "soakDuration": {
          "description": "Optional. Duration to soak after this stage before starting the next stage.",
          "format": "google-duration",
          "type": "string"
        },
        "stageNumber": {
          "format": "int32",
          "description": "Output only. The stage number to which this status applies.",
          "type": "integer",
          "readOnly": true
        },
        "endTime": {
          "description": "Optional. Output only. The time at which the stage ended.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the stage.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The stage is waiting for previous stages to complete.",
            "The stage targets are being upgraded.",
            "The stage is waiting for a predetermined time before next stage.",
            "The stage is completed.",
            "The stage is paused."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SOAKING",
            "COMPLETED",
            "PAUSED"
          ],
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The time at which the stage started."
        }
      }
    },
    "IdentityServiceUserConfig": {
      "properties": {
        "idAttribute": {
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "baseDn": {
          "type": "string",
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries."
        },
        "loginAttribute": {
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\".",
          "type": "string"
        }
      },
      "description": "Defines where users exist in the LDAP directory.",
      "id": "IdentityServiceUserConfig",
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "type": "object",
      "properties": {
        "otelCollector": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of otel-collector",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "admissionWebhook": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of admission-webhook",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string"
        },
        "gitSync": {
          "description": "Deployment state of the git-sync pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "monitor": {
          "description": "Deployment state of the monitor pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "reconcilerManager": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "description": "Deployment state of reconciler-manager pod"
        },
        "importer": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "description": "Deployment state of the importer pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        },
        "rootReconciler": {
          "description": "Deployment state of root-reconciler",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ]
        },
        "resourceGroupControllerManager": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Deployment state of resource-group-controller-manager",
          "type": "string"
        },
        "syncer": {
          "type": "string",
          "description": "Deployment state of the syncer pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ]
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState",
      "description": "The state of ConfigSync's deployment on a cluster"
    },
    "ServiceMeshMembershipState": {
      "properties": {
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "readOnly": true,
          "$ref": "ServiceMeshControlPlaneManagement"
        },
        "configApiVersion": {
          "type": "string",
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
        },
        "conditions": {
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of conditions reported for this membership."
        },
        "analysisMessages": {
          "description": "Output only. Results of running Service Mesh analyzers.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          }
        },
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "readOnly": true,
          "description": "Output only. Status of data plane management."
        }
      },
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "type": "object",
      "id": "ServiceMeshMembershipState"
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync",
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "clusterLevelStopSyncingState": {
          "type": "string",
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level.",
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "readOnly": true
        },
        "deploymentState": {
          "description": "Output only. Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "type": "array"
        },
        "version": {
          "description": "Output only. The version of ConfigSync deployed",
          "$ref": "ConfigManagementConfigSyncVersion",
          "readOnly": true
        },
        "reposyncCrd": {
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "description": "Output only. The state of the Reposync CRD",
          "type": "string",
          "readOnly": true
        },
        "syncState": {
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster",
          "readOnly": true,
          "$ref": "ConfigManagementSyncState"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ]
        },
        "crCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster."
        },
        "rootsyncCrd": {
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "type": "string",
          "description": "Output only. The state of the RootSync CRD"
        }
      },
      "type": "object"
    },
    "RBACRoleBindingActuationFeatureState": {
      "type": "object",
      "properties": {},
      "description": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state.",
      "id": "RBACRoleBindingActuationFeatureState"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "type": "object",
      "properties": {
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "policycontroller": {
          "$ref": "PolicyControllerMembershipSpec",
          "description": "Policy Controller spec."
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        }
      },
      "id": "CommonFleetDefaultMemberConfigSpec",
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet"
    },
    "ClusterUpgradeIgnoredMembership": {
      "properties": {
        "reason": {
          "description": "Reason why the membership is ignored.",
          "type": "string"
        },
        "ignoredTime": {
          "description": "Time when the membership was first set to ignored.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ClusterUpgradeIgnoredMembership",
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgrade": {
      "id": "ClusterUpgradeGKEUpgrade",
      "type": "object",
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade.",
      "properties": {
        "name": {
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\". It should be a valid upgrade name. It must not exceet 99 characters.",
          "type": "string"
        },
        "version": {
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\". It should be a valid version. It must not exceet 99 characters.",
          "type": "string"
        }
      }
    },
    "PauseRolloutRequest": {
      "description": "Request message for pausing a rollout.",
      "type": "object",
      "id": "PauseRolloutRequest",
      "properties": {}
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "IdentityServiceIdentityServiceOptions": {
      "properties": {
        "diagnosticInterface": {
          "$ref": "IdentityServiceDiagnosticInterface",
          "description": "Configuration options for the AIS diagnostic interface."
        },
        "sessionDuration": {
          "description": "Determines the lifespan of STS tokens issued by Anthos Identity Service.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Holds non-protocol-related configuration options.",
      "id": "IdentityServiceIdentityServiceOptions"
    },
    "Fleet": {
      "description": "Fleet contains the Fleet-wide metadata and configuration.",
      "id": "Fleet",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of the namespace resource.",
          "$ref": "FleetLifecycleState",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. When the Fleet was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. A user-assigned display name of the Fleet. When present, it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `Production Fleet`",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels for this Fleet.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Fleet was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Fleet resources. If a Fleet resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "defaultClusterConfig": {
          "$ref": "DefaultClusterConfig",
          "description": "Optional. The default cluster configurations to apply across the fleet."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the Fleet was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique resource name of this fleet in the format of `projects/{project}/locations/{location}/fleets/{fleet}`. Each Google Cloud project can have at most one fleet resource, named \"default\"."
        }
      }
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "properties": {
        "code": {
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ],
          "description": "The state of the Identity Provider.",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        }
      },
      "type": "object"
    },
    "FeatureResourceState": {
      "type": "object",
      "id": "FeatureResourceState",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Fleet.",
            "The Feature is enabled in this Fleet, and the Feature resource is fully available.",
            "The Feature is being disabled in this Fleet, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string",
          "description": "The current state of the Feature resource in the Hub API.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Fleet and across Memberships."
    },
    "OnPremCluster": {
      "type": "object",
      "description": "OnPremCluster contains information specific to GKE On-Prem clusters.",
      "properties": {
        "adminCluster": {
          "description": "Immutable. Whether the cluster is an admin cluster.",
          "type": "boolean"
        },
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE On-Prem cluster. For example: //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/vmwareClusters/my-cluster //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/bareMetalClusters/my-cluster"
        },
        "clusterMissing": {
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that API(gkeonprem.googleapis.com) resource for this GKE On-Prem cluster no longer exists.",
          "readOnly": true
        },
        "clusterType": {
          "type": "string",
          "description": "Immutable. The on prem cluster's type.",
          "enumDescriptions": [
            "The ClusterType is not set.",
            "The ClusterType is bootstrap cluster.",
            "The ClusterType is baremetal hybrid cluster.",
            "The ClusterType is baremetal standalone cluster.",
            "The ClusterType is user cluster."
          ],
          "enum": [
            "CLUSTERTYPE_UNSPECIFIED",
            "BOOTSTRAP",
            "HYBRID",
            "STANDALONE",
            "USER"
          ]
        }
      },
      "id": "OnPremCluster"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations",
      "properties": {
        "errorResources": {
          "description": "A list of config(s) associated with the error, if any",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        },
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        }
      },
      "type": "object",
      "id": "ConfigManagementSyncError"
    },
    "CompliancePostureConfig": {
      "deprecated": true,
      "id": "CompliancePostureConfig",
      "type": "object",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Compliance Posture features on the cluster.",
            "Enables Compliance Posture features on the cluster."
          ],
          "description": "Defines the enablement mode for Compliance Posture.",
          "type": "string"
        },
        "complianceStandards": {
          "description": "List of enabled compliance standards.",
          "type": "array",
          "items": {
            "$ref": "ComplianceStandard"
          }
        }
      },
      "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. CompliancePostureConfig defines the settings needed to enable/disable features for the Compliance Posture."
    },
    "ConfigManagementHierarchyControllerVersion": {
      "id": "ConfigManagementHierarchyControllerVersion",
      "type": "object",
      "description": "Version for Hierarchy Controller",
      "properties": {
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC"
        },
        "extension": {
          "description": "Version for Hierarchy Controller extension",
          "type": "string"
        }
      }
    },
    "ClusterSelector": {
      "id": "ClusterSelector",
      "type": "object",
      "properties": {
        "labelSelector": {
          "description": "Required. A valid CEL (Common Expression Language) expression which evaluates `resource.labels`.",
          "type": "string"
        }
      },
      "description": "Selector for clusters."
    },
    "ConfigManagementBinauthzState": {
      "id": "ConfigManagementBinauthzState",
      "description": "State for Binauthz",
      "type": "object",
      "properties": {
        "webhook": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the binauthz webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string"
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      }
    },
    "ConfigManagementBinauthzConfig": {
      "description": "Configuration for Binauthz",
      "properties": {
        "enabled": {
          "description": "Whether binauthz is enabled in this cluster.",
          "type": "boolean"
        }
      },
      "id": "ConfigManagementBinauthzConfig",
      "type": "object"
    },
    "MembershipState": {
      "id": "MembershipState",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ],
          "description": "Output only. The current state of the Membership resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "MembershipState describes the state of a Membership resource."
    },
    "PolicyControllerTemplateLibraryConfig": {
      "id": "PolicyControllerTemplateLibraryConfig",
      "properties": {
        "installation": {
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ],
          "type": "string",
          "description": "Configures the manner in which the template library is installed on the cluster."
        }
      },
      "description": "The config specifying which default library templates to install.",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Errors pertaining to the installation of ACM",
      "id": "ConfigManagementInstallError"
    },
    "ScopeLifecycleState": {
      "properties": {
        "code": {
          "description": "Output only. The current state of the scope resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ]
        }
      },
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "type": "object",
      "id": "ScopeLifecycleState"
    },
    "ConfigManagementGroupVersionKind": {
      "type": "object",
      "description": "A Kubernetes object's GVK",
      "id": "ConfigManagementGroupVersionKind",
      "properties": {
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "version": {
          "description": "Kubernetes Version",
          "type": "string"
        }
      }
    },
    "ServiceMeshFeatureState": {
      "id": "ServiceMeshFeatureState",
      "properties": {
        "analysisMessages": {
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "description": "Output only. Results of running Service Mesh analyzers.",
          "type": "array"
        },
        "conditions": {
          "description": "Output only. List of conditions reported for this feature.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ServiceMeshFeatureCondition"
          }
        }
      },
      "type": "object",
      "description": "**Service Mesh**: State for the whole Hub, as analyzed by the Service Mesh Hub Controller."
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "description": "ScopeGKEUpgradeState is a GKEUpgrade and its state per-membership.",
      "type": "object",
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "$ref": "ClusterUpgradeUpgradeStatus",
          "description": "Status of the upgrade."
        }
      }
    },
    "PolicyBinding": {
      "id": "PolicyBinding",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the binauthz platform policy to audit. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`.",
          "type": "string"
        }
      },
      "description": "Binauthz policy that applies to this cluster."
    },
    "PolicyControllerPolicyContentSpec": {
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "properties": {
        "templateLibrary": {
          "description": "Configures the installation of the Template Library.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        },
        "bundles": {
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          }
        }
      },
      "id": "PolicyControllerPolicyContentSpec",
      "type": "object"
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "description": "List of Membership RBACRoleBindings.",
      "id": "ListMembershipRBACRoleBindingsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          }
        },
        "rbacrolebindings": {
          "description": "The list of Membership RBACRoleBindings.",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "type": "array"
        }
      }
    },
    "WorkloadIdentityWorkloadIdentityPoolStateDetail": {
      "type": "object",
      "description": "WorkloadIdentityPoolStateDetail represents the state of the Workload Identity Pools for the fleet.",
      "id": "WorkloadIdentityWorkloadIdentityPoolStateDetail",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Unknown state.",
            "The Workload Identity Pool was created/updated successfully.",
            "The Workload Identity Pool was not created/updated successfully. The error message is in the description field."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_IDENTITY_POOL_STATE_UNSPECIFIED",
            "WORKLOAD_IDENTITY_POOL_STATE_OK",
            "WORKLOAD_IDENTITY_POOL_STATE_ERROR"
          ],
          "description": "The state of the Workload Identity Pool."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        }
      }
    },
    "ServiceMeshMembershipSpec": {
      "properties": {
        "configApi": {
          "enumDescriptions": [
            "Unspecified",
            "Use the Istio API for configuration.",
            "Use the K8s Gateway API for configuration."
          ],
          "type": "string",
          "description": "Optional. Specifies the API that will be used for configuring the mesh workloads.",
          "enum": [
            "CONFIG_API_UNSPECIFIED",
            "CONFIG_API_ISTIO",
            "CONFIG_API_GATEWAY"
          ]
        },
        "defaultChannel": {
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "deprecated": true,
          "type": "string"
        },
        "controlPlane": {
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "type": "string"
        },
        "management": {
          "description": "Optional. Enables automatic Service Mesh management.",
          "type": "string",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL",
            "MANAGEMENT_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components.",
            "Google should remove any managed Service Mesh components from this cluster and deprovision any resources."
          ]
        }
      },
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "type": "object",
      "id": "ServiceMeshMembershipSpec"
    },
    "ClusterUpgradeGKEUpgradeState": {
      "type": "object",
      "description": "GKEUpgradeState is a GKEUpgrade and its state at the scope and fleet level.",
      "properties": {
        "stats": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Number of GKE clusters in each status code."
        },
        "status": {
          "description": "Status of the upgrade.",
          "$ref": "ClusterUpgradeUpgradeStatus"
        },
        "upgrade": {
          "description": "Which upgrade to track the state.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        }
      },
      "id": "ClusterUpgradeGKEUpgradeState"
    },
    "RolloutCreationScope": {
      "properties": {
        "upgradeTypes": {
          "description": "Optional. The list of enabled upgrade types.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used.",
              "Control plane minor version upgrades (e.g. 1.33 to 1.34).",
              "Control plane patch version upgrades (e.g. 1.33.1 to 1.33.2).",
              "Node minor version upgrades (e.g. 1.33 to 1.34 or 1.33 to 1.35).",
              "Node patch version upgrades (e.g. 1.33.1 to 1.33.2)."
            ],
            "enum": [
              "UPGRADE_TYPE_UNSPECIFIED",
              "CONTROL_PLANE_MINOR",
              "CONTROL_PLANE_PATCH",
              "NODE_MINOR",
              "NODE_PATCH"
            ]
          }
        }
      },
      "description": "The scope for automatic rollout creation.",
      "type": "object",
      "id": "RolloutCreationScope"
    },
    "ConfigManagementErrorResource": {
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "resourceNamespace": {
          "description": "Namespace of the resource that is causing an error",
          "type": "string"
        },
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        },
        "resourceName": {
          "type": "string",
          "description": "Metadata name of the resource that is causing an error"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        }
      },
      "id": "ConfigManagementErrorResource",
      "type": "object"
    },
    "ConnectAgentResource": {
      "description": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment.",
      "properties": {
        "manifest": {
          "description": "YAML manifest of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Kubernetes type of the resource.",
          "$ref": "TypeMeta"
        }
      },
      "id": "ConnectAgentResource",
      "type": "object"
    },
    "Feature": {
      "id": "Feature",
      "type": "object",
      "properties": {
        "fleetDefaultMemberConfig": {
          "$ref": "CommonFleetDefaultMemberConfigSpec",
          "description": "Optional. Feature configuration applicable to all memberships of the fleet."
        },
        "labels": {
          "description": "Labels for this Feature.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "spec": {
          "description": "Optional. Fleet-wide Feature configuration. If this Feature does not support any Fleet-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        },
        "scopeSpecs": {
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "type": "object",
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "state": {
          "description": "Output only. The Fleet-wide Feature state.",
          "readOnly": true,
          "$ref": "CommonFeatureState"
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "type": "object",
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "membershipStates": {
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          },
          "type": "object",
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Feature resource was created.",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. When the Feature resource was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "scopeStates": {
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "readOnly": true,
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "type": "object"
        },
        "resourceState": {
          "readOnly": true,
          "description": "Output only. State of the Feature resource itself.",
          "$ref": "FeatureResourceState"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. List of locations that could not be reached while fetching this feature.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was last updated."
        }
      },
      "description": "Feature represents the settings and status of any Fleet Feature."
    },
    "GenerateMembershipRBACRoleBindingYAMLResponse": {
      "id": "GenerateMembershipRBACRoleBindingYAMLResponse",
      "description": "Response for GenerateRBACRoleBindingYAML.",
      "type": "object",
      "properties": {
        "roleBindingsYaml": {
          "type": "string",
          "description": "a yaml text blob including the RBAC policies."
        }
      }
    },
    "ListScopesResponse": {
      "id": "ListScopesResponse",
      "description": "List of Scopes.",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "scopes": {
          "description": "The list of Scopes",
          "items": {
            "$ref": "Scope"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VersionUpgrade": {
      "id": "VersionUpgrade",
      "type": "object",
      "properties": {
        "desiredVersion": {
          "description": "Optional. Desired version of the component.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Control plane upgrade.",
            "Node pool upgrade."
          ],
          "description": "Optional. Type of version upgrade specifies which component should be upgraded.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_CONTROL_PLANE",
            "TYPE_NODE_POOL"
          ]
        }
      },
      "description": "Config for version upgrade of clusters."
    },
    "Role": {
      "id": "Role",
      "description": "Role is the type for Kubernetes roles",
      "type": "object",
      "properties": {
        "predefinedRole": {
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW",
            "ANTHOS_SUPPORT"
          ],
          "description": "predefined_role is the Kubernetes default role to use",
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources",
            "ANTHOS_SUPPORT gives Google Support read-only access to a number of cluster resources."
          ],
          "type": "string"
        },
        "customRole": {
          "description": "Optional. custom_role is the name of a custom KubernetesClusterRole to use.",
          "type": "string"
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "description": "Configuration for the Google Plugin Auth flow.",
      "type": "object",
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      },
      "id": "IdentityServiceGoogleConfig"
    },
    "ValidateCreateMembershipRequest": {
      "id": "ValidateCreateMembershipRequest",
      "type": "object",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "description": "Required. Membership resource to be created."
        },
        "membershipId": {
          "type": "string",
          "description": "Required. Client chosen membership id."
        }
      },
      "description": "Request message for the `GkeHub.ValidateCreateMembership` method."
    },
    "PolicyControllerMembershipState": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "type": "string",
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller."
        },
        "policyContentState": {
          "$ref": "PolicyControllerPolicyContentState",
          "description": "The overall content state observed by the Hub Feature controller."
        },
        "componentStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\""
        }
      },
      "id": "PolicyControllerMembershipState",
      "description": "**Policy Controller**: State for a single cluster.",
      "type": "object"
    },
    "FleetObservabilityFeatureState": {
      "properties": {
        "monitoring": {
          "description": "The feature state of fleet monitoring.",
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState"
        },
        "logging": {
          "$ref": "FleetObservabilityFleetObservabilityLoggingState",
          "description": "The feature state of default logging."
        }
      },
      "type": "object",
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "id": "FleetObservabilityFeatureState"
    },
    "CloudAuditLoggingFeatureSpec": {
      "properties": {
        "allowlistedServiceAccounts": {
          "description": "Service account that should be allowlisted to send the audit logs; eg cloudauditlogging@gcp-project.iam.gserviceaccount.com. These accounts must already exist, but do not need to have any permissions granted to them. The customer's entitlements will be checked prior to allowlisting (i.e. the customer must be an Anthos customer.)",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "**Cloud Audit Logging**: Spec for Audit Logging Allowlisting.",
      "id": "CloudAuditLoggingFeatureSpec"
    },
    "ConfigManagementPolicyControllerState": {
      "type": "object",
      "id": "ConfigManagementPolicyControllerState",
      "description": "State for PolicyControllerState.",
      "properties": {
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        },
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "migration": {
          "description": "Record state of ACM -> PoCo Hub migration for this feature.",
          "$ref": "ConfigManagementPolicyControllerMigration"
        }
      }
    },
    "NamespaceActuationMembershipSpec": {
      "description": "**Namespace Actuation**: The membership-specific input for NamespaceActuation feature.",
      "id": "NamespaceActuationMembershipSpec",
      "properties": {},
      "type": "object"
    },
    "Origin": {
      "type": "object",
      "description": "Origin defines where this MembershipFeatureSpec originated from.",
      "id": "Origin",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Membership spec was inherited from a user specification."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "description": "Type specifies which type of origin is set.",
          "type": "string"
        }
      }
    },
    "FleetObservabilityFleetObservabilityLoggingState": {
      "properties": {
        "defaultLog": {
          "description": "The base feature state of fleet default log.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        },
        "scopeLog": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet scope log."
        }
      },
      "type": "object",
      "id": "FleetObservabilityFleetObservabilityLoggingState",
      "description": "Feature state for logging feature."
    },
    "ClusterUpgradeScopeState": {
      "description": "**ClusterUpgrade**: The state for the scope-level ClusterUpgrade feature.",
      "properties": {
        "gkeState": {
          "description": "Feature state for GKE clusters.",
          "$ref": "ClusterUpgradeGKEUpgradeFeatureState"
        },
        "ignored": {
          "description": "A list of memberships ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel. The membership resource is in the format: `projects/{p}/locations/{l}/membership/{m}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ClusterUpgradeIgnoredMembership"
          }
        },
        "downstreamScopes": {
          "description": "This scopes whose upstream_scopes contain the current scope. The scope name should be in the form: `projects/{p}/locations/gloobal/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ClusterUpgradeScopeState"
    },
    "NamespaceActuationMembershipState": {
      "id": "NamespaceActuationMembershipState",
      "properties": {},
      "type": "object",
      "description": "**Namespace Actuation**: An empty state left as an example membership-specific Feature state."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object"
    },
    "MeteringMembershipState": {
      "type": "object",
      "description": "**Metering**: Per-Membership Feature State.",
      "id": "MeteringMembershipState",
      "properties": {
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "format": "float"
        },
        "lastMeasurementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster."
        }
      }
    },
    "Membership": {
      "description": "Membership contains information about a member cluster.",
      "type": "object",
      "properties": {
        "membershipType": {
          "description": "Output only. The type of the membership.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ]
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "readOnly": true
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Optional. The monitoring config information for this membership."
        },
        "lastConnectionTime": {
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "authority": {
          "$ref": "Authority",
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        },
        "state": {
          "description": "Output only. State of the Membership resource.",
          "readOnly": true,
          "$ref": "MembershipState"
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "deleteTime": {
          "description": "Output only. When the Membership was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "externalId": {
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object.",
          "type": "string"
        },
        "clusterTier": {
          "enumDescriptions": [
            "The ClusterTier is not set.",
            "The ClusterTier is standard.",
            "The ClusterTier is enterprise."
          ],
          "description": "Output only. The tier of the cluster.",
          "type": "string",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. When the Membership was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "uniqueId": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters."
        },
        "updateTime": {
          "description": "Output only. When the Membership was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types."
        }
      },
      "id": "Membership"
    },
    "IdentityServiceServerConfig": {
      "id": "IdentityServiceServerConfig",
      "description": "Server settings for the external LDAP server.",
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\"."
        },
        "connectionType": {
          "description": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "WorkloadIdentityFeatureSpec": {
      "description": "**WorkloadIdentity**: Global feature specification.",
      "type": "object",
      "id": "WorkloadIdentityFeatureSpec",
      "properties": {
        "scopeTenancyPool": {
          "description": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool",
          "type": "string"
        }
      }
    },
    "EdgeCluster": {
      "id": "EdgeCluster",
[...]
