{
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://gkehub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://gkehub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://gkehub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://gkehub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://gkehub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://gkehub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://gkehub.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://gkehub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://gkehub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "description": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "memberships": {
              "resources": {
                "features": {
                  "methods": {
                    "list": {
                      "id": "gkehub.projects.locations.memberships.features.list",
                      "path": "v2beta/{+parent}/features",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "description": "Lists MembershipFeatures in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent where the MembershipFeature will be listed. In the format: `projects/*/locations/*/memberships/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Lists MembershipFeatures that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"helloworld\" in project \"foo-proj\" and membership \"member-bar\": name = \"projects/foo-proj/locations/global/memberships/member-bar/features/helloworld\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListMembershipFeaturesResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of parent where the MembershipFeature will be created. Specified in the format `projects/*/locations/*/memberships/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                          "required": true
                        },
                        "featureId": {
                          "type": "string",
                          "description": "Required. The ID of the membership_feature to create.",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Idempotent request UUID.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+parent}/features",
                      "id": "gkehub.projects.locations.memberships.features.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features",
                      "description": "Creates membershipFeature under a given parent."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The MembershipFeature resource name in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "MembershipFeature"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "description": "========= MembershipFeature Services ========= Gets details of a membershipFeature.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta/{+name}",
                      "id": "gkehub.projects.locations.memberships.features.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update.",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Idempotent request UUID.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "required": true,
                          "description": "Output only. The resource name of the membershipFeature, in the format: `projects/{project}/locations/{location}/memberships/{membership}/features/{feature}`. Note that `membershipFeatures` is shortened to `features` in the resource name. (see http://go/aip/122#collection-identifiers)",
                          "type": "string"
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, and the MembershipFeature is not found, a new MembershipFeature will be created. In this situation, `update_mask` is ignored.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "MembershipFeature"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "id": "gkehub.projects.locations.memberships.features.patch",
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "description": "Updates an existing MembershipFeature.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "path": "v2beta/{+name}",
                      "id": "gkehub.projects.locations.memberships.features.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}/features/{featuresId}",
                      "description": "Removes a membershipFeature.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Idempotent request UUID.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+/features/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the membershipFeature to be deleted. Specified in the format `projects/*/locations/*/memberships/*/features/*`.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.operations.list",
                  "path": "v2beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  }
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.operations.cancel",
                  "path": "v2beta/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.operations.get",
                  "path": "v2beta/{+name}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "gkehub.projects.locations.list",
              "path": "v2beta/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "path": "v2beta/{+name}",
              "id": "gkehub.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              }
            }
          }
        }
      }
    }
  },
  "title": "GKE Hub API",
  "baseUrl": "https://gkehub.googleapis.com/",
  "canonicalName": "GKE Hub",
  "kind": "discovery#restDescription",
  "id": "gkehub:v2beta",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "revision": "20260817",
  "schemas": {
    "PolicyControllerState": {
      "id": "PolicyControllerState",
      "description": "**Policy Controller**: State for a single cluster.",
      "properties": {
        "componentStates": {
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object"
        },
        "state": {
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ]
        },
        "policyContentState": {
          "$ref": "PolicyControllerPolicyContentState",
          "description": "The overall content state observed by the Hub Feature controller."
        }
      },
      "type": "object"
    },
    "PolicyControllerPolicyContentState": {
      "id": "PolicyControllerPolicyContentState",
      "description": "The state of the policy controller policy content",
      "properties": {
        "bundleStates": {
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        }
      },
      "type": "object"
    },
    "LifecycleState": {
      "type": "object",
      "id": "LifecycleState",
      "description": "LifecycleState describes the state of a MembershipFeature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the MembershipFeature.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the Feature resource in the Hub API.",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The MembershipFeature is being enabled, and the MembershipFeature resource is being created. Once complete, the corresponding MembershipFeature will be enabled in this Hub.",
            "The MembershipFeature is enabled in this Hub, and the MembershipFeature resource is fully available.",
            "The MembershipFeature is being disabled in this Hub, and the MembershipFeature resource is being deleted.",
            "The MembershipFeature resource is being updated.",
            "The MembershipFeature resource is being updated by the Hub Service."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "type": "object",
      "id": "IdentityServiceAuthMethod",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "azureadConfig": {
          "$ref": "IdentityServiceAzureADConfig",
          "description": "AzureAD specific Configuration."
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "oidcConfig": {
          "$ref": "IdentityServiceOidcConfig",
          "description": "OIDC specific configuration."
        },
        "googleConfig": {
          "description": "GoogleConfig specific configuration",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "samlConfig": {
          "$ref": "IdentityServiceSamlConfig",
          "description": "SAML specific configuration."
        },
        "ldapConfig": {
          "$ref": "IdentityServiceLdapConfig",
          "description": "LDAP specific configuration."
        }
      }
    },
    "AppDevExperienceStatus": {
      "id": "AppDevExperienceStatus",
      "description": "Status specifies state for the subcomponent.",
      "properties": {
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ]
        },
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyControllerSpec": {
      "id": "PolicyControllerSpec",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR.",
      "properties": {
        "policyControllerHubConfig": {
          "description": "Policy Controller configuration for the cluster.",
          "$ref": "PolicyControllerHubConfig"
        },
        "version": {
          "type": "string",
          "description": "Version of Policy Controller installed."
        }
      },
      "type": "object"
    },
    "ClusterUpgradeIgnoredMembership": {
      "id": "ClusterUpgradeIgnoredMembership",
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason why the membership is ignored."
        },
        "ignoredTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the membership was first set to ignored."
        }
      },
      "type": "object"
    },
    "ConfigManagementHierarchyControllerVersion": {
      "id": "ConfigManagementHierarchyControllerVersion",
      "description": "Version for Hierarchy Controller.",
      "properties": {
        "hnc": {
          "description": "Version for open source HNC.",
          "type": "string"
        },
        "extension": {
          "description": "Version for Hierarchy Controller extension.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementDeploymentOverride": {
      "id": "ConfigManagementDeploymentOverride",
      "description": "Configuration for a deployment override.",
      "properties": {
        "deploymentNamespace": {
          "type": "string",
          "description": "Required. The namespace of the deployment resource to be overridden."
        },
        "containers": {
          "description": "Optional. The containers of the deployment resource to be overridden.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementContainerOverride"
          }
        },
        "deploymentName": {
          "type": "string",
          "description": "Required. The name of the deployment resource to be overridden."
        }
      },
      "type": "object"
    },
    "PolicyControllerPolicyContentSpec": {
      "type": "object",
      "id": "PolicyControllerPolicyContentSpec",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "properties": {
        "bundles": {
          "type": "object",
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint.",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          }
        },
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        }
      }
    },
    "IdentityServiceOidcConfig": {
      "id": "IdentityServiceOidcConfig",
      "description": "Configuration for OIDC Auth flow.",
      "properties": {
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "groupsClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds group information."
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted OIDC Client secret",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "clientId": {
          "type": "string",
          "description": "ID for OIDC client application."
        },
        "deployCloudConsoleProxy": {
          "type": "boolean",
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
        },
        "scopes": {
          "type": "string",
          "description": "Comma-separated list of identifiers."
        },
        "enableAccessToken": {
          "description": "Enable access token.",
          "type": "boolean"
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        }
      },
      "type": "object"
    },
    "PolicyControllerToleration": {
      "type": "object",
      "id": "PolicyControllerToleration",
      "description": "Toleration of a node taint.",
      "properties": {
        "key": {
          "description": "Matches a taint key (not necessarily unique).",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "Matches a taint operator."
        },
        "value": {
          "type": "string",
          "description": "Matches a taint value."
        },
        "effect": {
          "type": "string",
          "description": "Matches a taint effect."
        }
      }
    },
    "ClusterUpgradeGKEUpgrade": {
      "id": "ClusterUpgradeGKEUpgrade",
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\"."
        },
        "version": {
          "type": "string",
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\"."
        }
      },
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "type": "object",
      "id": "ConfigManagementGitConfig",
      "description": "Git repo configuration for a single cluster.",
      "properties": {
        "syncBranch": {
          "type": "string",
          "description": "Optional. The branch of the repository to sync from. Default: master."
        },
        "secretType": {
          "type": "string",
          "description": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        },
        "syncRepo": {
          "description": "Required. The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "policyDir": {
          "description": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncRev": {
          "type": "string",
          "description": "Optional. Git revision (tag or hash) to check out. Default HEAD."
        },
        "httpsProxy": {
          "type": "string",
          "description": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
        }
      }
    },
    "ConfigManagementSpec": {
      "type": "object",
      "id": "ConfigManagementSpec",
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "properties": {
        "version": {
          "description": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy.",
          "type": "string"
        },
        "configSync": {
          "description": "Optional. Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "management": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "description": "Optional. Deprecated: Automatic Feature management is in Preview and is unavailable in version 1.21.0 and later, after which Config Sync only supports manual upgrades. If set to manual upgrades, clear this field instead, which is behaviorally equivalent but helps prevent compatibility issues with newer fields."
        },
        "policyController": {
          "description": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead.",
          "deprecated": true,
          "$ref": "ConfigManagementPolicyController"
        },
        "cluster": {
          "type": "string",
          "description": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead.",
          "deprecated": true
        },
        "binauthz": {
          "description": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set.",
          "deprecated": true,
          "$ref": "ConfigManagementBinauthzConfig"
        }
      }
    },
    "PolicyControllerResourceList": {
      "id": "PolicyControllerResourceList",
      "description": "ResourceList contains container resource requirements.",
      "properties": {
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClusterUpgradeState": {
      "type": "object",
      "id": "ClusterUpgradeState",
      "description": "Per-membership state for this feature.",
      "properties": {
        "upgrades": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          },
          "description": "Actual upgrade state against desired."
        },
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "type": "object",
      "id": "ConfigManagementPolicyControllerMonitoring",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          }
        }
      }
    },
    "ConfigManagementInstallError": {
      "type": "object",
      "id": "ConfigManagementInstallError",
      "description": "Errors pertaining to the installation of ACM.",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message.",
          "type": "string"
        }
      }
    },
    "MeteringState": {
      "id": "MeteringState",
      "description": "**Metering**: State for a single membership, analyzed and reported by feature controller.",
      "properties": {
        "lastMeasurementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster."
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "format": "float",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "type": "number"
        }
      },
      "type": "object"
    },
    "IdentityServiceServiceAccountConfig": {
      "id": "IdentityServiceServiceAccountConfig",
      "description": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate.",
      "properties": {
        "simpleBindCredentials": {
          "$ref": "IdentityServiceSimpleBindCredentials",
          "description": "Credentials for basic auth."
        }
      },
      "type": "object"
    },
    "IdentityServiceUserConfig": {
      "id": "IdentityServiceUserConfig",
      "description": "Defines where users exist in the LDAP directory.",
      "properties": {
        "idAttribute": {
          "type": "string",
          "description": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
        },
        "baseDn": {
          "description": "Required. The location of the subtree in the LDAP directory to search for user entries.",
          "type": "string"
        },
        "loginAttribute": {
          "description": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\".",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppDevExperienceState": {
      "id": "AppDevExperienceState",
      "description": "State for App Dev Exp Feature.",
      "properties": {
        "networkingInstallSucceeded": {
          "$ref": "AppDevExperienceStatus",
          "description": "Status of subcomponent that detects configured Service Mesh resources."
        }
      },
      "type": "object"
    },
    "ListMembershipFeaturesResponse": {
      "type": "object",
      "id": "ListMembershipFeaturesResponse",
      "description": "Response message for the `GkeHubFeature.ListMembershipFeatures` method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        },
        "membershipFeatures": {
          "type": "array",
          "items": {
            "$ref": "MembershipFeature"
          },
          "description": "The list of matching MembershipFeatures."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return."
        }
      }
    },
    "CloudBuildSpec": {
      "id": "CloudBuildSpec",
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the cloud build software on the cluster."
        },
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ],
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ]
        }
      },
      "type": "object"
    },
    "ServiceMeshAnalysisMessage": {
      "id": "ServiceMeshAnalysisMessage",
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes."
        },
        "resourcePaths": {
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageBase": {
          "$ref": "ServiceMeshAnalysisMessageBase",
          "description": "Details common to all types of Istio and ServiceMesh analysis messages."
        },
        "args": {
          "type": "object",
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "IdentityServiceServerConfig": {
      "type": "object",
      "id": "IdentityServiceServerConfig",
      "description": "Server settings for the external LDAP server.",
      "properties": {
        "certificateAuthorityData": {
          "format": "byte",
          "description": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\"."
        },
        "connectionType": {
          "description": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty.",
          "type": "string"
        }
      }
    },
    "IdentityServiceSamlConfig": {
      "id": "IdentityServiceSamlConfig",
      "description": "Configuration for the SAML Auth flow.",
      "properties": {
        "identityProviderSsoUri": {
          "type": "string",
          "description": "Required. The URI where the SAML IdP exposes the SSO service."
        },
        "identityProviderCertificates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of IdP certificates to validate the SAML response against."
        },
        "groupPrefix": {
          "description": "Optional. Prefix to prepend to group name.",
          "type": "string"
        },
        "attributeMapping": {
          "type": "object",
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\".",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groupsAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`)."
        },
        "userPrefix": {
          "type": "string",
          "description": "Optional. Prefix to prepend to user name."
        },
        "identityProviderId": {
          "description": "Required. The entity ID of the SAML IdP.",
          "type": "string"
        },
        "userAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`)."
        }
      },
      "type": "object"
    },
    "ServiceMeshDataPlaneManagement": {
      "type": "object",
      "id": "ServiceMeshDataPlaneManagement",
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "details": {
          "description": "Explanation of the status.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        },
        "state": {
          "description": "Lifecycle status of data plane management.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ]
        }
      }
    },
    "ConfigManagementConfigSyncState": {
      "type": "object",
      "id": "ConfigManagementConfigSyncState",
      "description": "State information for ConfigSync.",
      "properties": {
        "version": {
          "$ref": "ConfigManagementConfigSyncVersion",
          "description": "Output only. The version of ConfigSync deployed.",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Errors pertaining to the installation of Config Sync.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          }
        },
        "syncState": {
          "description": "Output only. The state of ConfigSync's process to sync configs to a cluster.",
          "readOnly": true,
          "$ref": "ConfigManagementSyncState"
        },
        "clusterLevelStopSyncingState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State cannot be determined",
            "Syncing resources to the cluster is not stopped at the cluster level.",
            "Some reconcilers stop syncing resources to the cluster, while others are still syncing.",
            "Syncing resources to the cluster is stopped at the cluster level."
          ],
          "enum": [
            "STOP_SYNCING_STATE_UNSPECIFIED",
            "NOT_STOPPED",
            "PENDING",
            "STOPPED"
          ],
          "description": "Output only. Whether syncing resources to the cluster is stopped at the cluster level."
        },
        "crCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of RootSync and RepoSync CRs in the cluster.",
          "readOnly": true
        },
        "rootsyncCrd": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "description": "Output only. The state of the RootSync CRD"
        },
        "deploymentState": {
          "description": "Output only. Information about the deployment of ConfigSync, including the version. of the various Pods deployed",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "reposyncCrd": {
          "description": "Output only. The state of the Reposync CRD",
          "enumDescriptions": [
            "CRD's state cannot be determined",
            "CRD is not installed",
            "CRD is installed",
            "CRD is terminating (i.e., it has been deleted and is cleaning up)",
            "CRD is installing"
          ],
          "enum": [
            "CRD_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "TERMINATING",
            "INSTALLING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of CS This field summarizes the other fields in this message.",
          "enumDescriptions": [
            "CS's state cannot be determined.",
            "CS is not installed.",
            "The expected CS version is installed successfully.",
            "CS encounters errors.",
            "CS is installing or terminating."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_SYNC_NOT_INSTALLED",
            "CONFIG_SYNC_INSTALLED",
            "CONFIG_SYNC_ERROR",
            "CONFIG_SYNC_PENDING"
          ]
        }
      }
    },
    "FeatureSpec": {
      "type": "object",
      "id": "FeatureSpec",
      "description": "FeatureSpec contains user input per-feature spec information.",
      "properties": {
        "servicemesh": {
          "description": "ServiceMesh Feature Spec.",
          "$ref": "ServiceMeshSpec"
        },
        "workloadcertificate": {
          "description": "Workloadcertificate-specific FeatureSpec.",
          "$ref": "WorkloadCertificateSpec"
        },
        "configmanagement": {
          "$ref": "ConfigManagementSpec",
          "description": "Config Management FeatureSpec."
        },
        "cloudbuild": {
          "description": "Cloudbuild-specific FeatureSpec.",
          "$ref": "CloudBuildSpec"
        },
        "rbacrolebindingactuation": {
          "description": "Rbacrolebindingactuation-specific FeatureSpec.",
          "$ref": "RBACRoleBindingActuationSpec"
        },
        "policycontroller": {
          "description": "Policycontroller-specific FeatureSpec.",
          "$ref": "PolicyControllerSpec"
        },
        "identityservice": {
          "description": "IdentityService FeatureSpec.",
          "$ref": "IdentityServiceSpec"
        },
        "origin": {
          "description": "Whether this per-Feature spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Feature config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        }
      }
    },
    "PolicyControllerMonitoringConfig": {
      "type": "object",
      "id": "PolicyControllerMonitoringConfig",
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          }
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "id": "ServiceMeshControlPlaneManagement",
      "description": "Status of control plane management.",
      "properties": {
        "implementation": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "A Google build of istiod is used for the managed control plane.",
            "Traffic director is used for the managed control plane.",
            "The control plane implementation is being updated."
          ],
          "enum": [
            "IMPLEMENTATION_UNSPECIFIED",
            "ISTIOD",
            "TRAFFIC_DIRECTOR",
            "UPDATING"
          ],
          "description": "Output only. Implementation of managed control plane."
        },
        "details": {
          "description": "Explanation of state.",
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        },
        "state": {
          "description": "LifecycleState of control plane management.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state.",
            "DEPROVISIONING means that deprovisioning is in progress."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED",
            "DEPROVISIONING"
          ]
        }
      },
      "type": "object"
    },
    "RBACRoleBindingActuationSpec": {
      "type": "object",
      "id": "RBACRoleBindingActuationSpec",
      "description": "**RBAC RoleBinding Actuation**: The membership-specific input for RBACRoleBindingActuation feature.",
      "properties": {}
    },
    "WorkloadCertificateSpec": {
      "id": "WorkloadCertificateSpec",
      "description": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature.",
      "properties": {
        "certificateManagement": {
          "type": "string",
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CertificateManagement specifies workload certificate management."
        }
      },
      "type": "object"
    },
    "IdentityServiceGoogleConfig": {
      "type": "object",
      "id": "IdentityServiceGoogleConfig",
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ServiceMeshType": {
      "type": "object",
      "id": "ServiceMeshType",
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "properties": {
        "code": {
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
        }
      }
    },
    "ServiceMeshCondition": {
      "id": "ServiceMeshCondition",
      "description": "Condition being reported.",
      "properties": {
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ],
          "description": "Unique identifier of the condition which describes the condition recognizable to the user."
        },
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Severity level of the condition."
        }
      },
      "type": "object"
    },
    "ConfigManagementState": {
      "type": "object",
      "id": "ConfigManagementState",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "properties": {
        "membershipSpec": {
          "$ref": "ConfigManagementSpec",
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state.",
          "readOnly": true
        },
        "policyControllerState": {
          "description": "Output only. PolicyController status.",
          "readOnly": true,
          "$ref": "ConfigManagementPolicyControllerState"
        },
        "hierarchyControllerState": {
          "description": "Output only. Hierarchy Controller status.",
          "readOnly": true,
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "operatorState": {
          "description": "Output only. Current install status of ACM's Operator.",
          "readOnly": true,
          "$ref": "ConfigManagementOperatorState"
        },
        "binauthzState": {
          "description": "Output only. Binauthz status.",
          "readOnly": true,
          "$ref": "ConfigManagementBinauthzState"
        },
        "clusterName": {
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "readOnly": true,
          "type": "string"
        },
        "configSyncState": {
          "description": "Output only. Current sync status.",
          "readOnly": true,
          "$ref": "ConfigManagementConfigSyncState"
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. The Kubernetes API server version of the cluster.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "id": "PolicyControllerHubConfig",
      "description": "Configuration for Policy Controller",
      "properties": {
        "installSpec": {
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        },
        "policyContent": {
          "$ref": "PolicyControllerPolicyContentSpec",
          "description": "Specifies the desired policy content on the cluster"
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "constraintViolationLimit": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
        },
        "deploymentConfigs": {
          "description": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”).",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          },
          "type": "object"
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "exemptableNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        }
      }
    },
    "IdentityServiceAzureADConfig": {
      "type": "object",
      "id": "IdentityServiceAzureADConfig",
      "description": "Configuration for the AzureAD Auth flow.",
      "properties": {
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "userClaim": {
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details.",
          "type": "string"
        },
        "groupFormat": {
          "type": "string",
          "description": "Optional. Format of the AzureAD groups that the client wants for auth."
        },
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        },
        "clientSecret": {
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "format": "byte",
          "type": "string",
          "description": "Output only. Encrypted AzureAD client secret.",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ClusterUpgradeUpgradeStatus": {
      "id": "ClusterUpgradeUpgradeStatus",
      "description": "UpgradeStatus provides status information for each upgrade.",
      "properties": {
        "reason": {
          "description": "Reason for this status.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Required by https://linter.aip.dev/126/unspecified.",
            "The upgrade is ineligible. At the scope level, this means the upgrade is ineligible for all the clusters in the scope.",
            "The upgrade is pending. At the scope level, this means the upgrade is pending for all the clusters in the scope.",
            "The upgrade is in progress. At the scope level, this means the upgrade is in progress for at least one cluster in the scope.",
            "The upgrade has finished and is soaking until the soaking time is up. At the scope level, this means at least one cluster is in soaking while the rest are either soaking or complete.",
            "A cluster will be forced to enter soaking if an upgrade doesn't finish within a certain limit, despite it's actual status.",
            "The upgrade has passed all post conditions (soaking). At the scope level, this means all eligible clusters are in COMPLETE status."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "INELIGIBLE",
            "PENDING",
            "IN_PROGRESS",
            "SOAKING",
            "FORCED_SOAKING",
            "COMPLETE"
          ],
          "description": "Status code of the upgrade."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last timestamp the status was updated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ConfigManagementSyncState": {
      "type": "object",
      "id": "ConfigManagementSyncState",
      "description": "State indicating an ACM's progress syncing configurations to a cluster.",
      "properties": {
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "description": "Sync status code."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp type of when ACM last successfully synced the repo."
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo. The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "IdentityServiceDiagnosticInterface": {
      "type": "object",
      "id": "IdentityServiceDiagnosticInterface",
      "description": "Configuration options for the AIS diagnostic interface.",
      "properties": {
        "enabled": {
          "description": "Determines whether to enable the diagnostic interface.",
          "type": "boolean"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
        }
      }
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "type": "object",
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "description": "MembershipGKEUpgradeState is a GKEUpgrade and its state per-membership.",
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "description": "Status of the upgrade.",
          "$ref": "ClusterUpgradeUpgradeStatus"
        }
      }
    },
    "RBACRoleBindingActuationRBACRoleBindingState": {
      "type": "object",
      "id": "RBACRoleBindingActuationRBACRoleBindingState",
      "description": "RBACRoleBindingState is the status of an RBACRoleBinding which exists on a membership.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the RBACRoleBinding.",
          "enumDescriptions": [
            "Unspecified state.",
            "RBACRoleBinding is created properly on the cluster.",
            "The RBACRoleBinding was created on the cluster but the specified custom role does not exist on the cluster, hence the RBACRoleBinding has no effect."
          ],
          "enum": [
            "ROLE_BINDING_STATE_UNSPECIFIED",
            "OK",
            "CUSTOM_ROLE_MISSING_FROM_CLUSTER"
          ]
        },
        "updateTime": {
          "description": "The time the RBACRoleBinding status was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "The reason for the failure.",
          "type": "string"
        }
      }
    },
    "IdentityServiceSpec": {
      "id": "IdentityServiceSpec",
      "description": "**IdentityService**: Configuration for a single membership.",
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        },
        "identityServiceOptions": {
          "description": "Optional. non-protocol-related configuration options.",
          "$ref": "IdentityServiceIdentityServiceOptions"
        }
      },
      "type": "object"
    },
    "WorkloadIdentityState": {
      "type": "object",
      "id": "WorkloadIdentityState",
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        },
        "identityProviderStateDetails": {
          "type": "object",
          "description": "The state of the Identity Providers corresponding to the membership.",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          }
        }
      }
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "id": "ConfigManagementGatekeeperDeploymentState",
      "description": "State of Policy Controller installation.",
      "properties": {
        "gatekeeperMutation": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of the pod serving the mutation webhook."
        },
        "gatekeeperControllerManagerState": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of gatekeeper-controller-manager pod."
        },
        "gatekeeperAudit": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined.",
            "Deployment is not installed.",
            "Deployment is installed.",
            "Deployment was attempted to be installed, but has errors.",
            "Deployment is installing or terminating"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "Status of gatekeeper-audit deployment."
        }
      },
      "type": "object"
    },
    "ConfigManagementConfigSyncVersion": {
      "id": "ConfigManagementConfigSyncVersion",
      "description": "Specific versioning information pertaining to ConfigSync's Pods.",
      "properties": {
        "importer": {
          "description": "Version of the deployed importer pod.",
          "type": "string"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod.",
          "type": "string"
        },
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod."
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod.",
          "type": "string"
        },
        "resourceGroupControllerManager": {
          "description": "Version of the deployed resource-group-controller-manager pod",
          "type": "string"
        },
        "otelCollector": {
          "type": "string",
          "description": "Version of the deployed otel-collector pod"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod."
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod.",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission-webhook pod."
        }
      },
      "type": "object"
    },
    "State": {
      "type": "object",
      "id": "State",
      "description": "High-level state of a MembershipFeature.",
      "properties": {
        "code": {
          "description": "The high-level, machine-readable status of this MembershipFeature.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The MembershipFeature is operating normally.",
            "The MembershipFeature has encountered an issue, and is operating in a degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information.",
            "The MembershipFeature is not operating or is in a severely degraded state. The MembershipFeature may need intervention to return to normal operation. See the description and any associated MembershipFeature-specific details for more information."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time this status and any related Feature-specific details were updated.",
          "type": "string"
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        }
      }
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "properties": {
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        },
        "state": {
          "description": "The lifecycle state of this component.",
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
[...]
