{
  "id": "gkeonprem:v1",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "title": "GKE On-Prem API",
  "rootUrl": "https://gkeonprem.googleapis.com/",
  "name": "gkeonprem",
  "ownerDomain": "google.com",
  "schemas": {
    "BareMetalAdminClusterOperationsConfig": {
      "id": "BareMetalAdminClusterOperationsConfig",
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "type": "object",
      "properties": {
        "enableApplicationLogs": {
          "type": "boolean",
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics)."
        }
      }
    },
    "BareMetalMaintenanceStatus": {
      "type": "object",
      "id": "BareMetalMaintenanceStatus",
      "description": "Represents the maintenance status of the bare metal user cluster.",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalMachineDrainStatus",
          "description": "The maintenance status of node machines."
        }
      }
    },
    "BareMetalSecurityConfig": {
      "type": "object",
      "id": "BareMetalSecurityConfig",
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      },
      "description": "Specifies the security related settings for the bare metal user cluster."
    },
    "VmwareNodeConfig": {
      "id": "VmwareNodeConfig",
      "properties": {
        "image": {
          "type": "string",
          "description": "The OS image name in vCenter, only valid when using Windows."
        },
        "bootDiskSizeGb": {
          "type": "string",
          "description": "VMware disk size to be used during creation.",
          "format": "int64"
        },
        "vsphereConfig": {
          "description": "Specifies the vSphere config for node pool.",
          "$ref": "VmwareVsphereConfig"
        },
        "memoryMb": {
          "type": "string",
          "format": "int64",
          "description": "The megabytes of memory for each node in the node pool."
        },
        "enableLoadBalancer": {
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers.",
          "type": "boolean"
        },
        "replicas": {
          "type": "string",
          "description": "The number of nodes in the node pool.",
          "format": "int64"
        },
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `cos_cgv2`, `ubuntu`, `ubuntu_cgv2`, `ubuntu_containerd` and `windows` are supported."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "The initial taints assigned to nodes of this node pool.",
          "type": "array"
        },
        "cpus": {
          "description": "The number of CPUs for each node in the node pool.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "type": "object"
    },
    "BareMetalLoadBalancerAddressPool": {
      "id": "BareMetalLoadBalancerAddressPool",
      "type": "object",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array"
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        }
      }
    },
    "BareMetalBgpLbConfig": {
      "properties": {
        "addressPools": {
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array"
        },
        "bgpPeerConfigs": {
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "type": "array",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          }
        },
        "asn": {
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "type": "string"
        },
        "loadBalancerNodePoolConfig": {
          "$ref": "BareMetalLoadBalancerNodePoolConfig",
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing."
        }
      },
      "type": "object",
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "id": "BareMetalBgpLbConfig"
    },
    "Metric": {
      "id": "Metric",
      "description": "Progress metric is (string, int|float|string) pair.",
      "type": "object",
      "properties": {
        "metric": {
          "description": "Required. The metric name.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The total number of nodes being actuated.",
            "The number of nodes draining.",
            "The number of nodes actively upgrading.",
            "The number of nodes to be upgraded.",
            "The number of nodes upgraded.",
            "The number of nodes to fail actuation.",
            "The number of nodes healthy.",
            "The number of nodes reconciling.",
            "The number of nodes in maintenance mode.",
            "The number of completed preflight checks.",
            "The number of preflight checks running.",
            "The number of preflight checks failed.",
            "The total number of preflight checks."
          ],
          "enum": [
            "METRIC_ID_UNSPECIFIED",
            "NODES_TOTAL",
            "NODES_DRAINING",
            "NODES_UPGRADING",
            "NODES_PENDING_UPGRADE",
            "NODES_UPGRADED",
            "NODES_FAILED",
            "NODES_HEALTHY",
            "NODES_RECONCILING",
            "NODES_IN_MAINTENANCE",
            "PREFLIGHTS_COMPLETED",
            "PREFLIGHTS_RUNNING",
            "PREFLIGHTS_FAILED",
            "PREFLIGHTS_TOTAL"
          ]
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "For metrics with integer value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "For metrics with floating point value."
        },
        "stringValue": {
          "type": "string",
          "description": "For metrics with custom values (ratios, visual progress, etc.)."
        }
      }
    },
    "VmwareVersionInfo": {
      "properties": {
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to."
        },
        "version": {
          "description": "Version number e.g. 1.13.1-gke.1000.",
          "type": "string"
        },
        "dependencies": {
          "items": {
            "$ref": "UpgradeDependency"
          },
          "type": "array",
          "description": "The list of upgrade dependencies for this version."
        },
        "isInstalled": {
          "type": "boolean",
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version."
        }
      },
      "id": "VmwareVersionInfo",
      "description": "Contains information about a specific Anthos on VMware version.",
      "type": "object"
    },
    "BareMetalAdminSecurityConfig": {
      "properties": {
        "authorization": {
          "description": "Configures user access to the admin cluster.",
          "$ref": "Authorization"
        }
      },
      "id": "BareMetalAdminSecurityConfig",
      "type": "object",
      "description": "Specifies the security related settings for the bare metal admin cluster."
    },
    "BareMetalAdminPortConfig": {
      "id": "BareMetalAdminPortConfig",
      "type": "object",
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VmwareAdminMetalLbConfig": {
      "description": "VmwareAdminMetalLbConfig represents configuration parameters for a MetalLB load balancer. For admin clusters, currently no configurations is needed.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether MetalLB is enabled."
        }
      },
      "id": "VmwareAdminMetalLbConfig"
    },
    "BareMetalMetalLbConfig": {
      "id": "BareMetalMetalLbConfig",
      "properties": {
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "type": "object",
      "description": "Represents configuration parameters for a MetalLB load balancer."
    },
    "BareMetalLoadBalancerConfig": {
      "description": "Specifies the load balancer configuration.",
      "id": "BareMetalLoadBalancerConfig",
      "type": "object",
      "properties": {
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalPortConfig"
        },
        "bgpLbConfig": {
          "$ref": "BareMetalBgpLbConfig",
          "description": "Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true."
        },
        "vipConfig": {
          "$ref": "BareMetalVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "manualLbConfig": {
          "$ref": "BareMetalManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "metalLbConfig": {
          "$ref": "BareMetalMetalLbConfig",
          "description": "Configuration for MetalLB load balancers."
        }
      }
    },
    "EnrollBareMetalClusterRequest": {
      "properties": {
        "bareMetalClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "localName": {
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        },
        "localNamespace": {
          "type": "string",
          "description": "Optional. The namespace of the cluster."
        }
      },
      "type": "object",
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API.",
      "id": "EnrollBareMetalClusterRequest"
    },
    "VmwareNetworkConfig": {
      "description": "Specifies network config for the VMware user cluster.",
      "properties": {
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "podAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array"
        },
        "controlPlaneV2Config": {
          "description": "Configuration for control plane V2 mode.",
          "$ref": "VmwareControlPlaneV2Config"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster."
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        }
      },
      "id": "VmwareNetworkConfig",
      "type": "object"
    },
    "VmwareManualLbConfig": {
      "id": "VmwareManualLbConfig",
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster.",
      "type": "object",
      "properties": {
        "ingressHttpNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer"
        },
        "controlPlaneNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968)."
        },
        "konnectivityServerNodePort": {
          "type": "integer",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "format": "int32"
        },
        "ingressHttpsNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139)."
        }
      }
    },
    "BareMetalAdminApiServerArgument": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        },
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes."
        }
      },
      "id": "BareMetalAdminApiServerArgument",
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "type": "object"
    },
    "ValidationCheck": {
      "properties": {
        "scenario": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ],
          "description": "Output only. The scenario when the preflight checks were run.",
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ]
        },
        "status": {
          "description": "Output only. The detailed validation check status.",
          "readOnly": true,
          "$ref": "ValidationCheckStatus"
        },
        "option": {
          "description": "Options used for the validation check",
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ],
          "type": "string"
        }
      },
      "description": "ValidationCheck represents the result of preflight check.",
      "id": "ValidationCheck",
      "type": "object"
    },
    "BareMetalStorageConfig": {
      "id": "BareMetalStorageConfig",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "type": "object",
      "properties": {
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        },
        "lvpNodeMountsConfig": {
          "$ref": "BareMetalLvpConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation."
        }
      }
    },
    "UpgradeDependency": {
      "type": "object",
      "id": "UpgradeDependency",
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "properties": {
        "resourceName": {
          "description": "Resource name of the dependency.",
          "type": "string"
        },
        "currentVersion": {
          "description": "Current version of the dependency e.g. 1.15.0.",
          "type": "string"
        },
        "membership": {
          "description": "Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        },
        "targetVersion": {
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded.",
          "type": "string"
        }
      }
    },
    "VmwareAdminNetworkConfig": {
      "id": "VmwareAdminNetworkConfig",
      "properties": {
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name.",
          "type": "string"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "haControlPlaneConfig": {
          "description": "Configuration for HA admin cluster control plane.",
          "$ref": "VmwareAdminHAControlPlaneConfig"
        },
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        }
      },
      "type": "object",
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster."
    },
    "BareMetalNodeAccessConfig": {
      "id": "BareMetalNodeAccessConfig",
      "properties": {
        "loginUser": {
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies the node access related settings for the bare metal user cluster."
    },
    "BareMetalAdminVipConfig": {
      "id": "BareMetalAdminVipConfig",
      "type": "object",
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster."
        }
      }
    },
    "BareMetalAdminStorageConfig": {
      "type": "object",
      "id": "BareMetalAdminStorageConfig",
      "description": "BareMetalAdminStorageConfig specifies the cluster storage configuration.",
      "properties": {
        "lvpShareConfig": {
          "$ref": "BareMetalLvpShareConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      }
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "properties": {
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.",
      "id": "BareMetalAdminIslandModeCidrConfig"
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "type": "object",
      "description": "Specifies the load balancer's node pool configuration."
    },
    "VmwareControlPlaneVsphereConfig": {
      "type": "object",
      "properties": {
        "storagePolicyName": {
          "type": "string",
          "description": "The Vsphere storage policy used by the control plane Node."
        },
        "datastore": {
          "description": "The Vsphere datastore used by the control plane Node.",
          "type": "string"
        }
      },
      "id": "VmwareControlPlaneVsphereConfig",
      "description": "Specifies control plane node config."
    },
    "BareMetalNodePool": {
      "description": "Resource that represents a bare metal node pool.",
      "id": "BareMetalNodePool",
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The bare metal node pool resource name.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "status": {
          "$ref": "ResourceStatus",
          "readOnly": true,
          "description": "Output only. ResourceStatus representing the detailed node pool status."
        },
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "Required. Node pool configuration."
        },
        "upgradePolicy": {
          "$ref": "BareMetalNodePoolUpgradePolicy",
          "description": "The worker node pool upgrade policy."
        },
        "updateTime": {
          "description": "Output only. The time at which this bare metal node pool was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name for the bare metal node pool.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal node pool.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal node pool was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the bare metal node pool.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BareMetalPortConfig": {
      "id": "BareMetalPortConfig",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Specifies load balancer ports for the bare metal user cluster."
    },
    "BareMetalClusterOperationsConfig": {
      "properties": {
        "enableApplicationLogs": {
          "type": "boolean",
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics)."
        }
      },
      "description": "Specifies the bare metal user cluster's observability infrastructure.",
      "type": "object",
      "id": "BareMetalClusterOperationsConfig"
    },
    "BinaryAuthorization": {
      "properties": {
        "evaluationMode": {
          "type": "string",
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy."
          ],
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ]
        }
      },
      "id": "BinaryAuthorization",
      "description": "Configuration for Binary Authorization.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "VmwareSeesawConfig": {
      "type": "object",
      "id": "VmwareSeesawConfig",
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "properties": {
        "ipBlocks": {
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "type": "array"
        },
        "vms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of the VMs created for this Seesaw group."
        },
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "masterIp": {
          "type": "string",
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group."
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminMultipleNetworkInterfacesConfig": {
      "type": "object",
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "id": "BareMetalAdminMultipleNetworkInterfacesConfig"
    },
    "BareMetalAdminMaintenanceStatus": {
      "type": "object",
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalAdminMachineDrainStatus",
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade."
        }
      },
      "id": "BareMetalAdminMaintenanceStatus"
    },
    "VmwareCluster": {
      "description": "Resource that represents a VMware user cluster. ##",
      "id": "VmwareCluster",
      "properties": {
        "storage": {
          "$ref": "VmwareStorageConfig",
          "description": "Storage configuration."
        },
        "onPremVersion": {
          "description": "Required. The Anthos clusters on the VMware version for your user cluster.",
          "type": "string"
        },
        "disableBundledIngress": {
          "description": "Disable bundled ingress.",
          "type": "boolean"
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "adminClusterName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster."
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware user cluster's API server.",
          "type": "string",
          "readOnly": true
        },
        "vcenter": {
          "description": "VmwareVCenterConfig specifies vCenter config for the user cluster. If unspecified, it is inherited from the admin cluster.",
          "$ref": "VmwareVCenterConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "controlPlaneNode": {
          "$ref": "VmwareControlPlaneNodeConfig",
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas."
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "vmTrackingEnabled": {
          "description": "Enable VM tracking.",
          "type": "boolean"
        },
        "dataplaneV2": {
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2.",
          "$ref": "VmwareDataplaneV2Config"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware user cluster resource name."
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "VmwareLoadBalancerConfig"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which VMware user cluster was deleted."
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "readOnly": true
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter."
        },
        "localName": {
          "type": "string",
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true
        },
        "annotations": {
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of VMware user cluster.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "createTime": {
          "description": "Output only. The time at which VMware user cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API.",
          "$ref": "Authorization"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which VMware user cluster was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "description": {
          "description": "A human readable description of this VMware user cluster.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the VMware user cluster.",
          "type": "string"
        },
        "networkConfig": {
          "description": "The VMware user cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "upgradePolicy": {
          "description": "Specifies upgrade policy for the cluster.",
          "$ref": "VmwareClusterUpgradePolicy"
        }
      },
      "type": "object"
    },
    "BareMetalLvpConfig": {
      "type": "object",
      "id": "BareMetalLvpConfig",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The host machine path."
        },
        "storageClass": {
          "description": "Required. The StorageClass name that PVs will be created with.",
          "type": "string"
        }
      },
      "description": "Specifies the configs for local persistent volumes (PVs)."
    },
    "BareMetalNodePoolUpgradePolicy": {
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "id": "BareMetalNodePoolUpgradePolicy",
      "properties": {
        "parallelUpgradeConfig": {
          "description": "The parallel upgrade settings for worker node pools.",
          "$ref": "BareMetalParallelUpgradeConfig"
        }
      },
      "type": "object"
    },
    "VmwareAAGConfig": {
      "properties": {
        "aagConfigDisabled": {
          "type": "boolean",
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default."
        }
      },
      "type": "object",
      "id": "VmwareAAGConfig",
      "description": "Specifies anti affinity group config for the VMware user cluster."
    },
    "BareMetalApiServerArgument": {
      "id": "BareMetalApiServerArgument",
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "type": "object",
      "properties": {
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes."
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "OperationStage": {
      "description": "Information about a particular stage of an operation.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "readOnly": true,
          "description": "Output only. State of the stage."
        },
        "stage": {
          "description": "The high-level stage of the operation.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ],
          "type": "string"
        },
        "endTime": {
          "description": "Time the stage ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Time the stage started.",
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "description": "Progress metric bundle.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        }
      },
      "id": "OperationStage",
      "type": "object"
    },
    "VmwareControlPlaneNodeConfig": {
      "description": "Specifies control plane node config for the VMware user cluster.",
      "type": "object",
      "properties": {
        "memory": {
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "format": "int64",
          "type": "string"
        },
        "replicas": {
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "type": "string",
          "format": "int64"
        },
        "cpus": {
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "type": "string",
          "format": "int64"
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        },
        "autoResizeConfig": {
          "$ref": "VmwareAutoResizeConfig",
          "description": "AutoResizeConfig provides auto resizing configurations."
        }
      },
      "id": "VmwareControlPlaneNodeConfig"
    },
    "BareMetalAdminBgpLbConfig": {
      "id": "BareMetalAdminBgpLbConfig",
      "type": "object",
      "properties": {
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "format": "int64"
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalAdminLoadBalancerNodePoolConfig"
        },
        "bgpPeerConfigs": {
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "items": {
            "$ref": "BareMetalAdminBgpPeerConfig"
          },
          "type": "array"
        },
        "addressPools": {
          "items": {
            "$ref": "BareMetalAdminLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array"
        }
      },
      "description": "BareMetalAdminBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer."
    },
    "VmwarePlatformConfig": {
      "description": "VmwarePlatformConfig represents configuration for the VMware platform.",
      "properties": {
        "platformVersion": {
          "type": "string",
          "description": "Output only. The platform version e.g. 1.13.2.",
          "readOnly": true
        },
        "requiredPlatformVersion": {
          "type": "string",
          "description": "Input only. The required platform version e.g. 1.13.1. If the current platform version is lower than the target version, the platform version will be updated to the target version. If the target version is not installed in the platform (bundle versions), download the target version bundle."
        },
        "status": {
          "description": "Output only. Resource status for the platform.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "bundles": {
          "type": "array",
          "description": "Output only. The list of bundles installed in the admin cluster.",
          "readOnly": true,
          "items": {
            "$ref": "VmwareBundleConfig"
          }
        }
      },
      "id": "VmwarePlatformConfig",
      "type": "object"
    },
    "VmwareStorageConfig": {
      "id": "VmwareStorageConfig",
      "type": "object",
      "properties": {
        "vsphereCsiDisabled": {
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default.",
          "type": "boolean"
        }
      },
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "VmwareAutoRepairConfig": {
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "id": "VmwareAutoRepairConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether auto repair is enabled."
        }
      }
    },
    "ListVmwareNodePoolsResponse": {
      "id": "ListVmwareNodePoolsResponse",
      "description": "Response message for listing VMware node pools.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "vmwareNodePools": {
          "type": "array",
          "description": "The node pools from the specified parent resource.",
          "items": {
            "$ref": "VmwareNodePool"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "VmwareAddressPool": {
      "id": "VmwareAddressPool",
      "type": "object",
      "properties": {
        "addresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        }
      },
      "description": "Represents an IP pool used by the load balancer."
    },
    "BareMetalProxyConfig": {
      "id": "BareMetalProxyConfig",
      "description": "Specifies the cluster proxy configuration.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "VmwareAdminControlPlaneNodeConfig": {
      "id": "VmwareAdminControlPlaneNodeConfig",
      "description": "VmwareAdminControlPlaneNodeConfig contains control plane node configuration for VMware admin cluster.",
      "properties": {
        "memory": {
          "format": "int64",
          "type": "string",
          "description": "The number of mebibytes of memory for the control-plane node of the admin cluster."
        },
        "cpus": {
          "format": "int64",
          "description": "The number of vCPUs for the control-plane node of the admin cluster.",
          "type": "string"
        },
        "replicas": {
          "type": "string",
          "format": "int64",
          "description": "The number of control plane nodes for this VMware admin cluster. (default: 1 replica)."
        }
      },
      "type": "object"
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ResourceCondition"
          },
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller."
        },
        "errorMessage": {
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        },
        "version": {
          "description": "Reflect current version of the resource.",
          "type": "string"
        },
        "versions": {
          "$ref": "Versions",
          "description": "Shows the mapping of a given version to the number of machines under this version."
        }
      }
    },
    "VmwareAdminProxy": {
      "id": "VmwareAdminProxy",
      "description": "VmwareAdminProxy represents configuration for admin cluster proxy.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The HTTP address of proxy server.",
          "type": "string"
        },
        "noProxy": {
          "description": "A comma-separated list of IP addresses, IP address ranges, host names, and domain names that should not go through the proxy server. When Google Distributed Cloud sends a request to one of these addresses, hosts, or domains, the request is sent directly.",
          "type": "string"
        }
      }
    },
    "VmwareAutoResizeConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable controle plane node auto resizing."
        }
      },
      "id": "VmwareAutoResizeConfig",
      "description": "Represents auto resizing configurations for the VMware user cluster.",
      "type": "object"
    },
    "VmwareAdminPreparedSecretsConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether prepared secrets is enabled."
        }
      },
      "description": "VmwareAdminPreparedSecretsConfig represents configuration for admin cluster prepared secrets.",
      "id": "VmwareAdminPreparedSecretsConfig"
    },
    "BareMetalNodeConfig": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
        },
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        }
      },
      "id": "BareMetalNodeConfig",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "type": "object"
    },
    "BareMetalWorkloadNodeConfig": {
      "id": "BareMetalWorkloadNodeConfig",
      "properties": {
        "containerRuntime": {
          "description": "Specifies which container runtime will be used.",
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "type": "string"
        },
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Specifies the workload node configurations.",
      "type": "object"
    },
    "BareMetalMachineDrainStatus": {
      "type": "object",
      "properties": {
        "drainingMachines": {
          "type": "array",
          "description": "The list of draning machines.",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          }
        },
        "drainedMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainedMachine"
          },
          "description": "The list of drained machines."
        }
      },
      "id": "BareMetalMachineDrainStatus",
      "description": "Represents the status of node machines that are undergoing drain operations."
    },
    "EnrollBareMetalAdminClusterRequest": {
      "properties": {
        "membership": {
          "type": "string",
          "description": "Required. This is the full resource name of this admin cluster's fleet membership."
        },
        "bareMetalAdminClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        }
      },
      "id": "EnrollBareMetalAdminClusterRequest",
      "description": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API.",
      "type": "object"
    },
    "VmwareVipConfig": {
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster.",
          "type": "string"
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareVipConfig"
    },
    "ListBareMetalAdminClustersResponse": {
      "id": "ListBareMetalAdminClustersResponse",
      "type": "object",
      "description": "Response message for listing bare metal admin clusters.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bareMetalAdminClusters": {
          "description": "The list of bare metal admin cluster.",
          "items": {
            "$ref": "BareMetalAdminCluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        }
      }
    },
    "VmwareClusterUpgradePolicy": {
      "id": "VmwareClusterUpgradePolicy",
      "properties": {
        "controlPlaneOnly": {
          "type": "boolean",
          "description": "Controls whether the upgrade applies to the control plane only."
        }
      },
      "description": "VmwareClusterUpgradePolicy defines the cluster upgrade policy.",
      "type": "object"
    },
    "BareMetalSrIovConfig": {
      "type": "object",
      "description": "Specifies the SR-IOV networking operator config.",
      "properties": {
        "enabled": {
          "description": "Whether to install the SR-IOV operator.",
          "type": "boolean"
        }
      },
      "id": "BareMetalSrIovConfig"
    },
    "BareMetalAdminCluster": {
      "id": "BareMetalAdminCluster",
      "properties": {
        "storage": {
          "description": "Storage configuration.",
          "$ref": "BareMetalAdminStorageConfig"
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "securityConfig": {
          "$ref": "BareMetalAdminSecurityConfig",
          "description": "Security related configuration."
        },
        "description": {
          "description": "A human readable description of this bare metal admin cluster.",
          "type": "string"
        },
        "nodeConfig": {
          "$ref": "BareMetalAdminWorkloadNodeConfig",
          "description": "Workload node configuration."
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkConfig": {
          "description": "Network configuration.",
          "$ref": "BareMetalAdminNetworkConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of the bare metal admin cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal admin cluster was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "BareMetalAdminLoadBalancerConfig"
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalAdminOsEnvironmentConfig"
        },
        "localName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalAdminNodeAccessConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal admin cluster resource name."
        },
        "controlPlane": {
          "$ref": "BareMetalAdminControlPlaneConfig",
          "description": "Control plane configuration."
        },
        "maintenanceStatus": {
          "$ref": "BareMetalAdminMaintenanceStatus",
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "readOnly": true
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalAdminProxyConfig"
        },
        "clusterOperations": {
          "$ref": "BareMetalAdminClusterOperationsConfig",
          "description": "Cluster operations configuration."
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address name of bare metal admin cluster's API server."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string",
          "readOnly": true
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalAdminMaintenanceConfig"
        }
      },
      "type": "object",
      "description": "Resource that represents a bare metal admin cluster."
    },
    "BareMetalAdminDrainedMachine": {
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained.",
      "type": "object",
      "id": "BareMetalAdminDrainedMachine",
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      }
    },
    "EnrollVmwareNodePoolRequest": {
      "id": "EnrollVmwareNodePoolRequest",
      "type": "object",
      "properties": {
        "vmwareNodePoolId": {
          "description": "The target node pool id to be enrolled.",
          "type": "string"
        }
      },
      "description": "Message for enrolling a VMware node pool."
    },
    "BareMetalNetworkConfig": {
      "id": "BareMetalNetworkConfig",
      "description": "Specifies the cluster network configuration.",
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster.",
          "$ref": "BareMetalIslandModeCidrConfig"
        },
        "multipleNetworkInterfacesConfig": {
          "$ref": "BareMetalMultipleNetworkInterfacesConfig",
          "description": "Configuration for multiple network interfaces."
        },
        "srIovConfig": {
          "description": "Configuration for SR-IOV.",
          "$ref": "BareMetalSrIovConfig"
        },
        "advancedNetworking": {
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BareMetalControlPlaneConfig": {
      "id": "BareMetalControlPlaneConfig",
      "type": "object",
      "description": "Specifies the control plane configuration.",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane.",
          "$ref": "BareMetalControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "items": {
            "$ref": "BareMetalApiServerArgument"
          },
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)."
        }
      }
    },
    "VmwareIpBlock": {
      "properties": {
        "netmask": {
          "type": "string",
          "description": "The netmask used by the VMware user cluster."
        },
        "gateway": {
          "description": "The network gateway used by the VMware user cluster.",
          "type": "string"
        },
        "ips": {
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          },
          "description": "The node's network configurations used by the VMware user cluster."
        }
      },
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "type": "object",
      "id": "VmwareIpBlock"
    },
    "VmwareMetalLbConfig": {
      "type": "object",
      "id": "VmwareMetalLbConfig",
      "description": "Represents configuration parameters for the MetalLB load balancer.",
      "properties": {
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "VmwareAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        }
      }
    },
    "BareMetalMaintenanceConfig": {
      "type": "object",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "type": "array"
        }
      },
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance.",
      "id": "BareMetalMaintenanceConfig"
    },
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "BareMetalAdminLoadBalancerConfig": {
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "type": "object",
      "id": "BareMetalAdminLoadBalancerConfig",
      "properties": {
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalAdminPortConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "BareMetalAdminVipConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalAdminManualLbConfig"
        },
        "bgpLbConfig": {
          "description": "Configuration for BGP typed load balancers.",
          "$ref": "BareMetalAdminBgpLbConfig"
        }
      }
    },
    "BareMetalManualLbConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether manual load balancing is enabled."
        }
      },
      "id": "BareMetalManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for a manual load balancer."
    },
    "BareMetalKubeletConfig": {
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options).",
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "format": "int32",
          "type": "integer"
        },
        "registryBurst": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10."
        }
      },
      "id": "BareMetalKubeletConfig",
      "type": "object"
    },
    "VmwareAdminCluster": {
      "id": "VmwareAdminCluster",
      "type": "object",
      "description": "Resource that represents a VMware admin cluster.",
      "properties": {
        "enableAdvancedCluster": {
          "type": "boolean",
          "description": "Enable advanced cluster."
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster."
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoRepairConfig": {
          "$ref": "VmwareAutoRepairConfig",
          "description": "The VMware admin cluster auto repair configuration."
        },
        "proxy": {
          "$ref": "VmwareAdminProxy",
          "description": "Configuration for proxy."
        },
        "loadBalancer": {
          "description": "The VMware admin cluster load balancer configuration.",
          "$ref": "VmwareAdminLoadBalancerConfig"
        },
        "privateRegistryConfig": {
          "$ref": "VmwareAdminPrivateRegistryConfig",
          "description": "Configuration for registry."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the VMware admin cluster.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this VMware admin cluster."
        },
        "imageType": {
          "type": "string",
          "description": "The OS image type for the VMware admin cluster."
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for the admin cluster.",
          "type": "string"
        },
        "controlPlaneNode": {
          "description": "The VMware admin cluster control plane node configuration.",
          "$ref": "VmwareAdminControlPlaneNodeConfig"
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which VMware admin cluster was last updated.",
          "format": "google-datetime"
        },
        "authorization": {
          "description": "The VMware admin cluster authorization configuration.",
          "$ref": "VmwareAdminAuthorizationConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which VMware admin cluster was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "addonNode": {
          "description": "The VMware admin cluster addon node configuration.",
          "$ref": "VmwareAdminAddonNodeConfig"
        },
        "vcenter": {
          "description": "The VMware admin cluster VCenter configuration.",
          "$ref": "VmwareAdminVCenterConfig"
        },
        "networkConfig": {
          "description": "The VMware admin cluster network configuration.",
          "$ref": "VmwareAdminNetworkConfig"
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet",
          "readOnly": true
        },
        "preparedSecrets": {
          "description": "Output only. The VMware admin cluster prepared secrets configuration. It should always be enabled by the Central API, instead of letting users set it.",
          "readOnly": true,
          "$ref": "VmwareAdminPreparedSecretsConfig"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "localName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "platformConfig": {
          "description": "The VMware platform configuration.",
          "$ref": "VmwarePlatformConfig"
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "The VMware admin cluster anti affinity group configuration."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of VMware admin cluster.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware admin cluster resource name."
        },
        "bootstrapClusterMembership": {
          "type": "string",
          "description": "The bootstrap cluster this VMware admin cluster belongs to."
        }
      }
    },
    "BareMetalLvpShareConfig": {
      "properties": {
        "sharedPathPvCount": {
          "format": "int32",
          "description": "The number of subdirectories to create under path.",
          "type": "integer"
        },
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "id": "BareMetalLvpShareConfig",
      "description": "Specifies the configs for local persistent volumes under a shared file system.",
      "type": "object"
    },
    "BareMetalCluster": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A human readable description of this bare metal user cluster."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string",
          "description": "Output only. The current state of the bare metal user cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "readOnly": true
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership.",
          "type": "string"
        },
        "nodeConfig": {
[...]
