{
  "id": "gkeonprem:v1",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "QueryBareMetalVersionConfigResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "description": "List of available versions to install or to upgrade to.",
          "type": "array"
        }
      },
      "id": "QueryBareMetalVersionConfigResponse",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "BareMetalMaintenanceStatus": {
      "description": "Represents the maintenance status of the bare metal user cluster.",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalMachineDrainStatus",
          "description": "The maintenance status of node machines."
        }
      },
      "id": "BareMetalMaintenanceStatus",
      "type": "object"
    },
    "BareMetalNetworkConfig": {
      "type": "object",
      "id": "BareMetalNetworkConfig",
      "properties": {
        "advancedNetworking": {
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag.",
          "type": "boolean"
        },
        "srIovConfig": {
          "$ref": "BareMetalSrIovConfig",
          "description": "Configuration for SR-IOV."
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalMultipleNetworkInterfacesConfig"
        },
        "islandModeCidr": {
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster.",
          "$ref": "BareMetalIslandModeCidrConfig"
        }
      },
      "description": "Specifies the cluster network configuration."
    },
    "VmwareClusterUpgradePolicy": {
      "id": "VmwareClusterUpgradePolicy",
      "properties": {
        "controlPlaneOnly": {
          "type": "boolean",
          "description": "Controls whether the upgrade applies to the control plane only."
        }
      },
      "description": "VmwareClusterUpgradePolicy defines the cluster upgrade policy.",
      "type": "object"
    },
    "VmwareVersionInfo": {
      "id": "VmwareVersionInfo",
      "type": "object",
      "properties": {
        "isInstalled": {
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version.",
          "type": "boolean"
        },
        "dependencies": {
          "type": "array",
          "description": "The list of upgrade dependencies for this version.",
          "items": {
            "$ref": "UpgradeDependency"
          }
        },
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to."
        },
        "version": {
          "description": "Version number e.g. 1.13.1-gke.1000.",
          "type": "string"
        }
      },
      "description": "Contains information about a specific Anthos on VMware version."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "OperationStage": {
      "description": "Information about a particular stage of an operation.",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Progress metric bundle."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the stage started.",
          "type": "string"
        },
        "stage": {
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ],
          "description": "The high-level stage of the operation.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the stage.",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time the stage ended.",
          "format": "google-datetime"
        }
      },
      "id": "OperationStage",
      "type": "object"
    },
    "VmwareVipConfig": {
      "id": "VmwareVipConfig",
      "type": "object",
      "properties": {
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        },
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster."
        }
      },
      "description": "Specifies the VIP config for the VMware user cluster load balancer."
    },
    "BareMetalWorkloadNodeConfig": {
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string"
        },
        "containerRuntime": {
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "type": "string",
          "description": "Specifies which container runtime will be used.",
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ]
        }
      },
      "description": "Specifies the workload node configurations.",
      "type": "object",
      "id": "BareMetalWorkloadNodeConfig"
    },
    "ListBareMetalClustersResponse": {
      "type": "object",
      "id": "ListBareMetalClustersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "bareMetalClusters": {
          "items": {
            "$ref": "BareMetalCluster"
          },
          "type": "array",
          "description": "The list of bare metal Clusters."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing bare metal Clusters."
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "VmwareHostIp": {
      "id": "VmwareHostIp",
      "type": "object",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24)."
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        }
      },
      "description": "Represents VMware user cluster node's network configuration."
    },
    "BareMetalControlPlaneConfig": {
      "type": "object",
      "description": "Specifies the control plane configuration.",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane.",
          "$ref": "BareMetalControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          }
        }
      },
      "id": "BareMetalControlPlaneConfig"
    },
    "QueryVmwareVersionConfigResponse": {
      "description": "Response message for querying VMware user cluster version config.",
      "type": "object",
      "id": "QueryVmwareVersionConfigResponse",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "VmwareVersionInfo"
          },
          "type": "array"
        }
      }
    },
    "BareMetalParallelUpgradeConfig": {
      "description": "BareMetalParallelUpgradeConfig defines the parallel upgrade settings for worker node pools.",
      "properties": {
        "concurrentNodes": {
          "description": "The maximum number of nodes that can be upgraded at once.",
          "type": "integer",
          "format": "int32"
        },
        "minimumAvailableNodes": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of nodes that should be healthy and available during an upgrade. If set to the default value of 0, it is possible that none of the nodes will be available during an upgrade."
        }
      },
      "type": "object",
      "id": "BareMetalParallelUpgradeConfig"
    },
    "VmwareAdminPreparedSecretsConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether prepared secrets is enabled."
        }
      },
      "id": "VmwareAdminPreparedSecretsConfig",
      "description": "VmwareAdminPreparedSecretsConfig represents configuration for admin cluster prepared secrets."
    },
    "VmwareAdminVCenterConfig": {
      "type": "object",
      "id": "VmwareAdminVCenterConfig",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "properties": {
        "datastore": {
          "description": "The name of the vCenter datastore for the admin cluster.",
          "type": "string"
        },
        "resourcePool": {
          "type": "string",
          "description": "The name of the vCenter resource pool for the admin cluster."
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the admin cluster."
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the admin cluster."
        },
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The name of the vCenter storage policy for the user cluster."
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        }
      }
    },
    "VmwareNodePool": {
      "id": "VmwareNodePool",
      "properties": {
        "config": {
          "description": "Required. The node configuration of the node pool.",
          "$ref": "VmwareNodeConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this node pool was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this node pool was last updated."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of the node pool.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "nodePoolAutoscaling": {
          "$ref": "VmwareNodePoolAutoscalingConfig",
          "description": "Node pool autoscaling config for the node pool."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of this node pool."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the node pool.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. ResourceStatus representing the detailed VMware node pool state.",
          "$ref": "ResourceStatus"
        },
        "displayName": {
          "description": "The display name for the node pool.",
          "type": "string"
        },
        "onPremVersion": {
          "description": "Anthos version for the node pool. Defaults to the user cluster version.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty",
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resource VmwareNodePool represents a VMware node pool. ##"
    },
    "BareMetalAdminNetworkConfig": {
      "properties": {
        "islandModeCidr": {
          "$ref": "BareMetalAdminIslandModeCidrConfig",
          "description": "Configuration for Island mode CIDR."
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalAdminMultipleNetworkInterfacesConfig"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        }
      },
      "id": "BareMetalAdminNetworkConfig",
      "type": "object",
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration."
    },
    "VmwareVCenterConfig": {
      "description": "Represents configuration for the VMware VCenter for the user cluster.",
      "properties": {
        "cluster": {
          "description": "The name of the vCenter cluster for the user cluster.",
          "type": "string"
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the user cluster.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the user cluster.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Output only. The vCenter IP address.",
          "readOnly": true
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the user cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The name of the vCenter storage policy for the user cluster."
        },
        "folder": {
          "description": "The name of the vCenter folder for the user cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareVCenterConfig"
    },
    "ClusterUser": {
      "type": "object",
      "id": "ClusterUser",
      "description": "ClusterUser configures user principals for an RBAC policy.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`."
        }
      }
    },
    "BareMetalOsEnvironmentConfig": {
      "id": "BareMetalOsEnvironmentConfig",
      "type": "object",
      "properties": {
        "packageRepoExcluded": {
          "description": "Whether the package repo should not be included when initializing bare metal machines.",
          "type": "boolean"
        }
      },
      "description": "Specifies operating system settings for cluster provisioning."
    },
    "VmwareVsphereConfig": {
      "type": "object",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "id": "VmwareVsphereConfig",
      "properties": {
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Vsphere host groups to apply to all VMs in the node pool"
        },
        "datastore": {
          "description": "The name of the vCenter datastore. Inherited from the user cluster.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "VmwareVsphereTag"
          },
          "description": "Tags to apply to VMs."
        }
      }
    },
    "VmwareHostConfig": {
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "type": "object",
      "properties": {
        "dnsServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNS servers."
        },
        "dnsSearchDomains": {
          "description": "DNS search domains.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ntpServers": {
          "items": {
            "type": "string"
          },
          "description": "NTP servers.",
          "type": "array"
        }
      },
      "id": "VmwareHostConfig"
    },
    "BareMetalAdminCluster": {
      "properties": {
        "deleteTime": {
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalAdminMaintenanceConfig"
        },
        "endpoint": {
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "proxy": {
          "$ref": "BareMetalAdminProxyConfig",
          "description": "Proxy configuration."
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalAdminNodeAccessConfig"
        },
        "maintenanceStatus": {
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "readOnly": true,
          "$ref": "BareMetalAdminMaintenanceStatus"
        },
        "securityConfig": {
          "$ref": "BareMetalAdminSecurityConfig",
          "description": "Security related configuration."
        },
        "networkConfig": {
          "description": "Network configuration.",
          "$ref": "BareMetalAdminNetworkConfig"
        },
        "bareMetalVersion": {
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster.",
          "type": "string"
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string"
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "BareMetalAdminStorageConfig"
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the bare metal admin cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ]
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "osEnvironmentConfig": {
          "$ref": "BareMetalAdminOsEnvironmentConfig",
          "description": "OS environment related configurations."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "loadBalancer": {
          "$ref": "BareMetalAdminLoadBalancerConfig",
          "description": "Load balancer configuration."
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalAdminClusterOperationsConfig"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this bare metal admin cluster."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal admin cluster was last updated."
        },
        "controlPlane": {
          "description": "Control plane configuration.",
          "$ref": "BareMetalAdminControlPlaneConfig"
        },
        "name": {
          "description": "Immutable. The bare metal admin cluster resource name.",
          "type": "string"
        }
      },
      "id": "BareMetalAdminCluster",
      "description": "Resource that represents a bare metal admin cluster.",
      "type": "object"
    },
    "BareMetalAdminManualLbConfig": {
      "type": "object",
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "id": "BareMetalAdminManualLbConfig"
    },
    "BareMetalAdminWorkloadNodeConfig": {
      "type": "object",
      "id": "BareMetalAdminWorkloadNodeConfig",
      "description": "BareMetalAdminWorkloadNodeConfig specifies the workload node configurations.",
      "properties": {
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VmwareControlPlaneV2Config": {
      "id": "VmwareControlPlaneV2Config",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "type": "object",
      "description": "Specifies control plane V2 config."
    },
    "ResourceStatus": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention."
        },
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "$ref": "Versions"
        },
        "conditions": {
          "items": {
            "$ref": "ResourceCondition"
          },
          "type": "array",
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller."
        },
        "version": {
          "description": "Reflect current version of the resource.",
          "type": "string"
        }
      },
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED)."
    },
    "BareMetalNodeAccessConfig": {
      "type": "object",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "description": "Specifies the node access related settings for the bare metal user cluster.",
      "id": "BareMetalNodeAccessConfig"
    },
    "BareMetalLvpConfig": {
      "description": "Specifies the configs for local persistent volumes (PVs).",
      "type": "object",
      "properties": {
        "storageClass": {
          "type": "string",
          "description": "Required. The StorageClass name that PVs will be created with."
        },
        "path": {
          "type": "string",
          "description": "Required. The host machine path."
        }
      },
      "id": "BareMetalLvpConfig"
    },
    "VmwareAdminManualLbConfig": {
      "id": "VmwareAdminManualLbConfig",
      "type": "object",
      "properties": {
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "format": "int32",
          "type": "integer"
        },
        "addonsNodePort": {
          "description": "NodePort for add-ons server in the admin cluster.",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "type": "integer",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968)."
        }
      }
    },
    "BareMetalAdminClusterOperationsConfig": {
      "id": "BareMetalAdminClusterOperationsConfig",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "type": "object"
    },
    "UpgradeDependency": {
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "type": "object",
      "properties": {
        "currentVersion": {
          "description": "Current version of the dependency e.g. 1.15.0.",
          "type": "string"
        },
        "membership": {
          "description": "Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        },
        "targetVersion": {
          "type": "string",
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded."
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name of the dependency."
        }
      },
      "id": "UpgradeDependency"
    },
    "EnrollBareMetalClusterRequest": {
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API.",
      "properties": {
        "localName": {
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        },
        "bareMetalClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "localNamespace": {
          "description": "Optional. The namespace of the cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnrollBareMetalClusterRequest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "controlPlaneDisconnected": {
          "type": "boolean",
          "description": "Output only. Denotes if the local managing cluster's control plane is currently disconnected. This is expected to occur temporarily during self-managed cluster upgrades.",
          "readOnly": true
        },
        "progress": {
          "readOnly": true,
          "description": "Output only. Detailed progress information for the operation.",
          "$ref": "OperationProgress"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of operation being executed.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded.",
            "The platform is being upgraded."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE",
            "PLATFORM_UPGRADE"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Number of machines under the above version."
        },
        "version": {
          "description": "Resource version.",
          "type": "string"
        }
      },
      "description": "Version describes the number of nodes at a given version under a resource."
    },
    "VmwareAdminF5BigIpConfig": {
      "id": "VmwareAdminF5BigIpConfig",
      "type": "object",
      "properties": {
        "partition": {
          "type": "string",
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'."
        },
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        }
      },
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "BareMetalAdminMaintenanceConfig": {
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BareMetalAdminMaintenanceConfig",
      "type": "object",
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance."
    },
    "VmwareAAGConfig": {
      "type": "object",
      "description": "Specifies anti affinity group config for the VMware user cluster.",
      "id": "VmwareAAGConfig",
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      }
    },
    "EnrollVmwareClusterRequest": {
      "properties": {
        "localName": {
          "type": "string",
          "description": "Optional. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_cluster_id. Otherwise, it must match the object name of the VMware OnPremUserCluster custom resource. It is not modifiable outside / beyond the enrollment operation."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request without actually doing any updates."
        },
        "vmwareClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        }
      },
      "id": "EnrollVmwareClusterRequest",
      "type": "object",
      "description": "Message for enrolling an existing VMware cluster to the Anthos On-Prem API."
    },
    "BareMetalProxyConfig": {
      "id": "BareMetalProxyConfig",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"]."
        }
      },
      "description": "Specifies the cluster proxy configuration.",
      "type": "object"
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "properties": {
        "versions": {
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "type": "array",
          "description": "List of available versions to install or to upgrade to."
        }
      },
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "VmwareMetalLbConfig": {
      "id": "VmwareMetalLbConfig",
      "type": "object",
      "properties": {
        "addressPools": {
          "items": {
            "$ref": "VmwareAddressPool"
          },
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        }
      },
      "description": "Represents configuration parameters for the MetalLB load balancer."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "Policy"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "VmwareDataplaneV2Config": {
      "type": "object",
      "id": "VmwareDataplaneV2Config",
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "properties": {
        "forwardMode": {
          "description": "Configure ForwardMode for Dataplane v2.",
          "type": "string"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        },
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "windowsDataplaneV2Enabled": {
          "description": "Enable Dataplane V2 for clusters with Windows nodes.",
          "type": "boolean"
        }
      }
    },
    "BareMetalKubeletConfig": {
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options).",
      "properties": {
        "registryBurst": {
          "format": "int32",
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10.",
          "type": "integer"
        },
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BareMetalKubeletConfig",
      "type": "object"
    },
    "BareMetalPortConfig": {
      "id": "BareMetalPortConfig",
      "type": "object",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port that control plane hosted load balancers will listen on."
        }
      },
      "description": "Specifies load balancer ports for the bare metal user cluster."
    },
    "BareMetalStorageConfig": {
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "properties": {
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        },
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        }
      },
      "type": "object",
      "id": "BareMetalStorageConfig"
    },
    "BareMetalAdminSecurityConfig": {
      "type": "object",
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "properties": {
        "authorization": {
          "$ref": "Authorization",
          "description": "Configures user access to the admin cluster."
        }
      },
      "id": "BareMetalAdminSecurityConfig"
    },
    "BareMetalAdminApiServerArgument": {
      "properties": {
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes."
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      },
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "type": "object",
      "id": "BareMetalAdminApiServerArgument"
    },
    "VmwareBundleConfig": {
      "id": "VmwareBundleConfig",
      "description": "VmwareBundleConfig represents configuration for the bundle.",
      "properties": {
        "version": {
          "description": "The version of the bundle.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Resource status for the bundle.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      },
      "type": "object"
    },
    "BareMetalMachineDrainStatus": {
      "type": "object",
      "properties": {
        "drainingMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          },
          "description": "The list of draning machines."
        },
        "drainedMachines": {
          "items": {
            "$ref": "BareMetalDrainedMachine"
          },
          "type": "array",
          "description": "The list of drained machines."
        }
      },
      "description": "Represents the status of node machines that are undergoing drain operations.",
      "id": "BareMetalMachineDrainStatus"
    },
    "BareMetalAdminBgpPeerConfig": {
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "type": "object",
      "id": "BareMetalAdminBgpPeerConfig",
      "properties": {
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        },
        "asn": {
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "type": "string"
        },
        "controlPlaneNodes": {
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalApiServerArgument": {
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "id": "BareMetalApiServerArgument",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        }
      },
      "type": "object"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "type": "object",
      "id": "BareMetalMultipleNetworkInterfacesConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "description": "Specifies the multiple networking interfaces cluster configuration."
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "The generic configuration for a node pool running a load balancer."
        }
      },
      "type": "object",
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "description": "Specifies the load balancer's node pool configuration."
    },
    "VmwareLoadBalancerConfig": {
      "type": "object",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "id": "VmwareLoadBalancerConfig",
      "properties": {
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "seesawConfig": {
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareSeesawConfig"
        },
        "manualLbConfig": {
          "$ref": "VmwareManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        },
        "metalLbConfig": {
          "$ref": "VmwareMetalLbConfig",
          "description": "Configuration for MetalLB typed load balancers."
        }
      }
    },
    "BareMetalLoadBalancerAddressPool": {
      "id": "BareMetalLoadBalancerAddressPool",
      "properties": {
        "addresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        }
      },
      "type": "object",
      "description": "Represents an IP pool used by the load balancer."
    },
    "VmwareAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        },
        "addresses": {
          "type": "array",
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "items": {
            "type": "string"
          }
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        }
      },
      "id": "VmwareAddressPool",
      "type": "object"
    },
    "BareMetalNodeConfig": {
      "type": "object",
      "id": "BareMetalNodeConfig",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "properties": {
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalAdminVipConfig": {
      "type": "object",
      "id": "BareMetalAdminVipConfig",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster.",
          "type": "string"
        }
      },
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations."
    },
    "VmwareAdminNetworkConfig": {
      "properties": {
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "haControlPlaneConfig": {
          "$ref": "VmwareAdminHAControlPlaneConfig",
          "description": "Configuration for HA admin cluster control plane."
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name."
        },
        "dhcpIpConfig": {
          "$ref": "VmwareDhcpIpConfig",
          "description": "Configuration settings for a DHCP IP configuration."
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminNetworkConfig"
    },
    "BareMetalAdminDrainedMachine": {
      "id": "BareMetalAdminDrainedMachine",
      "type": "object",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained."
    },
    "BareMetalMaintenanceConfig": {
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance.",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "id": "BareMetalMaintenanceConfig",
      "type": "object"
    },
    "VmwareAdminPrivateRegistryConfig": {
      "id": "VmwareAdminPrivateRegistryConfig",
      "properties": {
        "address": {
          "type": "string",
          "description": "The registry address."
        },
        "caCert": {
          "description": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry."
    },
    "BareMetalCluster": {
      "description": "Resource that represents a bare metal user cluster.",
      "id": "BareMetalCluster",
      "type": "object",
      "properties": {
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalProxyConfig"
        },
        "description": {
          "description": "A human readable description of this bare metal user cluster.",
          "type": "string"
        },
        "osEnvironmentConfig": {
          "$ref": "BareMetalOsEnvironmentConfig",
          "description": "OS environment related configurations."
        },
        "adminClusterName": {
          "type": "string",
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster.",
          "readOnly": true
        },
        "maintenanceStatus": {
          "readOnly": true,
          "description": "Output only. Status of on-going maintenance tasks.",
          "$ref": "BareMetalMaintenanceStatus"
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalMaintenanceConfig"
        },
        "securityConfig": {
          "$ref": "BareMetalSecurityConfig",
          "description": "Security related setting configuration."
        },
        "updateTime": {
          "description": "Output only. The time when the bare metal user cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "controlPlane": {
          "description": "Required. Control plane configuration.",
          "$ref": "BareMetalControlPlaneConfig"
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loadBalancer": {
          "description": "Required. Load balancer configuration.",
          "$ref": "BareMetalLoadBalancerConfig"
        },
        "networkConfig": {
          "$ref": "BareMetalNetworkConfig",
          "description": "Required. Network configuration."
        },
        "state": {
          "description": "Output only. The current state of the bare metal user cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ]
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster."
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership.",
          "type": "string"
        },
        "validationCheck": {
          "description": "Output only. The result of the preflight check.",
          "$ref": "ValidationCheck",
          "readOnly": true
        },
        "fleet": {
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true
        },
        "localNamespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The namespace of the cluster."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty"
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal user cluster.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the bare metal user cluster was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "upgradePolicy": {
          "description": "The cluster upgrade policy.",
          "$ref": "BareMetalClusterUpgradePolicy"
        },
        "name": {
          "description": "Immutable. The bare metal user cluster resource name.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Detailed cluster status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalWorkloadNodeConfig"
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "bareMetalVersion": {
          "description": "Required. The Anthos clusters on bare metal version for your user cluster.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        },
        "endpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address of the bare metal user cluster's API server."
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalClusterOperationsConfig"
        }
      }
    },
    "BareMetalAdminControlPlaneConfig": {
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "id": "BareMetalAdminControlPlaneConfig",
      "properties": {
        "apiServerArgs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          },
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
        },
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        }
      },
      "type": "object"
    },
    "VmwareSeesawConfig": {
      "type": "object",
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "properties": {
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        },
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "masterIp": {
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group.",
          "type": "string"
        },
        "ipBlocks": {
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "type": "array",
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer"
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "VmwareSeesawConfig"
    },
    "VmwareAdminCluster": {
      "description": "Resource that represents a VMware admin cluster.",
      "id": "VmwareAdminCluster",
      "properties": {
        "networkConfig": {
          "description": "The VMware admin cluster network configuration.",
          "$ref": "VmwareAdminNetworkConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "readOnly": true,
          "description": "Output only. The current state of VMware admin cluster.",
          "type": "string"
        },
        "addonNode": {
          "$ref": "VmwareAdminAddonNodeConfig",
          "description": "The VMware admin cluster addon node configuration."
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this VMware admin cluster."
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware admin cluster.",
          "type": "string",
          "readOnly": true
        },
        "bootstrapClusterMembership": {
          "type": "string",
          "description": "The bootstrap cluster this VMware admin cluster belongs to."
        },
        "imageType": {
          "type": "string",
          "description": "The OS image type for the VMware admin cluster."
        },
        "vcenter": {
          "$ref": "VmwareAdminVCenterConfig",
          "description": "The VMware admin cluster VCenter configuration."
        },
        "privateRegistryConfig": {
          "$ref": "VmwareAdminPrivateRegistryConfig",
          "description": "Configuration for registry."
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "$ref": "ValidationCheck"
        },
        "autoRepairConfig": {
          "description": "The VMware admin cluster auto repair configuration.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which VMware admin cluster was created."
        },
        "proxy": {
          "description": "Configuration for proxy.",
          "$ref": "VmwareAdminProxy"
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "localName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "authorization": {
          "description": "The VMware admin cluster authorization configuration.",
          "$ref": "VmwareAdminAuthorizationConfig"
        },
        "annotations": {
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "loadBalancer": {
          "$ref": "VmwareAdminLoadBalancerConfig",
          "description": "The VMware admin cluster load balancer configuration."
        },
        "preparedSecrets": {
          "description": "Output only. The VMware admin cluster prepared secrets configuration. It should always be enabled by the Central API, instead of letting users set it.",
          "$ref": "VmwareAdminPreparedSecretsConfig",
          "readOnly": true
        },
        "controlPlaneNode": {
          "$ref": "VmwareAdminControlPlaneNodeConfig",
          "description": "The VMware admin cluster control plane node configuration."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "$ref": "ResourceStatus"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster."
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "The VMware admin cluster anti affinity group configuration."
        },
        "fleet": {
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The VMware admin cluster resource name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which VMware admin cluster was last updated."
        },
        "onPremVersion": {
          "type": "string",
          "description": "The Anthos clusters on the VMware version for the admin cluster."
        },
        "platformConfig": {
          "description": "The VMware platform configuration.",
          "$ref": "VmwarePlatformConfig"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NodeTaint": {
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "id": "NodeTaint",
      "type": "object",
      "properties": {
        "effect": {
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ],
          "description": "The taint effect.",
          "type": "string",
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ]
        },
        "key": {
          "description": "Key associated with the effect.",
          "type": "string"
        },
        "value": {
          "description": "Value associated with the effect.",
          "type": "string"
        }
      }
    },
    "BareMetalSecurityConfig": {
      "description": "Specifies the security related settings for the bare metal user cluster.",
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      },
      "type": "object",
      "id": "BareMetalSecurityConfig"
    },
    "BareMetalAdminLoadBalancerConfig": {
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "properties": {
        "vipConfig": {
          "$ref": "BareMetalAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "bgpLbConfig": {
          "description": "Configuration for BGP typed load balancers.",
          "$ref": "BareMetalAdminBgpLbConfig"
        },
        "manualLbConfig": {
          "$ref": "BareMetalAdminManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalAdminPortConfig"
        }
      },
      "id": "BareMetalAdminLoadBalancerConfig",
      "type": "object"
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "description": "Specifies the control plane node pool configuration.",
      "properties": {
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "Required. The generic configuration for a node pool running the control plane."
        }
      },
      "id": "BareMetalControlPlaneNodePoolConfig",
      "type": "object"
    },
    "VmwareControlPlaneNodeConfig": {
      "description": "Specifies control plane node config for the VMware user cluster.",
      "id": "VmwareControlPlaneNodeConfig",
      "type": "object",
      "properties": {
        "replicas": {
          "format": "int64",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "type": "string"
        },
        "cpus": {
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "type": "string",
          "format": "int64"
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        },
        "memory": {
          "type": "string",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "format": "int64"
        }
      }
    },
    "VmwareAdminAuthorizationConfig": {
      "description": "VmwareAdminAuthorizationConfig represents configuration for admin cluster authorization.",
      "properties": {
        "viewerUsers": {
          "type": "array",
          "description": "For VMware admin clusters, users will be granted the cluster-viewer role on the cluster.",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      },
      "id": "VmwareAdminAuthorizationConfig",
      "type": "object"
    },
    "VmwareAdminLoadBalancerConfig": {
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster.",
      "properties": {
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareAdminManualLbConfig"
        },
        "seesawConfig": {
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareAdminSeesawConfig"
        },
        "metalLbConfig": {
          "$ref": "VmwareAdminMetalLbConfig",
          "description": "MetalLB load balancers."
        },
        "f5Config": {
          "$ref": "VmwareAdminF5BigIpConfig",
          "description": "Configuration for F5 Big IP typed load balancers."
        },
        "vipConfig": {
          "$ref": "VmwareAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        }
      },
      "type": "object",
      "id": "VmwareAdminLoadBalancerConfig"
    },
    "VmwareAutoRepairConfig": {
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      },
      "id": "VmwareAutoRepairConfig",
      "type": "object",
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true."
    },
    "EnrollVmwareNodePoolRequest": {
      "id": "EnrollVmwareNodePoolRequest",
      "properties": {
        "vmwareNodePoolId": {
          "description": "The target node pool id to be enrolled.",
          "type": "string"
        }
      },
      "description": "Message for enrolling a VMware node pool.",
      "type": "object"
    },
    "VmwareCluster": {
      "properties": {
        "vmTrackingEnabled": {
          "type": "boolean",
          "description": "Enable VM tracking."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the VMware user cluster.",
          "type": "string"
        },
        "networkConfig": {
          "description": "The VMware user cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "name": {
          "description": "Immutable. The VMware user cluster resource name.",
          "type": "string"
        },
        "adminClusterName": {
          "type": "string",
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which VMware user cluster was last updated.",
          "type": "string",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "Output only. The DNS name of VMware user cluster's API server.",
          "readOnly": true
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster."
        },
        "authorization": {
[...]
