{
  "version": "v1",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "rootUrl": "https://gmail.googleapis.com/",
  "title": "Gmail API",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "id": "gmail:v1",
  "servicePath": "",
  "batchPath": "batch",
  "name": "gmail",
  "discoveryVersion": "v1",
  "resources": {
    "users": {
      "methods": {
        "stop": {
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "id": "gmail.users.stop",
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "required": true,
              "default": "me",
              "location": "path",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "path": "gmail/v1/users/{userId}/stop",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "flatPath": "gmail/v1/users/{userId}/stop"
        },
        "getProfile": {
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "gmail/v1/users/{userId}/profile",
          "path": "gmail/v1/users/{userId}/profile",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "response": {
            "$ref": "Profile"
          },
          "httpMethod": "GET",
          "parameters": {
            "userId": {
              "required": true,
              "default": "me",
              "location": "path",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "id": "gmail.users.getProfile",
          "description": "Gets the current user's Gmail profile."
        },
        "watch": {
          "parameterOrder": [
            "userId"
          ],
          "request": {
            "$ref": "WatchRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "default": "me",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "response": {
            "$ref": "WatchResponse"
          },
          "path": "gmail/v1/users/{userId}/watch",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "flatPath": "gmail/v1/users/{userId}/watch",
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "id": "gmail.users.watch"
        }
      },
      "resources": {
        "messages": {
          "methods": {
            "insert": {
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "parameters": {
                "internalDateSource": {
                  "default": "receivedTime",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "description": "Source for Gmail's internal date of the message."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "response": {
                "$ref": "Message"
              },
              "path": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages",
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "id": "gmail.users.messages.insert",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "maxSize": "157286400"
              }
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "parameterOrder": [
                "userId"
              ],
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "id": "gmail.users.messages.batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "scopes": [
                "https://mail.google.com/"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete"
            },
            "untrash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "response": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the message to remove from Trash.",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Removes the specified message from the trash.",
              "id": "gmail.users.messages.untrash"
            },
            "list": {
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "maxResults": {
                  "format": "uint32",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "type": "integer",
                  "location": "query",
                  "default": "100"
                },
                "includeSpamTrash": {
                  "type": "boolean",
                  "location": "query",
                  "default": "false",
                  "description": "Include messages from `SPAM` and `TRASH` in the results."
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                },
                "labelIds": {
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages",
              "path": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "id": "gmail.users.messages.list"
            },
            "import": {
              "response": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "parameters": {
                "processForCalendar": {
                  "default": "false",
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "type": "boolean",
                  "location": "query"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                },
                "internalDateSource": {
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "default": "dateHeader",
                  "location": "query",
                  "type": "string",
                  "description": "Source for Gmail's internal date of the message.",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ]
                },
                "deleted": {
                  "type": "boolean",
                  "location": "query",
                  "default": "false",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts."
                },
                "neverMarkSpam": {
                  "default": "false",
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "path": "gmail/v1/users/{userId}/messages/import",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
              "mediaUpload": {
                "maxSize": "157286400",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  }
                }
              },
              "id": "gmail.users.messages.import",
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Message"
              }
            },
            "send": {
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Message"
              },
              "supportsMediaUpload": true,
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "path": "gmail/v1/users/{userId}/messages/send",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "response": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "id": "gmail.users.messages.send",
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending)."
            },
            "delete": {
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "id": "gmail.users.messages.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the message to delete.",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/"
              ]
            },
            "batchModify": {
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                }
              },
              "id": "gmail.users.messages.batchModify",
              "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              }
            },
            "get": {
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "format": {
                  "description": "The format to return the message in.",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full",
                  "location": "query",
                  "type": "string"
                },
                "metadataHeaders": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "When given and format is `METADATA`, only include headers specified."
                }
              },
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.get",
              "description": "Gets the specified message.",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "modify": {
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the message to modify.",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.modify",
              "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "ModifyMessageRequest"
              }
            },
            "trash": {
              "response": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the message to Trash.",
                  "required": true
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Moves the specified message to the trash.",
              "id": "gmail.users.messages.trash",
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "description": "Gets the specified message attachment.",
                  "id": "gmail.users.messages.attachments.get",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                    },
                    "messageId": {
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the message containing the attachment.",
                      "required": true
                    },
                    "id": {
                      "description": "The ID of the attachment.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ]
                }
              }
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels",
              "path": "gmail/v1/users/{userId}/labels",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Lists all labels in the user's mailbox. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.list",
              "parameterOrder": [
                "userId"
              ]
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "Label"
              },
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the label to retrieve.",
                  "required": true
                }
              },
              "id": "gmail.users.labels.get",
              "description": "Gets the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "patch": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Label"
              },
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "response": {
                "$ref": "Label"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "id": {
                  "description": "The ID of the label to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "gmail.users.labels.patch",
              "description": "Patch the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels)."
            },
            "create": {
              "description": "Creates a label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.create",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me"
                }
              },
              "response": {
                "$ref": "Label"
              },
              "path": "gmail/v1/users/{userId}/labels",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels",
              "request": {
                "$ref": "Label"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "delete": {
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it's applied to. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "id": {
                  "description": "The ID of the label to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "update": {
              "description": "Updates the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.update",
              "httpMethod": "PUT",
              "parameters": {
                "id": {
                  "description": "The ID of the label to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me"
                }
              },
              "response": {
                "$ref": "Label"
              },
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "request": {
                "$ref": "Label"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "drafts": {
          "methods": {
            "delete": {
              "id": "gmail.users.drafts.delete",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "DELETE",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the draft to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "create": {
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Draft"
              },
              "response": {
                "$ref": "Draft"
              },
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "path": "gmail/v1/users/{userId}/drafts",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "id": "gmail.users.drafts.create"
            },
            "send": {
              "request": {
                "$ref": "Draft"
              },
              "supportsMediaUpload": true,
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.send",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "path": "gmail/v1/users/{userId}/drafts/send",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Message"
              }
            },
            "update": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Draft"
              },
              "supportsMediaUpload": true,
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "response": {
                "$ref": "Draft"
              },
              "httpMethod": "PUT",
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the draft to update.",
                  "required": true
                },
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                },
                "maxSize": "36700160"
              },
              "id": "gmail.users.drafts.update",
              "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts)."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "maxResults": {
                  "format": "uint32",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "type": "integer",
                  "location": "query",
                  "default": "100"
                },
                "q": {
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "type": "string",
                  "location": "query"
                },
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "includeSpamTrash": {
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list."
                }
              },
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "path": "gmail/v1/users/{userId}/drafts",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "id": "gmail.users.drafts.list",
              "parameterOrder": [
                "userId"
              ]
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "Draft"
              },
              "httpMethod": "GET",
              "parameters": {
                "format": {
                  "description": "The format to return the draft in.",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full"
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the draft to retrieve.",
                  "required": true
                }
              },
              "id": "gmail.users.drafts.get",
              "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "threads": {
          "methods": {
            "untrash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "description": "The ID of the thread to remove from Trash.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                }
              },
              "response": {
                "$ref": "Thread"
              },
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "id": "gmail.users.threads.untrash"
            },
            "list": {
              "id": "gmail.users.threads.list",
              "description": "Lists the threads in the user's mailbox. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "flatPath": "gmail/v1/users/{userId}/threads",
              "path": "gmail/v1/users/{userId}/threads",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "ListThreadsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
                },
                "maxResults": {
                  "default": "100",
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "includeSpamTrash": {
                  "type": "boolean",
                  "location": "query",
                  "default": "false",
                  "description": "Include threads from `SPAM` and `TRASH` in the results."
                },
                "labelIds": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Only return threads with labels that match all of the specified label IDs."
                }
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "modify": {
              "request": {
                "$ref": "ModifyThreadRequest"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "description": "Modifies the labels applied to the thread. This applies to all messages in the thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "id": "gmail.users.threads.modify",
              "response": {
                "$ref": "Thread"
              },
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "description": "The ID of the thread to modify.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "path": "gmail/v1/users/{userId}/threads/{id}/modify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "response": {
                "$ref": "Thread"
              },
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the thread to retrieve.",
                  "required": true
                },
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "format": {
                  "default": "full",
                  "enumDescriptions": [
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message IDs, labels, and email headers.",
                    "Returns only email message IDs and labels; does not return the email headers, body, or payload."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "description": "The format to return the messages in."
                },
                "metadataHeaders": {
                  "description": "When given and format is METADATA, only include headers specified.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Gets the specified thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "id": "gmail.users.threads.get"
            },
            "trash": {
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "path": "gmail/v1/users/{userId}/threads/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "response": {
                "$ref": "Thread"
              },
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "description": "The ID of the thread to Trash.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "id": "gmail.users.threads.trash",
              "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "delete": {
              "id": "gmail.users.threads.delete",
              "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "scopes": [
                "https://mail.google.com/"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "id": {
                  "description": "ID of the Thread to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "history": {
          "methods": {
            "list": {
              "path": "gmail/v1/users/{userId}/history",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/history",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "labelId": {
                  "location": "query",
                  "type": "string",
                  "description": "Only return messages with a label matching the ID."
                },
                "historyTypes": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "repeated": true,
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "description": "History types to be returned by the function"
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "startHistoryId": {
                  "type": "string",
                  "location": "query",
                  "format": "uint64",
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request."
                },
                "maxResults": {
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer",
                  "default": "100"
                }
              },
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "id": "gmail.users.history.list",
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`). For more information, see [Synchronize clients with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).",
              "parameterOrder": [
                "userId"
              ]
            }
          }
        },
        "settings": {
          "methods": {
            "updatePop": {
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "PopSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/pop",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me"
                }
              },
              "response": {
                "$ref": "PopSettings"
              },
              "id": "gmail.users.settings.updatePop",
              "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
            },
            "getPop": {
              "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "id": "gmail.users.settings.getPop",
              "response": {
                "$ref": "PopSettings"
              },
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ]
            },
            "updateAutoForwarding": {
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                }
              },
              "response": {
                "$ref": "AutoForwarding"
              },
              "id": "gmail.users.settings.updateAutoForwarding",
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "AutoForwarding"
              }
            },
            "updateVacation": {
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.updateVacation",
              "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "VacationSettings"
              }
            },
            "getLanguage": {
              "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
              "id": "gmail.users.settings.getLanguage",
              "response": {
                "$ref": "LanguageSettings"
              },
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "path": "gmail/v1/users/{userId}/settings/language",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ]
            },
            "getAutoForwarding": {
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "response": {
                "$ref": "AutoForwarding"
              },
              "id": "gmail.users.settings.getAutoForwarding",
              "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings)."
            },
            "getImap": {
              "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "id": "gmail.users.settings.getImap",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "response": {
                "$ref": "ImapSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "parameterOrder": [
                "userId"
              ]
            },
            "updateImap": {
              "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "id": "gmail.users.settings.updateImap",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me"
                }
              },
              "response": {
                "$ref": "ImapSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "request": {
                "$ref": "ImapSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "getVacation": {
              "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "id": "gmail.users.settings.getVacation",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "VacationSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "parameterOrder": [
                "userId"
              ]
            },
            "updateLanguage": {
              "request": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateLanguage",
              "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "path": "gmail/v1/users/{userId}/settings/language",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                }
              },
              "response": {
                "$ref": "LanguageSettings"
              }
            }
          },
          "resources": {
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "list": {
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.list",
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
                          "format": "int32",
                          "default": "20",
                          "location": "query",
                          "type": "integer"
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "default": "me"
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.get",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "location": "path",
                          "default": "me",
                          "required": true
                        },
                        "cseEmailAddress": {
                          "type": "string",
                          "location": "path",
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "required": true
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        },
                        "emailAddress": {
                          "type": "string",
                          "location": "path",
                          "description": "The email address of the client-side encryption identity to update.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.patch",
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "request": {
                        "$ref": "CseIdentity"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        }
                      },
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities"
                    },
                    "delete": {
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "cseEmailAddress": {
                          "type": "string",
                          "location": "path",
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "id": "gmail.users.settings.cse.identities.delete",
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "disable": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "httpMethod": "POST",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        },
                        "keyPairId": {
                          "location": "path",
                          "type": "string",
                          "description": "The identifier of the key pair to turn off.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "get": {
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "location": "path",
                          "default": "me",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        },
                        "keyPairId": {
                          "type": "string",
                          "location": "path",
                          "description": "The identifier of the key pair to retrieve.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ]
                    },
                    "enable": {
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        },
                        "keyPairId": {
                          "description": "The identifier of the key pair to turn on.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "type": "integer",
                          "location": "query",
                          "default": "20"
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
[...]
