{
  "baseUrl": "https://gmail.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://gmail.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v1",
  "revision": "20260824",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "flatPath": "gmail/v1/users/{userId}/profile",
          "path": "gmail/v1/users/{userId}/profile",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Gets the current user's Gmail profile.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Profile"
          },
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "default": "me",
              "location": "path",
              "type": "string"
            }
          },
          "id": "gmail.users.getProfile"
        },
        "watch": {
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "type": "string",
              "default": "me",
              "location": "path"
            }
          },
          "request": {
            "$ref": "WatchRequest"
          },
          "id": "gmail.users.watch",
          "response": {
            "$ref": "WatchResponse"
          },
          "parameterOrder": [
            "userId"
          ],
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "httpMethod": "POST",
          "path": "gmail/v1/users/{userId}/watch",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "flatPath": "gmail/v1/users/{userId}/watch"
        },
        "stop": {
          "path": "gmail/v1/users/{userId}/stop",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.stop",
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "default": "me",
              "location": "path",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true
            }
          },
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "flatPath": "gmail/v1/users/{userId}/stop"
        }
      },
      "resources": {
        "messages": {
          "methods": {
            "modify": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "description": "The ID of the message to modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "id": "gmail.users.messages.modify",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "batchModify": {
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST",
              "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.batchModify",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "path": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages",
              "id": "gmail.users.messages.list",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "type": "boolean",
                  "description": "Include messages from `SPAM` and `TRASH` in the results.",
                  "default": "false",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "q": {
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "location": "query",
                  "type": "string"
                },
                "labelIds": {
                  "repeated": true,
                  "type": "string",
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "location": "query"
                },
                "maxResults": {
                  "default": "100",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListMessagesResponse"
              }
            },
            "untrash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.untrash",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the message to remove from Trash.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST",
              "description": "Removes the specified message from the trash."
            },
            "insert": {
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "supportsMediaUpload": true,
              "flatPath": "gmail/v1/users/{userId}/messages",
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "internalDateSource": {
                  "default": "receivedTime",
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "type": "string",
                  "description": "Source for Gmail's internal date of the message.",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.insert",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "maxSize": "157286400",
                "accept": [
                  "message/*"
                ]
              }
            },
            "import": {
              "parameters": {
                "internalDateSource": {
                  "default": "dateHeader",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "processForCalendar": {
                  "type": "boolean",
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "default": "false",
                  "location": "query"
                },
                "neverMarkSpam": {
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.import",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  }
                },
                "maxSize": "157286400",
                "accept": [
                  "message/*"
                ]
              },
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/import",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "supportsMediaUpload": true,
              "flatPath": "gmail/v1/users/{userId}/messages/import"
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "description": "Gets the specified message.",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "metadataHeaders": {
                  "repeated": true,
                  "type": "string",
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "location": "query"
                },
                "format": {
                  "description": "The format to return the message in.",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "type": "string",
                  "default": "full",
                  "location": "query"
                },
                "id": {
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.messages.get",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "trash": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Moves the specified message to the trash.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "description": "The ID of the message to Trash.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.messages.trash"
            },
            "delete": {
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/"
              ],
              "id": "gmail.users.messages.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "The ID of the message to delete.",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                }
              },
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}"
            },
            "batchDelete": {
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "id": "gmail.users.messages.batchDelete",
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "scopes": [
                "https://mail.google.com/"
              ],
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete"
            },
            "send": {
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/messages/send",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "httpMethod": "POST",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.send"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "description": "Gets the specified message attachment.",
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "type": "string",
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "messageId": {
                      "description": "The ID of the message containing the attachment.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the attachment.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "gmail.users.messages.attachments.get"
                }
              }
            }
          }
        },
        "history": {
          "methods": {
            "list": {
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`). For more information, see [Synchronize clients with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/history",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/history",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                },
                "startHistoryId": {
                  "type": "string",
                  "format": "uint64",
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "location": "query"
                },
                "historyTypes": {
                  "repeated": true,
                  "description": "History types to be returned by the function",
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "type": "string",
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "location": "query"
                },
                "maxResults": {
                  "type": "integer",
                  "default": "100",
                  "location": "query",
                  "format": "uint32",
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "labelId": {
                  "type": "string",
                  "description": "Only return messages with a label matching the ID.",
                  "location": "query"
                }
              },
              "id": "gmail.users.history.list",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "parameterOrder": [
                "userId"
              ]
            }
          }
        },
        "settings": {
          "methods": {
            "getImap": {
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "httpMethod": "GET",
              "response": {
                "$ref": "ImapSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                }
              },
              "id": "gmail.users.settings.getImap"
            },
            "updatePop": {
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "PopSettings"
              },
              "id": "gmail.users.settings.updatePop",
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "getVacation": {
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.getVacation",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                }
              }
            },
            "updateLanguage": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "request": {
                "$ref": "LanguageSettings"
              },
              "id": "gmail.users.settings.updateLanguage",
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/language",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "getAutoForwarding": {
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                }
              },
              "id": "gmail.users.settings.getAutoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
              "httpMethod": "GET"
            },
            "getLanguage": {
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "id": "gmail.users.settings.getLanguage",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "path": "gmail/v1/users/{userId}/settings/language",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
              "httpMethod": "GET"
            },
            "getPop": {
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "id": "gmail.users.settings.getPop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/pop"
            },
            "updateAutoForwarding": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "request": {
                "$ref": "AutoForwarding"
              },
              "id": "gmail.users.settings.updateAutoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding"
            },
            "updateVacation": {
              "response": {
                "$ref": "VacationSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.updateVacation",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "httpMethod": "PUT"
            },
            "updateImap": {
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ImapSettings"
              },
              "id": "gmail.users.settings.updateImap",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "request": {
                "$ref": "ImapSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "PUT",
              "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "flatPath": "gmail/v1/users/{userId}/settings/imap"
            }
          },
          "resources": {
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "delete": {
                      "id": "gmail.users.settings.cse.identities.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me",
                          "location": "path",
                          "type": "string"
                        },
                        "cseEmailAddress": {
                          "type": "string",
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}"
                    },
                    "list": {
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "GET",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "location": "path",
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
                          "format": "int32",
                          "default": "20",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "gmail.users.settings.cse.identities.list",
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "parameterOrder": [
                        "userId"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "id": "gmail.users.settings.cse.identities.patch",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "location": "path",
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        },
                        "emailAddress": {
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}"
                    },
                    "create": {
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "type": "string",
                          "default": "me",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "id": "gmail.users.settings.cse.identities.create",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "POST",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "id": "gmail.users.settings.cse.identities.get",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me",
                          "location": "path",
                          "type": "string"
                        },
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "GET",
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}"
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "create": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId"
                      ],
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "id": "gmail.users.settings.cse.keypairs.create",
                      "parameters": {
                        "chainValidation": {
                          "description": "The type of certificate chain validation to perform at creation. The request will be rejected if the uploaded chain fails to satisfy the requested validation checks. When unspecified, this parameter defaults to `all`.",
                          "enumDescriptions": [
                            "Enable all certificate chain validation and certificate revocation checks. Recommended for normal use.",
                            "Disable all certificate chain validation and certificate revocation checks. This may be useful when deliberately creating key pairs with invalid, out-of-use certificate chains to be used only for decryption of historical S/MIME messages. Key pairs created with invalid or revoked certificates cannot be used in a CseIdentity object."
                          ],
                          "enum": [
                            "all",
                            "none"
                          ],
                          "type": "string",
                          "default": "all",
                          "location": "query"
                        },
                        "userId": {
                          "default": "me",
                          "location": "path",
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "CseKeyPair"
                      }
                    },
                    "enable": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "POST",
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me",
                          "location": "path",
                          "type": "string"
                        },
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to turn on.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      }
                    },
                    "get": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "type": "string",
                          "default": "me",
                          "location": "path"
                        },
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to retrieve.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.get"
                    },
                    "obliterate": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "type": "string",
                          "default": "me",
                          "location": "path"
                        },
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to obliterate.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "ObliterateCseKeyPairRequest"
                      },
                      "id": "gmail.users.settings.cse.keypairs.obliterate",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate"
                    },
                    "disable": {
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "default": "me",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        },
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to turn off.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "httpMethod": "POST",
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable"
                    },
                    "list": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "parameterOrder": [
                        "userId"
                      ],
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "location": "path",
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "type": "integer",
                          "default": "20",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            },
            "filters": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Filter"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Filter"
                  },
                  "id": "gmail.users.settings.filters.create",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "gmail.users.settings.filters.list",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "httpMethod": "GET",
                  "description": "Lists the message filters of a Gmail user. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                },
                "get": {
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "id": {
                      "description": "The ID of the filter to be fetched.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "gmail.users.settings.filters.get",
                  "response": {
                    "$ref": "Filter"
                  },
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "description": "Gets a filter. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}"
                },
                "delete": {
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "location": "path"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the filter to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Immediately and permanently deletes the specified filter. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "id": "gmail.users.settings.filters.delete",
                  "httpMethod": "DELETE",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}"
                }
              }
            },
            "forwardingAddresses": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ForwardingAddress"
                  },
                  "id": "gmail.users.settings.forwardingAddresses.create",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "POST",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses"
                },
                "list": {
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "ListForwardingAddressesResponse"
                  },
                  "id": "gmail.users.settings.forwardingAddresses.list",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the forwarding addresses for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses"
                },
                "get": {
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified forwarding address. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "id": "gmail.users.settings.forwardingAddresses.get",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "location": "path"
                    },
                    "forwardingEmail": {
                      "description": "The forwarding address to be retrieved.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameters": {
                    "forwardingEmail": {
                      "description": "The forwarding address to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the specified forwarding address and revokes any verification that may have been required. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.forwardingAddresses.delete",
                  "httpMethod": "DELETE",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                }
              }
            },
            "delegates": {
              "methods": {
                "create": {
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "httpMethod": "POST",
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. A delegate user must be referred to by their primary email address, and not an email alias. When a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "id": "gmail.users.settings.delegates.create",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Delegate"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "Delegate"
                  }
                },
                "list": {
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.settings.delegates.list",
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "description": "Lists the delegates for the specified account. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                },
                "get": {
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Gets the specified delegate. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "delegateEmail": {
                      "type": "string",
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "gmail.users.settings.delegates.get"
                },
                "delete": {
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "location": "path"
                    },
                    "delegateEmail": {
                      "type": "string",
                      "description": "The email address of the user to be removed as a delegate.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.delegates.delete",
                  "httpMethod": "DELETE",
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                }
              }
            },
            "sendAs": {
              "methods": {
                "get": {
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.get",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "sendAsEmail": {
                      "type": "string",
                      "description": "The send-as alias to be retrieved.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.create",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
[...]
