{
  "protocol": "rest",
  "rootUrl": "https://gmail.googleapis.com/",
  "revision": "20260907",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        }
      }
    }
  },
  "resources": {
    "users": {
      "methods": {
        "watch": {
          "id": "gmail.users.watch",
          "path": "gmail/v1/users/{userId}/watch",
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "default": "me",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "gmail/v1/users/{userId}/watch",
          "httpMethod": "POST",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "response": {
            "$ref": "WatchResponse"
          },
          "request": {
            "$ref": "WatchRequest"
          }
        },
        "stop": {
          "flatPath": "gmail/v1/users/{userId}/stop",
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "location": "path",
              "default": "me",
              "type": "string",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "id": "gmail.users.stop",
          "path": "gmail/v1/users/{userId}/stop",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameterOrder": [
            "userId"
          ]
        },
        "getProfile": {
          "flatPath": "gmail/v1/users/{userId}/profile",
          "httpMethod": "GET",
          "parameters": {
            "userId": {
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "default": "me",
              "type": "string"
            }
          },
          "id": "gmail.users.getProfile",
          "path": "gmail/v1/users/{userId}/profile",
          "response": {
            "$ref": "Profile"
          },
          "description": "Gets the current user's Gmail profile.",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameterOrder": [
            "userId"
          ]
        }
      },
      "resources": {
        "drafts": {
          "methods": {
            "send": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "id": "gmail.users.drafts.send",
              "path": "gmail/v1/users/{userId}/drafts/send",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                }
              },
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "request": {
                "$ref": "Draft"
              },
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "supportsMediaUpload": true
            },
            "delete": {
              "id": "gmail.users.drafts.delete",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "DELETE",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the draft to delete.",
                  "type": "string"
                }
              },
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts)."
            },
            "list": {
              "parameters": {
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "location": "query",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results."
                },
                "maxResults": {
                  "default": "100",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "q": {
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "id": "gmail.users.drafts.list",
              "path": "gmail/v1/users/{userId}/drafts",
              "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "update": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the draft to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "PUT",
              "id": "gmail.users.drafts.update",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                }
              },
              "response": {
                "$ref": "Draft"
              },
              "request": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "create": {
              "id": "gmail.users.drafts.create",
              "path": "gmail/v1/users/{userId}/drafts",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "httpMethod": "POST",
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "response": {
                "$ref": "Draft"
              },
              "request": {
                "$ref": "Draft"
              }
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the draft to retrieve."
                },
                "format": {
                  "description": "The format to return the draft in.",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ]
                }
              },
              "id": "gmail.users.drafts.get",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "messages": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "description": "Gets the specified message attachment.",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "parameters": {
                    "id": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the attachment."
                    },
                    "userId": {
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    },
                    "messageId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the message containing the attachment.",
                      "type": "string"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "httpMethod": "GET",
                  "id": "gmail.users.messages.attachments.get",
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}"
                }
              }
            }
          },
          "methods": {
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "id": "gmail.users.messages.batchDelete",
              "path": "gmail/v1/users/{userId}/messages/batchDelete"
            },
            "modify": {
              "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to modify.",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "httpMethod": "POST",
              "id": "gmail.users.messages.modify",
              "path": "gmail/v1/users/{userId}/messages/{id}/modify"
            },
            "batchModify": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "httpMethod": "POST",
              "id": "gmail.users.messages.batchModify",
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "insert": {
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "mediaUpload": {
                "maxSize": "157286400",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages",
              "httpMethod": "POST",
              "parameters": {
                "internalDateSource": {
                  "default": "receivedTime",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "description": "Source for Gmail's internal date of the message."
                },
                "deleted": {
                  "default": "false",
                  "type": "boolean",
                  "location": "query",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts."
                },
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "id": "gmail.users.messages.insert",
              "path": "gmail/v1/users/{userId}/messages"
            },
            "trash": {
              "description": "Moves the specified message to the trash.",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to Trash."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "httpMethod": "POST",
              "id": "gmail.users.messages.trash",
              "path": "gmail/v1/users/{userId}/messages/{id}/trash"
            },
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.messages.delete",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the message to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "httpMethod": "DELETE",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}"
            },
            "send": {
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "id": "gmail.users.messages.send",
              "path": "gmail/v1/users/{userId}/messages/send"
            },
            "untrash": {
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to remove from Trash."
                }
              },
              "id": "gmail.users.messages.untrash",
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "response": {
                "$ref": "Message"
              },
              "description": "Removes the specified message from the trash.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "get": {
              "id": "gmail.users.messages.get",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "type": "string"
                },
                "format": {
                  "default": "full",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "description": "The format to return the message in.",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ]
                },
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "metadataHeaders": {
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Gets the specified message.",
              "response": {
                "$ref": "Message"
              }
            },
            "import": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "supportsMediaUpload": true,
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Message"
              },
              "response": {
                "$ref": "Message"
              },
              "mediaUpload": {
                "maxSize": "157286400",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
              "id": "gmail.users.messages.import",
              "path": "gmail/v1/users/{userId}/messages/import",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "parameters": {
                "processForCalendar": {
                  "location": "query",
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "default": "false",
                  "type": "boolean"
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "internalDateSource": {
                  "default": "dateHeader",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "neverMarkSpam": {
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "id": "gmail.users.messages.list",
              "path": "gmail/v1/users/{userId}/messages",
              "flatPath": "gmail/v1/users/{userId}/messages",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "labelIds": {
                  "type": "string",
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "repeated": true,
                  "location": "query"
                },
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
                },
                "maxResults": {
                  "location": "query",
                  "default": "100",
                  "type": "integer",
                  "format": "uint32",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include messages from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages)."
            }
          }
        },
        "settings": {
          "resources": {
            "sendAs": {
              "resources": {
                "smimeInfo": {
                  "methods": {
                    "get": {
                      "description": "Gets the specified S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "sendAsEmail": {
                          "location": "path",
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "description": "The immutable ID for the SmimeInfo.",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "location": "path",
                          "default": "me",
                          "type": "string",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "id": "gmail.users.settings.sendAs.smimeInfo.get",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}"
                    },
                    "insert": {
                      "parameters": {
                        "userId": {
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "required": true,
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "id": "gmail.users.settings.sendAs.smimeInfo.insert",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "description": "Insert (upload) the given S/MIME config for the specified send-as alias. Note that `pkcs12` format is required for the key. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "request": {
                        "$ref": "SmimeInfo"
                      },
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "list": {
                      "id": "gmail.users.settings.sendAs.smimeInfo.list",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "required": true
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "response": {
                        "$ref": "ListSmimeInfoResponse"
                      },
                      "description": "Lists S/MIME configs for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs)."
                    },
                    "delete": {
                      "id": "gmail.users.settings.sendAs.smimeInfo.delete",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "userId": {
                          "required": true,
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "description": "The immutable ID for the SmimeInfo.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Deletes the specified S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs)."
                    },
                    "setDefault": {
                      "parameters": {
                        "userId": {
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "required": true,
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "description": "The immutable ID for the SmimeInfo.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Sets the default S/MIME config for the specified send-as alias. For more information, see [Manage S/MIME certificates with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/smime_certs).",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "id": "gmail.users.settings.sendAs.smimeInfo.setDefault",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "location": "path",
                      "default": "me",
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be retrieved.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "gmail.users.settings.sendAs.get",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ]
                },
                "verify": {
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "httpMethod": "POST",
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "default": "me",
                      "type": "string",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    },
                    "sendAsEmail": {
                      "type": "string",
                      "description": "The send-as alias to be verified.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Sends a verification email to the specified send-as alias address. The verification status must be `pending`. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.verify",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "request": {
                    "$ref": "SendAs"
                  },
                  "response": {
                    "$ref": "SendAs"
                  },
                  "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.create",
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "httpMethod": "POST",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "location": "path",
                      "default": "me",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListSendAsResponse"
                  },
                  "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "httpMethod": "GET",
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "default": "me",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "id": "gmail.users.settings.sendAs.list",
                  "path": "gmail/v1/users/{userId}/settings/sendAs"
                },
                "update": {
                  "id": "gmail.users.settings.sendAs.update",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be updated.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority."
                },
                "delete": {
                  "id": "gmail.users.settings.sendAs.delete",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "required": true,
                      "description": "The send-as alias to be deleted.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings). This method is only available to service account clients that have been delegated domain-wide authority."
                },
                "patch": {
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "required": true,
                      "description": "The send-as alias to be updated.",
                      "type": "string"
                    }
                  },
                  "id": "gmail.users.settings.sendAs.patch",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Patch the specified send-as alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ]
                }
              }
            },
            "delegates": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Lists the delegates for the specified account. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  },
                  "id": "gmail.users.settings.delegates.list",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates"
                },
                "create": {
                  "id": "gmail.users.settings.delegates.create",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "httpMethod": "POST",
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "default": "me",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "Delegate"
                  },
                  "request": {
                    "$ref": "Delegate"
                  },
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. A delegate user must be referred to by their primary email address, and not an email alias. When a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority."
                },
                "get": {
                  "response": {
                    "$ref": "Delegate"
                  },
                  "description": "Gets the specified delegate. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameters": {
                    "delegateEmail": {
                      "type": "string",
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "location": "path",
                      "required": true
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.settings.delegates.get",
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}"
                },
                "delete": {
                  "id": "gmail.users.settings.delegates.delete",
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameters": {
                    "delegateEmail": {
                      "type": "string",
                      "description": "The email address of the user to be removed as a delegate.",
                      "location": "path",
                      "required": true
                    },
                    "userId": {
                      "location": "path",
                      "default": "me",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority."
                }
              }
            },
            "cse": {
              "resources": {
                "keypairs": {
                  "methods": {
                    "enable": {
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "parameters": {
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to turn on.",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "location": "path",
                          "default": "me",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      },
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "disable": {
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "parameters": {
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to turn off.",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "location": "path",
                          "default": "me",
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      },
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "parameters": {
                        "keyPairId": {
                          "location": "path",
                          "required": true,
                          "description": "The identifier of the key pair to retrieve.",
                          "type": "string"
                        },
                        "userId": {
                          "location": "path",
                          "default": "me",
                          "type": "string",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}"
                    },
                    "create": {
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        },
                        "chainValidation": {
                          "enumDescriptions": [
                            "Enable all certificate chain validation and certificate revocation checks. Recommended for normal use.",
                            "Disable all certificate chain validation and certificate revocation checks. This may be useful when deliberately creating key pairs with invalid, out-of-use certificate chains to be used only for decryption of historical S/MIME messages. Key pairs created with invalid or revoked certificates cannot be used in a CseIdentity object."
                          ],
                          "description": "The type of certificate chain validation to perform at creation. The request will be rejected if the uploaded chain fails to satisfy the requested validation checks. When unspecified, this parameter defaults to `all`.",
                          "default": "all",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "all",
                            "none"
                          ]
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "id": "gmail.users.settings.cse.keypairs.create",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "request": {
                        "$ref": "CseKeyPair"
                      },
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "obliterate": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "request": {
                        "$ref": "ObliterateCseKeyPairRequest"
                      },
                      "id": "gmail.users.settings.cse.keypairs.obliterate",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "parameters": {
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to obliterate.",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate"
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "default": "20",
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries."
                        },
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results."
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "httpMethod": "GET",
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    }
                  }
                },
                "identities": {
                  "methods": {
                    "list": {
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "default": "20",
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries."
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "httpMethod": "GET",
                      "id": "gmail.users.settings.cse.identities.list",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities"
                    },
                    "create": {
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "httpMethod": "POST",
                      "id": "gmail.users.settings.cse.identities.create",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities"
                    },
                    "get": {
                      "id": "gmail.users.settings.cse.identities.get",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameters": {
                        "userId": {
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        },
                        "cseEmailAddress": {
                          "type": "string",
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "CseIdentity"
                      }
                    },
                    "patch": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "emailAddress": {
                          "location": "path",
                          "required": true,
                          "description": "The email address of the client-side encryption identity to update.",
                          "type": "string"
                        },
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true
                        }
                      },
                      "id": "gmail.users.settings.cse.identities.patch",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      },
[...]
