{
  "basePath": "",
  "ownerName": "Google",
  "name": "gmailpostmastertools",
  "canonicalName": "Postmaster Tools",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.user": {
          "description": "View and manage users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.traffic.readonly": {
          "description": "Get email traffic metrics for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster": {
          "description": "Get email traffic metrics, manage domains, and manage domain users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.domain": {
          "description": "View and manage the domains you have registered with Postmaster Tools"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "revision": "20260831",
  "id": "gmailpostmastertools:v2",
  "schemas": {
    "OneClickUnsubscribeVerdict": {
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "NO_UNSUB_GENERAL",
            "NO_UNSUB_SPAM_REPORTS",
            "NO_UNSUB_PROMO_SPAM_REPORTS"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Sender does not support one-click unsubscribe for the majority of their messages.",
            "Sender does not support one-click unsubscribe for most messages that are manually reported as spam.",
            "Sender does not support one-click unsubscribe for most promotional messages that are manually reported as spam. This classification of messages is a subset of those encompassed by `NO_UNSUB_SPAM_REPORTS`."
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "type": "string"
        }
      },
      "description": "Compliance verdict for whether a sender meets the one-click unsubscribe compliance requirement.",
      "type": "object",
      "id": "OneClickUnsubscribeVerdict"
    },
    "DomainComplianceData": {
      "description": "Compliance data for a given domain.",
      "properties": {
        "domainId": {
          "description": "Domain that this data is for.",
          "type": "string"
        },
        "rowData": {
          "type": "array",
          "items": {
            "$ref": "ComplianceRowData"
          },
          "description": "Data for each of the rows of the table. Each message contains all the data that backs a single row."
        },
        "honorUnsubscribeVerdict": {
          "$ref": "HonorUnsubscribeVerdict",
          "description": "Unsubscribe honoring compliance verdict."
        },
        "deliverabilityStatusVerdict": {
          "$ref": "DeliverabilityStatusVerdict",
          "readOnly": true,
          "description": "Output only. Deliverability status verdict."
        },
        "oneClickUnsubscribeVerdict": {
          "$ref": "OneClickUnsubscribeVerdict",
          "description": "One-click unsubscribe compliance verdict."
        }
      },
      "type": "object",
      "id": "DomainComplianceData"
    },
    "HonorUnsubscribeVerdict": {
      "type": "object",
      "id": "HonorUnsubscribeVerdict",
      "properties": {
        "status": {
          "description": "The compliance status.",
          "$ref": "ComplianceStatus"
        },
        "reason": {
          "type": "string",
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "enumDescriptions": [
            "Unspecified.",
            "The sender does not honor unsubscribe requests.",
            "The sender does not honor unsubscribe requests and consider to increase the number of relevant campaigns.",
            "The sender does not honor unsubscribe requests and consider to reduce the number of relevant campaigns."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "NOT_HONORING",
            "NOT_HONORING_TOO_FEW_CAMPAIGNS",
            "NOT_HONORING_TOO_MANY_CAMPAIGNS"
          ]
        }
      },
      "description": "Compliance verdict for whether a sender meets the unsubscribe honoring compliance requirement."
    },
    "StringList": {
      "id": "StringList",
      "type": "object",
      "properties": {
        "values": {
          "description": "The string values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a list of strings."
    },
    "DomainVerificationToken": {
      "id": "DomainVerificationToken",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): The DNS token a user can use to verify ownership of a domain.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain verification token. Format: domains/{domain}/verificationToken"
        },
        "verificationMethod": {
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "type": "string",
          "description": "The verification method used."
        },
        "token": {
          "description": "The verification token.",
          "type": "string"
        }
      }
    },
    "VerifyDomainRequest": {
      "properties": {
        "verificationMethod": {
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for VerifyDomain.",
      "id": "VerifyDomainRequest"
    },
    "ComplianceStatus": {
      "id": "ComplianceStatus",
      "description": "The status of a sender compliance requirement.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Output only. The compliance status.",
          "enumDescriptions": [
            "Unspecified.",
            "The compliance requirement is met, and the sender is deemed compliant.",
            "The compliance requirement is unmet, and the sender needs to do work to achieve compliance."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "NEEDS_WORK"
          ],
          "readOnly": true
        }
      }
    },
    "StatisticValue": {
      "description": "The actual value of a statistic.",
      "id": "StatisticValue",
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "Double value.",
          "type": "number"
        },
        "stringValue": {
          "description": "String value.",
          "type": "string"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Integer value."
        },
        "stringList": {
          "description": "List of string values.",
          "$ref": "StringList"
        },
        "floatValue": {
          "description": "Float value.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "BatchQueryDomainStatsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "QueryDomainStatsRequest"
          },
          "description": "Required. A list of individual query requests. Each request can be for a different domain. A maximum of 100 requests can be included in a single batch.",
          "type": "array"
        }
      },
      "description": "Request message for BatchQueryDomainStats.",
      "type": "object",
      "id": "BatchQueryDomainStatsRequest"
    },
    "CreateUserRequest": {
      "id": "CreateUserRequest",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The user to create."
        },
        "permission": {
          "description": "Optional. Specifies the permission level to give the user for the specified domain. If not specified, the default value for this field is READER.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "type": "string"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateUser.",
      "type": "object"
    },
    "VerifyDomainResponse": {
      "properties": {},
      "id": "VerifyDomainResponse",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for VerifyDomain.",
      "type": "object"
    },
    "DomainStat": {
      "id": "DomainStat",
      "description": "Email statistics for a domain for a specified time period or date.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DomainStat resource. Format: domains/{domain}/domainStats/{domain_stat} The `{domain_stat}` segment is an opaque, server-generated ID. We recommend using the `metric` field to identify queried metrics instead of parsing the name."
        },
        "metric": {
          "type": "string",
          "description": "The user-defined name from MetricDefinition.name in the request, used to correlate this result with the requested metric."
        },
        "value": {
          "description": "The value of the corresponding metric.",
          "$ref": "StatisticValue"
        },
        "date": {
          "description": "Optional. The specific date for these stats, if granularity is DAILY. This field is populated if the QueryDomainStatsRequest specified a DAILY aggregation granularity.",
          "$ref": "Date"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "MetricDefinition": {
      "type": "object",
      "description": "Defines a specific metric to query, including a user-defined name, the base metric type, and optional filters.",
      "id": "MetricDefinition",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Optional filters to apply to the metric."
        },
        "name": {
          "type": "string",
          "description": "Required. The user-defined name for this metric. This name will be used as the key for this metric's value in the response."
        },
        "baseMetric": {
          "$ref": "BaseMetric",
          "description": "Required. The underlying metric to query."
        }
      }
    },
    "ComplianceRowData": {
      "type": "object",
      "id": "ComplianceRowData",
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status for the requirement."
        },
        "requirement": {
          "enum": [
            "COMPLIANCE_REQUIREMENT_UNSPECIFIED",
            "SPF",
            "DKIM",
            "SPF_AND_DKIM",
            "DMARC_POLICY",
            "DMARC_ALIGNMENT",
            "MESSAGE_FORMATTING",
            "DNS_RECORDS",
            "ENCRYPTION",
            "USER_REPORTED_SPAM_RATE",
            "ONE_CLICK_UNSUBSCRIBE",
            "HONOR_UNSUBSCRIBE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Whether the sender has properly configured SPF.",
            "Whether the sender has properly configured DKIM.",
            "Whether the sender has properly configured both SPF and DKIM.",
            "Whether the sender has configured DMARC policy.",
            "Whether the From: header is aligned with DKIM or SPF",
            "Whether messages are correctly formatted according to RFC 5322.",
            "Whether the domain has forward and reverse DNS records.",
            "Whether messages has TLS encryption.",
            "Whether the sender is below a threshold for user-reported spam rate.",
            "Whether the sender sufficiently supports one-click unsubscribe. Note that the user-facing requirement is \"one-click unsubscribe\", but we require satisfaction of multiple \"unsubscribe support\" rules.",
            "Whether the sender honors user-initiated unsubscribe requests."
          ],
          "description": "The compliance requirement.",
          "type": "string"
        }
      },
      "description": "Data for a single row of the compliance status table."
    },
    "Domain": {
      "description": "Information about a domain registered by the user.",
      "id": "Domain",
      "type": "object",
      "properties": {
        "verificationState": {
          "description": "Output only. Information about a user's verification history and properties for the domain.",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The domain is unverified.",
            "The domain is verified."
          ],
          "readOnly": true,
          "type": "string"
        },
        "lastVerifyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp at which the domain was last verified by the user."
        },
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "description": "Output only. User's permission of this domain.",
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The timestamp at which the domain was added to the user's account.",
          "readOnly": true
        }
      }
    },
    "BatchQueryDomainStatsResult": {
      "description": "Represents the result of a single QueryDomainStatsRequest within a batch.",
      "properties": {
        "response": {
          "description": "The successful response for the individual query.",
          "$ref": "QueryDomainStatsResponse"
        },
        "error": {
          "$ref": "Status",
          "description": "The error status if the individual query failed."
        }
      },
      "type": "object",
      "id": "BatchQueryDomainStatsResult"
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "description": "The users that have access to the domain.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListUsersResponse",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for ListUsers."
    },
    "BaseMetric": {
      "properties": {
        "standardMetric": {
          "type": "string",
          "description": "A predefined standard metric.",
          "enumDescriptions": [
            "Unspecified standard metric. This value should not be used directly.",
            "Predefined metric for Feedback Loop (FBL) id. The `filter` field supports selecting the aggregation key type. Supported format: `aggregation_key_type` = \"\". Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for Feedback Loop (FBL) spam rate. The `filter` field requires a `feedback_loop_id` and optionally accepts an `aggregation_key_type`. Supported formats are: * `feedback_loop_id` = \"\" * `feedback_loop_id` = \"\" AND `aggregation_key_type` = \"\" If `aggregation_key_type` is omitted, it defaults to `FROM_HEADER`. Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for spam rate.",
            "The success rate of authentication mechanisms (DKIM, SPF, DMARC). Filter must be of type auth_type = \"\" where is one of: [spf, dkim, dmarc]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The total count of delivery errors encountered (temporary or permanent rejects). The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]",
            "Delivery error rate for the specified delivery error type. The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]"
          ],
          "enum": [
            "STANDARD_METRIC_UNSPECIFIED",
            "FEEDBACK_LOOP_ID",
            "FEEDBACK_LOOP_SPAM_RATE",
            "SPAM_RATE",
            "AUTH_SUCCESS_RATE",
            "TLS_ENCRYPTION_MESSAGE_COUNT",
            "TLS_ENCRYPTION_RATE",
            "DELIVERY_ERROR_COUNT",
            "DELIVERY_ERROR_RATE"
          ]
        }
      },
      "description": "Specifies the base metric to query, which can be a predefined standard metric or a user-defined custom metric (if supported in the future).",
      "id": "BaseMetric",
      "type": "object"
    },
    "DomainComplianceStatus": {
      "description": "Compliance status for a domain.",
      "id": "DomainComplianceStatus",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain's compliance status. Format: `domains/{domain_id}/complianceStatus`."
        },
        "complianceData": {
          "$ref": "DomainComplianceData",
          "description": "Compliance data for the registrable domain part of the domain in `name`. For example, if `name` is `domains/example.com/complianceStatus`, this field contains compliance data for `example.com`."
        },
        "subdomainComplianceData": {
          "$ref": "DomainComplianceData",
          "description": "Compliance data calculated specifically for the subdomain in `name`. This field is only populated if the domain in `name` is a subdomain that differs from its registrable domain (e.g., `sub.example.com`), and if compliance data is available for that specific subdomain."
        }
      }
    },
    "DateRange": {
      "id": "DateRange",
      "properties": {
        "start": {
          "description": "Required. The inclusive start date of the date range.",
          "$ref": "Date"
        },
        "end": {
          "$ref": "Date",
          "description": "Required. The inclusive end date of the date range."
        }
      },
      "description": "A single date range defined by a start and end date.",
      "type": "object"
    },
    "User": {
      "id": "User",
      "properties": {
        "user": {
          "description": "The user's email address.",
          "type": "string"
        },
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "description": "The permission level that the user has for the specified domain.",
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the user was granted access.",
          "format": "google-datetime",
          "type": "string"
        },
        "accessGranter": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user that added the current user."
        }
      },
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Information about a user's access to a domain."
    },
    "CreateDomainRequest": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateDomain.",
      "properties": {
        "domainId": {
          "description": "Required. The domain to add. e.g., \"example.com\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateDomainRequest"
    },
    "DeliverabilityStatusVerdict": {
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verdict of domain deliverability status.",
      "id": "DeliverabilityStatusVerdict",
      "properties": {
        "state": {
          "$ref": "ComplianceStatus",
          "description": "Output only. The compliance state.",
          "readOnly": true
        },
        "reason": {
          "readOnly": true,
          "description": "Output only. The specific reason for the compliance verdict.",
          "enum": [
            "REASON_UNSPECIFIED",
            "MESSAGE_VOLUME_LOW",
            "SMTP_ERRORS_HIGH",
            "SENDER_NOT_COMPLIANT",
            "SPAM_RATE_HIGH",
            "USER_FEEDBACK_NEGATIVE",
            "USER_FEEDBACK_LOW",
            "USER_FEEDBACK_POSITIVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Not enough outgoing email.",
            "Many messages with delivery errors.",
            "The sender does not meet the sender requirements.",
            "The spam rate is above 0.1%.",
            "Indicates users do not want to receive email messages.",
            "Users do not take action on messages.",
            "Users signal they want to receive email messages."
          ],
          "type": "string"
        }
      }
    },
    "TimeQuery": {
      "properties": {
        "dateRanges": {
          "description": "A list of date ranges.",
          "$ref": "DateRanges"
        },
        "dateList": {
          "description": "A list of specific dates.",
          "$ref": "DateList"
        }
      },
      "id": "TimeQuery",
      "description": "The date ranges or specific dates for which you want to retrieve data.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "BatchQueryDomainStatsResponse": {
      "description": "Response message for BatchQueryDomainStats.",
      "type": "object",
      "id": "BatchQueryDomainStatsResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "BatchQueryDomainStatsResult"
          },
          "description": "A list of responses, one for each query in the BatchQueryDomainStatsRequest. The order of responses will correspond to the order of requests."
        }
      }
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "description": "Response message for ListDomains.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "domains": {
          "description": "The domains that have been registered by the user.",
          "items": {
            "$ref": "Domain"
          },
          "type": "array"
        }
      }
    },
    "QueryDomainStatsRequest": {
      "description": "Request message for QueryDomainStats.",
      "id": "QueryDomainStatsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. The next_page_token value returned from a previous List request, if any. If the aggregation granularity is DAILY, the page token will be the encoded date + \"/\" + metric name. If the aggregation granularity is OVERALL, the page token will be the encoded metric name.",
          "type": "string"
        },
        "aggregationGranularity": {
          "enum": [
            "AGGREGATION_GRANULARITY_UNSPECIFIED",
            "DAILY",
            "OVERALL"
          ],
          "description": "Optional. The granularity at which to aggregate the statistics. If unspecified, defaults to DAILY.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified granularity. Defaults to DAILY.",
            "Statistics are aggregated on a daily basis. Each DomainStats entry in the response will correspond to a single day.",
            "Statistics are aggregated over the entire requested time period. Each DomainStats entry in the response will represent the total for the period."
          ]
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of DomainStats resources to return in the response. The server may return fewer than this value. If unspecified, a default value of 10 will be used. The maximum value is 200."
        },
        "metricDefinitions": {
          "description": "Required. The specific metrics to query. You can define a custom name for each metric, which will be used in the response.",
          "type": "array",
          "items": {
            "$ref": "MetricDefinition"
          }
        },
        "parent": {
          "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
          "type": "string"
        },
        "timeQuery": {
          "$ref": "TimeQuery",
          "description": "Required. The time range or specific dates for which to retrieve the metrics."
        }
      }
    },
    "DateList": {
      "description": "A set of specific dates.",
      "properties": {
        "dates": {
          "description": "Required. The list of specific dates for which to retrieve data.",
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DateList"
    },
    "DateRanges": {
      "properties": {
        "dateRanges": {
          "items": {
            "$ref": "DateRange"
          },
          "description": "Required. The list of date ranges for which to retrieve data.",
          "type": "array"
        }
      },
      "description": "A set of date ranges.",
      "id": "DateRanges",
      "type": "object"
    },
    "QueryDomainStatsResponse": {
      "type": "object",
      "properties": {
        "domainStats": {
          "description": "The list of domain statistics. Each DomainStat object contains the value for a metric requested in the QueryDomainStatsRequest.",
          "type": "array",
          "items": {
            "$ref": "DomainStat"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for QueryDomainStats.",
      "id": "QueryDomainStatsResponse"
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "protocol": "rest",
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Gmail Postmaster Tools API",
  "resources": {
    "domains": {
      "methods": {
        "create": {
          "id": "gmailpostmastertools.domains.create",
          "request": {
            "$ref": "CreateDomainRequest"
          },
          "parameters": {},
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Adds a domain to the user's account. Returns INVALID_ARGUMENT if a domain is not provided. Returns ALREADY_EXISTS if the domain is already registered by the user.",
          "response": {
            "$ref": "Domain"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v2/domains",
          "path": "v2/domains"
        },
        "verify": {
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verifies a user's ownership of a domain at the DNS level. Note that this is distinct from checking if the user has OWNER status within IRDB.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The domain to verify.",
              "location": "path",
              "required": true,
              "pattern": "^domains/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "VerifyDomainResponse"
          },
          "path": "v2/{+name}:verify",
          "flatPath": "v2/domains/{domainsId}:verify",
          "id": "gmailpostmastertools.domains.verify",
          "request": {
            "$ref": "VerifyDomainRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ]
        },
        "getComplianceStatus": {
          "description": "Retrieves the compliance status for a given domain. Returns PERMISSION_DENIED if you don't have permission to access compliance status for the domain.",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "flatPath": "v2/domains/{domainsId}/complianceStatus",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^domains/[^/]+/complianceStatus$",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the domain's compliance status to retrieve. Format: `domains/{domain_id}/complianceStatus`."
            }
          },
          "id": "gmailpostmastertools.domains.getComplianceStatus",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "response": {
            "$ref": "DomainComplianceStatus"
          },
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "id": "gmailpostmastertools.domains.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous List request, if any."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. Requested page size. Server may return fewer domains than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200."
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "path": "v2/domains",
          "description": "Retrieves a list of all domains registered by you, along with their corresponding metadata. The order of domains in the response is unspecified and non-deterministic. Newly registered domains will not necessarily be added to the end of this list.",
          "httpMethod": "GET",
          "flatPath": "v2/domains"
        },
        "delete": {
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a domain from the user's account. Returns NOT_FOUND if the domain is not registered by the user.",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^domains/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The domain to delete.",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "gmailpostmastertools.domains.delete",
          "flatPath": "v2/domains/{domainsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ]
        },
        "getVerificationToken": {
          "id": "gmailpostmastertools.domains.getVerificationToken",
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "flatPath": "v2/domains/{domainsId}/verificationToken",
          "parameters": {
            "verificationMethod": {
              "enum": [
                "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
                "TXT",
                "CNAME"
              ],
              "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Generate a DNS TXT verification token.",
                "Generate a DNS CNAME verification token."
              ],
              "location": "query"
            },
            "name": {
              "pattern": "^domains/[^/]+/verificationToken$",
              "description": "Required. The resource name of the verification token to retrieve. Format: `domains/{domain}/verificationToken`",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Gets a verification token used for verifying a user's ownership over a domain.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "DomainVerificationToken"
          },
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^domains/[^/]+$"
            }
          },
          "description": "Retrieves detailed information about a domain registered by you. Returns NOT_FOUND if the domain is not registered by you. Domain represents the metadata of a domain that has been registered within the system and linked to a user.",
          "path": "v2/{+name}",
          "flatPath": "v2/domains/{domainsId}",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "httpMethod": "GET",
          "id": "gmailpostmastertools.domains.get",
          "response": {
            "$ref": "Domain"
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "domainStats": {
          "methods": {
            "query": {
              "flatPath": "v2/domains/{domainsId}/domainStats:query",
              "description": "Retrieves a list of domain statistics for a given domain and time period. Returns statistics only for dates where data is available. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for the domain.",
              "request": {
                "$ref": "QueryDomainStatsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.traffic.readonly"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^domains/[^/]+$",
                  "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/domainStats:query",
              "response": {
                "$ref": "QueryDomainStatsResponse"
              },
              "httpMethod": "POST",
              "id": "gmailpostmastertools.domains.domainStats.query"
            }
          }
        },
        "users": {
          "methods": {
            "get": {
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "id": "gmailpostmastertools.domains.users.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the user to retrieve. Format: `domains/{domain}/users/{user}`",
                  "pattern": "^domains/[^/]+/users/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Retrieves detailed information about a user that has access to a domain. Returns NOT_FOUND if the user does not exist.",
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "response": {
                "$ref": "User"
              },
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a user, who has access to a domain. Returns INVALID_ARGUMENT if a user is not provided.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource where this user will be created. Format: domains/{domain}",
                  "pattern": "^domains/[^/]+$"
                }
              },
              "path": "v2/{+parent}/users",
              "request": {
                "$ref": "CreateUserRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/domains/{domainsId}/users",
              "id": "gmailpostmastertools.domains.users.create"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "User"
              },
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "id": "gmailpostmastertools.domains.users.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "The list of fields to update."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Updates a user for a domain. Only Owners and Admins can execute this RPC, only a user's domain permission will be allowed to be updated. Returns NOT_FOUND if the user does not exist. Returns INVALID_ARGUMENT if a permission is not provided or is PERMISSION_UNSPECIFIED, NONE, or OWNER.",
              "request": {
                "$ref": "User"
              }
            },
            "list": {
              "response": {
                "$ref": "ListUsersResponse"
              },
              "httpMethod": "GET",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Lists the users that have access to a domain.",
              "id": "gmailpostmastertools.domains.users.list",
              "path": "v2/{+parent}/users",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer users than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name for which to list users. Format: `domains/{domain}`",
                  "pattern": "^domains/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "flatPath": "v2/domains/{domainsId}/users"
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the user to delete. Format: domains/{domain}/users/{user}",
                  "location": "path",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "gmailpostmastertools.domains.users.delete",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a user from a domain. Returns NOT_FOUND if the user does not exist."
            }
          }
        }
      }
    },
    "domainStats": {
      "methods": {
        "batchQuery": {
          "path": "v2/domainStats:batchQuery",
          "description": "Executes a batch of QueryDomainStats requests for multiple domains. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for any of the requested domains.",
          "request": {
            "$ref": "BatchQueryDomainStatsRequest"
          },
          "id": "gmailpostmastertools.domainStats.batchQuery",
          "response": {
            "$ref": "BatchQueryDomainStatsResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "flatPath": "v2/domainStats:batchQuery",
          "httpMethod": "POST"
        }
      }
    }
  },
  "servicePath": "",
  "version_module": true
}