{
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260901",
  "kind": "discovery#restDescription",
  "name": "gmailpostmastertools",
  "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
  "servicePath": "",
  "basePath": "",
  "id": "gmailpostmastertools:v2",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "domainStats": {
      "methods": {
        "batchQuery": {
          "path": "v2/domainStats:batchQuery",
          "response": {
            "$ref": "BatchQueryDomainStatsResponse"
          },
          "parameterOrder": [],
          "id": "gmailpostmastertools.domainStats.batchQuery",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "httpMethod": "POST",
          "flatPath": "v2/domainStats:batchQuery",
          "parameters": {},
          "description": "Executes a batch of QueryDomainStats requests for multiple domains. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for any of the requested domains.",
          "request": {
            "$ref": "BatchQueryDomainStatsRequest"
          }
        }
      }
    },
    "domains": {
      "methods": {
        "get": {
          "id": "gmailpostmastertools.domains.get",
          "description": "Retrieves detailed information about a domain registered by you. Returns NOT_FOUND if the domain is not registered by you. Domain represents the metadata of a domain that has been registered within the system and linked to a user.",
          "flatPath": "v2/domains/{domainsId}",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Domain"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
              "required": true,
              "pattern": "^domains/[^/]+$"
            }
          }
        },
        "getComplianceStatus": {
          "id": "gmailpostmastertools.domains.getComplianceStatus",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^domains/[^/]+/complianceStatus$",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the domain's compliance status to retrieve. Format: `domains/{domain_id}/complianceStatus`."
            }
          },
          "flatPath": "v2/domains/{domainsId}/complianceStatus",
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "response": {
            "$ref": "DomainComplianceStatus"
          },
          "description": "Retrieves the compliance status for a given domain. Returns PERMISSION_DENIED if you don't have permission to access compliance status for the domain.",
          "parameterOrder": [
            "name"
          ]
        },
        "verify": {
          "httpMethod": "POST",
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verifies a user's ownership of a domain at the DNS level. Note that this is distinct from checking if the user has OWNER status within IRDB.",
          "request": {
            "$ref": "VerifyDomainRequest"
          },
          "flatPath": "v2/domains/{domainsId}:verify",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The domain to verify.",
              "pattern": "^domains/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "gmailpostmastertools.domains.verify",
          "response": {
            "$ref": "VerifyDomainResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "path": "v2/{+name}:verify"
        },
        "getVerificationToken": {
          "id": "gmailpostmastertools.domains.getVerificationToken",
          "response": {
            "$ref": "DomainVerificationToken"
          },
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Gets a verification token used for verifying a user's ownership over a domain.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the verification token to retrieve. Format: `domains/{domain}/verificationToken`",
              "pattern": "^domains/[^/]+/verificationToken$"
            },
            "verificationMethod": {
              "location": "query",
              "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
              "enumDescriptions": [
                "Unspecified.",
                "Generate a DNS TXT verification token.",
                "Generate a DNS CNAME verification token."
              ],
              "enum": [
                "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
                "TXT",
                "CNAME"
              ],
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "path": "v2/{+name}",
          "flatPath": "v2/domains/{domainsId}/verificationToken",
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "v2/domains",
          "path": "v2/domains",
          "description": "Retrieves a list of all domains registered by you, along with their corresponding metadata. The order of domains in the response is unspecified and non-deterministic. Newly registered domains will not necessarily be added to the end of this list.",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "parameterOrder": [],
          "id": "gmailpostmastertools.domains.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. Requested page size. Server may return fewer domains than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
              "type": "integer",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListDomainsResponse"
          }
        },
        "create": {
          "path": "v2/domains",
          "parameters": {},
          "id": "gmailpostmastertools.domains.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "Domain"
          },
          "flatPath": "v2/domains",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateDomainRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Adds a domain to the user's account. Returns INVALID_ARGUMENT if a domain is not provided. Returns ALREADY_EXISTS if the domain is already registered by the user."
        },
        "delete": {
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a domain from the user's account. Returns NOT_FOUND if the domain is not registered by the user.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "gmailpostmastertools.domains.delete",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "parameters": {
            "name": {
              "pattern": "^domains/[^/]+$",
              "required": true,
              "description": "Required. The domain to delete.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "v2/domains/{domainsId}"
        }
      },
      "resources": {
        "users": {
          "methods": {
            "patch": {
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Updates a user for a domain. Only Owners and Admins can execute this RPC, only a user's domain permission will be allowed to be updated. Returns NOT_FOUND if the user does not exist. Returns INVALID_ARGUMENT if a permission is not provided or is PERMISSION_UNSPECIFIED, NONE, or OWNER.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "gmailpostmastertools.domains.users.patch",
              "request": {
                "$ref": "User"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "response": {
                "$ref": "User"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The list of fields to update."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
                  "pattern": "^domains/[^/]+/users/[^/]+$"
                }
              }
            },
            "get": {
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Retrieves detailed information about a user that has access to a domain. Returns NOT_FOUND if the user does not exist.",
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the user to retrieve. Format: `domains/{domain}/users/{user}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "id": "gmailpostmastertools.domains.users.get",
              "response": {
                "$ref": "User"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer users than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^domains/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name for which to list users. Format: `domains/{domain}`",
                  "required": true
                }
              },
              "id": "gmailpostmastertools.domains.users.list",
              "flatPath": "v2/domains/{domainsId}/users",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/users",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Lists the users that have access to a domain.",
              "response": {
                "$ref": "ListUsersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ]
            },
            "create": {
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a user, who has access to a domain. Returns INVALID_ARGUMENT if a user is not provided.",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "id": "gmailpostmastertools.domains.users.create",
              "response": {
                "$ref": "User"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource where this user will be created. Format: domains/{domain}",
                  "pattern": "^domains/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/domains/{domainsId}/users",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateUserRequest"
              },
              "path": "v2/{+parent}/users"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "description": "Required. The resource name of the user to delete. Format: domains/{domain}/users/{user}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a user from a domain. Returns NOT_FOUND if the user does not exist.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "id": "gmailpostmastertools.domains.users.delete"
            }
          }
        },
        "domainStats": {
          "methods": {
            "query": {
              "flatPath": "v2/domains/{domainsId}/domainStats:query",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "gmailpostmastertools.domains.domainStats.query",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
                  "required": true,
                  "type": "string",
                  "pattern": "^domains/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Retrieves a list of domain statistics for a given domain and time period. Returns statistics only for dates where data is available. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for the domain.",
              "request": {
                "$ref": "QueryDomainStatsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.traffic.readonly"
              ],
              "response": {
                "$ref": "QueryDomainStatsResponse"
              },
              "path": "v2/{+parent}/domainStats:query"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.traffic.readonly": {
          "description": "Get email traffic metrics for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.domain": {
          "description": "View and manage the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.user": {
          "description": "View and manage users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster": {
          "description": "Get email traffic metrics, manage domains, and manage domain users for the domains you have registered with Postmaster Tools"
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "Gmail Postmaster Tools API",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "schemas": {
    "StatisticValue": {
      "description": "The actual value of a statistic.",
      "id": "StatisticValue",
      "properties": {
        "intValue": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        },
        "floatValue": {
          "format": "float",
          "description": "Float value.",
          "type": "number"
        },
        "stringList": {
          "description": "List of string values.",
          "$ref": "StringList"
        },
        "doubleValue": {
          "description": "Double value.",
          "format": "double",
          "type": "number"
        },
        "stringValue": {
          "type": "string",
          "description": "String value."
        }
      },
      "type": "object"
    },
    "DateList": {
      "id": "DateList",
      "properties": {
        "dates": {
          "type": "array",
          "items": {
            "$ref": "Date"
          },
          "description": "Required. The list of specific dates for which to retrieve data."
        }
      },
      "description": "A set of specific dates.",
      "type": "object"
    },
    "DateRanges": {
      "type": "object",
      "properties": {
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "DateRange"
          },
          "description": "Required. The list of date ranges for which to retrieve data."
        }
      },
      "id": "DateRanges",
      "description": "A set of date ranges."
    },
    "BatchQueryDomainStatsRequest": {
      "id": "BatchQueryDomainStatsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of individual query requests. Each request can be for a different domain. A maximum of 100 requests can be included in a single batch.",
          "items": {
            "$ref": "QueryDomainStatsRequest"
          }
        }
      },
      "type": "object",
      "description": "Request message for BatchQueryDomainStats."
    },
    "QueryDomainStatsResponse": {
      "id": "QueryDomainStatsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "domainStats": {
          "items": {
            "$ref": "DomainStat"
          },
          "type": "array",
          "description": "The list of domain statistics. Each DomainStat object contains the value for a metric requested in the QueryDomainStatsRequest."
        }
      },
      "type": "object",
      "description": "Response message for QueryDomainStats."
    },
    "DateRange": {
      "id": "DateRange",
      "description": "A single date range defined by a start and end date.",
      "properties": {
        "start": {
          "$ref": "Date",
          "description": "Required. The inclusive start date of the date range."
        },
        "end": {
          "$ref": "Date",
          "description": "Required. The inclusive end date of the date range."
        }
      },
      "type": "object"
    },
    "DomainComplianceData": {
      "type": "object",
      "properties": {
        "rowData": {
          "items": {
            "$ref": "ComplianceRowData"
          },
          "type": "array",
          "description": "Data for each of the rows of the table. Each message contains all the data that backs a single row."
        },
        "honorUnsubscribeVerdict": {
          "$ref": "HonorUnsubscribeVerdict",
          "description": "Unsubscribe honoring compliance verdict."
        },
        "oneClickUnsubscribeVerdict": {
          "$ref": "OneClickUnsubscribeVerdict",
          "description": "One-click unsubscribe compliance verdict."
        },
        "domainId": {
          "type": "string",
          "description": "Domain that this data is for."
        },
        "deliverabilityStatusVerdict": {
          "$ref": "DeliverabilityStatusVerdict",
          "readOnly": true,
          "description": "Output only. Deliverability status verdict."
        }
      },
      "id": "DomainComplianceData",
      "description": "Compliance data for a given domain."
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    },
    "StringList": {
      "id": "StringList",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The string values.",
          "type": "array"
        }
      },
      "description": "Represents a list of strings."
    },
    "VerifyDomainResponse": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for VerifyDomain.",
      "type": "object",
      "id": "VerifyDomainResponse",
      "properties": {}
    },
    "BatchQueryDomainStatsResponse": {
      "type": "object",
      "id": "BatchQueryDomainStatsResponse",
      "description": "Response message for BatchQueryDomainStats.",
      "properties": {
        "results": {
          "items": {
            "$ref": "BatchQueryDomainStatsResult"
          },
          "description": "A list of responses, one for each query in the BatchQueryDomainStatsRequest. The order of responses will correspond to the order of requests.",
          "type": "array"
        }
      }
    },
    "CreateDomainRequest": {
      "type": "object",
      "id": "CreateDomainRequest",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateDomain.",
      "properties": {
        "domainId": {
          "type": "string",
          "description": "Required. The domain to add. e.g., \"example.com\""
        }
      }
    },
    "Domain": {
      "type": "object",
      "description": "Information about a domain registered by the user.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com)."
        },
        "verificationState": {
          "enumDescriptions": [
            "Unspecified.",
            "The domain is unverified.",
            "The domain is verified."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "description": "Output only. Information about a user's verification history and properties for the domain.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Immutable. The timestamp at which the domain was added to the user's account.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastVerifyTime": {
          "description": "The timestamp at which the domain was last verified by the user.",
          "format": "google-datetime",
          "type": "string"
        },
        "permission": {
          "type": "string",
          "description": "Output only. User's permission of this domain.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ]
        }
      },
      "id": "Domain"
    },
    "DomainVerificationToken": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): The DNS token a user can use to verify ownership of a domain.",
      "type": "object",
      "id": "DomainVerificationToken",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "description": "The verification method used."
        },
        "name": {
          "description": "Identifier. The resource name of the domain verification token. Format: domains/{domain}/verificationToken",
          "type": "string"
        },
        "token": {
          "description": "The verification token.",
          "type": "string"
        }
      }
    },
    "ListDomainsResponse": {
      "type": "object",
      "id": "ListDomainsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "Domain"
          },
          "description": "The domains that have been registered by the user."
        }
      },
      "description": "Response message for ListDomains."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "TimeQuery": {
      "properties": {
        "dateList": {
          "$ref": "DateList",
          "description": "A list of specific dates."
        },
        "dateRanges": {
          "$ref": "DateRanges",
          "description": "A list of date ranges."
        }
      },
      "id": "TimeQuery",
      "description": "The date ranges or specific dates for which you want to retrieve data.",
      "type": "object"
    },
    "BaseMetric": {
      "id": "BaseMetric",
      "properties": {
        "standardMetric": {
          "type": "string",
          "enum": [
            "STANDARD_METRIC_UNSPECIFIED",
            "FEEDBACK_LOOP_ID",
            "FEEDBACK_LOOP_SPAM_RATE",
            "SPAM_RATE",
            "AUTH_SUCCESS_RATE",
            "TLS_ENCRYPTION_MESSAGE_COUNT",
            "TLS_ENCRYPTION_RATE",
            "DELIVERY_ERROR_COUNT",
            "DELIVERY_ERROR_RATE"
          ],
          "description": "A predefined standard metric.",
          "enumDescriptions": [
            "Unspecified standard metric. This value should not be used directly.",
            "Predefined metric for Feedback Loop (FBL) id. The `filter` field supports selecting the aggregation key type. Supported format: `aggregation_key_type` = \"\". Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for Feedback Loop (FBL) spam rate. The `filter` field requires a `feedback_loop_id` and optionally accepts an `aggregation_key_type`. Supported formats are: * `feedback_loop_id` = \"\" * `feedback_loop_id` = \"\" AND `aggregation_key_type` = \"\" If `aggregation_key_type` is omitted, it defaults to `FROM_HEADER`. Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for spam rate.",
            "The success rate of authentication mechanisms (DKIM, SPF, DMARC). Filter must be of type auth_type = \"\" where is one of: [spf, dkim, dmarc]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The total count of delivery errors encountered (temporary or permanent rejects). The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]",
            "Delivery error rate for the specified delivery error type. The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]"
          ]
        }
      },
      "description": "Specifies the base metric to query, which can be a predefined standard metric or a user-defined custom metric (if supported in the future).",
      "type": "object"
    },
    "CreateUserRequest": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateUser.",
      "properties": {
        "userId": {
          "description": "Required. The user to create.",
          "type": "string"
        },
        "permission": {
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "type": "string",
          "description": "Optional. Specifies the permission level to give the user for the specified domain. If not specified, the default value for this field is READER.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ]
        }
      },
      "type": "object",
      "id": "CreateUserRequest"
    },
    "OneClickUnsubscribeVerdict": {
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "enumDescriptions": [
            "Unspecified.",
            "Sender does not support one-click unsubscribe for the majority of their messages.",
            "Sender does not support one-click unsubscribe for most messages that are manually reported as spam.",
            "Sender does not support one-click unsubscribe for most promotional messages that are manually reported as spam. This classification of messages is a subset of those encompassed by `NO_UNSUB_SPAM_REPORTS`."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "NO_UNSUB_GENERAL",
            "NO_UNSUB_SPAM_REPORTS",
            "NO_UNSUB_PROMO_SPAM_REPORTS"
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OneClickUnsubscribeVerdict",
      "description": "Compliance verdict for whether a sender meets the one-click unsubscribe compliance requirement."
    },
    "HonorUnsubscribeVerdict": {
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "NOT_HONORING",
            "NOT_HONORING_TOO_FEW_CAMPAIGNS",
            "NOT_HONORING_TOO_MANY_CAMPAIGNS"
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The sender does not honor unsubscribe requests.",
            "The sender does not honor unsubscribe requests and consider to increase the number of relevant campaigns.",
            "The sender does not honor unsubscribe requests and consider to reduce the number of relevant campaigns."
          ]
        }
      },
      "id": "HonorUnsubscribeVerdict",
      "type": "object",
      "description": "Compliance verdict for whether a sender meets the unsubscribe honoring compliance requirement."
    },
    "ComplianceRowData": {
      "id": "ComplianceRowData",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status for the requirement."
        },
        "requirement": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Whether the sender has properly configured SPF.",
            "Whether the sender has properly configured DKIM.",
            "Whether the sender has properly configured both SPF and DKIM.",
            "Whether the sender has configured DMARC policy.",
            "Whether the From: header is aligned with DKIM or SPF",
            "Whether messages are correctly formatted according to RFC 5322.",
            "Whether the domain has forward and reverse DNS records.",
            "Whether messages has TLS encryption.",
            "Whether the sender is below a threshold for user-reported spam rate.",
            "Whether the sender sufficiently supports one-click unsubscribe. Note that the user-facing requirement is \"one-click unsubscribe\", but we require satisfaction of multiple \"unsubscribe support\" rules.",
            "Whether the sender honors user-initiated unsubscribe requests."
          ],
          "enum": [
            "COMPLIANCE_REQUIREMENT_UNSPECIFIED",
            "SPF",
            "DKIM",
            "SPF_AND_DKIM",
            "DMARC_POLICY",
            "DMARC_ALIGNMENT",
            "MESSAGE_FORMATTING",
            "DNS_RECORDS",
            "ENCRYPTION",
            "USER_REPORTED_SPAM_RATE",
            "ONE_CLICK_UNSUBSCRIBE",
            "HONOR_UNSUBSCRIBE"
          ],
          "description": "The compliance requirement."
        }
      },
      "description": "Data for a single row of the compliance status table."
    },
    "DomainStat": {
      "properties": {
        "metric": {
          "type": "string",
          "description": "The user-defined name from MetricDefinition.name in the request, used to correlate this result with the requested metric."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the DomainStat resource. Format: domains/{domain}/domainStats/{domain_stat} The `{domain_stat}` segment is an opaque, server-generated ID. We recommend using the `metric` field to identify queried metrics instead of parsing the name.",
          "readOnly": true
        },
        "date": {
          "$ref": "Date",
          "description": "Optional. The specific date for these stats, if granularity is DAILY. This field is populated if the QueryDomainStatsRequest specified a DAILY aggregation granularity."
        },
        "value": {
          "description": "The value of the corresponding metric.",
          "$ref": "StatisticValue"
        }
      },
      "type": "object",
      "id": "DomainStat",
      "description": "Email statistics for a domain for a specified time period or date."
    },
    "BatchQueryDomainStatsResult": {
      "description": "Represents the result of a single QueryDomainStatsRequest within a batch.",
      "id": "BatchQueryDomainStatsResult",
      "type": "object",
      "properties": {
        "response": {
          "description": "The successful response for the individual query.",
          "$ref": "QueryDomainStatsResponse"
        },
        "error": {
          "description": "The error status if the individual query failed.",
          "$ref": "Status"
        }
      }
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "users": {
          "description": "The users that have access to the domain.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for ListUsers."
    },
    "User": {
      "id": "User",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Information about a user's access to a domain.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the user was granted access."
        },
        "name": {
          "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
          "type": "string"
        },
        "accessGranter": {
          "description": "Output only. The user that added the current user.",
          "readOnly": true,
          "type": "string"
        },
        "user": {
          "description": "The user's email address.",
          "type": "string"
        },
        "permission": {
          "type": "string",
          "description": "The permission level that the user has for the specified domain.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        }
      }
    },
    "VerifyDomainRequest": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for VerifyDomain.",
      "id": "VerifyDomainRequest",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME."
        }
      },
      "type": "object"
    },
    "QueryDomainStatsRequest": {
      "description": "Request message for QueryDomainStats.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. The next_page_token value returned from a previous List request, if any. If the aggregation granularity is DAILY, the page token will be the encoded date + \"/\" + metric name. If the aggregation granularity is OVERALL, the page token will be the encoded metric name.",
          "type": "string"
        },
        "metricDefinitions": {
          "description": "Required. The specific metrics to query. You can define a custom name for each metric, which will be used in the response.",
          "type": "array",
          "items": {
            "$ref": "MetricDefinition"
          }
        },
        "timeQuery": {
          "$ref": "TimeQuery",
          "description": "Required. The time range or specific dates for which to retrieve the metrics."
        },
        "pageSize": {
          "description": "Optional. The maximum number of DomainStats resources to return in the response. The server may return fewer than this value. If unspecified, a default value of 10 will be used. The maximum value is 200.",
          "format": "int32",
          "type": "integer"
        },
        "aggregationGranularity": {
          "description": "Optional. The granularity at which to aggregate the statistics. If unspecified, defaults to DAILY.",
          "type": "string",
          "enum": [
            "AGGREGATION_GRANULARITY_UNSPECIFIED",
            "DAILY",
            "OVERALL"
          ],
          "enumDescriptions": [
            "Unspecified granularity. Defaults to DAILY.",
            "Statistics are aggregated on a daily basis. Each DomainStats entry in the response will correspond to a single day.",
            "Statistics are aggregated over the entire requested time period. Each DomainStats entry in the response will represent the total for the period."
          ]
        },
        "parent": {
          "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
          "type": "string"
        }
      },
      "id": "QueryDomainStatsRequest"
    },
    "MetricDefinition": {
      "description": "Defines a specific metric to query, including a user-defined name, the base metric type, and optional filters.",
      "type": "object",
      "properties": {
        "baseMetric": {
          "description": "Required. The underlying metric to query.",
          "$ref": "BaseMetric"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Optional filters to apply to the metric."
        },
        "name": {
          "description": "Required. The user-defined name for this metric. This name will be used as the key for this metric's value in the response.",
          "type": "string"
        }
      },
      "id": "MetricDefinition"
    },
    "ComplianceStatus": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Output only. The compliance status.",
          "enumDescriptions": [
            "Unspecified.",
            "The compliance requirement is met, and the sender is deemed compliant.",
            "The compliance requirement is unmet, and the sender needs to do work to achieve compliance."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "NEEDS_WORK"
          ],
          "readOnly": true
        }
      },
      "id": "ComplianceStatus",
      "description": "The status of a sender compliance requirement."
    },
    "DomainComplianceStatus": {
      "id": "DomainComplianceStatus",
      "type": "object",
      "properties": {
        "complianceData": {
          "description": "Compliance data for the registrable domain part of the domain in `name`. For example, if `name` is `domains/example.com/complianceStatus`, this field contains compliance data for `example.com`.",
          "$ref": "DomainComplianceData"
        },
        "subdomainComplianceData": {
          "description": "Compliance data calculated specifically for the subdomain in `name`. This field is only populated if the domain in `name` is a subdomain that differs from its registrable domain (e.g., `sub.example.com`), and if compliance data is available for that specific subdomain.",
          "$ref": "DomainComplianceData"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain's compliance status. Format: `domains/{domain_id}/complianceStatus`."
        }
      },
      "description": "Compliance status for a domain."
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DeliverabilityStatusVerdict": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verdict of domain deliverability status.",
      "id": "DeliverabilityStatusVerdict",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The compliance state.",
          "$ref": "ComplianceStatus"
        },
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "MESSAGE_VOLUME_LOW",
            "SMTP_ERRORS_HIGH",
            "SENDER_NOT_COMPLIANT",
            "SPAM_RATE_HIGH",
            "USER_FEEDBACK_NEGATIVE",
            "USER_FEEDBACK_LOW",
            "USER_FEEDBACK_POSITIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Not enough outgoing email.",
            "Many messages with delivery errors.",
            "The sender does not meet the sender requirements.",
            "The spam rate is above 0.1%.",
            "Indicates users do not want to receive email messages.",
            "Users do not take action on messages.",
            "Users signal they want to receive email messages."
          ],
          "description": "Output only. The specific reason for the compliance verdict.",
          "readOnly": true
        }
      },
      "type": "object"
    }
  },
  "canonicalName": "Postmaster Tools",
  "version": "v2"
}