{
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://healthcare.mtls.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "revision": "20260806",
  "discoveryVersion": "v1",
  "baseUrl": "https://healthcare.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "kind": "discovery#restDescription",
  "description": "Manage, store, and access healthcare data in Google Cloud Platform.",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/healthcare",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-healthcare": {
          "description": "Read, write and manage healthcare data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://healthcare.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Healthcare",
  "schemas": {
    "AccessDeterminationLogConfig": {
      "id": "AccessDeterminationLogConfig",
      "description": "Configures consent audit log config for FHIR create, read, update, and delete (CRUD) operations. Cloud audit log for healthcare API must be [enabled](https://cloud.google.com/logging/docs/audit/configure-data-access#config-console-enable). The consent-related logs are included as part of `protoPayload.metadata`.",
      "type": "object",
      "properties": {
        "logLevel": {
          "enumDescriptions": [
            "No log level specified. This value is unused.",
            "No additional consent-related logging is added to audit logs.",
            "The following information is included: * One of the following [`consentMode`](https://cloud.google.com/healthcare-api/docs/fhir-consent#audit_logs) fields: (`off`|`emptyScope`|`enforced`|`btg`|`bypass`). * The accessor's request headers * The `log_level` of the AccessDeterminationLogConfig * The final consent evaluation (`PERMIT`, `DENY`, or `NO_CONSENT`) * A human-readable summary of the evaluation",
            "Includes `MINIMUM` and, for each resource owner, returns: * The resource owner's name * Most specific part of the `X-Consent-Scope` resulting in consensual determination * Timestamp of the applied enforcement leading to the decision * Enforcement version at the time the applicable consents were applied * The Consent resource name * The timestamp of the Consent resource used for enforcement * Policy type (`PATIENT` or `ADMIN`) Due to the limited space for logging, this mode is the same as `MINIMUM` for methods that return multiple resources (such as FHIR Search)."
          ],
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "DISABLED",
            "MINIMUM",
            "VERBOSE"
          ],
          "description": "Optional. Controls the amount of detail to include as part of the audit logs.",
          "type": "string"
        }
      }
    },
    "RollbackHL7MessagesFilteringFields": {
      "id": "RollbackHL7MessagesFilteringFields",
      "description": "Filtering fields for an HL7v2 rollback. Currently only supports a list of operation ids to roll back.",
      "type": "object",
      "properties": {
        "operationIds": {
          "description": "Optional. A list of operation IDs to roll back.",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        }
      }
    },
    "ConsentEvaluation": {
      "description": "The detailed evaluation of a particular Consent.",
      "type": "object",
      "properties": {
        "evaluationResult": {
          "description": "The evaluation result.",
          "type": "string",
          "enumDescriptions": [
            "No evaluation result specified. This option is invalid.",
            "The Consent is not applicable to the requested access determination. For example, the Consent does not apply to the user for which the access determination is requested, or it has a `state` of `REVOKED`, or it has expired.",
            "The Consent does not have a policy that matches the `resource_attributes` of the evaluated resource.",
            "The Consent has at least one policy that matches the `resource_attributes` of the evaluated resource, but no `authorization_rule` was satisfied.",
            "The Consent has at least one policy that matches the `resource_attributes` of the evaluated resource, and at least one `authorization_rule` was satisfied."
          ],
          "enum": [
            "EVALUATION_RESULT_UNSPECIFIED",
            "NOT_APPLICABLE",
            "NO_MATCHING_POLICY",
            "NO_SATISFIED_POLICY",
            "HAS_SATISFIED_POLICY"
          ]
        }
      },
      "id": "ConsentEvaluation"
    },
    "ValidationConfig": {
      "description": "Contains the configuration for FHIR profiles and validation.",
      "type": "object",
      "properties": {
        "disableReferenceTypeValidation": {
          "description": "Optional. Whether to disable reference type validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against reference type requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "enableFhirpathProfileValidation": {
          "description": "Optional. Whether to enable FHIRPath validation for incoming resource types that have profiles configured for them in the `enabled_implementation_guides` list. Set this to true to enable checking incoming resources for conformance against FHIRPath requirements defined in the configured profiles.",
          "type": "boolean"
        },
        "disableRequiredFieldValidation": {
          "description": "Optional. Whether to disable required fields validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against required fields requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "disableFhirpathValidation": {
          "description": "Optional. Whether to disable FHIRPath validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against FHIRPath requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "disableProfileValidation": {
          "description": "Optional. Whether to disable profile validation for this FHIR store. The default value is false. Set this to true to disable checking incoming resources for conformance against structure definitions in this FHIR store.",
          "type": "boolean"
        },
        "enabledImplementationGuides": {
          "description": "Optional. A list of implementation guide URLs in this FHIR store that are used to configure the profiles to use for validation. For example, to use the US Core profiles for validation, set `enabled_implementation_guides` to `[\"http://hl7.org/fhir/us/core/ImplementationGuide/ig\"]`. If `enabled_implementation_guides` is empty or omitted, then incoming resources are only required to conform to the base FHIR profiles. Otherwise, a resource must conform to at least one profile listed in the `global` property of one of the enabled ImplementationGuides. The Cloud Healthcare API does not currently enforce all of the rules in a StructureDefinition. The following rules are supported: - min/max - minValue/maxValue - maxLength - type - fixed[x] - pattern[x] on simple types - slicing, when using \"value\" as the discriminator type - FHIRPath constraints (only when `enable_fhirpath_profile_validation` is true) When a URL cannot be resolved (for example, in a type assertion), the server does not return an error.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ValidationConfig"
    },
    "Field": {
      "description": "A (sub) field of a type.",
      "type": "object",
      "properties": {
        "maxOccurs": {
          "description": "The maximum number of times this field can be repeated. 0 or -1 means unbounded.",
          "type": "integer",
          "format": "int32"
        },
        "table": {
          "description": "The HL7v2 table this field refers to. For example, PID-15 (Patient's Primary Language) usually refers to table \"0296\".",
          "type": "string"
        },
        "minOccurs": {
          "description": "The minimum number of times this field must be present/repeated.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the field. For example, \"PID-1\" or just \"1\".",
          "type": "string"
        },
        "type": {
          "description": "The type of this field. A Type with this name must be defined in an Hl7TypesConfig.",
          "type": "string"
        }
      },
      "id": "Field"
    },
    "GoogleCloudHealthcareV1DicomGcsSource": {
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * '*' to match 0 or more non-separator characters * '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.dcm` imports all files with .dcm extensions in `my-directory/` and its sub-directories. * '?' to match 1 character. All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      },
      "id": "GoogleCloudHealthcareV1DicomGcsSource"
    },
    "ListConsentArtifactsResponse": {
      "type": "object",
      "properties": {
        "consentArtifacts": {
          "description": "The returned Consent artifacts. The maximum number of artifacts returned is determined by the value of page_size in the ListConsentArtifactsRequest.",
          "type": "array",
          "items": {
            "$ref": "ConsentArtifact"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListConsentArtifactsResponse"
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "Specifies where to send notifications upon changes to a data store.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. PubsubMessage.Data contains the resource name. PubsubMessage.MessageId is the ID of this message. It is guaranteed to be unique within the topic. PubsubMessage.PublishTime is the time at which the message was published. Notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. Cloud Healthcare API service account must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). If the number of errors exceeds a certain rate, some aren't submitted. Note that not all operations trigger notifications, see [Configuring Pub/Sub notifications](https://cloud.google.com/healthcare/docs/how-tos/pubsub) for specific details.",
          "type": "string"
        },
        "sendForBulkImport": {
          "description": "Indicates whether or not to send Pub/Sub notifications on bulk import. Only supported for DICOM imports.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "QueryAccessibleDataResponse": {
      "id": "QueryAccessibleDataResponse",
      "description": "Response for successful QueryAccessibleData operations. This structure is included in the response upon operation completion.",
      "type": "object",
      "properties": {
        "gcsUris": {
          "description": "List of files, each of which contains a list of data_id(s) that are consented for a specified use in the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "TagFilterList": {
      "id": "TagFilterList",
      "description": "List of tags to be filtered.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Optional. Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: https://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example \"PatientID\", \"00100010\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SchemaSegment": {
      "description": "An HL7v2 Segment.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The Segment type. For example, \"PID\".",
          "type": "string"
        },
        "maxOccurs": {
          "description": "The maximum number of times this segment can be present in this group. 0 or -1 means unbounded.",
          "type": "integer",
          "format": "int32"
        },
        "minOccurs": {
          "format": "int32",
          "description": "The minimum number of times this segment can be present in this group.",
          "type": "integer"
        }
      },
      "id": "SchemaSegment"
    },
    "ConsentErrors": {
      "description": "The Consent resource name and error.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error code and message.",
          "$ref": "Status"
        },
        "name": {
          "description": "The versioned name of the admin Consent resource, in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`.",
          "type": "string"
        }
      },
      "id": "ConsentErrors"
    },
    "ImportMessagesResponse": {
      "id": "ImportMessagesResponse",
      "description": "Final response of importing messages. This structure is included in the response to describe the detailed outcome. It is only included when the operation finishes successfully.",
      "type": "object",
      "properties": {}
    },
    "RedactConfig": {
      "description": "Define how to redact sensitive values. Default behaviour is erase. For example, \"My name is Jane.\" becomes \"My name is .\"",
      "type": "object",
      "properties": {},
      "id": "RedactConfig"
    },
    "IngestMessageResponse": {
      "id": "IngestMessageResponse",
      "description": "Acknowledges that a message has been ingested into the specified HL7v2 store.",
      "type": "object",
      "properties": {
        "hl7Ack": {
          "format": "byte",
          "description": "HL7v2 ACK message.",
          "type": "string"
        },
        "message": {
          "$ref": "Message",
          "description": "Created message resource."
        }
      }
    },
    "ListUserDataMappingsResponse": {
      "id": "ListUserDataMappingsResponse",
      "type": "object",
      "properties": {
        "userDataMappings": {
          "description": "The returned User data mappings. The maximum number of User data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest.",
          "type": "array",
          "items": {
            "$ref": "UserDataMapping"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "DateShiftConfig": {
      "id": "DateShiftConfig",
      "description": "Shift a date forward or backward in time by a random amount which is consistent for a given patient and crypto key combination.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "format": "byte",
          "description": "An AES 128/192/256 bit key. The date shift is computed based on this key and the patient ID. If the patient ID is empty for a DICOM resource, the date shift is computed based on this key and the study instance UID. If `crypto_key` is not set, then `kms_wrapped` is used to calculate the date shift. If neither is set, a default key is generated for each de-identify operation. Must not be set if `kms_wrapped` is set.",
          "type": "string"
        },
        "kmsWrapped": {
          "description": "KMS wrapped key. If `kms_wrapped` is not set, then `crypto_key` is used to calculate the date shift. If neither is set, a default key is generated for each de-identify operation. Must not be set if `crypto_key` is set.",
          "$ref": "KmsWrappedCryptoKey"
        }
      }
    },
    "GoogleCloudHealthcareV1DicomGcsDestination": {
      "id": "GoogleCloudHealthcareV1DicomGcsDestination",
      "description": "The Cloud Storage location where the server writes the output and the export configuration.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "MIME types supported by DICOM spec. Each file is written in the following format: `.../{study_id}/{series_id}/{instance_id}[/{frame_number}].{extension}` The frame_number component exists only for multi-frame instances. Supported MIME types are consistent with supported formats in DICOMweb: https://cloud.google.com/healthcare/docs/dicom#retrieve_transaction. Specifically, the following are supported: - application/dicom; transfer-syntax=1.2.840.10008.1.2 (DICOM Implicit VR Little Endian) - application/dicom; transfer-syntax=1.2.840.10008.1.2.1 (DICOM Explicit VR Little Endian) - application/dicom; transfer-syntax=1.2.840.10008.1.2.1.99 (DICOM Deflated Explicit VR Little Endian) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM with embedded JPEG Baseline) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.51 (DICOM with embedded JPEG Extended) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.57 (DICOM with embedded JPEG Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.70 (DICOM with embedded JPEG Lossless First-Order Prediction) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.80 (DICOM with embedded JPEG-LS Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.81 (DICOM with embedded JPEG-LS Lossy (Near-Lossless)) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG 2000 Lossless Only) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG 2000) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.110 (DICOM with embedded JPEG XL Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.111 (DICOM with embedded JPEG XL JPEG Recompression) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.112 (DICOM with embedded JPEG XL) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.201 (DICOM with embedded High-Throughput JPEG 2000 Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.202 (DICOM with embedded High-Throughput JPEG 2000 with RPCL Options Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.203 (DICOM with embedded High-Throughput JPEG 2000) - application/dicom; transfer-syntax=1.2.840.10008.1.2.5 (DICOM with embedded RLE Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.8.1 (DICOM with embedded Deflated Image Frame Compression) - application/dicom; transfer-syntax=* (DICOM with no transcoding) - application/octet-stream; transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) - application/octet-stream; transfer-syntax=* (raw PixelData in whatever format it was uploaded in) - image/jpeg; transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image/png The following extensions are used for output files: - application/dicom -> .dcm - image/jpeg -> .jpg - image/png -> .png - application/octet-stream -> no extension If unspecified, the instances are exported in the original DICOM format they were uploaded in.",
          "type": "string"
        },
        "uriPrefix": {
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes the result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`.",
          "type": "string"
        }
      }
    },
    "RejectConsentRequest": {
      "description": "Rejects the latest revision of the specified Consent by committing a new revision with `state` updated to `REJECTED`. If the latest revision of the given Consent is in the `REJECTED` state, no new revision is committed.",
      "type": "object",
      "properties": {
        "consentArtifact": {
          "description": "Optional. The resource name of the Consent artifact that contains documentation of the user's rejection of the draft Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it.",
          "type": "string"
        }
      },
      "id": "RejectConsentRequest"
    },
    "BulkDeleteResourcesRequest": {
      "id": "BulkDeleteResourcesRequest",
      "description": "Request to bulk delete FHIR resources.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "Optional. The Cloud Storage output destination. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. The deleted resources outputs are organized by FHIR resource types. The server creates one or more objects per resource type. Each object contains newline delimited strings in the format {resourceType}/{resourceId}.",
          "$ref": "GoogleCloudHealthcareV1FhirGcsDestination"
        },
        "until": {
          "description": "Optional. If provided, only resources updated before or atthis time are deleted. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone.",
          "type": "string"
        },
        "type": {
          "description": "Optional. String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) will be deleted.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set to true, the request will only perform a dry run. By default (once the behavior change is fully rolled out), this will default to true. During the transition period, the default depends on the Mendel flag status for the project.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "Optional. Specifies the Cloud Storage source data location containing the list of resource IDs to delete. Each file inside `gcs_source` must contain newline-delimited strings in the format `{resourceType}/{resourceId}`. This field is mutually exclusive with filter parameters such as `type` and `until`.",
          "$ref": "GoogleCloudHealthcareV1FhirGcsSource"
        },
        "versionConfig": {
          "description": "Optional. Specifies which version of the resources to delete.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified version config. Defaults to ALL.",
            "Delete the current version and all history versions.",
            "Delete the current version only and create a historical version of the deleted resource.",
            "Delete all history versions only."
          ],
          "enum": [
            "VERSION_CONFIG_UNSPECIFIED",
            "ALL",
            "CURRENT_ONLY",
            "HISTORY_ONLY"
          ]
        }
      }
    },
    "Resources": {
      "id": "Resources",
      "description": "A list of FHIR resources.",
      "type": "object",
      "properties": {
        "resources": {
          "description": "List of resources IDs. For example, \"Patient/1234\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SchematizedData": {
      "description": "The content of an HL7v2 message in a structured format as specified by a schema.",
      "type": "object",
      "properties": {
        "data": {
          "description": "JSON output of the parser.",
          "type": "string"
        },
        "error": {
          "description": "The error output of the parser.",
          "type": "string"
        }
      },
      "id": "SchematizedData"
    },
    "StreamConfig": {
      "id": "StreamConfig",
      "description": "Contains configuration for streaming FHIR export.",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "description": "Optional. Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https://www.hl7.org/fhir/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigqueryDestination": {
          "description": "Optional. The destination BigQuery structure that contains both the dataset location and corresponding schema config. The output is organized in one table per resource type. The server reuses the existing tables (if any) that are named after the resource types. For example, \"Patient\", \"Observation\". When there is no existing table for a given resource type, the server attempts to create one. When a table schema doesn't align with the schema config, either because of existing incompatible schema or out of band incompatible modification, the server does not stream in new data. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any resource mutation that generates more than 1 MB of BigQuery data is not streamed. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. Results are written to BigQuery tables according to the parameters in BigQueryDestination.WriteDisposition. Different versions of the same resource are distinguishable by the meta.versionId and meta.lastUpdated columns. The operation (CREATE/UPDATE/DELETE) that results in the new version is recorded in the meta.tag. The tables contain all historical resource versions since streaming was enabled. For query convenience, the server also creates one view per table of the same name containing only the current resource version. The streamed data in the BigQuery dataset is not guaranteed to be completely unique. The combination of the id and meta.versionId columns should ideally identify a single unique row. But in rare cases, duplicates may exist. At query time, users may use the SQL select statement to keep only one of the duplicate rows given an id and meta.versionId pair. Alternatively, the server created view mentioned above also filters out duplicates. If a resource mutation cannot be streamed to BigQuery, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        },
        "deidentifiedStoreDestination": {
          "description": "The destination FHIR store for de-identified resources. After this field is added, all subsequent creates/updates/patches to the source store will be de-identified using the provided configuration and applied to the destination store. Resources deleted from the source store will be deleted from the destination store. Importing resources to the source store will not trigger the streaming. If the source store already contains resources when this option is enabled, those resources will not be copied to the destination store unless they are subsequently updated. This may result in invalid references in the destination store. Before adding this config, you must grant the healthcare.fhirResources.update permission on the destination store to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/healthcare/docs/how-tos/permissions-healthcare-api-gcp-products#the_cloud_healthcare_service_agent). The destination store must set enable_update_create to true. The destination store must have disable_referential_integrity set to true. If a resource cannot be de-identified, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). Not supported for R5 stores.",
          "$ref": "DeidentifiedStoreDestination"
        }
      }
    },
    "GcsSource": {
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.ndjson` imports all files with `.ndjson` extensions in `my-directory/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      },
      "id": "GcsSource"
    },
    "ProgressCounter": {
      "id": "ProgressCounter",
      "description": "ProgressCounter provides counters to describe an operation's progress.",
      "type": "object",
      "properties": {
        "pending": {
          "format": "int64",
          "description": "The number of units that are pending in the operation.",
          "type": "string"
        },
        "failure": {
          "format": "int64",
          "description": "The number of units that failed in the operation.",
          "type": "string"
        },
        "secondarySuccess": {
          "description": "The number of secondary units that succeeded in the operation.",
          "type": "string",
          "format": "int64"
        },
        "secondaryFailure": {
          "format": "int64",
          "description": "The number of secondary units that failed in the operation.",
          "type": "string"
        },
        "success": {
          "description": "The number of units that succeeded in the operation.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ExportDicomDataResponse": {
      "id": "ExportDicomDataResponse",
      "description": "Returns additional information in regards to a completed DICOM store export.",
      "type": "object",
      "properties": {}
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "ApplyConsentsResponse": {
      "description": "Response when all Consent resources in scope were processed and all affected resources were reindexed successfully. This structure is included in the response when the operation finishes successfully.",
      "type": "object",
      "properties": {
        "consentApplyFailure": {
          "format": "int64",
          "description": "If `validate_only = false` in ApplyConsentsRequest, this counter is the number of Consent resources that were failed to apply. Otherwise, it is the number of Consent resources that are not supported or invalid.",
          "type": "string"
        },
        "failedResources": {
          "description": "The number of resources (including the Consent resources) that ApplyConsents failed to re-index.",
          "type": "string",
          "format": "int64"
        },
        "consentApplySuccess": {
          "description": "If `validate_only = false` in ApplyConsentsRequest, this counter is the number of Consent resources that were successfully applied. Otherwise, it is the number of Consent resources that are supported.",
          "type": "string",
          "format": "int64"
        },
        "affectedResources": {
          "format": "int64",
          "description": "The number of resources (including the Consent resources) that may have consensual access change.",
          "type": "string"
        }
      },
      "id": "ApplyConsentsResponse"
    },
    "DeidentifyDicomStoreRequest": {
      "description": "Creates a new DICOM store with sensitive information de-identified.",
      "type": "object",
      "properties": {
        "destinationStore": {
          "description": "Required. The name of the DICOM store to write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`. * The destination dataset and DICOM store must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The caller must have the healthcare.dicomStores.dicomWebWrite permission to write to the destination DICOM store.",
          "type": "string"
        },
        "gcsConfigUri": {
          "description": "Cloud Storage location to read the JSON cloud.healthcare.deidentify.DeidentifyConfig from, overriding the default config. Must be of the form `gs://{bucket_id}/path/to/object`. The Cloud Storage location must grant the Cloud IAM role `roles/storage.objectViewer` to the project's Cloud Healthcare Service Agent service account. Only one of `config` and `gcs_config_uri` can be specified.",
          "type": "string"
        },
        "config": {
          "description": "Deidentify configuration. Only one of `config` and `gcs_config_uri` can be specified.",
          "$ref": "DeidentifyConfig"
        },
        "filterConfig": {
          "$ref": "DicomFilterConfig",
          "description": "Filter configuration."
        }
      },
      "id": "DeidentifyDicomStoreRequest"
    },
    "Message": {
      "id": "Message",
      "description": "A complete HL7v2 message. See [Introduction to HL7 Standards] (https://www.hl7.org/implement/standards/index.cfm?ref=common) for details on the standard.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Message, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/hl7V2Stores/{hl7_v2_store_id}/messages/{message_id}`.",
          "type": "string"
        },
        "sendFacility": {
          "description": "Output only. The hospital that this message came from. MSH-4.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The datetime when the message was created. Set by the server.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw message bytes.",
          "type": "string"
        },
        "sendTime": {
          "description": "Output only. The datetime the sending application sent this message. MSH-7.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "messageType": {
          "readOnly": true,
          "description": "Output only. The message type for this message. MSH-9.1.",
          "type": "string"
        },
        "schematizedData": {
          "description": "Output only. The parsed version of the raw message data schematized according to this store's schemas and type definitions.",
          "readOnly": true,
          "$ref": "SchematizedData"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parsedData": {
          "readOnly": true,
          "$ref": "ParsedData",
          "description": "Output only. The parsed version of the raw message data."
        },
        "patientIds": {
          "readOnly": true,
          "description": "Output only. All patient IDs listed in the PID-2, PID-3, and PID-4 segments of this message.",
          "type": "array",
          "items": {
            "$ref": "PatientId"
          }
        }
      }
    },
    "UserDataMapping": {
      "description": "Maps a resource to the associated user and Attributes.",
      "type": "object",
      "properties": {
        "archiveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Indicates the time when this mapping was archived.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "archived": {
          "readOnly": true,
          "description": "Output only. Indicates whether this mapping is archived.",
          "type": "boolean"
        },
        "dataId": {
          "description": "Required. A unique identifier for the mapped resource.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the User data mapping, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/userDataMappings/{user_data_mapping_id}`.",
          "type": "string"
        },
        "resourceAttributes": {
          "description": "Attributes of the resource. Only explicitly set attributes are displayed here. Attribute definitions with defaults set implicitly apply to these User data mappings. Attributes listed here must be single valued, that is, exactly one value is specified for the field \"values\" in each Attribute.",
          "type": "array",
          "items": {
            "$ref": "Attribute"
          }
        }
      },
      "id": "UserDataMapping"
    },
    "ExportResourcesResponse": {
      "description": "Response when all resources export successfully. This structure is included in the response to describe the detailed outcome after the operation finishes successfully.",
      "type": "object",
      "properties": {},
      "id": "ExportResourcesResponse"
    },
    "EvaluateUserConsentsRequest": {
      "description": "Evaluate a user's Consents for all matching User data mappings. Note: User data mappings are indexed asynchronously, causing slight delays between the time mappings are created or updated and when they are included in EvaluateUserConsents results.",
      "type": "object",
      "properties": {
        "resourceAttributes": {
          "description": "Optional. The values of resource attributes associated with the resources being requested. If no values are specified, then all resources are queried.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "responseView": {
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `data_id` and `consented` fields are populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` Consents are evaluated even if a matching policy is found during evaluation."
          ],
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "description": "Optional. The view for EvaluateUserConsentsResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User ID to evaluate consents for.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. Token to retrieve the next page of results, or empty to get the first page.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Limit on the number of User data mappings to return in a single response. If not specified, 100 is used. May not be larger than 1000.",
          "type": "integer"
        },
        "requestAttributes": {
          "description": "Required. The values of request attributes associated with this access request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consentList": {
          "$ref": "ConsentList",
          "description": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the User data mappings being evalauted, must exist in the current `consent_store`, and must have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If unspecified, all `ACTIVE` unexpired Consents in the current `consent_store` will be evaluated."
        }
      },
      "id": "EvaluateUserConsentsRequest"
    },
    "BlobStorageInfo": {
      "description": "BlobStorageInfo contains details about the data stored in Blob Storage for the referenced resource. Note: Storage class is only valid for DICOM and hence will only be populated for DICOM resources.",
      "type": "object",
      "properties": {
        "storageClassUpdateTime": {
          "format": "google-datetime",
          "description": "The time at which the storage class was updated. This is used to compute early deletion fees of the resource.",
          "type": "string"
        },
        "storageClass": {
          "description": "The storage class in which the Blob data is stored.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified in CreateDataset, the StorageClass defaults to STANDARD. If unspecified in UpdateDataset and the StorageClass is set in the field mask, an InvalidRequest error is thrown.",
            "This stores the Object in Blob Standard Storage: https://cloud.google.com/storage/docs/storage-classes#standard",
            "This stores the Object in Blob Nearline Storage: https://cloud.google.com/storage/docs/storage-classes#nearline",
            "This stores the Object in Blob Coldline Storage: https://cloud.google.com/storage/docs/storage-classes#coldline",
            "This stores the Object in Blob Archive Storage: https://cloud.google.com/storage/docs/storage-classes#archive"
          ],
          "enum": [
            "BLOB_STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE"
          ]
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Size in bytes of data stored in Blob Storage.",
          "type": "string"
        }
      },
      "id": "BlobStorageInfo"
    },
    "Consent": {
      "id": "Consent",
      "description": "Represents a user's consent.",
      "type": "object",
      "properties": {
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the Consent. The format is an 8-character hexadecimal string. Refer to a specific revision of a Consent by appending `@{revision_id}` to the Consent's resource name.",
          "type": "string"
        },
        "consentArtifact": {
          "description": "Required. The resource name of the Consent artifact that contains proof of the end user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`. Cannot be changed after creation.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-supplied key-value pairs used to organize Consent resources. Metadata keys must: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - begin with a letter - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes Metadata values must be: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes No more than 64 metadata entries can be associated with a given consent.",
          "type": "object"
        },
        "state": {
          "description": "Required. Indicates the current state of this Consent.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. Treated as ACTIVE only at the time of resource creation.",
            "The Consent is active and is considered when evaluating a user's consent on resources.",
            "The archived state is currently not being used.",
            "A revoked Consent is not considered when evaluating a user's consent on resources.",
            "A draft Consent is not considered when evaluating a user's consent on resources unless explicitly specified.",
            "When a draft Consent is rejected by a user, it is set to a rejected state. A rejected Consent is not considered when evaluating a user's consent on resources."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "REVOKED",
            "DRAFT",
            "REJECTED"
          ]
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The time to live for this Consent from when it is created.",
          "type": "string"
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "policies": {
          "description": "Optional. Represents a user's consent in terms of the resources that can be accessed and under what conditions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudHealthcareV1ConsentPolicy"
          }
        },
        "expireTime": {
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ExplainDataAccessConsentScope": {
      "description": "A single consent scope that provides info on who has access to the requested resource scope for a particular purpose and environment, enforced by which consent.",
      "type": "object",
      "properties": {
        "decision": {
          "enumDescriptions": [
            "Unspecified consent decision type.",
            "Consent permitted access.",
            "Consent denied access."
          ],
          "enum": [
            "CONSENT_DECISION_TYPE_UNSPECIFIED",
            "CONSENT_DECISION_TYPE_PERMIT",
            "CONSENT_DECISION_TYPE_DENY"
          ],
          "description": "Whether the current consent scope is permitted or denied access on the requested resource.",
          "type": "string"
        },
        "enforcingConsents": {
          "description": "Metadata of the consent resources that enforce the consent scope's access.",
          "type": "array",
          "items": {
            "$ref": "ExplainDataAccessConsentInfo"
          }
        },
        "accessorScope": {
          "$ref": "ConsentAccessorScope",
          "description": "The accessor scope that describes who can access, for what purpose, and in which environment."
        },
        "exceptions": {
          "description": "Other consent scopes that created exceptions within this scope.",
          "type": "array",
          "items": {
            "$ref": "ExplainDataAccessConsentScope"
          }
        }
      },
      "id": "ExplainDataAccessConsentScope"
    },
    "GoogleCloudHealthcareV1ConsentPolicy": {
      "description": "Represents a user's consent in terms of the resources that can be accessed and under what conditions.",
      "type": "object",
      "properties": {
        "resourceAttributes": {
          "description": "The resources that this policy applies to. A resource is a match if it matches all the attributes listed here. If empty, this policy applies to all User data mappings for the given user.",
          "type": "array",
          "items": {
            "$ref": "Attribute"
          }
        },
        "authorizationRule": {
          "description": "Required. The request conditions to meet to grant access. In addition to any supported comparison operators, authorization rules may have `IN` operator as well as at most 10 logical operators that are limited to `AND` (`&&`), `OR` (`||`).",
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudHealthcareV1ConsentPolicy"
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "Apply consents given by patients whose most recent consent changes are in the time range. Note that after identifying these patients, the server applies all Consent resources given by those patients, not just the Consent resources within the timestamp in the range.",
      "type": "object",
      "properties": {
        "start": {
          "description": "Optional. The earliest consent change time, in format YYYY-MM-DDThh:mm:ss.sss+zz:zz If not specified, the system uses the FHIR store creation time.",
          "type": "string"
        },
        "end": {
          "description": "Optional. The latest consent change time, in format YYYY-MM-DDThh:mm:ss.sss+zz:zz If not specified, the system uses the time when ApplyConsents was called.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "FhirNotificationConfig": {
      "id": "FhirNotificationConfig",
      "description": "Contains the configuration for FHIR notifications.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "Optional. The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It is guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail (https://cloud.google.com/healthcare-api/docs/permissions-healthcare-api-gcp-products#dicom_fhir_and_hl7v2_store_cloud_pubsub_permissions). If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare-api/docs/how-tos/logging).",
          "type": "string"
        },
        "sendFullResource": {
          "description": "Optional. Whether to send full FHIR resource to this Pub/Sub topic. The default value is false.",
          "type": "boolean"
        },
        "sendPreviousResourceOnDelete": {
          "description": "Optional. Whether to send full FHIR resource to this Pub/Sub topic for deleting FHIR resource. The default value is false. Note that setting this to true does not guarantee that all previous resources will be sent in the format of full FHIR resource. When a resource change is too large or during heavy traffic, only the resource name will be sent. Clients should always check the \"payloadType\" label from a Pub/Sub message to determine whether it needs to fetch the full previous resource as a separate operation.",
          "type": "boolean"
        }
      }
    },
    "PatientScope": {
      "id": "PatientScope",
      "description": "Apply consents given by a list of patients.",
      "type": "object",
      "properties": {
        "patientIds": {
          "description": "Optional. The list of patient IDs whose Consent resources will be enforced. At most 10,000 patients can be specified. An empty list is equivalent to all patients (meaning the entire FHIR store).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExplainDataAccessResponse": {
      "id": "ExplainDataAccessResponse",
      "description": "List of consent scopes that are applicable to the explained access on a given resource.",
      "type": "object",
      "properties": {
        "warning": {
          "description": "Warnings associated with this response. It inform user with exceeded scope limit errors.",
          "type": "string"
        },
        "consentScopes": {
          "description": "List of applicable consent scopes. Sorted in order of actor such that scopes belonging to the same actor will be adjacent to each other in the list.",
          "type": "array",
          "items": {
            "$ref": "ExplainDataAccessConsentScope"
          }
        }
      }
    },
    "Feature": {
      "id": "Feature",
      "description": "A feature of an entity mention.",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "double",
          "description": "The model's confidence in this feature annotation. A number between 0 and 1.",
          "type": "number"
        },
        "value": {
          "description": "The value of this feature annotation. Its range depends on the type of the feature.",
          "type": "string"
        }
      }
    },
    "CryptoHashConfig": {
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. Outputs a base64-encoded representation of the hashed output (for example, `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`).",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "format": "byte",
          "description": "An AES 128/192/256 bit key. Causes the hash to be computed based on this key. A default key is generated for each Deidentify operation and is used when neither `crypto_key` nor `kms_wrapped` is specified. Must not be set if `kms_wrapped` is set.",
          "type": "string"
        },
        "kmsWrapped": {
          "description": "KMS wrapped key. Must not be set if `crypto_key` is set.",
          "$ref": "KmsWrappedCryptoKey"
        }
      },
      "id": "CryptoHashConfig"
    },
    "AdminConsents": {
      "id": "AdminConsents",
      "description": "List of admin Consent resources to be applied.",
      "type": "object",
      "properties": {
        "names": {
          "description": "Optional. The versioned names of the admin Consent resource(s), in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListConsentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "consents": {
          "description": "The returned Consents. The maximum number of Consents returned is determined by the value of page_size in the ListConsentsRequest.",
          "type": "array",
          "items": {
            "$ref": "Consent"
          }
        }
      },
      "id": "ListConsentsResponse"
    },
    "ArchiveUserDataMappingRequest": {
      "description": "Archives the specified User data mapping.",
      "type": "object",
      "properties": {},
      "id": "ArchiveUserDataMappingRequest"
    },
    "Hl7V2StoreMetrics": {
      "id": "Hl7V2StoreMetrics",
      "description": "List of metrics for a given HL7v2 store.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "List of HL7v2 store metrics by message type.",
          "type": "array",
          "items": {
            "$ref": "Hl7V2StoreMetric"
          }
        },
        "name": {
          "description": "The resource name of the HL7v2 store to get metrics for, in the format `projects/{project_id}/datasets/{dataset_id}/hl7V2Stores/{hl7v2_store_id}`.",
          "type": "string"
        }
      }
    },
    "DicomStore": {
      "id": "DicomStore",
      "description": "Represents a DICOM store.",
      "type": "object",
      "properties": {
        "notificationConfig": {
          "description": "Optional. Notification destination for new DICOM instances. Supplied by the client.",
          "$ref": "NotificationConfig"
        },
        "name": {
          "description": "Identifier. Resource name of the DICOM store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize DICOM stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamConfigs": {
          "description": "Optional. A list of streaming configs used to configure the destination of streaming exports for every DICOM instance insertion in this DICOM store. After a new config is added to `stream_configs`, DICOM instance insertions are streamed to the new destination. When a config is removed from `stream_configs`, the server stops streaming to that destination. Each config must contain a unique destination.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudHealthcareV1DicomStreamConfig"
          }
        },
        "notificationConfigs": {
          "description": "Optional. Specifies where and whether to send notifications upon changes to a DICOM store.",
          "type": "array",
          "items": {
            "$ref": "DicomNotificationConfig"
          }
        }
      }
    },
    "Segment": {
      "id": "Segment",
      "description": "A segment in a structured format.",
      "type": "object",
      "properties": {
        "setId": {
          "description": "Set ID for segments that can be in a set. This can be empty if it's missing or isn't applicable.",
          "type": "string"
        },
        "fields": {
          "description": "A mapping from the positional location to the value. The key string uses zero-based indexes separated by dots to identify Fields, components and sub-components. A bracket notation is also used to identify different instances of a repeated field. Regex for key: (\\d+)(\\[\\d+\\])?(.\\d+)?(.\\d+)? Examples of (key, value) pairs: * (0.1, \"hemoglobin\") denotes that the first component of Field 0 has the value \"hemoglobin\". * (1.1.2, \"CBC\") denotes that the second sub-component of the first component of Field 1 has the value \"CBC\". * (1[0].1, \"HbA1c\") denotes that the first component of the first Instance of Field 1, which is repeated, has the value \"HbA1c\".",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "segmentId": {
          "description": "A string that indicates the type of segment. For example, EVN or PID.",
          "type": "string"
        }
      }
    },
    "ExportDicomDataRequest": {
      "description": "Exports data from the specified DICOM store. If a given resource, such as a DICOM object with the same SOPInstance UID, already exists in the output, it is overwritten with the version in the source dataset. Exported DICOM data persists when the DICOM store from which it was exported is deleted.",
      "type": "object",
      "properties": {
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1DicomBigQueryDestination",
          "description": "The BigQuery output destination. You can only export to a BigQuery dataset that's in the same project as the DICOM store you're exporting from. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`."
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1DicomGcsDestination",
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location."
        }
      },
      "id": "ExportDicomDataRequest"
    },
    "TimePartitioning": {
      "description": "Configuration for FHIR BigQuery time-partitioned tables.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default unknown time.",
            "Data partitioned by hour.",
            "Data partitioned by day.",
            "Data partitioned by month.",
            "Data partitioned by year."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "HOUR",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Type of partitioning.",
          "type": "string"
        },
        "expirationMs": {
          "format": "int64",
          "description": "Number of milliseconds for which to keep the storage for a partition.",
          "type": "string"
        }
      },
      "id": "TimePartitioning"
    },
    "ExportResourcesRequest": {
      "id": "ExportResourcesRequest",
      "description": "Request to export resources.",
      "type": "object",
      "properties": {
        "_type": {
          "description": "String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) are exported.",
          "type": "string"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1FhirGcsDestination",
          "description": "The Cloud Storage output destination. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource."
        },
        "_since": {
          "description": "If provided, only resources updated after this time are exported. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone.",
          "type": "string"
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type. Unlike when setting `BigQueryDestination` for `StreamConfig`, `ExportResources` does not create BigQuery views.",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        }
      }
    },
    "ImportDicomDataRequest": {
      "description": "Imports data into the specified DICOM store. Returns an error if any of the files to import are not DICOM files. This API accepts duplicate DICOM instances by ignoring the newly-pushed instance. It does not overwrite.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1DicomGcsSource"
        },
        "blobStorageSettings": {
          "description": "Optional. The blob storage settings for the data imported by this operation.",
          "$ref": "BlobStorageSettings"
        }
      },
      "id": "ImportDicomDataRequest"
    },
    "StorageInfo": {
      "description": "StorageInfo encapsulates all the storage info of a resource.",
      "type": "object",
      "properties": {
        "structuredStorageInfo": {
          "description": "Info about the data stored in structured storage for the resource.",
          "$ref": "StructuredStorageInfo"
        },
        "referencedResource": {
          "description": "The resource whose storage info is returned. For example: `projects/{projectID}/locations/{locationID}/datasets/{datasetID}/dicomStores/{dicomStoreID}/dicomWeb/studies/{studyUID}/series/{seriesUID}/instances/{instanceUID}`",
          "type": "string"
        },
        "blobStorageInfo": {
          "description": "Info about the data stored in blob storage for the resource.",
          "$ref": "BlobStorageInfo"
        }
      },
      "id": "StorageInfo"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AnalyzeEntitiesRequest": {
      "description": "The request to analyze healthcare entities in a document.",
      "type": "object",
      "properties": {
        "documentContent": {
          "description": "document_content is a document to be annotated.",
          "type": "string"
        },
        "licensedVocabularies": {
          "description": "A list of licensed vocabularies to use in the request, in addition to the default unlicensed vocabularies.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No licensed vocabulary specified.",
              "ICD-10-CM vocabulary",
              "SNOMED CT (US version) vocabulary"
            ],
            "enum": [
              "LICENSED_VOCABULARY_UNSPECIFIED",
              "ICD10CM",
              "SNOMEDCT_US"
            ]
          }
        },
        "alternativeOutputFormat": {
          "enumDescriptions": [
            "No alternative output format is specified.",
            "FHIR bundle output."
          ],
          "enum": [
            "ALTERNATIVE_OUTPUT_FORMAT_UNSPECIFIED",
            "FHIR_BUNDLE"
          ],
          "description": "Optional. Alternative output format to be generated based on the results of analysis.",
          "type": "string"
        }
      },
      "id": "AnalyzeEntitiesRequest"
    },
    "SchemaConfig": {
      "description": "Configuration for the FHIR BigQuery schema. Determines how the server generates the schema.",
      "type": "object",
      "properties": {
        "schemaType": {
          "enumDescriptions": [
            "No schema type specified. This type is unsupported.",
            "Analytics schema defined by the FHIR community. See https://github.com/FHIR/sql-on-fhir/blob/master/sql-on-fhir.md. BigQuery only allows a maximum of 10,000 columns per table. Due to this limitation, the server will not generate schemas for fields of type `Resource`, which can hold any resource type. The affected fields are `Parameters.parameter.resource`, `Bundle.entry.resource`, and `Bundle.entry.response.outcome`. Analytics schema does not gracefully handle extensions with one or more occurrences, anaytics schema also does not handle contained resource. Additionally, extensions with a URL ending in \"/{existing_resource_field_name}\" may cause undefined behavior.",
            "Analytics V2, similar to schema defined by the FHIR community, with added support for extensions with one or more occurrences and contained resources in stringified JSON. Extensions with a URL ending in \"/{existing_resource_field_name}\" will cause conflict and prevent the resource from being sent to BigQuery. Analytics V2 uses more space in the destination table than Analytics V1. It is generally recommended to use Analytics V2 over Analytics."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "ANALYTICS",
            "ANALYTICS_V2"
          ],
          "description": "Specifies the output schema type. Schema type is required.",
          "type": "string"
        },
        "lastUpdatedPartitionConfig": {
          "description": "The configuration for exported BigQuery tables to be partitioned by FHIR resource's last updated time column.",
          "$ref": "TimePartitioning"
        },
        "recursiveStructureDepth": {
          "description": "The depth for all recursive structures in the output analytics schema. For example, `concept` in the CodeSystem resource is a recursive structure; when the depth is 2, the CodeSystem table will have a column called `concept.concept` but not `concept.concept.concept`. If not specified or set to 0, the server will use the default value 2. The maximum depth allowed is 5.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SchemaConfig"
    },
    "PubsubDestination": {
      "description": "The Pub/Sub output destination. The Cloud Healthcare Service Agent requires the `roles/pubsub.publisher` Cloud IAM role on the Pub/Sub topic.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that Pub/Sub messages are published on. Supplied by the client. The `PubsubMessage` contains the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It is guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-PROJECT_NUMBER@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail.",
          "type": "string"
        }
      },
      "id": "PubsubDestination"
    },
    "Hl7V2Store": {
      "description": "Represents an HL7v2 store.",
      "type": "object",
      "properties": {
        "rejectDuplicateMessage": {
          "description": "Optional. Determines whether to reject duplicate messages. A duplicate message is a message with the same raw bytes as a message that has already been ingested/created in this HL7v2 store. The default value is false, meaning that the store accepts the duplicate messages and it also returns the same ACK message in the IngestMessageResponse as has been returned previously. Note that only one resource is created in the store. When this field is set to true, CreateMessage/IngestMessage requests with a duplicate message will be rejected by the store, and IngestMessageErrorDetail returns a NACK message upon rejection.",
          "type": "boolean"
        },
        "parserConfig": {
          "$ref": "ParserConfig",
          "description": "Optional. The configuration for the parser. It determines how the server parses the messages."
        },
        "name": {
          "description": "Identifier. Resource name of the HL7v2 store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/hl7V2Stores/{hl7v2_store_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "notificationConfigs": {
          "description": "Optional. A list of notification configs. Each configuration uses a filter to determine whether to publish a message (both Ingest & Create) on the corresponding notification destination. Only the message name is sent as part of the notification. Supplied by the client.",
          "type": "array",
          "items": {
            "$ref": "Hl7V2NotificationConfig"
          }
        }
      },
      "id": "Hl7V2Store"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "DeidentifiedStoreDestination": {
      "description": "Contains configuration for streaming de-identified FHIR export.",
      "type": "object",
      "properties": {
        "store": {
          "description": "Optional. The full resource name of a Cloud Healthcare FHIR store, for example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "config": {
          "description": "Optional. The configuration to use when de-identifying resources that are added to this store.",
          "$ref": "DeidentifyConfig"
        }
      },
      "id": "DeidentifiedStoreDestination"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "ArchiveUserDataMappingResponse": {
      "description": "Archives the specified User data mapping.",
      "type": "object",
      "properties": {},
      "id": "ArchiveUserDataMappingResponse"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "id": "Location"
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "description": "URI of an existing Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path.",
          "type": "string"
        },
        "messageView": {
          "description": "Specifies the parts of the Message resource to include in the export. If not specified, FULL is used.",
          "type": "string",
          "enumDescriptions": [
            "Not specified, equivalent to FULL.",
            "Server responses include all the message fields except parsed_data field, and schematized_data fields.",
            "Server responses include all the message fields except data field, and schematized_data fields.",
            "Server responses include all the message fields.",
            "Server responses include all the message fields except data and parsed_data fields.",
            "Server responses include only the name field."
          ],
          "enum": [
            "MESSAGE_VIEW_UNSPECIFIED",
            "RAW_ONLY",
            "PARSED_ONLY",
            "FULL",
            "SCHEMATIZED_ONLY",
            "BASIC"
          ]
        },
        "contentStructure": {
          "enumDescriptions": [
            "If the content structure is not specified, the default value `MESSAGE_JSON` will be used.",
            "Messages are printed using the JSON format returned from the `GetMessage` API. Messages are delimited with newlines."
          ],
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "MESSAGE_JSON"
          ],
          "description": "The format of the exported HL7v2 message files.",
          "type": "string"
        }
      }
    },
    "FhirStore": {
      "description": "Represents a FHIR store.",
      "type": "object",
      "properties": {
        "disableReferentialIntegrity": {
          "description": "Immutable. Whether to disable referential integrity in this FHIR store. This field is immutable after FHIR store creation. The default value is false, meaning that the API enforces referential integrity and fails the requests that result in inconsistent state in the FHIR store. When this field is set to true, the API skips referential integrity checks. Consequently, operations that rely on references, such as GetPatientEverything, do not return all the results if broken references exist.",
          "type": "boolean"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableUpdateCreate": {
          "description": "Optional. Whether this FHIR store has the [updateCreate capability](https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. It is strongly advised not to include or encode any sensitive data such as patient identifiers in client-specified resource IDs. Those IDs are part of the FHIR resource path recorded in Cloud audit logs and Pub/Sub notifications. Those IDs can also be contained in reference fields within other resources. Defaults to false.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the FHIR store, of the form `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "streamConfigs": {
          "description": "Optional. A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Before adding a new config, you must add the required [`bigquery.dataEditor`](https://cloud.google.com/bigquery/docs/access-control#bigquery.dataEditor) role to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/iam/docs/service-accounts). Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination.",
          "type": "array",
          "items": {
            "$ref": "StreamConfig"
          }
        },
        "defaultSearchHandlingStrict": {
          "description": "Optional. If true, overrides the default search behavior for this FHIR store to `handling=strict` which returns an error for unrecognized search parameters. If false, uses the FHIR specification default `handling=lenient` which ignores unrecognized search parameters. The handling can always be changed from the default on an individual API call by setting the HTTP header `Prefer: handling=strict` or `Prefer: handling=lenient`. Defaults to false.",
          "type": "boolean"
        },
        "notificationConfigs": {
          "description": "Optional. Specifies where and whether to send notifications upon changes to a FHIR store.",
          "type": "array",
          "items": {
            "$ref": "FhirNotificationConfig"
          }
        },
        "validationConfig": {
          "$ref": "ValidationConfig",
          "description": "Optional. Configuration for how to validate incoming FHIR resources against configured profiles."
        },
        "bulkExportGcsDestination": {
          "$ref": "BulkExportGcsDestination",
          "description": "Optional. FHIR bulk export exports resources to the specified Cloud Storage destination. A Cloud Storage destination is a URI for a Cloud Storage directory where result files will be written. Only used in the spec-defined bulk $export methods. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM role on the destination."
        },
        "complexDataTypeReferenceParsing": {
          "enumDescriptions": [
            "No parsing behavior specified. This is the same as DISABLED for backwards compatibility.",
            "References in complex data types are ignored.",
            "References in complex data types are parsed."
          ],
          "enum": [
            "COMPLEX_DATA_TYPE_REFERENCE_PARSING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Enable parsing of references within complex FHIR data types such as Extensions. If this value is set to ENABLED, then features like referential integrity and Bundle reference rewriting apply to all references. If this flag has not been specified the behavior of the FHIR store will not change, references in complex data types will not be parsed. New stores will have this value set to ENABLED after a notification period. Warning: turning on this flag causes processing existing resources to fail if they contain references to non-existent resources. Cannot be disabled in R5.",
          "type": "string"
        },
        "consentConfig": {
          "$ref": "ConsentConfig",
          "description": "Optional. Specifies whether this store has consent enforcement. Not available for DSTU2 FHIR version due to absence of Consent resources. Not supported for R5 FHIR version."
        },
        "version": {
          "enumDescriptions": [
            "Users must specify a version on store creation or an error is returned.",
            "Draft Standard for Trial Use, [Release 2](https://www.hl7.org/fhir/DSTU2)",
[...]
