{
  "documentationLink": "https://developers.google.com/health",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v4beta",
  "revision": "20261002",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "baseUrl": "https://health.googleapis.com/",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "version_module": true,
  "rootUrl": "https://health.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Google Health API",
  "servicePath": "",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "schemas": {
    "OxygenSaturation": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "type": "number",
          "format": "double",
          "description": "Required. The oxygen saturation percentage. Must be in the range `[0, 100]`."
        }
      },
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "id": "OxygenSaturation"
    },
    "GoogleDevicesandservicesHealthV4betaDataType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values."
        }
      },
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "id": "GoogleDevicesandservicesHealthV4betaDataType",
      "type": "object"
    },
    "DistanceRollupValue": {
      "description": "Result of the rollup of the user's distance.",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DistanceRollupValue",
      "type": "object"
    },
    "ExportExerciseTcxResponse": {
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data. This field is intended for gRPC clients, as media download integration is not supported for gRPC. HTTP clients should instead use the `alt=media` query parameter to download the raw binary TCX file.",
          "type": "string"
        }
      }
    },
    "Altitude": {
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "gainMillimeters": {
          "format": "int64",
          "description": "Required. Altitude gain in millimeters over the observed interval. Must be in the range `[-1000000000, 1000000000]`.",
          "type": "string"
        }
      },
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "id": "Altitude"
    },
    "Interval": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "properties": {
        "avgVerticalOscillationMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running"
        },
        "avgGroundContactTimeDuration": {
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "format": "google-duration",
          "type": "string"
        },
        "avgCadenceStepsPerMinute": {
          "format": "double",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout.",
          "type": "number"
        },
        "avgStrideLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "type": "string"
        },
        "avgVerticalRatio": {
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "type": "number",
          "format": "double"
        }
      },
      "id": "MobilityMetrics",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "properties": {
        "beatsPerMinuteMax": {
          "type": "number",
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "format": "double"
        },
        "beatsPerMinuteMin": {
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "BodyFat": {
      "type": "object",
      "id": "BodyFat",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which body fat was measured."
        },
        "percentage": {
          "type": "number",
          "description": "Required. Body fat percentage. Must be in the range `[0, 100]`.",
          "format": "double"
        }
      },
      "description": "Body fat measurement."
    },
    "SwimLengthsDataRollupValue": {
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "type": "object",
      "id": "SwimLengthsDataRollupValue"
    },
    "Distance": {
      "description": "Distance traveled over an interval of time.",
      "type": "object",
      "properties": {
        "millimeters": {
          "type": "string",
          "description": "Required. Distance in millimeters over the observed interval. Must be in the range `[0, 1000000000]`.",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "Distance"
    },
    "Height": {
      "description": "Body height measurement.",
      "type": "object",
      "id": "Height",
      "properties": {
        "heightMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Required. Height of the user in millimeters. Must be in the range `[0, 3000]`."
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the height was recorded."
        }
      }
    },
    "EndpointAuthorization": {
      "properties": {
        "secretSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the secret is set."
        },
        "secret": {
          "type": "string",
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint."
        }
      },
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `GOOGLE-HEALTH-API-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API.",
      "id": "EndpointAuthorization",
      "type": "object"
    },
    "SplitSummary": {
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "properties": {
        "activeDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Lap time excluding the pauses.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Lap end time"
        },
        "metricsSummary": {
          "$ref": "MetricsSummary",
          "description": "Required. Summary metrics for this split."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Lap start time"
        },
        "splitType": {
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string",
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        },
        "endUtcOffset": {
          "description": "Required. Lap end time offset from UTC",
          "type": "string",
          "format": "google-duration"
        },
        "startUtcOffset": {
          "description": "Required. Lap start time offset from UTC",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "id": "ActiveMinutesRollupByActivityLevel",
      "description": "Active minutes by activity level.",
      "properties": {
        "activityLevel": {
          "description": "The level of activity.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ]
        },
        "activeMinutesSum": {
          "format": "int64",
          "type": "string",
          "description": "Number of whole minutes spent in activity."
        }
      },
      "type": "object"
    },
    "MedicalDeviceInfo": {
      "description": "Software as Medical Device (SaMD) metadata. Used to construct the Unique Device Identifier (UDI).",
      "id": "MedicalDeviceInfo",
      "type": "object",
      "properties": {
        "serviceVersion": {
          "readOnly": true,
          "description": "Output only. The service version used by the feature.",
          "type": "string"
        },
        "deviceModel": {
          "readOnly": true,
          "description": "Output only. The model name or device type of the compatible device used to collect the data.",
          "type": "string"
        },
        "algorithmVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The algorithm version used by the feature."
        },
        "featureVersion": {
          "type": "string",
          "description": "Output only. The version of the feature/app running on the device.",
          "readOnly": true
        },
        "firmwareVersion": {
          "description": "Output only. The firmware version running on the compatible device used to collect the data.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "type": "object",
      "properties": {
        "activityLevel": {
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "Required. The level of activity.",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ]
        },
        "activeMinutes": {
          "type": "string",
          "description": "Required. Number of whole minutes spent in activity.",
          "format": "int64"
        }
      },
      "id": "ActiveMinutesByActivityLevel",
      "description": "Active minutes at a given activity level."
    },
    "HeartRateMetadata": {
      "type": "object",
      "properties": {
        "sensorLocation": {
          "description": "Optional. Indicates the location of the sensor that measured the heart rate.",
          "type": "string",
          "enum": [
            "SENSOR_LOCATION_UNSPECIFIED",
            "CHEST",
            "WRIST",
            "FINGER",
            "HAND",
            "EAR_LOBE",
            "FOOT"
          ],
          "enumDescriptions": [
            "The default value when no data is available.",
            "Chest sensor.",
            "Wrist sensor.",
            "Finger sensor.",
            "Hand sensor.",
            "Ear lobe sensor.",
            "Foot sensor."
          ]
        },
        "motionContext": {
          "enumDescriptions": [
            "The default value when no data is available.",
            "The user is active.",
            "The user is inactive."
          ],
          "description": "Optional. Indicates the user’s level of activity when the heart rate sample was measured",
          "type": "string",
          "enum": [
            "MOTION_CONTEXT_UNSPECIFIED",
            "ACTIVE",
            "SEDENTARY"
          ]
        }
      },
      "description": "Heart rate metadata.",
      "id": "HeartRateMetadata"
    },
    "TotalCaloriesRollupValue": {
      "description": "Represents the result of the rollup of the user's total calories. Note: Queries for the `total-calories` data type must include a time interval filter (such as `total_calories.interval.start_time` or `total_calories.interval.civil_start_time`). The maximum range is 14 days. Example filter query: `total_calories.interval.start_time >= \"2026-04-20T00:00:00Z\" AND total_calories.interval.start_time < \"2026-04-21T00:00:00Z\"`",
      "id": "TotalCaloriesRollupValue",
      "properties": {
        "kcalSum": {
          "format": "double",
          "description": "Sum of the total calories in kilocalories.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "type": "number",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "DailyVO2Max": {
      "properties": {
        "cardioFitnessLevel": {
          "type": "string",
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max."
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        },
        "vo2MaxCovariance": {
          "description": "Optional. The covariance of the VO2 max value.",
          "type": "number",
          "format": "double"
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min. Must be in the range `[0, 100]`.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "id": "DailyVO2Max"
    },
    "DailyRestingHeartRate": {
      "type": "object",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "properties": {
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "dailyRestingHeartRateMetadata": {
          "$ref": "DailyRestingHeartRateMetadata",
          "description": "Optional. Metadata for the daily resting heart rate."
        },
        "beatsPerMinute": {
          "format": "int64",
          "description": "Required. The resting heart rate value in beats per minute.",
          "type": "string"
        }
      }
    },
    "HttpBody": {
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody"
    },
    "IrregularRhythmNotification": {
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "SessionTimeInterval",
          "description": "Required. Observed interval."
        },
        "medicalDeviceInfo": {
          "$ref": "MedicalDeviceInfo",
          "description": "Output only. The meta information for the compatible device used to conduct the measurement. Irregular Rhythm Notification measurements typically populate `algorithm_version`, `service_version`, and `device_model`.",
          "readOnly": true
        },
        "alertWindows": {
          "type": "array",
          "description": "Optional. The overlapping analysis windows that were used to evaluate rhythm for potential AFib, containing specific information about the user's heart rhythm.",
          "items": {
            "$ref": "AlertWindow"
          }
        }
      },
      "id": "IrregularRhythmNotification",
      "description": "Represents an Irregular Rhythm Notification alert, indicating a potential sign of atrial fibrillation (AFib). This data type is based on SaMD feature and any changes to it may require additional review."
    },
    "VO2Max": {
      "id": "VO2Max",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        },
        "measurementMethod": {
          "description": "Optional. The method used to measure the VO2 max value.",
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ]
        },
        "vo2Max": {
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min. Must be in the range `[0, 100]`.",
          "format": "double"
        }
      },
      "description": "VO2 max measurement."
    },
    "RollUpDataPointsRequest": {
      "type": "object",
      "id": "RollUpDataPointsRequest",
      "description": "Request to roll up data points by physical time intervals.",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - Default value. Includes data from all available data sources. - `users/me/dataSourceFamilies/google-wearables` - Includes data from Google and Fitbit tracker devices (such as Fitbit trackers and Pixel Watch). Excludes manually logged data. - `users/me/dataSourceFamilies/google-sources` - Includes first-party Google data, such as data from tracker devices, manually logged data, and Health Connect. - `users/me/dataSourceFamilies/self-sources` - Includes only the data the calling client wrote through this API, that is, data points whose data source was registered through this API with the same OAuth client ID as the caller. Callers that were only granted write scopes for the requested data type may only read the data they wrote themselves: their requests are implicitly restricted to `self-sources`, and requesting any other data source family fails with `PERMISSION_DENIED`. If no data point matches the requested data source family, the response is an empty list rather than an error."
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions. Must be at least 1 second. If the requested range is not an exact multiple of `window_size`, the final bucket chronologically will be truncated at the upper endpoint of the range and will cover a duration shorter than `window_size`.",
          "type": "string",
          "format": "google-duration"
        },
        "range": {
          "$ref": "Interval",
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        }
      }
    },
    "ManifestParams": {
      "properties": {
        "recipient": {
          "description": "Required. A string describing the recipient (e.g.,the name of an organization or person) suitable for display to the Receiving User",
          "type": "string"
        },
        "passcode": {
          "type": "string",
          "description": "Optional. "
        },
        "embeddedLengthMax": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Integer upper bound on the length of embedded payloads"
        }
      },
      "id": "ManifestParams",
      "type": "object",
      "description": "Represents the POST body contained in a GetShlManifestRequest This message is nested to represent that See https://build.fhir.org/ig/HL7/smart-health-cards-and-links/links-specification.html#smart-health-link-manifest-request"
    },
    "SkinTemperatureMetadata": {
      "properties": {
        "measurementLocation": {
          "type": "string",
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "FINGER",
            "TOE",
            "WRIST"
          ],
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Finger measurement location.",
            "Toe measurement location.",
            "Wrist measurement location."
          ],
          "description": "Optional. The location of the skin temperature measurement."
        },
        "measurementState": {
          "enumDescriptions": [
            "Measurement state is unspecified.",
            "Other measurement state.",
            "Measurement state at rest.",
            "Measurement state during sleep."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_STATE_UNSPECIFIED",
            "MEASUREMENT_STATE_OTHER",
            "MEASUREMENT_STATE_AT_REST",
            "MEASUREMENT_STATE_SLEEP"
          ],
          "description": "Optional. The motion state of the skin temperature measurement."
        }
      },
      "id": "SkinTemperatureMetadata",
      "description": "Metadata for the skin temperature measurement.",
      "type": "object"
    },
    "ListPairedDevicesResponse": {
      "type": "object",
      "description": "Response message for ListPairedDevices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "pairedDevices": {
          "description": "The paired devices of the user.",
          "type": "array",
          "items": {
            "$ref": "PairedDevice"
          }
        }
      },
      "id": "ListPairedDevicesResponse"
    },
    "OvulationTest": {
      "id": "OvulationTest",
      "description": "Ovulation test record.",
      "type": "object",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which ovulation test was measured."
        },
        "result": {
          "enumDescriptions": [
            "Unspecified result.",
            "Negative result.",
            "Luteinizing hormone surge.",
            "Estrogen surge.",
            "Positive result.",
            "Indeterminate result."
          ],
          "type": "string",
          "enum": [
            "OVULATION_TEST_RESULT_UNSPECIFIED",
            "NEGATIVE",
            "LUTEINIZING_HORMONE_SURGE",
            "ESTROGEN_SURGE",
            "POSITIVE",
            "INDETERMINATE"
          ],
          "description": "Required. The result of the ovulation test."
        }
      }
    },
    "RunVO2MaxRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "id": "RunVO2MaxRollupValue",
      "properties": {
        "rateMin": {
          "description": "Minimum value of run VO2 max in the interval..",
          "format": "double",
          "type": "number"
        },
        "rateAvg": {
          "format": "double",
          "type": "number",
          "description": "Average value of run VO2 max in the interval."
        },
        "rateMax": {
          "description": "Maximum value of run VO2 max in the interval.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "RunVO2Max": {
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the metric was measured.",
          "$ref": "ObservationSampleTime"
        },
        "runVo2Max": {
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min. Must be in the range `[0, 100]`.",
          "type": "number"
        }
      },
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min."
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "properties": {
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "vo2Max": {
          "$ref": "VO2Max",
          "description": "Optional. Data for points in the `vo2-max` sample data type collection."
        },
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection."
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "basalEnergyBurned": {
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "food": {
          "description": "Optional. The food details.",
          "$ref": "Food"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "bloodGlucose": {
          "description": "Optional. Data for points in the `blood-glucose` sample data type collection.",
          "$ref": "BloodGlucose"
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "steps": {
          "$ref": "Steps",
          "description": "Optional. Data for points in the `steps` interval data type collection."
        },
        "activeEnergyBurned": {
          "$ref": "ActiveEnergyBurned",
          "description": "Optional. Data for points in the `active-energy-burned` interval data type collection."
        },
        "dailyRestingHeartRate": {
          "$ref": "DailyRestingHeartRate",
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection."
        },
        "ovulationTest": {
          "description": "Optional. Data for points in the `ovulation-test` sample data type collection.",
          "$ref": "OvulationTest"
        },
        "dataSource": {
          "$ref": "DataSource",
          "description": "Optional. Data source information for the metric"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "moods": {
          "description": "Optional. Data for points in the `moods` sample data type collection.",
          "$ref": "Moods"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsData",
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection."
        },
        "irregularRhythmNotification": {
          "description": "Optional. Data for points in the `irregular-rhythm-notification` session data type collection.",
          "$ref": "IrregularRhythmNotification"
        },
        "bodyFat": {
          "$ref": "BodyFat",
          "description": "Optional. Data for points in the `body-fat` sample data type collection."
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "symptoms": {
          "$ref": "Symptoms",
          "description": "Optional. Data for points in the `symptoms` sample data type collection."
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriod",
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection."
        },
        "dailyOxygenSaturation": {
          "$ref": "DailyOxygenSaturation",
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection."
        },
        "skinTemperature": {
          "description": "Optional. Data for points in the `skin-temperature` sample data type collection.",
          "$ref": "SkinTemperature"
        },
        "nutritionLog": {
          "description": "Optional. Data for points in the `nutrition-log` session data type collection.",
          "$ref": "NutritionLog"
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Optional. Data for points in the `hydration-log` session data type collection."
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "skinTemperatureSensors": {
          "$ref": "SkinTemperatureSensors",
          "description": "Optional. Data for points in the `skin-temperature-sensors` sample data type collection."
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperature",
          "description": "Optional. Data for points in the `core-body-temperature` sample data type collection."
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "foodMeasurementUnit": {
          "$ref": "FoodMeasurementUnit",
          "description": "Optional. The food measurement unit details."
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "menstrualPeriod": {
          "$ref": "MenstrualPeriod",
          "description": "Optional. Data for points in the `menstrual-period` interval data type collection."
        },
        "electrocardiogram": {
          "$ref": "Electrocardiogram",
          "description": "Optional. Data for points in the `electrocardiogram` session data type collection."
        }
      },
      "type": "object",
      "id": "DataPoint"
    },
    "WeightQuantity": {
      "properties": {
        "userProvidedUnit": {
          "description": "Optional. Value representing the user provided unit.",
          "enumDescriptions": [
            "Unspecified weight unit.",
            "Value representing gram.",
            "Value representing kilogram.",
            "Value representing ounce.",
            "Value representing pound.",
            "Value representing stone.",
            "Value representing milligram.",
            "Value representing microgram.",
            "Value representing nanogram."
          ],
          "type": "string",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "GRAM",
            "KILOGRAM",
            "OUNCE",
            "POUND",
            "STONE",
            "MILLIGRAM",
            "MICROGRAM",
            "NANOGRAM"
          ]
        },
        "grams": {
          "format": "double",
          "type": "number",
          "description": "Required. The weight value in grams. Must be in the range `[0, 100000]`."
        }
      },
      "id": "WeightQuantity",
      "type": "object",
      "description": "Represents the weight quantity."
    },
    "StepsRollupValue": {
      "id": "StepsRollupValue",
      "properties": {
        "countSum": {
          "format": "int64",
          "type": "string",
          "description": "Total number of steps in the interval."
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the steps data type."
    },
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Observed interval end time."
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "civilStartTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ObservationTimeInterval"
    },
    "SkinTemperatureRollupValue": {
      "properties": {
        "temperatureCelsiusMax": {
          "format": "double",
          "type": "number",
          "description": "Maximum skin temperature in Celsius."
        },
        "temperatureCelsiusMin": {
          "type": "number",
          "description": "Minimum skin temperature in Celsius.",
          "format": "double"
        },
        "temperatureCelsiusAvg": {
          "format": "double",
          "description": "Average skin temperature in Celsius.",
          "type": "number"
        }
      },
      "id": "SkinTemperatureRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the skin temperature data type."
    },
    "ListDataPointsResponse": {
      "id": "ListDataPointsResponse",
      "description": "Response containing raw data points matching the query",
      "type": "object",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "DataPoint"
          },
          "type": "array",
          "description": "Data points matching the query"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      }
    },
    "ActivityLevel": {
      "id": "ActivityLevel",
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object",
      "properties": {
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ]
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "WeightQuantityRollup": {
      "type": "object",
      "properties": {
        "gramsSum": {
          "type": "number",
          "description": "Required. The sum of the weight in grams.",
          "format": "double"
        },
        "userProvidedUnitLast": {
          "type": "string",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "GRAM",
            "KILOGRAM",
            "OUNCE",
            "POUND",
            "STONE",
            "MILLIGRAM",
            "MICROGRAM",
            "NANOGRAM"
          ],
          "enumDescriptions": [
            "Unspecified weight unit.",
            "Value representing gram.",
            "Value representing kilogram.",
            "Value representing ounce.",
            "Value representing pound.",
            "Value representing stone.",
            "Value representing milligram.",
            "Value representing microgram.",
            "Value representing nanogram."
          ],
          "description": "Optional. The user provided unit on the last element."
        }
      },
      "id": "WeightQuantityRollup",
      "description": "Rollup for the weight."
    },
    "Moods": {
      "description": "Moods record.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which moods were measured."
        },
        "valences": {
          "items": {
            "enumDescriptions": [
              "Unspecified valence.",
              "Unpleasant.",
              "Baseline.",
              "Pleasant."
            ],
            "type": "string",
            "enum": [
              "VALENCE_UNSPECIFIED",
              "UNPLEASANT",
              "BASELINE",
              "PLEASANT"
            ]
          },
          "type": "array",
          "description": "Optional. The valences."
        },
        "moods": {
          "items": {
            "type": "string",
            "enum": [
              "MOOD_UNSPECIFIED",
              "AMAZED",
              "AMUSED",
              "ANGRY",
              "ANNOYED",
              "ANXIOUS",
              "HAPPY",
              "CONTENT",
              "SAD",
              "WORRIED",
              "FRUSTRATED",
              "EXCITED",
              "CALM",
              "STRESSED",
              "ASHAMED",
              "BRAVE",
              "CONFIDENT",
              "DISAPPOINTED",
              "DISCOURAGED",
              "DISGUSTED",
              "DRAINED",
              "EMBARRASSED",
              "GRATEFUL",
              "GUILTY",
              "HOPEFUL",
              "HOPELESS",
              "INDIFFERENT",
              "IRRITATED",
              "JEALOUS",
              "JOYFUL",
              "LONELY",
              "OVERWHELMED",
              "PASSIONATE",
              "PEACEFUL",
              "PROUD",
              "RELIEVED",
              "SATISFIED",
              "SCARED",
              "SURPRISED",
              "ENERGIZED",
              "FATIGUED",
              "VERY_CALM",
              "VERY_STRESSED",
              "NEUTRAL",
              "AFRAID",
              "HURTING",
              "BORED",
              "BITTER",
              "ENVIOUS",
              "CONFUSED",
              "CURIOUS",
              "AWESTRUCK",
              "INSPIRED",
              "LONGING",
              "ACCOMPLISHED",
              "LOVING",
              "COMPASSIONATE",
              "DEPRESSED",
              "GOOD",
              "LOW_ENERGY",
              "OBSESSIVE_THOUGHTS",
              "PANIC",
              "PLAYFUL",
              "PLEASED",
              "SENSITIVE",
              "SLEEPY",
              "SWINGS",
              "UNHAPPY",
              "VERY_SELF_CRITICAL"
            ],
            "enumDescriptions": [
              "Unspecified mood.",
              "Amazed.",
              "Amused.",
              "Angry.",
              "Annoyed.",
              "Anxious.",
              "Happy.",
              "Content.",
              "Sad.",
              "Worried.",
              "Frustrated.",
              "Excited.",
              "Calm.",
              "Stressed.",
              "Ashamed.",
              "Brave.",
              "Confident.",
              "Disappointed.",
              "Discouraged.",
              "Disgusted.",
              "Drained.",
              "Embarrassed.",
              "Grateful.",
              "Guilty.",
              "Hopeful.",
              "Hopeless.",
              "Indifferent.",
              "Irritated.",
              "Jealous.",
              "Joyful.",
              "Lonely.",
              "Overwhelmed.",
              "Passionate.",
              "Peaceful.",
              "Proud.",
              "Relieved.",
              "Satisfied.",
              "Scared.",
              "Surprised.",
              "Energized.",
              "Fatigued.",
              "Very calm.",
              "Very stressed.",
              "Neutral.",
              "Afraid.",
              "Hurting.",
              "Bored.",
              "Bitter.",
              "Envious.",
              "Confused.",
              "Curious.",
              "Awestruck.",
              "Inspired.",
              "Longing.",
              "Accomplished.",
              "Loving.",
              "Compassionate.",
              "Depressed.",
              "Good.",
              "Low energy.",
              "Obsessive thoughts.",
              "Panic.",
              "Playful.",
              "Pleased.",
              "Sensitive.",
              "Sleepy.",
              "Mood swings.",
              "Unhappy.",
              "Very self-critical."
            ]
          },
          "type": "array",
          "description": "Required. The moods logged."
        }
      },
      "type": "object",
      "id": "Moods"
    },
    "DailyRollUpDataPointsResponse": {
      "type": "object",
      "id": "DailyRollUpDataPointsResponse",
      "description": "Response containing the list of rolled up data points.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "DailyRollupDataPoint"
          }
        }
      }
    },
    "SubscriberConfig": {
      "properties": {
        "dataTypes": {
          "type": "array",
          "description": "Required. See [Google Health API data types](https://developers.google.com/health/data-types) for the list of supported data types. Values should be in kebab-case.",
          "items": {
            "type": "string"
          }
        },
        "subscriptionCreatePolicy": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Required. Policy for subscription creation.",
          "enumDescriptions": [
            "Represents an unspecified policy.",
            "When using `AUTOMATIC`, individual subscriptions are not created or stored. Instead, eligibility for notifications is computed dynamically. When a data update occurs for a given data type, notifications are sent to all subscribers with an `AUTOMATIC` policy for that data type, provided the user has granted the necessary consents. This means you do not need to call `CreateSubscription` for each user; notifications are managed automatically based on user consents. As `Subscription` resources are not stored, they cannot be retrieved or managed through `GetSubscription`, `ListSubscriptions`, `UpdateSubscription`, or `DeleteSubscription`.",
            "Requires subscriptions to be created manually for new users. The developer needs to call CreateSubscription for new users."
          ]
        }
      },
      "description": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type.",
      "id": "SubscriberConfig",
      "type": "object"
    },
    "FoodMeasurementUnit": {
      "type": "object",
      "description": "Represents a food measurement unit.",
      "id": "FoodMeasurementUnit",
      "properties": {
        "pluralDisplayName": {
          "type": "string",
          "description": "Optional. The plural display name of the food measurement unit (e.g., \"grams\", \"pieces\")."
        },
        "displayName": {
          "description": "Required. The display name of the food measurement unit (e.g., \"gram\", \"piece\").",
          "type": "string"
        }
      }
    },
    "CoreBodyTemperatureRollupValue": {
      "id": "CoreBodyTemperatureRollupValue",
      "properties": {
        "temperatureCelsiusMax": {
          "description": "Maximum core body temperature in Celsius.",
          "type": "number",
          "format": "double"
        },
        "temperatureCelsiusMin": {
          "format": "double",
          "description": "Minimum core body temperature in Celsius.",
          "type": "number"
        },
        "temperatureCelsiusAvg": {
          "description": "Average core body temperature in Celsius.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the core body temperature data type."
    },
    "Subscription": {
      "type": "object",
      "description": "A subscription to a data collection for a specific user, to be delivered to a subscriber.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Subscription. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {project} ID is mandatory (6-30 characters, matching /a-z{6,30}/) The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise.",
          "type": "string"
        },
        "dataTypes": {
          "type": "array",
          "description": "Optional. Data types subscribed to. A subscriber will only receive notifications for data types that are declared here. A subscription can only subscribe to the data types of the subscriber. The values should be in the format \"users/{health_user_id}/dataTypes/{data_type}\" where `{data_type}` is one of \"altitude\", \"distance\", \"floors\", \"sleep\", \"steps\", \"weight\".",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "description": "Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`).",
          "type": "string"
        }
      },
      "id": "Subscription"
    },
    "DailySleepTemperatureDerivations": {
      "type": "object",
      "id": "DailySleepTemperatureDerivations",
      "properties": {
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "type": "number",
          "format": "double"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date for which the sleep temperature derivations are calculated."
        },
        "baselineTemperatureCelsius": {
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "type": "number",
          "format": "double"
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep."
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "type": "object",
      "id": "HydrationLogRollupValue",
      "properties": {
        "amountConsumed": {
          "$ref": "VolumeQuantityRollup",
          "description": "Rollup for amount consumed."
        }
      }
    },
    "SkinTemperature": {
      "description": "////////////////////////////////////////////////////////////////////////// SkinTemperature ////////////////////////////////////////////////////////////////////////// Skin temperature measurement.",
      "id": "SkinTemperature",
      "type": "object",
      "properties": {
        "temperatureCelsius": {
          "type": "number",
          "description": "Required. The skin temperature in Celsius. Must be in the range `[0, 100]`.",
          "format": "double"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which skin temperature was measured."
        },
        "metadata": {
          "description": "Optional. Metadata for the skin temperature measurement.",
          "$ref": "SkinTemperatureMetadata"
        },
        "baselineTemperatureCelsius": {
          "format": "double",
          "description": "Required. The baseline skin temperature in Celsius. Must be in the range `[0, 100]`.",
          "type": "number"
        }
      }
    },
    "Subscriber": {
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The time at which the subscriber was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscriber was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        },
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "description": "Output only. The state of the subscriber."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef"
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified.",
          "$ref": "EndpointAuthorization"
        }
      },
      "id": "Subscriber"
    },
    "VolumeQuantityRollup": {
      "type": "object",
      "description": "Rollup for volume quantity.",
      "id": "VolumeQuantityRollup",
      "properties": {
        "userProvidedUnitLast": {
          "description": "Optional. The user provided unit on the last element.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "type": "string",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The subscriptions from the specified subscriber."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSubscriptions.",
      "id": "ListSubscriptionsResponse"
    },
    "ListSubscribersResponse": {
      "type": "object",
      "properties": {
        "subscribers": {
          "items": {
            "$ref": "Subscriber"
          },
          "type": "array",
          "description": "Subscribers from the specified project."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of subscribers matching the request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListSubscribersResponse",
      "description": "Response message for ListSubscribers."
    },
    "CivilDateTime": {
      "properties": {
        "date": {
          "description": "Required. Calendar date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries."
    },
    "MetricsSummary": {
      "properties": {
        "elevationGainMillimeters": {
          "description": "Optional. Total elevation gain during the exercise.",
          "format": "double",
          "type": "number"
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "format": "double",
          "type": "number"
        },
        "mobilityMetrics": {
          "$ref": "MobilityMetrics",
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises."
        },
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "type": "number",
          "format": "double"
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "type": "string",
          "format": "int64"
        },
        "averageHeartRateBeatsPerMinute": {
          "description": "Optional. Average heart rate during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "heartRateZoneDurations": {
          "description": "Optional. Time spent in each heart rate zone.",
          "$ref": "TimeInHeartRateZones"
        },
        "caloriesKcal": {
          "format": "double",
          "description": "Optional. Total calories burned by the user during the exercise.",
          "type": "number"
        },
        "averagePaceSecondsPerMeter": {
          "format": "double",
          "type": "number",
          "description": "Optional. Average pace in seconds per meter."
        },
        "runVo2Max": {
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "steps": {
          "description": "Optional. Total steps taken during the exercise.",
          "format": "int64",
          "type": "string"
        },
        "totalSwimLengths": {
          "format": "double",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "type": "number"
        }
      },
      "id": "MetricsSummary",
      "description": "Summary metrics for an exercise.",
      "type": "object"
    },
    "WeightRollupValue": {
      "type": "object",
      "id": "WeightRollupValue",
      "description": "Represents the result of the rollup of the weight data type.",
      "properties": {
        "weightGramsAvg": {
          "type": "number",
          "format": "double",
          "description": "Average weight in grams."
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "Data points matching the query",
          "items": {
            "$ref": "ReconciledDataPoint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      },
      "description": "Response containing the list of reconciled DataPoints.",
      "id": "ReconcileDataPointsResponse",
      "type": "object"
    },
    "ActivityLevelRollupByActivityLevelType": {
      "type": "object",
      "id": "ActivityLevelRollupByActivityLevelType",
      "properties": {
        "totalDuration": {
          "type": "string",
          "description": "Total duration in the activity level type.",
          "format": "google-duration"
        },
        "activityLevelType": {
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "description": "Activity level type.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        }
      },
      "description": "Represents the total duration in a specific activity level type."
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "BloodGlucoseRollupValue": {
      "properties": {
        "bloodGlucoseMilligramsPerDeciliterAvg": {
          "format": "double",
          "type": "number",
          "description": "Average blood glucose level in mg/dL."
        }
      },
      "id": "BloodGlucoseRollupValue",
      "type": "object",
      "description": "Represents the result of the rollup of the blood glucose data type. LINT: LEGACY_NAMES"
    },
    "Profile": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user. This field is read-only.",
          "type": "string"
        },
        "userConfiguredRunningStrideLengthMm": {
          "type": "integer",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "format": "int32"
        },
        "autoRunningStrideLengthMm": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`"
        },
        "autoWalkingStrideLengthMm": {
          "readOnly": true,
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "type": "integer",
          "format": "int32"
        },
        "age": {
          "format": "int32",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "type": "integer"
        },
        "membershipStartDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported."
        },
        "userConfiguredWalkingStrideLengthMm": {
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Profile",
      "description": "Profile details.",
      "type": "object"
    },
    "Serving": {
      "properties": {
        "foodMeasurementUnitDisplayName": {
          "readOnly": true,
          "description": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\").",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Optional. The number of servings.",
          "type": "number"
        },
        "foodMeasurementUnit": {
          "description": "Required. Food measurement unit",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents different properties and information about the serving of a specific food.",
      "id": "Serving"
    },
    "EnergyQuantity": {
      "description": "Represents the energy quantity.",
      "properties": {
        "userProvidedUnit": {
          "type": "string",
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ],
          "description": "Optional. Value representing the user provided unit.",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ]
        },
        "kcal": {
          "format": "double",
          "description": "Required. The energy value in kilocalories. Must be in the range `[0, 100000]`.",
          "type": "number"
        }
      },
      "id": "EnergyQuantity",
      "type": "object"
    },
    "Steps": {
      "id": "Steps",
      "type": "object",
      "description": "Step count over the time interval.",
      "properties": {
        "count": {
          "description": "Required. Number of steps in the recorded interval. Must be in the range `[0, 1000000]`.",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "CreateSubscriptionPayload": {
      "type": "object",
      "id": "CreateSubscriptionPayload",
      "description": "Payload for creating a subscription.",
      "properties": {
        "dataTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Data types subscribed to."
        },
        "user": {
          "description": "Required. Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`).",
          "type": "string"
        }
      }
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "type": "object",
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      }
    },
    "FoodServing": {
      "properties": {
        "foodMeasurementUnitDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\")."
        },
        "foodMeasurementUnitDisplayNamePlural": {
          "description": "Output only. Legacy measurement unit for serving size in plural form (e.g. \"pieces\", \"grams\").",
          "readOnly": true,
          "type": "string"
        },
        "foodMeasurementUnit": {
          "type": "string",
          "description": "Required. Food measurement unit"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Optional. Amount of food consumed, fractional values are supported."
        },
        "multiplier": {
          "format": "double",
          "type": "number",
          "description": "Optional. Value representing the multiplier used to compute the energy when using this serving instead of the default serving."
        }
      },
      "type": "object",
      "description": "Represents different properties and information about the serving of a specific food.",
      "id": "FoodServing"
    },
    "CoreBodyTemperature": {
      "id": "CoreBodyTemperature",
      "description": "Core body temperature measurement, distinct from peripheral body temperature, reflects the temperature of the body's internal organs.",
      "properties": {
        "measurementLocation": {
          "type": "string",
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "ARMPIT",
            "BODY",
            "EAR",
            "FINGER",
            "GASTRO_INTESTINAL",
            "MOUTH",
            "RECTUM",
            "TOE",
            "EAR_DRUM",
            "TEMPORAL_ARTERY",
            "FOREHEAD",
            "URINARY_BLADDER",
            "NASAL",
            "NASOPHARYNGEAL",
            "WRIST",
            "VAGINA"
          ],
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Armpit measurement location.",
            "Body measurement location.",
            "Ear measurement location.",
            "Finger measurement location.",
            "Gastro-intestinal measurement location.",
            "Mouth measurement location.",
            "Rectum measurement location.",
            "Toe measurement location.",
            "Ear drum measurement location.",
            "Temporal artery measurement location.",
            "Forehead measurement location.",
            "Urinary bladder measurement location.",
            "Nasal measurement location.",
            "Nasopharyngeal measurement location.",
            "Wrist measurement location.",
            "Vagina measurement location."
          ],
          "description": "Optional. The location of the core body temperature measurement."
        },
        "id": {
          "description": "Optional. The unique identifier of the core body temperature measurement.",
          "type": "string"
        },
        "temperatureCelsius": {
          "description": "Required. The core body temperature in Celsius. Must be in the range `[0, 100]`.",
          "type": "number",
          "format": "double"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which core body temperature was measured."
        }
      },
      "type": "object"
    },
    "AltitudeRollupValue": {
      "id": "AltitudeRollupValue",
      "description": "Represents the result of the rollup of the user's altitude.",
      "properties": {
        "gainMillimetersSum": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the altitude gain in millimeters."
        }
      },
      "type": "object"
    },
    "HeartRateZone": {
      "type": "object",
      "description": "The heart rate zone.",
      "id": "HeartRateZone",
      "properties": {
        "heartRateZoneType": {
          "description": "Required. The heart rate zone type.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "maxBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum heart rate for this zone in beats per minute."
        },
        "minBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        }
      }
    },
    "MenstrualPeriod": {
      "properties": {
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "Menstrual period record.",
      "id": "MenstrualPeriod",
      "type": "object"
    },
    "Symptoms": {
      "properties": {
        "sampleTime": {
          "description": "Required. Time when the symptoms were logged.",
          "$ref": "ObservationSampleTime"
        },
        "symptoms": {
          "items": {
            "enumDescriptions": [
              "Unspecified symptom value.",
              "Abdominal cramps.",
              "Headache.",
              "Tender breasts.",
              "Acne.",
              "Feeling sick or unwell.",
              "Bloating or abdominal swelling.",
              "Hot flashes.",
              "Premenstrual syndrome symptoms.",
              "Coughing.",
              "Fever or elevated body temperature.",
              "Difficulty breathing or shortness of breath.",
              "Back pain.",
              "Shakiness or tremors.",
              "Excessive hunger.",
              "Excessive sweating.",
              "Anxiety or nervousness.",
              "Excessive thirst.",
              "Frequent urination.",
              "Blurred vision.",
              "Other symptoms.",
              "High sex drive.",
              "Medium sex drive.",
              "Low sex drive.",
              "Heart palpitations or racing heart.",
              "Fainting or loss of consciousness.",
              "Chest pain or discomfort.",
              "Fatigue or extreme tiredness.",
              "Confusion or mental fogginess.",
              "Dizziness or lightheadedness.",
              "Abdominal pain.",
              "Bladder leaks.",
              "Bleeding gums.",
              "Brain fog.",
              "Burning mouth.",
              "Constipation.",
              "Food cravings.",
              "Decreased appetite.",
              "Diarrhea.",
              "Drawing pain.",
              "Dry eyes.",
              "Dry hair.",
              "Dry skin.",
              "Exhaustion.",
              "Feeling good or well.",
              "Food aversions.",
              "Hair loss.",
              "Heartburn.",
              "Hyperpigmentation.",
              "Increased appetite.",
              "Increased appetite V2.",
              "Insomnia or difficulty sleeping.",
              "Joint pain.",
              "Leg cramps.",
              "Milky nipple discharge.",
              "Nausea.",
              "Night sweats.",
              "Normal digestion.",
              "Normal stool.",
              "Perineum pain.",
              "Sleepiness or drowsiness.",
              "Stretch marks.",
              "Swelling.",
              "Vaginal dryness.",
              "Vaginal itching.",
              "Vomiting."
            ],
            "type": "string",
            "enum": [
              "SYMPTOM_VALUE_UNSPECIFIED",
              "CRAMPS",
              "HEADACHE",
              "TENDER_BREASTS",
              "ACNE",
              "SICK",
              "BLOATED",
              "HOT_FLASHES",
              "PMS",
              "COUGH",
              "FEVER",
              "DIFFICULTY_BREATHING",
              "BACK_PAIN",
              "SHAKINESS",
              "HUNGER",
              "SWEATING",
              "ANXIETY",
              "THIRST",
              "FREQUENT_URINATION",
              "BLURRED_VISION",
              "OTHER",
              "SEX_DRIVE_HIGH",
              "SEX_DRIVE_MEDIUM",
              "SEX_DRIVE_LOW",
              "HEART_PALPITATIONS",
              "FAINTING",
              "CHEST_PAIN",
              "FATIGUE",
              "CONFUSION",
              "DIZZINESS",
              "ABDOMINAL_PAIN",
              "BLADDER_LEAKS",
              "BLEEDING_GUMS",
              "BRAIN_FOG",
              "BURNING_MOUTH",
              "CONSTIPATION",
              "CRAVINGS",
              "DECREASED_APPETITE",
              "DIARRHEA",
              "DRAWING_PAIN",
              "DRY_EYES",
              "DRY_HAIR",
              "DRY_SKIN",
              "EXHAUSTION",
              "FEEL_GOOD",
              "FOOD_AVERSIONS",
              "HAIR_LOSS",
              "HEARTBURN",
              "HYPERPIGMENTATION",
              "INCREASED_APPETITE",
              "INCREASED_APPETITE_V2",
              "INSOMNIA",
              "JOINT_PAIN",
              "LEG_CRAMPS",
              "MILKY_NIPPLE_DISCHARGE",
              "NAUSEA",
              "NIGHT_SWEATS",
              "NORMAL_DIGESTION",
              "NORMAL_STOOL",
              "PERINEUM_PAIN",
              "SLEEPINESS",
              "STRETCH_MARKS",
              "SWELLING",
              "VAGINAL_DRYNESS",
              "VAGINAL_ITCHING",
              "VOMITING"
            ]
          },
          "type": "array",
          "description": "Required. List of symptoms experienced."
        }
      },
      "type": "object",
      "id": "Symptoms",
      "description": "Symptoms logged by the user."
    },
    "IrnProfile": {
      "type": "object",
      "id": "IrnProfile",
      "description": "Irregular Rhythm Notifications (IRN) Profile details. The Irregular Rhythm Notifications (IRN) feature checks for signs of atrial fibrillation (AFib). The IrnProfile details include information about the user's onboarding status, enrollment status, and the last update time of analyzable data for this feature.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp of the last piece of analyzable data synced by the user.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "enrollmentStatus": {
          "type": "boolean",
          "description": "Required. Whether or not the user is currently enrolled in having their data processed for IRN alerts."
        },
        "onboardingStatus": {
          "description": "Required. Whether or not the user has onboarded onto the IRN feature.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this IrnProfile resource. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "TimeInHeartRateZone": {
      "properties": {
        "heartRateZoneType": {
          "description": "Required. Heart rate zone type.",
          "type": "string",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "type": "object",
      "id": "TimeInHeartRateZone",
      "description": "Time in heart rate zone record. It's an interval spent in specific heart rate zone."
    },
    "SensorMetadata": {
      "properties": {
        "measurementState": {
          "type": "string",
          "enum": [
            "MEASUREMENT_STATE_UNSPECIFIED",
            "OTHER",
            "AT_REST",
            "SLEEP"
          ],
          "enumDescriptions": [
            "Measurement state is unspecified.",
            "Other measurement state.",
            "Measurement state at rest.",
            "Measurement state during sleep."
          ],
          "description": "Optional. The motion state of the sensor measurement."
        },
        "measurementLocation": {
          "description": "Optional. The location of the sensor measurement.",
          "type": "string",
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "FINGER",
            "TOE",
            "WRIST"
          ],
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Finger measurement location.",
            "Toe measurement location.",
            "Wrist measurement location."
          ]
        },
        "sensorType": {
          "type": "string",
          "enumDescriptions": [
            "Sensor type is unspecified.",
            "Skin temperature sensor (bottom contact sensor).",
            "Internal device temperature sensor (top/ambient sensor)."
          ],
          "enum": [
            "SENSOR_TYPE_UNSPECIFIED",
            "SKIN_TEMPERATURE_SENSOR",
            "INTERNAL_DEVICE_TEMPERATURE_SENSOR"
          ],
          "description": "Optional. The type of the sensor."
        }
      },
      "id": "SensorMetadata",
      "description": "Metadata for the sensor measurement.",
      "type": "object"
    },
    "NutrientQuantityRollup": {
      "id": "NutrientQuantityRollup",
      "description": "Nutrient quantity rollup.",
      "type": "object",
      "properties": {
        "nutrient": {
          "description": "Required. Aggregated nutrient.",
          "enumDescriptions": [
            "Unspecified nutrient.",
            "Value representing biotin nutrient.",
            "Value representing caffeine nutrient.",
            "Value representing calcium nutrient.",
            "Value representing chloride nutrient.",
            "Value representing carbohydrates nutrient.",
            "Value representing cholesterol nutrient.",
            "Value representing chromium nutrient.",
            "Value representing copper nutrient.",
            "Value representing dietary fiber nutrient.",
            "Value representing folic acid nutrient.",
            "Value representing iodine nutrient.",
            "Value representing iron nutrient.",
            "Value representing magnesium nutrient.",
            "Value representing manganese nutrient.",
            "Value representing molybdenum nutrient.",
            "Value representing monounsaturated fat nutrient.",
            "Value representing niacin nutrient.",
            "Value representing pantothenic acid nutrient.",
            "Value representing phosphorus nutrient.",
            "Value representing polyunsaturated fat nutrient.",
            "Value representing potassium nutrient.",
            "Value representing protein nutrient.",
            "Value representing riboflavin nutrient.",
            "Value representing saturated fat nutrient.",
            "Value representing selenium nutrient.",
            "Value representing sodium nutrient.",
            "Value representing sugar nutrient.",
[...]
