{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/healthcare",
  "discoveryVersion": "v1",
  "name": "healthcare",
  "schemas": {
    "DeidentifySummary": {
      "type": "object",
      "description": "Contains a detailed summary of the Deidentify operation.",
      "properties": {},
      "id": "DeidentifySummary"
    },
    "SetBlobStorageSettingsResponse": {
      "type": "object",
      "description": "Returns additional info in regards to a completed set blob storage settings API.",
      "properties": {},
      "id": "SetBlobStorageSettingsResponse"
    },
    "ImportDicomDataResponse": {
      "type": "object",
      "description": "Returns additional information in regards to a completed DICOM store import.",
      "properties": {},
      "id": "ImportDicomDataResponse"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "ImportMessagesRequest": {
      "description": "Request to import messages.",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GcsSource"
        }
      },
      "type": "object",
      "id": "ImportMessagesRequest"
    },
    "GoogleCloudHealthcareV1beta1DicomBigQueryDestination": {
      "id": "GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
      "type": "object",
      "description": "The BigQuery table where the server writes output.",
      "properties": {
        "changeDataCaptureConfig": {
          "description": "Optional. Setting this field will enable BigQuery's Change Data Capture (CDC) on the destination tables with JSON schema. Set this field if you want to only keep the latest version of each instance. Updates and deletes to an existing' instance will overwrite the corresponding row. See https://cloud.google.com/bigquery/docs/change-data-capture for details. Note that this field is only supported with the SchemaJSON option. The SchemaFlattened option is not compatible with CDC.",
          "$ref": "GoogleCloudHealthcareV1beta1DicomChangeDataCaptureConfig"
        },
        "force": {
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        },
        "writeDisposition": {
          "type": "string",
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination table is empty.",
            "Erase all existing data in the destination table before writing the instances.",
            "Append data to the destination table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Determines whether the existing table in the destination is to be overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored."
        },
        "schemaFlattened": {
          "description": "Optional. Setting this field will use flattened DICOM instances schema for the BigQuery table. The flattened schema will have one column for each DICOM tag.",
          "$ref": "SchemaFlattened"
        },
        "schemaJson": {
          "description": "Optional. Setting this field will store all the DICOM tags as a JSON type in a single column.",
          "$ref": "SchemaJSON"
        },
        "tableUri": {
          "description": "BigQuery URI to a table, up to 2000 characters long, in the format `bq://projectId.bqDatasetId.tableId`",
          "type": "string"
        },
        "includeSourceStore": {
          "description": "Optional. If true, the source store name will be included as a column in the BigQuery schema.",
          "type": "boolean"
        }
      }
    },
    "Resources": {
      "type": "object",
      "description": "A list of FHIR resources.",
      "properties": {
        "resources": {
          "description": "List of resources IDs. For example, \"Patient/1234\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Resources"
    },
    "SeriesMetrics": {
      "type": "object",
      "description": "SeriesMetrics contains metrics describing a DICOM series.",
      "properties": {
        "structuredStorageSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total structured storage bytes for all instances in the series."
        },
        "instanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances in the series."
        },
        "blobStorageSizeBytes": {
          "description": "Total blob storage bytes for all instances in the series.",
          "type": "string",
          "format": "int64"
        },
        "series": {
          "type": "string",
          "description": "The series resource path. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}/dicomWeb/studies/{study_uid}/series/{series_uid}`."
        }
      },
      "id": "SeriesMetrics"
    },
    "CheckDataAccessResponse": {
      "type": "object",
      "description": "Checks if a particular data_id of a User data mapping in the given consent store is consented for a given use.",
      "properties": {
        "consented": {
          "description": "Whether the requested resource is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          },
          "description": "The resource names of all evaluated Consents mapped to their evaluation."
        }
      },
      "id": "CheckDataAccessResponse"
    },
    "StudyMetrics": {
      "description": "StudyMetrics contains metrics describing a DICOM study.",
      "properties": {
        "blobStorageSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total blob storage bytes for all instances in the study."
        },
        "study": {
          "type": "string",
          "description": "The study resource path. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}/dicomWeb/studies/{study_uid}`."
        },
        "structuredStorageSizeBytes": {
          "description": "Total structured storage bytes for all instances in the study.",
          "type": "string",
          "format": "int64"
        },
        "seriesCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of series in the study."
        },
        "instanceCount": {
          "description": "Number of instances in the study.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "StudyMetrics"
    },
    "AttributeDefinition": {
      "id": "AttributeDefinition",
      "type": "object",
      "description": "A client-defined consent attribute.",
      "properties": {
        "description": {
          "description": "Optional. A description of the attribute.",
          "type": "string"
        },
        "dataMappingDefaultValue": {
          "description": "Optional. Default value of the attribute in User data mappings. If no default value is specified, it defaults to an empty value. This field is only applicable to attributes of the category `RESOURCE`.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "No category specified. This option is invalid.",
            "Specify this category when this attribute describes the properties of resources. For example, data anonymity or data type.",
            "Specify this category when this attribute describes the properties of requests. For example, requester's role or requester's organization."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE",
            "REQUEST"
          ],
          "description": "Required. The category of the attribute. The value of this field cannot be changed after creation."
        },
        "name": {
          "description": "Identifier. Resource name of the Attribute definition, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/attributeDefinitions/{attribute_definition_id}`. Cannot be changed after creation.",
          "type": "string"
        },
        "consentDefaultValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Default values of the attribute in Consents. If no default values are specified, it defaults to an empty value."
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Possible values for the attribute. The number of allowed values must not exceed 500. An empty list is invalid. The list can only be expanded after creation."
        }
      }
    },
    "InfoTypeTransformation": {
      "type": "object",
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "properties": {
        "replaceWithInfoTypeConfig": {
          "description": "Config for replace with InfoType.",
          "$ref": "ReplaceWithInfoTypeConfig"
        },
        "characterMaskConfig": {
          "description": "Config for character mask.",
          "$ref": "CharacterMaskConfig"
        },
        "cryptoHashConfig": {
          "description": "Config for crypto hash.",
          "$ref": "CryptoHashConfig"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "`InfoTypes` to apply this transformation to. If this is not specified, this transformation becomes the default transformation, and is used for any `info_type` that is not specified in another transformation."
        },
        "redactConfig": {
          "description": "Config for text redaction.",
          "$ref": "RedactConfig"
        },
        "dateShiftConfig": {
          "description": "Config for date shift.",
          "$ref": "DateShiftConfig"
        }
      },
      "id": "InfoTypeTransformation"
    },
    "DeidentifiedStoreDestination": {
      "id": "DeidentifiedStoreDestination",
      "type": "object",
      "description": "Contains configuration for streaming de-identified FHIR export.",
      "properties": {
        "store": {
          "description": "The full resource name of a Cloud Healthcare FHIR store, for example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "config": {
          "description": "The configuration to use when de-identifying resources that are added to this store.",
          "$ref": "DeidentifyConfig"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1FhirExportResourcesResponse": {
      "description": "Response when all resources export successfully. This structure is included in the response to describe the detailed outcome after the operation finishes successfully.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1FhirExportResourcesResponse"
    },
    "ListConsentStoresResponse": {
      "type": "object",
      "properties": {
        "consentStores": {
          "type": "array",
          "items": {
            "$ref": "ConsentStore"
          },
          "description": "The returned consent stores. The maximum number of stores returned is determined by the value of page_size in the ListConsentStoresRequest."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListConsentStoresResponse"
    },
    "ConsentList": {
      "id": "ConsentList",
      "description": "List of resource names of Consent resources.",
      "properties": {
        "consents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource names of the Consents to evaluate against, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`."
        }
      },
      "type": "object"
    },
    "FhirStore": {
      "description": "Represents a FHIR store.",
      "properties": {
        "notificationConfig": {
          "description": "Deprecated. Use `notification_configs` instead. If non-empty, publish all resource modifications of this FHIR store to this destination. The Pub/Sub message attributes contain a map with a string describing the action that has triggered the notification. For example, \"action\":\"CreateResource\". Not supported in R5. Use `notification_configs` instead.",
          "deprecated": true,
          "$ref": "NotificationConfig"
        },
        "streamConfigs": {
          "type": "array",
          "items": {
            "$ref": "StreamConfig"
          },
          "description": "A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Before adding a new config, you must add the required [`bigquery.dataEditor`](https://cloud.google.com/bigquery/docs/access-control#bigquery.dataEditor) role to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/iam/docs/service-accounts). Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination."
        },
        "complexDataTypeReferenceParsing": {
          "type": "string",
          "enumDescriptions": [
            "No parsing behavior specified. This is the same as DISABLED for backwards compatibility.",
            "References in complex data types are ignored.",
            "References in complex data types are parsed."
          ],
          "enum": [
            "COMPLEX_DATA_TYPE_REFERENCE_PARSING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Enable parsing of references within complex FHIR data types such as Extensions. If this value is set to ENABLED, then features like referential integrity and Bundle reference rewriting apply to all references. If this flag has not been specified the behavior of the FHIR store will not change, references in complex data types will not be parsed. New stores will have this value set to ENABLED after a notification period. Warning: turning on this flag causes processing existing resources to fail if they contain references to non-existent resources. Cannot be disabled in R5."
        },
        "disableReferentialIntegrity": {
          "description": "Immutable. Whether to disable referential integrity in this FHIR store. This field is immutable after FHIR store creation. The default value is false, meaning that the API enforces referential integrity and fails the requests that result in inconsistent state in the FHIR store. When this field is set to true, the API skips referential integrity checks. Consequently, operations that rely on references, such as GetPatientEverything, do not return all the results if broken references exist.",
          "type": "boolean"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableHistoryModifications": {
          "type": "boolean",
          "description": "Optional. Whether to allow the [ImportResourcesHistory] and [ExecuteBundle] APIs to accept history bundles, and directly insert and overwrite historical resource versions into the FHIR store. Changing resource histories creates resource interactions that have occurred in the past which clients might not allow. If set to false, [ImportResourcesHistory] and [ExecuteBundle] requests will return errors."
        },
        "consentConfig": {
          "description": "Optional. Specifies whether this store has consent enforcement. Not available for DSTU2 FHIR version due to absence of Consent resources. Not supported for R5 FHIR version.",
          "$ref": "ConsentConfig"
        },
        "validationConfig": {
          "description": "Configuration for how to validate incoming FHIR resources against configured profiles.",
          "$ref": "ValidationConfig"
        },
        "notificationConfigs": {
          "description": "Specifies where and whether to send notifications upon changes to a Fhir store.",
          "type": "array",
          "items": {
            "$ref": "FhirNotificationConfig"
          }
        },
        "bulkExportGcsDestination": {
          "description": "Optional. FHIR bulk export exports resources to the specified Cloud Storage destination. A Cloud Storage destination is a URI for a Cloud Storage directory where result files will be written. Only used in the spec-defined bulk $export methods. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM role on the destination.",
          "$ref": "BulkExportGcsDestination"
        },
        "enableUpdateCreate": {
          "type": "boolean",
          "description": "Whether this FHIR store has the [updateCreate capability](https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. It is strongly advised not to include or encode any sensitive data such as patient identifiers in client-specified resource IDs. Those IDs are part of the FHIR resource path recorded in Cloud audit logs and Pub/Sub notifications. Those IDs can also be contained in reference fields within other resources. Defaults to false."
        },
        "version": {
          "description": "Required. Immutable. The FHIR specification version that this FHIR store supports natively. This field is immutable after store creation. Requests are rejected if they contain FHIR resources of a different version. Version is required for every FHIR store.",
          "type": "string",
          "enumDescriptions": [
            "VERSION_UNSPECIFIED is treated as STU3 to accommodate the existing FHIR stores.",
            "Draft Standard for Trial Use, [Release 2](https://www.hl7.org/fhir/DSTU2)",
            "Standard for Trial Use, [Release 3](https://www.hl7.org/fhir/STU3)",
            "[Release 4](https://www.hl7.org/fhir/R4)",
            "[Release 5](https://www.hl7.org/fhir/R5)"
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "DSTU2",
            "STU3",
            "R4",
            "R5"
          ]
        },
        "defaultSearchHandlingStrict": {
          "type": "boolean",
          "description": "If true, overrides the default search behavior for this FHIR store to `handling=strict` which returns an error for unrecognized search parameters. If false, uses the FHIR specification default `handling=lenient` which ignores unrecognized search parameters. The handling can always be changed from the default on an individual API call by setting the HTTP header `Prefer: handling=strict` or `Prefer: handling=lenient`. Defaults to false."
        },
        "searchConfig": {
          "description": "Configuration for how FHIR resources can be searched.",
          "$ref": "SearchConfig"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the FHIR store, of the form `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "disableResourceVersioning": {
          "description": "Immutable. Whether to disable resource versioning for this FHIR store. This field can not be changed after the creation of FHIR store. If set to false, all write operations cause historical versions to be recorded automatically. The historical versions can be fetched through the history APIs, but cannot be updated. If set to true, no historical versions are kept. The server sends errors for attempts to read the historical versions. Defaults to false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "FhirStore"
    },
    "IngestMessageResponse": {
      "id": "IngestMessageResponse",
      "description": "Acknowledges that a message has been ingested into the specified HL7v2 store.",
      "properties": {
        "hl7Ack": {
          "description": "HL7v2 ACK message.",
          "type": "string",
          "format": "byte"
        },
        "message": {
          "description": "Created message resource.",
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "AdminConsents": {
      "id": "AdminConsents",
      "type": "object",
      "description": "List of admin Consent resources to be applied.",
      "properties": {
        "names": {
          "description": "The versioned names of the admin Consent resource(s), in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DeidentifyDeidentifyFhirStoreSummary": {
      "description": "Contains a summary of the DeidentifyFhirStore operation.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1DeidentifyDeidentifyFhirStoreSummary"
    },
    "FhirStoreMetric": {
      "id": "FhirStoreMetric",
      "type": "object",
      "description": "Count of resources and total storage size by type for a given FHIR store.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The FHIR resource type this metric applies to."
        },
        "structuredStorageSizeBytes": {
          "description": "The total amount of structured storage used by FHIR resources of this resource type in the store.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The total count of FHIR resources in the store of this resource type."
        },
        "versionedStorageSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total amount of versioned storage used by versioned FHIR resources of this resource type in the store."
        }
      }
    },
    "FhirFilter": {
      "id": "FhirFilter",
      "type": "object",
      "description": "Filter configuration.",
      "properties": {
        "resources": {
          "description": "List of resources to include in the output. If this list is empty or not specified, all resources are included in the output.",
          "$ref": "Resources"
        }
      }
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "RemoveTag": {
      "id": "RemoveTag",
      "type": "object",
      "description": "Replace with empty tag.",
      "properties": {}
    },
    "ExportDicomDataRequest": {
      "id": "ExportDicomDataRequest",
      "type": "object",
      "description": "Exports data from the specified DICOM store. If a given resource, such as a DICOM object with the same SOPInstance UID, already exists in the output, it is overwritten with the version in the source dataset. Exported DICOM data persists when the DICOM store from which it was exported is deleted.",
      "properties": {
        "filterConfig": {
          "description": "Specifies the filter configuration.",
          "$ref": "DicomFilterConfig"
        },
        "gcsDestination": {
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1beta1DicomGcsDestination"
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination. You can only export to a BigQuery dataset that's in the same project as the DICOM store you're exporting from. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`.",
          "$ref": "GoogleCloudHealthcareV1beta1DicomBigQueryDestination"
        }
      }
    },
    "FhirStoreMetrics": {
      "id": "FhirStoreMetrics",
      "description": "List of metrics for a given FHIR store.",
      "properties": {
        "name": {
          "description": "The resource name of the FHIR store to get metrics for, in the format `projects/{project_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "metrics": {
          "description": "List of FhirStoreMetric by resource type.",
          "type": "array",
          "items": {
            "$ref": "FhirStoreMetric"
          }
        }
      },
      "type": "object"
    },
    "ExportResourcesRequest": {
      "description": "Request to export resources.",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource.",
          "$ref": "GoogleCloudHealthcareV1beta1FhirGcsDestination"
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type. Unlike when setting `BigQueryDestination` for `StreamConfig`, `ExportResources` does not create BigQuery views.",
          "$ref": "GoogleCloudHealthcareV1beta1FhirBigQueryDestination"
        },
        "_type": {
          "description": "String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) are exported.",
          "type": "string"
        },
        "_since": {
          "description": "If provided, only resources updated after this time are exported. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExportResourcesRequest"
    },
    "ParsedData": {
      "description": "The content of an HL7v2 message in a structured format.",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "Segment"
          }
        }
      },
      "type": "object",
      "id": "ParsedData"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "RollbackHl7V2MessagesResponse": {
      "type": "object",
      "description": "Final response of rollback FHIR resources request.",
      "properties": {
        "hl7v2Store": {
          "description": "The name of the HL7v2 store to rollback, in the format of \"projects/{project_id}/locations/{location_id}/datasets/{dataset_id} /hl7v2Stores/{fhir_store_id}\".",
          "type": "string"
        }
      },
      "id": "RollbackHl7V2MessagesResponse"
    },
    "ConsentErrors": {
      "id": "ConsentErrors",
      "type": "object",
      "description": "The Consent resource name and error.",
      "properties": {
        "name": {
          "description": "The versioned name of the admin Consent resource, in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error code and message.",
          "$ref": "Status"
        }
      }
    },
    "Attribute": {
      "type": "object",
      "description": "An attribute value for a Consent or User data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values.",
      "properties": {
        "attributeDefinitionId": {
          "type": "string",
          "description": "Indicates the name of an attribute defined in the consent store."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values."
        }
      },
      "id": "Attribute"
    },
    "Result": {
      "description": "The consent evaluation result for a single `data_id`.",
      "properties": {
        "dataId": {
          "description": "The unique identifier of the evaluated resource.",
          "type": "string"
        },
        "consented": {
          "description": "Whether the resource is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "description": "The resource names of all evaluated Consents mapped to their evaluation.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          }
        }
      },
      "type": "object",
      "id": "Result"
    },
    "DicomFilterConfig": {
      "id": "DicomFilterConfig",
      "type": "object",
      "description": "Specifies the filter configuration for DICOM resources.",
      "properties": {
        "resourcePathsGcsUri": {
          "description": "The Cloud Storage location of the filter configuration file. The `gcs_uri` must be in the format `gs://bucket/path/to/object`. The filter configuration file must contain a list of resource paths separated by newline characters (\\n or \\r\\n). Each resource path must be in the format \"/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]\" The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location.",
          "type": "string"
        }
      }
    },
    "CleanTextTag": {
      "type": "object",
      "description": "Inspect text and transform sensitive text. Configurable using TextConfig. Supported [Value Representations] (https://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_6.2.html#table_6.2-1): AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS",
      "properties": {},
      "id": "CleanTextTag"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "TextSpan": {
      "description": "A span of text in the provided document.",
      "properties": {
        "content": {
          "description": "The original text contained in this span.",
          "type": "string"
        },
        "beginOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The unicode codepoint index of the beginning of this span."
        }
      },
      "type": "object",
      "id": "TextSpan"
    },
    "ListDicomStoresResponse": {
      "id": "ListDicomStoresResponse",
      "type": "object",
      "description": "Lists the DICOM stores in the given dataset.",
      "properties": {
        "dicomStores": {
          "type": "array",
          "items": {
            "$ref": "DicomStore"
          },
          "description": "The returned DICOM stores. Won't be more DICOM stores than the value of page_size in the request."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Feature": {
      "id": "Feature",
      "description": "A feature of an entity mention.",
      "properties": {
        "value": {
          "description": "The value of this feature annotation. Its range depends on the type of the feature.",
          "type": "string"
        },
        "confidence": {
          "description": "The model's confidence in this feature annotation. A number between 0 and 1.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "DeidentifyFhirStoreRequest": {
      "description": "Creates a new FHIR store with sensitive information de-identified.",
      "properties": {
        "destinationStore": {
          "type": "string",
          "description": "Required. The name of the FHIR store to write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`. * The destination dataset and FHIR store must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The caller must have the healthcare.fhirResources.update permission to write to the destination FHIR store."
        },
        "config": {
          "description": "Deidentify configuration. Only one of `config` and `gcs_config_uri` can be specified.",
          "$ref": "DeidentifyConfig"
        },
        "gcsConfigUri": {
          "type": "string",
          "description": "Cloud Storage location to read the JSON cloud.healthcare.deidentify.DeidentifyConfig from, overriding the default config. Must be of the form `gs://{bucket_id}/path/to/object`. The Cloud Storage location must grant the Cloud IAM role `roles/storage.objectViewer` to the project's Cloud Healthcare Service Agent service account. Only one of `config` and `gcs_config_uri` can be specified."
        },
        "resourceFilter": {
          "description": "A filter specifying the resources to include in the output. If not specified, all resources are included in the output.",
          "$ref": "FhirFilter"
        },
        "skipModifiedResources": {
          "type": "boolean",
          "description": "If true, skips resources that are created or modified after the de-identify operation is created."
        }
      },
      "type": "object",
      "id": "DeidentifyFhirStoreRequest"
    },
    "UpdateSeriesMetadataResponse": {
      "type": "object",
      "description": "UpdateSeriesMetadataResponse is the LRO response for UpdateSeriesMetadata.",
      "properties": {},
      "id": "UpdateSeriesMetadataResponse"
    },
    "Segment": {
      "id": "Segment",
      "type": "object",
      "description": "A segment in a structured format.",
      "properties": {
        "segmentId": {
          "description": "A string that indicates the type of segment. For example, EVN or PID.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping from the positional location to the value. The key string uses zero-based indexes separated by dots to identify Fields, components and sub-components. A bracket notation is also used to identify different instances of a repeated field. Regex for key: (\\d+)(\\[\\d+\\])?(.\\d+)?(.\\d+)? Examples of (key, value) pairs: * (0.1, \"hemoglobin\") denotes that the first component of Field 0 has the value \"hemoglobin\". * (1.1.2, \"CBC\") denotes that the second sub-component of the first component of Field 1 has the value \"CBC\". * (1[0].1, \"HbA1c\") denotes that the first component of the first Instance of Field 1, which is repeated, has the value \"HbA1c\"."
        },
        "setId": {
          "type": "string",
          "description": "Set ID for segments that can be in a set. This can be empty if it's missing or isn't applicable."
        }
      }
    },
    "ListConsentsResponse": {
      "type": "object",
      "properties": {
        "consents": {
          "description": "The returned Consents. The maximum number of Consents returned is determined by the value of page_size in the ListConsentsRequest.",
          "type": "array",
          "items": {
            "$ref": "Consent"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListConsentsResponse"
    },
    "SchemaJSON": {
      "description": "Using this field will set the schema such that all DICOM tags will be included in the BigQuery table as a single JSON type column. The BigQuery table schema will include the following columns: * `StudyInstanceUID` (Type: STRING): DICOM Tag 0020000D. * `SeriesInstanceUID` (Type: STRING): DICOM Tag 0020000E. * `SOPInstanceUID` (Type: STRING): DICOM Tag 00080018. * `SourceDicomStore` (Type: STRING): The name of the source DICOM store. This field is only included if the `include_source_store` option is set to true. * `Metadata` (Type: JSON): All DICOM tags for the instance, stored in a single JSON object. * `StructuredStorageSize` (Type: INTEGER): Size of the structured storage in bytes. * `DroppedTags` (Type: STRING, Repeated: Yes): List of tags that were dropped during the conversion. * `StorageClass` (Type: STRING): The storage class of the instance. * `LastUpdated` (Type: TIMESTAMP): Timestamp of the last update to the instance. * `BlobStorageSize` (Type: INTEGER): Size of the blob storage in bytes. * `Type` (Type: STRING): Indicates the type of operation (e.g., INSERT, DELETE). This field is *omitted* if `ChangeDataCaptureConfig` is enabled.",
      "properties": {},
      "type": "object",
      "id": "SchemaJSON"
    },
    "FhirNotificationConfig": {
      "description": "Contains the configuration for FHIR notifications.",
      "properties": {
        "sendPreviousResourceOnDelete": {
          "type": "boolean",
          "description": "Whether to send full FHIR resource to this Pub/Sub topic for deleting FHIR resource. The default value is false. Note that setting this to true does not guarantee that all previous resources will be sent in the format of full FHIR resource. When a resource change is too large or during heavy traffic, only the resource name will be sent. Clients should always check the \"payloadType\" label from a Pub/Sub message to determine whether it needs to fetch the full previous resource as a separate operation."
        },
        "pubsubTopic": {
          "type": "string",
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It is guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail (https://cloud.google.com/healthcare-api/docs/permissions-healthcare-api-gcp-products#dicom_fhir_and_hl7v2_store_cloud_pubsub_permissions). If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare-api/docs/how-tos/logging)."
        },
        "sendFullResource": {
          "type": "boolean",
          "description": "Whether to send full FHIR resource to this Pub/Sub topic for Create and Update operation. The default value is false. Note that setting this to true does not guarantee that all resources will be sent in the format of full FHIR resource. When a resource change is too large or during heavy traffic, only the resource name will be sent. Clients should always check the \"payloadType\" label from a Pub/Sub message to determine whether it needs to fetch the full resource as a separate operation."
        }
      },
      "type": "object",
      "id": "FhirNotificationConfig"
    },
    "DicomConfig": {
      "id": "DicomConfig",
      "description": "Specifies the parameters needed for de-identification of DICOM stores.",
      "properties": {
        "keepList": {
          "description": "List of tags to keep. Remove all other tags.",
          "$ref": "TagFilterList"
        },
        "skipIdRedaction": {
          "type": "boolean",
          "description": "If true, skip replacing StudyInstanceUID, SeriesInstanceUID, SOPInstanceUID, and MediaStorageSOPInstanceUID and leave them untouched. The Cloud Healthcare API regenerates these UIDs by default based on the DICOM Standard's reasoning: \"Whilst these UIDs cannot be mapped directly to an individual out of context, given access to the original images, or to a database of the original images containing the UIDs, it would be possible to recover the individual's identity.\" https://dicom.nema.org/medical/dicom/current/output/chtml/part15/sect_E.3.9.html"
        },
        "removeList": {
          "description": "List of tags to remove. Keep all other tags.",
          "$ref": "TagFilterList"
        },
        "filterProfile": {
          "type": "string",
          "enumDescriptions": [
            "No tag filtration profile provided. Same as KEEP_ALL_PROFILE.",
            "Keep only the tags required to produce valid DICOM objects.",
            "Remove tags based on DICOM Standard's Attribute Confidentiality Basic Profile (DICOM Standard Edition 2018e) https://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html.",
            "Keep all tags.",
            "Inspect within tag contents and replace sensitive text. The process can be configured using the TextConfig. Applies to all tags with the following Value Representation names: AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS"
          ],
          "enum": [
            "TAG_FILTER_PROFILE_UNSPECIFIED",
            "MINIMAL_KEEP_LIST_PROFILE",
            "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE",
            "KEEP_ALL_PROFILE",
            "DEIDENTIFY_TAG_CONTENTS"
          ],
          "description": "Tag filtering profile that determines which tags to keep/remove."
        }
      },
      "type": "object"
    },
    "IngestMessageRequest": {
      "id": "IngestMessageRequest",
      "description": "Ingests a message into the specified HL7v2 store.",
      "properties": {
        "message": {
          "description": "Required. HL7v2 message to ingest.",
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "ProgressCounter": {
      "description": "ProgressCounter provides counters to describe an operation's progress.",
      "properties": {
        "failure": {
          "type": "string",
          "format": "int64",
          "description": "The number of units that failed in the operation."
        },
        "pending": {
          "type": "string",
          "format": "int64",
          "description": "The number of units that are pending in the operation."
        },
        "secondarySuccess": {
          "description": "The number of secondary units that succeeded in the operation.",
          "type": "string",
          "format": "int64"
        },
        "success": {
          "description": "The number of units that succeeded in the operation.",
          "type": "string",
          "format": "int64"
        },
        "secondaryFailure": {
          "type": "string",
          "format": "int64",
          "description": "The number of secondary units that failed in the operation."
        }
      },
      "type": "object",
      "id": "ProgressCounter"
    },
    "CharacterMaskField": {
      "id": "CharacterMaskField",
      "type": "object",
      "description": "Replace field value with masking character. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml.",
      "properties": {}
    },
    "DateShiftField": {
      "id": "DateShiftField",
      "description": "Shift the date by a randomized number of days. See [date shifting](https://cloud.google.com/dlp/docs/concepts-date-shifting) for more information. Supported [types](https://www.hl7.org/fhir/datatypes.html): Date, DateTime.",
      "properties": {},
      "type": "object"
    },
    "TagFilterList": {
      "description": "List of tags to be filtered.",
      "properties": {
        "tags": {
          "description": "Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: https://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example, \"PatientID\", \"00100010\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TagFilterList"
    },
    "ConsentStore": {
      "id": "ConsentStore",
      "type": "object",
      "description": "Represents a consent store.",
      "properties": {
        "name": {
          "description": "Resource name of the consent store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}`. Cannot be changed after creation.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-supplied key-value pairs used to organize consent stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}. Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}. No more than 64 labels can be associated with a given store. For more information: https://cloud.google.com/healthcare/docs/how-tos/labeling-resources"
        },
        "defaultConsentTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Default time to live for Consents created in this store. Must be at least 24 hours. Updating this field will not affect the expiration time of existing consents."
        },
        "enableConsentCreateOnUpdate": {
          "description": "Optional. If `true`, UpdateConsent creates the Consent if it does not already exist. If unspecified, defaults to `false`.",
          "type": "boolean"
        }
      }
    },
    "EncryptionSpec": {
      "type": "object",
      "description": "Represents a customer-managed encryption key spec that can be applied to a resource.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Required. The resource name of customer-managed encryption key that is used to secure a resource and its sub-resources. Only the key in the same location as this dataset is allowed to be used for encryption. Format is: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`"
        }
      },
      "id": "EncryptionSpec"
    },
    "Hl7V2StoreMetric": {
      "id": "Hl7V2StoreMetric",
      "type": "object",
      "description": "Count of messages and total storage size by type for a given HL7 store.",
      "properties": {
        "messageType": {
          "type": "string",
          "description": "The Hl7v2 message type this metric applies to, such as `ADT` or `ORU`."
        },
        "structuredStorageSizeBytes": {
          "description": "The total amount of structured storage used by HL7v2 messages of this message type in the store.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "description": "The total count of HL7v2 messages in the store for the given message type.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DeidentifyFieldMetadata": {
      "description": "Specifies the FHIR paths to match and how to handle the de-identification of matching fields.",
      "properties": {
        "keepField": {
          "description": "Keep the field unchanged.",
          "$ref": "KeepField"
        },
        "cryptoHashField": {
          "description": "Replace field value with a hash of that value. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml.",
          "$ref": "CryptoHashField"
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of paths to FHIR fields to redact. Each path is a period-separated list where each component is either a field name or FHIR [type](https://www.hl7.org/fhir/datatypes.html) name. All types begin with an upper case letter. For example, the resource field `Patient.Address.city`, which uses a [string](https://www.hl7.org/fhir/datatypes-definitions.html#Address.city) type, can be matched by `Patient.Address.String`. Partial matching is supported. For example, `Patient.Address.city` can be matched by `Address.city` (with `Patient` omitted). Partial matching and type matching can be combined, for example `Patient.Address.city` can be matched by `Address.String`. For \"choice\" types (those defined in the FHIR spec with the format `field[x]`), use two separate components. For example, `deceasedAge.unit` is matched by `Deceased.Age.unit`. The following types are supported: AdministrativeGenderCode, Base64Binary, Boolean, Code, Date, DateTime, Decimal, HumanName, Id, Instant, Integer, LanguageCode, Markdown, Oid, PositiveInt, String, UnsignedInt, Uri, Uuid, Xhtml. The sub-type for HumanName (for example `HumanName.given`, `HumanName.family`) can be omitted."
        },
        "removeField": {
          "description": "Remove the field.",
          "$ref": "RemoveField"
        },
        "characterMaskField": {
          "description": "Replace the field's value with a masking character. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml.",
          "$ref": "CharacterMaskField"
        },
        "cleanTextField": {
          "description": "Inspect the field's text and transform sensitive text. Configure using TextConfig. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Date, DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml.",
          "$ref": "CleanTextField"
        },
        "dateShiftField": {
          "description": "Shift the date by a randomized number of days. See [date shifting](https://cloud.google.com/dlp/docs/concepts-date-shifting) for more information. Supported [types](https://www.hl7.org/fhir/datatypes.html): Date, DateTime.",
          "$ref": "DateShiftField"
        }
      },
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1DeidentifyFieldMetadata"
    },
    "Field": {
      "id": "Field",
      "type": "object",
      "description": "A (sub) field of a type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of this field. A Type with this name must be defined in an Hl7TypesConfig."
        },
        "maxOccurs": {
          "description": "The maximum number of times this field can be repeated. 0 or -1 means unbounded.",
          "type": "integer",
          "format": "int32"
        },
        "minOccurs": {
          "description": "The minimum number of times this field must be present/repeated.",
          "type": "integer",
          "format": "int32"
        },
        "table": {
          "description": "The HL7v2 table this field refers to. For example, PID-15 (Patient's Primary Language) usually refers to table \"0296\".",
          "type": "string"
        },
        "name": {
          "description": "The name of the field. For example, \"PID-1\" or just \"1\".",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "OperationMetadata provides information about the operation execution. Returned in the long-running operation's metadata field.",
      "properties": {
        "apiMethodName": {
          "type": "string",
          "description": "The name of the API method that initiated the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation was created by the API."
        },
        "counter": {
          "$ref": "ProgressCounter"
        },
        "endTime": {
          "description": "The time at which execution workloads were completed. Some tasks will complete after this time such as logging audit logs.",
          "type": "string",
          "format": "google-datetime"
        },
        "logsUrl": {
          "description": "A link to audit and error logs in the log viewer. Error logs are generated only by some operations, listed at [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging). The `end_time` specified in this URL may not match the end time on the metadata because logs are written asynchronously from execution.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "StreamConfig": {
      "type": "object",
      "description": "Contains configuration for streaming FHIR export.",
      "properties": {
        "bigqueryDestination": {
          "description": "The destination BigQuery structure that contains both the dataset location and corresponding schema config. The output is organized in one table per resource type. The server reuses the existing tables (if any) that are named after the resource types, e.g. \"Patient\", \"Observation\". When there is no existing table for a given resource type, the server attempts to create one. When a table schema doesn't align with the schema config, either because of existing incompatible schema or out of band incompatible modification, the server does not stream in new data. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any resource mutation that generates more than 1 MB of BigQuery data will not be streamed. Results are written to BigQuery tables according to the parameters in BigQueryDestination.WriteDisposition. Different versions of the same resource are distinguishable by the meta.versionId and meta.lastUpdated columns. The operation (CREATE/UPDATE/DELETE) that results in the new version is recorded in the meta.tag. The tables contain all historical resource versions since streaming was enabled. For query convenience, the server also creates one view per table of the same name containing only the current resource version. The streamed data in the BigQuery dataset is not guaranteed to be completely unique. The combination of the id and meta.versionId columns should ideally identify a single unique row. But in rare cases, duplicates may exist. At query time, users may use the SQL select statement to keep only one of the duplicate rows given an id and meta.versionId pair. Alternatively, the server created view mentioned above also filters out duplicates. If a resource mutation cannot be streamed to BigQuery, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "$ref": "GoogleCloudHealthcareV1beta1FhirBigQueryDestination"
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https://www.hl7.org/fhir/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store."
        },
        "deidentifiedStoreDestination": {
          "description": "The destination FHIR store for de-identified resources. After this field is added, all subsequent creates/updates/patches to the source store will be de-identified using the provided configuration and applied to the destination store. Resources deleted from the source store will be deleted from the destination store. Importing resources to the source store will not trigger the streaming. If the source store already contains resources when this option is enabled, those resources will not be copied to the destination store unless they are subsequently updated. This may result in invalid references in the destination store. Before adding this config, you must grant the healthcare.fhirResources.update permission on the destination store to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/healthcare/docs/how-tos/permissions-healthcare-api-gcp-products#the_cloud_healthcare_service_agent). The destination store must set enable_update_create to true. The destination store must have disable_referential_integrity set to true. If a resource cannot be de-identified, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). Not supported for R5 stores.",
          "$ref": "DeidentifiedStoreDestination"
        }
      },
      "id": "StreamConfig"
    },
    "StructuredStorageInfo": {
      "id": "StructuredStorageInfo",
      "description": "StructuredStorageInfo contains details about the data stored in Structured Storage for the referenced resource.",
      "properties": {
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Size in bytes of data stored in structured storage."
        }
      },
      "type": "object"
    },
    "ActivateConsentRequest": {
      "id": "ActivateConsentRequest",
      "description": "Activates the latest revision of the specified Consent by committing a new revision with `state` updated to `ACTIVE`. If the latest revision of the given Consent is in the `ACTIVE` state, no new revision is committed. A FAILED_PRECONDITION error occurs if the latest revision of the given consent is in the `REJECTED` or `REVOKED` state.",
      "properties": {
        "expireTime": {
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "type": "string",
          "format": "google-datetime"
        },
        "consentArtifact": {
          "description": "Required. The resource name of the Consent artifact that contains documentation of the user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it.",
          "type": "string"
        },
        "ttl": {
          "description": "The time to live for this Consent from when it is marked as active.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "DateShiftConfig": {
      "id": "DateShiftConfig",
      "type": "object",
      "description": "Shift a date forward or backward in time by a random amount which is consistent for a given patient and crypto key combination.",
      "properties": {
        "cryptoKey": {
          "type": "string",
          "format": "byte",
          "description": "An AES 128/192/256 bit key. The date shift is computed based on this key and the patient ID. If the patient ID is empty for a DICOM resource, the date shift is computed based on this key and the study instance UID. If crypto_key is not set, then kms_wrapped is used to calculate the date shift. If neither is set, a default key is generated for each de-identify operation. Must not be set if kms_wrapped is set."
        },
        "kmsWrapped": {
          "description": "KMS wrapped key. If kms_wrapped is not set, then crypto_key is used to calculate the date shift. If neither is set, a default key is generated for each de-identify operation. Must not be set if crypto_key is set.",
          "$ref": "KmsWrappedCryptoKey"
        }
      }
    },
    "RollbackFhirResourceFilteringFields": {
      "id": "RollbackFhirResourceFilteringFields",
      "description": "Filters to select resources that need to be rolled back.",
      "properties": {
        "operationIds": {
          "description": "Optional. A list of operation IDs to roll back. Only changes made by these operations will be rolled back.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "uint64"
          }
        },
        "metadataFilter": {
          "type": "string",
          "description": "Optional. A filter expression that matches data in the `Resource.meta` element. Supports all filters in [AIP-160](https://google.aip.dev/160) except the \"has\" (`:`) operator. Supports the following custom functions: * `tag(\"\") = \"\"` for tag filtering. * `extension_value_ts(\"\") = ` for filtering extensions with a timestamp, where `` is a Unix timestamp. Supports the `>`, `<`, `<=`, `>=`, and `!=` comparison operators."
        }
      },
      "type": "object"
    },
    "SetBlobStorageSettingsRequest": {
      "id": "SetBlobStorageSettingsRequest",
      "type": "object",
      "description": "Request message for `SetBlobStorageSettings` method.",
      "properties": {
        "filterConfig": {
          "description": "Optional. A filter configuration. If `filter_config` is specified, set the value of `resource` to the resource name of a DICOM store in the format `projects/{projectID}/locations/{locationID}/datasets/{datasetID}/dicomStores/{dicomStoreID}`.",
          "$ref": "DicomFilterConfig"
        },
        "blobStorageSettings": {
          "description": "The blob storage settings to update for the specified resources. Only fields listed in `update_mask` are applied.",
          "$ref": "BlobStorageSettings"
        }
      }
    },
    "AnalyzeEntitiesRequest": {
      "id": "AnalyzeEntitiesRequest",
      "type": "object",
      "description": "The request to analyze healthcare entities in a document.",
      "properties": {
        "licensedVocabularies": {
          "description": "A list of licensed vocabularies to use in the request, in addition to the default unlicensed vocabularies.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No licensed vocabulary specified.",
              "ICD-10-CM vocabulary",
              "SNOMED CT (US version) vocabulary"
            ],
            "enum": [
              "LICENSED_VOCABULARY_UNSPECIFIED",
              "ICD10CM",
              "SNOMEDCT_US"
            ]
          }
        },
        "alternativeOutputFormat": {
          "description": "Optional. Alternative output format to be generated based on the results of analysis.",
          "type": "string",
          "enumDescriptions": [
            "No alternative output format is specified.",
            "FHIR bundle output."
          ],
          "enum": [
            "ALTERNATIVE_OUTPUT_FORMAT_UNSPECIFIED",
            "FHIR_BUNDLE"
          ]
        },
        "documentContent": {
          "description": "document_content is a document to be annotated.",
          "type": "string"
        }
      }
    },
    "TextConfig": {
      "type": "object",
      "description": "Configures how to transform sensitive text `InfoTypes`.",
      "properties": {
        "transformations": {
          "description": "The transformations to apply to the detected data. Deprecated. Use `additional_transformations` instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "InfoTypeTransformation"
          }
        },
        "additionalTransformations": {
          "description": "Additional transformations to apply to the detected data, overriding `profile`.",
          "type": "array",
          "items": {
            "$ref": "InfoTypeTransformation"
          }
        },
        "excludeInfoTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "InfoTypes to skip transforming, overriding `profile`."
        },
        "profileType": {
          "type": "string",
          "enumDescriptions": [
            "No profile provided. Same as BASIC.",
            "Empty profile which does not perform any transformations.",
            "Automatically converts \"DATE\" infoTypes using a DateShiftConfig, and all other infoTypes using a ReplaceWithInfoTypeConfig."
          ],
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "EMPTY",
            "BASIC"
          ],
          "description": "Base profile type for text transformation."
        }
      },
      "id": "TextConfig"
    },
    "ListAttributeDefinitionsResponse": {
      "id": "ListAttributeDefinitionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "attributeDefinitions": {
          "type": "array",
          "items": {
            "$ref": "AttributeDefinition"
          },
          "description": "The returned Attribute definitions. The maximum number of attributes returned is determined by the value of page_size in the ListAttributeDefinitionsRequest."
        }
      }
    },
    "CryptoHashField": {
      "id": "CryptoHashField",
      "description": "Replace field value with a hash of that value. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml.",
      "properties": {},
      "type": "object"
    },
    "RollbackHL7MessagesFilteringFields": {
      "id": "RollbackHL7MessagesFilteringFields",
      "description": "Filtering fields for an HL7v2 rollback. Currently only supports a list of operation ids to roll back.",
      "properties": {
        "operationIds": {
          "description": "Optional. A list of operation IDs to roll back.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "uint64"
          }
        }
      },
      "type": "object"
    },
    "CreateMessageRequest": {
      "description": "Creates a new message.",
      "properties": {
        "message": {
          "description": "Required. HL7v2 message.",
          "$ref": "Message"
        }
      },
      "type": "object",
      "id": "CreateMessageRequest"
    },
    "EntityMentionRelationship": {
      "type": "object",
      "description": "Defines directed relationship from one entity mention to another.",
      "properties": {
        "objectId": {
          "description": "object_id is the id of the object entity mention.",
          "type": "string"
        },
        "subjectId": {
          "description": "subject_id is the id of the subject entity mention.",
          "type": "string"
        },
        "confidence": {
          "description": "The model's confidence in this annotation. A number between 0 and 1.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "EntityMentionRelationship"
    },
    "ReplaceWithInfoTypeConfig": {
      "id": "ReplaceWithInfoTypeConfig",
      "type": "object",
      "description": "When using the INSPECT_AND_TRANSFORM action, each match is replaced with the name of the info_type. For example, \"My name is Jane\" becomes \"My name is [PERSON_NAME].\" The TRANSFORM action is equivalent to redacting.",
      "properties": {}
    },
    "SchemaGroup": {
      "id": "SchemaGroup",
      "description": "An HL7v2 logical group construct.",
      "properties": {
        "name": {
          "description": "The name of this group. For example, \"ORDER_DETAIL\".",
          "type": "string"
        },
        "choice": {
          "description": "True indicates that this is a choice group, meaning that only one of its segments can exist in a given message.",
          "type": "boolean"
        },
        "members": {
          "description": "Nested groups and/or segments.",
          "type": "array",
          "items": {
            "$ref": "GroupOrSegment"
          }
        },
        "minOccurs": {
          "description": "The minimum number of times this group must be present/repeated.",
          "type": "integer",
          "format": "int32"
        },
        "maxOccurs": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of times this group can be repeated. 0 or -1 means unbounded."
        }
      },
      "type": "object"
    },
    "DicomTagConfig": {
      "type": "object",
      "description": "Specifies the parameters needed for the de-identification of DICOM stores.",
      "properties": {
        "options": {
          "description": "Specifies additional options to apply, overriding the base `profile`.",
          "$ref": "Options"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Specifies custom tag selections and `Actions` to apply to them. Overrides `options` and `profile`. Conflicting `Actions` are applied in the order given."
        },
        "profileType": {
          "description": "Base profile type for handling DICOM tags.",
          "type": "string",
          "enumDescriptions": [
            "No profile provided. Same as `ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE`.",
            "Keep only the tags required to produce valid DICOM objects.",
            "Remove tags based on DICOM Standard's [Attribute Confidentiality Basic Profile (DICOM Standard Edition 2018e)](https://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html).",
            "Keep all tags.",
            "Inspect tag contents and replace sensitive text. The process can be configured using the TextConfig. Applies to all tags with the following [Value Representations] (https://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_6.2.html#table_6.2-1): AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS"
          ],
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "MINIMAL_KEEP_LIST_PROFILE",
            "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE",
            "KEEP_ALL_PROFILE",
            "DEIDENTIFY_TAG_CONTENTS"
          ]
        }
      },
      "id": "DicomTagConfig"
    },
    "ConsentConfig": {
      "id": "ConsentConfig",
      "type": "object",
      "description": "Configures whether to enforce consent for the FHIR store and which consent enforcement version is being used.",
      "properties": {
        "accessEnforced": {
          "type": "boolean",
          "description": "Optional. The default value is false. If set to true, when accessing FHIR resources, the consent headers will be verified against consents given by patients. See the ConsentEnforcementVersion for the supported consent headers."
        },
        "enforcedAdminConsents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The versioned names of the enforced admin Consent resource(s), in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`. This field can only be updated using ApplyAdminConsents.",
          "readOnly": true
        },
        "consentHeaderHandling": {
          "description": "Optional. Different options to configure the behaviour of the server when handling the `X-Consent-Scope` header.",
          "$ref": "ConsentHeaderHandling"
        },
        "accessDeterminationLogConfig": {
          "description": "Optional. Specifies how the server logs the consent-aware requests. If not specified, the `AccessDeterminationLogConfig.LogLevel.MINIMUM` option is used.",
          "$ref": "AccessDeterminationLogConfig"
        },
        "version": {
          "description": "Required. Specifies which consent enforcement version is being used for this FHIR store. This field can only be set once by either CreateFhirStore or UpdateFhirStore. After that, you must call ApplyConsents to change the version.",
          "type": "string",
          "enumDescriptions": [
            "Users must specify an enforcement version or an error is returned.",
            "Enforcement version 1. See the [FHIR Consent resources in the Cloud Healthcare API](https://cloud.google.com/healthcare-api/docs/fhir-consent) guide for more details."
          ],
          "enum": [
            "CONSENT_ENFORCEMENT_VERSION_UNSPECIFIED",
            "V1"
          ]
        }
      }
    },
    "RecurseTag": {
      "type": "object",
      "description": "Recursively apply DICOM de-id to tags nested in a sequence. Supported [Value Representation] (https://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_6.2.html#table_6.2-1): SQ",
      "properties": {},
      "id": "RecurseTag"
    },
    "ApplyAdminConsentsResponse": {
      "description": "Response when all admin Consent resources in scope were processed and all affected resources were reindexed successfully. This structure will be included in the response when the operation finishes successfully.",
      "properties": {
        "consentApplySuccess": {
          "type": "string",
          "format": "int64",
          "description": "If `validate_only=false` in ApplyAdminConsentsRequest, this counter contains the number of Consent resources that were successfully applied. Otherwise, it is the number of Consent resources that are supported."
        },
        "affectedResources": {
          "type": "string",
          "format": "int64",
          "description": "The number of resources (including the Consent resources) that may have consent access change."
        },
        "failedResources": {
          "type": "string",
          "format": "int64",
          "description": "The number of resources (including the Consent resources) that ApplyAdminConsents failed to re-index."
        }
      },
      "type": "object",
      "id": "ApplyAdminConsentsResponse"
    },
    "Hl7TypesConfig": {
      "description": "Root config for HL7v2 datatype definitions for a specific HL7v2 version.",
      "properties": {
        "version": {
          "type": "array",
          "items": {
            "$ref": "VersionSource"
          },
          "description": "The version selectors that this config applies to. A message must match ALL version sources to apply."
        },
        "type": {
          "type": "array",
          "items": {
            "$ref": "Type"
          },
          "description": "The HL7v2 type definitions."
        }
      },
      "type": "object",
      "id": "Hl7TypesConfig"
    },
    "TimePartitioning": {
      "type": "object",
      "description": "Configuration for FHIR BigQuery time-partitioned tables.",
      "properties": {
        "type": {
          "description": "Type of partitioning.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown time.",
            "Data partitioned by hour.",
            "Data partitioned by day.",
            "Data partitioned by month.",
            "Data partitioned by year."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "HOUR",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "expirationMs": {
          "description": "Number of milliseconds for which to keep the storage for a partition.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "TimePartitioning"
    },
    "ApplyAdminConsentsRequest": {
      "type": "object",
      "description": "Request to apply the admin Consent resources for the specified FHIR store.",
      "properties": {
        "validateOnly": {
          "description": "If true, the method only validates Consent resources to make sure they are supported. Otherwise, the method applies the aggregate consent information to update the enforcement model and reindex the FHIR resources. If all Consent resources can be applied successfully, the ApplyAdminConsentsResponse is returned containing the following fields: * `consent_apply_success` to indicate the number of Consent resources applied. * `affected_resources` to indicate the number of resources that might have had their consent access changed. If, however, one or more Consent resources are unsupported or cannot be applied, the method fails and ApplyAdminConsentsErrorDetail is is returned with details about the unsupported Consent resources.",
          "type": "boolean"
        },
        "newConsentsList": {
          "description": "A new list of admin Consent resources to be applied. Any existing enforced Consents, which are specified in `consent_config.enforced_admin_consents` of the FhirStore, that are not part of this list will be disabled. An empty list is equivalent to clearing or disabling all Consents enforced on the FHIR store. When a FHIR store has `disable_resource_versioning=true` and this list contains a Consent resource that exists in `consent_config.enforced_admin_consents`, the method enforces any updates to the existing resource since the last enforcement. If the existing resource hasn't been updated since the last enforcement, the resource is unaffected. After the method finishes, the resulting consent enforcement model is determined by the contents of the Consent resource(s) when the method was called: * When `disable_resource_versioning=true`, the result is identical to the current resource(s) in the FHIR store. * When `disable_resource_versioning=false`, the result is based on the historical version(s) of the Consent resource(s) at the point in time when the method was called. At most 200 Consents can be specified.",
          "$ref": "AdminConsents"
        }
      },
      "id": "ApplyAdminConsentsRequest"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "ApplyConsentsRequest": {
      "type": "object",
      "description": "Request to apply the Consent resources for the specified FHIR store.",
      "properties": {
        "patientScope": {
          "description": "Optional. Scope down to a list of patients.",
          "$ref": "PatientScope"
        },
        "timeRange": {
          "description": "Optional. Scope down to patients whose most recent consent changes are in the time range. Can only be used with a versioning store (i.e. when disable_resource_versioning is set to false).",
          "$ref": "TimeRange"
        },
        "validateOnly": {
          "description": "Optional. If true, the method only validates Consent resources to make sure they are supported. When the operation completes, ApplyConsentsResponse is returned where `consent_apply_success` and `consent_apply_failure` indicate supported and unsupported (or invalid) Consent resources, respectively. Otherwise, the method propagates the aggregate consensual information to the patient's resources. Upon success, `affected_resources` in the ApplyConsentsResponse indicates the number of resources that may have consensual access changed.",
          "type": "boolean"
        }
      },
      "id": "ApplyConsentsRequest"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation"
    },
    "GoogleCloudHealthcareV1beta1ConsentPolicy": {
      "id": "GoogleCloudHealthcareV1beta1ConsentPolicy",
      "type": "object",
      "description": "Represents a user's consent in terms of the resources that can be accessed and under what conditions.",
      "properties": {
        "resourceAttributes": {
          "type": "array",
          "items": {
            "$ref": "Attribute"
          },
          "description": "The resources that this policy applies to. A resource is a match if it matches all the attributes listed here. If empty, this policy applies to all User data mappings for the given user."
        },
        "authorizationRule": {
          "description": "Required. The request conditions to meet to grant access. In addition to any supported comparison operators, authorization rules may have `IN` operator as well as at most 10 logical operators that are limited to `AND` (`&&`), `OR` (`||`).",
          "$ref": "Expr"
        }
      }
    },
    "DeleteTag": {
      "type": "object",
      "description": "Delete tag.",
      "properties": {},
      "id": "DeleteTag"
    },
    "AccessDeterminationLogConfig": {
      "id": "AccessDeterminationLogConfig",
      "description": "Configures consent audit log config for FHIR create, read, update, and delete (CRUD) operations. Cloud audit log for healthcare API must be [enabled](https://cloud.google.com/logging/docs/audit/configure-data-access#config-console-enable). The consent-related logs are included as part of `protoPayload.metadata`.",
      "properties": {
        "logLevel": {
          "description": "Optional. Controls the amount of detail to include as part of the audit logs.",
          "type": "string",
          "enumDescriptions": [
            "No log level specified. This value is unused.",
            "No additional consent-related logging is added to audit logs.",
            "The following information is included: * One of the following [`consentMode`](https://cloud.google.com/healthcare-api/docs/fhir-consent#audit_logs) fields: (`off`|`emptyScope`|`enforced`|`btg`|`bypass`). * The accessor's request headers * The `log_level` of the AccessDeterminationLogConfig * The final consent evaluation (`PERMIT`, `DENY`, or `NO_CONSENT`) * A human-readable summary of the evaluation",
            "Includes `MINIMUM` and, for each resource owner, returns: * The resource owner's name * Most specific part of the `X-Consent-Scope` resulting in consensual determination * Timestamp of the applied enforcement leading to the decision * Enforcement version at the time the applicable consents were applied * The Consent resource name * The timestamp of the Consent resource used for enforcement * Policy type (`PATIENT` or `ADMIN`) Due to the limited space for logging, this mode is the same as `MINIMUM` for methods that return multiple resources (such as FHIR Search)."
          ],
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "DISABLED",
            "MINIMUM",
            "VERBOSE"
          ]
        }
      },
      "type": "object"
    },
    "ExportDicomDataResponse": {
      "description": "Returns additional information in regards to a completed DICOM store export.",
      "properties": {},
      "type": "object",
      "id": "ExportDicomDataResponse"
    },
    "ListUserDataMappingsResponse": {
      "type": "object",
      "properties": {
        "userDataMappings": {
          "type": "array",
          "items": {
            "$ref": "UserDataMapping"
          },
          "description": "The returned User data mappings. The maximum number of User data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListUserDataMappingsResponse"
    },
    "DicomStore": {
      "type": "object",
      "description": "Represents a DICOM store.",
      "properties": {
        "notificationConfigs": {
          "description": "Optional. Specifies where and whether to send notifications upon changes to a DICOM store.",
          "type": "array",
          "items": {
            "$ref": "DicomNotificationConfig"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key-value pairs used to organize DICOM stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
        },
        "notificationConfig": {
          "description": "Notification destination for new DICOM instances. Supplied by the client.",
          "$ref": "NotificationConfig"
        },
        "streamConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudHealthcareV1beta1DicomStreamConfig"
          },
          "description": "Optional. A list of streaming configs used to configure the destination of streaming exports for every DICOM instance insertion in this DICOM store. After a new config is added to `stream_configs`, DICOM instance insertions are streamed to the new destination. When a config is removed from `stream_configs`, the server stops streaming to that destination. Each config must contain a unique destination."
        },
        "name": {
          "description": "Identifier. Resource name of the DICOM store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.",
          "type": "string"
        }
      },
      "id": "DicomStore"
    },
    "RejectConsentRequest": {
      "type": "object",
      "description": "Rejects the latest revision of the specified Consent by committing a new revision with `state` updated to `REJECTED`. If the latest revision of the given Consent is in the `REJECTED` state, no new revision is committed.",
      "properties": {
        "consentArtifact": {
          "type": "string",
[...]
