{
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "revision": "20260828",
  "servicePath": "",
  "baseUrl": "https://health.googleapis.com/",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly": {
          "description": "See your Google Health health metrics and measurement data"
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly": {
          "description": "See your Google Health activity and fitness data"
        },
        "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly": {
          "description": "Add logged symptoms data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly": {
          "description": "Add reproductive health data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.profile.readonly": {
          "description": "See your Google Health profile data"
        },
        "https://www.googleapis.com/auth/googlehealth.location.readonly": {
          "description": "See exercise GPS location data in Google Health"
        },
        "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly": {
          "description": "Add mindfulness data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.ecg.readonly": {
          "description": "See your Google Health ECG data"
        },
        "https://www.googleapis.com/auth/googlehealth.profile.writeonly": {
          "description": "Add profile data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly": {
          "description": "Add activity and fitness data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly": {
          "description": "Add nutrition data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.settings.writeonly": {
          "description": "Add settings data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.settings.readonly": {
          "description": "See your Google Health settings"
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly": {
          "description": "Add health metric and measurements data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.irn.readonly": {
          "description": "See your Google Health Irregular Rhythm Notifications data"
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.writeonly": {
          "description": "Add sleep data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.readonly": {
          "description": "See your Google Health sleep data"
        }
      }
    }
  },
  "id": "health:v4",
  "version": "v4",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://health.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "schemas": {
    "SubscriberConfig": {
      "properties": {
        "dataTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. See [Google Health API data types](https://developers.google.com/health/data-types) for the list of supported data types. Values should be in kebab-case."
        },
        "subscriptionCreatePolicy": {
          "enumDescriptions": [
            "Represents an unspecified policy.",
            "When using `AUTOMATIC`, individual subscriptions are not created or stored. Instead, eligibility for notifications is computed dynamically. When a data update occurs for a given data type, notifications are sent to all subscribers with an `AUTOMATIC` policy for that data type, provided the user has granted the necessary consents. This means you do not need to call `CreateSubscription` for each user; notifications are managed automatically based on user consents. As `Subscription` resources are not stored, they cannot be retrieved or managed through `GetSubscription`, `ListSubscriptions`, `UpdateSubscription`, or `DeleteSubscription`.",
            "Requires subscriptions to be created manually for new users. The developer needs to call CreateSubscription for new users."
          ],
          "enum": [
            "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "description": "Required. Policy for subscription creation."
        }
      },
      "type": "object",
      "description": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type.",
      "id": "SubscriberConfig"
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "type": "object",
      "properties": {
        "avgGroundContactTimeDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride"
        },
        "avgStrideLengthMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride"
        },
        "avgCadenceStepsPerMinute": {
          "type": "number",
          "format": "double",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout."
        },
        "avgVerticalOscillationMillimeters": {
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "format": "int64",
          "type": "string"
        },
        "avgVerticalRatio": {
          "type": "number",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "format": "double"
        }
      },
      "id": "MobilityMetrics"
    },
    "WeightQuantity": {
      "type": "object",
      "properties": {
        "userProvidedUnit": {
          "type": "string",
          "description": "Optional. Value representing the user provided unit.",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "GRAM",
            "KILOGRAM",
            "OUNCE",
            "POUND",
            "STONE",
            "MILLIGRAM",
            "MICROGRAM",
            "NANOGRAM"
          ],
          "enumDescriptions": [
            "Unspecified weight unit.",
            "Value representing gram.",
            "Value representing kilogram.",
            "Value representing ounce.",
            "Value representing pound.",
            "Value representing stone.",
            "Value representing milligram.",
            "Value representing microgram.",
            "Value representing nanogram."
          ]
        },
        "grams": {
          "description": "Required. The weight value in grams.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the weight quantity.",
      "id": "WeightQuantity"
    },
    "CoreBodyTemperatureRollupValue": {
      "id": "CoreBodyTemperatureRollupValue",
      "description": "Represents the result of the rollup of the core body temperature data type.",
      "type": "object",
      "properties": {
        "temperatureCelsiusAvg": {
          "type": "number",
          "format": "double",
          "description": "Average core body temperature in Celsius."
        },
        "temperatureCelsiusMin": {
          "type": "number",
          "format": "double",
          "description": "Minimum core body temperature in Celsius."
        },
        "temperatureCelsiusMax": {
          "description": "Maximum core body temperature in Celsius.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DailyHeartRateVariability": {
      "properties": {
        "entropy": {
          "type": "number",
          "format": "double",
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep."
        },
        "nonRemHeartRateBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Non-REM heart rate"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "type": "number",
          "format": "double",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats."
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "DailyHeartRateVariability",
      "type": "object",
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`"
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "id": "HeartRate",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "type": "string",
          "description": "Required. The heart rate value in beats per minute.",
          "format": "int64"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. Observation time"
        },
        "metadata": {
          "$ref": "HeartRateMetadata",
          "description": "Optional. Metadata about the heart rate sample."
        }
      }
    },
    "SedentaryPeriodRollupValue": {
      "id": "SedentaryPeriodRollupValue",
      "properties": {
        "durationSum": {
          "type": "string",
          "format": "google-duration",
          "description": "The total time user spent sedentary during the interval."
        }
      },
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "type": "object"
    },
    "VolumeQuantity": {
      "properties": {
        "userProvidedUnit": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "type": "string",
          "description": "Optional. Value representing the user provided unit, used only for user-facing input and display purposes. In the API format, all volume quantities are converted to milliliters.",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Represents the volume quantity.",
      "id": "VolumeQuantity"
    },
    "Sleep": {
      "description": "A sleep session possibly including stages.",
      "properties": {
        "shortAwakenings": {
          "items": {
            "$ref": "SleepStage"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of short awake segments (under a set threshold) that are part of the sleep session. These can overlap with sleep stages."
        },
        "stages": {
          "items": {
            "$ref": "SleepStage"
          },
          "type": "array",
          "description": "Optional. List of non-overlapping contiguous sleep stage segments that cover the sleep period."
        },
        "type": {
          "enumDescriptions": [
            "Sleep type is unspecified.",
            "Classic sleep is a sleep with 3 stages types: AWAKE, RESTLESS and ASLEEP.",
            "On top of \"classic\" sleep stages an additional processing pass can calculate stages more precisely, overwriting the prior stages with AWAKE, LIGHT, REM and DEEP."
          ],
          "enum": [
            "SLEEP_TYPE_UNSPECIFIED",
            "CLASSIC",
            "STAGES"
          ],
          "description": "Optional. SleepType: classic or stages.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time of this sleep observation.",
          "format": "google-datetime",
          "readOnly": true
        },
        "interval": {
          "description": "Required. Observed sleep interval.",
          "$ref": "SessionTimeInterval"
        },
        "metadata": {
          "description": "Optional. Sleep metadata: `processed`, `main_sleep`, `manually_edited`, and `stages_status`.",
          "$ref": "SleepMetadata"
        },
        "summary": {
          "readOnly": true,
          "$ref": "SleepSummary",
          "description": "Output only. Sleep summary: metrics and stages summary."
        },
        "createTime": {
          "description": "Output only. Creation time of this sleep observation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "outOfBedSegments": {
          "description": "Optional. “Out of bed” segments that can overlap with sleep stages.",
          "type": "array",
          "items": {
            "$ref": "OutOfBedSegment"
          }
        }
      },
      "id": "Sleep",
      "type": "object"
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "id": "Altitude",
      "type": "object",
      "properties": {
        "gainMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Required. Altitude gain in millimeters over the observed interval."
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      }
    },
    "CreateSubscriberPayload": {
      "id": "CreateSubscriberPayload",
      "description": "Payload for creating a subscriber.",
      "type": "object",
      "properties": {
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details."
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications.",
          "$ref": "EndpointAuthorization"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        }
      }
    },
    "MetricsSummary": {
      "properties": {
        "distanceMillimeters": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total distance covered by the user during the exercise."
        },
        "mobilityMetrics": {
          "$ref": "MobilityMetrics",
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises."
        },
        "totalSwimLengths": {
          "type": "number",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "format": "double"
        },
        "heartRateZoneDurations": {
          "$ref": "TimeInHeartRateZones",
          "description": "Optional. Time spent in each heart rate zone."
        },
        "caloriesKcal": {
          "type": "number",
          "format": "double",
          "description": "Optional. Total calories burned by the user during the exercise."
        },
        "activeZoneMinutes": {
          "description": "Optional. Total active zone minutes for the exercise.",
          "format": "int64",
          "type": "string"
        },
        "averagePaceSecondsPerMeter": {
          "type": "number",
          "description": "Optional. Average pace in seconds per meter.",
          "format": "double"
        },
        "elevationGainMillimeters": {
          "format": "double",
          "description": "Optional. Total elevation gain during the exercise.",
          "type": "number"
        },
        "steps": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total steps taken during the exercise."
        },
        "averageHeartRateBeatsPerMinute": {
          "format": "int64",
          "description": "Optional. Average heart rate during the exercise.",
          "type": "string"
        },
        "runVo2Max": {
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "type": "number",
          "format": "double"
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Summary metrics for an exercise.",
      "type": "object",
      "id": "MetricsSummary"
    },
    "RunVO2Max": {
      "id": "RunVO2Max",
      "type": "object",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the metric was measured."
        },
        "runVo2Max": {
          "type": "number",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "format": "double"
        }
      }
    },
    "OvulationTest": {
      "type": "object",
      "id": "OvulationTest",
      "properties": {
        "result": {
          "description": "Required. The result of the ovulation test.",
          "enum": [
            "OVULATION_TEST_RESULT_UNSPECIFIED",
            "NEGATIVE",
            "LUTEINIZING_HORMONE_SURGE",
            "ESTROGEN_SURGE",
            "POSITIVE",
            "INDETERMINATE"
          ],
          "enumDescriptions": [
            "Unspecified result.",
            "Negative result.",
            "Luteinizing hormone surge.",
            "Estrogen surge.",
            "Positive result.",
            "Indeterminate result."
          ],
          "type": "string"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which ovulation test was measured."
        }
      },
      "description": "Ovulation test record."
    },
    "AlertWindow": {
      "properties": {
        "endUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The UTC offset of the user's timezone when the analysis window ended."
        },
        "positive": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether the window was positive for AFib or not. A `true` value indicates that AFib was detected in this window. A `false` value means AFib was not detected, but does not guarantee the absence of AFib."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Observed interval. The start time of the analysis window."
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "startUtcOffset": {
          "description": "Required. The UTC offset of the user's timezone when the analysis window started.",
          "type": "string",
          "format": "google-duration"
        },
        "heartBeats": {
          "items": {
            "$ref": "HeartBeat"
          },
          "description": "Optional. All heart beats in the interval contained in this analysis window.",
          "type": "array"
        },
        "endTime": {
          "description": "Required. The end time of the analysis window.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An analysis window evaluated for AFib. Note: The current version of the algorithm will only produce alerts if all windows are positive. So anything returned from the API will always have the positive bit set to true. Internally, windows can be negative, however. We never save \"inconclusive\" windows (they aren't produced by the algorithm).",
      "id": "AlertWindow"
    },
    "DailyRespiratoryRate": {
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "type": "number",
          "format": "double",
          "description": "Required. The average number of breaths taken per minute."
        }
      },
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "type": "object",
      "id": "DailyRespiratoryRate"
    },
    "Height": {
      "id": "Height",
      "type": "object",
      "properties": {
        "heightMillimeters": {
          "format": "int64",
          "description": "Required. Height of the user in millimeters.",
          "type": "string"
        },
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "Body height measurement."
    },
    "TotalCaloriesRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's total calories. Note: Queries for the `total-calories` data type must include a time interval filter (such as `total_calories.interval.start_time` or `total_calories.interval.civil_start_time`). The maximum range is 14 days. Example filter query: `total_calories.interval.start_time >= \"2026-04-20T00:00:00Z\" AND total_calories.interval.start_time < \"2026-04-21T00:00:00Z\"`",
      "id": "TotalCaloriesRollupValue",
      "properties": {
        "kcalSum": {
          "description": "Sum of the total calories in kilocalories.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ListPairedDevicesResponse": {
      "type": "object",
      "id": "ListPairedDevicesResponse",
      "description": "Response message for ListPairedDevices.",
      "properties": {
        "pairedDevices": {
          "items": {
            "$ref": "PairedDevice"
          },
          "type": "array",
          "description": "The paired devices of the user."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BodyFatRollupValue": {
      "properties": {
        "bodyFatPercentageAvg": {
          "format": "double",
          "type": "number",
          "description": "Average body fat percentage."
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the body fat data type.",
      "id": "BodyFatRollupValue"
    },
    "SleepMetadata": {
      "properties": {
        "externalId": {
          "description": "Optional. Sleep identifier relevant in the context of the data source.",
          "type": "string"
        },
        "processed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Sleep and sleep stages algorithms finished processing. A `true` value indicates whether all data processing for the session is complete. A `false` value means sleep period is detected but sleep stages is still processing."
        },
        "stagesStatus": {
          "description": "Output only. Sleep stages algorithm processing status.",
          "type": "string",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ],
          "readOnly": true
        },
        "nap": {
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "type": "boolean",
          "readOnly": true
        },
        "mainSleep": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. `main_sleep`: the longest sleep session with stages within one day. If no sleep session has stages, then the longest sleep is the `main_sleep`. If there are multiple days of sleep in the response, there is one `main_sleep` per day."
        },
        "manuallyEdited": {
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "SleepMetadata",
      "type": "object",
      "description": "Additional information about how the sleep was processed."
    },
    "BloodGlucose": {
      "description": "Represents a blood glucose level measurement. LINT: LEGACY_NAMES",
      "id": "BloodGlucose",
      "type": "object",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which blood glucose was measured."
        },
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        },
        "measurementTiming": {
          "type": "string",
          "enum": [
            "MEASUREMENT_TIMING_UNSPECIFIED",
            "AFTER_MEAL",
            "BEFORE_MEAL",
            "FASTING",
            "GENERAL",
            "BEFORE_BED",
            "OVER_NIGHT"
          ],
          "description": "Optional. Timing of the measurement.",
          "enumDescriptions": [
            "Unspecified measurement timing.",
            "Measurement taken after meal.",
            "Measurement taken before meal.",
            "Measurement taken while fasting.",
            "General measurement (not associated with a meal or time of day).",
            "Measurement taken before bed.",
            "Measurement taken over night."
          ]
        },
        "specimen": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified specimen.",
            "Capillary blood.",
            "Interstitial fluid.",
            "Plasma.",
            "Serum.",
            "Tears.",
            "Whole blood."
          ],
          "enum": [
            "SPECIMEN_UNSPECIFIED",
            "CAPILLARY_BLOOD",
            "INTERSTITIAL_FLUID",
            "PLASMA",
            "SERUM",
            "TEARS",
            "WHOLE_BLOOD"
          ],
          "description": "Optional. Type of body fluid used to measure the blood glucose."
        },
        "measurementSource": {
          "description": "Optional. Source of the measurement.",
          "enum": [
            "MEASUREMENT_SOURCE_UNSPECIFIED",
            "SELF_MONITORING_BLOOD_GLUCOSE",
            "CONTINUOUS_GLUCOSE_MONITORING",
            "LAB_TEST"
          ],
          "enumDescriptions": [
            "Unspecified measurement source.",
            "Self-monitoring of blood glucose (Blood glucose meter)",
            "Continuous glucose monitoring device",
            "Laboratory test"
          ],
          "type": "string"
        },
        "bloodGlucoseMilligramsPerDeciliter": {
          "format": "double",
          "type": "number",
          "description": "Required. Blood glucose level concentration in mg/dL."
        },
        "mealType": {
          "enumDescriptions": [
            "Unspecified meal type.",
            "Breakfast.",
            "Lunch.",
            "Dinner.",
            "Snack."
          ],
          "type": "string",
          "enum": [
            "MEAL_TYPE_UNSPECIFIED",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "SNACK"
          ],
          "description": "Optional. Meal type of the measurement."
        }
      }
    },
    "RollupDataPoint": {
      "properties": {
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "activeEnergyBurned": {
          "$ref": "ActiveEnergyBurnedRollupValue",
          "description": "Returned by default when rolling up data points from the `active-energy-burned` data type."
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "distance": {
          "$ref": "DistanceRollupValue",
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier."
        },
        "nutritionLog": {
          "$ref": "NutritionLogRollupValue",
          "description": "Returned by default when rolling up data points from the `nutrition-log` data type, or when requested explicitly using the `nutrition-log` rollup type identifier."
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsDataRollupValue",
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier."
        },
        "bloodGlucose": {
          "description": "Returned by default when rolling up data points from the `blood-glucose` data type.",
          "$ref": "BloodGlucoseRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the window this value aggregates over",
          "type": "string"
        },
        "coreBodyTemperature": {
          "description": "Returned by default when rolling up data points from the `core-body-temperature` data type, or when requested explicitly using the `core-body-temperature` rollup type identifier.",
          "$ref": "CoreBodyTemperatureRollupValue"
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "hydrationLog": {
          "$ref": "HydrationLogRollupValue",
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier."
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "totalCalories": {
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier.",
          "$ref": "TotalCaloriesRollupValue"
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "startTime": {
          "description": "Start time of the window this value aggregates over",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Value of a rollup for a single physical time interval (aggregation window) of reconciled data points from all data sources, excluding those data points that are identified as recorded by wearables in intervals when they were not actually worn.",
      "id": "RollupDataPoint"
    },
    "HeartRateVariability": {
      "type": "object",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "id": "HeartRateVariability",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time of the heart rate variability measurement."
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Google Health.",
          "type": "number",
          "format": "double"
        },
        "standardDeviationMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The standard deviation of the heart rate variability measurement."
        }
      }
    },
    "VO2Max": {
      "id": "VO2Max",
      "type": "object",
      "description": "VO2 max measurement.",
      "properties": {
        "vo2Max": {
          "type": "number",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which VO2 max was measured."
        },
        "measurementMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "description": "Optional. The method used to measure the VO2 max value.",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ]
        }
      }
    },
    "DailyVO2Max": {
      "properties": {
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date for which the Daily VO2 max was measured."
        },
        "vo2MaxCovariance": {
          "type": "number",
          "format": "double",
          "description": "Optional. The covariance of the VO2 max value."
        },
        "cardioFitnessLevel": {
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ]
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        }
      },
      "id": "DailyVO2Max",
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "type": "object"
    },
    "EnergyQuantityRollup": {
      "type": "object",
      "properties": {
        "kcalSum": {
          "format": "double",
          "type": "number",
          "description": "Required. The sum of the energy in kilocalories."
        },
        "userProvidedUnitLast": {
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "description": "Optional. The user provided unit on the last element."
        }
      },
      "description": "Rollup for the energy quantity.",
      "id": "EnergyQuantityRollup"
    },
    "EnergyQuantity": {
      "id": "EnergyQuantity",
      "type": "object",
      "description": "Represents the energy quantity.",
      "properties": {
        "kcal": {
          "type": "number",
          "description": "Required. The energy value in kilocalories.",
          "format": "double"
        },
        "userProvidedUnit": {
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ],
          "description": "Optional. Value representing the user provided unit.",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "type": "string"
        }
      }
    },
    "DailyRestingHeartRate": {
      "properties": {
        "beatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. The resting heart rate value in beats per minute."
        },
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        }
      },
      "id": "DailyRestingHeartRate",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "type": "object"
    },
    "BasalEnergyBurned": {
      "properties": {
        "kcal": {
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval.",
          "format": "double",
          "type": "number"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "id": "BasalEnergyBurned",
      "type": "object",
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time."
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "id": "Floors",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "description": "Required. Number of floors in the recorded interval",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        }
      }
    },
    "DailyRollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "id": "DailyRollUpDataPointsResponse",
      "properties": {
        "rollupDataPoints": {
          "items": {
            "$ref": "DailyRollupDataPoint"
          },
          "description": "Values for each aggregation time window.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListSubscribersResponse": {
      "description": "Response message for ListSubscribers.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "subscribers": {
          "items": {
            "$ref": "Subscriber"
          },
          "type": "array",
          "description": "Subscribers from the specified project."
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of subscribers matching the request.",
          "type": "integer"
        }
      },
      "id": "ListSubscribersResponse",
      "type": "object"
    },
    "CoreBodyTemperature": {
      "id": "CoreBodyTemperature",
      "type": "object",
      "description": "Core body temperature measurement, distinct from peripheral body temperature, reflects the temperature of the body's internal organs.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which core body temperature was measured."
        },
        "temperatureCelsius": {
          "format": "double",
          "type": "number",
          "description": "Required. The core body temperature in Celsius."
        },
        "measurementLocation": {
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "ARMPIT",
            "BODY",
            "EAR",
            "FINGER",
            "GASTRO_INTESTINAL",
            "MOUTH",
            "RECTUM",
            "TOE",
            "EAR_DRUM",
            "TEMPORAL_ARTERY",
            "FOREHEAD",
            "URINARY_BLADDER",
            "NASAL",
            "NASOPHARYNGEAL",
            "WRIST",
            "VAGINA"
          ],
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Armpit measurement location.",
            "Body measurement location.",
            "Ear measurement location.",
            "Finger measurement location.",
            "Gastro-intestinal measurement location.",
            "Mouth measurement location.",
            "Rectum measurement location.",
            "Toe measurement location.",
            "Ear drum measurement location.",
            "Temporal artery measurement location.",
            "Forehead measurement location.",
            "Urinary bladder measurement location.",
            "Nasal measurement location.",
            "Nasopharyngeal measurement location.",
            "Wrist measurement location.",
            "Vagina measurement location."
          ],
          "description": "Optional. The location of the core body temperature measurement.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. The unique identifier of the core body temperature measurement."
        }
      }
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "properties": {
        "civilTime": {
          "readOnly": true,
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "$ref": "CivilDateTime"
        },
        "utcOffset": {
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ObservationSampleTime"
    },
    "ReconciledDataPoint": {
      "type": "object",
      "properties": {
        "activeEnergyBurned": {
          "description": "Data for points in the `active-energy-burned` interval data type collection.",
          "$ref": "ActiveEnergyBurned"
        },
        "coreBodyTemperature": {
          "description": "Data for points in the `core-body-temperature` sample data type collection.",
          "$ref": "CoreBodyTemperature"
        },
        "basalEnergyBurned": {
          "description": "Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "activityLevel": {
          "$ref": "ActivityLevel",
          "description": "Data for points in the `activity-level` daily data type collection."
        },
        "floors": {
          "description": "Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "runVo2Max": {
          "$ref": "RunVO2Max",
          "description": "Data for points in the `run-vo2-max` sample data type collection."
        },
        "height": {
          "$ref": "Height",
          "description": "Data for points in the `height` sample data type collection."
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Data for points in the `heart-rate-variability` sample data type collection."
        },
        "activeZoneMinutes": {
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "sedentaryPeriod": {
          "description": "Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "nutritionLog": {
          "$ref": "NutritionLog",
          "description": "Data for points in the `nutrition-log` session data type collection."
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsData",
          "description": "Data for points in the `swim-lengths-data` interval data type collection."
        },
        "dailyVo2Max": {
          "$ref": "DailyVO2Max",
          "description": "Data for points in the `daily-vo2-max` daily data type collection."
        },
        "heartRate": {
          "description": "Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "vo2Max": {
          "$ref": "VO2Max",
          "description": "Data for points in the `vo2-max` sample data type collection."
        },
        "sleep": {
          "description": "Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "altitude": {
          "description": "Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "bloodGlucose": {
          "description": "Data for points in the `blood-glucose` sample data type collection.",
          "$ref": "BloodGlucose"
        },
        "distance": {
          "description": "Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "dailySleepTemperatureDerivations": {
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "$ref": "Weight",
          "description": "Data for points in the `weight` sample data type collection."
        },
        "exercise": {
          "description": "Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Data for points in the `active-minutes` interval data type collection."
        },
        "steps": {
          "$ref": "Steps",
          "description": "Data for points in the `steps` interval data type collection."
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "oxygenSaturation": {
          "description": "Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        }
      },
      "id": "ReconciledDataPoint",
      "description": "A reconciled computed or recorded metric."
    },
    "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog": {
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "id": "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog",
      "type": "object",
      "properties": {
        "httpResponse": {
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body.",
          "$ref": "HttpResponse"
        }
      }
    },
    "IrregularRhythmNotification": {
      "id": "IrregularRhythmNotification",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        },
        "medicalDeviceInfo": {
          "$ref": "MedicalDeviceInfo",
          "description": "Output only. The meta information for the compatible device used to conduct the measurement. Irregular Rhythm Notification measurements typically populate `algorithm_version`, `service_version`, and `device_model`.",
          "readOnly": true
        },
        "alertWindows": {
          "type": "array",
          "items": {
            "$ref": "AlertWindow"
          },
          "description": "Optional. The overlapping analysis windows that were used to evaluate rhythm for potential AFib, containing specific information about the user's heart rhythm."
        }
      },
      "description": "Represents an Irregular Rhythm Notification alert, indicating a potential sign of atrial fibrillation (AFib). This data type is based on SaMD feature and any changes to it may require additional review.",
      "type": "object"
    },
    "RespiratoryRateSleepSummary": {
      "id": "RespiratoryRateSleepSummary",
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times.",
      "properties": {
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "remSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Optional. Respiratory rate statistics for REM sleep."
        }
      },
      "type": "object"
    },
    "BodyFat": {
      "properties": {
        "percentage": {
          "type": "number",
          "format": "double",
          "description": "Required. Body fat percentage, in range [0, 100]."
        },
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "type": "object",
      "description": "Body fat measurement.",
      "id": "BodyFat"
    },
    "ActiveEnergyBurnedRollupValue": {
      "description": "Represents the result of the rollup of active energy burned.",
      "id": "ActiveEnergyBurnedRollupValue",
      "properties": {
        "kcalSum": {
          "description": "Output only. Sum of the active energy burned in kilocalories.",
          "format": "double",
          "type": "number",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RollUpDataPointsResponse": {
      "properties": {
        "rollupDataPoints": {
          "type": "array",
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "RollupDataPoint"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RollUpDataPointsResponse",
      "description": "Response containing the list of rolled up data points."
    },
    "OxygenSaturation": {
      "type": "object",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "id": "OxygenSaturation",
      "properties": {
        "percentage": {
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number",
          "format": "double"
        },
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "Steps": {
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of steps in the recorded interval."
        }
      },
      "description": "Step count over the time interval.",
      "type": "object",
      "id": "Steps"
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "properties": {
        "signalToNoise": {
          "format": "double",
          "type": "number",
          "description": "Optional. How trustworthy the data is for the computation."
        },
        "standardDeviation": {
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "format": "double",
          "type": "number"
        },
        "breathsPerMinute": {
          "format": "double",
          "type": "number",
          "description": "Required. Average breaths per minute."
        }
      },
      "id": "RespiratoryRateSleepSummaryStatistics",
      "description": "Respiratory rate statistics for a given sleep stage.",
      "type": "object"
    },
    "DataSource": {
      "id": "DataSource",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "properties": {
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "recordingMethod": {
          "description": "Optional. Captures how the data was recorded.",
          "type": "string",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "readOnly": true,
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "type": "string"
        },
        "application": {
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true,
          "$ref": "Application"
        }
      },
      "type": "object"
    },
    "HeartBeat": {
      "description": "A single heart beat measurement.",
      "properties": {
        "physicalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time of the heart beat measurement."
        },
        "civilTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true
        },
        "utcOffset": {
          "type": "string",
          "description": "Required. The UTC offset of the user's timezone when the heart beat measurement occurred.",
          "format": "google-duration"
        },
        "beatsPerMinute": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The beats-per-minute value extrapolated from the time before the following heart beat. This is calculated as 60000 / rr, where rr is the gap between heart beats in milliseconds (IBI - Interbeat Interval)."
        }
      },
      "id": "HeartBeat",
      "type": "object"
    },
    "IrnProfile": {
      "id": "IrnProfile",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this IrnProfile resource. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last piece of analyzable data synced by the user."
        },
        "onboardingStatus": {
          "description": "Required. Whether or not the user has onboarded onto the IRN feature.",
          "type": "boolean"
        },
        "enrollmentStatus": {
          "description": "Required. Whether or not the user is currently enrolled in having their data processed for IRN alerts.",
          "type": "boolean"
        }
      },
      "description": "Irregular Rhythm Notifications (IRN) Profile details. The Irregular Rhythm Notifications (IRN) feature checks for signs of atrial fibrillation (AFib). The IrnProfile details include information about the user's onboarding status, enrollment status, and the last update time of analyzable data for this feature."
    },
    "FloorsRollupValue": {
      "description": "Represents the result of the rollup of the user's floors.",
      "type": "object",
      "id": "FloorsRollupValue",
      "properties": {
        "countSum": {
          "description": "Sum of the floors count.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "properties": {
        "caloriesInHeartRateZones": {
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "type": "array",
          "description": "List of calories burned in each heart rate zone."
        }
      },
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "type": "object",
      "id": "CaloriesInHeartRateZoneRollupValue"
    },
    "SwimLengthsDataRollupValue": {
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "type": "object",
      "id": "SwimLengthsDataRollupValue"
    },
    "DailyHeartRateZones": {
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "id": "DailyHeartRateZones",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the heart rate zones record."
        },
        "heartRateZones": {
          "type": "array",
          "items": {
            "$ref": "HeartRateZone"
          },
          "description": "Required. The heart rate zones."
        }
      }
    },
    "TimeInHeartRateZoneValue": {
      "id": "TimeInHeartRateZoneValue",
      "properties": {
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string",
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The total time spent in the specified heart rate zone."
        }
      },
      "type": "object",
      "description": "Represents the total time spent in a specific heart rate zone."
    },
    "Device": {
      "description": "Captures metadata about the device that recorded the measurement.",
      "properties": {
        "formFactor": {
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "description": "Optional. Captures the form factor of the device.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An optional name for the device."
        }
      },
      "id": "Device",
      "type": "object"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "type": "object",
      "properties": {
        "activityLevel": {
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "description": "The level of activity.",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string"
        },
        "activeMinutesSum": {
          "type": "string",
          "description": "Number of whole minutes spent in activity.",
          "format": "int64"
        }
      },
      "description": "Active minutes by activity level.",
      "id": "ActiveMinutesRollupByActivityLevel"
    },
    "SessionTimeInterval": {
      "id": "SessionTimeInterval",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The start time of the observed session.",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "endTime": {
          "description": "Required. The end time of the observed session.",
          "format": "google-datetime",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together."
    },
    "ObservationTimeInterval": {
      "properties": {
        "endUtcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC)."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Observed interval start time.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Observed interval end time.",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true
        }
      },
      "description": "Represents a time interval of an observed data point.",
      "type": "object",
      "id": "ObservationTimeInterval"
    },
    "TimeInHeartRateZoneRollupValue": {
      "properties": {
        "timeInHeartRateZones": {
          "description": "List of time spent in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          }
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "id": "TimeInHeartRateZoneRollupValue"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "DailyRollupDataPoint": {
      "properties": {
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "activeEnergyBurned": {
          "description": "Returned by default when rolling up data points from the `active-energy-burned` data type.",
          "$ref": "ActiveEnergyBurnedRollupValue"
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "End time of the window this value aggregates over"
        },
        "bloodGlucose": {
          "description": "Returned by default when rolling up data points from the `blood-glucose` data type.",
          "$ref": "BloodGlucoseRollupValue"
        },
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "activityLevel": {
          "$ref": "ActivityLevelRollupValue",
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier."
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier."
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier."
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "$ref": "RestingHeartRatePersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriodRollupValue",
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier."
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "nutritionLog": {
          "description": "Returned by default when rolling up data points from the `nutrition-log` data type, or when requested explicitly using the `nutrition-log` rollup type identifier.",
          "$ref": "NutritionLogRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "coreBodyTemperature": {
          "description": "Returned by default when rolling up data points from the `core-body-temperature` data type, or when requested explicitly using the `core-body-temperature` rollup type identifier.",
          "$ref": "CoreBodyTemperatureRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        }
      },
      "type": "object",
      "description": "Value of a daily rollup for a single civil time interval (aggregation window) of reconciled data points from all data sources, excluding those data points that are identified as recorded by wearables in intervals when they were not actually worn.",
      "id": "DailyRollupDataPoint"
    },
    "SplitSummary": {
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories.",
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. Lap start time offset from UTC",
          "type": "string"
        },
        "splitType": {
          "type": "string",
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        },
        "activeDuration": {
          "readOnly": true,
          "description": "Output only. Lap time excluding the pauses.",
          "type": "string",
          "format": "google-duration"
        },
        "metricsSummary": {
          "$ref": "MetricsSummary",
          "description": "Required. Summary metrics for this split."
        },
        "startTime": {
          "type": "string",
          "description": "Required. Lap start time",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. Lap end time offset from UTC",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Lap end time",
          "format": "google-datetime"
        }
      },
      "id": "SplitSummary"
    },
    "HttpHeader": {
      "type": "object",
      "properties": {
        "key": {
          "description": "The HTTP header key. It is case insensitive.",
          "type": "string"
        },
        "value": {
          "description": "The HTTP header value.",
          "type": "string"
        }
      },
      "id": "HttpHeader",
      "description": "Represents an HTTP header."
    },
    "CivilTimeInterval": {
      "properties": {
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "id": "CivilTimeInterval",
      "type": "object"
    },
    "Subscriber": {
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "id": "Subscriber",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the subscriber was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details."
        },
        "endpointAuthorization": {
          "$ref": "EndpointAuthorization",
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified."
        },
        "subscriberConfigs": {
          "items": {
            "$ref": "SubscriberConfig"
          },
          "description": "Optional. Configuration for the subscriber.",
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the subscriber.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the subscriber was last updated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FoodServing": {
      "id": "FoodServing",
      "description": "Represents different properties and information about the serving of a specific food.",
      "type": "object",
      "properties": {
        "foodMeasurementUnitDisplayNamePlural": {
          "description": "Output only. Legacy measurement unit for serving size in plural form (e.g. \"pieces\", \"grams\").",
          "type": "string",
          "readOnly": true
        },
        "foodMeasurementUnitDisplayName": {
          "type": "string",
          "description": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\").",
          "readOnly": true
        },
        "multiplier": {
          "description": "Optional. Value representing the multiplier used to compute the energy when using this serving instead of the default serving.",
          "format": "double",
          "type": "number"
        },
        "amount": {
          "format": "double",
          "description": "Optional. Amount of food consumed, fractional values are supported.",
          "type": "number"
        },
        "foodMeasurementUnit": {
          "type": "string",
          "description": "Required. Food measurement unit"
        }
      }
    },
    "NutrientQuantity": {
      "id": "NutrientQuantity",
      "properties": {
        "nutrient": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified nutrient.",
            "Value representing biotin nutrient.",
            "Value representing caffeine nutrient.",
            "Value representing calcium nutrient.",
            "Value representing chloride nutrient.",
            "Value representing carbohydrates nutrient.",
            "Value representing cholesterol nutrient.",
            "Value representing chromium nutrient.",
            "Value representing copper nutrient.",
            "Value representing dietary fiber nutrient.",
            "Value representing folic acid nutrient.",
            "Value representing iodine nutrient.",
            "Value representing iron nutrient.",
            "Value representing magnesium nutrient.",
            "Value representing manganese nutrient.",
            "Value representing molybdenum nutrient.",
            "Value representing monounsaturated fat nutrient.",
            "Value representing niacin nutrient.",
            "Value representing pantothenic acid nutrient.",
            "Value representing phosphorus nutrient.",
            "Value representing polyunsaturated fat nutrient.",
            "Value representing potassium nutrient.",
            "Value representing protein nutrient.",
            "Value representing riboflavin nutrient.",
            "Value representing saturated fat nutrient.",
            "Value representing selenium nutrient.",
            "Value representing sodium nutrient.",
            "Value representing sugar nutrient.",
            "Value representing thiamin nutrient.",
            "Value representing trans fat nutrient.",
            "Value representing unsaturated fat nutrient.",
            "Value representing vitamin A nutrient.",
            "Value representing vitamin B12 nutrient.",
            "Value representing vitamin B6 nutrient.",
            "Value representing vitamin C nutrient.",
            "Value representing vitamin D nutrient.",
            "Value representing vitamin E nutrient.",
            "Value representing vitamin K nutrient.",
            "Value representing zinc nutrient.",
            "Value representing folate nutrient."
          ],
          "description": "Required. The nutrient type.",
          "enum": [
            "NUTRIENT_UNSPECIFIED",
            "BIOTIN",
            "CAFFEINE",
            "CALCIUM",
            "CHLORIDE",
            "CARBOHYDRATES",
            "CHOLESTEROL",
            "CHROMIUM",
            "COPPER",
            "DIETARY_FIBER",
            "FOLIC_ACID",
            "IODINE",
            "IRON",
            "MAGNESIUM",
            "MANGANESE",
            "MOLYBDENUM",
            "MONOUNSATURATED_FAT",
            "NIACIN",
            "PANTOTHENIC_ACID",
            "PHOSPHORUS",
[...]
