{
  "documentationLink": "https://developers.google.com/health",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "protocol": "rest",
  "id": "health:v4",
  "version_module": true,
  "rootUrl": "https://health.googleapis.com/",
  "version": "v4",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "resources": {
    "users": {
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "path": "v4/{+parent}/dataPoints:batchDelete",
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "description": "Delete a batch of identifyable data points.",
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "path": "v4/{+parent}/dataPoints",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field.",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The `next_page_token` from a previous request, if any."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep and ECG**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session start time (**ECG specific**): - Pattern: `electrocardiogram.interval.start_time` - Supported comparison operators: `>=` - Timestamp literal expected in RFC-3339 format - Example: - `electrocardiogram.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Note: Only filtering by start time is supported for ECG. Filtering by end time (e.g., `electrocardiogram.interval.end_time`) is not supported. - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Query user health and fitness data points.",
                  "id": "health.users.dataTypes.dataPoints.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "health.users.dataTypes.dataPoints.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "description": "Creates a single identifiable data point.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/dataPoints",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v4/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$"
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "id": "health.users.dataTypes.dataPoints.patch"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "response": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.get",
                  "parameters": {
                    "name": {
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the data point to retrieve. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` See DataPoint.name for examples and possible values."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a single identifyable data point.",
                  "httpMethod": "GET",
                  "path": "v4/{+name}",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}"
                },
                "rollUp": {
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "required": true
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "path": "v4/{+parent}/dataPoints:rollUp",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "description": "Roll up data points over physical time intervals for supported data types.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "reconcile": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "dataSourceFamily": {
                      "type": "string",
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` - `users/me/dataSourceFamilies/all-sources` - Default value. Includes data from all available data sources. - `users/me/dataSourceFamilies/google-wearables` - Includes data from Google and Fitbit tracker devices (such as Fitbit trackers and Pixel Watch). Excludes manually logged data. - `users/me/dataSourceFamilies/google-sources` - Includes first-party Google data, such as data from tracker devices, manually logged data, and Health Connect.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "dailyRollUp": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "required": true
                    }
                  },
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  }
                },
                "exportExerciseTcx": {
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly"
                  ],
                  "supportsMediaDownload": true,
                  "description": "Exports exercise data in TCX format. **IMPORTANT:** HTTP clients must append `?alt=media` to the request URL to download the raw TCX file. Example: `https://health.googleapis.com/v4/users/me/dataTypes/exercise/dataPoints/EXERCISE_ID:exportExerciseTcx?alt=media` Without `alt=media`, the server returns a JSON response (`ExportExerciseTcxResponse`) which is intended primarily for gRPC clients. **Note:** While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "httpMethod": "GET",
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v4/{+name}:exportExerciseTcx",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$"
                    },
                    "partialData": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included."
                    }
                  },
                  "useMediaDownloadService": true
                }
              }
            }
          }
        },
        "pairedDevices": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/googlehealth.settings.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent, which owns this collection of devices. Format: users/{user}",
                  "pattern": "^users/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of devices to return. The service may return fewer than this value. If unspecified, at most 5 devices will be returned. The maximum value is 100. values above 100 will be coerced to 100.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPairedDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPairedDevices` must match the call that provided the page token."
                }
              },
              "response": {
                "$ref": "ListPairedDevicesResponse"
              },
              "path": "v4/{+parent}/pairedDevices",
              "id": "health.users.pairedDevices.list",
              "flatPath": "v4/users/{usersId}/pairedDevices",
              "description": "Returns the user's list of paired 1P trackers and smartwatches.",
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v4/users/{usersId}/pairedDevices/{pairedDevicesId}",
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/pairedDevices/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device to retrieve. Format: users/{user}/devices/{device}",
                  "required": true
                }
              },
              "description": "Returns user's Device.",
              "id": "health.users.pairedDevices.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/googlehealth.settings.readonly"
              ],
              "response": {
                "$ref": "PairedDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v4/{+name}"
            }
          }
        }
      },
      "methods": {
        "getSettings": {
          "flatPath": "v4/users/{usersId}/settings",
          "id": "health.users.getSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.settings.readonly"
          ],
          "description": "Returns user settings details.",
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^users/[^/]+/settings$"
            }
          }
        },
        "updateProfile": {
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^users/[^/]+/profile$",
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "required": true
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v4/users/{usersId}/profile",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.profile.writeonly"
          ],
          "id": "health.users.updateProfile",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Profile"
          },
          "description": "Updates the user's profile details.",
          "request": {
            "$ref": "Profile"
          }
        },
        "getProfile": {
          "response": {
            "$ref": "Profile"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^users/[^/]+/profile$",
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v4/users/{usersId}/profile",
          "description": "Returns user Profile details.",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.profile.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v4/{+name}",
          "id": "health.users.getProfile"
        },
        "updateSettings": {
          "id": "health.users.updateSettings",
          "response": {
            "$ref": "Settings"
          },
          "path": "v4/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.settings.writeonly"
          ],
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "type": "string",
              "pattern": "^users/[^/]+/settings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated."
            }
          },
          "description": "Updates the user's settings details.",
          "flatPath": "v4/users/{usersId}/settings",
          "request": {
            "$ref": "Settings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        },
        "getIdentity": {
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Identity"
          },
          "id": "health.users.getIdentity",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
            "https://www.googleapis.com/auth/googlehealth.ecg.readonly",
            "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
            "https://www.googleapis.com/auth/googlehealth.irn.readonly",
            "https://www.googleapis.com/auth/googlehealth.profile.readonly",
            "https://www.googleapis.com/auth/googlehealth.settings.readonly",
            "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
          ],
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^users/[^/]+/identity$",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`"
            }
          },
          "flatPath": "v4/users/{usersId}/identity",
          "parameterOrder": [
            "name"
          ]
        },
        "getIrnProfile": {
          "id": "health.users.getIrnProfile",
          "response": {
            "$ref": "IrnProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.irn.readonly"
          ],
          "description": "Returns user's IRN Profile details.",
          "httpMethod": "GET",
          "flatPath": "v4/users/{usersId}/irnProfile",
          "parameterOrder": [
            "name"
          ],
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/irnProfile$",
              "location": "path",
              "description": "Required. The resource name of the IRN Profile. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "shl": {
      "resources": {
        "m": {
          "methods": {
            "getShlManifest": {
              "path": "v4/shl/m/{externalShlId}",
              "httpMethod": "POST",
              "id": "health.shl.m.getShlManifest",
              "response": {
                "$ref": "HttpBody"
              },
              "request": {
                "$ref": "ManifestParams"
              },
              "description": "Forward a manifest request for a given SHL",
              "parameters": {
                "externalShlId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. External ID mapping to a ShlSharedLinkCapabilityToken object See https://docs.google.com/document/d/1Pch20pxJHRbsaMxp0EYgs3ZU0Gu7QTUznk8LhvbQvfY/edit?tab=t.0#heading=h.17wg41voij6q",
                  "required": true
                }
              },
              "flatPath": "v4/shl/m/{externalShlId}",
              "parameterOrder": [
                "externalShlId"
              ]
            }
          }
        },
        "r": {
          "methods": {
            "get": {
              "id": "health.shl.r.get",
              "response": {
                "$ref": "HttpBody"
              },
              "httpMethod": "GET",
              "description": "Forward a resource request for a given SHL",
              "parameterOrder": [
                "externalShlId",
                "resourceToken"
              ],
              "path": "v4/shl/r/{externalShlId}/{resourceToken}",
              "flatPath": "v4/shl/r/{externalShlId}/{resourceToken}",
              "parameters": {
                "externalShlId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. External ID mapping to a ShlSharedLinkCapabilityToken object See https://docs.google.com/document/d/1Pch20pxJHRbsaMxp0EYgs3ZU0Gu7QTUznk8LhvbQvfY/edit?tab=t.0#heading=h.17wg41voij6q"
                },
                "resourceToken": {
                  "location": "path",
                  "description": "Required. Encoded, encrypted message containing resource access details",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "subscribers": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it's interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
              "id": "health.projects.subscribers.patch",
              "path": "v4/{+name}",
              "request": {
                "$ref": "Subscriber"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              }
            },
            "create": {
              "id": "health.projects.subscribers.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "description": "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
              "path": "v4/{+parent}/subscribers",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this subscriber will be created. Format: projects/{project_number} Example: projects/1234567890",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "subscriberId": {
                  "type": "string",
                  "description": "Optional. The ID to use for the subscriber, which will become the final component of the subscriber's resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                  "location": "query"
                }
              },
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "request": {
                "$ref": "CreateSubscriberPayload"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v4/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a subscriber registration. This will stop all notifications to the subscriber's endpoint.",
              "id": "health.projects.subscribers.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "description": "Required. The name of the subscriber to delete. Format: projects/{project}/subscribers/{subscriber} Example: projects/my-project/subscribers/my-subscriber-123 The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                  "required": true
                },
                "force": {
                  "description": "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "health.projects.subscribers.list",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "path": "v4/{+parent}/subscribers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all subscribers registered within the owned Google Cloud Project.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of subscribers. Format: projects/{project}",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "response": {
                "$ref": "ListSubscribersResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "subscriptions": {
              "methods": {
                "create": {
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Subscription"
                  },
                  "request": {
                    "$ref": "CreateSubscriptionPayload"
                  },
                  "description": "Creates a subscription for a specific user to a specific subscriber. This method requires the subscriber to have a `SubscriptionCreatePolicy` set to `MANUAL` for the given data types.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                      "description": "Required. The parent subscriber. Format: projects/{project}/subscribers/{subscriber} The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise."
                    },
                    "subscriptionId": {
                      "type": "string",
                      "description": "Optional. The {subscription_id} is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise. If provided, the ID must be unique within the parent subscriber.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "health.projects.subscribers.subscriptions.create",
                  "path": "v4/{+parent}/subscriptions"
                },
                "delete": {
                  "path": "v4/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "health.projects.subscribers.subscriptions.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a specific user subscription, stopping notifications for this user to this subscriber.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the subscription to delete. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}"
                },
                "list": {
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                      "description": "Required. The parent subscriber. Format: projects/{project}/subscribers/{subscriber} The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise.",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of subscriptions. The filter syntax is described in https://google.aip.dev/160. The filter can be applied to the following fields: - `user` - `data_type` The `user` identifier (e.g., `user1` in `users/user1`) refers to the public `health_user_id` Example: user = \"users/user1\" Example: user = \"users/user1\" OR user = \"users/user2\" Example: user = \"users/user1\" AND (data_type = \"sleep\" OR data_type = \"weight\")",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/subscriptions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "health.projects.subscribers.subscriptions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all active subscriptions for a given subscriber. This can be filtered, for example, by user or data type."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the data types for an existing user subscription.",
                  "path": "v4/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "id": "health.projects.subscribers.subscriptions.patch",
                  "request": {
                    "$ref": "Subscription"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the Subscription. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {project} ID is mandatory (6-30 characters, matching /a-z{6,30}/) The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+/subscriptions/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update."
                    }
                  },
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "health",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/googlehealth.profile.readonly": {
          "description": "See your Google Health profile data"
        },
        "https://www.googleapis.com/auth/googlehealth.settings.readonly": {
          "description": "See your Google Health settings"
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.writeonly": {
          "description": "Add sleep data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly": {
          "description": "Add nutrition data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.settings.writeonly": {
          "description": "Add settings data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.profile.writeonly": {
          "description": "Add profile data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.readonly": {
          "description": "See your Google Health sleep data"
        },
        "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly": {
          "description": "Add logged symptoms data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly": {
          "description": "Add activity and fitness data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly": {
          "description": "See your Google Health health metrics and measurement data"
        },
        "https://www.googleapis.com/auth/googlehealth.location.readonly": {
          "description": "See exercise GPS location data in Google Health"
        },
        "https://www.googleapis.com/auth/googlehealth.irn.readonly": {
          "description": "See your Google Health Irregular Rhythm Notifications data"
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly": {
          "description": "See your Google Health activity and fitness data"
        },
        "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly": {
          "description": "Add reproductive health data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly": {
          "description": "Add health metric and measurements data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly": {
          "description": "Add mindfulness data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.ecg.readonly": {
          "description": "See your Google Health ECG data"
        }
      }
    }
  },
  "baseUrl": "https://health.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "ownerName": "Google",
  "canonicalName": "Google Health API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260825",
  "ownerDomain": "google.com",
  "title": "Google Health API",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "schemas": {
    "ActiveMinutes": {
      "description": "Record of active minutes in a given time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "type": "array",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          }
        }
      },
      "id": "ActiveMinutes",
      "type": "object"
    },
    "DailyRespiratoryRate": {
      "type": "object",
      "id": "DailyRespiratoryRate",
      "properties": {
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date on which the respiratory rate was measured."
        }
      },
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep."
    },
    "ListPairedDevicesResponse": {
      "description": "Response message for ListPairedDevices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "pairedDevices": {
          "items": {
            "$ref": "PairedDevice"
          },
          "type": "array",
          "description": "The paired devices of the user."
        }
      },
      "id": "ListPairedDevicesResponse"
    },
    "SplitSummary": {
      "type": "object",
      "properties": {
        "startUtcOffset": {
          "format": "google-duration",
          "description": "Required. Lap start time offset from UTC",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Lap start time",
          "type": "string",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "description": "Required. Lap end time offset from UTC",
          "format": "google-duration",
          "type": "string"
        },
        "splitType": {
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "type": "string",
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ],
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ]
        },
        "metricsSummary": {
          "description": "Required. Summary metrics for this split.",
          "$ref": "MetricsSummary"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Lap end time",
          "format": "google-datetime"
        },
        "activeDuration": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Lap time excluding the pauses.",
          "type": "string"
        }
      },
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories."
    },
    "HeartRateVariability": {
      "id": "HeartRateVariability",
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "standardDeviationMilliseconds": {
          "format": "double",
          "type": "number",
          "description": "Optional. The standard deviation of the heart rate variability measurement."
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Google Health.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ManifestParams": {
      "properties": {
        "passcode": {
          "description": "Optional. ",
          "type": "string"
        },
        "recipient": {
          "type": "string",
          "description": "Required. A string describing the recipient (e.g.,the name of an organization or person) suitable for display to the Receiving User"
        },
        "embeddedLengthMax": {
          "format": "int32",
          "description": "Optional. Integer upper bound on the length of embedded payloads",
          "type": "integer"
        }
      },
      "description": "Represents the POST body contained in a GetShlManifestRequest This message is nested to represent that See https://build.fhir.org/ig/HL7/smart-health-cards-and-links/links-specification.html#smart-health-link-manifest-request",
      "type": "object",
      "id": "ManifestParams"
    },
    "BasalEnergyBurned": {
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "kcal": {
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "BasalEnergyBurned"
    },
    "VolumeQuantityRollup": {
      "properties": {
        "millilitersSum": {
          "format": "double",
          "description": "Required. The sum of volume in milliliters.",
          "type": "number"
        },
        "userProvidedUnitLast": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "type": "string",
          "description": "Optional. The user provided unit on the last element.",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      },
      "description": "Rollup for volume quantity.",
      "type": "object",
      "id": "VolumeQuantityRollup"
    },
    "CivilTimeInterval": {
      "id": "CivilTimeInterval",
      "type": "object",
      "properties": {
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        },
        "end": {
          "description": "Required. The exclusive end of the range.",
          "$ref": "CivilDateTime"
        }
      },
      "description": "Counterpart of google.type.Interval, but using CivilDateTime."
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "properties": {
        "sleep": {
          "description": "Optional. Data for points in the `sleep` session data type collection.",
          "$ref": "Sleep"
        },
        "activeEnergyBurned": {
          "description": "Optional. Data for points in the `active-energy-burned` interval data type collection.",
          "$ref": "ActiveEnergyBurned"
        },
        "nutritionLog": {
          "$ref": "NutritionLog",
          "description": "Optional. Data for points in the `nutrition-log` session data type collection."
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "irregularRhythmNotification": {
          "description": "Optional. Data for points in the `irregular-rhythm-notification` session data type collection.",
          "$ref": "IrregularRhythmNotification"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "foodMeasurementUnit": {
          "$ref": "FoodMeasurementUnit",
          "description": "Optional. The food measurement unit details."
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "ovulationTest": {
          "description": "Optional. Data for points in the `ovulation-test` sample data type collection.",
          "$ref": "OvulationTest"
        },
        "menstrualPeriod": {
          "$ref": "MenstrualPeriod",
          "description": "Optional. Data for points in the `menstrual-period` interval data type collection."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "food": {
          "description": "Optional. The food details.",
          "$ref": "Food"
        },
        "runVo2Max": {
          "$ref": "RunVO2Max",
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection."
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "heartRate": {
          "description": "Optional. Data for points in the `heart-rate` sample data type collection.",
          "$ref": "HeartRate"
        },
        "symptoms": {
          "$ref": "Symptoms",
          "description": "Optional. Data for points in the `symptoms` sample data type collection."
        },
        "coreBodyTemperature": {
          "description": "Optional. Data for points in the `core-body-temperature` sample data type collection.",
          "$ref": "CoreBodyTemperature"
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZone",
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection."
        },
        "moods": {
          "description": "Optional. Data for points in the `moods` sample data type collection.",
          "$ref": "Moods"
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection."
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Optional. Data for points in the `hydration-log` session data type collection."
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "oxygenSaturation": {
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection.",
          "$ref": "OxygenSaturation"
        },
        "bodyFat": {
          "$ref": "BodyFat",
          "description": "Optional. Data for points in the `body-fat` sample data type collection."
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "altitude": {
          "description": "Optional. Data for points in the `altitude` interval data type collection.",
          "$ref": "Altitude"
        },
        "electrocardiogram": {
          "description": "Optional. Data for points in the `electrocardiogram` session data type collection.",
          "$ref": "Electrocardiogram"
        },
        "basalEnergyBurned": {
          "$ref": "BasalEnergyBurned",
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection."
        },
        "dailyRestingHeartRate": {
          "$ref": "DailyRestingHeartRate",
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection."
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "bloodGlucose": {
          "description": "Optional. Data for points in the `blood-glucose` sample data type collection.",
          "$ref": "BloodGlucose"
        }
      },
      "id": "DataPoint",
      "type": "object"
    },
    "StageSummary": {
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true
        },
        "type": {
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ]
        },
        "count": {
          "description": "Output only. Number of sleep stages segments.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Total duration and segment count for a stage.",
      "id": "StageSummary"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "type": "object",
      "id": "CaloriesInHeartRateZoneRollupValue",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          }
        }
      },
      "description": "Represents the result of the rollup of the calories in heart rate zone data type."
    },
    "Moods": {
      "type": "object",
      "description": "Moods record.",
      "properties": {
        "valences": {
          "items": {
            "enum": [
              "VALENCE_UNSPECIFIED",
              "UNPLEASANT",
              "BASELINE",
              "PLEASANT"
            ],
            "enumDescriptions": [
              "Unspecified valence.",
              "Unpleasant.",
              "Baseline.",
              "Pleasant."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The valences."
        },
        "sampleTime": {
          "description": "Required. The time at which moods were measured.",
          "$ref": "ObservationSampleTime"
        },
        "moods": {
          "items": {
            "enum": [
              "MOOD_UNSPECIFIED",
              "AMAZED",
              "AMUSED",
              "ANGRY",
              "ANNOYED",
              "ANXIOUS",
              "HAPPY",
              "CONTENT",
              "SAD",
              "WORRIED",
              "FRUSTRATED",
              "EXCITED",
              "CALM",
              "STRESSED",
              "ASHAMED",
              "BRAVE",
              "CONFIDENT",
              "DISAPPOINTED",
              "DISCOURAGED",
              "DISGUSTED",
              "DRAINED",
              "EMBARRASSED",
              "GRATEFUL",
              "GUILTY",
              "HOPEFUL",
              "HOPELESS",
              "INDIFFERENT",
              "IRRITATED",
              "JEALOUS",
              "JOYFUL",
              "LONELY",
              "OVERWHELMED",
              "PASSIONATE",
              "PEACEFUL",
              "PROUD",
              "RELIEVED",
              "SATISFIED",
              "SCARED",
              "SURPRISED",
              "ENERGIZED",
              "FATIGUED",
              "VERY_CALM",
              "VERY_STRESSED",
              "NEUTRAL",
              "AFRAID",
              "HURTING",
              "BORED",
              "BITTER",
              "ENVIOUS",
              "CONFUSED",
              "CURIOUS",
              "AWESTRUCK",
              "INSPIRED",
              "LONGING",
              "ACCOMPLISHED",
              "LOVING",
              "COMPASSIONATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified mood.",
              "Amazed.",
              "Amused.",
              "Angry.",
              "Annoyed.",
              "Anxious.",
              "Happy.",
              "Content.",
              "Sad.",
              "Worried.",
              "Frustrated.",
              "Excited.",
              "Calm.",
              "Stressed.",
              "Ashamed.",
              "Brave.",
              "Confident.",
              "Disappointed.",
              "Discouraged.",
              "Disgusted.",
              "Drained.",
              "Embarrassed.",
              "Grateful.",
              "Guilty.",
              "Hopeful.",
              "Hopeless.",
              "Indifferent.",
              "Irritated.",
              "Jealous.",
              "Joyful.",
              "Lonely.",
              "Overwhelmed.",
              "Passionate.",
              "Peaceful.",
              "Proud.",
              "Relieved.",
              "Satisfied.",
              "Scared.",
              "Surprised.",
              "Energized.",
              "Fatigued.",
              "Very calm.",
              "Very stressed.",
              "Neutral.",
              "Afraid.",
              "Hurting.",
              "Bored.",
              "Bitter.",
              "Envious.",
              "Confused.",
              "Curious.",
              "Awestruck.",
              "Inspired.",
              "Longing.",
              "Accomplished.",
              "Loving.",
              "Compassionate."
            ]
          },
          "description": "Required. The moods logged.",
          "type": "array"
        }
      },
      "id": "Moods"
    },
    "RollUpDataPointsRequest": {
      "description": "Request to roll up data points by physical time intervals.",
      "id": "RollUpDataPointsRequest",
      "properties": {
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - Default value. Includes data from all available data sources. - `users/me/dataSourceFamilies/google-wearables` - Includes data from Google and Fitbit tracker devices (such as Fitbit trackers and Pixel Watch). Excludes manually logged data. - `users/me/dataSourceFamilies/google-sources` - Includes first-party Google data, such as data from tracker devices, manually logged data, and Health Connect.",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "windowSize": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions. Must be at least 1 second."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified."
        }
      },
      "type": "object"
    },
    "DailyRestingHeartRateMetadata": {
      "id": "DailyRestingHeartRateMetadata",
      "description": "Metadata for the daily resting heart rate.",
      "type": "object",
      "properties": {
        "calculationMethod": {
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "type": "string",
          "description": "Required. The method used to calculate the resting heart rate."
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "id": "RespiratoryRateSleepSummaryStatistics",
      "type": "object",
      "properties": {
        "standardDeviation": {
          "format": "double",
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "type": "number"
        },
        "breathsPerMinute": {
          "description": "Required. Average breaths per minute.",
          "format": "double",
          "type": "number"
        },
        "signalToNoise": {
          "description": "Optional. How trustworthy the data is for the computation.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ListSubscriptionsResponse": {
      "description": "Response message for ListSubscriptions.",
      "id": "ListSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The subscriptions from the specified subscriber.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSubscribersResponse": {
      "description": "Response message for ListSubscribers.",
      "properties": {
        "subscribers": {
          "description": "Subscribers from the specified project.",
          "type": "array",
          "items": {
            "$ref": "Subscriber"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of subscribers matching the request.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListSubscribersResponse"
    },
    "DailyRestingHeartRate": {
      "id": "DailyRestingHeartRate",
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "type": "object",
      "properties": {
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        },
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement."
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "id": "ActiveMinutesByActivityLevel",
      "type": "object",
      "properties": {
        "activeMinutes": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of whole minutes spent in activity."
        },
        "activityLevel": {
          "description": "Required. The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string"
        }
      }
    },
    "HeartBeat": {
      "id": "HeartBeat",
      "description": "A single heart beat measurement.",
      "properties": {
        "civilTime": {
          "$ref": "CivilDateTime",
          "readOnly": true,
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation."
        },
        "beatsPerMinute": {
          "description": "Required. The beats-per-minute value extrapolated from the time before the following heart beat. This is calculated as 60000 / rr, where rr is the gap between heart beats in milliseconds (IBI - Interbeat Interval).",
          "type": "integer",
          "format": "int32"
        },
        "physicalTime": {
          "description": "Required. The time of the heart beat measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "utcOffset": {
          "type": "string",
          "description": "Required. The UTC offset of the user's timezone when the heart beat measurement occurred.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "format": "double",
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range."
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "format": "double",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range."
    },
    "AltitudeRollupValue": {
      "properties": {
        "gainMillimetersSum": {
          "format": "int64",
          "description": "Sum of the altitude gain in millimeters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AltitudeRollupValue",
      "description": "Represents the result of the rollup of the user's altitude."
    },
    "SwimLengthsData": {
      "description": "Swim lengths data over the time interval.",
      "properties": {
        "strokeCount": {
          "description": "Required. Number of strokes in the lap.",
          "format": "int64",
          "type": "string"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "swimStrokeType": {
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ],
          "type": "string",
          "description": "Required. Swim stroke type.",
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ]
        }
      },
      "type": "object",
      "id": "SwimLengthsData"
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "type": "string",
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        },
        "kcal": {
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ActivityLevel": {
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "activityLevelType": {
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "description": "Required. Activity level type in the given time interval.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ]
        }
      },
      "id": "ActivityLevel",
      "description": "Internal type to capture activity level during a certain time interval.",
      "type": "object"
    },
    "BloodGlucoseRollupValue": {
      "description": "Represents the result of the rollup of the blood glucose data type. LINT: LEGACY_NAMES",
      "type": "object",
      "id": "BloodGlucoseRollupValue",
      "properties": {
        "bloodGlucoseMilligramsPerDeciliterAvg": {
          "format": "double",
          "description": "Average blood glucose level in mg/dL.",
          "type": "number"
        }
      }
    },
    "CreateSubscriptionPayload": {
      "description": "Payload for creating a subscription.",
      "type": "object",
      "id": "CreateSubscriptionPayload",
      "properties": {
        "dataTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Data types subscribed to.",
          "type": "array"
        },
        "user": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`)."
        }
      }
    },
    "Floors": {
      "properties": {
        "count": {
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        }
      },
      "type": "object",
      "id": "Floors",
[...]
