{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Health API",
  "canonicalName": "Google Health API",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "resources": {
    "projects": {
      "resources": {
        "subscribers": {
          "methods": {
            "create": {
              "id": "health.projects.subscribers.create",
              "path": "v4/{+parent}/subscribers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "request": {
                "$ref": "CreateSubscriberPayload"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource where this subscriber will be created. Format: projects/{project_number} Example: projects/1234567890"
                },
                "subscriberId": {
                  "location": "query",
                  "description": "Optional. The ID to use for the subscriber, which will become the final component of the subscriber's resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
              "response": {
                "$ref": "Operation"
              }
            },
            "patch": {
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Subscriber"
              },
              "path": "v4/{+name}",
              "id": "health.projects.subscribers.patch",
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it's interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a subscriber registration. This will stop all notifications to the subscriber's endpoint.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "path": "v4/{+name}",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "id": "health.projects.subscribers.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscriber to delete. Format: projects/{project}/subscribers/{subscriber} Example: projects/my-project/subscribers/my-subscriber-123 The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "force": {
                  "location": "query",
                  "description": "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail.",
                  "type": "boolean"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListSubscribersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent, which owns this collection of subscribers. Format: projects/{project}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "description": "Lists all subscribers registered within the owned Google Cloud Project.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v4/{+parent}/subscribers",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "id": "health.projects.subscribers.list",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "subscriptions": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v4/{+parent}/subscriptions",
                  "request": {
                    "$ref": "CreateSubscriptionPayload"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent subscriber. Format: projects/{project}/subscribers/{subscriber} The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise."
                    },
                    "subscriptionId": {
                      "description": "Optional. The {subscription_id} is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise. If provided, the ID must be unique within the parent subscriber.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a subscription for a specific user to a specific subscriber. This method requires the subscriber to have a `SubscriptionCreatePolicy` set to `MANUAL` for the given data types.",
                  "id": "health.projects.subscribers.subscriptions.create",
                  "response": {
                    "$ref": "Subscription"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v4/{+name}",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the Subscription. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {project} ID is mandatory (6-30 characters, matching /a-z{6,30}/) The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise.",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "health.projects.subscribers.subscriptions.patch",
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the data types for an existing user subscription.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Subscription"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the subscription to delete. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+/subscriptions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}",
                  "id": "health.projects.subscribers.subscriptions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a specific user subscription, stopping notifications for this user to this subscriber.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v4/{+name}"
                },
                "list": {
                  "description": "Lists all active subscriptions for a given subscriber. This can be filtered, for example, by user or data type.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "health.projects.subscribers.subscriptions.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of subscriptions. The filter syntax is described in https://google.aip.dev/160. The filter can be applied to the following fields: - `user` - `data_type` The `user` identifier (e.g., `user1` in `users/user1`) refers to the public `health_user_id` Example: user = \"users/user1\" Example: user = \"users/user1\" OR user = \"users/user2\" Example: user = \"users/user1\" AND (data_type = \"sleep\" OR data_type = \"weight\")",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent subscriber. Format: projects/{project}/subscribers/{subscriber} The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  },
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/subscriptions"
                }
              }
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getIrnProfile": {
          "path": "v4/{+name}",
          "response": {
            "$ref": "IrnProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.irn.readonly"
          ],
          "description": "Returns user's IRN Profile details.",
          "httpMethod": "GET",
          "flatPath": "v4/users/{usersId}/irnProfile",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^users/[^/]+/irnProfile$",
              "description": "Required. The resource name of the IRN Profile. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.getIrnProfile"
        },
        "getSettings": {
          "flatPath": "v4/users/{usersId}/settings",
          "httpMethod": "GET",
          "description": "Returns user settings details.",
          "path": "v4/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "pattern": "^users/[^/]+/settings$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "id": "health.users.getSettings",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.settings.readonly"
          ]
        },
        "getProfile": {
          "flatPath": "v4/users/{usersId}/profile",
          "path": "v4/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.profile.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "pattern": "^users/[^/]+/profile$",
              "type": "string"
            }
          },
          "description": "Returns user Profile details.",
          "response": {
            "$ref": "Profile"
          },
          "id": "health.users.getProfile"
        },
        "updateSettings": {
          "path": "v4/{+name}",
          "response": {
            "$ref": "Settings"
          },
          "description": "Updates the user's settings details.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^users/[^/]+/settings$",
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. The list of fields to be updated."
            }
          },
          "flatPath": "v4/users/{usersId}/settings",
          "request": {
            "$ref": "Settings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.settings.writeonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "health.users.updateSettings"
        },
        "updateProfile": {
          "request": {
            "$ref": "Profile"
          },
          "path": "v4/{+name}",
          "description": "Updates the user's profile details.",
          "id": "health.users.updateProfile",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/profile$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "Profile"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.profile.writeonly"
          ],
          "flatPath": "v4/users/{usersId}/profile",
          "parameterOrder": [
            "name"
          ]
        },
        "getIdentity": {
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
            "https://www.googleapis.com/auth/googlehealth.ecg.readonly",
            "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
            "https://www.googleapis.com/auth/googlehealth.irn.readonly",
            "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly",
            "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly",
            "https://www.googleapis.com/auth/googlehealth.profile.readonly",
            "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly",
            "https://www.googleapis.com/auth/googlehealth.settings.readonly",
            "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
          ],
          "response": {
            "$ref": "Identity"
          },
          "path": "v4/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "pattern": "^users/[^/]+/identity$",
              "location": "path",
              "required": true
            }
          },
          "id": "health.users.getIdentity",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v4/users/{usersId}/identity",
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems."
        }
      },
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "rollUp": {
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "httpMethod": "POST",
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Roll up data points over physical time intervals for supported data types.",
                  "path": "v4/{+parent}/dataPoints:rollUp"
                },
                "exportExerciseTcx": {
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly"
                  ],
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "supportsMediaDownload": true,
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer."
                    },
                    "partialData": {
                      "location": "query",
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included.",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "description": "Exports exercise data in TCX format. **IMPORTANT:** HTTP clients must append `?alt=media` to the request URL to download the raw TCX file. Example: `https://health.googleapis.com/v4/users/me/dataTypes/exercise/dataPoints/EXERCISE_ID:exportExerciseTcx?alt=media` Without `alt=media`, the server returns a JSON response (`ExportExerciseTcxResponse`) which is intended primarily for gRPC clients. **Note:** While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed.",
                  "path": "v4/{+name}:exportExerciseTcx",
                  "useMediaDownloadService": true
                },
                "reconcile": {
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "format": "int32"
                    },
                    "dataSourceFamily": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` - `users/me/dataSourceFamilies/all-sources` - Default value. Includes data from all available data sources. - `users/me/dataSourceFamilies/google-wearables` - Includes data from Google and Fitbit tracker devices (such as Fitbit trackers and Pixel Watch). Excludes manually logged data. - `users/me/dataSourceFamilies/google-sources` - Includes first-party Google data, such as data from tracker devices, manually logged data, and Health Connect."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ]
                },
                "batchDelete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Delete a batch of identifyable data points.",
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$"
                    }
                  },
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "path": "v4/{+parent}/dataPoints:batchDelete"
                },
                "get": {
                  "response": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "description": "Required. The name of the data point to retrieve. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` See DataPoint.name for examples and possible values."
                    }
                  },
                  "path": "v4/{+name}",
                  "httpMethod": "GET",
                  "description": "Get a single identifyable data point.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "type": "string",
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens."
                    }
                  },
                  "path": "v4/{+name}",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "dailyRollUp": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "httpMethod": "POST",
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "parameters": {
                    "parent": {
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  }
                },
                "list": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "path": "v4/{+parent}/dataPoints",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ],
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "description": "Query user health and fitness data points.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "health.users.dataTypes.dataPoints.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep and ECG**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session start time (**ECG specific**): - Pattern: `electrocardiogram.interval.start_time` - Supported comparison operators: `>=` - Timestamp literal expected in RFC-3339 format - Example: - `electrocardiogram.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Note: Only filtering by start time is supported for ECG. Filtering by end time (e.g., `electrocardiogram.interval.end_time`) is not supported. - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field.",
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Creates a single identifiable data point.",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "id": "health.users.dataTypes.dataPoints.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/dataPoints",
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                  ]
                }
              }
            }
          }
        },
        "pairedDevices": {
          "methods": {
            "get": {
              "description": "Returns user's Device.",
              "scopes": [
                "https://www.googleapis.com/auth/googlehealth.settings.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the device to retrieve. Format: users/{user}/devices/{device}",
                  "pattern": "^users/[^/]+/pairedDevices/[^/]+$"
                }
              },
              "id": "health.users.pairedDevices.get",
              "response": {
                "$ref": "PairedDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v4/users/{usersId}/pairedDevices/{pairedDevicesId}",
              "path": "v4/{+name}"
            },
            "list": {
              "flatPath": "v4/users/{usersId}/pairedDevices",
              "scopes": [
                "https://www.googleapis.com/auth/googlehealth.settings.readonly"
              ],
              "description": "Returns the user's list of paired 1P trackers and smartwatches.",
              "httpMethod": "GET",
              "id": "health.users.pairedDevices.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPairedDevicesResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPairedDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPairedDevices` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of devices. Format: users/{user}",
                  "type": "string",
                  "pattern": "^users/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of devices to return. The service may return fewer than this value. If unspecified, at most 5 devices will be returned. The maximum value is 100. values above 100 will be coerced to 100.",
                  "location": "query"
                }
              },
              "path": "v4/{+parent}/pairedDevices"
            }
          }
        }
      }
    },
    "shl": {
      "resources": {
        "r": {
          "methods": {
            "get": {
              "flatPath": "v4/shl/r/{externalShlId}/{resourceToken}",
              "parameters": {
                "externalShlId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. External ID mapping to a ShlSharedLinkCapabilityToken object See https://docs.google.com/document/d/1Pch20pxJHRbsaMxp0EYgs3ZU0Gu7QTUznk8LhvbQvfY/edit?tab=t.0#heading=h.17wg41voij6q"
                },
                "resourceToken": {
                  "description": "Required. Encoded, encrypted message containing resource access details",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "health.shl.r.get",
              "response": {
                "$ref": "HttpBody"
              },
              "description": "Forward a resource request for a given SHL",
              "path": "v4/shl/r/{externalShlId}/{resourceToken}",
              "httpMethod": "GET",
              "parameterOrder": [
                "externalShlId",
                "resourceToken"
              ]
            }
          }
        },
        "m": {
          "methods": {
            "getShlManifest": {
              "description": "Forward a manifest request for a given SHL",
              "httpMethod": "POST",
              "response": {
                "$ref": "HttpBody"
              },
              "id": "health.shl.m.getShlManifest",
              "parameterOrder": [
                "externalShlId"
              ],
              "parameters": {
                "externalShlId": {
                  "type": "string",
                  "description": "Required. External ID mapping to a ShlSharedLinkCapabilityToken object See https://docs.google.com/document/d/1Pch20pxJHRbsaMxp0EYgs3ZU0Gu7QTUznk8LhvbQvfY/edit?tab=t.0#heading=h.17wg41voij6q",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "ManifestParams"
              },
              "path": "v4/shl/m/{externalShlId}",
              "flatPath": "v4/shl/m/{externalShlId}"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/health",
  "revision": "20260909",
  "id": "health:v4",
  "version": "v4",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/googlehealth.profile.readonly": {
          "description": "See your Google Health profile data"
        },
        "https://www.googleapis.com/auth/googlehealth.location.readonly": {
          "description": "See exercise GPS location data in Google Health"
        },
        "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly": {
          "description": "Add mindfulness data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.readonly": {
          "description": "See your Google Health sleep data"
        },
        "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly": {
          "description": "Add reproductive health data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly": {
          "description": "Add nutrition data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.irn.readonly": {
          "description": "See your Google Health Irregular Rhythm Notifications data"
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly": {
          "description": "Add activity and fitness data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.writeonly": {
          "description": "Add sleep data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly": {
          "description": "Add health metric and measurements data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly": {
          "description": "Add logged symptoms data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly": {
          "description": "See your Google Health reproductive health data"
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly": {
          "description": "See your Google Health activity and fitness data"
        },
        "https://www.googleapis.com/auth/googlehealth.ecg.readonly": {
          "description": "See your Google Health ECG data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/googlehealth.settings.readonly": {
          "description": "See your Google Health settings"
        },
        "https://www.googleapis.com/auth/googlehealth.profile.writeonly": {
          "description": "Add profile data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly": {
          "description": "See your Google Health health metrics and measurement data"
        },
        "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly": {
          "description": "See your Google Health logged symptoms data"
        },
        "https://www.googleapis.com/auth/googlehealth.settings.writeonly": {
          "description": "Add settings data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly": {
          "description": "See your Google Health mindfulness data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "baseUrl": "https://health.googleapis.com/",
  "rootUrl": "https://health.googleapis.com/",
  "name": "health",
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "DailyRollUpDataPointsResponse": {
      "type": "object",
      "properties": {
        "rollupDataPoints": {
          "items": {
            "$ref": "DailyRollupDataPoint"
          },
          "description": "Values for each aggregation time window.",
          "type": "array"
        }
      },
      "id": "DailyRollUpDataPointsResponse",
      "description": "Response containing the list of rolled up data points."
    },
    "BasalEnergyBurned": {
      "id": "BasalEnergyBurned",
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "kcal": {
          "format": "double",
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval.",
          "type": "number"
        }
      }
    },
    "SedentaryPeriodRollupValue": {
      "properties": {
        "durationSum": {
          "description": "The total time user spent sedentary during the interval.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "SedentaryPeriodRollupValue",
      "description": "Represents the result of the rollup of the user's sedentary periods."
    },
    "Weight": {
      "description": "Body weight measurement.",
      "type": "object",
      "id": "Weight",
      "properties": {
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "weightGrams": {
          "type": "number",
          "format": "double",
          "description": "Required. Weight of a user in grams."
        },
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "SleepMetadata": {
      "type": "object",
      "description": "Additional information about how the sleep was processed.",
      "id": "SleepMetadata",
      "properties": {
        "stagesStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Sleep stages algorithm processing status.",
          "enumDescriptions": [
            "Output only. Sleep stages status is unspecified.",
            "Output only. Sleep stages cannot be computed due to low RR coverage.",
            "Output only. Sleep stages cannot be computed due to the large middle gap (2h).",
            "Output only. Sleep stages cannot be computed due to the large start gap (1h).",
            "Output only. Sleep stages cannot be computed due to the large end gap (1h).",
            "Output only. Sleep stages cannot be computed because the sleep log is a nap (has < 3h duration).",
            "Output only. Sleep stages cannot be computed because input data is not available (PPGV2, wake magnitude, etc).",
            "Output only. Sleep stages cannot be computed due to server timeout.",
            "Output only. Sleep stages successfully computed.",
            "Output only. Sleep stages cannot be computed due to server internal error."
          ],
          "enum": [
            "STAGES_STATE_UNSPECIFIED",
            "REJECTED_COVERAGE",
            "REJECTED_MAX_GAP",
            "REJECTED_START_GAP",
            "REJECTED_END_GAP",
            "REJECTED_NAP",
            "REJECTED_SERVER",
            "TIMEOUT",
            "SUCCEEDED",
            "PROCESSING_INTERNAL_ERROR"
          ]
        },
        "externalId": {
          "type": "string",
          "description": "Optional. Sleep identifier relevant in the context of the data source."
        },
        "processed": {
          "description": "Output only. Sleep and sleep stages algorithms finished processing. A `true` value indicates whether all data processing for the session is complete. A `false` value means sleep period is detected but sleep stages is still processing.",
          "readOnly": true,
          "type": "boolean"
        },
        "manuallyEdited": {
          "readOnly": true,
          "description": "Output only. Some sleeps autodetected by algorithms can be manually edited by users.",
          "type": "boolean"
        },
        "nap": {
          "description": "Output only. Naps are sleeps without stages and relatively short durations.",
          "type": "boolean",
          "readOnly": true
        },
        "mainSleep": {
          "readOnly": true,
          "description": "Output only. `main_sleep`: the longest sleep session with stages within one day. If no sleep session has stages, then the longest sleep is the `main_sleep`. If there are multiple days of sleep in the response, there is one `main_sleep` per day.",
          "type": "boolean"
        }
      }
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IrnProfile": {
      "description": "Irregular Rhythm Notifications (IRN) Profile details. The Irregular Rhythm Notifications (IRN) feature checks for signs of atrial fibrillation (AFib). The IrnProfile details include information about the user's onboarding status, enrollment status, and the last update time of analyzable data for this feature.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this IrnProfile resource. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "onboardingStatus": {
          "description": "Required. Whether or not the user has onboarded onto the IRN feature.",
          "type": "boolean"
        },
        "enrollmentStatus": {
          "type": "boolean",
          "description": "Required. Whether or not the user is currently enrolled in having their data processed for IRN alerts."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last piece of analyzable data synced by the user.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "IrnProfile"
    },
    "VolumeQuantity": {
      "type": "object",
      "properties": {
        "userProvidedUnit": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "description": "Optional. Value representing the user provided unit, used only for user-facing input and display purposes. In the API format, all volume quantities are converted to milliliters.",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        },
        "milliliters": {
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "VolumeQuantity",
      "description": "Represents the volume quantity."
    },
    "DailyRestingHeartRate": {
      "properties": {
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        }
      },
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "type": "object"
    },
    "AltitudeRollupValue": {
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents the result of the rollup of the user's altitude.",
      "type": "object",
      "id": "AltitudeRollupValue"
    },
    "DailyVO2Max": {
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "id": "DailyVO2Max",
      "type": "object",
      "properties": {
        "estimated": {
          "type": "boolean",
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation."
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date for which the Daily VO2 max was measured."
        },
        "vo2MaxCovariance": {
          "format": "double",
          "description": "Optional. The covariance of the VO2 max value.",
          "type": "number"
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number",
          "format": "double"
        },
        "cardioFitnessLevel": {
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ]
        }
      }
    },
    "MobilityMetrics": {
      "description": "Mobility workouts specific metrics",
      "type": "object",
      "properties": {
        "avgVerticalOscillationMillimeters": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running"
        },
        "avgVerticalRatio": {
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0].",
          "format": "double",
          "type": "number"
        },
        "avgGroundContactTimeDuration": {
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "format": "google-duration",
          "type": "string"
        },
        "avgCadenceStepsPerMinute": {
          "format": "double",
          "type": "number",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout."
        },
        "avgStrideLengthMillimeters": {
          "format": "int64",
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "type": "string"
        }
      },
      "id": "MobilityMetrics"
    },
    "CivilTimeInterval": {
      "type": "object",
      "id": "CivilTimeInterval",
      "properties": {
        "end": {
          "$ref": "CivilDateTime",
          "description": "Required. The exclusive end of the range."
        },
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        }
      },
      "description": "Counterpart of google.type.Interval, but using CivilDateTime."
    },
    "SessionTimeInterval": {
      "properties": {
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the session relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Session end time in civil time in the timezone the subject is in at the end of the session.",
          "$ref": "CivilDateTime"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the session relative to the Coordinated Universal Time (UTC).",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The start time of the observed session."
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Session start time in civil time in the timezone the subject is in at the start of the session.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The end time of the observed session."
        }
      },
      "id": "SessionTimeInterval",
      "type": "object",
      "description": "Represents a time interval of session data point, which bundles multiple observed metrics together."
    },
    "VolumeQuantityRollup": {
      "type": "object",
      "description": "Rollup for volume quantity.",
      "id": "VolumeQuantityRollup",
      "properties": {
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "type": "number",
          "format": "double"
        },
        "userProvidedUnitLast": {
          "description": "Optional. The user provided unit on the last element.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      }
    },
    "Profile": {
      "properties": {
        "userConfiguredWalkingStrideLengthMm": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "autoRunningStrideLengthMm": {
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "autoWalkingStrideLengthMm": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "type": "integer"
        },
        "membershipStartDate": {
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "$ref": "Date",
          "readOnly": true
        },
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported."
        },
        "userConfiguredRunningStrideLengthMm": {
          "type": "integer",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "format": "int32"
        }
      },
      "id": "Profile",
      "type": "object",
      "description": "Profile details."
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "type": "object",
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "format": "double",
          "type": "number",
          "description": "The lower bound of the user's average heart rate variability personal range."
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "type": "number",
          "format": "double",
          "description": "The upper bound of the user's average heart rate variability personal range."
        }
      }
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "EnergyQuantity": {
      "description": "Represents the energy quantity.",
      "id": "EnergyQuantity",
      "type": "object",
      "properties": {
        "kcal": {
          "type": "number",
          "format": "double",
          "description": "Required. The energy value in kilocalories."
        },
        "userProvidedUnit": {
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ],
          "description": "Optional. Value representing the user provided unit.",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "type": "string"
        }
      }
    },
    "Moods": {
      "properties": {
        "moods": {
          "description": "Required. The moods logged.",
          "items": {
            "enumDescriptions": [
              "Unspecified mood.",
              "Amazed.",
              "Amused.",
              "Angry.",
              "Annoyed.",
              "Anxious.",
              "Happy.",
              "Content.",
              "Sad.",
              "Worried.",
              "Frustrated.",
              "Excited.",
              "Calm.",
              "Stressed.",
              "Ashamed.",
              "Brave.",
              "Confident.",
              "Disappointed.",
              "Discouraged.",
              "Disgusted.",
              "Drained.",
              "Embarrassed.",
              "Grateful.",
              "Guilty.",
              "Hopeful.",
              "Hopeless.",
              "Indifferent.",
              "Irritated.",
              "Jealous.",
              "Joyful.",
              "Lonely.",
              "Overwhelmed.",
              "Passionate.",
              "Peaceful.",
              "Proud.",
              "Relieved.",
              "Satisfied.",
              "Scared.",
              "Surprised.",
              "Energized.",
              "Fatigued.",
              "Very calm.",
              "Very stressed.",
              "Neutral.",
              "Afraid.",
              "Hurting.",
              "Bored.",
              "Bitter.",
              "Envious.",
              "Confused.",
              "Curious.",
              "Awestruck.",
              "Inspired.",
              "Longing.",
              "Accomplished.",
              "Loving.",
              "Compassionate."
            ],
            "type": "string",
            "enum": [
              "MOOD_UNSPECIFIED",
              "AMAZED",
              "AMUSED",
              "ANGRY",
              "ANNOYED",
              "ANXIOUS",
              "HAPPY",
              "CONTENT",
              "SAD",
              "WORRIED",
              "FRUSTRATED",
              "EXCITED",
              "CALM",
              "STRESSED",
              "ASHAMED",
              "BRAVE",
              "CONFIDENT",
              "DISAPPOINTED",
              "DISCOURAGED",
              "DISGUSTED",
              "DRAINED",
              "EMBARRASSED",
              "GRATEFUL",
              "GUILTY",
              "HOPEFUL",
              "HOPELESS",
              "INDIFFERENT",
              "IRRITATED",
              "JEALOUS",
              "JOYFUL",
              "LONELY",
              "OVERWHELMED",
              "PASSIONATE",
              "PEACEFUL",
              "PROUD",
              "RELIEVED",
              "SATISFIED",
              "SCARED",
              "SURPRISED",
              "ENERGIZED",
              "FATIGUED",
              "VERY_CALM",
              "VERY_STRESSED",
              "NEUTRAL",
              "AFRAID",
              "HURTING",
              "BORED",
              "BITTER",
              "ENVIOUS",
              "CONFUSED",
              "CURIOUS",
              "AWESTRUCK",
              "INSPIRED",
              "LONGING",
              "ACCOMPLISHED",
              "LOVING",
              "COMPASSIONATE"
            ]
          },
          "type": "array"
        },
        "sampleTime": {
          "description": "Required. The time at which moods were measured.",
          "$ref": "ObservationSampleTime"
        },
        "valences": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified valence.",
              "Unpleasant.",
              "Baseline.",
              "Pleasant."
            ],
            "enum": [
              "VALENCE_UNSPECIFIED",
              "UNPLEASANT",
              "BASELINE",
              "PLEASANT"
            ]
          },
          "description": "Optional. The valences."
        }
      },
      "id": "Moods",
      "description": "Moods record.",
      "type": "object"
    },
    "ListPairedDevicesResponse": {
      "type": "object",
      "description": "Response message for ListPairedDevices.",
      "id": "ListPairedDevicesResponse",
      "properties": {
        "pairedDevices": {
          "description": "The paired devices of the user.",
          "type": "array",
          "items": {
            "$ref": "PairedDevice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "HydrationLogRollupValue": {
      "id": "HydrationLogRollupValue",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "description": "Represents the result of the rollup of the hydration log data type."
    },
    "ObservationTimeInterval": {
      "properties": {
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "$ref": "CivilDateTime",
          "readOnly": true
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Observed interval end time."
        },
        "startTime": {
          "description": "Required. Observed interval start time.",
          "type": "string",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        }
      },
      "description": "Represents a time interval of an observed data point.",
      "type": "object",
      "id": "ObservationTimeInterval"
    },
    "Exercise": {
      "id": "Exercise",
      "properties": {
        "exerciseMetadata": {
          "description": "Optional. Additional exercise metadata.",
          "$ref": "ExerciseMetadata"
        },
        "exerciseType": {
          "type": "string",
          "description": "Required. The type of activity performed during an exercise.",
          "enumDescriptions": [
            "Exercise type is unspecified.",
            "Aerobic workout type.",
            "Archery type.",
            "Assault bike type.",
            "Backpacking type.",
            "Badminton type.",
            "Ballet type.",
            "Ballroom dance type.",
            "Barre class type.",
            "Baseball type.",
            "Basketball type.",
            "Biking type.",
            "Billiards type.",
            "Body weight type.",
            "Bootcamp type.",
            "Bowling type.",
            "Boxing type.",
            "Breakdancing type.",
            "Calisthenics type.",
            "Canoeing type.",
            "Cardio sculpt type.",
            "Cardio workout type.",
            "Carpentry type.",
            "Cheerleading type.",
            "Circuit training type.",
            "Cleaning type.",
            "Climbing type.",
            "Core training type.",
            "Cricket type.",
            "Croquet type.",
            "Cross country ski type.",
            "Cross training type.",
            "Crossfit type.",
            "Curling type.",
            "Dancing type.",
            "Diving type.",
            "Electric bike type.",
            "Electric scooter type.",
            "Elliptical type.",
            "Equestrian sports type.",
            "Exercise class type.",
            "Fencing type.",
            "Field hockey type.",
            "Fishing type.",
            "Fitness gaming type.",
            "Foiling type.",
            "Football american type.",
            "Football australian type.",
            "Free weights type.",
            "Frisbee playing general type.",
            "Functional strength training type.",
            "Gardening type.",
            "Golf type.",
            "Gymnastics type.",
            "Handball type.",
            "Hand cycling type.",
            "Hiit type.",
            "Hiking type.",
            "Hip hop type.",
            "Hockey type.",
            "Hoeing type.",
            "Household chores type.",
            "Hunting type.",
            "Ice skating type.",
            "Incline run type.",
            "Incline walk type.",
            "Indoor climbing type.",
            "Interval workout type.",
            "Jazz dance type.",
            "Jiu jitsu type.",
            "Jumping rope type.",
            "Karate type.",
            "Kayaking type.",
            "Kickboxing type.",
            "Kitesurfing type.",
            "Lacrosse type.",
            "Martial arts type.",
            "Meditate type.",
            "Modern dance type.",
            "Motocross type.",
            "Motorcycle type.",
            "Mountain bike type.",
            "Mowing lawn type.",
            "Muay thai type.",
            "Multisport type.",
            "Musical performance type.",
            "Nordic walking type.",
            "Orienteering type.",
            "Other type.",
            "Outdoor bike type.",
            "Outdoor workout type.",
            "Paddleboarding type.",
            "Padel type.",
            "Painting type.",
            "Paragliding type.",
            "Parkour type.",
            "Pickelball type.",
            "Pilates type.",
            "Polo type.",
            "Powerlifting type.",
            "Power walking type.",
            "Racket sports type.",
            "Racquetball type.",
            "Resistance bands type.",
            "Rock climbing type.",
            "Rollerblading type.",
            "Roller skating type.",
            "Rowing type.",
            "Rowing machine type.",
            "Rucking type.",
            "Rugby type.",
            "Running type.",
            "Sailing type.",
            "Scootering type.",
            "Scuba diving type.",
            "Shooting type.",
            "Shoveling type.",
            "Skateboarding type.",
            "Skating type.",
            "Skiing type.",
            "Skydiving type.",
            "Snorkeling type.",
            "Snowboarding type.",
            "Snowmobiling type.",
            "Snowshoeing type.",
            "Snow sport type.",
            "Soccer type.",
            "Softball type.",
            "Speed skating type.",
            "Spinning type.",
            "Sport type.",
            "Squash type.",
            "Stairclimber type.",
            "Stationary bike type.",
            "Step training type.",
            "Strength training type.",
            "Stretching type.",
            "Stroller walk type.",
            "Surfing type.",
            "Swimming type.",
            "Swimming open water type.",
            "Swimming pool type.",
            "Synchronized swimming type.",
            "Tabata workout type.",
            "Table tennis type.",
            "Taekwondo type.",
            "Tai chi type.",
            "Tango type.",
            "Tennis type.",
            "Track and field type.",
            "Trail run type.",
            "Trampoline type.",
            "Treadmill type.",
            "Treadmill walk type.",
            "Trx type.",
            "Ultimate frisbee type.",
            "Unicycling type.",
            "Volleyball type.",
            "Volleyball beach type.",
            "Wakeboarding type.",
            "Walking type.",
            "Walk with weights type.",
            "Water aerobics type.",
            "Water jogging type.",
            "Water polo type.",
            "Water skiing type.",
            "Water sport type.",
            "Water volleyball type.",
            "Weeding type.",
            "Weightlifting type.",
            "Weight machines type.",
            "Weights type.",
            "Wheelchair type.",
            "Windsurfing type.",
            "Workout type.",
            "Wrestling type.",
[...]
