{
  "title": "Cloud Healthcare API",
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-healthcare": {
          "description": "Read, write and manage healthcare data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://healthcare.mtls.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/healthcare",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manage, store, and access healthcare data in Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260806",
  "ownerName": "Google",
  "version": "v1",
  "name": "healthcare",
  "id": "healthcare:v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Healthcare",
  "schemas": {
    "UserDataMapping": {
      "description": "Maps a resource to the associated user and Attributes.",
      "id": "UserDataMapping",
      "type": "object",
      "properties": {
        "dataId": {
          "type": "string",
          "description": "Required. A unique identifier for the mapped resource."
        },
        "archived": {
          "type": "boolean",
          "description": "Output only. Indicates whether this mapping is archived.",
          "readOnly": true
        },
        "name": {
          "description": "Resource name of the User data mapping, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/userDataMappings/{user_data_mapping_id}`.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "resourceAttributes": {
          "type": "array",
          "items": {
            "$ref": "Attribute"
          },
          "description": "Attributes of the resource. Only explicitly set attributes are displayed here. Attribute definitions with defaults set implicitly apply to these User data mappings. Attributes listed here must be single valued, that is, exactly one value is specified for the field \"values\" in each Attribute."
        },
        "archiveTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Indicates the time when this mapping was archived.",
          "format": "google-datetime"
        }
      }
    },
    "SchemaJSON": {
      "id": "SchemaJSON",
      "type": "object",
      "properties": {},
      "description": "Using this field will set the schema such that all DICOM tags will be included in the BigQuery table as a single JSON type column. The BigQuery table schema will include the following columns: * `StudyInstanceUID` (Type: STRING): DICOM Tag 0020000D. * `SeriesInstanceUID` (Type: STRING): DICOM Tag 0020000E. * `SOPInstanceUID` (Type: STRING): DICOM Tag 00080018. * `SourceDicomStore` (Type: STRING): The name of the source DICOM store. This field is only included if the `include_source_store` option is set to true. * `Metadata` (Type: JSON): All DICOM tags for the instance, stored in a single JSON object. * `StructuredStorageSize` (Type: INTEGER): Size of the structured storage in bytes. * `DroppedTags` (Type: STRING, Repeated: Yes): List of tags that were dropped during the conversion. * `StorageClass` (Type: STRING): The storage class of the instance. * `LastUpdated` (Type: TIMESTAMP): Timestamp of the last update to the instance. * `BlobStorageSize` (Type: INTEGER): Size of the blob storage in bytes. * `Type` (Type: STRING): Indicates the type of operation (e.g., INSERT, DELETE)."
    },
    "PubsubDestination": {
      "description": "The Pub/Sub output destination. The Cloud Healthcare Service Agent requires the `roles/pubsub.publisher` Cloud IAM role on the Pub/Sub topic.",
      "id": "PubsubDestination",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that Pub/Sub messages are published on. Supplied by the client. The `PubsubMessage` contains the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It is guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-PROJECT_NUMBER@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail.",
          "type": "string"
        }
      }
    },
    "ListConsentsResponse": {
      "id": "ListConsentsResponse",
      "type": "object",
      "properties": {
        "consents": {
          "type": "array",
          "items": {
            "$ref": "Consent"
          },
          "description": "The returned Consents. The maximum number of Consents returned is determined by the value of page_size in the ListConsentsRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "TagFilterList": {
      "id": "TagFilterList",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: https://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example \"PatientID\", \"00100010\"."
        }
      },
      "description": "List of tags to be filtered."
    },
    "DeidentifyDicomStoreRequest": {
      "id": "DeidentifyDicomStoreRequest",
      "type": "object",
      "properties": {
        "gcsConfigUri": {
          "type": "string",
          "description": "Cloud Storage location to read the JSON cloud.healthcare.deidentify.DeidentifyConfig from, overriding the default config. Must be of the form `gs://{bucket_id}/path/to/object`. The Cloud Storage location must grant the Cloud IAM role `roles/storage.objectViewer` to the project's Cloud Healthcare Service Agent service account. Only one of `config` and `gcs_config_uri` can be specified."
        },
        "destinationStore": {
          "type": "string",
          "description": "Required. The name of the DICOM store to write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`. * The destination dataset and DICOM store must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The caller must have the healthcare.dicomStores.dicomWebWrite permission to write to the destination DICOM store."
        },
        "config": {
          "description": "Deidentify configuration. Only one of `config` and `gcs_config_uri` can be specified.",
          "$ref": "DeidentifyConfig"
        },
        "filterConfig": {
          "description": "Filter configuration.",
          "$ref": "DicomFilterConfig"
        }
      },
      "description": "Creates a new DICOM store with sensitive information de-identified."
    },
    "EvaluateUserConsentsRequest": {
      "description": "Evaluate a user's Consents for all matching User data mappings. Note: User data mappings are indexed asynchronously, causing slight delays between the time mappings are created or updated and when they are included in EvaluateUserConsents results.",
      "id": "EvaluateUserConsentsRequest",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. User ID to evaluate consents for."
        },
        "resourceAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The values of resource attributes associated with the resources being requested. If no values are specified, then all resources are queried."
        },
        "responseView": {
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `data_id` and `consented` fields are populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` Consents are evaluated even if a matching policy is found during evaluation."
          ],
          "description": "Optional. The view for EvaluateUserConsentsResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Token to retrieve the next page of results, or empty to get the first page."
        },
        "pageSize": {
          "description": "Optional. Limit on the number of User data mappings to return in a single response. If not specified, 100 is used. May not be larger than 1000.",
          "format": "int32",
          "type": "integer"
        },
        "consentList": {
          "description": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the User data mappings being evalauted, must exist in the current `consent_store`, and must have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If unspecified, all `ACTIVE` unexpired Consents in the current `consent_store` will be evaluated.",
          "$ref": "ConsentList"
        },
        "requestAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The values of request attributes associated with this access request."
        }
      }
    },
    "GoogleCloudHealthcareV1DicomGcsSource": {
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "id": "GoogleCloudHealthcareV1DicomGcsSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * '*' to match 0 or more non-separator characters * '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.dcm` imports all files with .dcm extensions in `my-directory/` and its sub-directories. * '?' to match 1 character. All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata."
        }
      }
    },
    "FhirFilter": {
      "description": "Filter configuration.",
      "id": "FhirFilter",
      "type": "object",
      "properties": {
        "resources": {
          "description": "List of resources to include in the output. If this list is empty or not specified, all resources are included in the output.",
          "$ref": "Resources"
        }
      }
    },
    "DeidentifyFhirStoreRequest": {
      "description": "Creates a new FHIR store with sensitive information de-identified.",
      "id": "DeidentifyFhirStoreRequest",
      "type": "object",
      "properties": {
        "destinationStore": {
          "description": "Required. The name of the FHIR store to write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`. * The destination dataset and FHIR store must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The caller must have the healthcare.fhirResources.update permission to write to the destination FHIR store.",
          "type": "string"
        },
        "skipModifiedResources": {
          "description": "If true, skips resources that are created or modified after the de-identify operation is created.",
          "type": "boolean"
        },
        "gcsConfigUri": {
          "type": "string",
          "description": "Cloud Storage location to read the JSON cloud.healthcare.deidentify.DeidentifyConfig from, overriding the default config. Must be of the form `gs://{bucket_id}/path/to/object`. The Cloud Storage location must grant the Cloud IAM role `roles/storage.objectViewer` to the project's Cloud Healthcare Service Agent service account. Only one of `config` and `gcs_config_uri` can be specified."
        },
        "config": {
          "description": "Deidentify configuration. Only one of `config` and `gcs_config_uri` can be specified.",
          "$ref": "DeidentifyConfig"
        },
        "resourceFilter": {
          "description": "A filter specifying the resources to include in the output. If not specified, all resources are included in the output.",
          "$ref": "FhirFilter"
        }
      }
    },
    "QueryAccessibleDataResponse": {
      "id": "QueryAccessibleDataResponse",
      "type": "object",
      "properties": {
        "gcsUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of files, each of which contains a list of data_id(s) that are consented for a specified use in the request."
        }
      },
      "description": "Response for successful QueryAccessibleData operations. This structure is included in the response upon operation completion."
    },
    "Hl7V2NotificationConfig": {
      "description": "Specifies where and whether to send notifications upon changes to a data store.",
      "id": "Hl7V2NotificationConfig",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Restricts notifications sent for messages matching a filter. If this is empty, all messages are matched. The following syntax is available: * A string field value can be written as text inside quotation marks, for example `\"query text\"`. The only valid relational operation for text fields is equality (`=`), where text is searched within the field, rather than having the field be equal to the text. For example, `\"Comment = great\"` returns messages with `great` in the comment field. * A number field value can be written as an integer, a decimal, or an exponential. The valid relational operators for number fields are the equality operator (`=`), along with the less than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * A date field value must be written in `yyyy-mm-dd` form. Fields with date and time use the RFC3339 time format. Leading zeros are required for one-digit months and days. The valid relational operators for date fields are the equality operator (`=`) , along with the less than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * Multiple field query expressions can be combined in one query by adding `AND` or `OR` operators between the expressions. If a boolean operator appears within a quoted string, it is not treated as special, it's just another part of the character string to be matched. You can prepend the `NOT` operator to an expression to negate it. The following fields and functions are available for filtering: * `message_type`, from the MSH-9.1 field. For example, `NOT message_type = \"ADT\"`. * `send_date` or `sendDate`, the YYYY-MM-DD date the message was sent in the dataset's time_zone, from the MSH-7 segment. For example, `send_date < \"2017-01-02\"`. * `send_time`, the timestamp when the message was sent, using the RFC3339 time format for comparisons, from the MSH-7 segment. For example, `send_time < \"2017-01-02T00:00:00-05:00\"`. * `create_time`, the timestamp when the message was created in the HL7v2 store. Use the RFC3339 time format for comparisons. For example, `create_time < \"2017-01-02T00:00:00-05:00\"`. * `send_facility`, the care center that the message came from, from the MSH-4 segment. For example, `send_facility = \"ABC\"`. * `PatientId(value, type)`, which matches if the message lists a patient having an ID of the given value and type in the PID-2, PID-3, or PID-4 segments. For example, `PatientId(\"123456\", \"MRN\")`. * `labels.x`, a string value of the label with key `x` as set using the Message.labels map. For example, `labels.\"priority\"=\"high\"`. The operator `:*` can be used to assert the existence of a label. For example, `labels.\"priority\":*`.",
          "type": "string"
        },
        "pubsubTopic": {
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It's guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-PROJECT_NUMBER@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification cannot be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "type": "string"
        }
      }
    },
    "InfoTypeTransformation": {
      "id": "InfoTypeTransformation",
      "type": "object",
      "properties": {
        "replaceWithInfoTypeConfig": {
          "description": "Config for replace with InfoType.",
          "$ref": "ReplaceWithInfoTypeConfig"
        },
        "dateShiftConfig": {
          "description": "Config for date shift.",
          "$ref": "DateShiftConfig"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. InfoTypes to apply this transformation to. If this is not specified, the transformation applies to any info_type."
        },
        "cryptoHashConfig": {
          "description": "Config for crypto hash.",
          "$ref": "CryptoHashConfig"
        },
        "redactConfig": {
          "description": "Config for text redaction.",
          "$ref": "RedactConfig"
        },
        "characterMaskConfig": {
          "description": "Config for character mask.",
          "$ref": "CharacterMaskConfig"
        }
      },
      "description": "A transformation to apply to text that is identified as a specific info_type."
    },
    "RedactConfig": {
      "description": "Define how to redact sensitive values. Default behaviour is erase. For example, \"My name is Jane.\" becomes \"My name is .\"",
      "id": "RedactConfig",
      "type": "object",
      "properties": {}
    },
    "ConsentConfig": {
      "id": "ConsentConfig",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. Specifies which consent enforcement version is being used for this FHIR store. This field can only be set once by either CreateFhirStore or UpdateFhirStore. After that, you must call ApplyConsents to change the version.",
          "type": "string",
          "enumDescriptions": [
            "Users must specify an enforcement version or an error is returned.",
            "Enforcement version 1. See the [FHIR Consent resources in the Cloud Healthcare API](https://cloud.google.com/healthcare-api/docs/fhir-consent) guide for more details."
          ],
          "enum": [
            "CONSENT_ENFORCEMENT_VERSION_UNSPECIFIED",
            "V1"
          ]
        },
        "consentHeaderHandling": {
          "description": "Optional. Different options to configure the behaviour of the server when handling the `X-Consent-Scope` header.",
          "$ref": "ConsentHeaderHandling"
        },
        "accessEnforced": {
          "type": "boolean",
          "description": "Optional. The default value is false. If set to true, when accessing FHIR resources, the consent headers will be verified against consents given by patients. See the ConsentEnforcementVersion for the supported consent headers."
        },
        "accessDeterminationLogConfig": {
          "description": "Optional. Specifies how the server logs the consent-aware requests. If not specified, the `AccessDeterminationLogConfig.LogLevel.MINIMUM` option is used.",
          "$ref": "AccessDeterminationLogConfig"
        },
        "enforcedAdminConsents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The versioned names of the enforced admin Consent resource(s), in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`. This field can only be updated using ApplyAdminConsents.",
          "readOnly": true
        }
      },
      "description": "Configures whether to enforce consent for the FHIR store and which consent enforcement version is being used."
    },
    "SetBlobStorageSettingsRequest": {
      "description": "Request message for `SetBlobStorageSettings` method.",
      "id": "SetBlobStorageSettingsRequest",
      "type": "object",
      "properties": {
        "blobStorageSettings": {
          "description": "The blob storage settings to update for the specified resources. Only fields listed in `update_mask` are applied.",
          "$ref": "BlobStorageSettings"
        },
        "filterConfig": {
          "description": "Optional. A filter configuration. If `filter_config` is specified, set the value of `resource` to the resource name of a DICOM store in the format `projects/{projectID}/locations/{locationID}/datasets/{datasetID}/dicomStores/{dicomStoreID}`.",
          "$ref": "DicomFilterConfig"
        }
      }
    },
    "ActivateConsentRequest": {
      "description": "Activates the latest revision of the specified Consent by committing a new revision with `state` updated to `ACTIVE`. If the latest revision of the given Consent is in the `ACTIVE` state, no new revision is committed. A FAILED_PRECONDITION error occurs if the latest revision of the given consent is in the `REJECTED` or `REVOKED` state.",
      "id": "ActivateConsentRequest",
      "type": "object",
      "properties": {
        "ttl": {
          "description": "The time to live for this Consent from when it is marked as active.",
          "format": "google-duration",
          "type": "string"
        },
        "consentArtifact": {
          "type": "string",
          "description": "Required. The resource name of the Consent artifact that contains documentation of the user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it."
        },
        "expireTime": {
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Result": {
      "id": "Result",
      "type": "object",
      "properties": {
        "dataId": {
          "type": "string",
          "description": "The unique identifier of the evaluated resource."
        },
        "consented": {
          "description": "Whether the resource is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          },
          "description": "The resource names of all evaluated Consents mapped to their evaluation."
        }
      },
      "description": "The consent evaluation result for a single `data_id`."
    },
    "Attribute": {
      "description": "An attribute value for a Consent or User data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values.",
      "id": "Attribute",
      "type": "object",
      "properties": {
        "attributeDefinitionId": {
          "description": "Indicates the name of an attribute defined in the consent store.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values."
        }
      }
    },
    "ListUserDataMappingsResponse": {
      "id": "ListUserDataMappingsResponse",
      "type": "object",
      "properties": {
        "userDataMappings": {
          "type": "array",
          "items": {
            "$ref": "UserDataMapping"
          },
          "description": "The returned User data mappings. The maximum number of User data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "TextSpan": {
      "id": "TextSpan",
      "type": "object",
      "properties": {
        "beginOffset": {
          "description": "The unicode codepoint index of the beginning of this span.",
          "format": "int32",
          "type": "integer"
        },
        "content": {
          "description": "The original text contained in this span.",
          "type": "string"
        }
      },
      "description": "A span of text in the provided document."
    },
    "ListAttributeDefinitionsResponse": {
      "id": "ListAttributeDefinitionsResponse",
      "type": "object",
      "properties": {
        "attributeDefinitions": {
          "description": "The returned Attribute definitions. The maximum number of attributes returned is determined by the value of page_size in the ListAttributeDefinitionsRequest.",
          "type": "array",
          "items": {
            "$ref": "AttributeDefinition"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "RollbackFhirResourcesRequest": {
      "id": "RollbackFhirResourcesRequest",
      "type": "object",
      "properties": {
        "inputGcsObject": {
          "type": "string",
          "description": "Optional. Cloud Storage object containing list of {resourceType}/{resourceId} lines, identifying resources to be reverted"
        },
        "changeType": {
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ALL",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "When unspecified, revert all transactions",
            "All transactions",
            "Revert only CREATE transactions",
            "Revert only Update transactions",
            "Revert only Delete transactions"
          ],
          "description": "Optional. CREATE/UPDATE/DELETE/ALL for reverting all txns of a certain type."
        },
        "filteringFields": {
          "description": "Optional. Parameters for filtering resources",
          "$ref": "RollbackFhirResourceFilteringFields"
        },
        "resultGcsBucket": {
          "type": "string",
          "description": "Required. Bucket to deposit result"
        },
        "excludeRollbacks": {
          "type": "boolean",
          "description": "Optional. Specifies whether to exclude earlier rollbacks."
        },
        "rollbackTime": {
          "type": "string",
          "description": "Required. Time point to rollback to.",
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. If specified, revert only resources of these types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "force": {
          "type": "boolean",
          "description": "Optional. When enabled, changes will be reverted without explicit confirmation"
        }
      }
    },
    "ExportResourcesRequest": {
      "id": "ExportResourcesRequest",
      "type": "object",
      "properties": {
        "_since": {
          "type": "string",
          "description": "If provided, only resources updated after this time are exported. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone."
        },
        "gcsDestination": {
          "description": "The Cloud Storage output destination. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource.",
          "$ref": "GoogleCloudHealthcareV1FhirGcsDestination"
        },
        "_type": {
          "description": "String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) are exported.",
          "type": "string"
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type. Unlike when setting `BigQueryDestination` for `StreamConfig`, `ExportResources` does not create BigQuery views.",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        }
      },
      "description": "Request to export resources."
    },
    "StreamConfig": {
      "description": "Contains configuration for streaming FHIR export.",
      "id": "StreamConfig",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "description": "Optional. Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https://www.hl7.org/fhir/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deidentifiedStoreDestination": {
          "description": "The destination FHIR store for de-identified resources. After this field is added, all subsequent creates/updates/patches to the source store will be de-identified using the provided configuration and applied to the destination store. Resources deleted from the source store will be deleted from the destination store. Importing resources to the source store will not trigger the streaming. If the source store already contains resources when this option is enabled, those resources will not be copied to the destination store unless they are subsequently updated. This may result in invalid references in the destination store. Before adding this config, you must grant the healthcare.fhirResources.update permission on the destination store to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/healthcare/docs/how-tos/permissions-healthcare-api-gcp-products#the_cloud_healthcare_service_agent). The destination store must set enable_update_create to true. The destination store must have disable_referential_integrity set to true. If a resource cannot be de-identified, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). Not supported for R5 stores.",
          "$ref": "DeidentifiedStoreDestination"
        },
        "bigqueryDestination": {
          "description": "Optional. The destination BigQuery structure that contains both the dataset location and corresponding schema config. The output is organized in one table per resource type. The server reuses the existing tables (if any) that are named after the resource types. For example, \"Patient\", \"Observation\". When there is no existing table for a given resource type, the server attempts to create one. When a table schema doesn't align with the schema config, either because of existing incompatible schema or out of band incompatible modification, the server does not stream in new data. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any resource mutation that generates more than 1 MB of BigQuery data is not streamed. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. Results are written to BigQuery tables according to the parameters in BigQueryDestination.WriteDisposition. Different versions of the same resource are distinguishable by the meta.versionId and meta.lastUpdated columns. The operation (CREATE/UPDATE/DELETE) that results in the new version is recorded in the meta.tag. The tables contain all historical resource versions since streaming was enabled. For query convenience, the server also creates one view per table of the same name containing only the current resource version. The streamed data in the BigQuery dataset is not guaranteed to be completely unique. The combination of the id and meta.versionId columns should ideally identify a single unique row. But in rare cases, duplicates may exist. At query time, users may use the SQL select statement to keep only one of the duplicate rows given an id and meta.versionId pair. Alternatively, the server created view mentioned above also filters out duplicates. If a resource mutation cannot be streamed to BigQuery, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        }
      }
    },
    "CharacterMaskConfig": {
      "description": "Mask a string by replacing its characters with a fixed character.",
      "id": "CharacterMaskConfig",
      "type": "object",
      "properties": {
        "maskingCharacter": {
          "type": "string",
          "description": "Optional. Character to mask the sensitive values. If not supplied, defaults to \"*\"."
        }
      }
    },
    "IngestMessageResponse": {
      "id": "IngestMessageResponse",
      "type": "object",
      "properties": {
        "message": {
          "description": "Created message resource.",
          "$ref": "Message"
        },
        "hl7Ack": {
          "description": "HL7v2 ACK message.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Acknowledges that a message has been ingested into the specified HL7v2 store."
    },
    "AccessDeterminationLogConfig": {
      "id": "AccessDeterminationLogConfig",
      "type": "object",
      "properties": {
        "logLevel": {
          "type": "string",
          "enumDescriptions": [
            "No log level specified. This value is unused.",
            "No additional consent-related logging is added to audit logs.",
            "The following information is included: * One of the following [`consentMode`](https://cloud.google.com/healthcare-api/docs/fhir-consent#audit_logs) fields: (`off`|`emptyScope`|`enforced`|`btg`|`bypass`). * The accessor's request headers * The `log_level` of the AccessDeterminationLogConfig * The final consent evaluation (`PERMIT`, `DENY`, or `NO_CONSENT`) * A human-readable summary of the evaluation",
            "Includes `MINIMUM` and, for each resource owner, returns: * The resource owner's name * Most specific part of the `X-Consent-Scope` resulting in consensual determination * Timestamp of the applied enforcement leading to the decision * Enforcement version at the time the applicable consents were applied * The Consent resource name * The timestamp of the Consent resource used for enforcement * Policy type (`PATIENT` or `ADMIN`) Due to the limited space for logging, this mode is the same as `MINIMUM` for methods that return multiple resources (such as FHIR Search)."
          ],
          "description": "Optional. Controls the amount of detail to include as part of the audit logs.",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "DISABLED",
            "MINIMUM",
            "VERBOSE"
          ]
        }
      },
      "description": "Configures consent audit log config for FHIR create, read, update, and delete (CRUD) operations. Cloud audit log for healthcare API must be [enabled](https://cloud.google.com/logging/docs/audit/configure-data-access#config-console-enable). The consent-related logs are included as part of `protoPayload.metadata`."
    },
    "ExplainDataAccessConsentInfo": {
      "id": "ExplainDataAccessConsentInfo",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "CONSENT_POLICY_TYPE_UNSPECIFIED",
            "CONSENT_POLICY_TYPE_PATIENT",
            "CONSENT_POLICY_TYPE_ADMIN"
          ],
          "description": "The policy type of consent resource (e.g. PATIENT, ADMIN).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy type.",
            "Consent represent a patient consent.",
            "Consent represent an admin consent."
          ]
        },
        "patientConsentOwner": {
          "description": "The patient owning the consent (only applicable for patient consents), in the format: `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Patient/{patient_id}`",
          "type": "string"
        },
        "variants": {
          "description": "The consent's variant combinations. A single consent may have multiple variants.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Consent variant unspecified.",
              "Consent is a standard patient or admin consent.",
              "Consent is a cascading consent."
            ],
            "enum": [
              "CONSENT_VARIANT_UNSPECIFIED",
              "CONSENT_VARIANT_STANDARD",
              "CONSENT_VARIANT_CASCADE"
            ]
          }
        },
        "consentResource": {
          "type": "string",
          "description": "The resource name of this consent resource, in the format: `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`."
        },
        "enforcementTime": {
          "description": "Last enforcement timestamp of this consent resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "matchingAccessorScopes": {
          "type": "array",
          "items": {
            "$ref": "ConsentAccessorScope"
          },
          "description": "A list of all the matching accessor scopes of this consent policy that enforced ExplainDataAccessConsentScope.accessor_scope."
        },
        "cascadeOrigins": {
          "description": "The compartment base resources that matched a cascading policy. Each resource has the following format: `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/{resource_type}/{resource_id}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The enforcing consent's metadata."
    },
    "Feature": {
      "id": "Feature",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of this feature annotation. Its range depends on the type of the feature.",
          "type": "string"
        },
        "confidence": {
          "description": "The model's confidence in this feature annotation. A number between 0 and 1.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A feature of an entity mention."
    },
    "ConsentArtifact": {
      "description": "Documentation of a user's consent.",
      "id": "ConsentArtifact",
      "type": "object",
      "properties": {
        "consentContentVersion": {
          "description": "Optional. An string indicating the version of the consent information shown to the user.",
          "type": "string"
        },
        "userSignature": {
          "description": "Optional. User's signature.",
          "$ref": "Signature"
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "consentContentScreenshots": {
          "description": "Optional. Screenshots, PDFs, or other binary information documenting the user's consent.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the Consent artifact, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. Cannot be changed after creation."
        },
        "witnessSignature": {
          "description": "Optional. A signature from a witness.",
          "$ref": "Signature"
        },
        "metadata": {
          "description": "Optional. Metadata associated with the Consent artifact. For example, the consent locale or user agent version.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "guardianSignature": {
          "description": "Optional. A signature from a guardian.",
          "$ref": "Signature"
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Whether the dataset satisfies zone separation.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Whether the dataset satisfies zone isolation.",
          "type": "boolean"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The default timezone used by this dataset. Must be a either a valid IANA time zone name such as \"America/New_York\" or empty, which defaults to UTC. This is used for parsing times in resources, such as HL7 messages, where no explicit timezone is specified."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the dataset, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}`."
        },
        "encryptionSpec": {
          "description": "Optional. Customer-managed encryption key spec for a Dataset. If set, this Dataset and all of its sub-resources will be secured by this key. If empty, the Dataset is secured by the default Google encryption key.",
          "$ref": "EncryptionSpec"
        }
      },
      "description": "A message representing a health dataset. A health dataset represents a collection of healthcare data pertaining to one or more patients. This may include multiple modalities of healthcare data, such as electronic medical records or medical imaging data."
    },
    "ListConsentRevisionsResponse": {
      "id": "ListConsentRevisionsResponse",
      "type": "object",
      "properties": {
        "consents": {
          "description": "The returned Consent revisions. The maximum number of revisions returned is determined by the value of `page_size` in the ListConsentRevisionsRequest.",
          "type": "array",
          "items": {
            "$ref": "Consent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ExportDicomDataResponse": {
      "id": "ExportDicomDataResponse",
      "type": "object",
      "properties": {},
      "description": "Returns additional information in regards to a completed DICOM store export."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportMessagesRequest": {
      "description": "Request to schedule an export.",
      "id": "ExportMessagesRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Restricts messages exported to those matching a filter, only applicable to PubsubDestination and GcsDestination. The following syntax is available: * A string field value can be written as text inside quotation marks, for example `\"query text\"`. The only valid relational operation for text fields is equality (`=`), where text is searched within the field, rather than having the field be equal to the text. For example, `\"Comment = great\"` returns messages with `great` in the comment field. * A number field value can be written as an integer, a decimal, or an exponential. The valid relational operators for number fields are the equality operator (`=`), along with the less than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * A date field value must be written in the `yyyy-mm-dd` format. Fields with date and time use the RFC3339 time format. Leading zeros are required for one-digit months and days. The valid relational operators for date fields are the equality operator (`=`) , along with the less than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * Multiple field query expressions can be combined in one query by adding `AND` or `OR` operators between the expressions. If a boolean operator appears within a quoted string, it is not treated as special, and is just another part of the character string to be matched. You can prepend the `NOT` operator to an expression to negate it. The following fields and functions are available for filtering: * `message_type`, from the MSH-9.1 field. For example, `NOT message_type = \"ADT\"`. * `send_date` or `sendDate`, the `yyyy-mm-dd` date the message was sent in the dataset's time_zone, from the MSH-7 segment. For example, `send_date < \"2017-01-02\"`. * `send_time`, the timestamp when the message was sent, using the RFC3339 time format for comparisons, from the MSH-7 segment. For example, `send_time < \"2017-01-02T00:00:00-05:00\"`. * `create_time`, the timestamp when the message was created in the HL7v2 store. Use the RFC3339 time format for comparisons. For example, `create_time < \"2017-01-02T00:00:00-05:00\"`. * `send_facility`, the care center that the message came from, from the MSH-4 segment. For example, `send_facility = \"ABC\"`. Note: The filter will be applied to every message in the HL7v2 store whose `send_time` lies in the range defined by the `start_time` and the `end_time`. Even if the filter only matches a small set of messages, the export operation can still take a long time to finish when a lot of messages are between the specified `start_time` and `end_time` range.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the range in `send_time` (MSH.7, https://www.hl7.org/documentcenter/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D/wg/conf/HL7MSH.htm) to process. If not specified, the time when the export is scheduled is used. This value has to come after the `start_time` defined below. Only messages whose `send_time` lies in the range `start_time` (inclusive) to `end_time` (exclusive) are exported.",
          "format": "google-datetime"
        },
        "gcsDestination": {
          "description": "Export to a Cloud Storage destination.",
          "$ref": "GcsDestination"
        },
        "pubsubDestination": {
          "description": "Export messages to a Pub/Sub topic.",
          "$ref": "PubsubDestination"
        },
        "startTime": {
          "description": "The start of the range in `send_time` (MSH.7, https://www.hl7.org/documentcenter/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D/wg/conf/HL7MSH.htm) to process. If not specified, the UNIX epoch (1970-01-01T00:00:00Z) is used. This value has to come before the `end_time` defined below. Only messages whose `send_time` lies in the range `start_time` (inclusive) to `end_time` (exclusive) are exported.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "VersionSource": {
      "description": "Describes a selector for extracting and matching an MSH field to a value.",
      "id": "VersionSource",
      "type": "object",
      "properties": {
        "mshField": {
          "type": "string",
          "description": "The field to extract from the MSH segment. For example, \"3.1\" or \"18[1].1\"."
        },
        "value": {
          "type": "string",
          "description": "The value to match with the field. For example, \"My Application Name\" or \"2.3\"."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "BlobStorageSettings": {
      "id": "BlobStorageSettings",
      "type": "object",
      "properties": {
        "blobStorageClass": {
          "enum": [
            "BLOB_STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE"
          ],
          "description": "The Storage class in which the Blob data is stored.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified in CreateDataset, the StorageClass defaults to STANDARD. If unspecified in UpdateDataset and the StorageClass is set in the field mask, an InvalidRequest error is thrown.",
            "This stores the Object in Blob Standard Storage: https://cloud.google.com/storage/docs/storage-classes#standard",
            "This stores the Object in Blob Nearline Storage: https://cloud.google.com/storage/docs/storage-classes#nearline",
            "This stores the Object in Blob Coldline Storage: https://cloud.google.com/storage/docs/storage-classes#coldline",
            "This stores the Object in Blob Archive Storage: https://cloud.google.com/storage/docs/storage-classes#archive"
          ]
        }
      },
      "description": "Settings for data stored in Blob storage."
    },
    "TimePartitioning": {
      "id": "TimePartitioning",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "HOUR",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown time.",
            "Data partitioned by hour.",
            "Data partitioned by day.",
            "Data partitioned by month.",
            "Data partitioned by year."
          ],
          "description": "Type of partitioning."
        },
        "expirationMs": {
          "type": "string",
          "description": "Number of milliseconds for which to keep the storage for a partition.",
          "format": "int64"
        }
      },
      "description": "Configuration for FHIR BigQuery time-partitioned tables."
    },
    "ConsentList": {
      "id": "ConsentList",
      "type": "object",
      "properties": {
        "consents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource names of the Consents to evaluate against, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`."
        }
      },
      "description": "List of resource names of Consent resources."
    },
    "DicomFilterConfig": {
      "description": "Specifies the filter configuration for DICOM resources.",
      "id": "DicomFilterConfig",
      "type": "object",
      "properties": {
        "resourcePathsGcsUri": {
          "type": "string",
          "description": "The Cloud Storage location of the filter configuration file. The `gcs_uri` must be in the format `gs://bucket/path/to/object`. The filter configuration file must contain a list of resource paths separated by newline characters (\\n or \\r\\n). Each resource path must be in the format \"/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]\" The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location."
        }
      }
    },
    "OperationMetadata": {
      "description": "OperationMetadata provides information about the operation execution. Returned in the long-running operation's metadata field.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "counter": {
          "$ref": "ProgressCounter"
        },
        "createTime": {
          "description": "The time at which the operation was created by the API.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time at which execution was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "logsUrl": {
          "description": "A link to audit and error logs in the log viewer. Error logs are generated only by some operations, listed at [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging).",
          "type": "string"
        },
        "apiMethodName": {
          "type": "string",
          "description": "The name of the API method that initiated the operation."
        }
      }
    },
    "SetBlobStorageSettingsResponse": {
      "description": "Returns additional info in regards to a completed set blob storage settings API.",
      "id": "SetBlobStorageSettingsResponse",
      "type": "object",
      "properties": {}
    },
    "ArchiveUserDataMappingRequest": {
      "id": "ArchiveUserDataMappingRequest",
      "type": "object",
      "properties": {},
      "description": "Archives the specified User data mapping."
    },
    "AttributeDefinition": {
      "description": "A client-defined consent attribute.",
      "id": "AttributeDefinition",
      "type": "object",
      "properties": {
        "category": {
          "description": "Required. The category of the attribute. The value of this field cannot be changed after creation.",
          "type": "string",
          "enumDescriptions": [
            "No category specified. This option is invalid.",
            "Specify this category when this attribute describes the properties of resources. For example, data anonymity or data type.",
            "Specify this category when this attribute describes the properties of requests. For example, requester's role or requester's organization."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE",
            "REQUEST"
          ]
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Possible values for the attribute. The number of allowed values must not exceed 500. An empty list is invalid. The list can only be expanded after creation."
        },
        "dataMappingDefaultValue": {
          "description": "Optional. Default value of the attribute in User data mappings. If no default value is specified, it defaults to an empty value. This field is only applicable to attributes of the category `RESOURCE`.",
          "type": "string"
        },
        "consentDefaultValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Default values of the attribute in Consents. If no default values are specified, it defaults to an empty value."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the Attribute definition, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/attributeDefinitions/{attribute_definition_id}`. Cannot be changed after creation."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the attribute."
        }
      }
    },
    "Signature": {
      "description": "User signature.",
      "id": "Signature",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "metadata": {
          "description": "Optional. Metadata associated with the user's signature. For example, the user's name or the user's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "image": {
          "description": "Optional. An image of the user's signature.",
          "$ref": "Image"
        },
        "signatureTime": {
          "type": "string",
          "description": "Optional. Timestamp of the signature.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudHealthcareV1DicomGcsDestination": {
      "description": "The Cloud Storage location where the server writes the output and the export configuration.",
      "id": "GoogleCloudHealthcareV1DicomGcsDestination",
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "MIME types supported by DICOM spec. Each file is written in the following format: `.../{study_id}/{series_id}/{instance_id}[/{frame_number}].{extension}` The frame_number component exists only for multi-frame instances. Supported MIME types are consistent with supported formats in DICOMweb: https://cloud.google.com/healthcare/docs/dicom#retrieve_transaction. Specifically, the following are supported: - application/dicom; transfer-syntax=1.2.840.10008.1.2 (DICOM Implicit VR Little Endian) - application/dicom; transfer-syntax=1.2.840.10008.1.2.1 (DICOM Explicit VR Little Endian) - application/dicom; transfer-syntax=1.2.840.10008.1.2.1.99 (DICOM Deflated Explicit VR Little Endian) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM with embedded JPEG Baseline) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.51 (DICOM with embedded JPEG Extended) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.57 (DICOM with embedded JPEG Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.70 (DICOM with embedded JPEG Lossless First-Order Prediction) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.80 (DICOM with embedded JPEG-LS Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.81 (DICOM with embedded JPEG-LS Lossy (Near-Lossless)) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG 2000 Lossless Only) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG 2000) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.110 (DICOM with embedded JPEG XL Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.111 (DICOM with embedded JPEG XL JPEG Recompression) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.112 (DICOM with embedded JPEG XL) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.201 (DICOM with embedded High-Throughput JPEG 2000 Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.202 (DICOM with embedded High-Throughput JPEG 2000 with RPCL Options Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.203 (DICOM with embedded High-Throughput JPEG 2000) - application/dicom; transfer-syntax=1.2.840.10008.1.2.5 (DICOM with embedded RLE Lossless) - application/dicom; transfer-syntax=1.2.840.10008.1.2.8.1 (DICOM with embedded Deflated Image Frame Compression) - application/dicom; transfer-syntax=* (DICOM with no transcoding) - application/octet-stream; transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) - application/octet-stream; transfer-syntax=* (raw PixelData in whatever format it was uploaded in) - image/jpeg; transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image/png The following extensions are used for output files: - application/dicom -> .dcm - image/jpeg -> .jpg - image/png -> .png - application/octet-stream -> no extension If unspecified, the instances are exported in the original DICOM format they were uploaded in."
        },
        "uriPrefix": {
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes the result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`.",
          "type": "string"
        }
      }
    },
    "GcsDestination": {
      "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
      "id": "GcsDestination",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "type": "string",
          "description": "URI of an existing Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path."
        },
        "contentStructure": {
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "MESSAGE_JSON"
          ],
          "description": "The format of the exported HL7v2 message files.",
          "type": "string",
          "enumDescriptions": [
            "If the content structure is not specified, the default value `MESSAGE_JSON` will be used.",
            "Messages are printed using the JSON format returned from the `GetMessage` API. Messages are delimited with newlines."
          ]
        },
        "messageView": {
          "enum": [
            "MESSAGE_VIEW_UNSPECIFIED",
            "RAW_ONLY",
            "PARSED_ONLY",
            "FULL",
            "SCHEMATIZED_ONLY",
            "BASIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified, equivalent to FULL.",
            "Server responses include all the message fields except parsed_data field, and schematized_data fields.",
            "Server responses include all the message fields except data field, and schematized_data fields.",
            "Server responses include all the message fields.",
            "Server responses include all the message fields except data and parsed_data fields.",
            "Server responses include only the name field."
          ],
          "description": "Specifies the parts of the Message resource to include in the export. If not specified, FULL is used."
        }
      }
    },
    "BulkDeleteResourcesRequest": {
      "id": "BulkDeleteResourcesRequest",
      "type": "object",
      "properties": {
        "versionConfig": {
          "description": "Optional. Specifies which version of the resources to delete.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified version config. Defaults to ALL.",
            "Delete the current version and all history versions.",
            "Delete the current version only and create a historical version of the deleted resource.",
            "Delete all history versions only."
          ],
          "enum": [
            "VERSION_CONFIG_UNSPECIFIED",
            "ALL",
            "CURRENT_ONLY",
            "HISTORY_ONLY"
          ]
        },
        "until": {
          "type": "string",
          "description": "Optional. If provided, only resources updated before or atthis time are deleted. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone."
        },
        "validateOnly": {
          "description": "Optional. If set to true, the request will only perform a dry run. By default (once the behavior change is fully rolled out), this will default to true. During the transition period, the default depends on the Mendel flag status for the project.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "Optional. Specifies the Cloud Storage source data location containing the list of resource IDs to delete. Each file inside `gcs_source` must contain newline-delimited strings in the format `{resourceType}/{resourceId}`. This field is mutually exclusive with filter parameters such as `type` and `until`.",
          "$ref": "GoogleCloudHealthcareV1FhirGcsSource"
        },
        "type": {
          "type": "string",
          "description": "Optional. String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) will be deleted."
        },
        "gcsDestination": {
          "description": "Optional. The Cloud Storage output destination. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. The deleted resources outputs are organized by FHIR resource types. The server creates one or more objects per resource type. Each object contains newline delimited strings in the format {resourceType}/{resourceId}.",
          "$ref": "GoogleCloudHealthcareV1FhirGcsDestination"
        }
      },
      "description": "Request to bulk delete FHIR resources."
    },
    "EvaluateUserConsentsResponse": {
      "id": "EvaluateUserConsentsResponse",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "Result"
          },
          "description": "The consent evaluation result for each `data_id`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list. This token is valid for 72 hours after it is created."
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.ndjson` imports all files with `.ndjson` extensions in `my-directory/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata."
        }
      },
      "description": "Specifies the configuration for importing data from Cloud Storage."
    },
    "ApplyAdminConsentsErrorDetail": {
      "description": "Contains the error details of the unsupported admin Consent resources for when the ApplyAdminConsents method fails to apply one or more Consent resources.",
      "id": "ApplyAdminConsentsErrorDetail",
      "type": "object",
      "properties": {
        "existingOperationId": {
          "description": "The currently in progress non-validate-only ApplyAdminConsents operation ID if exist.",
          "format": "uint64",
          "type": "string"
        },
        "consentErrors": {
          "type": "array",
          "items": {
            "$ref": "ConsentErrors"
          },
          "description": "The list of Consent resources that are unsupported or cannot be applied and the error associated with each of them."
        }
      }
    },
    "QueryAccessibleDataRequest": {
      "description": "Queries all data_ids that are consented for a given use in the given consent store and writes them to a specified destination. The returned Operation includes a progress counter for the number of User data mappings processed. Errors are logged to Cloud Logging (see [Viewing error logs in Cloud Logging] (https://cloud.google.com/healthcare/docs/how-tos/logging) and [QueryAccessibleData] for a sample log entry).",
      "id": "QueryAccessibleDataRequest",
      "type": "object",
      "properties": {
        "requestAttributes": {
          "description": "The values of request attributes associated with this access request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceAttributes": {
          "description": "Optional. The values of resource attributes associated with the type of resources being requested. If no values are specified, then all resource types are included in the output.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gcsDestination": {
          "description": "The Cloud Storage destination. The Cloud Healthcare API service account must have the `roles/storage.objectAdmin` Cloud IAM role for this Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1ConsentGcsDestination"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "ConsentHeaderHandling": {
      "id": "ConsentHeaderHandling",
      "type": "object",
      "properties": {
        "profile": {
          "description": "Optional. Specifies the default server behavior when the header is empty. If not specified, the `ScopeProfile.PERMIT_EMPTY_SCOPE` option is used.",
          "type": "string",
          "enumDescriptions": [
            "If not specified, the default value `PERMIT_EMPTY_SCOPE` is used.",
            "When no consent scopes are provided (for example, if there's an empty or missing header), then consent check is disabled, similar to when `access_enforced` is `false`. You can use audit logs to differentiate these two cases by looking at the value of `protopayload.metadata.consentMode`. If consents scopes are present, they must be valid and within the allowed limits, otherwise the request will be rejected with a `4xx` code.",
            "The consent header must be non-empty when performing read and search operations, otherwise the request is rejected with a `4xx` code. Additionally, invalid consent scopes or scopes exceeding the allowed limits are rejected."
          ],
          "enum": [
            "SCOPE_PROFILE_UNSPECIFIED",
            "PERMIT_EMPTY_SCOPE",
            "REQUIRED_ON_READ"
          ]
        }
      },
      "description": "How the server handles the consent header."
    },
    "TextConfig": {
      "id": "TextConfig",
      "type": "object",
      "properties": {
        "additionalTransformations": {
          "description": "Optional. Transformations to apply to the detected data, overridden by `exclude_info_types`.",
          "type": "array",
          "items": {
            "$ref": "InfoTypeTransformation"
          }
        },
        "transformations": {
          "type": "array",
          "items": {
            "$ref": "InfoTypeTransformation"
          },
          "description": "Optional. The transformations to apply to the detected data. Deprecated. Use `additional_transformations` instead."
        },
        "excludeInfoTypes": {
          "description": "Optional. InfoTypes to skip transforming, overriding `additional_transformations`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImportResourcesRequest": {
      "description": "Request to import resources.",
      "id": "ImportResourcesRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. Each Cloud Storage object should be a text file that contains the format specified in ContentStructure.",
          "$ref": "GoogleCloudHealthcareV1FhirGcsSource"
        },
        "contentStructure": {
          "description": "The content structure in the source location. If not specified, the server treats the input source files as BUNDLE.",
          "type": "string",
          "enumDescriptions": [
            "If the content structure is not specified, the default value `BUNDLE` is used.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a bundle that contains one or more resources.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a single resource.",
            "The entire file is one JSON bundle. The JSON can span multiple lines.",
            "The entire file is one JSON resource. The JSON can span multiple lines."
          ],
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "BUNDLE",
            "RESOURCE",
            "BUNDLE_PRETTY",
            "RESOURCE_PRETTY"
          ]
        }
      }
    },
    "ParserConfig": {
      "description": "The configuration for the parser. It determines how the server parses the messages.",
      "id": "ParserConfig",
      "type": "object",
      "properties": {
        "segmentTerminator": {
          "description": "Optional. Byte(s) to use as the segment terminator. If this is unset, '\\r' is used as segment terminator, matching the HL7 version 2 specification.",
          "format": "byte",
          "type": "string"
        },
        "allowNullHeader": {
          "description": "Optional. Determines whether messages with no header are allowed.",
          "type": "boolean"
        },
        "version": {
          "description": "Immutable. Determines the version of both the default parser to be used when `schema` is not given, as well as the schematized parser used when `schema` is specified. This field is immutable after HL7v2 store creation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified parser version, equivalent to V1.",
            "The `parsed_data` includes every given non-empty message field except the Field Separator (MSH-1) field. As a result, the parsed MSH segment starts with the MSH-2 field and the field numbers are off-by-one with respect to the HL7 standard.",
            "The `parsed_data` includes every given non-empty message field.",
            "This version is the same as V2, with the following change. The `parsed_data` contains unescaped escaped field separators, component separators, sub-component separators, repetition separators, escape characters, and truncation characters. If `schema` is specified, the schematized parser uses improved parsing heuristics compared to previous versions."
          ],
          "enum": [
            "PARSER_VERSION_UNSPECIFIED",
            "V1",
            "V2",
            "V3"
          ]
        },
        "schema": {
          "description": "Optional. Schemas used to parse messages in this store, if schematized parsing is desired.",
          "$ref": "SchemaPackage"
        }
      }
    },
    "DeidentifiedStoreDestination": {
      "id": "DeidentifiedStoreDestination",
      "type": "object",
      "properties": {
        "store": {
          "type": "string",
          "description": "Optional. The full resource name of a Cloud Healthcare FHIR store, for example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "config": {
          "description": "Optional. The configuration to use when de-identifying resources that are added to this store.",
          "$ref": "DeidentifyConfig"
        }
      },
      "description": "Contains configuration for streaming de-identified FHIR export."
    },
    "RollbackFhirResourcesResponse": {
      "description": "Final response of rollback FIHR resources request.",
      "id": "RollbackFhirResourcesResponse",
      "type": "object",
      "properties": {
        "fhirStore": {
          "type": "string",
          "description": "The name of the FHIR store to rollback, in the format of \"projects/{project_id}/locations/{location_id}/datasets/{dataset_id} /fhirStores/{fhir_store_id}\"."
        }
      }
    },
    "ListConsentArtifactsResponse": {
      "id": "ListConsentArtifactsResponse",
      "type": "object",
      "properties": {
        "consentArtifacts": {
          "type": "array",
          "items": {
            "$ref": "ConsentArtifact"
          },
          "description": "The returned Consent artifacts. The maximum number of artifacts returned is determined by the value of page_size in the ListConsentArtifactsRequest."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ApplyAdminConsentsRequest": {
      "description": "Request to apply the admin Consent resources for the specified FHIR store.",
      "id": "ApplyAdminConsentsRequest",
      "type": "object",
      "properties": {
        "newConsentsList": {
          "description": "A new list of admin Consent resources to be applied. Any existing enforced Consents, which are specified in `consent_config.enforced_admin_consents` of the FhirStore, that are not part of this list will be disabled. An empty list is equivalent to clearing or disabling all Consents enforced on the FHIR store. When a FHIR store has `disable_resource_versioning=true` and this list contains a Consent resource that exists in `consent_config.enforced_admin_consents`, the method enforces any updates to the existing resource since the last enforcement. If the existing resource hasn't been updated since the last enforcement, the resource is unaffected. After the method finishes, the resulting consent enforcement model is determined by the contents of the Consent resource(s) when the method was called: * When `disable_resource_versioning=true`, the result is identical to the current resource(s) in the FHIR store. * When `disable_resource_versioning=false`, the result is based on the historical version(s) of the Consent resource(s) at the point in time when the method was called. At most 200 Consents can be specified.",
          "$ref": "AdminConsents"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If true, the method only validates Consent resources to make sure they are supported. Otherwise, the method applies the aggregate consent information to update the enforcement model and reindex the FHIR resources. If all Consent resources can be applied successfully, the ApplyAdminConsentsResponse is returned containing the following fields: * `consent_apply_success` to indicate the number of Consent resources applied. * `affected_resources` to indicate the number of resources that might have had their consent access changed. If, however, one or more Consent resources are unsupported or cannot be applied, the method fails and ApplyAdminConsentsErrorDetail is is returned with details about the unsupported Consent resources."
        }
      }
    },
    "ImportDicomDataResponse": {
      "id": "ImportDicomDataResponse",
      "type": "object",
      "properties": {},
      "description": "Returns additional information in regards to a completed DICOM store import."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "ListMessagesResponse": {
      "id": "ListMessagesResponse",
      "type": "object",
      "properties": {
        "hl7V2Messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "The returned Messages. Won't be more Messages than the value of page_size in the request. See view for populated fields."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        }
      },
      "description": "Lists the messages in the specified HL7v2 store."
    },
    "ValidationConfig": {
      "description": "Contains the configuration for FHIR profiles and validation.",
      "id": "ValidationConfig",
      "type": "object",
      "properties": {
        "disableProfileValidation": {
          "description": "Optional. Whether to disable profile validation for this FHIR store. The default value is false. Set this to true to disable checking incoming resources for conformance against structure definitions in this FHIR store.",
          "type": "boolean"
        },
        "enabledImplementationGuides": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of implementation guide URLs in this FHIR store that are used to configure the profiles to use for validation. For example, to use the US Core profiles for validation, set `enabled_implementation_guides` to `[\"http://hl7.org/fhir/us/core/ImplementationGuide/ig\"]`. If `enabled_implementation_guides` is empty or omitted, then incoming resources are only required to conform to the base FHIR profiles. Otherwise, a resource must conform to at least one profile listed in the `global` property of one of the enabled ImplementationGuides. The Cloud Healthcare API does not currently enforce all of the rules in a StructureDefinition. The following rules are supported: - min/max - minValue/maxValue - maxLength - type - fixed[x] - pattern[x] on simple types - slicing, when using \"value\" as the discriminator type - FHIRPath constraints (only when `enable_fhirpath_profile_validation` is true) When a URL cannot be resolved (for example, in a type assertion), the server does not return an error."
        },
        "disableFhirpathValidation": {
          "description": "Optional. Whether to disable FHIRPath validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against FHIRPath requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "enableFhirpathProfileValidation": {
          "description": "Optional. Whether to enable FHIRPath validation for incoming resource types that have profiles configured for them in the `enabled_implementation_guides` list. Set this to true to enable checking incoming resources for conformance against FHIRPath requirements defined in the configured profiles.",
          "type": "boolean"
        },
        "disableRequiredFieldValidation": {
          "description": "Optional. Whether to disable required fields validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against required fields requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "disableReferenceTypeValidation": {
          "description": "Optional. Whether to disable reference type validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against reference type requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        }
      }
    },
    "ImportMessagesResponse": {
      "description": "Final response of importing messages. This structure is included in the response to describe the detailed outcome. It is only included when the operation finishes successfully.",
      "id": "ImportMessagesResponse",
      "type": "object",
      "properties": {}
    },
    "EntityMentionRelationship": {
      "id": "EntityMentionRelationship",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "The model's confidence in this annotation. A number between 0 and 1.",
          "format": "double"
        },
        "objectId": {
          "description": "object_id is the id of the object entity mention.",
          "type": "string"
        },
        "subjectId": {
          "type": "string",
          "description": "subject_id is the id of the subject entity mention."
        }
      },
      "description": "Defines directed relationship from one entity mention to another."
    },
    "RollbackFhirResourceFilteringFields": {
      "id": "RollbackFhirResourceFilteringFields",
      "type": "object",
      "properties": {
        "operationIds": {
          "description": "Optional. A list of operation IDs to roll back.",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        },
        "metadataFilter": {
          "description": "Optional. A filter expression that matches data in the `Resource.meta` element. Supports all filters in [AIP-160](https://google.aip.dev/160) except the \"has\" (`:`) operator. Supports the following custom functions: * `tag(\"\") = \"\"` for tag filtering. * `extension_value_ts(\"\") = ` for filtering extensions with a timestamp, where `` is a Unix timestamp. Supports the `>`, `<`, `<=`, `>=`, and `!=` comparison operators.",
          "type": "string"
        }
      }
    },
    "ListFhirStoresResponse": {
      "description": "Lists the FHIR stores in the given dataset.",
      "id": "ListFhirStoresResponse",
      "type": "object",
      "properties": {
        "fhirStores": {
          "description": "The returned FHIR stores. Won't be more FHIR stores than the value of page_size in the request.",
          "type": "array",
          "items": {
            "$ref": "FhirStore"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        }
      }
    },
    "TimeRange": {
      "id": "TimeRange",
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
[...]
