{
  "name": "health",
  "basePath": "",
  "id": "health:v4beta",
  "canonicalName": "Google Health API",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "title": "Google Health API",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "version": "v4beta",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://health.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/googlehealth.reproductive_health.writeonly": {
          "description": "Add reproductive health data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly": {
          "description": "Add nutrition data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly": {
          "description": "Add health metric and measurements data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly": {
          "description": "See your Google Health health metrics and measurement data"
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.readonly": {
          "description": "See your Google Health sleep data"
        },
        "https://www.googleapis.com/auth/googlehealth.profile.readonly": {
          "description": "See your Google Health profile data"
        },
        "https://www.googleapis.com/auth/googlehealth.ecg.readonly": {
          "description": "See your Google Health ECG data"
        },
        "https://www.googleapis.com/auth/googlehealth.mindfulness.readonly": {
          "description": "See your Google Health mindfulness data"
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.writeonly": {
          "description": "Add sleep data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.logged_symptoms.writeonly": {
          "description": "Add logged symptoms data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly": {
          "description": "See your Google Health activity and fitness data"
        },
        "https://www.googleapis.com/auth/googlehealth.mindfulness.writeonly": {
          "description": "Add mindfulness data to Google Health, and edit or delete the data it adds"
        },
        "https://www.googleapis.com/auth/googlehealth.location.readonly": {
          "description": "See exercise GPS location data in Google Health"
        },
        "https://www.googleapis.com/auth/googlehealth.settings.writeonly": {
          "description": "Add settings data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.irn.readonly": {
          "description": "See your Google Health Irregular Rhythm Notifications data"
        },
        "https://www.googleapis.com/auth/googlehealth.logged_symptoms.readonly": {
          "description": "See your Google Health logged symptoms data"
        },
        "https://www.googleapis.com/auth/googlehealth.reproductive_health.readonly": {
          "description": "See your Google Health reproductive health data"
        },
        "https://www.googleapis.com/auth/googlehealth.settings.readonly": {
          "description": "See your Google Health settings"
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly": {
          "description": "Add activity and fitness data to Google Health, and edit or delete the data it adds."
        },
        "https://www.googleapis.com/auth/googlehealth.profile.writeonly": {
          "description": "Add profile data to Google Health, and edit or delete the data it adds."
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/health",
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://health.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260909",
  "schemas": {
    "NutritionLogRollupValue": {
      "id": "NutritionLogRollupValue",
      "type": "object",
      "properties": {
        "totalCarbohydrate": {
          "description": "Total carbohydrate rollup.",
          "$ref": "WeightQuantityRollup"
        },
        "energyFromFat": {
          "description": "Value Energy from fat rollup.",
          "$ref": "EnergyQuantityRollup"
        },
        "totalFat": {
          "$ref": "WeightQuantityRollup",
          "description": "Total fat rollup."
        },
        "nutrients": {
          "description": "List of the nutrient roll-ups by the nutrient type.",
          "type": "array",
          "items": {
            "$ref": "NutrientQuantityRollup"
          }
        },
        "energy": {
          "description": "Energy rollup.",
          "$ref": "EnergyQuantityRollup"
        }
      },
      "description": "Represents the result of the rollup of the nutrition log data type."
    },
    "OxygenSaturation": {
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "OxygenSaturation",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "properties": {
        "utcOffset": {
          "format": "google-duration",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "type": "string"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "physicalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time of the observation."
        }
      },
      "type": "object",
      "id": "ObservationSampleTime"
    },
    "TimeZone": {
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "StageSummary": {
      "properties": {
        "type": {
          "description": "Output only. Sleep stage type: AWAKE, DEEP, REM, LIGHT etc.",
          "enum": [
            "SLEEP_STAGE_TYPE_UNSPECIFIED",
            "AWAKE",
            "LIGHT",
            "DEEP",
            "REM",
            "ASLEEP",
            "RESTLESS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default unset value.",
            "Sleep stage AWAKE.",
            "Sleep stage LIGHT.",
            "Sleep stage DEEP.",
            "Sleep stage REM.",
            "Sleep stage ASLEEP.",
            "Sleep stage RESTLESS."
          ]
        },
        "count": {
          "format": "int64",
          "description": "Output only. Number of sleep stages segments.",
          "type": "string",
          "readOnly": true
        },
        "minutes": {
          "description": "Output only. Total duration in minutes of a sleep stage.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "StageSummary",
      "description": "Total duration and segment count for a stage."
    },
    "Steps": {
      "id": "Steps",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Required. Number of steps in the recorded interval.",
          "type": "string"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "type": "object",
      "description": "Step count over the time interval."
    },
    "SwimLengthsData": {
      "type": "object",
      "description": "Swim lengths data over the time interval.",
      "id": "SwimLengthsData",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "swimStrokeType": {
          "enumDescriptions": [
            "Swim stroke type is unspecified.",
            "Freestyle swim stroke type.",
            "Backstroke swim stroke type.",
            "Breaststroke swim stroke type.",
            "Butterfly swim stroke type."
          ],
          "enum": [
            "SWIM_STROKE_TYPE_UNSPECIFIED",
            "FREESTYLE",
            "BACKSTROKE",
            "BREASTSTROKE",
            "BUTTERFLY"
          ],
          "description": "Required. Swim stroke type.",
          "type": "string"
        },
        "strokeCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of strokes in the lap."
        }
      }
    },
    "GoogleDevicesandservicesHealthV4DataType": {
      "id": "GoogleDevicesandservicesHealthV4DataType",
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      }
    },
    "SedentaryPeriodRollupValue": {
      "id": "SedentaryPeriodRollupValue",
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "properties": {
        "durationSum": {
          "description": "The total time user spent sedentary during the interval.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "ActiveMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active minutes data type.",
      "id": "ActiveMinutesRollupValue",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "type": "array",
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          }
        }
      },
      "type": "object"
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "gainMillimeters": {
          "type": "string",
          "format": "int64",
          "description": "Required. Altitude gain in millimeters over the observed interval."
        }
      },
      "id": "Altitude"
    },
    "ActiveMinutes": {
      "id": "ActiveMinutes",
      "description": "Record of active minutes in a given time interval.",
      "properties": {
        "activeMinutesByActivityLevel": {
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "type": "array",
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed."
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "type": "object"
    },
    "NutrientQuantity": {
      "type": "object",
      "properties": {
        "quantity": {
          "description": "Required. The quantity of the nutrient, measured in grams.",
          "$ref": "WeightQuantity"
        },
        "nutrient": {
          "description": "Required. The nutrient type.",
          "enum": [
            "NUTRIENT_UNSPECIFIED",
            "BIOTIN",
            "CAFFEINE",
            "CALCIUM",
            "CHLORIDE",
            "CARBOHYDRATES",
            "CHOLESTEROL",
            "CHROMIUM",
            "COPPER",
            "DIETARY_FIBER",
            "FOLIC_ACID",
            "IODINE",
            "IRON",
            "MAGNESIUM",
            "MANGANESE",
            "MOLYBDENUM",
            "MONOUNSATURATED_FAT",
            "NIACIN",
            "PANTOTHENIC_ACID",
            "PHOSPHORUS",
            "POLYUNSATURATED_FAT",
            "POTASSIUM",
            "PROTEIN",
            "RIBOFLAVIN",
            "SATURATED_FAT",
            "SELENIUM",
            "SODIUM",
            "SUGAR",
            "THIAMIN",
            "TRANS_FAT",
            "UNSATURATED_FAT",
            "VITAMIN_A",
            "VITAMIN_B12",
            "VITAMIN_B6",
            "VITAMIN_C",
            "VITAMIN_D",
            "VITAMIN_E",
            "VITAMIN_K",
            "ZINC",
            "FOLATE"
          ],
          "enumDescriptions": [
            "Unspecified nutrient.",
            "Value representing biotin nutrient.",
            "Value representing caffeine nutrient.",
            "Value representing calcium nutrient.",
            "Value representing chloride nutrient.",
            "Value representing carbohydrates nutrient.",
            "Value representing cholesterol nutrient.",
            "Value representing chromium nutrient.",
            "Value representing copper nutrient.",
            "Value representing dietary fiber nutrient.",
            "Value representing folic acid nutrient.",
            "Value representing iodine nutrient.",
            "Value representing iron nutrient.",
            "Value representing magnesium nutrient.",
            "Value representing manganese nutrient.",
            "Value representing molybdenum nutrient.",
            "Value representing monounsaturated fat nutrient.",
            "Value representing niacin nutrient.",
            "Value representing pantothenic acid nutrient.",
            "Value representing phosphorus nutrient.",
            "Value representing polyunsaturated fat nutrient.",
            "Value representing potassium nutrient.",
            "Value representing protein nutrient.",
            "Value representing riboflavin nutrient.",
            "Value representing saturated fat nutrient.",
            "Value representing selenium nutrient.",
            "Value representing sodium nutrient.",
            "Value representing sugar nutrient.",
            "Value representing thiamin nutrient.",
            "Value representing trans fat nutrient.",
            "Value representing unsaturated fat nutrient.",
            "Value representing vitamin A nutrient.",
            "Value representing vitamin B12 nutrient.",
            "Value representing vitamin B6 nutrient.",
            "Value representing vitamin C nutrient.",
            "Value representing vitamin D nutrient.",
            "Value representing vitamin E nutrient.",
            "Value representing vitamin K nutrient.",
            "Value representing zinc nutrient.",
            "Value representing folate nutrient."
          ],
          "type": "string"
        }
      },
      "description": "Represents the quantity of a nutrient.",
      "id": "NutrientQuantity"
    },
    "GoogleDevicesandservicesHealthV4betaDataType": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the data type. Format: `users/{user}/dataTypes/{data_type}` See DataPoint.name for examples and possible values.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a type of health data a user can have data points recorded for. It matches the parent resource of collection containing data points of the given type. Clients currently do not need to interact with this resource directly.",
      "id": "GoogleDevicesandservicesHealthV4betaDataType"
    },
    "DataPoint": {
      "type": "object",
      "id": "DataPoint",
      "description": "A computed or recorded metric.",
      "properties": {
        "ovulationTest": {
          "description": "Optional. Data for points in the `ovulation-test` sample data type collection.",
          "$ref": "OvulationTest"
        },
        "vo2Max": {
          "description": "Optional. Data for points in the `vo2-max` sample data type collection.",
          "$ref": "VO2Max"
        },
        "activityLevel": {
          "$ref": "ActivityLevel",
          "description": "Optional. Data for points in the `activity-level` daily data type collection."
        },
        "food": {
          "$ref": "Food",
          "description": "Optional. The food details."
        },
        "nutritionLog": {
          "description": "Optional. Data for points in the `nutrition-log` session data type collection.",
          "$ref": "NutritionLog"
        },
        "floors": {
          "description": "Optional. Data for points in the `floors` interval data type collection.",
          "$ref": "Floors"
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "irregularRhythmNotification": {
          "description": "Optional. Data for points in the `irregular-rhythm-notification` session data type collection.",
          "$ref": "IrregularRhythmNotification"
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "runVo2Max": {
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection.",
          "$ref": "RunVO2Max"
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "basalEnergyBurned": {
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "steps": {
          "description": "Optional. Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "dailyVo2Max": {
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsData",
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection."
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection."
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "bloodGlucose": {
          "$ref": "BloodGlucose",
          "description": "Optional. Data for points in the `blood-glucose` sample data type collection."
        },
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Optional. Data for points in the `hydration-log` session data type collection."
        },
        "bodyFat": {
          "$ref": "BodyFat",
          "description": "Optional. Data for points in the `body-fat` sample data type collection."
        },
        "dailyHeartRateVariability": {
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "coreBodyTemperature": {
          "description": "Optional. Data for points in the `core-body-temperature` sample data type collection.",
          "$ref": "CoreBodyTemperature"
        },
        "heartRateVariability": {
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection.",
          "$ref": "HeartRateVariability"
        },
        "electrocardiogram": {
          "$ref": "Electrocardiogram",
          "description": "Optional. Data for points in the `electrocardiogram` session data type collection."
        },
        "weight": {
          "description": "Optional. Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "foodMeasurementUnit": {
          "description": "Optional. The food measurement unit details.",
          "$ref": "FoodMeasurementUnit"
        },
        "height": {
          "description": "Optional. Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "menstrualPeriod": {
          "$ref": "MenstrualPeriod",
          "description": "Optional. Data for points in the `menstrual-period` interval data type collection."
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "activeMinutes": {
          "description": "Optional. Data for points in the `active-minutes` interval data type collection.",
          "$ref": "ActiveMinutes"
        },
        "moods": {
          "description": "Optional. Data for points in the `moods` sample data type collection.",
          "$ref": "Moods"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "dailyRestingHeartRate": {
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "symptoms": {
          "description": "Optional. Data for points in the `symptoms` sample data type collection.",
          "$ref": "Symptoms"
        },
        "sleep": {
          "$ref": "Sleep",
          "description": "Optional. Data for points in the `sleep` session data type collection."
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "activeEnergyBurned": {
          "$ref": "ActiveEnergyBurned",
          "description": "Optional. Data for points in the `active-energy-burned` interval data type collection."
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Optional. Data for points in the `altitude` interval data type collection."
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Optional. Data for points in the `heart-rate` sample data type collection."
        },
        "dataSource": {
          "$ref": "DataSource",
          "description": "Optional. Data source information for the metric"
        }
      }
    },
    "Identity": {
      "description": "Represents details about the Google user's identity.",
      "properties": {
        "legacyUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        },
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "healthUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        }
      },
      "type": "object",
      "id": "Identity"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "type": "object",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string",
          "description": "The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ]
        },
        "activeMinutesSum": {
          "format": "int64",
          "type": "string",
          "description": "Number of whole minutes spent in activity."
        }
      },
      "description": "Active minutes by activity level.",
      "id": "ActiveMinutesRollupByActivityLevel"
    },
    "Serving": {
      "description": "Represents different properties and information about the serving of a specific food.",
      "properties": {
        "foodMeasurementUnitDisplayName": {
          "description": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\").",
          "type": "string",
          "readOnly": true
        },
        "amount": {
          "type": "number",
          "description": "Optional. The number of servings.",
          "format": "double"
        },
        "foodMeasurementUnit": {
          "type": "string",
          "description": "Required. Food measurement unit"
        }
      },
      "type": "object",
      "id": "Serving"
    },
    "BasalEnergyBurned": {
      "id": "BasalEnergyBurned",
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time.",
      "properties": {
        "kcal": {
          "format": "double",
          "type": "number",
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "type": "object"
    },
    "StepsRollupValue": {
      "properties": {
        "countSum": {
          "type": "string",
          "description": "Total number of steps in the interval.",
          "format": "int64"
        }
      },
      "description": "Represents the result of the rollup of the steps data type.",
      "type": "object",
      "id": "StepsRollupValue"
    },
    "VolumeQuantity": {
      "description": "Represents the volume quantity.",
      "type": "object",
      "properties": {
        "userProvidedUnit": {
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. Value representing the user provided unit, used only for user-facing input and display purposes. In the API format, all volume quantities are converted to milliliters.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ]
        },
        "milliliters": {
          "format": "double",
          "description": "Required. Value representing the volume in milliliters.",
          "type": "number"
        }
      },
      "id": "VolumeQuantity"
    },
    "ObservationTimeInterval": {
      "type": "object",
      "properties": {
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Observed interval start time.",
          "type": "string"
        },
        "civilEndTime": {
          "readOnly": true,
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "$ref": "CivilDateTime"
        },
        "endTime": {
          "description": "Required. Observed interval end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        }
      },
      "description": "Represents a time interval of an observed data point.",
      "id": "ObservationTimeInterval"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SplitSummary": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Lap start time"
        },
        "activeDuration": {
          "format": "google-duration",
          "description": "Output only. Lap time excluding the pauses.",
          "readOnly": true,
          "type": "string"
        },
        "metricsSummary": {
          "$ref": "MetricsSummary",
          "description": "Required. Summary metrics for this split."
        },
        "startUtcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Lap start time offset from UTC"
        },
        "endUtcOffset": {
          "format": "google-duration",
          "description": "Required. Lap end time offset from UTC",
          "type": "string"
        },
        "endTime": {
          "description": "Required. Lap end time",
          "type": "string",
          "format": "google-datetime"
        },
        "splitType": {
          "enumDescriptions": [
            "Split type is unspecified.",
            "Manual split.",
            "Split by duration.",
            "Split by distance.",
            "Split by calories."
          ],
          "type": "string",
          "description": "Required. Method used to split the exercise laps. Users may manually mark the lap as complete even if the tracking is automatic.",
          "enum": [
            "SPLIT_TYPE_UNSPECIFIED",
            "MANUAL",
            "DURATION",
            "DISTANCE",
            "CALORIES"
          ]
        }
      },
      "id": "SplitSummary",
      "description": "Represents splits or laps recorded within an exercise. Lap events partition a workout into segments based on criteria like distance, time, or calories."
    },
    "Moods": {
      "type": "object",
      "description": "Moods record.",
      "properties": {
        "moods": {
          "description": "Required. The moods logged.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified mood.",
              "Amazed.",
              "Amused.",
              "Angry.",
              "Annoyed.",
              "Anxious.",
              "Happy.",
              "Content.",
              "Sad.",
              "Worried.",
              "Frustrated.",
              "Excited.",
              "Calm.",
              "Stressed.",
              "Ashamed.",
              "Brave.",
              "Confident.",
              "Disappointed.",
              "Discouraged.",
              "Disgusted.",
              "Drained.",
              "Embarrassed.",
              "Grateful.",
              "Guilty.",
              "Hopeful.",
              "Hopeless.",
              "Indifferent.",
              "Irritated.",
              "Jealous.",
              "Joyful.",
              "Lonely.",
              "Overwhelmed.",
              "Passionate.",
              "Peaceful.",
              "Proud.",
              "Relieved.",
              "Satisfied.",
              "Scared.",
              "Surprised.",
              "Energized.",
              "Fatigued.",
              "Very calm.",
              "Very stressed.",
              "Neutral.",
              "Afraid.",
              "Hurting.",
              "Bored.",
              "Bitter.",
              "Envious.",
              "Confused.",
              "Curious.",
              "Awestruck.",
              "Inspired.",
              "Longing.",
              "Accomplished.",
              "Loving.",
              "Compassionate."
            ],
            "enum": [
              "MOOD_UNSPECIFIED",
              "AMAZED",
              "AMUSED",
              "ANGRY",
              "ANNOYED",
              "ANXIOUS",
              "HAPPY",
              "CONTENT",
              "SAD",
              "WORRIED",
              "FRUSTRATED",
              "EXCITED",
              "CALM",
              "STRESSED",
              "ASHAMED",
              "BRAVE",
              "CONFIDENT",
              "DISAPPOINTED",
              "DISCOURAGED",
              "DISGUSTED",
              "DRAINED",
              "EMBARRASSED",
              "GRATEFUL",
              "GUILTY",
              "HOPEFUL",
              "HOPELESS",
              "INDIFFERENT",
              "IRRITATED",
              "JEALOUS",
              "JOYFUL",
              "LONELY",
              "OVERWHELMED",
              "PASSIONATE",
              "PEACEFUL",
              "PROUD",
              "RELIEVED",
              "SATISFIED",
              "SCARED",
              "SURPRISED",
              "ENERGIZED",
              "FATIGUED",
              "VERY_CALM",
              "VERY_STRESSED",
              "NEUTRAL",
              "AFRAID",
              "HURTING",
              "BORED",
              "BITTER",
              "ENVIOUS",
              "CONFUSED",
              "CURIOUS",
              "AWESTRUCK",
              "INSPIRED",
              "LONGING",
              "ACCOMPLISHED",
              "LOVING",
              "COMPASSIONATE"
            ]
          },
          "type": "array"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which moods were measured."
        },
        "valences": {
          "items": {
            "enum": [
              "VALENCE_UNSPECIFIED",
              "UNPLEASANT",
              "BASELINE",
              "PLEASANT"
            ],
            "enumDescriptions": [
              "Unspecified valence.",
              "Unpleasant.",
              "Baseline.",
              "Pleasant."
            ],
            "type": "string"
          },
          "description": "Optional. The valences.",
          "type": "array"
        }
      },
      "id": "Moods"
    },
    "DataSource": {
      "type": "object",
      "id": "DataSource",
      "properties": {
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "type": "string",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "readOnly": true
        },
        "application": {
          "$ref": "Application",
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true
        },
        "device": {
          "$ref": "Device",
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync."
        },
        "recordingMethod": {
          "type": "string",
          "description": "Optional. Captures how the data was recorded.",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        }
      },
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it)."
    },
    "MenstrualPeriod": {
      "description": "Menstrual period record.",
      "type": "object",
      "properties": {
        "notes": {
          "type": "string",
          "description": "Optional. Standard free-form notes captured at manual logging."
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "id": "MenstrualPeriod"
    },
    "RollUpDataPointsRequest": {
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32"
        },
        "dataSourceFamily": {
          "type": "string",
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - Default value. Includes data from all available data sources. - `users/me/dataSourceFamilies/google-wearables` - Includes data from Google and Fitbit tracker devices (such as Fitbit trackers and Pixel Watch). Excludes manually logged data. - `users/me/dataSourceFamilies/google-sources` - Includes first-party Google data, such as data from tracker devices, manually logged data, and Health Connect."
        },
        "windowSize": {
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions. Must be at least 1 second. If the requested range is not an exact multiple of `window_size`, the final bucket chronologically will be truncated at the upper endpoint of the range and will cover a duration shorter than `window_size`.",
          "format": "google-duration",
          "type": "string"
        },
        "range": {
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days.",
          "$ref": "Interval"
        },
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RollUpDataPointsRequest",
      "description": "Request to roll up data points by physical time intervals."
    },
    "IrregularRhythmNotification": {
      "id": "IrregularRhythmNotification",
      "type": "object",
      "properties": {
        "medicalDeviceInfo": {
          "$ref": "MedicalDeviceInfo",
          "description": "Output only. The meta information for the compatible device used to conduct the measurement. Irregular Rhythm Notification measurements typically populate `algorithm_version`, `service_version`, and `device_model`.",
          "readOnly": true
        },
        "alertWindows": {
          "items": {
            "$ref": "AlertWindow"
          },
          "type": "array",
          "description": "Optional. The overlapping analysis windows that were used to evaluate rhythm for potential AFib, containing specific information about the user's heart rhythm."
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "SessionTimeInterval"
        }
      },
      "description": "Represents an Irregular Rhythm Notification alert, indicating a potential sign of atrial fibrillation (AFib). This data type is based on SaMD feature and any changes to it may require additional review."
    },
    "Symptoms": {
      "properties": {
        "symptoms": {
          "description": "Required. List of symptoms experienced.",
          "items": {
            "type": "string",
            "enum": [
              "SYMPTOM_VALUE_UNSPECIFIED",
              "CRAMPS",
              "HEADACHE",
              "TENDER_BREASTS",
              "ACNE",
              "SICK",
              "BLOATED",
              "HOT_FLASHES",
              "PMS",
              "COUGH",
              "FEVER",
              "DIFFICULTY_BREATHING",
              "BACK_PAIN",
              "SHAKINESS",
              "HUNGER",
              "SWEATING",
              "ANXIETY",
              "THIRST",
              "FREQUENT_URINATION",
              "BLURRED_VISION",
              "OTHER",
              "SEX_DRIVE_HIGH",
              "SEX_DRIVE_MEDIUM",
              "SEX_DRIVE_LOW",
              "HEART_PALPITATIONS",
              "FAINTING",
              "CHEST_PAIN",
              "FATIGUE",
              "CONFUSION",
              "DIZZINESS",
              "ABDOMINAL_PAIN",
              "BLADDER_LEAKS",
              "BLEEDING_GUMS",
              "BRAIN_FOG",
              "BURNING_MOUTH",
              "CONSTIPATION",
              "CRAVINGS",
              "DECREASED_APPETITE",
              "DIARRHEA",
              "DRAWING_PAIN",
              "DRY_EYES",
              "DRY_HAIR",
              "DRY_SKIN",
              "EXHAUSTION",
              "FEEL_GOOD",
              "FOOD_AVERSIONS",
              "HAIR_LOSS",
              "HEARTBURN",
              "HYPERPIGMENTATION",
              "INCREASED_APPETITE",
              "INCREASED_APPETITE_V2",
              "INSOMNIA",
              "JOINT_PAIN",
              "LEG_CRAMPS",
              "MILKY_NIPPLE_DISCHARGE",
              "NAUSEA",
              "NIGHT_SWEATS",
              "NORMAL_DIGESTION",
              "NORMAL_STOOL",
              "PERINEUM_PAIN",
              "SLEEPINESS",
              "STRETCH_MARKS",
              "SWELLING",
              "VAGINAL_DRYNESS",
              "VAGINAL_ITCHING",
              "VOMITING"
            ],
            "enumDescriptions": [
              "Unspecified symptom value.",
              "Abdominal cramps.",
              "Headache.",
              "Tender breasts.",
              "Acne.",
              "Feeling sick or unwell.",
              "Bloating or abdominal swelling.",
              "Hot flashes.",
              "Premenstrual syndrome symptoms.",
              "Coughing.",
              "Fever or elevated body temperature.",
              "Difficulty breathing or shortness of breath.",
              "Back pain.",
              "Shakiness or tremors.",
              "Excessive hunger.",
              "Excessive sweating.",
              "Anxiety or nervousness.",
              "Excessive thirst.",
              "Frequent urination.",
              "Blurred vision.",
              "Other symptoms.",
              "High sex drive.",
              "Medium sex drive.",
              "Low sex drive.",
              "Heart palpitations or racing heart.",
              "Fainting or loss of consciousness.",
              "Chest pain or discomfort.",
              "Fatigue or extreme tiredness.",
              "Confusion or mental fogginess.",
              "Dizziness or lightheadedness.",
              "Abdominal pain.",
              "Bladder leaks.",
              "Bleeding gums.",
              "Brain fog.",
              "Burning mouth.",
              "Constipation.",
              "Food cravings.",
              "Decreased appetite.",
              "Diarrhea.",
              "Drawing pain.",
              "Dry eyes.",
              "Dry hair.",
              "Dry skin.",
              "Exhaustion.",
              "Feeling good or well.",
              "Food aversions.",
              "Hair loss.",
              "Heartburn.",
              "Hyperpigmentation.",
              "Increased appetite.",
              "Increased appetite V2.",
              "Insomnia or difficulty sleeping.",
              "Joint pain.",
              "Leg cramps.",
              "Milky nipple discharge.",
              "Nausea.",
              "Night sweats.",
              "Normal digestion.",
              "Normal stool.",
              "Perineum pain.",
              "Sleepiness or drowsiness.",
              "Stretch marks.",
              "Swelling.",
              "Vaginal dryness.",
              "Vaginal itching.",
              "Vomiting."
            ]
          },
          "type": "array"
        },
        "sampleTime": {
          "description": "Required. Time when the symptoms were logged.",
          "$ref": "ObservationSampleTime"
        }
      },
      "description": "Symptoms logged by the user.",
      "type": "object",
      "id": "Symptoms"
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "type": "object",
      "properties": {
        "kcal": {
          "type": "number",
          "format": "double",
          "description": "The amount of kilocalories burned in the specified heart rate zone."
        },
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ]
        }
      },
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone."
    },
    "Profile": {
      "description": "Profile details.",
      "id": "Profile",
      "properties": {
        "userConfiguredWalkingStrideLengthMm": {
          "format": "int32",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "type": "integer"
        },
        "autoRunningStrideLengthMm": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "type": "integer"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "autoWalkingStrideLengthMm": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to the following access scope to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly`",
          "readOnly": true
        },
        "age": {
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "format": "int32",
          "type": "integer"
        },
        "membershipStartDate": {
          "readOnly": true,
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "Weight": {
      "id": "Weight",
      "properties": {
        "weightGrams": {
          "format": "double",
          "description": "Required. Weight of a user in grams.",
          "type": "number"
        },
        "sampleTime": {
          "description": "Required. The time at which the weight was measured",
          "$ref": "ObservationSampleTime"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      },
      "description": "Body weight measurement.",
      "type": "object"
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "properties": {
        "standardDeviation": {
          "type": "number",
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "format": "double"
        },
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. Average breaths per minute.",
          "format": "double"
        },
        "signalToNoise": {
          "description": "Optional. How trustworthy the data is for the computation.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "RespiratoryRateSleepSummaryStatistics"
    },
    "DailyVO2Max": {
      "id": "DailyVO2Max",
      "type": "object",
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. The date for which the Daily VO2 max was measured."
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "type": "number",
          "format": "double"
        },
        "vo2MaxCovariance": {
          "type": "number",
          "format": "double",
          "description": "Optional. The covariance of the VO2 max value."
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "cardioFitnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ]
        }
      }
    },
    "DailyOxygenSaturation": {
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record."
        },
        "lowerBoundPercentage": {
          "format": "double",
          "type": "number",
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep."
        },
        "standardDeviationPercentage": {
          "type": "number",
          "format": "double",
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days."
        },
        "upperBoundPercentage": {
          "format": "double",
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "type": "number"
        },
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailyOxygenSaturation",
      "type": "object",
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep."
    },
    "WeightQuantityRollup": {
      "id": "WeightQuantityRollup",
      "type": "object",
      "properties": {
        "userProvidedUnitLast": {
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "GRAM",
            "KILOGRAM",
            "OUNCE",
            "POUND",
            "STONE",
            "MILLIGRAM",
            "MICROGRAM",
            "NANOGRAM"
          ],
          "description": "Optional. The user provided unit on the last element.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified weight unit.",
            "Value representing gram.",
            "Value representing kilogram.",
            "Value representing ounce.",
            "Value representing pound.",
            "Value representing stone.",
            "Value representing milligram.",
            "Value representing microgram.",
            "Value representing nanogram."
          ]
        },
        "gramsSum": {
          "type": "number",
          "description": "Required. The sum of the weight in grams.",
          "format": "double"
        }
      },
      "description": "Rollup for the weight."
    },
    "RunVO2MaxRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "properties": {
        "rateMax": {
          "description": "Maximum value of run VO2 max in the interval.",
          "type": "number",
          "format": "double"
        },
        "rateAvg": {
          "description": "Average value of run VO2 max in the interval.",
          "format": "double",
          "type": "number"
        },
        "rateMin": {
          "type": "number",
          "description": "Minimum value of run VO2 max in the interval..",
          "format": "double"
        }
      },
      "id": "RunVO2MaxRollupValue"
    },
    "ActiveZoneMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "type": "object",
      "id": "ActiveZoneMinutesRollupValue",
      "properties": {
        "sumInFatBurnHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "format": "int64",
          "type": "string"
        },
        "sumInPeakHeartZone": {
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "type": "string"
        },
        "sumInCardioHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PairedDevice": {
      "properties": {
        "deviceVersion": {
          "type": "string",
          "description": "Output only. The product name of the device",
          "readOnly": true
        },
        "batteryStatus": {
          "description": "Output only. The battery status of the device. Supported: High | Medium | Low | Empty",
          "type": "string",
          "readOnly": true
        },
        "macAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Mac ID number of the device."
        },
        "lastSyncTime": {
          "readOnly": true,
          "description": "Output only. The time of last sync with the Fitbit mobile application.",
          "type": "string",
          "format": "google-datetime"
        },
        "features": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Lists of unique features supported by the device. Comprehensive list of supported features: **Fitness Tracking** - `ACTIVE_MINUTES`: Legacy active minutes. - `AUTOSTRIDE`: Automatic stride length calculation. - `BIKE_ONBOARDING`: Cycling UI support. - `CALORIES`: Daily burned calories. - `DISTANCE`: Daily distance tracking. - `ELEVATION`: Floors climbed. - `INACTIVITY_ALERTS`: Reminders to move. - `SEDENTARY_TIME`: Tracks inactive time. - `STEPS`: Daily steps. - `SWIM`: Swim tracking (laps/strokes). - `AUTORUN`: Automatic run detection. - `ACTIVE_ZONE_MINUTES`: Active Zone Minutes (AZM). **Heart Rate & Health** - `HEART_RATE`: Continuous heart rate (PPG). - `BAT_SIGNAL`: High/Low Heart Rate Alerts. **Advanced Sensors** - `SPO2`: Blood oxygen saturation. - `NIGHTTIME_OXYGEN_SATURATION`: Sleep SpO2. - `ESTIMATED_OXYGEN_VARIATION`: Estimated Oxygen Variation. - `EDA`: Electrodermal Activity (stress). - `SKIN_TEMPERATURE`: Skin temperature variation. - `INTERNAL_DEVICE_TEMPERATURE`: Internal device temperature. **Sleep & Wellness** - `SLEEP`: Basic sleep tracking. - `SMART_SLEEP`: Advanced sleep tracking (stages/score). - `BEDTIME_REMINDER`: Bedtime reminders. - `SOUNDSCAPE`: Snore and noise detection. **Advanced Workouts** - `WB`: Custom Workout Builder. - `AUTOCUES`: Auto Cues / Auto Lap. - `DWR_RUN`: Daily Run Recommendations. - `ADVANCED_RUNNING`: Advanced Running Dynamics (e.g., GCT, VO). **GPS & Location** - `GPS`: Built-in GPS. - `CONNECTED_GPS`: Connected GPS (uses phone). - `LOCATION_HINT`: Location helper. **Payments & NFC** - `PAYMENTS`: NFC payments (Fitbit Pay/Google Wallet). - `FELICA`: FeliCa support (Japan payments/transit). **Activity Detection** - `GROK`: SmartTrack automatic activity detection. - `RETRO_AR`: Retroactive Activity Recognition prompts. **Smart Features & UI** - `ALARMS`: Silent alarms. - `BLE_MUSIC_CONTROL`: BLE music control. - `MUSIC`: Direct music storage/control. - `YOUTUBE_MUSIC_SUPPORTED`: YouTube Music support. - `GALLERY`: App Gallery. - `TUTORIAL_SUPPORTED`: On-screen tutorials. - `SMILEY_EMOTE`: Legacy Zip face. - `MOBILE_TO_DEVICE_DEEPLINK`: Mobile to device settings deep link. - `HIDE_GALLERY`: Option to hide Gallery. - `HIDE_GOAL_SELECTION`: Option to hide goal selection. - `DIGITAL_WARRANTY_SUPPORTED`: Digital warranty display. - `DIRECT_DEVICE_SETTINGS_SUPPORTED`: Direct device settings management. **Gym HR Broadcasting** - `ASPEN_SUPPORTED`: Broadcast HR to gym equipment. - `ASPEN_REMOTE_UI_SUPPORTED`: Remote UI for HR sharing. **Privacy & Security** - `FINITE_IMPROBABILITY`: BLE Resolvable Private Address (RPA) privacy. - `DOMAIN_KEY_SYNC`: Domain key synchronization. **BLE Protocol** - `BONDING`: Secure BLE bonding. - `ADVERTISES_SERIAL`: Advertises serial number. - `STATUS_CHARACTERISTIC`: BLE Status Characteristic. - `TRACKER_CHANNEL_CHARACTERISTIC`: BLE Tracker Channel Characteristic. - `PING_CHARACTERISTIC`: BLE Ping Characteristic. **Cellular & Wi-Fi** - `MOBILE_DATA`: LTE cellular support. - `SINGLE_AP_WIFI`: Single AP Wi-Fi. - `MULTI_AP_WIFI`: Multi AP Wi-Fi. - `WIFI_FWUP`: Firmware updates over Wi-Fi. **Data Sync & Transfer** - `APP_SYNC`: Background app sync. - `LIVE_DATA`: Real-time data streaming. - `EVENT_BASED_SYNC_SUPPORTED`: Event-based sync. - `TIME_SERVICE`: Time synchronization service. - `REMOTE_FILE_PROVIDER`: Remote file transfer. - `DIRECT_COMMS_ALARMS`: Direct communication for alarms. - `DIRECT_COMMS_EXERCISE`: Direct communication for exercise. - `DIRECT_COMMS_BATTERY_ALERTS`: Direct communication for battery alerts. **Google Integrations** - `PARROT_TREE_SUPPORTED`: Find My Device support."
        },
        "deviceType": {
          "enumDescriptions": [
            "Device type is not specified.",
            "Device type is tracker.",
            "Device type is scale."
          ],
          "readOnly": true,
          "description": "Output only. The device type. Supported: TRACKER | SCALE",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "TRACKER",
            "SCALE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Device resource. Format: `users/{user}/pairedDevices/{paired_device}` Example: `users/1234567890/pairedDevices/123` or `users/me/pairedDevices/123`"
        },
        "batteryLevel": {
          "description": "Output only. The battery level of the device.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "User's Paired 1P Device The PairedDevice details include information about the device type, battery status, battery level, last sync time, device version, mac address, and features.",
      "type": "object",
      "id": "PairedDevice"
    },
    "Floors": {
      "id": "Floors",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of floors in the recorded interval"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval"
        }
      },
      "description": "Gained elevation measured in floors over the time interval",
      "type": "object"
    },
    "FoodMeasurementUnit": {
      "type": "object",
      "properties": {
        "pluralDisplayName": {
          "description": "Optional. The plural display name of the food measurement unit (e.g., \"grams\", \"pieces\").",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the food measurement unit (e.g., \"gram\", \"piece\")."
        }
      },
      "id": "FoodMeasurementUnit",
      "description": "Represents a food measurement unit."
    },
    "NutritionLog": {
      "id": "NutritionLog",
      "description": "Holds information about food logged by a user. There are two ways of creating a nutrition log based on the food type: 1. Identified food: Using the food field, which is a reference to a Food resource. In this case fields `nutrients`, `energy`, `energy_from_fat`, `total_carbohydrate`, `total_fat`, `food_display_name` will be populated based on the referenced food. 2. Anonymous food: Using the `food_display_name` field and setting the `nutrients`, `energy`, `energy_from_fat`, `total_carbohydrate`, `total_fat` fields manually. The identified food is preferred over the anonymous food. Nutrition logs created from anonymous food are not editable.",
      "type": "object",
      "properties": {
        "food": {
          "type": "string",
          "description": "Optional. The resource name of the Food item. Required when creating a nutrition log from an identified food. For anonymous food logs, use the `food_display_name` field instead."
        },
        "totalFat": {
          "description": "Optional. The total fat content, measured in grams.",
          "$ref": "WeightQuantity"
        },
        "mealType": {
          "description": "Optional. The meal category. One of `BREAKFAST`, `LUNCH`, `DINNER`, or `SNACK`.",
          "enum": [
            "MEAL_TYPE_UNSPECIFIED",
            "BEFORE_BREAKFAST",
            "BREAKFAST",
            "BEFORE_LUNCH",
            "LUNCH",
            "BEFORE_DINNER",
            "DINNER",
            "AFTER_DINNER",
            "SNACK",
            "ANYTIME"
          ],
          "enumDescriptions": [
            "Unspecified meal type.",
            "Value representing a meal before breakfast.",
            "Value representing a breakfast.",
            "Value representing a morning snack.",
            "Value representing a lunch.",
            "Value representing an afternoon snack.",
            "Value representing dinner.",
            "Value representing an evening snack.",
            "Value representing any meal outside of the usual three meals per day.",
            "Value representing any time (legacy NA)."
          ],
          "type": "string"
        },
        "serving": {
          "description": "Optional. The serving information for the logged food.",
          "$ref": "Serving"
        },
        "energy": {
          "$ref": "EnergyQuantity",
          "description": "Optional. The total energy of the food, measured in kilocalories (`kcal`)."
        },
        "foodDisplayName": {
          "type": "string",
          "description": "The display name of the food. For identified food logs, this is populated automatically from the referenced food."
        },
        "energyFromFat": {
          "$ref": "EnergyQuantity",
          "description": "Optional. The energy from fat, measured in kilocalories (`kcal`)."
        },
        "totalCarbohydrate": {
          "description": "Optional. The total carbohydrate content, measured in grams.",
          "$ref": "WeightQuantity"
        },
        "interval": {
          "description": "Required. The time window when the food was logged.",
          "$ref": "SessionTimeInterval"
        },
        "nutrients": {
          "items": {
            "$ref": "NutrientQuantity"
          },
          "description": "Optional. An array of individual nutrient values for the nutrition log.",
          "type": "array"
        }
      }
    },
    "DailyRestingHeartRateMetadata": {
      "properties": {
        "calculationMethod": {
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "description": "Required. The method used to calculate the resting heart rate.",
          "type": "string",
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ]
        }
      },
      "id": "DailyRestingHeartRateMetadata",
      "description": "Metadata for the daily resting heart rate.",
      "type": "object"
    },
    "ActivityLevelRollupValue": {
      "id": "ActivityLevelRollupValue",
      "type": "object",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "description": "List of total durations in each activity level type.",
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          },
          "type": "array"
        }
      },
      "description": "Represents the result of the rollup of the activity level data type."
    },
    "Subscription": {
      "id": "Subscription",
      "description": "A subscription to a data collection for a specific user, to be delivered to a subscriber.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Subscription. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {project} ID is mandatory (6-30 characters, matching /a-z{6,30}/) The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise.",
          "type": "string"
        },
        "user": {
          "description": "Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`).",
          "type": "string"
        },
        "dataTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Data types subscribed to. A subscriber will only receive notifications for data types that are declared here. A subscription can only subscribe to the data types of the subscriber. The values should be in the format \"users/{health_user_id}/dataTypes/{data_type}\" where `{data_type}` is one of \"altitude\", \"distance\", \"floors\", \"sleep\", \"steps\", \"weight\"."
        }
      },
      "type": "object"
    },
    "WeightQuantity": {
      "description": "Represents the weight quantity.",
      "id": "WeightQuantity",
      "type": "object",
      "properties": {
        "grams": {
          "format": "double",
          "description": "Required. The weight value in grams.",
          "type": "number"
        },
        "userProvidedUnit": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified weight unit.",
            "Value representing gram.",
            "Value representing kilogram.",
            "Value representing ounce.",
            "Value representing pound.",
            "Value representing stone.",
            "Value representing milligram.",
            "Value representing microgram.",
            "Value representing nanogram."
          ],
          "description": "Optional. Value representing the user provided unit.",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "GRAM",
            "KILOGRAM",
            "OUNCE",
            "POUND",
            "STONE",
            "MILLIGRAM",
            "MICROGRAM",
            "NANOGRAM"
          ]
        }
      }
    },
    "HeartBeat": {
      "description": "A single heart beat measurement.",
      "id": "HeartBeat",
      "type": "object",
      "properties": {
        "physicalTime": {
          "format": "google-datetime",
          "description": "Required. The time of the heart beat measurement.",
          "type": "string"
        },
        "beatsPerMinute": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The beats-per-minute value extrapolated from the time before the following heart beat. This is calculated as 60000 / rr, where rr is the gap between heart beats in milliseconds (IBI - Interbeat Interval)."
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Required. The UTC offset of the user's timezone when the heart beat measurement occurred.",
          "type": "string"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "$ref": "CivilDateTime",
          "readOnly": true
        }
      }
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. Observation time"
        },
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "type": "string",
          "format": "int64"
        },
        "metadata": {
          "description": "Optional. Metadata about the heart rate sample.",
          "$ref": "HeartRateMetadata"
        }
      },
      "type": "object",
      "id": "HeartRate"
    },
    "Interval": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "type": "object"
    },
    "Subscriber": {
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "id": "Subscriber",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "description": "Output only. The state of the subscriber.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscriber was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which the subscriber was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endpointAuthorization": {
          "$ref": "EndpointAuthorization",
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified."
        },
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details.",
          "type": "string"
        },
        "subscriberConfigs": {
          "type": "array",
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
          "type": "string"
        }
      }
    },
    "DistanceRollupValue": {
      "description": "Result of the rollup of the user's distance.",
      "type": "object",
      "properties": {
        "millimetersSum": {
          "description": "Sum of the distance in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DistanceRollupValue"
    },
    "HeartRateZone": {
      "type": "object",
      "description": "The heart rate zone.",
      "id": "HeartRateZone",
      "properties": {
        "minBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        },
        "maxBeatsPerMinute": {
          "format": "int64",
          "type": "string",
          "description": "Required. Maximum heart rate for this zone in beats per minute."
        },
        "heartRateZoneType": {
          "type": "string",
          "description": "Required. The heart rate zone type.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ]
        }
      }
    },
    "RollupDataPoint": {
      "description": "Value of a rollup for a single physical time interval (aggregation window) of reconciled data points from all data sources, excluding those data points that are identified as recorded by wearables in intervals when they were not actually worn.",
      "id": "RollupDataPoint",
      "properties": {
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "nutritionLog": {
          "$ref": "NutritionLogRollupValue",
          "description": "Returned by default when rolling up data points from the `nutrition-log` data type, or when requested explicitly using the `nutrition-log` rollup type identifier."
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "runVo2Max": {
          "$ref": "RunVO2MaxRollupValue",
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier."
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of the window this value aggregates over"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "bloodGlucose": {
          "$ref": "BloodGlucoseRollupValue",
          "description": "Returned by default when rolling up data points from the `blood-glucose` data type."
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperatureRollupValue",
          "description": "Returned by default when rolling up data points from the `core-body-temperature` data type, or when requested explicitly using the `core-body-temperature` rollup type identifier."
        },
        "activeEnergyBurned": {
          "description": "Returned by default when rolling up data points from the `active-energy-burned` data type.",
          "$ref": "ActiveEnergyBurnedRollupValue"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of the window this value aggregates over",
          "type": "string"
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        }
      },
      "type": "object"
    },
    "TimeInHeartRateZoneValue": {
      "type": "object",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "id": "TimeInHeartRateZoneValue",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "The total time spent in the specified heart rate zone.",
          "format": "google-duration"
        }
      }
    },
    "CoreBodyTemperature": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. The unique identifier of the core body temperature measurement.",
          "type": "string"
        },
        "measurementLocation": {
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "ARMPIT",
            "BODY",
            "EAR",
            "FINGER",
            "GASTRO_INTESTINAL",
            "MOUTH",
            "RECTUM",
            "TOE",
            "EAR_DRUM",
            "TEMPORAL_ARTERY",
            "FOREHEAD",
            "URINARY_BLADDER",
            "NASAL",
            "NASOPHARYNGEAL",
            "WRIST",
            "VAGINA"
          ],
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Armpit measurement location.",
            "Body measurement location.",
            "Ear measurement location.",
            "Finger measurement location.",
            "Gastro-intestinal measurement location.",
            "Mouth measurement location.",
            "Rectum measurement location.",
            "Toe measurement location.",
            "Ear drum measurement location.",
            "Temporal artery measurement location.",
            "Forehead measurement location.",
            "Urinary bladder measurement location.",
            "Nasal measurement location.",
            "Nasopharyngeal measurement location.",
            "Wrist measurement location.",
            "Vagina measurement location."
          ],
          "description": "Optional. The location of the core body temperature measurement.",
          "type": "string"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which core body temperature was measured."
        },
        "temperatureCelsius": {
          "type": "number",
          "description": "Required. The core body temperature in Celsius.",
          "format": "double"
        }
      },
      "description": "Core body temperature measurement, distinct from peripheral body temperature, reflects the temperature of the body's internal organs.",
      "id": "CoreBodyTemperature"
    },
    "TimeInHeartRateZones": {
      "properties": {
        "lightTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Time spent in light heart rate zone."
        },
        "vigorousTime": {
          "type": "string",
          "description": "Optional. Time spent in vigorous heart rate zone.",
          "format": "google-duration"
        },
        "moderateTime": {
          "format": "google-duration",
          "description": "Optional. Time spent in moderate heart rate zone.",
          "type": "string"
        },
        "peakTime": {
          "description": "Optional. Time spent in peak heart rate zone.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Time spent in each heart rate zone.",
      "id": "TimeInHeartRateZones"
    },
    "HydrationLogRollupValue": {
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      },
      "type": "object",
      "description": "Represents the result of the rollup of the hydration log data type.",
      "id": "HydrationLogRollupValue"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "properties": {
        "caloriesInHeartRateZones": {
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone.",
          "type": "array"
        }
      },
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object"
    },
    "ActiveZoneMinutes": {
      "properties": {
        "heartRateZone": {
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ActiveZoneMinutes",
      "type": "object",
      "description": "Record of active zone minutes in a given time interval."
    },
    "Device": {
      "type": "object",
      "description": "Captures metadata about the device that recorded the measurement.",
      "id": "Device",
      "properties": {
        "formFactor": {
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "description": "Optional. Captures the form factor of the device.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Optional. An optional manufacturer of the device.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An optional name for the device."
        }
      }
    },
    "VO2Max": {
      "description": "VO2 max measurement.",
      "id": "VO2Max",
[...]
