{
  "fullyEncodeReservedExpansion": true,
  "id": "homegraph:v1",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "title": "HomeGraph API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Home Graph Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "rootUrl": "https://homegraph.googleapis.com/",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "homegraph",
  "version": "v1",
  "revision": "20260826",
  "baseUrl": "https://homegraph.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "batchPath": "batch",
  "schemas": {
    "EventData": {
      "properties": {
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp of the event.",
          "type": "string"
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "EventData",
      "type": "object",
      "description": "Contains the details for a single event."
    },
    "RequestSyncDevicesRequest": {
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "type": "object",
      "id": "RequestSyncDevicesRequest",
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "Events": {
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          }
        }
      },
      "type": "object",
      "description": "Contains a set of events for a specific component.",
      "id": "Events"
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "description": "Devices associated with the third-party user.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "description": "Payload containing device information.",
      "type": "object"
    },
    "AgentDeviceId": {
      "id": "AgentDeviceId",
      "description": "Third-party device ID for one device.",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ZoneStruct": {
      "id": "ZoneStruct",
      "properties": {
        "label": {
          "type": "string",
          "description": "Name of the zone."
        },
        "zoneId": {
          "format": "int64",
          "type": "string",
          "description": "Id of the zone"
        }
      },
      "type": "object"
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "properties": {
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "type": "object"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      },
      "type": "object"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "properties": {
        "deviceBlame": {
          "$ref": "DeviceBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device."
        },
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        }
      },
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "id": "StructurePresenceStateChangeReasonStruct",
      "type": "object"
    },
    "MotionEvent": {
      "type": "object",
      "properties": {
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "zones": {
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "id": "MotionEvent",
      "description": "Represents a newly detected motion event."
    },
    "Device": {
      "description": "Third-party device definition.",
      "id": "Device",
      "type": "object",
      "properties": {
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "traits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "otherDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "willReportState": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
        },
        "customData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object"
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "DeviceBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "type": "object",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type.",
          "type": "string"
        }
      },
      "id": "DeviceBlameStruct"
    },
    "MediaUrlsStruct": {
      "properties": {
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        }
      },
      "id": "MediaUrlsStruct",
      "type": "object"
    },
    "HomeTraitUpdates": {
      "description": "Contains the set of updates for a device.",
      "type": "object",
      "id": "HomeTraitUpdates",
      "properties": {
        "components": {
          "description": "Required. Trait updates for each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        },
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        }
      }
    },
    "UserBlameStruct": {
      "properties": {
        "blameType": {
          "description": "Required. Specifies the user blame type.",
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ]
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserBlameStruct",
      "description": "Contains metadata about the cause of presence state change attributed to a user."
    },
    "DeviceMetadata": {
      "description": "Metadata for traits of a single device.",
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "object"
        }
      }
    },
    "TraitData": {
      "description": "Contains the trait payload for a single trait.",
      "type": "object",
      "properties": {
        "trait": {
          "type": "object",
          "description": "The Provider Home API trait payload.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "providerUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`."
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TraitData"
    },
    "QueryResponsePayload": {
      "properties": {
        "deviceMetadata": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          }
        },
        "devices": {
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states."
        },
        "homeTraitPayload": {
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "type": "object"
        }
      },
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload",
      "type": "object"
    },
    "ReportStateAndNotificationRequest": {
      "id": "ReportStateAndNotificationRequest",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        },
        "followUpToken": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```"
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "properties": {
        "wattAccumulated": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "childLock": {
          "type": "boolean"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "watt": {
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "statusFault": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "loggingMetadata": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "airPressure": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "loggingControlPoint": {
          "format": "byte",
          "type": "string"
        },
        "rloc16": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "loggingData": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "getConfig": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "weatherTrend": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "lastEventTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "current": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "voltage": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "acceptedCommandList": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enumDeprecated": [
              true
            ],
            "type": "string",
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "setConfig": {
          "format": "byte",
          "type": "string"
        },
        "obstructionDetected": {
          "type": "boolean",
          "readOnly": true
        },
        "loggingTime": {
          "format": "byte",
          "type": "string"
        },
        "openCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "type": "object"
    },
    "QueryRequestPayload": {
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "id": "QueryRequestPayload",
      "type": "object",
      "description": "Payload containing device IDs."
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "properties": {
        "timerEnd": {
          "format": "int64",
          "type": "string"
        },
        "timerSpeed": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ]
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "This cluster provides fan control capabilities for thermostats."
    },
    "StateAndNotificationPayload": {
      "type": "object",
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "id": "StateAndNotificationPayload"
    },
    "Result": {
      "description": "Result of reporting state and notifications for a single device.",
      "id": "Result",
      "type": "object",
      "properties": {
        "homeTraitCommitTime": {
          "type": "string",
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "format": "google-datetime"
        }
      }
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "type": "object",
      "properties": {
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states."
        },
        "deviceView": {
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
        }
      }
    },
    "CameraEventStreamTrait": {
      "properties": {},
      "type": "object",
      "id": "CameraEventStreamTrait",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow"
    },
    "HomeTraitPayload": {
      "description": "Container for UDDM trait data associated with a device.",
      "id": "HomeTraitPayload",
      "properties": {
        "rootComponent": {
          "$ref": "Component",
          "description": "The root component of the device as reported by the provider."
        }
      },
      "type": "object"
    },
    "QueryRequestInput": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest."
    },
    "PartnerPresenceSignalTrait": {
      "properties": {},
      "type": "object",
      "id": "PartnerPresenceSignalTrait",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:"
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "properties": {
        "defaultNames": {
          "type": "array",
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "items": {
            "type": "string"
          }
        },
        "nicknames": {
          "description": "Additional names provided by the user for the device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        }
      },
      "id": "DeviceNames",
      "type": "object"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "properties": {
        "states": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeEvents": {
          "type": "array",
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          }
        },
        "notifications": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeTraits": {
          "type": "array",
          "description": "Optional. UDDM/WHDM trait updates.",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        }
      }
    },
    "StructurePresenceStateChangeEvent": {
      "id": "StructurePresenceStateChangeEvent",
      "description": "Sent when the structure presence state changes.",
      "properties": {
        "presenceState": {
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "description": "Required. Specifies the presence state.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "type": "object"
    },
    "ComponentTraitUpdates": {
      "description": "Contains the set of updates for a component.",
      "id": "ComponentTraitUpdates",
      "type": "object",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "type": "array",
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "HomeEvents": {
      "type": "object",
      "description": "Contains the set of events for an item.",
      "id": "HomeEvents",
      "properties": {
        "events": {
          "description": "Required. List of events for the item.",
          "type": "array",
          "items": {
            "$ref": "Events"
          }
        },
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        }
      }
    },
    "AgentOtherDeviceId": {
      "type": "object",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId"
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "properties": {},
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "DeviceInfo": {
      "type": "object",
      "id": "DeviceInfo",
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "model": {
          "type": "string",
          "description": "Device model."
        }
      },
      "description": "Device information."
    },
    "Component": {
      "properties": {
        "childComponents": {
          "type": "array",
          "items": {
            "$ref": "Component"
          },
          "description": "Optional. Child components."
        },
        "deviceTypes": {
          "type": "array",
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "items": {
            "type": "string"
          }
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        }
      },
      "id": "Component",
      "type": "object",
      "description": "Component of a provider device."
    },
    "SyncRequest": {
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        }
      },
      "type": "object",
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "PersonEvent": {
      "description": "Represents a newly detected person event.",
      "type": "object",
      "id": "PersonEvent",
      "properties": {
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      }
    },
    "CommonEventDataStruct": {
      "description": "Common camera event data.",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        },
        "trackId": {
          "description": "Id of the track this object belongs to",
          "type": "string"
        }
      },
      "id": "CommonEventDataStruct"
    },
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      },
      "id": "SyncResponse",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    }
  },
  "resources": {
    "agentUsers": {
      "methods": {
        "delete": {
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "id": "homegraph.agentUsers.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [
            "agentUserId"
          ],
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/{+agentUserId}",
          "parameters": {
            "agentUserId": {
              "type": "string",
              "description": "Required. Third-party user ID.",
              "pattern": "^agentUsers/.*$",
              "location": "path",
              "required": true
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Request ID used for debugging."
            }
          }
        }
      }
    },
    "devices": {
      "methods": {
        "requestSync": {
          "parameters": {},
          "path": "v1/devices:requestSync",
          "id": "homegraph.devices.requestSync",
          "flatPath": "v1/devices:requestSync",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          }
        },
        "sync": {
          "parameters": {},
          "path": "v1/devices:sync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "request": {
            "$ref": "SyncRequest"
          },
          "flatPath": "v1/devices:sync",
          "id": "homegraph.devices.sync",
          "response": {
            "$ref": "SyncResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "reportStateAndNotification": {
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "path": "v1/devices:reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.reportStateAndNotification",
          "httpMethod": "POST",
          "flatPath": "v1/devices:reportStateAndNotification"
        },
        "query": {
          "response": {
            "$ref": "QueryResponse"
          },
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "path": "v1/devices:query",
          "flatPath": "v1/devices:query",
          "httpMethod": "POST",
          "id": "homegraph.devices.query",
          "request": {
            "$ref": "QueryRequest"
          },
          "parameters": {},
          "parameterOrder": []
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started"
}