{
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "revision": "20260915",
  "name": "homegraph",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "resources": {
    "devices": {
      "methods": {
        "query": {
          "id": "homegraph.devices.query",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:query",
          "response": {
            "$ref": "QueryResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryRequest"
          },
          "flatPath": "v1/devices:query"
        },
        "sync": {
          "path": "v1/devices:sync",
          "response": {
            "$ref": "SyncResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "SyncRequest"
          },
          "flatPath": "v1/devices:sync",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.devices.sync"
        },
        "requestSync": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "id": "homegraph.devices.requestSync",
          "flatPath": "v1/devices:requestSync",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "path": "v1/devices:requestSync",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          }
        },
        "reportStateAndNotification": {
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/devices:reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "httpMethod": "POST",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.reportStateAndNotification",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Request ID used for debugging."
            },
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "required": true,
              "description": "Required. Third-party user ID.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "homegraph.agentUsers.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [
            "agentUserId"
          ],
          "path": "v1/{+agentUserId}",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    }
  },
  "title": "HomeGraph API",
  "rootUrl": "https://homegraph.googleapis.com/",
  "canonicalName": "Home Graph Service",
  "id": "homegraph:v1",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "Result": {
      "description": "Result of reporting state and notifications for a single device.",
      "type": "object",
      "id": "Result",
      "properties": {
        "homeTraitCommitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "type": "object",
      "id": "RequestSyncDevicesRequest",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device.",
      "properties": {
        "homeEvents": {
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array"
        },
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "states": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeTraits": {
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "type": "array",
          "description": "Optional. UDDM/WHDM trait updates."
        }
      }
    },
    "StateAndNotificationPayload": {
      "description": "Payload containing the state and notification information for devices.",
      "type": "object",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "id": "StateAndNotificationPayload"
    },
    "AgentOtherDeviceId": {
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      },
      "type": "object"
    },
    "ZoneStruct": {
      "id": "ZoneStruct",
      "properties": {
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        },
        "zoneId": {
          "type": "string",
          "format": "int64",
          "description": "Id of the zone"
        }
      },
      "type": "object"
    },
    "UserBlameStruct": {
      "properties": {
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        },
        "blameType": {
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type.",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "id": "UserBlameStruct"
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "type": "object",
      "id": "QueryResponse"
    },
    "TraitData": {
      "type": "object",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "trait": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The Provider Home API trait payload."
        },
        "providerUpdateTime": {
          "type": "string",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime"
        }
      },
      "id": "TraitData"
    },
    "MediaUrlsStruct": {
      "properties": {
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "previewUrl": {
          "type": "string",
          "description": "URL for animated preview clip representing the event session"
        },
        "dashManifestUrl": {
          "description": "URL for a dash manifest for playback",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        }
      },
      "id": "MediaUrlsStruct",
      "type": "object"
    },
    "QueryResponsePayload": {
      "type": "object",
      "id": "QueryResponsePayload",
      "description": "Payload containing device states information.",
      "properties": {
        "deviceMetadata": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
        },
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        },
        "devices": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "States of the devices. Map of third-party device ID to struct of device states."
        }
      }
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "description": "Contains the set of updates for a device.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        },
        "components": {
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "type": "array",
          "description": "Required. Trait updates for each component."
        }
      },
      "type": "object"
    },
    "PartnerPresenceSignalTrait": {
      "id": "PartnerPresenceSignalTrait",
      "type": "object",
      "properties": {},
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "QueryRequestInput": {
      "description": "Device ID inputs to QueryRequest.",
      "type": "object",
      "id": "QueryRequestInput",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      }
    },
    "QueryRequest": {
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "deviceView": {
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ]
        },
        "inputs": {
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        }
      },
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "id": "QueryRequest"
    },
    "SyncResponse": {
      "type": "object",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      },
      "id": "SyncResponse"
    },
    "PersonEvent": {
      "id": "PersonEvent",
      "description": "Represents a newly detected person event.",
      "type": "object",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "description": "Zones where events are detected in.",
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          }
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        }
      }
    },
    "StructurePresenceStateChangeEvent": {
      "description": "Sent when the structure presence state changes.",
      "properties": {
        "presenceState": {
          "type": "string",
          "description": "Required. Specifies the presence state.",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ]
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "id": "StructurePresenceStateChangeEvent",
      "type": "object"
    },
    "HomeTraitPayload": {
      "id": "HomeTraitPayload",
      "type": "object",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      },
      "description": "Container for UDDM trait data associated with a device."
    },
    "ReportStateAndNotificationRequest": {
      "type": "object",
      "properties": {
        "followUpToken": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated."
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        }
      },
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "id": "ReportStateAndNotificationRequest"
    },
    "DeviceInfo": {
      "description": "Device information.",
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Device model."
        }
      }
    },
    "Device": {
      "id": "Device",
      "description": "Third-party device definition.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "attributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Attributes for the traits supported by the device."
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "otherDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        }
      },
      "type": "object"
    },
    "DeviceMetadata": {
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device."
    },
    "ComponentTraitUpdates": {
      "properties": {
        "traitData": {
          "type": "array",
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. The updated trait data for the component."
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "description": "Contains the set of updates for a component.",
      "id": "ComponentTraitUpdates",
      "type": "object"
    },
    "ReportStateAndNotificationResponse": {
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        },
        "deviceResults": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        }
      },
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "type": "object"
    },
    "DeviceBlameStruct": {
      "id": "DeviceBlameStruct",
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "properties": {
        "blameType": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type."
        }
      },
      "type": "object"
    },
    "AgentDeviceId": {
      "id": "AgentDeviceId",
      "description": "Third-party device ID for one device.",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MotionEvent": {
      "type": "object",
      "description": "Represents a newly detected motion event.",
      "id": "MotionEvent",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        }
      }
    },
    "DeviceNames": {
      "type": "object",
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames",
      "properties": {
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        }
      }
    },
    "ThermostatFanControlTrait": {
      "type": "object",
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats.",
      "properties": {
        "timerDuration": {
          "format": "int64",
          "type": "string"
        },
        "timerSpeed": {
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "timerEnd": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SyncResponsePayload": {
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user."
        }
      },
      "id": "SyncResponsePayload",
      "description": "Payload containing device information.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "StructurePresenceStateChangeReasonStruct": {
      "id": "StructurePresenceStateChangeReasonStruct",
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        }
      },
      "type": "object"
    },
    "HomeEvents": {
      "description": "Contains the set of events for an item.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        },
        "events": {
          "type": "array",
          "description": "Required. List of events for the item.",
          "items": {
            "$ref": "Events"
          }
        }
      },
      "type": "object",
      "id": "HomeEvents"
    },
    "SyncRequest": {
      "type": "object",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states."
        }
      },
      "id": "QueryRequestPayload"
    },
    "Events": {
      "id": "Events",
      "type": "object",
      "description": "Contains a set of events for a specific component.",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events."
        },
        "events": {
          "type": "array",
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          }
        }
      }
    },
    "CommonEventDataStruct": {
      "description": "Common camera event data.",
      "properties": {
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        },
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        }
      },
      "id": "CommonEventDataStruct",
      "type": "object"
    },
    "CameraEventStreamTrait": {
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "properties": {},
      "type": "object",
      "id": "CameraEventStreamTrait"
    },
    "EventData": {
      "description": "Contains the details for a single event.",
      "id": "EventData",
      "type": "object",
      "properties": {
        "event": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Required. The actual event payload."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp of the event."
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        }
      }
    },
    "EveUtilityTrait": {
      "properties": {
        "lastEventTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "setConfig": {
          "format": "byte",
          "type": "string"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "airPressure": {
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "rloc16": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "weatherTrend": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "watt": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "childLock": {
          "type": "boolean"
        },
        "statusFault": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "voltage": {
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "altitude": {
          "format": "double",
          "type": "number"
        },
        "getConfig": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "openCount": {
          "format": "int64",
          "type": "string"
        },
        "acceptedCommandList": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDeprecated": [
              true
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait",
          "type": "array",
          "readOnly": true
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "loggingData": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "loggingMetadata": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "current": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "accumulatedControlPoint": {
          "format": "int64",
          "type": "string"
        },
        "wattAccumulated": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "holdPosition": {
          "type": "boolean"
        }
      },
      "id": "EveUtilityTrait",
      "type": "object"
    },
    "Component": {
      "id": "Component",
      "description": "Component of a provider device.",
      "properties": {
        "deviceTypes": {
          "type": "array",
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "childComponents": {
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          },
          "type": "array"
        },
        "traitData": {
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. List of trait data associated with the component.",
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "version": "v1",
  "description": "",
  "ownerName": "Google",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "baseUrl": "https://homegraph.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": ""
}