{
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "basePath": "",
  "baseUrl": "https://homegraph.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://homegraph.googleapis.com/",
  "resources": {
    "devices": {
      "methods": {
        "sync": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "SyncRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.sync",
          "flatPath": "v1/devices:sync",
          "path": "v1/devices:sync",
          "response": {
            "$ref": "SyncResponse"
          }
        },
        "reportStateAndNotification": {
          "path": "v1/devices:reportStateAndNotification",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "parameterOrder": [],
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST",
          "id": "homegraph.devices.reportStateAndNotification",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "parameters": {}
        },
        "query": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.query",
          "parameters": {},
          "path": "v1/devices:query",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryRequest"
          },
          "flatPath": "v1/devices:query",
          "response": {
            "$ref": "QueryResponse"
          }
        },
        "requestSync": {
          "parameters": {},
          "path": "v1/devices:requestSync",
          "parameterOrder": [],
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/devices:requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.devices.requestSync"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [
            "agentUserId"
          ],
          "parameters": {
            "agentUserId": {
              "location": "path",
              "type": "string",
              "description": "Required. Third-party user ID.",
              "required": true,
              "pattern": "^agentUsers/.*$"
            },
            "requestId": {
              "type": "string",
              "description": "Request ID used for debugging.",
              "location": "query"
            }
          },
          "id": "homegraph.agentUsers.delete",
          "path": "v1/{+agentUserId}",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE"
        }
      }
    }
  },
  "schemas": {
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "id": "SyncResponse",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      },
      "type": "object"
    },
    "AgentDeviceId": {
      "type": "object",
      "id": "AgentDeviceId",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "description": "Third-party device ID for one device."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "properties": {
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeEvents": {
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          },
          "type": "array"
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "type": "array"
        }
      },
      "id": "ReportStateAndNotificationDevice",
      "type": "object"
    },
    "Result": {
      "type": "object",
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device.",
      "properties": {
        "homeTraitCommitTime": {
          "format": "google-datetime",
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "type": "string"
        }
      }
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user.",
          "type": "array"
        },
        "agentUserId": {
          "type": "string",
          "description": "Third-party user ID"
        }
      },
      "description": "Payload containing device information.",
      "type": "object"
    },
    "CameraEventStreamTrait": {
      "id": "CameraEventStreamTrait",
      "type": "object",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "properties": {}
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "type": "object",
      "description": "This cluster provides fan control capabilities for thermostats.",
      "properties": {
        "timerEnd": {
          "type": "string",
          "format": "int64"
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        },
        "timerSpeed": {
          "type": "string",
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Events": {
      "type": "object",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of events associated with the component.",
          "type": "array",
          "items": {
            "$ref": "EventData"
          }
        }
      },
      "description": "Contains a set of events for a specific component.",
      "id": "Events"
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "properties": {
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array"
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Attributes for the traits supported by the device."
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "traits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        }
      },
      "description": "Third-party device definition."
    },
    "MediaUrlsStruct": {
      "properties": {
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        },
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MediaUrlsStruct"
    },
    "RequestSyncDevicesRequest": {
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "id": "RequestSyncDevicesRequest",
      "type": "object"
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      }
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "type": "object",
      "properties": {
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "airPressure": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "acceptedCommandList": {
          "items": {
            "type": "string",
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enumDeprecated": [
              true
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait",
          "type": "array",
          "readOnly": true
        },
        "getConfig": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "watt": {
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "childLock": {
          "type": "boolean"
        },
        "current": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "rloc16": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "lastEventTime": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "loggingControlPoint": {
          "format": "byte",
          "type": "string"
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "motionSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "obstructionDetected": {
          "type": "boolean",
          "readOnly": true
        },
        "weatherTrend": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "statusFault": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "loggingMetadata": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "loggingData": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "voltage": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "wattAccumulated": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        }
      }
    },
    "RequestSyncDevicesResponse": {
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "properties": {}
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "type": "object",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "description": "Payload containing the state and notification information for devices."
    },
    "DeviceMetadata": {
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "format": "google-datetime",
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Metadata for traits of a single device.",
      "id": "DeviceMetadata"
    },
    "PersonEvent": {
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array",
          "description": "Zones where events are detected in."
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        }
      },
      "type": "object",
      "id": "PersonEvent",
      "description": "Represents a newly detected person event."
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item."
        },
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the set of events for an item."
    },
    "QueryRequest": {
      "type": "object",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "deviceView": {
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ]
        }
      },
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "StructurePresenceStateChangeEvent": {
      "description": "Sent when the structure presence state changes.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        },
        "presenceState": {
          "type": "string",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "description": "Required. Specifies the presence state."
        }
      },
      "id": "StructurePresenceStateChangeEvent"
    },
    "AgentOtherDeviceId": {
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      },
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId",
      "type": "object"
    },
    "DeviceNames": {
      "properties": {
        "nicknames": {
          "description": "Additional names provided by the user for the device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames",
      "type": "object"
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
        },
        "homeTraitPayload": {
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "type": "object"
        },
        "devices": {
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        }
      }
    },
    "ComponentTraitUpdates": {
      "properties": {
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          },
          "type": "array"
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComponentTraitUpdates",
      "description": "Contains the set of updates for a component."
    },
    "CommonEventDataStruct": {
      "type": "object",
      "description": "Common camera event data.",
      "id": "CommonEventDataStruct",
      "properties": {
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        },
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        },
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        }
      }
    },
    "HomeTraitUpdates": {
      "type": "object",
      "description": "Contains the set of updates for a device.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        },
        "components": {
          "type": "array",
          "description": "Required. Trait updates for each component.",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        }
      },
      "id": "HomeTraitUpdates"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "type": "object",
      "id": "StructurePresenceStateChangeReasonStruct",
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "properties": {
        "deviceBlame": {
          "$ref": "DeviceBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device."
        },
        "userBlame": {
          "$ref": "UserBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user."
        }
      }
    },
    "QueryRequestPayload": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload"
    },
    "Component": {
      "description": "Component of a provider device.",
      "id": "Component",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "items": {
            "$ref": "TraitData"
          },
          "type": "array",
          "description": "Required. List of trait data associated with the component."
        },
        "childComponents": {
          "type": "array",
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          }
        },
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array"
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "properties": {
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "followUpToken": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated."
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        }
      },
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "type": "object",
      "id": "ReportStateAndNotificationRequest"
    },
    "ZoneStruct": {
      "properties": {
        "zoneId": {
          "description": "Id of the zone",
          "type": "string",
          "format": "int64"
        },
        "label": {
          "type": "string",
          "description": "Name of the zone."
        }
      },
      "id": "ZoneStruct",
      "type": "object"
    },
    "UserBlameStruct": {
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "properties": {
        "blameType": {
          "type": "string",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type.",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ]
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      },
      "id": "UserBlameStruct"
    },
    "TraitData": {
      "description": "Contains the trait payload for a single trait.",
      "id": "TraitData",
      "type": "object",
      "properties": {
        "providerUpdateTime": {
          "type": "string",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime"
        },
        "trait": {
          "type": "object",
          "description": "The Provider Home API trait payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Other metadata for the trait. The time the client update was committed in the server."
        }
      }
    },
    "EventData": {
      "id": "EventData",
      "description": "Contains the details for a single event.",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "event": {
          "description": "Required. The actual event payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "MotionEvent": {
      "description": "Represents a newly detected motion event.",
      "type": "object",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in.",
          "type": "array"
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        }
      },
      "id": "MotionEvent"
    },
    "DeviceBlameStruct": {
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "id": "DeviceBlameStruct",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "type": "string",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type."
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "properties": {
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "type": "object",
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        },
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportStateAndNotificationResponse"
    },
    "HomeTraitPayload": {
      "id": "HomeTraitPayload",
      "description": "Container for UDDM trait data associated with a device.",
      "properties": {
        "rootComponent": {
          "$ref": "Component",
          "description": "The root component of the device as reported by the provider."
        }
      },
      "type": "object"
    },
    "DeviceInfo": {
      "description": "Device information.",
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "type": "string",
          "description": "Device hardware version."
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      }
    },
    "QueryRequestInput": {
      "id": "QueryRequestInput",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "description": "Device ID inputs to QueryRequest."
    },
    "PartnerPresenceSignalTrait": {
      "type": "object",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "properties": {},
      "id": "PartnerPresenceSignalTrait"
    }
  },
  "revision": "20260821",
  "name": "homegraph",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "version": "v1",
  "title": "HomeGraph API",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "id": "homegraph:v1",
  "servicePath": "",
  "version_module": true,
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "canonicalName": "Home Graph Service"
}