{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "title": "HomeGraph API",
  "ownerName": "Google",
  "id": "homegraph:v1",
  "schemas": {
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "type": "object"
    },
    "Events": {
      "description": "Contains a set of events for a specific component.",
      "id": "Events",
      "type": "object",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events."
        },
        "events": {
          "items": {
            "$ref": "EventData"
          },
          "description": "Required. List of events associated with the component.",
          "type": "array"
        }
      }
    },
    "EveUtilityTrait": {
      "type": "object",
      "properties": {
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "watt": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "loggingData": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "loggingMetadata": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "wattAccumulated": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "rloc16": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "getConfig": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "lastEventTime": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "airPressure": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "childLock": {
          "type": "boolean"
        },
        "acceptedCommandList": {
          "readOnly": true,
          "description": "Required. Output only. Accepted command list for this trait",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDeprecated": [
              true
            ],
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ]
          }
        },
        "statusFault": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "voltage": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "weatherTrend": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "loggingTime": {
          "format": "byte",
          "type": "string"
        },
        "current": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "motionSensitivity": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EveUtilityTrait"
    },
    "CameraEventStreamTrait": {
      "type": "object",
      "id": "CameraEventStreamTrait",
      "properties": {},
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow"
    },
    "AgentOtherDeviceId": {
      "description": "Alternate third-party device ID.",
      "type": "object",
      "id": "AgentOtherDeviceId",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        },
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "type": "object",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "properties": {
        "followUpToken": {
          "description": "Deprecated.",
          "type": "string",
          "deprecated": true
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        }
      },
      "id": "ReportStateAndNotificationRequest"
    },
    "HomeEvents": {
      "type": "object",
      "description": "Contains the set of events for an item.",
      "id": "HomeEvents",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item."
        }
      }
    },
    "ComponentTraitUpdates": {
      "description": "Contains the set of updates for a component.",
      "type": "object",
      "id": "ComponentTraitUpdates",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "type": "array",
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "SyncResponsePayload": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user."
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      },
      "description": "Payload containing device information.",
      "id": "SyncResponsePayload"
    },
    "PartnerPresenceSignalTrait": {
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "properties": {},
      "id": "PartnerPresenceSignalTrait",
      "type": "object"
    },
    "Result": {
      "description": "Result of reporting state and notifications for a single device.",
      "id": "Result",
      "type": "object",
      "properties": {
        "homeTraitCommitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      }
    },
    "DeviceBlameStruct": {
      "id": "DeviceBlameStruct",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "description": "Required. Specifies the device blame type.",
          "type": "string",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ]
        }
      },
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a device."
    },
    "TraitData": {
      "properties": {
        "trait": {
          "type": "object",
          "description": "The Provider Home API trait payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "providerUpdateTime": {
          "format": "google-datetime",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "type": "string"
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait.",
      "type": "object"
    },
    "PersonEvent": {
      "id": "PersonEvent",
      "description": "Represents a newly detected person event.",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "zones": {
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StateAndNotificationPayload": {
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "id": "StateAndNotificationPayload",
      "type": "object",
      "description": "Payload containing the state and notification information for devices."
    },
    "ReportStateAndNotificationResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        },
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "type": "object"
        }
      },
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
    },
    "QueryResponse": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse"
    },
    "ZoneStruct": {
      "properties": {
        "zoneId": {
          "description": "Id of the zone",
          "type": "string",
          "format": "int64"
        },
        "label": {
          "type": "string",
          "description": "Name of the zone."
        }
      },
      "type": "object",
      "id": "ZoneStruct"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "EventData": {
      "id": "EventData",
      "properties": {
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Contains the details for a single event."
    },
    "HomeTraitPayload": {
      "description": "Container for UDDM trait data associated with a device.",
      "type": "object",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      },
      "id": "HomeTraitPayload"
    },
    "AgentDeviceId": {
      "id": "AgentDeviceId",
      "type": "object",
      "description": "Third-party device ID for one device.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      }
    },
    "MediaUrlsStruct": {
      "type": "object",
      "id": "MediaUrlsStruct",
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "URL for thumbnail image representing the event session"
        },
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        }
      }
    },
    "StructurePresenceStateChangeEvent": {
      "properties": {
        "presenceState": {
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "description": "Required. Specifies the presence state.",
          "type": "string",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ]
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "description": "Sent when the structure presence state changes.",
      "type": "object",
      "id": "StructurePresenceStateChangeEvent"
    },
    "SyncRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "SyncRequest",
      "type": "object",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "MotionEvent": {
      "description": "Represents a newly detected motion event.",
      "type": "object",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "description": "Zones where events are detected in.",
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          }
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        }
      },
      "id": "MotionEvent"
    },
    "HomeTraitUpdates": {
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        },
        "components": {
          "description": "Required. Trait updates for each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        }
      },
      "description": "Contains the set of updates for a device.",
      "type": "object",
      "id": "HomeTraitUpdates"
    },
    "ReportStateAndNotificationDevice": {
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device.",
      "properties": {
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "homeTraits": {
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "type": "array",
          "description": "Optional. UDDM/WHDM trait updates."
        },
        "homeEvents": {
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          },
          "type": "array"
        },
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        }
      }
    },
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      },
      "id": "SyncResponse"
    },
    "DeviceMetadata": {
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device."
    },
    "UserBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "properties": {
        "blameType": {
          "description": "Required. Specifies the user blame type.",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ]
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      },
      "id": "UserBlameStruct",
      "type": "object"
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "type": "object"
        },
        "devices": {
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "DeviceNames": {
      "properties": {
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        }
      },
      "type": "object",
      "id": "DeviceNames",
      "description": "Identifiers used to describe the device."
    },
    "QueryRequestInput": {
      "type": "object",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "id": "QueryRequestInput"
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "properties": {
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "inputs": {
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "deviceView": {
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      }
    },
    "StructurePresenceStateChangeReasonStruct": {
      "type": "object",
      "properties": {
        "deviceBlame": {
          "$ref": "DeviceBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device."
        },
        "userBlame": {
          "$ref": "UserBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user."
        }
      },
      "id": "StructurePresenceStateChangeReasonStruct",
      "description": "Contains the metadata about the cause of the structure presence state change."
    },
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "type": "object",
      "id": "QueryRequestPayload"
    },
    "Device": {
      "properties": {
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        }
      },
      "type": "object",
      "description": "Third-party device definition.",
      "id": "Device"
    },
    "DeviceInfo": {
      "properties": {
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "hwVersion": {
          "type": "string",
          "description": "Device hardware version."
        },
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        }
      },
      "id": "DeviceInfo",
      "type": "object",
      "description": "Device information."
    },
    "CommonEventDataStruct": {
      "description": "Common camera event data.",
      "type": "object",
      "id": "CommonEventDataStruct",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Camera event session id. Used for identifying a unique event session"
        },
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        }
      }
    },
    "Component": {
      "description": "Component of a provider device.",
      "properties": {
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\"."
        },
        "traitData": {
          "type": "array",
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. List of trait data associated with the component."
        },
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "childComponents": {
          "items": {
            "$ref": "Component"
          },
          "description": "Optional. Child components.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Component"
    },
    "ThermostatFanControlTrait": {
      "properties": {
        "timerSpeed": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ]
        },
        "timerEnd": {
          "format": "int64",
          "type": "string"
        },
        "timerDuration": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats."
    }
  },
  "revision": "20260828",
  "baseUrl": "https://homegraph.googleapis.com/",
  "version": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "rootUrl": "https://homegraph.googleapis.com/",
  "canonicalName": "Home Graph Service",
  "description": "",
  "basePath": "",
  "name": "homegraph",
  "resources": {
    "devices": {
      "methods": {
        "sync": {
          "response": {
            "$ref": "SyncResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "path": "v1/devices:sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "flatPath": "v1/devices:sync",
          "id": "homegraph.devices.sync",
          "request": {
            "$ref": "SyncRequest"
          }
        },
        "query": {
          "id": "homegraph.devices.query",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:query",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/devices:query"
        },
        "reportStateAndNotification": {
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "path": "v1/devices:reportStateAndNotification",
          "parameters": {},
          "flatPath": "v1/devices:reportStateAndNotification",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "requestSync": {
          "parameters": {},
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "id": "homegraph.devices.requestSync",
          "flatPath": "v1/devices:requestSync",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "path": "v1/devices:requestSync",
          "httpMethod": "POST"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [
            "agentUserId"
          ],
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "httpMethod": "DELETE",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Request ID used for debugging.",
              "type": "string"
            },
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "description": "Required. Third-party user ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+agentUserId}",
          "id": "homegraph.agentUsers.delete",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project."
        }
      }
    }
  },
  "ownerDomain": "google.com"
}