{
  "canonicalName": "Home Graph Service",
  "resources": {
    "devices": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:query",
          "id": "homegraph.devices.query",
          "request": {
            "$ref": "QueryRequest"
          },
          "path": "v1/devices:query",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "QueryResponse"
          }
        },
        "reportStateAndNotification": {
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameterOrder": [],
          "path": "v1/devices:reportStateAndNotification",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameters": {},
          "id": "homegraph.devices.reportStateAndNotification",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          }
        },
        "requestSync": {
          "path": "v1/devices:requestSync",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:requestSync",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "id": "homegraph.devices.requestSync",
          "parameterOrder": [],
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST",
          "parameters": {}
        },
        "sync": {
          "parameterOrder": [],
          "id": "homegraph.devices.sync",
          "flatPath": "v1/devices:sync",
          "path": "v1/devices:sync",
          "request": {
            "$ref": "SyncRequest"
          },
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "SyncResponse"
          },
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "agentUserId"
          ],
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameters": {
            "agentUserId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^agentUsers/.*$",
              "description": "Required. Third-party user ID."
            },
            "requestId": {
              "description": "Request ID used for debugging.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "homegraph.agentUsers.delete",
          "path": "v1/{+agentUserId}",
          "flatPath": "v1/agentUsers/{agentUsersId}"
        }
      }
    }
  },
  "basePath": "",
  "name": "homegraph",
  "version": "v1",
  "title": "HomeGraph API",
  "protocol": "rest",
  "rootUrl": "https://homegraph.googleapis.com/",
  "ownerName": "Google",
  "description": "",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "baseUrl": "https://homegraph.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "revision": "20260828",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "StructurePresenceStateChangeReasonStruct": {
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        }
      },
      "id": "StructurePresenceStateChangeReasonStruct",
      "type": "object"
    },
    "AgentDeviceId": {
      "id": "AgentDeviceId",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Third-party device ID for one device."
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "properties": {
        "loggingMetadata": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "loggingControlPoint": {
          "format": "byte",
          "type": "string"
        },
        "voltage": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "wattAccumulated": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "watt": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "altitude": {
          "format": "double",
          "type": "number"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "weatherTrend": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "airPressure": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "getConfig": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "lastEventTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "motionSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "rloc16": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "current": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "childLock": {
          "type": "boolean"
        },
        "setConfig": {
          "format": "byte",
          "type": "string"
        },
        "acceptedCommandList": {
          "description": "Required. Output only. Accepted command list for this trait",
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "type": "string",
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDeprecated": [
              true
            ]
          }
        },
        "statusFault": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "loggingData": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "type": "object"
    },
    "UserBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "Required. Specifies the email of the user."
        },
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type."
        }
      },
      "type": "object",
      "id": "UserBlameStruct"
    },
    "DeviceBlameStruct": {
      "type": "object",
      "id": "DeviceBlameStruct",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "type": "string",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type."
        }
      },
      "description": "Contains metadata about the cause of presence state change attributed to a device."
    },
    "MediaUrlsStruct": {
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "dashManifestUrl": {
          "description": "URL for a dash manifest for playback",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "type": "string",
          "description": "URL for a hls master playlist for playback"
        },
        "previewUrl": {
          "type": "string",
          "description": "URL for animated preview clip representing the event session"
        }
      },
      "id": "MediaUrlsStruct"
    },
    "ComponentTraitUpdates": {
      "type": "object",
      "properties": {
        "traitData": {
          "type": "array",
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. The updated trait data for the component."
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "description": "Contains the set of updates for a component.",
      "id": "ComponentTraitUpdates"
    },
    "ZoneStruct": {
      "id": "ZoneStruct",
      "type": "object",
      "properties": {
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        },
        "zoneId": {
          "type": "string",
          "description": "Id of the zone",
          "format": "int64"
        }
      }
    },
    "SyncResponse": {
      "properties": {
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      },
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "type": "object",
      "id": "SyncResponse"
    },
    "DeviceNames": {
      "type": "object",
      "properties": {
        "defaultNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc."
        },
        "nicknames": {
          "description": "Additional names provided by the user for the device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        }
      },
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames"
    },
    "AgentOtherDeviceId": {
      "id": "AgentOtherDeviceId",
      "description": "Alternate third-party device ID.",
      "type": "object",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      }
    },
    "DeviceInfo": {
      "type": "object",
      "description": "Device information.",
      "id": "DeviceInfo",
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        }
      }
    },
    "CameraEventStreamTrait": {
      "properties": {},
      "id": "CameraEventStreamTrait",
      "type": "object",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow"
    },
    "Result": {
      "description": "Result of reporting state and notifications for a single device.",
      "properties": {
        "homeTraitCommitTime": {
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Result"
    },
    "Events": {
      "type": "object",
      "description": "Contains a set of events for a specific component.",
      "id": "Events",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "EventData"
          },
          "type": "array",
          "description": "Required. List of events associated with the component."
        }
      }
    },
    "HomeTraitUpdates": {
      "type": "object",
      "id": "HomeTraitUpdates",
      "description": "Contains the set of updates for a device.",
      "properties": {
        "components": {
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "type": "array",
          "description": "Required. Trait updates for each component."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        }
      }
    },
    "PersonEvent": {
      "id": "PersonEvent",
      "properties": {
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array",
          "description": "Zones where events are detected in."
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "description": "Represents a newly detected person event.",
      "type": "object"
    },
    "StructurePresenceStateChangeEvent": {
      "type": "object",
      "description": "Sent when the structure presence state changes.",
      "properties": {
        "presenceState": {
          "description": "Required. Specifies the presence state.",
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "type": "string",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ]
        },
        "reason": {
          "$ref": "StructurePresenceStateChangeReasonStruct",
          "description": "Optional. Specifies the presence state change reason."
        }
      },
      "id": "StructurePresenceStateChangeEvent"
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TraitData": {
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "commitTime": {
          "format": "google-datetime",
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "type": "string"
        },
        "trait": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The Provider Home API trait payload."
        },
        "providerUpdateTime": {
          "type": "string",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "TraitData"
    },
    "EventData": {
      "id": "EventData",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The timestamp of the event."
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "Contains the details for a single event.",
      "type": "object"
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats.",
      "properties": {
        "timerDuration": {
          "type": "string",
          "format": "int64"
        },
        "timerSpeed": {
          "type": "string",
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "timerEnd": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HomeTraitPayload": {
      "type": "object",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      },
      "description": "Container for UDDM trait data associated with a device.",
      "id": "HomeTraitPayload"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "StateAndNotificationPayload": {
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "description": "Payload containing the state and notification information for devices.",
      "id": "StateAndNotificationPayload",
      "type": "object"
    },
    "QueryRequestInput": {
      "type": "object",
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "properties": {
        "homeEvents": {
          "type": "array",
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          }
        },
        "states": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device."
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        }
      },
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"
    },
    "PartnerPresenceSignalTrait": {
      "properties": {},
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "type": "object",
      "id": "PartnerPresenceSignalTrait"
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "description": "Payload containing device information.",
      "type": "object",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Third-party user ID"
        },
        "devices": {
          "type": "array",
          "description": "Devices associated with the third-party user.",
          "items": {
            "$ref": "Device"
          }
        }
      }
    },
    "MotionEvent": {
      "description": "Represents a newly detected motion event.",
      "type": "object",
      "id": "MotionEvent",
      "properties": {
        "zones": {
          "description": "Zones where events are detected in.",
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          }
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "id": "ReportStateAndNotificationRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        }
      },
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```"
    },
    "QueryRequestPayload": {
      "type": "object",
      "id": "QueryRequestPayload",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "type": "array"
        }
      },
      "description": "Payload containing device IDs."
    },
    "DeviceMetadata": {
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "description": "Metadata for traits of a single device.",
      "id": "DeviceMetadata"
    },
    "RequestSyncDevicesRequest": {
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "id": "RequestSyncDevicesRequest",
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "type": "object",
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "properties": {
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "inputs": {
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "deviceView": {
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ]
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "Events"
          },
          "type": "array",
          "description": "Required. List of events for the item."
        }
      },
      "description": "Contains the set of events for an item.",
      "type": "object"
    },
    "CommonEventDataStruct": {
      "type": "object",
      "description": "Common camera event data.",
      "id": "CommonEventDataStruct",
      "properties": {
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        },
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "properties": {
        "deviceResults": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        },
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        }
      },
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "type": "object",
      "id": "ReportStateAndNotificationResponse"
    },
    "Component": {
      "id": "Component",
      "type": "object",
      "properties": {
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          },
          "type": "array"
        },
        "childComponents": {
          "type": "array",
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          }
        },
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        }
      },
      "description": "Component of a provider device."
    },
    "Device": {
      "description": "Third-party device definition.",
      "id": "Device",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "otherDeviceIds": {
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "traits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "willReportState": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        }
      }
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "properties": {
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        },
        "devices": {
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          }
        }
      },
      "id": "QueryResponsePayload",
      "type": "object"
    }
  },
  "id": "homegraph:v1",
  "servicePath": "",
  "kind": "discovery#restDescription"
}