{
  "revision": "20260928",
  "resources": {
    "devices": {
      "methods": {
        "reportStateAndNotification": {
          "parameterOrder": [],
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "id": "homegraph.devices.reportStateAndNotification",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          }
        },
        "sync": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SyncRequest"
          },
          "id": "homegraph.devices.sync",
          "response": {
            "$ref": "SyncResponse"
          },
          "flatPath": "v1/devices:sync",
          "parameters": {},
          "parameterOrder": [],
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:sync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        },
        "requestSync": {
          "id": "homegraph.devices.requestSync",
          "path": "v1/devices:requestSync",
          "parameterOrder": [],
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "parameters": {},
          "flatPath": "v1/devices:requestSync"
        },
        "query": {
          "path": "v1/devices:query",
          "request": {
            "$ref": "QueryRequest"
          },
          "flatPath": "v1/devices:query",
          "response": {
            "$ref": "QueryResponse"
          },
          "id": "homegraph.devices.query",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameters": {
            "requestId": {
              "description": "Request ID used for debugging.",
              "location": "query",
              "type": "string"
            },
            "agentUserId": {
              "description": "Required. Third-party user ID.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^agentUsers/.*$"
            }
          },
          "path": "v1/{+agentUserId}",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "agentUserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "id": "homegraph.agentUsers.delete"
        }
      }
    }
  },
  "id": "homegraph:v1",
  "protocol": "rest",
  "ownerName": "Google",
  "name": "homegraph",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "canonicalName": "Home Graph Service",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "baseUrl": "https://homegraph.googleapis.com/",
  "rootUrl": "https://homegraph.googleapis.com/",
  "description": "",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AgentOtherDeviceId": {
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        },
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        }
      },
      "id": "AgentOtherDeviceId",
      "type": "object",
      "description": "Alternate third-party device ID."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "PartnerPresenceSignalTrait": {
      "type": "object",
      "id": "PartnerPresenceSignalTrait",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "properties": {}
    },
    "QueryRequestPayload": {
      "type": "object",
      "id": "QueryRequestPayload",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states."
        }
      },
      "description": "Payload containing device IDs."
    },
    "SyncRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest",
      "type": "object"
    },
    "Result": {
      "type": "object",
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device.",
      "properties": {
        "homeTraitCommitTime": {
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {},
      "type": "object"
    },
    "AgentDeviceId": {
      "description": "Third-party device ID for one device.",
      "id": "AgentDeviceId",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      },
      "type": "object"
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "properties": {
        "devices": {
          "description": "Devices associated with the third-party user.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        },
        "agentUserId": {
          "type": "string",
          "description": "Third-party user ID"
        }
      },
      "description": "Payload containing device information.",
      "type": "object"
    },
    "MediaUrlsStruct": {
      "type": "object",
      "id": "MediaUrlsStruct",
      "properties": {
        "dashManifestUrl": {
          "description": "URL for a dash manifest for playback",
          "type": "string"
        },
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        }
      }
    },
    "ComponentTraitUpdates": {
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "type": "array",
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          }
        }
      },
      "description": "Contains the set of updates for a component.",
      "type": "object",
      "id": "ComponentTraitUpdates"
    },
    "UserBlameStruct": {
      "type": "object",
      "id": "UserBlameStruct",
      "properties": {
        "blameType": {
          "description": "Required. Specifies the user blame type.",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "Required. Specifies the email of the user."
        }
      },
      "description": "Contains metadata about the cause of presence state change attributed to a user."
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "properties": {
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "homeTraits": {
          "type": "array",
          "description": "Optional. UDDM/WHDM trait updates.",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "homeEvents": {
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array",
          "items": {
            "$ref": "HomeEvents"
          }
        },
        "notifications": {
          "type": "object",
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ReportStateAndNotificationDevice",
      "type": "object"
    },
    "CameraEventStreamTrait": {
      "id": "CameraEventStreamTrait",
      "properties": {},
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "type": "object"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "id": "StructurePresenceStateChangeReasonStruct",
      "type": "object",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "$ref": "DeviceBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device."
        }
      },
      "description": "Contains the metadata about the cause of the structure presence state change."
    },
    "ZoneStruct": {
      "id": "ZoneStruct",
      "properties": {
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        },
        "zoneId": {
          "description": "Id of the zone",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "EventData": {
      "description": "Contains the details for a single event.",
      "id": "EventData",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The timestamp of the event."
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "deviceView": {
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "type": "string"
        },
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "type": "object"
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of events for the item.",
          "type": "array",
          "items": {
            "$ref": "Events"
          }
        }
      },
      "description": "Contains the set of events for an item.",
      "type": "object"
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "properties": {
        "deviceResults": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      },
      "type": "object",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
    },
    "QueryRequestInput": {
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "type": "object",
      "id": "QueryRequestInput"
    },
    "StructurePresenceStateChangeEvent": {
      "type": "object",
      "properties": {
        "presenceState": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "description": "Required. Specifies the presence state.",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ]
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "id": "StructurePresenceStateChangeEvent",
      "description": "Sent when the structure presence state changes."
    },
    "DeviceNames": {
      "properties": {
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "nicknames": {
          "type": "array",
          "description": "Additional names provided by the user for the device.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DeviceNames",
      "description": "Identifiers used to describe the device.",
      "type": "object"
    },
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      },
      "id": "SyncResponse",
      "type": "object"
    },
    "PersonEvent": {
      "properties": {
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in.",
          "type": "array"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "id": "PersonEvent",
      "description": "Represents a newly detected person event.",
      "type": "object"
    },
    "TraitData": {
      "type": "object",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "trait": {
          "description": "The Provider Home API trait payload.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "providerUpdateTime": {
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TraitData"
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "id": "QueryResponse",
      "type": "object"
    },
    "Events": {
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events."
        },
        "events": {
          "items": {
            "$ref": "EventData"
          },
          "description": "Required. List of events associated with the component.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Events",
      "description": "Contains a set of events for a specific component."
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "type": "object",
      "description": "Device information.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      }
    },
    "StateAndNotificationPayload": {
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "description": "Payload containing the state and notification information for devices.",
      "type": "object",
      "id": "StateAndNotificationPayload"
    },
    "MotionEvent": {
      "id": "MotionEvent",
      "type": "object",
      "properties": {
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array",
          "description": "Zones where events are detected in."
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "description": "Represents a newly detected motion event."
    },
    "CommonEventDataStruct": {
      "description": "Common camera event data.",
      "properties": {
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        },
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        }
      },
      "id": "CommonEventDataStruct",
      "type": "object"
    },
    "Device": {
      "properties": {
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "customData": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Attributes for the traits supported by the device."
        },
        "otherDeviceIds": {
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "traits": {
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "willReportState": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
        }
      },
      "id": "Device",
      "description": "Third-party device definition.",
      "type": "object"
    },
    "DeviceBlameStruct": {
      "type": "object",
      "properties": {
        "blameType": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type."
        }
      },
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "id": "DeviceBlameStruct"
    },
    "ThermostatFanControlTrait": {
      "description": "This cluster provides fan control capabilities for thermostats.",
      "id": "ThermostatFanControlTrait",
      "type": "object",
      "properties": {
        "timerSpeed": {
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        },
        "timerEnd": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "RequestSyncDevicesRequest",
      "type": "object"
    },
    "DeviceMetadata": {
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
        }
      },
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device."
    },
    "Component": {
      "id": "Component",
      "type": "object",
      "properties": {
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array"
        },
        "childComponents": {
          "description": "Optional. Child components.",
          "type": "array",
          "items": {
            "$ref": "Component"
          }
        },
        "traitData": {
          "items": {
            "$ref": "TraitData"
          },
          "type": "array",
          "description": "Required. List of trait data associated with the component."
        },
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "description": "Component of a provider device."
    },
    "QueryResponsePayload": {
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
        },
        "homeTraitPayload": {
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "type": "object"
        },
        "devices": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object"
        }
      },
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload"
    },
    "HomeTraitPayload": {
      "id": "HomeTraitPayload",
      "properties": {
        "rootComponent": {
          "$ref": "Component",
          "description": "The root component of the device as reported by the provider."
        }
      },
      "type": "object",
      "description": "Container for UDDM trait data associated with a device."
    },
    "ReportStateAndNotificationRequest": {
      "type": "object",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "id": "ReportStateAndNotificationRequest",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "followUpToken": {
          "description": "Deprecated.",
          "type": "string",
          "deprecated": true
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "type": "object",
      "properties": {
        "acceptedCommandList": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDeprecated": [
              true
            ],
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait",
          "readOnly": true
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "lastEventTime": {
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "airPressure": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "rloc16": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "wattAccumulated": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "altitude": {
          "format": "double",
          "type": "number"
        },
        "motionSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "loggingControlPoint": {
          "format": "byte",
          "type": "string"
        },
        "obstructionDetected": {
          "type": "boolean",
          "readOnly": true
        },
        "loggingMetadata": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "watt": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "loggingData": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "loggingTime": {
          "format": "byte",
          "type": "string"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "getConfig": {
          "readOnly": true,
          "format": "byte",
          "type": "string"
        },
        "current": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "weatherTrend": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "voltage": {
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "statusFault": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "childLock": {
          "type": "boolean"
        }
      }
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "properties": {
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        },
        "components": {
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "type": "array",
          "description": "Required. Trait updates for each component."
        }
      },
      "description": "Contains the set of updates for a device.",
      "type": "object"
    }
  },
  "title": "HomeGraph API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}