{
  "kind": "discovery#restDescription",
  "resources": {
    "agentUsers": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/{+agentUserId}",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "id": "homegraph.agentUsers.delete",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [
            "agentUserId"
          ],
          "parameters": {
            "agentUserId": {
              "required": true,
              "type": "string",
              "pattern": "^agentUsers/.*$",
              "description": "Required. Third-party user ID.",
              "location": "path"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Request ID used for debugging."
            }
          }
        }
      }
    },
    "devices": {
      "methods": {
        "sync": {
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "httpMethod": "POST",
          "response": {
            "$ref": "SyncResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "SyncRequest"
          },
          "flatPath": "v1/devices:sync",
          "parameters": {},
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.sync"
        },
        "query": {
          "path": "v1/devices:query",
          "parameterOrder": [],
          "response": {
            "$ref": "QueryResponse"
          },
          "request": {
            "$ref": "QueryRequest"
          },
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "id": "homegraph.devices.query",
          "httpMethod": "POST",
          "flatPath": "v1/devices:query"
        },
        "reportStateAndNotification": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameters": {},
          "parameterOrder": [],
          "path": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST",
          "id": "homegraph.devices.reportStateAndNotification",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          }
        },
        "requestSync": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "flatPath": "v1/devices:requestSync",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.requestSync",
          "path": "v1/devices:requestSync",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "rootUrl": "https://homegraph.googleapis.com/",
  "title": "HomeGraph API",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "revision": "20260921",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Home Graph Service",
  "baseUrl": "https://homegraph.googleapis.com/",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "schemas": {
    "PartnerPresenceSignalTrait": {
      "id": "PartnerPresenceSignalTrait",
      "properties": {},
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "type": "object"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "type": "object",
      "properties": {
        "homeEvents": {
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array"
        },
        "states": {
          "type": "object",
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "notifications": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object"
        }
      },
      "id": "ReportStateAndNotificationDevice"
    },
    "MotionEvent": {
      "description": "Represents a newly detected motion event.",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "type": "array",
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          }
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "MotionEvent"
    },
    "DeviceBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "description": "Required. Specifies the device blame type.",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeviceBlameStruct"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "id": "StructurePresenceStateChangeReasonStruct",
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "type": "object",
      "properties": {
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        },
        "userBlame": {
          "$ref": "UserBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user."
        }
      }
    },
    "DeviceNames": {
      "id": "DeviceNames",
      "description": "Identifiers used to describe the device.",
      "type": "object",
      "properties": {
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "defaultNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc."
        }
      }
    },
    "Device": {
      "properties": {
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "otherDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "attributes": {
          "type": "object",
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      },
      "id": "Device",
      "type": "object",
      "description": "Third-party device definition."
    },
    "HomeTraitUpdates": {
      "properties": {
        "components": {
          "description": "Required. Trait updates for each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        }
      },
      "id": "HomeTraitUpdates",
      "description": "Contains the set of updates for a device.",
      "type": "object"
    },
    "MediaUrlsStruct": {
      "properties": {
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "dashManifestUrl": {
          "description": "URL for a dash manifest for playback",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "type": "string",
          "description": "URL for a hls master playlist for playback"
        },
        "previewUrl": {
          "type": "string",
          "description": "URL for animated preview clip representing the event session"
        }
      },
      "id": "MediaUrlsStruct",
      "type": "object"
    },
    "CameraEventStreamTrait": {
      "type": "object",
      "id": "CameraEventStreamTrait",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "properties": {}
    },
    "SyncResponsePayload": {
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "description": "Devices associated with the third-party user.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "type": "object",
      "description": "Payload containing device information.",
      "id": "SyncResponsePayload"
    },
    "PersonEvent": {
      "properties": {
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "zones": {
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "description": "Represents a newly detected person event.",
      "id": "PersonEvent",
      "type": "object"
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "type": "object",
      "properties": {
        "watt": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "motionSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "acceptedCommandList": {
          "items": {
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDeprecated": [
              true
            ],
            "type": "string",
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait",
          "type": "array",
          "readOnly": true
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "weatherTrend": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "rloc16": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "childLock": {
          "type": "boolean"
        },
        "loggingMetadata": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "current": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "accumulatedControlPoint": {
          "format": "int64",
          "type": "string"
        },
        "getConfig": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "loggingControlPoint": {
          "format": "byte",
          "type": "string"
        },
        "openCount": {
          "format": "int64",
          "type": "string"
        },
        "loggingData": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "lastEventTime": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "voltage": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "setConfig": {
          "format": "byte",
          "type": "string"
        },
        "statusFault": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "airPressure": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "wattAccumulated": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        }
      }
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "properties": {
        "devices": {
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        },
        "homeTraitPayload": {
          "type": "object",
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          }
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          }
        }
      },
      "id": "QueryResponsePayload",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "description": "Contains the set of updates for a component.",
      "properties": {
        "traitData": {
          "type": "array",
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          }
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StructurePresenceStateChangeEvent": {
      "id": "StructurePresenceStateChangeEvent",
      "type": "object",
      "description": "Sent when the structure presence state changes.",
      "properties": {
        "presenceState": {
          "type": "string",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "description": "Required. Specifies the presence state."
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      }
    },
    "ZoneStruct": {
      "type": "object",
      "properties": {
        "zoneId": {
          "description": "Id of the zone",
          "format": "int64",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Name of the zone."
        }
      },
      "id": "ZoneStruct"
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      }
    },
    "DeviceInfo": {
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeviceInfo",
      "description": "Device information."
    },
    "EventData": {
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The timestamp of the event."
        },
        "event": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Required. The actual event payload."
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        }
      },
      "id": "EventData",
      "description": "Contains the details for a single event.",
      "type": "object"
    },
    "QueryRequestInput": {
      "type": "object",
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "properties": {
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "followUpToken": {
          "deprecated": true,
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "id": "ReportStateAndNotificationRequest",
      "type": "object"
    },
    "RequestSyncDevicesRequest": {
      "properties": {
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "id": "RequestSyncDevicesRequest"
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        },
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "type": "object"
        }
      }
    },
    "DeviceMetadata": {
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device."
    },
    "HomeEvents": {
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        },
        "events": {
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item.",
          "type": "array"
        }
      },
      "id": "HomeEvents",
      "description": "Contains the set of events for an item.",
      "type": "object"
    },
    "Result": {
      "id": "Result",
      "type": "object",
      "description": "Result of reporting state and notifications for a single device.",
      "properties": {
        "homeTraitCommitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      }
    },
    "HomeTraitPayload": {
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      },
      "type": "object",
      "id": "HomeTraitPayload",
      "description": "Container for UDDM trait data associated with a device."
    },
    "QueryRequest": {
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "deviceView": {
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          },
          "description": "Required. Inputs containing third-party device IDs for which to get the device states."
        },
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        }
      },
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "id": "QueryRequest",
      "type": "object"
    },
    "Events": {
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          }
        }
      },
      "type": "object",
      "description": "Contains a set of events for a specific component.",
      "id": "Events"
    },
    "QueryResponse": {
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse",
      "properties": {
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      }
    },
    "AgentOtherDeviceId": {
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      },
      "type": "object",
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId"
    },
    "QueryRequestPayload": {
      "id": "QueryRequestPayload",
      "properties": {
        "devices": {
          "type": "array",
          "description": "Third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "description": "Payload containing device IDs.",
      "type": "object"
    },
    "UserBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "type": "object",
      "id": "UserBlameStruct",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type."
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      }
    },
    "AgentDeviceId": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      },
      "description": "Third-party device ID for one device.",
      "type": "object",
      "id": "AgentDeviceId"
    },
    "CommonEventDataStruct": {
      "id": "CommonEventDataStruct",
      "properties": {
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        },
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "trackId": {
          "description": "Id of the track this object belongs to",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Common camera event data."
    },
    "StateAndNotificationPayload": {
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "id": "StateAndNotificationPayload",
      "type": "object"
    },
    "TraitData": {
      "type": "object",
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "trait": {
          "description": "The Provider Home API trait payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "providerUpdateTime": {
          "format": "google-datetime",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "type": "string"
        }
      }
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats.",
      "properties": {
        "timerDuration": {
          "type": "string",
          "format": "int64"
        },
        "timerEnd": {
          "format": "int64",
          "type": "string"
        },
        "timerSpeed": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ]
        }
      },
      "type": "object"
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {}
    },
    "SyncRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest"
    },
    "Component": {
      "id": "Component",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "childComponents": {
          "type": "array",
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          }
        },
        "deviceTypes": {
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "traitData": {
          "type": "array",
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          }
        }
      },
      "type": "object",
      "description": "Component of a provider device."
    }
  },
  "version": "v1",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "name": "homegraph",
  "basePath": "",
  "description": "",
  "id": "homegraph:v1"
}