{
  "rootUrl": "https://homegraph.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "resources": {
    "agentUsers": {
      "methods": {
        "delete": {
          "path": "v1/{+agentUserId}",
          "parameterOrder": [
            "agentUserId"
          ],
          "parameters": {
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Third-party user ID."
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Request ID used for debugging."
            }
          },
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "id": "homegraph.agentUsers.delete",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project."
        }
      }
    },
    "devices": {
      "methods": {
        "query": {
          "path": "v1/devices:query",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "request": {
            "$ref": "QueryRequest"
          },
          "flatPath": "v1/devices:query",
          "parameterOrder": [],
          "response": {
            "$ref": "QueryResponse"
          },
          "id": "homegraph.devices.query",
          "httpMethod": "POST"
        },
        "sync": {
          "parameters": {},
          "flatPath": "v1/devices:sync",
          "response": {
            "$ref": "SyncResponse"
          },
          "id": "homegraph.devices.sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "request": {
            "$ref": "SyncRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        },
        "requestSync": {
          "parameters": {},
          "path": "v1/devices:requestSync",
          "parameterOrder": [],
          "id": "homegraph.devices.requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:requestSync",
          "httpMethod": "POST",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          }
        },
        "reportStateAndNotification": {
          "httpMethod": "POST",
          "path": "v1/devices:reportStateAndNotification",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameters": {},
          "id": "homegraph.devices.reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": []
        }
      }
    }
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "homegraph:v1",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "Home Graph Service",
  "basePath": "",
  "title": "HomeGraph API",
  "description": "",
  "baseUrl": "https://homegraph.googleapis.com/",
  "name": "homegraph",
  "version_module": true,
  "kind": "discovery#restDescription",
  "revision": "20260828",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "schemas": {
    "TraitData": {
      "id": "TraitData",
      "properties": {
        "providerUpdateTime": {
          "type": "string",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime"
        },
        "commitTime": {
          "type": "string",
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime"
        },
        "trait": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The Provider Home API trait payload."
        }
      },
      "description": "Contains the trait payload for a single trait.",
      "type": "object"
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "type": "object",
      "id": "QueryResponsePayload",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        },
        "deviceMetadata": {
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "type": "object"
        }
      }
    },
    "QueryRequest": {
      "properties": {
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "deviceView": {
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "inputs": {
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "id": "QueryRequest"
    },
    "ThermostatFanControlTrait": {
      "type": "object",
      "properties": {
        "timerSpeed": {
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "timerEnd": {
          "format": "int64",
          "type": "string"
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats."
    },
    "EventData": {
      "description": "Contains the details for a single event.",
      "type": "object",
      "id": "EventData",
      "properties": {
        "event": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Required. The actual event payload."
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        },
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AgentOtherDeviceId": {
      "properties": {
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        },
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        }
      },
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId",
      "type": "object"
    },
    "ZoneStruct": {
      "type": "object",
      "id": "ZoneStruct",
      "properties": {
        "zoneId": {
          "type": "string",
          "format": "int64",
          "description": "Id of the zone"
        },
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        }
      }
    },
    "MotionEvent": {
      "id": "MotionEvent",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          }
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Represents a newly detected motion event."
    },
    "HomeTraitPayload": {
      "type": "object",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      },
      "id": "HomeTraitPayload",
      "description": "Container for UDDM trait data associated with a device."
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "description": "Payload containing the state and notification information for devices.",
      "type": "object"
    },
    "QueryRequestPayload": {
      "properties": {
        "devices": {
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array"
        }
      },
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload",
      "type": "object"
    },
    "Device": {
      "description": "Third-party device definition.",
      "properties": {
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "attributes": {
          "type": "object",
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "traits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "Device"
    },
    "SyncResponse": {
      "properties": {
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        },
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        }
      },
      "id": "SyncResponse",
      "type": "object",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```"
    },
    "DeviceNames": {
      "id": "DeviceNames",
      "description": "Identifiers used to describe the device.",
      "properties": {
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        },
        "defaultNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc."
        }
      },
      "type": "object"
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "properties": {
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "airPressure": {
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "wattAccumulated": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "rloc16": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "acceptedCommandList": {
          "items": {
            "type": "string",
            "enumDeprecated": [
              true
            ],
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          },
          "type": "array",
          "description": "Required. Output only. Accepted command list for this trait",
          "readOnly": true
        },
        "voltage": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "current": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "watt": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "loggingData": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "lastEventTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "weatherTrend": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "statusFault": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "getConfig": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "loggingMetadata": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "childLock": {
          "type": "boolean"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "$ref": "DeviceBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device."
        }
      },
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "type": "object",
      "id": "StructurePresenceStateChangeReasonStruct"
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "type": "object",
      "id": "QueryResponse",
      "properties": {
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      }
    },
    "PersonEvent": {
      "properties": {
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array",
          "description": "Zones where events are detected in."
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "id": "PersonEvent",
      "description": "Represents a newly detected person event.",
      "type": "object"
    },
    "UserBlameStruct": {
      "id": "UserBlameStruct",
      "type": "object",
      "properties": {
        "blameType": {
          "description": "Required. Specifies the user blame type.",
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ]
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the cause of presence state change attributed to a user."
    },
    "SyncResponsePayload": {
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Third-party user ID"
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user.",
          "type": "array"
        }
      },
      "description": "Payload containing device information.",
      "type": "object",
      "id": "SyncResponsePayload"
    },
    "Component": {
      "type": "object",
      "description": "Component of a provider device.",
      "id": "Component",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "childComponents": {
          "type": "array",
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          }
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          },
          "type": "array"
        },
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array"
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "type": "object",
      "description": "The states and notifications specific to a device.",
      "properties": {
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "homeEvents": {
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array"
        },
        "homeTraits": {
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "type": "array",
          "description": "Optional. UDDM/WHDM trait updates."
        }
      },
      "id": "ReportStateAndNotificationDevice"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "AgentDeviceId": {
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Third-party device ID for one device.",
      "id": "AgentDeviceId"
    },
    "Result": {
      "properties": {
        "homeTraitCommitTime": {
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device.",
      "type": "object"
    },
    "PartnerPresenceSignalTrait": {
      "type": "object",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "properties": {},
      "id": "PartnerPresenceSignalTrait"
    },
    "ReportStateAndNotificationResponse": {
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        },
        "deviceResults": {
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "additionalProperties": {
            "$ref": "Result"
          },
          "type": "object"
        }
      },
      "id": "ReportStateAndNotificationResponse",
      "type": "object",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
    },
    "CommonEventDataStruct": {
      "type": "object",
      "properties": {
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        },
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        },
        "sessionId": {
          "type": "string",
          "description": "Camera event session id. Used for identifying a unique event session"
        }
      },
      "description": "Common camera event data.",
      "id": "CommonEventDataStruct"
    },
    "ReportStateAndNotificationRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "followUpToken": {
          "deprecated": true,
          "description": "Deprecated.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "id": "ReportStateAndNotificationRequest",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```"
    },
    "DeviceMetadata": {
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
        }
      },
      "description": "Metadata for traits of a single device.",
      "type": "object",
      "id": "DeviceMetadata"
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. List of events for the item.",
          "type": "array",
          "items": {
            "$ref": "Events"
          }
        },
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        }
      },
      "description": "Contains the set of events for an item."
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "description": "Device information.",
      "properties": {
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SyncRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "StructurePresenceStateChangeEvent": {
      "type": "object",
      "properties": {
        "reason": {
          "$ref": "StructurePresenceStateChangeReasonStruct",
          "description": "Optional. Specifies the presence state change reason."
        },
        "presenceState": {
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "type": "string",
          "description": "Required. Specifies the presence state."
        }
      },
      "description": "Sent when the structure presence state changes.",
      "id": "StructurePresenceStateChangeEvent"
    },
    "Events": {
      "description": "Contains a set of events for a specific component.",
      "type": "object",
      "id": "Events",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          }
        }
      }
    },
    "DeviceBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "type": "object",
      "id": "DeviceBlameStruct",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "description": "Required. Specifies the device blame type.",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "type": "string"
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "type": "object",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "id": "RequestSyncDevicesRequest",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        }
      }
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "properties": {
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          },
          "type": "array"
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the set of updates for a component."
    },
    "QueryRequestInput": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest."
    },
    "MediaUrlsStruct": {
      "properties": {
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "type": "string",
          "description": "URL for a hls master playlist for playback"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        },
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        }
      },
      "id": "MediaUrlsStruct",
      "type": "object"
    },
    "CameraEventStreamTrait": {
      "properties": {},
      "type": "object",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "id": "CameraEventStreamTrait"
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "properties": {
        "components": {
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "description": "Required. Trait updates for each component.",
          "type": "array"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        }
      },
      "description": "Contains the set of updates for a device.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    }
  },
  "protocol": "rest"
}