{
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerName": "Google",
  "title": "HomeGraph API",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "name": "homegraph",
  "version": "v1",
  "basePath": "",
  "id": "homegraph:v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "resources": {
    "devices": {
      "methods": {
        "sync": {
          "flatPath": "v1/devices:sync",
          "response": {
            "$ref": "SyncResponse"
          },
          "request": {
            "$ref": "SyncRequest"
          },
          "parameters": {},
          "id": "homegraph.devices.sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        },
        "reportStateAndNotification": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:reportStateAndNotification",
          "path": "v1/devices:reportStateAndNotification",
          "id": "homegraph.devices.reportStateAndNotification",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "httpMethod": "POST"
        },
        "requestSync": {
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "path": "v1/devices:requestSync",
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:requestSync",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "parameters": {},
          "id": "homegraph.devices.requestSync"
        },
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "path": "v1/devices:query",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/devices:query",
          "parameterOrder": [],
          "response": {
            "$ref": "QueryResponse"
          },
          "request": {
            "$ref": "QueryRequest"
          },
          "id": "homegraph.devices.query"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "id": "homegraph.agentUsers.delete",
          "parameterOrder": [
            "agentUserId"
          ],
          "parameters": {
            "agentUserId": {
              "required": true,
              "type": "string",
              "pattern": "^agentUsers/.*$",
              "description": "Required. Third-party user ID.",
              "location": "path"
            },
            "requestId": {
              "description": "Request ID used for debugging.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "path": "v1/{+agentUserId}",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project."
        }
      }
    }
  },
  "description": "",
  "revision": "20260918",
  "rootUrl": "https://homegraph.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Home Graph Service",
  "baseUrl": "https://homegraph.googleapis.com/",
  "schemas": {
    "CommonEventDataStruct": {
      "type": "object",
      "id": "CommonEventDataStruct",
      "properties": {
        "trackId": {
          "description": "Id of the track this object belongs to",
          "type": "string"
        },
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        }
      },
      "description": "Common camera event data."
    },
    "QueryRequestInput": {
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      },
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest.",
      "type": "object"
    },
    "ReportStateAndNotificationRequest": {
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "type": "object",
      "id": "ReportStateAndNotificationRequest",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        },
        "followUpToken": {
          "description": "Deprecated.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "PersonEvent": {
      "id": "PersonEvent",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in.",
          "type": "array"
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Represents a newly detected person event."
    },
    "EventData": {
      "properties": {
        "event": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Required. The actual event payload."
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp of the event.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventData",
      "description": "Contains the details for a single event."
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
        }
      },
      "description": "Metadata for traits of a single device."
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "type": "object",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "type": "object",
      "properties": {
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "nicknames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional names provided by the user for the device."
        }
      },
      "id": "DeviceNames"
    },
    "Events": {
      "description": "Contains a set of events for a specific component.",
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "EventData"
          },
          "description": "Required. List of events associated with the component."
        },
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        }
      },
      "id": "Events"
    },
    "QueryRequest": {
      "properties": {
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states."
        },
        "deviceView": {
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "type": "string"
        }
      },
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "type": "object"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "type": "object",
      "id": "StructurePresenceStateChangeReasonStruct",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        }
      },
      "description": "Contains the metadata about the cause of the structure presence state change."
    },
    "MediaUrlsStruct": {
      "id": "MediaUrlsStruct",
      "type": "object",
      "properties": {
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "dashManifestUrl": {
          "description": "URL for a dash manifest for playback",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "type": "string",
          "description": "URL for a hls master playlist for playback"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        }
      }
    },
    "StructurePresenceStateChangeEvent": {
      "type": "object",
      "properties": {
        "presenceState": {
          "description": "Required. Specifies the presence state.",
          "type": "string",
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ]
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "description": "Sent when the structure presence state changes.",
      "id": "StructurePresenceStateChangeEvent"
    },
    "HomeEvents": {
      "properties": {
        "events": {
          "items": {
            "$ref": "Events"
          },
          "type": "array",
          "description": "Required. List of events for the item."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        }
      },
      "id": "HomeEvents",
      "description": "Contains the set of events for an item.",
      "type": "object"
    },
    "ZoneStruct": {
      "type": "object",
      "id": "ZoneStruct",
      "properties": {
        "label": {
          "type": "string",
          "description": "Name of the zone."
        },
        "zoneId": {
          "description": "Id of the zone",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "QueryResponse": {
      "type": "object",
      "id": "QueryResponse",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "properties": {
        "deviceResults": {
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Result"
          }
        },
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      },
      "type": "object"
    },
    "StateAndNotificationPayload": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "description": "Payload containing the state and notification information for devices.",
      "id": "StateAndNotificationPayload"
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "properties": {
        "timerEnd": {
          "type": "string",
          "format": "int64"
        },
        "timerSpeed": {
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "timerDuration": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "This cluster provides fan control capabilities for thermostats.",
      "type": "object"
    },
    "DeviceInfo": {
      "description": "Device information.",
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        }
      },
      "type": "object",
      "id": "DeviceInfo"
    },
    "QueryRequestPayload": {
      "type": "object",
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states."
        }
      }
    },
    "SyncRequest": {
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "SyncRequest"
    },
    "EveUtilityTrait": {
      "properties": {
        "watt": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "airPressure": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "wattAccumulated": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "lastEventTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "weatherTrend": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "childLock": {
          "type": "boolean"
        },
        "rloc16": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "statusFault": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "openCount": {
          "format": "int64",
          "type": "string"
        },
        "loggingData": {
          "readOnly": true,
          "format": "byte",
          "type": "string"
        },
        "getConfig": {
          "readOnly": true,
          "format": "byte",
          "type": "string"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "current": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "voltage": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "loggingTime": {
          "format": "byte",
          "type": "string"
        },
        "acceptedCommandList": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enumDeprecated": [
              true
            ],
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          },
          "type": "array",
          "description": "Required. Output only. Accepted command list for this trait"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "motionSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "loggingMetadata": {
          "readOnly": true,
          "format": "byte",
          "type": "string"
        }
      },
      "id": "EveUtilityTrait",
      "type": "object"
    },
    "HomeTraitUpdates": {
      "type": "object",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "description": "Required. Trait updates for each component."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        }
      },
      "description": "Contains the set of updates for a device.",
      "id": "HomeTraitUpdates"
    },
    "DeviceBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "type": "string",
          "description": "Required. Specifies the device blame type.",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ]
        }
      },
      "type": "object",
      "id": "DeviceBlameStruct"
    },
    "QueryResponsePayload": {
      "type": "object",
      "id": "QueryResponsePayload",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "object"
        },
        "deviceMetadata": {
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "type": "object"
        },
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        }
      },
      "description": "Payload containing device states information."
    },
    "AgentDeviceId": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      },
      "id": "AgentDeviceId",
      "description": "Third-party device ID for one device.",
      "type": "object"
    },
    "AgentOtherDeviceId": {
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId",
      "type": "object",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      }
    },
    "Device": {
      "id": "Device",
      "properties": {
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "traits": {
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "customData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."
        }
      },
      "description": "Third-party device definition.",
      "type": "object"
    },
    "Component": {
      "type": "object",
      "description": "Component of a provider device.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "deviceTypes": {
          "type": "array",
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "items": {
            "type": "string"
          }
        },
        "traitData": {
          "type": "array",
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. List of trait data associated with the component."
        },
        "childComponents": {
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          },
          "type": "array"
        }
      },
      "id": "Component"
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      },
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "type": "object"
    },
    "MotionEvent": {
      "type": "object",
      "properties": {
        "zones": {
          "description": "Zones where events are detected in.",
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          }
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "id": "MotionEvent",
      "description": "Represents a newly detected motion event."
    },
    "ReportStateAndNotificationDevice": {
      "properties": {
        "homeEvents": {
          "type": "array",
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          }
        },
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "states": {
          "type": "object",
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        }
      },
      "id": "ReportStateAndNotificationDevice",
      "type": "object",
      "description": "The states and notifications specific to a device."
    },
    "PartnerPresenceSignalTrait": {
      "type": "object",
      "id": "PartnerPresenceSignalTrait",
      "properties": {},
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:"
    },
    "UserBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "properties": {
        "blameType": {
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type.",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string"
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      },
      "id": "UserBlameStruct",
      "type": "object"
    },
    "SyncResponsePayload": {
      "description": "Payload containing device information.",
      "id": "SyncResponsePayload",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user."
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComponentTraitUpdates": {
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "type": "array",
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. The updated trait data for the component."
        }
      },
      "description": "Contains the set of updates for a component.",
      "type": "object",
      "id": "ComponentTraitUpdates"
    },
    "Result": {
      "properties": {
        "homeTraitCommitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      },
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device.",
      "type": "object"
    },
    "TraitData": {
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "commitTime": {
          "type": "string",
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime"
        },
        "providerUpdateTime": {
          "format": "google-datetime",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "type": "string"
        },
        "trait": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The Provider Home API trait payload.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "TraitData"
    },
    "CameraEventStreamTrait": {
      "type": "object",
      "id": "CameraEventStreamTrait",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "properties": {}
    },
    "HomeTraitPayload": {
      "type": "object",
      "id": "HomeTraitPayload",
      "properties": {
        "rootComponent": {
          "$ref": "Component",
          "description": "The root component of the device as reported by the provider."
        }
      },
      "description": "Container for UDDM trait data associated with a device."
    }
  }
}