{
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Cluster Director API",
  "canonicalName": "Hypercompute Cluster",
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "ownerDomain": "google.com",
  "schemas": {
    "NetworkResource": {
      "properties": {
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        },
        "network": {
          "$ref": "NetworkReference",
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "NetworkResource",
      "description": "A resource representing a network that connects the various components of a cluster together."
    },
    "NewBucketConfig": {
      "properties": {
        "storageClass": {
          "type": "string",
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ],
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ]
        },
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create."
        },
        "autoclass": {
          "$ref": "GcsAutoclassConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass)."
        },
        "hierarchicalNamespace": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview).",
          "$ref": "GcsHierarchicalNamespaceConfig"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "type": "object",
      "id": "NewBucketConfig"
    },
    "Cluster": {
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "id": "Cluster",
      "properties": {
        "createTime": {
          "description": "Output only. Time that the cluster was originally created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The globally unique identifier for this Cluster."
        },
        "orchestrator": {
          "$ref": "Orchestrator",
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries."
        },
        "networkResources": {
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "reconciling": {
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "storageResources": {
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time that the cluster was most recently updated.",
          "format": "google-datetime"
        },
        "computeResources": {
          "type": "object",
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "ComputeResource"
          }
        }
      },
      "type": "object"
    },
    "NewFilestoreConfig": {
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`.",
          "type": "string"
        },
        "fileShares": {
          "items": {
            "$ref": "FileShareConfig"
          },
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "type": "array"
        },
        "tier": {
          "type": "string",
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "type": "string"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "id": "NewFilestoreConfig",
      "type": "object"
    },
    "NewSpotInstancesConfig": {
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "terminationAction": {
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "type": "string",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ]
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "id": "NewSpotInstancesConfig"
    },
    "NewNetworkConfig": {
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
        },
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NewNetworkConfig"
    },
    "SlurmPartition": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "nodeSetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id.",
          "type": "array"
        }
      },
      "id": "SlurmPartition",
      "type": "object",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "ComputeResourceConfig": {
      "id": "ComputeResourceConfig",
      "properties": {
        "newReservedInstances": {
          "$ref": "NewReservedInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs."
        },
        "newFlexStartInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs.",
          "$ref": "NewFlexStartInstancesConfig"
        },
        "newSpotInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs.",
          "$ref": "NewSpotInstancesConfig"
        },
        "newOnDemandInstances": {
          "$ref": "NewOnDemandInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs."
        }
      },
      "type": "object",
      "description": "Describes how a compute resource should be created at runtime."
    },
    "CreateOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "properties": {},
      "id": "CreateOrchestrator",
      "type": "object"
    },
    "ComputeResource": {
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "id": "ComputeResource",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "type": "object"
    },
    "StorageResource": {
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        },
        "filestore": {
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "$ref": "FilestoreReference",
          "readOnly": true
        },
        "lustre": {
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "$ref": "LustreReference",
          "readOnly": true
        },
        "bucket": {
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "readOnly": true,
          "$ref": "BucketReference"
        }
      },
      "id": "StorageResource",
      "type": "object",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster."
    },
    "LustreReference": {
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "type": "object",
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "LustreReference"
    },
    "CreatePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "id": "CreatePartition",
      "properties": {
        "partitions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Name of the partition to create",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "progress": {
          "readOnly": true,
          "description": "Output only. Progress of the operation.",
          "$ref": "OperationProgress"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "DeletePartition": {
      "id": "DeletePartition",
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "properties": {
        "partitions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to delete"
        }
      }
    },
    "DeleteOrchestrator": {
      "properties": {},
      "id": "DeleteOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "DeleteLustreInstance": {
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeleteLustreInstance",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted."
    },
    "NewLustreConfig": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000."
        },
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "perUnitStorageThroughput": {
          "type": "string",
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "format": "int64"
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        }
      },
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created."
    },
    "DeleteLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be deleted.",
      "id": "DeleteLoginNode",
      "properties": {},
      "type": "object"
    },
    "FileShareConfig": {
      "description": "Message describing filestore configuration",
      "type": "object",
      "properties": {
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        },
        "capacityGb": {
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FileShareConfig"
    },
    "StorageResourceConfig": {
      "properties": {
        "existingFilestore": {
          "$ref": "ExistingFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported."
        },
        "existingBucket": {
          "$ref": "ExistingBucketConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported."
        },
        "existingLustre": {
          "$ref": "ExistingLustreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
        },
        "newFilestore": {
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created.",
          "$ref": "NewFilestoreConfig"
        },
        "newBucket": {
          "$ref": "NewBucketConfig",
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
        },
        "newLustre": {
          "$ref": "NewLustreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created."
        }
      },
      "type": "object",
      "id": "StorageResourceConfig",
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
    },
    "DeleteNetwork": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true
        }
      },
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "id": "DeleteNetwork"
    },
    "NetworkResourceConfig": {
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "id": "NetworkResourceConfig",
      "properties": {
        "existingNetwork": {
          "$ref": "ExistingNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported."
        },
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        }
      },
      "type": "object"
    },
    "SlurmNodeSet": {
      "properties": {
        "storageConfigs": {
          "items": {
            "$ref": "StorageConfig"
          },
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "type": "array"
        },
        "maxDynamicNodeCount": {
          "type": "string",
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes.",
          "format": "int64"
        },
        "staticNodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times."
        },
        "computeInstance": {
          "$ref": "ComputeInstanceSlurmNodeSet",
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
        },
        "computeId": {
          "type": "string",
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources."
        },
        "id": {
          "type": "string",
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`."
        }
      },
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "id": "SlurmNodeSet",
      "type": "object"
    },
    "NewReservedInstancesConfig": {
      "properties": {
        "reservation": {
          "type": "string",
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`."
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "id": "NewReservedInstancesConfig",
      "type": "object"
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "type": "object",
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "properties": {
        "steps": {
          "items": {
            "$ref": "OperationStep"
          },
          "readOnly": true,
          "description": "Output only. Steps and status of the operation.",
          "type": "array"
        }
      }
    },
    "UpdateNodeset": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be updated.",
      "id": "UpdateNodeset",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to update",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComputeInstanceSlurmNodeSet": {
      "type": "object",
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "properties": {
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the compute instance"
        }
      },
      "id": "ComputeInstanceSlurmNodeSet"
    },
    "CreatePrivateServiceAccess": {
      "id": "CreatePrivateServiceAccess",
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "properties": {},
      "type": "object"
    },
    "SlurmLoginNodes": {
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance."
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "count": {
          "description": "Required. Number of login node instances to create.",
          "format": "int64",
          "type": "string"
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "enablePublicIps": {
          "type": "boolean",
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses)."
        },
        "instances": {
          "items": {
            "$ref": "ComputeInstance"
          },
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "type": "array",
          "readOnly": true
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each login node.",
          "type": "array",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`."
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      },
      "id": "SlurmLoginNodes"
    },
    "SlurmOrchestrator": {
      "properties": {
        "partitions": {
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "type": "array",
          "items": {
            "$ref": "SlurmPartition"
          }
        },
        "epilogBashScripts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty."
        },
        "nodeSets": {
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "type": "array"
        },
        "prologBashScripts": {
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loginNodes": {
          "$ref": "SlurmLoginNodes",
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH."
        },
        "defaultPartition": {
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions.",
          "type": "string"
        }
      },
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator.",
      "type": "object",
      "id": "SlurmOrchestrator"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ExistingLustreConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "ExistingLustreConfig",
      "type": "object"
    },
    "DeleteFilestoreInstance": {
      "id": "DeleteFilestoreInstance",
      "type": "object",
      "properties": {
        "filestore": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "UpdateLoginNode": {
      "properties": {},
      "type": "object",
      "id": "UpdateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be updated."
    },
    "OperationStep": {
      "id": "OperationStep",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "properties": {
        "createPrivateServiceAccess": {
          "readOnly": true,
          "$ref": "CreatePrivateServiceAccess",
          "description": "Output only. If set, indicates that new private service access creation is part of the operation."
        },
        "createNetwork": {
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateNetwork"
        },
        "checkClusterHealth": {
          "$ref": "CheckClusterHealth",
          "readOnly": true,
          "description": "Output only. If set, indicates that cluster health check is part of the operation."
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateLoginNode"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the operation step.",
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "type": "string"
        },
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "readOnly": true,
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation."
        },
        "updatePartition": {
          "$ref": "UpdatePartition",
          "readOnly": true,
          "description": "Output only. If set, indicates that partition update is part of the operation."
        },
        "updateOrchestrator": {
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "$ref": "UpdateOrchestrator",
          "readOnly": true
        },
        "deleteStorageBucket": {
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteStorageBucket"
        },
        "updateLoginNode": {
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateLoginNode"
        },
        "deleteFilestoreInstance": {
          "readOnly": true,
          "$ref": "DeleteFilestoreInstance",
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation."
        },
        "deletePrivateServiceAccess": {
          "readOnly": true,
          "$ref": "DeletePrivateServiceAccess",
          "description": "Output only. If set, indicates that private service access deletion is part of the operation."
        },
        "createPartition": {
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "$ref": "CreatePartition",
          "readOnly": true
        },
        "createFilestoreInstance": {
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "$ref": "CreateFilestoreInstance",
          "readOnly": true
        },
        "createNodeset": {
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "$ref": "CreateNodeset",
          "readOnly": true
        },
        "deleteNodeset": {
          "readOnly": true,
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "$ref": "DeleteNodeset"
        },
        "createOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation.",
          "$ref": "CreateOrchestrator",
          "readOnly": true
        },
        "deleteLustreInstance": {
          "readOnly": true,
          "$ref": "DeleteLustreInstance",
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation."
        },
        "deleteNetwork": {
          "readOnly": true,
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "$ref": "DeleteNetwork"
        },
        "deleteOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "$ref": "DeleteOrchestrator",
          "readOnly": true
        },
        "deletePartition": {
          "readOnly": true,
          "$ref": "DeletePartition",
          "description": "Output only. If set, indicates that partition deletion is part of the operation."
        },
        "createStorageBucket": {
          "readOnly": true,
          "$ref": "CreateStorageBucket",
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation."
        },
        "deleteLoginNode": {
          "$ref": "DeleteLoginNode",
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "readOnly": true
        },
        "updateNodeset": {
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateNodeset"
        }
      },
      "type": "object"
    },
    "ExistingNetworkConfig": {
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`."
        },
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExistingNetworkConfig"
    },
    "NetworkReference": {
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`."
        },
        "subnetwork": {
          "type": "string",
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "NetworkReference",
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine."
    },
    "DeleteNodeset": {
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "properties": {
        "nodesets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true
        }
      },
      "id": "DeleteNodeset",
      "type": "object"
    },
    "UpdatePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name of the partition to update"
        }
      },
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "id": "UpdatePartition"
    },
    "CheckClusterHealth": {
      "id": "CheckClusterHealth",
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "type": "object",
      "properties": {}
    },
    "Location": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "Orchestrator": {
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      },
      "type": "object",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "id": "Orchestrator"
    },
    "DeletePrivateServiceAccess": {
      "id": "DeletePrivateServiceAccess",
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "properties": {},
      "type": "object"
    },
    "CreateNetwork": {
      "description": "When set in OperationStep, indicates that a new network should be created.",
      "id": "CreateNetwork",
      "type": "object",
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      }
    },
    "NewOnDemandInstancesConfig": {
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "id": "NewOnDemandInstancesConfig",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        }
      },
      "type": "object"
    },
    "CreateStorageBucket": {
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "id": "CreateStorageBucket",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExistingBucketConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "id": "ExistingBucketConfig",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FilestoreReference": {
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "type": "object",
      "properties": {
        "filestore": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "FilestoreReference"
    },
    "UpdateOrchestrator": {
      "properties": {},
      "type": "object",
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated."
    },
    "GcsAutoclassConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables Auto-class feature."
        },
        "terminalStorageClass": {
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ],
          "type": "string",
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ]
        }
      },
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "id": "GcsAutoclassConfig",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "ExistingFilestoreConfig": {
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "id": "ExistingFilestoreConfig",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      }
    },
    "DeleteStorageBucket": {
      "id": "DeleteStorageBucket",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreateLoginNode": {
      "id": "CreateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "type": "object",
      "properties": {}
    },
    "BootDisk": {
      "id": "BootDisk",
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
        }
      },
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance."
    },
    "GcsHierarchicalNamespaceConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables hierarchical namespace setup for the bucket."
        }
      },
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "id": "GcsHierarchicalNamespaceConfig"
    },
    "CreateNodeset": {
      "properties": {
        "nodesets": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to create",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CreateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be created."
    },
    "ComputeInstance": {
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "properties": {
        "instance": {
          "readOnly": true,
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "type": "string"
        }
      },
      "id": "ComputeInstance",
      "type": "object"
    },
    "CreateFilestoreInstance": {
      "id": "CreateFilestoreInstance",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created."
    },
    "ListClustersResponse": {
      "description": "Response message for ListClusters.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "Clusters in the specified location."
        }
      },
      "type": "object",
      "id": "ListClustersResponse"
    },
    "CreateLustreInstance": {
      "description": "When set in OperationStep, indicates that a new lustre instance should be created.",
      "type": "object",
      "id": "CreateLustreInstance",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StorageConfig": {
      "type": "object",
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "properties": {
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        },
        "localMount": {
          "type": "string",
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`)."
        }
      },
      "id": "StorageConfig"
    },
    "NewFlexStartInstancesConfig": {
      "id": "NewFlexStartInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "maxDuration": {
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "BucketReference": {
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "type": "object",
      "id": "BucketReference",
      "properties": {
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the bucket."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "hypercomputecluster.projects.locations.list"
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "hypercomputecluster.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            },
            "clusters": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "description": "Creates a new Cluster in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.create"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
                    }
                  },
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.get"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value."
                    },
                    "parent": {
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "description": "Lists Clusters in a given project and location.",
                  "path": "v1/{+parent}/clusters",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Cluster.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "protocol": "rest",
  "name": "hypercomputecluster",
  "id": "hypercomputecluster:v1",
  "basePath": "",
  "version": "v1",
  "revision": "20260820"
}