{
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "canonicalName": "Hypercompute Cluster",
  "name": "hypercomputecluster",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "protocol": "rest",
  "version": "v1",
  "revision": "20260812",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "hypercomputecluster.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                }
              },
              "id": "hypercomputecluster.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "clusters": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "request": {
                    "$ref": "Cluster"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "name": {
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Cluster.",
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Clusters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Cluster in a given project and location.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "location": "query"
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.create",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "ownerName": "Google",
  "id": "hypercomputecluster:v1",
  "schemas": {
    "CreateLoginNode": {
      "type": "object",
      "properties": {},
      "id": "CreateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be created."
    },
    "DeletePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to delete",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "DeletePartition",
      "description": "When set in OperationStep, indicates that a partition should be deleted."
    },
    "StorageResource": {
      "id": "StorageResource",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster.",
      "type": "object",
      "properties": {
        "bucket": {
          "$ref": "BucketReference",
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "readOnly": true
        },
        "lustre": {
          "$ref": "LustreReference",
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "readOnly": true
        },
        "filestore": {
          "$ref": "FilestoreReference",
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "readOnly": true
        },
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        }
      }
    },
    "CheckClusterHealth": {
      "id": "CheckClusterHealth",
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "type": "object",
      "properties": {}
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "orchestrator": {
          "$ref": "Orchestrator",
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster."
        },
        "description": {
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time that the cluster was most recently updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "type": "object"
        },
        "networkResources": {
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Time that the cluster was originally created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "storageResources": {
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "computeResources": {
          "type": "object",
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "ComputeResource"
          }
        }
      },
      "id": "Cluster",
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together."
    },
    "StorageConfig": {
      "id": "StorageConfig",
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        },
        "localMount": {
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`).",
          "type": "string"
        }
      }
    },
    "DeleteNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true
        }
      },
      "id": "DeleteNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted."
    },
    "ComputeResourceConfig": {
      "type": "object",
      "properties": {
        "newFlexStartInstances": {
          "$ref": "NewFlexStartInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs."
        },
        "newOnDemandInstances": {
          "$ref": "NewOnDemandInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs."
        },
        "newSpotInstances": {
          "$ref": "NewSpotInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs."
        },
        "newReservedInstances": {
          "$ref": "NewReservedInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs."
        }
      },
      "id": "ComputeResourceConfig",
      "description": "Describes how a compute resource should be created at runtime."
    },
    "NewReservedInstancesConfig": {
      "id": "NewReservedInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "type": "object",
      "properties": {
        "reservation": {
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`."
        }
      },
      "id": "ExistingNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported."
    },
    "BootDisk": {
      "id": "BootDisk",
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
        },
        "sizeGb": {
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SlurmPartition": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        },
        "nodeSetIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id."
        }
      },
      "id": "SlurmPartition",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "NetworkReference": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true
        },
        "subnetwork": {
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "NetworkReference",
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "Output only. Progress of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "NetworkResource": {
      "id": "NetworkResource",
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "type": "object",
      "properties": {
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        },
        "network": {
          "$ref": "NetworkReference",
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "readOnly": true
        }
      }
    },
    "UpdateOrchestrator": {
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "type": "object",
      "properties": {}
    },
    "LustreReference": {
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "LustreReference",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance."
    },
    "NewNetworkConfig": {
      "id": "NewNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
        }
      }
    },
    "UpdateLoginNode": {
      "type": "object",
      "properties": {},
      "id": "UpdateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be updated."
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "DeleteOrchestrator": {
      "type": "object",
      "properties": {},
      "id": "DeleteOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted."
    },
    "NewOnDemandInstancesConfig": {
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        }
      },
      "id": "NewOnDemandInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created."
    },
    "CreateNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to create",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be created."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "StorageResourceConfig": {
      "type": "object",
      "properties": {
        "existingLustre": {
          "$ref": "ExistingLustreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
        },
        "newFilestore": {
          "$ref": "NewFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created."
        },
        "existingFilestore": {
          "$ref": "ExistingFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported."
        },
        "newBucket": {
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created.",
          "$ref": "NewBucketConfig"
        },
        "existingBucket": {
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported.",
          "$ref": "ExistingBucketConfig"
        },
        "newLustre": {
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created.",
          "$ref": "NewLustreConfig"
        }
      },
      "id": "StorageResourceConfig",
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Output only. Steps and status of the operation.",
          "readOnly": true,
          "items": {
            "$ref": "OperationStep"
          }
        }
      },
      "id": "OperationProgress",
      "description": "Message describing the progress of a cluster mutation long-running operation."
    },
    "NewFilestoreConfig": {
      "type": "object",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "tier": {
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "protocol": {
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
        },
        "fileShares": {
          "items": {
            "$ref": "FileShareConfig"
          },
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "type": "array"
        }
      },
      "id": "NewFilestoreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "NewLustreConfig": {
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters."
        },
        "capacityGb": {
          "type": "string",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000.",
          "format": "int64"
        },
        "lustre": {
          "type": "string",
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        },
        "perUnitStorageThroughput": {
          "type": "string",
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "format": "int64"
        }
      }
    },
    "ExistingBucketConfig": {
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "id": "ExistingBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported."
    },
    "OperationStep": {
      "id": "OperationStep",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "type": "object",
      "properties": {
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true
        },
        "checkClusterHealth": {
          "description": "Output only. If set, indicates that cluster health check is part of the operation.",
          "readOnly": true,
          "$ref": "CheckClusterHealth"
        },
        "deletePartition": {
          "description": "Output only. If set, indicates that partition deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeletePartition"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "description": "Output only. State of the operation step.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ]
        },
        "createStorageBucket": {
          "$ref": "CreateStorageBucket",
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation.",
          "readOnly": true
        },
        "updateNodeset": {
          "$ref": "UpdateNodeset",
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "readOnly": true
        },
        "deleteNetwork": {
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNetwork"
        },
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "deleteNodeset": {
          "$ref": "DeleteNodeset",
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "readOnly": true
        },
        "createFilestoreInstance": {
          "$ref": "CreateFilestoreInstance",
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true
        },
        "createOrchestrator": {
          "$ref": "CreateOrchestrator",
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation.",
          "readOnly": true
        },
        "deleteLustreInstance": {
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteLustreInstance"
        },
        "createPartition": {
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreatePartition"
        },
        "deletePrivateServiceAccess": {
          "$ref": "DeletePrivateServiceAccess",
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "readOnly": true
        },
        "createPrivateServiceAccess": {
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreatePrivateServiceAccess"
        },
        "deleteOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteOrchestrator"
        },
        "updatePartition": {
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdatePartition"
        },
        "deleteFilestoreInstance": {
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteFilestoreInstance"
        },
        "deleteStorageBucket": {
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteStorageBucket"
        },
        "deleteLoginNode": {
          "$ref": "DeleteLoginNode",
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "readOnly": true
        },
        "createNetwork": {
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateNetwork"
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateLoginNode"
        },
        "updateOrchestrator": {
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateOrchestrator"
        },
        "updateLoginNode": {
          "$ref": "UpdateLoginNode",
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "readOnly": true
        }
      }
    },
    "ExistingFilestoreConfig": {
      "id": "ExistingFilestoreConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "type": "object",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      }
    },
    "CreateLustreInstance": {
      "type": "object",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "id": "CreateLustreInstance",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created."
    },
    "NetworkResourceConfig": {
      "type": "object",
      "properties": {
        "newNetwork": {
          "$ref": "NewNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that a new network should be created."
        },
        "existingNetwork": {
          "$ref": "ExistingNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported."
        }
      },
      "id": "NetworkResourceConfig",
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
    },
    "CreateStorageBucket": {
      "id": "CreateStorageBucket",
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      }
    },
    "DeleteNetwork": {
      "id": "DeleteNetwork",
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeleteLoginNode": {
      "type": "object",
      "properties": {},
      "id": "DeleteLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be deleted."
    },
    "BucketReference": {
      "id": "BucketReference",
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      }
    },
    "CreateOrchestrator": {
      "id": "CreateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "type": "object",
      "properties": {}
    },
    "NewBucketConfig": {
      "id": "NewBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "type": "object",
      "properties": {
        "autoclass": {
          "$ref": "GcsAutoclassConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass)."
        },
        "storageClass": {
          "type": "string",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ],
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ]
        },
        "hierarchicalNamespace": {
          "$ref": "GcsHierarchicalNamespaceConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview)."
        },
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create.",
          "type": "string"
        }
      }
    },
    "CreateNetwork": {
      "id": "CreateNetwork",
      "description": "When set in OperationStep, indicates that a new network should be created.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NewSpotInstancesConfig": {
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "terminationAction": {
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "type": "string",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ]
        }
      },
      "id": "NewSpotInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created."
    },
    "DeleteFilestoreInstance": {
      "type": "object",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeleteFilestoreInstance",
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted."
    },
    "DeleteStorageBucket": {
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      },
      "id": "DeleteStorageBucket",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted."
    },
    "FileShareConfig": {
      "type": "object",
      "properties": {
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        },
        "capacityGb": {
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "FileShareConfig",
      "description": "Message describing filestore configuration"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response message for ListClusters.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "type": "array",
          "description": "Clusters in the specified location.",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages."
        }
      }
    },
    "ExistingLustreConfig": {
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "ExistingLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported."
    },
    "Orchestrator": {
      "id": "Orchestrator",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "type": "object",
      "properties": {
        "slurm": {
          "$ref": "SlurmOrchestrator",
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator."
        }
      }
    },
    "SlurmNodeSet": {
      "id": "SlurmNodeSet",
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`.",
          "type": "string"
        },
        "computeInstance": {
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances.",
          "$ref": "ComputeInstanceSlurmNodeSet"
        },
        "computeId": {
          "type": "string",
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources."
        },
        "staticNodeCount": {
          "type": "string",
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "format": "int64"
        },
        "storageConfigs": {
          "type": "array",
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "maxDynamicNodeCount": {
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DeleteLustreInstance": {
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeleteLustreInstance",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ComputeInstanceSlurmNodeSet": {
      "id": "ComputeInstanceSlurmNodeSet",
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "type": "object",
      "properties": {
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset."
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the compute instance"
        }
      }
    },
    "FilestoreReference": {
      "type": "object",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "id": "FilestoreReference",
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "UpdateNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to update",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "UpdateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be updated."
    },
    "ComputeInstance": {
      "type": "object",
      "properties": {
        "instance": {
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ComputeInstance",
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances)."
    },
    "SlurmOrchestrator": {
      "id": "SlurmOrchestrator",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator.",
      "type": "object",
      "properties": {
        "loginNodes": {
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH.",
          "$ref": "SlurmLoginNodes"
        },
        "defaultPartition": {
          "type": "string",
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions."
        },
        "epilogBashScripts": {
          "type": "array",
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "items": {
            "type": "string"
          }
        },
        "nodeSets": {
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "type": "array",
          "items": {
            "$ref": "SlurmNodeSet"
          }
        },
        "partitions": {
          "items": {
            "$ref": "SlurmPartition"
          },
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "type": "array"
        },
        "prologBashScripts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "type": "array"
        }
      }
    },
    "CreatePrivateServiceAccess": {
      "id": "CreatePrivateServiceAccess",
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "type": "object",
      "properties": {}
    },
    "NewFlexStartInstancesConfig": {
      "id": "NewFlexStartInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "type": "object",
      "properties": {
        "maxDuration": {
          "type": "string",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "format": "google-duration"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        }
      }
    },
    "CreateFilestoreInstance": {
      "type": "object",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "id": "CreateFilestoreInstance",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created."
    },
    "CreatePartition": {
      "id": "CreatePartition",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to create",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "UpdatePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name of the partition to update",
          "readOnly": true
        }
      },
      "id": "UpdatePartition",
      "description": "When set in OperationStep, indicates that a partition should be updated."
    },
    "SlurmLoginNodes": {
      "type": "object",
      "properties": {
        "enablePublicIps": {
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses).",
          "type": "boolean"
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each login node.",
          "type": "array",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "instances": {
          "items": {
            "$ref": "ComputeInstance"
          },
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "readOnly": true,
          "type": "array"
        },
        "count": {
          "description": "Required. Number of login node instances to create.",
          "format": "int64",
          "type": "string"
        },
        "zone": {
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance.",
          "type": "object"
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        }
      },
      "id": "SlurmLoginNodes",
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH."
    },
    "ComputeResource": {
      "type": "object",
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "id": "ComputeResource",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster."
    },
    "DeletePrivateServiceAccess": {
      "id": "DeletePrivateServiceAccess",
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "type": "object",
      "properties": {}
    },
    "GcsAutoclassConfig": {
      "id": "GcsAutoclassConfig",
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "type": "object",
      "properties": {
        "terminalStorageClass": {
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ],
          "type": "string",
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ]
        },
        "enabled": {
          "description": "Required. Enables Auto-class feature.",
          "type": "boolean"
        }
      }
    },
    "GcsHierarchicalNamespaceConfig": {
      "id": "GcsHierarchicalNamespaceConfig",
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables hierarchical namespace setup for the bucket."
        }
      }
    }
  },
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "title": "Cluster Director API"
}