{
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "revision": "20260820",
  "servicePath": "",
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "hypercomputecluster:v1",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "name": "hypercomputecluster",
  "title": "Cluster Director API",
  "schemas": {
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "FileShareConfig": {
      "type": "object",
      "id": "FileShareConfig",
      "description": "Message describing filestore configuration",
      "properties": {
        "capacityGb": {
          "format": "int64",
          "type": "string",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers."
        },
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        }
      }
    },
    "StorageConfig": {
      "type": "object",
      "properties": {
        "localMount": {
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`).",
          "type": "string"
        },
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        }
      },
      "id": "StorageConfig",
      "description": "Description of how a storage resource should be mounted on a VM instance."
    },
    "ComputeResource": {
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "id": "ComputeResource",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "type": "object"
    },
    "CreateFilestoreInstance": {
      "type": "object",
      "id": "CreateFilestoreInstance",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      }
    },
    "NewNetworkConfig": {
      "type": "object",
      "id": "NewNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        }
      }
    },
    "UpdateNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to update",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "UpdateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be updated."
    },
    "SlurmLoginNodes": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of login node instances to create."
        },
        "zone": {
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`.",
          "type": "string"
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each login node.",
          "items": {
            "$ref": "StorageConfig"
          },
          "type": "array"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "enablePublicIps": {
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses).",
          "type": "boolean"
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "instances": {
          "type": "array",
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "readOnly": true,
          "items": {
            "$ref": "ComputeInstance"
          }
        }
      },
      "id": "SlurmLoginNodes",
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH."
    },
    "SlurmPartition": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        },
        "nodeSetIds": {
          "type": "array",
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SlurmPartition",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "DeletePrivateServiceAccess": {
      "type": "object",
      "properties": {},
      "id": "DeletePrivateServiceAccess",
      "description": "When set in OperationStep, indicates private service access deletion step."
    },
    "UpdateOrchestrator": {
      "properties": {},
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "type": "object"
    },
    "NewBucketConfig": {
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create.",
          "type": "string"
        },
        "autoclass": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass).",
          "$ref": "GcsAutoclassConfig"
        },
        "storageClass": {
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ]
        },
        "hierarchicalNamespace": {
          "$ref": "GcsHierarchicalNamespaceConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview)."
        }
      },
      "id": "NewBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created."
    },
    "ExistingLustreConfig": {
      "id": "ExistingLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcsHierarchicalNamespaceConfig": {
      "properties": {
        "enabled": {
          "description": "Required. Enables hierarchical namespace setup for the bucket.",
          "type": "boolean"
        }
      },
      "id": "GcsHierarchicalNamespaceConfig",
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "type": "object"
    },
    "SlurmOrchestrator": {
      "type": "object",
      "id": "SlurmOrchestrator",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator.",
      "properties": {
        "epilogBashScripts": {
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "partitions": {
          "type": "array",
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "items": {
            "$ref": "SlurmPartition"
          }
        },
        "prologBashScripts": {
          "type": "array",
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "items": {
            "type": "string"
          }
        },
        "loginNodes": {
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH.",
          "$ref": "SlurmLoginNodes"
        },
        "defaultPartition": {
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions.",
          "type": "string"
        },
        "nodeSets": {
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "progress": {
          "description": "Output only. Progress of the operation.",
          "readOnly": true,
          "$ref": "OperationProgress"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ExistingFilestoreConfig": {
      "type": "object",
      "id": "ExistingFilestoreConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      }
    },
    "OperationStep": {
      "properties": {
        "createPrivateServiceAccess": {
          "$ref": "CreatePrivateServiceAccess",
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "readOnly": true
        },
        "createPartition": {
          "$ref": "CreatePartition",
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "readOnly": true
        },
        "deleteNodeset": {
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNodeset"
        },
        "deletePrivateServiceAccess": {
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeletePrivateServiceAccess"
        },
        "deleteLustreInstance": {
          "$ref": "DeleteLustreInstance",
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation.",
          "readOnly": true
        },
        "deleteLoginNode": {
          "$ref": "DeleteLoginNode",
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "readOnly": true
        },
        "deleteOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteOrchestrator"
        },
        "updateOrchestrator": {
          "$ref": "UpdateOrchestrator",
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "readOnly": true
        },
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateLoginNode"
        },
        "updateNodeset": {
          "$ref": "UpdateNodeset",
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "readOnly": true
        },
        "createLustreInstance": {
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateLustreInstance"
        },
        "createOrchestrator": {
          "$ref": "CreateOrchestrator",
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation.",
          "readOnly": true
        },
        "createNetwork": {
          "$ref": "CreateNetwork",
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "readOnly": true
        },
        "updateLoginNode": {
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateLoginNode"
        },
        "deleteNetwork": {
          "$ref": "DeleteNetwork",
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "readOnly": true
        },
        "createStorageBucket": {
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateStorageBucket"
        },
        "updatePartition": {
          "$ref": "UpdatePartition",
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "readOnly": true
        },
        "createFilestoreInstance": {
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateFilestoreInstance"
        },
        "deleteStorageBucket": {
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteStorageBucket"
        },
        "deletePartition": {
          "description": "Output only. If set, indicates that partition deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeletePartition"
        },
        "checkClusterHealth": {
          "$ref": "CheckClusterHealth",
          "description": "Output only. If set, indicates that cluster health check is part of the operation.",
          "readOnly": true
        },
        "deleteFilestoreInstance": {
          "$ref": "DeleteFilestoreInstance",
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the operation step.",
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "type": "string"
        }
      },
      "id": "OperationStep",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "type": "object"
    },
    "StorageResource": {
      "properties": {
        "bucket": {
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "readOnly": true,
          "$ref": "BucketReference"
        },
        "filestore": {
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "readOnly": true,
          "$ref": "FilestoreReference"
        },
        "lustre": {
          "$ref": "LustreReference",
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "readOnly": true
        },
        "config": {
          "$ref": "StorageResourceConfig",
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration."
        }
      },
      "id": "StorageResource",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster.",
      "type": "object"
    },
    "NewFlexStartInstancesConfig": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "maxDuration": {
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "NewFlexStartInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models)."
    },
    "Orchestrator": {
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      },
      "id": "Orchestrator",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "CreateNodeset": {
      "id": "CreateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be created.",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to create",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusters": {
          "type": "array",
          "description": "Clusters in the specified location.",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListClustersResponse",
      "description": "Response message for ListClusters."
    },
    "CreatePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Output only. Name of the partition to create",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreatePartition",
      "description": "When set in OperationStep, indicates that a partition should be created."
    },
    "DeleteNetwork": {
      "id": "DeleteNetwork",
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "NetworkReference": {
      "type": "object",
      "id": "NetworkReference",
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "properties": {
        "network": {
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "readOnly": true
        }
      }
    },
    "NetworkResource": {
      "id": "NetworkResource",
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "properties": {
        "network": {
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "readOnly": true,
          "$ref": "NetworkReference"
        },
        "config": {
          "$ref": "NetworkResourceConfig",
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration."
        }
      },
      "type": "object"
    },
    "UpdateLoginNode": {
      "type": "object",
      "properties": {},
      "id": "UpdateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be updated."
    },
    "BootDisk": {
      "properties": {
        "type": {
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "BootDisk",
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "type": "object"
    },
    "NewFilestoreConfig": {
      "type": "object",
      "id": "NewFilestoreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "fileShares": {
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ]
        },
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`.",
          "type": "string"
        },
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        }
      }
    },
    "CreateNetwork": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true
        }
      },
      "id": "CreateNetwork",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "UpdatePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to update",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "UpdatePartition",
      "description": "When set in OperationStep, indicates that a partition should be updated."
    },
    "DeleteLoginNode": {
      "id": "DeleteLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be deleted.",
      "properties": {},
      "type": "object"
    },
    "ExistingBucketConfig": {
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "id": "ExistingBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported."
    },
    "FilestoreReference": {
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FilestoreReference",
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "type": "object"
    },
    "StorageResourceConfig": {
      "type": "object",
      "properties": {
        "newBucket": {
          "$ref": "NewBucketConfig",
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
        },
        "existingBucket": {
          "$ref": "ExistingBucketConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported."
        },
        "newFilestore": {
          "$ref": "NewFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created."
        },
        "existingFilestore": {
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported.",
          "$ref": "ExistingFilestoreConfig"
        },
        "newLustre": {
          "$ref": "NewLustreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created."
        },
        "existingLustre": {
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported.",
          "$ref": "ExistingLustreConfig"
        }
      },
      "id": "StorageResourceConfig",
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "properties": {
        "computeResources": {
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object",
          "additionalProperties": {
            "$ref": "ComputeResource"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries."
        },
        "networkResources": {
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object",
          "additionalProperties": {
            "$ref": "NetworkResource"
          }
        },
        "createTime": {
          "description": "Output only. Time that the cluster was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time that the cluster was most recently updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "storageResources": {
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object",
          "additionalProperties": {
            "$ref": "StorageResource"
          }
        },
        "orchestrator": {
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster.",
          "$ref": "Orchestrator"
        },
        "uid": {
          "description": "Output only. The globally unique identifier for this Cluster.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BucketReference": {
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      },
      "id": "BucketReference",
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket."
    },
    "DeleteFilestoreInstance": {
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeleteFilestoreInstance",
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "type": "object"
    },
    "ComputeResourceConfig": {
      "type": "object",
      "id": "ComputeResourceConfig",
      "description": "Describes how a compute resource should be created at runtime.",
      "properties": {
        "newOnDemandInstances": {
          "$ref": "NewOnDemandInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs."
        },
        "newSpotInstances": {
          "$ref": "NewSpotInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs."
        },
        "newReservedInstances": {
          "$ref": "NewReservedInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs."
        },
        "newFlexStartInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs.",
          "$ref": "NewFlexStartInstancesConfig"
        }
      }
    },
    "GcsAutoclassConfig": {
      "id": "GcsAutoclassConfig",
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "properties": {
        "terminalStorageClass": {
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ]
        },
        "enabled": {
          "description": "Required. Enables Auto-class feature.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "NewSpotInstancesConfig": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "terminationAction": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ]
        }
      },
      "id": "NewSpotInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created."
    },
    "NewOnDemandInstancesConfig": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "id": "NewOnDemandInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CheckClusterHealth": {
      "type": "object",
      "id": "CheckClusterHealth",
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "properties": {}
    },
    "SlurmNodeSet": {
      "type": "object",
      "properties": {
        "maxDynamicNodeCount": {
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes.",
          "type": "string",
          "format": "int64"
        },
        "storageConfigs": {
          "type": "array",
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "computeId": {
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources.",
          "type": "string"
        },
        "computeInstance": {
          "$ref": "ComputeInstanceSlurmNodeSet",
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
        },
        "id": {
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`.",
          "type": "string"
        },
        "staticNodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times."
        }
      },
      "id": "SlurmNodeSet",
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "OperationProgress": {
      "type": "object",
      "id": "OperationProgress",
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "properties": {
        "steps": {
          "description": "Output only. Steps and status of the operation.",
          "readOnly": true,
          "items": {
            "$ref": "OperationStep"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "DeleteOrchestrator": {
      "type": "object",
      "id": "DeleteOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted.",
      "properties": {}
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "id": "ExistingNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CreateLoginNode": {
      "id": "CreateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "properties": {},
      "type": "object"
    },
    "ComputeInstanceSlurmNodeSet": {
      "type": "object",
      "properties": {
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset."
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the compute instance"
        }
      },
      "id": "ComputeInstanceSlurmNodeSet",
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances."
    },
    "NewLustreConfig": {
      "type": "object",
      "properties": {
        "capacityGb": {
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000.",
          "format": "int64",
          "type": "string"
        },
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "perUnitStorageThroughput": {
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "type": "string",
          "format": "int64"
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        }
      },
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created."
    },
    "LustreReference": {
      "type": "object",
      "id": "LustreReference",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      }
    },
    "DeleteNodeset": {
      "id": "DeleteNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeletePartition": {
      "id": "DeletePartition",
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Output only. Name of the partition to delete",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DeleteStorageBucket": {
      "type": "object",
      "id": "DeleteStorageBucket",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NewReservedInstancesConfig": {
      "properties": {
        "reservation": {
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`.",
          "type": "string"
        }
      },
      "id": "NewReservedInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "type": "object"
    },
    "CreateStorageBucket": {
      "type": "object",
      "id": "CreateStorageBucket",
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NetworkResourceConfig": {
      "type": "object",
      "id": "NetworkResourceConfig",
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "properties": {
        "newNetwork": {
          "$ref": "NewNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that a new network should be created."
        },
        "existingNetwork": {
          "$ref": "ExistingNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported."
        }
      }
    },
    "DeleteLustreInstance": {
      "id": "DeleteLustreInstance",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ComputeInstance": {
      "type": "object",
      "id": "ComputeInstance",
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "properties": {
        "instance": {
          "type": "string",
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "readOnly": true
        }
      }
    },
    "CreatePrivateServiceAccess": {
      "type": "object",
      "properties": {},
      "id": "CreatePrivateServiceAccess",
      "description": "When set in OperationStep, indicates that a new private service access should be created."
    },
    "CreateLustreInstance": {
      "type": "object",
      "id": "CreateLustreInstance",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created.",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreateOrchestrator": {
      "type": "object",
      "id": "CreateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "properties": {}
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "hypercomputecluster.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "id": "hypercomputecluster.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "clusters": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Cluster.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "clusterId": {
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new Cluster in a given project and location.",
                  "path": "v1/{+parent}/clusters",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.create"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "path": "v1/{+parent}/clusters",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`."
                    },
                    "pageToken": {
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists Clusters in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters"
                },
                "get": {
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single Cluster."
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Cluster.",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Hypercompute Cluster"
}