{
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "OperationMetadata": {
      "properties": {
        "progress": {
          "description": "Output only. Progress of the operation.",
          "readOnly": true,
          "$ref": "OperationProgress"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Orchestrator": {
      "type": "object",
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      },
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "id": "Orchestrator"
    },
    "CreateLustreInstance": {
      "id": "CreateLustreInstance",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created.",
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdatePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "id": "UpdatePartition",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Output only. Name of the partition to update",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Output only. Steps and status of the operation.",
          "readOnly": true,
          "items": {
            "$ref": "OperationStep"
          }
        }
      },
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "type": "object"
    },
    "BootDisk": {
      "type": "object",
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "id": "BootDisk",
      "properties": {
        "type": {
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FileShareConfig": {
      "description": "Message describing filestore configuration",
      "id": "FileShareConfig",
      "type": "object",
      "properties": {
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        },
        "capacityGb": {
          "format": "int64",
          "type": "string",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers."
        }
      }
    },
    "OperationStep": {
      "id": "OperationStep",
      "type": "object",
      "properties": {
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "deleteNodeset": {
          "readOnly": true,
          "$ref": "DeleteNodeset",
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation."
        },
        "deleteStorageBucket": {
          "$ref": "DeleteStorageBucket",
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true
        },
        "createOrchestrator": {
          "$ref": "CreateOrchestrator",
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation.",
          "readOnly": true
        },
        "deleteNetwork": {
          "readOnly": true,
          "$ref": "DeleteNetwork",
          "description": "Output only. If set, indicates that network deletion is part of the operation."
        },
        "checkClusterHealth": {
          "readOnly": true,
          "$ref": "CheckClusterHealth",
          "description": "Output only. If set, indicates that cluster health check is part of the operation."
        },
        "updateOrchestrator": {
          "$ref": "UpdateOrchestrator",
          "readOnly": true,
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation."
        },
        "updateLoginNode": {
          "readOnly": true,
          "$ref": "UpdateLoginNode",
          "description": "Output only. If set, indicates that login node update is part of the operation."
        },
        "createPrivateServiceAccess": {
          "$ref": "CreatePrivateServiceAccess",
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "readOnly": true
        },
        "updatePartition": {
          "$ref": "UpdatePartition",
          "readOnly": true,
          "description": "Output only. If set, indicates that partition update is part of the operation."
        },
        "createStorageBucket": {
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation.",
          "$ref": "CreateStorageBucket",
          "readOnly": true
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "$ref": "CreateLoginNode",
          "readOnly": true
        },
        "createPartition": {
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreatePartition"
        },
        "createNetwork": {
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "$ref": "CreateNetwork",
          "readOnly": true
        },
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true
        },
        "deletePrivateServiceAccess": {
          "readOnly": true,
          "$ref": "DeletePrivateServiceAccess",
          "description": "Output only. If set, indicates that private service access deletion is part of the operation."
        },
        "deleteLustreInstance": {
          "$ref": "DeleteLustreInstance",
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation.",
          "readOnly": true
        },
        "updateNodeset": {
          "readOnly": true,
          "$ref": "UpdateNodeset",
          "description": "Output only. If set, indicates that nodeset update is part of the operation."
        },
        "deleteFilestoreInstance": {
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteFilestoreInstance"
        },
        "deleteOrchestrator": {
          "readOnly": true,
          "$ref": "DeleteOrchestrator",
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation."
        },
        "deletePartition": {
          "readOnly": true,
          "$ref": "DeletePartition",
          "description": "Output only. If set, indicates that partition deletion is part of the operation."
        },
        "state": {
          "description": "Output only. State of the operation step.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "type": "string"
        },
        "createFilestoreInstance": {
          "$ref": "CreateFilestoreInstance",
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true
        },
        "deleteLoginNode": {
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteLoginNode"
        }
      },
      "description": "Message describing the status of a single step in a cluster mutation long-running operation."
    },
    "NewSpotInstancesConfig": {
      "properties": {
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "terminationAction": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ],
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE."
        }
      },
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "id": "NewSpotInstancesConfig"
    },
    "NetworkResource": {
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "type": "object",
      "id": "NetworkResource",
      "properties": {
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        },
        "network": {
          "readOnly": true,
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "$ref": "NetworkReference"
        }
      }
    },
    "CreateOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "properties": {},
      "id": "CreateOrchestrator",
      "type": "object"
    },
    "ExistingNetworkConfig": {
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        }
      },
      "id": "ExistingNetworkConfig",
      "type": "object",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported."
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "UpdateLoginNode": {
      "properties": {},
      "type": "object",
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "id": "UpdateLoginNode"
    },
    "CreateNetwork": {
      "properties": {
        "network": {
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateNetwork",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "ExistingLustreConfig": {
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "id": "ExistingLustreConfig"
    },
    "ComputeResource": {
      "type": "object",
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "id": "ComputeResource",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster."
    },
    "SlurmPartition": {
      "type": "object",
      "properties": {
        "nodeSetIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id."
        },
        "id": {
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        }
      },
      "id": "SlurmPartition",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "CreateStorageBucket": {
      "id": "CreateStorageBucket",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "type": "object",
      "properties": {
        "orchestrator": {
          "$ref": "Orchestrator",
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster."
        },
        "storageResources": {
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique identifier for this Cluster.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the cluster was most recently updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "computeResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ComputeResource"
          },
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters."
        },
        "reconciling": {
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "type": "boolean",
          "readOnly": true
        },
        "networkResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the cluster was originally created."
        }
      }
    },
    "NewLustreConfig": {
      "properties": {
        "perUnitStorageThroughput": {
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "format": "int64",
          "type": "string"
        },
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "filesystem": {
          "type": "string",
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers."
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters."
        },
        "capacityGb": {
          "type": "string",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000.",
          "format": "int64"
        }
      },
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created.",
      "type": "object"
    },
    "CreateNodeset": {
      "description": "When set in OperationStep, indicates that a nodeset should be created.",
      "properties": {
        "nodesets": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Name of the nodeset to create",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateNodeset",
      "type": "object"
    },
    "ListClustersResponse": {
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "Clusters in the specified location."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListClusters.",
      "id": "ListClustersResponse"
    },
    "DeletePrivateServiceAccess": {
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "type": "object",
      "properties": {},
      "id": "DeletePrivateServiceAccess"
    },
    "ExistingFilestoreConfig": {
      "id": "ExistingFilestoreConfig",
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported."
    },
    "CreateLoginNode": {
      "properties": {},
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "id": "CreateLoginNode",
      "type": "object"
    },
    "CreateFilestoreInstance": {
      "properties": {
        "filestore": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateFilestoreInstance",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created."
    },
    "BucketReference": {
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "type": "object",
      "id": "BucketReference",
      "properties": {
        "bucket": {
          "readOnly": true,
          "description": "Output only. Name of the bucket.",
          "type": "string"
        }
      }
    },
    "DeletePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "id": "DeletePartition",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to delete",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "NewFilestoreConfig": {
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "fileShares": {
          "items": {
            "$ref": "FileShareConfig"
          },
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "type": "array"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set."
        },
        "description": {
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "type": "string",
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        }
      },
      "id": "NewFilestoreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "type": "object"
    },
    "CreatePrivateServiceAccess": {
      "properties": {},
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "id": "CreatePrivateServiceAccess",
      "type": "object"
    },
    "NewOnDemandInstancesConfig": {
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "id": "NewOnDemandInstancesConfig",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      }
    },
    "NewReservedInstancesConfig": {
      "properties": {
        "reservation": {
          "type": "string",
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`."
        }
      },
      "id": "NewReservedInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "type": "object"
    },
    "SlurmLoginNodes": {
      "id": "SlurmLoginNodes",
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "storageConfigs": {
          "type": "array",
          "items": {
            "$ref": "StorageConfig"
          },
          "description": "Optional. How storage resources should be mounted on each login node."
        },
        "count": {
          "type": "string",
          "description": "Required. Number of login node instances to create.",
          "format": "int64"
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`."
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "instances": {
          "type": "array",
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "readOnly": true,
          "items": {
            "$ref": "ComputeInstance"
          }
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "enablePublicIps": {
          "type": "boolean",
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses)."
        },
        "zone": {
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      }
    },
    "DeleteNetwork": {
      "type": "object",
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "properties": {
        "network": {
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DeleteNetwork"
    },
    "NetworkResourceConfig": {
      "properties": {
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        },
        "existingNetwork": {
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported.",
          "$ref": "ExistingNetworkConfig"
        }
      },
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "id": "NetworkResourceConfig"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "NewNetworkConfig": {
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
        }
      },
      "type": "object",
      "id": "NewNetworkConfig"
    },
    "GcsAutoclassConfig": {
      "type": "object",
      "properties": {
        "terminalStorageClass": {
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ],
          "type": "string",
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ]
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables Auto-class feature."
        }
      },
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "id": "GcsAutoclassConfig"
    },
    "LustreReference": {
      "id": "LustreReference",
      "type": "object",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeleteLustreInstance": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeleteLustreInstance"
    },
    "DeleteOrchestrator": {
      "type": "object",
      "properties": {},
      "id": "DeleteOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted."
    },
    "StorageResourceConfig": {
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "id": "StorageResourceConfig",
      "type": "object",
      "properties": {
        "existingBucket": {
          "$ref": "ExistingBucketConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported."
        },
        "newFilestore": {
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created.",
          "$ref": "NewFilestoreConfig"
        },
        "newBucket": {
          "$ref": "NewBucketConfig",
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
        },
        "existingLustre": {
          "$ref": "ExistingLustreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
        },
        "newLustre": {
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created.",
          "$ref": "NewLustreConfig"
        },
        "existingFilestore": {
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported.",
          "$ref": "ExistingFilestoreConfig"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ComputeInstance": {
      "type": "object",
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "properties": {
        "instance": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`."
        }
      },
      "id": "ComputeInstance"
    },
    "CheckClusterHealth": {
      "properties": {},
      "id": "CheckClusterHealth",
      "type": "object",
      "description": "When set in OperationStep, indicates that cluster health check should be performed."
    },
    "NewFlexStartInstancesConfig": {
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "maxDuration": {
          "type": "string",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "format": "google-duration"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "id": "NewFlexStartInstancesConfig",
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models)."
    },
    "ComputeInstanceSlurmNodeSet": {
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "type": "object",
      "properties": {
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB."
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the compute instance",
          "$ref": "BootDisk"
        }
      },
      "id": "ComputeInstanceSlurmNodeSet"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "StorageResource": {
      "properties": {
        "bucket": {
          "$ref": "BucketReference",
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "readOnly": true
        },
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        },
        "filestore": {
          "readOnly": true,
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "$ref": "FilestoreReference"
        },
        "lustre": {
          "$ref": "LustreReference",
          "readOnly": true,
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre."
        }
      },
      "id": "StorageResource",
      "type": "object",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster."
    },
    "GcsHierarchicalNamespaceConfig": {
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "id": "GcsHierarchicalNamespaceConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables hierarchical namespace setup for the bucket."
        }
      }
    },
    "DeleteStorageBucket": {
      "id": "DeleteStorageBucket",
      "properties": {
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the bucket."
        }
      },
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "type": "object"
    },
    "UpdateOrchestrator": {
      "properties": {},
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "type": "object",
      "id": "UpdateOrchestrator"
    },
    "NetworkReference": {
      "id": "NetworkReference",
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "type": "object",
      "properties": {
        "subnetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        },
        "network": {
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateNodeset": {
      "type": "object",
      "id": "UpdateNodeset",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to update",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "When set in OperationStep, indicates that a nodeset should be updated."
    },
    "CreatePartition": {
      "id": "CreatePartition",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to create",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeleteFilestoreInstance": {
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "id": "DeleteFilestoreInstance",
      "type": "object",
      "properties": {
        "filestore": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      }
    },
    "DeleteLoginNode": {
      "properties": {},
      "id": "DeleteLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be deleted.",
      "type": "object"
    },
    "FilestoreReference": {
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "FilestoreReference"
    },
    "ExistingBucketConfig": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import."
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "type": "object",
      "id": "ExistingBucketConfig"
    },
    "SlurmNodeSet": {
      "id": "SlurmNodeSet",
      "properties": {
        "storageConfigs": {
          "items": {
            "$ref": "StorageConfig"
          },
          "type": "array",
          "description": "Optional. How storage resources should be mounted on each compute node."
        },
        "computeInstance": {
          "$ref": "ComputeInstanceSlurmNodeSet",
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
        },
        "computeId": {
          "type": "string",
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources."
        },
        "maxDynamicNodeCount": {
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes.",
          "type": "string",
          "format": "int64"
        },
        "staticNodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times."
        },
        "id": {
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`.",
          "type": "string"
        }
      },
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "type": "object"
    },
    "ComputeResourceConfig": {
      "properties": {
        "newSpotInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs.",
          "$ref": "NewSpotInstancesConfig"
        },
        "newFlexStartInstances": {
          "$ref": "NewFlexStartInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs."
        },
        "newOnDemandInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs.",
          "$ref": "NewOnDemandInstancesConfig"
        },
        "newReservedInstances": {
          "$ref": "NewReservedInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs."
        }
      },
      "id": "ComputeResourceConfig",
      "type": "object",
      "description": "Describes how a compute resource should be created at runtime."
    },
    "SlurmOrchestrator": {
      "properties": {
        "prologBashScripts": {
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "partitions": {
          "type": "array",
          "items": {
            "$ref": "SlurmPartition"
          },
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster."
        },
        "nodeSets": {
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "type": "array"
        },
        "epilogBashScripts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "type": "array"
        },
        "loginNodes": {
          "$ref": "SlurmLoginNodes",
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH."
        },
        "defaultPartition": {
          "type": "string",
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions."
        }
      },
      "id": "SlurmOrchestrator",
      "type": "object",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "StorageConfig": {
      "id": "StorageConfig",
      "properties": {
        "localMount": {
          "type": "string",
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`)."
        },
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        }
      },
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "type": "object"
    },
    "DeleteNodeset": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "id": "DeleteNodeset",
      "properties": {
        "nodesets": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Name of the nodeset to delete",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NewBucketConfig": {
      "id": "NewBucketConfig",
      "properties": {
        "autoclass": {
          "$ref": "GcsAutoclassConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass)."
        },
        "storageClass": {
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ],
          "type": "string",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ]
        },
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create."
        },
        "hierarchicalNamespace": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview).",
          "$ref": "GcsHierarchicalNamespaceConfig"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "type": "object"
    }
  },
  "revision": "20260909",
  "name": "hypercomputecluster",
  "batchPath": "batch",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "basePath": "",
  "version": "v1",
  "title": "Cluster Director API",
  "ownerName": "Google",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                }
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "hypercomputecluster.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "id": "hypercomputecluster.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "description": "Gets details of a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "hypercomputecluster.projects.locations.clusters.get"
                },
                "patch": {
                  "description": "Updates the parameters of a single Cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "id": "hypercomputecluster.projects.locations.clusters.patch"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "description": "Deletes a single Cluster.",
                  "path": "v1/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "description": "Creates a new Cluster in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "id": "hypercomputecluster.projects.locations.clusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "path": "v1/{+parent}/clusters",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`."
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Clusters in a given project and location."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "delete": {
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version_module": true,
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "id": "hypercomputecluster:v1",
  "canonicalName": "Hypercompute Cluster"
}