{
  "title": "Cluster Director API",
  "version": "v1",
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "us-east1",
      "endpointUrl": "https://hypercomputecluster.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://hypercomputecluster.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://hypercomputecluster.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://hypercomputecluster.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://hypercomputecluster.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://hypercomputecluster.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://hypercomputecluster.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://hypercomputecluster.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://hypercomputecluster.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "hypercomputecluster.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "hypercomputecluster.projects.locations.get",
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "location": "query"
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.get"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results."
                    },
                    "orderBy": {
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "description": "Lists Clusters in a given project and location.",
                  "path": "v1/{+parent}/clusters",
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "description": "Creates a new Cluster in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.create",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/{+parent}/clusters"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "id": "hypercomputecluster:v1",
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20260918",
  "canonicalName": "Hypercompute Cluster",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "kind": "discovery#restDescription",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "schemas": {
    "UpdatePartition": {
      "properties": {
        "partitions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to update",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "id": "UpdatePartition"
    },
    "Orchestrator": {
      "id": "Orchestrator",
      "type": "object",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "properties": {
        "slurm": {
          "$ref": "SlurmOrchestrator",
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator."
        }
      }
    },
    "DeleteStorageBucket": {
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DeleteStorageBucket",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted."
    },
    "NewNetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters."
        }
      },
      "id": "NewNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created."
    },
    "CreateLustreInstance": {
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "CreateLustreInstance",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created."
    },
    "StorageResourceConfig": {
      "id": "StorageResourceConfig",
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "properties": {
        "existingLustre": {
          "$ref": "ExistingLustreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
        },
        "newLustre": {
          "$ref": "NewLustreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created."
        },
        "existingBucket": {
          "$ref": "ExistingBucketConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported."
        },
        "newBucket": {
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created.",
          "$ref": "NewBucketConfig"
        },
        "newFilestore": {
          "$ref": "NewFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created."
        },
        "existingFilestore": {
          "$ref": "ExistingFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported."
        }
      }
    },
    "UpdateOrchestrator": {
      "type": "object",
      "properties": {},
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "id": "UpdateOrchestrator"
    },
    "CreatePrivateServiceAccess": {
      "type": "object",
      "properties": {},
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "id": "CreatePrivateServiceAccess"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "progress": {
          "readOnly": true,
          "description": "Output only. Progress of the operation.",
          "$ref": "OperationProgress"
        }
      }
    },
    "CreateLoginNode": {
      "type": "object",
      "id": "CreateLoginNode",
      "properties": {},
      "description": "When set in OperationStep, indicates that a login node should be created."
    },
    "NewFilestoreConfig": {
      "id": "NewFilestoreConfig",
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ]
        },
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "fileShares": {
          "type": "array",
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "items": {
            "$ref": "FileShareConfig"
          }
        },
        "description": {
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Required. Immutable. Service tier to use for the instance."
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "type": "object"
    },
    "FileShareConfig": {
      "type": "object",
      "properties": {
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers."
        }
      },
      "id": "FileShareConfig",
      "description": "Message describing filestore configuration"
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "properties": {
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "OperationStep"
          },
          "description": "Output only. Steps and status of the operation."
        }
      },
      "type": "object"
    },
    "NewOnDemandInstancesConfig": {
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "id": "NewOnDemandInstancesConfig",
      "type": "object"
    },
    "CreateOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "type": "object",
      "properties": {},
      "id": "CreateOrchestrator"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "NetworkResource": {
      "type": "object",
      "properties": {
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        },
        "network": {
          "$ref": "NetworkReference",
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "readOnly": true
        }
      },
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "id": "NetworkResource"
    },
    "StorageResource": {
      "properties": {
        "lustre": {
          "readOnly": true,
          "$ref": "LustreReference",
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre."
        },
        "config": {
          "$ref": "StorageResourceConfig",
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration."
        },
        "bucket": {
          "readOnly": true,
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "$ref": "BucketReference"
        },
        "filestore": {
          "readOnly": true,
          "$ref": "FilestoreReference",
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore."
        }
      },
      "id": "StorageResource",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster.",
      "type": "object"
    },
    "CreatePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "id": "CreatePartition",
      "properties": {
        "partitions": {
          "readOnly": true,
          "description": "Output only. Name of the partition to create",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ExistingFilestoreConfig": {
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "id": "ExistingFilestoreConfig"
    },
    "GcsAutoclassConfig": {
      "id": "GcsAutoclassConfig",
      "properties": {
        "enabled": {
          "description": "Required. Enables Auto-class feature.",
          "type": "boolean"
        },
        "terminalStorageClass": {
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ],
          "type": "string",
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ]
        }
      },
      "type": "object",
      "description": "Message describing Google Cloud Storage autoclass configuration"
    },
    "NetworkResourceConfig": {
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "properties": {
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        },
        "existingNetwork": {
          "$ref": "ExistingNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported."
        }
      },
      "id": "NetworkResourceConfig"
    },
    "DeleteNetwork": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`."
        }
      },
      "id": "DeleteNetwork",
      "description": "When set in OperationStep, indicates network deletion step with the resource name."
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "Response message for ListClusters.",
      "id": "ListClustersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages."
        },
        "clusters": {
          "description": "Clusters in the specified location.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "BootDisk": {
      "id": "BootDisk",
      "properties": {
        "sizeGb": {
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
        }
      },
      "type": "object",
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance."
    },
    "ComputeInstanceSlurmNodeSet": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset.",
          "type": "object"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB.",
          "type": "string"
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the compute instance",
          "$ref": "BootDisk"
        }
      },
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "id": "ComputeInstanceSlurmNodeSet"
    },
    "GcsHierarchicalNamespaceConfig": {
      "id": "GcsHierarchicalNamespaceConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. Enables hierarchical namespace setup for the bucket.",
          "type": "boolean"
        }
      },
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "NewBucketConfig": {
      "properties": {
        "hierarchicalNamespace": {
          "$ref": "GcsHierarchicalNamespaceConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview)."
        },
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create.",
          "type": "string"
        },
        "storageClass": {
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ],
          "type": "string",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ]
        },
        "autoclass": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass).",
          "$ref": "GcsAutoclassConfig"
        }
      },
      "id": "NewBucketConfig",
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created."
    },
    "DeleteOrchestrator": {
      "type": "object",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted.",
      "properties": {},
      "id": "DeleteOrchestrator"
    },
    "SlurmLoginNodes": {
      "type": "object",
      "properties": {
        "enablePublicIps": {
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses).",
          "type": "boolean"
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "enableOsLogin": {
          "type": "boolean",
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances."
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each login node.",
          "type": "array",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance."
        },
        "instances": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "items": {
            "$ref": "ComputeInstance"
          }
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Required. Number of login node instances to create.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      },
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "id": "SlurmLoginNodes"
    },
    "ExistingBucketConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "id": "ExistingBucketConfig",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SlurmNodeSet": {
      "id": "SlurmNodeSet",
      "type": "object",
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`."
        },
        "computeInstance": {
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances.",
          "$ref": "ComputeInstanceSlurmNodeSet"
        },
        "staticNodeCount": {
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "type": "string",
          "format": "int64"
        },
        "computeId": {
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources.",
          "type": "string"
        },
        "storageConfigs": {
          "items": {
            "$ref": "StorageConfig"
          },
          "type": "array",
          "description": "Optional. How storage resources should be mounted on each compute node."
        },
        "maxDynamicNodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes."
        }
      }
    },
    "NetworkReference": {
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true
        },
        "subnetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        }
      },
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "type": "object",
      "id": "NetworkReference"
    },
    "CreateNodeset": {
      "id": "CreateNodeset",
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be created.",
      "properties": {
        "nodesets": {
          "type": "array",
          "description": "Output only. Name of the nodeset to create",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        },
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "id": "ExistingNetworkConfig"
    },
    "SlurmOrchestrator": {
      "properties": {
        "nodeSets": {
          "type": "array",
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "items": {
            "$ref": "SlurmNodeSet"
          }
        },
        "prologBashScripts": {
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loginNodes": {
          "$ref": "SlurmLoginNodes",
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH."
        },
        "partitions": {
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "type": "array",
          "items": {
            "$ref": "SlurmPartition"
          }
        },
        "defaultPartition": {
          "type": "string",
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions."
        },
        "epilogBashScripts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty."
        }
      },
      "id": "SlurmOrchestrator",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator.",
      "type": "object"
    },
    "DeleteLoginNode": {
      "properties": {},
      "type": "object",
      "id": "DeleteLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be deleted."
    },
    "NewSpotInstancesConfig": {
      "id": "NewSpotInstancesConfig",
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "terminationAction": {
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "type": "string",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ]
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "Location": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "StorageConfig": {
      "properties": {
        "localMount": {
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`).",
          "type": "string"
        },
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        }
      },
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "id": "StorageConfig",
      "type": "object"
    },
    "UpdateLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "id": "UpdateLoginNode",
      "properties": {},
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "UpdateNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to update"
        }
      },
      "description": "When set in OperationStep, indicates that a nodeset should be updated.",
      "id": "UpdateNodeset"
    },
    "ComputeInstance": {
      "properties": {
        "instance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`."
        }
      },
      "id": "ComputeInstance",
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "type": "object"
    },
    "SlurmPartition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "nodeSetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id."
        }
      },
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run.",
      "id": "SlurmPartition"
    },
    "ExistingLustreConfig": {
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "ExistingLustreConfig"
    },
    "DeleteLustreInstance": {
      "id": "DeleteLustreInstance",
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted."
    },
    "NewFlexStartInstancesConfig": {
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "properties": {
        "maxDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      },
      "id": "NewFlexStartInstancesConfig"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "ComputeResource": {
      "id": "ComputeResource",
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "type": "object"
    },
    "ComputeResourceConfig": {
      "type": "object",
      "description": "Describes how a compute resource should be created at runtime.",
      "properties": {
        "newFlexStartInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs.",
          "$ref": "NewFlexStartInstancesConfig"
        },
        "newSpotInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs.",
          "$ref": "NewSpotInstancesConfig"
        },
        "newReservedInstances": {
          "$ref": "NewReservedInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs."
        },
        "newOnDemandInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs.",
          "$ref": "NewOnDemandInstancesConfig"
        }
      },
      "id": "ComputeResourceConfig"
    },
    "CreateStorageBucket": {
      "properties": {
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the bucket."
        }
      },
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "id": "CreateStorageBucket",
      "type": "object"
    },
    "DeleteFilestoreInstance": {
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "type": "object",
      "id": "DeleteFilestoreInstance",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CheckClusterHealth": {
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "type": "object",
      "id": "CheckClusterHealth",
      "properties": {}
    },
    "CreateNetwork": {
      "properties": {
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
        }
      },
      "id": "CreateNetwork",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "DeletePartition": {
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "type": "object",
      "id": "DeletePartition",
      "properties": {
        "partitions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Name of the partition to delete",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateFilestoreInstance": {
      "id": "CreateFilestoreInstance",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "properties": {
        "filestore": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      }
    },
    "OperationStep": {
      "id": "OperationStep",
      "type": "object",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "properties": {
        "createNetwork": {
          "$ref": "CreateNetwork",
          "readOnly": true,
          "description": "Output only. If set, indicates that new network creation is part of the operation."
        },
        "createPrivateServiceAccess": {
          "$ref": "CreatePrivateServiceAccess",
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "readOnly": true
        },
        "deleteOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteOrchestrator"
        },
        "updateLoginNode": {
          "$ref": "UpdateLoginNode",
          "readOnly": true,
          "description": "Output only. If set, indicates that login node update is part of the operation."
        },
        "updateOrchestrator": {
          "$ref": "UpdateOrchestrator",
          "readOnly": true,
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation."
        },
        "createLoginNode": {
          "$ref": "CreateLoginNode",
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "readOnly": true
        },
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "description": "Output only. State of the operation step.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "type": "string"
        },
        "checkClusterHealth": {
          "readOnly": true,
          "$ref": "CheckClusterHealth",
          "description": "Output only. If set, indicates that cluster health check is part of the operation."
        },
        "updateNodeset": {
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateNodeset"
        },
        "deleteStorageBucket": {
          "$ref": "DeleteStorageBucket",
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true
        },
        "createOrchestrator": {
          "$ref": "CreateOrchestrator",
          "readOnly": true,
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation."
        },
        "deleteLustreInstance": {
          "$ref": "DeleteLustreInstance",
          "readOnly": true,
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation."
        },
        "deleteFilestoreInstance": {
          "readOnly": true,
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation.",
          "$ref": "DeleteFilestoreInstance"
        },
        "createPartition": {
          "readOnly": true,
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "$ref": "CreatePartition"
        },
        "deletePartition": {
          "description": "Output only. If set, indicates that partition deletion is part of the operation.",
          "$ref": "DeletePartition",
          "readOnly": true
        },
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "createFilestoreInstance": {
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateFilestoreInstance"
        },
        "deleteNodeset": {
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNodeset"
        },
        "deletePrivateServiceAccess": {
          "readOnly": true,
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "$ref": "DeletePrivateServiceAccess"
        },
        "deleteLoginNode": {
          "readOnly": true,
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "$ref": "DeleteLoginNode"
        },
        "deleteNetwork": {
          "$ref": "DeleteNetwork",
          "readOnly": true,
          "description": "Output only. If set, indicates that network deletion is part of the operation."
        },
        "updatePartition": {
          "$ref": "UpdatePartition",
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "readOnly": true
        },
        "createStorageBucket": {
          "readOnly": true,
          "$ref": "CreateStorageBucket",
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation."
        }
      }
    },
    "BucketReference": {
      "id": "BucketReference",
      "type": "object",
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "properties": {
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the bucket."
        }
      }
    },
    "NewLustreConfig": {
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created.",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters."
        },
        "perUnitStorageThroughput": {
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "format": "int64",
          "type": "string"
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000."
        }
      },
      "type": "object"
    },
    "FilestoreReference": {
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "type": "object",
      "id": "FilestoreReference"
    },
    "LustreReference": {
      "id": "LustreReference",
      "type": "object",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      }
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time that the cluster was most recently updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "networkResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "storageResources": {
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "computeResources": {
          "additionalProperties": {
            "$ref": "ComputeResource"
          },
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "reconciling": {
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "orchestrator": {
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster.",
          "$ref": "Orchestrator"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The globally unique identifier for this Cluster."
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Time that the cluster was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "id": "Cluster"
    },
    "NewReservedInstancesConfig": {
      "type": "object",
      "properties": {
        "reservation": {
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`.",
          "type": "string"
        }
      },
      "id": "NewReservedInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview)."
    },
    "DeletePrivateServiceAccess": {
      "type": "object",
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "properties": {},
      "id": "DeletePrivateServiceAccess"
    },
    "DeleteNodeset": {
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "type": "object",
      "properties": {
        "nodesets": {
          "type": "array",
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DeleteNodeset"
    }
  },
  "name": "hypercomputecluster",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}