{
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "delete": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a single Cluster.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "hypercomputecluster.projects.locations.clusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "description": "Creates a new Cluster in a given project and location.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`."
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameters": {
                    "name": {
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided."
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets details of a single Cluster.",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "path": "v1/{+parent}/clusters",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
                      "required": true
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Clusters in a given project and location.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.cancel"
                },
                "delete": {
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "hypercomputecluster.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "hypercomputecluster.projects.locations.get"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20260909",
  "version_module": true,
  "canonicalName": "Hypercompute Cluster",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "id": "hypercomputecluster:v1",
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "title": "Cluster Director API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "name": "hypercomputecluster",
  "schemas": {
    "NetworkResource": {
      "properties": {
        "network": {
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "$ref": "NetworkReference",
          "readOnly": true
        },
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        }
      },
      "id": "NetworkResource",
      "type": "object",
      "description": "A resource representing a network that connects the various components of a cluster together."
    },
    "NewBucketConfig": {
      "id": "NewBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "type": "object",
      "properties": {
        "storageClass": {
          "type": "string",
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ],
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ]
        },
        "hierarchicalNamespace": {
          "$ref": "GcsHierarchicalNamespaceConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview)."
        },
        "autoclass": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass).",
          "$ref": "GcsAutoclassConfig"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create."
        }
      }
    },
    "NetworkResourceConfig": {
      "properties": {
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        },
        "existingNetwork": {
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported.",
          "$ref": "ExistingNetworkConfig"
        }
      },
      "id": "NetworkResourceConfig",
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object"
    },
    "SlurmNodeSet": {
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "properties": {
        "staticNodeCount": {
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "format": "int64",
          "type": "string"
        },
        "storageConfigs": {
          "type": "array",
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "id": {
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`.",
          "type": "string"
        },
        "computeId": {
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources.",
          "type": "string"
        },
        "computeInstance": {
          "$ref": "ComputeInstanceSlurmNodeSet",
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
        },
        "maxDynamicNodeCount": {
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SlurmNodeSet",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "SlurmPartition": {
      "id": "SlurmPartition",
      "properties": {
        "id": {
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        },
        "nodeSetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "BootDisk": {
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "properties": {
        "type": {
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "format": "int64"
        }
      },
      "id": "BootDisk",
      "type": "object"
    },
    "ComputeInstance": {
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "properties": {
        "instance": {
          "readOnly": true,
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComputeInstance"
    },
    "DeleteNodeset": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "properties": {
        "nodesets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true
        }
      },
      "id": "DeleteNodeset"
    },
    "CreateNetwork": {
      "id": "CreateNetwork",
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "NewNetworkConfig": {
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        },
        "network": {
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "id": "NewNetworkConfig",
      "type": "object"
    },
    "DeleteOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted.",
      "properties": {},
      "id": "DeleteOrchestrator",
      "type": "object"
    },
    "DeleteStorageBucket": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "id": "DeleteStorageBucket"
    },
    "SlurmLoginNodes": {
      "properties": {
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "storageConfigs": {
          "items": {
            "$ref": "StorageConfig"
          },
          "description": "Optional. How storage resources should be mounted on each login node.",
          "type": "array"
        },
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "enablePublicIps": {
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses).",
          "type": "boolean"
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "count": {
          "type": "string",
          "description": "Required. Number of login node instances to create.",
          "format": "int64"
        },
        "instances": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ComputeInstance"
          },
          "description": "Output only. Information about the login node instances that were created in Compute Engine."
        },
        "machineType": {
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`.",
          "type": "string"
        }
      },
      "id": "SlurmLoginNodes",
      "type": "object",
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH."
    },
    "CreateFilestoreInstance": {
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CreateFilestoreInstance"
    },
    "GcsAutoclassConfig": {
      "properties": {
        "terminalStorageClass": {
          "type": "string",
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ],
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ]
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables Auto-class feature."
        }
      },
      "id": "GcsAutoclassConfig",
      "type": "object",
      "description": "Message describing Google Cloud Storage autoclass configuration"
    },
    "ExistingBucketConfig": {
      "type": "object",
      "id": "ExistingBucketConfig",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported."
    },
    "DeletePrivateServiceAccess": {
      "properties": {},
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "type": "object",
      "id": "DeletePrivateServiceAccess"
    },
    "NewFlexStartInstancesConfig": {
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "properties": {
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "maxDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration."
        }
      },
      "id": "NewFlexStartInstancesConfig",
      "type": "object"
    },
    "SlurmOrchestrator": {
      "properties": {
        "loginNodes": {
          "$ref": "SlurmLoginNodes",
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH."
        },
        "partitions": {
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "type": "array",
          "items": {
            "$ref": "SlurmPartition"
          }
        },
        "nodeSets": {
          "type": "array",
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes."
        },
        "prologBashScripts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty."
        },
        "defaultPartition": {
          "type": "string",
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions."
        },
        "epilogBashScripts": {
          "type": "array",
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SlurmOrchestrator",
      "type": "object",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator."
    },
    "DeleteNetwork": {
      "id": "DeleteNetwork",
      "type": "object",
      "properties": {
        "network": {
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "When set in OperationStep, indicates network deletion step with the resource name."
    },
    "Cluster": {
      "id": "Cluster",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "type": "object"
        },
        "networkResources": {
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Time that the cluster was most recently updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time that the cluster was originally created.",
          "type": "string"
        },
        "orchestrator": {
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster.",
          "$ref": "Orchestrator"
        },
        "storageResources": {
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "type": "object"
        },
        "computeResources": {
          "additionalProperties": {
            "$ref": "ComputeResource"
          },
          "type": "object",
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "uid": {
          "description": "Output only. The globally unique identifier for this Cluster.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
        },
        "reconciling": {
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "BucketReference": {
      "properties": {
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the bucket."
        }
      },
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "id": "BucketReference",
      "type": "object"
    },
    "ExistingNetworkConfig": {
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "id": "ExistingNetworkConfig",
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StorageResource": {
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        },
        "bucket": {
          "readOnly": true,
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "$ref": "BucketReference"
        },
        "lustre": {
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "readOnly": true,
          "$ref": "LustreReference"
        },
        "filestore": {
          "readOnly": true,
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "$ref": "FilestoreReference"
        }
      },
      "id": "StorageResource",
      "type": "object",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster."
    },
    "CreatePrivateServiceAccess": {
      "type": "object",
      "id": "CreatePrivateServiceAccess",
      "properties": {},
      "description": "When set in OperationStep, indicates that a new private service access should be created."
    },
    "DeleteLustreInstance": {
      "properties": {
        "lustre": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "id": "DeleteLustreInstance",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "type": "object"
    },
    "NetworkReference": {
      "id": "NetworkReference",
      "type": "object",
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "properties": {
        "subnetwork": {
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NewLustreConfig": {
      "id": "NewLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters."
        },
        "capacityGb": {
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000.",
          "format": "int64",
          "type": "string"
        },
        "perUnitStorageThroughput": {
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "type": "string",
          "format": "int64"
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "type": "object",
      "id": "CreateOrchestrator",
      "properties": {}
    },
    "NewOnDemandInstancesConfig": {
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "type": "object",
      "id": "NewOnDemandInstancesConfig"
    },
    "StorageConfig": {
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "properties": {
        "localMount": {
          "type": "string",
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`)."
        },
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        }
      },
      "id": "StorageConfig",
      "type": "object"
    },
    "CreatePartition": {
      "id": "CreatePartition",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to create",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "LustreReference": {
      "type": "object",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "LustreReference"
    },
    "FilestoreReference": {
      "id": "FilestoreReference",
      "type": "object",
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ComputeInstanceSlurmNodeSet": {
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "type": "object",
      "properties": {
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the compute instance"
        },
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset."
        }
      },
      "id": "ComputeInstanceSlurmNodeSet"
    },
    "ExistingLustreConfig": {
      "type": "object",
      "id": "ExistingLustreConfig",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported."
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "DeleteFilestoreInstance": {
      "id": "DeleteFilestoreInstance",
      "type": "object",
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "properties": {
        "filestore": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      }
    },
    "CreateStorageBucket": {
      "properties": {
        "bucket": {
          "readOnly": true,
          "description": "Output only. Name of the bucket.",
          "type": "string"
        }
      },
      "id": "CreateStorageBucket",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new storage bucket should be created."
    },
    "OperationMetadata": {
      "properties": {
        "progress": {
          "readOnly": true,
          "$ref": "OperationProgress",
          "description": "Output only. Progress of the operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "FileShareConfig": {
      "id": "FileShareConfig",
      "description": "Message describing filestore configuration",
      "type": "object",
      "properties": {
        "capacityGb": {
          "format": "int64",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers.",
          "type": "string"
        },
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        }
      }
    },
    "NewFilestoreConfig": {
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "properties": {
        "tier": {
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "type": "string"
        },
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
        },
        "fileShares": {
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array",
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified."
        },
        "protocol": {
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "NewFilestoreConfig"
    },
    "CreateLustreInstance": {
      "id": "CreateLustreInstance",
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "When set in OperationStep, indicates that a new lustre instance should be created."
    },
    "Orchestrator": {
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      },
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "type": "object",
      "id": "Orchestrator"
    },
    "OperationStep": {
      "id": "OperationStep",
      "type": "object",
      "properties": {
        "updateNodeset": {
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "$ref": "UpdateNodeset",
          "readOnly": true
        },
        "deleteStorageBucket": {
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteStorageBucket"
        },
        "updateLoginNode": {
          "$ref": "UpdateLoginNode",
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "readOnly": true
        },
        "createFilestoreInstance": {
          "$ref": "CreateFilestoreInstance",
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true
        },
        "createOrchestrator": {
          "$ref": "CreateOrchestrator",
          "readOnly": true,
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation."
        },
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "createLoginNode": {
          "readOnly": true,
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "$ref": "CreateLoginNode"
        },
        "createNetwork": {
          "readOnly": true,
          "$ref": "CreateNetwork",
          "description": "Output only. If set, indicates that new network creation is part of the operation."
        },
        "deleteLoginNode": {
          "readOnly": true,
          "$ref": "DeleteLoginNode",
          "description": "Output only. If set, indicates that login node deletion is part of the operation."
        },
        "deleteNetwork": {
          "readOnly": true,
          "$ref": "DeleteNetwork",
          "description": "Output only. If set, indicates that network deletion is part of the operation."
        },
        "updateOrchestrator": {
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "$ref": "UpdateOrchestrator",
          "readOnly": true
        },
        "createPartition": {
          "readOnly": true,
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "$ref": "CreatePartition"
        },
        "updatePartition": {
          "readOnly": true,
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "$ref": "UpdatePartition"
        },
        "deleteNodeset": {
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "$ref": "DeleteNodeset",
          "readOnly": true
        },
        "deleteLustreInstance": {
          "readOnly": true,
          "$ref": "DeleteLustreInstance",
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation."
        },
        "checkClusterHealth": {
          "readOnly": true,
          "description": "Output only. If set, indicates that cluster health check is part of the operation.",
          "$ref": "CheckClusterHealth"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "description": "Output only. State of the operation step.",
          "type": "string"
        },
        "deletePartition": {
          "$ref": "DeletePartition",
          "readOnly": true,
          "description": "Output only. If set, indicates that partition deletion is part of the operation."
        },
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true
        },
        "createStorageBucket": {
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateStorageBucket"
        },
        "deletePrivateServiceAccess": {
          "$ref": "DeletePrivateServiceAccess",
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "readOnly": true
        },
        "deleteOrchestrator": {
          "$ref": "DeleteOrchestrator",
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "readOnly": true
        },
        "deleteFilestoreInstance": {
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation.",
          "$ref": "DeleteFilestoreInstance",
          "readOnly": true
        },
        "createPrivateServiceAccess": {
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "$ref": "CreatePrivateServiceAccess",
          "readOnly": true
        }
      },
      "description": "Message describing the status of a single step in a cluster mutation long-running operation."
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "properties": {
        "steps": {
          "readOnly": true,
          "description": "Output only. Steps and status of the operation.",
          "items": {
            "$ref": "OperationStep"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Message describing the progress of a cluster mutation long-running operation."
    },
    "DeletePartition": {
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to delete",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "DeletePartition"
    },
    "ComputeResourceConfig": {
      "type": "object",
      "description": "Describes how a compute resource should be created at runtime.",
      "properties": {
        "newFlexStartInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs.",
          "$ref": "NewFlexStartInstancesConfig"
        },
        "newSpotInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs.",
          "$ref": "NewSpotInstancesConfig"
        },
        "newOnDemandInstances": {
          "$ref": "NewOnDemandInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs."
        },
        "newReservedInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs.",
          "$ref": "NewReservedInstancesConfig"
        }
      },
      "id": "ComputeResourceConfig"
    },
    "DeleteLoginNode": {
      "properties": {},
      "type": "object",
      "id": "DeleteLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be deleted."
    },
    "StorageResourceConfig": {
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "properties": {
        "existingBucket": {
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported.",
          "$ref": "ExistingBucketConfig"
        },
        "newFilestore": {
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created.",
          "$ref": "NewFilestoreConfig"
        },
        "newLustre": {
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created.",
          "$ref": "NewLustreConfig"
        },
        "existingLustre": {
          "$ref": "ExistingLustreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
        },
        "newBucket": {
          "$ref": "NewBucketConfig",
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
        },
        "existingFilestore": {
          "$ref": "ExistingFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported."
        }
      },
      "type": "object",
      "id": "StorageResourceConfig"
    },
    "ComputeResource": {
      "properties": {
        "config": {
          "$ref": "ComputeResourceConfig",
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime."
        }
      },
      "id": "ComputeResource",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "type": "object"
    },
    "UpdateNodeset": {
      "description": "When set in OperationStep, indicates that a nodeset should be updated.",
      "properties": {
        "nodesets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Name of the nodeset to update"
        }
      },
      "type": "object",
      "id": "UpdateNodeset"
    },
    "UpdateOrchestrator": {
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "properties": {},
      "type": "object"
    },
    "NewReservedInstancesConfig": {
      "properties": {
        "reservation": {
          "type": "string",
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`."
        }
      },
      "id": "NewReservedInstancesConfig",
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview)."
    },
    "UpdateLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "properties": {},
      "id": "UpdateLoginNode",
      "type": "object"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages."
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "Clusters in the specified location."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response message for ListClusters."
    },
    "NewSpotInstancesConfig": {
      "id": "NewSpotInstancesConfig",
      "properties": {
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "terminationAction": {
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ]
        }
      },
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created."
    },
    "ExistingFilestoreConfig": {
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "id": "ExistingFilestoreConfig"
    },
    "UpdatePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to update",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "id": "UpdatePartition"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "CreateLoginNode": {
      "properties": {},
      "type": "object",
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "id": "CreateLoginNode"
    },
    "CheckClusterHealth": {
      "type": "object",
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "properties": {},
      "id": "CheckClusterHealth"
    },
    "CreateNodeset": {
      "description": "When set in OperationStep, indicates that a nodeset should be created.",
      "properties": {
        "nodesets": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to create",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CreateNodeset"
    },
    "GcsHierarchicalNamespaceConfig": {
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. Enables hierarchical namespace setup for the bucket.",
          "type": "boolean"
        }
      },
      "id": "GcsHierarchicalNamespaceConfig"
    }
  },
  "batchPath": "batch"
}