{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1",
  "revision": "20260826",
  "discoveryVersion": "v1",
  "canonicalName": "Hypercompute Cluster",
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "basePath": "",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Cluster Director API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "schemas": {
    "CreateNodeset": {
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to create",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be created.",
      "type": "object"
    },
    "Orchestrator": {
      "id": "Orchestrator",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "type": "object",
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "NewReservedInstancesConfig": {
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "type": "object",
      "properties": {
        "reservation": {
          "type": "string",
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`."
        }
      },
      "id": "NewReservedInstancesConfig"
    },
    "FileShareConfig": {
      "type": "object",
      "properties": {
        "capacityGb": {
          "format": "int64",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers.",
          "type": "string"
        },
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        }
      },
      "description": "Message describing filestore configuration",
      "id": "FileShareConfig"
    },
    "CreateLoginNode": {
      "id": "CreateLoginNode",
      "properties": {},
      "type": "object",
      "description": "When set in OperationStep, indicates that a login node should be created."
    },
    "CreateStorageBucket": {
      "id": "CreateStorageBucket",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the bucket."
        }
      },
      "description": "When set in OperationStep, indicates that a new storage bucket should be created."
    },
    "NewSpotInstancesConfig": {
      "type": "object",
      "id": "NewSpotInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "properties": {
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "terminationAction": {
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "type": "string",
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ]
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        }
      }
    },
    "DeleteStorageBucket": {
      "id": "DeleteStorageBucket",
      "properties": {
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the bucket."
        }
      },
      "type": "object",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted."
    },
    "NewFlexStartInstancesConfig": {
      "id": "NewFlexStartInstancesConfig",
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        },
        "maxDuration": {
          "type": "string",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "format": "google-duration"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      }
    },
    "DeleteNetwork": {
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "properties": {
        "network": {
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DeleteNetwork",
      "type": "object"
    },
    "NetworkResource": {
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "type": "object",
      "id": "NetworkResource",
      "properties": {
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        },
        "network": {
          "readOnly": true,
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "$ref": "NetworkReference"
        }
      }
    },
    "ComputeResourceConfig": {
      "properties": {
        "newReservedInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs.",
          "$ref": "NewReservedInstancesConfig"
        },
        "newSpotInstances": {
          "$ref": "NewSpotInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs."
        },
        "newFlexStartInstances": {
          "$ref": "NewFlexStartInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs."
        },
        "newOnDemandInstances": {
          "$ref": "NewOnDemandInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs."
        }
      },
      "description": "Describes how a compute resource should be created at runtime.",
      "type": "object",
      "id": "ComputeResourceConfig"
    },
    "OperationProgress": {
      "properties": {
        "steps": {
          "items": {
            "$ref": "OperationStep"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Steps and status of the operation."
        }
      },
      "type": "object",
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "id": "OperationProgress"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "SlurmLoginNodes": {
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "type": "object",
      "id": "SlurmLoginNodes",
      "properties": {
        "zone": {
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`.",
          "type": "string"
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the login node."
        },
        "instances": {
          "readOnly": true,
          "items": {
            "$ref": "ComputeInstance"
          },
          "type": "array",
          "description": "Output only. Information about the login node instances that were created in Compute Engine."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance."
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "count": {
          "description": "Required. Number of login node instances to create.",
          "type": "string",
          "format": "int64"
        },
        "enablePublicIps": {
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses).",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`."
        },
        "storageConfigs": {
          "items": {
            "$ref": "StorageConfig"
          },
          "description": "Optional. How storage resources should be mounted on each login node.",
          "type": "array"
        }
      }
    },
    "ExistingLustreConfig": {
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "id": "ExistingLustreConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "type": "object"
    },
    "ExistingBucketConfig": {
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "id": "ExistingBucketConfig",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "type": "object"
    },
    "NewNetworkConfig": {
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        }
      },
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "id": "NewNetworkConfig",
      "type": "object"
    },
    "StorageConfig": {
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "properties": {
        "localMount": {
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources."
        }
      },
      "id": "StorageConfig",
      "type": "object"
    },
    "ComputeResource": {
      "properties": {
        "config": {
          "$ref": "ComputeResourceConfig",
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime."
        }
      },
      "type": "object",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "id": "ComputeResource"
    },
    "CheckClusterHealth": {
      "type": "object",
      "properties": {},
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "id": "CheckClusterHealth"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "UpdateLoginNode": {
      "id": "UpdateLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "properties": {},
      "type": "object"
    },
    "ExistingFilestoreConfig": {
      "id": "ExistingFilestoreConfig",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "type": "object"
    },
    "GcsAutoclassConfig": {
      "id": "GcsAutoclassConfig",
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "properties": {
        "terminalStorageClass": {
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ],
          "type": "string",
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ],
          "description": "Optional. Terminal storage class of the autoclass bucket"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables Auto-class feature."
        }
      },
      "type": "object"
    },
    "CreateNetwork": {
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "id": "CreateNetwork",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        }
      },
      "id": "ExistingNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported."
    },
    "UpdateNodeset": {
      "id": "UpdateNodeset",
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be updated.",
      "properties": {
        "nodesets": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Name of the nodeset to update",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkResourceConfig": {
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "id": "NetworkResourceConfig",
      "properties": {
        "newNetwork": {
          "$ref": "NewNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that a new network should be created."
        },
        "existingNetwork": {
          "$ref": "ExistingNetworkConfig",
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported."
        }
      }
    },
    "DeletePartition": {
      "type": "object",
      "properties": {
        "partitions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to delete"
        }
      },
      "id": "DeletePartition",
      "description": "When set in OperationStep, indicates that a partition should be deleted."
    },
    "CreatePrivateServiceAccess": {
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "id": "CreatePrivateServiceAccess",
      "type": "object",
      "properties": {}
    },
    "DeletePrivateServiceAccess": {
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "type": "object",
      "id": "DeletePrivateServiceAccess",
      "properties": {}
    },
    "NewLustreConfig": {
      "id": "NewLustreConfig",
      "type": "object",
      "properties": {
        "perUnitStorageThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information."
        },
        "description": {
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000.",
          "format": "int64"
        },
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "filesystem": {
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers.",
          "type": "string"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created."
    },
    "NetworkReference": {
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "id": "NetworkReference",
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`."
        },
        "subnetwork": {
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages.",
          "type": "string"
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "Clusters in the specified location.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for ListClusters.",
      "type": "object"
    },
    "LustreReference": {
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "id": "LustreReference"
    },
    "CreateOrchestrator": {
      "type": "object",
      "properties": {},
      "id": "CreateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be created."
    },
    "Cluster": {
      "id": "Cluster",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Time that the cluster was most recently updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time that the cluster was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique identifier for this Cluster.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "computeResources": {
          "additionalProperties": {
            "$ref": "ComputeResource"
          },
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "orchestrator": {
          "$ref": "Orchestrator",
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster."
        },
        "networkResources": {
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "type": "object"
        },
        "storageResources": {
          "type": "object",
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "additionalProperties": {
            "$ref": "StorageResource"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters."
        }
      },
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together."
    },
    "DeleteLustreInstance": {
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "type": "object",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeleteLustreInstance"
    },
    "StorageResource": {
      "type": "object",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster.",
      "id": "StorageResource",
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "$ref": "LustreReference"
        },
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        },
        "filestore": {
          "$ref": "FilestoreReference",
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "readOnly": true
        },
        "bucket": {
          "readOnly": true,
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "$ref": "BucketReference"
        }
      }
    },
    "DeleteLoginNode": {
      "properties": {},
      "type": "object",
      "id": "DeleteLoginNode",
      "description": "When set in OperationStep, indicates that a login node should be deleted."
    },
    "SlurmPartition": {
      "id": "SlurmPartition",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "string"
        },
        "nodeSetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id."
        }
      },
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "FilestoreReference": {
      "type": "object",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FilestoreReference",
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance."
    },
    "UpdateOrchestrator": {
      "type": "object",
      "properties": {},
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated."
    },
    "ComputeInstanceSlurmNodeSet": {
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "id": "ComputeInstanceSlurmNodeSet",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset.",
          "type": "object"
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the compute instance"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreatePartition": {
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "id": "CreatePartition",
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Name of the partition to create"
        }
      }
    },
    "StorageResourceConfig": {
      "properties": {
        "existingFilestore": {
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported.",
          "$ref": "ExistingFilestoreConfig"
        },
        "newLustre": {
          "$ref": "NewLustreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created."
        },
        "existingLustre": {
          "$ref": "ExistingLustreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported."
        },
        "newBucket": {
          "$ref": "NewBucketConfig",
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
        },
        "existingBucket": {
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported.",
          "$ref": "ExistingBucketConfig"
        },
        "newFilestore": {
          "$ref": "NewFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created."
        }
      },
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "id": "StorageResourceConfig"
    },
    "NewBucketConfig": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create."
        },
        "hierarchicalNamespace": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview).",
          "$ref": "GcsHierarchicalNamespaceConfig"
        },
        "autoclass": {
          "$ref": "GcsAutoclassConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass)."
        },
        "storageClass": {
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ],
          "type": "string",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ],
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class."
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "type": "object",
      "id": "NewBucketConfig"
    },
    "UpdatePartition": {
      "id": "UpdatePartition",
      "properties": {
        "partitions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Name of the partition to update",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "type": "object"
    },
    "CreateLustreInstance": {
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CreateLustreInstance",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ComputeInstance": {
      "type": "object",
      "properties": {
        "instance": {
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "id": "ComputeInstance"
    },
    "SlurmNodeSet": {
      "properties": {
        "maxDynamicNodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes."
        },
        "staticNodeCount": {
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`.",
          "type": "string"
        },
        "computeId": {
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources.",
          "type": "string"
        },
        "storageConfigs": {
          "items": {
            "$ref": "StorageConfig"
          },
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "type": "array"
        },
        "computeInstance": {
          "$ref": "ComputeInstanceSlurmNodeSet",
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
        }
      },
      "id": "SlurmNodeSet",
      "type": "object",
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster."
    },
    "NewFilestoreConfig": {
      "type": "object",
      "id": "NewFilestoreConfig",
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`.",
          "type": "string"
        },
        "fileShares": {
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array"
        },
        "tier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Required. Immutable. Service tier to use for the instance.",
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ]
        }
      }
    },
    "BootDisk": {
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
        },
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB."
        }
      },
      "id": "BootDisk"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "GcsHierarchicalNamespaceConfig": {
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "type": "object",
      "id": "GcsHierarchicalNamespaceConfig",
      "properties": {
        "enabled": {
          "description": "Required. Enables hierarchical namespace setup for the bucket.",
          "type": "boolean"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "progress": {
          "description": "Output only. Progress of the operation.",
          "$ref": "OperationProgress",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "DeleteFilestoreInstance": {
      "properties": {
        "filestore": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "id": "DeleteFilestoreInstance"
    },
    "DeleteNodeset": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "properties": {
        "nodesets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Name of the nodeset to delete"
        }
      },
      "id": "DeleteNodeset"
    },
    "NewOnDemandInstancesConfig": {
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      },
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "id": "NewOnDemandInstancesConfig"
    },
    "DeleteOrchestrator": {
      "properties": {},
      "id": "DeleteOrchestrator",
      "type": "object",
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted."
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "OperationStep": {
      "type": "object",
      "id": "OperationStep",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "properties": {
        "updateLoginNode": {
          "readOnly": true,
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "$ref": "UpdateLoginNode"
        },
        "deleteLustreInstance": {
          "$ref": "DeleteLustreInstance",
          "readOnly": true,
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation."
        },
        "deleteLoginNode": {
          "readOnly": true,
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "$ref": "DeleteLoginNode"
        },
        "createFilestoreInstance": {
          "$ref": "CreateFilestoreInstance",
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true
        },
        "updateOrchestrator": {
          "readOnly": true,
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "$ref": "UpdateOrchestrator"
        },
        "createStorageBucket": {
          "$ref": "CreateStorageBucket",
          "readOnly": true,
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation."
        },
        "deleteNodeset": {
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNodeset"
        },
        "deleteStorageBucket": {
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteStorageBucket"
        },
        "createNetwork": {
          "readOnly": true,
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "$ref": "CreateNetwork"
        },
        "deletePartition": {
          "$ref": "DeletePartition",
          "readOnly": true,
          "description": "Output only. If set, indicates that partition deletion is part of the operation."
        },
        "deleteNetwork": {
          "$ref": "DeleteNetwork",
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "readOnly": true
        },
        "createPartition": {
          "$ref": "CreatePartition",
          "description": "Output only. If set, indicates that new partition creation is part of the operation.",
          "readOnly": true
        },
        "deletePrivateServiceAccess": {
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "$ref": "DeletePrivateServiceAccess",
          "readOnly": true
        },
        "deleteFilestoreInstance": {
          "$ref": "DeleteFilestoreInstance",
          "readOnly": true,
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation."
        },
        "updateNodeset": {
          "readOnly": true,
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "$ref": "UpdateNodeset"
        },
        "deleteOrchestrator": {
          "readOnly": true,
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation.",
          "$ref": "DeleteOrchestrator"
        },
        "checkClusterHealth": {
          "$ref": "CheckClusterHealth",
          "description": "Output only. If set, indicates that cluster health check is part of the operation.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the operation step."
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "$ref": "CreateLoginNode",
          "readOnly": true
        },
        "updatePartition": {
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdatePartition"
        },
        "createLustreInstance": {
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true
        },
        "createOrchestrator": {
          "$ref": "CreateOrchestrator",
          "readOnly": true,
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation."
        },
        "createPrivateServiceAccess": {
          "readOnly": true,
          "$ref": "CreatePrivateServiceAccess",
          "description": "Output only. If set, indicates that new private service access creation is part of the operation."
        },
        "createNodeset": {
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateNodeset"
        }
      }
    },
    "SlurmOrchestrator": {
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator.",
      "id": "SlurmOrchestrator",
      "properties": {
        "nodeSets": {
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "type": "array"
        },
        "epilogBashScripts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "type": "array"
        },
        "prologBashScripts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "type": "array"
        },
        "partitions": {
          "items": {
            "$ref": "SlurmPartition"
          },
          "type": "array",
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster."
        },
        "defaultPartition": {
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions.",
          "type": "string"
        },
        "loginNodes": {
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH.",
          "$ref": "SlurmLoginNodes"
        }
      },
      "type": "object"
    },
    "BucketReference": {
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "id": "BucketReference"
    },
    "CreateFilestoreInstance": {
      "id": "CreateFilestoreInstance",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "hypercomputecluster:v1",
  "batchPath": "batch",
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "name": "hypercomputecluster",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "clusters": {
              "methods": {
                "delete": {
                  "description": "Deletes a single Cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists Clusters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "updateMask": {
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single Cluster."
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "description": "Creates a new Cluster in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/clusters",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "parent": {
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`."
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "id": "hypercomputecluster.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              }
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "hypercomputecluster.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  }
}