{
  "ownerName": "Google",
  "servicePath": "",
  "id": "iam:v1",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "version_module": true,
  "basePath": "",
  "protocol": "rest",
  "baseUrl": "https://iam.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260821",
  "documentationLink": "https://cloud.google.com/iam/",
  "schemas": {
    "InlineCertificateIssuanceConfig": {
      "description": "Represents configuration for generating mutual TLS (mTLS) certificates for the identities within this pool.",
      "id": "InlineCertificateIssuanceConfig",
      "type": "object",
      "properties": {
        "caPools": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A required mapping of a Google Cloud region to the CA pool resource located in that region. The CA pool is used for certificate issuance, adhering to the following constraints: * Key format: A supported cloud region name equivalent to the location identifier in the corresponding map entry's value. * Value format: A valid CA pool resource path format like: \"projects/{project}/locations/{location}/caPools/{ca_pool}\" * Region Matching: Workloads are ONLY issued certificates from CA pools within the same region. Also the CA pool region (in value) must match the workload's region (key).",
          "type": "object"
        },
        "keyAlgorithm": {
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "RSA_3072",
            "RSA_4096",
            "ECDSA_P256",
            "ECDSA_P384"
          ],
          "enumDescriptions": [
            "Unspecified key algorithm. Defaults to ECDSA_P256.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies RSA with a 3072-bit modulus.",
            "Specifies RSA with a 4096-bit modulus.",
            "Specifies ECDSA with curve P256.",
            "Specifies ECDSA with curve P384."
          ],
          "description": "Optional. Key algorithm to use when generating the key pair. This key pair will be used to create the certificate. If not specified, this will default to ECDSA_P256.",
          "type": "string"
        },
        "useDefaultSharedCa": {
          "description": "Optional. If set to true, the trust domain will utilize the GCP-provisioned default CA. A default CA in the same region as the workload will be selected to issue the certificate. Enabling this will clear any existing `ca_pools` configuration to provision the certificates. NOTE: This field is mutually exclusive with `ca_pools`. If this flag is enabled, certificates will be automatically provisioned from the default shared CAs. This flag should not be set if you want to use your own CA pools to provision the certificates.",
          "type": "boolean"
        },
        "lifetime": {
          "format": "google-duration",
          "description": "Optional. Lifetime of the workload certificates issued by the CA pool. Must be between 24 hours and 30 days. If not specified, this will be defaulted to 24 hours.",
          "type": "string"
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "description": "Optional. Rotation window percentage, the percentage of remaining lifetime after which certificate rotation is initiated. Must be between 50 and 80. If no value is specified, rotation window percentage is defaulted to 50.",
          "format": "int32"
        }
      }
    },
    "PolicyDelta": {
      "type": "object",
      "properties": {
        "bindingDeltas": {
          "description": "The delta for Bindings between two policies.",
          "type": "array",
          "items": {
            "$ref": "BindingDelta"
          }
        }
      },
      "description": "The difference delta between two policies.",
      "id": "PolicyDelta"
    },
    "ListWorkloadIdentityPoolProvidersResponse": {
      "id": "ListWorkloadIdentityPoolProvidersResponse",
      "description": "Response message for ListWorkloadIdentityPoolProviders.",
      "type": "object",
      "properties": {
        "workloadIdentityPoolProviders": {
          "items": {
            "$ref": "WorkloadIdentityPoolProvider"
          },
          "type": "array",
          "description": "A list of providers."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "WorkloadIdentityPool": {
      "type": "object",
      "id": "WorkloadIdentityPool",
      "description": "Represents a collection of workload identities. You can define IAM policies to grant these identities access to Google Cloud resources.",
      "properties": {
        "inlineCertificateIssuanceConfig": {
          "description": "Optional. Defines the Certificate Authority (CA) pool resources and configurations required for issuance and rotation of mTLS workload certificates.",
          "$ref": "InlineCertificateIssuanceConfig"
        },
        "inlineTrustConfig": {
          "$ref": "InlineTrustConfig",
          "description": "Optional. Represents config to add additional trusted trust domains."
        },
        "name": {
          "description": "Identifier. The resource name of the pool.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Time after which the workload identity pool will be permanently purged and cannot be recovered.",
          "type": "string",
          "format": "google-datetime"
        },
        "disabled": {
          "description": "Optional. Whether the pool is disabled. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again.",
          "type": "boolean"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "FEDERATION_ONLY",
            "TRUST_DOMAIN",
            "SYSTEM_TRUST_DOMAIN"
          ],
          "description": "Immutable. The mode the pool is operating in.",
          "enumDescriptions": [
            "State unspecified. New pools should not use this mode. Pools with an unspecified mode will operate as if they are in federation-only mode.",
            "Federation-only mode. FEDERATION_ONLY mode pools can only be used for federating external workload identities into Google Cloud. Unless otherwise noted, no structure or format constraints are applied to workload identities in a FEDERATION_ONLY mode pool, and you cannot create any resources within the pool besides providers.",
            "Trust-domain mode. TRUST_DOMAIN mode pools can be used to assign identities to Google Cloud workloads. Identities within a TRUST_DOMAIN mode pool share the same root of trust. WorkloadIdentityPoolProviders cannot be created within trust-domain pools.",
            "SYSTEM_TRUST_DOMAIN mode pools are managed by Google Cloud services. Neither WorkloadIdentityPoolNamespaces nor WorkloadIdentityPoolProviders can be created within SYSTEM_TRUST_DOMAIN mode pools. All identities within a SYSTEM_TRUST_DOMAIN mode pool are in one of the following formats: * `spiffe:///ns//sa/` * `spiffe:///resources//`"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A display name for the pool. Cannot exceed 32 characters."
        },
        "state": {
          "description": "Output only. The state of the pool.",
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active, and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkloadIdentityPool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the pool. Cannot exceed 256 characters."
        }
      }
    },
    "ServiceAccountKey": {
      "description": "Represents a service account key. A service account has two sets of key-pairs: user-managed and system-managed. System-managed keys are also called _Google-owned and managed keys_. User-managed key-pairs can be created and deleted by users. Users are responsible for rotating these keys periodically to ensure security of their service accounts. Users retain the private key of these key-pairs, and Google retains ONLY the public key. System-managed keys that are actively used for signing are rotated regularly according to [security best practices](https://docs.cloud.google.com/iam/docs/key-rotation#timing). The rotation process is probabilistic, and usage of the new key will gradually ramp up and down over the key's lifetime. If you cache the public key set for a service account, we recommend that you update the cache every 15 minutes. User-managed keys can be added and removed at any time, so it is important to update the cache frequently. For Google-managed keys, Google will publish a key at least 6 hours before it is first used for signing and will keep publishing it for at least 6 hours after it was last used for signing. Public keys for all service accounts are also published at the OAuth2 Service Account API.",
      "type": "object",
      "id": "ServiceAccountKey",
      "properties": {
        "privateKeyType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ],
          "description": "The output format for the private key. Only provided in `CreateServiceAccountKey` responses, not in `GetServiceAccountKey` or `ListServiceAccountKey` responses. Google never exposes system-managed private keys, and never retains user-managed private keys.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ]
        },
        "publicKeyData": {
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses.",
          "format": "byte",
          "type": "string"
        },
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. The presence of this in the message will immediately result in an error.",
            "User-managed keys (managed and rotated by the user).",
            "System-managed keys (managed and rotated by Google)."
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "USER_MANAGED",
            "SYSTEM_MANAGED"
          ],
          "description": "The key type."
        },
        "disableReason": {
          "enum": [
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_UNSPECIFIED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_USER_INITIATED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_EXPOSED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_COMPROMISE_DETECTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified disable reason",
            "Disabled by the user",
            "Google detected this Service Account external key's private key data as exposed, typically in a public repository on GitHub or similar.",
            "This service account external key was detected as compromised and used by an attacker."
          ],
          "type": "string",
          "description": "Output only. optional. If the key is disabled, it may have a DisableReason describing why it was disabled."
        },
        "name": {
          "description": "The resource name of the service account key in the following format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}`.",
          "type": "string"
        },
        "keyOrigin": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key origin.",
            "Key is provided by user.",
            "Key is provided by Google."
          ],
          "description": "The key origin.",
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "USER_PROVIDED",
            "GOOGLE_PROVIDED"
          ]
        },
        "extendedStatus": {
          "items": {
            "$ref": "ExtendedStatus"
          },
          "readOnly": true,
          "description": "Output only. Extended Status provides permanent information about a service account key. For example, if this key was detected as exposed or compromised, that information will remain for the lifetime of the key in the extended_status.",
          "type": "array"
        },
        "privateKeyData": {
          "format": "byte",
          "type": "string",
          "description": "The private key data. Only provided in `CreateServiceAccountKey` responses. Make sure to keep the private key data secure because it allows for the assertion of the service account identity. When base64 decoded, the private key data can be used to authenticate with Google API client libraries and with gcloud auth activate-service-account."
        },
        "disabled": {
          "description": "The key status.",
          "type": "boolean"
        },
        "keyAlgorithm": {
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "description": "Specifies the algorithm (and possibly key size) for the key.",
          "type": "string"
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The key can be used after this timestamp."
        },
        "validBeforeTime": {
          "type": "string",
          "description": "The key can be used before this timestamp. For system-managed key pairs, this timestamp is the end time for the private key signing operation. The public key could still be used for verification for a few hours after this time.",
          "format": "google-datetime"
        }
      }
    },
    "UndeleteWorkforcePoolProviderKeyRequest": {
      "description": "Request message for UndeleteWorkforcePoolProviderKey.",
      "id": "UndeleteWorkforcePoolProviderKeyRequest",
      "properties": {},
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation"
    },
    "ListOauthClientsResponse": {
      "description": "Response message for ListOauthClients.",
      "id": "ListOauthClientsResponse",
      "type": "object",
      "properties": {
        "oauthClients": {
          "type": "array",
          "description": "A list of OauthClients.",
          "items": {
            "$ref": "OauthClient"
          }
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "QueryAuditableServicesRequest": {
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of auditable services. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`.",
          "type": "string"
        }
      },
      "id": "QueryAuditableServicesRequest",
      "description": "A request to get the list of auditable services for a resource."
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig": {
      "description": "Configuration for web single sign-on for the OIDC provider.",
      "properties": {
        "additionalScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional scopes to request for in the OIDC authentication request on top of scopes requested by default. By default, the `openid`, `profile` and `email` scopes that are supported by the identity provider are requested. Each additional scope may be at most 256 characters. A maximum of 10 additional scopes may be configured."
        },
        "assertionClaimsBehavior": {
          "type": "string",
          "description": "Required. The behavior for how OIDC Claims are included in the `assertion` object used for attribute mapping and attribute condition.",
          "enumDescriptions": [
            "No assertion claims behavior specified.",
            "Merge the UserInfo Endpoint Claims with ID Token Claims, preferring UserInfo Claim Values for the same Claim Name. This option is available only for the Authorization Code Flow.",
            "Only include ID Token Claims."
          ],
          "enum": [
            "ASSERTION_CLAIMS_BEHAVIOR_UNSPECIFIED",
            "MERGE_USER_INFO_OVER_ID_TOKEN_CLAIMS",
            "ONLY_ID_TOKEN_CLAIMS"
          ]
        },
        "responseType": {
          "description": "Required. The Response Type to request for in the OIDC Authorization Request for web sign-in. The `CODE` Response Type is recommended to avoid the Implicit Flow, for security reasons.",
          "enumDescriptions": [
            "No Response Type specified.",
            "The `response_type=code` selection uses the Authorization Code Flow for web sign-in. Requires a configured client secret.",
            "The `response_type=id_token` selection uses the Implicit Flow for web sign-in."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "CODE",
            "ID_TOKEN"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig"
    },
    "BindingDelta": {
      "type": "object",
      "id": "BindingDelta",
      "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. Required"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "description": "The action that was performed on a Binding. Required",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Google Cloud resource. Follows the same format of Binding.members. Required",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "QueryGrantableRolesRequest": {
      "description": "The grantable role query request.",
      "id": "QueryGrantableRolesRequest",
      "type": "object",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 2,000."
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        },
        "pageToken": {
          "description": "Optional pagination token returned in an earlier QueryGrantableRolesResponse.",
          "type": "string"
        },
        "view": {
          "enum": [
            "BASIC",
            "FULL"
          ],
          "enumDescriptions": [
            "Omits the `included_permissions` field. This is the default value.",
            "Returns all fields."
          ],
          "type": "string"
        }
      }
    },
    "SignBlobResponse": {
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob response.",
      "type": "object",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed blob.",
          "deprecated": true
        },
        "keyId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the blob."
        }
      },
      "id": "SignBlobResponse"
    },
    "CreateRoleRequest": {
      "description": "The request to create a new role.",
      "properties": {
        "roleId": {
          "description": "The role ID to use for this role. A role ID may contain alphanumeric characters, underscores (`_`), and periods (`.`). It must contain a minimum of 3 characters and a maximum of 64 characters.",
          "type": "string"
        },
        "role": {
          "description": "The Role resource to create.",
          "$ref": "Role"
        }
      },
      "id": "CreateRoleRequest",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "WorkloadIdentityPoolProviderKey": {
      "id": "WorkloadIdentityPoolProviderKey",
      "type": "object",
      "properties": {
        "use": {
          "type": "string",
          "description": "Required. The purpose of the key.",
          "enum": [
            "KEY_USE_UNSPECIFIED",
            "ENCRYPTION"
          ],
          "enumDescriptions": [
            "The key use is not known.",
            "The public key is used for encryption purposes."
          ]
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The key is active.",
            "The key is soft-deleted. Soft-deleted keys are permanently deleted after approximately 30 days. You can restore a soft-deleted key using UndeleteWorkloadIdentityPoolProviderKey. While a key is deleted, you cannot use it during the federation."
          ],
          "description": "Output only. The state of the key.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the key."
        },
        "keyData": {
          "description": "Immutable. Public half of the asymmetric key.",
          "$ref": "KeyData"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Time after which the key will be permanently purged and cannot be recovered. Note that the key may get purged before this timestamp if the total limit of keys per provider is crossed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a public key configuration for your workload identity pool provider. The key can be configured in your identity provider to encrypt the SAML assertions. Google holds the corresponding private key which it uses to decrypt encrypted tokens."
    },
    "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client": {
      "type": "object",
      "properties": {
        "queryParameters": {
          "description": "Optional. Represents the parameters to control which claims are fetched from an IdP.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters"
        },
        "clientSecret": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret",
          "description": "Required. The OAuth 2.0 client secret for retrieving extra attributes from the identity provider. Required to get the Access Token using client credentials grant flow."
        },
        "issuerUri": {
          "description": "Required. The OIDC identity provider's issuer URI. Must be a valid URI using the `https` scheme. Required to get the OIDC discovery document.",
          "type": "string"
        },
        "attributesType": {
          "type": "string",
          "description": "Required. Represents the IdP and type of claims that should be fetched.",
          "enumDescriptions": [
            "No AttributesType specified.",
            "Used to get the user's group claims from the Microsoft Entra ID identity provider using the configuration provided in ExtraAttributesOAuth2Client. The `mail` property of the `microsoft.graph.group` object is used for claim mapping. See https://learn.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties for more details on `microsoft.graph.group` properties. The group mail addresses of the user's groups that are returned from Microsoft Entra ID can be mapped by using the following attributes: * OIDC: `assertion.groups` * SAML: `assertion.attributes.groups`",
            "Used to get the user's group claims from the Microsoft Entra ID identity provider using the configuration provided in ExtraAttributesOAuth2Client. The `id` property of the `microsoft.graph.group` object is used for claim mapping. See https://learn.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties for more details on `microsoft.graph.group` properties. The group IDs of the user's groups that are returned from Microsoft Entra ID can be mapped by using the following attributes: * OIDC: `assertion.groups` * SAML: `assertion.attributes.groups`",
            "Used to get the user's group claims from the Microsoft Entra ID identity provider using the configuration provided in ExtraAttributesOAuth2Client. The `displayName` property of the `microsoft.graph.group` object is used for claim mapping. See https://learn.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties for more details on `microsoft.graph.group` properties. The display names of the user's groups that are returned from Microsoft Entra ID can be mapped by using the following attributes: * OIDC: `assertion.groups` * SAML: `assertion.attributes.groups`"
          ],
          "enum": [
            "ATTRIBUTES_TYPE_UNSPECIFIED",
            "AZURE_AD_GROUPS_MAIL",
            "AZURE_AD_GROUPS_ID",
            "AZURE_AD_GROUPS_DISPLAY_NAME"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Required. The OAuth 2.0 client ID for retrieving extra attributes from the identity provider. Required to get the Access Token using client credentials grant flow."
        }
      },
      "id": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
      "description": "Represents the OAuth 2.0 client credential configuration for retrieving additional user attributes that are not present in the initial authentication credentials from the identity provider, for example, groups. See https://datatracker.ietf.org/doc/html/rfc6749#section-4.4 for more details on client credentials grant flow."
    },
    "ListAttestationRulesResponse": {
      "id": "ListAttestationRulesResponse",
      "type": "object",
      "description": "Response message for ListAttestationRules.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "attestationRules": {
          "type": "array",
          "description": "A list of AttestationRules.",
          "items": {
            "$ref": "AttestationRule"
          }
        }
      }
    },
    "ListRolesResponse": {
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          },
          "description": "The Roles defined on this resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set `ListRolesRequest.page_token` to this value."
        }
      },
      "description": "The response containing the roles defined under a resource.",
      "type": "object",
      "id": "ListRolesResponse"
    },
    "TrustAnchor": {
      "id": "TrustAnchor",
      "description": "Represents a root of trust.",
      "properties": {
        "pemCertificate": {
          "description": "PEM certificate of the PKI used for validation. Must only contain one ca certificate (either root or intermediate cert).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SignJwtRequest": {
      "properties": {
        "payload": {
          "type": "string",
          "deprecated": true,
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future. If the JWT Claims Set does not contain an expiration time (`exp`) claim, this claim is added automatically, with a timestamp that is 1 hour in the future."
        }
      },
      "id": "SignJwtRequest",
      "type": "object",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT request."
    },
    "AdminAuditData": {
      "id": "AdminAuditData",
      "properties": {
        "permissionDelta": {
          "$ref": "PermissionDelta",
          "description": "The permission_delta when when creating or updating a Role."
        }
      },
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "InlineTrustConfig": {
      "description": "Defines configuration for extending trust to additional trust domains. By establishing trust with another domain, the current domain will recognize and accept certificates issued by entities within the trusted domains. Note that a trust domain automatically trusts itself, eliminating the need for explicit configuration.",
      "type": "object",
      "id": "InlineTrustConfig",
      "properties": {
        "additionalTrustBundles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "description": "Optional. Maps specific trust domains (e.g., \"example.com\") to their corresponding TrustStore, which contain the trusted root certificates for that domain. There can be a maximum of 10 trust domain entries in this map. Note that a trust domain automatically trusts itself and don't need to be specified here. If however, this WorkloadIdentityPool's trust domain contains any trust anchors in the additional_trust_bundles map, those trust anchors will be *appended to* the trust bundle automatically derived from your InlineCertificateIssuanceConfig's ca_pools."
        }
      }
    },
    "Saml": {
      "type": "object",
      "description": "Represents an SAML 2.0 identity provider.",
      "id": "Saml",
      "properties": {
        "idpMetadataXml": {
          "description": "Required. SAML identity provider (IdP) configuration metadata XML doc. The XML document must comply with the [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The maximum size of an acceptable XML document is 128K characters. The SAML metadata XML document must satisfy the following constraints: * Must contain an IdP Entity ID. * Must contain at least one non-expired signing certificate. * For each signing certificate, the expiration must be: * From no more than 7 days in the future. * To no more than 25 years in the future. * Up to three IdP signing keys are allowed. When updating the provider's metadata XML, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata.",
          "type": "string"
        }
      }
    },
    "ExtendedStatus": {
      "properties": {
        "key": {
          "description": "The key for this extended status.",
          "enum": [
            "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_UNSPECIFIED",
            "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_EXPOSED",
            "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_COMPROMISE_DETECTED"
          ],
          "enumDescriptions": [
            "Unspecified extended status, should not be used.",
            "This key has been detected as exposed. extended_status_value may contain information about the exposure (public GitHub repo, open internet, etc.)",
            "This key was implicated in a compromise or other attack. extended_status_value may contain information about the abuse perpetrated."
          ],
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value for the extended status."
        }
      },
      "id": "ExtendedStatus",
      "description": "Extended status can store additional metadata. For example, for keys disabled due to their private key data being expoesed we may include a message with more information about the exposure.",
      "type": "object"
    },
    "SetAttestationRulesRequest": {
      "description": "Request message for SetAttestationRules.",
      "type": "object",
      "properties": {
        "attestationRules": {
          "items": {
            "$ref": "AttestationRule"
          },
          "type": "array",
          "description": "Required. The attestation rules to be set. At most 50 attestation rules can be set."
        }
      },
      "id": "SetAttestationRulesRequest"
    },
    "CreateServiceAccountRequest": {
      "type": "object",
      "description": "The service account create request.",
      "id": "CreateServiceAccountRequest",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The account id that is used to generate the service account email address and a stable unique id. It is unique within a project, must be 6-30 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035."
        },
        "serviceAccount": {
          "description": "The ServiceAccount resource to create. Currently, only the following values are user assignable: `display_name` and `description`.",
          "$ref": "ServiceAccount"
        }
      }
    },
    "Aws": {
      "id": "Aws",
      "description": "Represents an Amazon Web Services identity provider.",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The AWS account ID."
        }
      }
    },
    "ListWorkforcePoolProvidersResponse": {
      "description": "Response message for ListWorkforcePoolProviders.",
      "id": "ListWorkforcePoolProvidersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workforcePoolProviders": {
          "description": "A list of providers.",
          "items": {
            "$ref": "WorkforcePoolProvider"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AuditData": {
      "type": "object",
      "id": "AuditData",
      "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "properties": {
        "policyDelta": {
          "description": "Policy delta between the original policy and the newly set policy.",
          "$ref": "PolicyDelta"
        }
      }
    },
    "GoogleIamAdminV1WorkforcePoolProviderSaml": {
      "id": "GoogleIamAdminV1WorkforcePoolProviderSaml",
      "description": "Represents a SAML identity provider.",
      "properties": {
        "idpMetadataXml": {
          "type": "string",
          "description": "Required. SAML Identity provider configuration metadata xml doc. The xml document should comply with [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The max size of the acceptable xml document will be bounded to 128k characters. The metadata xml document should satisfy the following constraints: 1) Must contain an Identity Provider Entity ID. 2) Must contain at least one non-expired signing key certificate. 3) For each signing key: a) Valid from should be no more than 7 days from now. b) Valid to should be no more than 25 years in the future. 4) Up to 3 IdP signing keys are allowed in the metadata xml. When updating the provider's metadata xml, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata."
        }
      },
      "type": "object"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "QueryGrantableRolesResponse": {
      "properties": {
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "description": "The list of matching roles.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryGrantableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryGrantableRolesResponse",
      "description": "The grantable role query response."
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue": {
      "properties": {
        "thumbprint": {
          "readOnly": true,
          "description": "Output only. A thumbprint to represent the current client secret value.",
          "type": "string"
        },
        "plainText": {
          "description": "Optional. Input only. The plain text of the client secret value. For security reasons, this field is only used for input and will never be populated in any response.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of the value of the client secret.",
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue"
    },
    "UndeleteRoleRequest": {
      "id": "UndeleteRoleRequest",
      "description": "The request to undelete an existing role.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Used to perform a consistent read-modify-write."
        }
      }
    },
    "X509": {
      "id": "X509",
      "type": "object",
      "properties": {
        "trustStore": {
          "description": "Required. A TrustStore. Use this trust store as a wrapper to config the trust anchor and optional intermediate cas to help build the trust chain for the incoming end entity certificate. Follow the X.509 guidelines to define those PEM encoded certs. Only one trust store is currently supported.",
          "$ref": "TrustStore"
        }
      },
      "description": "An X.509-type identity provider represents a CA. It is trusted to assert a client identity if the client has a certificate that chains up to this CA."
    },
    "UndeleteWorkforcePoolRequest": {
      "type": "object",
      "description": "Request message for UndeleteWorkforcePool.",
      "id": "UndeleteWorkforcePoolRequest",
      "properties": {}
    },
    "Role": {
      "type": "object",
      "id": "Role",
      "properties": {
        "etag": {
          "description": "Used to perform a consistent read-modify-write.",
          "type": "string",
          "format": "byte"
        },
        "includedPermissions": {
          "description": "The names of the permissions this role grants when bound in an IAM policy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stage": {
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DISABLED",
            "EAP"
          ],
          "enumDescriptions": [
            "The user has indicated this role is currently in an Alpha phase. If this launch stage is selected, the `stage` field will not be included when requesting the definition for a given role.",
            "The user has indicated this role is currently in a Beta phase.",
            "The user has indicated this role is generally available.",
            "The user has indicated this role is being deprecated.",
            "This role is disabled and will not contribute permissions to any principals it is granted to in policies.",
            "The user has indicated this role is currently in an EAP phase."
          ],
          "description": "The current launch stage of the role. If the `ALPHA` launch stage has been selected for a role, the `stage` field will not be included in the returned definition for the role.",
          "type": "string"
        },
        "deleted": {
          "description": "The current deleted state of the role. This field is read only. It will be ignored in calls to CreateRole and UpdateRole.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the role. When `Role` is used in `CreateRole`, the role name must not be set. When `Role` is used in output and other input such as `UpdateRole`, the role name is the complete path. For example, `roles/logging.viewer` for predefined roles, `organizations/{ORGANIZATION_ID}/roles/myRole` for organization-level custom roles, and `projects/{PROJECT_ID}/roles/myRole` for project-level custom roles.",
          "type": "string"
        },
        "title": {
          "description": "Optional. A human-readable title for the role. Typically this is limited to 100 UTF-8 bytes.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description for the role."
        }
      },
      "description": "A role in the Identity and Access Management API."
    },
    "EnableServiceAccountRequest": {
      "type": "object",
      "id": "EnableServiceAccountRequest",
      "description": "The service account enable request.",
      "properties": {}
    },
    "PermissionDelta": {
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "type": "object",
      "properties": {
        "removedPermissions": {
          "description": "Removed permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "Added permissions.",
          "type": "array"
        }
      },
      "id": "PermissionDelta"
    },
    "UndeleteWorkloadIdentityPoolProviderKeyRequest": {
      "description": "Request message for UndeleteWorkloadIdentityPoolProviderKey.",
      "type": "object",
      "properties": {},
      "id": "UndeleteWorkloadIdentityPoolProviderKeyRequest"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "EnableServiceAccountKeyRequest": {
      "type": "object",
      "description": "The service account key enable request.",
      "id": "EnableServiceAccountKeyRequest",
      "properties": {}
    },
    "WorkforcePoolProvider": {
      "type": "object",
      "id": "WorkforcePoolProvider",
      "description": "A configuration for an external identity provider.",
      "properties": {
        "scimUsage": {
          "type": "string",
          "enumDescriptions": [
            "Gemini Enterprise only. Do not use SCIM data.",
            "Gemini Enterprise only. SCIM sync is enabled and SCIM-managed groups are used for authorization checks."
          ],
          "description": "Optional. Gemini Enterprise only. Specifies whether the workforce identity pool provider uses SCIM-managed groups instead of the `google.groups` attribute mapping for authorization checks. The `scim_usage` and `extended_attributes_oauth2_client` fields are mutually exclusive. A request that enables both fields on the same workforce identity pool provider will produce an error.",
          "enum": [
            "SCIM_USAGE_UNSPECIFIED",
            "ENABLED_FOR_GROUPS"
          ]
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time after which the workforce identity pool provider will be permanently purged and cannot be recovered."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the provider. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`"
        },
        "detailedAuditLogging": {
          "description": "Optional. If true, populates additional debug information in Cloud Audit Logs for this provider. Logged attribute mappings and values can be found in `sts.googleapis.com` data access logs. Default value is false.",
          "type": "boolean"
        },
        "attributeCondition": {
          "type": "string",
          "description": "Optional. A [Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. `google.profile_photo`, `google.display_name` and `google.posix_username` are not supported. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credentials will be accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```"
        },
        "extraAttributesOauth2Client": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
          "description": "Optional. Defines the configuration for the OAuth 2.0 client that is used to get the additional user attributes in a separate backchannel call to the identity provider. This should be used when users can't get the required claims in authentication credentials. Currently, the OAuth 2.0 protocol is the only supported authorization method for this backchannel call."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkforcePoolProvider."
          ],
          "description": "Output only. The state of the provider."
        },
        "description": {
          "description": "Optional. A description of the provider. Cannot exceed 256 characters.",
          "type": "string"
        },
        "extendedAttributesOauth2Client": {
          "description": "Optional. The configuration for OAuth 2.0 client used to get the extended group memberships for user identities. Only the `AZURE_AD_GROUPS_ID` attribute type is supported. Extended groups supports a subset of Google Cloud services. When the user accesses these services, extended group memberships override the mapped `google.groups` attribute. Extended group memberships cannot be used in attribute mapping or attribute condition expressions. To keep extended group memberships up to date, extended groups are retrieved when the user signs in and at regular intervals during the user's active session. Each user identity in the workforce identity pool must map to a unique Microsoft Entra ID user.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client"
        },
        "oidc": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidc",
          "description": "An OpenID Connect 1.0 identity provider configuration."
        },
        "disabled": {
          "description": "Optional. Disables the workforce pool provider. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access.",
          "type": "boolean"
        },
        "saml": {
          "description": "A SAML identity provider configuration.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderSaml"
        },
        "displayName": {
          "description": "Optional. A display name for the provider. Cannot exceed 32 characters.",
          "type": "string"
        },
        "attributeMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Maps attributes from the authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. This is a required field and the mapped subject cannot exceed 127 bytes. * `google.groups`: Groups the authenticating user belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. * `google.display_name`: The name of the authenticated user. This is an optional field and the mapped display name cannot exceed 100 bytes. If not set, `google.subject` will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.profile_photo`: The URL that specifies the authenticated user's thumbnail photo. This is an optional field. When set, the image will be visible as the user's profile picture. If not set, a generic user icon will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.posix_username`: The Linux username used by OS Login. This is an optional field and the mapped POSIX username cannot exceed 32 characters. The key must match the regex `^a-zA-Z0-9._{0,31}$`. This attribute cannot be referenced in IAM bindings. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where {custom_attribute} is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters `[a-z0-9_]`. You can reference these attributes in IAM policies to define fine-grained access for a workforce pool to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/locations/global/workforcePools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 16 KB. For OIDC providers, you must supply a custom mapping that includes the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```"
        }
      }
    },
    "OwnerService": {
      "id": "OwnerService",
      "properties": {
        "principalSubject": {
          "type": "string",
          "description": "Required. The service agent principal subject, e.g. \"serviceAccount:service-1234@gcp-sa-gkehub.iam.gserviceaccount.com\"."
        }
      },
      "type": "object",
      "description": "The Google Cloud service that owns this namespace."
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      }
    },
    "DisableServiceAccountKeyRequest": {
      "type": "object",
      "id": "DisableServiceAccountKeyRequest",
      "description": "The service account key disable request.",
      "properties": {}
    },
    "Oidc": {
      "type": "object",
      "properties": {
        "jwksJson": {
          "description": "Optional. OIDC JWKs in JSON String format. For details on the definition of a JWK, see https://tools.ietf.org/html/rfc7517. If not set, the `jwks_uri` from the discovery document(fetched from the .well-known path of the `issuer_uri`) will be used. Currently, RSA and EC asymmetric keys are supported. The JWK must use following format and include only the following fields: { \"keys\": [ { \"kty\": \"RSA/EC\", \"alg\": \"\", \"use\": \"sig\", \"kid\": \"\", \"n\": \"\", \"e\": \"\", \"x\": \"\", \"y\": \"\", \"crv\": \"\" } ] }",
          "type": "string"
        },
        "issuerUri": {
          "description": "Required. The OIDC `issuer_uri`. Must be an HTTPS endpoint. Per OpenID Connect Discovery 1.0 spec, the OIDC issuer URL is used to locate the provider's public keys (via `jwks_uri`) for verifying tokens like the OIDC ID token. These public key types must be 'EC' or 'RSA'.",
          "type": "string"
        },
        "allowedAudiences": {
          "description": "Optional. Acceptable values for the `aud` field (audience) in the OIDC token. Token exchange requests are rejected if the token audience does not match one of the configured values. Each audience may be at most 256 characters. A maximum of 10 audiences may be configured. If this list is empty, the OIDC token audience must be equal to the full canonical resource name of the WorkloadIdentityPoolProvider, with or without the HTTPS prefix. For example: ``` //iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ https://iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ ```",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents an OpenId Connect 1.0 identity provider.",
      "id": "Oidc"
    },
    "CreateServiceAccountKeyRequest": {
      "properties": {
        "keyAlgorithm": {
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "type": "string",
          "description": "Which type of key and algorithm to use for the key. The default is currently a 2K RSA key. However this may change in the future."
        },
        "privateKeyType": {
          "type": "string",
          "description": "The output format of the private key. The default value is `TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File format.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ],
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ]
        }
      },
      "type": "object",
      "id": "CreateServiceAccountKeyRequest",
      "description": "The service account key create request."
    },
    "QueryTestablePermissionsResponse": {
      "description": "The response containing permissions which can be tested on a resource.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set `QueryTestableRolesRequest.page_token` to this value."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The Permissions testable on the requested resource."
        }
      },
      "id": "QueryTestablePermissionsResponse",
      "type": "object"
    },
    "ListWorkforcePoolsResponse": {
      "id": "ListWorkforcePoolsResponse",
      "description": "Response message for ListWorkforcePools.",
      "type": "object",
      "properties": {
        "workforcePools": {
          "items": {
            "$ref": "WorkforcePool"
          },
          "type": "array",
          "description": "A list of pools."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "AttestationRule": {
      "type": "object",
      "description": "Defines which workloads can receive an identity within a pool. When an AttestationRule is defined under a managed identity, matching workloads may receive that identity.",
      "id": "AttestationRule",
      "properties": {
        "googleCloudResource": {
          "type": "string",
          "description": "Optional. A single workload operating on Google Cloud. For example: `//compute.googleapis.com/projects/123/uid/zones/us-central1-a/instances/12345`."
        }
      }
    },
    "UndeleteWorkforcePoolProviderScimTenantRequest": {
      "description": "Gemini Enterprise only. Request message for UndeleteWorkforcePoolProviderScimTenant.",
      "type": "object",
      "id": "UndeleteWorkforcePoolProviderScimTenantRequest",
      "properties": {}
    },
    "QueryAuditableServicesResponse": {
      "properties": {
        "services": {
          "description": "The auditable services for a resource.",
          "items": {
            "$ref": "AuditableService"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "QueryAuditableServicesResponse",
      "description": "A response containing a list of auditable services for a resource."
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "primaryPermission": {
          "description": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission.",
          "type": "string"
        },
        "onlyInPredefinedRoles": {
          "deprecated": true,
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "A brief description of what this Permission is used for."
        },
        "customRolesSupportLevel": {
          "enumDescriptions": [
            "Default state. Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ],
          "type": "string",
          "description": "The current custom role support level.",
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ]
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ],
          "description": "The current launch stage of the permission.",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "apiDisabled": {
          "description": "The service API associated with the permission is not enabled.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of this Permission."
        },
        "name": {
          "type": "string",
          "description": "The name of this Permission."
        }
      },
      "description": "A permission which can be included by a role."
    },
    "UndeleteServiceAccountResponse": {
      "id": "UndeleteServiceAccountResponse",
      "type": "object",
      "properties": {
        "restoredAccount": {
          "description": "Metadata for the restored service account.",
          "$ref": "ServiceAccount"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "LintPolicyResponse": {
      "properties": {
        "lintResults": {
          "items": {
            "$ref": "LintResult"
          },
          "description": "List of lint results sorted by `severity` in descending order.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "LintPolicyResponse",
      "description": "The response of a lint operation. An empty response indicates the operation was able to fully execute and no lint issue was found."
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest"
    },
    "RemoveAttestationRuleRequest": {
      "type": "object",
      "properties": {
        "attestationRule": {
          "description": "Required. The attestation rule to be removed.",
          "$ref": "AttestationRule"
        }
      },
      "description": "Request message for RemoveAttestationRule.",
      "id": "RemoveAttestationRuleRequest"
    },
    "OperationMetadata": {
      "properties": {
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "AccessRestrictions": {
      "properties": {
        "disableProgrammaticSignin": {
          "type": "boolean",
          "description": "Optional. Disable programmatic sign-in by disabling token issue via the Security Token API endpoint. See [Security Token Service API] (https://cloud.google.com/iam/docs/reference/sts/rest)."
        },
        "allowedServices": {
          "items": {
            "$ref": "ServiceConfig"
          },
          "type": "array",
          "description": "Optional. Immutable. Services allowed for web sign-in with the workforce pool. If not set by default there are no restrictions."
        }
      },
      "id": "AccessRestrictions",
      "description": "Access related restrictions on the workforce pool.",
      "type": "object"
    },
    "LintResult": {
      "description": "Structured response of a single validation unit.",
      "properties": {
        "validationUnitName": {
          "description": "The validation unit name, for instance \"lintValidationUnits/ConditionComplexityCheck\".",
          "type": "string"
        },
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "CONDITION"
          ],
          "description": "The validation unit level.",
          "type": "string",
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on an individual condition within a binding."
          ]
        },
        "locationOffset": {
          "description": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression.",
          "type": "integer",
          "format": "int32"
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition."
        },
        "debugMessage": {
          "type": "string",
          "description": "Human readable debug message associated with the issue."
        },
        "severity": {
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an attempt is made to set the problematic policy without rectifying the critical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error. For example, suspicious constructs in the input object will not necessarily fail `setPolicy`, but there is a high likelihood that they won't behave as expected during policy evaluation in `checkPolicy`. This includes the following common scenarios: - Unsatisfiable condition: Expired timestamp in date/time condition. - Ineffective condition: Condition on a pair which is granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`/`WARNING`, but need special handling. For instance, messages about skipped validation units are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise `ERROR`/`WARNING`/`NOTICE`, like auto-correction recommendations on the input content. Note that current version of the linter does not utilize `INFO`.",
            "Deprecated severity level."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ],
          "description": "The validation unit severity."
        }
      },
      "type": "object",
      "id": "LintResult"
    },
    "Expr": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "UndeleteWorkloadIdentityPoolRequest": {
      "type": "object",
      "description": "Request message for UndeleteWorkloadIdentityPool.",
      "properties": {},
      "id": "UndeleteWorkloadIdentityPoolRequest"
    },
    "QueryTestablePermissionsRequest": {
      "id": "QueryTestablePermissionsRequest",
      "description": "A request to get permissions which can be tested on a resource.",
      "properties": {
        "pageToken": {
          "description": "Optional pagination token returned in an earlier QueryTestablePermissionsRequest.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of testable permissions. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional limit on the number of permissions to include in the response. The default is 100, and the maximum is 1,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListOauthClientCredentialsResponse": {
      "properties": {
        "oauthClientCredentials": {
          "description": "A list of OauthClientCredentials.",
          "items": {
            "$ref": "OauthClientCredential"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListOauthClientCredentials.",
      "id": "ListOauthClientCredentialsResponse",
      "type": "object"
    },
    "UndeleteWorkforcePoolSubjectRequest": {
      "id": "UndeleteWorkforcePoolSubjectRequest",
      "type": "object",
      "description": "Request message for UndeleteWorkforcePoolSubject.",
      "properties": {}
    },
    "ListWorkloadIdentityPoolNamespacesResponse": {
      "properties": {
        "workloadIdentityPoolNamespaces": {
          "description": "A list of namespaces.",
          "type": "array",
          "items": {
            "$ref": "WorkloadIdentityPoolNamespace"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkloadIdentityPoolNamespacesResponse",
      "type": "object",
      "description": "Response message for ListWorkloadIdentityPoolNamespaces."
    },
    "ServiceConfig": {
      "id": "ServiceConfig",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Optional. Domain name of the service. Example: console.cloud.google"
        }
      },
      "type": "object",
      "description": "Configuration for a service."
    },
    "UndeleteWorkloadIdentityPoolNamespaceRequest": {
      "properties": {},
      "description": "Request message for UndeleteWorkloadIdentityPoolNamespace.",
      "type": "object",
      "id": "UndeleteWorkloadIdentityPoolNamespaceRequest"
    },
    "UndeleteWorkloadIdentityPoolManagedIdentityRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteWorkloadIdentityPoolManagedIdentityRequest",
      "description": "Request message for UndeleteWorkloadIdentityPoolManagedIdentity."
    },
    "WorkloadIdentityPoolNamespace": {
      "description": "Represents a namespace for a workload identity pool. Namespaces are used to segment identities within the pool.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the namespace is disabled. If disabled, credentials may no longer be issued for identities within this namespace, however existing credentials will still be accepted until they expire.",
          "type": "boolean"
        },
        "ownerService": {
          "readOnly": true,
          "description": "Output only. The Google Cloud service that owns this namespace.",
          "$ref": "OwnerService"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time after which the namespace will be permanently purged and cannot be recovered."
        },
        "name": {
          "description": "Identifier. The resource name of the namespace.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the namespace. Cannot exceed 256 characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The namespace is active.",
            "The namespace is soft-deleted. Soft-deleted namespaces are permanently deleted after approximately 30 days. You can restore a soft-deleted namespace using UndeleteWorkloadIdentityPoolNamespace. You cannot reuse the ID of a soft-deleted namespace until it is permanently deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the namespace.",
          "readOnly": true
        }
      },
      "id": "WorkloadIdentityPoolNamespace"
    },
    "SignJwtResponse": {
      "type": "object",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT response.",
      "id": "SignJwtResponse",
      "properties": {
        "keyId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the JWT."
        },
        "signedJwt": {
          "deprecated": true,
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed JWT.",
          "type": "string"
        }
      }
    },
    "ServiceAccount": {
      "description": "An IAM service account. A service account is an account for an application or a virtual machine (VM) instance, not a person. You can use a service account to call Google APIs. To learn more, read the [overview of service accounts](https://cloud.google.com/iam/help/service-accounts/overview). When you create a service account, you specify the project ID that owns the service account, as well as a name that must be unique within the project. IAM uses these values to create an email address that identifies the service account. //",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. A user-specified, human-readable name for the service account. The maximum length is 100 UTF-8 bytes."
        },
        "email": {
          "type": "string",
          "description": "Output only. The email address of the service account.",
          "readOnly": true
        },
        "projectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the project that owns the service account."
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-specified, human-readable description of the service account. The maximum length is 256 UTF-8 bytes."
        },
        "disabled": {
          "readOnly": true,
          "description": "Output only. Whether the service account is disabled.",
          "type": "boolean"
        },
[...]
