{
  "batchPath": "batch",
  "version_module": true,
  "description": "Manages identity and access control for Google Cloud resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls. Enabling this API also enables the IAM Service Account Credentials API (iamcredentials.googleapis.com). However, disabling this API doesn't disable the IAM Service Account Credentials API. ",
  "protocol": "rest",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "basePath": "",
  "title": "Identity and Access Management (IAM) API",
  "ownerDomain": "google.com",
  "baseUrl": "https://iam.googleapis.com/",
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListWorkloadIdentityPoolProvidersResponse": {
      "id": "ListWorkloadIdentityPoolProvidersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workloadIdentityPoolProviders": {
          "items": {
            "$ref": "WorkloadIdentityPoolProvider"
          },
          "description": "A list of providers.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListWorkloadIdentityPoolProviders."
    },
    "SignBlobResponse": {
      "id": "SignBlobResponse",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob response.",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "deprecated": true,
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed blob."
        },
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the blob.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ListOauthClientsResponse": {
      "description": "Response message for ListOauthClients.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "oauthClients": {
          "type": "array",
          "items": {
            "$ref": "OauthClient"
          },
          "description": "A list of OauthClients."
        }
      },
      "id": "ListOauthClientsResponse",
      "type": "object"
    },
    "ListWorkforcePoolProviderScimTokensResponse": {
      "type": "object",
      "description": "Gemini Enterprise only. Response message for ListWorkforcePoolProviderScimTokens.",
      "properties": {
        "workforcePoolProviderScimTokens": {
          "type": "array",
          "items": {
            "$ref": "WorkforcePoolProviderScimToken"
          },
          "readOnly": true,
          "description": "Output only. Gemini Enterprise only. A list of SCIM tokens."
        },
        "nextPageToken": {
          "description": "Optional. Gemini Enterprise only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkforcePoolProviderScimTokensResponse"
    },
    "IntermediateCA": {
      "description": "Intermediate CA certificates used for building the trust chain to trust anchor",
      "type": "object",
      "id": "IntermediateCA",
      "properties": {
        "pemCertificate": {
          "description": "PEM certificate of the PKI used for validation. Must only contain one ca certificate.",
          "type": "string"
        }
      }
    },
    "AddAttestationRuleRequest": {
      "id": "AddAttestationRuleRequest",
      "properties": {
        "attestationRule": {
          "description": "Required. The attestation rule to be added.",
          "$ref": "AttestationRule"
        }
      },
      "type": "object",
      "description": "Request message for AddAttestationRule."
    },
    "CreateServiceAccountKeyRequest": {
      "description": "The service account key create request.",
      "type": "object",
      "properties": {
        "keyAlgorithm": {
          "description": "Which type of key and algorithm to use for the key. The default is currently a 2K RSA key. However this may change in the future.",
          "type": "string",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ]
        },
        "privateKeyType": {
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ],
          "description": "The output format of the private key. The default value is `TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File format.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        }
      },
      "id": "CreateServiceAccountKeyRequest"
    },
    "RemoveAttestationRuleRequest": {
      "description": "Request message for RemoveAttestationRule.",
      "type": "object",
      "properties": {
        "attestationRule": {
          "description": "Required. The attestation rule to be removed.",
          "$ref": "AttestationRule"
        }
      },
      "id": "RemoveAttestationRuleRequest"
    },
    "OauthClient": {
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of the OauthClient. Format:`projects/{project}/locations/{location}/oauthClients/{oauth_client}`.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Time after which the OauthClient will be permanently purged and cannot be recovered.",
          "type": "string",
          "readOnly": true
        },
        "allowedGrantTypes": {
          "items": {
            "type": "string",
            "enum": [
              "GRANT_TYPE_UNSPECIFIED",
              "AUTHORIZATION_CODE_GRANT",
              "REFRESH_TOKEN_GRANT"
            ],
            "enumDescriptions": [
              "Should not be used.",
              "Authorization code grant.",
              "Refresh token grant."
            ]
          },
          "type": "array",
          "description": "Required. The list of OAuth grant types is allowed for the OauthClient."
        },
        "allowedScopes": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of scopes that the OauthClient is allowed to request during OAuth flows. The following scopes are supported: * `https://www.googleapis.com/auth/cloud-platform`: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.",
          "type": "array"
        },
        "clientType": {
          "enumDescriptions": [
            "Should not be used.",
            "Public client has no secret.",
            "Private client."
          ],
          "description": "Immutable. The type of OauthClient. Either public or private. For private clients, the client secret can be managed using the dedicated OauthClientCredential resource.",
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "PUBLIC_CLIENT",
            "CONFIDENTIAL_CLIENT"
          ]
        },
        "clientId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The system-generated OauthClient id."
        },
        "description": {
          "description": "Optional. A user-specified description of the OauthClient. Cannot exceed 256 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A user-specified display name of the OauthClient. Cannot exceed 32 characters."
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The OauthClient is active.",
            "The OauthClient is soft-deleted. Soft-deleted OauthClient is permanently deleted after approximately 30 days unless restored via `UndeleteOauthClient`."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the OauthClient."
        },
        "disabled": {
          "description": "Optional. Whether the OauthClient is disabled. You cannot use a disabled OAuth client.",
          "type": "boolean"
        },
        "allowedRedirectUris": {
          "description": "Required. The list of redirect uris that is allowed to redirect back when authorization process is completed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "OauthClient",
      "description": "Represents an OauthClient. Used to access Google Cloud resources on behalf of a Workforce Identity Federation user by using OAuth 2.0 Protocol to obtain an access token from Google Cloud.",
      "type": "object"
    },
    "PermissionDelta": {
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "properties": {
        "addedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "Added permissions.",
          "type": "array"
        },
        "removedPermissions": {
          "description": "Removed permissions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PermissionDelta"
    },
    "WorkforcePoolProvider": {
      "description": "A configuration for an external identity provider.",
      "properties": {
        "scimUsage": {
          "description": "Optional. Gemini Enterprise only. Specifies whether the workforce identity pool provider uses SCIM-managed groups instead of the `google.groups` attribute mapping for authorization checks. The `scim_usage` and `extended_attributes_oauth2_client` fields are mutually exclusive. A request that enables both fields on the same workforce identity pool provider will produce an error.",
          "enumDescriptions": [
            "Gemini Enterprise only. Do not use SCIM data.",
            "Gemini Enterprise only. SCIM sync is enabled and SCIM-managed groups are used for authorization checks."
          ],
          "type": "string",
          "enum": [
            "SCIM_USAGE_UNSPECIFIED",
            "ENABLED_FOR_GROUPS"
          ]
        },
        "saml": {
          "description": "A SAML identity provider configuration.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderSaml"
        },
        "extraAttributesOauth2Client": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
          "description": "Optional. Defines the configuration for the OAuth 2.0 client that is used to get the additional user attributes in a separate backchannel call to the identity provider. This should be used when users can't get the required claims in authentication credentials. Currently, the OAuth 2.0 protocol is the only supported authorization method for this backchannel call."
        },
        "displayName": {
          "description": "Optional. A display name for the provider. Cannot exceed 32 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the provider. Cannot exceed 256 characters.",
          "type": "string"
        },
        "attributeCondition": {
          "type": "string",
          "description": "Optional. A [Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. `google.profile_photo`, `google.display_name` and `google.posix_username` are not supported. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credentials will be accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```"
        },
        "detailedAuditLogging": {
          "description": "Optional. If true, populates additional debug information in Cloud Audit Logs for this provider. Logged attribute mappings and values can be found in `sts.googleapis.com` data access logs. Default value is false.",
          "type": "boolean"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time after which the workforce identity pool provider will be permanently purged and cannot be recovered.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disables the workforce pool provider. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access.",
          "type": "boolean"
        },
        "oidc": {
          "description": "An OpenID Connect 1.0 identity provider configuration.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidc"
        },
        "attributeMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Maps attributes from the authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. This is a required field and the mapped subject cannot exceed 127 bytes. * `google.groups`: Groups the authenticating user belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. * `google.display_name`: The name of the authenticated user. This is an optional field and the mapped display name cannot exceed 100 bytes. If not set, `google.subject` will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.profile_photo`: The URL that specifies the authenticated user's thumbnail photo. This is an optional field. When set, the image will be visible as the user's profile picture. If not set, a generic user icon will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.posix_username`: The Linux username used by OS Login. This is an optional field and the mapped POSIX username cannot exceed 32 characters. The key must match the regex `^a-zA-Z0-9._{0,31}$`. This attribute cannot be referenced in IAM bindings. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where {custom_attribute} is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters `[a-z0-9_]`. You can reference these attributes in IAM policies to define fine-grained access for a workforce pool to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/locations/global/workforcePools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 16 KB. For OIDC providers, you must supply a custom mapping that includes the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the provider. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`",
          "type": "string"
        },
        "extendedAttributesOauth2Client": {
          "description": "Optional. The configuration for OAuth 2.0 client used to get the extended group memberships for user identities. Only the `AZURE_AD_GROUPS_ID` attribute type is supported. Extended groups supports a subset of Google Cloud services. When the user accesses these services, extended group memberships override the mapped `google.groups` attribute. Extended group memberships cannot be used in attribute mapping or attribute condition expressions. To keep extended group memberships up to date, extended groups are retrieved when the user signs in and at regular intervals during the user's active session. Each user identity in the workforce identity pool must map to a unique Microsoft Entra ID user.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the provider.",
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkforcePoolProvider."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        }
      },
      "id": "WorkforcePoolProvider",
      "type": "object"
    },
    "Oidc": {
      "properties": {
        "issuerUri": {
          "description": "Required. The OIDC `issuer_uri`. Must be an HTTPS endpoint. Per OpenID Connect Discovery 1.0 spec, the OIDC issuer URL is used to locate the provider's public keys (via `jwks_uri`) for verifying tokens like the OIDC ID token. These public key types must be 'EC' or 'RSA'.",
          "type": "string"
        },
        "allowedAudiences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Acceptable values for the `aud` field (audience) in the OIDC token. Token exchange requests are rejected if the token audience does not match one of the configured values. Each audience may be at most 256 characters. A maximum of 10 audiences may be configured. If this list is empty, the OIDC token audience must be equal to the full canonical resource name of the WorkloadIdentityPoolProvider, with or without the HTTPS prefix. For example: ``` //iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ https://iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ ```"
        },
        "jwksJson": {
          "description": "Optional. OIDC JWKs in JSON String format. For details on the definition of a JWK, see https://tools.ietf.org/html/rfc7517. If not set, the `jwks_uri` from the discovery document(fetched from the .well-known path of the `issuer_uri`) will be used. Currently, RSA and EC asymmetric keys are supported. The JWK must use following format and include only the following fields: { \"keys\": [ { \"kty\": \"RSA/EC\", \"alg\": \"\", \"use\": \"sig\", \"kid\": \"\", \"n\": \"\", \"e\": \"\", \"x\": \"\", \"y\": \"\", \"crv\": \"\" } ] }",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Oidc",
      "description": "Represents an OpenId Connect 1.0 identity provider."
    },
    "X509": {
      "properties": {
        "trustStore": {
          "$ref": "TrustStore",
          "description": "Required. A TrustStore. Use this trust store as a wrapper to config the trust anchor and optional intermediate cas to help build the trust chain for the incoming end entity certificate. Follow the X.509 guidelines to define those PEM encoded certs. Only one trust store is currently supported."
        }
      },
      "description": "An X.509-type identity provider represents a CA. It is trusted to assert a client identity if the client has a certificate that chains up to this CA.",
      "type": "object",
      "id": "X509"
    },
    "UndeleteWorkforcePoolSubjectRequest": {
      "description": "Request message for UndeleteWorkforcePoolSubject.",
      "properties": {},
      "id": "UndeleteWorkforcePoolSubjectRequest",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig": {
      "description": "Configuration for web single sign-on for the OIDC provider.",
      "properties": {
        "responseType": {
          "description": "Required. The Response Type to request for in the OIDC Authorization Request for web sign-in. The `CODE` Response Type is recommended to avoid the Implicit Flow, for security reasons.",
          "enumDescriptions": [
            "No Response Type specified.",
            "The `response_type=code` selection uses the Authorization Code Flow for web sign-in. Requires a configured client secret.",
            "The `response_type=id_token` selection uses the Implicit Flow for web sign-in."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "CODE",
            "ID_TOKEN"
          ]
        },
        "assertionClaimsBehavior": {
          "enumDescriptions": [
            "No assertion claims behavior specified.",
            "Merge the UserInfo Endpoint Claims with ID Token Claims, preferring UserInfo Claim Values for the same Claim Name. This option is available only for the Authorization Code Flow.",
            "Only include ID Token Claims."
          ],
          "type": "string",
          "enum": [
            "ASSERTION_CLAIMS_BEHAVIOR_UNSPECIFIED",
            "MERGE_USER_INFO_OVER_ID_TOKEN_CLAIMS",
            "ONLY_ID_TOKEN_CLAIMS"
          ],
          "description": "Required. The behavior for how OIDC Claims are included in the `assertion` object used for attribute mapping and attribute condition."
        },
        "additionalScopes": {
          "type": "array",
          "description": "Optional. Additional scopes to request for in the OIDC authentication request on top of scopes requested by default. By default, the `openid`, `profile` and `email` scopes that are supported by the identity provider are requested. Each additional scope may be at most 256 characters. A maximum of 10 additional scopes may be configured.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig",
      "type": "object"
    },
    "UndeleteOauthClientRequest": {
      "properties": {},
      "description": "Request message for UndeleteOauthClient.",
      "id": "UndeleteOauthClientRequest",
      "type": "object"
    },
    "SetAttestationRulesRequest": {
      "properties": {
        "attestationRules": {
          "description": "Required. The attestation rules to be set. At most 50 attestation rules can be set.",
          "type": "array",
          "items": {
            "$ref": "AttestationRule"
          }
        }
      },
      "id": "SetAttestationRulesRequest",
      "description": "Request message for SetAttestationRules.",
      "type": "object"
    },
    "WorkloadIdentityPool": {
      "id": "WorkloadIdentityPool",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the pool.",
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active, and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkloadIdentityPool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ],
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "description": "Optional. Whether the pool is disabled. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. A display name for the pool. Cannot exceed 32 characters.",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "State unspecified. New pools should not use this mode. Pools with an unspecified mode will operate as if they are in federation-only mode.",
            "Federation-only mode. FEDERATION_ONLY mode pools can only be used for federating external workload identities into Google Cloud. Unless otherwise noted, no structure or format constraints are applied to workload identities in a FEDERATION_ONLY mode pool, and you cannot create any resources within the pool besides providers.",
            "Trust-domain mode. TRUST_DOMAIN mode pools can be used to assign identities to Google Cloud workloads. Identities within a TRUST_DOMAIN mode pool share the same root of trust. WorkloadIdentityPoolProviders cannot be created within trust-domain pools.",
            "SYSTEM_TRUST_DOMAIN mode pools are managed by Google Cloud services. Neither WorkloadIdentityPoolNamespaces nor WorkloadIdentityPoolProviders can be created within SYSTEM_TRUST_DOMAIN mode pools. All identities within a SYSTEM_TRUST_DOMAIN mode pool are in one of the following formats: * `spiffe:///ns//sa/` * `spiffe:///resources//`"
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FEDERATION_ONLY",
            "TRUST_DOMAIN",
            "SYSTEM_TRUST_DOMAIN"
          ],
          "description": "Immutable. The mode the pool is operating in."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the pool. Cannot exceed 256 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the pool."
        },
        "inlineCertificateIssuanceConfig": {
          "description": "Optional. Defines the Certificate Authority (CA) pool resources and configurations required for issuance and rotation of mTLS workload certificates.",
          "$ref": "InlineCertificateIssuanceConfig"
        },
        "expireTime": {
          "description": "Output only. Time after which the workload identity pool will be permanently purged and cannot be recovered.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "inlineTrustConfig": {
          "$ref": "InlineTrustConfig",
          "description": "Optional. Represents config to add additional trusted trust domains."
        }
      },
      "description": "Represents a collection of workload identities. You can define IAM policies to grant these identities access to Google Cloud resources."
    },
    "EnableServiceAccountRequest": {
      "id": "EnableServiceAccountRequest",
      "properties": {},
      "type": "object",
      "description": "The service account enable request."
    },
    "ListWorkloadIdentityPoolProviderKeysResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workloadIdentityPoolProviderKeys": {
          "description": "A list of WorkloadIdentityPoolProviderKey",
          "type": "array",
          "items": {
            "$ref": "WorkloadIdentityPoolProviderKey"
          }
        }
      },
      "id": "ListWorkloadIdentityPoolProviderKeysResponse",
      "description": "Response message for ListWorkloadIdentityPoolProviderKeys.",
      "type": "object"
    },
    "UndeleteWorkloadIdentityPoolRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for UndeleteWorkloadIdentityPool.",
      "id": "UndeleteWorkloadIdentityPoolRequest"
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue": {
      "description": "Representation of the value of the client secret.",
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue",
      "type": "object",
      "properties": {
        "thumbprint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A thumbprint to represent the current client secret value."
        },
        "plainText": {
          "description": "Optional. Input only. The plain text of the client secret value. For security reasons, this field is only used for input and will never be populated in any response.",
          "type": "string"
        }
      }
    },
    "LintResult": {
      "description": "Structured response of a single validation unit.",
      "properties": {
        "validationUnitName": {
          "description": "The validation unit name, for instance \"lintValidationUnits/ConditionComplexityCheck\".",
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ],
          "description": "The validation unit severity.",
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an attempt is made to set the problematic policy without rectifying the critical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error. For example, suspicious constructs in the input object will not necessarily fail `setPolicy`, but there is a high likelihood that they won't behave as expected during policy evaluation in `checkPolicy`. This includes the following common scenarios: - Unsatisfiable condition: Expired timestamp in date/time condition. - Ineffective condition: Condition on a pair which is granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`/`WARNING`, but need special handling. For instance, messages about skipped validation units are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise `ERROR`/`WARNING`/`NOTICE`, like auto-correction recommendations on the input content. Note that current version of the linter does not utilize `INFO`.",
            "Deprecated severity level."
          ]
        },
        "debugMessage": {
          "type": "string",
          "description": "Human readable debug message associated with the issue."
        },
        "level": {
          "description": "The validation unit level.",
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on an individual condition within a binding."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "CONDITION"
          ]
        },
        "locationOffset": {
          "format": "int32",
          "description": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression.",
          "type": "integer"
        }
      },
      "id": "LintResult",
      "type": "object"
    },
    "ListServiceAccountKeysResponse": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "ServiceAccountKey"
          },
          "type": "array",
          "description": "The public keys for the service account."
        }
      },
      "type": "object",
      "description": "The service account keys list response.",
      "id": "ListServiceAccountKeysResponse"
    },
    "UndeleteWorkloadIdentityPoolNamespaceRequest": {
      "type": "object",
      "id": "UndeleteWorkloadIdentityPoolNamespaceRequest",
      "description": "Request message for UndeleteWorkloadIdentityPoolNamespace.",
      "properties": {}
    },
    "OauthClientCredential": {
      "type": "object",
      "description": "Represents an OauthClientCredential. Used to authenticate an OauthClient while accessing Google Cloud resources on behalf of a user by using OAuth 2.0 Protocol.",
      "properties": {
        "clientSecret": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated OAuth client secret. The client secret must be stored securely. If the client secret is leaked, you must delete and re-create the client credential. To learn more, see [OAuth client and credential security risks and mitigations](https://cloud.google.com/iam/docs/workforce-oauth-app#security)"
        },
        "displayName": {
          "description": "Optional. A user-specified display name of the OauthClientCredential. Cannot exceed 32 characters.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the OauthClientCredential is disabled. You cannot use a disabled OauthClientCredential."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of the OauthClientCredential. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}/credentials/{credential}`",
          "type": "string"
        }
      },
      "id": "OauthClientCredential"
    },
    "ListServiceAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set ListServiceAccountsRequest.page_token to this value."
        },
        "accounts": {
          "items": {
            "$ref": "ServiceAccount"
          },
          "type": "array",
          "description": "The list of matching service accounts."
        }
      },
      "id": "ListServiceAccountsResponse",
      "description": "The service account list response.",
      "type": "object"
    },
    "UndeleteWorkforcePoolRequest": {
      "id": "UndeleteWorkforcePoolRequest",
      "type": "object",
      "description": "Request message for UndeleteWorkforcePool.",
      "properties": {}
    },
    "SignBlobRequest": {
      "type": "object",
      "id": "SignBlobRequest",
      "properties": {
        "bytesToSign": {
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The bytes to sign.",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob request."
    },
    "ServiceAccountKey": {
      "type": "object",
      "id": "ServiceAccountKey",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the service account key in the following format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}`."
        },
        "publicKeyData": {
          "format": "byte",
          "type": "string",
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses."
        },
        "validBeforeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The key can be used before this timestamp. For system-managed key pairs, this timestamp is the end time for the private key signing operation. The public key could still be used for verification for a few hours after this time."
        },
        "disableReason": {
          "type": "string",
          "enum": [
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_UNSPECIFIED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_USER_INITIATED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_EXPOSED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_COMPROMISE_DETECTED"
          ],
          "description": "Output only. optional. If the key is disabled, it may have a DisableReason describing why it was disabled.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified disable reason",
            "Disabled by the user",
            "Google detected this Service Account external key's private key data as exposed, typically in a public repository on GitHub or similar.",
            "This service account external key was detected as compromised and used by an attacker."
          ]
        },
        "validAfterTime": {
          "type": "string",
          "description": "The key can be used after this timestamp.",
          "format": "google-datetime"
        },
        "privateKeyType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ],
          "description": "The output format for the private key. Only provided in `CreateServiceAccountKey` responses, not in `GetServiceAccountKey` or `ListServiceAccountKey` responses. Google never exposes system-managed private keys, and never retains user-managed private keys.",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ]
        },
        "disabled": {
          "type": "boolean",
          "description": "The key status."
        },
        "extendedStatus": {
          "items": {
            "$ref": "ExtendedStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Extended Status provides permanent information about a service account key. For example, if this key was detected as exposed or compromised, that information will remain for the lifetime of the key in the extended_status."
        },
        "privateKeyData": {
          "type": "string",
          "description": "The private key data. Only provided in `CreateServiceAccountKey` responses. Make sure to keep the private key data secure because it allows for the assertion of the service account identity. When base64 decoded, the private key data can be used to authenticate with Google API client libraries and with gcloud auth activate-service-account.",
          "format": "byte"
        },
        "keyAlgorithm": {
          "description": "Specifies the algorithm (and possibly key size) for the key.",
          "type": "string",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ]
        },
        "keyOrigin": {
          "enumDescriptions": [
            "Unspecified key origin.",
            "Key is provided by user.",
            "Key is provided by Google."
          ],
          "description": "The key origin.",
          "type": "string",
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "USER_PROVIDED",
            "GOOGLE_PROVIDED"
          ]
        },
        "keyType": {
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "USER_MANAGED",
            "SYSTEM_MANAGED"
          ],
          "description": "The key type.",
          "enumDescriptions": [
            "Unspecified key type. The presence of this in the message will immediately result in an error.",
            "User-managed keys (managed and rotated by the user).",
            "System-managed keys (managed and rotated by Google)."
          ]
        }
      },
      "description": "Represents a service account key. A service account has two sets of key-pairs: user-managed and system-managed. System-managed keys are also called _Google-owned and managed keys_. User-managed key-pairs can be created and deleted by users. Users are responsible for rotating these keys periodically to ensure security of their service accounts. Users retain the private key of these key-pairs, and Google retains ONLY the public key. System-managed keys that are actively used for signing are rotated regularly according to [security best practices](https://docs.cloud.google.com/iam/docs/key-rotation#timing). The rotation process is probabilistic, and usage of the new key will gradually ramp up and down over the key's lifetime. If you cache the public key set for a service account, we recommend that you update the cache every 15 minutes. User-managed keys can be added and removed at any time, so it is important to update the cache frequently. For Google-managed keys, Google will publish a key at least 6 hours before it is first used for signing and will keep publishing it for at least 6 hours after it was last used for signing. Public keys for all service accounts are also published at the OAuth2 Service Account API."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "SignJwtRequest": {
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT request.",
      "id": "SignJwtRequest",
      "type": "object",
      "properties": {
        "payload": {
          "deprecated": true,
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future. If the JWT Claims Set does not contain an expiration time (`exp`) claim, this claim is added automatically, with a timestamp that is 1 hour in the future.",
          "type": "string"
        }
      }
    },
    "SignJwtResponse": {
      "id": "SignJwtResponse",
      "type": "object",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT response.",
      "properties": {
        "signedJwt": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed JWT."
        },
        "keyId": {
          "type": "string",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the JWT.",
          "deprecated": true
        }
      }
    },
    "QueryGrantableRolesRequest": {
      "description": "The grantable role query request.",
      "properties": {
        "pageToken": {
          "description": "Optional pagination token returned in an earlier QueryGrantableRolesResponse.",
          "type": "string"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 2,000."
        },
        "view": {
          "type": "string",
          "enum": [
            "BASIC",
            "FULL"
          ],
          "enumDescriptions": [
            "Omits the `included_permissions` field. This is the default value.",
            "Returns all fields."
          ]
        }
      },
      "id": "QueryGrantableRolesRequest",
      "type": "object"
    },
    "QueryAuditableServicesRequest": {
      "description": "A request to get the list of auditable services for a resource.",
      "id": "QueryAuditableServicesRequest",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name to query from the list of auditable services. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "WorkloadIdentityPoolProvider": {
      "id": "WorkloadIdentityPoolProvider",
      "type": "object",
      "properties": {
        "x509": {
          "description": "An X.509-type identity provider.",
          "$ref": "X509"
        },
        "attributeCondition": {
          "description": "Optional. [A Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credential are accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```",
          "type": "string"
        },
        "attributeMapping": {
          "description": "Optional. Maps attributes from authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. Cannot exceed 127 bytes. * `google.groups`: Groups the external identity belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where `{custom_attribute}` is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters [a-z0-9_]. You can reference these attributes in IAM policies to define fine-grained access for a workload to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 8KB. For AWS providers, if no attribute mapping is defined, the following default mapping applies: ``` { \"google.subject\":\"assertion.arn\", \"attribute.aws_role\": \"assertion.arn.contains('assumed-role')\" \" ? assertion.arn.extract('{account_arn}assumed-role/')\" \" + 'assumed-role/'\" \" + assertion.arn.extract('assumed-role/{role_name}/')\" \" : assertion.arn\", } ``` If any custom attribute mappings are defined, they must include a mapping to the `google.subject` attribute. For OIDC providers, you must supply a custom mapping, which must include the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "disabled": {
          "description": "Optional. Whether the provider is disabled. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A display name for the provider. Cannot exceed 32 characters."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time after which the workload identity pool provider will be permanently purged and cannot be recovered."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the provider."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active, and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkloadIdentityPoolProvider. You cannot reuse the ID of a soft-deleted provider until it is permanently deleted."
          ],
          "description": "Output only. The state of the provider.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description for the provider. Cannot exceed 256 characters."
        },
        "oidc": {
          "description": "An OpenId Connect 1.0 identity provider.",
          "$ref": "Oidc"
        },
        "saml": {
          "$ref": "Saml",
          "description": "An SAML 2.0 identity provider."
        },
        "aws": {
          "description": "An Amazon Web Services identity provider.",
          "$ref": "Aws"
        }
      },
      "description": "A configuration for an external identity provider."
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "DisableServiceAccountRequest": {
      "type": "object",
      "id": "DisableServiceAccountRequest",
      "description": "The service account disable request.",
      "properties": {}
    },
    "LintPolicyRequest": {
      "id": "LintPolicyRequest",
      "description": "The request to lint an IAM policy object.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "google.iam.v1.Binding.condition object to be linted.",
          "$ref": "Expr"
        },
        "fullResourceName": {
          "description": "The full resource name of the policy this lint request is about. The name follows the Google Cloud format for full resource names. For example, a Google Cloud project with ID `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`. The resource name is not used to read a policy from IAM. Only the data in the request object is linted.",
          "type": "string"
        }
      }
    },
    "UndeleteWorkloadIdentityPoolManagedIdentityRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteWorkloadIdentityPoolManagedIdentityRequest",
      "description": "Request message for UndeleteWorkloadIdentityPoolManagedIdentity."
    },
    "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters": {
      "properties": {
        "filter": {
          "description": "Optional. The filter used to request specific records from the IdP. By default, all of the groups that are associated with a user are fetched. For Microsoft Entra ID, you can add `$search` query parameters using [Keyword Query Language] (https://learn.microsoft.com/en-us/sharepoint/dev/general-development/keyword-query-language-kql-syntax-reference). To learn more about `$search` querying in Microsoft Entra ID, see [Use the `$search` query parameter] (https://learn.microsoft.com/en-us/graph/search-query-parameter). Additionally, Workforce Identity Federation automatically adds the following [`$filter` query parameters] (https://learn.microsoft.com/en-us/graph/filter-query-parameter), based on the value of `attributes_type`. Values passed to `filter` are converted to `$search` query parameters. Additional `$filter` query parameters cannot be added using this field. * `AZURE_AD_GROUPS_MAIL`: `mailEnabled` and `securityEnabled` filters are applied. * `AZURE_AD_GROUPS_ID`: `securityEnabled` filter is applied.",
          "type": "string"
        }
      },
      "id": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters",
      "type": "object",
      "description": "Represents the parameters to control which claims are fetched from an IdP."
    },
    "WorkloadIdentityPoolOperationMetadata": {
      "description": "Metadata for long-running WorkloadIdentityPool operations.",
      "properties": {},
      "id": "WorkloadIdentityPoolOperationMetadata",
      "type": "object"
    },
    "ListWorkloadIdentityPoolManagedIdentitiesResponse": {
      "type": "object",
      "properties": {
        "workloadIdentityPoolManagedIdentities": {
          "description": "A list of managed identities.",
          "items": {
            "$ref": "WorkloadIdentityPoolManagedIdentity"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListWorkloadIdentityPoolManagedIdentities.",
      "id": "ListWorkloadIdentityPoolManagedIdentitiesResponse"
    },
    "WorkforcePool": {
      "type": "object",
      "properties": {
        "accessRestrictions": {
          "description": "Optional. Configure access restrictions on the workforce pool users. This is an optional field. If specified web sign-in can be restricted to given set of services or programmatic sign-in can be disabled for pool users.",
          "$ref": "AccessRestrictions"
        },
        "description": {
          "description": "Optional. A description of the pool. Cannot exceed 256 characters.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time after which the workforce pool will be permanently purged and cannot be recovered."
        },
        "sessionDuration": {
          "type": "string",
          "description": "Optional. Duration that the Google Cloud access tokens, console sign-in sessions, and `gcloud` sign-in sessions from this pool are valid. Must be greater than 15 minutes (900s) and less than 12 hours (43200s). If `session_duration` is not configured, minted credentials have a default duration of one hour (3600s). For SAML providers, the lifetime of the token is the minimum of the `session_duration` and the `SessionNotOnOrAfter` claim in the SAML assertion.",
          "format": "google-duration"
        },
        "displayName": {
          "description": "Optional. A display name for the pool. Cannot exceed 32 characters.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkforcePool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ],
          "type": "string",
          "description": "Output only. The state of the pool.",
          "readOnly": true
        },
        "parent": {
          "description": "Immutable. The resource name of the parent. Format: `organizations/{org-id}`.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the pool. Format: `locations/{location}/workforcePools/{workforce_pool_id}`",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables the workforce pool. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again."
        }
      },
      "description": "Represents a collection of external workforces. Provides namespaces for federated users that can be referenced in IAM policies.",
      "id": "WorkforcePool"
    },
    "InlineCertificateIssuanceConfig": {
      "description": "Represents configuration for generating mutual TLS (mTLS) certificates for the identities within this pool.",
      "id": "InlineCertificateIssuanceConfig",
      "type": "object",
      "properties": {
        "lifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Lifetime of the workload certificates issued by the CA pool. Must be between 24 hours and 30 days. If not specified, this will be defaulted to 24 hours."
        },
        "caPools": {
          "description": "Optional. A required mapping of a Google Cloud region to the CA pool resource located in that region. The CA pool is used for certificate issuance, adhering to the following constraints: * Key format: A supported cloud region name equivalent to the location identifier in the corresponding map entry's value. * Value format: A valid CA pool resource path format like: \"projects/{project}/locations/{location}/caPools/{ca_pool}\" * Region Matching: Workloads are ONLY issued certificates from CA pools within the same region. Also the CA pool region (in value) must match the workload's region (key).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "keyAlgorithm": {
          "type": "string",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "RSA_3072",
            "RSA_4096",
            "ECDSA_P256",
            "ECDSA_P384"
          ],
          "description": "Optional. Key algorithm to use when generating the key pair. This key pair will be used to create the certificate. If not specified, this will default to ECDSA_P256.",
          "enumDescriptions": [
            "Unspecified key algorithm. Defaults to ECDSA_P256.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies RSA with a 3072-bit modulus.",
            "Specifies RSA with a 4096-bit modulus.",
            "Specifies ECDSA with curve P256.",
            "Specifies ECDSA with curve P384."
          ]
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Rotation window percentage, the percentage of remaining lifetime after which certificate rotation is initiated. Must be between 50 and 80. If no value is specified, rotation window percentage is defaulted to 50."
        },
        "useDefaultSharedCa": {
          "description": "Optional. If set to true, the trust domain will utilize the GCP-provisioned default CA. A default CA in the same region as the workload will be selected to issue the certificate. Enabling this will clear any existing `ca_pools` configuration to provision the certificates. NOTE: This field is mutually exclusive with `ca_pools`. If this flag is enabled, certificates will be automatically provisioned from the default shared CAs. This flag should not be set if you want to use your own CA pools to provision the certificates.",
          "type": "boolean"
        }
      }
    },
    "WorkloadIdentityPoolManagedIdentity": {
      "type": "object",
      "description": "Represents a managed identity for a workload identity pool namespace.",
      "properties": {
        "state": {
          "description": "Output only. The state of the managed identity.",
          "enumDescriptions": [
            "State unspecified.",
            "The managed identity is active.",
            "The managed identity is soft-deleted. Soft-deleted managed identities are permanently deleted after approximately 30 days. You can restore a soft-deleted managed identity using UndeleteWorkloadIdentityPoolManagedIdentity. You cannot reuse the ID of a soft-deleted managed identity until it is permanently deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the managed identity is disabled. If disabled, credentials may no longer be issued for the identity, however existing credentials will still be accepted until they expire."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Time after which the managed identity will be permanently purged and cannot be recovered.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the managed identity. Cannot exceed 256 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the managed identity."
        }
      },
      "id": "WorkloadIdentityPoolManagedIdentity"
    },
    "AuditableService": {
      "properties": {
        "name": {
          "description": "Public name of the service. For example, the service name for IAM is 'iam.googleapis.com'.",
          "type": "string"
        }
      },
      "description": "Contains information about an auditable service.",
      "id": "AuditableService",
      "type": "object"
    },
    "QueryTestablePermissionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryTestableRolesRequest.page_token` to this value.",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The Permissions testable on the requested resource."
        }
      },
      "description": "The response containing permissions which can be tested on a resource.",
      "type": "object",
      "id": "QueryTestablePermissionsResponse"
    },
    "CreateServiceAccountRequest": {
      "type": "object",
      "id": "CreateServiceAccountRequest",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The account id that is used to generate the service account email address and a stable unique id. It is unique within a project, must be 6-30 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035."
        },
        "serviceAccount": {
          "description": "The ServiceAccount resource to create. Currently, only the following values are user assignable: `display_name` and `description`.",
          "$ref": "ServiceAccount"
        }
      },
      "description": "The service account create request."
    },
    "EnableServiceAccountKeyRequest": {
      "type": "object",
      "id": "EnableServiceAccountKeyRequest",
      "description": "The service account key enable request.",
      "properties": {}
    },
    "WorkforcePoolProviderKey": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the key.",
          "enumDescriptions": [
            "State unspecified.",
            "The key is active.",
            "The key is soft-deleted. Soft-deleted keys are permanently deleted after approximately 30 days. You can restore a soft-deleted key using UndeleteWorkforcePoolProviderKey."
          ],
          "type": "string",
          "readOnly": true
        },
        "use": {
          "enumDescriptions": [
            "KeyUse unspecified. Do not use. The purpose of the key must be specified.",
            "The key is used for encryption."
          ],
          "description": "Required. The purpose of the key.",
          "type": "string",
          "enum": [
            "KEY_USE_UNSPECIFIED",
            "ENCRYPTION"
          ]
        },
        "expireTime": {
          "description": "Output only. The time after which the key will be permanently deleted and cannot be recovered. Note that the key may get purged before this time if the total limit of keys per provider is exceeded.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the key. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}/keys/{key_id}`"
        },
        "keyData": {
          "$ref": "KeyData",
          "description": "Immutable. Public half of the asymmetric key."
        }
      },
      "description": "Represents a public key configuration for a Workforce Pool Provider. The key can be configured in your identity provider to encrypt SAML assertions. Google holds the corresponding private key, which it uses to decrypt encrypted tokens.",
      "id": "WorkforcePoolProviderKey",
      "type": "object"
    },
    "KeyData": {
      "type": "object",
      "description": "Represents a public key data along with its format.",
      "properties": {
        "key": {
          "readOnly": true,
          "description": "Output only. The key data. The format of the key is represented by the format field.",
          "type": "string"
        },
        "notAfterTime": {
          "format": "google-datetime",
          "description": "Output only. Latest timestamp when this key is valid. Attempts to use this key after this time will fail. Only present if the key data represents a X.509 certificate.",
          "type": "string",
          "readOnly": true
        },
        "keySpec": {
          "description": "Required. The specifications for the key.",
          "enumDescriptions": [
            "No key specification specified.",
            "A 2048 bit RSA key.",
            "A 3072 bit RSA key.",
            "A 4096 bit RSA key."
          ],
          "type": "string",
          "enum": [
            "KEY_SPEC_UNSPECIFIED",
            "RSA_2048",
            "RSA_3072",
            "RSA_4096"
          ]
        },
        "notBeforeTime": {
          "type": "string",
          "description": "Output only. Earliest timestamp when this key is valid. Attempts to use this key before this time will fail. Only present if the key data represents a X.509 certificate.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "format": {
          "readOnly": true,
          "enumDescriptions": [
            "No format has been specified. This is an invalid format and must not be used.",
            "A RSA public key wrapped in an X.509v3 certificate ([RFC5280] ( https://www.ietf.org/rfc/rfc5280.txt)), encoded in base64, and wrapped in [public certificate label](https://datatracker.ietf.org/doc/html/rfc7468#section-5.1)."
          ],
          "type": "string",
          "description": "Output only. The format of the key.",
          "enum": [
            "KEY_FORMAT_UNSPECIFIED",
            "RSA_X509_PEM"
          ]
        }
      },
      "id": "KeyData"
    },
    "AccessRestrictions": {
      "properties": {
        "disableProgrammaticSignin": {
          "description": "Optional. Disable programmatic sign-in by disabling token issue via the Security Token API endpoint. See [Security Token Service API] (https://cloud.google.com/iam/docs/reference/sts/rest).",
          "type": "boolean"
        },
        "allowedServices": {
          "items": {
            "$ref": "ServiceConfig"
          },
          "description": "Optional. Immutable. Services allowed for web sign-in with the workforce pool. If not set by default there are no restrictions.",
          "type": "array"
        }
      },
      "id": "AccessRestrictions",
      "description": "Access related restrictions on the workforce pool.",
      "type": "object"
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions"
    },
    "UndeleteWorkloadIdentityPoolProviderRequest": {
      "description": "Request message for UndeleteWorkloadIdentityPoolProvider.",
      "id": "UndeleteWorkloadIdentityPoolProviderRequest",
      "properties": {},
      "type": "object"
    },
    "AdminAuditData": {
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object",
      "id": "AdminAuditData",
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "PermissionDelta"
        }
      }
    },
    "ListOauthClientCredentialsResponse": {
      "properties": {
        "oauthClientCredentials": {
          "type": "array",
          "description": "A list of OauthClientCredentials.",
          "items": {
            "$ref": "OauthClientCredential"
          }
        }
      },
      "description": "Response message for ListOauthClientCredentials.",
      "id": "ListOauthClientCredentialsResponse",
      "type": "object"
    },
    "AuditData": {
      "type": "object",
      "properties": {
        "policyDelta": {
          "description": "Policy delta between the original policy and the newly set policy.",
          "$ref": "PolicyDelta"
        }
      },
      "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "id": "AuditData"
    },
    "GoogleIamAdminV1WorkforcePoolProviderSaml": {
      "type": "object",
      "id": "GoogleIamAdminV1WorkforcePoolProviderSaml",
      "description": "Represents a SAML identity provider.",
      "properties": {
        "idpMetadataXml": {
          "description": "Required. SAML Identity provider configuration metadata xml doc. The xml document should comply with [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The max size of the acceptable xml document will be bounded to 128k characters. The metadata xml document should satisfy the following constraints: 1) Must contain an Identity Provider Entity ID. 2) Must contain at least one non-expired signing key certificate. 3) For each signing key: a) Valid from should be no more than 7 days from now. b) Valid to should be no more than 25 years in the future. 4) Up to 3 IdP signing keys are allowed in the metadata xml. When updating the provider's metadata xml, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata.",
          "type": "string"
        }
      }
    },
    "UndeleteServiceAccountResponse": {
      "type": "object",
      "properties": {
        "restoredAccount": {
          "description": "Metadata for the restored service account.",
          "$ref": "ServiceAccount"
        }
      },
      "id": "UndeleteServiceAccountResponse"
    },
    "InlineTrustConfig": {
      "description": "Defines configuration for extending trust to additional trust domains. By establishing trust with another domain, the current domain will recognize and accept certificates issued by entities within the trusted domains. Note that a trust domain automatically trusts itself, eliminating the need for explicit configuration.",
      "properties": {
        "additionalTrustBundles": {
          "description": "Optional. Maps specific trust domains (e.g., \"example.com\") to their corresponding TrustStore, which contain the trusted root certificates for that domain. There can be a maximum of 10 trust domain entries in this map. Note that a trust domain automatically trusts itself and don't need to be specified here. If however, this WorkloadIdentityPool's trust domain contains any trust anchors in the additional_trust_bundles map, those trust anchors will be *appended to* the trust bundle automatically derived from your InlineCertificateIssuanceConfig's ca_pools.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TrustStore"
          }
        }
      },
      "type": "object",
      "id": "InlineTrustConfig"
    },
    "UndeleteRoleRequest": {
      "id": "UndeleteRoleRequest",
      "description": "The request to undelete an existing role.",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "Used to perform a consistent read-modify-write."
        }
      },
      "type": "object"
    },
    "Permission": {
      "description": "A permission which can be included by a role.",
      "properties": {
        "stage": {
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ],
          "type": "string",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "The current launch stage of the permission."
        },
        "customRolesSupportLevel": {
          "type": "string",
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ],
          "description": "The current custom role support level.",
          "enumDescriptions": [
            "Default state. Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ]
        },
        "apiDisabled": {
          "type": "boolean",
          "description": "The service API associated with the permission is not enabled."
        },
        "description": {
          "type": "string",
          "description": "A brief description of what this Permission is used for."
        },
        "onlyInPredefinedRoles": {
          "deprecated": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of this Permission."
        },
        "primaryPermission": {
          "type": "string",
          "description": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission."
        },
        "title": {
          "description": "The title of this Permission.",
          "type": "string"
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret": {
      "description": "Representation of a client secret configured for the OIDC provider.",
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret",
      "properties": {
        "value": {
          "description": "The value of the client secret.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue"
        }
      },
      "type": "object"
    },
    "UndeleteWorkforcePoolProviderKeyRequest": {
      "description": "Request message for UndeleteWorkforcePoolProviderKey.",
      "properties": {},
      "type": "object",
      "id": "UndeleteWorkforcePoolProviderKeyRequest"
    },
    "WorkloadIdentityPoolProviderKey": {
      "description": "Represents a public key configuration for your workload identity pool provider. The key can be configured in your identity provider to encrypt the SAML assertions. Google holds the corresponding private key which it uses to decrypt encrypted tokens.",
      "type": "object",
      "properties": {
        "keyData": {
          "$ref": "KeyData",
          "description": "Immutable. Public half of the asymmetric key."
        },
        "use": {
          "type": "string",
          "enum": [
            "KEY_USE_UNSPECIFIED",
            "ENCRYPTION"
          ],
          "description": "Required. The purpose of the key.",
          "enumDescriptions": [
            "The key use is not known.",
            "The public key is used for encryption purposes."
          ]
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time after which the key will be permanently purged and cannot be recovered. Note that the key may get purged before this timestamp if the total limit of keys per provider is crossed.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The key is active.",
            "The key is soft-deleted. Soft-deleted keys are permanently deleted after approximately 30 days. You can restore a soft-deleted key using UndeleteWorkloadIdentityPoolProviderKey. While a key is deleted, you cannot use it during the federation."
          ],
          "type": "string",
          "description": "Output only. The state of the key.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the key."
        }
      },
      "id": "WorkloadIdentityPoolProviderKey"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object"
    },
    "WorkforcePoolProviderScimToken": {
      "type": "object",
      "description": "Gemini Enterprise only. Represents a token for the WorkforcePoolProviderScimTenant. Used for authenticating SCIM provisioning requests.",
      "properties": {
        "securityToken": {
          "type": "string",
          "description": "Output only. Gemini Enterprise only. The token string. Provide this to the IdP for authentication. Will be set only during creation.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Gemini Enterprise only. State unspecified.",
            "Gemini Enterprise only. The token is active and may be used to provision users and groups.",
            "Gemini Enterprise only. The token is soft-deleted. Soft-deleted tokens are permanently deleted after approximately 30 days."
          ],
          "readOnly": true,
          "description": "Output only. Gemini Enterprise only. The state of the token.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        },
        "name": {
          "description": "Identifier. Gemini Enterprise only. The resource name of the SCIM Token. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/ {workforce_pool_provider}/scimTenants/{scim_tenant}/tokens/{token}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Gemini Enterprise only. The display name of the SCIM token. Cannot exceed 32 characters.",
          "type": "string"
        }
      },
      "id": "WorkforcePoolProviderScimToken"
    },
    "ListWorkforcePoolProvidersResponse": {
      "id": "ListWorkforcePoolProvidersResponse",
      "description": "Response message for ListWorkforcePoolProviders.",
      "type": "object",
      "properties": {
        "workforcePoolProviders": {
          "description": "A list of providers.",
          "items": {
            "$ref": "WorkforcePoolProvider"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
[...]
