{
  "description": "Manages identity and access control for Google Cloud resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls. Enabling this API also enables the IAM Service Account Credentials API (iamcredentials.googleapis.com). However, disabling this API doesn't disable the IAM Service Account Credentials API. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "canonicalName": "Iam",
  "ownerDomain": "google.com",
  "revision": "20260904",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://iam.googleapis.com/",
  "baseUrl": "https://iam.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "roles": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Role"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "iam.projects.roles.delete",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/roles/[^/]+$",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [projects.roles.delete](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/delete): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method deletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.delete](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/delete): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method deletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "type": "string",
                  "location": "path"
                },
                "etag": {
                  "description": "Used to perform a consistent read-modify-write.",
                  "location": "query",
                  "type": "string",
                  "format": "byte"
                }
              },
              "description": "Deletes a custom Role. When you delete a custom role, the following changes occur immediately: * You cannot bind a principal to the custom role in an IAM Policy. * Existing bindings to the custom role are not changed, but they have no effect. * By default, the response from ListRoles does not include the custom role. A deleted custom role still counts toward the [custom role limit](https://cloud.google.com/iam/help/limits) until it is permanently deleted. You have 7 days to undelete the custom role. After 7 days, the following changes occur: * The custom role is permanently deleted and cannot be recovered. * If an IAM policy contains a binding to the custom role, the binding is permanently removed. * The custom role no longer counts toward your custom role limit."
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
              "httpMethod": "PATCH",
              "id": "iam.projects.roles.patch",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/roles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [projects.roles.patch](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/patch): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method updates only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.patch](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/patch): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method updates only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "A mask describing which fields in the Role have changed.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Role"
              },
              "description": "Updates the definition of a custom Role.",
              "response": {
                "$ref": "Role"
              }
            },
            "undelete": {
              "description": "Undeletes a custom Role.",
              "httpMethod": "POST",
              "id": "iam.projects.roles.undelete",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}:undelete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/roles/[^/]+$",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [projects.roles.undelete](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/undelete): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method undeletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.undelete](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/undelete): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method undeletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UndeleteRoleRequest"
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:undelete"
            },
            "create": {
              "description": "Creates a new custom Role.",
              "path": "v1/{+parent}/roles",
              "id": "iam.projects.roles.create",
              "flatPath": "v1/projects/{projectsId}/roles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The `parent` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [projects.roles.create](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/create): `projects/{PROJECT_ID}`. This method creates project-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [organizations.roles.create](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/create): `organizations/{ORGANIZATION_ID}`. This method creates organization-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Role"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateRoleRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the definition of a Role.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/roles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [roles](https://cloud.google.com/iam/docs/reference/rest/v1/roles), [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles), or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/roles/get): `roles/{ROLE_NAME}`. This method returns results from all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in IAM. Example request URL: `https://iam.googleapis.com/v1/roles/{ROLE_NAME}` * [projects.roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/get): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/get): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "iam.projects.roles.get",
              "flatPath": "v1/projects/{projectsId}/roles/{rolesId}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRolesResponse"
              },
              "parameters": {
                "showDeleted": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Include Roles that have been deleted."
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Omits the `included_permissions` field. This is the default value.",
                    "Returns all fields."
                  ],
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "description": "Optional view for the returned Role objects. When `FULL` is specified, the `includedPermissions` field is returned, which includes a list of all permissions in the role. The default value is `BASIC`, which does not return the `includedPermissions` field."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The `parent` parameter's value depends on the target resource for the request, namely [roles](https://cloud.google.com/iam/docs/reference/rest/v1/roles), [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles), or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/roles/list): An empty string. This method doesn't require a resource; it simply returns all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in IAM. Example request URL: `https://iam.googleapis.com/v1/roles` * [projects.roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/list): `projects/{PROJECT_ID}`. This method lists all project-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [organizations.roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/list): `organizations/{ORGANIZATION_ID}`. This method lists all organization-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional pagination token returned in an earlier ListRolesResponse.",
                  "type": "string"
                }
              },
              "description": "Lists every predefined Role that IAM supports, or every custom role that is defined for an organization or project.",
              "path": "v1/{+parent}/roles",
              "flatPath": "v1/projects/{projectsId}/roles",
              "id": "iam.projects.roles.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "oauthClients": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "iam.projects.locations.oauthClients.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients",
                  "request": {
                    "$ref": "OauthClient"
                  },
                  "response": {
                    "$ref": "OauthClient"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "oauthClientId": {
                      "type": "string",
                      "description": "Required. The ID to use for the OauthClient, which becomes the final component of the resource name. This value should be a string of 6 to 63 lowercase letters, digits, or hyphens. It must start with a letter, and cannot have a trailing hyphen. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource to create the OauthClient in. The only supported location is `global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/oauthClients",
                  "description": "Creates a new OauthClient. You cannot reuse the name of a deleted OauthClient until 30 days after deletion."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+$",
                      "description": "Required. The name of the OauthClient to delete. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "iam.projects.locations.oauthClients.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "OauthClient"
                  },
                  "description": "Deletes an OauthClient. You cannot use a deleted OauthClient. However, deletion does not revoke access tokens that have already been issued. They continue to grant access. Deletion does revoke refresh tokens that have already been issued. They cannot be used to renew an access token. If the OauthClient is undeleted, and the refresh tokens are not expired, they are valid for token exchange again. You can undelete an OauthClient for 30 days. After 30 days, deletion is permanent. You cannot update deleted OauthClients. However, you can view and list them."
                },
                "list": {
                  "id": "iam.projects.locations.oauthClients.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "showDeleted": {
                      "location": "query",
                      "description": "Optional. Whether to return soft-deleted OauthClients.",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent to list OauthClients for."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListOauthClients` call. Provide this to retrieve the subsequent page."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of OauthClients to return. If unspecified, at most 50 OauthClients will be returned. The maximum value is 100; values above 100 are truncated to 100.",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients",
                  "path": "v1/{+parent}/oauthClients",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all non-deleted OauthClients in a project. If `show_deleted` is set to `true`, then deleted OauthClients are also listed.",
                  "response": {
                    "$ref": "ListOauthClientsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}",
                  "description": "Gets an individual OauthClient.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the OauthClient to retrieve. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+$"
                    }
                  },
                  "id": "iam.projects.locations.oauthClients.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "OauthClient"
                  },
                  "path": "v1/{+name}"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Immutable. Identifier. The resource name of the OauthClient. Format:`projects/{project}/locations/{location}/oauthClients/{oauth_client}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to update.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "iam.projects.locations.oauthClients.patch",
                  "description": "Updates an existing OauthClient.",
                  "response": {
                    "$ref": "OauthClient"
                  },
                  "request": {
                    "$ref": "OauthClient"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "undelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "OauthClient"
                  },
                  "path": "v1/{+name}:undelete",
                  "request": {
                    "$ref": "UndeleteOauthClientRequest"
                  },
                  "id": "iam.projects.locations.oauthClients.undelete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+$",
                      "description": "Required. The name of the OauthClient to undelete. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}`."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Undeletes an OauthClient, as long as it was deleted fewer than 30 days ago."
                }
              },
              "resources": {
                "credentials": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "iam.projects.locations.oauthClients.credentials.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the OauthClientCredential to retrieve. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}/credentials/{credential}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+/credentials/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "OauthClientCredential"
                      },
                      "description": "Gets an individual OauthClientCredential.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}/credentials/{credentialsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the OauthClientCredential to delete. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}/credentials/{credential}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+/credentials/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}/credentials/{credentialsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "iam.projects.locations.oauthClients.credentials.delete",
                      "description": "Deletes an OauthClientCredential. Before deleting an OauthClientCredential, it should first be disabled."
                    },
                    "patch": {
                      "id": "iam.projects.locations.oauthClients.credentials.patch",
                      "response": {
                        "$ref": "OauthClientCredential"
                      },
                      "request": {
                        "$ref": "OauthClientCredential"
                      },
                      "description": "Updates an existing OauthClientCredential.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}/credentials/{credentialsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Immutable. Identifier. The resource name of the OauthClientCredential. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}/credentials/{credential}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+/credentials/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. The list of fields to update.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "response": {
                        "$ref": "OauthClientCredential"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource to create the OauthClientCredential in.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+$"
                        },
                        "oauthClientCredentialId": {
                          "description": "Required. The ID to use for the OauthClientCredential, which becomes the final component of the resource name. This value should be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "iam.projects.locations.oauthClients.credentials.create",
                      "description": "Creates a new OauthClientCredential.",
                      "request": {
                        "$ref": "OauthClientCredential"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}/credentials",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/credentials"
                    },
                    "list": {
                      "description": "Lists all OauthClientCredentials in an OauthClient.",
                      "id": "iam.projects.locations.oauthClients.credentials.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/oauthClients/{oauthClientsId}/credentials",
                      "path": "v1/{+parent}/credentials",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent to list OauthClientCredentials for.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/oauthClients/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListOauthClientCredentialsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "workloadIdentityPools": {
              "methods": {
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:testIamPermissions",
                  "description": "Returns the caller's permissions on a WorkloadIdentityPool",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "iam.projects.locations.workloadIdentityPools.testIamPermissions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "addAttestationRule": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:addAttestationRule",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:addAttestationRule",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Add an AttestationRule on a WorkloadIdentityPoolManagedIdentity. The total attestation rules after addition must not exceed 50.",
                  "request": {
                    "$ref": "AddAttestationRuleRequest"
                  },
                  "parameters": {
                    "resource": {
                      "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.addAttestationRule",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the pool to delete."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a WorkloadIdentityPool. You cannot use a deleted pool to exchange external credentials for Google Cloud credentials. However, deletion does not revoke credentials that have already been issued. Credentials issued for a deleted pool do not grant access to resources. If the pool is undeleted, and the credentials are not expired, they grant access again. You can undelete a pool for 30 days. After 30 days, deletion is permanent. You cannot update deleted pools. However, you can view and list them.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "id": "iam.projects.locations.workloadIdentityPools.delete"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "description": "Updates an existing WorkloadIdentityPool.",
                  "request": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The resource name of the pool."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The list of fields to update."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "undelete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Undeletes a WorkloadIdentityPool, as long as it was deleted fewer than 30 days ago.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:undelete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the pool to undelete.",
                      "location": "path"
                    }
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.undelete",
                  "request": {
                    "$ref": "UndeleteWorkloadIdentityPoolRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:undelete"
                },
                "removeAttestationRule": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+resource}:removeAttestationRule",
                  "request": {
                    "$ref": "RemoveAttestationRuleRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the managed identity or namespace resource to remove an attestation rule from.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Remove an AttestationRule on a WorkloadIdentityPoolManagedIdentity.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:removeAttestationRule",
                  "id": "iam.projects.locations.workloadIdentityPools.removeAttestationRule"
                },
                "listAttestationRules": {
                  "description": "List all AttestationRule on a WorkloadIdentityPoolManagedIdentity.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:listAttestationRules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "iam.projects.locations.workloadIdentityPools.listAttestationRules",
                  "parameters": {
                    "filter": {
                      "description": "Optional. A query filter. Supports the following function: * `container_ids()`: Returns only the AttestationRules under the specific container ids. The function expects a comma-delimited list with only project numbers and must use the format `projects/`. For example: `container_ids(projects/, projects/,...)`.",
                      "type": "string",
                      "location": "query"
                    },
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the managed identity or namespace resource to list attestation rules of."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListWorkloadIdentityPoolProviderKeys` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of AttestationRules to return. If unspecified, at most 50 AttestationRules are returned. The maximum value is 100; values above 100 are truncated to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+resource}:listAttestationRules",
                  "response": {
                    "$ref": "ListAttestationRulesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListWorkloadIdentityPoolsResponse"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.list",
                  "description": "Lists all non-deleted WorkloadIdentityPools in a project. If `show_deleted` is set to `true`, then deleted pools are also listed.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "parameters": {
                    "showDeleted": {
                      "location": "query",
                      "description": "Whether to return soft-deleted pools.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The maximum number of pools to return. If unspecified, at most 50 pools are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListWorkloadIdentityPools` call. Provide this to retrieve the subsequent page."
                    },
                    "parent": {
                      "description": "Required. The parent resource to list pools for.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workloadIdentityPools"
                },
                "create": {
                  "request": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "iam.projects.locations.workloadIdentityPools.create",
                  "description": "Creates a new WorkloadIdentityPool. You cannot reuse the name of a deleted pool until 30 days after deletion.",
                  "path": "v1/{+parent}/workloadIdentityPools",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource to create the pool in. The only supported location is `global`.",
                      "required": true
                    },
                    "workloadIdentityPoolId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the pool, which becomes the final component of the resource name. This value should be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified."
                    }
                  }
                },
                "setIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "iam.projects.locations.workloadIdentityPools.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "description": "Sets the IAM policies on a WorkloadIdentityPool",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "id": "iam.projects.locations.workloadIdentityPools.get",
                  "description": "Gets an individual WorkloadIdentityPool.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the pool to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "path": "v1/{+name}"
                },
                "getIamPolicy": {
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:getIamPolicy",
                  "description": "Gets the IAM policy of a WorkloadIdentityPool.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "iam.projects.locations.workloadIdentityPools.getIamPolicy"
                },
                "setAttestationRules": {
                  "path": "v1/{+resource}:setAttestationRules",
                  "request": {
                    "$ref": "SetAttestationRulesRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "iam.projects.locations.workloadIdentityPools.setAttestationRules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:setAttestationRules",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Set all AttestationRule on a WorkloadIdentityPoolManagedIdentity. A maximum of 50 AttestationRules can be set."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.projects.locations.workloadIdentityPools.operations.get",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "providers": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "path": "v1/{+parent}/providers",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new WorkloadIdentityPoolProvider in a WorkloadIdentityPool. You cannot reuse the name of a deleted provider until 30 days after deletion.",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.create",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "workloadIdentityPoolProviderId": {
                          "type": "string",
                          "description": "Required. The ID for the provider, which becomes the final component of the resource name. This value must be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The pool to create this provider in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListWorkloadIdentityPoolProvidersResponse"
                      },
                      "description": "Lists all non-deleted WorkloadIdentityPoolProviders in a WorkloadIdentityPool. If `show_deleted` is set to `true`, then deleted providers are also listed.",
                      "path": "v1/{+parent}/providers",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "description": "Required. The pool to list providers for.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviders` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of providers to return. If unspecified, at most 50 providers are returned. The maximum value is 100; values above 100 are truncated to 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "showDeleted": {
                          "description": "Whether to return soft-deleted providers.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a WorkloadIdentityPoolProvider. Deleting a provider does not revoke credentials that have already been issued; they continue to grant access. You can undelete a provider for 30 days. After 30 days, deletion is permanent. You cannot update deleted providers. However, you can view and list them.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.projects.locations.workloadIdentityPools.providers.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the provider to delete.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "required": true,
                          "description": "Identifier. The resource name of the provider.",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. The list of fields to update.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.projects.locations.workloadIdentityPools.providers.patch",
                      "description": "Updates an existing WorkloadIdentityPoolProvider.",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets an individual WorkloadIdentityPoolProvider.",
                      "response": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "description": "Required. The name of the provider to retrieve.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "undelete": {
                      "request": {
                        "$ref": "UndeleteWorkloadIdentityPoolProviderRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the provider to undelete.",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}:undelete",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:undelete",
                      "description": "Undeletes a WorkloadIdentityPoolProvider, as long as it was deleted fewer than 30 days ago.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.providers.undelete",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.providers.operations.get",
                          "path": "v1/{+name}",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/operations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/operations/{operationsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "keys": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "get": {
                              "response": {
                                "$ref": "Operation"
                              },
                              "path": "v1/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}/operations/{operationsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "The name of the operation resource.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+/operations/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "id": "iam.projects.locations.workloadIdentityPools.providers.keys.operations.get"
                            }
                          }
                        }
                      },
                      "methods": {
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the encryption key to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+$"
                            }
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes an WorkloadIdentityPoolProviderKey. You can undelete a key for 30 days. After 30 days, deletion is permanent.",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys",
                          "path": "v1/{+parent}/keys",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.list",
                          "response": {
                            "$ref": "ListWorkloadIdentityPoolProviderKeysResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists all non-deleted WorkloadIdentityPoolProviderKeys in a project. If show_deleted is set to `true`, then deleted pools are also listed.",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of keys to return. If unspecified, all keys are returned. The maximum value is 10; values above 10 are truncated to 10.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent provider resource to list encryption keys for."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviderKeys` call. Provide this to retrieve the subsequent page."
                            },
                            "showDeleted": {
                              "description": "Whether to return soft deleted resources as well.",
                              "location": "query",
                              "type": "boolean"
                            }
                          }
                        },
                        "create": {
                          "request": {
                            "$ref": "WorkloadIdentityPoolProviderKey"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/keys",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys",
                          "description": "Create a new WorkloadIdentityPoolProviderKey in a WorkloadIdentityPoolProvider.",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.create",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent provider resource to create the key in.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$"
                            },
                            "workloadIdentityPoolProviderKeyId": {
                              "description": "Required. The ID to use for the key, which becomes the final component of the resource name. This value should be 4-32 characters, and may contain the characters [a-z0-9-].",
                              "type": "string",
                              "location": "query"
                            }
                          }
                        },
                        "get": {
                          "response": {
                            "$ref": "WorkloadIdentityPoolProviderKey"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets an individual WorkloadIdentityPoolProviderKey.",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the key to retrieve.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}"
                        },
                        "undelete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}:undelete",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.undelete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+$",
                              "description": "Required. The name of the encryption key to undelete."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "UndeleteWorkloadIdentityPoolProviderKeyRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}:undelete",
                          "description": "Undeletes an WorkloadIdentityPoolProviderKey, as long as it was deleted fewer than 30 days ago."
                        }
                      }
                    }
                  }
                },
                "namespaces": {
                  "methods": {
                    "undelete": {
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.undelete",
                      "path": "v1/{+name}:undelete",
                      "request": {
                        "$ref": "UndeleteWorkloadIdentityPoolNamespaceRequest"
                      },
                      "description": "Undeletes a WorkloadIdentityPoolNamespace, as long as it was deleted fewer than 30 days ago.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the namespace to undelete.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}:undelete"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. The list of fields to update."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "description": "Identifier. The resource name of the namespace.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates an existing WorkloadIdentityPoolNamespace in a WorkloadIdentityPool.",
                      "request": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "path": "v1/{+name}",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.patch"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets an individual WorkloadIdentityPoolNamespace.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the namespace to retrieve.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.get",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes a WorkloadIdentityPoolNamespace. You can undelete a namespace for 30 days. After 30 days, deletion is permanent.",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "description": "Required. The name of the namespace to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListWorkloadIdentityPoolNamespacesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all non-deleted WorkloadIdentityPoolNamespaces in a workload identity pool. If `show_deleted` is set to `true`, then deleted namespaces are also listed.",
                      "path": "v1/{+parent}/namespaces",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource to list namespaces for."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolNamespaces` call. Provide this to retrieve the subsequent page."
                        },
                        "showDeleted": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Whether to return soft-deleted namespaces."
                        },
                        "pageSize": {
                          "description": "The maximum number of namespaces to return. If unspecified, at most 50 namespaces are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces",
                      "httpMethod": "GET",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.list"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces",
                      "httpMethod": "POST",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource to create the namespace in. The only supported location is `global`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$"
                        },
                        "workloadIdentityPoolNamespaceId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the namespace. This value must: * contain at most 63 characters * contain only lowercase alphanumeric characters or `-` * start with an alphanumeric character * end with an alphanumeric character The prefix \"gcp-\" will be reserved for future uses."
                        }
                      },
                      "request": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new WorkloadIdentityPoolNamespace in a WorkloadIdentityPool.",
                      "path": "v1/{+parent}/namespaces",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  },
                  "resources": {
                    "managedIdentities": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "WorkloadIdentityPoolManagedIdentity"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "description": "Required. The name of the managed identity to retrieve.",
                              "type": "string"
                            }
                          },
                          "description": "Gets an individual WorkloadIdentityPoolManagedIdentity.",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.get"
                        },
                        "delete": {
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the managed identity to delete.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes a WorkloadIdentityPoolManagedIdentity. You can undelete a managed identity for 30 days. After 30 days, deletion is permanent.",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}"
                        },
                        "addAttestationRule": {
                          "httpMethod": "POST",
                          "path": "v1/{+resource}:addAttestationRule",
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to."
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}:addAttestationRule",
                          "description": "Add an AttestationRule on a WorkloadIdentityPoolManagedIdentity. The total attestation rules after addition must not exceed 50.",
                          "request": {
                            "$ref": "AddAttestationRuleRequest"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.addAttestationRule"
                        },
                        "create": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.create",
                          "description": "Creates a new WorkloadIdentityPoolManagedIdentity in a WorkloadIdentityPoolNamespace.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/managedIdentities",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "WorkloadIdentityPoolManagedIdentity"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. The parent resource to create the manage identity in. The only supported location is `global`.",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$"
                            },
                            "workloadIdentityPoolManagedIdentityId": {
                              "description": "Required. The ID to use for the managed identity. This value must: * contain at most 63 characters * contain only lowercase alphanumeric characters or `-` * start with an alphanumeric character * end with an alphanumeric character The prefix \"gcp-\" will be reserved for future uses.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "response": {
[...]
