{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "title": "Identity and Access Management (IAM) API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Iam",
  "revision": "20260821",
  "rootUrl": "https://iam.googleapis.com/",
  "baseUrl": "https://iam.googleapis.com/",
  "ownerName": "Google",
  "id": "iam:v1",
  "description": "Manages identity and access control for Google Cloud resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls. Enabling this API also enables the IAM Service Account Credentials API (iamcredentials.googleapis.com). However, disabling this API doesn't disable the IAM Service Account Credentials API. ",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "name": "iam",
  "resources": {
    "locations": {
      "resources": {
        "workforcePools": {
          "methods": {
            "undelete": {
              "httpMethod": "POST",
              "id": "iam.locations.workforcePools.undelete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}:undelete",
              "request": {
                "$ref": "UndeleteWorkforcePoolRequest"
              },
              "path": "v1/{+name}:undelete",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "description": "Required. The name of the pool to undelete. Format: `locations/{location}/workforcePools/{workforce_pool_id}`"
                }
              },
              "description": "Undeletes a WorkforcePool, as long as it was deleted fewer than 30 days ago."
            },
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$"
                }
              },
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:getIamPolicy",
              "description": "Gets IAM policies on a WorkforcePool.",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "iam.locations.workforcePools.getIamPolicy",
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              }
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "WorkforcePool"
              },
              "id": "iam.locations.workforcePools.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the pool to retrieve. Format: `locations/{location}/workforcePools/{workforce_pool_id}`"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an individual WorkforcePool.",
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of the pool. Format: `locations/{location}/workforcePools/{workforce_pool_id}`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Updates an existing WorkforcePool.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}",
              "request": {
                "$ref": "WorkforcePool"
              },
              "id": "iam.locations.workforcePools.patch"
            },
            "setIamPolicy": {
              "description": "Sets IAM policies on a WorkforcePool.",
              "httpMethod": "POST",
              "id": "iam.locations.workforcePools.setIamPolicy",
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1/locations/{locationsId}/workforcePools",
              "path": "v1/{+location}/workforcePools",
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a new WorkforcePool. You cannot reuse the name of a deleted pool until 30 days after deletion.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "workforcePoolId": {
                  "description": "Optional. The ID to use for the pool, which becomes the final component of the resource name. The IDs must be a globally unique string of 6 to 63 lowercase letters, digits, or hyphens. It must start with a letter, and cannot have a trailing hyphen. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "description": "Optional. The location of the pool to create. Format: `locations/{location}`.",
                  "type": "string",
                  "pattern": "^locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "iam.locations.workforcePools.create",
              "request": {
                "$ref": "WorkforcePool"
              }
            },
            "list": {
              "id": "iam.locations.workforcePools.list",
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "ListWorkforcePoolsResponse"
              },
              "description": "Lists all non-deleted WorkforcePools under the specified parent. If `show_deleted` is set to `true`, then deleted pools are also listed.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of pools to return. The default value is 50. The maximum value is 100.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "query",
                  "description": "Required. The parent resource to list pools for. Format: `organizations/{org-id}`.",
                  "type": "string"
                },
                "location": {
                  "pattern": "^locations/[^/]+$",
                  "description": "The location of the pool. Format: `locations/{location}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Whether to return soft-deleted pools.",
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListWorkforcePools` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              },
              "path": "v1/{+location}/workforcePools",
              "flatPath": "v1/locations/{locationsId}/workforcePools"
            },
            "testIamPermissions": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$"
                }
              },
              "description": "Returns the caller's permissions on the WorkforcePool. If the pool doesn't exist, this call returns an empty set of permissions. It doesn't return a `NOT_FOUND` error.",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}:testIamPermissions",
              "id": "iam.locations.workforcePools.testIamPermissions",
              "httpMethod": "POST"
            },
            "delete": {
              "path": "v1/{+name}",
              "id": "iam.locations.workforcePools.delete",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a WorkforcePool. You cannot use a deleted WorkforcePool to exchange external credentials for Google Cloud credentials. However, deletion does not revoke credentials that have already been issued. Credentials issued for a deleted pool do not grant access to resources. If the pool is undeleted, and the credentials are not expired, they grant access again. You can undelete a pool for 30 days. After 30 days, deletion is permanent. You cannot update deleted pools. However, you can view and list them.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the pool to delete. Format: `locations/{location}/workforcePools/{workforce_pool_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "providers": {
              "methods": {
                "undelete": {
                  "path": "v1/{+name}:undelete",
                  "httpMethod": "POST",
                  "id": "iam.locations.workforcePools.providers.undelete",
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}:undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "UndeleteWorkforcePoolProviderRequest"
                  },
                  "description": "Undeletes a WorkforcePoolProvider, as long as it was deleted fewer than 30 days ago.",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the provider to undelete. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "iam.locations.workforcePools.providers.delete",
                  "description": "Deletes a WorkforcePoolProvider. Deleting a provider does not revoke credentials that have already been issued; they continue to grant access. You can undelete a provider for 30 days. After 30 days, deletion is permanent. You cannot update deleted providers. However, you can view and list them.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the provider to delete. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The list of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the provider. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`"
                    }
                  },
                  "id": "iam.locations.workforcePools.providers.patch",
                  "request": {
                    "$ref": "WorkforcePoolProvider"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates an existing WorkforcePoolProvider."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/providers",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The pool to list providers for. Format: `locations/{location}/workforcePools/{workforce_pool_id}`",
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of providers to return. If unspecified, at most 50 providers are returned. The maximum value is 100; values above 100 are truncated to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "showDeleted": {
                      "description": "Whether to return soft-deleted providers.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListWorkforcePoolProviders` call. Provide this to retrieve the subsequent page."
                    }
                  },
                  "id": "iam.locations.workforcePools.providers.list",
                  "response": {
                    "$ref": "ListWorkforcePoolProvidersResponse"
                  },
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all non-deleted WorkforcePoolProviders in a WorkforcePool. If `show_deleted` is set to `true`, then deleted providers are also listed.",
                  "httpMethod": "GET"
                },
                "create": {
                  "description": "Creates a new WorkforcePoolProvider in a WorkforcePool. You cannot reuse the name of a deleted provider until 30 days after deletion.",
                  "httpMethod": "POST",
                  "id": "iam.locations.workforcePools.providers.create",
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                      "description": "Required. The pool to create this provider in. Format: `locations/{location}/workforcePools/{workforce_pool_id}`"
                    },
                    "workforcePoolProviderId": {
                      "description": "Required. The ID for the provider, which becomes the final component of the resource name. This value must be 4-32 characters, and may contain the characters `[a-z0-9-]`. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "WorkforcePoolProvider"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/providers",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets an individual WorkforcePoolProvider.",
                  "id": "iam.locations.workforcePools.providers.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the provider to retrieve. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkforcePoolProvider"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "iam.locations.workforcePools.providers.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    }
                  }
                },
                "keys": {
                  "methods": {
                    "list": {
                      "id": "iam.locations.workforcePools.providers.keys.list",
                      "response": {
                        "$ref": "ListWorkforcePoolProviderKeysResponse"
                      },
                      "path": "v1/{+parent}/keys",
                      "description": "Lists all non-deleted WorkforcePoolProviderKeys in a WorkforcePoolProvider. If `show_deleted` is set to `true`, then deleted keys are also listed.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of keys to return. If unspecified, all keys are returned. The maximum value is 10; values above 10 are truncated to 10.",
                          "location": "query",
                          "format": "int32"
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Whether to return soft-deleted keys."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListWorkforcePoolProviderKeys` call. Provide this to retrieve the subsequent page.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The provider resource to list encryption keys for. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/keys",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1/{+parent}/keys",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "WorkforcePoolProviderKey"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "iam.locations.workforcePools.providers.keys.create",
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/keys",
                      "description": "Creates a new WorkforcePoolProviderKey in a WorkforcePoolProvider.",
                      "parameters": {
                        "workforcePoolProviderKeyId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the key, which becomes the final component of the resource name. This value must be 4-32 characters, and may contain the characters `[a-z0-9-]`."
                        },
                        "parent": {
                          "description": "Required. The provider to create this key in.",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "description": "Gets a WorkforcePoolProviderKey.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the key to retrieve.",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "WorkforcePoolProviderKey"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/keys/{keysId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.locations.workforcePools.providers.keys.get",
                      "httpMethod": "GET"
                    },
                    "undelete": {
                      "httpMethod": "POST",
                      "description": "Undeletes a WorkforcePoolProviderKey, as long as it was deleted fewer than 30 days ago.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/keys/{keysId}:undelete",
                      "request": {
                        "$ref": "UndeleteWorkforcePoolProviderKeyRequest"
                      },
                      "path": "v1/{+name}:undelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.locations.workforcePools.providers.keys.undelete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the key to undelete.",
                          "type": "string",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "id": "iam.locations.workforcePools.providers.keys.delete",
                      "description": "Deletes a WorkforcePoolProviderKey. You can undelete a key for 30 days. After 30 days, deletion is permanent.",
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/keys/{keysId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the key to delete.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/keys/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "id": "iam.locations.workforcePools.providers.keys.operations.get",
                          "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/keys/{keysId}/operations/{operationsId}",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/keys/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The name of the operation resource."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "scimTenants": {
                  "methods": {
                    "undelete": {
                      "response": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gemini Enterprise only. Undeletes a WorkforcePoolProviderScimTenant, that was deleted fewer than 30 days ago.",
                      "httpMethod": "POST",
                      "id": "iam.locations.workforcePools.providers.scimTenants.undelete",
                      "path": "v1/{+name}:undelete",
                      "parameters": {
                        "name": {
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+$",
                          "description": "Required. Gemini Enterprise only. The name of the SCIM tenant to undelete. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "UndeleteWorkforcePoolProviderScimTenantRequest"
                      },
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}:undelete"
                    },
                    "delete": {
                      "id": "iam.locations.workforcePools.providers.scimTenants.delete",
                      "description": "Gemini Enterprise only. Deletes a WorkforcePoolProviderScimTenant. You can undelete a SCIM tenant for 30 days. After 30 days, deletion is permanent. You cannot update deleted SCIM tenants. However, you can view and list them.",
                      "response": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Gemini Enterprise only. The name of the SCIM tenant to delete. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}`",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+$"
                        },
                        "hardDelete": {
                          "location": "query",
                          "description": "Optional. Deletes the SCIM tenant immediately. This operation cannot be undone.",
                          "type": "boolean"
                        }
                      },
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.locations.workforcePools.providers.scimTenants.get",
                      "description": "Gemini Enterprise only. Gets an individual WorkforcePoolProviderScimTenant.",
                      "response": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Gemini Enterprise only. The name of the SCIM tenant to retrieve. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}`",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Gemini Enterprise only. The maximum number of SCIM tenants to return. If unspecified, at most 50 SCIM tenants will be returned. The maximum value is 100; values above 100 are truncated to 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Gemini Enterprise only. A page token, received from a previous `ListScimTenants` call. Provide this to retrieve the subsequent page."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Gemini Enterprise only. The parent to list SCIM tenants. Format: 'locations/{location}/workforcePools/{workforce_pool}/providers/{provider}'"
                        },
                        "showDeleted": {
                          "location": "query",
                          "description": "Optional. Gemini Enterprise only. Whether to return soft-deleted SCIM tenants.",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "iam.locations.workforcePools.providers.scimTenants.list",
                      "path": "v1/{+parent}/scimTenants",
                      "response": {
                        "$ref": "ListWorkforcePoolProviderScimTenantsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gemini Enterprise only. Lists all non-deleted WorkforcePoolProviderScimTenants in a WorkforcePoolProvider. If `show_deleted` is set to `true`, then deleted SCIM tenants are also listed."
                    },
                    "create": {
                      "description": "Gemini Enterprise only. Creates a new WorkforcePoolProviderScimTenant in a WorkforcePoolProvider. You cannot reuse the name of a deleted SCIM tenant until 30 days after deletion.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "request": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants",
                      "id": "iam.locations.workforcePools.providers.scimTenants.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Gemini Enterprise only. The parent to create SCIM tenant. Format: 'locations/{location}/workforcePools/{workforce_pool}/providers/{provider}'",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "workforcePoolProviderScimTenantId": {
                          "location": "query",
                          "description": "Required. Gemini Enterprise only. The ID to use for the SCIM tenant, which becomes the final component of the resource name. This value should be 4-32 characters, containing the characters `[a-z0-9-]`.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/scimTenants"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "WorkforcePoolProviderScimTenant"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+$",
                          "description": "Identifier. Gemini Enterprise only. The resource name of the SCIM Tenant. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/ {workforce_pool_provider}/scimTenants/{scim_tenant}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Gemini Enterprise only. The list of fields to update.",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}",
                      "description": "Gemini Enterprise only. Updates an existing WorkforcePoolProviderScimTenant.",
                      "id": "iam.locations.workforcePools.providers.scimTenants.patch"
                    }
                  },
                  "resources": {
                    "tokens": {
                      "methods": {
                        "create": {
                          "response": {
                            "$ref": "WorkforcePoolProviderScimToken"
                          },
                          "id": "iam.locations.workforcePools.providers.scimTenants.tokens.create",
                          "parameters": {
                            "parent": {
                              "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Gemini Enterprise only. The parent tenant to create SCIM token. Format: 'locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}'"
                            },
                            "workforcePoolProviderScimTokenId": {
                              "description": "Required. Gemini Enterprise only. The ID to use for the SCIM token, which becomes the final component of the resource name. This value should be 4-32 characters and follow the pattern: `([a-z]([a-z0-9\\\\-]{2,30}[a-z0-9]))`",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+parent}/tokens",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gemini Enterprise only. Creates a new WorkforcePoolProviderScimToken in a WorkforcePoolProviderScimTenant. You cannot reuse the name of a deleted SCIM token until 30 days after deletion.",
                          "httpMethod": "POST",
                          "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}/tokens",
                          "request": {
                            "$ref": "WorkforcePoolProviderScimToken"
                          }
                        },
                        "get": {
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "WorkforcePoolProviderScimToken"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Gemini Enterprise only. The name of the SCIM token to retrieve. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}/tokens/{token}`",
                              "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+/tokens/[^/]+$"
                            }
                          },
                          "id": "iam.locations.workforcePools.providers.scimTenants.tokens.get",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}/tokens/{tokensId}",
                          "description": "Gemini Enterprise only. Gets an individual WorkforcePoolProviderScimToken."
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}/tokens/{tokensId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "iam.locations.workforcePools.providers.scimTenants.tokens.patch",
                          "httpMethod": "PATCH",
                          "description": "Gemini Enterprise only. Updates an existing WorkforcePoolProviderScimToken.",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Optional. Gemini Enterprise only. The list of fields to update.",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+/tokens/[^/]+$",
                              "description": "Identifier. Gemini Enterprise only. The resource name of the SCIM Token. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/ {workforce_pool_provider}/scimTenants/{scim_tenant}/tokens/{token}`",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "WorkforcePoolProviderScimToken"
                          },
                          "request": {
                            "$ref": "WorkforcePoolProviderScimToken"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListWorkforcePoolProviderScimTokensResponse"
                          },
                          "description": "Gemini Enterprise only. Lists all non-deleted WorkforcePoolProviderScimTokenss in a WorkforcePoolProviderScimTenant. If `show_deleted` is set to `true`, then deleted SCIM tokens are also listed.",
                          "path": "v1/{+parent}/tokens",
                          "id": "iam.locations.workforcePools.providers.scimTenants.tokens.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+$",
                              "description": "Required. Gemini Enterprise only. The parent to list SCIM tokens. Format: 'locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}'",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. Gemini Enterprise only. The maximum number of SCIM tokens to return. If unspecified, at most 2 SCIM tokens will be returned.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Gemini Enterprise only. A page token, received from a previous `ListWorkforcePoolProviderScimTokens` call. Provide this to retrieve the subsequent page."
                            },
                            "showDeleted": {
                              "location": "query",
                              "description": "Optional. Gemini Enterprise only. Whether to return soft-deleted SCIM tokens.",
                              "type": "boolean"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}/tokens"
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gemini Enterprise only. Deletes a WorkforcePoolProviderScimToken. You can undelete a SCIM token for 30 days. After 30 days, the SCIM token is permanently deleted. You cannot update deleted SCIM tokens, however, you can view and list them.",
                          "parameters": {
                            "name": {
                              "pattern": "^locations/[^/]+/workforcePools/[^/]+/providers/[^/]+/scimTenants/[^/]+/tokens/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Gemini Enterprise only. The name of the SCIM token to delete. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/{provider}/scimTenants/{scim_tenant}/tokens/{token}`"
                            }
                          },
                          "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/providers/{providersId}/scimTenants/{scimTenantsId}/tokens/{tokensId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "WorkforcePoolProviderScimToken"
                          },
                          "id": "iam.locations.workforcePools.providers.scimTenants.tokens.delete"
                        }
                      }
                    }
                  }
                }
              }
            },
            "subjects": {
              "methods": {
                "undelete": {
                  "path": "v1/{+name}:undelete",
                  "id": "iam.locations.workforcePools.subjects.undelete",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/subjects/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the WorkforcePoolSubject. Special characters, like `/` and `:`, must be escaped, because all URLs need to conform to the \"When to Escape and Unescape\" section of [RFC3986](https://www.ietf.org/rfc/rfc2396.txt). Format: `locations/{location}/workforcePools/{workforce_pool_id}/subjects/{subject_id}`"
                    }
                  },
                  "description": "Undeletes a WorkforcePoolSubject, as long as it was deleted fewer than 30 days ago.",
                  "request": {
                    "$ref": "UndeleteWorkforcePoolSubjectRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/subjects/{subjectsId}:undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/subjects/{subjectsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "iam.locations.workforcePools.subjects.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/subjects/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the WorkforcePoolSubject. Special characters, like `/` and `:`, must be escaped, because all URLs need to conform to the \"When to Escape and Unescape\" section of [RFC3986](https://www.ietf.org/rfc/rfc2396.txt). Format: `locations/{location}/workforcePools/{workforce_pool_id}/subjects/{subject_id}`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a WorkforcePoolSubject. Subject must not already be in a deleted state. A WorkforcePoolSubject is automatically created the first time an external credential is exchanged for a Google Cloud credential using a mapped `google.subject` attribute. There is no endpoint to manually create a WorkforcePoolSubject. For 30 days after a WorkforcePoolSubject is deleted, using the same `google.subject` attribute in token exchanges with Google Cloud STS fails. Call UndeleteWorkforcePoolSubject to undelete a WorkforcePoolSubject that has been deleted, within within 30 days of deleting it. After 30 days, the WorkforcePoolSubject is permanently deleted. At this point, a token exchange with Google Cloud STS that uses the same mapped `google.subject` attribute automatically creates a new WorkforcePoolSubject that is unrelated to the previously deleted WorkforcePoolSubject but has the same `google.subject` value."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "iam.locations.workforcePools.subjects.operations.get",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "pattern": "^locations/[^/]+/workforcePools/[^/]+/subjects/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/subjects/{subjectsId}/operations/{operationsId}"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "iam.locations.workforcePools.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/workforcePools/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.operations.get",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/operations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations/{operationsId}",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "providers": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/operations/[^/]+$"
                            }
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.providers.operations.get",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "keys": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the encryption key to delete.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "description": "Deletes an WorkloadIdentityPoolProviderKey. You can undelete a key for 30 days. After 30 days, deletion is permanent.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.delete"
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "The maximum number of keys to return. If unspecified, all keys are returned. The maximum value is 10; values above 10 are truncated to 10.",
                              "location": "query",
                              "type": "integer"
                            },
                            "showDeleted": {
                              "description": "Whether to return soft deleted resources as well.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The parent provider resource to list encryption keys for.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviderKeys` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists all non-deleted WorkloadIdentityPoolProviderKeys in a project. If show_deleted is set to `true`, then deleted pools are also listed.",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/keys",
                          "response": {
                            "$ref": "ListWorkloadIdentityPoolProviderKeysResponse"
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+$",
                              "description": "Required. The name of the key to retrieve.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Gets an individual WorkloadIdentityPoolProviderKey.",
                          "httpMethod": "GET",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "WorkloadIdentityPoolProviderKey"
                          }
                        },
                        "undelete": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the encryption key to undelete.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Undeletes an WorkloadIdentityPoolProviderKey, as long as it was deleted fewer than 30 days ago.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "UndeleteWorkloadIdentityPoolProviderKeyRequest"
                          },
                          "path": "v1/{+name}:undelete",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.undelete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}:undelete"
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent provider resource to create the key in.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "workloadIdentityPoolProviderKeyId": {
                              "type": "string",
                              "description": "Required. The ID to use for the key, which becomes the final component of the resource name. This value should be 4-32 characters, and may contain the characters [a-z0-9-].",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+parent}/keys",
                          "description": "Create a new WorkloadIdentityPoolProviderKey in a WorkloadIdentityPoolProvider.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "WorkloadIdentityPoolProviderKey"
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.create"
                        }
                      },
                      "resources": {
                        "operations": {
                          "methods": {
                            "get": {
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}",
                              "response": {
                                "$ref": "Operation"
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys/{keysId}/operations/{operationsId}",
                              "id": "iam.projects.locations.workloadIdentityPools.providers.keys.operations.get",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+/keys/[^/]+/operations/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "description": "The name of the operation resource.",
                                  "type": "string"
                                }
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "undelete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the provider to undelete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}:undelete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.projects.locations.workloadIdentityPools.providers.undelete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}:undelete",
                      "description": "Undeletes a WorkloadIdentityPoolProvider, as long as it was deleted fewer than 30 days ago.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "UndeleteWorkloadIdentityPoolProviderRequest"
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/providers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "httpMethod": "POST",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "type": "string",
                          "description": "Required. The pool to create this provider in."
                        },
                        "workloadIdentityPoolProviderId": {
                          "type": "string",
                          "description": "Required. The ID for the provider, which becomes the final component of the resource name. This value must be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                          "location": "query"
                        }
                      },
                      "description": "Creates a new WorkloadIdentityPoolProvider in a WorkloadIdentityPool. You cannot reuse the name of a deleted provider until 30 days after deletion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers"
                    },
                    "patch": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates an existing WorkloadIdentityPoolProvider.",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. The list of fields to update.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the provider.",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "description": "Lists all non-deleted WorkloadIdentityPoolProviders in a WorkloadIdentityPool. If `show_deleted` is set to `true`, then deleted providers are also listed.",
                      "response": {
                        "$ref": "ListWorkloadIdentityPoolProvidersResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of providers to return. If unspecified, at most 50 providers are returned. The maximum value is 100; values above 100 are truncated to 100.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviders` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Whether to return soft-deleted providers."
                        },
                        "parent": {
                          "description": "Required. The pool to list providers for.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.list",
                      "path": "v1/{+parent}/providers"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the provider to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "description": "Gets an individual WorkloadIdentityPoolProvider.",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.get"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.delete",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the provider to delete."
                        }
                      },
                      "description": "Deletes a WorkloadIdentityPoolProvider. Deleting a provider does not revoke credentials that have already been issued; they continue to grant access. You can undelete a provider for 30 days. After 30 days, deletion is permanent. You cannot update deleted providers. However, you can view and list them.",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                },
                "namespaces": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "description": "Deletes a WorkloadIdentityPoolNamespace. You can undelete a namespace for 30 days. After 30 days, deletion is permanent.",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.delete",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the namespace to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "description": "Gets an individual WorkloadIdentityPoolNamespace.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "description": "Required. The name of the namespace to retrieve.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.get",
                      "path": "v1/{+name}"
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "request": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.patch",
                      "path": "v1/{+name}",
                      "description": "Updates an existing WorkloadIdentityPoolNamespace in a WorkloadIdentityPool.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Required. The list of fields to update.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the namespace.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$"
                        }
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/namespaces",
                      "httpMethod": "POST",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces",
                      "description": "Creates a new WorkloadIdentityPoolNamespace in a WorkloadIdentityPool.",
                      "request": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "description": "Required. The parent resource to create the namespace in. The only supported location is `global`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "workloadIdentityPoolNamespaceId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the namespace. This value must: * contain at most 63 characters * contain only lowercase alphanumeric characters or `-` * start with an alphanumeric character * end with an alphanumeric character The prefix \"gcp-\" will be reserved for future uses."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "undelete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "description": "Required. The name of the namespace to undelete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Undeletes a WorkloadIdentityPoolNamespace, as long as it was deleted fewer than 30 days ago.",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.undelete",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}:undelete",
                      "request": {
                        "$ref": "UndeleteWorkloadIdentityPoolNamespaceRequest"
                      },
                      "path": "v1/{+name}:undelete"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkloadIdentityPoolNamespacesResponse"
                      },
                      "path": "v1/{+parent}/namespaces",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource to list namespaces for."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of namespaces to return. If unspecified, at most 50 namespaces are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolNamespaces` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "Whether to return soft-deleted namespaces.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.list",
                      "description": "Lists all non-deleted WorkloadIdentityPoolNamespaces in a workload identity pool. If `show_deleted` is set to `true`, then deleted namespaces are also listed."
                    }
                  },
                  "resources": {
                    "managedIdentities": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "get": {
                              "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.operations.get",
                              "path": "v1/{+name}",
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation resource.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+/operations/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                }
[...]
