{
  "kind": "discovery#restDescription",
  "id": "iamcredentials:v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://iamcredentials.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "canonicalName": "IAM Credentials",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "SignBlobRequest": {
      "type": "object",
      "id": "SignBlobRequest",
      "properties": {
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "payload": {
          "format": "byte",
          "type": "string",
          "description": "Required. The bytes to sign."
        }
      }
    },
    "SignJwtResponse": {
      "properties": {
        "signedJwt": {
          "description": "The signed JWT. Contains the automatically generated header; the client-supplied payload; and the signature, which is generated using the key referenced by the `kid` field in the header. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the JWT. As a result, the receiver can no longer verify the signature.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "The ID of the key used to sign the JWT. The key used for signing will remain valid for at least 12 hours after the JWT is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
        }
      },
      "type": "object",
      "id": "SignJwtResponse"
    },
    "ServiceAccountAllowedLocations": {
      "type": "object",
      "id": "ServiceAccountAllowedLocations",
      "description": "Represents a list of allowed locations for given service account.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true
        },
        "encodedLocations": {
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SignJwtRequest": {
      "id": "SignJwtRequest",
      "properties": {
        "payload": {
          "type": "string",
          "description": "Required. The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future."
        },
        "delegates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
        }
      },
      "type": "object"
    },
    "SignBlobResponse": {
      "properties": {
        "keyId": {
          "description": "The ID of the key used to sign the blob. The key used for signing will remain valid for at least 12 hours after the blob is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        },
        "signedBlob": {
          "description": "The signature for the blob. Does not include the original blob. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the blob. As a result, the receiver can no longer verify the signature.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "SignBlobResponse"
    },
    "GenerateIdTokenResponse": {
      "type": "object",
      "id": "GenerateIdTokenResponse",
      "properties": {
        "token": {
          "description": "The OpenId Connect ID token. The token is a JSON Web Token (JWT) that contains a payload with claims. See the [JSON Web Token spec](https://tools.ietf.org/html/rfc7519) for more information. Here is an example of a decoded JWT payload: ``` { \"iss\": \"https://accounts.google.com\", \"iat\": 1496953245, \"exp\": 1496953245, \"aud\": \"https://www.example.com\", \"sub\": \"107517467455664443765\", \"azp\": \"107517467455664443765\", \"email\": \"my-iam-account@my-project.iam.gserviceaccount.com\", \"email_verified\": true, \"google\": { \"organization_number\": 123456 } } ```",
          "type": "string"
        }
      }
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Token expiration time. The expiration time is always set.",
          "format": "google-datetime"
        },
        "accessToken": {
          "type": "string",
          "description": "The OAuth 2.0 access token."
        }
      },
      "type": "object"
    },
    "GenerateIdTokenRequest": {
      "id": "GenerateIdTokenRequest",
      "properties": {
        "includeEmail": {
          "description": "Include the service account email in the token. If set to `true`, the token will contain `email` and `email_verified` claims.",
          "type": "boolean"
        },
        "delegates": {
          "type": "array",
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "items": {
            "type": "string"
          }
        },
        "audience": {
          "description": "Required. The audience for the token, such as the API or account that this token grants access to.",
          "type": "string"
        },
        "organizationNumberIncluded": {
          "description": "Include the organization number of the service account in the token. If set to `true`, the token will contain a `google.organization_number` claim. The value of the claim will be `null` if the service account isn't associated with an organization.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "WorkloadIdentityPoolAllowedLocations": {
      "type": "object",
      "description": "Represents a list of allowed locations for given workload identity pool.",
      "properties": {
        "encodedLocations": {
          "type": "string",
          "description": "Output only. The hex encoded bitmap of the trust boundary locations",
          "readOnly": true
        },
        "locations": {
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "WorkloadIdentityPoolAllowedLocations"
    },
    "WorkforcePoolAllowedLocations": {
      "id": "WorkforcePoolAllowedLocations",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The human readable trust boundary locations. For example, [\"us-central1\", \"europe-west1\"]",
          "readOnly": true,
          "type": "array"
        },
        "encodedLocations": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hex encoded bitmap of the trust boundary locations"
        }
      },
      "description": "Represents a list of allowed locations for given workforce pool."
    },
    "GenerateAccessTokenRequest": {
      "id": "GenerateAccessTokenRequest",
      "properties": {
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. This field is required for [delegated requests](https://cloud.google.com/iam/help/credentials/delegated-request). For [direct requests](https://cloud.google.com/iam/help/credentials/direct-request), which are more common, do not specify this field. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "scope": {
          "description": "Required. Code to identify the scopes to be included in the OAuth 2.0 access token. See https://developers.google.com/identity/protocols/googlescopes for more information. At least one value required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lifetime": {
          "type": "string",
          "description": "The desired lifetime duration of the access token in seconds. By default, the maximum allowed value is 1 hour. To set a lifetime of up to 12 hours, you can add the service account as an allowed value in an Organization Policy that enforces the `constraints/iam.allowServiceAccountCredentialLifetimeExtension` constraint. See detailed instructions at https://cloud.google.com/iam/help/credentials/lifetime If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "format": "google-duration"
        }
      },
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "getAllowedLocations": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of workload identity pool.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the trust boundary info for a given workload identity pool.",
                  "path": "v1/{+name}/allowedLocations",
                  "id": "iamcredentials.projects.locations.workloadIdentityPools.getAllowedLocations",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/allowedLocations",
                  "response": {
                    "$ref": "WorkloadIdentityPoolAllowedLocations"
                  }
                }
              }
            }
          }
        },
        "serviceAccounts": {
          "methods": {
            "generateIdToken": {
              "path": "v1/{+name}:generateIdToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GenerateIdTokenRequest"
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateIdToken",
              "response": {
                "$ref": "GenerateIdTokenResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "iamcredentials.projects.serviceAccounts.generateIdToken",
              "description": "Generates an OpenID Connect ID token for a service account."
            },
            "signBlob": {
              "request": {
                "$ref": "SignBlobRequest"
              },
              "description": "Signs a blob using a service account's system-managed private key.",
              "id": "iamcredentials.projects.serviceAccounts.signBlob",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:signBlob",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
              "response": {
                "$ref": "SignBlobResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "getAllowedLocations": {
              "description": "Returns the trust boundary info for a given service account.",
              "httpMethod": "GET",
              "id": "iamcredentials.projects.serviceAccounts.getAllowedLocations",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/allowedLocations",
              "response": {
                "$ref": "ServiceAccountAllowedLocations"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/allowedLocations",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of service account. Format: `projects/-/serviceAccounts/{service_account_email}`"
                }
              }
            },
            "signJwt": {
              "parameterOrder": [
                "name"
              ],
              "description": "Signs a JWT using a service account's system-managed private key.",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "response": {
                "$ref": "SignJwtResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SignJwtRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}:signJwt",
              "id": "iamcredentials.projects.serviceAccounts.signJwt"
            },
            "generateAccessToken": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateAccessToken",
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "request": {
                "$ref": "GenerateAccessTokenRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "iamcredentials.projects.serviceAccounts.generateAccessToken",
              "description": "Generates an OAuth 2.0 access token for a service account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:generateAccessToken"
            }
          }
        }
      }
    },
    "locations": {
      "resources": {
        "workforcePools": {
          "methods": {
            "getAllowedLocations": {
              "flatPath": "v1/locations/{locationsId}/workforcePools/{workforcePoolsId}/allowedLocations",
              "response": {
                "$ref": "WorkforcePoolAllowedLocations"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "iamcredentials.locations.workforcePools.getAllowedLocations",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of workforce pool.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/workforcePools/[^/]+$",
                  "required": true
                }
              },
              "description": "Returns the trust boundary info for a given workforce pool.",
              "path": "v1/{+name}/allowedLocations"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://iamcredentials.mtls.googleapis.com/",
  "baseUrl": "https://iamcredentials.googleapis.com/",
  "description": "Creates short-lived credentials for impersonating IAM service accounts. Disabling this API also disables the IAM API (iam.googleapis.com). However, enabling this API doesn't enable the IAM API. ",
  "title": "IAM Service Account Credentials API",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials",
  "batchPath": "batch",
  "name": "iamcredentials",
  "revision": "20260903",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}