{
  "batchPath": "batch",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "title": "Identity Toolkit API",
  "discoveryVersion": "v1",
  "basePath": "",
  "id": "identitytoolkit:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "revision": "20260923",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "version_module": true,
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse",
      "type": "object",
      "description": "Response message for GetOobCode.",
      "properties": {
        "email": {
          "description": "If return_oob_link is false in the request, the email address the verification was sent to.",
          "type": "string"
        },
        "oobLink": {
          "type": "string",
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters."
        },
        "oobCode": {
          "description": "If return_oob_link is true in the request, the OOB code to send.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "type": "object",
      "properties": {
        "suggestedTimeout": {
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification.",
          "type": "string",
          "format": "int64"
        },
        "receipt": {
          "type": "string",
          "description": "Receipt of successful app token validation."
        }
      },
      "description": "Response message for VerifyIosClient.",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "properties": {
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "password": {
          "description": "Required. The password the user provides to sign in to the account.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "deprecated": true
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "clientType": {
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "pendingIdToken": {
          "type": "string",
          "deprecated": true
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Request message for SignInWithPassword.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "properties": {
        "fromLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "from": {
          "description": "From address of the email",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "customized": {
          "description": "Whether the body or subject of the email is customized.",
          "type": "boolean"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "format": {
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "description": "Email body format"
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name"
        }
      },
      "type": "object",
      "description": "Email template"
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "type": "object",
      "properties": {
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
        },
        "clientType": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection."
        },
        "localId": {
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "photoUrl": {
          "description": "The profile photo url of the user to create.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set."
        },
        "email": {
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided.",
          "type": "string"
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "mfaInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          },
          "description": "The multi-factor authentication providers for the user to create."
        },
        "emailVerified": {
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "displayName": {
          "description": "The display name of the user to be created.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "description": "Request message for SignUp."
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "description": "Response message for CreateSessionCookie.",
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "type": "object",
      "properties": {
        "sessionCookie": {
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "description": "Request message for CreateSessionCookie.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token."
        },
        "validDuration": {
          "description": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively.",
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user's Game Center display name."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token."
        },
        "publicKeyUrl": {
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "Required. The verification signature data generated by Apple."
        },
        "salt": {
          "description": "Required. A random string used to generate the given signature.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to."
        },
        "timestamp": {
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "playerId": {
          "type": "string",
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
        }
      },
      "type": "object",
      "description": "Request message for SignInWithGameCenter"
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "description": "Error information explaining why an account cannot be uploaded. batch upload.",
      "properties": {
        "index": {
          "type": "integer",
          "description": "The index of the item, range is [0, request.size - 1]",
          "format": "int32"
        },
        "message": {
          "description": "Detailed error message",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo"
    },
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "type": "object",
      "description": "Information about email MFA.",
      "properties": {
        "emailAddress": {
          "description": "Email address that a MFA verification should be sent to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "description": "Information about the user as provided by various Identity Providers.",
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user's display name at the Identity Provider."
        },
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's identifier at the Identity Provider.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's profile photo URL at the Identity Provider."
        },
        "email": {
          "description": "The user's email address at the Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "description": "The user's screen_name at Twitter or login name at GitHub.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number at the Identity Provider."
        },
        "providerId": {
          "type": "string",
          "description": "The ID of the Identity Provider."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "registered": {
          "deprecated": true,
          "description": "Whether the email is for an existing account. Always true.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "deprecated": true
        },
        "displayName": {
          "description": "The user's display name stored in the account's attributes.",
          "type": "string"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "userNotifications": {
          "description": "Warning notifications for the user.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          },
          "type": "array"
        },
        "oauthAccessToken": {
          "deprecated": true,
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "profilePicture": {
          "description": "The user's profile picture stored in the account's attributes.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The access token expiration time in seconds.",
          "type": "integer",
          "deprecated": true
        }
      },
      "description": "Response message for SignInWithPassword.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "properties": {
        "phoneInfo": {
          "description": "Phone number to receive OTP for MFA.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "token": {
          "type": "string",
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section."
        }
      },
      "description": "Request message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "type": "object",
      "properties": {
        "enrolledAt": {
          "description": "Timestamp when the account enrolled this second factor.",
          "format": "google-datetime",
          "type": "string"
        },
        "emailInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo",
          "description": "Contains information specific to email MFA."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "ID of this MFA option."
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "totpInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo",
          "description": "Contains information specific to TOTP MFA."
        },
        "unobfuscatedPhoneInfo": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unobfuscated phone_info."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account."
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "type": "object",
      "properties": {
        "kty": {
          "description": "Key type.",
          "type": "string"
        },
        "use": {
          "description": "Key use.",
          "type": "string"
        },
        "kid": {
          "type": "string",
          "description": "Unique string to identify this key."
        },
        "e": {
          "type": "string",
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
        },
        "alg": {
          "type": "string",
          "description": "Signature algorithm."
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "description": "Response message for SetAccountInfo",
      "properties": {
        "email": {
          "deprecated": true,
          "type": "string",
          "description": "The account's email address."
        },
        "refreshToken": {
          "type": "string",
          "description": "A refresh token for the account. This is used for legacy user sign up."
        },
        "displayName": {
          "type": "string",
          "deprecated": true,
          "description": "The account's display name."
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email has been verified."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        },
        "photoUrl": {
          "type": "string",
          "deprecated": true,
          "description": "The user's photo URL for the account's profile photo."
        },
        "passwordHash": {
          "description": "Deprecated. No actual password hash is currently returned.",
          "type": "string",
          "deprecated": true
        },
        "providerUserInfo": {
          "description": "The linked Identity Providers on the account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "description": "Response message for SignInWithIdp.",
      "type": "object",
      "properties": {
        "emailRecycled": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "oauthAccessToken": {
          "description": "The OAuth access token from the IdP, if available.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "needEmail": {
          "type": "boolean",
          "deprecated": true
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "inputEmail": {
          "type": "string",
          "deprecated": true
        },
        "oauthIdToken": {
          "description": "The OpenID Connect ID token from the IdP, if available.",
          "type": "string"
        },
        "nickName": {
          "description": "The nickname for the user's account at the IdP.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled."
        },
        "verifiedProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`."
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The date of birth for the user's account at the IdP."
        },
        "providerId": {
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "localId": {
          "description": "The ID of the authenticated Identity Platform user. Always present in the response.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The number of seconds until the OAuth access token from the IdP expires."
        },
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "The last name for the user's account at the IdP."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Response message for DeleteAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters."
        },
        "disableUser": {
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in.",
          "type": "boolean"
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "provider": {
          "description": "The Identity Providers that the account should be associated with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaResponse": {
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to be updated in the account's attributes.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp in milliseconds when the account was created."
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "linkProviderUserInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid."
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo",
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Whether the account should be restricted to only using federated login."
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "deleteAttribute": {
          "items": {
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ],
            "type": "string",
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ]
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters."
        },
        "customAttributes": {
          "type": "string",
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "password": {
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long.",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
          "type": "string"
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Identity Providers to unlink from the user's account."
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator."
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp in milliseconds when the account last logged in."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest",
      "description": "Request message for SetAccountInfo.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions."
        },
        "dateOfBirth": {
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string",
          "readOnly": true
        },
        "language": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "displayName": {
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "customAuth": {
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true,
          "type": "boolean"
        },
        "createdAt": {
          "format": "int64",
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "type": "string"
        },
        "rawPassword": {
          "type": "string",
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text."
        },
        "localId": {
          "type": "string",
          "description": "Immutable. The unique ID of the account."
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "type": "string"
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array",
          "description": "Information on which multi-factor authentication providers are enabled for this account."
        },
        "validSince": {
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "emailLinkSignin": {
          "description": "Output only. Whether the account can authenticate with email link.",
          "type": "boolean",
          "readOnly": true
        },
        "initialEmail": {
          "type": "string",
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec."
        },
        "passwordUpdatedAt": {
          "format": "double",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "type": "number"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The account's phone number."
        },
        "providerUserInfo": {
          "description": "Information about the user as provided by various Identity Providers.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "integer"
        },
        "salt": {
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "byte",
          "type": "string"
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "lastRefreshAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when an ID token was last minted for this account."
        },
        "screenName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This account's screen name at Twitter or login name at GitHub."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email address has been verified."
        },
        "photoUrl": {
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "passwordHash": {
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "format": "byte",
          "type": "string"
        },
        "timeZone": {
          "readOnly": true,
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Identity Platform account's information."
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          },
          "type": "array",
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517)."
        }
      },
      "description": "Response message for GetSessionCookiePublicKeys.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "description": "Response message for GetProjectConfig.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse",
      "properties": {
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "apiKey": {
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer.",
          "type": "string"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer."
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "idpConfig": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          },
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer.",
          "type": "array"
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer."
        },
        "allowPasswordUser": {
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "dynamicLinksDomain": {
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "properties": {
        "recordsCount": {
          "format": "int64",
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "type": "string"
        },
        "userInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array",
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query."
        }
      },
      "description": "Response message for QueryUserInfo.",
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          },
          "description": "Detailed error info for accounts that cannot be deleted."
        }
      },
      "description": "Response message to BatchDeleteAccounts.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "description": "Response message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "type": "object",
      "properties": {
        "users": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "The information of specific user account(s) matching the parameters in the request.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "type": "object",
      "description": "Response message for SignInWithCustomToken.",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest",
      "properties": {
        "providerId": {
          "description": "The provider ID of the IdP for the user to sign in with. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`. At least one of the fields `identifier` and `provider_id` must be set.",
          "type": "string"
        },
        "openidRealm": {
          "type": "string",
          "deprecated": true
        },
        "appId": {
          "deprecated": true,
          "type": "string"
        },
        "continueUri": {
          "type": "string",
          "description": "A valid URL for the IdP to redirect the user back to. The URL cannot contain fragments or the reserved `state` query parameter."
        },
        "oauthConsumerKey": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create an authorization URI or lookup an email identifier for. If not set, the operation will be performed in the default Identity Platform instance in the project.",
          "type": "string"
        },
        "context": {
          "description": "An opaque string used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Used for the Google provider. The type of the authentication flow to be used. If present, this should be `CODE_FLOW` to specify the authorization code flow. Otherwise, the default ID Token flow will be used.",
          "type": "string"
        },
        "identifier": {
          "description": "The email identifier of the user account to fetch associated providers for. At least one of the fields `identifier` and `provider_id` must be set. The length of the email address should be less than 256 characters and in the format of `name@domain.tld`. The email address should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "Used for the Google provider. The G Suite hosted domain of the user in order to restrict sign-in to users at that domain.",
          "type": "string"
        },
        "customParameter": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional customized query parameters to be added to the authorization URI. The following parameters are reserved and cannot be added: `client_id`, `response_type`, `scope`, `redirect_uri`, `state`. For the Microsoft provider, the Azure AD tenant to sign-in to can be specified in the `tenant` custom parameter."
        },
        "otaApp": {
          "deprecated": true,
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "A session ID that can be verified against in SignInWithIdp to prevent session fixation attacks. If absent, a random string will be generated and returned as the session ID."
        },
        "oauthScope": {
          "description": "Additional space-delimited OAuth 2.0 scopes specifying the scope of the authentication request with the IdP. Used for OAuth 2.0 IdPs. For the Google provider, the authorization code flow will be used if this field is set.",
          "type": "string"
        }
      },
      "description": "Request message for CreateAuthUri.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "description": "Request message for QueryUserInfo.",
      "type": "object",
      "properties": {
        "order": {
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        },
        "sortBy": {
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ],
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "type": "string"
        },
        "offset": {
          "type": "string",
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "format": "int64"
        },
        "returnUserInfo": {
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "properties": {
        "appToken": {
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service).",
          "type": "string"
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      },
      "description": "Request message for VerifyIosClient"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "type": "object",
      "description": "Response message for ResetPassword.",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ]
        },
        "newEmail": {
          "type": "string"
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse"
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "type": "object",
      "description": "Warning notifications for the user.",
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "properties": {
        "notificationMessage": {
          "type": "string",
          "description": "Warning notification string. Can be used as fallback."
        },
        "notificationCode": {
          "type": "string",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "description": "Warning notification enum. Can be used for localization.",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "type": "object",
      "description": "The parameters for Argon2 hashing algorithm.",
      "properties": {
        "memoryCostKib": {
          "type": "integer",
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "format": "int32"
        },
        "associatedData": {
          "format": "byte",
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "type": "string"
        },
        "hashLengthBytes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024."
        },
        "iterations": {
          "type": "integer",
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "format": "int32"
        },
        "parallelism": {
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "type": "integer",
          "format": "int32"
        },
        "hashType": {
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "type": "string"
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ],
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "type": "object",
      "description": "Request message for UploadAccount.",
      "properties": {
        "rounds": {
          "format": "int32",
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "type": "integer"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the account belongs to."
        },
        "parallelization": {
          "type": "integer",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        },
        "saltSeparator": {
          "format": "byte",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character.",
          "type": "string"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
        },
        "users": {
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32",
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32",
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "memoryCost": {
          "type": "integer",
          "format": "int32",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT."
        },
        "cpuMemCost": {
          "format": "int32",
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "type": "integer"
        },
        "signerKey": {
          "type": "string",
          "format": "byte",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2"
        },
        "passwordHashOrder": {
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "type": "string"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned."
        },
        "argon2Parameters": {
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
          "description": "The parameters for Argon2 hashing algorithm."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig",
      "description": "Config of an identity provider.",
      "properties": {
        "whitelistedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check."
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "experimentPercent": {
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IdP",
          "format": "int32"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "provider": {
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "properties": {
        "lastName": {
          "type": "string",
          "description": "Last name of the user."
        },
        "relayState": {
          "description": "Generated RelayState.",
          "type": "string"
        },
        "samlResponse": {
          "type": "string",
          "description": "Signed SAMLResponse created for the Relying Party."
        },
        "email": {
          "type": "string",
          "description": "Email of the user."
        },
        "firstName": {
          "type": "string",
          "description": "First name of the user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "acsEndpoint": {
          "type": "string",
          "description": "The ACS endpoint which consumes the returned SAMLResponse."
        }
      },
      "description": "Response for IssueSamlResponse request.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "type": "object",
      "properties": {
        "error": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          },
          "type": "array",
          "description": "Detailed error info for accounts that cannot be uploaded."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Response message for UploadAccount."
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "properties": {
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        },
        "rawId": {
          "type": "string",
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "description": "Federated user identifier at an Identity Provider.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "description": "Request message for IssueSamlResponse.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse."
        },
        "samlAppEntityId": {
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app.",
          "type": "string"
        },
        "rpId": {
          "type": "string",
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "type": "object",
      "properties": {},
      "description": "Information about TOTP MFA."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "properties": {
        "phoneNumber": {
          "description": "Phone number of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "description": "The number of seconds until the temporary proof expires.",
          "type": "string"
        },
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user."
        },
        "localId": {
          "type": "string",
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64",
          "description": "Do not use."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "idToken": {
          "type": "string",
          "description": "Identity Platform ID token for the authenticated user."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "type": "object",
      "description": "Response message for SignInWithPhoneNumber."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the authenticated user."
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        }
      },
      "description": "Response message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "properties": {
        "enrollments": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "The second factors the user has enrolled.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "type": "object",
      "description": "Multi-factor authentication related information."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "type": "object",
      "description": "Request message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "properties": {
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified."
        },
        "operation": {
          "type": "string",
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "deprecated": true
        },
        "code": {
          "type": "string",
          "description": "User-entered verification code from an SMS sent to the user's phone."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "type": "object",
      "description": "Request message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "properties": {
        "initialEmail": {
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users.",
          "type": "string"
        },
        "email": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "phoneNumber": {
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "federatedUserId": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          },
          "type": "array"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "array"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "description": "Request message for ResetPassword.",
      "type": "object",
      "properties": {
        "oldPassword": {
          "type": "string",
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code."
        },
        "oobCode": {
          "type": "string",
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method."
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "description": "Response message for CreateAuthUri.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "authUri": {
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request."
        },
        "allProviders": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID from the request, if provided."
        },
        "signinMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list."
        },
        "sessionId": {
          "type": "string",
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks."
        },
        "forExistingProvider": {
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "description": "Response message for DownloadAccount.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "users": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array",
          "description": "All accounts belonging to the project/tenant limited by max_results in the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "clientType": {
          "type": "string",
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "captchaResp": {
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed."
        },
        "idToken": {
          "type": "string",
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true."
        },
        "linkDomain": {
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
[...]
