{
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "ownerDomain": "google.com",
  "batchPath": "batch/identitytoolkit/v3",
  "description": "Help the third party sites to implement federated login.",
  "id": "identitytoolkit:v3",
  "rootUrl": "https://www.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "revision": "20180723",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "relyingparty": {
      "methods": {
        "downloadAccount": {
          "description": "Batch download user accounts.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "downloadAccount",
          "httpMethod": "POST",
          "response": {
            "$ref": "DownloadAccountResponse"
          }
        },
        "verifyAssertion": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "description": "Verifies the assertion returned by the IdP.",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getPublicKeys": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get token signing public key.",
          "path": "publicKeys",
          "id": "identitytoolkit.relyingparty.getPublicKeys"
        },
        "uploadAccount": {
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "uploadAccount",
          "description": "Batch upload existing user accounts.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          }
        },
        "emailLinkSignin": {
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "path": "emailLinkSignin",
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user.",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          }
        },
        "setProjectConfig": {
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "path": "setProjectConfig",
          "description": "Set project configuration.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          }
        },
        "sendVerificationCode": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Send SMS verification code.",
          "path": "sendVerificationCode",
          "httpMethod": "POST"
        },
        "verifyPassword": {
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "httpMethod": "POST",
          "path": "verifyPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "description": "Verifies the user entered password.",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setAccountInfo",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "description": "Set account info for a user.",
          "httpMethod": "POST"
        },
        "signOutUser": {
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "description": "Sign out user.",
          "path": "signOutUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "id": "identitytoolkit.relyingparty.signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getOobConfirmationCode": {
          "path": "getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get a code for user action confirmation.",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "httpMethod": "POST"
        },
        "verifyCustomToken": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "path": "verifyCustomToken",
          "description": "Verifies the developer asserted ID token.",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          }
        },
        "resetPassword": {
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "path": "resetPassword",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.resetPassword"
        },
        "getAccountInfo": {
          "httpMethod": "POST",
          "path": "getAccountInfo",
          "description": "Returns the account info.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo"
        },
        "createAuthUri": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "path": "createAuthUri",
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "deleteAccount": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "path": "deleteAccount"
        },
        "signupNewUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "description": "Signup new user.",
          "httpMethod": "POST",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "path": "signupNewUser"
        },
        "getRecaptchaParam": {
          "description": "Get recaptcha secure param.",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "path": "getRecaptchaParam",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          }
        },
        "getProjectConfig": {
          "description": "Get project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "path": "getProjectConfig",
          "httpMethod": "GET",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          }
        },
        "verifyPhoneNumber": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPhoneNumber",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly."
        }
      }
    }
  },
  "canonicalName": "Identity Toolkit",
  "protocol": "rest",
  "title": "Google Identity Toolkit API",
  "schemas": {
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      },
      "description": "Request to sign out user.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "idpConfig": {
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array"
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Authorized domains."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "phoneNumber": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "temporaryProof": {
          "type": "string"
        }
      },
      "description": "Response for Identitytoolkit-VerifyPhoneNumber"
    },
    "UserInfo": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "type": "number",
          "format": "double"
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "salt": {
          "format": "byte",
          "description": "The user's password salt.",
          "type": "string"
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "last login timestamp."
        },
        "rawPassword": {
          "description": "The user's plain text password.",
          "type": "string"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "properties": {
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              }
            },
            "type": "object"
          }
        },
        "version": {
          "description": "Version of the user's password.",
          "type": "integer",
          "format": "int32"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        }
      },
      "id": "UserInfo",
      "type": "object",
      "description": "Template for an individual account info."
    },
    "GetOobConfirmationCodeResponse": {
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "type": "object",
      "id": "GetOobConfirmationCodeResponse",
      "properties": {
        "email": {
          "description": "The email address that the email is sent to.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        }
      }
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "kind": {
          "default": "identitytoolkit#DownloadAccountResponse",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The user accounts data.",
          "type": "array"
        }
      },
      "description": "Response of downloading accounts in batch."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "description": "Response for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "type": "object",
      "properties": {
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "authorizedDomains": {
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        }
      },
      "description": "Request to set the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
    },
    "GetRecaptchaParamResponse": {
      "properties": {
        "recaptchaSiteKey": {
          "description": "Site key registered at recaptcha.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      },
      "id": "GetRecaptchaParamResponse",
      "description": "Response of getting recaptcha param.",
      "type": "object"
    },
    "VerifyCustomTokenResponse": {
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        }
      },
      "id": "VerifyCustomTokenResponse"
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        }
      }
    },
    "EmailLinkSigninResponse": {
      "properties": {
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "expiresIn": {
          "format": "int64",
          "description": "Expiration time of STS id token in seconds.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the user is new.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\"."
        },
        "idToken": {
          "description": "The STS id token to login the newly signed in user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of email signIn.",
      "id": "EmailLinkSigninResponse"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "type": "object",
      "description": "Response of setting the project configuration."
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "additionalProperties": {
        "type": "string"
      },
      "type": "object",
      "description": "Respone of getting public keys."
    },
    "CreateAuthUriResponse": {
      "type": "object",
      "properties": {
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "signinMethods": {
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allProviders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "all providers the user has once used to do federated login"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "forExistingProvider": {
          "description": "True if the authUri is for user's existing provider.",
          "type": "boolean"
        },
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        }
      },
      "description": "Response of creating the IDP authentication URL.",
      "id": "CreateAuthUriResponse"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "properties": {
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        }
      },
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "IdpConfig": {
      "type": "object",
      "id": "IdpConfig",
      "description": "Template for a single idp configuration.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32",
          "type": "integer"
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "whitelistedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check."
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "description": "Request to verify a custom token",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "verificationProof": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "description": "Response of signing out user.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse"
    },
    "Relyingparty": {
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#relyingparty",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "challenge": {
          "description": "The recaptcha challenge presented to the user.",
          "type": "string"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "androidPackageName": {
          "description": "android package name of the android app to handle the action code",
          "type": "string"
        }
      },
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "id": "Relyingparty",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "rounds": {
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "type": "integer",
          "format": "int32"
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "The salt separator."
        },
        "signerKey": {
          "type": "string",
          "format": "byte",
          "description": "The key for to hash the password."
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "dkLen": {
          "format": "int32",
          "type": "integer"
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "users": {
          "description": "The account info to be stored.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "cpuMemCost": {
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32",
          "type": "integer"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "description": "Request to upload user account in batch."
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "returnIdpCredential": {
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked.",
          "type": "boolean"
        },
        "autoCreate": {
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist.",
          "type": "boolean"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "description": "Request to verify the IDP assertion.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "properties": {
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        },
        "sessionId": {
          "description": "The session_id passed by client.",
          "type": "string"
        },
        "continueUri": {
          "description": "The URI to which the IDP redirects the user after the federated login flow.",
          "type": "string"
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "customParameter": {
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "appId": {
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.",
          "type": "string"
        },
        "clientId": {
          "description": "The relying party OAuth client ID.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery."
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetAccountInfoResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "newEmail": {
          "description": "The new email the user attempts to change to.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse",
          "type": "string"
        },
        "emailVerified": {
          "description": "If email has been verified.",
          "type": "boolean"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "providerId": {
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "The user's profiles at the associated IdPs."
        }
      },
      "id": "SetAccountInfoResponse",
      "type": "object",
      "description": "Respone of setting the account information."
    },
    "UploadAccountResponse": {
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "id": "UploadAccountResponse",
      "properties": {
        "error": {
          "items": {
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              },
              "index": {
                "format": "int32",
                "type": "integer",
                "description": "The index of the malformed account, starting from 0."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "The error encountered while processing the account info."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        }
      },
      "type": "object",
      "description": "Request to verify the password."
    },
    "VerifyPasswordResponse": {
      "description": "Request of verifying the password.",
      "type": "object",
      "id": "VerifyPasswordResponse",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer",
          "format": "int32"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "properties": {
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "nextPageToken": {
          "description": "The token for the next page. This should be taken from the previous response.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Request to download user account in batch.",
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        }
      },
      "description": "Request to reset the password.",
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "properties": {
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Privileged caller can query users by specified phone number."
        },
        "localId": {
          "description": "The list of local ID's of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request to get the account information.",
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
    },
    "VerifyAssertionResponse": {
      "properties": {
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URI of the public accessible profiel picture.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer",
          "format": "int32"
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "oauthRequestToken": {
          "description": "The user approved request token for the OpenID OAuth extension.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "verifiedProvider": {
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          }
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "fullName": {
          "description": "The full name of the user.",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyAssertionResponse",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\"."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "timeZone": {
          "description": "The timezone of the user.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        }
      },
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "properties": {
        "disableUser": {
          "description": "Whether to disable the user.",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "format": "int64",
          "description": "The timestamp when the account is created.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "deleteAttribute": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The attributes users request to delete."
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "description": "Request to set the account information.",
      "type": "object"
    },
    "EmailTemplate": {
      "properties": {
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "replyTo": {
          "description": "Reply-to address.",
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        }
      },
      "description": "Template for an email template.",
      "id": "EmailTemplate",
      "type": "object"
    },
    "ResetPasswordResponse": {
      "description": "Response of resetting the password.",
      "type": "object",
      "id": "ResetPasswordResponse",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "description": "Request to delete account."
    },
    "DeleteAccountResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      },
      "description": "Respone of deleting account.",
      "id": "DeleteAccountResponse"
    },
    "SignupNewUserResponse": {
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "default": "identitytoolkit#SignupNewUserResponse",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "type": "string"
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        }
      },
      "id": "SignupNewUserResponse",
      "type": "object"
    },
    "GetAccountInfoResponse": {
      "description": "Response of getting account information.",
      "type": "object",
      "id": "GetAccountInfoResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The info of the users."
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    }
  },
  "name": "identitytoolkit",
  "kind": "discovery#restDescription",
  "version": "v3",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  }
}