{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "updateConfig": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v2/projects/{projectsId}/config",
          "path": "v2/{+name}",
          "id": "identitytoolkit.projects.updateConfig",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^projects/[^/]+/config$",
              "type": "string",
              "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
              "location": "path",
              "required": true
            }
          },
          "description": "Update an Identity Toolkit project configuration.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          }
        },
        "getConfig": {
          "id": "identitytoolkit.projects.getConfig",
          "flatPath": "v2/projects/{projectsId}/config",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\"",
              "type": "string",
              "pattern": "^projects/[^/]+/config$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "httpMethod": "GET",
          "description": "Retrieve an Identity Toolkit project configuration.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "oauthIdpConfigs": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "id": "identitytoolkit.projects.oauthIdpConfigs.get",
              "parameters": {
                "name": {
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "id": "identitytoolkit.projects.oauthIdpConfigs.patch",
              "httpMethod": "PATCH"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.oauthIdpConfigs.list",
              "path": "v2/{+parent}/oauthIdpConfigs",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of items to return."
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any."
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "httpMethod": "DELETE",
              "id": "identitytoolkit.projects.oauthIdpConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "create": {
              "id": "identitytoolkit.projects.oauthIdpConfigs.create",
              "parameters": {
                "oauthIdpConfigId": {
                  "description": "The id to use for this config.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+parent}/oauthIdpConfigs",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            }
          }
        },
        "inboundSamlConfigs": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests."
                },
                "updateMask": {
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "id": "identitytoolkit.projects.inboundSamlConfigs.patch",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of items to return."
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "id": "identitytoolkit.projects.inboundSamlConfigs.list",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all inbound SAML configurations for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "parameters": {
                "parent": {
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "inboundSamlConfigId": {
                  "description": "The id to use for this config.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.inboundSamlConfigs.delete",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "path": "v2/{+name}"
            },
            "get": {
              "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "id": "identitytoolkit.projects.inboundSamlConfigs.get",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              }
            }
          }
        },
        "tenants": {
          "methods": {
            "setIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v2/{+resource}:setIamPolicy",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
              "id": "identitytoolkit.projects.tenants.setIamPolicy",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              }
            },
            "list": {
              "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.tenants.list",
              "path": "v2/{+parent}/tenants",
              "flatPath": "v2/projects/{projectsId}/tenants",
              "parameters": {
                "pageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name to list tenants for."
                },
                "pageSize": {
                  "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string"
                }
              },
              "description": "Update a tenant. Requires write permission on the Tenant resource.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.tenants.patch",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "httpMethod": "PATCH"
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+parent}/tenants",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\"."
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants",
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a tenant. Requires write permission on the Agent project.",
              "id": "identitytoolkit.projects.tenants.create",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Resource name of the tenant to delete.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a tenant. Requires write permission on the Agent project.",
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "identitytoolkit.projects.tenants.delete"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "path": "v2/{+name}",
              "id": "identitytoolkit.projects.tenants.get",
              "description": "Get a tenant. Requires read permission on the Tenant resource.",
              "parameters": {
                "name": {
                  "description": "Resource name of the tenant to retrieve.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}"
            },
            "testIamPermissions": {
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "id": "identitytoolkit.projects.tenants.testIamPermissions",
              "path": "v2/{+resource}:testIamPermissions",
              "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request."
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GoogleIamV1GetIamPolicyRequest"
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy",
              "httpMethod": "POST",
              "path": "v2/{+resource}:getIamPolicy",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "id": "identitytoolkit.projects.tenants.getIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource."
            }
          },
          "resources": {
            "defaultSupportedIdpConfigs": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.delete",
                  "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameters": {
                    "idpId": {
                      "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "httpMethod": "POST",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                    }
                  }
                },
                "patch": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "httpMethod": "GET",
                  "description": "List all default supported Idp configurations for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.list"
                }
              }
            },
            "oauthIdpConfigs": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.patch",
                  "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests."
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+name}",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'."
                    }
                  }
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "parameters": {
                    "oauthIdpConfigId": {
                      "description": "The id to use for this config.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    }
                  },
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.create",
                  "httpMethod": "POST"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    }
                  },
                  "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.list",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/oauthIdpConfigs"
                },
                "get": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'."
                    }
                  }
                }
              }
            },
            "inboundSamlConfigs": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                  },
                  "description": "List all inbound SAML configurations for an Identity Toolkit project."
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "path": "v2/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "parameters": {
                    "inboundSamlConfigId": {
                      "type": "string",
                      "location": "query",
                      "description": "The id to use for this config."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.create",
                  "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.delete",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    },
                    "name": {
                      "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "defaultSupportedIdpConfigs": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "type": "string",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.get",
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.patch",
              "path": "v2/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "description": "List all default supported Idp configurations for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.delete",
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                }
              }
            },
            "create": {
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "parameters": {
                "idpId": {
                  "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            }
          }
        },
        "identityPlatform": {
          "methods": {
            "initializeAuth": {
              "parameters": {
                "project": {
                  "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.identityPlatform.initializeAuth",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
              },
              "path": "v2/{+project}/identityPlatform:initializeAuth",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              },
              "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
              "flatPath": "v2/projects/{projectsId}/identityPlatform:initializeAuth",
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "mfaEnrollment": {
          "methods": {
            "finalize": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
              },
              "description": "Finishes enrolling a second factor for the user.",
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/accounts/mfaEnrollment:finalize",
              "id": "identitytoolkit.accounts.mfaEnrollment.finalize",
              "parameterOrder": [],
              "httpMethod": "POST",
              "flatPath": "v2/accounts/mfaEnrollment:finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
              }
            },
            "withdraw": {
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "parameterOrder": [],
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw",
              "httpMethod": "POST",
              "flatPath": "v2/accounts/mfaEnrollment:withdraw",
              "path": "v2/accounts/mfaEnrollment:withdraw",
              "description": "Revokes one second factor from the enrolled second factors for an account."
            },
            "start": {
              "flatPath": "v2/accounts/mfaEnrollment:start",
              "description": "Step one of the MFA enrollment process. In SMS case, this sends an SMS verification code to the user.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
              },
              "id": "identitytoolkit.accounts.mfaEnrollment.start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
              },
              "parameters": {},
              "path": "v2/accounts/mfaEnrollment:start"
            }
          }
        },
        "mfaSignIn": {
          "methods": {
            "start": {
              "httpMethod": "POST",
              "path": "v2/accounts/mfaSignIn:start",
              "flatPath": "v2/accounts/mfaSignIn:start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "parameters": {},
              "parameterOrder": [],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "description": "Sends the MFA challenge",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              }
            },
            "finalize": {
              "parameters": {},
              "description": "Verifies the MFA challenge and performs sign-in",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/accounts/mfaSignIn:finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              },
              "httpMethod": "POST",
              "path": "v2/accounts/mfaSignIn:finalize",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "id": "identitytoolkit.accounts.mfaSignIn.finalize"
            }
          }
        }
      },
      "methods": {
        "revokeToken": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
          },
          "id": "identitytoolkit.accounts.revokeToken",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
          },
          "description": "Revokes a user's token from an Identity Provider (IdP). This is done by manually providing an IdP credential, and the token types for revocation. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v2/accounts:revokeToken",
          "flatPath": "v2/accounts:revokeToken",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameters": {
            "pageToken": {
              "description": "The next_page_token value returned from a previous List request, if any.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of items to return.",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "v2/defaultSupportedIdps",
          "parameterOrder": [],
          "id": "identitytoolkit.defaultSupportedIdps.list",
          "httpMethod": "GET",
          "description": "List all default supported Idps.",
          "path": "v2/defaultSupportedIdps",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          }
        }
      }
    },
    "v2": {
      "methods": {
        "getRecaptchaConfig": {
          "id": "identitytoolkit.getRecaptchaConfig",
          "parameterOrder": [],
          "flatPath": "v2/recaptchaConfig",
          "parameters": {
            "tenantId": {
              "type": "string",
              "location": "query",
              "description": "The id of a tenant."
            },
            "version": {
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "The reCAPTCHA enterprise."
              ],
              "description": "The reCAPTCHA version."
            },
            "clientType": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ],
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ],
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key."
            }
          },
          "path": "v2/recaptchaConfig",
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          }
        },
        "getPasswordPolicy": {
          "description": "Gets password policy config set on the project or tenant.",
          "path": "v2/passwordPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/passwordPolicy",
          "parameters": {
            "tenantId": {
              "type": "string",
              "location": "query",
              "description": "The id of a tenant."
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "identitytoolkit.getPasswordPolicy"
        }
      }
    }
  },
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "description": "Configuration options related to authenticated a user by their phone number.",
      "type": "object",
      "properties": {
        "testPhoneNumbers": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of that can be used for phone auth testing."
        },
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "properties": {
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ],
          "description": "The provider that has reCAPTCHA protection.",
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ]
        },
        "enforcementState": {
          "type": "string",
          "description": "The reCAPTCHA enforcement state for the provider.",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState",
      "description": "Enforcement states for reCAPTCHA protection."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "properties": {
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      },
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa."
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "type": "object",
      "description": "Settings that the tenants will inherit from project level.",
      "properties": {
        "emailSendingConfig": {
          "type": "boolean",
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "type": "object",
      "properties": {
        "functionUri": {
          "description": "HTTP URI trigger for the Cloud Function.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "When the trigger was changed.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger"
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "description": "Temporary quota increase / decrease",
      "properties": {
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "When this quota will take effect",
          "format": "google-datetime"
        },
        "quotaDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "How long this quota will be active for"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "type": "object",
      "properties": {
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        },
        "allowByDefault": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "type": "object",
      "properties": {
        "totpVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
          "description": "Verification information for TOTP."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        },
        "idToken": {
          "description": "Required. ID token.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type."
        }
      },
      "description": "Finishes enrolling a second factor for the user.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
      "properties": {
        "phoneNumber": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
          "description": "Configuration options related to authenticated a user by their phone number."
        },
        "hashConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "readOnly": true,
          "description": "Output only. Hash config information."
        },
        "email": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email",
          "description": "Configuration options related to authenticating a user by their email address."
        },
        "anonymous": {
          "description": "Configuration options related to authenticating an anonymous user.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        }
      },
      "description": "Configuration related to local sign in methods."
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        }
      },
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "description": "Options for email sending.",
      "properties": {
        "verifyEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for verify email"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "callbackUri": {
          "type": "string",
          "description": "action url in email template."
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for reverting second factor addition emails"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "method": {
          "description": "The method used for sending an email.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ]
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "containsUppercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain an upper case character."
        },
        "minPasswordLength": {
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "description": "Configuration mobile links.",
      "properties": {
        "domain": {
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ],
          "description": "Open code in app domain to use for app links and universal links.",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "type": "object",
      "description": "Configuration for SMTP relay",
      "properties": {
        "senderEmail": {
          "type": "string",
          "description": "Sender email for the SMTP relay"
        },
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "SMTP relay port"
        },
        "securityMode": {
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "description": "SMTP security mode.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ]
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "properties": {
        "allowedRegions": {
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "properties": {
        "mfaPendingCredential": {
          "type": "string",
          "description": "Required. Pending credential from first factor sign-in."
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments."
        }
      },
      "type": "object",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "type": "object",
      "properties": {
        "tenants": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "description": "A list of tenants under the given agent project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListTenants.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "type": "object",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "properties": {
        "bodyFormat": {
          "type": "string",
          "description": "Email body format",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        },
        "senderDisplayName": {
          "type": "string",
          "description": "Sender display name"
        },
        "senderLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Output only. Whether the body or subject of the email is customized.",
          "readOnly": true
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        }
      },
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "description": "Request for InitializeIdentityPlatform.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "type": "object",
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the Idp"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "properties": {
        "code": {
          "type": "string",
          "description": "User-entered verification code."
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required if Android verification proof is presented."
        },
        "androidVerificationProof": {
          "type": "string",
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore."
        }
      },
      "description": "Phone Verification info for a FinalizeMfa request.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "properties": {
        "passwordRequired": {
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether email auth is enabled for the project or not."
        }
      },
      "description": "Configuration options related to authenticating a user by their email address.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Email"
    },
    "GoogleIamV1GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
[...]
