{
  "version_module": true,
  "version": "v1",
  "id": "identitytoolkit:v1",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "description": "Response message for SignInWithCustomToken.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "properties": {
        "order": {
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ],
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ]
        },
        "offset": {
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "type": "string",
          "format": "int64"
        },
        "limit": {
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "returnUserInfo": {
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`.",
          "type": "boolean"
        },
        "sortBy": {
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ]
        }
      },
      "description": "Request message for QueryUserInfo."
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "description": "Request message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "type": "object",
      "properties": {
        "email": {
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "oldPassword": {
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "newPassword": {
          "type": "string",
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET."
        },
        "tenantId": {
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "description": "Response message for CreateAuthUri.",
      "properties": {
        "authUri": {
          "type": "string",
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request."
        },
        "providerId": {
          "description": "The provider ID from the request, if provided.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "allProviders": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "signinMethods": {
          "items": {
            "type": "string"
          },
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list.",
          "type": "array"
        },
        "sessionId": {
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request.",
          "type": "boolean"
        },
        "captchaRequired": {
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "forExistingProvider": {
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "type": "object",
      "description": "Response message for SignInWithPhoneNumber.",
      "properties": {
        "temporaryProofExpiresIn": {
          "description": "The number of seconds until the temporary proof expires.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "description": "Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "verificationProofExpiresIn": {
          "description": "Do not use.",
          "type": "string",
          "format": "int64"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the authenticated user. Always present in the response."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "properties": {
        "phoneNumber": {
          "type": "array",
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555.",
          "items": {
            "type": "string"
          }
        },
        "initialEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "email": {
          "type": "array",
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "items": {
            "type": "string"
          }
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        }
      },
      "description": "Request message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "properties": {
        "users": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "All accounts belonging to the project/tenant limited by max_results in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse",
      "description": "Response message for DownloadAccount."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "description": "Response message for SetAccountInfo",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The account's display name.",
          "type": "string",
          "deprecated": true
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        },
        "emailVerified": {
          "description": "Whether the account's email has been verified.",
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string",
          "description": "A refresh token for the account. This is used for legacy user sign up."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "passwordHash": {
          "deprecated": true,
          "description": "Deprecated. No actual password hash is currently returned.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string"
        },
        "providerUserInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array",
          "description": "The linked Identity Providers on the account."
        },
        "email": {
          "type": "string",
          "deprecated": true,
          "description": "The account's email address."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up."
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "photoUrl": {
          "deprecated": true,
          "description": "The user's photo URL for the account's profile photo.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "description": "Response message for CreateSessionCookie.",
      "type": "object",
      "properties": {
        "sessionCookie": {
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "type": "object",
      "properties": {
        "e": {
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "alg": {
          "type": "string",
          "description": "Signature algorithm."
        },
        "kty": {
          "type": "string",
          "description": "Key type."
        },
        "use": {
          "description": "Key use.",
          "type": "string"
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "description": "Response message to BatchDeleteAccounts.",
      "properties": {
        "errors": {
          "description": "Detailed error info for accounts that cannot be deleted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "email": {
          "description": "If return_oob_link is false in the request, the email address the verification was sent to.",
          "type": "string"
        },
        "oobLink": {
          "type": "string",
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters."
        },
        "oobCode": {
          "description": "If return_oob_link is true in the request, the OOB code to send.",
          "type": "string"
        }
      },
      "description": "Response message for GetOobCode.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
    },
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address that a MFA verification should be sent to."
        }
      },
      "type": "object",
      "description": "Information about email MFA."
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "type": "object",
      "description": "Information about TOTP MFA."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "type": "object",
      "properties": {
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking.",
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "requestUri": {
          "type": "string",
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential."
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "autoCreate": {
          "deprecated": true,
          "type": "boolean"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "description": "Response message for UploadAccount.",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest",
      "description": "Request message for CreateAuthUri.",
      "properties": {
        "otaApp": {
          "type": "string",
          "deprecated": true
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create an authorization URI or lookup an email identifier for. If not set, the operation will be performed in the default Identity Platform instance in the project.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "An opaque string used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "oauthScope": {
          "description": "Additional space-delimited OAuth 2.0 scopes specifying the scope of the authentication request with the IdP. Used for OAuth 2.0 IdPs. For the Google provider, the authorization code flow will be used if this field is set.",
          "type": "string"
        },
        "continueUri": {
          "description": "A valid URL for the IdP to redirect the user back to. The URL cannot contain fragments or the reserved `state` query parameter.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "A session ID that can be verified against in SignInWithIdp to prevent session fixation attacks. If absent, a random string will be generated and returned as the session ID."
        },
        "providerId": {
          "description": "The provider ID of the IdP for the user to sign in with. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`. At least one of the fields `identifier` and `provider_id` must be set.",
          "type": "string"
        },
        "authFlowType": {
          "type": "string",
          "description": "Used for the Google provider. The type of the authentication flow to be used. If present, this should be `CODE_FLOW` to specify the authorization code flow. Otherwise, the default ID Token flow will be used."
        },
        "identifier": {
          "description": "The email identifier of the user account to fetch associated providers for. At least one of the fields `identifier` and `provider_id` must be set. The length of the email address should be less than 256 characters and in the format of `name@domain.tld`. The email address should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "openidRealm": {
          "deprecated": true,
          "type": "string"
        },
        "appId": {
          "deprecated": true,
          "type": "string"
        },
        "hostedDomain": {
          "description": "Used for the Google provider. The G Suite hosted domain of the user in order to restrict sign-in to users at that domain.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "deprecated": true,
          "type": "string"
        },
        "customParameter": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional customized query parameters to be added to the authorization URI. The following parameters are reserved and cannot be added: `client_id`, `response_type`, `scope`, `redirect_uri`, `state`. For the Microsoft provider, the Azure AD tenant to sign-in to can be specified in the `tenant` custom parameter."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "description": "Response message for SendVerificationCode."
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "description": "Request message for SignUp.",
      "properties": {
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided.",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled."
        },
        "disabled": {
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "photoUrl": {
          "description": "The profile photo url of the user to create.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "clientType": {
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection."
        },
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "mfaInfo": {
          "description": "The multi-factor authentication providers for the user to create.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          }
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project."
        },
        "recaptchaVersion": {
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "emailVerified": {
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user to be created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "type": "object",
      "description": "The parameters for Argon2 hashing algorithm.",
      "properties": {
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16."
        },
        "version": {
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ]
        },
        "hashLengthBytes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024."
        },
        "iterations": {
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        },
        "associatedData": {
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "format": "byte",
          "type": "string"
        },
        "hashType": {
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "type": "string"
        },
        "memoryCostKib": {
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "properties": {
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        },
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        }
      },
      "description": "Request message for VerifyIosClient",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "users": {
          "type": "array",
          "description": "The information of specific user account(s) matching the parameters in the request.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      },
      "description": "Response message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "type": "object",
      "properties": {
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "rounds": {
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "type": "integer",
          "format": "int32"
        },
        "cpuMemCost": {
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "blockSize": {
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "passwordHashOrder": {
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "type": "string"
        },
        "parallelization": {
          "format": "int32",
          "type": "integer",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "users": {
          "type": "array",
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "dkLen": {
          "format": "int32",
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "type": "integer"
        },
        "argon2Parameters": {
          "description": "The parameters for Argon2 hashing algorithm.",
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
        },
        "signerKey": {
          "format": "byte",
          "type": "string",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512"
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT."
        },
        "sanityCheck": {
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped.",
          "type": "boolean"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned."
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        }
      },
      "description": "Request message for UploadAccount."
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest",
      "properties": {
        "validDuration": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively."
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token."
        }
      },
      "description": "Request message for CreateSessionCookie.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "type": "object",
      "description": "Request message for IssueSamlResponse.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse."
        },
        "rpId": {
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse.",
          "type": "string"
        },
        "samlAppEntityId": {
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "description": "Warning notifications for the user.",
      "type": "object",
      "properties": {
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        },
        "notificationCode": {
          "description": "Warning notification enum. Can be used for localization.",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ],
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1UserNotification"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "description": "Request message for SignInWithEmailLink",
      "properties": {
        "email": {
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future.",
          "type": "string"
        },
        "oobCode": {
          "description": "Required. The out-of-band code from the email link.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "type": "object",
      "description": "Response message for GetRecaptchaParam.",
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "properties": {
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present."
        },
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "properties": {
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unobfuscated phone_info."
        },
        "enrolledAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the account enrolled this second factor."
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account."
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo",
      "properties": {
        "index": {
          "description": "The index of the errored item in the original local_ids field.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "Detailed error message."
        },
        "localId": {
          "description": "The corresponding user ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Error info for account failed to be deleted."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "description": "Response message for SignInWithEmailLink.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "type": "object",
      "properties": {
        "userInfo": {
          "type": "array",
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "recordsCount": {
          "type": "string",
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "description": "Response message for QueryUserInfo."
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "type": "object",
      "description": "Federated user identifier at an Identity Provider.",
      "properties": {
        "rawId": {
          "type": "string",
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`."
        },
        "providerId": {
          "type": "string",
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "properties": {
        "screenName": {
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "readOnly": true,
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the account's email address has been verified.",
          "type": "boolean"
        },
        "providerUserInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array",
          "description": "Information about the user as provided by various Identity Providers."
        },
        "phoneNumber": {
          "description": "The account's phone number.",
          "type": "string"
        },
        "salt": {
          "format": "byte",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "string"
        },
        "validSince": {
          "type": "string",
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "format": "int64"
        },
        "passwordHash": {
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string",
          "format": "byte"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "format": "double"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "mfaInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Information on which multi-factor authentication providers are enabled for this account."
        },
        "customAttributes": {
          "type": "string",
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format."
        },
        "version": {
          "format": "int32",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "integer"
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "The last time, in milliseconds from epoch, this account was logged into."
        },
        "tenantId": {
          "type": "string",
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant."
        },
        "rawPassword": {
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text.",
          "type": "string"
        },
        "emailLinkSignin": {
          "type": "boolean",
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "timeZone": {
          "type": "string",
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true
        },
        "dateOfBirth": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "initialEmail": {
          "type": "string",
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec."
        },
        "lastRefreshAt": {
          "type": "string",
          "description": "Timestamp when an ID token was last minted for this account.",
          "format": "google-datetime"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "The time, in milliseconds from epoch, when the account was created."
        },
        "language": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        }
      },
      "type": "object",
      "description": "An Identity Platform account's information."
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse",
      "type": "object",
      "properties": {
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "apiKey": {
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "dynamicLinksDomain": {
          "type": "string",
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps."
        },
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "verifyEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer."
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer."
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer."
        },
        "idpConfig": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          },
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer.",
          "type": "array"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer."
        }
      },
      "description": "Response message for GetProjectConfig."
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "type": "object",
      "properties": {
        "enrollments": {
          "type": "array",
          "description": "The second factors the user has enrolled.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      },
      "description": "Multi-factor authentication related information."
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The created user's email."
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        },
        "localId": {
          "description": "The ID of the created user. Always present in the response.",
          "type": "string"
        },
        "displayName": {
          "description": "The created user's display name.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "description": "Response message for SignUp."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "description": "Request message for SignInWithCustomToken.",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "token": {
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "description": "Request message for SignInWithPhoneNumber.",
      "properties": {
        "phoneNumber": {
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "User-entered verification code from an SMS sent to the user's phone."
        },
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "deprecated": true,
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ]
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "description": "Request message for GetOobCode.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest",
      "properties": {
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "recaptchaVersion": {
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
        },
        "requestType": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL"
        },
        "newEmail": {
          "type": "string",
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests."
        },
        "returnOobLink": {
          "type": "boolean",
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)"
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "continueUrl": {
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code.",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "deprecated": true
        },
        "androidMinimumVersion": {
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "captchaResp": {
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller.",
          "type": "string"
        },
        "dynamicLinkDomain": {
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled.",
          "type": "string"
        },
        "androidPackageName": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed."
        },
        "email": {
          "type": "string",
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user."
        },
        "canHandleCodeInApp": {
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed.",
          "type": "boolean"
        },
        "iOSBundleId": {
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true."
        },
        "iOSAppStoreId": {
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed.",
          "type": "string"
        },
        "linkDomain": {
          "type": "string",
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "description": "Response message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "properties": {
        "requestType": {
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "type": "string"
        },
        "newEmail": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "verifiedProvider": {
          "type": "array",
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "items": {
            "type": "string"
          }
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "oauthExpireIn": {
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "type": "integer",
          "format": "int32"
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The user's account ID at the IdP. Always present in the response."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether or not a new Identity Platform account was created for the authenticated user."
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "dateOfBirth": {
          "description": "The date of birth for the user's account at the IdP.",
          "type": "string"
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OpenID Connect ID token from the IdP, if available."
        },
        "screenName": {
          "type": "string",
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the user's account at the IdP."
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name for the user's account at the IdP.",
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "needEmail": {
          "type": "boolean",
          "deprecated": true
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user's profile picture at the IdP."
        },
        "providerId": {
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string",
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The value of the `tenant_id` field in the request."
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "originalEmail": {
          "type": "string",
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled."
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "nickName": {
          "description": "The nickname for the user's account at the IdP.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "description": "Response message for SignInWithGameCenter",
      "type": "object",
      "properties": {
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "displayName": {
          "description": "Display name of the authenticated user.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          },
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517)."
        }
      },
      "type": "object",
      "description": "Response message for GetSessionCookiePublicKeys."
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "Email body format",
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ]
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "from": {
          "description": "From address of the email",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name"
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "locale": {
          "type": "string",
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "description": "Email template"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "properties": {
        "firstName": {
          "description": "First name of the user.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "samlResponse": {
          "type": "string",
          "description": "Signed SAMLResponse created for the Relying Party."
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user."
        },
        "relayState": {
          "type": "string",
          "description": "Generated RelayState."
        },
        "email": {
          "description": "Email of the user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "description": "Response for IssueSamlResponse request.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "type": "object",
      "description": "Request message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "properties": {
        "salt": {
          "description": "Required. A random string used to generate the given signature.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
        },
        "displayName": {
          "type": "string",
          "description": "The user's Game Center display name."
        },
        "publicKeyUrl": {
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token."
        },
        "signature": {
          "description": "Required. The verification signature data generated by Apple.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "type": "object",
      "properties": {
        "suggestedTimeout": {
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification.",
          "type": "string",
          "format": "int64"
        },
        "receipt": {
          "description": "Receipt of successful app token validation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse",
      "description": "Response message for VerifyIosClient."
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "type": "object",
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "phoneInfo": {
          "type": "string",
          "description": "Phone number to receive OTP for MFA."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor"
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression",
      "properties": {
        "email": {
          "type": "string",
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed."
        },
        "force": {
          "type": "boolean",
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`."
        },
        "localIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of user IDs to be deleted.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest",
      "description": "Request message for BatchDeleteAccounts."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "description": "Request message for SignInWithPassword.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "properties": {
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "clientType": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project."
        },
        "recaptchaVersion": {
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "idToken": {
          "deprecated": true,
          "type": "string"
        },
        "password": {
          "description": "Required. The password the user provides to sign in to the account.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "properties": {
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
[...]
