{
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "description": "Data format for the response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "protocol": "rest",
  "description": "Help the third party sites to implement federated login.",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "ownerName": "Google",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "kind": "discovery#restDescription",
  "name": "identitytoolkit",
  "version": "v3",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "revision": "20180723",
  "title": "Google Identity Toolkit API",
  "canonicalName": "Identity Toolkit",
  "schemas": {
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        }
      }
    },
    "ResetPasswordResponse": {
      "id": "ResetPasswordResponse",
      "type": "object",
      "description": "Response of resetting the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse"
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        }
      }
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        },
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "description": "Request to get the account information.",
      "properties": {
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Privileged caller can query users by specified phone number."
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch.",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "maxResults": {
          "type": "integer",
          "description": "The max number of results to return in the response.",
          "format": "uint32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "description": "Request to delete account.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "verificationProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        }
      }
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "type": "object",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "kind": {
          "default": "identitytoolkit#DownloadAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\"."
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The user accounts data."
        }
      }
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        }
      }
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "signinMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All sign-in methods this user has used."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "kind": {
          "default": "identitytoolkit#CreateAuthUriResponse",
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\"."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "GetAccountInfoResponse": {
      "id": "GetAccountInfoResponse",
      "type": "object",
      "description": "Response of getting account information.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetAccountInfoResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The info of the users."
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "description": "Request to set the project configuration.",
      "properties": {
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "description": "Template for a single idp configuration.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "experimentPercent": {
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32"
        },
        "whitelistedAudiences": {
          "type": "array",
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        }
      }
    },
    "EmailLinkSigninResponse": {
      "id": "EmailLinkSigninResponse",
      "type": "object",
      "description": "Response of email signIn.",
      "properties": {
        "expiresIn": {
          "type": "string",
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "properties": {
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "description": "Template for an individual account info.",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Version of the user's password."
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "last login timestamp."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              }
            }
          },
          "type": "array",
          "description": "The IDP of the user."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "User creation timestamp."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "description": "Request to verify a custom token",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        }
      }
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "properties": {
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "kind": {
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\"."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "verifiedProvider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        }
      }
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        }
      }
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "type": "object",
      "description": "Respone of setting the account information.",
      "properties": {
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "default": "identitytoolkit#SetAccountInfoResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\"."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            }
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object",
      "description": "Request to set the account information.",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "deleteAttribute": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The attributes users request to delete."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "Last login timestamp."
        },
        "provider": {
          "type": "array",
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          }
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        }
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object",
      "description": "Request to upload user account in batch.",
      "properties": {
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "rounds": {
          "format": "int32",
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms."
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "The salt separator."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "resources": {
    "relyingparty": {
      "methods": {
        "createAuthUri": {
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "httpMethod": "POST",
          "path": "createAuthUri"
        },
        "emailLinkSignin": {
          "path": "emailLinkSignin",
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signOutUser": {
          "id": "identitytoolkit.relyingparty.signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "description": "Sign out user.",
          "path": "signOutUser",
          "httpMethod": "POST"
        },
        "verifyCustomToken": {
          "description": "Verifies the developer asserted ID token.",
          "path": "verifyCustomToken",
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          }
        },
        "verifyPassword": {
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "description": "Verifies the user entered password.",
          "httpMethod": "POST",
          "path": "verifyPassword"
        },
        "setProjectConfig": {
          "description": "Set project configuration.",
          "path": "setProjectConfig",
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          }
        },
        "verifyPhoneNumber": {
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "httpMethod": "POST",
          "path": "verifyPhoneNumber"
        },
        "resetPassword": {
          "id": "identitytoolkit.relyingparty.resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "description": "Reset password for a user.",
          "httpMethod": "POST",
          "path": "resetPassword"
        },
        "downloadAccount": {
          "description": "Batch download user accounts.",
          "httpMethod": "POST",
          "path": "downloadAccount",
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          }
        },
        "signupNewUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "signupNewUser",
          "httpMethod": "POST",
          "description": "Signup new user."
        },
        "setAccountInfo": {
          "description": "Set account info for a user.",
          "httpMethod": "POST",
          "path": "setAccountInfo",
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          }
        },
        "deleteAccount": {
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "description": "Delete user account.",
          "httpMethod": "POST",
          "path": "deleteAccount"
        },
        "getOobConfirmationCode": {
          "description": "Get a code for user action confirmation.",
          "path": "getOobConfirmationCode",
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Relyingparty"
          },
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          }
        },
        "uploadAccount": {
          "httpMethod": "POST",
          "path": "uploadAccount",
          "description": "Batch upload existing user accounts.",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "verifyAssertion": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "description": "Verifies the assertion returned by the IdP."
        },
        "getAccountInfo": {
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "description": "Returns the account info.",
          "httpMethod": "POST",
          "path": "getAccountInfo"
        },
        "getPublicKeys": {
          "path": "publicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "description": "Send SMS verification code.",
          "httpMethod": "POST",
          "path": "sendVerificationCode"
        },
        "getProjectConfig": {
          "description": "Get project configuration.",
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          },
          "path": "getProjectConfig",
          "httpMethod": "GET",
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          }
        },
        "getRecaptchaParam": {
          "httpMethod": "GET",
          "path": "getRecaptchaParam",
          "description": "Get recaptcha secure param.",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "id": "identitytoolkit:v3",
  "batchPath": "batch/identitytoolkit/v3"
}