{
  "title": "Identity Toolkit API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Identity Toolkit",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260911",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "type": "object",
      "description": "Information about email MFA.",
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo",
      "properties": {
        "emailAddress": {
          "description": "Email address that a MFA verification should be sent to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "type": "object",
      "description": "Response message for SignInWithEmailLink.",
      "properties": {
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "email": {
          "type": "string",
          "description": "The email the user signed in with. Always present in the response."
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "properties": {
        "cpuMemCost": {
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "signerKey": {
          "format": "byte",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "type": "string"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "saltSeparator": {
          "type": "string",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character.",
          "format": "byte"
        },
        "memoryCost": {
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "format": "int32",
          "type": "integer"
        },
        "passwordHashOrder": {
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ]
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32",
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
        },
        "argon2Parameters": {
          "description": "The parameters for Argon2 hashing algorithm.",
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
        },
        "allowOverwrite": {
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned.",
          "type": "boolean"
        },
        "parallelization": {
          "type": "integer",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        },
        "rounds": {
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "format": "int32",
          "type": "integer"
        },
        "users": {
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "dkLen": {
          "type": "integer",
          "format": "int32",
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "type": "object",
      "description": "Request message for UploadAccount."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "properties": {
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "The number of seconds until the ID token expires.",
          "type": "string"
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the authenticated user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "type": "object",
      "description": "Response message for SignInWithGameCenter"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "description": "Response message to BatchDeleteAccounts.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          },
          "type": "array",
          "description": "Detailed error info for accounts that cannot be deleted."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "description": "Error info for account failed to be deleted.",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the errored item in the original local_ids field."
        },
        "localId": {
          "description": "The corresponding user ID.",
          "type": "string"
        },
        "message": {
          "description": "Detailed error message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      },
      "description": "Response message for SendVerificationCode."
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "description": "Response for IssueSamlResponse request.",
      "properties": {
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of the user.",
          "type": "string"
        },
        "samlResponse": {
          "description": "Signed SAMLResponse created for the Relying Party.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email of the user."
        },
        "relayState": {
          "type": "string",
          "description": "Generated RelayState."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "firstName": {
          "description": "First name of the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "type": "object",
      "description": "Multi-factor authentication related information.",
      "properties": {
        "enrollments": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array",
          "description": "The second factors the user has enrolled."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "properties": {
        "oauthAuthorizationCode": {
          "deprecated": true,
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The access token expiration time in seconds.",
          "deprecated": true,
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name stored in the account's attributes."
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the email is for an existing account. Always true.",
          "deprecated": true,
          "type": "boolean"
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "profilePicture": {
          "description": "The user's profile picture stored in the account's attributes.",
          "type": "string"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "deprecated": true,
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "userNotifications": {
          "description": "Warning notifications for the user.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          },
          "type": "array"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        }
      },
      "description": "Response message for SignInWithPassword.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "properties": {
        "idToken": {
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
        },
        "localId": {
          "type": "string",
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead."
        }
      },
      "description": "Request message for DeleteAccount.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "token": {
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "type": "object",
      "description": "Request message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse",
      "description": "Response message for VerifyIosClient.",
      "type": "object",
      "properties": {
        "suggestedTimeout": {
          "type": "string",
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification.",
          "format": "int64"
        },
        "receipt": {
          "type": "string",
          "description": "Receipt of successful app token validation."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "email": {
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "properties": {
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the user's account at the IdP."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The date of birth for the user's account at the IdP."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response.",
          "type": "string"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string",
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user's profile picture at the IdP."
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user account's email address is verified.",
          "type": "boolean"
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OpenID Connect ID token from the IdP, if available."
        },
        "lastName": {
          "type": "string",
          "description": "The last name for the user's account at the IdP."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone for the user's account at the IdP."
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`."
        },
        "needEmail": {
          "type": "boolean",
          "deprecated": true
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "format": "int32",
          "description": "The number of seconds until the OAuth access token from the IdP expires."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "nickName": {
          "description": "The nickname for the user's account at the IdP.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "inputEmail": {
          "type": "string",
          "deprecated": true
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled."
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "verifiedProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`."
        },
        "oauthRefreshToken": {
          "type": "string",
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`."
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "description": "Response message for SignInWithIdp.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "description": "Federated user identifier at an Identity Provider.",
      "properties": {
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "properties": {
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        },
        "oldPassword": {
          "type": "string",
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code."
        },
        "email": {
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "description": "Request message for ResetPassword."
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse."
        },
        "rpId": {
          "type": "string",
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse."
        },
        "samlAppEntityId": {
          "type": "string",
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app."
        }
      },
      "type": "object",
      "description": "Request message for IssueSamlResponse."
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user's display name at the Identity Provider."
        },
        "federatedId": {
          "type": "string",
          "description": "The user's identifier at the Identity Provider."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's profile photo URL at the Identity Provider."
        },
        "email": {
          "type": "string",
          "description": "The user's email address at the Identity Provider."
        },
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "description": "The user's screen_name at Twitter or login name at GitHub."
        },
        "providerId": {
          "type": "string",
          "description": "The ID of the Identity Provider."
        },
        "phoneNumber": {
          "description": "The user's phone number at the Identity Provider.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "description": "Information about the user as provided by various Identity Providers.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig",
      "type": "object",
      "description": "Config of an identity provider.",
      "properties": {
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IdP",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Whitelisted client IDs for audience check."
        },
        "provider": {
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ]
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "type": "object",
      "description": "Response message for GetSessionCookiePublicKeys.",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "properties": {
        "keys": {
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Response message for SignInWithCustomToken.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Detailed error message"
        },
        "index": {
          "description": "The index of the item, range is [0, request.size - 1]",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo",
      "description": "Error information explaining why an account cannot be uploaded. batch upload."
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object",
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "properties": {
        "phoneInfo": {
          "type": "string",
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number."
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "emailInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo",
          "description": "Contains information specific to email MFA."
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "description": "Output only. Unobfuscated phone_info.",
          "readOnly": true,
          "type": "string"
        },
        "enrolledAt": {
          "type": "string",
          "description": "Timestamp when the account enrolled this second factor.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "type": "object",
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "properties": {
        "safetyNetToken": {
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header."
        },
        "clientType": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "tenantId": {
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "description": "Request message for SignUp.",
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "properties": {
        "email": {
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "recaptchaVersion": {
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled."
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user to be created."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set."
        },
        "targetProjectId": {
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The profile photo url of the user to create."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
          "type": "string"
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          },
          "type": "array",
          "description": "The multi-factor authentication providers for the user to create."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "phoneInfo": {
          "description": "Phone number to receive OTP for MFA.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest",
      "description": "Request message for SignInWithEmailLink",
      "properties": {
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "Required. The out-of-band code from the email link."
        },
        "email": {
          "type": "string",
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "description": "Request message for SignInWithIdp.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token."
        },
        "requestUri": {
          "type": "string",
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential."
        },
        "pendingToken": {
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking.",
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "autoCreate": {
          "type": "boolean",
          "deprecated": true
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`."
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "passwordHash": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. No actual password hash is currently returned."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email has been verified."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo URL for the account's profile photo.",
          "deprecated": true
        },
        "displayName": {
          "description": "The account's display name.",
          "type": "string",
          "deprecated": true
        },
        "providerUserInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array",
          "description": "The linked Identity Providers on the account."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user."
        },
        "email": {
          "description": "The account's email address.",
          "deprecated": true,
          "type": "string"
        },
        "refreshToken": {
          "description": "A refresh token for the account. This is used for legacy user sign up.",
          "type": "string"
        }
      },
      "description": "Response message for SetAccountInfo",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest",
      "type": "object",
      "description": "Request message for BatchDeleteAccounts.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed."
        },
        "localIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of user IDs to be deleted.",
          "type": "array"
        },
        "force": {
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest": {
      "description": "Request message for CreateAuthUri.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest",
      "properties": {
        "oauthConsumerKey": {
          "deprecated": true,
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "An opaque string used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "sessionId": {
          "type": "string",
          "description": "A session ID that can be verified against in SignInWithIdp to prevent session fixation attacks. If absent, a random string will be generated and returned as the session ID."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional space-delimited OAuth 2.0 scopes specifying the scope of the authentication request with the IdP. Used for OAuth 2.0 IdPs. For the Google provider, the authorization code flow will be used if this field is set."
        },
        "continueUri": {
          "description": "A valid URL for the IdP to redirect the user back to. The URL cannot contain fragments or the reserved `state` query parameter.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Used for the Google provider. The type of the authentication flow to be used. If present, this should be `CODE_FLOW` to specify the authorization code flow. Otherwise, the default ID Token flow will be used.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP for the user to sign in with. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`. At least one of the fields `identifier` and `provider_id` must be set."
        },
        "identifier": {
          "description": "The email identifier of the user account to fetch associated providers for. At least one of the fields `identifier` and `provider_id` must be set. The length of the email address should be less than 256 characters and in the format of `name@domain.tld`. The email address should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "Used for the Google provider. The G Suite hosted domain of the user in order to restrict sign-in to users at that domain.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create an authorization URI or lookup an email identifier for. If not set, the operation will be performed in the default Identity Platform instance in the project.",
          "type": "string"
        },
        "otaApp": {
          "type": "string",
          "deprecated": true
        },
        "appId": {
          "deprecated": true,
          "type": "string"
        },
        "openidRealm": {
          "type": "string",
          "deprecated": true
        },
        "customParameter": {
          "description": "Additional customized query parameters to be added to the authorization URI. The following parameters are reserved and cannot be added: `client_id`, `response_type`, `scope`, `redirect_uri`, `state`. For the Microsoft provider, the Azure AD tenant to sign-in to can be specified in the `tenant` custom parameter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "type": "object",
      "description": "Response message for CreateSessionCookie.",
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "properties": {
        "sessionCookie": {
          "type": "string",
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "description": "Response message for DeleteAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "description": "An Identity Platform account's information.",
      "type": "object",
      "properties": {
        "timeZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "passwordHash": {
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string",
          "format": "byte"
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "int32"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "The last time, in milliseconds from epoch, this account was logged into."
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "format": "double"
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This account's screen name at Twitter or login name at GitHub."
        },
        "lastRefreshAt": {
          "type": "string",
          "description": "Timestamp when an ID token was last minted for this account.",
          "format": "google-datetime"
        },
        "createdAt": {
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The account's phone number."
        },
        "displayName": {
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "validSince": {
          "format": "int64",
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "type": "string"
        },
        "dateOfBirth": {
          "readOnly": true,
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions."
        },
        "customAuth": {
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true,
          "type": "boolean"
        },
        "emailVerified": {
          "description": "Whether the account's email address has been verified.",
          "type": "boolean"
        },
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions."
        },
        "tenantId": {
          "type": "string",
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant."
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "description": "Information about the user as provided by various Identity Providers."
        },
        "rawPassword": {
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text.",
          "type": "string"
        },
        "emailLinkSignin": {
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "users": {
          "type": "array",
          "description": "The information of specific user account(s) matching the parameters in the request.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "description": "Response message for GetAccountInfo.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "description": "Response message for GetRecaptchaParam.",
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "type": "object",
      "properties": {
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present."
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "properties": {
        "memoryCostKib": {
          "type": "integer",
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "format": "int32"
        },
        "associatedData": {
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "type": "string",
          "format": "byte"
        },
        "hashType": {
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "type": "string",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ]
        },
        "version": {
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ],
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ]
        },
        "parallelism": {
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        },
        "iterations": {
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "type": "integer",
          "format": "int32"
        },
        "hashLengthBytes": {
          "type": "integer",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "description": "The parameters for Argon2 hashing algorithm.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "description": "Response message for UploadAccount.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "properties": {
        "error": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          },
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "type": "array"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "type": "object",
      "description": "Response message for ResetPassword.",
      "properties": {
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "newEmail": {
          "type": "string"
        },
        "requestType": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest",
      "type": "object",
      "properties": {
        "iOSBundleId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed."
        },
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "iOSAppStoreId": {
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed.",
          "type": "string"
        },
        "dynamicLinkDomain": {
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled.",
          "type": "string"
        },
        "continueUrl": {
          "type": "string",
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code."
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "androidInstallApp": {
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true."
        },
        "requestType": {
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "type": "string",
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ]
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app."
        },
        "androidPackageName": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed."
        },
        "email": {
          "type": "string",
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user."
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "returnOobLink": {
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)",
          "type": "boolean"
        },
        "recaptchaVersion": {
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
        },
        "captchaResp": {
          "type": "string",
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller."
        },
        "linkDomain": {
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used.",
          "type": "string"
        },
        "newEmail": {
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests.",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        }
      },
      "description": "Request message for GetOobCode."
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "properties": {
        "returnUserInfo": {
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`.",
          "type": "boolean"
        },
        "offset": {
          "type": "string",
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "format": "int64"
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "sortBy": {
          "type": "string",
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ]
        },
        "limit": {
          "format": "int64",
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        }
      },
      "description": "Request message for QueryUserInfo.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      },
      "description": "Request message for VerifyIosClient"
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "description": "Email template",
      "properties": {
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "format": {
          "description": "Email body format",
          "type": "string",
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ]
        },
        "from": {
          "description": "From address of the email",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "description": "Response message for QueryUserInfo.",
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "type": "object",
      "properties": {
        "recordsCount": {
          "type": "string",
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "format": "int64"
        },
        "userInfo": {
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "description": "The information required to auto-retrieve an SMS.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "type": "object",
      "properties": {
        "verificationProofExpiresIn": {
          "type": "string",
          "description": "Do not use.",
          "format": "int64"
        },
        "temporaryProofExpiresIn": {
          "description": "The number of seconds until the temporary proof expires.",
          "format": "int64",
          "type": "string"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Identity Platform ID token for the authenticated user."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "description": "Response message for SignInWithPhoneNumber."
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "description": "Warning notifications for the user.",
      "properties": {
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        },
        "notificationCode": {
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "description": "Warning notification enum. Can be used for localization.",
          "type": "string",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "type": "object",
      "description": "Information about TOTP MFA.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "properties": {
        "signinMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request."
        },
        "registered": {
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request.",
          "type": "boolean"
        },
        "sessionId": {
          "type": "string",
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks."
        },
        "captchaRequired": {
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "allProviders": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID from the request, if provided."
        },
        "authUri": {
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "description": "Response message for CreateAuthUri."
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "properties": {
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
          "type": "string"
        },
        "localId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "federatedUserId": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          },
          "type": "array"
        },
        "phoneNumber": {
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "initialEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "email": {
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array"
        }
      },
[...]
