{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "title": "Identity Toolkit API",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "kind": "discovery#restDescription",
  "revision": "20260813",
  "version": "v2",
  "version_module": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "ownerName": "Google",
  "id": "identitytoolkit:v2",
  "discoveryVersion": "v1",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "protocol": "rest",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
      "description": "Configuration options related to authenticating an anonymous user.",
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "description": "The reCAPTCHA Enterprise integration config.",
      "properties": {
        "phoneEnforcementState": {
          "type": "string",
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA.",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        },
        "emailPasswordEnforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "type": "string"
        },
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          },
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project."
        },
        "recaptchaKeys": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          },
          "type": "array",
          "description": "The reCAPTCHA keys."
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "tollFraudManagedRules": {
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          },
          "type": "array"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "description": "Response for ListOAuthIdpConfigs",
      "properties": {
        "oauthIdpConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "description": "Configuration options related to authenticated a user by their phone number.",
      "properties": {
        "testPhoneNumbers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of that can be used for phone auth testing."
        },
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse",
      "description": "Withdraws MultiFactorAuth response.",
      "properties": {
        "idToken": {
          "description": "ID token updated to reflect removal of the second factor.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect removal of the second factor.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "description": "Configuration for reCAPTCHA",
      "properties": {
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "recaptchaKey": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers.",
          "type": "string"
        },
        "recaptchaEnforcementState": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          },
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection."
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "description": "Options for email sending.",
      "properties": {
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "method": {
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ],
          "description": "The method used for sending an email.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "type": "string"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
      "description": "Phone Verification info for a StartMfa response.",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
      "type": "object",
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "properties": {
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "properties": {
        "adjacentIntervals": {
          "type": "integer",
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "description": "Configuration related to local sign in methods.",
      "properties": {
        "hashConfig": {
          "description": "Output only. Hash config information.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "readOnly": true
        },
        "email": {
          "description": "Configuration options related to authenticating a user by their email address.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email"
        },
        "anonymous": {
          "description": "Configuration options related to authenticating an anonymous user.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
        },
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "type": "object",
      "description": "Finalizes sign-in by verifying MFA challenge.",
      "properties": {
        "totpVerificationInfo": {
          "description": "Proof of completion of the TOTP based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
        },
        "phoneVerificationInfo": {
          "description": "Proof of completion of the SMS based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "mfaEnrollmentId": {
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
      "description": "The template to use when sending an SMS.",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS."
        }
      }
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "type": "object",
      "description": "Temporary quota increase / decrease",
      "properties": {
        "startTime": {
          "description": "When this quota will take effect",
          "format": "google-datetime",
          "type": "string"
        },
        "quotaDuration": {
          "description": "How long this quota will be active for",
          "format": "google-duration",
          "type": "string"
        },
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "description": "Configuration related to multi-tenant functionality.",
      "properties": {
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        },
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "description": "Response for ListDefaultSupportedIdps",
      "properties": {
        "defaultSupportedIdps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          },
          "description": "The set of configs."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig",
      "type": "object",
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party.",
      "properties": {
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "spConfig": {
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
        },
        "idpConfig": {
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion",
      "type": "object",
      "description": "The strength attributes for the password policy on the project.",
      "properties": {
        "schemaVersion": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. schema version number for the password policy",
          "format": "int32"
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "description": "Describes the state of the MultiFactor Authentication type.",
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "properties": {
        "key": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\"",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The client's platform type.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "description": "FinalizeMfaSignIn response.",
      "properties": {
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "type": "object",
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "properties": {
        "allowedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "properties": {
        "verificationCodeLength": {
          "type": "integer",
          "description": "The length of the verification code that needs to be generated.",
          "format": "int32"
        },
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "finalizeEnrollmentTime": {
          "type": "string",
          "description": "The time by which the enrollment must finish.",
          "format": "google-datetime"
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "periodSec": {
          "type": "integer",
          "description": "Duration in seconds at which the verification code will change.",
          "format": "int32"
        },
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow.",
      "properties": {
        "token": {
          "type": "boolean",
          "deprecated": true,
          "description": "Do not use. The `token` response type is not supported at the moment."
        },
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "idToken": {
          "description": "If true, ID token is returned from IdP's authorization endpoint.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "description": "App Verification info for a StartMfa request.",
      "properties": {
        "phoneNumber": {
          "description": "Required for enrollment. Phone number to be enrolled as MFA.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "iOS only. Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "iosSecret": {
          "description": "iOS only. Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "safetyNetToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo"
        },
        "clientType": {
          "type": "string",
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "type": "object",
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "description": "Configuration for SMTP relay",
      "properties": {
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        },
        "securityMode": {
          "type": "string",
          "description": "SMTP security mode.",
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ]
        },
        "senderEmail": {
          "description": "Sender email for the SMTP relay",
          "type": "string"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        },
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "port": {
          "description": "SMTP relay port",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "description": "Phone Verification info for a FinalizeMfa request.",
      "properties": {
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required if Android verification proof is presented.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "properties": {
        "saltSeparator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "rounds": {
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "algorithm": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ]
        },
        "signerKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Signer key in base64."
        },
        "memoryCost": {
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "type": "object",
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "properties": {
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "type": "object",
      "description": "Request message for RevokeToken.",
      "properties": {
        "idToken": {
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately.",
          "type": "string"
        },
        "redirectUri": {
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE.",
          "type": "string"
        },
        "providerId": {
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\".",
          "type": "string"
        },
        "token": {
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged.",
          "type": "string"
        },
        "tokenType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "description": "Required. The type of the token to be revoked.",
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ]
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
      "type": "object",
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "properties": {
        "enabled": {
          "description": "Whether logging is enabled for this project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "description": "StartMfaEnrollment response.",
      "properties": {
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        },
        "totpSessionInfo": {
          "description": "Enrollment response info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "description": "Options related to how clients making requests on behalf of a project should be configured.",
      "properties": {
        "apiKey": {
          "description": "Output only. API key that can be used when making requests for this project.",
          "readOnly": true,
          "type": "string"
        },
        "firebaseSubdomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Firebase subdomain."
        },
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "description": "Configuration related to quotas.",
      "properties": {
        "signUpQuotaConfig": {
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "description": "Options for SMS sending.",
      "properties": {
        "useDeviceLocale": {
          "description": "Whether to use the accept_language header for SMS.",
          "type": "boolean"
        },
        "smsTemplate": {
          "description": "Output only. The template to use when sending an SMS.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendSms"
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "description": "Configuration related to monitoring project activity.",
      "properties": {
        "requestLogging": {
          "description": "Configuration for logging requests made to this project to Stackdriver Logging",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "type": "object",
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "properties": {
        "functionUri": {
          "description": "HTTP URI trigger for the Cloud Function.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "When the trigger was changed.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo": {
      "description": "Phone Verification info for a FinalizeMfa response.",
      "properties": {
        "androidVerificationProof": {
          "description": "Android only. Long-lived replacement for valid code tied to android device.",
          "type": "string"
        },
        "androidVerificationProofExpireTime": {
          "type": "string",
          "description": "Android only. Expiration time of verification proof in seconds.",
          "format": "google-datetime"
        },
        "phoneNumber": {
          "description": "For Android verification proof.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "properties": {
        "allowByDefault": {
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
        },
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "description": "Configuration related to Blocking Functions.",
      "properties": {
        "triggers": {
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          }
        },
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "description": "The configuration for the password policy on the project.",
      "properties": {
        "passwordPolicyEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Which enforcement mode to use for the password policy.",
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ]
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "passwordPolicyVersions": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "type": "array",
          "description": "Must be of length 1. Contains the strength attributes for the password policy."
        },
        "lastUpdateTime": {
          "description": "Output only. The last time the password policy on the project was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "properties": {
        "disallowedRegions": {
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP.",
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "description": "StartMfaSignIn response.",
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "description": "Mfa request info specific to TOTP auth for StartMfa.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "description": "Additional config for Apple for code flow.",
      "properties": {
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        },
        "keyId": {
          "description": "Key ID for the private key.",
          "type": "string"
        },
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
      "type": "object",
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "properties": {
        "pendingCustomDomain": {
          "description": "Output only. The custom domain that's to be verified.",
          "readOnly": true,
          "type": "string"
        },
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "domainVerificationRequestTime": {
          "description": "Output only. The timestamp of initial request for the current domain verification.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "customDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The applied verified custom domain."
        },
        "customDomainState": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful.",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "properties": {
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "type": "object",
      "description": "Request for InitializeIdentityPlatform.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "description": "Represents an Identity Toolkit project.",
      "properties": {
        "mfa": {
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "mobileLinksConfig": {
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "quota": {
          "description": "Configuration related to quotas.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig"
        },
        "notification": {
          "description": "Configuration related to sending notifications to users.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
        },
        "authorizedDomains": {
          "description": "List of domains authorized for OAuth redirects",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "blockingFunctions": {
          "description": "Configuration related to blocking functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
        },
        "passwordPolicyConfig": {
          "description": "The project level password policy configuration.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "subtype": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "An Identity Platform project.",
            "A Firebase Authentication project."
          ],
          "description": "Output only. The subtype of this config.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "IDENTITY_PLATFORM",
            "FIREBASE_AUTH"
          ]
        },
        "recaptchaConfig": {
          "description": "The project-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "signIn": {
          "description": "Configuration related to local sign in methods.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
        },
        "multiTenant": {
          "description": "Configuration related to multi-tenant functionality.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\""
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
        },
        "defaultHostingSite": {
          "description": "Output only. Default Firebase hosting site name",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Config"
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "format": "int32",
          "type": "integer"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "description": "Maximum password length. No default max length",
          "format": "int32",
          "type": "integer"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
      "type": "object",
      "description": "Configuration related to sending notifications to users.",
      "properties": {
        "sendSms": {
          "description": "Options for SMS sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms"
        },
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "defaultLocale": {
          "description": "Default locale used for email and SMS in IETF BCP 47 format.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "maxPasswordLength": {
          "type": "integer",
          "description": "Maximum password length. No default max length",
          "format": "int32"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "type": "integer",
          "description": "Minimum password length. Range from 6 to 30",
          "format": "int32"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "description": "Settings that the tenants will inherit from project level.",
      "properties": {
        "emailSendingConfig": {
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "description": "Response message for RevokeToken. Empty for now.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "description": "Configuration mobile links.",
      "properties": {
        "domain": {
          "description": "Open code in app domain to use for app links and universal links.",
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ],
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "type": "object",
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "properties": {
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "senderDisplayName": {
          "description": "Sender display name",
          "type": "string"
        },
        "customized": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the body or subject of the email is customized."
        },
        "bodyFormat": {
          "description": "Email body format",
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "type": "string"
        },
        "senderLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Email",
      "type": "object",
      "description": "Configuration options related to authenticating a user by their email address.",
      "properties": {
        "enabled": {
          "description": "Whether email auth is enabled for the project or not.",
          "type": "boolean"
        },
        "passwordRequired": {
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "properties": {
        "spEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spCertificates": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          },
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow."
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleIamV1GetPolicyOptions",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
      "properties": {
        "ssoUrl": {
          "description": "URL to send Authentication request to.",
          "type": "string"
        },
        "signRequest": {
          "description": "Indicates if outbounding SAMLRequest should be signed.",
          "type": "boolean"
        },
        "idpEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "idpCertificates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          },
          "description": "IDP's public keys for verifying signature in the assertions."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "type": "object",
      "description": "FinalizeMfaEnrollment response.",
      "properties": {
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Auxiliary auth info specific to phone auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        },
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge.",
      "properties": {
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "description": "Options related to MultiFactor Authentication for the project.",
      "properties": {
        "enabledProviders": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ],
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ]
          },
          "description": "A list of usable second factors for this project."
        },
        "state": {
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "type": "string"
        },
        "providerConfigs": {
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "properties": {
        "issuer": {
          "description": "For OIDC Idps, the issuer identifier.",
          "type": "string"
        },
        "name": {
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        },
        "clientSecret": {
          "description": "The client secret of the OAuth client, to enable OIDC code flow.",
          "type": "string"
        },
        "clientId": {
          "description": "The client id of an OAuth client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
      "description": "The config for a reCAPTCHA managed rule. Models a single interval [start_score, end_score]. The start_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "properties": {
        "endScore": {
          "description": "The end score (inclusive) of the score range for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the riskiest request (likely a bot), whereas 1.0 indicates the safest request (likely a human). See https://cloud.google.com/recaptcha-enterprise/docs/interpret-assessment.",
          "format": "float",
          "type": "number"
        },
        "action": {
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "description": "Withdraws MFA.",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from a current MFA enrollment.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "type": "object",
      "description": "The information required to auto-retrieve an SMS.",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "description": "Additional config for SignInWithApple.",
      "properties": {
        "codeFlowConfig": {
          "description": "Additional config for Apple for code flow.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
        },
        "bundleIds": {
          "description": "A list of Bundle ID's usable by this project",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate",
      "type": "object",
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "properties": {
        "expiresAt": {
          "type": "string",
          "description": "Timestamp of the cert expiration instance.",
          "format": "google-datetime"
        },
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "description": "Response for ListInboundSamlConfigs",
      "properties": {
        "inboundSamlConfigs": {
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "properties": {
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\""
        },
        "recaptchaConfig": {
          "description": "The tenant-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "passwordPolicyConfig": {
          "description": "The tenant-level password policy config",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "testPhoneNumbers": {
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "hashConfig": {
          "readOnly": true,
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        },
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "mobileLinksConfig": {
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "deprecated": true
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant"
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy",
      "description": "Configuration for password policy.",
      "properties": {
        "schemaVersion": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. schema version number for the password policy",
          "format": "int32"
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "allowedNonAlphanumericCharacters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement."
        },
        "enforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Output only. Which enforcement mode to use for the password policy.",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
[...]
