{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "description": "The information required to auto-retrieve an SMS.",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "type": "object",
      "properties": {
        "phoneInfo": {
          "description": "Phone number to receive OTP for MFA.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "type": "object",
      "description": "An Identity Platform account's information.",
      "properties": {
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "rawPassword": {
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text.",
          "type": "string"
        },
        "customAuth": {
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true,
          "type": "boolean"
        },
        "phoneNumber": {
          "description": "The account's phone number.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "int32"
        },
        "lastRefreshAt": {
          "description": "Timestamp when an ID token was last minted for this account.",
          "format": "google-datetime",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "validSince": {
          "type": "string",
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "format": "int64"
        },
        "screenName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This account's screen name at Twitter or login name at GitHub."
        },
        "displayName": {
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the account's email address has been verified.",
          "type": "boolean"
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "Information about the user as provided by various Identity Providers.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          }
        },
        "language": {
          "type": "string",
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "format": "double"
        },
        "tenantId": {
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "timeZone": {
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "lastLoginAt": {
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "format": "int64",
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "emailLinkSignin": {
          "type": "boolean",
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "format": "int64"
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "passwordHash": {
          "type": "string",
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "format": "byte"
        },
        "salt": {
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "byte",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1UserInfo"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "description": "Response message for SignInWithGameCenter",
      "properties": {
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the authenticated user.",
          "type": "string"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "properties": {
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "email": {
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "description": "Request message for UploadAccount.",
      "properties": {
        "passwordHashOrder": {
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "type": "string"
        },
        "saltSeparator": {
          "type": "string",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character.",
          "format": "byte"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "allowOverwrite": {
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned.",
          "type": "boolean"
        },
        "argon2Parameters": {
          "description": "The parameters for Argon2 hashing algorithm.",
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
        },
        "signerKey": {
          "type": "string",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "format": "byte"
        },
        "sanityCheck": {
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped.",
          "type": "boolean"
        },
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        },
        "memoryCost": {
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "format": "int32",
          "type": "integer"
        },
        "parallelization": {
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "blockSize": {
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "users": {
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array"
        },
        "dkLen": {
          "type": "integer",
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "format": "int32"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "rounds": {
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "type": "object",
      "description": "The parameters for Argon2 hashing algorithm.",
      "properties": {
        "hashLengthBytes": {
          "type": "integer",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024.",
          "format": "int32"
        },
        "parallelism": {
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        },
        "memoryCostKib": {
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "format": "int32",
          "type": "integer"
        },
        "version": {
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ]
        },
        "associatedData": {
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "format": "byte",
          "type": "string"
        },
        "hashType": {
          "type": "string",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ]
        },
        "iterations": {
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "type": "object",
      "description": "Request message for BatchDeleteAccounts.",
      "properties": {
        "localIds": {
          "description": "Required. List of user IDs to be deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "force": {
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "properties": {
        "appToken": {
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service).",
          "type": "string"
        },
        "isSandbox": {
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "description": "Federated user identifier at an Identity Provider.",
      "properties": {
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        },
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "type": "object",
      "description": "Response message for GetProjectConfig.",
      "properties": {
        "useEmailSending": {
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "allowPasswordUser": {
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "idpConfig": {
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          },
          "type": "array"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "dynamicLinksDomain": {
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "apiKey": {
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "type": "object",
      "description": "Response message for DownloadAccount.",
      "properties": {
        "users": {
          "type": "array",
          "description": "All accounts belonging to the project/tenant limited by max_results in the request.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "nextPageToken": {
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "description": "Response message for SignInWithPhoneNumber.",
      "properties": {
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "description": "The number of seconds until the temporary proof expires.",
          "format": "int64"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "description": "Do not use.",
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        },
        "idToken": {
          "description": "Identity Platform ID token for the authenticated user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "type": "object",
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "properties": {
        "enrolledAt": {
          "type": "string",
          "description": "Timestamp when the account enrolled this second factor.",
          "format": "google-datetime"
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "readOnly": true,
          "description": "Output only. Unobfuscated phone_info.",
          "type": "string"
        },
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "type": "object",
      "description": "Response message for SignInWithCustomToken.",
      "properties": {
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse",
      "description": "Response message for GetOobCode.",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "oobLink": {
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters.",
          "type": "string"
        },
        "oobCode": {
          "description": "If return_oob_link is true in the request, the OOB code to send.",
          "type": "string"
        },
        "email": {
          "description": "If return_oob_link is false in the request, the email address the verification was sent to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "object",
      "description": "Request message for SetAccountInfo.",
      "properties": {
        "localId": {
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "phoneNumber": {
          "description": "The phone number to be updated in the account's attributes.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "photoUrl": {
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters.",
          "type": "string"
        },
        "deleteProvider": {
          "description": "The Identity Providers to unlink from the user's account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "validSince": {
          "type": "string",
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid.",
          "format": "int64"
        },
        "displayName": {
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "upgradeToFederatedLogin": {
          "description": "Whether the account should be restricted to only using federated login.",
          "type": "boolean"
        },
        "customAttributes": {
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
          "type": "string"
        },
        "disableUser": {
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in.",
          "type": "boolean"
        },
        "email": {
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator.",
          "type": "string"
        },
        "password": {
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long.",
          "type": "string"
        },
        "mfa": {
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo"
        },
        "linkProviderUserInfo": {
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
        },
        "lastLoginAt": {
          "description": "The timestamp in milliseconds when the account last logged in.",
          "format": "int64",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp in milliseconds when the account was created.",
          "format": "int64"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "captchaResponse": {
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities.",
          "type": "string"
        },
        "oobCode": {
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL",
          "type": "string"
        },
        "deleteAttribute": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ],
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ]
          }
        },
        "provider": {
          "type": "array",
          "description": "The Identity Providers that the account should be associated with.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "description": "Response message for CreateAuthUri.",
      "properties": {
        "providerId": {
          "description": "The provider ID from the request, if provided.",
          "type": "string"
        },
        "forExistingProvider": {
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "captchaRequired": {
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "registered": {
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request.",
          "type": "boolean"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "authUri": {
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request.",
          "type": "string"
        },
        "signinMethods": {
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sessionId": {
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks.",
          "type": "string"
        },
        "allProviders": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "description": "Response message for UploadAccount.",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "description": "Request message for SignInWithGameCenter",
      "properties": {
        "publicKeyUrl": {
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple.",
          "type": "string"
        },
        "displayName": {
          "description": "The user's Game Center display name.",
          "type": "string"
        },
        "playerId": {
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The verification signature data generated by Apple.",
          "type": "string"
        },
        "salt": {
          "description": "Required. A random string used to generate the given signature.",
          "type": "string"
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "description": "Information about the user as provided by various Identity Providers.",
      "properties": {
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of the Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "description": "The user's screen_name at Twitter or login name at GitHub.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The user's phone number at the Identity Provider.",
          "type": "string"
        },
        "displayName": {
          "description": "The user's display name at the Identity Provider.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's profile photo URL at the Identity Provider.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's identifier at the Identity Provider.",
          "type": "string"
        },
        "email": {
          "description": "The user's email address at the Identity Provider.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "type": "object",
      "description": "Request message for QueryUserInfo.",
      "properties": {
        "returnUserInfo": {
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`.",
          "type": "boolean"
        },
        "offset": {
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "format": "int64",
          "type": "string"
        },
        "order": {
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ]
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "limit": {
          "type": "string",
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "format": "int64"
        },
        "sortBy": {
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ],
          "type": "string",
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "description": "Request message for IssueSamlResponse.",
      "properties": {
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        },
        "rpId": {
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse.",
          "type": "string"
        },
        "samlAppEntityId": {
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "type": "object",
      "description": "Request message for DeleteAccount.",
      "properties": {
        "localId": {
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "type": "object",
      "description": "Request message for CreateSessionCookie.",
      "properties": {
        "idToken": {
          "description": "Required. A valid Identity Platform ID token.",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "validDuration": {
          "description": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "type": "object",
      "description": "Response message to BatchDeleteAccounts.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be deleted.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "description": "Information about TOTP MFA.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "description": "Response message for SendVerificationCode.",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "description": "Warning notifications for the user.",
      "properties": {
        "notificationCode": {
          "description": "Warning notification enum. Can be used for localization.",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "type": "string",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        },
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "description": "Response message for SetAccountInfo",
      "properties": {
        "passwordHash": {
          "description": "Deprecated. No actual password hash is currently returned.",
          "deprecated": true,
          "type": "string"
        },
        "refreshToken": {
          "description": "A refresh token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the account's email has been verified.",
          "type": "boolean"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "displayName": {
          "description": "The account's display name.",
          "deprecated": true,
          "type": "string"
        },
        "newEmail": {
          "description": "The new email that has been set on the user's account attributes.",
          "type": "string"
        },
        "email": {
          "description": "The account's email address.",
          "deprecated": true,
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The linked Identity Providers on the account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo URL for the account's profile photo.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "description": "Response message for GetSessionCookiePublicKeys.",
      "properties": {
        "keys": {
          "type": "array",
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517).",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "type": "object",
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "properties": {
        "iosSecret": {
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "tenantId": {
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "clientType": {
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string"
        },
        "safetyNetToken": {
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
        },
        "iosReceipt": {
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "description": "Request message for SignInWithCustomToken.",
      "properties": {
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "token": {
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "type": "object",
      "description": "Error information explaining why an account cannot be uploaded. batch upload.",
      "properties": {
        "message": {
          "description": "Detailed error message",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "The index of the item, range is [0, request.size - 1]",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo"
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "type": "object",
      "description": "Response message for GetRecaptchaParam.",
      "properties": {
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaSiteKey": {
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present.",
          "type": "string"
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "description": "Request message for SignInWithIdp.",
      "properties": {
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "autoCreate": {
          "deprecated": true,
          "type": "boolean"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "requestUri": {
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential.",
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking.",
          "type": "string"
        },
        "returnIdpCredential": {
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "type": "object",
      "description": "Response message for DeleteAccount.",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "description": "Request message for ResetPassword.",
      "properties": {
        "oldPassword": {
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        },
        "tenantId": {
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "description": "Response message for SignInWithIdp.",
      "properties": {
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64"
        },
        "dateOfBirth": {
          "description": "The date of birth for the user's account at the IdP.",
          "type": "string"
        },
        "needEmail": {
          "deprecated": true,
          "type": "boolean"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "oauthAccessToken": {
          "description": "The OAuth access token from the IdP, if available.",
          "type": "string"
        },
        "verifiedProvider": {
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nickName": {
          "description": "The nickname for the user's account at the IdP.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "format": "int32"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "rawUserInfo": {
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "oauthIdToken": {
          "description": "The OpenID Connect ID token from the IdP, if available.",
          "type": "string"
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name for the user's account at the IdP.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated Identity Platform user. Always present in the response.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user account's email address is verified.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "description": "Request message for SignUp.",
      "properties": {
        "emailVerified": {
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "displayName": {
          "description": "The display name of the user to be created.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
          "type": "string"
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string"
        },
        "disabled": {
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "mfaInfo": {
          "description": "The multi-factor authentication providers for the user to create.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          },
          "type": "array"
        },
        "email": {
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided.",
          "type": "string"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "photoUrl": {
          "description": "The profile photo url of the user to create.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "type": "object",
      "description": "Response message for SignInWithPassword.",
      "properties": {
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token.",
          "deprecated": true
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "userNotifications": {
          "description": "Warning notifications for the user.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          },
          "type": "array"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The access token expiration time in seconds.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "displayName": {
          "description": "The user's display name stored in the account's attributes.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64"
        },
        "oauthAuthorizationCode": {
          "deprecated": true,
          "type": "string"
        },
        "profilePicture": {
          "description": "The user's profile picture stored in the account's attributes.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is for an existing account. Always true.",
          "deprecated": true
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "properties": {
        "kty": {
          "description": "Key type.",
          "type": "string"
        },
        "use": {
          "description": "Key use.",
          "type": "string"
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "alg": {
          "description": "Signature algorithm.",
          "type": "string"
        },
        "e": {
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "description": "Email template",
      "properties": {
        "from": {
          "description": "From address of the email",
          "type": "string"
        },
        "customized": {
          "description": "Whether the body or subject of the email is customized.",
          "type": "boolean"
        },
        "format": {
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "type": "string",
          "description": "Email body format",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ]
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the template is disabled. If true, a default template will be used.",
          "type": "boolean"
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "type": "object",
      "description": "Response message for GetAccountInfo.",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "users": {
          "type": "array",
          "description": "The information of specific user account(s) matching the parameters in the request.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "description": "Response message for CreateSessionCookie.",
      "properties": {
        "sessionCookie": {
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "description": "Response message for QueryUserInfo.",
      "properties": {
        "recordsCount": {
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "format": "int64",
          "type": "string"
        },
        "userInfo": {
          "type": "array",
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest",
      "description": "Request message for CreateAuthUri.",
      "properties": {
        "sessionId": {
          "description": "A session ID that can be verified against in SignInWithIdp to prevent session fixation attacks. If absent, a random string will be generated and returned as the session ID.",
          "type": "string"
        },
        "context": {
          "description": "An opaque string used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the IdP for the user to sign in with. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`. At least one of the fields `identifier` and `provider_id` must be set.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "Used for the Google provider. The G Suite hosted domain of the user in order to restrict sign-in to users at that domain.",
          "type": "string"
        },
        "oauthScope": {
          "description": "Additional space-delimited OAuth 2.0 scopes specifying the scope of the authentication request with the IdP. Used for OAuth 2.0 IdPs. For the Google provider, the authorization code flow will be used if this field is set.",
          "type": "string"
        },
        "continueUri": {
          "description": "A valid URL for the IdP to redirect the user back to. The URL cannot contain fragments or the reserved `state` query parameter.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create an authorization URI or lookup an email identifier for. If not set, the operation will be performed in the default Identity Platform instance in the project.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Used for the Google provider. The type of the authentication flow to be used. If present, this should be `CODE_FLOW` to specify the authorization code flow. Otherwise, the default ID Token flow will be used.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "deprecated": true,
          "type": "string"
        },
        "appId": {
          "deprecated": true,
          "type": "string"
        },
        "customParameter": {
          "type": "object",
          "description": "Additional customized query parameters to be added to the authorization URI. The following parameters are reserved and cannot be added: `client_id`, `response_type`, `scope`, `redirect_uri`, `state`. For the Microsoft provider, the Azure AD tenant to sign-in to can be specified in the `tenant` custom parameter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identifier": {
          "description": "The email identifier of the user account to fetch associated providers for. At least one of the fields `identifier` and `provider_id` must be set. The length of the email address should be less than 256 characters and in the format of `name@domain.tld`. The email address should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "openidRealm": {
          "deprecated": true,
          "type": "string"
        },
        "otaApp": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "description": "Request message for SignInWithPhoneNumber.",
      "properties": {
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request.",
          "type": "string"
        },
        "operation": {
          "deprecated": true,
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "type": "string",
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ]
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "type": "object",
      "description": "Request message for GetOobCode.",
      "properties": {
        "idToken": {
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true.",
          "type": "string"
        },
        "continueUrl": {
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code.",
          "type": "string"
        },
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "androidInstallApp": {
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "clientType": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "newEmail": {
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests.",
          "type": "string"
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "requestType": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL",
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
[...]
