{
  "version": "v2",
  "ownerName": "Google",
  "id": "identitytoolkit:v2",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "description": "Phone Verification info for a FinalizeMfa request.",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required if Android verification proof is presented."
        },
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        },
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "properties": {
        "customDomainState": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful."
        },
        "customDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The applied verified custom domain."
        },
        "domainVerificationRequestTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of initial request for the current domain verification.",
          "format": "google-datetime"
        },
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "pendingCustomDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The custom domain that's to be verified."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "type": "object"
    },
    "GoogleIamV1GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GoogleIamV1GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "type": "object",
      "properties": {
        "memoryCost": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field."
        },
        "signerKey": {
          "description": "Output only. Signer key in base64.",
          "readOnly": true,
          "type": "string"
        },
        "saltSeparator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "algorithm": {
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ]
        },
        "rounds": {
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "description": "FinalizeMfaEnrollment response.",
      "properties": {
        "phoneAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "description": "Auxiliary auth info specific to phone auth."
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token updated to reflect MFA enrollment."
        },
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey",
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\""
        },
        "type": {
          "type": "string",
          "description": "The client's platform type.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "type": "object",
      "properties": {
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserDeletion": {
          "type": "boolean",
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
      "description": "Configuration related to Blocking Functions.",
      "type": "object",
      "properties": {
        "triggers": {
          "type": "object",
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          }
        },
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "appleSignInConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
          "description": "Additional config for Apple-based projects."
        },
        "clientSecret": {
          "type": "string",
          "description": "OAuth client secret."
        },
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "OAuth client ID."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "minPasswordLength": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum password length. Range from 6 to 30"
        },
        "maxPasswordLength": {
          "format": "int32",
          "description": "Maximum password length. No default max length",
          "type": "integer"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "containsNonAlphanumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a non alpha numeric character."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa."
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "type": "object",
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "description": "Response for ListInboundSamlConfigs",
      "type": "object",
      "properties": {
        "inboundSamlConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "properties": {
        "useDeviceLocale": {
          "type": "boolean",
          "description": "Whether to use the accept_language header for SMS."
        },
        "smsTemplate": {
          "readOnly": true,
          "description": "Output only. The template to use when sending an SMS.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendSms",
      "description": "Options for SMS sending."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "description": "StartMfaSignIn response."
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "properties": {
        "recaptchaKey": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers.",
          "type": "string"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "recaptchaEnforcementState": {
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig",
      "description": "Configuration for reCAPTCHA",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "properties": {
        "idpCertificates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          },
          "description": "IDP's public keys for verifying signature in the assertions."
        },
        "ssoUrl": {
          "description": "URL to send Authentication request to.",
          "type": "string"
        },
        "signRequest": {
          "description": "Indicates if outbounding SAMLRequest should be signed.",
          "type": "boolean"
        },
        "idpEntityId": {
          "type": "string",
          "description": "Unique identifier for all SAML entities."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig",
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests."
        },
        "spConfig": {
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
        },
        "idpConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party."
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "properties": {
        "enabled": {
          "description": "Whether logging is enabled for this project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "type": "object",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "senderDisplayName": {
          "type": "string",
          "description": "Sender display name"
        },
        "customized": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the body or subject of the email is customized."
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "senderLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "bodyFormat": {
          "type": "string",
          "description": "Email body format",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "properties": {
        "disallowedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list."
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "properties": {
        "passwordRequired": {
          "type": "boolean",
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link."
        },
        "enabled": {
          "description": "Whether email auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Email",
      "description": "Configuration options related to authenticating a user by their email address.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "description": "Request for InitializeIdentityPlatform.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
      "description": "App Verification info for a StartMfa request.",
      "properties": {
        "phoneNumber": {
          "description": "Required for enrollment. Phone number to be enrolled as MFA.",
          "type": "string"
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "clientType": {
          "type": "string",
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "iosReceipt": {
          "description": "iOS only. Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled."
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo"
        },
        "iosSecret": {
          "description": "iOS only. Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
        }
      }
    },
    "GoogleIamV1Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse",
      "description": "StartMfaEnrollment response.",
      "properties": {
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        },
        "totpSessionInfo": {
          "description": "Enrollment response info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "properties": {
        "startScore": {
          "type": "number",
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms.",
          "format": "float"
        },
        "action": {
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule",
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "defaultSupportedIdpConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse",
      "description": "Response for DefaultSupportedIdpConfigs",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "description": "FinalizeMfaSignIn response.",
      "properties": {
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "type": "string",
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "description": "Configuration related to multi-tenant functionality.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "description": "Settings that the tenants will inherit from project level.",
      "type": "object",
      "properties": {
        "emailSendingConfig": {
          "type": "boolean",
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "properties": {
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        },
        "anonymous": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
          "description": "Configuration options related to authenticating an anonymous user."
        },
        "email": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email",
          "description": "Configuration options related to authenticating a user by their email address."
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        },
        "hashConfig": {
          "description": "Output only. Hash config information.",
          "readOnly": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
      "description": "Configuration related to local sign in methods."
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "type": "object",
      "id": "GoogleIamV1GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "properties": {
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Key ID for the private key."
        },
        "privateKey": {
          "type": "string",
          "description": "Private key used for signing the client secret JWT."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
      "description": "Additional config for Apple for code flow.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        },
        "apiKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API key that can be used when making requests for this project."
        },
        "firebaseSubdomain": {
          "description": "Output only. Firebase subdomain.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "description": "Options related to how clients making requests on behalf of a project should be configured.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "properties": {
        "containsNonAlphanumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a non alpha numeric character."
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        },
        "maxPasswordLength": {
          "type": "integer",
          "description": "Maximum password length. No default max length",
          "format": "int32"
        },
        "containsLowercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain a lower case character."
        },
        "containsUppercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain an upper case character."
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
      "description": "Custom strength options to enforce on user passwords."
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to get the next page of results."
        },
        "tenants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "description": "A list of tenants under the given agent project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "description": "Response message for ListTenants.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "properties": {
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from a current MFA enrollment."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "description": "Withdraws MFA.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig",
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "properties": {
        "clientSecret": {
          "description": "The client secret of the OAuth client, to enable OIDC code flow.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests."
        },
        "clientId": {
          "description": "The client id of an OAuth client.",
          "type": "string"
        },
        "issuer": {
          "description": "For OIDC Idps, the issuer identifier.",
          "type": "string"
        },
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        },
        "displayName": {
          "type": "string",
          "description": "The config's display name set by developers."
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "type": "string",
          "description": "Describes the state of the MultiFactor Authentication type.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "properties": {
        "adjacentIntervals": {
          "format": "int32",
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for StartMfa.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "oauthIdpConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse",
      "description": "Response for ListOAuthIdpConfigs",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse",
      "description": "Response message for RevokeToken. Empty for now."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
      "description": "Phone Verification info for a FinalizeMfa response.",
      "properties": {
        "phoneNumber": {
          "description": "For Android verification proof.",
          "type": "string"
        },
        "androidVerificationProofExpireTime": {
          "description": "Android only. Expiration time of verification proof in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "androidVerificationProof": {
          "description": "Android only. Long-lived replacement for valid code tied to android device.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "properties": {
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the tenant."
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "passwordPolicyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "description": "The tenant-level password policy config"
        },
        "enableEmailLinkSignin": {
          "type": "boolean",
          "description": "Whether to enable email link user authentication."
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "readOnly": true,
          "type": "string"
        },
        "hashConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field.",
          "readOnly": true
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "emailPrivacyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "description": "Configuration for settings related to email privacy and public visibility."
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "allowPasswordSignup": {
          "type": "boolean",
          "description": "Whether to allow email/password user authentication."
        },
        "disableAuth": {
          "type": "boolean",
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users."
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "recaptchaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "description": "The tenant-level reCAPTCHA config."
        },
        "testPhoneNumbers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "type": "object"
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "mobileLinksConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android).",
          "deprecated": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant",
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "properties": {
        "updateTime": {
          "description": "When the trigger was changed.",
          "type": "string",
          "format": "google-datetime"
        },
        "functionUri": {
          "type": "string",
          "description": "HTTP URI trigger for the Cloud Function."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "description": "Synchronous Cloud Function with HTTP Trigger"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "type": "object",
      "properties": {
        "spEntityId": {
          "type": "string",
          "description": "Unique identifier for all SAML entities."
        },
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spCertificates": {
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
      "description": "Phone Verification info for a StartMfa response.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse",
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "type": "object",
      "properties": {}
    },
    "GoogleIamV1Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "properties": {
        "enforcementState": {
          "type": "string",
          "description": "The reCAPTCHA enforcement state for the provider.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        },
        "provider": {
          "type": "string",
          "description": "The provider that has reCAPTCHA protection.",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ],
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState",
      "description": "Enforcement states for reCAPTCHA protection.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "description": "Options related to MultiFactor Authentication for the project.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "type": "string"
        },
        "enabledProviders": {
          "description": "A list of usable second factors for this project.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ],
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ]
          }
        },
        "providerConfigs": {
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "properties": {
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        },
        "expiresAt": {
          "type": "string",
          "description": "Timestamp of the cert expiration instance.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate",
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP."
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "properties": {
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "method": {
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ],
          "description": "The method used for sending an email.",
          "type": "string"
        },
        "dnsInfo": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
          "description": "Information of custom domain DNS verification."
        },
        "verifyEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for verify email"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app."
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "resetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for reset password"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "description": "Options for email sending."
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse",
      "description": "Response for ListDefaultSupportedIdps",
      "type": "object",
      "properties": {
        "defaultSupportedIdps": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "properties": {
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "SMTP relay host"
        },
        "password": {
          "type": "string",
          "description": "SMTP relay password"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "SMTP relay port"
        },
        "senderEmail": {
          "type": "string",
          "description": "Sender email for the SMTP relay"
        },
        "securityMode": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "type": "string",
          "description": "SMTP security mode."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "description": "Configuration for SMTP relay",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "properties": {
        "idToken": {
          "description": "Required. ID token.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "totpVerificationInfo": {
          "description": "Verification information for TOTP.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo"
        },
        "phoneVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest",
      "description": "Finishes enrolling a second factor for the user."
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "description": "The information required to auto-retrieve an SMS.",
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Config",
      "description": "Represents an Identity Toolkit project.",
      "type": "object",
      "properties": {
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "mobileLinksConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android)."
        },
        "recaptchaConfig": {
          "description": "The project-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "emailPrivacyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "description": "Configuration for settings related to email privacy and public visibility."
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "multiTenant": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
          "description": "Configuration related to multi-tenant functionality."
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
        },
        "defaultHostingSite": {
          "description": "Output only. Default Firebase hosting site name",
          "readOnly": true,
          "type": "string"
        },
        "authorizedDomains": {
          "description": "List of domains authorized for OAuth redirects",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mfa": {
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "notification": {
          "description": "Configuration related to sending notifications to users.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
        },
        "quota": {
          "description": "Configuration related to quotas.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig"
        },
        "subtype": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "An Identity Platform project.",
            "A Firebase Authentication project."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The subtype of this config.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "IDENTITY_PLATFORM",
            "FIREBASE_AUTH"
          ]
        },
        "blockingFunctions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
          "description": "Configuration related to blocking functions."
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days."
        },
        "name": {
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
          "readOnly": true,
          "type": "string"
        },
        "signIn": {
          "description": "Configuration related to local sign in methods.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
        },
        "passwordPolicyConfig": {
          "description": "The project level password policy configuration.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "description": "Configuration mobile links.",
      "type": "object",
      "properties": {
        "domain": {
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ],
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "description": "Open code in app domain to use for app links and universal links.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
      "description": "Configuration related to sending notifications to users.",
      "properties": {
        "sendSms": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms",
          "description": "Options for SMS sending."
        },
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "defaultLocale": {
          "description": "Default locale used for email and SMS in IETF BCP 47 format.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "properties": {
        "idToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OIDC identity provider's ID token."
        },
        "accessToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OAuth identity provider's access token."
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
      "description": "Indicates which credentials to pass to the registered Blocking Functions."
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
      "description": "Configuration options related to authenticating an anonymous user."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "properties": {
        "enableImprovedEmailPrivacy": {
          "type": "boolean",
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "type": "object",
      "properties": {
        "allowByDefault": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list."
        },
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate",
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP."
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion",
      "description": "The strength attributes for the password policy on the project.",
      "properties": {
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
        },
        "schemaVersion": {
          "description": "Output only. schema version number for the password policy",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "properties": {
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        },
        "customStrengthOptions": {
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
          "description": "The custom strength options enforced by the password policy."
        },
        "schemaVersion": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. schema version number for the password policy"
        },
        "allowedNonAlphanumericCharacters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement."
        },
        "enforcementState": {
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Which enforcement mode to use for the password policy.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy",
      "description": "Configuration for password policy."
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "properties": {
        "allowedRegions": {
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "boolean",
          "description": "If true, ID token is returned from IdP's authorization endpoint."
        },
        "token": {
          "description": "Do not use. The `token` response type is not supported at the moment.",
          "deprecated": true,
          "type": "boolean"
        },
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "description": "Configuration related to quotas.",
      "type": "object",
      "properties": {
        "signUpQuotaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "properties": {
        "totpVerificationInfo": {
          "description": "Proof of completion of the TOTP based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "description": "Proof of completion of the SMS based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "description": "Finalizes sign-in by verifying MFA challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "description": "Additional config for SignInWithApple.",
      "properties": {
        "codeFlowConfig": {
          "description": "Additional config for Apple for code flow.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
        },
        "bundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Bundle ID's usable by this project"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "properties": {
        "useSmsBotScore": {
          "type": "boolean",
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE."
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "recaptchaKeys": {
          "description": "The reCAPTCHA keys.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          }
        },
        "tollFraudManagedRules": {
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          }
        },
        "useAccountDefender": {
          "type": "boolean",
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`."
        },
        "phoneEnforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "type": "string",
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA."
        },
        "emailPasswordEnforcementState": {
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "type": "string"
        },
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          },
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "description": "The reCAPTCHA Enterprise integration config.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "properties": {
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "An encoded string that represents the enrollment session."
        },
        "hashingAlgorithm": {
          "type": "string",
          "description": "The hashing algorithm used to generate the verification code."
        },
        "periodSec": {
          "format": "int32",
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer"
        },
        "finalizeEnrollmentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time by which the enrollment must finish."
        },
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "description": "Configuration options related to authenticated a user by their phone number.",
      "properties": {
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        },
        "testPhoneNumbers": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of that can be used for phone auth testing."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "properties": {
        "providerId": {
          "type": "string",
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\"."
        },
        "idToken": {
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately.",
          "type": "string"
        },
        "redirectUri": {
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged."
        },
        "tokenType": {
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "description": "Required. The type of the token to be revoked.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "description": "Request message for RevokeToken.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "description": "The configuration for the password policy on the project.",
      "properties": {
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the password policy on the project was updated."
        },
        "passwordPolicyEnforcementState": {
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
[...]
