{
  "id": "identitytoolkit:v1",
  "title": "Identity Toolkit API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "version_module": true,
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "resources": {
    "accounts": {
      "methods": {
        "signInWithEmailLink": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse"
          },
          "path": "v1/accounts:signInWithEmailLink",
          "description": "Signs in or signs up a user with a out-of-band code from an email link. If a user does not exist with the given email address, a user record will be created. If the sign-in succeeds, an Identity Platform ID and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.signInWithEmailLink",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
          },
          "parameters": {},
          "flatPath": "v1/accounts:signInWithEmailLink"
        },
        "sendVerificationCode": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
          },
          "parameters": {},
          "flatPath": "v1/accounts:sendVerificationCode",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:sendVerificationCode",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse"
          },
          "description": "Sends a SMS verification code for phone number sign-in. To localize the text of the SMS sent to the user, set the HTTP header `X-Firebase-Locale` to the language code that corresponds with the user's locale. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "parameters": {},
          "flatPath": "v1/accounts:update",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
          },
          "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
          "id": "identitytoolkit.accounts.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
          },
          "path": "v1/accounts:update"
        },
        "signInWithCustomToken": {
          "description": "Signs in or signs up a user by exchanging a custom Auth token. Upon a successful sign-in or sign-up, a new Identity Platform ID token and refresh token are issued for the user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.signInWithCustomToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:signInWithCustomToken",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
          },
          "parameters": {},
          "flatPath": "v1/accounts:signInWithCustomToken",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
          }
        },
        "signInWithPassword": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
          },
          "path": "v1/accounts:signInWithPassword",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signInWithPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Signs in a user with email and password. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
          },
          "flatPath": "v1/accounts:signInWithPassword",
          "parameters": {}
        },
        "createAuthUri": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest"
          },
          "flatPath": "v1/accounts:createAuthUri",
          "parameters": {},
          "path": "v1/accounts:createAuthUri",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "identitytoolkit.accounts.createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "If an email identifier is specified, checks and returns if any user account is registered with the email. If there is a registered account, fetches all providers associated with the account's email. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list. If the provider ID of an Identity Provider (IdP) is specified, creates an authorization URI for the IdP. The user can be directed to this URI to sign in with the IdP. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project."
        },
        "signInWithPhoneNumber": {
          "flatPath": "v1/accounts:signInWithPhoneNumber",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
          },
          "id": "identitytoolkit.accounts.signInWithPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Completes a phone number authentication attempt. If a user already exists with the given phone number, an ID token is minted for that user. Otherwise, a new user is created and associated with the phone number. This method may also be used to link a phone number to an existing user. To localize the text of the SMS sent to the user, set the HTTP header `X-Firebase-Locale` to the language code that corresponds with the user's locale. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse"
          },
          "path": "v1/accounts:signInWithPhoneNumber",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "resetPassword": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse"
          },
          "path": "v1/accounts:resetPassword",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Resets the password of an account either using an out-of-band code generated by sendOobCode or by specifying the email and password of the account to be modified. Can also check the purpose of an out-of-band code without consuming it.",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
          },
          "flatPath": "v1/accounts:resetPassword",
          "parameters": {}
        },
        "signInWithGameCenter": {
          "description": "Signs in or signs up a user with iOS Game Center credentials. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project. Apple has [deprecated the `playerID` field](https://developer.apple.com/documentation/gamekit/gkplayer/1521127-playerid/). The Apple platform Firebase SDK will use `gamePlayerID` and `teamPlayerID` from version 10.5.0 and onwards. Upgrading to SDK version 10.5.0 or later updates existing integrations that use `playerID` to instead use `gamePlayerID` and `teamPlayerID`. When making calls to `signInWithGameCenter`, you must include `playerID` along with the new fields `gamePlayerID` and `teamPlayerID` to successfully identify all existing users. Upgrading existing Game Center sign in integrations to SDK version 10.5.0 or later is irreversible.",
          "id": "identitytoolkit.accounts.signInWithGameCenter",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:signInWithGameCenter",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
          },
          "parameters": {},
          "flatPath": "v1/accounts:signInWithGameCenter",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
          }
        },
        "verifyIosClient": {
          "description": "Verifies an iOS client is a real iOS device. If the request is valid, a receipt will be sent in the response and a secret will be sent via Apple Push Notification Service. The client should send both of them back to certain Identity Platform APIs in a later call (for example, /accounts:sendVerificationCode), in order to verify the client. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.verifyIosClient",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:verifyIosClient",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
          },
          "parameters": {},
          "flatPath": "v1/accounts:verifyIosClient",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
          }
        },
        "delete": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
          },
          "parameters": {},
          "flatPath": "v1/accounts:delete",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:delete",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
          },
          "description": "Deletes a user's account.",
          "id": "identitytoolkit.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "lookup": {
          "id": "identitytoolkit.accounts.lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
          "path": "v1/accounts:lookup",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/accounts:lookup",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
          }
        },
        "issueSamlResponse": {
          "description": "Experimental",
          "id": "identitytoolkit.accounts.issueSamlResponse",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/accounts:issueSamlResponse",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
          },
          "parameters": {},
          "flatPath": "v1/accounts:issueSamlResponse",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
          }
        },
        "signInWithIdp": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
          },
          "path": "v1/accounts:signInWithIdp",
          "description": "Signs in or signs up a user using credentials from an Identity Provider (IdP). This is done by manually providing an IdP credential, or by providing the authorization response obtained via the authorization request from CreateAuthUri. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. A new Identity Platform user account will be created if the user has not previously signed in to the IdP with the same account. In addition, when the \"One account per email address\" setting is enabled, there should not be an existing Identity Platform user account with the same email address for a new user account to be created. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.signInWithIdp",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest"
          },
          "parameters": {},
          "flatPath": "v1/accounts:signInWithIdp"
        },
        "signUp": {
          "path": "v1/accounts:signUp",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "identitytoolkit.accounts.signUp",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "flatPath": "v1/accounts:signUp",
          "parameters": {}
        },
        "sendOobCode": {
          "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
          "id": "identitytoolkit.accounts.sendOobCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
          },
          "path": "v1/accounts:sendOobCode",
          "parameters": {},
          "flatPath": "v1/accounts:sendOobCode",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
          }
        }
      }
    },
    "v1": {
      "methods": {
        "getPublicKeys": {
          "description": "Retrieves public keys of the legacy Identity Toolkit token signer to enable third parties to verify the legacy ID token. For now the X509 pem cert is the only format supported.",
          "id": "identitytoolkit.getPublicKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/publicKeys",
          "response": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "parameters": {},
          "flatPath": "v1/publicKeys"
        },
        "getProjects": {
          "parameters": {
            "clientId": {
              "type": "string",
              "description": "The RP OAuth client ID. If set, a check will be performed to ensure that the OAuth client is valid for the retrieved project and the request rejected with a client error if not valid.",
              "location": "query"
            },
            "delegatedProjectNumber": {
              "description": "Project Number of the delegated project request. This field should only be used as part of the Firebase V1 migration.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "returnDynamicLink": {
              "type": "boolean",
              "description": "Whether dynamic link should be returned.",
              "location": "query"
            },
            "projectNumber": {
              "format": "int64",
              "type": "string",
              "description": "Project number of the configuration to retrieve. This field is deprecated and should not be used by new integrations.",
              "location": "query"
            },
            "androidPackageName": {
              "type": "string",
              "location": "query",
              "description": "Android package name to check against the real android package name. If this field is provided, and sha1_cert_hash is not provided, the action will throw an error if this does not match the real android package name."
            },
            "sha1Cert": {
              "location": "query",
              "description": "SHA-1 Android application cert hash. If set, a check will be performed to ensure that the cert hash is valid for the retrieved project and android_package_name.",
              "type": "string"
            },
            "firebaseAppId": {
              "description": "The Firebase app ID, for applications that use Firebase. This can be found in the Firebase console for your project. If set, a check will be performed to ensure that the app ID is valid for the retrieved project. If not valid, the request will be rejected with a client error.",
              "location": "query",
              "type": "string"
            },
            "iosBundleId": {
              "type": "string",
              "location": "query",
              "description": "iOS bundle id to check against the real ios bundle id. If this field is provided, the action will throw an error if this does not match the real iOS bundle id."
            }
          },
          "flatPath": "v1/projects",
          "description": "Gets a project's public Identity Toolkit configuration. (Legacy) This method also supports authenticated calls from a developer to retrieve non-public configuration.",
          "id": "identitytoolkit.getProjects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/projects",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
          }
        },
        "getRecaptchaParams": {
          "id": "identitytoolkit.getRecaptchaParams",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets parameters needed for generating a reCAPTCHA challenge.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse"
          },
          "path": "v1/recaptchaParams",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1/recaptchaParams",
          "parameters": {}
        },
        "getSessionCookiePublicKeys": {
          "flatPath": "v1/sessionCookiePublicKeys",
          "id": "identitytoolkit.getSessionCookiePublicKeys",
          "parameters": {},
          "description": "Retrieves the set of public keys of the session cookie JSON Web Token (JWT) signer that can be used to validate the session cookie created through createSessionCookie.",
          "path": "v1/sessionCookiePublicKeys",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "methods": {
        "accounts": {
          "httpMethod": "POST",
          "parameterOrder": [
            "targetProjectId"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "path": "v1/projects/{+targetProjectId}/accounts",
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.projects.accounts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
            }
          },
          "flatPath": "v1/projects/{projectsId}/accounts"
        },
        "createSessionCookie": {
          "flatPath": "v1/projects/{projectsId}:createSessionCookie",
          "parameters": {
            "targetProjectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the project that the account belongs to.",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
          },
          "id": "identitytoolkit.projects.createSessionCookie",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
          },
          "path": "v1/projects/{+targetProjectId}:createSessionCookie",
          "httpMethod": "POST",
          "parameterOrder": [
            "targetProjectId"
          ]
        },
        "queryAccounts": {
          "httpMethod": "POST",
          "parameterOrder": [
            "targetProjectId"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
          },
          "path": "v1/projects/{+targetProjectId}:queryAccounts",
          "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
          "id": "identitytoolkit.projects.queryAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
          },
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "The ID of the project to which the result is scoped.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}:queryAccounts"
        }
      },
      "resources": {
        "accounts": {
          "methods": {
            "query": {
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
              },
              "flatPath": "v1/projects/{projectsId}/accounts:query",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "description": "The ID of the project to which the result is scoped.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:query",
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.query",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Looks up user accounts within a project or a tenant based on conditions in the request."
            },
            "batchCreate": {
              "parameterOrder": [
                "targetProjectId"
              ],
              "httpMethod": "POST",
              "path": "v1/projects/{+targetProjectId}/accounts:batchCreate",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
              },
              "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
              "id": "identitytoolkit.projects.accounts.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "location": "path",
                  "description": "The Project ID of the Identity Platform project which the account belongs to.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/accounts:batchCreate"
            },
            "delete": {
              "description": "Deletes a user's account.",
              "id": "identitytoolkit.projects.accounts.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "targetProjectId"
              ],
              "httpMethod": "POST",
              "path": "v1/projects/{+targetProjectId}/accounts:delete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/accounts:delete",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
              }
            },
            "lookup": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:lookup",
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
              },
              "flatPath": "v1/projects/{projectsId}/accounts:lookup",
              "parameters": {
                "targetProjectId": {
                  "location": "path",
                  "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              }
            },
            "batchDelete": {
              "flatPath": "v1/projects/{projectsId}/accounts:batchDelete",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
              },
              "id": "identitytoolkit.projects.accounts.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
              "path": "v1/projects/{+targetProjectId}/accounts:batchDelete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "httpMethod": "POST"
            },
            "sendOobCode": {
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
                }
              },
              "flatPath": "v1/projects/{projectsId}/accounts:sendOobCode",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
              },
              "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
              "id": "identitytoolkit.projects.accounts.sendOobCode",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:sendOobCode"
            },
            "batchGet": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:batchGet",
              "httpMethod": "GET",
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
              "flatPath": "v1/projects/{projectsId}/accounts:batchGet",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "maxResults": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                  "location": "query"
                },
                "delegatedProjectNumber": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "format": "int64"
                },
                "tenantId": {
                  "location": "query",
                  "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                  "type": "string"
                },
                "nextPageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "update": {
              "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
              "id": "identitytoolkit.projects.accounts.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:update",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/accounts:update",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
              }
            }
          }
        },
        "tenants": {
          "methods": {
            "accounts": {
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts",
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
                  "pattern": "^[^/]+$"
                },
                "tenantId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
              },
              "id": "identitytoolkit.projects.tenants.accounts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
              },
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts",
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ]
            },
            "createSessionCookie": {
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
              },
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}:createSessionCookie",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The ID of the project that the account belongs to.",
                  "required": true,
                  "type": "string"
                },
                "tenantId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The tenant ID of the Identity Platform tenant the account belongs to."
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
              },
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}:createSessionCookie",
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "id": "identitytoolkit.projects.tenants.createSessionCookie",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state."
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "query": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:query",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.query",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:query",
                  "parameters": {
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the project to which the result is scoped."
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "description": "The ID of the tenant to which the result is scoped.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "batchCreate": {
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchCreate",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
                  },
                  "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "id": "identitytoolkit.projects.tenants.accounts.batchCreate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "The Project ID of the Identity Platform project which the account belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "tenantId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Identity Platform tenant the account belongs to.",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchCreate"
                },
                "batchDelete": {
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchDelete",
                  "parameters": {
                    "targetProjectId": {
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchDelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ]
                },
                "delete": {
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:delete",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "httpMethod": "POST",
                  "id": "identitytoolkit.projects.tenants.accounts.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a user's account.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:delete",
                  "parameters": {
                    "targetProjectId": {
                      "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
                    }
                  }
                },
                "lookup": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:lookup",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.lookup",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:lookup",
                  "parameters": {
                    "targetProjectId": {
                      "location": "path",
                      "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
                    }
                  }
                },
                "sendOobCode": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:sendOobCode",
                  "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
                  "id": "identitytoolkit.projects.tenants.accounts.sendOobCode",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "location": "path",
                      "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:sendOobCode"
                },
                "batchGet": {
                  "parameters": {
                    "targetProjectId": {
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "maxResults": {
                      "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "delegatedProjectNumber": {
                      "deprecated": true,
                      "format": "int64",
                      "type": "string",
                      "location": "query"
                    },
                    "tenantId": {
                      "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "nextPageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The pagination token from the response of a previous request."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchGet",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchGet",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
                  },
                  "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
                  "id": "identitytoolkit.projects.tenants.accounts.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "update": {
                  "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
                  "id": "identitytoolkit.projects.tenants.accounts.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:update",
                  "parameters": {
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
                    },
                    "tenantId": {
                      "location": "path",
                      "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:update",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/identity-platform",
  "name": "identitytoolkit",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "canonicalName": "Identity Toolkit",
  "revision": "20260813",
  "basePath": "",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "description": "From address of the email"
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "format": {
          "description": "Email body format",
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "type": "string"
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "fromLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "description": "Email template"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "description": "Request message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "type": "object",
      "properties": {
        "pendingToken": {
          "type": "string",
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking."
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "returnIdpCredential": {
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`.",
          "type": "boolean"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "requestUri": {
          "type": "string",
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "autoCreate": {
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "description": "Multi-factor authentication related information.",
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "type": "object",
      "properties": {
        "enrollments": {
          "description": "The second factors the user has enrolled.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "description": "Response message for SignInWithPassword.",
      "type": "object",
      "properties": {
        "mfaInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication."
        },
        "registered": {
          "description": "Whether the email is for an existing account. Always true.",
          "type": "boolean",
          "deprecated": true
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "deprecated": true,
          "description": "The OAuth2 access token."
        },
        "displayName": {
          "description": "The user's display name stored in the account's attributes.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "email": {
          "type": "string",
          "description": "The email of the authenticated user. Always present in the response."
        },
        "profilePicture": {
          "type": "string",
          "description": "The user's profile picture stored in the account's attributes."
        },
        "userNotifications": {
          "description": "Warning notifications for the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          }
        },
        "oauthExpireIn": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "The access token expiration time in seconds."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "deprecated": true
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "description": "Detailed error info for accounts that cannot be deleted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "description": "Response message to BatchDeleteAccounts."
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "description": "Request message for GetAccountInfo.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "email": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
        },
        "initialEmail": {
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users.",
          "type": "string"
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        },
        "phoneNumber": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "description": "Request message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code."
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "oldPassword": {
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "type": "object",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "mfaInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication."
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "description": "Response message for SignInWithEmailLink."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "description": "Response message for SetAccountInfo",
      "type": "object",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "providerUserInfo": {
          "description": "The linked Identity Providers on the account.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          }
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "deprecated": true,
          "description": "The account's display name."
        },
        "photoUrl": {
          "deprecated": true,
          "type": "string",
          "description": "The user's photo URL for the account's profile photo."
        },
        "refreshToken": {
          "type": "string",
          "description": "A refresh token for the account. This is used for legacy user sign up."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up."
        },
        "passwordHash": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. No actual password hash is currently returned."
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        },
        "email": {
          "type": "string",
          "deprecated": true,
          "description": "The account's email address."
        },
        "emailVerified": {
          "description": "Whether the account's email has been verified.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "type": "object",
      "properties": {
        "receipt": {
          "type": "string",
          "description": "Receipt of successful app token validation."
        },
        "suggestedTimeout": {
          "type": "string",
          "format": "int64",
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse",
      "description": "Response message for VerifyIosClient."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "description": "Response message for SignInWithCustomToken.",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "description": "Response message for DeleteAccount.",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "type": "object",
      "properties": {
        "customAuth": {
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "int32",
          "type": "integer"
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "lastLoginAt": {
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "format": "int64",
          "type": "string"
        },
        "createdAt": {
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "type": "string",
          "format": "int64"
        },
        "timeZone": {
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions."
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "emailLinkSignin": {
          "type": "boolean",
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec."
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        },
        "tenantId": {
          "type": "string",
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant."
        },
        "validSince": {
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "type": "string",
          "format": "int64"
        },
        "dateOfBirth": {
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "passwordHash": {
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "format": "byte",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "Information about the user as provided by various Identity Providers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          }
        },
        "localId": {
          "type": "string",
          "description": "Immutable. The unique ID of the account."
        },
        "passwordUpdatedAt": {
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "format": "double",
          "type": "number"
        },
        "screenName": {
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "readOnly": true,
          "type": "string"
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "rawPassword": {
          "type": "string",
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email address has been verified."
        },
        "lastRefreshAt": {
          "description": "Timestamp when an ID token was last minted for this account.",
          "format": "google-datetime",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The account's phone number."
        },
        "language": {
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        }
      },
      "description": "An Identity Platform account's information."
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The created user's email.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The created user's display name."
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests."
        },
        "localId": {
          "description": "The ID of the created user. Always present in the response.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "description": "Response message for SignUp."
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "type": "object",
      "properties": {
        "order": {
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`."
        },
        "sortBy": {
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ]
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "returnUserInfo": {
          "type": "boolean",
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`."
        },
        "limit": {
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "description": "Request message for QueryUserInfo."
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "users": {
          "description": "The information of specific user account(s) matching the parameters in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "description": "Response message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "description": "Federated user identifier at an Identity Provider.",
      "type": "object",
      "properties": {
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        },
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object",
      "properties": {
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "enrolledAt": {
          "description": "Timestamp when the account enrolled this second factor.",
          "format": "google-datetime",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "phoneInfo": {
          "type": "string",
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number."
        },
        "unobfuscatedPhoneInfo": {
          "description": "Output only. Unobfuscated phone_info.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "password": {
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long.",
          "type": "string"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "provider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Identity Providers that the account should be associated with."
        },
        "validSince": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "disableUser": {
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in.",
          "type": "boolean"
        },
        "mfa": {
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo"
        },
        "linkProviderUserInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
[...]
