{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version": "v3",
  "batchPath": "batch/identitytoolkit/v3",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "description": "Help the third party sites to implement federated login.",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "title": "Google Identity Toolkit API",
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "name": "identitytoolkit",
  "revision": "20180723",
  "canonicalName": "Identity Toolkit",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "location": "query",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "ResetPasswordResponse": {
      "description": "Response of resetting the password.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "type": "string",
          "default": "identitytoolkit#ResetPasswordResponse"
        },
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        }
      },
      "id": "ResetPasswordResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "verificationProof": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "localId": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        }
      }
    },
    "DownloadAccountResponse": {
      "type": "object",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "type": "string",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The user accounts data."
        }
      },
      "id": "DownloadAccountResponse"
    },
    "UploadAccountResponse": {
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "error": {
          "description": "The error encountered while processing the account info.",
          "type": "array",
          "items": {
            "properties": {
              "index": {
                "description": "The index of the malformed account, starting from 0.",
                "type": "integer",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#UploadAccountResponse",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\"."
        }
      },
      "id": "UploadAccountResponse",
      "type": "object"
    },
    "DeleteAccountResponse": {
      "type": "object",
      "id": "DeleteAccountResponse",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "type": "string",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      }
    },
    "VerifyPasswordResponse": {
      "type": "object",
      "id": "VerifyPasswordResponse",
      "description": "Request of verifying the password.",
      "properties": {
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer",
          "format": "int32"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "description": "Request to delete account.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest"
    },
    "EmailTemplate": {
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "subject": {
          "description": "Subject of the email.",
          "type": "string"
        },
        "body": {
          "description": "Email body.",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "from": {
          "description": "From address of the email.",
          "type": "string"
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        }
      },
      "id": "EmailTemplate"
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "description": "Request to verify a custom token",
      "properties": {
        "token": {
          "description": "The custom token to verify",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "description": "Request to sign in with email.",
      "properties": {
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      },
      "type": "object"
    },
    "SetAccountInfoResponse": {
      "type": "object",
      "description": "Respone of setting the account information.",
      "properties": {
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "type": "array",
          "items": {
            "properties": {
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              }
            },
            "type": "object"
          }
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#SetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\"."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        }
      },
      "id": "SetAccountInfoResponse"
    },
    "GetRecaptchaParamResponse": {
      "id": "GetRecaptchaParamResponse",
      "description": "Response of getting recaptcha param.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\"."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        }
      },
      "type": "object"
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "description": "Response from verifying a custom token",
      "properties": {
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "description": "Request to download user account in batch.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "maxResults": {
          "type": "integer",
          "format": "uint32",
          "description": "The max number of results to return in the response."
        }
      },
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "description": "Request to set the project configuration.",
      "properties": {
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "authorizedDomains": {
          "description": "Authorized domains for widget redirect.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object"
    },
    "Relyingparty": {
      "type": "object",
      "id": "Relyingparty",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "continueUrl": {
          "description": "The url to continue to the Gitkit app",
          "type": "string"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "userIp": {
          "description": "The IP address of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "iOSAppStoreId": {
          "description": "iOS app store id to download the app if it's not already installed",
          "type": "string"
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "androidPackageName": {
          "description": "android package name of the android app to handle the action code",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#relyingparty",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "description": "Template for an individual account info.",
      "properties": {
        "providerUserInfo": {
          "description": "The IDP of the user.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "description": "User's email at IDP.",
                "type": "string"
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              }
            }
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Version of the user's password."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "customAuth": {
          "description": "Whether the user is authenticated by the developer.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "type": "string",
          "format": "int64"
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "screenName": {
          "description": "User's screen name at Twitter or login name at Github.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "User creation timestamp."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "type": "number",
          "format": "double"
        },
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The user's password salt."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "lastLoginAt": {
          "description": "last login timestamp.",
          "type": "string",
          "format": "int64"
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmailLinkSigninResponse": {
      "type": "object",
      "description": "Response of email signIn.",
      "properties": {
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "email": {
          "description": "The user's email.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "Expiration time of STS id token in seconds."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "idToken": {
          "description": "The STS id token to login the newly signed in user.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\"."
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        }
      },
      "id": "EmailLinkSigninResponse"
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "id": "GetAccountInfoResponse",
      "description": "Response of getting account information.",
      "properties": {
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The info of the users."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        }
      }
    },
    "VerifyAssertionResponse": {
      "type": "object",
      "id": "VerifyAssertionResponse",
      "description": "Response of verifying the IDP assertion.",
      "properties": {
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "timeZone": {
          "description": "The timezone of the user.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        },
        "firstName": {
          "description": "The first name of the user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "oauthIdToken": {
          "description": "The OIDC id token.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "verifiedProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "When action is 'map', contains the idps which can be used for confirmation."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "idToken": {
          "description": "The ID token.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyAssertionResponse",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\"."
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "language": {
          "description": "The language preference of the user.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "fullName": {
          "description": "The full name of the user.",
          "type": "string"
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "code": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "idToken": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "description": "Request to sign out user.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "appId": {
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.",
          "type": "string"
        },
        "customParameter": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "continueUri": {
          "description": "The URI to which the IDP redirects the user after the federated login flow.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "tenantProjectNumber": {
          "type": "string",
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "type": "object",
      "id": "GetOobConfirmationCodeResponse",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "description": "Request to upload user account in batch.",
      "properties": {
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "blockSize": {
          "format": "int32",
          "type": "integer"
        },
        "cpuMemCost": {
          "format": "int32",
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "memoryCost": {
          "type": "integer",
          "format": "int32",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "signerKey": {
          "description": "The key for to hash the password.",
          "type": "string",
          "format": "byte"
        },
        "rounds": {
          "format": "int32",
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms."
        },
        "allowOverwrite": {
          "description": "Whether allow overwrite existing account when user local_id exists.",
          "type": "boolean"
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "The salt separator."
        },
        "users": {
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "dkLen": {
          "format": "int32",
          "type": "integer"
        },
        "hashAlgorithm": {
          "description": "The password hash algorithm.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "idpConfig": {
          "description": "OAuth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "authorizedDomains": {
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "description": "Template for a single idp configuration.",
      "properties": {
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer",
          "format": "int32"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        }
      },
      "type": "object"
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "type": "string",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object"
    },
    "CreateAuthUriResponse": {
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "allProviders": {
          "description": "all providers the user has once used to do federated login",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "signinMethods": {
          "description": "All sign-in methods this user has used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#CreateAuthUriResponse",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\"."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "forExistingProvider": {
          "description": "True if the authUri is for user's existing provider.",
          "type": "boolean"
        }
      },
      "id": "CreateAuthUriResponse"
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "description": "Request to verify the password.",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery."
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "description": "Request to get the account information.",
      "properties": {
        "phoneNumber": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Privileged caller can query users by specified phone number."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of local ID's of the users to inquiry."
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "description": "Respone of getting public keys.",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "description": "Request to set the account information.",
      "properties": {
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "disableUser": {
          "description": "Whether to disable the user.",
          "type": "boolean"
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "createdAt": {
          "description": "The timestamp when the account is created.",
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "deleteProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDPs the user request to delete."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "format": "int64",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "oobCode": {
          "description": "The out-of-band code of the change email request.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "returnRefreshToken": {
          "description": "Whether to return refresh tokens.",
          "type": "boolean"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        }
      }
    }
  },
  "resources": {
    "relyingparty": {
      "methods": {
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "httpMethod": "POST",
          "description": "Verifies the developer asserted ID token.",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRecaptchaParam": {
          "path": "getRecaptchaParam",
          "httpMethod": "GET",
          "description": "Get recaptcha secure param.",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signOutUser": {
          "path": "signOutUser",
          "httpMethod": "POST",
          "description": "Sign out user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signOutUser",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          }
        },
        "createAuthUri": {
          "path": "createAuthUri",
          "httpMethod": "POST",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "response": {
            "$ref": "CreateAuthUriResponse"
          }
        },
        "verifyAssertion": {
          "httpMethod": "POST",
          "description": "Verifies the assertion returned by the IdP.",
          "path": "verifyAssertion",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "response": {
            "$ref": "VerifyAssertionResponse"
          }
        },
        "verifyPassword": {
          "httpMethod": "POST",
          "description": "Verifies the user entered password.",
          "path": "verifyPassword",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "resetPassword": {
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "path": "resetPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.resetPassword",
          "response": {
            "$ref": "ResetPasswordResponse"
          }
        },
        "emailLinkSignin": {
          "path": "emailLinkSignin",
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          }
        },
        "signupNewUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "path": "signupNewUser",
          "httpMethod": "POST",
          "description": "Signup new user."
        },
        "getProjectConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Get project configuration.",
          "path": "getProjectConfig"
        },
        "verifyPhoneNumber": {
          "httpMethod": "POST",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "path": "verifyPhoneNumber",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "httpMethod": "POST",
          "description": "Set account info for a user.",
          "path": "setAccountInfo"
        },
        "setProjectConfig": {
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Set project configuration.",
          "path": "setProjectConfig"
        },
        "downloadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "path": "downloadAccount",
          "httpMethod": "POST",
          "description": "Batch download user accounts."
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sendVerificationCode",
          "httpMethod": "POST",
          "description": "Send SMS verification code."
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "publicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key."
        },
        "getOobConfirmationCode": {
          "path": "getOobConfirmationCode",
          "httpMethod": "POST",
          "description": "Get a code for user action confirmation.",
          "request": {
            "$ref": "Relyingparty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          }
        },
        "uploadAccount": {
          "httpMethod": "POST",
          "description": "Batch upload existing user accounts.",
          "path": "uploadAccount",
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "deleteAccount": {
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "deleteAccount",
          "httpMethod": "POST",
          "description": "Delete user account."
        },
        "getAccountInfo": {
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getAccountInfo",
          "httpMethod": "POST",
          "description": "Returns the account info."
        }
      }
    }
  },
  "id": "identitytoolkit:v3"
}