{
  "batchPath": "batch",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "protocol": "rest",
  "version": "v1",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "revision": "20260911",
  "discoveryVersion": "v1",
  "title": "Identity Toolkit API",
  "name": "identitytoolkit",
  "basePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "id": "identitytoolkit:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Identity Toolkit",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest",
      "description": "Request message for SetAccountInfo.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long."
        },
        "oobCode": {
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to be updated in the account's attributes."
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information.",
          "type": "string"
        },
        "customAttributes": {
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "email": {
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Identity Providers to unlink from the user's account."
        },
        "deleteAttribute": {
          "items": {
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ],
            "type": "string",
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ]
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "linkProviderUserInfo": {
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
        },
        "captchaResponse": {
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities.",
          "type": "string"
        },
        "mfa": {
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo"
        },
        "disableUser": {
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in.",
          "type": "boolean"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "createdAt": {
          "description": "The timestamp in milliseconds when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Whether the account should be restricted to only using federated login."
        },
        "provider": {
          "description": "The Identity Providers that the account should be associated with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid."
        },
        "displayName": {
          "type": "string",
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters."
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp in milliseconds when the account last logged in."
        },
        "localId": {
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          },
          "type": "array"
        }
      },
      "description": "Response message for UploadAccount.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "type": "object",
      "properties": {
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        },
        "limit": {
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "type": "string",
          "format": "int64"
        },
        "order": {
          "type": "string",
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        },
        "offset": {
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant to which the result is scoped."
        },
        "returnUserInfo": {
          "type": "boolean",
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`."
        },
        "sortBy": {
          "type": "string",
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ],
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ]
        }
      },
      "description": "Request message for QueryUserInfo.",
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      },
      "description": "Response message for SendVerificationCode.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "properties": {
        "refreshToken": {
          "description": "A refresh token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user."
        },
        "providerUserInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array",
          "description": "The linked Identity Providers on the account."
        },
        "emailVerified": {
          "description": "Whether the account's email has been verified.",
          "type": "boolean"
        },
        "email": {
          "description": "The account's email address.",
          "type": "string",
          "deprecated": true
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up."
        },
        "displayName": {
          "description": "The account's display name.",
          "type": "string",
          "deprecated": true
        },
        "passwordHash": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. No actual password hash is currently returned."
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "photoUrl": {
          "deprecated": true,
          "description": "The user's photo URL for the account's profile photo.",
          "type": "string"
        },
        "newEmail": {
          "description": "The new email that has been set on the user's account attributes.",
          "type": "string"
        }
      },
      "description": "Response message for SetAccountInfo",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "description": "Request message for GetOobCode.",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest",
      "properties": {
        "androidMinimumVersion": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app."
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "continueUrl": {
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code.",
          "type": "string"
        },
        "returnOobLink": {
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)",
          "type": "boolean"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed."
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed."
        },
        "email": {
          "type": "string",
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user."
        },
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "clientType": {
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed."
        },
        "recaptchaVersion": {
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
        },
        "idToken": {
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true.",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "deprecated": true
        },
        "linkDomain": {
          "type": "string",
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "dynamicLinkDomain": {
          "type": "string",
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled."
        },
        "captchaResp": {
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller.",
          "type": "string"
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "type": "string",
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "phoneInfo": {
          "type": "string",
          "description": "Phone number to receive OTP for MFA."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest",
      "description": "Request message for CreateAuthUri.",
      "type": "object",
      "properties": {
        "customParameter": {
          "type": "object",
          "description": "Additional customized query parameters to be added to the authorization URI. The following parameters are reserved and cannot be added: `client_id`, `response_type`, `scope`, `redirect_uri`, `state`. For the Microsoft provider, the Azure AD tenant to sign-in to can be specified in the `tenant` custom parameter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identifier": {
          "type": "string",
          "description": "The email identifier of the user account to fetch associated providers for. At least one of the fields `identifier` and `provider_id` must be set. The length of the email address should be less than 256 characters and in the format of `name@domain.tld`. The email address should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "oauthScope": {
          "description": "Additional space-delimited OAuth 2.0 scopes specifying the scope of the authentication request with the IdP. Used for OAuth 2.0 IdPs. For the Google provider, the authorization code flow will be used if this field is set.",
          "type": "string"
        },
        "openidRealm": {
          "deprecated": true,
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the IdP for the user to sign in with. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`. At least one of the fields `identifier` and `provider_id` must be set.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "Used for the Google provider. The G Suite hosted domain of the user in order to restrict sign-in to users at that domain.",
          "type": "string"
        },
        "sessionId": {
          "description": "A session ID that can be verified against in SignInWithIdp to prevent session fixation attacks. If absent, a random string will be generated and returned as the session ID.",
          "type": "string"
        },
        "otaApp": {
          "deprecated": true,
          "type": "string"
        },
        "continueUri": {
          "description": "A valid URL for the IdP to redirect the user back to. The URL cannot contain fragments or the reserved `state` query parameter.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "deprecated": true,
          "type": "string"
        },
        "appId": {
          "deprecated": true,
          "type": "string"
        },
        "authFlowType": {
          "description": "Used for the Google provider. The type of the authentication flow to be used. If present, this should be `CODE_FLOW` to specify the authorization code flow. Otherwise, the default ID Token flow will be used.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant to create an authorization URI or lookup an email identifier for. If not set, the operation will be performed in the default Identity Platform instance in the project."
        },
        "context": {
          "type": "string",
          "description": "An opaque string used to maintain contextual information between the authentication request and the callback from the IdP."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "localId": {
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "type": "object",
      "description": "Request message for DeleteAccount."
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "properties": {
        "recaptchaSiteKey": {
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaStoken": {
          "type": "string",
          "deprecated": true
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "description": "Response message for GetRecaptchaParam."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Display name of the authenticated user.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        }
      },
      "type": "object",
      "description": "Response message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "properties": {
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "initialEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        },
        "localId": {
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        }
      },
      "description": "Request message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "description": "Email template",
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "from": {
          "type": "string",
          "description": "From address of the email"
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "type": "string",
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "description": "Email body format"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "description": "Request message for SignInWithPhoneNumber.",
      "properties": {
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user."
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "deprecated": true,
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "description": "Request message for SignInWithCustomToken.",
      "properties": {
        "token": {
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token."
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "description": "An Identity Platform account's information.",
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "properties": {
        "timeZone": {
          "readOnly": true,
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        },
        "emailLinkSignin": {
          "readOnly": true,
          "description": "Output only. Whether the account can authenticate with email link.",
          "type": "boolean"
        },
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions."
        },
        "createdAt": {
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "screenName": {
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "type": "string",
          "readOnly": true
        },
        "providerUserInfo": {
          "description": "Information about the user as provided by various Identity Providers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          }
        },
        "initialEmail": {
          "type": "string",
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec."
        },
        "lastLoginAt": {
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "language": {
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "phoneNumber": {
          "description": "The account's phone number.",
          "type": "string"
        },
        "validSince": {
          "type": "string",
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "format": "int64"
        },
        "dateOfBirth": {
          "readOnly": true,
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "customAuth": {
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "readOnly": true,
          "type": "boolean"
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "customAttributes": {
          "type": "string",
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format."
        },
        "passwordUpdatedAt": {
          "format": "double",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "type": "number"
        },
        "passwordHash": {
          "type": "string",
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "format": "byte"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email address has been verified."
        },
        "lastRefreshAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when an ID token was last minted for this account."
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "integer"
        },
        "tenantId": {
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant.",
          "type": "string"
        },
        "rawPassword": {
          "type": "string",
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text."
        },
        "mfaInfo": {
          "type": "array",
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "description": "Response message to BatchDeleteAccounts.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be deleted.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "description": "Response message for CreateAuthUri.",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "captchaRequired": {
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "signinMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list."
        },
        "registered": {
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request.",
          "type": "boolean"
        },
        "sessionId": {
          "type": "string",
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks."
        },
        "forExistingProvider": {
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "allProviders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true
        },
        "authUri": {
          "type": "string",
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID from the request, if provided."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "description": "Request message for SignInWithPassword.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "properties": {
        "clientType": {
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "pendingIdToken": {
          "type": "string",
          "deprecated": true
        },
        "idToken": {
          "deprecated": true,
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. The password the user provides to sign in to the account."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "description": "Response for IssueSamlResponse request.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "properties": {
        "lastName": {
          "type": "string",
          "description": "Last name of the user."
        },
        "email": {
          "description": "Email of the user.",
          "type": "string"
        },
        "relayState": {
          "type": "string",
          "description": "Generated RelayState."
        },
        "firstName": {
          "description": "First name of the user.",
          "type": "string"
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "samlResponse": {
          "description": "Signed SAMLResponse created for the Relying Party.",
          "type": "string"
        },
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "description": "Response message for SignInWithCustomToken.",
      "properties": {
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "description": "Federated user identifier at an Identity Provider.",
      "properties": {
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "description": "Request message for IssueSamlResponse.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        },
        "samlAppEntityId": {
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app.",
          "type": "string"
        },
        "rpId": {
          "type": "string",
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "properties": {
        "pendingToken": {
          "type": "string",
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking."
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "returnIdpCredential": {
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`.",
          "type": "boolean"
        },
        "autoCreate": {
          "type": "boolean",
          "deprecated": true
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "requestUri": {
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        }
      },
      "type": "object",
      "description": "Request message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        }
      },
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "properties": {
        "passwordHashOrder": {
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "type": "string"
        },
        "signerKey": {
          "type": "string",
          "format": "byte",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512"
        },
        "rounds": {
          "type": "integer",
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "format": "int32"
        },
        "cpuMemCost": {
          "type": "integer",
          "format": "int32",
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "dkLen": {
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "type": "integer",
          "format": "int32"
        },
        "allowOverwrite": {
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned.",
          "type": "boolean"
        },
        "memoryCost": {
          "format": "int32",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "type": "integer"
        },
        "parallelization": {
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
        },
        "blockSize": {
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "type": "integer",
          "format": "int32"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional."
        },
        "argon2Parameters": {
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
          "description": "The parameters for Argon2 hashing algorithm."
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Request message for UploadAccount.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "description": "Response message for SignInWithPassword.",
      "properties": {
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The access token expiration time in seconds.",
          "deprecated": true,
          "format": "int32"
        },
        "registered": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the email is for an existing account. Always true."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "profilePicture": {
          "description": "The user's profile picture stored in the account's attributes.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "oauthAuthorizationCode": {
          "deprecated": true,
          "type": "string"
        },
        "userNotifications": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          },
          "description": "Warning notifications for the user.",
          "type": "array"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "displayName": {
          "description": "The user's display name stored in the account's attributes.",
          "type": "string"
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "properties": {
        "index": {
          "description": "The index of the errored item in the original local_ids field.",
          "type": "integer",
          "format": "int32"
        },
        "localId": {
          "description": "The corresponding user ID.",
          "type": "string"
        },
        "message": {
          "description": "Detailed error message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Error info for account failed to be deleted.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "properties": {
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "displayName": {
          "description": "The user's display name at the Identity Provider.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The user's phone number at the Identity Provider.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of the Identity Provider.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's identifier at the Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "description": "The user's screen_name at Twitter or login name at GitHub."
        },
        "email": {
          "type": "string",
          "description": "The user's email address at the Identity Provider."
        },
        "photoUrl": {
          "description": "The user's profile photo URL at the Identity Provider.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "description": "Information about the user as provided by various Identity Providers.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "properties": {
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64"
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified."
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "oauthAccessToken": {
          "description": "The OAuth access token from the IdP, if available.",
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The date of birth for the user's account at the IdP."
        },
        "tenantId": {
          "type": "string",
          "description": "The value of the `tenant_id` field in the request."
        },
        "rawUserInfo": {
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name for the user's account at the IdP.",
          "type": "string"
        },
        "nickName": {
          "description": "The nickname for the user's account at the IdP.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "needEmail": {
          "type": "boolean",
          "deprecated": true
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "screenName": {
          "type": "string",
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OpenID Connect ID token from the IdP, if available."
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "language": {
          "type": "string",
          "description": "The language preference for the user's account at the IdP."
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether or not a new Identity Platform account was created for the authenticated user."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user's account at the IdP."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
        },
        "fullName": {
          "type": "string",
          "description": "The full name for the user's account at the IdP."
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response."
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "type": "integer"
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider."
        },
        "verifiedProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`."
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "type": "object",
      "description": "Response message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "type": "object",
      "properties": {
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key type."
        },
        "alg": {
          "description": "Signature algorithm.",
          "type": "string"
        },
        "use": {
          "description": "Key use.",
          "type": "string"
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "e": {
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "properties": {
        "sessionCookie": {
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present.",
          "type": "string"
        }
      },
      "description": "Response message for CreateSessionCookie.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "description": "Response message for SignUp.",
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "properties": {
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "email": {
          "description": "The created user's email.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the created user. Always present in the response.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The created user's display name."
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests."
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "description": "Response message for DeleteAccount."
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "properties": {
        "unobfuscatedPhoneInfo": {
          "description": "Output only. Unobfuscated phone_info.",
          "readOnly": true,
          "type": "string"
        },
        "phoneInfo": {
          "type": "string",
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number."
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "enrolledAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the account enrolled this second factor."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "description": "The parameters for Argon2 hashing algorithm.",
      "properties": {
        "parallelism": {
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        },
        "hashLengthBytes": {
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024.",
          "type": "integer",
          "format": "int32"
        },
        "iterations": {
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ],
          "type": "string"
        },
        "memoryCostKib": {
          "type": "integer",
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "format": "int32"
        },
        "associatedData": {
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "type": "string",
          "format": "byte"
        },
        "hashType": {
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "description": "Response message for SignInWithEmailLink.",
      "type": "object",
      "properties": {
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest",
      "type": "object",
      "description": "Request message for BatchDeleteAccounts.",
      "properties": {
        "localIds": {
          "description": "Required. List of user IDs to be deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tenantId": {
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
          "type": "string"
        },
        "force": {
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "type": "object",
      "properties": {
        "newEmail": {
          "type": "string"
        },
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ]
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Response message for ResetPassword."
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "properties": {
        "safetyNetToken": {
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead.",
          "type": "string"
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header."
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "tenantId": {
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "clientType": {
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge."
        }
      },
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "description": "Warning notifications for the user.",
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "properties": {
        "notificationCode": {
          "type": "string",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ],
          "description": "Warning notification enum. Can be used for localization.",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ]
        },
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "properties": {
        "appSignatureHash": {
          "type": "string",
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "type": "object",
      "description": "Request message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "properties": {
        "newPassword": {
          "type": "string",
[...]
