{
  "revision": "20260927",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version": "v1",
  "title": "Application Integration API",
  "id": "integrations:v1",
  "documentationLink": "https://cloud.google.com/application-integration",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://integrations.googleapis.com/",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "name": "integrations",
  "basePath": "",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "properties": {
        "suspension": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension",
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest",
      "description": "Request for [Suspensions.ResolveSuspensions].",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "wrappedDek": {
          "type": "string",
          "description": "Wrapped dek",
          "format": "byte"
        },
        "encryptedSuspensionResolutionInfo": {
          "type": "string",
          "format": "byte",
          "description": "Encrypted SuspensionResolutionInfo"
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "lastModifiedTimestamp": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "google-datetime"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "cloudKmsConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudKmsConfig",
          "description": "KMS info, used by cmek/gmek integration"
        },
        "status": {
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED",
            "CANCELED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "workflowName": {
          "type": "string",
          "description": "Required. The name of the originating workflow."
        },
        "taskNumber": {
          "type": "string",
          "description": "Required. Task number of the associated SuspensionTask."
        },
        "createdTimestamp": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "google-datetime"
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "properties": {
        "authConfigs": {
          "description": "The list of AuthConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response to list AuthConfigs."
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "properties": {
        "sshClientCertPass": {
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "type": "string",
          "description": "Optional. Format of SSH Client cert."
        },
        "sshClientCert": {
          "description": "Optional. SSH Client Cert. It should contain both public and private key.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest": {
      "description": "Request for UploadTestCase.",
      "properties": {
        "content": {
          "description": "The textproto of the test case.",
          "type": "string"
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "type": "string",
          "description": "File format for upload request.",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest"
    },
    "GoogleCloudIntegrationsV1alphaListTestCasesResponse": {
      "type": "object",
      "description": "Response for ListTestCases",
      "properties": {
        "testCases": {
          "type": "array",
          "description": "The test cases corresponding to the specified filter",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListTestCasesResponse"
    },
    "GoogleCloudIntegrationsV1alphaTemplateBundle": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTemplateBundle",
      "properties": {
        "integrationVersionTemplate": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersionTemplate",
          "description": "Required. Main integration templates of the template bundle."
        },
        "subIntegrationVersionTemplates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersionTemplate"
          },
          "description": "Optional. Sub integration templates which would be added along with main integration."
        }
      },
      "description": "Define the bundle of the template."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "string",
          "format": "int64"
        },
        "percentage": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "GoogleCloudIntegrationsV1alphaCloudLoggingDetails": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
      "description": "Cloud Logging details for execution info",
      "properties": {
        "cloudLoggingSeverity": {
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ],
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed.",
          "type": "string"
        },
        "enableCloudLogging": {
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequest": {
      "properties": {
        "workflows": {
          "description": "Optional. Indicate which workflows to create",
          "items": {
            "type": "string",
            "enum": [
              "SAMPLE_INTEGRATIONS_UNSPECIFIED",
              "SAMPLE_WORKFLOW_ECOM_PROCESSING",
              "EXECUTE_CONNECTOR_TOOL_WORKFLOW"
            ],
            "enumDescriptions": [
              "Default value, should not be used.",
              "Ecom processing workflow",
              "Connector tool workflow"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request for PostProvisioning rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequest"
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "properties": {
        "expireAfterMs": {
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "type": "integer",
          "format": "int32"
        },
        "liftWhenExpired": {
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior.",
          "type": "boolean"
        },
        "remindAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "type": "object",
      "properties": {
        "intValue": {
          "description": "Integer.",
          "type": "string",
          "format": "int64"
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray",
          "description": "String Array."
        },
        "booleanArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
          "description": "Boolean Array."
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "Double Number.",
          "format": "double"
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "description": "The type of the parameter."
    },
    "EnterpriseCrmEventbusProtoTaskAlertConfig": {
      "description": "Message to be used to configure alerting in the {@code TaskConfig} protos for tasks in an event.",
      "type": "object",
      "properties": {
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week).",
          "type": "string"
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "alertName": {
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique in within the scope of the containing workflow.",
          "type": "string"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "thresholdType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "description": "The threshold type for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ]
        },
        "numAggregationPeriods": {
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "format": "int32"
        },
        "durationThresholdMs": {
          "type": "string",
          "format": "int64",
          "description": "Should be specified only for TASK_AVERAGE_DURATION and TASK_PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "Only count final task attempts, not retries."
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors (potentially for a specific set of enum values) for the enclosing TaskConfig.",
            "Specifies alerting on the rate of warnings (potentially for a specific set of enum values) for the enclosing TaskConfig. Warnings use the same enum values as errors.",
            "Specifies alerting on the number of instances for the enclosing TaskConfig executed in the given aggregation_period.",
            "Specifies alerting on the average duration of execution for the enclosing task.",
            "Specifies alerting on the duration of a particular percentile of task executions. E.g. If 10% or more of the task executions have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string"
        },
        "clientId": {
          "description": "Client associated with this alert configuration. Must be a client enabled in one of the containing workflow's triggers.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskAlertConfig"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "properties": {
        "startTime": {
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the event execution for current attempt.",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfigVariables": {
      "type": "object",
      "description": "Variables names mapped to api trigger.",
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfigVariables",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of variable names.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "properties": {
        "deleteTime": {
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Client level unique name/alias to easily reference a channel.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the channel was last updated",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description for this channel"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the channel is created"
        },
        "channelTopic": {
          "type": "string",
          "description": "Required. The Channel topic defined by salesforce once an channel is opened"
        },
        "isActive": {
          "description": "Output only. Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "readOnly": true,
          "type": "boolean"
        },
        "lastReplayId": {
          "type": "string",
          "description": "Output only. Last sfdc messsage replay id for channel",
          "readOnly": true
        },
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "description": "String array.",
          "type": "array"
        }
      },
      "description": "This message only contains a field of string array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        }
      },
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object",
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "properties": {
        "inputOutputType": {
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the parameter."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "containsLargeData": {
          "type": "boolean",
          "description": "Indicates whether this variable contains large data and need to be uploaded to Cloud Storage."
        },
        "searchable": {
          "type": "boolean",
          "description": "Searchable in the execution log or not."
        },
        "dataType": {
          "description": "Type of the parameter.",
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "PROTO_ENUM",
            "SERIALIZED_OBJECT_VALUE",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only).",
            "// Non-serializable object (Internal use only).",
            "Proto Enum (Internal use only).",
            "Serialized object (Internal use only).",
            "Proto Enum Array (Internal use only).",
            "BYTES data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields."
          ]
        },
        "displayName": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter."
        },
        "producer": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "type": "string"
        },
        "masked": {
          "description": "True if this parameter should be masked in the logs",
          "type": "boolean"
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        }
      }
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "type": "object",
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "properties": {
        "triggerId": {
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination.",
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "retryAttempt": {
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ],
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "enumFilterType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string",
          "description": "Whether to include or exclude the enums matching the regex."
        },
        "taskNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest": {
      "description": "Request for the SwitchEncryption rpc",
      "id": "GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest",
      "type": "object",
      "properties": {
        "cloudKmsConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "description": "Required. REQUIRED: Cloud KMS config for AuthModule to encrypt/decrypt credentials."
        }
      }
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "properties": {
        "creatorEmail": {
          "description": "The creator's email address.",
          "type": "string"
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "parameters": {
          "description": "The parameters the user can pass to this task.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks."
        },
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        },
        "teardownTaskImplementationClassName": {
          "type": "string",
          "description": "Required. Implementation class name."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "properties": {
        "refreshTokenExpireTime": {
          "type": "string",
          "description": "The approximate time until the refresh token retrieved is valid.",
          "format": "google-datetime"
        },
        "accessTokenExpireTime": {
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "format": "google-datetime",
          "type": "string"
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        },
        "tokenType": {
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "description": "TaskMetadata are attributes that are associated to every common Task we have.",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "properties": {
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "g3DocLink": {
          "type": "string",
          "description": "URL to the associated G3 Doc for the task if available"
        },
        "category": {
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE",
            "TASK_RECOMMENDATIONS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "Task entities that derive from a custom task template.",
            "Category to show task recommendations"
          ],
          "type": "string"
        },
        "activeTaskName": {
          "type": "string",
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name."
        },
        "externalCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "HTTP tasks, e.g. rest api call task",
            "Integration services, e.g. connector task",
            "Customer ations, e.g. email task",
            "Flow control, e.g. while loop task",
            "Workspace tasks, e.g. list drive task",
            "Security, e.g. kms related tasks",
            "Database operation tasks, e.g. read firestore info tasks",
            "Analytics tasks, e.g. dataflow creattion tasks",
            "BYOC tasks",
            "BYOT tasks",
            "AI related tasks.",
            "Data manipulation related tasks, e.g. data mapping task"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS",
            "EXTERNAL_HTTP",
            "EXTERNAL_INTEGRATION_SERVICES",
            "EXTERNAL_CUSTOMER_ACTIONS",
            "EXTERNAL_FLOW_CONTROL",
            "EXTERNAL_WORKSPACE",
            "EXTERNAL_SECURITY",
            "EXTERNAL_DATABASES",
            "EXTERNAL_ANALYTICS",
            "EXTERNAL_BYOC",
            "EXTERNAL_BYOT",
            "EXTERNAL_ARTIFICIAL_INTELIGENCE",
            "EXTERNAL_DATA_MANIPULATION"
          ]
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "externalDocMarkdown": {
          "description": "DEPRECATED: Use external_doc_html.",
          "type": "string"
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "externalDocHtml": {
          "type": "string",
          "description": "External-facing documention embedded in the RHP for this task."
        },
        "docMarkdown": {
          "description": "Snippet of markdown documentation to embed in the RHP for this task.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ]
        },
        "defaultJsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "type": "string"
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "The deprecation status of the current task. Default value is false;"
        },
        "tags": {
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "descriptiveName": {
          "type": "string",
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")"
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "externalCategorySequence": {
          "format": "int32",
          "type": "integer",
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users."
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format.",
          "type": "string"
        },
        "codeSearchLink": {
          "description": "The Code Search link to the Task Java file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "description": "The AuthConfig resource use to hold channels and connection config data.",
      "properties": {
        "reason": {
          "description": "Output only. The reason / details of the current status.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the auth config."
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "description": "Optional. The visibility of the auth config."
        },
        "credentialType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "description": "Required. Credential type of the encrypted credential.",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "lastModifierEmail": {
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is modified.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "readOnly": true,
          "description": "Output only. The status of the auth config.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ]
        },
        "encryptedCredential": {
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "format": "byte",
          "type": "string"
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the auth config.",
          "type": "string"
        },
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "expiryNotificationDuration": {
          "items": {
            "format": "google-duration",
            "type": "string"
          },
          "description": "Optional. User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "type": "array"
        },
        "name": {
          "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "decryptedCredential": {
          "$ref": "GoogleCloudIntegrationsV1alphaCredential",
          "description": "Raw auth credentials."
        },
        "createTime": {
          "description": "Output only. The timestamp when the auth config is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "validTime": {
          "description": "Optional. The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaImportTemplateResponse": {
      "id": "GoogleCloudIntegrationsV1alphaImportTemplateResponse",
      "description": "Response for import template",
      "properties": {
        "subIntegrationVersions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          },
          "description": "Sub integration versions which are imported.",
          "type": "array"
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "IntegrationVersion after the import."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "description": "An error, warning, or information message associated with a workflow.",
      "properties": {
        "taskNumber": {
          "format": "int32",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "type": "integer"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "description": "The severity of the error: ERROR|WARN|INFO."
        },
        "errorMessage": {
          "description": "The full text of the error message, including any parameters that were thrown along with the exception.",
          "type": "string"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "The associated error-code, which can be a common or internal code."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "type": "string",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTakeoverTestCaseEditLockRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverTestCaseEditLockRequest",
      "description": "Request for TakeoverTestCaseEditLock.",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see"
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Name of the service account that has the permission to make the request."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaShareTemplateRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaShareTemplateRequest",
      "properties": {
        "resourceNames": {
          "description": "Optional. Project name resources to share the template. The project names is expected in resource format Ex: projects/{project-number} or organization/{org-id}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request to Share template"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfig",
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "Optional. The type of authentication configured.",
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ]
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "oauth2AuthCodeFlow": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow",
          "description": "Oauth2AuthCodeFlow."
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword"
        },
        "additionalVariables": {
          "description": "Optional. List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlowGoogleManaged"
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "type": "object",
      "properties": {
        "cancelReason": {
          "type": "string",
          "description": "Required. Reason for cancelling the execution. This is provided by the client requesting the cancellation, and is not used by the Platform."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "description": "Request for cancelling an execution."
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "description": "Response for Suspensions.ResolveSuspensions.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection",
      "properties": {
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        },
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
        },
        "host": {
          "description": "The name of the Hostname of the Service Directory service with TLS if used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersion": {
      "description": "The integration version definition.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "taskConfigs": {
          "type": "array",
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskConfig"
          }
        },
        "cloudLoggingDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
          "description": "Optional. Cloud Logging details for the integration version"
        },
        "status": {
          "readOnly": true,
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Output only. Generated by eventbus. User should not set it as an input.",
          "deprecated": true
        },
        "integrationParametersInternal": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Deprecated: Use `integration_parameters` instead. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "deprecated": true
        },
        "teardown": {
          "deprecated": true,
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code.",
          "$ref": "EnterpriseCrmEventbusProtoTeardown"
        },
        "triggerConfigsInternal": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          },
          "deprecated": true,
          "description": "Optional. Deprecated: Use `trigger_configs` instead. Trigger configurations."
        },
        "errorCatcherConfigs": {
          "type": "array",
          "description": "Optional. Error Catch Task configuration for the integration. It's optional.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig"
          }
        },
        "createdFromTemplate": {
          "description": "Optional. Optional. The resource name of the template from which the integration is created.",
          "type": "string"
        },
        "enableVariableMasking": {
          "description": "Optional. True if variable masking feature should be turned on for this version",
          "type": "boolean"
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head.",
          "readOnly": true,
          "format": "int64"
        },
        "integrationParameters": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter"
          }
        },
        "lockHolder": {
          "description": "Optional. The edit lock holder's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "databasePersistencePolicy": {
          "type": "string",
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED",
            "DATABASE_PERSISTENCE_ASYNC"
          ],
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data.",
            "Asynchronously persist all execution data."
          ]
        },
        "triggerConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTriggerConfig"
          },
          "description": "Optional. Trigger configurations.",
          "type": "array"
        },
        "lastModifierEmail": {
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "parentTemplateId": {
          "type": "string",
          "description": "Optional. The id of the template which was used to create this integration_version."
        },
        "runAsServiceAccount": {
          "type": "string",
          "description": "Optional. The run-as service account email, if set and auth config is not configured, that will be used to generate auth token to be used in Connector task, Rest caller task and Cloud function task."
        },
        "integrationConfigParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationConfigParameter"
          },
          "description": "Optional. Config Parameters that are expected to be passed to the integration when an integration is published. This consists of all the parameters that are expected to provide configuration in the integration execution. This gives the user the ability to provide default values, value, add information like connection url, project based configuration value and also provide data types of each parameter.",
          "type": "array"
        },
        "cloudKmsKey": {
          "description": "Optional. Cloud KMS resource name for the CMEK encryption key.",
          "type": "string"
        },
        "origin": {
          "enum": [
            "UNSPECIFIED",
            "UI",
            "PIPER_V2",
            "PIPER_V3",
            "APPLICATION_IP_PROVISIONING",
            "TEST_CASE"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Workflow is being created via event bus UI.",
            "User checked in this workflow in Piper as v2 textproto format and we synced it into spanner.",
            "User checked in this workflow in piper as v3 textproto format and we synced it into spanner.",
            "Workflow is being created via Standalone IP Provisioning",
            "Workflow is being created via Test Case."
          ],
          "description": "Optional. The origin that indicates where this integration is coming from.",
          "deprecated": true
        },
        "state": {
          "description": "Output only. User should not set it as an input.",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated primary key."
        },
        "description": {
          "type": "string",
          "description": "Optional. The integration description."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "taskConfigsInternal": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `task_configs` instead. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
    },
    "GoogleCloudConnectorsV1EventingStatus": {
      "id": "GoogleCloudConnectorsV1EventingStatus",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "type": "string",
          "description": "Output only. State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "type": "string"
        }
      },
      "description": "EventingStatus indicates the state of eventing."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "jsonValue": {
          "type": "string"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "stringValue": {
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata",
      "type": "object",
      "properties": {
        "taskAttemptNum": {
          "type": "integer",
          "format": "int32",
          "description": "the task attempt number this snapshot belongs to. Could be empty."
        },
        "ancestorTaskNumbers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ancestor task number for the task(it will only be non-empty if the task is under 'private workflow')"
        },
        "eventAttemptNum": {
          "format": "int32",
          "description": "the event attempt number this snapshot belongs to.",
          "type": "integer"
        },
        "integrationName": {
          "description": "The direct integration which the event execution snapshots belongs to",
          "type": "string"
        },
        "taskName": {
          "description": "the task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot. Could be empty."
        },
        "taskLabel": {
          "description": "the task label associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "ancestorIterationNumbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Ancestor iteration number for the task(it will only be non-empty if the task is under 'private workflow')"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "properties": {
        "projectId": {
          "description": "The created AppsScriptProject ID.",
          "type": "string"
        }
      },
      "description": "Response for CreateAppsScriptProject rpc call."
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig",
      "properties": {
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        }
      },
      "description": "Cloud Scheduler Trigger configuration",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object",
      "properties": {
        "runtimeActionSchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          },
          "type": "array",
          "description": "Runtime action schemas."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching).",
      "properties": {
        "name": {
          "description": "Required. Name of the next teardown task.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaApiTriggerResource": {
      "description": "List of API triggerID and their workflow resource name.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaApiTriggerResource",
      "properties": {
        "triggerId": {
          "description": "Required. Trigger Id of the API trigger(s) in the integration",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "integrationResource": {
          "description": "Required. Integration where the API is published",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        },
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "properties": {
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken."
        },
        "diffParams": {
          "description": "The parameters in Event object that differs from last snapshot.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "conditionResults": {
          "type": "array",
          "description": "All of the computed conditions that been calculated.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          }
        },
        "snapshotTime": {
          "type": "string",
          "format": "int64",
          "description": "Indicates when this snapshot is taken."
        },
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty.",
          "deprecated": true
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "eventParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object."
        },
        "eventExecutionSnapshotId": {
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table.",
          "type": "string"
        },
        "taskExecutionDetails": {
          "type": "array",
          "description": "All of the task execution details at the given point of time.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "description": "Destination node where the edge ends. It can only be a task config.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "type": "object"
    },
    "EnterpriseCrmEventbusStats": {
      "properties": {
        "errorRate": {
          "type": "number",
          "format": "double",
          "description": "Average error rate."
        },
        "qps": {
          "format": "double",
          "type": "number",
          "description": "Queries per second."
        },
        "warningRate": {
          "format": "double",
          "description": "Average warning rate.",
          "type": "number"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "durationInSeconds": {
          "format": "double",
          "type": "number",
          "description": "Average duration in seconds."
        }
      },
      "id": "EnterpriseCrmEventbusStats",
      "type": "object",
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate"
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "type": "object",
      "properties": {
        "booleanValues": {
          "description": "Boolean array.",
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
      "description": "This message only contains a field of boolean array."
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "properties": {
        "ancestorTaskNumbers": {
          "type": "array",
          "description": "Ancestor task number for the task(it will only be non-empty if the task is under 'private workflow')",
          "items": {
            "type": "string"
          }
        },
        "taskLabel": {
          "type": "string",
          "description": "the task label associated with this snapshot. Could be empty."
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot."
        },
        "ancestorIterationNumbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Ancestor iteration number for the task(it will only be non-empty if the task is under 'private workflow')"
        },
        "taskAttempt": {
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32",
          "type": "integer"
        },
        "integrationName": {
          "description": "The direct integration which the event execution snapshots belongs to",
          "type": "string"
        },
        "executionAttempt": {
          "format": "int32",
          "type": "integer",
          "description": "the execution attempt number this snapshot belongs to."
        },
        "task": {
          "type": "string",
          "description": "the task name associated with this snapshot."
        }
      },
      "description": "Metadata of the execution snapshot.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      },
      "type": "object",
      "description": "Field Mapping Config to map multiple output fields values from input fields values."
    },
    "GoogleCloudIntegrationsV1alphaExecuteEventResponse": {
      "properties": {
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for executing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow": {
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow",
      "type": "object",
      "properties": {
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Optional. Client secret for user-provided OAuth app."
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow."
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "enablePkce": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow."
        }
      }
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        },
        "quotaRetryCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. This is a field to see the quota retry count for integration execution"
        },
        "userGeneratedExecutionId": {
          "description": "This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "resourceName": {
          "description": "This field is only required when using Admin Access. The resource name of target, or the parent resource name. For example: \"projects/*/locations/*/integrations/*\"",
          "type": "string"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "priority": {
          "description": "The request priority this request should be processed at. For internal users:",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for < 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        }
      },
      "type": "object",
      "description": "LINT.IfChange Use this request to post all workflows associated with a given trigger id. Next available id: 13"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "properties": {
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "type": "object",
      "properties": {
        "inputField": {
          "description": "The input field being mapped from.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        }
      },
      "description": "Mapped field is a pair of input field and output field.",
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "properties": {
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        },
        "allowedCredentialTypes": {
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.",
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "type": "array"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse",
      "properties": {},
      "description": "Response for PostProvisioning rpc call."
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "type": "object",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmEventbusProtoConditionalFailurePolicies": {
      "type": "object",
      "properties": {
        "defaultFailurePolicy": {
          "description": "The default failure policy to be applied if no conditional failure policy matches",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "failurePolicies": {
          "description": "The list of failure policies that will be applied to the task in order.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConditionalFailurePolicies"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Value of the map entry."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "type": "object",
      "properties": {
        "required": {
          "type": "boolean"
        },
        "protoDefPath": {
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\".",
          "type": "string"
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "protoDefName": {
          "description": "The name of the protobuf type if the parameter has a protobuf data type.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description about the parameter",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "The data type of the parameter.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "children": {
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "containsLargeData": {
          "description": "Indicates whether this variable contains large data and need to be uploaded to Cloud Storage.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "attributes": {
          "$ref": "EnterpriseCrmEventbusProtoAttributes",
          "description": "Metadata information about the parameters."
        },
        "producer": {
          "type": "string"
        },
        "inOutType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        },
        "keyType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMap"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "properties": {
        "eventPropertyKey": {
          "type": "string",
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown."
        },
        "operator": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
[...]
