{
  "batchPath": "batch",
  "baseUrl": "https://integrations.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray",
      "properties": {
        "values": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "properties": {
        "alertThreshold": {
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "format": "int32"
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration."
        },
        "disableAlert": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert.",
          "type": "boolean"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "thresholdType": {
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "type": "string",
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ]
        },
        "metricType": {
          "description": "The type of metric.",
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ]
        },
        "thresholdValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "durationThreshold": {
          "format": "google-duration",
          "type": "string",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        }
      },
      "type": "object",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest": {
      "properties": {
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "description": "File format for upload request.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        },
        "content": {
          "type": "string",
          "description": "The textproto of the test case."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest",
      "description": "Request for UploadTestCase."
    },
    "GoogleCloudConnectorsV1EventingRuntimeDataWebhookData": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID to uniquely identify webhook."
        },
        "nextRefreshTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the webhook was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "eventSubscriptions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of event subscriptions which are using the webhook.",
          "items": {
            "type": "string"
          }
        },
        "additionalVariables": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Output only. Additional webhook related field values."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the webhook was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventTypes": {
          "description": "Output only. List of event types for the webhook. This is the event types subscribed by the current webhook.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Webhook"
        }
      },
      "type": "object",
      "description": "WebhookData has details of webhook configuration.",
      "id": "GoogleCloudConnectorsV1EventingRuntimeDataWebhookData"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field.",
      "type": "object",
      "properties": {
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "inputField": {
          "description": "The input field being mapped from.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        }
      },
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "GoogleCloudIntegrationsV1alphaCustomerConfig": {
      "id": "GoogleCloudIntegrationsV1alphaCustomerConfig",
      "properties": {
        "enableHttpCall": {
          "type": "boolean",
          "description": "Optional. Indicates if the client should be allowed to make HTTP calls. True if http call feature should be turned on for this region."
        },
        "runAsServiceAccount": {
          "description": "Optional. Run-as service account to be updated for the provisioned client.",
          "type": "string"
        },
        "enableManagedAiFeatures": {
          "description": "Optional. Indicates if the client should be allowed to use managed AI features, i.e. using Cloud Companion APIs of the tenant project. This will allow the customers to use features like Troubleshooting, OpenAPI spec enrichment, etc. for free.",
          "type": "boolean"
        },
        "cloudKmsConfig": {
          "description": "Optional. Cloud KMS config for Auth Module to encrypt/decrypt credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        },
        "enableVariableMasking": {
          "type": "boolean",
          "description": "Optional. True if variable masking feature should be turned on for this region."
        },
        "enableEucHardenedFlow": {
          "type": "boolean",
          "description": "Optional. True if every integration in this region should run under the hardened end-user-credential flow. See go/ip-euc-harden."
        }
      },
      "description": "Customer configuration information for the given client",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoFunction"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "properties": {
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "createdTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "encryptedSuspensionResolutionInfo": {
          "format": "byte",
          "type": "string",
          "description": "Encrypted SuspensionResolutionInfo"
        },
        "wrappedDek": {
          "type": "string",
          "format": "byte",
          "description": "Wrapped dek"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "product": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED",
            "CANCELED"
          ]
        },
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "cloudKmsConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudKmsConfig",
          "description": "KMS info, used by cmek/gmek integration"
        },
        "lastModifiedTimestamp": {
          "description": "Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo"
    },
    "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse": {
      "description": "Response for DownloadJsonPackage.",
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaFile"
          },
          "description": "List containing JSON for multiple file with type information.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "properties": {
        "integrationVersions": {
          "description": "The integrations which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          },
          "type": "array"
        },
        "noPermission": {
          "description": "Whether the user has no permission on the version or not.",
          "type": "boolean"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for ListIntegrationVersions.",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaTemplateComponent": {
      "type": "object",
      "description": "Define the components that are present in a template.",
      "id": "GoogleCloudIntegrationsV1alphaTemplateComponent",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRIGGER",
            "TASK",
            "CONNECTOR"
          ],
          "enumDescriptions": [
            "Component type is unspecified",
            "Trigger component",
            "Task component",
            "Connector component"
          ],
          "description": "Optional. Type of the component.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        }
      },
      "description": "Cloud Scheduler Trigger configuration",
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
    },
    "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest": {
      "description": "Request for the Deprovision rpc",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "description": "The certificate definition",
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        },
        "name": {
          "type": "string",
          "description": "Output only. Auto generated primary key",
          "readOnly": true
        },
        "validStartTime": {
          "description": "Output only. The timestamp after which certificate will be valid",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "validEndTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp after which certificate will expire",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Name of the certificate"
        },
        "requestorId": {
          "type": "string",
          "description": "Immutable. Requestor ID to be used to register certificate with trawler"
        },
        "rawCertificate": {
          "description": "Input only. Raw client certificate which would be registered with trawler",
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate"
        },
        "certificateStatus": {
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ],
          "type": "string",
          "description": "Status of the certificate"
        },
        "credentialId": {
          "type": "string",
          "description": "Immutable. Credential id that will be used to register with trawler"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the integration."
        },
        "active": {
          "description": "Required. If any integration version is published.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Required. Output only. Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional.",
          "type": "string"
        },
        "creatorEmail": {
          "description": "Output only. The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Required. The last modifier of this integration"
        }
      },
      "type": "object",
      "description": "The integration definition."
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        },
        "token": {
          "type": "string",
          "description": "The token for the auth type."
        }
      },
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken"
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1EnrichmentConfig": {
      "description": "Data enrichment configuration.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1EnrichmentConfig",
      "properties": {
        "appendAcl": {
          "type": "boolean",
          "description": "Optional. Append ACL to the event."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "type": "object",
      "properties": {
        "jwtPayload": {
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token.",
          "type": "string"
        },
        "jwtHeader": {
          "description": "Identifies which algorithm is used to generate the signature.",
          "type": "string"
        },
        "secret": {
          "description": "User's pre-shared secret to sign the token.",
          "type": "string"
        },
        "jwt": {
          "description": "The token calculated by the header, payload and signature.",
          "type": "string"
        }
      },
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected."
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "type": "object",
      "properties": {
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "deprecated": true,
          "type": "boolean"
        },
        "taskVisibility": {
          "description": "List of tasks that can view this property, if empty then all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "isRequired": {
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered.",
          "type": "boolean"
        },
        "logSettings": {
          "$ref": "EnterpriseCrmEventbusProtoLogSettings",
          "description": "See"
        },
        "searchable": {
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "type": "string",
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)"
        },
        "readOnly": {
          "description": "Used to indicate if the ParameterEntry is a read only field or not.",
          "type": "boolean"
        },
        "masked": {
          "description": "True if this workflow parameter should be masked in the logs",
          "type": "boolean"
        }
      },
      "description": "Attributes are additional options that can be associated with each event property. For more information, see",
      "id": "EnterpriseCrmEventbusProtoAttributes"
    },
    "GoogleCloudConnectorsV1TrafficShapingConfig": {
      "properties": {
        "quotaLimit": {
          "format": "int64",
          "description": "Required. Maximum number of api calls allowed.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudConnectorsV1TrafficShapingConfig",
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "type": "object"
    },
    "GoogleCloudConnectorsV1Destination": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1Destination",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port is the target port number that is accepted by the destination."
        },
        "serviceAttachment": {
          "type": "string",
          "deprecated": true,
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*"
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "properties": {
        "host": {
          "type": "string",
          "description": "The name of the Hostname of the Service Directory service with TLS if used."
        },
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
        },
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "properties": {
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Explicitly getting the type of the parameter."
        },
        "masked": {
          "description": "True if this parameter should be masked in the logs",
          "type": "boolean"
        }
      },
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "properties": {
        "min": {
          "format": "int64",
          "type": "string",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "type": "string",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Range used to validate longs and ints."
    },
    "GoogleCloudIntegrationsV1alphaCloudLoggingDetails": {
      "description": "Cloud Logging details for execution info",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        },
        "cloudLoggingSeverity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ],
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "description": "The request for executing an integration.",
      "properties": {
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "deprecated": true,
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`."
        },
        "executionId": {
          "description": "Optional. The id of the ON_HOLD execution to be resumed.",
          "type": "string"
        },
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "parameterEntries": {
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "doNotPropagateError": {
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "properties": {
        "paramSpecs": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask."
        },
        "uiConfig": {
          "description": "UI configuration for this task Also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig"
        },
        "stats": {
          "description": "Deprecated - statistics from the Monarch query.",
          "$ref": "EnterpriseCrmEventbusStats",
          "deprecated": true
        },
        "metadata": {
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata",
          "description": "Metadata inclueds the task name, author and so on."
        },
        "disabledForVpcSc": {
          "description": "True if the task has conflict with vpcsc",
          "type": "boolean"
        },
        "taskType": {
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "type": "object"
    },
    "GoogleCloudConnectorsV1BillingConfig": {
      "description": "Billing config for the connection.",
      "id": "GoogleCloudConnectorsV1BillingConfig",
      "type": "object",
      "properties": {
        "billingCategory": {
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "description": "Output only. Billing category for the connector.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "properties": {
        "params": {
          "description": "Parameters used during the execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken."
        },
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        },
        "taskExecutionDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          },
          "description": "All of the task execution details at the given point of time."
        }
      },
      "type": "object",
      "description": "Contains the snapshot of the execution for a given checkpoint.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
    },
    "EnterpriseCrmEventbusProtoCustomSuspensionRequest": {
      "properties": {
        "postToQueueWithTriggerIdRequest": {
          "$ref": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
          "description": "Request to fire an event containing the SuspensionInfo message."
        },
        "suspensionInfoEventParameterKey": {
          "description": "In the fired event, set the SuspensionInfo message as the value for this key.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest": {
      "properties": {
        "configParameters": {
          "description": "Optional. Config parameters used during integration execution.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "integrationVersion": {
          "description": "Required. integration config to execute the workflow",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        },
        "triggerId": {
          "description": "Required. The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "clientId": {
          "description": "Required. This is used to identify the client on whose behalf the event will be executed.",
          "type": "string"
        },
        "credentialMode": {
          "enumDescriptions": [
            "Resolves based on when the test runs; see `TestIntegrationsRequest.credential_mode`.",
            "The flow production runs for this integration today.",
            "The flow an integration created after the EUC hardening cutover runs. Covers this integration's own tasks; a sub-integration it calls runs under its own stored disposition. When requested explicitly, fails with `FAILED_PRECONDITION` where the hardened flow cannot be evaluated, and with `UNIMPLEMENTED` for asynchronous tests."
          ],
          "enum": [
            "CREDENTIAL_MODE_UNSPECIFIED",
            "CREDENTIAL_MODE_CURRENT",
            "CREDENTIAL_MODE_HARDENED"
          ],
          "type": "string",
          "description": "Optional. The credential flow to run the test under. Applies to synchronous tests only. When unset, the default depends on when the test runs: before the EUC hardening cutover it is `CREDENTIAL_MODE_CURRENT`; from the cutover on it is `CREDENTIAL_MODE_HARDENED`, whatever the integration's stored disposition. Where the hardened flow cannot be evaluated, an unset mode runs `CREDENTIAL_MODE_CURRENT` instead of failing. The response's `credential_mode` reports the mode that ran."
        },
        "testMode": {
          "description": "Optional. Can be specified in the event request, otherwise false (default). If true, enables tasks with condition \"test_mode = true\". If false, disables tasks with condition \"test_mode = true\" if global test mode (set by platform) is also false {@link EventBusConfig}.",
          "type": "boolean"
        },
        "asyncExecution": {
          "type": "boolean",
          "description": "Optional. Runs the test asynchronously, by enqueueing it through the real execution queue under `trigger_id` instead of running the task graph inline. Default `false`, which preserves the existing synchronous behavior. The enqueued request carries no caller identity, so it is drained under the integration's run-as service account, exactly as a real Cloud Scheduler, cron, Pub/Sub, Salesforce or connector fire would be. That is the only way to verify the credential path an asynchronous trigger actually takes; a synchronous test always carries the caller's own credential and so exercises the opposite branch. When `true`: * The version named by `integration_version.name` runs. A name ending in `/versions/{version}` runs that exact version, published or draft; a name without one runs the published (`ACTIVE`) version on the trigger. Either way the integration is resolved from storage, so `integration_version` must carry only `name`; supplying any other field is rejected, rather than silently running something other than what was passed. * A draft is validated before it is enqueued, including the check that the caller may act as the integration's run-as service account. Testing a draft therefore fails fast on a configuration a publish would reject. * The response carries `execution_id` only. `execution_failed`, `event_parameters`, `parameters` and `parameter_entries` describe a finished run and are left unset, because nothing has run yet. In particular, do not read `execution_failed` as a pass signal. * The run is real, with real side effects, quota and concurrency. No actual Pub/Sub push or Cloud Scheduler tick occurs; only the enqueue is simulated, which does not change the credential path."
        },
        "deadlineSecondsTime": {
          "type": "string",
          "description": "Optional. custom deadline of the rpc",
          "format": "google-datetime"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used during integration execution."
        },
        "parameters": {
          "deprecated": true,
          "description": "Optional. Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest",
      "description": "The request for testing an integration.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig",
      "properties": {
        "moduleId": {
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ],
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "type": "string",
          "description": "ID of the config module."
        }
      },
      "type": "object",
      "description": "Task author would use this type to configure a config module."
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "description": "This message recursively combines constituent conditions using logical AND.",
      "id": "EnterpriseCrmEventbusProtoCombinedCondition",
      "deprecated": true,
      "type": "object",
      "properties": {
        "conditions": {
          "description": "A set of individual constituent conditions.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "properties": {
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "properties": {
        "state": {
          "description": "Output only. The status of the auth config.",
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the auth config is created.",
          "format": "google-datetime"
        },
        "validTime": {
          "description": "Optional. The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}."
        },
        "encryptedCredential": {
          "type": "string",
          "format": "byte",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key."
        },
        "description": {
          "description": "Optional. A description of the auth config.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the auth config is modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expiryNotificationDuration": {
          "items": {
            "type": "string",
            "format": "google-duration"
          },
          "type": "array",
          "description": "Optional. User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
        },
        "certificateId": {
          "type": "string",
          "description": "Certificate id for client certificate"
        },
        "reason": {
          "description": "Output only. The reason / details of the current status.",
          "type": "string",
          "readOnly": true
        },
        "lastModifierEmail": {
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "visibility": {
          "description": "Optional. The visibility of the auth config.",
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ]
        },
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "credentialType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "description": "Required. Credential type of the encrypted credential.",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the auth config."
        }
      },
      "type": "object",
      "description": "The AuthConfig resource use to hold channels and connection config data.",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig"
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoFunction",
      "type": "object",
      "properties": {
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        },
        "parameters": {
          "description": "List of parameters required for the transformation.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "properties": {
        "integrations": {
          "description": "The integrations which match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token for the response."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse",
      "description": "Response for ListIntegrations.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata": {
      "properties": {
        "integrationName": {
          "description": "The direct integration which the event execution snapshots belongs to",
          "type": "string"
        },
        "eventAttemptNum": {
          "format": "int32",
          "description": "the event attempt number this snapshot belongs to.",
          "type": "integer"
        },
        "taskNumber": {
          "description": "The task number associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "ancestorIterationNumbers": {
          "description": "Ancestor iteration number for the task(it will only be non-empty if the task is under 'private workflow')",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taskName": {
          "description": "the task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "taskLabel": {
          "description": "the task label associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "ancestorTaskNumbers": {
          "description": "Ancestor task number for the task(it will only be non-empty if the task is under 'private workflow')",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taskAttemptNum": {
          "type": "integer",
          "format": "int32",
          "description": "the task attempt number this snapshot belongs to. Could be empty."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
    },
    "GoogleCloudIntegrationsV1alphaChangeCustomerConfigResponse": {
      "type": "object",
      "properties": {
        "customerConfig": {
          "description": "Required. The updated customer configuration.",
          "$ref": "GoogleCloudIntegrationsV1alphaCustomerConfig"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaChangeCustomerConfigResponse",
      "description": "Response for the ChangeCustomerConfig rpc"
    },
    "GoogleCloudIntegrationsV1alphaExecuteTestCaseResponse": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteTestCaseResponse",
      "properties": {
        "testExecutionState": {
          "enumDescriptions": [
            "Unspecified state",
            "Test case execution passed",
            "Test case execution failed"
          ],
          "description": "State of the test case execution",
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "assertionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAssertionResult"
          },
          "description": "Results of each assertions ran during execution of test case."
        },
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters."
        }
      },
      "description": "The response for executing a functional test.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "type": "object",
      "description": "Key-value pair of EventBus property."
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUseTemplateResponse": {
      "properties": {
        "subIntegrationVersions": {
          "type": "array",
          "description": "Sub integration versions which are created.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          }
        },
        "integrationVersion": {
          "description": "IntegrationVersion which is created.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "description": "Response for use template",
      "id": "GoogleCloudIntegrationsV1alphaUseTemplateResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "properties": {
        "authConfigId": {
          "description": "UUID of the AuthConfig.",
          "type": "string"
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "allowedCredentialTypes": {
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "String array."
        }
      },
      "type": "object",
      "description": "This message only contains a field of string array.",
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "type": "object",
      "properties": {
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlowGoogleManaged",
          "description": "Oauth2AuthCodeFlowGoogleManaged."
        },
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Optional. List containing additional auth configs."
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword"
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow"
        },
        "authType": {
          "description": "Optional. The type of authentication configured.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        }
      },
      "description": "AuthConfig defines details of a authentication type.",
      "id": "GoogleCloudConnectorsV1AuthConfig"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "description": "A record representing a suspension.",
      "type": "object",
      "properties": {
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "deprecated": true
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "state": {
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "type": "string",
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ]
        },
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        },
        "lastModifyTime": {
          "type": "string",
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "name": {
          "type": "string",
          "description": "Resource name for suspensions suspension/{suspension_id}"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1Secret": {
      "id": "GoogleCloudConnectorsV1Secret",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "description": "Secret provides a reference to entries in Secret Manager."
    },
    "GoogleCloudIntegrationsV1alphaExecuteTestCasesResponse": {
      "type": "object",
      "properties": {
        "executeTestCaseResponses": {
          "type": "array",
          "description": "Results of each execution of test cases in an integration version.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseResponse"
          }
        }
      },
      "description": "Response for ExecuteTestCases.",
      "id": "GoogleCloudIntegrationsV1alphaExecuteTestCasesResponse"
    },
    "GoogleCloudIntegrationsV1alphaClientConfig": {
      "description": "The configuration information for the Client",
      "id": "GoogleCloudIntegrationsV1alphaClientConfig",
      "properties": {
        "id": {
          "description": "Globally unique ID (project_id + region)",
          "type": "string"
        },
        "clientState": {
          "type": "string",
          "enumDescriptions": [
            "The client state is unspecified",
            "The client is active and able to make calls to the IP APIs",
            "The client is disabled and will soon be deleted"
          ],
          "enum": [
            "CLIENT_STATE_UNSPECIFIED",
            "CLIENT_STATE_ACTIVE",
            "CLIENT_STATE_DISABLED"
          ],
          "description": "Indicates the activity state the client"
        },
        "enableInternalIp": {
          "type": "boolean",
          "description": "Optional. Indicates the client enables internal IP feature, this is applicable for internal clients only."
        },
        "region": {
          "description": "The region the client is linked to.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp when the client was first created.",
          "type": "string"
        },
        "enableVariableMasking": {
          "type": "boolean",
          "description": "Optional. "
        },
        "projectId": {
          "type": "string",
          "description": "The GCP project id of the client associated with"
        },
        "description": {
          "description": "Description of what the client is used for",
          "type": "string"
        },
        "billingType": {
          "enumDescriptions": [
            "Unspecified billing type",
            "A trial org provisioned through Apigee Provisioning Wizard",
            "Subscription based users of Apigee",
            "Consumption based users of IP"
          ],
          "description": "Indicates the billing type of the client",
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "BILLING_TYPE_APIGEE_TRIALS",
            "BILLING_TYPE_APIGEE_SUBSCRIPTION",
            "BILLING_TYPE_PAYG"
          ],
          "type": "string"
        },
        "enableManagedAiFeatures": {
          "type": "boolean",
          "description": "Optional. "
        },
        "customerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCustomerConfig",
          "description": "Optional. Customer configuration information for the given client."
        },
        "enableHttpCall": {
          "type": "boolean",
          "description": "Optional. "
        },
        "runAsServiceAccount": {
          "type": "string"
        },
        "cloudKmsConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        },
        "isGmek": {
          "type": "boolean",
          "description": "Optional. Indicates the client is provisioned with CMEK or GMEK."
        },
        "p4ServiceAccount": {
          "description": "The service agent associated with this client",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest": {
      "description": "Request for ExecuteTestCases.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest"
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "properties": {
        "executionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The execution ids of each Subworkflow fired by this scatter."
        },
        "isSuccessful": {
          "type": "boolean",
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured."
        },
        "responseParams": {
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        },
        "errorMsg": {
          "description": "The error message of the failure if applicable.",
          "type": "string"
        },
        "scatterElement": {
          "description": "The element that was scattered for this execution.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "type": "object",
      "description": "Response for Suspensions.ResolveSuspensions."
    },
    "GoogleCloudIntegrationsV1alphaSearchTemplatesResponse": {
      "properties": {
        "templates": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
          },
          "description": "List of templates retrieved.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page results.",
          "type": "string"
        }
      },
      "description": "Response for a request to search templates",
      "id": "GoogleCloudIntegrationsV1alphaSearchTemplatesResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Next available id: 4",
      "id": "GoogleCloudIntegrationsV1alphaEventParameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "masked": {
          "type": "boolean",
          "description": "True if this parameter should be masked in the logs"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the issue to be created. Required."
        },
        "templateId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the buganizer template to use. Optional."
        },
        "assigneeEmailAddress": {
          "description": "Whom to assign the new bug. Optional.",
          "type": "string"
        },
        "componentId": {
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfigVariables": {
      "description": "Variables names mapped to api trigger.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of variable names.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfigVariables"
    },
    "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse": {
      "properties": {
        "content": {
          "type": "string",
          "description": "String representation of the test case."
        }
      },
      "description": "Response for DownloadTestCase.",
      "id": "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse": {
      "description": "Response for PostProvisioning rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse",
      "description": "Response for cancelling an execution.",
      "type": "object",
      "properties": {
        "isCanceled": {
          "type": "boolean",
          "description": "True if cancellation performed successfully."
        }
      }
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecRequest": {
      "properties": {
        "apiTriggerResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaApiTriggerResource"
          },
          "description": "Required. List of api triggers"
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "description": "Required. File format for generated spec.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ]
        }
      },
      "description": "Request for GenerateOpenApiSpec.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecRequest"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "properties": {
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        },
        "expireAfterMs": {
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "type": "integer",
          "format": "int32"
        },
        "remindAfterMs": {
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaToggleHttpRequest": {
      "description": "Request to enable/disable http call for a provisioned client",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaToggleHttpRequest",
      "properties": {
        "enableHttpCall": {
          "type": "boolean",
          "description": "Required. REQUIRED: True if http call feature should be turned on for this region"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "properties": {
        "keyType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "properties": {
        "intervalInSeconds": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "type": "string",
          "format": "int64"
        },
        "retryStrategy": {
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "description": "Defines what happens to the task upon failure.",
          "type": "string"
        },
        "retryCondition": {
          "type": "string",
          "description": "Optional. The retry condition that will be evaluated for this failure policy with the corresponding retry strategy."
        },
        "maxNumRetries": {
          "format": "int32",
          "type": "integer",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed."
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "type": "object",
      "description": "Parameters to support Username and Password Authentication.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. Username."
        },
        "password": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Optional. Secret version reference containing the password."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword"
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "id": "GoogleCloudConnectorsV1NodeConfig",
      "description": "Node configuration for the connection.",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of nodes in the runtime nodes."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "properties": {
        "intValue": {
          "description": "Optional. Value is an integer",
          "type": "string",
          "format": "int64"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the config variable."
        },
        "encryptionKeyValue": {
          "description": "Optional. Value is a Encryption Key.",
          "$ref": "GoogleCloudConnectorsV1EncryptionKey"
        },
        "secretValue": {
          "description": "Optional. Value is a secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "stringValue": {
          "description": "Optional. Value is a string.",
          "type": "string"
        },
        "boolValue": {
          "description": "Optional. Value is a bool.",
          "type": "boolean"
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
    },
    "GoogleCloudIntegrationsV1alphaGetClientResponse": {
      "type": "object",
      "properties": {
        "client": {
          "description": "Required. Required: The client configuration that was requested",
          "$ref": "GoogleCloudIntegrationsV1alphaClientConfig"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGetClientResponse",
      "description": "Response for the GetClient rpc"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "properties": {
        "taskUiModuleConfigs": {
          "type": "array",
          "description": "Configurations of included config modules.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          }
        }
      },
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework:"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "type": "object",
      "properties": {
        "percentage": {
          "type": "integer",
          "format": "int32"
        },
        "absolute": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object",
      "properties": {
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "tokenExpireTime": {
          "description": "The approximate time until the token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        },
        "serviceAccountEmail": {
[...]
