{
  "revision": "20260927",
  "description": "",
  "canonicalName": "Integrations",
  "title": "Application Integration API",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "integrations",
  "discoveryVersion": "v1",
  "rootUrl": "https://integrations.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "generateIntegration": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The location in which the integration will be generated. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest"
              },
              "description": "Generates an integration skeleton based on a natural language prompt.",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateIntegration",
              "response": {
                "$ref": "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse"
              },
              "id": "integrations.projects.locations.generateIntegration",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}:generateIntegration"
            }
          },
          "resources": {
            "integrations": {
              "methods": {
                "execute": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "id": "integrations.projects.locations.integrations.execute",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The integration resource name."
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The API trigger id associated with the integration. An integration can have multiple trigger_id. This field is required to disambiguate which trigger should be invoked."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "additionalProperties": {
                      "type": "any",
                      "description": "Properties of the object."
                    },
                    "type": "object"
                  },
                  "description": "Executes integrations synchronously. The response is not returned until the requested execution is either fulfilled or experienced an error. Only one integration can be executed. Request format URL: https://integrations.googleapis.com/v2/projects/$PROJECT/locations/$LOCATION/integrations/$INTEGRATION_NAME:execute Request payload: (the entire payload is optional unless input variables need to be set.) {\"variable1\": \"hello world\", \"variable2\": 1, \"variable3\": {\"my_json_key\": \"my json string value\" }",
                  "path": "v2/{+parent}:execute"
                },
                "generateIntegrationBranch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:generateIntegrationBranch",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}:generateIntegrationBranch",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/integrations/{integration}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest"
                  },
                  "description": "Generates an integration branch.",
                  "id": "integrations.projects.locations.integrations.generateIntegrationBranch"
                },
                "generateJavascript": {
                  "id": "integrations.projects.locations.integrations.generateJavascript",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generates Javascript code for data mapping.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:generateJavascript",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV2DuetGenerateJavascriptResponse"
                  },
                  "path": "v2/{+parent}:generateJavascript",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV2DuetGenerateJavascriptRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/integrations/{integration}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "schedule": {
                  "httpMethod": "POST",
                  "parameters": {
                    "triggerId": {
                      "location": "query",
                      "description": "Required. The API trigger id associated with the integration. An integration can have multiple trigger_id. This field is required to disambiguate which trigger should be invoked",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "scheduleTime": {
                      "format": "google-datetime",
                      "description": "Optional. The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The integration resource name.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}:schedule",
                  "id": "integrations.projects.locations.integrations.schedule",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "type": "object",
                    "additionalProperties": {
                      "description": "Properties of the object.",
                      "type": "any"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "description": "Schedules an integration for execution."
                },
                "recommendTasks": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:recommendTasks",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV2DuetRecommendTasksResponse"
                  },
                  "path": "v2/{+parent}:recommendTasks",
                  "description": "Recommends tasks to replace a selected task.",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV2DuetRecommendTasksRequest"
                  },
                  "id": "integrations.projects.locations.integrations.recommendTasks",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/integrations/{integration}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "generateIntegrationDocument": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.integrations.generateIntegrationDocument",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:generateIntegrationDocument",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/integrations/{integration}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Generates documentation for an integration version.",
                  "path": "v2/{+parent}:generateIntegrationDocument"
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "path": "v2/{+parent}/executions",
                      "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV2ListExecutionsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The token returned in the previous response.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Standard filter field, we support filtering on following fields: integration_name: the name of the integration. create_time: the execution created time. update_time: the execution last update time. state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. All fields support for EQUALS, in additional: create_time and update_time support for LESS_THAN, GREATER_THAN Also supports operators like AND, OR, NOT For example: trigger_id=\\\"id1\\\" AND integration_name=\\\"testIntegration\\\"",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. parent resource name of integration execution.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The size of entries in the response.",
                          "type": "integer",
                          "location": "query"
                        },
                        "readMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in execution info will be filled and returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.list"
                    },
                    "troubleshoot": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:troubleshoot",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse"
                      },
                      "description": "View detailed explanation of why an integration execution failed, using LLM",
                      "path": "v2/{+name}:troubleshoot",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.troubleshoot",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Execution resource name. Format: `projects/{project}/locations/{location}/integrations/{integration}/executions/{execution_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$"
                        }
                      }
                    }
                  },
                  "resources": {
                    "taskExecutions": {
                      "methods": {
                        "get": {
                          "id": "integrations.projects.locations.integrations.executions.taskExecutions.get",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/taskExecutions/{taskExecutionsId}",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV2TaskExecution"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/taskExecutions/[^/]+$",
                              "required": true,
                              "description": "Required. The TaskExecution to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/executions/{execution}/taskExecutions/{task_execution}",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v2/{+name}",
                          "description": "Get a TaskExecution in the specified project.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://integrations.googleapis.com/",
  "version": "v2",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/application-integration",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "description": "Represents external traffic type and id.",
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "enableInternalIp": {
          "description": "Indicates the client enables internal IP feature, this is applicable for internal clients only.",
          "type": "boolean"
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "",
            "WARNING: not the Apigee product. Marks external CUSTOMER traffic, including live Standalone IP clients, so deleting an `== APIGEE` branch breaks every external customer. SECURITY is the other external source (see ExternalTrafficUtils.EXTERNAL_SOURCES). Real Apigee test: !is_branded_as_standalone.",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        },
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        },
        "retryRequestForQuota": {
          "type": "boolean",
          "description": "Enqueue the execution request due to quota issue"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoFunction",
      "properties": {
        "functionType": {
          "$ref": "EnterpriseCrmEventbusProtoFunctionType",
          "description": "The name of the function to perform."
        },
        "parameters": {
          "type": "array",
          "description": "List of parameters required for the transformation.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2AttemptStats": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end time of the execution for the current attempt.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The start time of the execution for the current attempt. This could be in the future if it's been scheduled.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Status for the execution attempt.",
      "id": "GoogleCloudIntegrationsV2AttemptStats",
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "properties": {
        "allowedCredentialTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ],
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ]
          },
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.",
          "type": "array"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "authConfigId": {
          "description": "UUID of the AuthConfig.",
          "type": "string"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest": {
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest",
      "properties": {
        "integrationBranchRequest": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest",
          "description": "Required. The integration branch request payload."
        },
        "prompt": {
          "type": "string",
          "description": "Required. User prompt."
        }
      },
      "description": "Request message for generating an integration branch containing tasks.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetStringParameterArray": {
      "description": "This message only contains a field of string array.",
      "id": "GoogleCloudIntegrationsV2DuetStringParameterArray",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "String array."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2Execution": {
      "type": "object",
      "description": "The Execution contains detailed information of an individual integration execution.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the execution is recently updated.",
          "format": "google-datetime"
        },
        "requestVariables": {
          "description": "Optional. Variables provided in the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "integrationVersionNumber": {
          "description": "Indicates which snapshot of integration is used for this execution.",
          "type": "string",
          "format": "int64"
        },
        "replayInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudIntegrationsV2ExecutionReplayInfo",
          "description": "Output only. Replay info for the execution"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Execution resource name."
        },
        "taskExecutions": {
          "description": "Optional. List of task executions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2TaskExecution"
          }
        },
        "createTime": {
          "description": "Output only. Time the execution is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "triggerId": {
          "description": "The ID of the trigger invoked at the start of the execution.",
          "type": "string"
        },
        "integrationVersionUserLabel": {
          "type": "string",
          "description": "Optional. User-defined label that annotates the executed integration version."
        },
        "containTaskVariables": {
          "type": "boolean",
          "description": "Indicates if the task execution contains variables."
        },
        "responseVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Variables returned as part of the response.",
          "type": "object"
        },
        "executionAttemptStats": {
          "description": "Start and end time of each execution attempt.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2AttemptStats"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. Status of the execution.",
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There are no more changes after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution is cancelled. There's no more change after this state.",
            "Execution failed and is waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        },
        "cloudLoggingDetails": {
          "$ref": "GoogleCloudIntegrationsV2CloudLoggingDetails",
          "description": "Cloud Logging details for the integration version"
        }
      },
      "id": "GoogleCloudIntegrationsV2Execution"
    },
    "EnterpriseCrmEventbusProtoCloudKmsConfig": {
      "properties": {
        "keyRingName": {
          "description": "A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location.",
          "type": "string"
        },
        "keyName": {
          "type": "string",
          "description": "A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location."
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14)."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account used for authentication of this KMS key. If this is not provided, the service account in Client.clientSource will be used."
        },
        "locationName": {
          "description": "Location name of the key ring, e.g. \"us-west1\".",
          "type": "string"
        },
        "keyVersionName": {
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCloudKmsConfig"
    },
    "EnterpriseCrmEventbusProtoField": {
      "description": "Information about the value and type of the field.",
      "type": "object",
      "properties": {
        "fieldType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Specifies the data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "defaultValue": {
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "cardinality": {
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ],
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "type": "string"
        },
        "protoDefPath": {
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.",
          "type": "string"
        },
        "transformExpression": {
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
        },
        "referenceKey": {
          "type": "string",
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
        }
      },
      "id": "EnterpriseCrmEventbusProtoField"
    },
    "GoogleApiHttpBody": {
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        },
        "extensions": {
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse": {
      "id": "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse",
      "properties": {
        "detailedExplanation": {
          "description": "Detailed explanation of the root cause of the integration execution failure.",
          "type": "string"
        },
        "displayMessage": {
          "description": "Display message to be shown to the user. Example - If integration execution succeeded, this field value can be \"Integration execution succeeded. No troubleshooting needed.\".",
          "type": "string"
        },
        "rootCause": {
          "description": "Root cause of the integration execution failure.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "The execution id of the integration execution to be troubleshooted."
        },
        "errorMessage": {
          "description": "Error message of the integration execution, if the execution failed.",
          "type": "string"
        }
      },
      "description": "Response for troubleshooting an integration execution.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "type": "object",
      "properties": {
        "referenceValue": {
          "type": "string",
          "description": "Start with a reference value to dereference."
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseValue"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "properties": {
        "suspensionExpiration": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "whoMayResolve": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          },
          "type": "array",
          "description": "Identities able to resolve this suspension."
        },
        "customMessage": {
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow.",
          "type": "string"
        },
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "properties": {
        "assigneeEmailAddress": {
          "description": "Whom to assign the new bug. Optional.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the issue to be created. Required."
        },
        "templateId": {
          "description": "ID of the buganizer template to use. Optional.",
          "format": "int64",
          "type": "string"
        },
        "componentId": {
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "GoogleCloudIntegrationsV2DuetTaskResponseStatus": {
      "description": "Message for task response status.",
      "properties": {
        "taskType": {
          "description": "The task type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Connector Task.",
            "Rest task."
          ],
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "CONNECTOR_TASK",
            "REST_TASK"
          ]
        },
        "errorMessage": {
          "description": "The error message of the task response in case of failure.",
          "type": "string"
        },
        "httpCode": {
          "format": "int32",
          "description": "The http code of the task response.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetTaskResponseStatus",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoToken"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "lastModifiedTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
        },
        "wrappedDek": {
          "type": "string",
          "format": "byte",
          "description": "Wrapped dek"
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "status": {
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED",
            "CANCELED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "createdTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "cloudKmsConfig": {
          "description": "KMS info, used by cmek/gmek integration",
          "$ref": "EnterpriseCrmEventbusProtoCloudKmsConfig"
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "encryptedSuspensionResolutionInfo": {
          "format": "byte",
          "description": "Encrypted SuspensionResolutionInfo",
          "type": "string"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "Double number array."
        }
      },
      "type": "object",
      "description": "This message only contains a field of double number array.",
      "id": "GoogleCloudIntegrationsV2DuetDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetErrorCatcherConfig": {
      "description": "Configuration detail of a error catch task",
      "type": "object",
      "properties": {
        "startErrorTasks": {
          "type": "array",
          "description": "Required. The set of start tasks that are to be executed for the error catch flow",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          }
        },
        "description": {
          "description": "Optional. User-provided description intended to give more business context about the error catcher config.",
          "type": "string"
        },
        "errorCatcherNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each error catcher config within the workflow on UI."
        },
        "label": {
          "description": "Optional. The user created label for a particular error catcher. Optional.",
          "type": "string"
        },
        "errorCatcherId": {
          "description": "Required. An error catcher id is string representation for the error catcher config. Within a workflow, error_catcher_id uniquely identifies an error catcher config among all error catcher configs for the workflow",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetErrorCatcherConfig"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "type": "object",
      "properties": {
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      }
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoJsonFunction"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationSkeleton": {
      "type": "object",
      "properties": {
        "tag": {
          "description": "Indicate the strategy/methodology used to generate the integration.",
          "type": "string"
        },
        "explanation": {
          "type": "string",
          "description": "Explanation of why this integration was generated."
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "description": "The integration version containing basic triggers and tasks."
        },
        "name": {
          "description": "The name of the integration.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetIntegrationSkeleton",
      "description": "An integration skeleton containing basic fields which can be used to create an integration on the UI."
    },
    "EnterpriseCrmEventbusProtoCustomSuspensionRequest": {
      "id": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
      "type": "object",
      "properties": {
        "suspensionInfoEventParameterKey": {
          "description": "In the fired event, set the SuspensionInfo message as the value for this key.",
          "type": "string"
        },
        "postToQueueWithTriggerIdRequest": {
          "$ref": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
          "description": "Request to fire an event containing the SuspensionInfo message."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "type": "object",
      "description": "Entry is a pair of key and value.",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry"
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "properties": {
        "errorMsg": {
          "type": "string",
          "description": "Add the error message when loops fail."
        },
        "currentIterationCount": {
          "description": "Starting from 1, not 0.",
          "format": "int64",
          "type": "string"
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        },
        "failureLocation": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "description": "Indicates where in the loop logic did it error out.",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoLoopMetadata"
    },
    "GoogleCloudIntegrationsV2DuetJavascriptRecommendation": {
      "description": "Individual Javascript recommendation containing the task config with the new code, integration parameters and the explanation.",
      "type": "object",
      "properties": {
        "taskConfig": {
          "description": "Optional. The task config of the Javascript task.",
          "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
        },
        "explanation": {
          "description": "The explanation of the Javascript code.",
          "type": "string"
        },
        "integrationParameters": {
          "description": "Optional. The list of the new integration parameters.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetJavascriptRecommendation"
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "type": "object",
      "properties": {
        "parentEventExecutionInfoId": {
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.",
          "type": "string"
        },
        "traceId": {
          "type": "string",
          "description": "Used to aggregate ExecutionTraceInfo."
        }
      },
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
    },
    "GoogleCloudIntegrationsV2ListExecutionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for retrieving the next page of results.",
          "type": "string"
        },
        "executions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2Execution"
          },
          "description": "Required. The list of executions."
        }
      },
      "description": "Response for listing the Integration executions.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2ListExecutionsResponse"
    },
    "GoogleCloudIntegrationsV2DuetNextTask": {
      "id": "GoogleCloudIntegrationsV2DuetNextTask",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "displayName": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give additional business context about the task."
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "properties": {
        "responseParams": {
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "executionIds": {
          "type": "array",
          "description": "The execution ids of each Subworkflow fired by this scatter.",
          "items": {
            "type": "string"
          }
        },
        "isSuccessful": {
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured.",
          "type": "boolean"
        },
        "scatterElement": {
          "description": "The element that was scattered for this execution.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "errorMsg": {
          "type": "string",
          "description": "The error message of the failure if applicable."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "description": "To support various types of parameter values. Next available id: 14",
      "type": "object",
      "properties": {
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "jsonValue": {
          "type": "string"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
    },
    "GoogleCloudIntegrationsV2DuetJavascriptRequest": {
      "properties": {
        "integrationVersion": {
          "description": "Required. The integration version which contains all the integration parameters, all triggers and tasks including the Javascript task.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion"
        },
        "useCurrentScript": {
          "type": "boolean",
          "description": "Optional. Whether to use the current javascript task config (JS code) to generate the Javascript code."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The task id of the Javascript task."
        },
        "copilotEnabled": {
          "description": "Optional. If this request is for copilot.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetJavascriptRequest",
      "description": "Request message for Javascript Task using Gemini."
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentRequest": {
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentRequest",
      "type": "object",
      "description": "Request message for generating documentation for an integration version.",
      "properties": {
        "integrationDocumentRequest": {
          "description": "Required. The integration document request payload.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      },
      "description": "Field Mapping Config to map multiple output fields values from input fields values."
    },
    "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata": {
      "id": "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata",
      "properties": {
        "taskAttempt": {
          "format": "int32",
          "description": "The task attempt number this execution belongs to.",
          "type": "integer"
        },
        "taskNumber": {
          "description": "The task number associated with this execution.",
          "type": "string"
        },
        "taskLabel": {
          "type": "string",
          "description": "The task label associated with this execution."
        },
        "privateIntegrationName": {
          "type": "string",
          "description": "Optional. The direct integration which the execution belongs to."
        },
        "ancestorTaskNumbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Ancestor task number for the task (it will only be non-empty if the task is under 'private integration')."
        },
        "task": {
          "description": "The task name associated with this execution.",
          "type": "string"
        },
        "executionAttempt": {
          "format": "int32",
          "description": "The execution attempt number this execution belongs to.",
          "type": "integer"
        },
        "ancestorIterationNumbers": {
          "type": "array",
          "description": "Optional. Ancestor iteration number for the task (it will only be non-empty if the task is under 'private integration').",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Metadata of the task execution."
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "type": "object",
      "description": "Mapped field is a pair of input field and output field.",
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "properties": {
        "inputField": {
          "description": "The input field being mapped from.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetRecommendTasksRequest": {
      "id": "GoogleCloudIntegrationsV2DuetRecommendTasksRequest",
      "description": "Request message for recommending tasks to replace a selected task.",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. User prompt."
        },
        "replaceTaskRequest": {
          "description": "Required. The current task to replace and options.",
          "$ref": "GoogleCloudIntegrationsV2DuetReplaceTaskRequest"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse": {
      "description": "Response message containing generated integration documentation text.",
      "properties": {
        "document": {
          "type": "string",
          "description": "The description of the integration returned by Duet AI."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig",
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration"
    },
    "GoogleCloudIntegrationsV2DuetValueType": {
      "properties": {
        "intArray": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntParameterArray",
          "description": "Integer Array."
        },
        "stringValue": {
          "type": "string",
          "description": "String."
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetDoubleParameterArray"
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetBooleanParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "description": "Double Number.",
          "type": "number"
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        },
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetStringParameterArray"
        },
        "intValue": {
          "description": "Integer.",
          "type": "string",
          "format": "int64"
        },
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        }
      },
      "description": "The type of the parameter.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetValueType"
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntParameterArray": {
      "type": "object",
      "description": "This message only contains a field of integer array.",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Integer array.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetIntParameterArray"
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "id": "EnterpriseCrmEventbusProtoAddress",
      "properties": {
        "name": {
          "type": "string"
        },
        "tokens": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          },
          "type": "array"
        },
        "email": {
          "description": "Required.",
          "type": "string"
        }
      },
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "description": "Boolean array.",
          "type": "array"
        }
      },
      "description": "This message only contains a field of boolean array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetBooleanParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest": {
      "description": "Request for generating an integration.",
      "type": "object",
      "properties": {
        "copilotEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if copilot is enabled. Copilot features may alter the generated integration structure."
        },
        "prompt": {
          "description": "Required. The natural language prompt based on which the integration will be generated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest"
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "stringValue": {
          "type": "string"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        }
      },
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE",
            "DECODE_BASE64_STRING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetReplaceTaskRequest": {
      "properties": {
        "taskTypes": {
          "items": {
            "type": "string",
            "enum": [
              "TASK_TYPE_UNSPECIFIED",
              "CONNECTOR_TASK",
              "REST_TASK"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Connector Task.",
              "Rest task."
            ]
          },
          "description": "The list of task types.",
          "type": "array"
        },
        "copilotEnabled": {
          "description": "Optional. If this request is for copilot.",
          "type": "boolean"
        },
        "taskConfig": {
          "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig",
          "description": "Required. The current task selected on the UI."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetReplaceTaskRequest",
      "type": "object",
      "description": "Message for Replace Task Scenario."
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resolvedByCpi": {
          "type": "string"
        },
        "resolvedBy": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetTriggerConfig": {
      "properties": {
        "startTasks": {
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          },
          "type": "array"
        },
        "triggerNumber": {
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI.",
          "type": "string"
        },
        "triggerType": {
          "description": "Optional. Type of trigger",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job.",
            "Trigger by Connector Event",
            "Trigger for private workflow"
          ],
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER",
            "INTEGRATION_CONNECTOR_TRIGGER",
            "PRIVATE_TRIGGER"
          ]
        },
        "trigger": {
          "type": "string",
          "description": "Optional. Name of the trigger. Example: \"API Trigger\", \"Cloud Pub Sub Trigger\" When set will be sent out to monitoring dashabord for tracking purpose."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
        },
        "cloudSchedulerConfig": {
          "description": "Optional. Cloud Scheduler Trigger related metadata",
          "$ref": "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig"
        },
        "outputVariables": {
          "description": "Optional. List of output variables for the api trigger.",
          "$ref": "GoogleCloudIntegrationsV2DuetTriggerConfigVariables"
        },
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "inputVariables": {
          "description": "Optional. List of input variables for the api trigger.",
          "$ref": "GoogleCloudIntegrationsV2DuetTriggerConfigVariables"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetTriggerConfig",
      "description": "Configuration detail of a trigger."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          }
        },
        "keyType": {
          "type": "string",
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2TaskExecutionDetails": {
      "type": "object",
      "properties": {
        "taskExecutionState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "CANCELLED",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "Output only. The execution state of this task.",
          "enumDescriptions": [
            "Default value.",
            "Task is under processing.",
            "Task execution successfully finished. There are no more changes after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole integration execution to fail immediately. There's no more change after this state.",
            "Task execution failed and is waiting for retry.",
            "Task execution cancelled when in progress. This happens when integration execution was cancelled or any other task fell into a fatal state.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "readOnly": true
        },
        "taskAttemptStats": {
          "description": "List for the current task execution attempts.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2AttemptStats"
          },
          "type": "array"
        },
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV2TaskExecutionDetails",
      "description": "Details of the task execution."
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchResponse": {
      "type": "object",
      "description": "Response message containing the generated integration branch data.",
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchResponse",
      "properties": {
        "integrationBranch": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationBranch",
          "description": "The integration branch returned by Duet"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationBranch": {
      "description": "An integration branch skeleton containing basic fields which can be used to create an integration branch on the UI.",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationBranch",
      "type": "object",
      "properties": {
        "explanation": {
          "description": "Explanation of why this integration branch was generated.",
          "type": "string"
        },
        "branchCondition": {
          "type": "string",
          "description": "The condition for the branch."
        },
        "integrationParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "type": "array",
          "description": "The newly generated workflow parameters."
        },
        "taskConfigs": {
          "type": "array",
          "description": "The newly generated tasks which can be branched into the current integration.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "properties": {
        "remindAfterMs": {
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer",
          "format": "int32"
        },
        "expireAfterMs": {
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "format": "int32",
          "type": "integer"
        },
        "liftWhenExpired": {
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest": {
      "id": "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest",
      "description": "The request for generating description of an integration.",
      "type": "object",
      "properties": {
        "integrationVersion": {
          "description": "Required. The current integrtion on the canvas.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse": {
      "properties": {
        "skeletonIntegrations": {
          "description": "The list of integration skeletons returned.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationSkeleton"
          },
          "type": "array"
        }
      },
      "description": "Response for generating an integration.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
        },
        "host": {
          "description": "The name of the Hostname of the Service Directory service with TLS if used.",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "description": "LINT.IfChange Use this request to post all workflows associated with a given trigger id. Next available id: 13",
      "type": "object",
      "properties": {
        "priority": {
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for < 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:"
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "quotaRetryCount": {
          "description": "Optional. This is a field to see the quota retry count for integration execution",
          "type": "integer",
          "format": "int32"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "resourceName": {
          "description": "This field is only required when using Admin Access. The resource name of target, or the parent resource name. For example: \"projects/*/locations/*/integrations/*\"",
          "type": "string"
        },
        "userGeneratedExecutionId": {
          "description": "This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetRecommendTasksResponse": {
      "type": "object",
      "properties": {
        "taskResponseStatuses": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskResponseStatus"
          },
          "description": "The list of task response status based on the task_types in the request.",
          "type": "array"
        },
        "taskConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          },
          "description": "The list of recommended tasks."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetRecommendTasksResponse",
      "description": "Response message containing recommended tasks for replacement."
    },
    "GoogleCloudIntegrationsV2ExecutionReplayInfo": {
      "properties": {
        "originalExecutionId": {
          "description": "If this execution is a replay of another execution, then this field contains the original execution id.",
          "type": "string"
        },
        "replayedExecutionIds": {
          "items": {
            "type": "string"
          },
          "description": "If this execution has been replayed, then this field contains the execution ids of the replayed executions.",
          "type": "array"
        },
        "replayReason": {
          "type": "string",
          "description": "reason for replay"
        },
        "replayMode": {
          "type": "string",
          "description": "Replay mode for the execution",
          "enum": [
            "REPLAY_MODE_UNSPECIFIED",
            "REPLAY_MODE_FROM_BEGINNING",
            "REPLAY_MODE_POINT_OF_FAILURE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Replay the original execution from the beginning.",
            "Replay the execution from the first failed task."
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV2ExecutionReplayInfo",
      "description": "Contains the details of the execution info: this includes the replay reason and replay tree connecting executions in a parent-child relationship",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "properties": {
        "gaiaId": {
          "format": "int64",
          "type": "string"
        },
        "emailAddress": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "type": "object",
      "properties": {
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
[...]
