{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig": {
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig",
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "type": "object",
      "properties": {
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "allowedCredentialTypes": {
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        }
      },
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "type": "object",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV2TaskExecutionDetails": {
      "properties": {
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2AttemptStats"
          },
          "description": "List for the current task execution attempts."
        },
        "taskExecutionState": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "CANCELLED",
            "SUSPENDED"
          ],
          "description": "Output only. The execution state of this task.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Task is under processing.",
            "Task execution successfully finished. There are no more changes after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole integration execution to fail immediately. There's no more change after this state.",
            "Task execution failed and is waiting for retry.",
            "Task execution cancelled when in progress. This happens when integration execution was cancelled or any other task fell into a fatal state.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ]
        }
      },
      "description": "Details of the task execution.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2TaskExecutionDetails"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "type": "object",
      "description": "Mapped field is a pair of input field and output field.",
      "properties": {
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        },
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "properties": {
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoFunction",
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray",
      "type": "object",
      "properties": {
        "protoValues": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "properties": {
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "booleanValue": {
          "type": "boolean"
        }
      },
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "properties": {
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        }
      }
    },
    "GoogleCloudIntegrationsV2AttemptStats": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of the execution for the current attempt.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of the execution for the current attempt. This could be in the future if it's been scheduled."
        }
      },
      "id": "GoogleCloudIntegrationsV2AttemptStats",
      "type": "object",
      "description": "Status for the execution attempt."
    },
    "GoogleCloudIntegrationsV2DuetTaskResponseStatus": {
      "id": "GoogleCloudIntegrationsV2DuetTaskResponseStatus",
      "description": "Message for task response status.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error message of the task response in case of failure."
        },
        "taskType": {
          "type": "string",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "CONNECTOR_TASK",
            "REST_TASK"
          ],
          "description": "The task type.",
          "enumDescriptions": [
            "Unspecified.",
            "Connector Task.",
            "Rest task."
          ]
        },
        "httpCode": {
          "type": "integer",
          "format": "int32",
          "description": "The http code of the task response."
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "properties": {
        "resolvedByCpi": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "resolvedBy": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "properties": {
        "host": {
          "type": "string",
          "description": "The name of the Hostname of the Service Directory service with TLS if used."
        },
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        },
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      },
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see",
      "type": "object"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "description": "LINT.IfChange Use this request to post all workflows associated with a given trigger id. Next available id: 14",
      "properties": {
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for < 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ]
        },
        "userGeneratedExecutionId": {
          "description": "This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "scheduledTime": {
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "workflowId": {
          "type": "string",
          "description": "Optional. Pins the enqueue to this exact version rather than the ACTIVE one on the trigger, so an unpublished draft can be tested. Requires client_id, and the version is validated before it is enqueued; see integrationplatform/api/executionsservice/README.md."
        },
        "resourceName": {
          "description": "This field is only required when using Admin Access. The resource name of target, or the parent resource name. For example: \"projects/*/locations/*/integrations/*\"",
          "type": "string"
        },
        "quotaRetryCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. This is a field to see the quota retry count for integration execution"
        }
      },
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse": {
      "properties": {
        "skeletonIntegrations": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationSkeleton"
          },
          "type": "array",
          "description": "The list of integration skeletons returned."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse",
      "description": "Response for generating an integration.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE",
            "DECODE_BASE64_STRING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntParameterArray": {
      "properties": {
        "intValues": {
          "description": "Integer array.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "description": "This message only contains a field of integer array.",
      "id": "GoogleCloudIntegrationsV2DuetIntParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "GoogleCloudIntegrationsV2Execution": {
      "description": "The Execution contains detailed information of an individual integration execution.",
      "properties": {
        "containTaskVariables": {
          "description": "Indicates if the task execution contains variables.",
          "type": "boolean"
        },
        "cloudLoggingDetails": {
          "description": "Cloud Logging details for the integration version",
          "$ref": "GoogleCloudIntegrationsV2CloudLoggingDetails"
        },
        "replayInfo": {
          "$ref": "GoogleCloudIntegrationsV2ExecutionReplayInfo",
          "description": "Output only. Replay info for the execution",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Execution resource name."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the execution is recently updated."
        },
        "createTime": {
          "description": "Output only. Time the execution is created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "taskExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2TaskExecution"
          },
          "description": "Optional. List of task executions."
        },
        "responseVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Variables returned as part of the response.",
          "type": "object"
        },
        "requestVariables": {
          "description": "Optional. Variables provided in the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "triggerId": {
          "description": "The ID of the trigger invoked at the start of the execution.",
          "type": "string"
        },
        "executionAttemptStats": {
          "description": "Start and end time of each execution attempt.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2AttemptStats"
          },
          "type": "array"
        },
        "integrationVersionNumber": {
          "format": "int64",
          "description": "Indicates which snapshot of integration is used for this execution.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There are no more changes after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution is cancelled. There's no more change after this state.",
            "Execution failed and is waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "description": "Output only. Status of the execution.",
          "type": "string"
        },
        "integrationVersionUserLabel": {
          "description": "Optional. User-defined label that annotates the executed integration version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2Execution"
    },
    "GoogleCloudIntegrationsV2DuetBooleanParameterArray": {
      "description": "This message only contains a field of boolean array.",
      "type": "object",
      "properties": {
        "booleanValues": {
          "type": "array",
          "description": "Boolean array.",
          "items": {
            "type": "boolean"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetBooleanParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest": {
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt based on which the integration will be generated."
        },
        "copilotEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if copilot is enabled. Copilot features may alter the generated integration structure."
        }
      },
      "description": "Request for generating an integration."
    },
    "GoogleCloudIntegrationsV2DuetRecommendTasksRequest": {
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. User prompt."
        },
        "replaceTaskRequest": {
          "$ref": "GoogleCloudIntegrationsV2DuetReplaceTaskRequest",
          "description": "Required. The current task to replace and options."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetRecommendTasksRequest",
      "description": "Request message for recommending tasks to replace a selected task.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest",
      "description": "The request for generating an integration branch.",
      "properties": {
        "integrationParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "description": "Optional. A list of all the workflow parameters of the current integration.",
          "type": "array"
        },
        "taskConfigs": {
          "description": "Required. A list of all the tasks of the current integration.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          },
          "type": "array"
        },
        "branchCondition": {
          "type": "string",
          "description": "Optional. The condition for the particular branch which the user selected."
        }
      }
    },
    "GoogleCloudIntegrationsV2TaskExecution": {
      "description": "Execution of a single task within an integration",
      "properties": {
        "name": {
          "description": "Identifier. Task execution resource name.",
          "type": "string"
        },
        "taskExecutionMetadata": {
          "description": "Optional. Metadata of the task execution.",
          "$ref": "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata"
        },
        "variables": {
          "type": "object",
          "description": "Optional. Variables used during the execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "taskExecutionDetails": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2TaskExecutionDetails"
          },
          "description": "Details of the task execution.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2TaskExecution"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoFunction"
    },
    "GoogleCloudIntegrationsV2ExecutionReplayInfo": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV2ExecutionReplayInfo",
      "description": "Contains the details of the execution info: this includes the replay reason and replay tree connecting executions in a parent-child relationship",
      "properties": {
        "replayMode": {
          "enum": [
            "REPLAY_MODE_UNSPECIFIED",
            "REPLAY_MODE_FROM_BEGINNING",
            "REPLAY_MODE_POINT_OF_FAILURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Replay the original execution from the beginning.",
            "Replay the execution from the first failed task."
          ],
          "description": "Replay mode for the execution"
        },
        "replayedExecutionIds": {
          "type": "array",
          "description": "If this execution has been replayed, then this field contains the execution ids of the replayed executions.",
          "items": {
            "type": "string"
          }
        },
        "originalExecutionId": {
          "type": "string",
          "description": "If this execution is a replay of another execution, then this field contains the original execution id."
        },
        "replayReason": {
          "description": "reason for replay",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntegrationSkeleton": {
      "properties": {
        "explanation": {
          "type": "string",
          "description": "Explanation of why this integration was generated."
        },
        "name": {
          "type": "string",
          "description": "The name of the integration."
        },
        "integrationVersion": {
          "description": "The integration version containing basic triggers and tasks.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion"
        },
        "tag": {
          "description": "Indicate the strategy/methodology used to generate the integration.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationSkeleton",
      "description": "An integration skeleton containing basic fields which can be used to create an integration on the UI."
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter": {
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "properties": {
        "traceId": {
          "description": "Used to aggregate ExecutionTraceInfo.",
          "type": "string"
        },
        "parentEventExecutionInfoId": {
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.",
          "type": "string"
        }
      },
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchResponse": {
      "properties": {
        "integrationBranch": {
          "description": "The integration branch returned by Duet",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationBranch"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchResponse",
      "description": "Response message containing the generated integration branch data."
    },
    "GoogleCloudIntegrationsV2DuetGenerateJavascriptRequest": {
      "properties": {
        "prompt": {
          "description": "Optional. User prompt.",
          "type": "string"
        },
        "javascriptRequest": {
          "description": "Required. The javascript request payload.",
          "$ref": "GoogleCloudIntegrationsV2DuetJavascriptRequest"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetGenerateJavascriptRequest",
      "description": "Request message for generating data mapping Javascript."
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoFunction",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          },
          "type": "array",
          "description": "List of parameters required for the transformation."
        },
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "properties": {
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "encryptedSuspensionResolutionInfo": {
          "description": "Encrypted SuspensionResolutionInfo",
          "format": "byte",
          "type": "string"
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "wrappedDek": {
          "format": "byte",
          "type": "string",
          "description": "Wrapped dek"
        },
        "cloudKmsConfig": {
          "description": "KMS info, used by cmek/gmek integration",
          "$ref": "EnterpriseCrmEventbusProtoCloudKmsConfig"
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "createdTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "lastModifiedTimestamp": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "google-datetime"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED",
            "CANCELED"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "properties": {
        "initialValue": {
          "description": "Initial value upon which to perform transformations.",
          "$ref": "EnterpriseCrmEventbusProtoBaseValue"
        },
        "transformationFunctions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          },
          "type": "array",
          "description": "Transformations to be applied sequentially."
        }
      }
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "properties": {
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "enableInternalIp": {
          "type": "boolean",
          "description": "Indicates the client enables internal IP feature, this is applicable for internal clients only."
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "",
            "WARNING: not the Apigee product. Marks external CUSTOMER traffic, including live Standalone IP clients, so deleting an `== APIGEE` branch breaks every external customer. SECURITY is the other external source (see ExternalTrafficUtils.EXTERNAL_SOURCES). Real Apigee test: !is_branded_as_standalone.",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        },
        "gcpProjectId": {
          "description": "User’s GCP project id the traffic is referring to.",
          "type": "string"
        },
        "retryRequestForQuota": {
          "type": "boolean",
          "description": "Enqueue the execution request due to quota issue"
        }
      },
      "type": "object",
      "description": "Represents external traffic type and id.",
      "id": "EnterpriseCrmEventbusProtoExternalTraffic"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values.",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse": {
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse",
      "type": "object",
      "properties": {
        "document": {
          "description": "The description of the integration returned by Duet AI.",
          "type": "string"
        }
      },
      "description": "Response message containing generated integration documentation text."
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoAddress",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "description": "Required.",
          "type": "string"
        },
        "tokens": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoCloudKmsConfig": {
      "properties": {
        "keyRingName": {
          "type": "string",
          "description": "A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location."
        },
        "keyVersionName": {
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account used for authentication of this KMS key. If this is not provided, the service account in Client.clientSource will be used."
        },
        "keyName": {
          "description": "A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location.",
          "type": "string"
        },
        "locationName": {
          "description": "Location name of the key ring, e.g. \"us-west1\".",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14)."
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudKmsConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "properties": {
        "escalatorQueue": {
          "type": "string"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        },
        "pubsubTopic": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNotification"
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetNextTask": {
      "type": "object",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "description": {
          "description": "User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetNextTask",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true."
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "type": "object",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest": {
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest",
      "properties": {
        "prompt": {
          "description": "Required. User prompt.",
          "type": "string"
        },
        "integrationBranchRequest": {
          "description": "Required. The integration branch request payload.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest"
        }
      },
      "description": "Request message for generating an integration branch containing tasks.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "description": "To support various types of parameter values. Next available id: 14",
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "stringValue": {
          "type": "string"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "jsonValue": {
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse": {
      "id": "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Error message of the integration execution, if the execution failed."
        },
        "detailedExplanation": {
          "type": "string",
          "description": "Detailed explanation of the root cause of the integration execution failure."
        },
        "displayMessage": {
          "description": "Display message to be shown to the user. Example - If integration execution succeeded, this field value can be \"Integration execution succeeded. No troubleshooting needed.\".",
          "type": "string"
        },
        "executionId": {
          "description": "The execution id of the integration execution to be troubleshooted.",
          "type": "string"
        },
        "rootCause": {
          "description": "Root cause of the integration execution failure.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for troubleshooting an integration execution."
    },
    "GoogleCloudIntegrationsV2DuetTriggerConfigVariables": {
      "id": "GoogleCloudIntegrationsV2DuetTriggerConfigVariables",
      "description": "Variables names mapped to api trigger.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of variable names."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetEventParameter": {
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "GoogleCloudIntegrationsV2DuetValueType"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetEventParameter",
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetValueType": {
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "Double Number.",
          "type": "number"
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV2DuetStringParameterArray",
          "description": "String Array."
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "intValue": {
          "format": "int64",
          "description": "Integer.",
          "type": "string"
        },
        "intArray": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntParameterArray",
          "description": "Integer Array."
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetBooleanParameterArray"
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetDoubleParameterArray"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetValueType",
      "description": "The type of the parameter."
    },
    "GoogleCloudIntegrationsV2DuetReplaceTaskRequest": {
      "id": "GoogleCloudIntegrationsV2DuetReplaceTaskRequest",
      "properties": {
        "copilotEnabled": {
          "type": "boolean",
          "description": "Optional. If this request is for copilot."
        },
        "taskConfig": {
          "description": "Required. The current task selected on the UI.",
          "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
        },
        "taskTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Connector Task.",
              "Rest task."
            ],
            "type": "string",
            "enum": [
              "TASK_TYPE_UNSPECIFIED",
              "CONNECTOR_TASK",
              "REST_TASK"
            ]
          },
          "description": "The list of task types.",
          "type": "array"
        }
      },
      "description": "Message for Replace Task Scenario.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationBranch": {
      "id": "GoogleCloudIntegrationsV2DuetIntegrationBranch",
      "description": "An integration branch skeleton containing basic fields which can be used to create an integration branch on the UI.",
      "type": "object",
      "properties": {
        "taskConfigs": {
          "description": "The newly generated tasks which can be branched into the current integration.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          },
          "type": "array"
        },
        "branchCondition": {
          "type": "string",
          "description": "The condition for the branch."
        },
        "integrationParameters": {
          "description": "The newly generated workflow parameters.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "type": "array"
        },
        "explanation": {
          "description": "Explanation of why this integration branch was generated.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntegrationVersion": {
      "id": "GoogleCloudIntegrationsV2DuetIntegrationVersion",
      "type": "object",
      "description": "The integration version definition.",
      "properties": {
        "taskConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          },
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "type": "array"
        },
        "errorCatcherConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetErrorCatcherConfig"
          },
          "description": "Optional. Error Catch Task configuration for the integration. It's optional.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. The integration description."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User should not set it as an input.",
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ]
        },
        "snapshotNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head."
        },
        "triggerConfigs": {
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTriggerConfig"
          }
        },
        "integrationParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "type": "array"
        },
        "name": {
          "description": "Optional. Auto-generated primary key.",
          "type": "string"
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "integrationConfigParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationConfigParameter"
          },
          "type": "array",
          "description": "Optional. Config Parameters that are expected to be passed to the integration when an integration is published. This consists of all the parameters that are expected to provide configuration in the integration execution. This gives the user the ability to provide default values, value, add information like connection url, project based configuration value and also provide data types of each parameter."
        }
      }
    },
    "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata": {
      "description": "Metadata of the task execution.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata",
      "properties": {
        "privateIntegrationName": {
          "description": "Optional. The direct integration which the execution belongs to.",
          "type": "string"
        },
        "ancestorIterationNumbers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Ancestor iteration number for the task (it will only be non-empty if the task is under 'private integration')."
        },
        "taskAttempt": {
          "type": "integer",
          "format": "int32",
          "description": "The task attempt number this execution belongs to."
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this execution."
        },
        "ancestorTaskNumbers": {
          "type": "array",
          "description": "Optional. Ancestor task number for the task (it will only be non-empty if the task is under 'private integration').",
          "items": {
            "type": "string"
          }
        },
        "executionAttempt": {
          "description": "The execution attempt number this execution belongs to.",
          "format": "int32",
          "type": "integer"
        },
        "task": {
          "description": "The task name associated with this execution.",
          "type": "string"
        },
        "taskLabel": {
          "description": "The task label associated with this execution.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoField": {
      "properties": {
        "cardinality": {
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ],
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping."
        },
        "protoDefPath": {
          "type": "string",
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data."
        },
        "fieldType": {
          "description": "Specifies the data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "transformExpression": {
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
        },
        "referenceKey": {
          "type": "string",
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
        }
      },
      "id": "EnterpriseCrmEventbusProtoField",
      "type": "object",
      "description": "Information about the value and type of the field."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          }
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "type": "object",
      "description": "LINT.IfChange",
      "properties": {
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "gaiaIdentity": {
          "description": "Represents a Gaia identity for a person or service account.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "mdbGroup": {
          "type": "string"
        },
        "loasRole": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "description": "Key-value pair of EventBus parameters.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "masked": {
          "description": "True if this parameter should be masked in the logs",
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterEntry"
    },
    "GoogleCloudIntegrationsV2DuetTaskConfig": {
      "id": "GoogleCloudIntegrationsV2DuetTaskConfig",
      "properties": {
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        },
        "nextTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          },
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV2DuetEventParameter"
          },
          "description": "Optional. The customized parameters the user can pass to this task.",
          "type": "object"
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "externalTaskType": {
          "description": "Optional. External task type of the task",
          "type": "string",
          "enumDescriptions": [
            "Default value. External task type is not specified",
            "Tasks belongs to the normal task flows",
            "Task belongs to the error catch task flows"
          ],
          "enum": [
            "EXTERNAL_TASK_TYPE_UNSPECIFIED",
            "NORMAL_TASK",
            "ERROR_TASK"
          ]
        }
      },
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationConfigParameter": {
      "description": "Integration Config Parameter is defined in the integration config and are used to provide external configuration for integration. It provide information about data types of the expected parameters and provide any default values or value. They can also be used to add custom attributes.",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationConfigParameter",
      "type": "object",
      "properties": {
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "GoogleCloudIntegrationsV2DuetValueType"
        },
        "parameter": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter",
          "description": "Optional. Integration Parameter to provide the default value, data type and attributes required for the Integration config variables."
        }
      }
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "properties": {
        "scatterElement": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "The element that was scattered for this execution."
        },
        "responseParams": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key."
        },
        "isSuccessful": {
          "type": "boolean",
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured."
        },
        "executionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The execution ids of each Subworkflow fired by this scatter."
        },
        "errorMsg": {
          "type": "string",
          "description": "The error message of the failure if applicable."
        }
      },
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetDoubleParameterArray": {
      "description": "This message only contains a field of double number array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Double number array."
        }
      }
    },
    "EnterpriseCrmEventbusProtoToken": {
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2CloudLoggingDetails": {
      "description": "Cloud Logging details for execution info",
      "id": "GoogleCloudIntegrationsV2CloudLoggingDetails",
      "type": "object",
      "properties": {
        "cloudLoggingSeverity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ],
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed.",
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ]
        },
        "enableCloudLogging": {
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationParameter": {
      "id": "GoogleCloudIntegrationsV2DuetIntegrationParameter",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the parameter.",
          "type": "string"
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Type of the parameter."
        },
        "inputOutputType": {
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ]
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "GoogleCloudIntegrationsV2DuetValueType"
        }
      },
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition."
    },
    "GoogleCloudIntegrationsV2DuetStringParameterArray": {
      "type": "object",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "String array."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetStringParameterArray",
      "description": "This message only contains a field of string array."
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
    },
    "GoogleCloudIntegrationsV2ListExecutionsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV2ListExecutionsResponse",
      "description": "Response for listing the Integration executions.",
      "properties": {
        "executions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2Execution"
          },
          "type": "array",
          "description": "Required. The list of executions."
        },
        "nextPageToken": {
          "description": "The token for retrieving the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest": {
      "description": "The request for generating description of an integration.",
      "properties": {
        "integrationVersion": {
          "description": "Required. The current integrtion on the canvas.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest"
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      }
    },
    "GoogleApiHttpBody": {
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetErrorCatcherConfig": {
      "description": "Configuration detail of a error catch task",
      "id": "GoogleCloudIntegrationsV2DuetErrorCatcherConfig",
      "properties": {
        "startErrorTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          },
          "description": "Required. The set of start tasks that are to be executed for the error catch flow",
          "type": "array"
        },
        "description": {
          "description": "Optional. User-provided description intended to give more business context about the error catcher config.",
          "type": "string"
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Required. An error catcher id is string representation for the error catcher config. Within a workflow, error_catcher_id uniquely identifies an error catcher config among all error catcher configs for the workflow"
        },
        "errorCatcherNumber": {
          "description": "Required. A number to uniquely identify each error catcher config within the workflow on UI.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The user created label for a particular error catcher. Optional.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "type": "object",
      "properties": {
        "failureLocation": {
          "type": "string",
          "description": "Indicates where in the loop logic did it error out.",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ]
        },
        "currentIterationCount": {
          "type": "string",
          "format": "int64",
          "description": "Starting from 1, not 0."
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        },
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "properties": {
        "connection": {
          "description": "User-selected connection.",
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY",
            "EXECUTE_QUERY"
          ],
          "description": "Operation to perform using the configured connection."
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "description": "Field represents either the key or value in an entry."
    },
    "GoogleCloudIntegrationsV2DuetRecommendTasksResponse": {
      "description": "Response message containing recommended tasks for replacement.",
      "id": "GoogleCloudIntegrationsV2DuetRecommendTasksResponse",
      "properties": {
        "taskConfigs": {
          "description": "The list of recommended tasks.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          },
          "type": "array"
        },
        "taskResponseStatuses": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskResponseStatus"
          },
          "type": "array",
          "description": "The list of task response status based on the task_types in the request."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "type": "object",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentRequest": {
      "properties": {
        "integrationDocumentRequest": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest",
          "description": "Required. The integration document request payload."
        }
      },
      "description": "Request message for generating documentation for an integration version.",
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetJavascriptRequest": {
      "type": "object",
[...]
