{
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "description": "",
  "ownerName": "Google",
  "revision": "20260927",
  "rootUrl": "https://integrations.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "basePath": "",
  "canonicalName": "Integrations",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "clients": {
              "methods": {
                "toggleHttp": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:toggleHttp",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "integrations.projects.locations.clients.toggleHttp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Enable/Disable http call for provisioned client",
                  "path": "v1/{+parent}/clients:toggleHttp",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaToggleHttpRequest"
                  }
                },
                "provision": {
                  "path": "v1/{+parent}/clients:provision",
                  "id": "integrations.projects.locations.clients.provision",
                  "parameters": {
                    "parent": {
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Perform the provisioning steps to enable a user GCP project to use IP. If GCP project already registered on IP end via Apigee Integration, provisioning will fail.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:provision",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaProvisionClientRequest"
                  }
                },
                "replace": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaReplaceServiceAccountRequest"
                  },
                  "id": "integrations.projects.locations.clients.replace",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Update run-as service account for provisioned client",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/clients:replace",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:replace",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST"
                },
                "changeConfig": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:changeConfig",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaChangeCustomerConfigResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaChangeCustomerConfigRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates the client customer configuration for the given project and location resource name",
                  "parameters": {
                    "parent": {
                      "description": "Required. Required: Format - projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.clients.changeConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/clients:changeConfig"
                },
                "deprovision": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:deprovision",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Perform the deprovisioning steps to disable a user GCP project to use IP and purge all related data in a wipeout-compliant way.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest"
                  },
                  "path": "v1/{+parent}/clients:deprovision",
                  "id": "integrations.projects.locations.clients.deprovision",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Required: The ID of the GCP Project to be deprovisioned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "provisionClientPostProcessor": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/clients:provisionClientPostProcessor",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:provisionClientPostProcessor",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaProvisionClientPostProcessorResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.clients.provisionClientPostProcessor",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Perform post provisioning steps after client is provisioned."
                },
                "switchVariableMasking": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:switchVariableMasking",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSwitchVariableMaskingRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/clients:switchVariableMasking",
                  "id": "integrations.projects.locations.clients.switchVariableMasking",
                  "description": "Update variable masking for provisioned client",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "switch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/clients:switch",
                  "description": "Update client from GMEK to CMEK",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients:switch",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest"
                  },
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.clients.switch"
                }
              }
            },
            "certificates": {
              "methods": {
                "create": {
                  "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. \"projects/{project}/locations/{location}\" format."
                    }
                  },
                  "id": "integrations.projects.locations.certificates.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/certificates",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "description": "Output only. Auto generated primary key"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.certificates.patch"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.certificates.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "description": "Get a certificates in the specified project.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                  },
                  "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The client, which owns this collection of Certificates."
                    },
                    "filter": {
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token returned in the previous response."
                    },
                    "pageSize": {
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The mask which specifies fields that need to be returned in the Certificate's response."
                    }
                  },
                  "id": "integrations.projects.locations.certificates.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/certificates",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name that is associated with the Certificate.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.certificates.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Delete a certificate"
                }
              }
            },
            "integrations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The page size for the resquest.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name."
                    },
                    "parent": {
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The page token for the resquest.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/integrations",
                  "description": "Returns the list of all integrations in the specified project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.integrations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "executeEvent": {
                  "httpMethod": "POST",
                  "path": "v1/{+name}:executeEvent",
                  "parameters": {
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the integration trigger config. The trigger_id is in the format: `integration_connector_trigger/projects/{gcp_project_id}/location/{location}/connections/{connection_name}/subscriptions/{subscription_name}`."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The integration resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    }
                  },
                  "request": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "any",
                      "description": "Properties of the object."
                    }
                  },
                  "id": "integrations.projects.locations.integrations.executeEvent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Executes an integration on receiving events from Integration Connector triggers, Eventarc or CPS Trigger. Input data to integration is received in body in json format",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:executeEvent",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
                  }
                },
                "execute": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  },
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The integration resource name."
                    }
                  },
                  "path": "v1/{+name}:execute",
                  "id": "integrations.projects.locations.integrations.execute"
                },
                "schedule": {
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "id": "integrations.projects.locations.integrations.schedule",
                  "parameters": {
                    "name": {
                      "description": "The integration resource name.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:schedule",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  }
                },
                "search": {
                  "id": "integrations.projects.locations.integrations.search",
                  "path": "v1/{+parent}/integrations:search",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations:search",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSearchIntegrationsResponse"
                  },
                  "description": "Searches and returns the list of integrations in the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/*/locations/*/resources/integrations",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The pre-filter to be applied to the search. This should follow the expressions defined in https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata. For example, \"status:ANY(\"ACTIVE\")\" will return all the resources whose status contains the \"ACTIVE\".",
                      "location": "query"
                    },
                    "query": {
                      "location": "query",
                      "description": "Required. The user query",
                      "type": "string"
                    },
                    "enableNaturalLanguageQueryUnderstanding": {
                      "type": "boolean",
                      "description": "Optional. Whether to enable natural language query understanding.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 10 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `SearchIntegrations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchIntegrations` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "test": {
                  "path": "v1/{+name}:test",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.integrations.test",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:test",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Output only. Auto-generated primary key.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    }
                  },
                  "description": "Execute the integration in draft state"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The location resource of the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Delete the selected integration and all versions inside",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.integrations.delete"
                }
              },
              "resources": {
                "executions": {
                  "resources": {
                    "suspensions": {
                      "methods": {
                        "lift": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.integrations.executions.suspensions.lift",
                          "path": "v1/{+name}:lift",
                          "description": "* Lifts suspension for the Suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                          }
                        },
                        "list": {
                          "path": "v1/{+parent}/suspensions",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Standard filter field.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Maximum number of entries in the response.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "Token to retrieve a specific page.",
                              "type": "string",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Field name to order by.",
                              "type": "string"
                            }
                          },
                          "id": "integrations.projects.locations.integrations.executions.suspensions.list"
                        },
                        "resolve": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                          },
                          "path": "v1/{+name}:resolve",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.integrations.executions.suspensions.resolve",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Cancellation of an execution and associated sub-executions. This will not cancel an IN_PROCESS or completed(SUCCESSFUL, FAILED or CANCELLED) executions.",
                      "parameters": {
                        "name": {
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.executions.cancel",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                      },
                      "path": "v1/{+name}:cancel",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                      }
                    },
                    "replay": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "description": "Required. Next ID: 6 The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration}/executions/{execution_id}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:replay",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:replay",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaReplayExecutionResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaReplayExecutionRequest"
                      },
                      "id": "integrations.projects.locations.integrations.executions.replay",
                      "description": "Re-execute an existing execution, with same request parameters and execution strategy."
                    },
                    "download": {
                      "parameters": {
                        "name": {
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Download the execution.",
                      "id": "integrations.projects.locations.integrations.executions.download",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:download",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}:download"
                    },
                    "list": {
                      "parameters": {
                        "filterParams.parameterKey": {
                          "location": "query",
                          "type": "string",
                          "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                          "deprecated": true
                        },
                        "filterParams.taskStatuses": {
                          "description": "List of possible task statuses.",
                          "type": "string",
                          "deprecated": true,
                          "location": "query",
                          "repeated": true
                        },
                        "readMask": {
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in Execution will be filled and returned. Supported fields: trigger_id execution_method create_time update_time execution_details execution_details.state execution_details.execution_snapshots execution_details.attempt_stats execution_details.event_execution_snapshots_size request_parameters cloud_logging_details snapshot_number replay_info",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "filterParams.startTime": {
                          "description": "Start timestamp.",
                          "format": "int64",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.parameterValue": {
                          "location": "query",
                          "type": "string",
                          "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                          "deprecated": true
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Standard filter field, we support filtering on following fields: workflow_name: the name of the integration. CreateTimestamp: the execution created time. event_execution_state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. parameter_type: the type of the parameters involved in the execution. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterType support for HAS For example: \"parameter_type\" HAS \\\"string\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND workflow_name=\\\"testWorkflow\\\"",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The token returned in the previous response.",
                          "location": "query"
                        },
                        "filterParams.executionId": {
                          "description": "Execution id.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterParams.endTime": {
                          "format": "int64",
                          "type": "string",
                          "description": "End timestamp.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The size of entries in the response.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource name of the integration execution.",
                          "location": "path",
                          "required": true
                        },
                        "snapshotMetadataWithoutParams": {
                          "description": "Optional. If true, the service will provide execution info with snapshot metadata only i.e. without event parameters.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "filterParams.eventStatuses": {
                          "location": "query",
                          "repeated": true,
                          "type": "string",
                          "description": "List of possible event statuses."
                        },
                        "filterParams.parameterPairValue": {
                          "type": "string",
                          "location": "query",
                          "description": "Param value in the key value pair filter."
                        },
                        "truncateParams": {
                          "location": "query",
                          "deprecated": true,
                          "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                          "type": "boolean"
                        },
                        "filterParams.customFilter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional user-provided custom filter."
                        },
                        "filterParams.parameterPairKey": {
                          "type": "string",
                          "description": "Param key in the key value pair filter.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. The results would be returned in order you specified here. Currently supporting \"create_time\".",
                          "type": "string"
                        },
                        "filterParams.parameterType": {
                          "location": "query",
                          "description": "Param type.",
                          "type": "string"
                        },
                        "refreshAcl": {
                          "type": "boolean",
                          "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                          "location": "query"
                        },
                        "filterParams.workflowName": {
                          "location": "query",
                          "description": "Workflow name.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                      "id": "integrations.projects.locations.integrations.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/executions"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                      },
                      "description": "Get an execution in the specified project.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}"
                        }
                      }
                    }
                  }
                },
                "versions": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "fieldMask": {
                          "description": "The field mask which specifies the particular data to be returned.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last\\_modified\\_time\", \"created\\_time\", and \"snapshot\\_number\". Ascending sort order for `name`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all integration versions in the specified project."
                    },
                    "publish": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        }
                      },
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "path": "v1/{+name}:publish",
                      "httpMethod": "POST"
                    },
                    "test": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Output only. Auto-generated primary key.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        }
                      },
                      "description": "Execute the integration in draft state",
                      "id": "integrations.projects.locations.integrations.versions.test",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:test",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:test",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                      }
                    },
                    "download": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:download",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                      },
                      "path": "v1/{+name}:download",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "files": {
                          "location": "query",
                          "repeated": true,
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "type": "string",
                          "description": "Optional. Integration related file to download like Integration Json, Config variable, testcase etc."
                        },
                        "fileFormat": {
                          "location": "query",
                          "description": "File format for download request.",
                          "enum": [
                            "FILE_FORMAT_UNSPECIFIED",
                            "JSON",
                            "YAML"
                          ],
                          "enumDescriptions": [
                            "Unspecified file format",
                            "JSON File Format",
                            "YAML File Format"
                          ],
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        }
                      },
                      "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                      "id": "integrations.projects.locations.integrations.versions.download"
                    },
                    "patch": {
                      "description": "Update a integration with a draft version in the specified project.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Output only. Auto-generated primary key.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "id": "integrations.projects.locations.integrations.versions.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      }
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism.",
                      "httpMethod": "DELETE",
                      "id": "integrations.projects.locations.integrations.versions.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "unpublish": {
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "integrations.projects.locations.integrations.versions.unpublish",
                      "path": "v1/{+name}:unpublish",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "integrations.projects.locations.integrations.versions.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "description": "Create a integration with a draft version in the specified project.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "newIntegration": {
                          "type": "boolean",
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                          "location": "query"
                        },
                        "createSampleIntegrations": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Optional. Indicates if sample workflow should be created."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions"
                    },
                    "downloadJsonPackage": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.downloadJsonPackage",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:downloadJsonPackage",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse"
                      },
                      "parameters": {
                        "files": {
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "type": "string",
                          "description": "Optional. Integration related file to download like Integration Version, Config variable, testcase etc.",
                          "location": "query",
                          "repeated": true,
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ]
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "description": "Required. Integration version name Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Downloads an Integration version package like IntegrationVersion,Integration Config etc. Retrieves the IntegrationVersion package for a given `integration_id` and returns the response as a JSON.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:downloadJsonPackage"
                    },
                    "upload": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/versions:upload",
                      "id": "integrations.projects.locations.integrations.versions.upload",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions:upload",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "type": "string"
                        }
                      },
                      "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.get",
                      "description": "Get a integration in the specified project.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. ID for the test case to be deleted",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            }
                          },
                          "description": "Deletes a test case",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "id": "integrations.projects.locations.integrations.versions.testCases.delete",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "path": "v1/{+parent}/testCases",
                          "id": "integrations.projects.locations.integrations.versions.testCases.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "description": "Creates a new test case",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent resource where this test case will be created. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}"
                            },
                            "testCaseId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. Required"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "upload": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The test case to upload. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:upload",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseResponse"
                          },
                          "path": "v1/{+parent}/testCases:upload",
                          "description": "Uploads a test case. The content can be a previously downloaded test case. Performs the same function as CreateTestCase, but accepts input in a string format, which holds the complete representation of the TestCase content.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.upload",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST"
                        },
                        "list": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.list",
                          "path": "v1/{+parent}/testCases",
                          "httpMethod": "GET",
                          "description": "Lists all the test cases that satisfy the filters.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListTestCasesResponse"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The parent resource where this TestCase was created.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. Standard filter field. Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 100 test cases will be returned.",
                              "location": "query",
                              "format": "int32"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The results would be returned in order specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\". Ascending sort order for \"name\"."
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "readMask": {
                              "description": "Optional. The mask which specifies fields that need to be returned in the TestCases's response.",
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "executeTest": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:executeTest",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseResponse"
                          },
                          "description": "Executes functional test",
                          "parameters": {
                            "testCaseName": {
                              "location": "path",
                              "required": true,
                              "description": "Required. Test case resource name",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "testCaseName"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.integrations.versions.testCases.executeTest",
                          "httpMethod": "POST",
                          "path": "v1/{+testCaseName}:executeTest"
                        },
                        "get": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.get",
                          "description": "Get a test case",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "description": "Required. The ID of the test case to retrieve",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "takeoverEditLock": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:takeoverEditLock",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:takeoverEditLock",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverTestCaseEditLockRequest"
                          },
                          "httpMethod": "POST",
                          "id": "integrations.projects.locations.integrations.versions.testCases.takeoverEditLock",
                          "parameters": {
                            "name": {
                              "description": "Required. The ID of test case to takeover edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            }
                          },
                          "description": "Clear the lock fields and assign them to current user",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.patch",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Optional. Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Output only. Auto-generated primary key.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "path": "v1/{+name}",
                          "description": "Updates a test case",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "execute": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent resource whose test cases are executed. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.integrations.versions.testCases.execute",
                          "path": "v1/{+parent}/testCases:execute",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:execute",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesResponse"
                          },
                          "description": "Executes all test cases in an integration version."
                        },
                        "download": {
                          "parameters": {
                            "name": {
                              "description": "Required. The test case to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            },
                            "fileFormat": {
                              "location": "query",
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ],
                              "type": "string",
                              "description": "File format for download request."
                            }
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.download",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:download",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}:download",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Downloads a test case. Retrieves the `TestCase` for a given `test_case_id` and returns the response as a string."
                        }
                      }
                    }
                  }
                }
              }
            },
            "products": {
              "resources": {
                "integrations": {
                  "methods": {
                    "schedule": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "description": "The integration resource name.",
                          "location": "path",
[...]
