{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/application-integration",
  "title": "Application Integration API",
  "rootUrl": "https://integrations.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "integrations:v2",
  "baseUrl": "https://integrations.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "servicePath": "",
  "name": "integrations",
  "batchPath": "batch",
  "revision": "20261004",
  "ownerName": "Google",
  "canonicalName": "Integrations",
  "version": "v2",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudIntegrationsV2Execution": {
      "properties": {
        "taskExecutions": {
          "description": "Optional. List of task executions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2TaskExecution"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the execution is recently updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "replayInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudIntegrationsV2ExecutionReplayInfo",
          "description": "Output only. Replay info for the execution"
        },
        "triggerId": {
          "type": "string",
          "description": "The ID of the trigger invoked at the start of the execution."
        },
        "requestVariables": {
          "description": "Optional. Variables provided in the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "executionAttemptStats": {
          "description": "Start and end time of each execution attempt.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2AttemptStats"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the execution is created.",
          "type": "string"
        },
        "cloudLoggingDetails": {
          "description": "Cloud Logging details for the integration version",
          "$ref": "GoogleCloudIntegrationsV2CloudLoggingDetails"
        },
        "name": {
          "description": "Identifier. Execution resource name.",
          "type": "string"
        },
        "responseVariables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Variables returned as part of the response.",
          "type": "object"
        },
        "integrationVersionUserLabel": {
          "description": "Optional. User-defined label that annotates the executed integration version.",
          "type": "string"
        },
        "containTaskVariables": {
          "type": "boolean",
          "description": "Indicates if the task execution contains variables."
        },
        "state": {
          "description": "Output only. Status of the execution.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There are no more changes after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution is cancelled. There's no more change after this state.",
            "Execution failed and is waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "readOnly": true,
          "type": "string"
        },
        "integrationVersionNumber": {
          "type": "string",
          "format": "int64",
          "description": "Indicates which snapshot of integration is used for this execution."
        }
      },
      "type": "object",
      "description": "The Execution contains detailed information of an individual integration execution.",
      "id": "GoogleCloudIntegrationsV2Execution"
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "type": "object",
      "properties": {
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        },
        "failureLocation": {
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "description": "Indicates where in the loop logic did it error out.",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "type": "string"
        },
        "currentIterationCount": {
          "format": "int64",
          "description": "Starting from 1, not 0.",
          "type": "string"
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        }
      }
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNotification",
      "properties": {
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "escalatorQueue": {
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        },
        "request": {
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution."
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntParameterArray": {
      "id": "GoogleCloudIntegrationsV2DuetIntParameterArray",
      "type": "object",
      "description": "This message only contains a field of integer array.",
      "properties": {
        "intValues": {
          "type": "array",
          "description": "Integer array.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetErrorCatcherConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetErrorCatcherConfig",
      "description": "Configuration detail of a error catch task",
      "properties": {
        "description": {
          "description": "Optional. User-provided description intended to give more business context about the error catcher config.",
          "type": "string"
        },
        "startErrorTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          },
          "description": "Required. The set of start tasks that are to be executed for the error catch flow",
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular error catcher. Optional."
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Required. An error catcher id is string representation for the error catcher config. Within a workflow, error_catcher_id uniquely identifies an error catcher config among all error catcher configs for the workflow"
        },
        "errorCatcherNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each error catcher config within the workflow on UI."
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntegrationParameter": {
      "properties": {
        "inputOutputType": {
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ]
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "displayName": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter."
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV2DuetValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "description": "Type of the parameter.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        },
        "description": {
          "description": "Optional. Description of the parameter.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        }
      },
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationParameter",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2TaskExecution": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV2TaskExecution",
      "description": "Execution of a single task within an integration",
      "properties": {
        "taskExecutionMetadata": {
          "description": "Optional. Metadata of the task execution.",
          "$ref": "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata"
        },
        "taskExecutionDetails": {
          "description": "Details of the task execution.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2TaskExecutionDetails"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Task execution resource name.",
          "type": "string"
        },
        "variables": {
          "description": "Optional. Variables used during the execution.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetTriggerConfigVariables": {
      "properties": {
        "names": {
          "description": "Optional. List of variable names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetTriggerConfigVariables",
      "description": "Variables names mapped to api trigger.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetNextTask": {
      "type": "object",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "id": "GoogleCloudIntegrationsV2DuetNextTask",
      "properties": {
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "taskConfigId": {
          "type": "string",
          "description": "ID of the next task."
        },
        "description": {
          "description": "User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "taskId": {
          "description": "Task number of the next task.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2CloudLoggingDetails": {
      "id": "GoogleCloudIntegrationsV2CloudLoggingDetails",
      "description": "Cloud Logging details for execution info",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        },
        "cloudLoggingSeverity": {
          "type": "string",
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ],
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest": {
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationBranchRequest",
      "properties": {
        "prompt": {
          "description": "Required. User prompt.",
          "type": "string"
        },
        "integrationBranchRequest": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest",
          "description": "Required. The integration branch request payload."
        }
      },
      "description": "Request message for generating an integration branch containing tasks.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetTaskConfig": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV2DuetEventParameter"
          },
          "description": "Optional. The customized parameters the user can pass to this task.",
          "type": "object"
        },
        "externalTaskType": {
          "enum": [
            "EXTERNAL_TASK_TYPE_UNSPECIFIED",
            "NORMAL_TASK",
            "ERROR_TASK"
          ],
          "enumDescriptions": [
            "Default value. External task type is not specified",
            "Tasks belongs to the normal task flows",
            "Task belongs to the error catch task flows"
          ],
          "description": "Optional. External task type of the task",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "errorCatcherId": {
          "description": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task",
          "type": "string"
        },
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI."
        },
        "nextTasks": {
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task."
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig": {
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig",
      "type": "object",
      "properties": {
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        }
      }
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "type": "object",
      "properties": {
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Operation to perform using the configured connection.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY",
            "EXECUTE_QUERY"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig"
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "type": "object",
      "properties": {
        "transformationFunctions": {
          "type": "array",
          "description": "Transformations to be applied sequentially.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          }
        },
        "initialValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseValue",
          "description": "Initial value upon which to perform transformations."
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetEventParameter": {
      "id": "GoogleCloudIntegrationsV2DuetEventParameter",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "value": {
          "$ref": "GoogleCloudIntegrationsV2DuetValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "type": "object",
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus."
    },
    "GoogleCloudIntegrationsV2DuetStringParameterArray": {
      "description": "This message only contains a field of string array.",
      "properties": {
        "stringValues": {
          "description": "String array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetStringParameterArray"
    },
    "GoogleCloudIntegrationsV2ListExecutionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for retrieving the next page of results."
        },
        "executions": {
          "type": "array",
          "description": "Required. The list of executions.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2Execution"
          }
        }
      },
      "description": "Response for listing the Integration executions.",
      "id": "GoogleCloudIntegrationsV2ListExecutionsResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMap"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse": {
      "type": "object",
      "description": "Response message containing generated integration documentation text.",
      "properties": {
        "document": {
          "type": "string",
          "description": "The description of the integration returned by Duet AI."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationDocumentResponse"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "properties": {
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction",
          "description": "LINT.IfChange"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType"
    },
    "GoogleCloudIntegrationsV2TaskExecutionDetails": {
      "type": "object",
      "properties": {
        "taskExecutionState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "CANCELLED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Task is under processing.",
            "Task execution successfully finished. There are no more changes after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole integration execution to fail immediately. There's no more change after this state.",
            "Task execution failed and is waiting for retry.",
            "Task execution cancelled when in progress. This happens when integration execution was cancelled or any other task fell into a fatal state.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "readOnly": true,
          "description": "Output only. The execution state of this task."
        },
        "taskAttemptStats": {
          "description": "List for the current task execution attempts.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2AttemptStats"
          }
        },
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        }
      },
      "description": "Details of the task execution.",
      "id": "GoogleCloudIntegrationsV2TaskExecutionDetails"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Double number array.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "This message only contains a field of double number array.",
      "id": "GoogleCloudIntegrationsV2DuetDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see"
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "id": "EnterpriseCrmEventbusProtoAddress",
      "type": "object",
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "properties": {
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          }
        },
        "name": {
          "type": "string"
        },
        "email": {
          "description": "Required.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED",
            "CANCELED"
          ]
        },
        "wrappedDek": {
          "format": "byte",
          "type": "string",
          "description": "Wrapped dek"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "createdTimestamp": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "google-datetime"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "encryptedSuspensionResolutionInfo": {
          "description": "Encrypted SuspensionResolutionInfo",
          "type": "string",
          "format": "byte"
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "cloudKmsConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudKmsConfig",
          "description": "KMS info, used by cmek/gmek integration"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "lastModifiedTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "properties": {
        "remindAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer"
        },
        "expireAfterMs": {
          "type": "integer",
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "format": "int32"
        },
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field.",
      "properties": {
        "outputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The output field being mapped to."
        },
        "inputField": {
          "description": "The input field being mapped from.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        }
      },
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "description": "LINT.IfChange",
      "properties": {
        "mdbGroup": {
          "type": "string"
        },
        "loasRole": {
          "type": "string"
        },
        "gaiaIdentity": {
          "description": "Represents a Gaia identity for a person or service account.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "type": "object",
      "properties": {
        "parentEventExecutionInfoId": {
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.",
          "type": "string"
        },
        "traceId": {
          "description": "Used to aggregate ExecutionTraceInfo.",
          "type": "string"
        }
      },
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
    },
    "GoogleCloudIntegrationsV2AttemptStats": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of the execution for the current attempt. This could be in the future if it's been scheduled.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end time of the execution for the current attempt."
        }
      },
      "description": "Status for the execution attempt.",
      "id": "GoogleCloudIntegrationsV2AttemptStats"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest": {
      "properties": {
        "integrationParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "description": "Optional. A list of all the workflow parameters of the current integration.",
          "type": "array"
        },
        "taskConfigs": {
          "type": "array",
          "description": "Required. A list of all the tasks of the current integration.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          }
        },
        "branchCondition": {
          "description": "Optional. The condition for the particular branch which the user selected.",
          "type": "string"
        }
      },
      "description": "The request for generating an integration branch.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationBranchRequest"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse": {
      "id": "GoogleCloudIntegrationsV2DuetTroubleshootExecutionResponse",
      "type": "object",
      "description": "Response for troubleshooting an integration execution.",
      "properties": {
        "displayMessage": {
          "description": "Display message to be shown to the user. Example - If integration execution succeeded, this field value can be \"Integration execution succeeded. No troubleshooting needed.\".",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message of the integration execution, if the execution failed.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "The execution id of the integration execution to be troubleshooted."
        },
        "rootCause": {
          "type": "string",
          "description": "Root cause of the integration execution failure."
        },
        "detailedExplanation": {
          "type": "string",
          "description": "Detailed explanation of the root cause of the integration execution failure."
        }
      }
    },
    "EnterpriseCrmEventbusProtoField": {
      "description": "Information about the value and type of the field.",
      "id": "EnterpriseCrmEventbusProtoField",
      "type": "object",
      "properties": {
        "referenceKey": {
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$",
          "type": "string"
        },
        "cardinality": {
          "type": "string",
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ]
        },
        "fieldType": {
          "type": "string",
          "description": "Specifies the data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "protoDefPath": {
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.",
          "type": "string"
        },
        "defaultValue": {
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "transformExpression": {
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value.",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetBooleanParameterArray": {
      "id": "GoogleCloudIntegrationsV2DuetBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "description": "Boolean array.",
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "description": "This message only contains a field of boolean array.",
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "properties": {
        "allowedCredentialTypes": {
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ],
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ]
          },
          "type": "array"
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "description": "Field Mapping Config to map multiple output fields values from input fields values."
    },
    "EnterpriseCrmEventbusProtoCustomSuspensionRequest": {
      "type": "object",
      "properties": {
        "suspensionInfoEventParameterKey": {
          "description": "In the fired event, set the SuspensionInfo message as the value for this key.",
          "type": "string"
        },
        "postToQueueWithTriggerIdRequest": {
          "$ref": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
          "description": "Request to fire an event containing the SuspensionInfo message."
        }
      },
      "id": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "description": "LINT.IfChange Use this request to post all workflows associated with a given trigger id. Next available id: 14",
      "type": "object",
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "properties": {
        "userGeneratedExecutionId": {
          "description": "This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "priority": {
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for < 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "description": "The request priority this request should be processed at. For internal users:",
          "type": "string"
        },
        "scheduledTime": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "workflowId": {
          "description": "Optional. Pins the enqueue to this exact version rather than the ACTIVE one on the trigger, so an unpublished draft can be tested. Requires client_id, and the version is validated before it is enqueued; see integrationplatform/api/executionsservice/README.md.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "resourceName": {
          "type": "string",
          "description": "This field is only required when using Admin Access. The resource name of target, or the parent resource name. For example: \"projects/*/locations/*/integrations/*\""
        },
        "quotaRetryCount": {
          "format": "int32",
          "description": "Optional. This is a field to see the quota retry count for integration execution",
          "type": "integer"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetRecommendTasksResponse": {
      "properties": {
        "taskConfigs": {
          "description": "The list of recommended tasks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          }
        },
        "taskResponseStatuses": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskResponseStatus"
          },
          "type": "array",
          "description": "The list of task response status based on the task_types in the request."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetRecommendTasksResponse",
      "description": "Response message containing recommended tasks for replacement.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "properties": {
        "errorMsg": {
          "type": "string",
          "description": "The error message of the failure if applicable."
        },
        "isSuccessful": {
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured.",
          "type": "boolean"
        },
        "responseParams": {
          "type": "array",
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        },
        "executionIds": {
          "items": {
            "type": "string"
          },
          "description": "The execution ids of each Subworkflow fired by this scatter.",
          "type": "array"
        },
        "scatterElement": {
          "description": "The element that was scattered for this execution.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "properties": {
        "enableInternalIp": {
          "description": "Indicates the client enables internal IP feature, this is applicable for internal clients only.",
          "type": "boolean"
        },
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "description": "User’s GCP project number the traffic is referring to.",
          "type": "string"
        },
        "retryRequestForQuota": {
          "description": "Enqueue the execution request due to quota issue",
          "type": "boolean"
        },
        "source": {
          "enumDescriptions": [
            "",
            "WARNING: not the Apigee product. Marks external CUSTOMER traffic, including live Standalone IP clients, so deleting an `== APIGEE` branch breaks every external customer. SECURITY is the other external source (see ExternalTrafficUtils.EXTERNAL_SOURCES). Real Apigee test: !is_branded_as_standalone.",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        }
      },
      "description": "Represents external traffic type and id.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationConfigParameter": {
      "id": "GoogleCloudIntegrationsV2DuetIntegrationConfigParameter",
      "properties": {
        "parameter": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter",
          "description": "Optional. Integration Parameter to provide the default value, data type and attributes required for the Integration config variables."
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "GoogleCloudIntegrationsV2DuetValueType"
        }
      },
      "type": "object",
      "description": "Integration Config Parameter is defined in the integration config and are used to provide external configuration for integration. It provide information about data types of the expected parameters and provide any default values or value. They can also be used to add custom attributes."
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetIntegrationSkeleton": {
      "type": "object",
      "description": "An integration skeleton containing basic fields which can be used to create an integration on the UI.",
      "properties": {
        "explanation": {
          "description": "Explanation of why this integration was generated.",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "Indicate the strategy/methodology used to generate the integration."
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "description": "The integration version containing basic triggers and tasks."
        },
        "name": {
          "type": "string",
          "description": "The name of the integration."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetIntegrationSkeleton"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetValueType": {
      "properties": {
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetBooleanParameterArray"
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV2DuetStringParameterArray",
          "description": "String Array."
        },
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetIntParameterArray"
        },
        "intValue": {
          "description": "Integer.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string",
          "description": "String."
        },
        "doubleValue": {
          "description": "Double Number.",
          "type": "number",
          "format": "double"
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV2DuetDoubleParameterArray"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetValueType",
      "type": "object",
      "description": "The type of the parameter."
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationResponse",
      "description": "Response for generating an integration.",
      "properties": {
        "skeletonIntegrations": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationSkeleton"
          },
          "type": "array",
          "description": "The list of integration skeletons returned."
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetJavascriptRecommendation": {
      "properties": {
        "explanation": {
          "type": "string",
          "description": "The explanation of the Javascript code."
        },
        "taskConfig": {
          "description": "Optional. The task config of the Javascript task.",
          "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
        },
        "integrationParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          },
          "description": "Optional. The list of the new integration parameters.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetJavascriptRecommendation",
      "description": "Individual Javascript recommendation containing the task config with the new code, integration parameters and the explanation.",
      "type": "object"
    },
    "GoogleApiHttpBody": {
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "GoogleApiHttpBody"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "type": "object",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetTriggerConfig": {
      "type": "object",
      "description": "Configuration detail of a trigger.",
      "properties": {
        "triggerType": {
          "description": "Optional. Type of trigger",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job.",
            "Trigger by Connector Event",
            "Trigger for private workflow"
          ],
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER",
            "INTEGRATION_CONNECTOR_TRIGGER",
            "PRIVATE_TRIGGER"
          ]
        },
        "label": {
          "description": "Optional. The user created label for a particular trigger.",
          "type": "string"
        },
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        },
        "cloudSchedulerConfig": {
          "description": "Optional. Cloud Scheduler Trigger related metadata",
          "$ref": "GoogleCloudIntegrationsV2DuetCloudSchedulerConfig"
        },
        "inputVariables": {
          "description": "Optional. List of input variables for the api trigger.",
          "$ref": "GoogleCloudIntegrationsV2DuetTriggerConfigVariables"
        },
        "outputVariables": {
          "description": "Optional. List of output variables for the api trigger.",
          "$ref": "GoogleCloudIntegrationsV2DuetTriggerConfigVariables"
        },
        "trigger": {
          "type": "string",
          "description": "Optional. Name of the trigger. Example: \"API Trigger\", \"Cloud Pub Sub Trigger\" When set will be sent out to monitoring dashabord for tracking purpose."
        },
        "errorCatcherId": {
          "description": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "startTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetNextTask"
          },
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "type": "array"
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetTriggerConfig"
    },
    "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest": {
      "properties": {
        "prompt": {
          "description": "Required. The natural language prompt based on which the integration will be generated.",
          "type": "string"
        },
        "copilotEnabled": {
          "description": "Optional. Indicates if copilot is enabled. Copilot features may alter the generated integration structure.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetGenerateIntegrationRequest",
      "description": "Request for generating an integration.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunction",
      "properties": {
        "parameters": {
          "description": "List of parameters required for the transformation.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          }
        },
        "functionType": {
          "$ref": "EnterpriseCrmEventbusProtoFunctionType",
          "description": "The name of the function to perform."
        }
      }
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection",
      "properties": {
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "The name of the Hostname of the Service Directory service with TLS if used."
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "type": "object",
      "description": "Entry is a pair of key and value.",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetReplaceTaskRequest": {
      "properties": {
        "taskTypes": {
          "description": "The list of task types.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TASK_TYPE_UNSPECIFIED",
              "CONNECTOR_TASK",
              "REST_TASK"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Connector Task.",
              "Rest task."
            ]
          }
        },
        "copilotEnabled": {
          "type": "boolean",
          "description": "Optional. If this request is for copilot."
        },
        "taskConfig": {
          "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig",
          "description": "Required. The current task selected on the UI."
        }
      },
      "id": "GoogleCloudIntegrationsV2DuetReplaceTaskRequest",
      "type": "object",
      "description": "Message for Replace Task Scenario."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "description": "To support various types of parameter values. Next available id: 14",
      "properties": {
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "jsonValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "stringValue": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata": {
      "description": "Metadata of the task execution.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2TaskExecutionTaskExecutionMetadata",
      "properties": {
        "privateIntegrationName": {
          "description": "Optional. The direct integration which the execution belongs to.",
          "type": "string"
        },
        "taskAttempt": {
          "format": "int32",
          "type": "integer",
          "description": "The task attempt number this execution belongs to."
        },
        "taskNumber": {
          "description": "The task number associated with this execution.",
          "type": "string"
        },
        "taskLabel": {
          "description": "The task label associated with this execution.",
          "type": "string"
        },
        "task": {
          "type": "string",
          "description": "The task name associated with this execution."
        },
        "ancestorIterationNumbers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Ancestor iteration number for the task (it will only be non-empty if the task is under 'private integration')."
        },
        "executionAttempt": {
          "format": "int32",
          "type": "integer",
          "description": "The execution attempt number this execution belongs to."
        },
        "ancestorTaskNumbers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Ancestor task number for the task (it will only be non-empty if the task is under 'private integration').",
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "properties": {
        "resolvedBy": {
          "type": "string"
        },
        "resolvedByCpi": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "id": "EnterpriseCrmEventbusProtoToken",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetGenerateJavascriptResponse": {
      "properties": {
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetJavascriptRecommendation"
          },
          "description": "List of the Javascript recommendations.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message containing generated Javascript code recommendations.",
      "id": "GoogleCloudIntegrationsV2DuetGenerateJavascriptResponse"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntegrationVersion": {
      "properties": {
        "snapshotNumber": {
          "type": "string",
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head.",
          "format": "int64"
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "errorCatcherConfigs": {
          "description": "Optional. Error Catch Task configuration for the integration. It's optional.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetErrorCatcherConfig"
          },
          "type": "array"
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTaskConfig"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. User should not set it as an input.",
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The integration description."
        },
        "integrationParameters": {
          "type": "array",
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationParameter"
          }
        },
        "integrationConfigParameters": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetIntegrationConfigParameter"
          },
          "description": "Optional. Config Parameters that are expected to be passed to the integration when an integration is published. This consists of all the parameters that are expected to provide configuration in the integration execution. This gives the user the ability to provide default values, value, add information like connection url, project based configuration value and also provide data types of each parameter.",
          "type": "array"
        },
        "name": {
          "description": "Optional. Auto-generated primary key.",
          "type": "string"
        },
        "triggerConfigs": {
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV2DuetTriggerConfig"
          }
        }
      },
      "description": "The integration version definition.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationVersion"
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetJavascriptRequest": {
      "type": "object",
      "description": "Request message for Javascript Task using Gemini.",
      "id": "GoogleCloudIntegrationsV2DuetJavascriptRequest",
      "properties": {
        "copilotEnabled": {
          "description": "Optional. If this request is for copilot.",
          "type": "boolean"
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "description": "Required. The integration version which contains all the integration parameters, all triggers and tasks including the Javascript task."
        },
        "useCurrentScript": {
          "description": "Optional. Whether to use the current javascript task config (JS code) to generate the Javascript code.",
          "type": "boolean"
        },
        "taskId": {
          "description": "Required. The task id of the Javascript task.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "properties": {
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV2DuetTaskResponseStatus": {
      "description": "Message for task response status.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV2DuetTaskResponseStatus",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error message of the task response in case of failure."
        },
        "taskType": {
          "enumDescriptions": [
            "Unspecified.",
            "Connector Task.",
            "Rest task."
          ],
          "type": "string",
          "description": "The task type.",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "CONNECTOR_TASK",
            "REST_TASK"
          ]
        },
        "httpCode": {
          "type": "integer",
          "description": "The http code of the task response.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest": {
      "type": "object",
      "description": "The request for generating description of an integration.",
      "id": "GoogleCloudIntegrationsV2DuetIntegrationDocumentRequest",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV2DuetIntegrationVersion",
          "description": "Required. The current integrtion on the canvas."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoFunction"
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "properties": {
        "componentId": {
          "format": "int64",
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Whom to assign the new bug. Optional."
        },
        "title": {
          "type": "string",
          "description": "Title of the issue to be created. Required."
        },
        "templateId": {
          "description": "ID of the buganizer template to use. Optional.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "type": "object"
    },
[...]
