{
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260923",
  "schemas": {
    "ListContent": {
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "type": "object",
      "id": "ListContent",
      "description": "The list of items for a single list note."
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "type": "object",
      "id": "ListNotesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        },
        "notes": {
          "type": "array",
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          }
        }
      }
    },
    "Section": {
      "id": "Section",
      "description": "The content of the note.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      }
    },
    "ListItem": {
      "id": "ListItem",
      "type": "object",
      "properties": {
        "childListItems": {
          "type": "array",
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          }
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        }
      },
      "description": "A single list item in a note's list."
    },
    "TextContent": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent"
    },
    "Note": {
      "description": "A single note.",
      "type": "object",
      "id": "Note",
      "properties": {
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "attachments": {
          "type": "array",
          "description": "Output only. The attachments attached to this note.",
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "trashTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When this note was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true
        }
      }
    },
    "CreatePermissionRequest": {
      "properties": {
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        }
      },
      "type": "object",
      "description": "The request to add a single permission on the note.",
      "id": "CreatePermissionRequest"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "type": "object",
      "id": "Attachment",
      "properties": {
        "mimeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "description": "The resource name;",
          "type": "string"
        }
      }
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "family": {
          "readOnly": true,
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies."
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "name": {
          "description": "Output only. The resource name.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission"
    },
    "Family": {
      "id": "Family",
      "type": "object",
      "properties": {},
      "description": "Describes a single Google Family."
    },
    "User": {
      "description": "Describes a single user.",
      "type": "object",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created.",
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsResponse"
    },
    "Group": {
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Group"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "resources": {
    "notes": {
      "methods": {
        "delete": {
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "id": "keep.notes.delete",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^notes/[^/]+$"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.get",
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Note"
          },
          "description": "Gets a note.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource."
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.list",
          "parameters": {
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The previous page's `next_page_token` field."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return."
            }
          },
          "response": {
            "$ref": "ListNotesResponse"
          },
          "parameterOrder": [],
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error."
        },
        "create": {
          "id": "keep.notes.create",
          "path": "v1/notes",
          "flatPath": "v1/notes",
          "httpMethod": "POST",
          "description": "Creates a new note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "request": {
            "$ref": "Note"
          },
          "parameters": {},
          "response": {
            "$ref": "Note"
          },
          "parameterOrder": []
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "id": "keep.notes.permissions.batchCreate"
            },
            "batchDelete": {
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^notes/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchDelete",
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "httpMethod": "GET",
          "id": "keep.media.download",
          "path": "v1/{+name}",
          "supportsMediaDownload": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "type": "string",
              "description": "Required. The name of the attachment.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type."
        }
      }
    }
  },
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "protocol": "rest",
  "version_module": true,
  "servicePath": "",
  "rootUrl": "https://keep.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "baseUrl": "https://keep.googleapis.com/",
  "id": "keep:v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Keep",
  "name": "keep",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "title": "Google Keep API"
}