{
  "id": "keep:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "keep",
  "schemas": {
    "TextContent": {
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item.",
      "type": "object",
      "id": "TextContent"
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "Permission": {
      "id": "Permission",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object",
      "properties": {
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User",
          "readOnly": true
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string"
        },
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "readOnly": true,
          "$ref": "Group"
        }
      }
    },
    "Group": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "type": "object",
      "id": "Group",
      "description": "Describes a single Group."
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Permissions created."
        }
      },
      "type": "object",
      "id": "BatchCreatePermissionsResponse"
    },
    "Note": {
      "id": "Note",
      "properties": {
        "trashTime": {
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "type": "string",
          "readOnly": true
        },
        "trashed": {
          "readOnly": true,
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "attachments": {
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "type": "array"
        },
        "permissions": {
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "type": "string"
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        }
      },
      "type": "object",
      "description": "A single note."
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "id": "ListItem",
      "properties": {
        "childListItems": {
          "type": "array",
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          }
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes.",
      "properties": {
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        },
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Attachment"
    },
    "ListContent": {
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "id": "ListContent",
      "type": "object",
      "description": "The list of items for a single list note."
    },
    "CreatePermissionRequest": {
      "type": "object",
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        },
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "User": {
      "description": "Describes a single user.",
      "id": "User",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      }
    },
    "Section": {
      "description": "The content of the note.",
      "type": "object",
      "id": "Section",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      }
    },
    "Family": {
      "id": "Family",
      "type": "object",
      "description": "Describes a single Google Family.",
      "properties": {}
    },
    "BatchDeletePermissionsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    }
  },
  "ownerName": "Google",
  "title": "Google Keep API",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "rootUrl": "https://keep.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://keep.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "canonicalName": "Keep",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/permissions:batchDelete",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "response": {
                "$ref": "Empty"
              },
              "id": "keep.notes.permissions.batchDelete"
            },
            "batchCreate": {
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a note.",
          "response": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.get",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Name of the resource."
            }
          }
        },
        "list": {
          "id": "keep.notes.list",
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The previous page's `next_page_token` field."
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return.",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1/notes",
          "parameterOrder": []
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/notes",
          "description": "Creates a new note.",
          "flatPath": "v1/notes",
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "id": "keep.notes.create",
          "request": {
            "$ref": "Note"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the note to delete."
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}",
          "path": "v1/{+name}"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string"
            }
          },
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.media.download",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Attachment"
          }
        }
      }
    }
  },
  "version_module": true,
  "servicePath": "",
  "version": "v1",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "revision": "20260906"
}