{
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260916",
  "version_module": true,
  "id": "keep:v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "servicePath": "",
  "rootUrl": "https://keep.googleapis.com/",
  "title": "Google Keep API",
  "batchPath": "batch",
  "canonicalName": "Keep",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        }
      }
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "properties": {},
      "id": "Family",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created.",
          "type": "array"
        }
      },
      "description": "The response for creating permissions on a note.",
      "id": "BatchCreatePermissionsResponse"
    },
    "Section": {
      "id": "Section",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "type": "object",
      "description": "The content of the note."
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "id": "Attachment",
      "properties": {
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "description": "The resource name;",
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "type": "object",
      "id": "User",
      "description": "Describes a single user."
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "$ref": "Family",
          "readOnly": true
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "group": {
          "$ref": "Group",
          "readOnly": true,
          "description": "Output only. The group to which this role applies."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name.",
          "type": "string"
        }
      },
      "id": "Permission"
    },
    "Group": {
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a single Group.",
      "id": "Group"
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "type": "object"
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "type": "object",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "childListItems": {
          "type": "array",
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          }
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        }
      },
      "id": "ListItem"
    },
    "ListContent": {
      "description": "The list of items for a single list note.",
      "id": "ListContent",
      "type": "object",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    },
    "Note": {
      "type": "object",
      "id": "Note",
      "properties": {
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "readOnly": true
        },
        "trashTime": {
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "A single note."
    },
    "TextContent": {
      "id": "TextContent",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item."
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://keep.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "name": "keep",
  "resources": {
    "notes": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Creates a new note.",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/notes",
          "id": "keep.notes.create",
          "request": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "flatPath": "v1/notes"
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Name of the resource."
            }
          },
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a note.",
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [],
          "path": "v1/notes",
          "flatPath": "v1/notes",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The previous page's `next_page_token` field.",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListNotesResponse"
          },
          "httpMethod": "GET",
          "id": "keep.notes.list",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error."
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchCreate",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchCreate",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "batchDelete": {
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "keep.notes.permissions.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "Attachment"
          },
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "description": "Required. The name of the attachment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "type": "string",
              "location": "query",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            }
          },
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "id": "keep.media.download"
        }
      }
    }
  }
}