{
  "discoveryVersion": "v1",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "kind": "discovery#restDescription",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "httpMethod": "POST"
            },
            "batchCreate": {
              "path": "v1/{+parent}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$"
                }
              },
              "id": "keep.notes.permissions.batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "httpMethod": "POST",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made."
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Gets a note.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}"
        },
        "create": {
          "response": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "description": "Creates a new note.",
          "id": "keep.notes.create",
          "parameters": {},
          "request": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/notes",
          "httpMethod": "POST"
        },
        "delete": {
          "id": "keep.notes.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "description": "Required. Name of the note to delete.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "path": "v1/notes",
          "parameterOrder": [],
          "id": "keep.notes.list",
          "httpMethod": "GET",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The previous page's `next_page_token` field.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "response": {
            "$ref": "Attachment"
          },
          "useMediaDownloadService": true,
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "id": "keep.media.download",
          "httpMethod": "GET",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "supportsMediaDownload": true,
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "description": "Required. The name of the attachment."
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "name": "keep",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "canonicalName": "Keep",
  "ownerDomain": "google.com",
  "revision": "20260824",
  "batchPath": "batch",
  "rootUrl": "https://keep.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "protocol": "rest",
  "schemas": {
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "type": "object",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        },
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        }
      }
    },
    "ListContent": {
      "properties": {
        "listItems": {
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The list of items for a single list note.",
      "id": "ListContent"
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "type": "object",
      "properties": {
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      },
      "id": "ListItem"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array",
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "Group": {
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "description": "Describes a single Group.",
      "type": "object",
      "id": "Group"
    },
    "User": {
      "description": "Describes a single user.",
      "type": "object",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "description": "A single note.",
      "properties": {
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        }
      }
    },
    "ListNotesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        }
      },
      "id": "ListNotesResponse",
      "type": "object",
      "description": "The response when listing a page of notes."
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "id": "Attachment",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "properties": {
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "user": {
          "readOnly": true,
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name.",
          "type": "string"
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "family": {
          "readOnly": true,
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies."
        }
      },
      "id": "Permission",
      "description": "A single permission on the note. Associates a `member` with a `role`."
    },
    "Section": {
      "description": "The content of the note.",
      "id": "Section",
      "type": "object",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "description": "The response for creating permissions on a note."
    },
    "TextContent": {
      "type": "object",
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      }
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "id": "Family",
      "properties": {},
      "type": "object"
    }
  },
  "version": "v1",
  "id": "keep:v1",
  "title": "Google Keep API",
  "baseUrl": "https://keep.googleapis.com/"
}