{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "revision": "20260831",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "parameters": {
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "basePath": "",
  "name": "keep",
  "discoveryVersion": "v1",
  "title": "Google Keep API",
  "canonicalName": "Keep",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "rootUrl": "https://keep.googleapis.com/",
  "servicePath": "",
  "id": "keep:v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "id": "keep.notes.permissions.batchCreate",
              "path": "v1/{+parent}/permissions:batchCreate"
            },
            "batchDelete": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "pattern": "^notes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "path": "v1/{+parent}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete"
            }
          }
        }
      },
      "methods": {
        "create": {
          "response": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "path": "v1/notes",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Note"
          },
          "id": "keep.notes.create",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        },
        "list": {
          "id": "keep.notes.list",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of results to return."
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The previous page's `next_page_token` field.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "get": {
          "flatPath": "v1/notes/{notesId}",
          "description": "Gets a note.",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Name of the resource."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Note"
          }
        },
        "delete": {
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.delete",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "httpMethod": "GET",
          "parameters": {
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            },
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "description": "Required. The name of the attachment.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "Attachment"
          },
          "id": "keep.media.download",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        }
      }
    }
  },
  "schemas": {
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "properties": {
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name."
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string",
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        },
        "family": {
          "readOnly": true,
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies."
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Permission"
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "description": "The response when listing a page of notes.",
      "type": "object"
    },
    "Section": {
      "id": "Section",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "type": "object",
      "description": "The content of the note."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListItem": {
      "type": "object",
      "properties": {
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        }
      },
      "id": "ListItem",
      "description": "A single list item in a note's list."
    },
    "Attachment": {
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "An attachment to a note.",
      "id": "Attachment"
    },
    "Note": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When this note was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "attachments": {
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "type": "array"
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner."
        },
        "trashed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        }
      },
      "description": "A single note.",
      "type": "object",
      "id": "Note"
    },
    "ListContent": {
      "type": "object",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "id": "ListContent",
      "description": "The list of items for a single list note."
    },
    "TextContent": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "id": "TextContent",
      "description": "The block of text for a single text section or list item."
    },
    "BatchCreatePermissionsResponse": {
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created."
        }
      }
    },
    "Family": {
      "properties": {},
      "type": "object",
      "id": "Family",
      "description": "Describes a single Google Family."
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        }
      },
      "type": "object"
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "description": "Describes a single Group.",
      "id": "Group"
    },
    "User": {
      "type": "object",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "id": "User"
    },
    "BatchDeletePermissionsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "id": "BatchCreatePermissionsRequest",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://keep.googleapis.com/"
}