{
  "name": "keep",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "rootUrl": "https://keep.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerName": "Google",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "keep:v1",
  "canonicalName": "Keep",
  "ownerDomain": "google.com",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "path": "v1/{+parent}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete"
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "id": "keep.notes.permissions.batchCreate",
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string"
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate"
            }
          }
        }
      },
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "keep.notes.delete",
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "required": true,
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "id": "keep.notes.list",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The previous page's `next_page_token` field."
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListNotesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "httpMethod": "GET"
        },
        "create": {
          "description": "Creates a new note.",
          "parameters": {},
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "id": "keep.notes.create",
          "request": {
            "$ref": "Note"
          },
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource.",
              "required": true
            }
          },
          "description": "Gets a note.",
          "path": "v1/{+name}"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "supportsMediaDownload": true,
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the attachment.",
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "useMediaDownloadService": true,
          "id": "keep.media.download",
          "httpMethod": "GET",
          "response": {
            "$ref": "Attachment"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v1",
  "version_module": true,
  "protocol": "rest",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "revision": "20260923",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Attachment": {
      "description": "An attachment to a note.",
      "id": "Attachment",
      "type": "object",
      "properties": {
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "description": "The resource name;",
          "type": "string"
        }
      }
    },
    "Note": {
      "properties": {
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note."
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "trashed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "permissions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "items": {
            "$ref": "Permission"
          }
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Note",
      "description": "A single note."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "User": {
      "description": "Describes a single user.",
      "type": "object",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Section": {
      "type": "object",
      "description": "The content of the note.",
      "id": "Section",
      "properties": {
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        },
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        }
      }
    },
    "TextContent": {
      "id": "TextContent",
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "type": "array",
          "description": "A page of notes."
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "id": "ListNotesResponse",
      "type": "object",
      "description": "The response when listing a page of notes."
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "type": "object",
      "id": "Family",
      "properties": {}
    },
    "ListContent": {
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "id": "ListContent",
      "description": "The list of items for a single list note.",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "CreatePermissionRequest": {
      "type": "object",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        },
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        }
      },
      "id": "CreatePermissionRequest"
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      }
    },
    "Group": {
      "description": "Describes a single Group.",
      "type": "object",
      "id": "Group",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      }
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "properties": {
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "type": "boolean",
          "readOnly": true
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group",
          "readOnly": true
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true,
          "$ref": "Family"
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name."
        },
        "user": {
          "$ref": "User",
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        }
      }
    },
    "ListItem": {
      "properties": {
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        }
      },
      "id": "ListItem",
      "type": "object",
      "description": "A single list item in a note's list."
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    }
  },
  "title": "Google Keep API",
  "batchPath": "batch",
  "baseUrl": "https://keep.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/keep/api"
}