{
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "discoveryVersion": "v1",
  "id": "keep:v1",
  "ownerName": "Google",
  "basePath": "",
  "name": "keep",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "resources": {
    "notes": {
      "methods": {
        "create": {
          "id": "keep.notes.create",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Note"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Creates a new note."
        },
        "get": {
          "response": {
            "$ref": "Note"
          },
          "description": "Gets a note.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. Name of the resource.",
              "type": "string",
              "pattern": "^notes/[^/]+$"
            }
          },
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.get",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "list": {
          "path": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return."
            },
            "pageToken": {
              "location": "query",
              "description": "The previous page's `next_page_token` field.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            }
          },
          "response": {
            "$ref": "ListNotesResponse"
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1/notes",
          "id": "keep.notes.list"
        },
        "delete": {
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "keep.notes.delete",
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the note to delete.",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note."
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "id": "keep.notes.permissions.batchCreate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              }
            },
            "batchDelete": {
              "path": "v1/{+parent}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameters": {
            "mimeType": {
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query"
            },
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "description": "Required. The name of the attachment.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Attachment"
          },
          "httpMethod": "GET",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "id": "keep.media.download",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "BatchCreatePermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        },
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        }
      },
      "type": "object"
    },
    "User": {
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "type": "string",
          "description": "The resource name;"
        }
      },
      "description": "An attachment to a note.",
      "id": "Attachment"
    },
    "Group": {
      "type": "object",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "id": "Group"
    },
    "ListContent": {
      "description": "The list of items for a single list note.",
      "type": "object",
      "id": "ListContent",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "properties": {
        "permissions": {
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "trashTime": {
          "type": "string",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true
        }
      },
      "description": "A single note."
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes.",
          "type": "array"
        }
      },
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes."
    },
    "Section": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "id": "Section",
      "description": "The content of the note."
    },
    "Family": {
      "type": "object",
      "id": "Family",
      "description": "Describes a single Google Family.",
      "properties": {}
    },
    "Permission": {
      "properties": {
        "user": {
          "readOnly": true,
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name.",
          "readOnly": true
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object",
      "id": "Permission"
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "id": "BatchCreatePermissionsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      }
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array"
        }
      }
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "properties": {
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        }
      },
      "id": "ListItem",
      "type": "object"
    },
    "TextContent": {
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item.",
      "type": "object"
    }
  },
  "title": "Google Keep API",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260826",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "baseUrl": "https://keep.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "Keep",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://keep.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "version_module": true
}