{
  "name": "language",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Natural Language API",
  "baseUrl": "https://language.googleapis.com/",
  "rootUrl": "https://language.googleapis.com/",
  "basePath": "",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version_module": true,
  "id": "language:v1",
  "servicePath": "",
  "revision": "20261004",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Natural Language",
  "discoveryVersion": "v1",
  "resources": {
    "documents": {
      "methods": {
        "classifyText": {
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "flatPath": "v1/documents:classifyText",
          "parameterOrder": [],
          "path": "v1/documents:classifyText",
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "parameters": {},
          "description": "Classifies a document into categories.",
          "httpMethod": "POST",
          "id": "language.documents.classifyText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "analyzeEntitySentiment": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1/documents:analyzeEntitySentiment",
          "path": "v1/documents:analyzeEntitySentiment",
          "parameters": {},
          "description": "Finds entities, similar to AnalyzeEntities in the text and analyzes sentiment associated with each entity and its mentions.",
          "response": {
            "$ref": "AnalyzeEntitySentimentResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AnalyzeEntitySentimentRequest"
          },
          "id": "language.documents.analyzeEntitySentiment"
        },
        "analyzeSentiment": {
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/documents:analyzeSentiment",
          "path": "v1/documents:analyzeSentiment",
          "description": "Analyzes the sentiment of the provided text.",
          "id": "language.documents.analyzeSentiment",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          }
        },
        "moderateText": {
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/documents:moderateText",
          "description": "Moderates a document for harmful and sensitive categories.",
          "flatPath": "v1/documents:moderateText",
          "id": "language.documents.moderateText"
        },
        "analyzeSyntax": {
          "description": "Analyzes the syntax of the text and provides sentence boundaries and tokenization along with part of speech tags, dependency trees, and other properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "AnalyzeSyntaxResponse"
          },
          "path": "v1/documents:analyzeSyntax",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "AnalyzeSyntaxRequest"
          },
          "id": "language.documents.analyzeSyntax",
          "flatPath": "v1/documents:analyzeSyntax",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "annotateText": {
          "description": "A convenience method that provides all the features that analyzeSentiment, analyzeEntities, and analyzeSyntax provide in one call.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "parameterOrder": [],
          "path": "v1/documents:annotateText",
          "id": "language.documents.annotateText",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/documents:annotateText"
        },
        "analyzeEntities": {
          "path": "v1/documents:analyzeEntities",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, salience, mentions for each entity, and other properties.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/documents:analyzeEntities",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "id": "language.documents.analyzeEntities",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "schemas": {
    "XPSRow": {
      "type": "object",
      "properties": {
        "columnIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The ids of the columns. Note: The below `values` field must match order of this field, if this field is set."
        },
        "values": {
          "description": "The values of the row cells, given in the same order as the column_ids. If column_ids is not set, then in the same order as the input_feature_column_ids in TablesModelMetadata.",
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "id": "XPSRow"
    },
    "AnalyzeEntitySentimentResponse": {
      "type": "object",
      "id": "AnalyzeEntitySentimentResponse",
      "properties": {
        "entities": {
          "description": "The recognized entities in the input document with associated sentiments.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "description": "The entity-level sentiment analysis response message."
    },
    "TextSpan": {
      "description": "Represents a text span in the input document.",
      "id": "TextSpan",
      "properties": {
        "beginOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request."
        },
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "properties": {
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)",
          "format": "double"
        },
        "trueNegativeCount": {
          "type": "string",
          "description": "True negative count.",
          "format": "int64"
        },
        "truePositiveRate": {
          "format": "double",
          "type": "number",
          "description": "TPR = #true positives / (#true positives + #false negatvies)"
        },
        "falsePositiveCount": {
          "format": "int64",
          "type": "string",
          "description": "False positive count."
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "Recall = #true positives / (#true positives + #false negatives)."
        },
        "precision": {
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "type": "number",
          "format": "double"
        },
        "falsePositiveRate": {
          "type": "number",
          "format": "double",
          "description": "FPR = #false positives / (#false positives + #true negatives)"
        },
        "truePositiveCount": {
          "type": "string",
          "description": "True positive count.",
          "format": "int64"
        },
        "falseNegativeCount": {
          "format": "int64",
          "description": "False negative count.",
          "type": "string"
        },
        "confidenceThreshold": {
          "format": "double",
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number"
        }
      },
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSTablesConfidenceMetricsEntry",
      "type": "object"
    },
    "TpuMetric": {
      "properties": {
        "tpuSec": {
          "description": "Required. Seconds of TPU usage, e.g. 3600.",
          "type": "string",
          "format": "int64"
        },
        "tpuType": {
          "type": "string",
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD."
        }
      },
      "id": "TpuMetric",
      "type": "object"
    },
    "XPSStructStats": {
      "description": "The data statistics of a series of STRUCT values.",
      "id": "XPSStructStats",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "fieldStats": {
          "additionalProperties": {
            "$ref": "XPSDataStats"
          },
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "type": "object"
        }
      }
    },
    "XPSImageSegmentationTrainResponse": {
      "properties": {
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64",
          "type": "string"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "colorMaps": {
          "type": "array",
          "description": "Color map of the model.",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        }
      },
      "type": "object",
      "id": "XPSImageSegmentationTrainResponse"
    },
    "XPSConfusionMatrix": {
      "properties": {
        "category": {
          "type": "array",
          "description": "Category (mainly for segmentation). Set only for image segmentation models. Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "sentimentLabel": {
          "description": "Sentiment labels used in the confusion matrix. Set only for text sentiment models. For AutoML Text Revamp, use `annotation_spec_id_token` instead and leave this field empty.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "row": {
          "type": "array",
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotation_spec_id_token`. `row[i].value[j]` is the number of examples that have ground truth of the `annotation_spec_id_token[i]` and are predicted as `annotation_spec_id_token[j]` by the model being evaluated.",
          "items": {
            "$ref": "XPSConfusionMatrixRow"
          }
        },
        "annotationSpecIdToken": {
          "type": "array",
          "description": "For the following three repeated fields, only one is intended to be set. annotation_spec_id_token is preferable to be set. ID tokens of the annotation specs used in the confusion matrix.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "XPSConfusionMatrix",
      "type": "object",
      "description": "Confusion matrix of the model running the classification."
    },
    "XPSSpeechEvaluationMetrics": {
      "properties": {
        "subModelEvaluationMetrics": {
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          },
          "description": "Evaluation metrics for all submodels contained in this model.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "XPSSpeechEvaluationMetrics"
    },
    "XPSSpeechPreprocessResponse": {
      "id": "XPSSpeechPreprocessResponse",
      "type": "object",
      "properties": {
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        },
        "cnsTrainDataPath": {
          "type": "string",
          "description": "Location of shards of sstables (training data) of DataUtterance protos."
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        }
      }
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "type": "object",
      "properties": {
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "modelArtifactSpec": {
          "$ref": "XPSVideoModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        }
      },
      "id": "XPSVideoActionRecognitionTrainResponse"
    },
    "XPSTablesClassificationMetricsCurveMetrics": {
      "type": "object",
      "id": "XPSTablesClassificationMetricsCurveMetrics",
      "properties": {
        "aucPr": {
          "format": "double",
          "type": "number",
          "description": "The area under the precision-recall curve."
        },
        "aucRoc": {
          "description": "The area under receiver operating characteristic curve.",
          "format": "double",
          "type": "number"
        },
        "value": {
          "description": "The CATEGORY row value (for ARRAY unnested) the curve metrics are for.",
          "type": "string"
        },
        "positionThreshold": {
          "description": "The position threshold value used to compute the metrics.",
          "type": "integer",
          "format": "int32"
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSTablesConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve and ROC curve can be derived from them."
        },
        "logLoss": {
          "description": "The Log loss metric.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Metrics curve data point for a single value."
    },
    "XPSTablesDatasetMetadata": {
      "id": "XPSTablesDatasetMetadata",
      "type": "object",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "properties": {
        "primaryTableSpec": {
          "description": "Primary table.",
          "$ref": "XPSTableSpec"
        },
        "weightColumnId": {
          "format": "int32",
          "description": "Id of the primary table column that should be used as the weight column.",
          "type": "integer"
        },
        "mlUseColumnId": {
          "format": "int32",
          "description": "Id the column to split the table.",
          "type": "integer"
        },
        "targetColumnCorrelations": {
          "description": "(the column id : its CorrelationStats with target column).",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          }
        },
        "targetColumnId": {
          "type": "integer",
          "description": "Id of the primary table column that should be used as the training label.",
          "format": "int32"
        }
      }
    },
    "XPSTimestampStats": {
      "properties": {
        "medianTimestampNanos": {
          "format": "int64",
          "type": "string"
        },
        "granularStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSTimestampStatsGranularStats"
          },
          "description": "The string key is the pre-defined granularity. Currently supported: hour_of_day, day_of_week, month_of_year. Granularities finer that the granularity of timestamp data are not populated (e.g. if timestamps are at day granularity, then hour_of_day is not populated)."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "description": "The data statistics of a series of TIMESTAMP values.",
      "type": "object",
      "id": "XPSTimestampStats"
    },
    "XPSFileSpec": {
      "id": "XPSFileSpec",
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "properties": {
        "singleFilePath": {
          "description": "Deprecated. Use file_spec.",
          "type": "string",
          "deprecated": true
        },
        "directoryPath": {
          "type": "string",
          "description": "Deprecated. Use file_spec.",
          "deprecated": true
        },
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSImageModelArtifactSpec": {
      "type": "object",
      "description": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only.",
      "id": "XPSImageModelArtifactSpec",
      "properties": {
        "labelGcsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'."
        },
        "checkpointArtifact": {
          "description": "The Tensorflow checkpoint files. e.g. Used for resumable training.",
          "$ref": "XPSModelArtifactItem"
        },
        "tfLiteMetadataGcsUri": {
          "description": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'.",
          "type": "string"
        },
        "tfJsBinaryGcsPrefix": {
          "description": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated.",
          "type": "string"
        },
        "servingArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API."
        },
        "exportArtifact": {
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "description": "The model binary files in different formats for model export.",
          "type": "array"
        }
      }
    },
    "ClassificationModelOptions": {
      "properties": {
        "v1Model": {
          "$ref": "ClassificationModelOptionsV1Model",
          "description": "Setting this field will use the V1 model and V1 content categories version. The V1 model is a legacy model; support for this will be discontinued in the future."
        },
        "v2Model": {
          "description": "Setting this field will use the V2 model with the appropriate content categories version. The V2 model is a better performing model.",
          "$ref": "ClassificationModelOptionsV2Model"
        }
      },
      "id": "ClassificationModelOptions",
      "type": "object",
      "description": "Model options available for classification requests."
    },
    "XPSTablesModelStructure": {
      "properties": {
        "modelParameters": {
          "description": "A list of models.",
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A description of Tables model structure.",
      "id": "XPSTablesModelStructure"
    },
    "XPSClassificationEvaluationMetrics": {
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "type": "object",
      "properties": {
        "logLoss": {
          "format": "float",
          "type": "number",
          "description": "The Log Loss metric."
        },
        "auPrc": {
          "description": "The Area under precision recall curve metric.",
          "format": "float",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        },
        "baseAuPrc": {
          "type": "number",
          "description": "The Area under precision recall curve metric based on priors.",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label."
        },
        "auRoc": {
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "type": "number",
          "format": "float"
        },
        "evaluatedExamplesCount": {
          "type": "integer",
          "description": "The number of examples used for model evaluation.",
          "format": "int32"
        }
      },
      "id": "XPSClassificationEvaluationMetrics"
    },
    "XPSColumnSpecForecastingMetadata": {
      "id": "XPSColumnSpecForecastingMetadata",
      "type": "object",
      "properties": {
        "columnType": {
          "type": "string",
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ],
          "description": "The type of the column for FORECASTING model training purposes.",
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ]
        }
      }
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "recall": {
          "type": "number",
          "description": "Output only. Recall for the given confidence threshold.",
          "format": "float"
        },
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Output only. Precision for the given confidence threshold."
        },
        "confidenceThreshold": {
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float"
        }
      }
    },
    "ModerateTextRequest": {
      "description": "The document moderation request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      },
      "type": "object",
      "id": "ModerateTextRequest"
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The CATEGORY value."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this value in the series."
        }
      },
      "description": "The statistics of a single CATEGORY value.",
      "id": "XPSCategoryStatsSingleCategoryStats"
    },
    "XPSTrainResponse": {
      "properties": {
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "modelToken": {
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model.",
          "format": "byte",
          "type": "string"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "explanationConfigs": {
          "type": "array",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          },
          "deprecated": true,
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request."
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "deployedModelSizeBytes": {
          "format": "int64",
          "description": "Estimated model size in bytes once deployed.",
          "type": "string"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "evaluationMetricsSet": {
          "description": "The trained model evaluation metrics. This can be optionally returned.",
          "$ref": "XPSEvaluationMetricsSet"
        },
        "evaluatedExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted."
        },
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "textTrainResp": {
          "description": "Will only be needed for uCAIP from Beta.",
          "$ref": "XPSTextTrainResponse"
        },
        "errorAnalysisConfigs": {
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample).",
          "type": "array",
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          }
        }
      },
      "type": "object",
      "id": "XPSTrainResponse"
    },
    "Entity": {
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as salience and mentions, with entities.",
      "id": "Entity",
      "type": "object",
      "properties": {
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "salience": {
          "type": "number",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float"
        },
        "mentions": {
          "items": {
            "$ref": "EntityMention"
          },
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected< * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type."
        }
      }
    },
    "XPSResponseExplanationSpec": {
      "type": "object",
      "deprecated": true,
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "properties": {
        "parameters": {
          "$ref": "XPSResponseExplanationParameters",
          "description": "Parameters that configure explaining of the Model's predictions."
        },
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata describing the Model's input and output for explanation.",
          "$ref": "XPSResponseExplanationMetadata"
        }
      },
      "id": "XPSResponseExplanationSpec"
    },
    "Sentiment": {
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "id": "Sentiment",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        }
      },
      "type": "object"
    },
    "XPSCategoryStats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "topCategoryStats": {
          "type": "array",
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          },
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count."
        }
      },
      "type": "object",
      "id": "XPSCategoryStats",
      "description": "The data statistics of a series of CATEGORY values."
    },
    "XPSConfusionMatrixRow": {
      "type": "object",
      "properties": {
        "exampleCount": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field."
        },
        "count": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "type": "array"
        }
      },
      "id": "XPSConfusionMatrixRow",
      "description": "A row in the confusion matrix."
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "type": "object",
      "id": "XPSSpeechModelSpecSubModelSpec",
      "properties": {
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        },
        "contextId": {
          "description": "In S3, Recognition ClientContextId.context_id",
          "type": "string"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "biasingModelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "description": "Type of the biasing model.",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ]
        }
      }
    },
    "XPSBoundingBoxMetricsEntry": {
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "properties": {
        "iouThreshold": {
          "format": "float",
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "meanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The mean average precision."
        }
      },
      "id": "XPSBoundingBoxMetricsEntry",
      "type": "object"
    },
    "XPSTablesRegressionMetrics": {
      "description": "Metrics for Tables regression problems.",
      "properties": {
        "regressionMetricsEntries": {
          "type": "array",
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          }
        },
        "rootMeanSquaredLogError": {
          "type": "number",
          "format": "double",
          "description": "Root mean squared log error."
        },
        "meanAbsolutePercentageError": {
          "type": "number",
          "description": "Mean absolute percentage error, only set if all of the target column's values are positive.",
          "format": "double"
        },
        "rSquared": {
          "description": "R squared.",
          "type": "number",
          "format": "double"
        },
        "meanAbsoluteError": {
          "format": "double",
          "description": "Mean absolute error.",
          "type": "number"
        },
        "rootMeanSquaredError": {
          "format": "double",
          "description": "Root mean squared error.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "XPSTablesRegressionMetrics"
    },
    "XPSVideoModelArtifactSpec": {
      "properties": {
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "exportArtifact": {
          "type": "array",
          "description": "The model binary files in different formats for model export.",
          "items": {
            "$ref": "XPSModelArtifactItem"
          }
        }
      },
      "id": "XPSVideoModelArtifactSpec",
      "type": "object"
    },
    "AnnotateTextRequestFeatures": {
      "properties": {
        "extractSyntax": {
          "type": "boolean",
          "description": "Extract syntax information."
        },
        "extractEntitySentiment": {
          "type": "boolean",
          "description": "Extract entities and their associated sentiment."
        },
        "extractDocumentSentiment": {
          "description": "Extract document-level sentiment.",
          "type": "boolean"
        },
        "classifyText": {
          "description": "Classify the full document into categories.",
          "type": "boolean"
        },
        "extractEntities": {
          "description": "Extract entities.",
          "type": "boolean"
        },
        "classificationModelOptions": {
          "$ref": "ClassificationModelOptions",
          "description": "Optional. The model options to use for classification. Defaults to v1 options if not specified. Only used if `classify_text` is set to true."
        },
        "moderateText": {
          "description": "Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        }
      },
      "id": "AnnotateTextRequestFeatures",
      "type": "object",
      "description": "All available features for sentiment, syntax, and semantic analysis. Setting each one to true will enable that specific analysis for the input."
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "id": "XPSImageSegmentationEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          },
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it."
        }
      },
      "type": "object"
    },
    "XPSVisionErrorAnalysisConfig": {
      "id": "XPSVisionErrorAnalysisConfig",
      "description": "The vision model error analysis configuration. Next tag: 3",
      "type": "object",
      "properties": {
        "queryType": {
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "type": "string",
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ]
        },
        "exampleCount": {
          "type": "integer",
          "description": "The number of query examples in error analysis.",
          "format": "int32"
        }
      }
    },
    "XPSVisionTrainingOperationMetadata": {
      "properties": {
        "explanationUsage": {
          "$ref": "InfraUsage",
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request."
        }
      },
      "type": "object",
      "id": "XPSVisionTrainingOperationMetadata",
      "deprecated": true
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "id": "XPSTablesModelStructureModelParametersParameter",
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter name."
        },
        "floatValue": {
          "description": "Float type parameter value.",
          "format": "double",
          "type": "number"
        },
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Integer type parameter value."
        }
      },
      "type": "object"
    },
    "XPSReportingMetrics": {
      "type": "object",
      "id": "XPSReportingMetrics",
      "properties": {
        "metricEntries": {
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "type": "array",
          "items": {
            "$ref": "XPSMetricEntry"
          }
        },
        "effectiveTrainingDuration": {
          "format": "google-duration",
          "deprecated": true,
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "type": "string"
        }
      }
    },
    "XPSTextSentimentEvaluationMetrics": {
      "id": "XPSTextSentimentEvaluationMetrics",
      "type": "object",
      "description": "Model evaluation metrics for text sentiment problems.",
      "properties": {
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "quadraticKappa": {
          "type": "number",
          "format": "float",
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "meanSquaredError": {
          "format": "float",
          "type": "number",
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "precision": {
          "description": "Output only. Precision.",
          "format": "float",
          "type": "number"
        },
        "linearKappa": {
          "type": "number",
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float"
        },
        "recall": {
          "type": "number",
          "description": "Output only. Recall.",
          "format": "float"
        },
        "meanAbsoluteError": {
          "type": "number",
          "format": "float",
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "f1Score": {
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision.",
          "type": "number"
        }
      }
    },
    "XPSStructType": {
      "properties": {
        "fields": {
          "description": "Unordered map of struct field names to their data types.",
          "additionalProperties": {
            "$ref": "XPSDataType"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "XPSStructType",
      "description": "`StructType` defines the DataType-s of a STRUCT type."
    },
    "XPSXraiAttribution": {
      "id": "XPSXraiAttribution",
      "deprecated": true,
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE).",
      "type": "object",
      "properties": {
        "stepCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively."
        }
      }
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "type": "object",
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "properties": {
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "format": "float",
          "type": "number"
        },
        "precisionWindowLength": {
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "type": "string"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array"
        }
      }
    },
    "XPSTableSpec": {
      "properties": {
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows in the table."
        },
        "validRowCount": {
          "format": "int64",
          "description": "The number of valid rows.",
          "type": "string"
        },
        "columnSpecs": {
          "type": "object",
          "description": "Mapping from column id to column spec.",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          }
        },
        "importedDataSizeInBytes": {
          "description": "The total size of imported data of the table.",
          "type": "string",
          "format": "int64"
        },
        "timeColumnId": {
          "description": "The id of the time column.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "XPSTableSpec",
      "type": "object"
    },
    "XPSTranslationEvaluationMetrics": {
      "id": "XPSTranslationEvaluationMetrics",
      "description": "Evaluation metrics for the dataset.",
      "properties": {
        "bleuScore": {
          "type": "number",
          "description": "BLEU score.",
          "format": "double"
        },
        "baseBleuScore": {
          "description": "BLEU score for base model.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "XPSModelArtifactItem": {
      "type": "object",
      "id": "XPSModelArtifactItem",
      "description": "A single model artifact item.",
      "properties": {
        "artifactFormat": {
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ],
          "type": "string",
          "description": "The model artifact format.",
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ]
        },
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the model binary files.",
          "type": "string"
        }
      }
    },
    "XPSEvaluationMetrics": {
      "type": "object",
      "properties": {
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "type": "integer",
          "description": "The number of examples used to create this evaluation metrics instance.",
          "format": "int32"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "type": "string",
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead."
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "category": {
          "format": "int32",
          "type": "integer",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token."
        },
        "label": {
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation.",
          "type": "string"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        }
      },
      "id": "XPSEvaluationMetrics",
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18."
    },
    "XPSVideoClassificationTrainResponse": {
      "id": "XPSVideoClassificationTrainResponse",
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "$ref": "XPSVideoModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSColumnSpecCorrelatedColumn": {
      "id": "XPSColumnSpecCorrelatedColumn",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "type": "object",
      "properties": {
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        },
        "columnId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "XPSTranslationTrainResponse": {
      "properties": {
        "modelType": {
          "enumDescriptions": [
            "Default",
            "Legacy model. Will be deprecated.",
            "Current model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LEGACY",
            "CURRENT"
          ],
          "description": "Type of the model.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Train response for translation.",
      "id": "XPSTranslationTrainResponse"
    },
    "XPSStringStats": {
      "description": "The data statistics of a series of STRING values.",
      "properties": {
        "topUnigramStats": {
          "type": "array",
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count.",
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "type": "object",
      "id": "XPSStringStats"
    },
    "XPSTranslationPreprocessResponse": {
      "properties": {
        "parsedExampleCount": {
          "format": "int64",
          "description": "Total example count parsed.",
          "type": "string"
        },
        "validExampleCount": {
          "description": "Total valid example count.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Translation preprocess response.",
      "id": "XPSTranslationPreprocessResponse"
    },
    "AnalyzeSyntaxRequest": {
      "properties": {
        "encodingType": {
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "description": "The syntax analysis request message.",
      "type": "object",
      "id": "AnalyzeSyntaxRequest"
    },
    "XPSRegressionEvaluationMetrics": {
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "id": "XPSRegressionEvaluationMetrics",
      "type": "object",
      "properties": {
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "float"
        },
        "meanAbsoluteError": {
          "type": "number",
          "description": "Mean Absolute Error (MAE).",
          "format": "float"
        },
        "meanAbsolutePercentageError": {
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive.",
          "format": "float",
          "type": "number"
        },
        "regressionMetricsEntries": {
          "type": "array",
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          }
        },
        "rootMeanSquaredLogError": {
          "format": "float",
          "description": "Root mean squared log error.",
          "type": "number"
        },
        "rootMeanSquaredError": {
          "description": "Root Mean Squared Error (RMSE).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "CpuMetric": {
      "description": "Metric for billing reports.",
      "id": "CpuMetric",
      "type": "object",
      "properties": {
        "coreSec": {
          "description": "Required. Total seconds of core usage, e.g. 4.",
          "format": "int64",
          "type": "string"
        },
        "trackingLabels": {
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "cpuType": {
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "description": "Required. Type of cpu, e.g. N2.",
          "type": "string"
        },
        "coreNumber": {
          "description": "Required. Number of CPU cores.",
          "type": "string",
          "format": "int64"
        },
        "machineSpec": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        }
      }
    },
    "XPSImageModelServingSpec": {
      "properties": {
        "modelThroughputEstimation": {
          "type": "array",
          "description": "Populate under uCAIP request scope.",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          }
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "nodeQps": {
          "format": "double",
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Serving specification for image models.",
      "id": "XPSImageModelServingSpec"
    },
    "XPSTrackMetricsEntry": {
      "id": "XPSTrackMetricsEntry",
      "type": "object",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          }
        },
        "meanTrackingAveragePrecision": {
          "description": "Output only. The mean average precision over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "iouThreshold": {
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry.",
          "type": "number",
          "format": "float"
        },
        "meanBoundingBoxIou": {
          "format": "float",
          "type": "number",
          "description": "Output only. The mean bounding box iou over all confidence thresholds."
        },
        "meanMismatchRate": {
          "type": "number",
          "format": "float",
          "description": "Output only. The mean mismatch rate over all confidence thresholds."
        }
      },
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6."
    },
    "XPSStringStatsUnigramStats": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The unigram."
        },
        "count": {
          "description": "The number of occurrences of this unigram in the series.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSStringStatsUnigramStats",
      "description": "The statistics of a unigram."
    },
    "XPSExportModelOutputConfig": {
      "properties": {
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "outputGcrUri": {
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER.",
          "type": "string"
        },
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        },
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "exportFirebaseAuxiliaryInfo": {
          "type": "boolean",
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file."
        },
        "outputGcsUri": {
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory",
          "type": "string"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        },
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        }
      },
      "type": "object",
      "id": "XPSExportModelOutputConfig"
    },
    "XPSConfidenceMetricsEntry": {
      "id": "XPSConfidenceMetricsEntry",
      "properties": {
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        },
        "falsePositiveRateAt1": {
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "f1ScoreAt1": {
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "type": "number",
          "format": "float"
        },
        "positionThreshold": {
          "format": "int32",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "type": "integer"
        },
        "falsePositiveRate": {
          "type": "number",
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float"
        },
        "falseNegativeCount": {
          "format": "int64",
          "description": "The number of ground truth labels that are not matched by a model created label.",
          "type": "string"
        },
        "recall": {
          "format": "float",
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "type": "number"
        },
        "recallAt1": {
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "falsePositiveCount": {
          "format": "int64",
          "description": "The number of model created labels that do not match a ground truth label.",
          "type": "string"
        },
        "truePositiveCount": {
          "description": "The number of model created labels that match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value."
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "precisionAt1": {
          "format": "float",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number"
        }
      },
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "type": "object"
    },
    "XPSMetricEntry": {
      "type": "object",
      "id": "XPSMetricEntry",
      "properties": {
        "argentumMetricId": {
          "description": "For billing metrics that are using legacy sku's, set the legacy billing metric id here. This will be sent to Chemist as the \"cloudbilling.googleapis.com/argentum_metric_id\" label. Otherwise leave empty.",
          "type": "string"
        },
        "systemLabels": {
          "type": "array",
          "description": "Billing system labels for this (metric, value) pair.",
          "items": {
            "$ref": "XPSMetricEntryLabel"
          }
        },
        "metricName": {
          "description": "The metric name defined in the service configuration.",
          "type": "string"
        },
        "int64Value": {
          "type": "string",
          "description": "A signed 64-bit integer value.",
          "format": "int64"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "A double value."
        }
      }
    },
    "PartOfSpeech": {
      "type": "object",
      "id": "PartOfSpeech",
      "description": "Represents part of speech information for a token. Parts of speech are as defined in http://www.lrec-conf.org/proceedings/lrec2012/pdf/274_Paper.pdf",
      "properties": {
        "tag": {
          "enum": [
            "UNKNOWN",
            "ADJ",
            "ADP",
            "ADV",
            "CONJ",
            "DET",
            "NOUN",
            "NUM",
            "PRON",
            "PRT",
            "PUNCT",
            "VERB",
            "X",
            "AFFIX"
          ],
          "enumDescriptions": [
            "Unknown",
            "Adjective",
            "Adposition (preposition and postposition)",
            "Adverb",
            "Conjunction",
            "Determiner",
            "Noun (common and proper)",
            "Cardinal number",
            "Pronoun",
            "Particle or other function word",
            "Punctuation",
            "Verb (all tenses and modes)",
            "Other: foreign words, typos, abbreviations",
            "Affix"
          ],
          "description": "The part of speech tag.",
          "type": "string"
        },
        "mood": {
          "enum": [
            "MOOD_UNKNOWN",
            "CONDITIONAL_MOOD",
            "IMPERATIVE",
            "INDICATIVE",
            "INTERROGATIVE",
            "JUSSIVE",
            "SUBJUNCTIVE"
          ],
          "description": "The grammatical mood.",
          "enumDescriptions": [
            "Mood is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Imperative",
            "Indicative",
            "Interrogative",
            "Jussive",
            "Subjunctive"
          ],
          "type": "string"
        },
        "number": {
          "type": "string",
          "description": "The grammatical number.",
          "enumDescriptions": [
            "Number is not applicable in the analyzed language or is not predicted.",
            "Singular",
            "Plural",
            "Dual"
          ],
          "enum": [
            "NUMBER_UNKNOWN",
            "SINGULAR",
            "PLURAL",
            "DUAL"
          ]
        },
        "proper": {
          "description": "The grammatical properness.",
          "type": "string",
          "enumDescriptions": [
            "Proper is not applicable in the analyzed language or is not predicted.",
            "Proper",
            "Not proper"
          ],
          "enum": [
            "PROPER_UNKNOWN",
            "PROPER",
            "NOT_PROPER"
          ]
        },
        "case": {
          "type": "string",
          "description": "The grammatical case.",
          "enum": [
            "CASE_UNKNOWN",
            "ACCUSATIVE",
            "ADVERBIAL",
            "COMPLEMENTIVE",
            "DATIVE",
            "GENITIVE",
            "INSTRUMENTAL",
            "LOCATIVE",
            "NOMINATIVE",
            "OBLIQUE",
            "PARTITIVE",
            "PREPOSITIONAL",
            "REFLEXIVE_CASE",
            "RELATIVE_CASE",
            "VOCATIVE"
          ],
          "enumDescriptions": [
            "Case is not applicable in the analyzed language or is not predicted.",
            "Accusative",
            "Adverbial",
            "Complementive",
            "Dative",
            "Genitive",
            "Instrumental",
            "Locative",
            "Nominative",
            "Oblique",
            "Partitive",
            "Prepositional",
            "Reflexive",
            "Relative",
            "Vocative"
          ]
        },
        "form": {
          "type": "string",
          "enumDescriptions": [
            "Form is not applicable in the analyzed language or is not predicted.",
            "Adnomial",
            "Auxiliary",
            "Complementizer",
            "Final ending",
            "Gerund",
            "Realis",
            "Irrealis",
            "Short form",
            "Long form",
            "Order form",
            "Specific form"
          ],
          "description": "The grammatical form.",
          "enum": [
            "FORM_UNKNOWN",
            "ADNOMIAL",
            "AUXILIARY",
            "COMPLEMENTIZER",
            "FINAL_ENDING",
            "GERUND",
            "REALIS",
            "IRREALIS",
            "SHORT",
            "LONG",
            "ORDER",
            "SPECIFIC"
          ]
        },
        "gender": {
          "description": "The grammatical gender.",
          "type": "string",
          "enumDescriptions": [
            "Gender is not applicable in the analyzed language or is not predicted.",
            "Feminine",
            "Masculine",
            "Neuter"
          ],
          "enum": [
            "GENDER_UNKNOWN",
            "FEMININE",
            "MASCULINE",
            "NEUTER"
          ]
        },
        "tense": {
          "type": "string",
          "description": "The grammatical tense.",
          "enumDescriptions": [
            "Tense is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Future",
            "Past",
            "Present",
            "Imperfect",
            "Pluperfect"
          ],
          "enum": [
            "TENSE_UNKNOWN",
            "CONDITIONAL_TENSE",
            "FUTURE",
            "PAST",
            "PRESENT",
            "IMPERFECT",
            "PLUPERFECT"
          ]
        },
        "aspect": {
          "enumDescriptions": [
            "Aspect is not applicable in the analyzed language or is not predicted.",
            "Perfective",
            "Imperfective",
            "Progressive"
          ],
          "type": "string",
          "enum": [
            "ASPECT_UNKNOWN",
            "PERFECTIVE",
            "IMPERFECTIVE",
            "PROGRESSIVE"
          ],
          "description": "The grammatical aspect."
        },
        "voice": {
          "enum": [
            "VOICE_UNKNOWN",
            "ACTIVE",
            "CAUSATIVE",
            "PASSIVE"
          ],
          "description": "The grammatical voice.",
          "enumDescriptions": [
            "Voice is not applicable in the analyzed language or is not predicted.",
            "Active",
            "Causative",
            "Passive"
          ],
          "type": "string"
        },
        "reciprocity": {
          "enumDescriptions": [
            "Reciprocity is not applicable in the analyzed language or is not predicted.",
            "Reciprocal",
            "Non-reciprocal"
          ],
          "type": "string",
          "description": "The grammatical reciprocity.",
          "enum": [
            "RECIPROCITY_UNKNOWN",
            "RECIPROCAL",
            "NON_RECIPROCAL"
          ]
        },
        "person": {
          "description": "The grammatical person.",
          "type": "string",
          "enum": [
            "PERSON_UNKNOWN",
            "FIRST",
            "SECOND",
            "THIRD",
            "REFLEXIVE_PERSON"
          ],
          "enumDescriptions": [
            "Person is not applicable in the analyzed language or is not predicted.",
            "First",
            "Second",
            "Third",
            "Reflexive"
          ]
        }
      }
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "type": "object",
      "properties": {
        "evaluatedBoundingBoxCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had."
        },
        "boundingBoxMetricsEntries": {
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "boundingBoxMeanAveragePrecision": {
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes."
    },
    "InfraUsage": {
      "properties": {
        "ramMetrics": {
          "description": "Aggregated ram metrics since requested start_time.",
          "type": "array",
          "items": {
            "$ref": "RamMetric"
          }
        },
        "gpuMetrics": {
          "description": "Aggregated gpu metrics since requested start_time.",
          "type": "array",
          "items": {
            "$ref": "GpuMetric"
          }
        },
        "diskMetrics": {
          "type": "array",
          "items": {
            "$ref": "DiskMetric"
          },
          "description": "Aggregated persistent disk metrics since requested start_time."
        },
        "cpuMetrics": {
          "type": "array",
          "description": "Aggregated core metrics since requested start_time.",
          "items": {
            "$ref": "CpuMetric"
          }
        },
        "tpuMetrics": {
          "description": "Aggregated tpu metrics since requested start_time.",
          "items": {
            "$ref": "TpuMetric"
          },
          "type": "array"
        }
      },
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics.",
      "type": "object",
      "id": "InfraUsage"
    },
    "XPSCommonStats": {
      "description": "Common statistics for a column with a specified data type.",
      "type": "object",
      "properties": {
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "validValueCount": {
          "type": "string",
          "format": "int64"
        },
        "nullValueCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSCommonStats"
    },
    "XPSSpeechModelSpec": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string"
        },
        "datasetId": {
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly.",
          "type": "string",
          "format": "int64"
        },
        "subModelSpecs": {
          "description": "Model specs for all submodels contained in this model.",
          "type": "array",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          }
        }
      },
      "id": "XPSSpeechModelSpec"
    },
    "XPSTfLiteFormat": {
      "properties": {},
      "description": "LINT.IfChange A model format used for mobile and IoT devices. See https://www.tensorflow.org/lite.",
      "id": "XPSTfLiteFormat",
      "type": "object"
    },
    "XPSRegressionMetricsEntry": {
      "properties": {
        "trueValue": {
          "description": "The actual target value for a row in the dataset.",
          "format": "float",
[...]
