{
  "kind": "discovery#restDescription",
  "basePath": "",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud Natural Language API",
  "ownerDomain": "google.com",
  "rootUrl": "https://language.googleapis.com/",
  "name": "language",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Natural Language",
  "ownerName": "Google",
  "id": "language:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260823",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "baseUrl": "https://language.googleapis.com/",
  "resources": {
    "documents": {
      "methods": {
        "analyzeSentiment": {
          "id": "language.documents.analyzeSentiment",
          "flatPath": "v2/documents:analyzeSentiment",
          "httpMethod": "POST",
          "path": "v2/documents:analyzeSentiment",
          "parameters": {},
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "description": "Analyzes the sentiment of the provided text."
        },
        "analyzeEntities": {
          "parameters": {},
          "id": "language.documents.analyzeEntities",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "flatPath": "v2/documents:analyzeEntities",
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "parameterOrder": [],
          "path": "v2/documents:analyzeEntities",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          }
        },
        "moderateText": {
          "id": "language.documents.moderateText",
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "description": "Moderates a document for harmful and sensitive categories.",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "flatPath": "v2/documents:moderateText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/documents:moderateText",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "annotateText": {
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "parameters": {},
          "path": "v2/documents:annotateText",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "description": "A convenience method that provides all features in one call.",
          "httpMethod": "POST",
          "id": "language.documents.annotateText",
          "flatPath": "v2/documents:annotateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "classifyText": {
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "httpMethod": "POST",
          "description": "Classifies a document into categories.",
          "id": "language.documents.classifyText",
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/documents:classifyText",
          "flatPath": "v2/documents:classifyText",
          "parameterOrder": []
        }
      }
    }
  },
  "schemas": {
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "precision": {
          "description": "Output only. Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics."
        },
        "recall": {
          "format": "float",
          "description": "Output only. Recall for the given confidence threshold.",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float"
        }
      }
    },
    "XPSMetricEntry": {
      "type": "object",
      "properties": {
        "systemLabels": {
          "description": "Billing system labels for this (metric, value) pair.",
          "type": "array",
          "items": {
            "$ref": "XPSMetricEntryLabel"
          }
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "int64Value": {
          "description": "A signed 64-bit integer value.",
          "format": "int64",
          "type": "string"
        },
        "argentumMetricId": {
          "description": "For billing metrics that are using legacy sku's, set the legacy billing metric id here. This will be sent to Chemist as the \"cloudbilling.googleapis.com/argentum_metric_id\" label. Otherwise leave empty.",
          "type": "string"
        },
        "metricName": {
          "description": "The metric name defined in the service configuration.",
          "type": "string"
        }
      },
      "id": "XPSMetricEntry"
    },
    "Document": {
      "properties": {
        "languageCode": {
          "description": "Optional. The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "gcsContentUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
        },
        "type": {
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error."
        },
        "content": {
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data.",
          "type": "string"
        }
      },
      "id": "Document",
      "type": "object",
      "description": "Represents the input to API methods."
    },
    "XPSExampleSet": {
      "id": "XPSExampleSet",
      "description": "Set of examples or input sources.",
      "type": "object",
      "properties": {
        "numExamples": {
          "format": "int64",
          "type": "string",
          "description": "Number of examples."
        },
        "fileSpec": {
          "$ref": "XPSFileSpec",
          "description": "File spec of the examples or input sources."
        },
        "fingerprint": {
          "format": "int64",
          "description": "Fingerprint of the example set.",
          "type": "string"
        },
        "numInputSources": {
          "description": "Number of input sources.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "XPSSpeechPreprocessResponse": {
      "type": "object",
      "id": "XPSSpeechPreprocessResponse",
      "properties": {
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        },
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        }
      }
    },
    "XPSEvaluationMetrics": {
      "type": "object",
      "properties": {
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "category": {
          "format": "int32",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "type": "integer"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "label": {
          "type": "string",
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation."
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "format": "int32",
          "description": "The number of examples used to create this evaluation metrics instance.",
          "type": "integer"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        }
      },
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "id": "XPSEvaluationMetrics"
    },
    "XPSStringStatsUnigramStats": {
      "properties": {
        "value": {
          "description": "The unigram.",
          "type": "string"
        },
        "count": {
          "description": "The number of occurrences of this unigram in the series.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The statistics of a unigram.",
      "type": "object",
      "id": "XPSStringStatsUnigramStats"
    },
    "XPSCoreMlFormat": {
      "description": "A model format used for iOS mobile devices.",
      "id": "XPSCoreMlFormat",
      "properties": {},
      "type": "object"
    },
    "XPSTableSpec": {
      "type": "object",
      "properties": {
        "rowCount": {
          "type": "string",
          "description": "The number of rows in the table.",
          "format": "int64"
        },
        "importedDataSizeInBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of imported data of the table."
        },
        "timeColumnId": {
          "description": "The id of the time column.",
          "format": "int32",
          "type": "integer"
        },
        "columnSpecs": {
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "type": "object",
          "description": "Mapping from column id to column spec."
        },
        "validRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of valid rows."
        }
      },
      "id": "XPSTableSpec"
    },
    "AnalyzeSentimentRequest": {
      "id": "AnalyzeSentimentRequest",
      "type": "object",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      }
    },
    "XPSColorMap": {
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "id": "XPSColorMap",
      "properties": {
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "annotationSpecIdToken": {
          "description": "Should be used during training.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Should be used during preprocessing."
        },
        "color": {
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "deprecated": true,
          "$ref": "Color"
        }
      },
      "type": "object"
    },
    "XPSTextSentimentEvaluationMetrics": {
      "properties": {
        "f1Score": {
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "meanSquaredError": {
          "type": "number",
          "format": "float",
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "linearKappa": {
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        },
        "confusionMatrix": {
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "$ref": "XPSConfusionMatrix"
        },
        "meanAbsoluteError": {
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "description": "Output only. Precision.",
          "format": "float",
          "type": "number"
        },
        "recall": {
          "format": "float",
          "description": "Output only. Recall.",
          "type": "number"
        },
        "quadraticKappa": {
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "XPSTextSentimentEvaluationMetrics",
      "type": "object",
      "description": "Model evaluation metrics for text sentiment problems."
    },
    "XPSFloat64Stats": {
      "description": "The data statistics of a series of FLOAT64 values.",
      "id": "XPSFloat64Stats",
      "properties": {
        "standardDeviation": {
          "type": "number",
          "description": "The standard deviation of the series.",
          "format": "double"
        },
        "mean": {
          "description": "The mean of the series.",
          "format": "double",
          "type": "number"
        },
        "quantiles": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "histogramBuckets": {
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          },
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "XPSStructStats": {
      "type": "object",
      "description": "The data statistics of a series of STRUCT values.",
      "id": "XPSStructStats",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "fieldStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          },
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs."
        }
      }
    },
    "EntityMention": {
      "type": "object",
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported.",
      "id": "EntityMention",
      "properties": {
        "probability": {
          "format": "float",
          "description": "Probability score associated with the entity. The score shows the probability of the entity mention being the entity type. The score is in (0, 1] range.",
          "type": "number"
        },
        "type": {
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ],
          "type": "string"
        },
        "text": {
          "description": "The mention text.",
          "$ref": "TextSpan"
        },
        "sentiment": {
          "$ref": "Sentiment",
          "description": "For calls to AnalyzeEntitySentiment this field will contain the sentiment expressed for this mention of the entity in the provided document."
        }
      }
    },
    "XPSBoundingBoxMetricsEntry": {
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "id": "XPSBoundingBoxMetricsEntry",
      "properties": {
        "meanAveragePrecision": {
          "format": "float",
          "description": "The mean average precision.",
          "type": "number"
        },
        "iouThreshold": {
          "format": "float",
          "type": "number",
          "description": "The intersection-over-union threshold value used to compute this metrics entry."
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          }
        }
      },
      "type": "object"
    },
    "XPSTablesEvaluationMetrics": {
      "type": "object",
      "id": "XPSTablesEvaluationMetrics",
      "properties": {
        "classificationMetrics": {
          "description": "Classification metrics.",
          "$ref": "XPSTablesClassificationMetrics"
        },
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        }
      }
    },
    "XPSTablesTrainingOperationMetadata": {
      "type": "object",
      "properties": {
        "trainingObjectivePoints": {
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses.",
          "type": "array",
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          }
        },
        "trainingStartTime": {
          "description": "Timestamp when training process starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "createModelStage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "type": "string",
          "description": "Current stage of creating model.",
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ]
        },
        "topTrials": {
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure.",
          "type": "array",
          "items": {
            "$ref": "XPSTuningTrial"
          }
        },
        "trainBudgetMilliNodeHours": {
          "format": "int64",
          "description": "Creating model budget.",
          "type": "string"
        },
        "optimizationObjective": {
          "description": "The optimization objective for model.",
          "type": "string"
        }
      },
      "id": "XPSTablesTrainingOperationMetadata"
    },
    "XPSEvaluationMetricsSet": {
      "type": "object",
      "properties": {
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        },
        "numEvaluationMetrics": {
          "description": "Number of the evaluation metrics (usually one per label plus overall).",
          "format": "int64",
          "type": "string"
        },
        "evaluationMetrics": {
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec.",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          },
          "type": "array"
        }
      },
      "description": "Specifies location of model evaluation metrics.",
      "id": "XPSEvaluationMetricsSet"
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "type": "object",
      "properties": {
        "latencyInMilliseconds": {
          "type": "number",
          "format": "double",
          "description": "Estimated latency."
        },
        "computeEngineAcceleratorType": {
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ],
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ],
          "type": "string"
        },
        "nodeQps": {
          "type": "number",
          "format": "double",
          "description": "The approximate qps a deployed node can serve."
        },
        "servomaticPartitionType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        }
      },
      "id": "XPSImageModelServingSpecModelThroughputEstimation"
    },
    "XPSVideoExportModelSpec": {
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "type": "array"
        }
      },
      "id": "XPSVideoExportModelSpec",
      "type": "object",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format."
    },
    "XPSFileSpec": {
      "id": "XPSFileSpec",
      "properties": {
        "directoryPath": {
          "deprecated": true,
          "description": "Deprecated. Use file_spec.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ]
        },
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        },
        "singleFilePath": {
          "description": "Deprecated. Use file_spec.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "type": "object"
    },
    "XPSPreprocessResponse": {
      "id": "XPSPreprocessResponse",
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data."
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        }
      }
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric",
      "type": "object",
      "properties": {
        "sentenceAccuracy": {
          "type": "number",
          "description": "Below fields are used for debugging purposes",
          "format": "double"
        },
        "numWords": {
          "description": "Number of words over which the word error rate was computed.",
          "format": "int32",
          "type": "integer"
        },
        "biasingModelType": {
          "type": "string",
          "description": "Type of the biasing model.",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ]
        },
        "numSubstitutions": {
          "type": "integer",
          "format": "int32"
        },
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "numDeletions": {
          "format": "int32",
          "type": "integer"
        },
        "numUtterances": {
          "type": "integer",
          "description": "Number of utterances used in the wer computation.",
          "format": "int32"
        },
        "wer": {
          "type": "number",
          "description": "Word error rate (standard error metric used for speech recognition).",
          "format": "double"
        },
        "numInsertions": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSDockerFormat": {
      "id": "XPSDockerFormat",
      "properties": {
        "gpuArchitecture": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "GPU_ARCHITECTURE_UNSPECIFIED",
            "GPU_ARCHITECTURE_NVIDIA"
          ],
          "description": "Optional. Additional gpu information describing the requirements for the to be exported model files."
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "Optional. Additional cpu information describing the requirements for the to be exported model files.",
          "enum": [
            "CPU_ARCHITECTURE_UNSPECIFIED",
            "CPU_ARCHITECTURE_X86_64"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "description": "A model format used for Docker containers. Use the params field to customize the container. The container is verified to work correctly on ubuntu 16.04 operating system.",
      "type": "object"
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "properties": {
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "recall": {
          "format": "float",
          "description": "Recall for the given confidence threshold.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "properties": {},
      "id": "XPSEdgeTpuTfLiteFormat",
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "type": "object"
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "type": "object",
      "id": "XPSSpeechModelSpecSubModelSpec",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "In S3, Recognition ClientContextId.client_id"
        },
        "biasingModelType": {
          "description": "Type of the biasing model.",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "contextId": {
          "type": "string",
          "description": "In S3, Recognition ClientContextId.context_id"
        }
      }
    },
    "XPSResponseExplanationParameters": {
      "type": "object",
      "id": "XPSResponseExplanationParameters",
      "deprecated": true,
      "properties": {
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "XPSXraiAttribution"
        },
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "XPSIntegratedGradientsAttribution"
        }
      }
    },
    "XPSMetricEntryLabel": {
      "id": "XPSMetricEntryLabel",
      "properties": {
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        },
        "labelValue": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSTextComponentModel": {
      "type": "object",
      "description": "Component model.",
      "properties": {
        "onlinePredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold online prediction model.",
          "type": "string"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "submodelType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ],
          "description": "The type of trained NL submodel",
          "type": "string",
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ]
        },
        "versionNumber": {
          "format": "int64",
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        },
        "submodelName": {
          "type": "string",
          "description": "The name of the trained NL submodel."
        },
        "partition": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "batchPredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold batch prediction model.",
          "type": "string"
        },
        "servoModelName": {
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        }
      },
      "id": "XPSTextComponentModel"
    },
    "TextSpan": {
      "id": "TextSpan",
      "type": "object",
      "description": "Represents a text span in the input document.",
      "properties": {
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        },
        "beginOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request."
        }
      }
    },
    "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "properties": {
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Precision for the given confidence threshold."
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the per confidence_threshold evaluation. Pixel counts are set here. Only set for model level evaluation, not for evaluation per label."
        },
        "diceScoreCoefficient": {
          "format": "float",
          "description": "DSC or the F1 score: The harmonic mean of recall and precision.",
          "type": "number"
        },
        "iouScore": {
          "format": "float",
          "description": "IOU score.",
          "type": "number"
        },
        "recall": {
          "description": "Recall for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "XPSVisualization": {
      "description": "Visualization configurations for image explanation.",
      "type": "object",
      "id": "XPSVisualization",
      "deprecated": true,
      "properties": {
        "overlayType": {
          "type": "string",
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ]
        },
        "clipPercentUpperbound": {
          "format": "float",
          "type": "number",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9."
        },
        "polarity": {
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ]
        },
        "colorMap": {
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "type": "string",
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentLowerbound": {
          "format": "float",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "type": "number"
        },
        "type": {
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "type": "string"
        }
      }
    },
    "XPSArrayStats": {
      "description": "The data statistics of a series of ARRAY values.",
      "id": "XPSArrayStats",
      "type": "object",
      "properties": {
        "memberStats": {
          "$ref": "XPSDataStats",
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      }
    },
    "XPSConfusionMatrixRow": {
      "id": "XPSConfusionMatrixRow",
      "type": "object",
      "description": "A row in the confusion matrix.",
      "properties": {
        "count": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message)."
        },
        "exampleCount": {
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "XPSCorrelationStats": {
      "properties": {
        "cramersV": {
          "description": "The correlation value using the Cramer's V measure.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "id": "XPSCorrelationStats"
    },
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "type": "object",
      "id": "AnnotateTextResponse",
      "properties": {
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities ."
        },
        "moderationCategories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories identified in the input document."
        },
        "sentences": {
          "type": "array",
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "items": {
            "$ref": "Sentence"
          }
        },
        "categories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document.",
          "type": "array"
        }
      }
    },
    "XPSTablesClassificationMetrics": {
      "properties": {
        "curveMetrics": {
          "type": "array",
          "description": "Metrics building a curve.",
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          }
        }
      },
      "id": "XPSTablesClassificationMetrics",
      "type": "object",
      "description": "Metrics for Tables classification problems."
    },
    "XPSSpeechPreprocessStats": {
      "properties": {
        "trainSentencesCount": {
          "format": "int32",
          "description": "The number of sentences in the training data set.",
          "type": "integer"
        },
        "numMachineTranscribedExamples": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows marked as MACHINE_TRANSCRIBED"
        },
        "testWordsCount": {
          "description": "The number of words in the test data set.",
          "type": "integer",
          "format": "int32"
        },
        "numHumanLabeledExamples": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows marked HUMAN_LABELLED"
        },
        "trainWordsCount": {
          "description": "The number of words in the training data set.",
          "format": "int32",
          "type": "integer"
        },
        "dataErrors": {
          "items": {
            "$ref": "XPSDataErrors"
          },
          "description": "Different types of data errors and the counts associated with them.",
          "type": "array"
        },
        "testExamplesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of examples labelled as TEST by Speech xps server."
        },
        "numLogsExamples": {
          "type": "integer",
          "format": "int32",
          "description": "The number of samples found in the previously recorded logs data."
        },
        "trainExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples labeled as TRAIN by Speech xps server."
        },
        "testSentencesCount": {
          "description": "The number of sentences in the test data set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "XPSSpeechPreprocessStats",
      "type": "object"
    },
    "XPSCommonStats": {
      "id": "XPSCommonStats",
      "description": "Common statistics for a column with a specified data type.",
      "type": "object",
      "properties": {
        "nullValueCount": {
          "format": "int64",
          "type": "string"
        },
        "validValueCount": {
          "format": "int64",
          "type": "string"
        },
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSColorMapIntColor": {
      "type": "object",
      "id": "XPSColorMapIntColor",
      "description": "RGB color and each channel is represented by an integer.",
      "properties": {
        "green": {
          "format": "int32",
          "type": "integer",
          "description": "The value should be in range of [0, 255]."
        },
        "blue": {
          "description": "The value should be in range of [0, 255].",
          "type": "integer",
          "format": "int32"
        },
        "red": {
          "type": "integer",
          "description": "The value should be in range of [0, 255].",
          "format": "int32"
        }
      }
    },
    "XPSImageSegmentationTrainResponse": {
      "type": "object",
      "id": "XPSImageSegmentationTrainResponse",
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "colorMaps": {
          "type": "array",
          "items": {
            "$ref": "XPSColorMap"
          },
          "description": "Color map of the model."
        }
      }
    },
    "XPSRegressionMetricsEntry": {
      "description": "A pair of actual & observed values for the model being evaluated.",
      "id": "XPSRegressionMetricsEntry",
      "properties": {
        "trueValue": {
          "type": "number",
          "format": "float",
          "description": "The actual target value for a row in the dataset."
        },
        "predictedValue": {
          "type": "number",
          "description": "The observed value for a row in the dataset.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "XPSTablesPreprocessResponse": {
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      },
      "type": "object",
      "id": "XPSTablesPreprocessResponse"
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "properties": {
        "outputExamples": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples."
        }
      },
      "id": "XPSVideoBatchPredictOperationMetadata",
      "type": "object"
    },
    "XPSVideoClassificationTrainResponse": {
      "properties": {
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        }
      },
      "type": "object",
      "id": "XPSVideoClassificationTrainResponse"
    },
    "XPSColumnSpecCorrelatedColumn": {
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "properties": {
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        },
        "columnId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSColumnSpecCorrelatedColumn",
      "type": "object"
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "id": "XPSVideoActionRecognitionEvaluationMetrics",
      "properties": {
        "evaluatedActionCount": {
          "type": "integer",
          "description": "Output only. The number of ground truth actions used to create this evaluation.",
          "format": "int32"
        },
        "videoActionMetricsEntries": {
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          },
          "type": "array",
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s."
        }
      },
      "type": "object",
      "description": "Model evaluation metrics for video action recognition."
    },
    "XPSTablesModelStructure": {
      "description": "A description of Tables model structure.",
      "type": "object",
      "id": "XPSTablesModelStructure",
      "properties": {
        "modelParameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "description": "A list of models."
        }
      }
    },
    "XPSImageClassificationTrainResponse": {
      "id": "XPSImageClassificationTrainResponse",
      "properties": {
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "format": "int64"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "classCount": {
          "type": "string",
          "description": "Total number of classes.",
          "format": "int64"
        },
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        },
        "trainCostInNodeTime": {
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "type": "string",
          "format": "google-duration"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        }
      },
      "type": "object"
    },
    "XPSTablesTrainResponse": {
      "type": "object",
      "id": "XPSTablesTrainResponse",
      "properties": {
        "trainCostMilliNodeHours": {
          "type": "string",
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64"
        },
        "tablesModelColumnInfo": {
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          },
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model.",
          "type": "array"
        },
        "predictionSampleRows": {
          "description": "Sample rows from the dataset this model was trained.",
          "type": "array",
          "items": {
            "$ref": "XPSRow"
          }
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        }
      }
    },
    "XPSStringStats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "topUnigramStats": {
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count.",
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          },
          "type": "array"
        }
      },
      "id": "XPSStringStats",
      "type": "object",
      "description": "The data statistics of a series of STRING values."
    },
    "Entity": {
      "id": "Entity",
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as probability and mentions, with entities.",
      "properties": {
        "type": {
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "type": "string",
          "description": "The entity type."
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "mentions": {
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          },
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions."
        },
        "name": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata associated with the entity. For the metadata associated with other entity types, see the Type table below."
        }
      },
      "type": "object"
    },
    "RamMetric": {
      "properties": {
        "ramType": {
          "enum": [
            "UNKNOWN_RAM_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "C3",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Type of ram."
        },
        "trackingLabels": {
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "memories": {
          "type": "number",
          "format": "double",
          "description": "Required. VM memory in gb."
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        },
        "gibSec": {
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RamMetric",
      "type": "object"
    },
    "ClassificationCategory": {
      "id": "ClassificationCategory",
      "properties": {
        "name": {
          "description": "The name of the category representing the document.",
          "type": "string"
        },
        "confidence": {
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "type": "number",
          "format": "float",
          "description": "Optional. The classifier's severity of the category. This is only present when the ModerateTextRequest.ModelVersion is set to MODEL_VERSION_2, and the corresponding category has a severity score."
        }
      },
      "description": "Represents a category returned from the text classifier.",
      "type": "object"
    },
    "XPSImageObjectDetectionModelSpec": {
      "type": "object",
      "id": "XPSImageObjectDetectionModelSpec",
      "properties": {
        "maxBoundingBoxCount": {
          "format": "int64",
          "description": "Max number of bounding box.",
          "type": "string"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "classCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of classes."
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "type": "string"
        }
      }
    },
    "XPSBatchPredictResponse": {
      "type": "object",
      "properties": {
        "exampleSet": {
          "description": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend.",
          "$ref": "XPSExampleSet"
        }
      },
      "id": "XPSBatchPredictResponse"
    },
    "XPSTimestampStats": {
      "id": "XPSTimestampStats",
      "description": "The data statistics of a series of TIMESTAMP values.",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "medianTimestampNanos": {
          "format": "int64",
          "type": "string"
        },
        "granularStats": {
          "type": "object",
          "description": "The string key is the pre-defined granularity. Currently supported: hour_of_day, day_of_week, month_of_year. Granularities finer that the granularity of timestamp data are not populated (e.g. if timestamps are at day granularity, then hour_of_day is not populated).",
          "additionalProperties": {
            "$ref": "XPSTimestampStatsGranularStats"
          }
        }
      }
    },
    "XPSVideoTrainingOperationMetadata": {
      "id": "XPSVideoTrainingOperationMetadata",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSTranslationPreprocessResponse": {
      "description": "Translation preprocess response.",
      "type": "object",
      "id": "XPSTranslationPreprocessResponse",
      "properties": {
        "parsedExampleCount": {
          "format": "int64",
          "type": "string",
          "description": "Total example count parsed."
        },
        "validExampleCount": {
          "format": "int64",
          "description": "Total valid example count.",
          "type": "string"
        }
      }
    },
    "XPSClassificationEvaluationMetrics": {
      "type": "object",
      "properties": {
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label."
        },
        "logLoss": {
          "description": "The Log Loss metric.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it."
        },
        "baseAuPrc": {
          "format": "float",
          "type": "number",
          "description": "The Area under precision recall curve metric based on priors."
        },
        "auRoc": {
          "format": "float",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "type": "number"
        },
        "auPrc": {
          "type": "number",
          "format": "float",
          "description": "The Area under precision recall curve metric."
        },
        "evaluatedExamplesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of examples used for model evaluation."
        }
      },
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "id": "XPSClassificationEvaluationMetrics"
    },
    "XPSReportingMetrics": {
      "properties": {
        "metricEntries": {
          "type": "array",
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "items": {
            "$ref": "XPSMetricEntry"
          }
        },
        "effectiveTrainingDuration": {
          "format": "google-duration",
          "deprecated": true,
          "type": "string",
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set."
        }
      },
      "type": "object",
      "id": "XPSReportingMetrics"
    },
    "Sentence": {
      "id": "Sentence",
      "description": "Represents a sentence in the input document.",
      "properties": {
        "sentiment": {
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence.",
          "$ref": "Sentiment"
        },
        "text": {
          "$ref": "TextSpan",
          "description": "The sentence text."
        }
      },
      "type": "object"
    },
    "XPSTrainingObjectivePoint": {
      "properties": {
        "value": {
          "description": "The objective value when this point was recorded.",
          "format": "float",
          "type": "number"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which this point was recorded.",
          "format": "google-datetime"
        }
      },
      "id": "XPSTrainingObjectivePoint",
      "type": "object"
    },
    "CpuMetric": {
      "properties": {
        "coreSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total seconds of core usage, e.g. 4."
        },
        "coreNumber": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of CPU cores."
        },
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "type": "object"
        },
        "cpuType": {
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of cpu, e.g. N2.",
          "type": "string"
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
[...]
