{
  "baseUrl": "https://language.googleapis.com/",
  "title": "Cloud Natural Language API",
  "revision": "20260920",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "documents": {
      "methods": {
        "analyzeSentiment": {
          "id": "language.documents.analyzeSentiment",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/documents:analyzeSentiment",
          "flatPath": "v1/documents:analyzeSentiment",
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Analyzes the sentiment of the provided text."
        },
        "annotateText": {
          "description": "A convenience method that provides all the features that analyzeSentiment, analyzeEntities, and analyzeSyntax provide in one call.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/documents:annotateText",
          "parameterOrder": [],
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "flatPath": "v1/documents:annotateText",
          "httpMethod": "POST",
          "parameters": {},
          "id": "language.documents.annotateText"
        },
        "analyzeEntitySentiment": {
          "parameters": {},
          "path": "v1/documents:analyzeEntitySentiment",
          "httpMethod": "POST",
          "description": "Finds entities, similar to AnalyzeEntities in the text and analyzes sentiment associated with each entity and its mentions.",
          "parameterOrder": [],
          "request": {
            "$ref": "AnalyzeEntitySentimentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnalyzeEntitySentimentResponse"
          },
          "id": "language.documents.analyzeEntitySentiment",
          "flatPath": "v1/documents:analyzeEntitySentiment"
        },
        "moderateText": {
          "description": "Moderates a document for harmful and sensitive categories.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/documents:moderateText",
          "id": "language.documents.moderateText",
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/documents:moderateText",
          "request": {
            "$ref": "ModerateTextRequest"
          }
        },
        "analyzeSyntax": {
          "description": "Analyzes the syntax of the text and provides sentence boundaries and tokenization along with part of speech tags, dependency trees, and other properties.",
          "parameterOrder": [],
          "path": "v1/documents:analyzeSyntax",
          "id": "language.documents.analyzeSyntax",
          "request": {
            "$ref": "AnalyzeSyntaxRequest"
          },
          "response": {
            "$ref": "AnalyzeSyntaxResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/documents:analyzeSyntax"
        },
        "analyzeEntities": {
          "id": "language.documents.analyzeEntities",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "path": "v1/documents:analyzeEntities",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/documents:analyzeEntities",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, salience, mentions for each entity, and other properties.",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          }
        },
        "classifyText": {
          "id": "language.documents.classifyText",
          "parameterOrder": [],
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "path": "v1/documents:classifyText",
          "parameters": {},
          "description": "Classifies a document into categories.",
          "httpMethod": "POST",
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "flatPath": "v1/documents:classifyText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "version": "v1",
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Natural Language",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/natural-language/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "rootUrl": "https://language.googleapis.com/",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "name": "language",
  "id": "language:v1",
  "ownerName": "Google",
  "schemas": {
    "XPSVideoActionMetricsEntry": {
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "id": "XPSVideoActionMetricsEntry",
      "properties": {
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array"
        },
        "meanAveragePrecision": {
          "format": "float",
          "description": "The mean average precision.",
          "type": "number"
        },
        "precisionWindowLength": {
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSImageExportModelSpec": {
      "type": "object",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "type": "array",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          }
        }
      },
      "id": "XPSImageExportModelSpec"
    },
    "XPSTablesTrainResponse": {
      "properties": {
        "tablesModelColumnInfo": {
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          }
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        },
        "predictionSampleRows": {
          "description": "Sample rows from the dataset this model was trained.",
          "type": "array",
          "items": {
            "$ref": "XPSRow"
          }
        },
        "trainCostMilliNodeHours": {
          "type": "string",
          "format": "int64",
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget."
        }
      },
      "id": "XPSTablesTrainResponse",
      "type": "object"
    },
    "XPSEvaluationMetrics": {
      "type": "object",
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "id": "XPSEvaluationMetrics",
      "properties": {
        "label": {
          "type": "string",
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation."
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "category": {
          "type": "integer",
          "format": "int32",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token."
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "description": "The number of examples used to create this evaluation metrics instance.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "XPSPreprocessResponse": {
      "id": "XPSPreprocessResponse",
      "type": "object",
      "properties": {
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "outputExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data."
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        }
      }
    },
    "XPSTextExtractionEvaluationMetrics": {
      "properties": {
        "confidenceMetricsEntries": {
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label.",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array"
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "perLabelConfidenceMetrics": {
          "deprecated": true,
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "Only recall, precision, and f1_score will be set.",
          "type": "object"
        },
        "bestF1ConfidenceMetrics": {
          "deprecated": true,
          "$ref": "XPSConfidenceMetricsEntry",
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set."
        }
      },
      "type": "object",
      "id": "XPSTextExtractionEvaluationMetrics"
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "properties": {
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        }
      },
      "id": "XPSVideoObjectTrackingTrainResponse",
      "type": "object"
    },
    "XPSVideoClassificationTrainResponse": {
      "properties": {
        "modelArtifactSpec": {
          "$ref": "XPSVideoModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSVideoClassificationTrainResponse",
      "type": "object"
    },
    "XPSBoundingBoxMetricsEntry": {
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "id": "XPSBoundingBoxMetricsEntry",
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The mean average precision."
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "iouThreshold": {
          "type": "number",
          "format": "float",
          "description": "The intersection-over-union threshold value used to compute this metrics entry."
        }
      }
    },
    "XPSFloat64Stats": {
      "type": "object",
      "properties": {
        "standardDeviation": {
          "type": "number",
          "description": "The standard deviation of the series.",
          "format": "double"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "quantiles": {
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "mean": {
          "format": "double",
          "description": "The mean of the series.",
          "type": "number"
        },
        "histogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          },
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`."
        }
      },
      "id": "XPSFloat64Stats",
      "description": "The data statistics of a series of FLOAT64 values."
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "type": "object",
      "properties": {
        "outputExamples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples."
        }
      },
      "id": "XPSVideoBatchPredictOperationMetadata"
    },
    "XPSTextToSpeechTrainResponse": {
      "description": "TextToSpeech train response",
      "type": "object",
      "id": "XPSTextToSpeechTrainResponse",
      "properties": {}
    },
    "XPSTranslationTrainResponse": {
      "type": "object",
      "id": "XPSTranslationTrainResponse",
      "description": "Train response for translation.",
      "properties": {
        "modelType": {
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LEGACY",
            "CURRENT"
          ],
          "enumDescriptions": [
            "Default",
            "Legacy model. Will be deprecated.",
            "Current model."
          ],
          "type": "string"
        }
      }
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "description": "Metadata of the input of a feature.",
      "type": "object",
      "id": "XPSResponseExplanationMetadataInputMetadata",
      "properties": {
        "modality": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ]
        },
        "inputTensorName": {
          "type": "string",
          "description": "Name of the input tensor for this model. Only needed in train response."
        },
        "visualizationConfig": {
          "$ref": "XPSVisualization",
          "description": "Visualization configurations for image explanation."
        }
      }
    },
    "Sentiment": {
      "properties": {
        "score": {
          "type": "number",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "format": "float"
        }
      },
      "type": "object",
      "id": "Sentiment",
      "description": "Represents the feeling associated with the entire text or entities in the text."
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "type": "object",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      },
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "id": "XPSImageSegmentationEvaluationMetrics"
    },
    "XPSFloat64StatsHistogramBucket": {
      "type": "object",
      "description": "A bucket of a histogram.",
      "properties": {
        "max": {
          "type": "number",
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive.",
          "format": "double"
        },
        "count": {
          "description": "The number of data values that are in the bucket, i.e. are between min and max values.",
          "format": "int64",
          "type": "string"
        },
        "min": {
          "format": "double",
          "description": "The minimum value of the bucket, inclusive.",
          "type": "number"
        }
      },
      "id": "XPSFloat64StatsHistogramBucket"
    },
    "XPSConfidenceMetricsEntry": {
      "id": "XPSConfidenceMetricsEntry",
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "type": "object",
      "properties": {
        "falseNegativeCount": {
          "description": "The number of ground truth labels that are not matched by a model created label.",
          "format": "int64",
          "type": "string"
        },
        "precisionAt1": {
          "format": "float",
          "type": "number",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "f1ScoreAt1": {
          "format": "float",
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "type": "number"
        },
        "f1Score": {
          "format": "float",
          "description": "The harmonic mean of recall and precision.",
          "type": "number"
        },
        "positionThreshold": {
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "type": "integer",
          "format": "int32"
        },
        "truePositiveCount": {
          "description": "The number of model created labels that match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value."
        },
        "falsePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of model created labels that do not match a ground truth label."
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "trueNegativeCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label."
        },
        "falsePositiveRate": {
          "type": "number",
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float"
        },
        "recallAt1": {
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float"
        }
      }
    },
    "XPSTranslationEvaluationMetrics": {
      "id": "XPSTranslationEvaluationMetrics",
      "type": "object",
      "properties": {
        "bleuScore": {
          "type": "number",
          "description": "BLEU score.",
          "format": "double"
        },
        "baseBleuScore": {
          "type": "number",
          "format": "double",
          "description": "BLEU score for base model."
        }
      },
      "description": "Evaluation metrics for the dataset."
    },
    "AnnotateTextResponse": {
      "id": "AnnotateTextResponse",
      "description": "The text annotations response message.",
      "properties": {
        "moderationCategories": {
          "type": "array",
          "description": "Harmful and sensitive categories identified in the input document.",
          "items": {
            "$ref": "ClassificationCategory"
          }
        },
        "tokens": {
          "description": "Tokens, along with their syntactic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "items": {
            "$ref": "Token"
          },
          "type": "array"
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "language": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details."
        },
        "sentences": {
          "items": {
            "$ref": "Sentence"
          },
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "type": "array"
        },
        "categories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "type": "array",
          "description": "Categories identified in the input document."
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities."
        }
      },
      "type": "object"
    },
    "PartOfSpeech": {
      "description": "Represents part of speech information for a token. Parts of speech are as defined in http://www.lrec-conf.org/proceedings/lrec2012/pdf/274_Paper.pdf",
      "type": "object",
      "id": "PartOfSpeech",
      "properties": {
        "voice": {
          "enumDescriptions": [
            "Voice is not applicable in the analyzed language or is not predicted.",
            "Active",
            "Causative",
            "Passive"
          ],
          "enum": [
            "VOICE_UNKNOWN",
            "ACTIVE",
            "CAUSATIVE",
            "PASSIVE"
          ],
          "type": "string",
          "description": "The grammatical voice."
        },
        "tense": {
          "type": "string",
          "enum": [
            "TENSE_UNKNOWN",
            "CONDITIONAL_TENSE",
            "FUTURE",
            "PAST",
            "PRESENT",
            "IMPERFECT",
            "PLUPERFECT"
          ],
          "enumDescriptions": [
            "Tense is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Future",
            "Past",
            "Present",
            "Imperfect",
            "Pluperfect"
          ],
          "description": "The grammatical tense."
        },
        "proper": {
          "enum": [
            "PROPER_UNKNOWN",
            "PROPER",
            "NOT_PROPER"
          ],
          "enumDescriptions": [
            "Proper is not applicable in the analyzed language or is not predicted.",
            "Proper",
            "Not proper"
          ],
          "type": "string",
          "description": "The grammatical properness."
        },
        "number": {
          "enum": [
            "NUMBER_UNKNOWN",
            "SINGULAR",
            "PLURAL",
            "DUAL"
          ],
          "enumDescriptions": [
            "Number is not applicable in the analyzed language or is not predicted.",
            "Singular",
            "Plural",
            "Dual"
          ],
          "description": "The grammatical number.",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "The part of speech tag.",
          "enum": [
            "UNKNOWN",
            "ADJ",
            "ADP",
            "ADV",
            "CONJ",
            "DET",
            "NOUN",
            "NUM",
            "PRON",
            "PRT",
            "PUNCT",
            "VERB",
            "X",
            "AFFIX"
          ],
          "enumDescriptions": [
            "Unknown",
            "Adjective",
            "Adposition (preposition and postposition)",
            "Adverb",
            "Conjunction",
            "Determiner",
            "Noun (common and proper)",
            "Cardinal number",
            "Pronoun",
            "Particle or other function word",
            "Punctuation",
            "Verb (all tenses and modes)",
            "Other: foreign words, typos, abbreviations",
            "Affix"
          ]
        },
        "gender": {
          "type": "string",
          "description": "The grammatical gender.",
          "enumDescriptions": [
            "Gender is not applicable in the analyzed language or is not predicted.",
            "Feminine",
            "Masculine",
            "Neuter"
          ],
          "enum": [
            "GENDER_UNKNOWN",
            "FEMININE",
            "MASCULINE",
            "NEUTER"
          ]
        },
        "person": {
          "type": "string",
          "enum": [
            "PERSON_UNKNOWN",
            "FIRST",
            "SECOND",
            "THIRD",
            "REFLEXIVE_PERSON"
          ],
          "description": "The grammatical person.",
          "enumDescriptions": [
            "Person is not applicable in the analyzed language or is not predicted.",
            "First",
            "Second",
            "Third",
            "Reflexive"
          ]
        },
        "reciprocity": {
          "type": "string",
          "enumDescriptions": [
            "Reciprocity is not applicable in the analyzed language or is not predicted.",
            "Reciprocal",
            "Non-reciprocal"
          ],
          "enum": [
            "RECIPROCITY_UNKNOWN",
            "RECIPROCAL",
            "NON_RECIPROCAL"
          ],
          "description": "The grammatical reciprocity."
        },
        "mood": {
          "type": "string",
          "description": "The grammatical mood.",
          "enumDescriptions": [
            "Mood is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Imperative",
            "Indicative",
            "Interrogative",
            "Jussive",
            "Subjunctive"
          ],
          "enum": [
            "MOOD_UNKNOWN",
            "CONDITIONAL_MOOD",
            "IMPERATIVE",
            "INDICATIVE",
            "INTERROGATIVE",
            "JUSSIVE",
            "SUBJUNCTIVE"
          ]
        },
        "aspect": {
          "description": "The grammatical aspect.",
          "enum": [
            "ASPECT_UNKNOWN",
            "PERFECTIVE",
            "IMPERFECTIVE",
            "PROGRESSIVE"
          ],
          "enumDescriptions": [
            "Aspect is not applicable in the analyzed language or is not predicted.",
            "Perfective",
            "Imperfective",
            "Progressive"
          ],
          "type": "string"
        },
        "case": {
          "description": "The grammatical case.",
          "enum": [
            "CASE_UNKNOWN",
            "ACCUSATIVE",
            "ADVERBIAL",
            "COMPLEMENTIVE",
            "DATIVE",
            "GENITIVE",
            "INSTRUMENTAL",
            "LOCATIVE",
            "NOMINATIVE",
            "OBLIQUE",
            "PARTITIVE",
            "PREPOSITIONAL",
            "REFLEXIVE_CASE",
            "RELATIVE_CASE",
            "VOCATIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Case is not applicable in the analyzed language or is not predicted.",
            "Accusative",
            "Adverbial",
            "Complementive",
            "Dative",
            "Genitive",
            "Instrumental",
            "Locative",
            "Nominative",
            "Oblique",
            "Partitive",
            "Prepositional",
            "Reflexive",
            "Relative",
            "Vocative"
          ]
        },
        "form": {
          "description": "The grammatical form.",
          "enum": [
            "FORM_UNKNOWN",
            "ADNOMIAL",
            "AUXILIARY",
            "COMPLEMENTIZER",
            "FINAL_ENDING",
            "GERUND",
            "REALIS",
            "IRREALIS",
            "SHORT",
            "LONG",
            "ORDER",
            "SPECIFIC"
          ],
          "enumDescriptions": [
            "Form is not applicable in the analyzed language or is not predicted.",
            "Adnomial",
            "Auxiliary",
            "Complementizer",
            "Final ending",
            "Gerund",
            "Realis",
            "Irrealis",
            "Short form",
            "Long form",
            "Order form",
            "Specific form"
          ],
          "type": "string"
        }
      }
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "properties": {
        "evaluatedBoundingBoxCount": {
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair."
        },
        "boundingBoxMeanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries."
        }
      },
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "type": "object"
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "type": "object",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "f1Score": {
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Output only. Precision for the given confidence threshold."
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        },
        "recall": {
          "format": "float",
          "type": "number",
          "description": "Output only. Recall for the given confidence threshold."
        }
      }
    },
    "XPSDataType": {
      "properties": {
        "timeFormat": {
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used.",
          "type": "string"
        },
        "nullable": {
          "description": "If true, this DataType can also be `null`.",
          "type": "boolean"
        },
        "listElementType": {
          "$ref": "XPSDataType",
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements."
        },
        "compatibleDataTypes": {
          "items": {
            "$ref": "XPSDataType"
          },
          "type": "array",
          "description": "The highly compatible data types to this data type."
        },
        "typeCode": {
          "description": "Required. The TypeCode for this type.",
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ],
          "type": "string",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ]
        },
        "structType": {
          "$ref": "XPSStructType",
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields."
        }
      },
      "id": "XPSDataType",
      "type": "object",
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table)."
    },
    "XPSRegressionEvaluationMetrics": {
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "id": "XPSRegressionEvaluationMetrics",
      "properties": {
        "meanAbsolutePercentageError": {
          "type": "number",
          "format": "float",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive."
        },
        "meanAbsoluteError": {
          "description": "Mean Absolute Error (MAE).",
          "type": "number",
          "format": "float"
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "float"
        },
        "rootMeanSquaredLogError": {
          "description": "Root mean squared log error.",
          "type": "number",
          "format": "float"
        },
        "regressionMetricsEntries": {
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "type": "array"
        },
        "rootMeanSquaredError": {
          "format": "float",
          "type": "number",
          "description": "Root Mean Squared Error (RMSE)."
        }
      },
      "type": "object"
    },
    "XPSVideoExportModelSpec": {
      "id": "XPSVideoExportModelSpec",
      "properties": {
        "exportModelOutputConfig": {
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "type": "array",
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files."
        }
      },
      "type": "object",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format."
    },
    "XPSSpeechPreprocessResponse": {
      "properties": {
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        }
      },
      "id": "XPSSpeechPreprocessResponse",
      "type": "object"
    },
    "XPSDataErrors": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Number of records having errors associated with the enum.",
          "type": "integer",
          "format": "int32"
        },
        "errorType": {
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats by cloud-speech AutoML. Currently only wav and flac file formats are supported.",
            "File format differnt from what is specified in the file name extension.",
            "File too large. Maximum allowed size is 50 MB.",
            "Transcript is missing."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE",
            "MISSING_TRANSCRIPTION"
          ],
          "description": "Type of the error.",
          "type": "string"
        }
      },
      "description": "Different types of errors and the stats associatesd with each error.",
      "id": "XPSDataErrors"
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "id": "XPSTablesModelStructureModelParametersParameter",
      "properties": {
        "floatValue": {
          "format": "double",
          "type": "number",
          "description": "Float type parameter value."
        },
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "name": {
          "description": "Parameter name.",
          "type": "string"
        },
        "intValue": {
          "format": "int64",
          "description": "Integer type parameter value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CpuMetric": {
      "type": "object",
      "properties": {
        "machineSpec": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        },
        "cpuType": {
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of cpu, e.g. N2.",
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "type": "string"
        },
        "coreSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total seconds of core usage, e.g. 4."
        },
        "coreNumber": {
          "description": "Required. Number of CPU cores.",
          "format": "int64",
          "type": "string"
        },
        "trackingLabels": {
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "CpuMetric",
      "description": "Metric for billing reports."
    },
    "XPSTuningTrial": {
      "type": "object",
      "properties": {
        "modelStructure": {
          "description": "Model parameters for the trial.",
          "$ref": "XPSTablesModelStructure"
        },
        "trainingObjectivePoint": {
          "description": "The optimization objective evaluation of the eval split data.",
          "$ref": "XPSTrainingObjectivePoint"
        }
      },
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users.",
      "id": "XPSTuningTrial"
    },
    "XPSTfSavedModelFormat": {
      "description": "A tensorflow model format in SavedModel format.",
      "id": "XPSTfSavedModelFormat",
      "properties": {},
      "type": "object"
    },
    "XPSVisualization": {
      "deprecated": true,
      "description": "Visualization configurations for image explanation.",
      "type": "object",
      "properties": {
        "polarity": {
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "type": "string",
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ]
        },
        "colorMap": {
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "type": "string",
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentUpperbound": {
          "format": "float",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "type": "number"
        },
        "clipPercentLowerbound": {
          "format": "float",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "type": "number"
        },
        "overlayType": {
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "type": "string"
        },
        "type": {
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ]
        }
      },
      "id": "XPSVisualization"
    },
    "XPSImageClassificationTrainResponse": {
      "type": "object",
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests."
        },
        "trainCostNodeSeconds": {
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "format": "int64",
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "classCount": {
          "type": "string",
          "description": "Total number of classes.",
          "format": "int64"
        },
        "stopReason": {
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "type": "string",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "trainCostInNodeTime": {
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "XPSImageClassificationTrainResponse"
    },
    "TextSpan": {
      "id": "TextSpan",
      "properties": {
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        },
        "beginOffset": {
          "type": "integer",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a text span in the input document."
    },
    "XPSResponseExplanationMetadata": {
      "deprecated": true,
      "properties": {
        "outputs": {
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          },
          "description": "Metadata of the output.",
          "type": "object"
        },
        "inputs": {
          "description": "Metadata of the input.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "XPSResponseExplanationMetadata"
    },
    "XPSTablesModelStructureModelParameters": {
      "type": "object",
      "id": "XPSTablesModelStructureModelParameters",
      "description": "Model hyper-parameters for a model.",
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      }
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric",
      "type": "object",
      "properties": {
        "numSubstitutions": {
          "type": "integer",
          "format": "int32"
        },
        "numWords": {
          "description": "Number of words over which the word error rate was computed.",
          "type": "integer",
          "format": "int32"
        },
        "numUtterances": {
          "type": "integer",
          "format": "int32",
          "description": "Number of utterances used in the wer computation."
        },
        "biasingModelType": {
          "description": "Type of the biasing model.",
          "type": "string",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ]
        },
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        },
        "sentenceAccuracy": {
          "type": "number",
          "description": "Below fields are used for debugging purposes",
          "format": "double"
        },
        "numInsertions": {
          "type": "integer",
          "format": "int32"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "wer": {
          "description": "Word error rate (standard error metric used for speech recognition).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "XPSImageObjectDetectionModelSpec": {
      "id": "XPSImageObjectDetectionModelSpec",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "classCount": {
          "type": "string",
          "description": "Total number of classes.",
          "format": "int64"
        },
        "maxBoundingBoxCount": {
          "type": "string",
          "description": "Max number of bounding box.",
          "format": "int64"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      },
      "type": "object"
    },
    "AnnotateTextRequestFeatures": {
      "type": "object",
      "properties": {
        "moderateText": {
          "description": "Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        },
        "extractEntities": {
          "description": "Extract entities.",
          "type": "boolean"
        },
        "classifyText": {
          "description": "Classify the full document into categories.",
          "type": "boolean"
        },
        "extractSyntax": {
          "description": "Extract syntax information.",
          "type": "boolean"
        },
        "extractEntitySentiment": {
          "description": "Extract entities and their associated sentiment.",
          "type": "boolean"
        },
        "classificationModelOptions": {
          "$ref": "ClassificationModelOptions",
          "description": "Optional. The model options to use for classification. Defaults to v1 options if not specified. Only used if `classify_text` is set to true."
        },
        "extractDocumentSentiment": {
          "description": "Extract document-level sentiment.",
          "type": "boolean"
        }
      },
      "description": "All available features for sentiment, syntax, and semantic analysis. Setting each one to true will enable that specific analysis for the input.",
      "id": "AnnotateTextRequestFeatures"
    },
    "XPSTimestampStatsGranularStats": {
      "description": "Stats split by a defined in context granularity.",
      "type": "object",
      "id": "XPSTimestampStatsGranularStats",
      "properties": {
        "buckets": {
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May).",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "properties": {
        "outputTensorName": {
          "description": "Name of the output tensor. Only needed in train response.",
          "type": "string"
        }
      },
      "description": "Metadata of the prediction output to be explained.",
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "type": "object"
    },
    "XPSTfJsFormat": {
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
      "id": "XPSTfJsFormat",
      "properties": {},
      "type": "object"
    },
    "XPSExampleSet": {
      "description": "Set of examples or input sources.",
      "properties": {
        "fileSpec": {
          "$ref": "XPSFileSpec",
          "description": "File spec of the examples or input sources."
        },
        "fingerprint": {
          "format": "int64",
          "type": "string",
          "description": "Fingerprint of the example set."
        },
        "numInputSources": {
          "format": "int64",
          "type": "string",
          "description": "Number of input sources."
        },
        "numExamples": {
          "format": "int64",
          "description": "Number of examples.",
          "type": "string"
        }
      },
      "id": "XPSExampleSet",
      "type": "object"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "id": "XPSEdgeTpuTfLiteFormat",
      "properties": {},
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "type": "object"
    },
    "ClassificationModelOptions": {
      "description": "Model options available for classification requests.",
      "type": "object",
      "properties": {
        "v2Model": {
          "description": "Setting this field will use the V2 model with the appropriate content categories version. The V2 model is a better performing model.",
          "$ref": "ClassificationModelOptionsV2Model"
        },
        "v1Model": {
          "description": "Setting this field will use the V1 model and V1 content categories version. The V1 model is a legacy model; support for this will be discontinued in the future.",
          "$ref": "ClassificationModelOptionsV1Model"
        }
      },
      "id": "ClassificationModelOptions"
    },
    "XPSCategoryStats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "topCategoryStats": {
          "type": "array",
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count.",
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          }
        }
      },
      "id": "XPSCategoryStats",
      "type": "object",
      "description": "The data statistics of a series of CATEGORY values."
    },
    "XPSColumnSpec": {
      "id": "XPSColumnSpec",
      "type": "object",
      "properties": {
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "dataType": {
          "$ref": "XPSDataType",
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train."
        },
        "topCorrelatedColumns": {
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          },
          "type": "array",
          "description": "It's outputed in RefreshTablesStats, and a required input in Train."
        },
        "columnId": {
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE.",
          "type": "integer",
          "format": "int32"
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        }
      }
    },
    "XPSResponseExplanationSpec": {
      "type": "object",
      "deprecated": true,
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "properties": {
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata describing the Model's input and output for explanation.",
          "$ref": "XPSResponseExplanationMetadata"
        },
        "parameters": {
          "$ref": "XPSResponseExplanationParameters",
          "description": "Parameters that configure explaining of the Model's predictions."
        }
      },
      "id": "XPSResponseExplanationSpec"
    },
    "XPSVideoModelArtifactSpec": {
      "type": "object",
      "id": "XPSVideoModelArtifactSpec",
      "properties": {
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "exportArtifact": {
          "description": "The model binary files in different formats for model export.",
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "type": "array"
        }
      }
    },
    "XPSTableSpec": {
      "type": "object",
      "id": "XPSTableSpec",
      "properties": {
        "importedDataSizeInBytes": {
          "description": "The total size of imported data of the table.",
          "type": "string",
          "format": "int64"
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "type": "string",
          "format": "int64"
        },
        "rowCount": {
          "format": "int64",
          "description": "The number of rows in the table.",
          "type": "string"
        },
        "timeColumnId": {
          "format": "int32",
          "description": "The id of the time column.",
          "type": "integer"
        },
        "columnSpecs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "description": "Mapping from column id to column spec."
        }
      }
    },
    "XPSTablesModelStructure": {
      "id": "XPSTablesModelStructure",
      "properties": {
        "modelParameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "description": "A list of models."
        }
      },
      "description": "A description of Tables model structure.",
      "type": "object"
    },
    "XPSTablesTrainingOperationMetadata": {
      "id": "XPSTablesTrainingOperationMetadata",
      "properties": {
        "trainingStartTime": {
          "description": "Timestamp when training process starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "trainingObjectivePoints": {
          "type": "array",
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses.",
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          }
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective for model."
        },
        "createModelStage": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ],
          "description": "Current stage of creating model."
        },
        "topTrials": {
          "type": "array",
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure.",
          "items": {
            "$ref": "XPSTuningTrial"
          }
        },
        "trainBudgetMilliNodeHours": {
          "description": "Creating model budget.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalyzeSentimentRequest": {
      "id": "AnalyzeSentimentRequest",
      "type": "object",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      },
      "description": "The sentiment analysis request message."
    },
    "XPSVisionErrorAnalysisConfig": {
      "type": "object",
      "properties": {
        "exampleCount": {
          "type": "integer",
          "description": "The number of query examples in error analysis.",
          "format": "int32"
        },
        "queryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ]
        }
      },
      "id": "XPSVisionErrorAnalysisConfig",
      "description": "The vision model error analysis configuration. Next tag: 3"
    },
    "XPSColumnSpecForecastingMetadata": {
      "id": "XPSColumnSpecForecastingMetadata",
      "type": "object",
      "properties": {
        "columnType": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ],
          "description": "The type of the column for FORECASTING model training purposes.",
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ],
          "type": "string"
        }
      }
    },
    "XPSCommonStats": {
      "id": "XPSCommonStats",
      "properties": {
        "validValueCount": {
          "type": "string",
          "format": "int64"
        },
        "distinctValueCount": {
          "format": "int64",
          "type": "string"
        },
        "nullValueCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Common statistics for a column with a specified data type.",
      "type": "object"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "id": "XPSTablesConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "type": "object",
      "properties": {
        "falsePositiveCount": {
          "type": "string",
          "description": "False positive count.",
          "format": "int64"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "False negative count."
        },
        "recall": {
          "type": "number",
          "description": "Recall = #true positives / (#true positives + #false negatives).",
          "format": "double"
        },
        "falsePositiveRate": {
          "format": "double",
          "description": "FPR = #false positives / (#false positives + #true negatives)",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)",
          "format": "double"
        },
        "precision": {
          "format": "double",
          "type": "number",
          "description": "Precision = #true positives / (#true positives + #false positives)."
        },
        "truePositiveCount": {
          "description": "True positive count.",
          "format": "int64",
          "type": "string"
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "double",
          "type": "number"
        },
        "truePositiveRate": {
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "type": "number",
          "format": "double"
        },
        "trueNegativeCount": {
          "type": "string",
          "description": "True negative count.",
          "format": "int64"
        }
      }
    },
    "XPSReportingMetrics": {
      "type": "object",
      "properties": {
        "metricEntries": {
          "items": {
            "$ref": "XPSMetricEntry"
          },
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "type": "array"
        },
        "effectiveTrainingDuration": {
          "type": "string",
          "deprecated": true,
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "format": "google-duration"
        }
      },
      "id": "XPSReportingMetrics"
    },
    "XPSTablesEvaluationMetrics": {
      "type": "object",
      "id": "XPSTablesEvaluationMetrics",
      "properties": {
        "classificationMetrics": {
          "$ref": "XPSTablesClassificationMetrics",
          "description": "Classification metrics."
        },
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        }
      }
    },
    "XPSTablesDatasetMetadata": {
      "properties": {
        "mlUseColumnId": {
          "description": "Id the column to split the table.",
          "type": "integer",
          "format": "int32"
        },
        "targetColumnCorrelations": {
          "description": "(the column id : its CorrelationStats with target column).",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          }
        },
        "primaryTableSpec": {
          "$ref": "XPSTableSpec",
          "description": "Primary table."
        },
        "targetColumnId": {
          "format": "int32",
          "description": "Id of the primary table column that should be used as the training label.",
          "type": "integer"
        },
        "weightColumnId": {
          "format": "int32",
          "type": "integer",
          "description": "Id of the primary table column that should be used as the weight column."
        }
      },
      "id": "XPSTablesDatasetMetadata",
      "type": "object",
      "description": "Metadata for a dataset used for AutoML Tables."
    },
    "XPSSpeechModelSpec": {
      "type": "object",
      "id": "XPSSpeechModelSpec",
      "properties": {
        "language": {
          "type": "string"
        },
        "subModelSpecs": {
          "description": "Model specs for all submodels contained in this model.",
          "type": "array",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          }
        },
        "datasetId": {
          "type": "string",
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly.",
          "format": "int64"
        }
      }
    },
    "AnalyzeEntitiesResponse": {
      "id": "AnalyzeEntitiesResponse",
      "properties": {
        "entities": {
          "description": "The recognized entities in the input document.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The entity analysis response message."
    },
    "XPSVideoTrainingOperationMetadata": {
      "id": "XPSVideoTrainingOperationMetadata",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "id": "XPSSpeechModelSpecSubModelSpec",
      "properties": {
        "contextId": {
          "type": "string",
          "description": "In S3, Recognition ClientContextId.context_id"
        },
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "biasingModelType": {
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string",
          "description": "Type of the biasing model.",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ]
        }
      },
      "type": "object"
    },
    "XPSSpeechEvaluationMetrics": {
      "properties": {
[...]
