{
  "canonicalName": "Cloud Natural Language",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://language.googleapis.com/",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  },
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version": "v2",
  "id": "language:v2",
  "resources": {
    "documents": {
      "methods": {
        "analyzeSentiment": {
          "parameters": {},
          "flatPath": "v2/documents:analyzeSentiment",
          "path": "v2/documents:analyzeSentiment",
          "description": "Analyzes the sentiment of the provided text.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "language.documents.analyzeSentiment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          }
        },
        "moderateText": {
          "id": "language.documents.moderateText",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "flatPath": "v2/documents:moderateText",
          "httpMethod": "POST",
          "description": "Moderates a document for harmful and sensitive categories.",
          "path": "v2/documents:moderateText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "classifyText": {
          "flatPath": "v2/documents:classifyText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "id": "language.documents.classifyText",
          "parameters": {},
          "description": "Classifies a document into categories.",
          "httpMethod": "POST",
          "path": "v2/documents:classifyText",
          "parameterOrder": [],
          "response": {
            "$ref": "ClassifyTextResponse"
          }
        },
        "annotateText": {
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "description": "A convenience method that provides all features in one call.",
          "parameters": {},
          "flatPath": "v2/documents:annotateText",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.documents.annotateText",
          "path": "v2/documents:annotateText",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "parameterOrder": []
        },
        "analyzeEntities": {
          "parameterOrder": [],
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "path": "v2/documents:analyzeEntities",
          "flatPath": "v2/documents:analyzeEntities",
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "id": "language.documents.analyzeEntities",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        }
      }
    }
  },
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Natural Language API",
  "servicePath": "",
  "name": "language",
  "basePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "version_module": true,
  "rootUrl": "https://language.googleapis.com/",
  "ownerName": "Google",
  "revision": "20261004",
  "discoveryVersion": "v1",
  "schemas": {
    "XPSStringStats": {
      "description": "The data statistics of a series of STRING values.",
      "id": "XPSStringStats",
      "properties": {
        "topUnigramStats": {
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          },
          "type": "array",
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "type": "object"
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "type": "object",
      "id": "XPSImageSegmentationEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "type": "array",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      },
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4."
    },
    "XPSTranslationPreprocessResponse": {
      "type": "object",
      "id": "XPSTranslationPreprocessResponse",
      "properties": {
        "validExampleCount": {
          "description": "Total valid example count.",
          "format": "int64",
          "type": "string"
        },
        "parsedExampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Total example count parsed."
        }
      },
      "description": "Translation preprocess response."
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "properties": {
        "meanAveragePrecision": {
          "format": "float",
          "description": "The mean average precision.",
          "type": "number"
        },
        "precisionWindowLength": {
          "type": "string",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "format": "google-duration"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          }
        }
      },
      "type": "object"
    },
    "XPSTimestampStatsGranularStats": {
      "description": "Stats split by a defined in context granularity.",
      "type": "object",
      "id": "XPSTimestampStatsGranularStats",
      "properties": {
        "buckets": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May)."
        }
      }
    },
    "XPSTextSentimentEvaluationMetrics": {
      "id": "XPSTextSentimentEvaluationMetrics",
      "properties": {
        "quadraticKappa": {
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "recall": {
          "format": "float",
          "type": "number",
          "description": "Output only. Recall."
        },
        "meanAbsoluteError": {
          "type": "number",
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float"
        },
        "linearKappa": {
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Output only. Precision."
        },
        "f1Score": {
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "meanSquaredError": {
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Model evaluation metrics for text sentiment problems."
    },
    "XPSMetricEntryLabel": {
      "type": "object",
      "properties": {
        "labelName": {
          "description": "The name of the label.",
          "type": "string"
        },
        "labelValue": {
          "type": "string",
          "description": "The value of the label."
        }
      },
      "id": "XPSMetricEntryLabel"
    },
    "AnnotateTextResponse": {
      "type": "object",
      "properties": {
        "categories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document.",
          "type": "array"
        },
        "sentences": {
          "type": "array",
          "items": {
            "$ref": "Sentence"
          },
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment."
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "entities": {
          "type": "array",
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities .",
          "items": {
            "$ref": "Entity"
          }
        },
        "moderationCategories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories identified in the input document."
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        }
      },
      "description": "The text annotations response message.",
      "id": "AnnotateTextResponse"
    },
    "XPSImageSegmentationTrainResponse": {
      "type": "object",
      "properties": {
        "colorMaps": {
          "description": "Color map of the model.",
          "type": "array",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        }
      },
      "id": "XPSImageSegmentationTrainResponse"
    },
    "XPSImageClassificationTrainResponse": {
      "type": "object",
      "properties": {
        "trainCostInNodeTime": {
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "format": "google-duration",
          "type": "string"
        },
        "stopReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "classCount": {
          "description": "Total number of classes.",
          "format": "int64",
          "type": "string"
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "type": "string"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests."
        }
      },
      "id": "XPSImageClassificationTrainResponse"
    },
    "XPSTextTrainResponse": {
      "id": "XPSTextTrainResponse",
      "type": "object",
      "properties": {
        "componentModel": {
          "type": "array",
          "items": {
            "$ref": "XPSTextComponentModel"
          },
          "description": "Component submodels."
        }
      }
    },
    "DiskMetric": {
      "properties": {
        "diskType": {
          "type": "string",
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD."
        },
        "gibSec": {
          "description": "Required. Seconds of physical disk usage, e.g. 3600.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskMetric"
    },
    "XPSVisionTrainingOperationMetadata": {
      "type": "object",
      "properties": {
        "explanationUsage": {
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request.",
          "$ref": "InfraUsage"
        }
      },
      "deprecated": true,
      "id": "XPSVisionTrainingOperationMetadata"
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "type": "object",
      "id": "XPSVideoActionRecognitionTrainResponse",
      "properties": {
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        }
      }
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "properties": {
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "recall": {
          "type": "number",
          "description": "Recall for the given confidence threshold.",
          "format": "float"
        }
      },
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "type": "object"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "type": "object",
      "properties": {},
      "id": "XPSEdgeTpuTfLiteFormat"
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "type": "object",
      "id": "XPSVideoObjectTrackingTrainResponse",
      "properties": {
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        }
      }
    },
    "XPSVisionErrorAnalysisConfig": {
      "description": "The vision model error analysis configuration. Next tag: 3",
      "type": "object",
      "id": "XPSVisionErrorAnalysisConfig",
      "properties": {
        "queryType": {
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ],
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "type": "string"
        },
        "exampleCount": {
          "description": "The number of query examples in error analysis.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSClassificationEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "properties": {
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        },
        "logLoss": {
          "description": "The Log Loss metric.",
          "type": "number",
          "format": "float"
        },
        "auPrc": {
          "format": "float",
          "description": "The Area under precision recall curve metric.",
          "type": "number"
        },
        "baseAuPrc": {
          "format": "float",
          "description": "The Area under precision recall curve metric based on priors.",
          "type": "number"
        },
        "auRoc": {
          "type": "number",
          "format": "float",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation."
        },
        "evaluatedExamplesCount": {
          "type": "integer",
          "description": "The number of examples used for model evaluation.",
          "format": "int32"
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        }
      },
      "id": "XPSClassificationEvaluationMetrics"
    },
    "XPSTextExtractionEvaluationMetrics": {
      "properties": {
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label."
        },
        "perLabelConfidenceMetrics": {
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "Only recall, precision, and f1_score will be set.",
          "type": "object",
          "deprecated": true
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label."
        },
        "bestF1ConfidenceMetrics": {
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "deprecated": true,
          "$ref": "XPSConfidenceMetricsEntry"
        }
      },
      "id": "XPSTextExtractionEvaluationMetrics",
      "type": "object"
    },
    "Sentiment": {
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "type": "number",
          "format": "float"
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "Sentiment"
    },
    "XPSTfSavedModelFormat": {
      "id": "XPSTfSavedModelFormat",
      "type": "object",
      "properties": {},
      "description": "A tensorflow model format in SavedModel format."
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "properties": {
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "description": "Output only. Recall for the given confidence threshold.",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Output only. Precision for the given confidence threshold."
        },
        "f1Score": {
          "type": "number",
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float"
        }
      },
      "description": "Metrics for a single confidence threshold."
    },
    "XPSTablesPreprocessResponse": {
      "properties": {
        "tablesDatasetMetadata": {
          "$ref": "XPSTablesDatasetMetadata",
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated."
        }
      },
      "type": "object",
      "id": "XPSTablesPreprocessResponse"
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "type": "object",
      "properties": {
        "biasingModelType": {
          "description": "Type of the biasing model.",
          "type": "string",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ]
        },
        "numWords": {
          "description": "Number of words over which the word error rate was computed.",
          "type": "integer",
          "format": "int32"
        },
        "sentenceAccuracy": {
          "type": "number",
          "description": "Below fields are used for debugging purposes",
          "format": "double"
        },
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        },
        "wer": {
          "type": "number",
          "description": "Word error rate (standard error metric used for speech recognition).",
          "format": "double"
        },
        "numUtterances": {
          "format": "int32",
          "description": "Number of utterances used in the wer computation.",
          "type": "integer"
        },
        "numSubstitutions": {
          "format": "int32",
          "type": "integer"
        },
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "numInsertions": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
    },
    "XPSPreprocessResponse": {
      "type": "object",
      "id": "XPSPreprocessResponse",
      "properties": {
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        }
      }
    },
    "XPSRegressionMetricsEntry": {
      "id": "XPSRegressionMetricsEntry",
      "description": "A pair of actual & observed values for the model being evaluated.",
      "type": "object",
      "properties": {
        "predictedValue": {
          "format": "float",
          "description": "The observed value for a row in the dataset.",
          "type": "number"
        },
        "trueValue": {
          "type": "number",
          "description": "The actual target value for a row in the dataset.",
          "format": "float"
        }
      }
    },
    "XPSTrainingObjectivePoint": {
      "type": "object",
      "properties": {
        "value": {
          "format": "float",
          "description": "The objective value when this point was recorded.",
          "type": "number"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this point was recorded."
        }
      },
      "id": "XPSTrainingObjectivePoint"
    },
    "AnalyzeSentimentResponse": {
      "description": "The sentiment analysis response message.",
      "type": "object",
      "properties": {
        "sentences": {
          "type": "array",
          "description": "The sentiment for all the sentences in the document.",
          "items": {
            "$ref": "Sentence"
          }
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "documentSentiment": {
          "$ref": "Sentiment",
          "description": "The overall sentiment of the input document."
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      },
      "id": "AnalyzeSentimentResponse"
    },
    "XPSTablesEvaluationMetrics": {
      "properties": {
        "classificationMetrics": {
          "$ref": "XPSTablesClassificationMetrics",
          "description": "Classification metrics."
        },
        "regressionMetrics": {
          "$ref": "XPSTablesRegressionMetrics",
          "description": "Regression metrics."
        }
      },
      "type": "object",
      "id": "XPSTablesEvaluationMetrics"
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "type": "object",
      "description": "The statistics of a single CATEGORY value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The CATEGORY value."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of occurrences of this value in the series."
        }
      },
      "id": "XPSCategoryStatsSingleCategoryStats"
    },
    "XPSArrayStats": {
      "description": "The data statistics of a series of ARRAY values.",
      "type": "object",
      "id": "XPSArrayStats",
      "properties": {
        "memberStats": {
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array.",
          "$ref": "XPSDataStats"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      }
    },
    "XPSBatchPredictResponse": {
      "properties": {
        "exampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend."
        }
      },
      "type": "object",
      "id": "XPSBatchPredictResponse"
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "id": "XPSSpeechModelSpecSubModelSpec",
      "type": "object",
      "properties": {
        "biasingModelType": {
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "description": "Type of the biasing model."
        },
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "contextId": {
          "description": "In S3, Recognition ClientContextId.context_id",
          "type": "string"
        },
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        }
      }
    },
    "InfraUsage": {
      "id": "InfraUsage",
      "properties": {
        "diskMetrics": {
          "items": {
            "$ref": "DiskMetric"
          },
          "type": "array",
          "description": "Aggregated persistent disk metrics since requested start_time."
        },
        "gpuMetrics": {
          "type": "array",
          "description": "Aggregated gpu metrics since requested start_time.",
          "items": {
            "$ref": "GpuMetric"
          }
        },
        "ramMetrics": {
          "description": "Aggregated ram metrics since requested start_time.",
          "items": {
            "$ref": "RamMetric"
          },
          "type": "array"
        },
        "tpuMetrics": {
          "type": "array",
          "description": "Aggregated tpu metrics since requested start_time.",
          "items": {
            "$ref": "TpuMetric"
          }
        },
        "cpuMetrics": {
          "items": {
            "$ref": "CpuMetric"
          },
          "type": "array",
          "description": "Aggregated core metrics since requested start_time."
        }
      },
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ModerateTextRequest": {
      "id": "ModerateTextRequest",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "modelVersion": {
          "description": "Optional. The model version to use for ModerateText.",
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ],
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The document moderation request message."
    },
    "XPSImageModelServingSpec": {
      "description": "Serving specification for image models.",
      "type": "object",
      "id": "XPSImageModelServingSpec",
      "properties": {
        "modelThroughputEstimation": {
          "description": "Populate under uCAIP request scope.",
          "type": "array",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          }
        },
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "nodeQps": {
          "type": "number",
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "format": "double"
        }
      }
    },
    "XPSConfidenceMetricsEntry": {
      "type": "object",
      "properties": {
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "recallAt1": {
          "type": "number",
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "format": "float"
        },
        "falseNegativeCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of ground truth labels that are not matched by a model created label."
        },
        "recall": {
          "format": "float",
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "type": "number"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "falsePositiveRate": {
          "description": "False Positive Rate for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "positionThreshold": {
          "format": "int32",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "type": "integer"
        },
        "f1ScoreAt1": {
          "format": "float",
          "type": "number",
          "description": "The harmonic mean of recall_at1 and precision_at1."
        },
        "precisionAt1": {
          "format": "float",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number"
        },
        "falsePositiveCount": {
          "description": "The number of model created labels that do not match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value."
        },
        "falsePositiveRateAt1": {
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "truePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of model created labels that match a ground truth label."
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "id": "XPSConfidenceMetricsEntry"
    },
    "XPSTrainResponse": {
      "id": "XPSTrainResponse",
      "properties": {
        "explanationConfigs": {
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          },
          "deprecated": true,
          "type": "array"
        },
        "evaluationMetricsSet": {
          "description": "The trained model evaluation metrics. This can be optionally returned.",
          "$ref": "XPSEvaluationMetricsSet"
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "modelToken": {
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model.",
          "type": "string",
          "format": "byte"
        },
        "errorAnalysisConfigs": {
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          },
          "type": "array",
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample)."
        },
        "textTrainResp": {
          "$ref": "XPSTextTrainResponse",
          "description": "Will only be needed for uCAIP from Beta."
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "evaluatedExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted."
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "deployedModelSizeBytes": {
          "type": "string",
          "description": "Estimated model size in bytes once deployed.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "XPSVideoTrainingOperationMetadata": {
      "id": "XPSVideoTrainingOperationMetadata",
      "type": "object",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSColumnSpec": {
      "id": "XPSColumnSpec",
      "properties": {
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "columnId": {
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE.",
          "format": "int32",
          "type": "integer"
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "topCorrelatedColumns": {
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          },
          "description": "It's outputed in RefreshTablesStats, and a required input in Train.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train."
        },
        "dataType": {
          "$ref": "XPSDataType",
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train."
        }
      },
      "type": "object"
    },
    "XPSRow": {
      "properties": {
        "values": {
          "items": {
            "type": "any"
          },
          "description": "The values of the row cells, given in the same order as the column_ids. If column_ids is not set, then in the same order as the input_feature_column_ids in TablesModelMetadata.",
          "type": "array"
        },
        "columnIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The ids of the columns. Note: The below `values` field must match order of this field, if this field is set.",
          "type": "array"
        }
      },
      "id": "XPSRow",
      "type": "object"
    },
    "XPSColorMap": {
      "id": "XPSColorMap",
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "type": "object",
      "properties": {
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "annotationSpecIdToken": {
          "description": "Should be used during training.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Should be used during preprocessing."
        },
        "color": {
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "$ref": "Color",
          "deprecated": true
        }
      }
    },
    "XPSColumnSpecForecastingMetadata": {
      "id": "XPSColumnSpecForecastingMetadata",
      "type": "object",
      "properties": {
        "columnType": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ],
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ],
          "description": "The type of the column for FORECASTING model training purposes.",
          "type": "string"
        }
      }
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as probability and mentions, with entities.",
      "properties": {
        "type": {
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ]
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For the metadata associated with other entity types, see the Type table below."
        },
        "mentions": {
          "items": {
            "$ref": "EntityMention"
          },
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "type": "array"
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "name": {
          "type": "string",
          "description": "The representative name for the entity."
        }
      }
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "properties": {
        "visualizationConfig": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "XPSVisualization"
        },
        "modality": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ],
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "type": "string"
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this model. Only needed in train response.",
          "type": "string"
        }
      },
      "description": "Metadata of the input of a feature.",
      "type": "object",
      "id": "XPSResponseExplanationMetadataInputMetadata"
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10.",
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "properties": {
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries."
        },
        "boundingBoxMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        },
        "evaluatedBoundingboxCount": {
          "description": "The number of bounding boxes used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "trackMeanAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries."
        },
        "trackMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          },
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "trackMeanBoundingBoxIou": {
          "format": "float",
          "type": "number",
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries."
        },
        "trackMeanMismatchRate": {
          "format": "float",
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries.",
          "type": "number"
        },
        "evaluatedFrameCount": {
          "description": "The number of video frames used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "evaluatedTrackCount": {
          "type": "integer",
          "description": "The number of tracks used for model evaluation.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "XPSModelArtifactItem": {
      "id": "XPSModelArtifactItem",
      "description": "A single model artifact item.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the model binary files.",
          "type": "string"
        },
        "artifactFormat": {
          "description": "The model artifact format.",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ]
        }
      }
    },
    "ClassifyTextRequest": {
      "description": "The document classification request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      },
      "id": "ClassifyTextRequest",
      "type": "object"
    },
    "XPSSpeechPreprocessResponse": {
      "properties": {
        "speechPreprocessStats": {
          "description": "Stats associated with the data.",
          "$ref": "XPSSpeechPreprocessStats"
        },
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "$ref": "XPSSpeechEvaluationMetrics",
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML."
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSSpeechPreprocessResponse"
    },
    "ClassificationCategory": {
      "properties": {
        "severity": {
          "description": "Optional. The classifier's severity of the category. This is only present when the ModerateTextRequest.ModelVersion is set to MODEL_VERSION_2, and the corresponding category has a severity score.",
          "type": "number",
          "format": "float"
        },
        "confidence": {
          "format": "float",
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "type": "number"
        },
        "name": {
          "description": "The name of the category representing the document.",
          "type": "string"
        }
      },
      "id": "ClassificationCategory",
      "description": "Represents a category returned from the text classifier.",
      "type": "object"
    },
    "XPSEvaluationMetrics": {
      "properties": {
        "label": {
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation.",
          "type": "string"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "category": {
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "format": "int32",
          "type": "integer"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "description": "The number of examples used to create this evaluation metrics instance.",
          "format": "int32",
          "type": "integer"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        }
      },
      "id": "XPSEvaluationMetrics",
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "type": "object"
    },
    "XPSTfJsFormat": {
      "id": "XPSTfJsFormat",
      "properties": {},
      "type": "object",
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript."
    },
    "XPSExampleSet": {
      "properties": {
        "numInputSources": {
          "description": "Number of input sources.",
          "type": "string",
          "format": "int64"
        },
        "numExamples": {
          "format": "int64",
          "description": "Number of examples.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "Fingerprint of the example set.",
          "format": "int64"
        },
        "fileSpec": {
          "$ref": "XPSFileSpec",
          "description": "File spec of the examples or input sources."
        }
      },
      "id": "XPSExampleSet",
      "type": "object",
      "description": "Set of examples or input sources."
    },
    "XPSTextToSpeechTrainResponse": {
      "properties": {},
      "description": "TextToSpeech train response",
      "id": "XPSTextToSpeechTrainResponse",
      "type": "object"
    },
    "CpuMetric": {
      "id": "CpuMetric",
      "type": "object",
      "properties": {
        "coreNumber": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of CPU cores."
        },
        "coreSec": {
          "description": "Required. Total seconds of core usage, e.g. 4.",
          "type": "string",
          "format": "int64"
        },
        "machineSpec": {
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4."
        },
        "cpuType": {
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Type of cpu, e.g. N2.",
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ]
        },
        "trackingLabels": {
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Metric for billing reports."
    },
    "XPSTablesModelStructureModelParameters": {
      "type": "object",
      "description": "Model hyper-parameters for a model.",
      "id": "XPSTablesModelStructureModelParameters",
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      }
    },
    "XPSStructStats": {
      "type": "object",
      "properties": {
        "fieldStats": {
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          },
          "type": "object"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "description": "The data statistics of a series of STRUCT values.",
      "id": "XPSStructStats"
    },
    "XPSTablesDatasetMetadata": {
      "type": "object",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "id": "XPSTablesDatasetMetadata",
      "properties": {
        "weightColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "Id of the primary table column that should be used as the weight column."
        },
        "targetColumnCorrelations": {
          "description": "(the column id : its CorrelationStats with target column).",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          }
        },
        "targetColumnId": {
          "description": "Id of the primary table column that should be used as the training label.",
          "type": "integer",
          "format": "int32"
        },
        "primaryTableSpec": {
          "$ref": "XPSTableSpec",
          "description": "Primary table."
        },
        "mlUseColumnId": {
          "type": "integer",
          "description": "Id the column to split the table.",
          "format": "int32"
        }
      }
    },
    "XPSImageObjectDetectionModelSpec": {
      "id": "XPSImageObjectDetectionModelSpec",
      "type": "object",
      "properties": {
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "maxBoundingBoxCount": {
          "type": "string",
          "description": "Max number of bounding box.",
          "format": "int64"
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "classCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of classes."
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        }
      }
    },
    "XPSTablesModelColumnInfo": {
      "id": "XPSTablesModelColumnInfo",
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "properties": {
        "columnId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the column."
        },
        "featureImportance": {
          "type": "number",
          "format": "float",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method."
        }
      },
      "type": "object"
    },
    "XPSCategoryStats": {
      "id": "XPSCategoryStats",
      "description": "The data statistics of a series of CATEGORY values.",
      "type": "object",
      "properties": {
        "topCategoryStats": {
          "type": "array",
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count.",
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      }
    },
    "XPSSpeechPreprocessStats": {
      "properties": {
        "trainSentencesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of sentences in the training data set."
        },
        "testExamplesCount": {
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "format": "int32",
          "type": "integer"
        },
        "testWordsCount": {
          "description": "The number of words in the test data set.",
          "format": "int32",
          "type": "integer"
        },
        "dataErrors": {
          "type": "array",
          "items": {
            "$ref": "XPSDataErrors"
          },
          "description": "Different types of data errors and the counts associated with them."
        },
        "testSentencesCount": {
          "description": "The number of sentences in the test data set.",
          "format": "int32",
          "type": "integer"
        },
        "trainWordsCount": {
          "description": "The number of words in the training data set.",
          "type": "integer",
          "format": "int32"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "format": "int32",
          "type": "integer"
        },
        "numMachineTranscribedExamples": {
          "type": "integer",
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "format": "int32"
        },
        "numLogsExamples": {
          "description": "The number of samples found in the previously recorded logs data.",
          "type": "integer",
          "format": "int32"
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "XPSSpeechPreprocessStats"
    },
    "XPSCorrelationStats": {
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "type": "object",
      "properties": {
        "cramersV": {
          "description": "The correlation value using the Cramer's V measure.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "XPSCorrelationStats"
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "properties": {
        "outputTensorName": {
          "type": "string",
          "description": "Name of the output tensor. Only needed in train response."
        }
      },
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "type": "object"
    },
    "XPSColorMapIntColor": {
      "properties": {
        "blue": {
          "format": "int32",
          "type": "integer",
          "description": "The value should be in range of [0, 255]."
        },
        "red": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        },
        "green": {
          "type": "integer",
          "description": "The value should be in range of [0, 255].",
          "format": "int32"
        }
      },
      "id": "XPSColorMapIntColor",
      "type": "object",
      "description": "RGB color and each channel is represented by an integer."
    },
    "XPSEvaluationMetricsSet": {
      "description": "Specifies location of model evaluation metrics.",
      "id": "XPSEvaluationMetricsSet",
      "type": "object",
      "properties": {
        "numEvaluationMetrics": {
          "format": "int64",
          "description": "Number of the evaluation metrics (usually one per label plus overall).",
          "type": "string"
        },
        "evaluationMetrics": {
          "type": "array",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          },
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec."
        },
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        }
      }
    },
    "Color": {
      "type": "object",
      "properties": {
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        }
      },
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
    },
    "XPSTableSpec": {
      "type": "object",
      "properties": {
        "validRowCount": {
          "type": "string",
          "description": "The number of valid rows.",
          "format": "int64"
        },
        "importedDataSizeInBytes": {
          "format": "int64",
          "description": "The total size of imported data of the table.",
          "type": "string"
        },
        "columnSpecs": {
          "description": "Mapping from column id to column spec.",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          }
        },
        "timeColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the time column."
        },
        "rowCount": {
          "description": "The number of rows in the table.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSTableSpec"
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "type": "object",
      "properties": {
        "outputExamples": {
[...]
