{
  "fullyEncodeReservedExpansion": true,
  "name": "language",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "ownerName": "Google",
  "baseUrl": "https://language.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "documents": {
      "methods": {
        "classifyText": {
          "id": "language.documents.classifyText",
          "httpMethod": "POST",
          "flatPath": "v2/documents:classifyText",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "path": "v2/documents:classifyText",
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "description": "Classifies a document into categories.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "moderateText": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/documents:moderateText",
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "id": "language.documents.moderateText",
          "httpMethod": "POST",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "path": "v2/documents:moderateText",
          "parameterOrder": [],
          "description": "Moderates a document for harmful and sensitive categories."
        },
        "analyzeSentiment": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "path": "v2/documents:analyzeSentiment",
          "parameterOrder": [],
          "id": "language.documents.analyzeSentiment",
          "description": "Analyzes the sentiment of the provided text.",
          "flatPath": "v2/documents:analyzeSentiment",
          "parameters": {},
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          }
        },
        "annotateText": {
          "flatPath": "v2/documents:annotateText",
          "httpMethod": "POST",
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "parameterOrder": [],
          "description": "A convenience method that provides all features in one call.",
          "path": "v2/documents:annotateText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "id": "language.documents.annotateText"
        },
        "analyzeEntities": {
          "id": "language.documents.analyzeEntities",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/documents:analyzeEntities",
          "parameters": {},
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "httpMethod": "POST",
          "path": "v2/documents:analyzeEntities",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "revision": "20260920",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "title": "Cloud Natural Language API",
  "version_module": true,
  "basePath": "",
  "protocol": "rest",
  "id": "language:v2",
  "schemas": {
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities .",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        },
        "sentences": {
          "items": {
            "$ref": "Sentence"
          },
          "type": "array",
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment."
        },
        "categories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "type": "array",
          "description": "Categories identified in the input document."
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "moderationCategories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories identified in the input document.",
          "type": "array"
        }
      },
      "id": "AnnotateTextResponse"
    },
    "XPSVideoTrainingOperationMetadata": {
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "XPSVideoTrainingOperationMetadata",
      "type": "object"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "f1Score": {
          "format": "double",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)",
          "type": "number"
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "double"
        },
        "falsePositiveRate": {
          "description": "FPR = #false positives / (#false positives + #true negatives)",
          "format": "double",
          "type": "number"
        },
        "recall": {
          "format": "double",
          "type": "number",
          "description": "Recall = #true positives / (#true positives + #false negatives)."
        },
        "truePositiveRate": {
          "format": "double",
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "type": "number"
        },
        "falsePositiveCount": {
          "type": "string",
          "description": "False positive count.",
          "format": "int64"
        },
        "falseNegativeCount": {
          "description": "False negative count.",
          "type": "string",
          "format": "int64"
        },
        "trueNegativeCount": {
          "description": "True negative count.",
          "type": "string",
          "format": "int64"
        },
        "precision": {
          "format": "double",
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "type": "number"
        },
        "truePositiveCount": {
          "format": "int64",
          "description": "True positive count.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSTablesConfidenceMetricsEntry"
    },
    "XPSColumnSpecForecastingMetadata": {
      "properties": {
        "columnType": {
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ],
          "type": "string",
          "description": "The type of the column for FORECASTING model training purposes.",
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ]
        }
      },
      "type": "object",
      "id": "XPSColumnSpecForecastingMetadata"
    },
    "XPSPreprocessResponse": {
      "type": "object",
      "properties": {
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        }
      },
      "id": "XPSPreprocessResponse"
    },
    "ClassifyTextRequest": {
      "description": "The document classification request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      },
      "id": "ClassifyTextRequest",
      "type": "object"
    },
    "XPSFileSpec": {
      "properties": {
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ],
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ]
        },
        "singleFilePath": {
          "deprecated": true,
          "description": "Deprecated. Use file_spec.",
          "type": "string"
        },
        "directoryPath": {
          "description": "Deprecated. Use file_spec.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "id": "XPSFileSpec"
    },
    "XPSVisualization": {
      "id": "XPSVisualization",
      "description": "Visualization configurations for image explanation.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "type": "string"
        },
        "clipPercentUpperbound": {
          "type": "number",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "format": "float"
        },
        "overlayType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE."
        },
        "colorMap": {
          "type": "string",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue."
        },
        "clipPercentLowerbound": {
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "format": "float",
          "type": "number"
        },
        "polarity": {
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ]
        }
      }
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "type": "object",
      "description": "Metadata of the prediction output to be explained.",
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "properties": {
        "outputTensorName": {
          "description": "Name of the output tensor. Only needed in train response.",
          "type": "string"
        }
      }
    },
    "TextSpan": {
      "description": "Represents a text span in the input document.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        },
        "beginOffset": {
          "type": "integer",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "format": "int32"
        }
      },
      "id": "TextSpan"
    },
    "AnnotateTextRequestFeatures": {
      "description": "All available features. Setting each one to true will enable that specific analysis for the input.",
      "properties": {
        "extractEntities": {
          "description": "Optional. Extract entities.",
          "type": "boolean"
        },
        "classifyText": {
          "type": "boolean",
          "description": "Optional. Classify the full document into categories."
        },
        "moderateText": {
          "description": "Optional. Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        },
        "extractDocumentSentiment": {
          "description": "Optional. Extract document-level sentiment.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AnnotateTextRequestFeatures"
    },
    "XPSTfSavedModelFormat": {
      "id": "XPSTfSavedModelFormat",
      "type": "object",
      "description": "A tensorflow model format in SavedModel format.",
      "properties": {}
    },
    "XPSDataType": {
      "properties": {
        "structType": {
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "XPSStructType"
        },
        "nullable": {
          "description": "If true, this DataType can also be `null`.",
          "type": "boolean"
        },
        "listElementType": {
          "$ref": "XPSDataType",
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements."
        },
        "compatibleDataTypes": {
          "items": {
            "$ref": "XPSDataType"
          },
          "description": "The highly compatible data types to this data type.",
          "type": "array"
        },
        "timeFormat": {
          "type": "string",
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used."
        },
        "typeCode": {
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ],
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ],
          "description": "Required. The TypeCode for this type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSDataType",
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table)."
    },
    "XPSXraiAttribution": {
      "deprecated": true,
      "id": "XPSXraiAttribution",
      "properties": {
        "stepCount": {
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE)."
    },
    "XPSMetricEntry": {
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "A double value."
        },
        "systemLabels": {
          "description": "Billing system labels for this (metric, value) pair.",
          "type": "array",
          "items": {
            "$ref": "XPSMetricEntryLabel"
          }
        },
        "metricName": {
          "description": "The metric name defined in the service configuration.",
          "type": "string"
        },
        "int64Value": {
          "type": "string",
          "description": "A signed 64-bit integer value.",
          "format": "int64"
        },
        "argentumMetricId": {
          "type": "string",
          "description": "For billing metrics that are using legacy sku's, set the legacy billing metric id here. This will be sent to Chemist as the \"cloudbilling.googleapis.com/argentum_metric_id\" label. Otherwise leave empty."
        }
      },
      "type": "object",
      "id": "XPSMetricEntry"
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "type": "object",
      "properties": {
        "nodeQps": {
          "type": "number",
          "format": "double",
          "description": "The approximate qps a deployed node can serve."
        },
        "latencyInMilliseconds": {
          "description": "Estimated latency.",
          "format": "double",
          "type": "number"
        },
        "computeEngineAcceleratorType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ],
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ]
        },
        "servomaticPartitionType": {
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ]
        }
      },
      "id": "XPSImageModelServingSpecModelThroughputEstimation"
    },
    "XPSColorMapIntColor": {
      "description": "RGB color and each channel is represented by an integer.",
      "id": "XPSColorMapIntColor",
      "type": "object",
      "properties": {
        "green": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        },
        "blue": {
          "format": "int32",
          "type": "integer",
          "description": "The value should be in range of [0, 255]."
        },
        "red": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        }
      }
    },
    "ClassifyTextResponse": {
      "properties": {
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories representing the input document."
        }
      },
      "type": "object",
      "id": "ClassifyTextResponse",
      "description": "The document classification response message."
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "properties": {
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "floatValue": {
          "format": "double",
          "description": "Float type parameter value.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Parameter name."
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Integer type parameter value."
        }
      },
      "id": "XPSTablesModelStructureModelParametersParameter",
      "type": "object"
    },
    "XPSTablesDatasetMetadata": {
      "id": "XPSTablesDatasetMetadata",
      "type": "object",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "properties": {
        "targetColumnCorrelations": {
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          },
          "description": "(the column id : its CorrelationStats with target column).",
          "type": "object"
        },
        "weightColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "Id of the primary table column that should be used as the weight column."
        },
        "mlUseColumnId": {
          "format": "int32",
          "type": "integer",
          "description": "Id the column to split the table."
        },
        "primaryTableSpec": {
          "description": "Primary table.",
          "$ref": "XPSTableSpec"
        },
        "targetColumnId": {
          "format": "int32",
          "description": "Id of the primary table column that should be used as the training label.",
          "type": "integer"
        }
      }
    },
    "XPSRow": {
      "type": "object",
      "properties": {
        "columnIds": {
          "description": "The ids of the columns. Note: The below `values` field must match order of this field, if this field is set.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "values": {
          "description": "The values of the row cells, given in the same order as the column_ids. If column_ids is not set, then in the same order as the input_feature_column_ids in TablesModelMetadata.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "XPSRow"
    },
    "AnalyzeSentimentRequest": {
      "type": "object",
      "description": "The sentiment analysis request message.",
      "id": "AnalyzeSentimentRequest",
      "properties": {
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      }
    },
    "XPSClassificationEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "id": "XPSClassificationEvaluationMetrics",
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        },
        "evaluatedExamplesCount": {
          "format": "int32",
          "description": "The number of examples used for model evaluation.",
          "type": "integer"
        },
        "auPrc": {
          "description": "The Area under precision recall curve metric.",
          "type": "number",
          "format": "float"
        },
        "logLoss": {
          "format": "float",
          "description": "The Log Loss metric.",
          "type": "number"
        },
        "baseAuPrc": {
          "description": "The Area under precision recall curve metric based on priors.",
          "type": "number",
          "format": "float"
        },
        "auRoc": {
          "type": "number",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "format": "float"
        }
      }
    },
    "XPSDataErrors": {
      "properties": {
        "count": {
          "description": "Number of records having errors associated with the enum.",
          "format": "int32",
          "type": "integer"
        },
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE",
            "MISSING_TRANSCRIPTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats by cloud-speech AutoML. Currently only wav and flac file formats are supported.",
            "File format differnt from what is specified in the file name extension.",
            "File too large. Maximum allowed size is 50 MB.",
            "Transcript is missing."
          ],
          "description": "Type of the error."
        }
      },
      "type": "object",
      "id": "XPSDataErrors",
      "description": "Different types of errors and the stats associatesd with each error."
    },
    "XPSTablesModelColumnInfo": {
      "type": "object",
      "id": "XPSTablesModelColumnInfo",
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "properties": {
        "columnId": {
          "description": "The ID of the column.",
          "format": "int32",
          "type": "integer"
        },
        "featureImportance": {
          "type": "number",
          "format": "float",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method."
        }
      }
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "properties": {
        "outputExamples": {
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "XPSVideoBatchPredictOperationMetadata",
      "type": "object"
    },
    "XPSTrainingObjectivePoint": {
      "id": "XPSTrainingObjectivePoint",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time at which this point was recorded.",
          "format": "google-datetime"
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "The objective value when this point was recorded."
        }
      },
      "type": "object"
    },
    "XPSStructStats": {
      "description": "The data statistics of a series of STRUCT values.",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "fieldStats": {
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          }
        }
      },
      "id": "XPSStructStats"
    },
    "XPSTablesTrainResponse": {
      "id": "XPSTablesTrainResponse",
      "type": "object",
      "properties": {
        "trainCostMilliNodeHours": {
          "type": "string",
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64"
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        },
        "predictionSampleRows": {
          "items": {
            "$ref": "XPSRow"
          },
          "description": "Sample rows from the dataset this model was trained.",
          "type": "array"
        },
        "tablesModelColumnInfo": {
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          },
          "type": "array",
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model."
        }
      }
    },
    "AnalyzeEntitiesResponse": {
      "description": "The entity analysis response message.",
      "properties": {
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "entities": {
          "type": "array",
          "description": "The recognized entities in the input document.",
          "items": {
            "$ref": "Entity"
          }
        }
      },
      "type": "object",
      "id": "AnalyzeEntitiesResponse"
    },
    "XPSConfusionMatrix": {
      "type": "object",
      "description": "Confusion matrix of the model running the classification.",
      "id": "XPSConfusionMatrix",
      "properties": {
        "category": {
          "type": "array",
          "description": "Category (mainly for segmentation). Set only for image segmentation models. Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "sentimentLabel": {
          "description": "Sentiment labels used in the confusion matrix. Set only for text sentiment models. For AutoML Text Revamp, use `annotation_spec_id_token` instead and leave this field empty.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "annotationSpecIdToken": {
          "description": "For the following three repeated fields, only one is intended to be set. annotation_spec_id_token is preferable to be set. ID tokens of the annotation specs used in the confusion matrix.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "row": {
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotation_spec_id_token`. `row[i].value[j]` is the number of examples that have ground truth of the `annotation_spec_id_token[i]` and are predicted as `annotation_spec_id_token[j]` by the model being evaluated.",
          "items": {
            "$ref": "XPSConfusionMatrixRow"
          },
          "type": "array"
        }
      }
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "red": {
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        },
        "blue": {
          "format": "float",
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      }
    },
    "XPSCategoryStats": {
      "properties": {
        "topCategoryStats": {
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          },
          "type": "array",
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSCategoryStats",
      "description": "The data statistics of a series of CATEGORY values.",
      "type": "object"
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "id": "XPSVideoActionRecognitionEvaluationMetrics",
      "description": "Model evaluation metrics for video action recognition.",
      "type": "object",
      "properties": {
        "videoActionMetricsEntries": {
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          },
          "type": "array",
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s."
        },
        "evaluatedActionCount": {
          "format": "int32",
          "description": "Output only. The number of ground truth actions used to create this evaluation.",
          "type": "integer"
        }
      }
    },
    "XPSImageSegmentationTrainResponse": {
      "properties": {
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata"
        },
        "stopReason": {
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "type": "string",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "exportModelSpec": {
          "description": "NOTE: These fields are not used/needed in EAP but will be set later.",
          "$ref": "XPSImageExportModelSpec"
        },
        "colorMaps": {
          "description": "Color map of the model.",
          "type": "array",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        }
      },
      "id": "XPSImageSegmentationTrainResponse",
      "type": "object"
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "properties": {
        "boundingBoxMetricsEntries": {
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "evaluatedTrackCount": {
          "type": "integer",
          "description": "The number of tracks used for model evaluation.",
          "format": "int32"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number"
        },
        "evaluatedFrameCount": {
          "type": "integer",
          "description": "The number of video frames used for model evaluation.",
          "format": "int32"
        },
        "evaluatedBoundingboxCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of bounding boxes used for model evaluation."
        },
        "trackMeanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries."
        },
        "trackMetricsEntries": {
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          },
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        },
        "trackMeanBoundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries."
        },
        "trackMeanMismatchRate": {
          "type": "number",
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries.",
          "format": "float"
        }
      },
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10.",
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "type": "object"
    },
    "XPSTrackMetricsEntry": {
      "id": "XPSTrackMetricsEntry",
      "properties": {
        "iouThreshold": {
          "format": "float",
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry.",
          "type": "number"
        },
        "meanTrackingAveragePrecision": {
          "description": "Output only. The mean average precision over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "meanMismatchRate": {
          "description": "Output only. The mean mismatch rate over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "meanBoundingBoxIou": {
          "format": "float",
          "description": "Output only. The mean bounding box iou over all confidence thresholds.",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them."
        }
      },
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6.",
      "type": "object"
    },
    "ModerateTextRequest": {
      "description": "The document moderation request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "modelVersion": {
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ],
          "description": "Optional. The model version to use for ModerateText.",
          "type": "string",
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ]
        }
      },
      "id": "ModerateTextRequest",
      "type": "object"
    },
    "XPSReportingMetrics": {
      "id": "XPSReportingMetrics",
      "type": "object",
      "properties": {
        "metricEntries": {
          "items": {
            "$ref": "XPSMetricEntry"
          },
          "type": "array",
          "description": "One entry per metric name. The values must be aggregated per metric name."
        },
        "effectiveTrainingDuration": {
          "deprecated": true,
          "type": "string",
          "format": "google-duration",
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set."
        }
      }
    },
    "XPSMetricEntryLabel": {
      "type": "object",
      "properties": {
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        },
        "labelValue": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "id": "XPSMetricEntryLabel"
    },
    "XPSImageModelArtifactSpec": {
      "description": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only.",
      "properties": {
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "checkpointArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The Tensorflow checkpoint files. e.g. Used for resumable training."
        },
        "exportArtifact": {
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "type": "array",
          "description": "The model binary files in different formats for model export."
        },
        "tfJsBinaryGcsPrefix": {
          "description": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated.",
          "type": "string"
        },
        "tfLiteMetadataGcsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'."
        },
        "labelGcsUri": {
          "description": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'.",
          "type": "string"
        }
      },
      "id": "XPSImageModelArtifactSpec",
      "type": "object"
    },
    "ModerateTextResponse": {
      "description": "The document moderation response message.",
      "id": "ModerateTextResponse",
      "properties": {
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "moderationCategories": {
          "description": "Harmful and sensitive categories representing the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        }
      },
      "type": "object"
    },
    "XPSColumnSpec": {
      "properties": {
        "columnId": {
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE.",
          "type": "integer",
          "format": "int32"
        },
        "dataType": {
          "$ref": "XPSDataType",
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train."
        },
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "topCorrelatedColumns": {
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          },
          "type": "array",
          "description": "It's outputed in RefreshTablesStats, and a required input in Train."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train."
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        }
      },
      "id": "XPSColumnSpec",
      "type": "object"
    },
    "XPSVisionErrorAnalysisConfig": {
      "type": "object",
      "id": "XPSVisionErrorAnalysisConfig",
      "properties": {
        "queryType": {
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ]
        },
        "exampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of query examples in error analysis."
        }
      },
      "description": "The vision model error analysis configuration. Next tag: 3"
    },
    "XPSTablesClassificationMetrics": {
      "properties": {
        "curveMetrics": {
          "description": "Metrics building a curve.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          }
        }
      },
      "type": "object",
      "description": "Metrics for Tables classification problems.",
      "id": "XPSTablesClassificationMetrics"
    },
    "AnnotateTextRequest": {
      "id": "AnnotateTextRequest",
      "type": "object",
      "properties": {
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        },
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate offsets."
        },
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      },
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call."
    },
    "XPSFloat64StatsHistogramBucket": {
      "properties": {
        "min": {
          "type": "number",
          "format": "double",
          "description": "The minimum value of the bucket, inclusive."
        },
        "count": {
          "type": "string",
          "description": "The number of data values that are in the bucket, i.e. are between min and max values.",
          "format": "int64"
        },
        "max": {
          "format": "double",
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive.",
          "type": "number"
        }
      },
      "description": "A bucket of a histogram.",
      "type": "object",
      "id": "XPSFloat64StatsHistogramBucket"
    },
    "Sentiment": {
      "id": "Sentiment",
      "type": "object",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        },
        "magnitude": {
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        }
      }
    },
    "XPSTranslationTrainResponse": {
      "type": "object",
      "id": "XPSTranslationTrainResponse",
      "properties": {
        "modelType": {
          "enumDescriptions": [
            "Default",
            "Legacy model. Will be deprecated.",
            "Current model."
          ],
          "description": "Type of the model.",
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LEGACY",
            "CURRENT"
          ]
        }
      },
      "description": "Train response for translation."
    },
    "XPSEdgeTpuTfLiteFormat": {
      "type": "object",
      "properties": {},
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "id": "XPSEdgeTpuTfLiteFormat"
    },
    "XPSTrainResponse": {
      "type": "object",
      "id": "XPSTrainResponse",
      "properties": {
        "evaluatedExampleSet": {
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted.",
          "$ref": "XPSExampleSet"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "deployedModelSizeBytes": {
          "format": "int64",
          "description": "Estimated model size in bytes once deployed.",
          "type": "string"
        },
        "textTrainResp": {
          "description": "Will only be needed for uCAIP from Beta.",
          "$ref": "XPSTextTrainResponse"
        },
        "evaluationMetricsSet": {
          "$ref": "XPSEvaluationMetricsSet",
          "description": "The trained model evaluation metrics. This can be optionally returned."
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "errorAnalysisConfigs": {
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample).",
          "type": "array",
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          }
        },
        "explanationConfigs": {
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          },
          "type": "array",
          "deprecated": true
        },
        "modelToken": {
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model.",
          "format": "byte",
          "type": "string"
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        }
      }
    },
    "XPSTablesModelStructureModelParameters": {
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      },
      "description": "Model hyper-parameters for a model.",
      "type": "object",
      "id": "XPSTablesModelStructureModelParameters"
    },
    "XPSSpeechPreprocessResponse": {
      "type": "object",
      "properties": {
        "speechPreprocessStats": {
          "description": "Stats associated with the data.",
          "$ref": "XPSSpeechPreprocessStats"
        },
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        }
      },
      "id": "XPSSpeechPreprocessResponse"
    },
    "XPSIntegratedGradientsAttribution": {
      "type": "object",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSIntegratedGradientsAttribution",
      "deprecated": true
    },
    "XPSConfidenceMetricsEntry": {
      "type": "object",
      "properties": {
        "positionThreshold": {
          "format": "int32",
          "type": "integer",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold."
        },
        "recallAt1": {
          "format": "float",
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number"
        },
        "f1ScoreAt1": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall_at1 and precision_at1."
        },
        "falsePositiveCount": {
          "description": "The number of model created labels that do not match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "f1Score": {
          "format": "float",
          "description": "The harmonic mean of recall and precision.",
          "type": "number"
        },
        "precisionAt1": {
          "format": "float",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ground truth labels that are not matched by a model created label."
        },
        "falsePositiveRate": {
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "format": "float",
          "description": "Precision for the given confidence threshold.",
          "type": "number"
        },
        "confidenceThreshold": {
          "format": "float",
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value.",
          "type": "number"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "format": "float",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "truePositiveCount": {
          "description": "The number of model created labels that match a ground truth label.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "id": "XPSConfidenceMetricsEntry"
    },
    "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "iouScore": {
          "format": "float",
          "type": "number",
          "description": "IOU score."
        },
        "recall": {
          "format": "float",
          "description": "Recall for the given confidence threshold.",
          "type": "number"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the per confidence_threshold evaluation. Pixel counts are set here. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "diceScoreCoefficient": {
          "description": "DSC or the F1 score: The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "XPSArrayStats": {
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "memberStats": {
          "$ref": "XPSDataStats",
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array."
        }
      },
      "type": "object",
      "description": "The data statistics of a series of ARRAY values.",
      "id": "XPSArrayStats"
    },
    "XPSTextSentimentEvaluationMetrics": {
      "id": "XPSTextSentimentEvaluationMetrics",
      "type": "object",
      "properties": {
        "meanAbsoluteError": {
          "format": "float",
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number"
        },
        "linearKappa": {
          "format": "float",
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number"
        },
        "precision": {
          "format": "float",
          "description": "Output only. Precision.",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "description": "Output only. Recall.",
          "format": "float"
        },
        "meanSquaredError": {
          "type": "number",
          "format": "float",
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "confusionMatrix": {
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "$ref": "XPSConfusionMatrix"
        },
        "quadraticKappa": {
          "type": "number",
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float"
        },
        "f1Score": {
          "type": "number",
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float"
        }
      },
      "description": "Model evaluation metrics for text sentiment problems."
    },
    "XPSTablesPreprocessResponse": {
      "id": "XPSTablesPreprocessResponse",
      "type": "object",
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      }
    },
    "XPSTablesModelStructure": {
      "description": "A description of Tables model structure.",
      "properties": {
        "modelParameters": {
          "description": "A list of models.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          }
        }
      },
      "type": "object",
      "id": "XPSTablesModelStructure"
    },
    "XPSStructType": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "XPSDataType"
          },
          "type": "object",
          "description": "Unordered map of struct field names to their data types."
        }
      },
      "description": "`StructType` defines the DataType-s of a STRUCT type.",
      "id": "XPSStructType",
      "type": "object"
    },
    "CpuMetric": {
      "id": "CpuMetric",
      "properties": {
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        },
        "coreNumber": {
          "description": "Required. Number of CPU cores.",
          "type": "string",
          "format": "int64"
        },
        "coreSec": {
          "description": "Required. Total seconds of core usage, e.g. 4.",
          "type": "string",
          "format": "int64"
        },
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "type": "object"
        },
        "cpuType": {
          "type": "string",
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of cpu, e.g. N2."
        }
      },
      "type": "object",
      "description": "Metric for billing reports."
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "type": "object",
      "properties": {
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "numSubstitutions": {
          "format": "int32",
          "type": "integer"
        },
        "numUtterances": {
          "format": "int32",
          "type": "integer",
          "description": "Number of utterances used in the wer computation."
        },
        "numInsertions": {
          "format": "int32",
          "type": "integer"
        },
        "wer": {
          "format": "double",
          "description": "Word error rate (standard error metric used for speech recognition).",
          "type": "number"
        },
        "sentenceAccuracy": {
          "type": "number",
          "description": "Below fields are used for debugging purposes",
          "format": "double"
        },
        "biasingModelType": {
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string",
          "description": "Type of the biasing model."
        },
        "numWords": {
          "format": "int32",
          "type": "integer",
          "description": "Number of words over which the word error rate was computed."
        }
      },
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
    },
    "XPSSpeechEvaluationMetrics": {
      "id": "XPSSpeechEvaluationMetrics",
      "properties": {
        "subModelEvaluationMetrics": {
          "type": "array",
          "description": "Evaluation metrics for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          }
        }
      },
      "type": "object"
    },
    "XPSSpeechPreprocessStats": {
      "type": "object",
      "properties": {
        "trainSentencesCount": {
          "description": "The number of sentences in the training data set.",
          "format": "int32",
          "type": "integer"
        },
        "dataErrors": {
          "description": "Different types of data errors and the counts associated with them.",
          "items": {
            "$ref": "XPSDataErrors"
          },
          "type": "array"
        },
        "numMachineTranscribedExamples": {
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "type": "integer",
          "format": "int32"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "type": "integer",
          "format": "int32"
        },
        "numLogsExamples": {
          "description": "The number of samples found in the previously recorded logs data.",
          "format": "int32",
          "type": "integer"
        },
        "testSentencesCount": {
          "format": "int32",
          "description": "The number of sentences in the test data set.",
          "type": "integer"
        },
        "testWordsCount": {
          "type": "integer",
[...]
