{
  "rootUrl": "https://language.googleapis.com/",
  "ownerName": "Google",
  "id": "language:v2",
  "protocol": "rest",
  "name": "language",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/natural-language/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://language.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "title": "Cloud Natural Language API",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "version": "v2",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "resources": {
    "documents": {
      "methods": {
        "moderateText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Moderates a document for harmful and sensitive categories.",
          "path": "v2/documents:moderateText",
          "parameterOrder": [],
          "id": "language.documents.moderateText",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "flatPath": "v2/documents:moderateText",
          "parameters": {},
          "response": {
            "$ref": "ModerateTextResponse"
          }
        },
        "annotateText": {
          "path": "v2/documents:annotateText",
          "flatPath": "v2/documents:annotateText",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "description": "A convenience method that provides all features in one call.",
          "id": "language.documents.annotateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "classifyText": {
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.documents.classifyText",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v2/documents:classifyText",
          "description": "Classifies a document into categories.",
          "flatPath": "v2/documents:classifyText",
          "response": {
            "$ref": "ClassifyTextResponse"
          }
        },
        "analyzeEntities": {
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "parameterOrder": [],
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.documents.analyzeEntities",
          "httpMethod": "POST",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "flatPath": "v2/documents:analyzeEntities",
          "path": "v2/documents:analyzeEntities"
        },
        "analyzeSentiment": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/documents:analyzeSentiment",
          "flatPath": "v2/documents:analyzeSentiment",
          "description": "Analyzes the sentiment of the provided text.",
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "id": "language.documents.analyzeSentiment",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          }
        }
      }
    }
  },
  "canonicalName": "Cloud Natural Language",
  "revision": "20261004",
  "schemas": {
    "XPSTablesEvaluationMetrics": {
      "properties": {
        "classificationMetrics": {
          "$ref": "XPSTablesClassificationMetrics",
          "description": "Classification metrics."
        },
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        }
      },
      "id": "XPSTablesEvaluationMetrics",
      "type": "object"
    },
    "XPSVideoTrainingOperationMetadata": {
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSVideoTrainingOperationMetadata"
    },
    "XPSImageClassificationTrainResponse": {
      "id": "XPSImageClassificationTrainResponse",
      "properties": {
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "trainCostInNodeTime": {
          "format": "google-duration",
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "type": "string"
        },
        "trainCostNodeSeconds": {
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSVisualization": {
      "description": "Visualization configurations for image explanation.",
      "properties": {
        "overlayType": {
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "type": "string"
        },
        "colorMap": {
          "type": "string",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ],
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ]
        },
        "clipPercentLowerbound": {
          "type": "number",
          "format": "float",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62."
        },
        "type": {
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "type": "string"
        },
        "polarity": {
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "type": "string",
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE."
        },
        "clipPercentUpperbound": {
          "format": "float",
          "type": "number",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9."
        }
      },
      "type": "object",
      "id": "XPSVisualization",
      "deprecated": true
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "type": "object",
      "properties": {
        "evaluatedBoundingBoxCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had."
        },
        "boundingBoxMetricsEntries": {
          "type": "array",
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries."
        }
      }
    },
    "XPSTimestampStatsGranularStats": {
      "type": "object",
      "description": "Stats split by a defined in context granularity.",
      "properties": {
        "buckets": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May)."
        }
      },
      "id": "XPSTimestampStatsGranularStats"
    },
    "Color": {
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "Color"
    },
    "XPSImageSegmentationTrainResponse": {
      "id": "XPSImageSegmentationTrainResponse",
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata"
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "colorMaps": {
          "items": {
            "$ref": "XPSColorMap"
          },
          "description": "Color map of the model.",
          "type": "array"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        }
      },
      "type": "object"
    },
    "XPSRow": {
      "id": "XPSRow",
      "type": "object",
      "properties": {
        "columnIds": {
          "description": "The ids of the columns. Note: The below `values` field must match order of this field, if this field is set.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "values": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The values of the row cells, given in the same order as the column_ids. If column_ids is not set, then in the same order as the input_feature_column_ids in TablesModelMetadata."
        }
      }
    },
    "XPSTextSentimentEvaluationMetrics": {
      "type": "object",
      "id": "XPSTextSentimentEvaluationMetrics",
      "properties": {
        "recall": {
          "format": "float",
          "description": "Output only. Recall.",
          "type": "number"
        },
        "quadraticKappa": {
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision."
        },
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Output only. Precision."
        },
        "meanAbsoluteError": {
          "type": "number",
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float"
        },
        "meanSquaredError": {
          "format": "float",
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "linearKappa": {
          "type": "number",
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float"
        }
      },
      "description": "Model evaluation metrics for text sentiment problems."
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "properties": {
        "recall": {
          "format": "float",
          "type": "number",
          "description": "Output only. Recall for the given confidence threshold."
        },
        "precision": {
          "format": "float",
          "description": "Output only. Precision for the given confidence threshold.",
          "type": "number"
        },
        "f1Score": {
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Metrics for a single confidence threshold.",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
    },
    "XPSFloat64Stats": {
      "description": "The data statistics of a series of FLOAT64 values.",
      "properties": {
        "quantiles": {
          "type": "array",
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "histogramBuckets": {
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "type": "array",
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "standardDeviation": {
          "format": "double",
          "description": "The standard deviation of the series.",
          "type": "number"
        },
        "mean": {
          "description": "The mean of the series.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "XPSFloat64Stats"
    },
    "XPSTableSpec": {
      "properties": {
        "timeColumnId": {
          "description": "The id of the time column.",
          "format": "int32",
          "type": "integer"
        },
        "columnSpecs": {
          "description": "Mapping from column id to column spec.",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          }
        },
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows in the table."
        },
        "importedDataSizeInBytes": {
          "description": "The total size of imported data of the table.",
          "format": "int64",
          "type": "string"
        },
        "validRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of valid rows."
        }
      },
      "id": "XPSTableSpec",
      "type": "object"
    },
    "XPSVisionErrorAnalysisConfig": {
      "id": "XPSVisionErrorAnalysisConfig",
      "description": "The vision model error analysis configuration. Next tag: 3",
      "type": "object",
      "properties": {
        "exampleCount": {
          "description": "The number of query examples in error analysis.",
          "format": "int32",
          "type": "integer"
        },
        "queryType": {
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ]
        }
      }
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for video action recognition.",
      "id": "XPSVideoActionRecognitionEvaluationMetrics",
      "properties": {
        "videoActionMetricsEntries": {
          "type": "array",
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          }
        },
        "evaluatedActionCount": {
          "description": "Output only. The number of ground truth actions used to create this evaluation.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSConfidenceMetricsEntry": {
      "properties": {
        "falseNegativeCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of ground truth labels that are not matched by a model created label."
        },
        "falsePositiveRate": {
          "type": "number",
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float"
        },
        "positionThreshold": {
          "format": "int32",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "type": "integer"
        },
        "f1ScoreAt1": {
          "type": "number",
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "format": "float"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "format": "float",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "falsePositiveCount": {
          "description": "The number of model created labels that do not match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Precision for the given confidence threshold."
        },
        "precisionAt1": {
          "type": "number",
          "format": "float",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "f1Score": {
          "format": "float",
          "description": "The harmonic mean of recall and precision.",
          "type": "number"
        },
        "recallAt1": {
          "type": "number",
          "format": "float",
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "recall": {
          "format": "float",
          "type": "number",
          "description": "Recall (true positive rate) for the given confidence threshold."
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value."
        },
        "truePositiveCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of model created labels that match a ground truth label."
        }
      },
      "id": "XPSConfidenceMetricsEntry",
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "type": "object"
    },
    "ModerateTextResponse": {
      "properties": {
        "moderationCategories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories representing the input document.",
          "type": "array"
        },
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        }
      },
      "id": "ModerateTextResponse",
      "type": "object",
      "description": "The document moderation response message."
    },
    "TpuMetric": {
      "properties": {
        "tpuType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "type": "string"
        },
        "tpuSec": {
          "type": "string",
          "description": "Required. Seconds of TPU usage, e.g. 3600.",
          "format": "int64"
        }
      },
      "id": "TpuMetric",
      "type": "object"
    },
    "XPSTablesTrainResponse": {
      "id": "XPSTablesTrainResponse",
      "properties": {
        "trainCostMilliNodeHours": {
          "type": "string",
          "format": "int64",
          "description": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget."
        },
        "modelStructure": {
          "$ref": "XPSTablesModelStructure"
        },
        "tablesModelColumnInfo": {
          "description": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelColumnInfo"
          }
        },
        "predictionSampleRows": {
          "type": "array",
          "description": "Sample rows from the dataset this model was trained.",
          "items": {
            "$ref": "XPSRow"
          }
        }
      },
      "type": "object"
    },
    "XPSTimestampStats": {
      "description": "The data statistics of a series of TIMESTAMP values.",
      "type": "object",
      "properties": {
        "medianTimestampNanos": {
          "type": "string",
          "format": "int64"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "granularStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSTimestampStatsGranularStats"
          },
          "description": "The string key is the pre-defined granularity. Currently supported: hour_of_day, day_of_week, month_of_year. Granularities finer that the granularity of timestamp data are not populated (e.g. if timestamps are at day granularity, then hour_of_day is not populated)."
        }
      },
      "id": "XPSTimestampStats"
    },
    "AnalyzeEntitiesResponse": {
      "type": "object",
      "id": "AnalyzeEntitiesResponse",
      "properties": {
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "The recognized entities in the input document."
        },
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        }
      },
      "description": "The entity analysis response message."
    },
    "XPSTuningTrial": {
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users.",
      "id": "XPSTuningTrial",
      "type": "object",
      "properties": {
        "modelStructure": {
          "description": "Model parameters for the trial.",
          "$ref": "XPSTablesModelStructure"
        },
        "trainingObjectivePoint": {
          "$ref": "XPSTrainingObjectivePoint",
          "description": "The optimization objective evaluation of the eval split data."
        }
      }
    },
    "XPSEvaluationMetrics": {
      "properties": {
        "label": {
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation.",
          "type": "string"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "category": {
          "format": "int32",
          "type": "integer",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token."
        },
        "evaluatedExampleCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of examples used to create this evaluation metrics instance."
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        }
      },
      "type": "object",
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "id": "XPSEvaluationMetrics"
    },
    "CpuMetric": {
      "description": "Metric for billing reports.",
      "type": "object",
      "id": "CpuMetric",
      "properties": {
        "machineSpec": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "type": "string",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        },
        "trackingLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        },
        "cpuType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "description": "Required. Type of cpu, e.g. N2."
        },
        "coreSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total seconds of core usage, e.g. 4."
        },
        "coreNumber": {
          "description": "Required. Number of CPU cores.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ClassificationCategory": {
      "id": "ClassificationCategory",
      "description": "Represents a category returned from the text classifier.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the category representing the document."
        },
        "severity": {
          "type": "number",
          "description": "Optional. The classifier's severity of the category. This is only present when the ModerateTextRequest.ModelVersion is set to MODEL_VERSION_2, and the corresponding category has a severity score.",
          "format": "float"
        },
        "confidence": {
          "format": "float",
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "type": "number"
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "XPSStructStats": {
      "id": "XPSStructStats",
      "type": "object",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "fieldStats": {
          "type": "object",
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          }
        }
      },
      "description": "The data statistics of a series of STRUCT values."
    },
    "XPSTranslationTrainResponse": {
      "type": "object",
      "id": "XPSTranslationTrainResponse",
      "properties": {
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LEGACY",
            "CURRENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Legacy model. Will be deprecated.",
            "Current model."
          ],
          "description": "Type of the model."
        }
      },
      "description": "Train response for translation."
    },
    "XPSBoundingBoxMetricsEntry": {
      "id": "XPSBoundingBoxMetricsEntry",
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "type": "number",
          "format": "float"
        },
        "iouThreshold": {
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "format": "float",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array"
        }
      },
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds."
    },
    "XPSTablesRegressionMetrics": {
      "properties": {
        "rootMeanSquaredLogError": {
          "type": "number",
          "description": "Root mean squared log error.",
          "format": "double"
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "type": "number",
          "format": "double"
        },
        "meanAbsolutePercentageError": {
          "type": "number",
          "description": "Mean absolute percentage error, only set if all of the target column's values are positive.",
          "format": "double"
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "double"
        },
        "rootMeanSquaredError": {
          "type": "number",
          "format": "double",
          "description": "Root mean squared error."
        },
        "regressionMetricsEntries": {
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "type": "array"
        }
      },
      "description": "Metrics for Tables regression problems.",
      "type": "object",
      "id": "XPSTablesRegressionMetrics"
    },
    "XPSFloat64StatsHistogramBucket": {
      "id": "XPSFloat64StatsHistogramBucket",
      "properties": {
        "min": {
          "type": "number",
          "description": "The minimum value of the bucket, inclusive.",
          "format": "double"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of data values that are in the bucket, i.e. are between min and max values."
        },
        "max": {
          "format": "double",
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive.",
          "type": "number"
        }
      },
      "description": "A bucket of a histogram.",
      "type": "object"
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "properties": {
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "numSubstitutions": {
          "format": "int32",
          "type": "integer"
        },
        "numUtterances": {
          "type": "integer",
          "description": "Number of utterances used in the wer computation.",
          "format": "int32"
        },
        "biasingModelType": {
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "type": "string",
          "description": "Type of the biasing model.",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ]
        },
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        },
        "wer": {
          "description": "Word error rate (standard error metric used for speech recognition).",
          "type": "number",
          "format": "double"
        },
        "sentenceAccuracy": {
          "type": "number",
          "format": "double",
          "description": "Below fields are used for debugging purposes"
        },
        "numInsertions": {
          "type": "integer",
          "format": "int32"
        },
        "numWords": {
          "description": "Number of words over which the word error rate was computed.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric",
      "type": "object"
    },
    "XPSTablesDatasetMetadata": {
      "type": "object",
      "id": "XPSTablesDatasetMetadata",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "properties": {
        "mlUseColumnId": {
          "description": "Id the column to split the table.",
          "type": "integer",
          "format": "int32"
        },
        "targetColumnId": {
          "description": "Id of the primary table column that should be used as the training label.",
          "format": "int32",
          "type": "integer"
        },
        "targetColumnCorrelations": {
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          },
          "description": "(the column id : its CorrelationStats with target column).",
          "type": "object"
        },
        "primaryTableSpec": {
          "description": "Primary table.",
          "$ref": "XPSTableSpec"
        },
        "weightColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "Id of the primary table column that should be used as the weight column."
        }
      }
    },
    "ModerateTextRequest": {
      "properties": {
        "modelVersion": {
          "description": "Optional. The model version to use for ModerateText.",
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ],
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ],
          "type": "string"
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "id": "ModerateTextRequest",
      "description": "The document moderation request message.",
      "type": "object"
    },
    "DiskMetric": {
      "id": "DiskMetric",
      "properties": {
        "diskType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "type": "string",
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ]
        },
        "gibSec": {
          "format": "int64",
          "type": "string",
          "description": "Required. Seconds of physical disk usage, e.g. 3600."
        }
      },
      "type": "object"
    },
    "XPSImageModelArtifactSpec": {
      "id": "XPSImageModelArtifactSpec",
      "description": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only.",
      "type": "object",
      "properties": {
        "tfJsBinaryGcsPrefix": {
          "description": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated.",
          "type": "string"
        },
        "exportArtifact": {
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "description": "The model binary files in different formats for model export.",
          "type": "array"
        },
        "checkpointArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The Tensorflow checkpoint files. e.g. Used for resumable training."
        },
        "servingArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API."
        },
        "tfLiteMetadataGcsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'."
        },
        "labelGcsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'."
        }
      }
    },
    "XPSTfLiteFormat": {
      "type": "object",
      "id": "XPSTfLiteFormat",
      "description": "LINT.IfChange A model format used for mobile and IoT devices. See https://www.tensorflow.org/lite.",
      "properties": {}
    },
    "XPSDataType": {
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table).",
      "id": "XPSDataType",
      "properties": {
        "nullable": {
          "type": "boolean",
          "description": "If true, this DataType can also be `null`."
        },
        "timeFormat": {
          "type": "string",
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used."
        },
        "listElementType": {
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements.",
          "$ref": "XPSDataType"
        },
        "structType": {
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "XPSStructType"
        },
        "typeCode": {
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ],
          "description": "Required. The TypeCode for this type.",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ],
          "type": "string"
        },
        "compatibleDataTypes": {
          "type": "array",
          "items": {
            "$ref": "XPSDataType"
          },
          "description": "The highly compatible data types to this data type."
        }
      },
      "type": "object"
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "type": "object",
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "properties": {
        "evaluatedBoundingboxCount": {
          "description": "The number of bounding boxes used for model evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "boundingBoxMetricsEntries": {
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "evaluatedFrameCount": {
          "description": "The number of video frames used for model evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "evaluatedTrackCount": {
          "description": "The number of tracks used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "trackMeanMismatchRate": {
          "format": "float",
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries.",
          "type": "number"
        },
        "trackMetricsEntries": {
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          },
          "type": "array",
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "trackMeanBoundingBoxIou": {
          "type": "number",
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries.",
          "format": "float"
        },
        "trackMeanAveragePrecision": {
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number"
        }
      },
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10."
    },
    "XPSSpeechPreprocessResponse": {
      "type": "object",
      "properties": {
        "cnsTrainDataPath": {
          "type": "string",
          "description": "Location of shards of sstables (training data) of DataUtterance protos."
        },
        "cnsTestDataPath": {
          "type": "string",
          "description": "Location od shards of sstables (test data) of DataUtterance protos."
        },
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        }
      },
      "id": "XPSSpeechPreprocessResponse"
    },
    "Sentiment": {
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "Sentiment"
    },
    "XPSStringStatsUnigramStats": {
      "type": "object",
      "description": "The statistics of a unigram.",
      "properties": {
        "value": {
          "description": "The unigram.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences of this unigram in the series.",
          "format": "int64"
        }
      },
      "id": "XPSStringStatsUnigramStats"
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "description": "Metadata of the input of a feature.",
      "type": "object",
      "properties": {
        "inputTensorName": {
          "type": "string",
          "description": "Name of the input tensor for this model. Only needed in train response."
        },
        "modality": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ],
          "type": "string",
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric."
        },
        "visualizationConfig": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "XPSVisualization"
        }
      },
      "id": "XPSResponseExplanationMetadataInputMetadata"
    },
    "XPSMetricEntryLabel": {
      "id": "XPSMetricEntryLabel",
      "properties": {
        "labelValue": {
          "description": "The value of the label.",
          "type": "string"
        },
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        }
      },
      "type": "object"
    },
    "XPSDataErrors": {
      "type": "object",
      "description": "Different types of errors and the stats associatesd with each error.",
      "id": "XPSDataErrors",
      "properties": {
        "errorType": {
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats by cloud-speech AutoML. Currently only wav and flac file formats are supported.",
            "File format differnt from what is specified in the file name extension.",
            "File too large. Maximum allowed size is 50 MB.",
            "Transcript is missing."
          ],
          "description": "Type of the error.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE",
            "MISSING_TRANSCRIPTION"
          ],
          "type": "string"
        },
        "count": {
          "format": "int32",
          "description": "Number of records having errors associated with the enum.",
          "type": "integer"
        }
      }
    },
    "XPSRegressionMetricsEntry": {
      "properties": {
        "predictedValue": {
          "description": "The observed value for a row in the dataset.",
          "type": "number",
          "format": "float"
        },
        "trueValue": {
          "format": "float",
          "description": "The actual target value for a row in the dataset.",
          "type": "number"
        }
      },
      "id": "XPSRegressionMetricsEntry",
      "description": "A pair of actual & observed values for the model being evaluated.",
      "type": "object"
    },
    "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "id": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the per confidence_threshold evaluation. Pixel counts are set here. Only set for model level evaluation, not for evaluation per label."
        },
        "recall": {
          "type": "number",
          "description": "Recall for the given confidence threshold.",
          "format": "float"
        },
        "diceScoreCoefficient": {
          "type": "number",
          "format": "float",
          "description": "DSC or the F1 score: The harmonic mean of recall and precision."
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "float"
        },
        "iouScore": {
          "description": "IOU score.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metrics for a single confidence threshold."
    },
    "XPSTranslationEvaluationMetrics": {
      "id": "XPSTranslationEvaluationMetrics",
      "type": "object",
      "description": "Evaluation metrics for the dataset.",
      "properties": {
        "bleuScore": {
          "format": "double",
          "type": "number",
          "description": "BLEU score."
        },
        "baseBleuScore": {
          "format": "double",
          "type": "number",
          "description": "BLEU score for base model."
        }
      }
    },
    "XPSSpeechPreprocessStats": {
      "id": "XPSSpeechPreprocessStats",
      "properties": {
        "numMachineTranscribedExamples": {
          "format": "int32",
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "type": "integer"
        },
        "dataErrors": {
          "items": {
            "$ref": "XPSDataErrors"
          },
          "type": "array",
          "description": "Different types of data errors and the counts associated with them."
        },
        "numLogsExamples": {
          "format": "int32",
          "description": "The number of samples found in the previously recorded logs data.",
          "type": "integer"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "type": "integer",
          "format": "int32"
        },
        "trainWordsCount": {
          "description": "The number of words in the training data set.",
          "type": "integer",
          "format": "int32"
        },
        "trainSentencesCount": {
          "type": "integer",
          "description": "The number of sentences in the training data set.",
          "format": "int32"
        },
        "numHumanLabeledExamples": {
          "format": "int32",
          "description": "The number of rows marked HUMAN_LABELLED",
          "type": "integer"
        },
        "testWordsCount": {
          "description": "The number of words in the test data set.",
          "type": "integer",
          "format": "int32"
        },
        "testExamplesCount": {
          "format": "int32",
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "type": "integer"
        },
        "testSentencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of sentences in the test data set."
        }
      },
      "type": "object"
    },
    "XPSTablesModelColumnInfo": {
      "type": "object",
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "properties": {
        "columnId": {
          "description": "The ID of the column.",
          "type": "integer",
          "format": "int32"
        },
        "featureImportance": {
          "format": "float",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method.",
          "type": "number"
        }
      },
      "id": "XPSTablesModelColumnInfo"
    },
    "InfraUsage": {
      "id": "InfraUsage",
      "properties": {
        "diskMetrics": {
          "items": {
            "$ref": "DiskMetric"
          },
          "description": "Aggregated persistent disk metrics since requested start_time.",
          "type": "array"
        },
        "gpuMetrics": {
          "description": "Aggregated gpu metrics since requested start_time.",
          "items": {
            "$ref": "GpuMetric"
          },
          "type": "array"
        },
        "tpuMetrics": {
          "items": {
            "$ref": "TpuMetric"
          },
          "type": "array",
          "description": "Aggregated tpu metrics since requested start_time."
        },
        "cpuMetrics": {
          "items": {
            "$ref": "CpuMetric"
          },
          "description": "Aggregated core metrics since requested start_time.",
          "type": "array"
        },
        "ramMetrics": {
          "description": "Aggregated ram metrics since requested start_time.",
          "type": "array",
          "items": {
            "$ref": "RamMetric"
          }
        }
      },
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics.",
      "type": "object"
    },
    "XPSCorrelationStats": {
      "id": "XPSCorrelationStats",
      "type": "object",
      "properties": {
        "cramersV": {
          "description": "The correlation value using the Cramer's V measure.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same."
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "properties": {
        "outputTensorName": {
          "type": "string",
          "description": "Name of the output tensor. Only needed in train response."
        }
      },
      "id": "XPSResponseExplanationMetadataOutputMetadata"
    },
    "XPSColumnSpecForecastingMetadata": {
      "type": "object",
      "id": "XPSColumnSpecForecastingMetadata",
      "properties": {
        "columnType": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ],
          "type": "string",
          "description": "The type of the column for FORECASTING model training purposes.",
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ]
        }
      }
    },
    "XPSSpeechEvaluationMetrics": {
      "properties": {
        "subModelEvaluationMetrics": {
          "type": "array",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          },
          "description": "Evaluation metrics for all submodels contained in this model."
        }
      },
      "type": "object",
      "id": "XPSSpeechEvaluationMetrics"
    },
    "XPSExampleSet": {
      "type": "object",
      "properties": {
        "fileSpec": {
          "description": "File spec of the examples or input sources.",
          "$ref": "XPSFileSpec"
        },
        "numExamples": {
          "type": "string",
          "format": "int64",
          "description": "Number of examples."
        },
        "fingerprint": {
          "description": "Fingerprint of the example set.",
          "format": "int64",
          "type": "string"
        },
        "numInputSources": {
          "description": "Number of input sources.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Set of examples or input sources.",
      "id": "XPSExampleSet"
    },
    "XPSColumnSpec": {
      "properties": {
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "topCorrelatedColumns": {
          "description": "It's outputed in RefreshTablesStats, and a required input in Train.",
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          },
          "type": "array"
        },
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "displayName": {
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train.",
          "type": "string"
        },
        "columnId": {
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE.",
          "type": "integer",
          "format": "int32"
        },
        "dataType": {
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train.",
          "$ref": "XPSDataType"
        }
      },
      "type": "object",
      "id": "XPSColumnSpec"
    },
    "XPSPreprocessResponse": {
      "id": "XPSPreprocessResponse",
      "type": "object",
      "properties": {
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "outputExampleSet": {
          "$ref": "XPSExampleSet",
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data."
        }
      }
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "type": "object",
      "properties": {
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "biasingModelType": {
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "description": "Type of the biasing model.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ]
        },
        "contextId": {
          "type": "string",
          "description": "In S3, Recognition ClientContextId.context_id"
        },
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        }
      },
      "id": "XPSSpeechModelSpecSubModelSpec"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "properties": {},
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "type": "object",
      "id": "XPSEdgeTpuTfLiteFormat"
    },
    "AnnotateTextRequest": {
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
      "id": "AnnotateTextRequest",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "description": "The encoding type used by the API to calculate offsets.",
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        },
        "features": {
          "$ref": "AnnotateTextRequestFeatures",
          "description": "Required. The enabled features."
        }
      },
      "type": "object"
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      },
      "id": "XPSImageSegmentationEvaluationMetrics",
      "type": "object"
    },
    "XPSXraiAttribution": {
      "type": "object",
      "deprecated": true,
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE).",
      "id": "XPSXraiAttribution",
      "properties": {
        "stepCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively."
        }
      }
    },
    "XPSImageModelServingSpec": {
      "id": "XPSImageModelServingSpec",
      "type": "object",
      "properties": {
        "nodeQps": {
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "format": "double",
          "type": "number"
        },
        "modelThroughputEstimation": {
          "type": "array",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          },
          "description": "Populate under uCAIP request scope."
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        }
      },
      "description": "Serving specification for image models."
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "id": "XPSVideoBatchPredictOperationMetadata",
      "properties": {
        "outputExamples": {
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "XPSExportModelOutputConfig": {
      "type": "object",
      "id": "XPSExportModelOutputConfig",
      "properties": {
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        },
        "outputGcrUri": {
          "type": "string",
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER."
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "outputGcsUri": {
[...]
