{
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260830",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Natural Language",
  "discoveryVersion": "v1",
  "version": "v2",
  "protocol": "rest",
  "schemas": {
    "XPSResponseExplanationMetadataOutputMetadata": {
      "type": "object",
      "description": "Metadata of the prediction output to be explained.",
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "properties": {
        "outputTensorName": {
          "type": "string",
          "description": "Name of the output tensor. Only needed in train response."
        }
      }
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "type": "object",
      "id": "XPSImageSegmentationEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it."
        }
      }
    },
    "XPSTableSpec": {
      "type": "object",
      "properties": {
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows in the table."
        },
        "importedDataSizeInBytes": {
          "format": "int64",
          "description": "The total size of imported data of the table.",
          "type": "string"
        },
        "columnSpecs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "description": "Mapping from column id to column spec."
        },
        "timeColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the time column."
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSTableSpec"
    },
    "XPSVisualization": {
      "description": "Visualization configurations for image explanation.",
      "deprecated": true,
      "type": "object",
      "id": "XPSVisualization",
      "properties": {
        "polarity": {
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "type": "string"
        },
        "clipPercentLowerbound": {
          "format": "float",
          "type": "number",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62."
        },
        "colorMap": {
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "type": "string",
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentUpperbound": {
          "type": "number",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "format": "float"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES."
        },
        "overlayType": {
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ]
        }
      }
    },
    "XPSCoreMlFormat": {
      "type": "object",
      "properties": {},
      "description": "A model format used for iOS mobile devices.",
      "id": "XPSCoreMlFormat"
    },
    "XPSArrayStats": {
      "id": "XPSArrayStats",
      "properties": {
        "memberStats": {
          "$ref": "XPSDataStats",
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "description": "The data statistics of a series of ARRAY values.",
      "type": "object"
    },
    "ModerateTextResponse": {
      "id": "ModerateTextResponse",
      "description": "The document moderation response message.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        },
        "moderationCategories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "type": "array",
          "description": "Harmful and sensitive categories representing the input document."
        },
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSRegressionEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "properties": {
        "rootMeanSquaredError": {
          "type": "number",
          "description": "Root Mean Squared Error (RMSE).",
          "format": "float"
        },
        "rootMeanSquaredLogError": {
          "type": "number",
          "format": "float",
          "description": "Root mean squared log error."
        },
        "rSquared": {
          "type": "number",
          "format": "float",
          "description": "R squared."
        },
        "regressionMetricsEntries": {
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "type": "array",
          "description": "A list of actual versus predicted points for the model being evaluated."
        },
        "meanAbsolutePercentageError": {
          "format": "float",
          "type": "number",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive."
        },
        "meanAbsoluteError": {
          "type": "number",
          "format": "float",
          "description": "Mean Absolute Error (MAE)."
        }
      },
      "id": "XPSRegressionEvaluationMetrics"
    },
    "XPSExampleSet": {
      "description": "Set of examples or input sources.",
      "type": "object",
      "properties": {
        "fileSpec": {
          "description": "File spec of the examples or input sources.",
          "$ref": "XPSFileSpec"
        },
        "numExamples": {
          "type": "string",
          "format": "int64",
          "description": "Number of examples."
        },
        "fingerprint": {
          "type": "string",
          "format": "int64",
          "description": "Fingerprint of the example set."
        },
        "numInputSources": {
          "type": "string",
          "format": "int64",
          "description": "Number of input sources."
        }
      },
      "id": "XPSExampleSet"
    },
    "XPSStructStats": {
      "properties": {
        "fieldStats": {
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSStructStats",
      "description": "The data statistics of a series of STRUCT values.",
      "type": "object"
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "type": "object",
      "description": "Metadata of the input of a feature.",
      "id": "XPSResponseExplanationMetadataInputMetadata",
      "properties": {
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ],
          "type": "string"
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this model. Only needed in train response.",
          "type": "string"
        },
        "visualizationConfig": {
          "$ref": "XPSVisualization",
          "description": "Visualization configurations for image explanation."
        }
      }
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric",
      "properties": {
        "numUtterances": {
          "format": "int32",
          "type": "integer",
          "description": "Number of utterances used in the wer computation."
        },
        "numSubstitutions": {
          "type": "integer",
          "format": "int32"
        },
        "numWords": {
          "format": "int32",
          "description": "Number of words over which the word error rate was computed.",
          "type": "integer"
        },
        "biasingModelType": {
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string",
          "description": "Type of the biasing model.",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ]
        },
        "sentenceAccuracy": {
          "description": "Below fields are used for debugging purposes",
          "type": "number",
          "format": "double"
        },
        "wer": {
          "format": "double",
          "description": "Word error rate (standard error metric used for speech recognition).",
          "type": "number"
        },
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "numDeletions": {
          "format": "int32",
          "type": "integer"
        },
        "numInsertions": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "XPSClassificationEvaluationMetrics": {
      "id": "XPSClassificationEvaluationMetrics",
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "type": "object",
      "properties": {
        "auRoc": {
          "format": "float",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "type": "number"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label."
        },
        "baseAuPrc": {
          "format": "float",
          "description": "The Area under precision recall curve metric based on priors.",
          "type": "number"
        },
        "evaluatedExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples used for model evaluation."
        },
        "auPrc": {
          "format": "float",
          "type": "number",
          "description": "The Area under precision recall curve metric."
        },
        "logLoss": {
          "type": "number",
          "description": "The Log Loss metric.",
          "format": "float"
        }
      }
    },
    "XPSTablesEvaluationMetrics": {
      "properties": {
        "regressionMetrics": {
          "$ref": "XPSTablesRegressionMetrics",
          "description": "Regression metrics."
        },
        "classificationMetrics": {
          "$ref": "XPSTablesClassificationMetrics",
          "description": "Classification metrics."
        }
      },
      "type": "object",
      "id": "XPSTablesEvaluationMetrics"
    },
    "XPSColorMapIntColor": {
      "id": "XPSColorMapIntColor",
      "properties": {
        "green": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        },
        "blue": {
          "description": "The value should be in range of [0, 255].",
          "type": "integer",
          "format": "int32"
        },
        "red": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "RGB color and each channel is represented by an integer.",
      "type": "object"
    },
    "TpuMetric": {
      "id": "TpuMetric",
      "properties": {
        "tpuSec": {
          "type": "string",
          "description": "Required. Seconds of TPU usage, e.g. 3600.",
          "format": "int64"
        },
        "tpuType": {
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "Document": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned."
        },
        "content": {
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "type": "string",
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error."
        },
        "gcsContentUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
        }
      },
      "description": "Represents the input to API methods.",
      "id": "Document",
      "type": "object"
    },
    "XPSColorMap": {
      "id": "XPSColorMap",
      "properties": {
        "color": {
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "deprecated": true,
          "$ref": "Color"
        },
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "displayName": {
          "description": "Should be used during preprocessing.",
          "type": "string"
        },
        "annotationSpecIdToken": {
          "description": "Should be used during training.",
          "type": "string"
        }
      },
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "type": "object"
    },
    "XPSSpeechEvaluationMetrics": {
      "id": "XPSSpeechEvaluationMetrics",
      "type": "object",
      "properties": {
        "subModelEvaluationMetrics": {
          "description": "Evaluation metrics for all submodels contained in this model.",
          "type": "array",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          }
        }
      }
    },
    "XPSStringStatsUnigramStats": {
      "id": "XPSStringStatsUnigramStats",
      "properties": {
        "value": {
          "type": "string",
          "description": "The unigram."
        },
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this unigram in the series.",
          "type": "string"
        }
      },
      "description": "The statistics of a unigram.",
      "type": "object"
    },
    "XPSTextSentimentEvaluationMetrics": {
      "properties": {
        "meanSquaredError": {
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision.",
          "type": "number"
        },
        "meanAbsoluteError": {
          "type": "number",
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "format": "float"
        },
        "linearKappa": {
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "description": "Output only. Precision.",
          "type": "number",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "recall": {
          "format": "float",
          "description": "Output only. Recall.",
          "type": "number"
        },
        "quadraticKappa": {
          "format": "float",
          "type": "number",
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        }
      },
      "id": "XPSTextSentimentEvaluationMetrics",
      "description": "Model evaluation metrics for text sentiment problems.",
      "type": "object"
    },
    "XPSTextToSpeechTrainResponse": {
      "type": "object",
      "properties": {},
      "description": "TextToSpeech train response",
      "id": "XPSTextToSpeechTrainResponse"
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "type": "object",
      "properties": {
        "boundingBoxMeanAveragePrecision": {
          "type": "number",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "format": "float"
        },
        "evaluatedBoundingBoxCount": {
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "type": "array",
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair."
        }
      }
    },
    "XPSTextExtractionEvaluationMetrics": {
      "properties": {
        "bestF1ConfidenceMetrics": {
          "$ref": "XPSConfidenceMetricsEntry",
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "deprecated": true
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "confidenceMetricsEntries": {
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label.",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array"
        },
        "perLabelConfidenceMetrics": {
          "deprecated": true,
          "description": "Only recall, precision, and f1_score will be set.",
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "XPSTextExtractionEvaluationMetrics"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "id": "XPSEdgeTpuTfLiteFormat",
      "type": "object",
      "properties": {}
    },
    "XPSColumnSpec": {
      "type": "object",
      "properties": {
        "topCorrelatedColumns": {
          "type": "array",
          "description": "It's outputed in RefreshTablesStats, and a required input in Train.",
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          }
        },
        "columnId": {
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE.",
          "type": "integer",
          "format": "int32"
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train."
        },
        "dataType": {
          "$ref": "XPSDataType",
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train."
        }
      },
      "id": "XPSColumnSpec"
    },
    "XPSModelArtifactItem": {
      "type": "object",
      "id": "XPSModelArtifactItem",
      "description": "A single model artifact item.",
      "properties": {
        "artifactFormat": {
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ],
          "description": "The model artifact format."
        },
        "gcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI that stores the model binary files."
        }
      }
    },
    "XPSCategoryStats": {
      "description": "The data statistics of a series of CATEGORY values.",
      "type": "object",
      "id": "XPSCategoryStats",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "topCategoryStats": {
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          },
          "type": "array",
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count."
        }
      }
    },
    "XPSTuningTrial": {
      "id": "XPSTuningTrial",
      "type": "object",
      "properties": {
        "trainingObjectivePoint": {
          "description": "The optimization objective evaluation of the eval split data.",
          "$ref": "XPSTrainingObjectivePoint"
        },
        "modelStructure": {
          "description": "Model parameters for the trial.",
          "$ref": "XPSTablesModelStructure"
        }
      },
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users."
    },
    "ClassifyTextRequest": {
      "description": "The document classification request message.",
      "type": "object",
      "id": "ClassifyTextRequest",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      }
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "properties": {
        "boundingBoxIou": {
          "format": "float",
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold).",
          "type": "number"
        },
        "trackingPrecision": {
          "description": "Output only. Tracking precision.",
          "format": "float",
          "type": "number"
        },
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "format": "float",
          "type": "number"
        },
        "mismatchRate": {
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics."
        }
      },
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "type": "object"
    },
    "XPSPreprocessResponse": {
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        }
      },
      "id": "XPSPreprocessResponse"
    },
    "XPSFileSpec": {
      "type": "object",
      "properties": {
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        },
        "singleFilePath": {
          "deprecated": true,
          "description": "Deprecated. Use file_spec.",
          "type": "string"
        },
        "fileFormat": {
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "directoryPath": {
          "description": "Deprecated. Use file_spec.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "id": "XPSFileSpec"
    },
    "XPSVisionTrainingOperationMetadata": {
      "deprecated": true,
      "properties": {
        "explanationUsage": {
          "$ref": "InfraUsage",
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request."
        }
      },
      "type": "object",
      "id": "XPSVisionTrainingOperationMetadata"
    },
    "XPSSpeechPreprocessResponse": {
      "properties": {
        "speechPreprocessStats": {
          "description": "Stats associated with the data.",
          "$ref": "XPSSpeechPreprocessStats"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "XPSSpeechPreprocessResponse"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "id": "XPSTablesConfidenceMetricsEntry",
      "properties": {
        "falsePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "False positive count."
        },
        "falseNegativeCount": {
          "format": "int64",
          "description": "False negative count.",
          "type": "string"
        },
        "truePositiveCount": {
          "type": "string",
          "description": "True positive count.",
          "format": "int64"
        },
        "trueNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "True negative count."
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "double",
          "type": "number"
        },
        "recall": {
          "description": "Recall = #true positives / (#true positives + #false negatives).",
          "format": "double",
          "type": "number"
        },
        "truePositiveRate": {
          "type": "number",
          "format": "double",
          "description": "TPR = #true positives / (#true positives + #false negatvies)"
        },
        "falsePositiveRate": {
          "format": "double",
          "description": "FPR = #false positives / (#false positives + #true negatives)",
          "type": "number"
        },
        "precision": {
          "type": "number",
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "format": "double"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Metrics for a single confidence threshold.",
      "type": "object"
    },
    "Color": {
      "properties": {
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "id": "Color"
    },
    "XPSTranslationEvaluationMetrics": {
      "properties": {
        "bleuScore": {
          "type": "number",
          "format": "double",
          "description": "BLEU score."
        },
        "baseBleuScore": {
          "type": "number",
          "description": "BLEU score for base model.",
          "format": "double"
        }
      },
      "description": "Evaluation metrics for the dataset.",
      "type": "object",
      "id": "XPSTranslationEvaluationMetrics"
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "type": "object",
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10.",
      "properties": {
        "trackMeanBoundingBoxIou": {
          "format": "float",
          "type": "number",
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries."
        },
        "boundingBoxMetricsEntries": {
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        },
        "trackMeanAveragePrecision": {
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "evaluatedFrameCount": {
          "type": "integer",
          "description": "The number of video frames used for model evaluation.",
          "format": "int32"
        },
        "trackMeanMismatchRate": {
          "format": "float",
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries.",
          "type": "number"
        },
        "evaluatedTrackCount": {
          "type": "integer",
          "description": "The number of tracks used for model evaluation.",
          "format": "int32"
        },
        "trackMetricsEntries": {
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          }
        },
        "evaluatedBoundingboxCount": {
          "description": "The number of bounding boxes used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number"
        }
      }
    },
    "AnalyzeSentimentRequest": {
      "description": "The sentiment analysis request message.",
      "type": "object",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate sentence offsets."
        }
      },
      "id": "AnalyzeSentimentRequest"
    },
    "XPSExportModelOutputConfig": {
      "id": "XPSExportModelOutputConfig",
      "properties": {
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "outputGcrUri": {
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER.",
          "type": "string"
        },
        "outputGcsUri": {
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory",
          "type": "string"
        },
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        },
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "exportFirebaseAuxiliaryInfo": {
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "description": "The statistics of a single CATEGORY value.",
      "type": "object",
      "id": "XPSCategoryStatsSingleCategoryStats",
      "properties": {
        "count": {
          "type": "string",
          "description": "The number of occurrences of this value in the series.",
          "format": "int64"
        },
        "value": {
          "description": "The CATEGORY value.",
          "type": "string"
        }
      }
    },
    "DiskMetric": {
      "type": "object",
      "id": "DiskMetric",
      "properties": {
        "diskType": {
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ],
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gibSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of physical disk usage, e.g. 3600."
        }
      }
    },
    "XPSImageClassificationTrainResponse": {
      "type": "object",
      "properties": {
        "trainCostInNodeTime": {
          "format": "google-duration",
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "type": "string"
        },
        "stopReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'."
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests."
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "type": "string"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        }
      },
      "id": "XPSImageClassificationTrainResponse"
    },
    "XPSColumnSpecCorrelatedColumn": {
      "type": "object",
      "id": "XPSColumnSpecCorrelatedColumn",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "properties": {
        "columnId": {
          "format": "int32",
          "type": "integer"
        },
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        }
      }
    },
    "GpuMetric": {
      "type": "object",
      "properties": {
        "gpuSec": {
          "description": "Required. Seconds of GPU usage, e.g. 3600.",
          "format": "int64",
          "type": "string"
        },
        "gpuType": {
          "type": "string",
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ],
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        },
        "machineSpec": {
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "type": "string",
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GpuMetric"
    },
    "Sentiment": {
      "type": "object",
      "id": "Sentiment",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "XPSReportingMetrics": {
      "properties": {
        "metricEntries": {
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "items": {
            "$ref": "XPSMetricEntry"
          },
          "type": "array"
        },
        "effectiveTrainingDuration": {
          "type": "string",
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "deprecated": true,
          "format": "google-duration"
        }
      },
      "id": "XPSReportingMetrics",
      "type": "object"
    },
    "XPSEvaluationMetrics": {
      "properties": {
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "type": "string",
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead."
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "category": {
          "format": "int32",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "type": "integer"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "label": {
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation.",
          "type": "string"
        },
        "evaluatedExampleCount": {
          "description": "The number of examples used to create this evaluation metrics instance.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "type": "object",
      "id": "XPSEvaluationMetrics"
    },
    "XPSMetricEntryLabel": {
      "properties": {
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        },
        "labelValue": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "id": "XPSMetricEntryLabel",
      "type": "object"
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "properties": {
        "confidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "description": "Precision for the given confidence threshold.",
          "format": "float"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Recall for the given confidence threshold."
        }
      },
      "description": "Metrics for a single confidence threshold.",
      "type": "object",
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "type": "object",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "precisionWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
        },
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The Evaluation metrics entry given a specific precision_window_length."
    },
    "XPSXraiAttribution": {
      "type": "object",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE).",
      "deprecated": true,
      "id": "XPSXraiAttribution"
    },
    "XPSStructType": {
      "properties": {
        "fields": {
          "type": "object",
          "description": "Unordered map of struct field names to their data types.",
          "additionalProperties": {
            "$ref": "XPSDataType"
          }
        }
      },
      "type": "object",
      "description": "`StructType` defines the DataType-s of a STRUCT type.",
      "id": "XPSStructType"
    },
    "XPSConfusionMatrixRow": {
      "id": "XPSConfusionMatrixRow",
      "type": "object",
      "description": "A row in the confusion matrix.",
      "properties": {
        "count": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "type": "array"
        },
        "exampleCount": {
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      }
    },
    "XPSCommonStats": {
      "type": "object",
      "properties": {
        "nullValueCount": {
          "format": "int64",
          "type": "string"
        },
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "validValueCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSCommonStats",
      "description": "Common statistics for a column with a specified data type."
    },
    "XPSImageModelServingSpec": {
      "type": "object",
      "description": "Serving specification for image models.",
      "id": "XPSImageModelServingSpec",
      "properties": {
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "nodeQps": {
          "type": "number",
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "format": "double"
        },
        "modelThroughputEstimation": {
          "type": "array",
          "description": "Populate under uCAIP request scope.",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          }
        }
      }
    },
    "XPSCorrelationStats": {
      "id": "XPSCorrelationStats",
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "type": "object",
      "properties": {
        "cramersV": {
          "type": "number",
          "format": "double",
          "description": "The correlation value using the Cramer's V measure."
        }
      }
    },
    "XPSTimestampStatsGranularStats": {
      "properties": {
        "buckets": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May).",
          "type": "object"
        }
      },
      "type": "object",
      "id": "XPSTimestampStatsGranularStats",
      "description": "Stats split by a defined in context granularity."
    },
    "XPSTablesClassificationMetrics": {
      "id": "XPSTablesClassificationMetrics",
      "description": "Metrics for Tables classification problems.",
      "properties": {
        "curveMetrics": {
          "description": "Metrics building a curve.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          }
        }
      },
      "type": "object"
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "recall": {
          "format": "float",
          "description": "Output only. Recall for the given confidence threshold.",
          "type": "number"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "format": "float",
          "description": "Output only. Precision for the given confidence threshold.",
          "type": "number"
        },
        "f1Score": {
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "XPSTextComponentModel": {
      "description": "Component model.",
      "id": "XPSTextComponentModel",
      "properties": {
        "onlinePredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold online prediction model.",
          "type": "string"
        },
        "partition": {
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string",
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ]
        },
        "batchPredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold batch prediction model."
        },
        "submodelName": {
          "description": "The name of the trained NL submodel.",
          "type": "string"
        },
        "submodelType": {
          "description": "The type of trained NL submodel",
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ]
        },
        "servingArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API."
        },
        "servoModelName": {
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        },
        "versionNumber": {
          "format": "int64",
          "type": "string",
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest."
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "id": "XPSVideoActionRecognitionTrainResponse",
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      }
    },
    "AnalyzeEntitiesResponse": {
      "id": "AnalyzeEntitiesResponse",
      "properties": {
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "The recognized entities in the input document."
        }
      },
      "type": "object",
      "description": "The entity analysis response message."
    },
    "XPSRegressionMetricsEntry": {
      "description": "A pair of actual & observed values for the model being evaluated.",
      "id": "XPSRegressionMetricsEntry",
      "properties": {
        "trueValue": {
          "type": "number",
          "description": "The actual target value for a row in the dataset.",
          "format": "float"
        },
        "predictedValue": {
          "type": "number",
          "format": "float",
          "description": "The observed value for a row in the dataset."
        }
      },
      "type": "object"
    },
    "XPSTrackMetricsEntry": {
      "id": "XPSTrackMetricsEntry",
      "type": "object",
      "properties": {
        "meanMismatchRate": {
          "description": "Output only. The mean mismatch rate over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          }
        },
        "meanTrackingAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "Output only. The mean average precision over all confidence thresholds."
        },
        "iouThreshold": {
          "type": "number",
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry.",
          "format": "float"
        },
        "meanBoundingBoxIou": {
          "format": "float",
          "type": "number",
          "description": "Output only. The mean bounding box iou over all confidence thresholds."
        }
      },
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6."
    },
    "Sentence": {
      "type": "object",
      "description": "Represents a sentence in the input document.",
      "properties": {
        "sentiment": {
          "$ref": "Sentiment",
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence."
        },
        "text": {
          "$ref": "TextSpan",
          "description": "The sentence text."
        }
      },
      "id": "Sentence"
    },
    "RamMetric": {
      "id": "RamMetric",
      "type": "object",
      "properties": {
        "gibSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition."
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
[...]
