{
  "rootUrl": "https://libraryagent.googleapis.com/",
  "name": "libraryagent",
  "id": "libraryagent:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/docs/quota",
  "title": "Library Agent API",
  "version_module": true,
  "ownerName": "Google",
  "basePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "description": "A simple Google Example Library API.",
  "batchPath": "batch",
  "revision": "20260823",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "borrow": {
              "id": "libraryagent.shelves.books.borrow",
              "httpMethod": "POST",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}:borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              }
            },
            "get": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "id": "libraryagent.shelves.books.get",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/books",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              }
            },
            "return": {
              "path": "v1/{+name}:return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "httpMethod": "POST",
              "id": "libraryagent.shelves.books.return",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the book to return."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "id": "libraryagent.shelves.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer"
            }
          },
          "flatPath": "v1/shelves",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list."
        },
        "get": {
          "flatPath": "v1/shelves/{shelvesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.get",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^shelves/[^/]+$",
              "type": "string",
              "description": "Required. The name of the shelf to retrieve.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "schemas": {
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "type": "object",
      "properties": {
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for LibraryAgent.ListBooks.",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse"
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Shelf"
    },
    "GoogleExampleLibraryagentV1Book": {
      "type": "object",
      "description": "A single book in the library.",
      "properties": {
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        },
        "author": {
          "type": "string",
          "description": "The name of the book author."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        }
      },
      "id": "GoogleExampleLibraryagentV1Book"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "type": "object",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        }
      },
      "description": "Response message for LibraryAgent.ListShelves."
    }
  },
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Libraryagent",
  "baseUrl": "https://libraryagent.googleapis.com/"
}