{
  "description": "A simple Google Example Library API.",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "version": "v1",
  "canonicalName": "Libraryagent",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "name": "libraryagent",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "id": "GoogleExampleLibraryagentV1Book",
      "type": "object",
      "properties": {
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        }
      },
      "description": "A single book in the library."
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "properties": {
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        }
      },
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Shelf"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "properties": {
        "books": {
          "description": "The list of books.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "properties": {
        "shelves": {
          "type": "array",
          "description": "The list of shelves.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for LibraryAgent.ListShelves.",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "type": "object"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "revision": "20260920",
  "servicePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "title": "Library Agent API",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "libraryagent:v1",
  "resources": {
    "shelves": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "libraryagent.shelves.get",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "flatPath": "v1/shelves/{shelvesId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the shelf to retrieve.",
              "pattern": "^shelves/[^/]+$",
              "required": true
            }
          }
        },
        "list": {
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "libraryagent.shelves.list",
          "httpMethod": "GET",
          "path": "v1/shelves",
          "flatPath": "v1/shelves",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "flatPath": "v1/shelves/{shelvesId}/books",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+$"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/books",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "id": "libraryagent.shelves.books.list"
            },
            "get": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "id": "libraryagent.shelves.books.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to retrieve.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "path": "v1/{+name}",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}"
            },
            "borrow": {
              "id": "libraryagent.shelves.books.borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST",
              "path": "v1/{+name}:borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the book to borrow.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "return": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "id": "libraryagent.shelves.books.return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return.",
                  "required": true
                }
              },
              "path": "v1/{+name}:return",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch"
}