{
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "libraryagent",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "libraryagent:v1",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "canonicalName": "Libraryagent",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "description": "A simple Google Example Library API.",
  "title": "Library Agent API",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "libraryagent.shelves.list",
          "parameters": {
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "location": "query"
            }
          },
          "path": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/shelves"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "id": "libraryagent.shelves.get",
          "flatPath": "v1/shelves/{shelvesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "pattern": "^shelves/[^/]+$",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "libraryagent.shelves.books.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/books",
              "flatPath": "v1/shelves/{shelvesId}/books"
            },
            "return": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "path": "v1/{+name}:return"
            },
            "borrow": {
              "id": "libraryagent.shelves.books.borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "path": "v1/{+name}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "id": "libraryagent.shelves.books.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the book to retrieve."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260830",
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "id": "GoogleExampleLibraryagentV1Book",
      "type": "object",
      "properties": {
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "author": {
          "type": "string",
          "description": "The name of the book author."
        }
      },
      "description": "A single book in the library."
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "type": "array",
          "description": "The list of books.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        }
      },
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "properties": {
        "shelves": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "The list of shelves."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        }
      }
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "type": "object",
      "description": "A Shelf contains a collection of books with a theme.",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}