{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Library Agent API",
  "id": "libraryagent:v1",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "revision": "20261004",
  "description": "A simple Google Example Library API.",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "author": {
          "type": "string",
          "description": "The name of the book author."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object",
      "properties": {
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "properties": {
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        },
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Shelf contains a collection of books with a theme.",
      "id": "GoogleExampleLibraryagentV1Shelf"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "type": "object",
      "description": "Response message for LibraryAgent.ListShelves.",
      "properties": {
        "shelves": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "type": "array",
          "description": "The list of shelves."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to retrieve.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "id": "libraryagent.shelves.books.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              }
            },
            "borrow": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the book to borrow.",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "path": "v1/{+name}:borrow",
              "httpMethod": "POST",
              "id": "libraryagent.shelves.books.borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow"
            },
            "return": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:return",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "id": "libraryagent.shelves.books.return",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to return.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before."
            },
            "list": {
              "path": "v1/{+parent}/books",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books",
              "id": "libraryagent.shelves.books.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^shelves/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path"
                }
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist."
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^shelves/[^/]+$",
              "location": "path",
              "description": "Required. The name of the shelf to retrieve.",
              "type": "string",
              "required": true
            }
          },
          "id": "libraryagent.shelves.get",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/shelves/{shelvesId}",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist."
        },
        "list": {
          "id": "libraryagent.shelves.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "flatPath": "v1/shelves",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default."
            }
          },
          "path": "v1/shelves"
        }
      }
    }
  },
  "name": "libraryagent",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "canonicalName": "Libraryagent",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "basePath": "",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "version_module": true
}