{
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "id": "libraryagent:v1",
  "batchPath": "batch",
  "basePath": "",
  "version_module": true,
  "canonicalName": "Libraryagent",
  "revision": "20260928",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "properties": {
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "The name of the book author."
        },
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        }
      },
      "description": "A single book in the library.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Book"
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "type": "object",
      "description": "A Shelf contains a collection of books with a theme.",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "properties": {
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "description": "Response message for LibraryAgent.ListBooks.",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "type": "array",
          "description": "The list of books.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "title": "Library Agent API",
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "borrow": {
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path"
                }
              },
              "id": "libraryagent.shelves.books.borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "httpMethod": "POST",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:borrow",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1/shelves/{shelvesId}/books",
              "id": "libraryagent.shelves.books.list",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default."
                },
                "parent": {
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "required": true,
                  "pattern": "^shelves/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                }
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/books"
            },
            "return": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:return",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the book to return.",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "id": "libraryagent.shelves.books.return"
            },
            "get": {
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the book to retrieve."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.get",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}"
            }
          }
        }
      },
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "path": "v1/shelves",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "id": "libraryagent.shelves.list",
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1/shelves/{shelvesId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the shelf to retrieve.",
              "type": "string",
              "required": true,
              "pattern": "^shelves/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "id": "libraryagent.shelves.get"
        }
      }
    }
  },
  "baseUrl": "https://libraryagent.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/docs/quota",
  "name": "libraryagent",
  "ownerName": "Google",
  "version": "v1",
  "description": "A simple Google Example Library API.",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/"
}