{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "libraryagent",
  "ownerName": "Google",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "id": "libraryagent:v1",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "servicePath": "",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "description": "A single book in the library.",
      "id": "GoogleExampleLibraryagentV1Book",
      "type": "object",
      "properties": {
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        },
        "author": {
          "type": "string",
          "description": "The name of the book author."
        },
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object",
      "properties": {
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves."
    }
  },
  "version": "v1",
  "description": "A simple Google Example Library API.",
  "revision": "20260928",
  "canonicalName": "Libraryagent",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Library Agent API",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "flatPath": "v1/shelves",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "libraryagent.shelves.list",
          "path": "v1/shelves"
        },
        "get": {
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "flatPath": "v1/shelves/{shelvesId}",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^shelves/[^/]+$",
              "location": "path",
              "description": "Required. The name of the shelf to retrieve."
            }
          },
          "id": "libraryagent.shelves.get"
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "httpMethod": "GET",
              "id": "libraryagent.shelves.books.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                },
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1/{+parent}/books"
            },
            "borrow": {
              "id": "libraryagent.shelves.books.borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "httpMethod": "POST",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to borrow.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:borrow"
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "id": "libraryagent.shelves.books.get",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              }
            },
            "return": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the book to return.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "id": "libraryagent.shelves.books.return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "path": "v1/{+name}:return",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://libraryagent.googleapis.com/"
}