{
  "rootUrl": "https://libraryagent.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/books",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default."
                },
                "parent": {
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+$"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "id": "libraryagent.shelves.books.list",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              }
            },
            "get": {
              "id": "libraryagent.shelves.books.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to retrieve.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              }
            },
            "return": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:return",
              "id": "libraryagent.shelves.books.return",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the book to return.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              }
            },
            "borrow": {
              "path": "v1/{+name}:borrow",
              "httpMethod": "POST",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "id": "libraryagent.shelves.books.borrow",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the book to borrow.",
                  "required": true
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "flatPath": "v1/shelves/{shelvesId}",
          "id": "libraryagent.shelves.get",
          "parameters": {
            "name": {
              "pattern": "^shelves/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the shelf to retrieve."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "parameterOrder": [],
          "id": "libraryagent.shelves.list",
          "flatPath": "v1/shelves",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query"
            },
            "pageSize": {
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1/shelves",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list."
        }
      }
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "name": "libraryagent",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results."
        },
        "books": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "description": "The list of books."
        }
      },
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "properties": {
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        },
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleExampleLibraryagentV1Book": {
      "description": "A single book in the library.",
      "type": "object",
      "properties": {
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        }
      },
      "id": "GoogleExampleLibraryagentV1Book"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "description": "Response message for LibraryAgent.ListShelves.",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Libraryagent",
  "description": "A simple Google Example Library API.",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "id": "libraryagent:v1",
  "servicePath": "",
  "version": "v1",
  "revision": "20260906",
  "title": "Library Agent API",
  "baseUrl": "https://libraryagent.googleapis.com/"
}