{
  "documentationLink": "https://cloud.google.com/docs/quota",
  "kind": "discovery#restDescription",
  "title": "Library Agent API",
  "ownerName": "Google",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260913",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "rootUrl": "https://libraryagent.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "name": "libraryagent",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "id": "libraryagent:v1",
  "version_module": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "schemas": {
    "GoogleExampleLibraryagentV1Shelf": {
      "properties": {
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        }
      },
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Shelf"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "type": "object",
      "properties": {
        "books": {
          "description": "The list of books.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1Book": {
      "id": "GoogleExampleLibraryagentV1Book",
      "properties": {
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        }
      },
      "description": "A single book in the library.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        },
        "shelves": {
          "type": "array",
          "description": "The list of shelves.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      },
      "description": "Response message for LibraryAgent.ListShelves.",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse"
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "v1/shelves",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "id": "libraryagent.shelves.list",
          "parameters": {
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default."
            }
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^shelves/[^/]+$",
              "description": "Required. The name of the shelf to retrieve.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "libraryagent.shelves.get",
          "flatPath": "v1/shelves/{shelvesId}",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      },
      "resources": {
        "books": {
          "methods": {
            "return": {
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:return",
              "id": "libraryagent.shelves.books.return",
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "id": "libraryagent.shelves.books.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/books",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "required": true,
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.get"
            },
            "borrow": {
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to borrow.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}:borrow",
              "id": "libraryagent.shelves.books.borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "description": "A simple Google Example Library API.",
  "canonicalName": "Libraryagent"
}