{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/workspace/admin/licensing/",
  "discoveryVersion": "v1",
  "id": "licensing:v1",
  "title": "Enterprise License Manager API",
  "baseUrl": "https://licensing.googleapis.com/",
  "description": "The Google Enterprise License Manager API lets you manage Google Workspace and related licenses for all users of a customer that you manage.",
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://licensing.googleapis.com/",
  "schemas": {
    "LicenseAssignmentList": {
      "id": "LicenseAssignmentList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of LicenseAssignments.",
          "type": "string",
          "default": "licensing#licenseAssignmentList"
        },
        "items": {
          "type": "array",
          "description": "The LicenseAssignments in this page of results.",
          "items": {
            "$ref": "LicenseAssignment"
          }
        },
        "nextPageToken": {
          "description": "The token that you must submit in a subsequent request to retrieve additional license results matching your query parameters. The `maxResults` query string is related to the `nextPageToken` since `maxResults` determines how many entries are returned on each next page.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "LicenseAssignment": {
      "properties": {
        "productName": {
          "type": "string",
          "description": "Display Name of the product."
        },
        "skuId": {
          "type": "string",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
        },
        "userId": {
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a `userId` is subject to change, do not use a `userId` value as a key for persistent data. This key could break if the current user's email address changes. If the `userId` is suspended, the license status changes.",
          "type": "string"
        },
        "productId": {
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "description": "A product's unique identifier. For more information about products in this version of the API, see Product and SKU IDs.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a LicenseAssignment, which is `licensing#licenseAssignment`.",
          "default": "licensing#licenseAssignment"
        },
        "skuName": {
          "type": "string",
          "description": "Display Name of the sku of the product."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        }
      },
      "description": "Representation of a license assignment.",
      "type": "object",
      "id": "LicenseAssignment"
    },
    "LicenseAssignmentInsert": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "Email id of the user",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.insert"
            ]
          }
        }
      },
      "type": "object",
      "id": "LicenseAssignmentInsert",
      "description": "Representation of a license assignment."
    }
  },
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "revision": "20260914",
  "mtlsRootUrl": "https://licensing.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "licenseAssignments": {
      "methods": {
        "insert": {
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "parameters": {
            "skuId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            }
          },
          "description": "Assign a license.",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "LicenseAssignmentInsert"
          },
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "id": "licensing.licenseAssignments.insert",
          "parameterOrder": [
            "productId",
            "skuId"
          ]
        },
        "listForProduct": {
          "parameterOrder": [
            "productId",
            "customerId"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/users",
          "httpMethod": "GET",
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "path": "apps/licensing/v1/product/{productId}/users",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The customer's unique ID as defined in the Admin console, such as `C00000000`. If the customer is suspended, the server returns an error."
            },
            "maxResults": {
              "maximum": "1000",
              "format": "uint32",
              "default": "100",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "The `maxResults` query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number."
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            },
            "pageToken": {
              "description": "Token to fetch the next page of data. The `maxResults` query string is related to the `pageToken` since `maxResults` determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "type": "string",
              "default": "",
              "location": "query"
            }
          },
          "id": "licensing.licenseAssignments.listForProduct",
          "description": "List all users assigned licenses for a specific product SKU."
        },
        "listForProductAndSku": {
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "description": "List all users assigned licenses for a specific product SKU.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "httpMethod": "GET",
          "parameters": {
            "skuId": {
              "location": "path",
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "default": "",
              "description": "Token to fetch the next page of data. The `maxResults` query string is related to the `pageToken` since `maxResults` determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "location": "query"
            },
            "customerId": {
              "description": "The customer's unique ID as defined in the Admin console, such as `C00000000`. If the customer is suspended, the server returns an error.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "type": "integer",
              "location": "query",
              "maximum": "1000",
              "description": "The `maxResults` query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "minimum": "1",
              "format": "uint32"
            },
            "productId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            }
          },
          "id": "licensing.licenseAssignments.listForProductAndSku",
          "parameterOrder": [
            "productId",
            "skuId",
            "customerId"
          ],
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/users"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "licensing.licenseAssignments.delete",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "description": "Revoke a license.",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "parameters": {
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            },
            "userId": {
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a `userId` is subject to change, do not use a `userId` value as a key for persistent data. This key could break if the current user's email address changes. If the `userId` is suspended, the license status changes.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "skuId": {
              "location": "path",
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ]
        },
        "update": {
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "description": "Reassign a user's product SKU with a different SKU in the same product.",
          "id": "licensing.licenseAssignments.update",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "request": {
            "$ref": "LicenseAssignment"
          },
          "response": {
            "$ref": "LicenseAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "parameters": {
            "skuId": {
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "productId": {
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "location": "path",
              "required": true
            },
            "userId": {
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a `userId` is subject to change, do not use a `userId` value as a key for persistent data. This key could break if the current user's email address changes. If the `userId` is suspended, the license status changes.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "type": "string",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a `userId` is subject to change, do not use a `userId` value as a key for persistent data. This key could break if the current user's email address changes. If the `userId` is suspended, the license status changes.",
              "location": "path",
              "required": true
            },
            "skuId": {
              "location": "path",
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LicenseAssignment"
          },
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "id": "licensing.licenseAssignments.patch",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "description": "Reassign a user's product SKU with a different SKU in the same product. This method supports patch semantics."
        },
        "get": {
          "parameters": {
            "skuId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            },
            "productId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            },
            "userId": {
              "type": "string",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a `userId` is subject to change, do not use a `userId` value as a key for persistent data. This key could break if the current user's email address changes. If the `userId` is suspended, the license status changes.",
              "location": "path",
              "required": true
            }
          },
          "id": "licensing.licenseAssignments.get",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "response": {
            "$ref": "LicenseAssignment"
          },
          "description": "Get a specific user's license by product SKU.",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "name": "licensing",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.licensing": {
          "description": "View and manage Google Workspace licenses for your domain"
        }
      }
    }
  }
}