{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "localservices:v1",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1",
  "basePath": "",
  "title": "Local Services API",
  "protocol": "rest",
  "revision": "20260826",
  "ownerDomain": "google.com",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "kind": "discovery#restDescription",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "rootUrl": "https://localservices.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "properties": {
        "chargedConnectedCallDurationSeconds": {
          "description": "Duration of the charged phone call in seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "chargedCallTimestamp": {
          "type": "string",
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        }
      },
      "type": "object",
      "description": "Container for phone lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object",
      "properties": {
        "phoneLeadResponsiveness": {
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number",
          "format": "double"
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        },
        "averageFiveStarRating": {
          "format": "double",
          "description": "Average review rating score from 1-5 stars.",
          "type": "number"
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "impressionsLastTwoDays": {
          "format": "int64",
          "type": "string",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "averageWeeklyBudget": {
          "type": "number",
          "format": "double",
          "description": "Average weekly budget in the currency code of the account."
        },
        "accountId": {
          "format": "int64",
          "description": "Unique identifier of the GLS account.",
          "type": "string"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string",
          "format": "int64"
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "totalReview": {
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "properties": {
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "chargeStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged.",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "type": "string"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "leadCreationTimestamp": {
          "description": "Timestamp of when the lead was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Identifies account that received the lead."
        },
        "leadId": {
          "format": "int64",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report.",
          "type": "string"
        },
        "geo": {
          "type": "string",
          "description": "Location of the associated account's home city."
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "businessName": {
          "type": "string",
          "description": "Business name associated to the account."
        },
        "googleAdsLeadId": {
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64",
          "type": "string"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadPrice": {
          "format": "double",
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number"
        },
        "leadType": {
          "description": "Lead type.",
          "type": "string",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ]
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "properties": {
        "bookingAppointmentTimestamp": {
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime"
        },
        "consumerEmail": {
          "type": "string",
          "description": "Consumer email associated with the booking lead."
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        }
      },
      "description": "Container for booking lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "properties": {
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "properties": {
        "aggregatorProviderId": {
          "type": "string",
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system."
        }
      },
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "description": "Container for message lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "detailedLeadReports": {
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object"
    }
  },
  "name": "localservices",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "baseUrl": "https://localservices.googleapis.com/",
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "flatPath": "v1/accountReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "path": "v1/accountReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "type": "string",
              "location": "query"
            },
            "endDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "startDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "startDate.month": {
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string"
            },
            "startDate.year": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            }
          },
          "id": "localservices.accountReports.search"
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "flatPath": "v1/detailedLeadReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "path": "v1/detailedLeadReports:search",
          "id": "localservices.detailedLeadReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "startDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "type": "string"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Localservices",
  "batchPath": "batch"
}