{
  "canonicalName": "Localservices",
  "ownerName": "Google",
  "revision": "20260917",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "path": "v1/detailedLeadReports:search",
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "id": "localservices.detailedLeadReports.search",
          "parameters": {
            "startDate.year": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "startDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "location": "query"
            },
            "endDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            },
            "endDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            },
            "startDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ]
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "path": "v1/accountReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameterOrder": [],
          "id": "localservices.accountReports.search",
          "parameters": {
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "location": "query",
              "type": "string"
            },
            "endDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "startDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "startDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "endDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/accountReports:search",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET"
        }
      }
    }
  },
  "version": "v1",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "localservices",
  "id": "localservices:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "version_module": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "type": "object",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        }
      },
      "type": "object",
      "description": "Container for message lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "type": "object",
      "description": "Container for booking lead specific information.",
      "properties": {
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "format": "google-datetime",
          "description": "Timestamp of when service is provided by advertiser.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "type": "object",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        },
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "description": "Duration of the charged phone call in seconds.",
          "format": "google-duration"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "description": "Container for phone lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "properties": {
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "averageWeeklyBudget": {
          "format": "double",
          "type": "number",
          "description": "Average weekly budget in the currency code of the account."
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "averageFiveStarRating": {
          "description": "Average review rating score from 1-5 stars.",
          "type": "number",
          "format": "double"
        },
        "totalReview": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of reviews the account has up to current date."
        },
        "impressionsLastTwoDays": {
          "description": "Number of impressions that customers have had in the past 2 days.",
          "format": "int64",
          "type": "string"
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number"
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string",
          "format": "int64"
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "currentPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        }
      },
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "type": "object",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "chargeStatus": {
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "leadCreationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the lead was created."
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "leadPrice": {
          "format": "double",
          "type": "number",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "leadId": {
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report.",
          "format": "int64",
          "type": "string"
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "googleAdsLeadId": {
          "description": "Unique identifier of a Detailed Lead Report.",
          "type": "string",
          "format": "int64"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "accountId": {
          "type": "string",
          "description": "Identifies account that received the lead.",
          "format": "int64"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "description": "Lead type.",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        }
      }
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    }
  },
  "title": "Local Services API",
  "ownerDomain": "google.com",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://localservices.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://localservices.googleapis.com/"
}