{
  "version": "v1",
  "discoveryVersion": "v1",
  "id": "localservices:v1",
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1/accountReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameters": {
            "startDate.month": {
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "startDate.year": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            },
            "startDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "endDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "endDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            }
          },
          "flatPath": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ]
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameters": {
            "endDate.month": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "startDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "endDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "endDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "type": "string"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "location": "query",
              "type": "string"
            },
            "startDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            }
          },
          "id": "localservices.detailedLeadReports.search",
          "path": "v1/detailedLeadReports:search",
          "flatPath": "v1/detailedLeadReports:search"
        }
      }
    }
  },
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "baseUrl": "https://localservices.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "revision": "20260917",
  "name": "localservices",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "canonicalName": "Localservices",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "description": "Container for phone lead specific information.",
      "properties": {
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "description": "Duration of the charged phone call in seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "leadId": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "chargeStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged.",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "leadPrice": {
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number",
          "format": "double"
        },
        "disputeStatus": {
          "type": "string",
          "description": "Dispute status related to the lead."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Identifies account that received the lead."
        },
        "messageLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "description": "More information associated to only message leads."
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "googleAdsLeadId": {
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64",
          "type": "string"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "leadType": {
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ],
          "type": "string"
        },
        "leadCreationTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when the lead was created."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        },
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "type": "object",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "type": "object",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "properties": {
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "phoneLeadResponsiveness": {
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "format": "double",
          "type": "number"
        },
        "totalReview": {
          "format": "int32",
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer"
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        },
        "averageFiveStarRating": {
          "description": "Average review rating score from 1-5 stars.",
          "format": "double",
          "type": "number"
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "previousPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string",
          "format": "int64"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "impressionsLastTwoDays": {
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days.",
          "type": "string"
        },
        "previousPeriodChargedLeads": {
          "description": "Number of charged leads the account received in previous specified period.",
          "format": "int64",
          "type": "string"
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number"
        },
        "averageWeeklyBudget": {
          "format": "double",
          "description": "Average weekly budget in the currency code of the account.",
          "type": "number"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the account."
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "description": "Container for message lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "description": "Container for booking lead specific information.",
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "bookingAppointmentTimestamp": {
          "description": "Timestamp of when service is provided by advertiser.",
          "type": "string",
          "format": "google-datetime"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "consumerEmail": {
          "type": "string",
          "description": "Consumer email associated with the booking lead."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "title": "Local Services API",
  "ownerName": "Google",
  "rootUrl": "https://localservices.googleapis.com/",
  "description": ""
}