{
  "version_module": true,
  "id": "localservices:v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "title": "Local Services API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "version": "v1",
  "protocol": "rest",
  "basePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "id": "localservices.detailedLeadReports.search",
          "path": "v1/detailedLeadReports:search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameterOrder": [],
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "parameters": {
            "endDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "location": "query"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "endDate.year": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            }
          }
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameterOrder": [],
          "path": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "flatPath": "v1/accountReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET",
          "parameters": {
            "endDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "location": "query"
            },
            "endDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "startDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "location": "query"
            },
            "startDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "startDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "endDate.month": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://localservices.googleapis.com/",
  "name": "localservices",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "ownerDomain": "google.com",
  "revision": "20260826",
  "rootUrl": "https://localservices.googleapis.com/",
  "ownerName": "Google",
  "description": "",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "properties": {
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "businessName": {
          "type": "string",
          "description": "Business name associated to the account."
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "leadPrice": {
          "format": "double",
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number"
        },
        "googleAdsLeadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "leadId": {
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report.",
          "format": "int64",
          "type": "string"
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "accountId": {
          "format": "int64",
          "description": "Identifies account that received the lead.",
          "type": "string"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "leadCreationTimestamp": {
          "description": "Timestamp of when the lead was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "chargeStatus": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged.",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "leadType": {
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ],
          "description": "Lead type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ]
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "description": "Container for booking lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "properties": {
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when service is provided by advertiser."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        },
        "consumerEmail": {
          "type": "string",
          "description": "Consumer email associated with the booking lead."
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "object",
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        },
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "type": "string",
          "format": "google-datetime"
        },
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "description": "Duration of the charged phone call in seconds.",
          "format": "google-duration"
        }
      },
      "description": "Container for phone lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "description": "Container for message lead specific information.",
      "properties": {
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "properties": {
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the account."
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "accountId": {
          "description": "Unique identifier of the GLS account.",
          "format": "int64",
          "type": "string"
        },
        "currentPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period."
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "type": "number"
        },
        "previousPeriodChargedLeads": {
          "description": "Number of charged leads the account received in previous specified period.",
          "type": "string",
          "format": "int64"
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "averageWeeklyBudget": {
          "description": "Average weekly budget in the currency code of the account.",
          "format": "double",
          "type": "number"
        },
        "previousPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string",
          "format": "int64"
        },
        "totalReview": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of reviews the account has up to current date."
        },
        "previousPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "impressionsLastTwoDays": {
          "format": "int64",
          "type": "string",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "phoneLeadResponsiveness": {
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account."
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      }
    }
  },
  "canonicalName": "Localservices",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/"
}