{
  "ownerName": "Google",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://localservices.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260917",
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "flatPath": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "path": "v1/accountReports:search",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query"
            },
            "endDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            },
            "startDate.day": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "startDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "endDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "startDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "location": "query"
            },
            "endDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "path": "v1/detailedLeadReports:search",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "id": "localservices.detailedLeadReports.search",
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "parameters": {
            "startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "endDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required."
            },
            "endDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "startDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "startDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "id": "localservices:v1",
  "description": "",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "googleAdsLeadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "leadType": {
          "description": "Lead type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "chargeStatus": {
          "type": "string",
          "description": "Whether the lead has been charged.",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "geo": {
          "type": "string",
          "description": "Location of the associated account's home city."
        },
        "leadCreationTimestamp": {
          "type": "string",
          "description": "Timestamp of when the lead was created.",
          "format": "google-datetime"
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "leadPrice": {
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number",
          "format": "double"
        },
        "accountId": {
          "type": "string",
          "description": "Identifies account that received the lead.",
          "format": "int64"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "leadId": {
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "properties": {
        "aggregatorProviderId": {
          "type": "string",
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system."
        }
      },
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "properties": {
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array",
          "description": "List of account reports which maps 1:1 to a particular linked GLS account."
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "detailedLeadReports": {
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      },
      "type": "object",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object",
      "description": "Container for booking lead specific information.",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "bookingAppointmentTimestamp": {
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime",
          "type": "string"
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "properties": {
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "description": "Container for message lead specific information.",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object",
      "properties": {
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "previousPeriodTotalCost": {
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number",
          "format": "double"
        },
        "averageFiveStarRating": {
          "format": "double",
          "type": "number",
          "description": "Average review rating score from 1-5 stars."
        },
        "currentPeriodTotalCost": {
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "type": "number",
          "format": "double"
        },
        "phoneLeadResponsiveness": {
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "format": "double",
          "type": "number"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "previousPeriodConnectedPhoneCalls": {
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string"
        },
        "totalReview": {
          "format": "int32",
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer"
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "description": "Unique identifier of the GLS account.",
          "format": "int64",
          "type": "string"
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        },
        "currentPeriodPhoneCalls": {
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "format": "int64",
          "type": "string"
        },
        "impressionsLastTwoDays": {
          "description": "Number of impressions that customers have had in the past 2 days.",
          "type": "string",
          "format": "int64"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "description": "Number of charged leads the account received in previous specified period.",
          "format": "int64"
        },
        "averageWeeklyBudget": {
          "type": "number",
          "description": "Average weekly budget in the currency code of the account.",
          "format": "double"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "description": "Container for phone lead specific information.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "description": "Duration of the charged phone call in seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Local Services API",
  "rootUrl": "https://localservices.googleapis.com/",
  "name": "localservices",
  "version_module": true,
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "canonicalName": "Localservices",
  "ownerDomain": "google.com"
}