{
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "title": "Local Services API",
  "name": "localservices",
  "discoveryVersion": "v1",
  "version": "v1",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "path": "v1/detailedLeadReports:search",
          "id": "localservices.detailedLeadReports.search",
          "httpMethod": "GET",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "flatPath": "v1/detailedLeadReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameters": {
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "type": "string",
              "location": "query"
            },
            "startDate.day": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "startDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "endDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "endDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "type": "string",
              "location": "query"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          }
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "path": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "flatPath": "v1/accountReports:search",
          "httpMethod": "GET",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "startDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.month": {
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32",
              "location": "query"
            },
            "endDate.year": {
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "type": "string"
            },
            "startDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "location": "query",
              "type": "string"
            },
            "startDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "description": "",
  "baseUrl": "https://localservices.googleapis.com/",
  "schemas": {
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "properties": {
        "accountId": {
          "format": "int64",
          "description": "Identifies account that received the lead.",
          "type": "string"
        },
        "leadPrice": {
          "format": "double",
          "type": "number",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "chargeStatus": {
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged."
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "businessName": {
          "type": "string",
          "description": "Business name associated to the account."
        },
        "leadId": {
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report.",
          "type": "string",
          "format": "int64"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "googleAdsLeadId": {
          "type": "string",
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64"
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "leadType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "description": "Lead type.",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "leadCreationTimestamp": {
          "description": "Timestamp of when the lead was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        },
        "detailedLeadReports": {
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          }
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "description": "Container for phone lead specific information.",
      "properties": {
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "description": "Duration of the charged phone call in seconds.",
          "format": "google-duration"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        },
        "chargedCallTimestamp": {
          "format": "google-datetime",
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "properties": {
        "phoneLeadResponsiveness": {
          "format": "double",
          "type": "number",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received."
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "previousPeriodConnectedPhoneCalls": {
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string"
        },
        "totalReview": {
          "type": "integer",
          "description": "Total number of reviews the account has up to current date.",
          "format": "int32"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "accountId": {
          "format": "int64",
          "description": "Unique identifier of the GLS account.",
          "type": "string"
        },
        "previousPeriodChargedLeads": {
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period.",
          "type": "string"
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "format": "double"
        },
        "averageFiveStarRating": {
          "type": "number",
          "description": "Average review rating score from 1-5 stars.",
          "format": "double"
        },
        "currentPeriodPhoneCalls": {
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "format": "int64",
          "type": "string"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "averageWeeklyBudget": {
          "description": "Average weekly budget in the currency code of the account.",
          "format": "double",
          "type": "number"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the account."
        },
        "currentPeriodChargedLeads": {
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        },
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array",
          "description": "List of account reports which maps 1:1 to a particular linked GLS account."
        }
      },
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        }
      },
      "description": "Container for message lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object",
      "description": "Container for booking lead specific information.",
      "properties": {
        "consumerEmail": {
          "type": "string",
          "description": "Consumer email associated with the booking lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "rootUrl": "https://localservices.googleapis.com/",
  "revision": "20260917",
  "fullyEncodeReservedExpansion": true,
  "id": "localservices:v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "canonicalName": "Localservices"
}