{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "protocol": "rest",
  "revision": "20260917",
  "servicePath": "",
  "title": "Local Services API",
  "id": "localservices:v1",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds."
        },
        "chargedCallTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        }
      },
      "type": "object",
      "description": "Container for phone lead specific information."
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "googleAdsLeadId": {
          "description": "Unique identifier of a Detailed Lead Report.",
          "type": "string",
          "format": "int64"
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "chargeStatus": {
          "type": "string",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "description": "Whether the lead has been charged.",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ]
        },
        "leadCreationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the lead was created."
        },
        "disputeStatus": {
          "type": "string",
          "description": "Dispute status related to the lead."
        },
        "leadType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "description": "Lead type.",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "accountId": {
          "description": "Identifies account that received the lead.",
          "type": "string",
          "format": "int64"
        },
        "leadId": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "leadPrice": {
          "format": "double",
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number"
        },
        "geo": {
          "type": "string",
          "description": "Location of the associated account's home city."
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "properties": {
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "description": "Container for booking lead specific information.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "properties": {
        "bookingAppointmentTimestamp": {
          "format": "google-datetime",
          "description": "Timestamp of when service is provided by advertiser.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        }
      },
      "description": "Container for message lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "properties": {
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        },
        "accountId": {
          "description": "Unique identifier of the GLS account.",
          "format": "int64",
          "type": "string"
        },
        "totalReview": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of reviews the account has up to current date."
        },
        "previousPeriodConnectedPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "currentPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "currentPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period."
        },
        "previousPeriodTotalCost": {
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number",
          "format": "double"
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "averageWeeklyBudget": {
          "type": "number",
          "format": "double",
          "description": "Average weekly budget in the currency code of the account."
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "description": "Number of impressions that customers have had in the past 2 days.",
          "format": "int64"
        },
        "phoneLeadResponsiveness": {
          "type": "number",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "basePath": "",
  "name": "localservices",
  "rootUrl": "https://localservices.googleapis.com/",
  "description": "",
  "ownerName": "Google",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "baseUrl": "https://localservices.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "path": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "parameters": {
            "startDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            },
            "endDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            },
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            },
            "startDate.year": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "startDate.day": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "endDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "endDate.month": {
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET",
          "flatPath": "v1/accountReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ]
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "id": "localservices.detailedLeadReports.search",
          "path": "v1/detailedLeadReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameterOrder": [],
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "type": "string"
            },
            "endDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "startDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "startDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "flatPath": "v1/detailedLeadReports:search"
        }
      }
    }
  },
  "canonicalName": "Localservices",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  }
}