{
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://logging.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "FilterExpression": {
      "id": "FilterExpression",
      "description": "This is a leaf of the FilterPredicate. Ex: { field: json_payload.message.error_code, filter_value: {numeric_value: 400}, comparator: EQUAL_TO} The field will be schema field that is selected using the . annotation to display the drill down value. The value will be the user inputted text that the filter is comparing against.",
      "type": "object",
      "properties": {
        "isNegation": {
          "type": "boolean",
          "description": "Determines if the NOT flag should be added to the comparator."
        },
        "fieldSource": {
          "description": "Can be one of the FieldSource types: field name, alias ref, variable ref, or a literal value.",
          "$ref": "FieldSource"
        },
        "comparator": {
          "enumDescriptions": [
            "Invalid value, do not use.",
            "The value is equal to the inputted value.",
            "The value is equal to the inputted regex value.",
            "The value is greater than the inputted value.",
            "The value is less than the inputted value.",
            "The value is greater than or equal to the inputted value.",
            "The value is less than or equal to the inputted value.",
            "Requires the filter_value to be a Value type with null_value set to true.",
            "The value is in the inputted array value.",
            "The value is like the inputted value."
          ],
          "type": "string",
          "description": "The comparison type to use for the filter.",
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "EQUALS",
            "MATCHES_REGEXP",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "IS_NULL",
            "IN",
            "LIKE"
          ]
        },
        "fieldSourceValue": {
          "description": "The field. This will be the field that is set as the Right Hand Side of the filter.",
          "$ref": "FieldSource"
        },
        "literalValue": {
          "description": "The Value will be used to hold user defined constants set as the Right Hand Side of the filter.",
          "type": "any"
        }
      }
    },
    "FilterPredicate": {
      "id": "FilterPredicate",
      "properties": {
        "leafPredicate": {
          "description": "The leaves of the filter predicate. This equates to the last leaves of the filter predicate associated with an operator.",
          "$ref": "FilterExpression"
        },
        "childPredicates": {
          "items": {
            "$ref": "FilterPredicate"
          },
          "type": "array",
          "description": "The children of the filter predicate. This equates to the branches of the filter predicate that could contain further nested leaves."
        },
        "operatorType": {
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "AND",
            "OR",
            "LEAF"
          ],
          "enumDescriptions": [
            "Invalid value, do not use.",
            "AND will be the default operator type.",
            "OR operator type.",
            "LEAF operator type."
          ],
          "type": "string",
          "description": "The operator type for the filter. Currently there is no support for multiple levels of nesting, so this will be a single value with no joining of different operator types"
        }
      },
      "description": "A filter for a query. This equates to the WHERE clause in SQL.",
      "type": "object"
    },
    "CreateBucketRequest": {
      "description": "The parameters to CreateBucket.",
      "id": "CreateBucketRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The resource in which to create the log bucket: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" For example:\"projects/my-project/locations/global\""
        },
        "bucket": {
          "description": "Required. The new bucket. The region specified in the new bucket must be compliant with any Location Restriction Org Policy. The name field in the bucket is ignored.",
          "$ref": "LogBucket"
        },
        "bucketId": {
          "description": "Required. A client-assigned identifier such as \"my-bucket\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods. Bucket identifiers must start with an alphanumeric character.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "description": "Describes the settings associated with a project, folder, organization, or billing account.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the settings.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The resource name for the configured Cloud KMS key.KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]\" For example:\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key\"To enable CMEK, set this field to a valid kms_key_name for which the associated service account has the required roles/cloudkms.cryptoKeyEncrypterDecrypter role assigned for the key.The Cloud KMS key used by the Log Router can be updated by changing the kms_key_name to a new valid key name.To disable CMEK for the Log Router, set this field to an empty string.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information."
        },
        "storageLocation": {
          "type": "string",
          "description": "Optional. The storage location for the _Default and _Required log buckets of newly created projects and folders, unless the storage location is explicitly provided.Example value: europe-west1.Note: this setting does not affect the location of resources where a location is explicitly provided when created, such as custom log buckets."
        },
        "disableDefaultSink": {
          "description": "Optional. If set to true, the _Default sink in newly created projects and folders will created in a disabled state. This can be used to automatically disable log storage if there is already an aggregated sink configured in the hierarchy. The _Default sink can be re-enabled manually if needed.",
          "type": "boolean"
        },
        "kmsServiceAccountId": {
          "description": "Output only. The service account that will be used by the Log Router to access your Cloud KMS key.Before enabling CMEK, you must first assign the role roles/cloudkms.cryptoKeyEncrypterDecrypter to the service account that will be used to access your Cloud KMS key. Use GetSettings to obtain the service account ID.See Configure CMEK for Cloud Logging (https://docs.cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "type": "string",
          "readOnly": true
        },
        "defaultSinkConfig": {
          "description": "Optional. Overrides the built-in configuration for _Default sink.",
          "$ref": "DefaultSinkConfig"
        },
        "loggingServiceAccountId": {
          "description": "Output only. The service account for the given resource container, such as project or folder. Log sinks use this service account as their writer_identity if no custom service account is provided in the request when calling the create sink method.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CreateLinkRequest": {
      "id": "CreateLinkRequest",
      "properties": {
        "parent": {
          "description": "Required. The full resource name of the bucket to create a link for. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" ",
          "type": "string"
        },
        "linkId": {
          "description": "Required. The ID to use for the link. The link_id can have up to 100 characters. A valid link_id must only have alphanumeric characters and underscores within it.",
          "type": "string"
        },
        "link": {
          "description": "Required. The new link.",
          "$ref": "Link"
        }
      },
      "description": "The parameters to CreateLink.",
      "type": "object"
    },
    "LogEntrySourceLocation": {
      "type": "object",
      "properties": {
        "line": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Line within the source file. 1-based; 0 indicates no line number available."
        },
        "file": {
          "description": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name.",
          "type": "string"
        },
        "function": {
          "description": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python).",
          "type": "string"
        }
      },
      "description": "Additional information about the source code location that produced the log entry.",
      "id": "LogEntrySourceLocation"
    },
    "IndexConfig": {
      "description": "Configuration for an indexed field.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The index's type is unspecified.",
            "The index is a string-type index.",
            "The index is a integer-type index."
          ],
          "enum": [
            "INDEX_TYPE_UNSPECIFIED",
            "INDEX_TYPE_STRING",
            "INDEX_TYPE_INTEGER"
          ],
          "description": "Required. The type of data in this index.",
          "type": "string"
        },
        "fieldPath": {
          "type": "string",
          "description": "Required. The LogEntry field path to index.Note that some paths are automatically indexed, and other paths are not eligible for indexing. See indexing documentation( https://docs.cloud.google.com/logging/docs/analyze/custom-index) for details.For example: jsonPayload.request.status"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the index was last modified.This is used to return the timestamp, and will be ignored if supplied during update.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "IndexConfig"
    },
    "ListSinksResponse": {
      "type": "object",
      "id": "ListSinksResponse",
      "properties": {
        "sinks": {
          "description": "A list of sinks.",
          "items": {
            "$ref": "LogSink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      },
      "description": "Result returned from ListSinks."
    },
    "ListExclusionsResponse": {
      "id": "ListExclusionsResponse",
      "description": "Result returned from ListExclusions.",
      "type": "object",
      "properties": {
        "exclusions": {
          "description": "A list of exclusions.",
          "type": "array",
          "items": {
            "$ref": "LogExclusion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
        }
      }
    },
    "ListLogScopesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "logScopes": {
          "type": "array",
          "description": "A list of log scopes.",
          "items": {
            "$ref": "LogScope"
          }
        }
      },
      "id": "ListLogScopesResponse",
      "description": "The response from ListLogScopes. Every project has a _Default log scope that cannot be modified or deleted.",
      "type": "object"
    },
    "DeleteLinkRequest": {
      "description": "The parameters to DeleteLink.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The full resource name of the link to delete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" ",
          "type": "string"
        }
      },
      "id": "DeleteLinkRequest"
    },
    "ListLogMetricsResponse": {
      "type": "object",
      "description": "Result returned from ListLogMetrics.",
      "id": "ListLogMetricsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "metrics": {
          "description": "A list of logs-based metrics.",
          "items": {
            "$ref": "LogMetric"
          },
          "type": "array"
        }
      }
    },
    "HttpRequest": {
      "description": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message.",
      "properties": {
        "latency": {
          "format": "google-duration",
          "type": "string",
          "description": "The request processing latency on the server, from the time the request was received until the response was sent. For WebSocket connections, this field refers to the entire time duration of the connection."
        },
        "requestSize": {
          "format": "int64",
          "type": "string",
          "description": "The size of the HTTP request message in bytes, including the request headers and the request body."
        },
        "serverIp": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\".",
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "description": "The response code indicating the status of response. Examples: 200, 404."
        },
        "cacheLookup": {
          "description": "Whether or not a cache lookup was attempted.",
          "type": "boolean"
        },
        "referer": {
          "description": "The referer URL of the request, as defined in HTTP/1.1 Header Field Definitions (https://datatracker.ietf.org/doc/html/rfc2616#section-14.36).",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\""
        },
        "requestUrl": {
          "type": "string",
          "description": "The scheme (http, https), the host name, the path and the query portion of the URL that was requested. Example: \"http://example.com/some/info?color=red\"."
        },
        "requestMethod": {
          "type": "string",
          "description": "The request method. Examples: \"GET\", \"HEAD\", \"PUT\", \"POST\"."
        },
        "cacheValidatedWithOriginServer": {
          "type": "boolean",
          "description": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if cache_hit is True."
        },
        "remoteIp": {
          "description": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\".",
          "type": "string"
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether or not an entity was served from cache (with or without validation)."
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent sent by the client. Example: \"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"."
        },
        "cacheFillBytes": {
          "format": "int64",
          "description": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted.",
          "type": "string"
        },
        "responseSize": {
          "format": "int64",
          "type": "string",
          "description": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body."
        }
      },
      "id": "HttpRequest",
      "type": "object"
    },
    "LogExclusion": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. An advanced logs filter (https://docs.cloud.google.com/logging/docs/view/building-queries#queries-by-expression) that matches the log entries to be excluded. By using the sample function (https://docs.cloud.google.com/logging/docs/view/logging-query-language#sample), you can exclude less than 100% of the matching log entries.For example, the following query matches 99% of low-severity log entries from Google Cloud Storage buckets:resource.type=gcs_bucket severity<ERROR sample(insertId, 0.99)",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of this exclusion."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. If set to True, then this exclusion is disabled and it does not exclude any log entries. You can update an exclusion to change the value of this field."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the exclusion.This field may not be present for older exclusions.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of the exclusion.This field may not be present for older exclusions.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. A client-assigned identifier, such as \"load-balancer-exclusion\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods. First character has to be alphanumeric."
        }
      },
      "description": "Specifies a set of log entries that are filtered out by a sink. If your Google Cloud resource receives a large volume of log entries, you can use exclusions to reduce your chargeable logs. Note that exclusions on organization-level and folder-level sinks don't apply to child resources. Note also that you cannot modify the _Required sink or exclude logs from it.",
      "id": "LogExclusion"
    },
    "LogErrorGroup": {
      "description": "Contains metadata that associates the LogEntry to Error Reporting error groups.",
      "type": "object",
      "id": "LogErrorGroup",
      "properties": {
        "id": {
          "description": "The id is a unique identifier for a particular error group; it is the last part of the error group resource name: /project/[PROJECT_ID]/errors/[ERROR_GROUP_ID]. Example: COShysOX0r_51QE.This field can be used to search for log entries belonging to a specific error group in Logs Explorer (e.g., error_groups.id = \"ID\") or Observability Analytics.The id is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see Google Cloud Privacy Notice (https://cloud.google.com/terms/cloud-privacy-notice).",
          "type": "string"
        }
      }
    },
    "MetricDescriptorMetadata": {
      "type": "object",
      "properties": {
        "samplePeriod": {
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration",
          "type": "string"
        },
        "timeSeriesResourceHierarchyLevel": {
          "description": "The scope of the timeseries data of the metric.",
          "items": {
            "enumDescriptions": [
              "Do not use this default value.",
              "Scopes a metric to a project.",
              "Scopes a metric to an organization.",
              "Scopes a metric to a folder."
            ],
            "type": "string",
            "enum": [
              "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED",
              "PROJECT",
              "ORGANIZATION",
              "FOLDER"
            ]
          },
          "type": "array"
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "ingestDelay": {
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Additional annotations that can be used to guide the usage of a metric.",
      "id": "MetricDescriptorMetadata"
    },
    "QueryBuilderConfig": {
      "id": "QueryBuilderConfig",
      "description": "Defines a structured query configuration that can be used instead of writing raw SQL. This configuration represents the components of a SQL query (FROM, SELECT, WHERE, ORDER BY, LIMIT) and is typically converted into an executable query (e.g., BigQuery SQL) by the backend service to retrieve data for analysis or visualization.",
      "properties": {
        "filter": {
          "$ref": "FilterPredicate",
          "description": "The filter to use for the query. This equates to the WHERE clause in SQL."
        },
        "limit": {
          "description": "The limit to use for the query. This equates to the LIMIT clause in SQL. A limit of 0 will be treated as not enabled.",
          "type": "string",
          "format": "int64"
        },
        "fieldSources": {
          "type": "array",
          "items": {
            "$ref": "FieldSource"
          },
          "description": "Defines the items to include in the query result, analogous to a SQL SELECT clause."
        },
        "resourceNames": {
          "description": "Required. The view/resource to query. For now only a single view/resource will be sent, but there are plans to allow multiple views in the future. Marking as repeated for that purpose. Example: - \"projects/123/locations/global/buckets/456/views/_Default\" - \"projects/123/locations/global/metricBuckets/456/views/_Default\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orderBys": {
          "items": {
            "$ref": "SortOrderParameter"
          },
          "type": "array",
          "description": "The sort orders to use for the query. This equates to the ORDER BY clause in SQL."
        },
        "searchTerm": {
          "description": "The plain text search to use for the query. There is no support for multiple search terms. This uses the SEARCH functionality in BigQuery. For example, a search_term = 'ERROR' would result in the following SQL:SELECT * FROM resource WHERE SEARCH(resource, 'ERROR') LIMIT 100",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLogEntriesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.If a value for next_page_token appears and the entries field is empty, it means that the search found no log entries so far but it did not have time to search all the possible log entries. Retry the method with this value for page_token to continue the search. Alternatively, consider speeding up the search by changing your filter to specify a single log name or resource type, or to narrow the time range of the search."
        },
        "entries": {
          "items": {
            "$ref": "LogEntry"
          },
          "description": "A list of log entries. If entries is empty, nextPageToken may still be returned, indicating that more entries may exist. See nextPageToken for more information.",
          "type": "array"
        }
      },
      "description": "Result returned from ListLogEntries.",
      "type": "object",
      "id": "ListLogEntriesResponse"
    },
    "ListRecentQueriesResponse": {
      "id": "ListRecentQueriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "recentQueries": {
          "items": {
            "$ref": "RecentQuery"
          },
          "type": "array",
          "description": "A list of recent queries."
        },
        "unreachable": {
          "description": "The unreachable resources. Each resource can be either 1) a saved query if a specific query is unreachable or 2) a location if a specific location is unreachable. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/recentQueries/[QUERY_ID]\" \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" For example:\"projects/my-project/locations/global/recentQueries/12345678\" \"projects/my-project/locations/global\"If there are unreachable resources, the response will first return pages that contain recent queries, and then return pages that contain the unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response from ListRecentQueries.",
      "type": "object"
    },
    "FieldSource": {
      "description": "A source that can be used to represent a \"field of data\" within various parts of a structured query, such as in SELECT, WHERE, or ORDER BY clauses. The term \"field of data\" is used here because it is not limited to literal fields in the underlying data schema.",
      "properties": {
        "projectedField": {
          "$ref": "ProjectedField",
          "description": "A projected field option for when a user wants to use a field with some additional transformations such as casting or extractions."
        },
        "columnType": {
          "description": "The type of the selected field. This comes from the schema. Can be one of the BigQuery data types: - STRING - INT64 - FLOAT64 - BOOL - TIMESTAMP - DATE - RECORD - JSON",
          "type": "string"
        },
        "aliasRef": {
          "description": "The alias name for a field that has already been aliased within a different ProjectedField type elsewhere in the query model. The alias must be defined in the QueryBuilderConfig's field_sources list, otherwise the model is invalid.",
          "type": "string"
        },
        "isJson": {
          "description": "Whether the field is a JSON field, or has a parent that is a JSON field. This value is used to determine JSON extractions in generated SQL queries. Note that this is_json flag may be true when the column_type is not JSON if the parent is a JSON field. Ex: - A json_payload.message field might have is_json=true, since the 'json_payload' parent is of type JSON, and columnType='STRING' if the 'message' field is of type STRING.",
          "type": "boolean"
        },
        "field": {
          "type": "string",
          "description": "The fully qualified, dot-delimited path to the selected atomic field (the leaf value). This path is used for primary selection and actions like drill-down or projection.The path components should match the exact field names or keys as they appear in the underlying data schema. For JSON fields, this means respecting the original casing (e.g., camelCase or snake_case as present in the JSON).To reference field names containing special characters (e.g., hyphens, spaces), enclose the individual path segment in backticks (`).Examples: * json_payload.labels.message * json_payload.request_id * httpRequest.status * json_payload.\\my-custom-field`.value *jsonPayload.`my key with spaces`.data`"
        },
        "parentPath": {
          "type": "string",
          "description": "The dot-delimited path of the parent container that holds the target field.This path defines the structural hierarchy and is essential for correctly generating SQL when field keys contain special characters (e.g., dots or brackets).Example: json_payload.labels (This points to the 'labels' object). This is an empty string if the target field is at the root level."
        }
      },
      "id": "FieldSource",
      "type": "object"
    },
    "SavedQuery": {
      "type": "object",
      "description": "Describes a query that has been saved by a user.",
      "properties": {
        "displayName": {
          "description": "Required. The user specified title for the SavedQuery.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the saved query."
        },
        "name": {
          "description": "Output only. Resource name of the saved query.In the format: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/savedQueries/[QUERY_ID]\" For a list of supported locations, see Supported Regions (https://docs.cloud.google.com/logging/docs/region-support#bucket-regions)After the saved query is created, the location cannot be changed.If the user doesn't provide a QUERY_ID, the system will generate an alphanumeric ID.",
          "readOnly": true,
          "type": "string"
        },
        "opsAnalyticsQuery": {
          "$ref": "OpsAnalyticsQuery",
          "description": "Analytics query that can be executed in Log Analytics."
        },
        "visibility": {
          "description": "Required. The visibility status of this query, which determines its ownership.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "SHARED"
          ],
          "enumDescriptions": [
            "The saved query visibility is unspecified. A CreateSavedQuery request with an unspecified visibility will be rejected.",
            "The saved query is only visible to the user that created it.",
            "The saved query is visible to anyone in the project."
          ]
        },
        "loggingQuery": {
          "description": "Logging query that can be executed in Logs Explorer or via Logging API.",
          "$ref": "LoggingQuery"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the saved query was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the saved query was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SavedQuery"
    },
    "TailLogEntriesResponse": {
      "type": "object",
      "properties": {
        "suppressionInfo": {
          "description": "If entries that otherwise would have been included in the session were not sent back to the client, counts of relevant entries omitted from the session with the reason that they were not included. There will be at most one of each reason per response. The counts represent the number of suppressed entries since the last streamed response.",
          "type": "array",
          "items": {
            "$ref": "SuppressionInfo"
          }
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          },
          "description": "A list of log entries. Each response in the stream will order entries with increasing values of LogEntry.timestamp. Ordering is not guaranteed between separate responses."
        }
      },
      "description": "Result returned from TailLogEntries.",
      "id": "TailLogEntriesResponse"
    },
    "ListBucketsResponse": {
      "id": "ListBucketsResponse",
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "A list of buckets.",
          "items": {
            "$ref": "LogBucket"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      },
      "description": "The response from ListBuckets."
    },
    "WriteLogEntriesRequest": {
      "id": "WriteLogEntriesRequest",
      "type": "object",
      "description": "The parameters to WriteLogEntries.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Default labels that are added to the labels field of all log entries in entries. If a log entry already has a label with the same key as a label in this parameter, then the log entry's label is not changed. See LogEntry."
        },
        "dryRun": {
          "description": "Optional. If true, the request should expect normal response, but the entries won't be persisted nor exported. Useful for checking whether the logging API endpoints are working properly before sending valuable data.",
          "type": "boolean"
        },
        "entries": {
          "description": "Required. The log entries to send to Logging. The order of log entries in this list does not matter. Values supplied in this method's log_name, resource, and labels fields are copied into those log entries in this list that do not include values for their corresponding fields. For more information, see the LogEntry type.If the timestamp or insert_id fields are missing in log entries, then this method supplies the current time or a unique identifier, respectively. The supplied values are chosen so that, among the log entries that did not supply their own values, the entries earlier in the list will sort before the entries later in the list. See the entries.list method.Log entries with timestamps that are more than the logs retention period (https://docs.cloud.google.com/logging/quotas) in the past or more than 24 hours in the future will not be available when calling entries.list. However, those log entries can still be exported with LogSinks (https://docs.cloud.google.com/logging/docs/routing/overview).To improve throughput and to avoid exceeding the quota limit (https://docs.cloud.google.com/logging/quotas) for calls to entries.write, you should try to include several log entries in this list, rather than calling this method for each individual log entry.",
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "Optional. A default monitored resource object that is assigned to all log entries in entries that do not specify a value for resource. Example: { \"type\": \"gce_instance\", \"labels\": { \"zone\": \"us-central1-a\", \"instance_id\": \"00000000000000000000\" }} See LogEntry."
        },
        "logName": {
          "description": "Optional. A default log resource name that is assigned to all log entries in entries that do not specify a value for log_name: projects/[PROJECT_ID]/logs/[LOG_ID] organizations/[ORGANIZATION_ID]/logs/[LOG_ID] billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID] folders/[FOLDER_ID]/logs/[LOG_ID][LOG_ID] must be URL-encoded. For example: \"projects/my-project-id/logs/syslog\" \"organizations/123/logs/cloudaudit.googleapis.com%2Factivity\" The permission logging.logEntries.create is needed on each project, organization, billing account, or folder that is receiving new log entries, whether the resource is specified in logName or in an individual log entry.Only platform services can write logs to billing accounts.",
          "type": "string"
        },
        "partialSuccess": {
          "description": "Optional. Whether a batch's valid entries should be written even if some other entry failed due to a permanent error such as INVALID_ARGUMENT or PERMISSION_DENIED. If any entry failed, then the response status is the response status of one of the failed entries. The response will include error details in WriteLogEntriesPartialErrors.log_entry_errors keyed by the entries' zero-based index in the entries. Failed requests for which no entries are written will not include per-entry errors.",
          "type": "boolean"
        }
      }
    },
    "ListLogsResponse": {
      "type": "object",
      "id": "ListLogsResponse",
      "properties": {
        "logNames": {
          "description": "A list of log names. For example, \"projects/my-project/logs/syslog\" or \"organizations/123/logs/cloudresourcemanager.googleapis.com%2Factivity\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
        }
      },
      "description": "Result returned from ListLogs."
    },
    "Binding": {
      "description": "Associates members, or principals, with a role.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "DefaultSinkConfig": {
      "type": "object",
      "id": "DefaultSinkConfig",
      "description": "Describes the custom _Default sink configuration that is used to override the built-in _Default sink configuration in newly created resource containers, such as projects or folders.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The filter's write mode is unspecified. This mode must not be used.",
            "The contents of filter will be appended to the built-in _Default sink filter. Using the append mode with an empty filter will keep the sink inclusion filter unchanged.",
            "The contents of filter will overwrite the built-in _Default sink filter."
          ],
          "type": "string",
          "description": "Required. Determines the behavior to apply to the built-in _Default sink inclusion filter.Exclusions are always appended, as built-in _Default sinks have no exclusions.",
          "enum": [
            "FILTER_WRITE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ]
        },
        "filter": {
          "description": "Optional. An advanced logs filter (https://docs.cloud.google.com/logging/docs/view/building-queries#queries-by-expression). The only exported log entries are those that are in the resource owning the sink and that match the filter.For example:logName=\"projects/[PROJECT_ID]/logs/[LOG_ID]\" AND severity>=ERRORTo match all logs, don't add exclusions and use the following line as the value of filter:logName:*Cannot be empty or unset when the value of mode is OVERWRITE.",
          "type": "string"
        },
        "exclusions": {
          "items": {
            "$ref": "LogExclusion"
          },
          "type": "array",
          "description": "Optional. Specifies the set of exclusions to be added to the _Default sink in newly created resource containers."
        }
      }
    },
    "LocationMetadata": {
      "description": "Cloud Logging specific location metadata.",
      "properties": {
        "logAnalyticsEnabled": {
          "type": "boolean",
          "description": "Indicates whether or not Log Analytics features are supported in the given location."
        }
      },
      "type": "object",
      "id": "LocationMetadata"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogEntry": {
      "type": "object",
      "id": "LogEntry",
      "properties": {
        "trace": {
          "description": "Optional. The trace ID being written to Cloud Trace (https://docs.cloud.google.com/trace/docs) in association with this log entry. For example, if your trace data is stored in the Cloud project \"my-trace-project\" and if the service that is creating the log entry receives a trace header that includes the trace ID \"12345\", then the service should use \"12345\".The REST resource name of the trace is also supported, but using this format is not recommended. An example trace REST resource name is similar to \"projects/my-trace-project/traces/12345\".The trace field provides the link between logs and traces. By using this field, you can navigate from a log entry to a trace.",
          "type": "string"
        },
        "traceSampled": {
          "type": "boolean",
          "description": "Optional. The sampling decision of the span associated with the log entry at the time the log entry was created. This field corresponds to the sampled flag in the W3C trace-context specification (https://www.w3.org/TR/trace-context/#sampled-flag). A non-sampled trace value is still useful as a request correlation identifier. The default is False."
        },
        "insertId": {
          "type": "string",
          "description": "Optional. A unique identifier for the log entry. If you provide a value, then Logging considers other log entries in the same project, with the same timestamp, and with the same insert_id to be duplicates which are removed in a single query result. However, there are no guarantees of de-duplication in the export of logs.If the insert_id is omitted when writing a log entry, the Logging API assigns its own unique identifier in this field.In queries, the insert_id is also used to order log entries that have the same log_name and timestamp values."
        },
        "timestamp": {
          "description": "Optional. The time the event described by the log entry occurred. This time is used to compute the log entry's age and to enforce the logs retention period. If this field is omitted in a new log entry, then Logging assigns it the current time. Timestamps have nanosecond accuracy, but trailing zeros in the fractional seconds might be omitted when the timestamp is displayed.",
          "format": "google-datetime",
          "type": "string"
        },
        "spanId": {
          "description": "Optional. The ID of the Cloud Trace (https://docs.cloud.google.com/trace/docs) span associated with the current operation in which the log is being written.A Span (https://docs.cloud.google.com/trace/docs/reference/v2/rest/v2/projects.traces/batchWrite#Span) represents a single operation within a trace. Whereas a trace may involve multiple different microservices running on multiple different machines, a span generally corresponds to a single logical operation being performed in a single instance of a microservice on one specific machine. Spans are the nodes within the tree that is a trace.Applications that are instrumented for tracing (https://docs.cloud.google.com/trace/docs/setup) will generally assign a new, unique span ID on each incoming request. It is also common to create and record additional spans corresponding to internal processing elements as well as issuing requests to dependencies.The span ID is expected to be a 16-character, hexadecimal encoding of an 8-byte array and should not be zero. It should be unique within the trace and should, ideally, be generated in a manner that is uniformly random.Example values: 000000000000004a 7a2190356c3fc94b 0000f00300090021 d39223e101960076",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or a configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "description": "Optional. The severity of the log entry. The default value is LogSeverity.DEFAULT."
        },
        "errorGroups": {
          "type": "array",
          "description": "Output only. The Error Reporting (https://cloud.google.com/error-reporting) error groups associated with this LogEntry. Error Reporting sets the values for this field during error group creation.This field is populated only when log entries are stored in Cloud Logging storage (Logs Explorer and Observability Analytics). It is not available for use in log sink filters, log-based metrics, or log-based alerts, and it is excluded from log exports (Cloud Storage, BigQuery, and Pub/Sub).For more information, see View error details( https://cloud.google.com/error-reporting/docs/viewing-errors#view_error_details)",
          "readOnly": true,
          "items": {
            "$ref": "LogErrorGroup"
          }
        },
        "operation": {
          "description": "Optional. Information about an operation associated with the log entry, if applicable.",
          "$ref": "LogEntryOperation"
        },
        "logName": {
          "description": "Required. The resource name of the log to which this log entry belongs: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" A project number may be used in place of PROJECT_ID. The project number is translated to its corresponding PROJECT_ID internally and the log_name field will contain PROJECT_ID in queries and exports.[LOG_ID] must be URL-encoded within log_name. Example: \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".[LOG_ID] must be less than 512 characters long and can only include the following characters: upper and lower case alphanumeric characters, forward-slash, underscore, hyphen, and period.For backward compatibility, if log_name begins with a forward-slash, such as /projects/..., then the log entry is processed as usual, but the forward-slash is removed. Listing the log entry will not show the leading slash and filtering for a log name with a leading slash will never return any results.",
          "type": "string"
        },
        "otel": {
          "description": "Optional. The structured OpenTelemetry protocol payload. Contains the OpenTelemetry Resource, Instrumentation Scope, and Entities attributes for this log as they are defined in the OTLP specification, and any other fields that do not have a direct analog in the LogEntry. See https://opentelemetry.io/docs/specs/otel/logs/data-model/",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "httpRequest": {
          "description": "Optional. Information about the HTTP request associated with this log entry, if applicable.",
          "$ref": "HttpRequest"
        },
        "apphub": {
          "description": "Output only. AppHub application metadata associated with this LogEntry. May be empty if there is no associated AppHub application or multiple associated applications (such as for VPC flow logs)",
          "readOnly": true,
          "$ref": "AppHub"
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of key, value pairs that provides additional information about the log entry. The labels can be user-defined or system-defined.User-defined labels are arbitrary key, value pairs that you can use to classify logs.System-defined labels are defined by cloud services for platform logs. They have two components - a service namespace component and the attribute name. For example: compute.googleapis.com/resource_name.Cloud Logging truncates label keys that exceed 512 B and label values that exceed 64 KB upon their associated log entry being written. The truncation is indicated by an ellipsis at the end of the character string.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceLocation": {
          "$ref": "LogEntrySourceLocation",
          "description": "Optional. Source code location information associated with the log entry, if any."
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "Required. The monitored resource that produced this log entry.Example: a log entry that reports a database error would be associated with the monitored resource designating the particular database that reported the error."
        },
        "apphubSource": {
          "description": "Output only. AppHub application metadata associated with the source application. This is only populated if the log represented \"edge\"-like data (such as for VPC flow logs) with a source.",
          "readOnly": true,
          "$ref": "AppHub"
        },
        "textPayload": {
          "description": "The log entry payload, represented as a Unicode string (UTF-8).",
          "type": "string"
        },
        "protoPayload": {
          "description": "The log entry payload, represented as a protocol buffer. Some Google Cloud Platform services use this field for their log entry payloads.The following protocol buffer types are supported; user-defined types are not supported:\"type.googleapis.com/google.cloud.audit.AuditLog\" \"type.googleapis.com/google.appengine.logging.v1.RequestLog\"",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "split": {
          "description": "Optional. Information indicating this LogEntry is part of a sequence of multiple log entries split from a single LogEntry.",
          "$ref": "LogSplit"
        },
        "jsonPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The log entry payload, represented as a structure that is expressed as a JSON object."
        },
        "apphubDestination": {
          "readOnly": true,
          "description": "Output only. AppHub application metadata associated with the destination application. This is only populated if the log represented \"edge\"-like data (such as for VPC flow logs) with a destination.",
          "$ref": "AppHub"
        },
        "metadata": {
          "$ref": "MonitoredResourceMetadata",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated. This field is not used by Logging. Any value written to it is cleared."
        },
        "receiveTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the log entry was received by Logging."
        }
      },
      "description": "An individual entry in a log."
    },
    "CopyLogEntriesRequest": {
      "id": "CopyLogEntriesRequest",
      "type": "object",
      "description": "The parameters to CopyLogEntries.",
      "properties": {
        "destination": {
          "description": "Required. Destination to which to copy log entries. For example: \"storage.googleapis.com/GCS_BUCKET\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Log bucket from which to copy log entries.For example:\"projects/my-project/locations/global/buckets/my-source-bucket\""
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter specifying which log entries to copy. The filter must be no more than 20k characters. An empty filter matches all log entries."
        }
      }
    },
    "ListLinksResponse": {
      "properties": {
        "links": {
          "items": {
            "$ref": "Link"
          },
          "description": "A list of links.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
        }
      },
      "description": "The response from ListLinks.",
      "type": "object",
      "id": "ListLinksResponse"
    },
    "AppHub": {
      "description": "Metadata associated with App Hub.",
      "id": "AppHub",
      "properties": {
        "application": {
          "description": "Metadata associated with the application.",
          "$ref": "AppHubApplication"
        },
        "service": {
          "description": "Metadata associated with the service.",
          "$ref": "AppHubService"
        },
        "workload": {
          "$ref": "AppHubWorkload",
          "description": "Metadata associated with the workload."
        }
      },
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Describes this link.The maximum length of the description is 8000 characters."
        },
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "UPDATING",
            "CREATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The resource has been marked for deletion by the user. For some resources (e.g. buckets), this can be reversed by an un-delete operation.",
            "The resource has been marked for an update by the user. It will remain in this state until the update is complete.",
            "The resource has been marked for creation by the user. It will remain in this state until the creation is complete.",
            "The resource is in an INTERNAL error state."
          ],
          "type": "string",
          "description": "Output only. The resource lifecycle state."
        },
        "bigqueryDataset": {
          "description": "Optional. The information of a BigQuery Dataset. When a link is created, a BigQuery dataset is created along with it, in the same project as the LogBucket it's linked to. This dataset will also have BigQuery Views corresponding to the LogViews in the bucket.",
          "$ref": "BigQueryDataset"
        },
        "name": {
          "description": "Output only. The resource name of the link. The name can have up to 100 characters. A valid link id (at the end of the link name) must only have alphanumeric characters and underscores within it. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" For example:`projects/my-project/locations/global/buckets/my-bucket/links/my_link",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The creation timestamp of the link.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Describes a link connected to an analytics enabled bucket.",
      "type": "object"
    },
    "CopyLogEntriesMetadata": {
      "type": "object",
      "description": "Metadata for CopyLogEntries long running operations.",
      "properties": {
        "cancellationRequested": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The end time of an operation.",
          "format": "google-datetime"
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "Estimated progress of the operation (0 - 100%)."
        },
        "destination": {
          "description": "Destination to which to copy log entries.For example, a Cloud Storage bucket:\"storage.googleapis.com/my-cloud-storage-bucket\"",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED",
            "OPERATION_STATE_PENDING"
          ],
          "type": "string",
          "description": "Output only. State of an operation.",
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user.",
            "The operation is waiting for quota."
          ]
        },
        "writerIdentity": {
          "type": "string",
          "description": "The IAM identity of a service account that must be granted access to the destination.If the service account is not granted permission to the destination within an hour, the operation will be cancelled.For example: \"serviceAccount:foo@bar.com\""
        },
        "startTime": {
          "description": "The create time of an operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "type": "string",
          "description": "Source from which to copy log entries.For example, a log bucket:\"projects/my-project/locations/global/buckets/my-source-bucket\""
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation.For example,\"copy\""
        },
        "request": {
          "description": "CopyLogEntries RPC request. This field is deprecated and not used.",
          "$ref": "CopyLogEntriesRequest",
          "deprecated": true
        }
      },
      "id": "CopyLogEntriesMetadata"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "LogView": {
      "id": "LogView",
      "type": "object",
      "description": "Describes a view over log entries in a bucket.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the view.For example:projects/my-project/locations/global/buckets/my-bucket/views/my-view"
        },
        "description": {
          "description": "Optional. Describes this view.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filter that restricts which log entries in a bucket are visible in this view.Filters must be logical conjunctions that use the AND operator, and they can use any of the following qualifiers: SOURCE(), which specifies a project, folder, organization, or billing account of origin. resource.type, which specifies the resource type. LOG_ID(), which identifies the log.They can also use the negations of these qualifiers with the NOT operator.For example:SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\" AND NOT LOG_ID(\"stdout\")",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of the view.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update timestamp of the view."
        }
      }
    },
    "ListLogEntriesRequest": {
      "id": "ListLogEntriesRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. A filter that chooses which log entries to return. For more information, see Logging query language (https://docs.cloud.google.com/logging/docs/view/logging-query-language).Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters.To make queries faster, you can make the filter more selective by using restrictions on indexed fields (https://docs.cloud.google.com/logging/docs/view/logging-query-language#indexed-fields) as well as limit the time range of the query by adding range restrictions on the timestamp field.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of results to return from this request. Default is 50. If the value is negative, the request is rejected.The presence of next_page_token in the response indicates that more results might be available.",
          "format": "int32"
        },
        "projectIds": {
          "description": "Optional. Deprecated. Use resource_names instead. One or more project identifiers or project numbers from which to retrieve log entries. Example: \"my-project-1A\".",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orderBy": {
          "type": "string",
          "description": "Optional. How the results should be sorted. Presently, the only permitted values are \"timestamp asc\" (default) and \"timestamp desc\". The first option returns entries in order of increasing values of LogEntry.timestamp (oldest first), and the second option returns entries in order of decreasing timestamps (newest first). Entries with equal timestamps are returned in order of their insert_id values.We recommend setting the order_by field to \"timestamp desc\" when listing recently ingested log entries. If not set, the default value of \"timestamp asc\" may take a long time to fetch matching logs that are only recently ingested."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. page_token must be the value of next_page_token from the previous response. The values of other method parameters should be identical to those in the previous call."
        },
        "resourceNames": {
          "description": "Required. Names of one or more parent resources from which to retrieve log entries. Resources may either be resource containers or specific LogViews. For the case of resource containers, all logs ingested into that container will be returned regardless of which LogBuckets they are actually stored in - i.e. these queries may fan out to multiple regions. In the event of region unavailability, specify a specific set of LogViews that do not include the unavailable region. projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID] projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]Projects listed in the project_ids field are added to this list. A maximum of 100 resources may be specified in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The parameters to ListLogEntries."
    },
    "TailLogEntriesRequest": {
      "description": "The parameters to TailLogEntries.",
      "id": "TailLogEntriesRequest",
      "type": "object",
      "properties": {
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Name of a parent resource from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]",
          "type": "array"
        },
        "bufferWindow": {
          "type": "string",
          "description": "Optional. The amount of time to buffer log entries at the server before being returned to prevent out of order results due to late arriving log entries. Valid values are between 0-60000 milliseconds. Defaults to 2000 milliseconds.",
          "format": "google-duration"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter that chooses which log entries to return. For more information, see Logging query language (https://docs.cloud.google.com/logging/docs/view/logging-query-language).Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters."
        }
      }
    },
    "MonitoredResourceMetadata": {
      "id": "MonitoredResourceMetadata",
      "properties": {
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of user-defined metadata labels."
        },
        "systemLabels": {
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false } ",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message."
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "type": "object",
      "properties": {
        "resourceDescriptors": {
          "type": "array",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "description": "A list of resource descriptors."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      },
      "description": "Result returned from ListMonitoredResourceDescriptors.",
      "id": "ListMonitoredResourceDescriptorsResponse"
    },
    "BucketMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED",
            "OPERATION_STATE_PENDING"
          ],
          "description": "Output only. State of an operation.",
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user.",
            "The operation is waiting for quota."
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The create time of an operation.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time of an operation."
        },
        "updateBucketRequest": {
          "description": "LongRunningUpdateBucket RPC request.",
          "$ref": "UpdateBucketRequest"
        },
        "createBucketRequest": {
          "$ref": "CreateBucketRequest",
          "description": "LongRunningCreateBucket RPC request."
        }
      },
      "description": "Metadata for LongRunningUpdateBucket Operations.",
      "id": "BucketMetadata"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for GetIamPolicy method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "LogSplit": {
      "type": "object",
      "properties": {
        "totalSplits": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of log entries that the original LogEntry was split into."
        },
        "uid": {
          "description": "A globally unique identifier for all log entries in a sequence of split log entries. All log entries with the same |LogSplit.uid| are assumed to be part of the same sequence of split log entries.",
          "type": "string"
        },
        "index": {
          "description": "The index of this LogEntry in the sequence of split log entries. Log entries are given |index| values 0, 1, ..., n-1 for a sequence of n log entries.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "LogSplit",
      "description": "Additional information used to correlate multiple log entries. Used when a single LogEntry would exceed the Google Cloud Logging size limit and is split across multiple log entries."
    },
    "BigQueryDataset": {
      "description": "Describes a BigQuery dataset that was created by a link.",
      "id": "BigQueryDataset",
      "properties": {
        "datasetId": {
          "description": "Output only. The full resource name of the BigQuery dataset. The DATASET_ID will match the ID of the link, so the link must match the naming restrictions of BigQuery datasets (alphanumeric characters and underscores only).The dataset will have a resource path of \"bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AppHubWorkload": {
      "properties": {
        "environmentType": {
          "type": "string",
          "description": "Workload environment type Example: \"DEV\""
        },
        "criticalityType": {
          "type": "string",
          "description": "Workload criticality type Example: \"CRITICAL\""
        },
        "id": {
          "description": "Workload Id. Example: \"my-workload\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppHubWorkload",
      "description": "Metadata associated with an App Hub workload."
    },
    "AppHubService": {
      "id": "AppHubService",
      "type": "object",
      "description": "Metadata associated with an App Hub service.",
      "properties": {
        "criticalityType": {
          "description": "Service criticality type Example: \"CRITICAL\"",
          "type": "string"
        },
        "environmentType": {
          "type": "string",
          "description": "Service environment type Example: \"DEV\""
        },
        "id": {
          "description": "Service Id. Example: \"my-service\"",
          "type": "string"
        }
      }
    },
    "VirtualField": {
      "properties": {
        "underlyingFieldSources": {
          "description": "The field sources that will be used to create the virtual field, based on the semantics of the virtual field type.The field sources must follow these rules, based on the virtual field type: - For VIRTUAL_FIELD_TYPE_UNSPECIFIED, this field must be empty. - For COALESCE, this field must be non-empty and include a minimum of two field sources. The underlying field sources must be actual projected fields that represent actual schema fields and that must not be transformed and aggregated in any way, except for casting. The type of all the underlying field sources must be equivalent so that picking one of them would result in the same value type.",
          "items": {
            "$ref": "FieldSource"
          },
          "type": "array"
        },
        "virtualFieldType": {
          "enumDescriptions": [
            "Invalid value, do not use.",
            "Creates a virtual field by selecting the first non-null value from the list of fields specified in underlying_field_sources, similar to a COALESCE function in SQL."
          ],
          "enum": [
            "VIRTUAL_FIELD_TYPE_UNSPECIFIED",
            "COALESCE"
          ],
          "type": "string",
          "description": "Required. The type of the virtual field."
        }
      },
      "description": "A virtual field is a field that is not physically present in the underlying data schema, but is created through specific operations within the query builder model based on other fields in the schema.",
      "id": "VirtualField",
      "type": "object"
    },
    "Explicit": {
      "type": "object",
      "description": "Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi Lower bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "id": "Explicit",
      "properties": {
        "bounds": {
          "type": "array",
          "description": "The values must be monotonically increasing.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "MonitoredResource": {
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "id": "MonitoredResource",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. Some descriptors include the service name in the type; for example, the type of a Datastream stream is datastream.googleapis.com/Stream.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\".",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FunctionApplication": {
      "description": "Defines the aggregation function to apply to this field. This message is used only when operation is set to AGGREGATE.",
      "id": "FunctionApplication",
      "properties": {
        "parameters": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "Optional. Parameters to be applied to the aggregation. Aggregations that support or require parameters are listed above."
        },
        "type": {
[...]
