{
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "looker.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "looker.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "instances": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "instanceId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "id": "looker.projects.locations.instances.create",
                  "description": "Creates a new Instance in a given project and location.",
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "location": "query"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "description": "Optional. Whether to include deleted instances in the response.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "looker.projects.locations.instances.list",
                  "path": "v1/{+parent}/instances",
                  "description": "Lists Instances in a given project and location.",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "restart": {
                  "description": "Restart instance.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "id": "looker.projects.locations.instances.restart",
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restart",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.get",
                  "description": "Gets details of a single Instance.",
                  "response": {
                    "$ref": "Instance"
                  }
                },
                "export": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:export",
                  "description": "Export instance.",
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "id": "looker.projects.locations.instances.export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  }
                },
                "undelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.instances.undelete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  },
                  "path": "v1/{+name}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}"
                    }
                  },
                  "description": "Undeletes Looker instance."
                },
                "restore": {
                  "description": "Restore Looker instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:restore",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Instance"
                  },
                  "id": "looker.projects.locations.instances.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update Instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "id": "looker.projects.locations.instances.delete",
                  "path": "v1/{+name}",
                  "description": "Delete instance.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Whether to force cascading delete.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "import": {
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "description": "Import instance.",
                  "id": "looker.projects.locations.instances.import",
                  "path": "v1/{+name}:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  }
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "id": "looker.projects.locations.instances.backups.list",
                      "description": "List backups of Looker instance.",
                      "path": "v1/{+parent}/backups",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token received from a previous ListInstances request."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of instances to return.",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "description": "Backup Looker instance.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "path": "v1/{+parent}/backups",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.create",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "looker.projects.locations.instances.backups.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Delete backup.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`."
                        }
                      },
                      "id": "looker.projects.locations.instances.backups.get",
                      "response": {
                        "$ref": "InstanceBackup"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "looker.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "looker.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.operations.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://looker.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://looker.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://looker.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://looker.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://looker.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://looker.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://looker.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://looker.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260922",
  "ownerName": "Google",
  "rootUrl": "https://looker.googleapis.com/",
  "baseUrl": "https://looker.googleapis.com/",
  "name": "looker",
  "fullyEncodeReservedExpansion": true,
  "title": "Looker (Google Cloud core) API",
  "description": "",
  "canonicalName": "Looker",
  "id": "looker:v1",
  "schemas": {
    "RestoreInstanceRequest": {
      "id": "RestoreInstanceRequest",
      "properties": {
        "backup": {
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
          "type": "string"
        }
      },
      "description": "Request options for restoring an instance",
      "type": "object"
    },
    "ServiceAttachment": {
      "type": "object",
      "properties": {
        "localFqdn": {
          "type": "string",
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment."
        },
        "targetServiceAttachmentUri": {
          "type": "string",
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}"
        },
        "localFqdns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment."
        },
        "connectionStatus": {
          "readOnly": true,
          "description": "Output only. Connection status.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ]
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning."
        }
      },
      "description": "Service attachment configuration.",
      "id": "ServiceAttachment"
    },
    "ExportEncryptionConfig": {
      "id": "ExportEncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      },
      "description": "Configuration for Encryption - e.g. CMEK."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ExportMetrics": {
      "description": "ExportMetrics contains overall export execution metrics, timing, and component telemetry.",
      "type": "object",
      "id": "ExportMetrics",
      "properties": {
        "instanceInternalName": {
          "type": "string",
          "description": "Internal name of the instance being exported."
        },
        "componentMetrics": {
          "description": "Metrics and telemetry for each exported component.",
          "items": {
            "$ref": "ComponentMetrics"
          },
          "type": "array"
        }
      }
    },
    "PeriodicExportConfig": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC to start the periodic export job."
        }
      },
      "id": "PeriodicExportConfig",
      "description": "Configuration for periodic export."
    },
    "ControlledEgressConfig": {
      "description": "Controlled egress configuration.",
      "type": "object",
      "properties": {
        "egressFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic."
        },
        "webProxyIps": {
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        }
      },
      "id": "ControlledEgressConfig"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the deny maintenance period."
        },
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Required. End date of the deny maintenance period.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "description": "Specifies the maintenance denial period."
    },
    "OAuthConfig": {
      "type": "object",
      "description": "Looker instance OAuth login settings.",
      "properties": {
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret."
        },
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        }
      },
      "id": "OAuthConfig"
    },
    "PscConfig": {
      "properties": {
        "lookerServiceAttachmentUri": {
          "type": "string",
          "description": "Output only. URI of the Looker service attachment.",
          "readOnly": true
        },
        "serviceAttachments": {
          "items": {
            "$ref": "ServiceAttachment"
          },
          "type": "array",
          "description": "Optional. List of egress service attachment configurations."
        },
        "allowedVpcs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}"
        }
      },
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "type": "object",
      "id": "PscConfig"
    },
    "InstanceBackup": {
      "id": "InstanceBackup",
      "type": "object",
      "description": "The details of a backup resource.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup was started."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption",
          "readOnly": true
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup will be deleted."
        }
      }
    },
    "CustomDomain": {
      "description": "Custom domain information.",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain name."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ],
          "description": "Domain state."
        }
      },
      "id": "CustomDomain"
    },
    "ExportInstanceRequest": {
      "type": "object",
      "id": "ExportInstanceRequest",
      "description": "Request options for exporting data of an Instance.",
      "properties": {
        "encryptionConfig": {
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK.",
          "$ref": "ExportEncryptionConfig"
        },
        "gcsUri": {
          "type": "string",
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "MaintenanceWindow": {
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Specifies the recurring maintenance window.",
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "TimeOfDay": {
      "type": "object",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response from ListInstances.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of instances matching the request filters, up to the requested `pageSize`.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `pageSize` results. If empty, the results list is exhausted.",
          "type": "string"
        }
      }
    },
    "ExportMetadata": {
      "id": "ExportMetadata",
      "type": "object",
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message",
      "properties": {
        "lookerEncryptionKey": {
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK.",
          "type": "string"
        },
        "lookerPlatformEdition": {
          "type": "string",
          "description": "Platform edition of the exported instance."
        },
        "lookerVersion": {
          "description": "Version of instance when the export was created.",
          "type": "string"
        },
        "filePaths": {
          "items": {
            "type": "string"
          },
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL",
            "LOOKER_SELF_HOSTED"
          ],
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original",
            "Source of export is Self-Hosted Looker"
          ],
          "type": "string",
          "description": "The source type of the migration."
        },
        "lookerInstance": {
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
          "type": "string"
        },
        "exportEncryptionKey": {
          "description": "Encryption key that was used to encrypt the export artifacts.",
          "$ref": "ExportMetadataEncryptionKey"
        },
        "exportMetrics": {
          "description": "Overall export metrics, timing, and component telemetry.",
          "$ref": "ExportMetrics"
        },
        "esaSourceDatasetId": {
          "type": "string",
          "description": "Source BigQuery dataset (formatted as `project_id:dataset_id`) for O2C Elite System Activity (ESA) direct dataset migration."
        }
      }
    },
    "IngressIpAllowlistConfig": {
      "id": "IngressIpAllowlistConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "googleServicesEnabled": {
          "description": "Optional. Whether google service connections are enabled for the instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "description": "Optional. List of IP range rules to allow ingress traffic.",
          "type": "array",
          "items": {
            "$ref": "IngressIpAllowlistRule"
          }
        }
      },
      "type": "object",
      "description": "Ingress IP allowlist configuration."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "UserMetadata": {
      "id": "UserMetadata",
      "type": "object",
      "description": "Metadata about users for a Looker instance.",
      "properties": {
        "additionalDeveloperUserCount": {
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "type": "integer",
          "format": "int32"
        },
        "additionalStandardUserCount": {
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "format": "int32",
          "type": "integer"
        },
        "additionalViewerUserCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of additional viewer users the instance owner has purchased."
        }
      }
    },
    "AdminSettings": {
      "type": "object",
      "id": "AdminSettings",
      "description": "Looker instance Admin settings fields.",
      "properties": {
        "allowedEmailDomains": {
          "type": "array",
          "description": "Email domain allowlist for the instance.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MaintenanceSchedule": {
      "properties": {
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MaintenanceSchedule",
      "description": "Published upcoming future maintenance schedule."
    },
    "RestartInstanceRequest": {
      "description": "Request options for restarting an instance.",
      "type": "object",
      "id": "RestartInstanceRequest",
      "properties": {}
    },
    "ComponentMetrics": {
      "properties": {
        "componentType": {
          "description": "Type of the exported component.",
          "enumDescriptions": [
            "Unspecified component type.",
            "BigQuery Elite System Activity component.",
            "Database component.",
            "File system component.",
            "Overall Export Job."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BQ_ESA",
            "DB",
            "FS",
            "ALL"
          ]
        },
        "sizeGb": {
          "type": "number",
          "format": "double",
          "description": "Size of the exported component in gigabytes."
        },
        "startTime": {
          "description": "Start timestamp of the component export.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End timestamp of the component export."
        },
        "retryCount": {
          "format": "int32",
          "description": "Number of retries during the component export.",
          "type": "integer"
        },
        "duration": {
          "description": "Duration of the component export.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "ComponentMetrics contains sizing, timing, retries, and metrics for an exported component.",
      "type": "object",
      "id": "ComponentMetrics"
    },
    "IngressIpAllowlistRule": {
      "description": "Ingress IP allowlist rule.",
      "type": "object",
      "id": "IngressIpAllowlistRule",
      "properties": {
        "description": {
          "description": "Optional. Description for the IP range.",
          "type": "string"
        },
        "ipRange": {
          "description": "Optional. The IP range to allow ingress traffic from.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "A Looker instance.",
      "type": "object",
      "properties": {
        "customDomain": {
          "$ref": "CustomDomain",
          "description": "Custom domain configuration for the instance."
        },
        "acceleratedSecurityPatchEnabled": {
          "description": "Optional. Accelerated security patch enabled for the instance.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
          "type": "string"
        },
        "lookerUri": {
          "type": "string",
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "readOnly": true
        },
        "periodicExportConfig": {
          "description": "Optional. Configuration for periodic export.",
          "$ref": "PeriodicExportConfig"
        },
        "oauthConfig": {
          "description": "Looker instance OAuth login settings.",
          "$ref": "OAuthConfig"
        },
        "platformEdition": {
          "description": "Platform edition.",
          "type": "string",
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ],
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the Looker instance was last updated."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "type": "string",
          "description": "Output only. The state of the instance.",
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "readOnly": true
        },
        "classType": {
          "type": "string",
          "description": "Optional. Storage class of the instance.",
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "maintenanceWindow": {
          "description": "Maintenance window for this instance.",
          "$ref": "MaintenanceWindow"
        },
        "egressPublicIp": {
          "type": "string",
          "description": "Output only. Public Egress IP (IPv4).",
          "readOnly": true
        },
        "controlledEgressEnabled": {
          "description": "Optional. Whether controlled egress is enabled on the Looker instance.",
          "type": "boolean"
        },
        "publicIpEnabled": {
          "type": "boolean",
          "description": "Whether public IP is enabled on the Looker instance."
        },
        "maintenanceSchedule": {
          "description": "Maintenance schedule for this instance.",
          "$ref": "MaintenanceSchedule"
        },
        "userMetadata": {
          "$ref": "UserMetadata",
          "description": "Optional. User metadata."
        },
        "controlledEgressConfig": {
          "$ref": "ControlledEgressConfig",
          "description": "Optional. Controlled egress configuration."
        },
        "fipsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether FIPS is enabled on the Looker instance."
        },
        "softDeleteReason": {
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ],
          "readOnly": true,
          "description": "Output only. The reason for the instance being in a soft-deleted state.",
          "type": "string",
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ]
        },
        "geminiEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not."
        },
        "ingressPublicIp": {
          "type": "string",
          "description": "Output only. Public Ingress IP (IPv4).",
          "readOnly": true
        },
        "catalogIntegrationOptOut": {
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance.",
          "type": "boolean"
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance."
        },
        "suspendedTime": {
          "type": "string",
          "description": "Output only. The time when the Looker instance was suspended (soft deleted).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "lastDenyMaintenancePeriod": {
          "description": "Output only. Last computed maintenance denial period for this instance.",
          "readOnly": true,
          "$ref": "DenyMaintenancePeriod"
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true."
        },
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "privateIpEnabled": {
          "description": "Whether private IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "ingressPrivateIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Private Ingress IP (IPv4)."
        },
        "lookerVersion": {
          "description": "Output only. The Looker version that the instance is using.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "adminSettings": {
          "description": "Looker Instance Admin settings.",
          "$ref": "AdminSettings"
        },
        "linkedLspProjectNumber": {
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "type": "string",
          "format": "int64"
        },
        "releaseChannel": {
          "description": "Optional. The selected release channel for the instance.",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance."
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "ingressIpAllowlistConfig": {
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance.",
          "$ref": "IngressIpAllowlistConfig"
        },
        "reservedRange": {
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
          "type": "string"
        }
      }
    },
    "ImportInstanceRequest": {
      "id": "ImportInstanceRequest",
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Requestion options for importing looker data to an Instance"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "ExportMetadataEncryptionKey": {
      "properties": {
        "cmek": {
          "type": "string",
          "description": "Name of the CMEK."
        },
        "version": {
          "description": "Version of the CMEK.",
          "type": "string"
        }
      },
      "description": "Encryption key details for the exported artifact.",
      "type": "object",
      "id": "ExportMetadataEncryptionKey"
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyNameVersion": {
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        },
        "kmsKeyState": {
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the CMEK key.",
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ]
        }
      },
      "description": "Encryption configuration (i.e. CMEK).",
      "type": "object",
      "id": "EncryptionConfig"
    },
    "UndeleteInstanceRequest": {
      "properties": {},
      "type": "object",
      "description": "Request options for undeleting an instance.",
      "id": "UndeleteInstanceRequest"
    },
    "ListInstanceBackupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceBackups": {
          "items": {
            "$ref": "InstanceBackup"
          },
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        }
      },
      "type": "object",
      "id": "ListInstanceBackupsResponse",
      "description": "Response from listing Looker instance backups."
    }
  }
}