{
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "revision": "20260922",
  "ownerName": "Google",
  "batchPath": "batch",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://looker.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "id": "looker:v1",
  "endpoints": [
    {
      "endpointUrl": "https://looker.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://looker.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://looker.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://looker.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://looker.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://looker.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://looker.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://looker.us-west4.rep.googleapis.com/"
    }
  ],
  "title": "Looker (Google Cloud core) API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "id": "looker.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "looker.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "looker.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "id": "looker.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "looker.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                }
              }
            },
            "instances": {
              "resources": {
                "backups": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/backups",
                      "description": "List backups of Looker instance.",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token received from a previous ListInstances request.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of instances to return.",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "required": true
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.list"
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "looker.projects.locations.instances.backups.create",
                      "path": "v1/{+parent}/backups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "description": "Backup Looker instance.",
                      "request": {
                        "$ref": "InstanceBackup"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "id": "looker.projects.locations.instances.backups.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "InstanceBackup"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Delete backup.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}"
                        }
                      },
                      "id": "looker.projects.locations.instances.backups.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}"
                    }
                  }
                }
              },
              "methods": {
                "export": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "id": "looker.projects.locations.instances.export",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Export instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "path": "v1/{+name}:export",
                  "httpMethod": "POST"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE",
                  "id": "looker.projects.locations.instances.delete",
                  "description": "Delete instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "description": "Whether to force cascading delete.",
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                },
                "restart": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Restart instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.instances.restart",
                  "path": "v1/{+name}:restart",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/instances",
                  "description": "Creates a new Instance in a given project and location.",
                  "parameters": {
                    "instanceId": {
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Instance"
                  },
                  "id": "looker.projects.locations.instances.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "patch": {
                  "id": "looker.projects.locations.instances.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "description": "Update Instance.",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "path": "v1/{+name}"
                },
                "undelete": {
                  "description": "Undeletes Looker instance.",
                  "id": "looker.projects.locations.instances.undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  },
                  "path": "v1/{+name}:undelete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "showDeleted": {
                      "description": "Optional. Whether to include deleted instances in the response.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/instances",
                  "id": "looker.projects.locations.instances.list",
                  "httpMethod": "GET",
                  "description": "Lists Instances in a given project and location.",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  }
                },
                "restore": {
                  "description": "Restore Looker instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "path": "v1/{+name}:restore",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "looker.projects.locations.instances.restore"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "looker.projects.locations.instances.get",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Instance.",
                  "response": {
                    "$ref": "Instance"
                  }
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Import instance.",
                  "id": "looker.projects.locations.instances.import",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "path": "v1/{+name}:import",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "looker",
  "servicePath": "",
  "canonicalName": "Looker",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyNameVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance."
        },
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        },
        "kmsKeyState": {
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ],
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "description": "Output only. Status of the CMEK key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Encryption configuration (i.e. CMEK)."
    },
    "OAuthConfig": {
      "properties": {
        "sharedOauthClientEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret."
        },
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        }
      },
      "id": "OAuthConfig",
      "type": "object",
      "description": "Looker instance OAuth login settings."
    },
    "ExportMetadata": {
      "id": "ExportMetadata",
      "type": "object",
      "properties": {
        "exportEncryptionKey": {
          "$ref": "ExportMetadataEncryptionKey",
          "description": "Encryption key that was used to encrypt the export artifacts."
        },
        "lookerPlatformEdition": {
          "description": "Platform edition of the exported instance.",
          "type": "string"
        },
        "lookerEncryptionKey": {
          "type": "string",
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK."
        },
        "esaSourceDatasetId": {
          "type": "string",
          "description": "Source BigQuery dataset (formatted as `project_id:dataset_id`) for O2C Elite System Activity (ESA) direct dataset migration."
        },
        "exportMetrics": {
          "$ref": "ExportMetrics",
          "description": "Overall export metrics, timing, and component telemetry."
        },
        "lookerInstance": {
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
          "type": "string"
        },
        "filePaths": {
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "source": {
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original",
            "Source of export is Self-Hosted Looker"
          ],
          "type": "string",
          "description": "The source type of the migration.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL",
            "LOOKER_SELF_HOSTED"
          ]
        },
        "lookerVersion": {
          "description": "Version of instance when the export was created.",
          "type": "string"
        }
      },
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message"
    },
    "PeriodicExportConfig": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC to start the periodic export job."
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}"
        }
      },
      "description": "Configuration for periodic export.",
      "id": "PeriodicExportConfig"
    },
    "IngressIpAllowlistConfig": {
      "description": "Ingress IP allowlist configuration.",
      "id": "IngressIpAllowlistConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "description": "Optional. List of IP range rules to allow ingress traffic.",
          "type": "array",
          "items": {
            "$ref": "IngressIpAllowlistRule"
          }
        },
        "googleServicesEnabled": {
          "type": "boolean",
          "description": "Optional. Whether google service connections are enabled for the instance."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Instance": {
      "properties": {
        "publicIpEnabled": {
          "description": "Whether public IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "adminSettings": {
          "description": "Looker Instance Admin settings.",
          "$ref": "AdminSettings"
        },
        "lookerVersion": {
          "type": "string",
          "description": "Output only. The Looker version that the instance is using.",
          "readOnly": true
        },
        "ingressPublicIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Public Ingress IP (IPv4)."
        },
        "lookerUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI."
        },
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "ingressIpAllowlistConfig": {
          "$ref": "IngressIpAllowlistConfig",
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "privateIpEnabled": {
          "type": "boolean",
          "description": "Whether private IP is enabled on the Looker instance."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance."
        },
        "lastDenyMaintenancePeriod": {
          "readOnly": true,
          "description": "Output only. Last computed maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "acceleratedSecurityPatchEnabled": {
          "description": "Optional. Accelerated security patch enabled for the instance.",
          "type": "boolean"
        },
        "userMetadata": {
          "$ref": "UserMetadata",
          "description": "Optional. User metadata."
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Looker instance OAuth login settings."
        },
        "softDeleteReason": {
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ],
          "readOnly": true,
          "description": "Output only. The reason for the instance being in a soft-deleted state.",
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ],
          "type": "string"
        },
        "classType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "description": "Optional. Storage class of the instance.",
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "ingressPrivateIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Private Ingress IP (IPv4)."
        },
        "customDomain": {
          "$ref": "CustomDomain",
          "description": "Custom domain configuration for the instance."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "description": "Output only. The state of the instance."
        },
        "egressPublicIp": {
          "description": "Output only. Public Egress IP (IPv4).",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "format": "google-datetime"
        },
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the Looker instance was last updated."
        },
        "catalogIntegrationOptOut": {
          "type": "boolean",
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance."
        },
        "releaseChannel": {
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "type": "string",
          "description": "Optional. The selected release channel for the instance.",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        },
        "reservedRange": {
          "type": "string",
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request."
        },
        "maintenanceWindow": {
          "description": "Maintenance window for this instance.",
          "$ref": "MaintenanceWindow"
        },
        "geminiEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not."
        },
        "controlledEgressEnabled": {
          "description": "Optional. Whether controlled egress is enabled on the Looker instance.",
          "type": "boolean"
        },
        "fipsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether FIPS is enabled on the Looker instance."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "platformEdition": {
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ],
          "description": "Platform edition."
        },
        "linkedLspProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro."
        },
        "maintenanceSchedule": {
          "description": "Maintenance schedule for this instance.",
          "$ref": "MaintenanceSchedule"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "suspendedTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance was suspended (soft deleted)."
        },
        "periodicExportConfig": {
          "description": "Optional. Configuration for periodic export.",
          "$ref": "PeriodicExportConfig"
        },
        "consumerNetwork": {
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance.",
          "type": "string"
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true."
        }
      },
      "description": "A Looker instance.",
      "id": "Instance",
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ExportEncryptionConfig": {
      "type": "object",
      "id": "ExportEncryptionConfig",
      "description": "Configuration for Encryption - e.g. CMEK.",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse"
    },
    "ComponentMetrics": {
      "type": "object",
      "description": "ComponentMetrics contains sizing, timing, retries, and metrics for an exported component.",
      "properties": {
        "sizeGb": {
          "format": "double",
          "type": "number",
          "description": "Size of the exported component in gigabytes."
        },
        "componentType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "BQ_ESA",
            "DB",
            "FS",
            "ALL"
          ],
          "enumDescriptions": [
            "Unspecified component type.",
            "BigQuery Elite System Activity component.",
            "Database component.",
            "File system component.",
            "Overall Export Job."
          ],
          "type": "string",
          "description": "Type of the exported component."
        },
        "duration": {
          "description": "Duration of the component export.",
          "format": "google-duration",
          "type": "string"
        },
        "endTime": {
          "description": "End timestamp of the component export.",
          "type": "string",
          "format": "google-datetime"
        },
        "retryCount": {
          "description": "Number of retries during the component export.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start timestamp of the component export.",
          "type": "string"
        }
      },
      "id": "ComponentMetrics"
    },
    "ListInstanceBackupsResponse": {
      "properties": {
        "instanceBackups": {
          "type": "array",
          "items": {
            "$ref": "InstanceBackup"
          },
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "description": "Response from listing Looker instance backups.",
      "id": "ListInstanceBackupsResponse",
      "type": "object"
    },
    "ExportMetrics": {
      "description": "ExportMetrics contains overall export execution metrics, timing, and component telemetry.",
      "type": "object",
      "id": "ExportMetrics",
      "properties": {
        "instanceInternalName": {
          "description": "Internal name of the instance being exported.",
          "type": "string"
        },
        "componentMetrics": {
          "description": "Metrics and telemetry for each exported component.",
          "items": {
            "$ref": "ComponentMetrics"
          },
          "type": "array"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "id": "DenyMaintenancePeriod",
      "description": "Specifies the maintenance denial period.",
      "properties": {
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the deny maintenance period."
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the deny maintenance period."
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "ExportMetadataEncryptionKey": {
      "id": "ExportMetadataEncryptionKey",
      "description": "Encryption key details for the exported artifact.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the CMEK."
        },
        "cmek": {
          "description": "Name of the CMEK.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceAttachment": {
      "id": "ServiceAttachment",
      "description": "Service attachment configuration.",
      "properties": {
        "localFqdns": {
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionStatus": {
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "readOnly": true,
          "description": "Output only. Connection status.",
          "type": "string"
        },
        "localFqdn": {
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment.",
          "type": "string"
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning."
        },
        "targetServiceAttachmentUri": {
          "type": "string",
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}"
        }
      },
      "type": "object"
    },
    "InstanceBackup": {
      "description": "The details of a backup resource.",
      "id": "InstanceBackup",
      "properties": {
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup will be deleted.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the backup was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "RestoreInstanceRequest": {
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
          "type": "string"
        }
      },
      "description": "Request options for restoring an instance",
      "id": "RestoreInstanceRequest"
    },
    "MaintenanceSchedule": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance.",
          "type": "string"
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Published upcoming future maintenance schedule.",
      "type": "object",
      "id": "MaintenanceSchedule"
    },
    "CustomDomain": {
      "id": "CustomDomain",
      "description": "Custom domain information.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Domain state.",
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name."
        }
      }
    },
    "ListInstancesResponse": {
      "type": "object",
      "id": "ListInstancesResponse",
      "description": "Response from ListInstances.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `pageSize` results. If empty, the results list is exhausted.",
          "type": "string"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested `pageSize`."
        }
      }
    },
    "ImportInstanceRequest": {
      "type": "object",
      "description": "Requestion options for importing looker data to an Instance",
      "id": "ImportInstanceRequest",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`."
        }
      }
    },
    "UserMetadata": {
      "id": "UserMetadata",
      "properties": {
        "additionalViewerUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional viewer users the instance owner has purchased.",
          "format": "int32"
        },
        "additionalStandardUserCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of additional standard users the instance owner has purchased."
        },
        "additionalDeveloperUserCount": {
          "format": "int32",
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "type": "integer"
        }
      },
      "description": "Metadata about users for a Looker instance.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "ExportInstanceRequest": {
      "properties": {
        "encryptionConfig": {
          "$ref": "ExportEncryptionConfig",
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK."
        },
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "description": "Request options for exporting data of an Instance.",
      "type": "object",
      "id": "ExportInstanceRequest"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Specifies the recurring maintenance window.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC)."
        },
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "IngressIpAllowlistRule": {
      "id": "IngressIpAllowlistRule",
      "properties": {
        "ipRange": {
          "type": "string",
          "description": "Optional. The IP range to allow ingress traffic from."
        },
        "description": {
          "description": "Optional. Description for the IP range.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Ingress IP allowlist rule."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "AdminSettings": {
      "id": "AdminSettings",
      "description": "Looker instance Admin settings fields.",
      "properties": {
        "allowedEmailDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Email domain allowlist for the instance."
        }
      },
      "type": "object"
    },
    "PscConfig": {
      "type": "object",
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "id": "PscConfig",
      "properties": {
        "serviceAttachments": {
          "items": {
            "$ref": "ServiceAttachment"
          },
          "type": "array",
          "description": "Optional. List of egress service attachment configurations."
        },
        "lookerServiceAttachmentUri": {
          "readOnly": true,
          "description": "Output only. URI of the Looker service attachment.",
          "type": "string"
        },
        "allowedVpcs": {
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ControlledEgressConfig": {
      "id": "ControlledEgressConfig",
      "properties": {
        "webProxyIps": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "type": "array",
          "readOnly": true
        },
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        },
        "egressFqdns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "type": "array"
        }
      },
      "description": "Controlled egress configuration.",
      "type": "object"
    },
    "RestartInstanceRequest": {
      "id": "RestartInstanceRequest",
      "properties": {},
      "type": "object",
      "description": "Request options for restarting an instance."
    },
    "UndeleteInstanceRequest": {
      "id": "UndeleteInstanceRequest",
      "description": "Request options for undeleting an instance.",
      "properties": {},
      "type": "object"
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://looker.googleapis.com/"
}