{
  "ownerDomain": "google.com",
  "title": "Looker (Google Cloud core) API",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://looker.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://looker.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://looker.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://looker.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://looker.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://looker.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://looker.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://looker.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "looker.projects.locations.list",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "looker.projects.locations.get",
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "instances": {
              "methods": {
                "create": {
                  "description": "Creates a new Instance in a given project and location.",
                  "id": "looker.projects.locations.instances.create",
                  "request": {
                    "$ref": "Instance"
                  },
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "instanceId": {
                      "location": "query",
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "restore": {
                  "path": "v1/{+name}:restore",
                  "id": "looker.projects.locations.instances.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "description": "Restore Looker instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "httpMethod": "POST"
                },
                "import": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Import instance.",
                  "id": "looker.projects.locations.instances.import",
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "path": "v1/{+name}:import",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "restart": {
                  "id": "looker.projects.locations.instances.restart",
                  "path": "v1/{+name}:restart",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "description": "Restart instance.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE",
                  "description": "Delete instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "looker.projects.locations.instances.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Whether to force cascading delete.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "description": "Lists Instances in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/instances",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "location": "query"
                    },
                    "showDeleted": {
                      "description": "Optional. Whether to include deleted instances in the response.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "id": "looker.projects.locations.instances.list"
                },
                "export": {
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.instances.export",
                  "path": "v1/{+name}:export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Export instance.",
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "description": "Gets details of a single Instance.",
                  "id": "looker.projects.locations.instances.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "undelete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}"
                    }
                  },
                  "description": "Undeletes Looker instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:undelete",
                  "id": "looker.projects.locations.instances.undelete",
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update Instance.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
                    }
                  },
                  "id": "looker.projects.locations.instances.patch",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}"
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "path": "v1/{+name}",
                      "id": "looker.projects.locations.instances.backups.get",
                      "description": "",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of instances to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token received from a previous ListInstances request.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "List backups of Looker instance.",
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/backups",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.list"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.delete",
                      "httpMethod": "DELETE",
                      "description": "Delete backup.",
                      "parameters": {
                        "name": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}"
                    },
                    "create": {
                      "id": "looker.projects.locations.instances.backups.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Backup Looker instance.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/backups"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "looker.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "looker.projects.locations.operations.cancel"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "looker.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "looker.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "version_module": true,
  "baseUrl": "https://looker.googleapis.com/",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Looker",
  "batchPath": "batch",
  "revision": "20260907",
  "id": "looker:v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "schemas": {
    "RestartInstanceRequest": {
      "properties": {},
      "type": "object",
      "id": "RestartInstanceRequest",
      "description": "Request options for restarting an instance."
    },
    "ListInstanceBackupsResponse": {
      "type": "object",
      "properties": {
        "instanceBackups": {
          "type": "array",
          "items": {
            "$ref": "InstanceBackup"
          },
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "description": "Response from listing Looker instance backups.",
      "id": "ListInstanceBackupsResponse"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object"
    },
    "PeriodicExportConfig": {
      "type": "object",
      "id": "PeriodicExportConfig",
      "properties": {
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC to start the periodic export job."
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}",
          "type": "string"
        }
      },
      "description": "Configuration for periodic export."
    },
    "PscConfig": {
      "properties": {
        "serviceAttachments": {
          "description": "Optional. List of egress service attachment configurations.",
          "type": "array",
          "items": {
            "$ref": "ServiceAttachment"
          }
        },
        "lookerServiceAttachmentUri": {
          "description": "Output only. URI of the Looker service attachment.",
          "readOnly": true,
          "type": "string"
        },
        "allowedVpcs": {
          "type": "array",
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PscConfig",
      "type": "object",
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ExportInstanceRequest": {
      "type": "object",
      "properties": {
        "encryptionConfig": {
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK.",
          "$ref": "ExportEncryptionConfig"
        },
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "id": "ExportInstanceRequest",
      "description": "Request options for exporting data of an Instance."
    },
    "IngressIpAllowlistRule": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description for the IP range."
        },
        "ipRange": {
          "type": "string",
          "description": "Optional. The IP range to allow ingress traffic from."
        }
      },
      "id": "IngressIpAllowlistRule",
      "type": "object",
      "description": "Ingress IP allowlist rule."
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "Specifies the recurring maintenance window.",
      "id": "MaintenanceWindow",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC)."
        },
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "UserMetadata": {
      "properties": {
        "additionalViewerUserCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of additional viewer users the instance owner has purchased."
        },
        "additionalDeveloperUserCount": {
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "type": "integer",
          "format": "int32"
        },
        "additionalStandardUserCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of additional standard users the instance owner has purchased."
        }
      },
      "type": "object",
      "id": "UserMetadata",
      "description": "Metadata about users for a Looker instance."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "CustomDomain": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ],
          "description": "Domain state.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name."
        }
      },
      "type": "object",
      "description": "Custom domain information.",
      "id": "CustomDomain"
    },
    "IngressIpAllowlistConfig": {
      "type": "object",
      "properties": {
        "allowlistRules": {
          "description": "Optional. List of IP range rules to allow ingress traffic.",
          "items": {
            "$ref": "IngressIpAllowlistRule"
          },
          "type": "array"
        },
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "googleServicesEnabled": {
          "description": "Optional. Whether google service connections are enabled for the instance.",
          "type": "boolean"
        }
      },
      "description": "Ingress IP allowlist configuration.",
      "id": "IngressIpAllowlistConfig"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "target": {
          "type": "string",
          "description": "Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "description": "A Looker instance.",
      "properties": {
        "adminSettings": {
          "description": "Looker Instance Admin settings.",
          "$ref": "AdminSettings"
        },
        "pscConfig": {
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true.",
          "$ref": "PscConfig"
        },
        "controlledEgressEnabled": {
          "type": "boolean",
          "description": "Optional. Whether controlled egress is enabled on the Looker instance."
        },
        "privateIpEnabled": {
          "description": "Whether private IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the Looker instance was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "ingressIpAllowlistConfig": {
          "$ref": "IngressIpAllowlistConfig",
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance."
        },
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "classType": {
          "description": "Optional. Storage class of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "catalogIntegrationOptOut": {
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance.",
          "type": "boolean"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "platformEdition": {
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ],
          "description": "Platform edition.",
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ],
          "type": "string"
        },
        "customDomain": {
          "description": "Custom domain configuration for the instance.",
          "$ref": "CustomDomain"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "description": "Output only. The state of the instance.",
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ]
        },
        "lookerVersion": {
          "description": "Output only. The Looker version that the instance is using.",
          "readOnly": true,
          "type": "string"
        },
        "reservedRange": {
          "type": "string",
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request."
        },
        "geminiEnabled": {
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "suspendedTime": {
          "type": "string",
          "description": "Output only. The time when the Looker instance was suspended (soft deleted).",
          "format": "google-datetime",
          "readOnly": true
        },
        "lookerUri": {
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "type": "string",
          "readOnly": true
        },
        "releaseChannel": {
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "type": "string",
          "description": "Optional. The selected release channel for the instance."
        },
        "encryptionConfig": {
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance.",
          "$ref": "EncryptionConfig"
        },
        "softDeleteReason": {
          "readOnly": true,
          "description": "Output only. The reason for the instance being in a soft-deleted state.",
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ],
          "type": "string",
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ]
        },
        "maintenanceWindow": {
          "description": "Maintenance window for this instance.",
          "$ref": "MaintenanceWindow"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "userMetadata": {
          "description": "Optional. User metadata.",
          "$ref": "UserMetadata"
        },
        "ingressPrivateIp": {
          "description": "Output only. Private Ingress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "pscEnabled": {
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
          "type": "boolean"
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance."
        },
        "egressPublicIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Public Egress IP (IPv4)."
        },
        "publicIpEnabled": {
          "description": "Whether public IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "acceleratedSecurityPatchEnabled": {
          "type": "boolean",
          "description": "Optional. Accelerated security patch enabled for the instance."
        },
        "ingressPublicIp": {
          "type": "string",
          "description": "Output only. Public Ingress IP (IPv4).",
          "readOnly": true
        },
        "fipsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether FIPS is enabled on the Looker instance."
        },
        "linkedLspProjectNumber": {
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "type": "string",
          "format": "int64"
        },
        "oauthConfig": {
          "description": "Looker instance OAuth login settings.",
          "$ref": "OAuthConfig"
        },
        "periodicExportConfig": {
          "$ref": "PeriodicExportConfig",
          "description": "Optional. Configuration for periodic export."
        },
        "lastDenyMaintenancePeriod": {
          "description": "Output only. Last computed maintenance denial period for this instance.",
          "readOnly": true,
          "$ref": "DenyMaintenancePeriod"
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "description": "Maintenance schedule for this instance."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "format": "google-datetime"
        }
      }
    },
    "ServiceAttachment": {
      "id": "ServiceAttachment",
      "description": "Service attachment configuration.",
      "properties": {
        "failureReason": {
          "readOnly": true,
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning.",
          "type": "string"
        },
        "localFqdns": {
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "localFqdn": {
          "type": "string",
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment."
        },
        "targetServiceAttachmentUri": {
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
          "type": "string"
        },
        "connectionStatus": {
          "type": "string",
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "readOnly": true,
          "description": "Output only. Connection status."
        }
      },
      "type": "object"
    },
    "ExportMetadataEncryptionKey": {
      "description": "Encryption key details for the exported artifact.",
      "type": "object",
      "id": "ExportMetadataEncryptionKey",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the CMEK."
        },
        "cmek": {
          "description": "Name of the CMEK.",
          "type": "string"
        }
      }
    },
    "ImportInstanceRequest": {
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "description": "Requestion options for importing looker data to an Instance",
      "type": "object",
      "id": "ImportInstanceRequest"
    },
    "RestoreInstanceRequest": {
      "description": "Request options for restoring an instance",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
          "type": "string"
        }
      },
      "id": "RestoreInstanceRequest"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "OAuthConfig": {
      "properties": {
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret."
        }
      },
      "type": "object",
      "id": "OAuthConfig",
      "description": "Looker instance OAuth login settings."
    },
    "MaintenanceSchedule": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled start time for the maintenance."
        }
      },
      "description": "Published upcoming future maintenance schedule.",
      "id": "MaintenanceSchedule",
      "type": "object"
    },
    "InstanceBackup": {
      "type": "object",
      "description": "The details of a backup resource.",
      "id": "InstanceBackup",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`"
        },
        "createTime": {
          "description": "Output only. The time when the backup was started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time when the backup will be deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Output only. Current status of the CMEK encryption",
          "$ref": "EncryptionConfig",
          "readOnly": true
        }
      }
    },
    "UndeleteInstanceRequest": {
      "properties": {},
      "type": "object",
      "description": "Request options for undeleting an instance.",
      "id": "UndeleteInstanceRequest"
    },
    "ListInstancesResponse": {
      "properties": {
        "instances": {
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested `pageSize`.",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If provided, a page token that can look up the next `pageSize` results. If empty, the results list is exhausted."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListInstancesResponse",
      "description": "Response from ListInstances.",
      "type": "object"
    },
    "ExportMetadata": {
      "properties": {
        "lookerInstance": {
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
          "type": "string"
        },
        "exportEncryptionKey": {
          "description": "Encryption key that was used to encrypt the export artifacts.",
          "$ref": "ExportMetadataEncryptionKey"
        },
        "lookerVersion": {
          "type": "string",
          "description": "Version of instance when the export was created."
        },
        "lookerEncryptionKey": {
          "type": "string",
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK."
        },
        "esaSourceDatasetId": {
          "type": "string",
          "description": "Source BigQuery dataset (formatted as `project_id:dataset_id`) for O2C Elite System Activity (ESA) direct dataset migration."
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL"
          ],
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original"
          ],
          "description": "The source type of the migration."
        },
        "lookerPlatformEdition": {
          "description": "Platform edition of the exported instance.",
          "type": "string"
        },
        "filePaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata."
        }
      },
      "id": "ExportMetadata",
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message",
      "type": "object"
    },
    "ExportEncryptionConfig": {
      "id": "ExportEncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Required. Name of the CMEK key in KMS."
        }
      },
      "description": "Configuration for Encryption - e.g. CMEK.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AdminSettings": {
      "description": "Looker instance Admin settings fields.",
      "type": "object",
      "properties": {
        "allowedEmailDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Email domain allowlist for the instance."
        }
      },
      "id": "AdminSettings"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "EncryptionConfig": {
      "description": "Encryption configuration (i.e. CMEK).",
      "properties": {
        "kmsKeyState": {
          "type": "string",
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ],
          "description": "Output only. Status of the CMEK key.",
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "readOnly": true
        },
        "kmsKeyNameVersion": {
          "readOnly": true,
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EncryptionConfig"
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "DenyMaintenancePeriod": {
      "description": "Specifies the maintenance denial period.",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the deny maintenance period."
        },
        "startDate": {
          "description": "Required. Start date of the deny maintenance period.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "ControlledEgressConfig": {
      "type": "object",
      "id": "ControlledEgressConfig",
      "properties": {
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        },
        "webProxyIps": {
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "egressFqdns": {
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Controlled egress configuration."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "basePath": "",
  "name": "looker",
  "rootUrl": "https://looker.googleapis.com/"
}