{
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "name": "lustre",
  "ownerName": "Google",
  "description": "",
  "baseUrl": "https://lustre.googleapis.com/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "mtlsRootUrl": "https://lustre.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "version_module": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1",
  "schemas": {
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "MaintenanceExclusionWindow": {
      "id": "MaintenanceExclusionWindow",
      "properties": {
        "time": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the exclusion window starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the exclusion period in UTC time zone. This date is inclusive."
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the exclusion period in UTC time zone. This date is inclusive."
        }
      },
      "type": "object",
      "description": "Exclusion period when maintenance updates should not occur. An exclusion window can be in either of the following two formats: * Non-recurring : A full date, with non-zero year, month and day values. * Recurring : A month and day value, with a zero year. Time zone is UTC."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "AccessRule": {
      "description": "A single policy group with IP-based access rules for the Managed Lustre instance.",
      "id": "AccessRule",
      "properties": {
        "ipAddressRanges": {
          "description": "Required. The IP address ranges to which to apply this access rule. Accepts non-overlapping CIDR ranges (e.g., `192.168.1.0/24`) and IP addresses (e.g., `192.168.1.0`).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "squashMode": {
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_SQUASH",
            "ROOT_SQUASH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified squash mode.",
            "Squash is disabled. If set inside an AccessRule, root users matching the ip_ranges are not squashed. If set as the default_squash_mode, root squash is disabled for this instance. If the default squash mode is `NO_SQUASH`, do not set the default_squash_uid or default_squash_gid, or an `invalid argument` error is returned.",
            "Root user squash is enabled. Not supported inside an AccessRule. If set as the default_squash_mode, root users not matching any of the access_rules are squashed to the default_squash_uid and default_squash_gid."
          ],
          "description": "Required. Squash mode for the access rule."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the access rule policy group. Must be 16 characters or less and include only alphanumeric characters or '_'."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "ReconciliationOperationMetadata": {
      "type": "object",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "properties": {
        "deleteResource": {
          "type": "boolean",
          "deprecated": true,
          "description": "DEPRECATED. Use exclusive_action instead."
        },
        "exclusiveAction": {
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "type": "string",
          "description": "Excluisive action returned by the CLH.",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ]
        }
      },
      "id": "ReconciliationOperationMetadata"
    },
    "WeeklyMaintenanceWindow": {
      "description": "Weekly time window in which maintenance updates may occur. Duration of the window is currently fixed at 1 hour. Time zone is UTC.",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "Required. Day of the week for the maintenance window.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Required. Start time of the maintenance window in UTC time zone.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "WeeklyMaintenanceWindow"
    },
    "Date": {
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date"
    },
    "ImportDataRequest": {
      "properties": {
        "lustrePath": {
          "$ref": "LustrePath",
          "description": "Lustre path destination."
        },
        "requestId": {
          "description": "Optional. UUID to identify requests.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. User-specified service account used to perform the transfer. If unspecified, the default Managed Lustre service agent will be used. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}`"
        },
        "gcsPath": {
          "description": "The Cloud Storage source bucket and, optionally, path inside the bucket. If a path inside the bucket is specified, it must end with a forward slash (`/`).",
          "$ref": "GcsPath"
        }
      },
      "type": "object",
      "description": "Message for importing data to Lustre.",
      "id": "ImportDataRequest"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "Output only. The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The scheduled end time for the maintenance.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MaintenanceSchedule",
      "description": "Represents a scheduled maintenance event.",
      "type": "object"
    },
    "ListInstancesResponse": {
      "type": "object",
      "id": "ListInstancesResponse",
      "description": "Message for response to listing Instances",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "instances": {
          "type": "array",
          "description": "Response from ListInstances.",
          "items": {
            "$ref": "Instance"
          }
        }
      }
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "description": "Defines a maintenance policy for a resource.",
      "type": "object",
      "properties": {
        "weeklyMaintenanceWindows": {
          "description": "Required. The weekly maintenance windows for the instance. Currently limited to 1 window.",
          "type": "array",
          "items": {
            "$ref": "WeeklyMaintenanceWindow"
          }
        },
        "maintenanceExclusionWindow": {
          "items": {
            "$ref": "MaintenanceExclusionWindow"
          },
          "type": "array",
          "description": "Optional. The exclusion windows for the instance. Currently limited to 1 window."
        }
      }
    },
    "LustrePath": {
      "type": "object",
      "description": "The root directory path to the Lustre file system.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. The root directory path to the Managed Lustre file system. Must start with `/`. Default is `/`. If you're importing data into Managed Lustre, any path other than the default must already exist on the file system."
        }
      },
      "id": "LustrePath"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "type": "object",
      "description": "Represents the metadata of a long-running operation."
    },
    "DynamicTierOptions": {
      "properties": {
        "mode": {
          "description": "Required. Immutable. The dynamic tier mode of the instance.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "DEFAULT_CACHE"
          ],
          "enumDescriptions": [
            "Unspecified dynamic tier mode.",
            "The dynamic tier is explicitly disabled.",
            "The dynamic tier is enabled."
          ]
        }
      },
      "description": "Dynamic tier options for a Managed Lustre instance.",
      "id": "DynamicTierOptions",
      "type": "object"
    },
    "GcsPath": {
      "description": "Specifies a Cloud Storage bucket and, optionally, a path inside the bucket.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI to a Cloud Storage bucket, or a path within a bucket, using the format `gs:////`. If a path inside the bucket is specified, it must end with a forward slash (`/`)."
        }
      },
      "id": "GcsPath",
      "type": "object"
    },
    "ExportDataRequest": {
      "description": "Export data from Managed Lustre to a Cloud Storage bucket.",
      "properties": {
        "requestId": {
          "description": "Optional. UUID to identify requests.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. User-specified service account used to perform the transfer. If unspecified, the Managed Lustre service agent is used. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}`"
        },
        "lustrePath": {
          "description": "The root directory path to the Managed Lustre file system. Must start with `/`. Default is `/`.",
          "$ref": "LustrePath"
        },
        "gcsPath": {
          "description": "The URI to a Cloud Storage bucket, or a path within a bucket, using the format `gs:////`. If a path inside the bucket is specified, it must end with a forward slash (`/`).",
          "$ref": "GcsPath"
        }
      },
      "type": "object",
      "id": "ExportDataRequest"
    },
    "AccessRulesOptions": {
      "type": "object",
      "description": "IP-based access rules for the Managed Lustre instance. These options define the root user squash configuration.",
      "properties": {
        "accessRules": {
          "description": "Optional. The access rules for the instance.",
          "type": "array",
          "items": {
            "$ref": "AccessRule"
          }
        },
        "defaultSquashGid": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The user squash GID for the default access rule. This user squash GID applies to all root users connecting from clients that are not matched by any of the access rules. If not set, the default is 0 (no GID squash)."
        },
        "defaultSquashUid": {
          "format": "int32",
          "description": "Optional. The user squash UID for the default access rule. This user squash UID applies to all root users connecting from clients that are not matched by any of the access rules. If not set, the default is 0 (no UID squash).",
          "type": "integer"
        },
        "defaultSquashMode": {
          "enumDescriptions": [
            "Unspecified squash mode.",
            "Squash is disabled. If set inside an AccessRule, root users matching the ip_ranges are not squashed. If set as the default_squash_mode, root squash is disabled for this instance. If the default squash mode is `NO_SQUASH`, do not set the default_squash_uid or default_squash_gid, or an `invalid argument` error is returned.",
            "Root user squash is enabled. Not supported inside an AccessRule. If set as the default_squash_mode, root users not matching any of the access_rules are squashed to the default_squash_uid and default_squash_gid."
          ],
          "type": "string",
          "description": "Required. The squash mode for the default access rule.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_SQUASH",
            "ROOT_SQUASH"
          ]
        }
      },
      "id": "AccessRulesOptions"
    },
    "RescheduleMaintenanceRequest": {
      "type": "object",
      "id": "RescheduleMaintenanceRequest",
      "properties": {
        "reschedule": {
          "description": "Required. The desired reschedule settings.",
          "$ref": "Reschedule"
        },
        "requestId": {
          "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
          "type": "string"
        }
      },
      "description": "Message for requesting to reschedule a maintenance event for a specific instance."
    },
    "Instance": {
      "type": "object",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the resource. This is unrelated to the access rules which allow specifying the root squash uid."
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. The Cloud KMS key name to use for data encryption. If not set, the instance will use Google-managed encryption keys. If set, the instance will use customer-managed encryption keys. The key must be in the same region as the instance. The key format is: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}"
        },
        "filesystem": {
          "type": "string",
          "description": "Required. Immutable. The filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be eight characters or less and can only contain letters and numbers."
        },
        "mountPoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Mount point of the instance in the format `IP_ADDRESS@tcp:/FILESYSTEM`."
        },
        "capacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Required. The storage capacity of the instance in gibibytes (GiB). Allowed values depend on the `perUnitStorageThroughput`. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for specific minimums, maximums, and step sizes for each performance tier."
        },
        "upcomingMaintenanceSchedule": {
          "readOnly": true,
          "$ref": "MaintenanceSchedule",
          "description": "Output only. Date and time of upcoming maintenance for the instance, if a maintenance policy is set."
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The full name of the VPC network to which the instance is connected. Must be in the format `projects/{project_id}/global/networks/{network_name}`."
        },
        "perUnitStorageThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The throughput of the instance in MBps per TiB. Valid values are 0, 125, 250, 500, 1000. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for more information. If the instance is using the Dynamic tier, this field must not be set or must be set to zero."
        },
        "placementPolicy": {
          "type": "string",
          "description": "Optional. The placement policy name for the instance in the format of projects/{project}/locations/{location}/resourcePolicies/{resource_policy}"
        },
        "description": {
          "description": "Optional. A user-readable description of the instance.",
          "type": "string"
        },
        "accessRulesOptions": {
          "description": "Optional. The access rules options for the instance.",
          "$ref": "AccessRulesOptions"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Optional. The maintenance policy for the instance to determine when to allow or exclude the instance from maintenance updates."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the instance was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The instance is available for use.",
            "The instance is being created and is not yet ready for use.",
            "The instance is being deleted.",
            "The instance is being upgraded.",
            "The instance is being repaired.",
            "The instance is stopped.",
            "The instance is being updated.",
            "The instance is suspended due to an issue related to Cloud KMS. The details are available in state_reason."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "UPGRADING",
            "REPAIRING",
            "STOPPED",
            "UPDATING",
            "SUSPENDED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the instance.",
          "type": "string"
        },
        "stateReason": {
          "type": "string",
          "description": "Output only. The reason why the instance is in a certain state (e.g. SUSPENDED).",
          "readOnly": true
        },
        "dynamicTierOptions": {
          "description": "Optional. Immutable. Specifies whether the instance is on the Dynamic tier. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for more information.",
          "$ref": "DynamicTierOptions"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the instance was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the instance.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gkeSupportEnabled": {
          "description": "Optional. Deprecated: No longer required for GKE instance creation. Indicates whether you want to enable support for GKE clients. By default, GKE clients are not supported.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "Instance",
      "description": "A Managed Lustre instance."
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Reschedule": {
      "properties": {
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Required if reschedule_type is BY_TIME. Timestamp when the maintenance shall be rescheduled to. This time must be within 28 days of the original scheduled maintenance start time."
        },
        "rescheduleType": {
          "description": "Required. The type of rescheduling.",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "BY_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified schedule type.",
            "Apply update immediately",
            "Reschedule to the next available window.",
            "Reschedule to a specific time."
          ]
        }
      },
      "type": "object",
      "id": "Reschedule",
      "description": "The desired reschedule settings."
    }
  },
  "documentationLink": "https://cloud.google.com/managed-lustre/docs",
  "revision": "20260819",
  "id": "lustre:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "lustre.projects.locations.list"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "lustre.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "instances": {
              "methods": {
                "rescheduleMaintenance": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Reschedules a planned maintenance event for a specific instance.",
                  "request": {
                    "$ref": "RescheduleMaintenanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "lustre.projects.locations.instances.rescheduleMaintenance",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:rescheduleMaintenance",
                  "path": "v1/{+name}:rescheduleMaintenance",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new instance in a given project and location.",
                  "path": "v1/{+parent}/instances",
                  "request": {
                    "$ref": "Instance"
                  },
                  "id": "lustre.projects.locations.instances.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "instanceId": {
                      "description": "Required. The name of the Managed Lustre instance. * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The instance's project and location, in the format `projects/{project}/locations/{location}`. Locations map to Google Cloud zones; for example, `us-west1-b`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/instances",
                  "id": "lustre.projects.locations.instances.list",
                  "description": "Lists instances in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Desired order of results.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve a list of instances, in the format `projects/{projectId}/locations/{location}`. To retrieve instance information for all locations, use \"-\" as the value of `{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server might return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  }
                },
                "exportData": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. The name of the Managed Lustre instance in the format `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:exportData",
                  "description": "Exports data from a Managed Lustre instance to Cloud Storage.",
                  "id": "lustre.projects.locations.instances.exportData",
                  "path": "v1/{+name}:exportData",
                  "request": {
                    "$ref": "ExportDataRequest"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "lustre.projects.locations.instances.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The instance resource name, in the format `projects/{projectId}/locations/{location}/instances/{instanceId}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single instance.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any sub-resources from this instance will also be deleted. Otherwise, the request will only work if the instance has no sub-resources.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the instance to delete, in the format `projects/{projectId}/locations/{location}/instances/{instanceId}`.",
                      "required": true
                    }
                  },
                  "id": "lustre.projects.locations.instances.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "importData": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "lustre.projects.locations.instances.importData",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "description": "Imports data from Cloud Storage to a Managed Lustre instance.",
                  "path": "v1/{+name}:importData",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. The name of the Managed Lustre instance in the format `projects/{project}/locations/{location}/instances/{instance}`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:importData"
                },
                "patch": {
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "lustre.projects.locations.instances.patch",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Identifier. The name of the instance.",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Specifies the fields to be overwritten in the instance resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If no mask is provided then all fields present in the request are overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates the parameters of a single instance.",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "lustre.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "lustre.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "lustre.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "lustre.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://lustre.googleapis.com/",
  "title": "Google Cloud Managed Lustre API",
  "canonicalName": "Google Cloud Managed Lustre",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}