{
  "title": "Managed Service for Apache Kafka API",
  "baseUrl": "https://managedkafka.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260910",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "id": "managedkafka.projects.locations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "managedkafka.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "patch": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "httpMethod": "PATCH",
                  "id": "managedkafka.projects.locations.clusters.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "description": "Updates the properties of a single cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include the basic metadata of the Cluster. This is the default value (for both ListClusters and GetCluster).",
                        "Include everything, including data fetched from the Kafka cluster source of truth."
                      ],
                      "description": "Optional. Specifies the view of the Cluster resource to be returned. Defaults to CLUSTER_VIEW_BASIC. See the ClusterView enum for possible values.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_FULL"
                      ]
                    },
                    "name": {
                      "description": "Required. The name of the cluster whose configuration to return.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Returns the properties of a single cluster.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "managedkafka.projects.locations.clusters.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "managedkafka.projects.locations.clusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "description": "Lists the clusters in a given project and location.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent location whose clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Order by fields for the result.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression for the result.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "path": "v1/{+parent}/clusters"
                },
                "create": {
                  "id": "managedkafka.projects.locations.clusters.create",
                  "description": "Creates a new cluster in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/clusters",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent region in which to create the cluster. Structured like `projects/{project}/locations/{location}`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the cluster to delete."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "managedkafka.projects.locations.clusters.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "acls": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.clusters.acls.get",
                      "response": {
                        "$ref": "Acl"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path",
                          "description": "Required. The name of the acl to return. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Returns the properties of a single acl.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the acl to delete. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details."
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.clusters.acls.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes an acl."
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the properties of a single acl.",
                      "request": {
                        "$ref": "Acl"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Acl resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Acl"
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/acls",
                      "id": "managedkafka.projects.locations.clusters.acls.create",
                      "request": {
                        "$ref": "Acl"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent cluster in which to create the acl. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        },
                        "aclId": {
                          "type": "string",
                          "description": "Required. The ID to use for the acl, which will become the final component of the acl's name. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
                          "location": "query"
                        }
                      },
                      "description": "Creates a new acl in the given project, location, and cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Acl"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "path": "v1/{+parent}/acls",
                      "response": {
                        "$ref": "ListAclsResponse"
                      },
                      "description": "Lists the acls in a given cluster.",
                      "id": "managedkafka.projects.locations.clusters.acls.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of acls to return. The service may return fewer than this value. If unset or zero, all acls for the parent is returned."
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListAcls` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAcls` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent cluster whose acls are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "removeAclEntry": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "acl"
                      ],
                      "id": "managedkafka.projects.locations.clusters.acls.removeAclEntry",
                      "response": {
                        "$ref": "RemoveAclEntryResponse"
                      },
                      "parameters": {
                        "acl": {
                          "location": "path",
                          "description": "Required. The name of the acl to remove the acl entry from. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}:removeAclEntry",
                      "path": "v1/{+acl}:removeAclEntry",
                      "description": "Incremental update: Removes an acl entry from an acl. Deletes the acl if its acl entries become empty (i.e. if the removed entry was the last one in the acl).",
                      "request": {
                        "$ref": "AclEntry"
                      }
                    },
                    "addAclEntry": {
                      "parameters": {
                        "acl": {
                          "location": "path",
                          "description": "Required. The name of the acl to add the acl entry to. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "AddAclEntryResponse"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.addAclEntry",
                      "description": "Incremental update: Adds an acl entry to an acl. Creates the acl if it does not exist yet.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}:addAclEntry",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+acl}:addAclEntry",
                      "parameterOrder": [
                        "acl"
                      ],
                      "request": {
                        "$ref": "AclEntry"
                      }
                    }
                  }
                },
                "consumerGroups": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ConsumerGroup"
                      },
                      "path": "v1/{+name}",
                      "description": "Returns the properties of a single consumer group.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the consumer group whose configuration to return. `projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumerGroup}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "location": "path",
                          "description": "Required. The name of the consumer group to delete. `projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumerGroup}`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Deletes a single consumer group."
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$"
                        },
                        "updateMask": {
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the ConsumerGroup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ConsumerGroup"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "ConsumerGroup"
                      },
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.patch",
                      "description": "Updates the properties of a single consumer group.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "view": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Specifies the view (BASIC or FULL) of the ConsumerGroup resource to be returned in the response. Defaults to FULL view.",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include the name of the ConsumerGroup. This hides partition and topic metadata.",
                            "Include everything, including partition and topic metadata. This is the default value."
                          ],
                          "enum": [
                            "CONSUMER_GROUP_VIEW_UNSPECIFIED",
                            "CONSUMER_GROUP_VIEW_BASIC",
                            "CONSUMER_GROUP_VIEW_FULL"
                          ]
                        },
                        "filter": {
                          "description": "Optional. Filter expression for the result. Only supports filtering by topic name as a key in the `topics` map.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListConsumerGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConsumerGroups` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of consumer groups to return. The service may return fewer than this value. If unset or zero, all consumer groups for the parent is returned."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent cluster whose consumer groups are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.list",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/consumerGroups",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups",
                      "description": "Lists the consumer groups in a given cluster.",
                      "response": {
                        "$ref": "ListConsumerGroupsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the topic whose configuration to return. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.clusters.topics.get",
                      "httpMethod": "GET",
                      "description": "Returns the properties of a single topic."
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the Topic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the properties of a single topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "id": "managedkafka.projects.locations.clusters.topics.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "request": {
                        "$ref": "Topic"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent is returned.",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "description": "Required. The parent cluster whose topics are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "description": "Lists the topics in a given cluster.",
                      "path": "v1/{+parent}/topics",
                      "id": "managedkafka.projects.locations.clusters.topics.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics"
                    },
                    "delete": {
                      "id": "managedkafka.projects.locations.clusters.topics.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "description": "Required. The name of the topic to delete. `projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}`.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single topic.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "Topic"
                      },
                      "response": {
                        "$ref": "Topic"
                      },
                      "id": "managedkafka.projects.locations.clusters.topics.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent cluster in which to create the topic. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "location": "path"
                        },
                        "topicId": {
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new topic in a given project and location.",
                      "path": "v1/{+parent}/topics",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "schemaRegistries": {
              "resources": {
                "contexts": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.contexts.get",
                      "description": "Get the context.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the context to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}",
                      "response": {
                        "$ref": "Context"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent of the contexts. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/contexts",
                      "httpMethod": "GET",
                      "description": "List contexts for a schema registry.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.contexts.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  },
                  "resources": {
                    "compatibility": {
                      "methods": {
                        "checkCompatibility": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the resource to check compatibility for. The format is either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/*/versions: Check compatibility with one or more versions of the specified subject. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/{subject}/versions/{version}: Check compatibility with a specific version of the subject.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/compatibility/.*$",
                              "type": "string"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.compatibility.checkCompatibility",
                          "description": "Check compatibility of a schema with all versions or a specific version of a subject.",
                          "httpMethod": "POST",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "CheckCompatibilityResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/compatibility/{compatibilityId}",
                          "request": {
                            "$ref": "CheckCompatibilityRequest"
                          }
                        }
                      }
                    },
                    "config": {
                      "methods": {
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.delete",
                          "description": "Delete schema config for a subject.",
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}"
                            }
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.get",
                          "description": "Get schema config at global level or for a subject.",
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "parameters": {
                            "defaultToGlobal": {
                              "location": "query",
                              "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject."
                            }
                          }
                        },
                        "update": {
                          "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "required": true,
                              "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "httpMethod": "PUT",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "UpdateSchemaConfigRequest"
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.update",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "path": "v1/{+name}"
                        }
                      }
                    },
                    "schemas": {
                      "methods": {
                        "getSchema": {
                          "parameters": {
                            "subject": {
                              "location": "query",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}/schema",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/schema",
                          "description": "Get the schema string for the given schema id. The response will be the schema string.",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.getSchema",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          }
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Schema"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "required": true
                            },
                            "subject": {
                              "type": "string",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "location": "query"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Get the schema for the given schema id.",
                          "path": "v1/{+name}",
                          "httpMethod": "GET"
                        }
                      },
                      "resources": {
                        "types": {
                          "methods": {
                            "list": {
                              "description": "List the supported schema types. The response will be an array of schema types.",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.types.list",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/types",
                              "path": "v1/{+parent}/schemas/types",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              }
                            }
                          }
                        },
                        "versions": {
                          "methods": {
                            "list": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/versions",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.versions.list",
                              "httpMethod": "GET",
                              "parameters": {
                                "subject": {
                                  "type": "string",
                                  "description": "Optional. The subject to filter the subjects by.",
                                  "location": "query"
                                },
                                "deleted": {
                                  "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                                  "location": "query",
                                  "type": "boolean"
                                },
                                "parent": {
                                  "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                                  "required": true
                                }
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "path": "v1/{+parent}/versions",
                              "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}]."
                            }
                          }
                        },
                        "subjects": {
                          "methods": {
                            "list": {
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/subjects",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$"
                                },
                                "subject": {
                                  "type": "string",
                                  "description": "Optional. The subject to filter the subjects by.",
                                  "location": "query"
                                },
                                "deleted": {
                                  "location": "query",
                                  "type": "boolean",
                                  "description": "Optional. If true, the response will include soft-deleted subjects. The default is false."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "path": "v1/{+parent}/subjects",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.subjects.list",
                              "description": "List subjects which reference a particular schema id. The response will be an array of subject names."
                            }
                          }
                        }
                      }
                    },
                    "subjects": {
                      "methods": {
                        "delete": {
                          "httpMethod": "DELETE",
                          "description": "Delete a subject. The response will be an array of versions of the deleted subject.",
                          "parameters": {
                            "permanent": {
                              "description": "Optional. If true, the subject and all associated metadata including the schema ID will be deleted permanently. Otherwise, only the subject is soft-deleted. The default is false. Soft-deleted subjects can still be searched in ListSubjects API call with deleted=true query parameter. A soft-delete of a subject must be performed before a hard-delete.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "name": {
                              "description": "Required. The name of the subject to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.delete",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.list",
                          "path": "v1/{+parent}/subjects",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent schema registry/context whose subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "subjectPrefix": {
                              "location": "query",
                              "description": "Optional. The context to filter the subjects by, in the format of `:.{context}:`. If unset, all subjects in the registry are returned. Set to empty string or add as '?subjectPrefix=' at the end of this request to list subjects in the default context.",
                              "type": "string"
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                              "type": "boolean"
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List subjects in the schema registry. The response will be an array of subject names.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects"
                        },
                        "lookupVersion": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}",
                          "request": {
                            "$ref": "LookupVersionRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.lookupVersion",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "SchemaVersion"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                              "required": true,
                              "description": "Required. The subject to lookup the schema in. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+parent}",
                          "description": "Lookup a schema under the specified subject.",
                          "httpMethod": "POST"
                        }
                      },
                      "resources": {
                        "versions": {
                          "methods": {
                            "getSchema": {
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}/schema",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Get the schema string only for a version of a subject. The response will be the schema string.",
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "GET",
                              "path": "v1/{+name}/schema",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.getSchema",
                              "parameters": {
                                "deleted": {
                                  "location": "query",
                                  "type": "boolean",
                                  "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false."
                                },
                                "name": {
                                  "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "location": "path"
                                }
                              }
                            },
                            "delete": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "description": "Delete a version of a subject. The response will be the deleted version id.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}",
                              "httpMethod": "DELETE",
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.delete",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}",
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the subject version to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$"
                                },
                                "permanent": {
                                  "description": "Optional. If true, both the version and the referenced schema ID will be permanently deleted. The default is false. If false, the version will be deleted but the schema ID will be retained. Soft-deleted versions can still be searched in ListVersions API call with deleted=true query parameter. A soft-delete of a version must be performed before a hard-delete.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              }
                            },
                            "create": {
                              "httpMethod": "POST",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.create",
                              "path": "v1/{+parent}/versions",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The subject to create the version for. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "request": {
                                "$ref": "CreateVersionRequest"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "CreateVersionResponse"
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions",
                              "description": "Register a new version under a given subject with the given schema.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "list": {
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                                  "description": "Required. The subject whose versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "deleted": {
                                  "type": "boolean",
                                  "description": "Optional. If true, the response will include soft-deleted versions of an active or soft-deleted subject. The default is false.",
                                  "location": "query"
                                }
                              },
                              "description": "Get all versions of a subject. The response will be an array of versions of the subject.",
                              "path": "v1/{+parent}/versions",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.list"
                            },
                            "get": {
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Get a versioned schema (schema with subject/version) of a subject.",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.get",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`"
                                },
                                "deleted": {
                                  "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                                  "type": "boolean",
                                  "location": "query"
                                }
                              },
                              "response": {
                                "$ref": "SchemaVersion"
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}",
                              "httpMethod": "GET",
                              "path": "v1/{+name}"
                            }
                          },
                          "resources": {
                            "referencedby": {
                              "methods": {
                                "list": {
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}/referencedby",
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "response": {
                                    "$ref": "HttpBody"
                                  },
                                  "path": "v1/{+parent}/referencedby",
                                  "description": "Get a list of IDs of schemas that reference the schema with the given subject and version.",
                                  "httpMethod": "GET",
                                  "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.referencedby.list",
                                  "parameters": {
                                    "parent": {
                                      "description": "Required. The version to list referenced by. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                      "location": "path",
                                      "required": true,
                                      "type": "string",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$"
                                    }
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mode": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.delete",
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "description": "Delete schema mode for a subject.",
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "description": "Required. The resource name of subject to delete the mode for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject} * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}"
                        },
                        "update": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "path": "v1/{+name}",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.update",
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "request": {
                            "$ref": "UpdateSchemaModeRequest"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Update mode at global level or for a subject.",
                          "httpMethod": "PUT"
                        },
                        "get": {
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "description": "Get mode at global level or for a subject.",
                          "path": "v1/{+name}",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                },
                "schemas": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Schema"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                        },
                        "subject": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Get the schema for the given schema id."
                    },
                    "getSchema": {
                      "description": "Get the schema string for the given schema id. The response will be the schema string.",
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.getSchema",
                      "path": "v1/{+name}/schema",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "parameters": {
                        "subject": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context."
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/schema",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "types": {
                      "methods": {
                        "list": {
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.types.list",
                          "description": "List the supported schema types. The response will be an array of schema types.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/schemas/types",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/types",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$"
                            }
                          }
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.versions.list",
                          "path": "v1/{+parent}/versions",
                          "parameters": {
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                              "type": "boolean"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
[...]
