{
  "version": "v1alpha1",
  "revision": "20260825",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://managedidentities.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "managedidentities.projects.locations.get",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "managedidentities.projects.locations.list",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1alpha1/{+name}/locations",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "global": {
              "resources": {
                "domains": {
                  "methods": {
                    "enableMigration": {
                      "description": "Enable Domain Migration",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:enableMigration",
                      "parameters": {
                        "domain": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                        }
                      },
                      "path": "v1alpha1/{+domain}:enableMigration",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "EnableMigrationRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "domain"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.enableMigration"
                    },
                    "disableMigration": {
                      "parameterOrder": [
                        "domain"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.disableMigration",
                      "path": "v1alpha1/{+domain}:disableMigration",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:disableMigration",
                      "httpMethod": "POST",
                      "description": "Disable Domain Migration",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "domain": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "DisableMigrationRequest"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the metadata and configuration of a specified domain. Operation",
                      "path": "v1alpha1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "description": "Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Domain: * `labels` * `locations` * `authorized_networks` * `audit_logs_enabled`",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Output only. Unique name of the domain in this scope including projects and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`."
                        }
                      },
                      "request": {
                        "$ref": "Domain"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "httpMethod": "PATCH",
                      "id": "managedidentities.projects.locations.global.domains.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "id": "managedidentities.projects.locations.global.domains.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                        }
                      },
                      "path": "v1alpha1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes identified domain. Operation",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}"
                    },
                    "list": {
                      "id": "managedidentities.projects.locations.global.domains.list",
                      "response": {
                        "$ref": "ListDomainsResponse"
                      },
                      "path": "v1alpha1/{+parent}/domains",
                      "description": "Lists Domains in a given project.",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter specifying constraints of a list operation. For example, `Domain.fqdn=\"mydomain.myorginization\"`.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "Required. The resource name of the domain location using the form: `projects/{project_id}/locations/global`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "detachTrust": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:detachTrust",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "DetachTrustRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The resource domain name, project name, and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                        }
                      },
                      "path": "v1alpha1/{+name}:detachTrust",
                      "id": "managedidentities.projects.locations.global.domains.detachTrust",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Removes identified trust. Operation"
                    },
                    "extendSchema": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "domain"
                      ],
                      "httpMethod": "POST",
                      "path": "v1alpha1/{+domain}:extendSchema",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:extendSchema",
                      "description": "Extend Schema for Domain",
                      "request": {
                        "$ref": "ExtendSchemaRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.extendSchema",
                      "parameters": {
                        "domain": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1alpha1/{+parent}/domains",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a Microsoft AD Domain in a given project. Operation",
                      "id": "managedidentities.projects.locations.global.domains.create",
                      "request": {
                        "$ref": "Domain"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "Resource project name and location using the form: `projects/{project_id}/locations/global`",
                          "required": true,
                          "location": "path"
                        },
                        "domainName": {
                          "type": "string",
                          "description": "The fully qualified domain name. e.g. mydomain.myorganization.com, with the following restrictions: * Must contain only lowercase letters, numbers, periods and hyphens. * Must start with a letter. * Must contain between 2-64 characters. * Must end with a number or a letter. * Must not start with period. * Must be unique within the project. * First segment length (mydomain form example above) shouldn't exceed 15 chars. * The last segment cannot be fully numeric.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "attachTrust": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:attachTrust",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Adds AD trust in a given domain. Operation",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "AttachTrustRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "The resource domain name, project name and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "managedidentities.projects.locations.global.domains.attachTrust",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+name}:attachTrust"
                    },
                    "setIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1alpha1/{+resource}:setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.setIamPolicy",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:setIamPolicy"
                    },
                    "updateLdapssettings": {
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`.",
                          "type": "string"
                        }
                      },
                      "description": "Patches a single ldaps settings.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "id": "managedidentities.projects.locations.global.domains.updateLdapssettings",
                      "path": "v1alpha1/{+name}/ldapssettings",
                      "request": {
                        "$ref": "LDAPSSettings"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/ldapssettings"
                    },
                    "getIamPolicy": {
                      "path": "v1alpha1/{+resource}:getIamPolicy",
                      "id": "managedidentities.projects.locations.global.domains.getIamPolicy",
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Policy"
                      },
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:getIamPolicy"
                    },
                    "reconfigureTrust": {
                      "request": {
                        "$ref": "ReconfigureTrustRequest"
                      },
                      "path": "v1alpha1/{+name}:reconfigureTrust",
                      "description": "Updates the dns conditional forwarder. Operation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The resource domain name, project name and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                        }
                      },
                      "id": "managedidentities.projects.locations.global.domains.reconfigureTrust",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:reconfigureTrust"
                    },
                    "getLdapssettings": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets the domain ldaps settings.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/ldapssettings",
                      "response": {
                        "$ref": "LDAPSSettings"
                      },
                      "httpMethod": "GET",
                      "path": "v1alpha1/{+name}/ldapssettings",
                      "id": "managedidentities.projects.locations.global.domains.getLdapssettings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "restore": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.restore",
                      "request": {
                        "$ref": "RestoreDomainRequest"
                      },
                      "description": "RestoreDomain restores domain backup mentioned in the RestoreDomainRequest",
                      "path": "v1alpha1/{+name}:restore",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:restore",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. resource name for the domain to which the backup belongs",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "resetAdminPassword": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:resetAdminPassword",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ResetAdminPasswordResponse"
                      },
                      "path": "v1alpha1/{+name}:resetAdminPassword",
                      "id": "managedidentities.projects.locations.global.domains.resetAdminPassword",
                      "request": {
                        "$ref": "ResetAdminPasswordRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path",
                          "description": "The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true
                        }
                      },
                      "description": "Resets managed identities admin password identified by managed_identities_admin_name"
                    },
                    "get": {
                      "response": {
                        "$ref": "Domain"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path",
                          "description": "Domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Domain.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.get",
                      "path": "v1alpha1/{+name}"
                    },
                    "checkMigrationPermission": {
                      "httpMethod": "POST",
                      "path": "v1alpha1/{+domain}:checkMigrationPermission",
                      "parameterOrder": [
                        "domain"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:checkMigrationPermission",
                      "request": {
                        "$ref": "CheckMigrationPermissionRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.checkMigrationPermission",
                      "response": {
                        "$ref": "CheckMigrationPermissionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "AuditMigration API gets the current state of DomainMigration",
                      "parameters": {
                        "domain": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "domainJoinMachine": {
                      "request": {
                        "$ref": "DomainJoinMachineRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.domainJoinMachine",
                      "response": {
                        "$ref": "DomainJoinMachineResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:domainJoinMachine",
                      "description": "DomainJoinMachine API joins a Compute Engine VM to the domain",
                      "parameters": {
                        "domain": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The domain resource name using the form: projects/{project_id}/locations/global/domains/{domain_name}",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1alpha1/{+domain}:domainJoinMachine",
                      "parameterOrder": [
                        "domain"
                      ]
                    },
                    "validateTrust": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The resource domain name, project name, and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Validate the trust state Operation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+name}:validateTrust",
                      "request": {
                        "$ref": "ValidateTrustRequest"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:validateTrust",
                      "id": "managedidentities.projects.locations.global.domains.validateTrust",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "testIamPermissions": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "id": "managedidentities.projects.locations.global.domains.testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}:testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "path": "v1alpha1/{+resource}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ]
                    }
                  },
                  "resources": {
                    "sqlIntegrations": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/sqlIntegrations/[^/]+$",
                              "description": "Required. MangedOU resource name using the form: `projects/{project_id}/locations/global/domains/*/sqlIntegrations/{name}`"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "SQLIntegration"
                          },
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/sqlIntegrations/{sqlIntegrationsId}",
                          "description": "Gets details of a single sqlIntegration.",
                          "path": "v1alpha1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedidentities.projects.locations.global.domains.sqlIntegrations.get",
                          "httpMethod": "GET"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListSQLIntegrationsResponse"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/sqlIntegrations",
                          "description": "Lists SQLIntegrations in a given domain.",
                          "id": "managedidentities.projects.locations.global.domains.sqlIntegrations.list",
                          "path": "v1alpha1/{+parent}/sqlIntegrations",
                          "parameters": {
                            "filter": {
                              "description": "Optional. Filter specifying constraints of a list operation. For example, `SqlIntegration.name=\"sql\"`.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The next_page_token value returned from a previous List request, if any."
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response'ANIZATIONs next_page_token to determine if there are more instances left to be queried.",
                              "format": "int32"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "description": "Required. The resource name of the SqlIntegrations using the form: `projects/{project_id}/locations/global/domains/*`",
                              "required": true
                            },
                            "orderBy": {
                              "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                              "type": "string",
                              "location": "query"
                            }
                          }
                        }
                      }
                    },
                    "backups": {
                      "methods": {
                        "setIamPolicy": {
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Policy"
                          },
                          "path": "v1alpha1/{+resource}:setIamPolicy",
                          "parameterOrder": [
                            "resource"
                          ],
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:setIamPolicy",
                          "id": "managedidentities.projects.locations.global.domains.backups.setIamPolicy",
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "patch": {
                          "request": {
                            "$ref": "Backup"
                          },
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Updates the labels for specified Backup.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1alpha1/{+name}",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Backup: * `labels`",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "description": "Output only. The unique name of the Backup in the form of projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}",
                              "location": "path"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.patch",
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "create": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "Backup"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1alpha1/{+parent}/backups",
                          "httpMethod": "POST",
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups",
                          "description": "Creates a Backup for a domain.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                              "required": true,
                              "location": "path"
                            },
                            "backupId": {
                              "type": "string",
                              "description": "Required. Backup Id, unique name to identify the backups with the following restrictions: * Must be lowercase letters, numbers, and hyphens * Must start with a letter. * Must contain between 1-63 characters. * Must end with a number or a letter. * Must be unique within the domain.",
                              "location": "query"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.create"
                        },
                        "delete": {
                          "id": "managedidentities.projects.locations.global.domains.backups.delete",
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha1/{+name}",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The backup resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}/backups/{backup_id}`",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$"
                            }
                          },
                          "description": "Deletes identified Backup."
                        },
                        "testIamPermissions": {
                          "path": "v1alpha1/{+resource}:testIamPermissions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$"
                            }
                          },
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:testIamPermissions",
                          "httpMethod": "POST",
                          "id": "managedidentities.projects.locations.global.domains.backups.testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "parameterOrder": [
                            "resource"
                          ]
                        },
                        "getIamPolicy": {
                          "parameters": {
                            "options.requestedPolicyVersion": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "location": "query"
                            },
                            "resource": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$"
                            }
                          },
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:getIamPolicy",
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "response": {
                            "$ref": "Policy"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "managedidentities.projects.locations.global.domains.backups.getIamPolicy",
                          "httpMethod": "GET",
                          "path": "v1alpha1/{+resource}:getIamPolicy"
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups",
                          "path": "v1alpha1/{+parent}/backups",
                          "response": {
                            "$ref": "ListBackupsResponse"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Optional. Filter specifying constraints of a list operation.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists Backup in a given project.",
                          "id": "managedidentities.projects.locations.global.domains.backups.list"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a single Backup.",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "location": "path",
                              "description": "Required. The backup resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}/backups/{backup_id}`"
                            }
                          },
                          "path": "v1alpha1/{+name}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Backup"
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.get",
                          "flatPath": "v1alpha1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}"
                        }
                      }
                    }
                  }
                },
                "peerings": {
                  "methods": {
                    "setIamPolicy": {
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "path": "v1alpha1/{+resource}:setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:setIamPolicy",
                      "id": "managedidentities.projects.locations.global.peerings.setIamPolicy"
                    },
                    "patch": {
                      "id": "managedidentities.projects.locations.global.peerings.patch",
                      "path": "v1alpha1/{+name}",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "description": "Updates the labels for specified Peering.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Peering: * `labels`"
                        },
                        "name": {
                          "description": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Peering"
                      }
                    },
                    "list": {
                      "id": "managedidentities.projects.locations.global.peerings.list",
                      "description": "Lists Peerings in a given project.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+parent}/peerings",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the domain location using the form: `projects/{project_id}/locations/global`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter specifying constraints of a list operation. For example, `peering.authoized_network =\"/projects/myprojectid\"`."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListPeeringsResponse"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "Peering"
                      },
                      "httpMethod": "POST",
                      "path": "v1alpha1/{+parent}/peerings",
                      "id": "managedidentities.projects.locations.global.peerings.create",
                      "description": "Creates a Peering for Managed AD instance.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Resource project name and location using the form: `projects/{project_id}/locations/global`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$"
                        },
                        "peeringId": {
                          "description": "Required. Peering Id, unique name to identify peering.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes identified Peering.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`"
                        }
                      },
                      "path": "v1alpha1/{+name}",
                      "httpMethod": "DELETE",
                      "id": "managedidentities.projects.locations.global.peerings.delete"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Peering"
                      },
                      "path": "v1alpha1/{+name}",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single Peering.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "type": "string",
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`"
                        }
                      }
                    },
                    "testIamPermissions": {
                      "httpMethod": "POST",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "path": "v1alpha1/{+resource}:testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.testIamPermissions",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getIamPolicy": {
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        },
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "path": "v1alpha1/{+resource}:getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "cancel": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "id": "managedidentities.projects.locations.global.operations.cancel"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "managedidentities.projects.locations.global.operations.get",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "path": "v1alpha1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "managedidentities.projects.locations.global.operations.list",
                      "path": "v1alpha1/{+name}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "required": true
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1alpha1/{+name}",
                      "id": "managedidentities.projects.locations.global.operations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "DailyCycle": {
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "id": "DailyCycle",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "LDAPSSettings": {
      "type": "object",
      "description": "LDAPSSettings represents the ldaps settings for domain resource. LDAP is the Lightweight Directory Access Protocol, defined in https://tools.ietf.org/html/rfc4511. The settings object configures LDAP over SSL/TLS, whether it is over port 636 or the StartTLS operation. If LDAPSSettings is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "id": "LDAPSSettings",
      "properties": {
        "certificate": {
          "description": "Output only. The certificate used to configure LDAPS. Certificates can be chained with a maximum length of 15.",
          "$ref": "Certificate",
          "readOnly": true
        },
        "certificatePfx": {
          "format": "byte",
          "description": "Input only. The uploaded PKCS12-formatted certificate to configure LDAPS with. It will enable the domain controllers in this domain to accept LDAPS connections (either LDAP over SSL/TLS or the StartTLS operation). A valid certificate chain must form a valid x.509 certificate chain (or be comprised of a single self-signed certificate. It must be encrypted with either: 1) PBES2 + PBKDF2 + AES256 encryption and SHA256 PRF; or 2) pbeWithSHA1And3-KeyTripleDES-CBC Private key must be included for the leaf / single self-signed certificate. Note: For a fqdn your-example-domain.com, the wildcard fqdn is *.your-example-domain.com. Specifically the leaf certificate must have: - Either a blank subject or a subject with CN matching the wildcard fqdn. - Exactly two SANs - the fqdn and wildcard fqdn. - Encipherment and digital key signature key usages. - Server authentication extended key usage (OID=1.3.6.1.5.5.7.3.1) - Private key must be in one of the following formats: RSA, ECDSA, ED25519. - Private key must have appropriate key length: 2048 for RSA, 256 for ECDSA - Signature algorithm of the leaf certificate cannot be MD2, MD5 or SHA1.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of this LDAPS settings.",
          "readOnly": true,
          "enumDescriptions": [
            "Not Set",
            "The LDAPS setting is being updated.",
            "The LDAPS setting is ready.",
            "The LDAPS setting is not applied correctly."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UPDATING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "certificatePassword": {
          "type": "string",
          "description": "Input only. The password used to encrypt the uploaded pfx certificate."
        },
        "updateTime": {
          "description": "Output only. Last update time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      }
    },
    "Domain": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The current state of this domain.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "PERFORMING_MAINTENANCE",
            "DOWN"
          ],
          "enumDescriptions": [
            "Not set.",
            "ManagedIdentities domain is being created.",
            "ManagedIdentities domain has been created and is fully usable.",
            "ManagedIdentities domain configuration is being updated.",
            "ManagedIdentities domain is being deleted.",
            "ManagedIdentities domain is being repaired and may be unusable. Details can be found in the `status_message` field.",
            "ManagedIdentities domain is undergoing maintenance.",
            "ManagedIdentities domain is not serving customer requests."
          ]
        },
        "trusts": {
          "type": "array",
          "items": {
            "$ref": "Trust"
          },
          "description": "Output only. The current trusts associated with the domain."
        },
        "reservedIpRange": {
          "type": "string",
          "description": "Required. The CIDR range of internal addresses that are reserved for this domain. Reserved networks must be /24 or larger. Ranges must be unique and non-overlapping with existing subnets in [Domain].[authorized_networks]."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time. Synthetic field is populated automatically by CCFE.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata",
          "type": "object"
        },
        "locations": {
          "type": "array",
          "description": "Required. Locations where domain needs to be provisioned. regions e.g. us-west1 or us-east4 Service supports up to 4 locations at once. Each location will use a /26 block.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The time the instance was created. Synthetic field is populated automatically by CCFE. go/ccfe-synthetic-field-user-guide",
          "format": "google-datetime",
          "type": "string"
        },
        "authorizedNetworks": {
          "type": "array",
          "description": "Optional. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) to which the instance is connected. Network can be added using UpdateDomain later. Domain is only available on network part of authorized_networks. Caller needs to make sure that CIDR subnets do not overlap between networks, else domain creation will fail.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. Unique name of the domain in this scope including projects and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`.",
          "type": "string"
        },
        "auditLogsEnabled": {
          "description": "Optional. Configuration for audit logs. True if audit logs are enabled, else false. Default is audit logs disabled.",
          "type": "boolean"
        },
        "fqdn": {
          "description": "Output only. Fully-qualified domain name of the exposed domain used by clients to connect to the service. Similar to what would be chosen for an Active Directory that is set up on an internal network.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Additional information about the current status of this domain, if available."
        },
        "managedIdentitiesAdminName": {
          "type": "string",
          "description": "Optional. Name of customer-visible admin used to perform Active Directory operations. If not specified `setupadmin` would be used."
        }
      },
      "description": "If the domain is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "id": "Domain"
    },
    "GoogleCloudManagedidentitiesV1alpha1OpMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudManagedidentitiesV1alpha1OpMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Schedule": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string"
        },
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Allows to define schedule that runs specified day of the week."
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Configure the schedule.",
      "id": "Schedule",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SQLIntegration": {
      "type": "object",
      "properties": {
        "sqlInstance": {
          "type": "string",
          "description": "The full resource name of an integrated sql instance"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
[...]
