{
  "version": "v1",
  "title": "Managed Service for Microsoft Active Directory API",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/managed-microsoft-ad/",
  "discoveryVersion": "v1",
  "description": "The Managed Service for Microsoft Active Directory API is used for managing a highly available, hardened service running Microsoft Active Directory (AD).",
  "baseUrl": "https://managedidentities.googleapis.com/",
  "schemas": {
    "Peering": {
      "id": "Peering",
      "description": "Represents a Managed Service for Microsoft Active Directory Peering.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the instance was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Additional information about the current status of this peering, if available.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "Peering is being created.",
            "Peering is connected.",
            "Peering is disconnected.",
            "Peering is being deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CONNECTED",
            "DISCONNECTED",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. The current state of this Peering."
        },
        "domainResource": {
          "description": "Required. Full domain resource path for the Managed AD Domain involved in peering. The resource path should be in the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
          "type": "string"
        },
        "authorizedNetwork": {
          "description": "Required. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) to which the instance is connected. Caller needs to make sure that CIDR subnets do not overlap between networks, else peering creation will fail.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
          },
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        }
      },
      "description": "SloMetadata contains resources required for proper SLO classification of the instance."
    },
    "Domain": {
      "description": "Represents a managed Microsoft Active Directory domain. If the domain is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "properties": {
        "locations": {
          "description": "Required. Locations where domain needs to be provisioned. The locations can be specified according to https://cloud.google.com/compute/docs/regions-zones, such as `us-west1` or `us-east4`. Each domain supports up to 4 locations, separated by commas. Each location will use a /26 block.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The unique name of the domain using the form: `projects/{project_id}/locations/global/domains/{domain_name}`."
        },
        "reservedIpRange": {
          "description": "Required. The CIDR range of internal addresses that are reserved for this domain. Reserved networks must be /24 or larger. Ranges must be unique and non-overlapping with existing subnets in [Domain].[authorized_networks].",
          "type": "string"
        },
        "authorizedNetworks": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) the domain instance is connected to. Networks can be added using UpdateDomain. The domain is only available on networks listed in `authorized_networks`. If CIDR subnets overlap between networks, domain creation will fail.",
          "type": "array"
        },
        "trusts": {
          "type": "array",
          "items": {
            "$ref": "Trust"
          },
          "description": "Output only. The current trusts associated with the domain.",
          "readOnly": true
        },
        "fqdn": {
          "type": "string",
          "description": "Output only. The fully-qualified domain name of the exposed domain used by clients to connect to the service. Similar to what would be chosen for an Active Directory set up on an internal network.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the instance was created."
        },
        "labels": {
          "description": "Optional. Resource labels that can contain user-provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "auditLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Configuration for audit logs. True if audit logs are enabled, else false. Default is audit logs disabled."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current status of this domain, if available."
        },
        "admin": {
          "type": "string",
          "description": "Optional. The name of delegated administrator account used to perform Active Directory operations. If not specified, `setupadmin` will be used."
        },
        "state": {
          "description": "Output only. The current state of this domain.",
          "enumDescriptions": [
            "Not set.",
            "The domain is being created.",
            "The domain has been created and is fully usable.",
            "The domain's configuration is being updated.",
            "The domain is being deleted.",
            "The domain is being repaired and may be unusable. Details can be found in the `status_message` field.",
            "The domain is undergoing maintenance.",
            "The domain is not serving requests."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "PERFORMING_MAINTENANCE",
            "UNAVAILABLE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update time.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Domain",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
        },
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "type": "object"
    },
    "DailyCycle": {
      "id": "DailyCycle",
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "type": "object",
      "description": "Response message for ListDomains",
      "properties": {
        "domains": {
          "items": {
            "$ref": "Domain"
          },
          "description": "A list of Managed Identities Service domains in the project.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "DomainJoinMachineRequest": {
      "description": "DomainJoinMachineRequest is the request message for DomainJoinMachine method",
      "properties": {
        "vmIdToken": {
          "description": "Required. Full instance id token of compute engine VM to verify instance identity. More about this: https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature",
          "type": "string"
        },
        "force": {
          "description": "Optional. force if True, forces domain join even if the computer account already exists.",
          "type": "boolean"
        },
        "ouName": {
          "description": "Optional. OU name where the VM needs to be domain joined",
          "type": "string"
        }
      },
      "id": "DomainJoinMachineRequest",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "GoogleCloudManagedidentitiesV1alpha1OpMetadata": {
      "id": "GoogleCloudManagedidentitiesV1alpha1OpMetadata",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
        },
        "eligible": {
          "type": "boolean",
          "description": "Whether an instance is eligible or ineligible."
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
    },
    "Trust": {
      "description": "Represents a relationship between two domains. This allows a controller in one domain to authenticate a user in another domain. If the trust is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "type": "object",
      "id": "Trust",
      "properties": {
        "targetDomainName": {
          "type": "string",
          "description": "Required. The fully qualified target domain name which will be in trust with the current domain."
        },
        "stateDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the trust, if available."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The domain trust is being created.",
            "The domain trust is being updated.",
            "The domain trust is being deleted.",
            "The domain trust is connected.",
            "The domain trust is disconnected."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "CONNECTED",
            "DISCONNECTED"
          ],
          "description": "Output only. The current state of the trust."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update time.",
          "type": "string",
          "readOnly": true
        },
        "trustHandshakeSecret": {
          "type": "string",
          "description": "Required. The trust secret used for the handshake with the target domain. This will not be stored."
        },
        "lastTrustHeartbeatTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last heartbeat time when the trust was known to be connected."
        },
        "trustDirection": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The inbound direction represents the trusting side.",
            "The outboud direction represents the trusted side.",
            "The bidirectional direction represents the trusted / trusting side."
          ],
          "enum": [
            "TRUST_DIRECTION_UNSPECIFIED",
            "INBOUND",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ],
          "description": "Required. The trust direction, which decides if the current domain is trusted, trusting, or both."
        },
        "targetDnsIpAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The target DNS server IP addresses which can resolve the remote domain involved in the trust."
        },
        "trustType": {
          "enumDescriptions": [
            "Not set.",
            "The forest trust.",
            "The external domain trust."
          ],
          "enum": [
            "TRUST_TYPE_UNSPECIFIED",
            "FOREST",
            "EXTERNAL"
          ],
          "description": "Required. The type of trust represented by the trust resource.",
          "type": "string"
        },
        "selectiveAuthentication": {
          "type": "boolean",
          "description": "Optional. The trust authentication type, which decides whether the trusted side has forest/domain wide access or selective access to an approved set of resources."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the instance was created."
        }
      }
    },
    "Date": {
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudManagedidentitiesV1beta1OpMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudManagedidentitiesV1beta1OpMetadata",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "type": "object",
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
    },
    "ResetAdminPasswordResponse": {
      "properties": {
        "password": {
          "description": "A random password. See admin for more information.",
          "type": "string"
        }
      },
      "id": "ResetAdminPasswordResponse",
      "type": "object",
      "description": "Response message for ResetAdminPassword"
    },
    "ValidateTrustRequest": {
      "type": "object",
      "description": "Request message for ValidateTrust",
      "properties": {
        "trust": {
          "description": "Required. The domain trust to validate trust state for.",
          "$ref": "Trust"
        }
      },
      "id": "ValidateTrustRequest"
    },
    "MaintenancePolicy": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Optional. The state of the policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ]
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was updated."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        }
      },
      "id": "MaintenancePolicy",
      "description": "Defines policies to service maintenance events."
    },
    "CheckMigrationPermissionResponse": {
      "id": "CheckMigrationPermissionResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "DomainMigration is in unspecified state.",
            "Domain Migration is Disabled.",
            "Domain Migration is Enabled.",
            "Domain Migration is not in valid state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "NEEDS_MAINTENANCE"
          ],
          "description": "The state of DomainMigration.",
          "type": "string"
        },
        "onpremDomains": {
          "type": "array",
          "description": "The state of SID filtering of all the domains which has trust established.",
          "items": {
            "$ref": "OnPremDomainSIDDetails"
          }
        }
      },
      "description": "CheckMigrationPermissionResponse is the response message for CheckMigrationPermission method.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "dailyCycle": {
          "$ref": "DailyCycle",
          "description": "Daily cycle."
        },
        "weeklyCycle": {
          "$ref": "WeeklyCycle",
          "description": "Weekly cycle."
        }
      },
      "type": "object",
      "description": "MaintenanceWindow definition."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "properties": {
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string"
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ResetAdminPasswordRequest": {
      "properties": {},
      "id": "ResetAdminPasswordRequest",
      "type": "object",
      "description": "Request message for ResetAdminPassword"
    },
    "SqlIntegration": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the SQL integration was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the SQL integration was updated.",
          "readOnly": true
        },
        "sqlInstance": {
          "type": "string",
          "description": "The full resource name of an integrated SQL instance"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the SQL integration in the form of `projects/{project_id}/locations/global/domains/{domain_name}/sqlIntegrations/{sql_integration}`"
        },
        "state": {
          "enumDescriptions": [
            "Not Set",
            "The SQL integration is being created.",
            "The SQL integration is being deleted.",
            "The SQL integration is ready."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "READY"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the SQL integration."
        }
      },
      "description": "Represents the SQL instance integrated with Managed AD.",
      "id": "SqlIntegration",
      "type": "object"
    },
    "ReconfigureTrustRequest": {
      "properties": {
        "targetDomainName": {
          "description": "Required. The fully-qualified target domain name which will be in trust with current domain.",
          "type": "string"
        },
        "targetDnsIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The target DNS server IP addresses to resolve the remote domain involved in the trust.",
          "type": "array"
        }
      },
      "description": "Request message for ReconfigureTrust",
      "id": "ReconfigureTrustRequest",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "properties": {
        "state": {
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ]
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
        },
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          },
          "type": "object"
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "sloMetadata": {
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "readOnly": true,
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata"
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "tenantProjectId": {
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "type": "string",
          "readOnly": true
        },
        "provisionedResources": {
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          },
          "readOnly": true,
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "type": "array"
        },
        "producerMetadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was created."
        },
        "softwareVersions": {
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "maintenanceSettings": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "description": "Optional. The MaintenanceSettings associated with instance."
        },
        "notificationParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          },
          "type": "object",
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "maintenancePolicyNames": {
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
      "type": "object",
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
    },
    "RestoreDomainRequest": {
      "id": "RestoreDomainRequest",
      "type": "object",
      "description": "RestoreDomainRequest is the request received by RestoreDomain rpc",
      "properties": {
        "backupId": {
          "description": "Required. ID of the backup to be restored",
          "type": "string"
        }
      }
    },
    "UpdatePolicy": {
      "description": "Maintenance policy applicable to instance updates.",
      "id": "UpdatePolicy",
      "type": "object",
      "properties": {
        "channel": {
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "type": "string"
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        }
      }
    },
    "ListSqlIntegrationsResponse": {
      "id": "ListSqlIntegrationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sqlIntegrations": {
          "items": {
            "$ref": "SqlIntegration"
          },
          "type": "array",
          "description": "A list of SQLIntegrations of a domain."
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ListSqlIntegrationsResponse is the response message for ListSqlIntegrations method."
    },
    "CheckMigrationPermissionRequest": {
      "description": "CheckMigrationPermissionRequest is the request message for CheckMigrationPermission method.",
      "type": "object",
      "properties": {},
      "id": "CheckMigrationPermissionRequest"
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        }
      },
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "id": "DenyMaintenancePeriod",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "ListBackupsResponse": {
      "properties": {
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of Cloud AD backups in the domain.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "description": "ListBackupsResponse is the response message for ListBackups method.",
      "id": "ListBackupsResponse"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "EnableMigrationRequest": {
      "properties": {
        "migratingDomains": {
          "type": "array",
          "description": "Required. List of the on-prem domains to be migrated.",
          "items": {
            "$ref": "OnPremDomainDetails"
          }
        }
      },
      "description": "EnableMigrationRequest is the request message for EnableMigration method.",
      "type": "object",
      "id": "EnableMigrationRequest"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "id": "OperationMetadata"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "OnPremDomainSIDDetails": {
      "type": "object",
      "id": "OnPremDomainSIDDetails",
      "description": "OnPremDomainDetails is the message which contains details of on-prem domain which is trusted and needs to be migrated.",
      "properties": {
        "sidFilteringState": {
          "type": "string",
          "description": "Current SID filtering state.",
          "enumDescriptions": [
            "SID Filtering is in unspecified state.",
            "SID Filtering is Enabled.",
            "SID Filtering is Disabled."
          ],
          "enum": [
            "SID_FILTERING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "name": {
          "description": "FQDN of the on-prem domain being migrated.",
          "type": "string"
        }
      }
    },
    "Certificate": {
      "type": "object",
      "description": "Certificate used to configure LDAPS.",
      "id": "Certificate",
      "properties": {
        "thumbprint": {
          "type": "string",
          "description": "The certificate thumbprint which uniquely identifies the certificate."
        },
        "subjectAlternativeName": {
          "description": "The additional hostnames for the domain.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subject": {
          "type": "string",
          "description": "The certificate subject."
        },
        "issuingCertificate": {
          "description": "The issuer of this certificate.",
          "$ref": "Certificate"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The certificate expire time.",
          "type": "string"
        }
      }
    },
    "DomainJoinMachineResponse": {
      "id": "DomainJoinMachineResponse",
      "properties": {
        "domainJoinBlob": {
          "type": "string",
          "description": "Offline domain join blob as the response"
        }
      },
      "description": "DomainJoinMachineResponse is the response message for DomainJoinMachine method",
      "type": "object"
    },
    "ExtendSchemaRequest": {
      "type": "object",
      "id": "ExtendSchemaRequest",
      "description": "ExtendSchemaRequest is the request message for ExtendSchema method.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Required. Description for Schema Change."
        },
        "gcsPath": {
          "type": "string",
          "description": "File stored in Cloud Storage bucket and represented in the form projects/{project_id}/buckets/{bucket_name}/objects/{object_name} File should be in the same project as the domain."
        },
        "fileContents": {
          "format": "byte",
          "type": "string",
          "description": "File uploaded as a byte stream input."
        }
      }
    },
    "DisableMigrationRequest": {
      "id": "DisableMigrationRequest",
      "description": "DisableMigrationRequest is the request message for DisableMigration method.",
      "type": "object",
      "properties": {}
    },
    "ListPeeringsResponse": {
      "description": "ListPeeringsResponse is the response message for ListPeerings method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerings": {
          "description": "A list of Managed Identities Service Peerings in the project.",
          "type": "array",
          "items": {
            "$ref": "Peering"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "ListPeeringsResponse"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "id": "Expr"
    },
    "AttachTrustRequest": {
      "properties": {
        "trust": {
          "description": "Required. The domain trust resource.",
          "$ref": "Trust"
        }
      },
      "id": "AttachTrustRequest",
      "type": "object",
      "description": "Request message for AttachTrust"
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "type": "object",
      "description": "Time window specified for weekly operations."
    },
    "DetachTrustRequest": {
      "properties": {
        "trust": {
          "$ref": "Trust",
          "description": "Required. The domain trust resource to removed."
        }
      },
      "type": "object",
      "description": "Request message for DetachTrust",
      "id": "DetachTrustRequest"
    },
    "OnPremDomainDetails": {
      "properties": {
        "domainName": {
          "type": "string",
          "description": "Required. FQDN of the on-prem domain being migrated."
        },
        "disableSidFiltering": {
          "type": "boolean",
          "description": "Optional. Option to disable SID filtering."
        }
      },
      "type": "object",
      "id": "OnPremDomainDetails",
      "description": "OnPremDomainDetails is the message which contains details of on-prem domain which is trusted and needs to be migrated."
    },
    "LDAPSSettings": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`.",
          "type": "string"
        },
        "certificate": {
          "readOnly": true,
          "$ref": "Certificate",
          "description": "Output only. The certificate used to configure LDAPS. Certificates can be chained with a maximum length of 15."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time."
        },
        "certificatePassword": {
          "type": "string",
          "description": "Input only. The password used to encrypt the uploaded PFX certificate."
        },
        "certificatePfx": {
          "description": "Input only. The uploaded PKCS12-formatted certificate to configure LDAPS with. It will enable the domain controllers in this domain to accept LDAPS connections (either LDAP over SSL/TLS or the StartTLS operation). A valid certificate chain must form a valid x.509 certificate chain (or be comprised of a single self-signed certificate. It must be encrypted with either: 1) PBES2 + PBKDF2 + AES256 encryption and SHA256 PRF; or 2) pbeWithSHA1And3-KeyTripleDES-CBC Private key must be included for the leaf / single self-signed certificate. Note: For a fqdn your-example-domain.com, the wildcard fqdn is *.your-example-domain.com. Specifically the leaf certificate must have: - Either a blank subject or a subject with CN matching the wildcard fqdn. - Exactly two SANs - the fqdn and wildcard fqdn. - Encipherment and digital key signature key usages. - Server authentication extended key usage (OID=1.3.6.1.5.5.7.3.1) - Private key must be in one of the following formats: RSA, ECDSA, ED25519. - Private key must have appropriate key length: 2048 for RSA, 256 for ECDSA - Signature algorithm of the leaf certificate cannot be MD2, MD5 or SHA1.",
          "format": "byte",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of this LDAPS settings.",
          "readOnly": true,
          "enumDescriptions": [
            "Not Set",
            "The LDAPS setting is being updated.",
            "The LDAPS setting is ready.",
            "The LDAPS setting is not applied correctly."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UPDATING",
            "ACTIVE",
            "FAILED"
          ]
        }
      },
      "description": "LDAPSSettings represents the ldaps settings for domain resource. LDAP is the Lightweight Directory Access Protocol, defined in https://tools.ietf.org/html/rfc4511. The settings object configures LDAP over SSL/TLS, whether it is over port 636 or the StartTLS operation. If LDAPSSettings is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "id": "LDAPSSettings"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. Indicates whether it’s an on-demand backup or scheduled.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Backup was manually created.",
            "Backup was manually created.",
            "Backup was automatically created."
          ],
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Backup is being created.",
            "Backup has been created and validated.",
            "Backup has been created but failed validation.",
            "Backup is being deleted."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the backup."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the backups was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current status of this backup, if available."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique name of the Backup in the form of `projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}`"
        }
      },
      "description": "Represents a Managed Microsoft Identities backup."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudManagedidentitiesV1OpMetadata": {
      "id": "GoogleCloudManagedidentitiesV1OpMetadata",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "id": "Schedule",
      "type": "object",
      "properties": {
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "type": "string",
          "description": "Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    }
  },
  "id": "managedidentities:v1",
  "version_module": true,
  "mtlsRootUrl": "https://managedidentities.mtls.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://managedidentities.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "managedidentities",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "managedidentities.projects.locations.get",
              "path": "v1/{+name}"
            },
            "list": {
              "id": "managedidentities.projects.locations.list",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "global": {
              "resources": {
                "peerings": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter specifying constraints of a list operation. For example, `peering.authorized_network=\"projects/myprojectid/global/networks/mynetwork\"`.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The resource name of the peering location using the form: `projects/{project_id}/locations/global`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$"
                        }
                      },
                      "description": "Lists Peerings in a given project.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings",
                      "response": {
                        "$ref": "ListPeeringsResponse"
                      },
                      "path": "v1/{+parent}/peerings",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.list"
                    },
                    "create": {
                      "request": {
                        "$ref": "Peering"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.create",
                      "parameters": {
                        "peeringId": {
                          "type": "string",
                          "description": "Required. Peering Id, unique name to identify peering. It should follow the regex format \"^(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?)$\"",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path",
                          "description": "Required. Resource project name and location using the form: `projects/{project_id}/locations/global`",
                          "type": "string"
                        }
                      },
                      "description": "Creates a Peering for Managed AD instance.",
                      "path": "v1/{+parent}/peerings"
                    },
                    "setIamPolicy": {
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.peerings.setIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                    },
                    "get": {
                      "id": "managedidentities.projects.locations.global.peerings.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single Peering.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "response": {
                        "$ref": "Peering"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`"
                        }
                      }
                    },
                    "getIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+resource}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "id": "managedidentities.projects.locations.global.peerings.getIamPolicy",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        },
                        "options.requestedPolicyVersion": {
[...]
